@import url(http://i0.statig.com.br/css/shopping/slayer.v3.min.css);

.sprite-sprite,.sprite-botao-video,.sprite-footer-social-facebook,.sprite-footer-social-rss,.sprite-footer-social-twitter,.sprite-google-search-logo,.sprite-header-bg,.sprite-ig-publicidade-topo,.sprite-logo-small,.sprite-logo,.sprite-menu-bg,.sprite-menu-nivel-2-bg,.sprite-rt-logo-extenso,.sprite-rt-logo-off,.sprite-rt-logo-on,#rodape .barra-superior a.rss,#rodape .barra-superior a.twitter,.CHE02806 a.play,.RTI26506 .headRetranca .sprite-logo-realtime,.RTI26506 .headRetranca .ativo,.EJETOA05802 .headRetranca .sprite-logo-realtime,.EJETOA05802 .headRetranca .ativo{
    background: url('../images/sprite-sfb827bcd78.png') no-repeat;
}

.sprite-botao-video {
    background-position: 0 -852px;
    height: 28px;
    width: 28px;
}

.sprite-footer-social-facebook {
    background-position: 0 -706px;
    height: 16px;
    width: 16px;
}

.sprite-footer-social-rss {
    background-position: 0 -634px;
    height: 16px;
    width: 16px;
}

.sprite-footer-social-twitter {
    background-position: 0 -670px;
    height: 16px;
    width: 16px;
}

.sprite-google-search-logo {
    background-position: 0 -544px;
    height: 25px;
    width: 56px;
}

.sprite-header-bg {
    background-position: 0 -110px;
    height: 314px;
    width: 1px;
}

.sprite-ig-publicidade-topo {
    background-position: 0 -742px;
    height: 90px;
    width: 33px;
}

.sprite-logo-small {
    background-position: 0 -444px;
    height: 35px;
    width: 191px;
}

.sprite-logo {
    background-position: 0 -49px;
    height: 41px;
    width: 226px;
}

.sprite-menu-bg {
    background-position: 0 -950px;
    height: 30px;
    width: 6px;
}

.sprite-menu-nivel-2-bg {
    background-position: 0 -900px;
    height: 30px;
    width: 2px;
}

.sprite-rt-logo-extenso {
    background-position: 0 0;
    height: 29px;
    width: 154px;
}

.sprite-rt-logo-off {
    background-position: 0 -589px;
    height: 25px;
    width: 25px;
}

.sprite-rt-logo-on {
    background-position: 0 -499px;
    height: 25px;
    width: 25px;
}

.sprite-header-bg,.sprite-aba-inativa-bg,.sprite-aba-ativa-bg,.sprite-menu-bg,.sprite-menu-nivel-2-bg {
    background-repeat: repeat-x;
}

.sprite-header-bg {
    height: auto;
    width: 100%;
}

a {
    color: #324E69;
}

.interna-noticia a {
    color: #363;
}

@font-face {
    font-family:'MuseoSans500';src:url("http://economia.ig.com.br/_static/misc/fonts/221723_0_0-webfont.eot");src:url("http://economia.ig.com.br/_static/misc/fonts/221723_0_0-webfont.eot?#iefix") format("embedded-opentype"),url("http://economia.ig.com.br/_static/misc/fonts/221723_0_0-webfont.woff") format("woff"),url("http://economia.ig.com.br/_static/misc/fonts/221723_0_0-webfont.ttf") format("truetype"),url("http://economia.ig.com.br/_static/misc/fonts/221723_0_0-webfont.svg#MuseoSans500") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'MuseoSans300';src:url("http://economia.ig.com.br/_static/misc/fonts/225148_0_0-webfont.eot");src:url("http://economia.ig.com.br/_static/misc/fonts/225148_0_0-webfont.eot?#iefix") format("embedded-opentype"),url("http://economia.ig.com.br/_static/misc/fonts/225148_0_0-webfont.woff") format("woff"),url("http://economia.ig.com.br/_static/misc/fonts/225148_0_0-webfont.ttf") format("truetype"),url("http://economia.ig.com.br/_static/misc/fonts/225148_0_0-webfont.svg#MuseoSans300") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'MuseoSans700';src:url("http://economia.ig.com.br/_static/misc/fonts/museosans_700-webfont.eot");src:url("http://economia.ig.com.br/_static/misc/fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"),url("http://economia.ig.com.br/_static/misc/fonts/museosans_700-webfont.woff") format("woff"),url("http://economia.ig.com.br/_static/misc/fonts/museosans_700-webfont.ttf") format("truetype"),url("http://economia.ig.com.br/_static/misc/fonts/museosans_700-webfont.svg#MuseoSans700") format("svg");font-weight:normal;font-style:normal;
}

#logo,#logo a,#logo a:hover {
    color: #1c2b3b;
}

#subhome {
    color: #324E69;
}

#menu-N {
    display: none;
    background: #324E69;
}

#menu-N nav ul li {
    border-left-color: #233c23;
    border-right-color: #3c673c;
}

#menu-N nav ul li .subhome a.active {
    color: #bcdfbc;
}

#menu-N nav ul li.sub .menuContainer .conteudoSubMenu li a:hover {
    color: #324E69;
}

#menu-N nav ul li.sub .menuContainer .conteudoSubMenu .bordaMenuCanal {
    background: #324E69;
}

#menu-N .sobreBorda::before {
    background-color: #5f795f;
}

#menu-N .sobreBorda::after {
    background-color: #5f795f;
}

#destaques {
    background: #263A4F;
}

#destaques dt {
    background: #1C2B3B url(http://i0.statig.com.br/sass-canais/ultimosegundo/images/arrow-destaques.jpg) no-repeat right;
}

#destaques dd li a:hover {
    color: #bcdfbc;
}

#barra-navegacao ul.navegacao li strong {
    color: #363!important;
}

.Empresas .menuContainer .aba.sub a {
    width: 55px;
}

.Empresas .conteudoSubMenu {
    min-width: 88px;
}

.Empresas .sobreBorda {
    top: 27px!important;
}

.Pessoais .menuContainer .aba.sub a {
    width: 106px;
}

.Pessoais .conteudoSubMenu {
    min-width: 139px;
}

.Mais.Sites .menuContainer .aba.sub a {
    width: 57px;
}

.Mais.Sites .conteudoSubMenu {
    min-width: 89px;
}

#rodape .barra-superior {
    border-bottom: 1px solid #CCC;
}

#rodape .barra-superior ul li a {
    border-right: 1px solid #ccc;
    color: #324E69;
    font: bold 14px arial;
}

#rodape .barra-superior a.rss {
    font: bold 14px arial;
    color: #666;
    background-position: 0 -634px;
    height: 16px;
    width: 16px;
    width: auto;
}

#rodape .barra-superior a.twitter {
    font: bold 14px arial;
    color: #666;
    background-position: 0 -670px;
    height: 16px;
    width: 16px;
    width: auto;
}

#rodape .barra-inferior {
    background: #1C2B41;
}

#rodape .barra-inferior a.topo {
    color: #1C2B41;
}

#rodape .barra-inferior p {
    color: #fff;
    font: 11px arial;
}

#rodape .barra-inferior p a {
    color: #fff;
    font: 11px arial;
}

#rodape .barra-inferior ul li a {
    border-right: 1px solid #abacad;
    font: 11px arial;
    color: #fff;
}

#barra-navegacao {
    border-bottom: 2px solid #333;
}

#conteudo .linha {
    border-bottom: 1px solid #eee;
    color: #eee;
}

.borda_eco {
    border-right: 1px solid #fff!important;
}

.ig-shopping h3 a,.boxservicos h3 a {
    color: #363;
    font: normal 18px arial;
}

.ig-shopping ul li a,.ig-shopping ul li a strong,.ig-shopping ul li a cite {
    color: #3B583A;
}

.SLrotate.SLsingle dd.SLprice span {
    color: #363 !important;
}

.SLrotate.SLgrid dd.SLprice span {
    color: #363 !important;
}

.ig-shopping ul li a {
    font: 11px arial;
}

.ig-shopping ul li a img {
    background: #000;
}

.ig-shopping ul li a strong {
    display: block;
    margin-bottom: 5px;
    font: bold 12px arial;
}

.ig-shopping ul li a cite {
    font: bold 12px arial;
}

form#formShopping {
    background: #f8f8f8;
}

form#formShopping label {
    font: bold 12px Arial;
    color: #666;
}

form#formShopping input {
    border: 1px solid #ccc;
    font: 12px arial;
    color: #333;
}

form#formShopping input.botao-ok {
    border: 1px solid #ccc;
    font: bold 12px arial;
    color: #333;
}

#barra-lateral .LM14006 {
    float: left;
    width: 316px;
    padding: 15px 0 6px;
}

#barra-lateral .LM14006 h3 {
    display: block;
    font: normal 18px/22px Arial;
    color: #005088;
    text-transform: uppercase;
    float: none!important;
    margin: 0 0 13px -1px;
}

#barra-lateral .LM14006 ul li {
    float: left;
    width: 148px;
    margin: 0 20px 14px 0;
}

#barra-lateral .LM14006 ul li img {
    float: left;
    margin: 3px 9px 0 0;
}

#barra-lateral .LM14006 ul li cite a {
    font: normal 12px/15px Arial;
    display: block;
}

#barra-lateral .LM14006 ul li h2 {
    font: normal 14px/17px Arial;
    display: block;
}

.bloco_servicos .boxservicos .txt {
    font: 12px arial!important;
    color: #666;
}

.bloco_servicos .boxservicos .txt span strong {
    font: bold 14px Arial;
    color: #333;
}

#pub-retangulo {
    background: #f8f8f8;
}

#carregaIntervencao #denovo {
    color: #999;
}

.empilhamento h3 {
    color: #363;
}

.faixa {
    border-bottom: 1px dotted #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.componente2 {
    border-top: 1px dotted #eee;
}

.componente3 {
    border-bottom: 1px dotted #eee;
}

.faixa h3,.faixa h3 a,.componente3 h3,.componente3 h3 a {
    color: #333;
}

.LIA01106 {
    margin-right: 20px;
}

.LIA01106 a.verMais {
    color: #324E69;
    font: bold 12px Arial;
}

.LIA01106 ul {
    margin-top: 16px;
}

.LIA01106 ul li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    height: 84px;
    background: #f8f8f8;
}

.LIA01106 ul li img {
    float: left;
    margin-right: 15px;
}

.LIA01106 ul li div {
    margin: 10px 15px 0 15px;
}

.LIA01106 ul li cite {
    font: bold 12px/13px Arial;
    color: #999;
    margin-bottom: 5px;
}

.LIA01106 ul li h5 a {
    font: bold 14px/16px Arial;
    margin-bottom: 3px;
    color: #324E69;
}

.LIA01106 a.linkGeral {
    color: #324E69;
    font-weight: bold;
}

.CHE01206 {
    padding-bottom: 20px;
    margin-right: 20px;
}

.CHE01206 a.verMais {
    color: #324E69;
    font: bold 12px Arial;
}

.CHE01206 h3 {
    display: block;
    font: normal 18px/22px Arial;
    color: #363;
    text-transform: uppercase;
}

.CHE01206 ul {
    margin-top: 16px;
}

.CHE01206 ul li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    height: 84px;
    background: #f8f8f8;
}

.CHE01206 ul li img {
    float: left;
    margin-right: 15px;
}

.CHE01206 ul li div {
    margin: 10px 15px 0 15px;
}

.CHE01206 ul li cite {
    font: bold 12px/13px Arial;
    color: #333;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.CHE01206 ul li h5 a {
    font: bold 14px/16px Arial;
    color: #324E69;
    margin-bottom: 3px;
}

.CHE00112 h2 {
    float: left;
    font: bold 32px/33px Arial;
    margin-top: -4px;
}

.CHE00112 h2 a {
    float: left;
    color: #324E69;
}

.CHE00112 p {
    float: left;
    clear: both;
    font: normal 14px/16px Arial;
    width: 100%;
}

.CHE00112 p a {
    color: #333;
}

.CHE00112.larguraB {
    width: 988px!important;
}

.CHE00206 {
    margin-right: 20px;
}

.CHE00206 h3 {
    margin-bottom: 16px;
}

.CHE00206 div {
    float: left;
    width: 316px;
}

.CHE00206 div div {
    float: none;
    witdh: auto;
    padding-top: 7px;
}

.CHE00206 div div a h2,.CHE00206 div div h2 a {
    display: block;
    font: bold 14px Arial;
    color: #324E69;
    padding-bottom: 4px;
}

.CHE00206 div div a cite,.CHE00206 div div cite a {
    display: block;
    font: normal 12px Arial;
    color: #333;
}

.CHE00206 div div cite {
    display: block;
    font: bold 14px Arial;
    padding-bottom: 4px;
    clear: both;
}

.CHE00206 div img {
    display: block;
}

.CHE00306 {
    float: left;
    width: 316px;
    margin-right: 20px;
}

.CHE00306 .widget {
    margin-top: -2px;
}

.CHE00306 ul li {
    width: 316px;
    display: block;
    position: relative;
    clear: both;
}

.CHE00306 h5 a {
    display: block;
    font: bold 16px Arial;
    margin: 3px 0 13px 0;
}

.CHE00306 h2 {
    display: block;
    font: bold 12px Arial;
    *line-height: 21px;
    text-transform: uppercase;
    color: #999;
}

.CHE00306 h2 a {
    color: #999;
}

.CHE00306 cite {
    display: block;
    font: bold 11px Arial;
    color: #999;
    text-transform: uppercase;
    width: 100%;
}

.CHE00306 ul li ul.materias {
    float: left;
    padding-bottom: 14px;
    margin-top: 3px;
    *padding-bottom: 11px;
}

.CHE00306 ul.materias li a {
    font: bold 16px Arial;
    line-height: 16px;
    color: #324E69;
}

.HEE00412 {
    margin-bottom: 15px;
    border-top: 1px dotted #EEE;
    margin-top: 20px;
    padding-top: 20px;
}

.HEE00412 h3 {
    float: left;
    color: #363;
    font: normal 18px/22px Arial;
    text-transform: uppercase;
}

.HEE00412 ul {
    float: right;
}

.HEE00412 ul li {
    float: right;
    display: inline;
    padding: 0 6px;
    margin: 0 0 6px 0;
    border-right: 1px solid #ccc;
}

.HEE00412 ul li:first-child {
    border: none;
}

.HEE00412 ul li a {
    color: #324E69;
    font: bold 13px Arial;
}

.CHE01004 {
    margin-right: 20px;
}

.CHE01004 img {
    float: left;
    margin-right: 6px;
}

.CHE01004 cite {
    font: bold 12px Arial;
    display: inline-block;
    width: 140px;
    line-height: 14px;
    text-transform: uppercase;
    color: #333;
}

.CHE01004 h2 a {
    font: bold 13px Arial;
    display: block;
    color: #324E69;
    margin-top: 5px;
}

.CHE00704 {
    margin-right: 20px;
}

.CHE00704 h3 {
    display: block;
    font: normal 18px/22px Arial;
    padding-bottom: 16px;
    width: 100%;
    text-transform: uppercase;
    color: #333;
    min-height: 22px;
}

.CHE00704 ul li p {
    float: left;
    padding: 7px 0 0;
    width: 202px;
}

.CHE00704 ul li p span a {
    display: block;
    font: normal 12px/14px Arial;
    clear: both;
}

.CHE00704 ul li p cite a {
    display: block;
    font: bold 14px Arial;
    padding: 0;
    clear: both;
    margin-bottom: 3px;
    line-height: 18px;
    color: #324E69;
}

.CHE00704 ul li img {
    display: block;
}

.CHE00803 {
    margin-right: 20px;
}

.CHE00803 img {
    float: left;
    width: 148px;
    height: 111px;
    margin-bottom: 7px;
    border: none;
}

.CHE00803 p a {
    float: left;
    font: bold 16px/19px arial;
    color: #324E69;
}

.CHE00903 {
    margin-right: 20px;
}

.CHE00903 h5 a {
    float: left;
    padding-top: 10px;
    font: bold 14px Arial;
    clear: both;
    color: #324E69;
}

.CHE00903 img {
    display: block;
}

.CHE01504 {
    margin-right: 20px;
}

.CHE01504 h3 {
    display: block;
    font: bold 11px/22px Arial;
    width: 100%;
    text-transform: uppercase;
    color: #333;
}

.CHE01504 a {
    font: bold 14px Arial;
    color: #324E69;
}

.HEE01606 {
    margin: 0 20px 15px 0;
}

.HEE01606 h3 {
    float: left;
    color: #363;
    font: normal 18px/22px Arial;
    margin-bottom: 0;
}

.CHE01703 {
    margin-right: 20px;
}

.CHE01703 img {
    float: left;
    margin-right: 6px;
}

.CHE01703 cite {
    font: bold 13px/16px Arial;
    display: inline-block;
    width: 85px;
    line-height: 14px;
    text-transform: uppercase;
    color: #333;
}

.CHE01703 h2 {
    margin-top:3px;
}

.CHE01703 h2 a {
    font: normal 12px/15px Arial;
    display: block;
    line-height: 14px;
    color: #324E69;
}

.CHE01806 {
    float: left;
    margin-right: 20px;
}

.CHE01806 ul li {
    width: 316px;
    display: block;
    position: relative;
    clear: both;
}

.CHE01806 h2 {
    font: bold 14px/16px Arial;
    display: inline-block;
    line-height: 14px;
    color: #324E69;
}

.CHE01806 ul li ul.materias {
    float: left;
    padding-bottom: 14px;
    margin-top: 3px;
    *padding-bottom: 11px;
    position: relative;
    clear: both;
}

.CHE01806 ul.materias li a {
    font: normal 12px/16px Arial;
    display: block;
    line-height: 14px;
    color: #324E69;
}

.CHE03006 {
    margin-right: 20px;
    margin-bottom: 30px;
}

.CHE03006 img {
    float: left;
    margin-right: 6px;
}

.CHE03006 h3 {
    font: bold 18px/20px Arial;
    display: inline-block;
    width: 200px;
    color: #363;
    margin: 0 0 5px;
}

.CHE03006 p a {
    font: normal 13px/15px Arial;
    display: block;
    line-height: 14px;
    color: #324E69;
}

.HEE03712 {
    float: left;
    width: 652px;
    height: 76px;
    background: #f5f5f5;
    margin-bottom: 28px;
}

.HEE03712 .texto {
    float: left;
    width: 351px;
    margin-right: 20px;
    margin: 13px 0 0 19px;
}

.HEE03712 h2 {
    color: #363;
    font: bold 24px Arial;
    margin-left: -3px;
}

.HEE03712 p {
    color: #333;
    font: bold 12px Arial;
}

.HEE03712 .img {
    float: right;
    width: 261px;
    height: 76px;
}

.CHE03106 {
    margin-right: 20px;
}

.CHE03106 div {
    float: left;
    width: 316px;
}

.CHE03106 div div {
    float: none;
    witdh: auto;
    padding-top: 7px;
}

.CHE03106 div div p a b {
    display: block;
    font: bold 16px Arial;
    color: #324E69;
    padding-bottom: 4px;
}

.CHE03106 div div p a:hover b {
    text-decoration: underline;
}

.CHE03106 div div p a span {
    display: block;
    font: normal 14px Arial;
    color: #333;
}

.CHE03106 div img {
    display: block;
}
.CHE03106 h3{
    font: 18px/ 22px Arial;
    color: #333;
    text-transform: uppercase;
    margin: -4px 0 16px;
}

.FOA17906 h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.FOA17906 p {
    font: normal 12px Arial;
    color: #333;
}

.FOA17906 form {
    margin-top: 5px;
    padding: 10px 20px;
    background: #F8F8F8;
}

.FOA17906 form label {
    font: bold 13px Arial;
    color: #333;
}

.FOA17906 form input {
    width: 180px;
    height: 18px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 5px 0 15px 0;
}

.FOA17906 form input.button {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(#ffffff,#eaeaea);
    background-image: -moz-linear-gradient(#ffffff,#eaeaea);
    background-image: -o-linear-gradient(#ffffff,#eaeaea);
    background-image: linear-gradient(#ffffff,#eaeaea);
    height: 30px;
    color: #333;
}

.FOA17906 form p {
    font-size: 11px;
}

.FOA17906 form p a {
    color: #324E69;
}

.CHE15612 a img {
    float: left;
    width: 428px;
    height: 268px;
}

.CHE15612 ul.widget {
    float: left;
    width: 204px;
    margin: 0px 0 0 20px;
}

.CHE15612 ul.widget li {
    float: left;
    color: #333;
}

.CHE15612 ul.widget li h2 a {
    float: left;
    margin-bottom: 5px;
    font: bold 16px Arial;
    line-height: 18px;
}

.CHE15612 ul p {
    float: left;
}

.CHE15612 ul p a {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    color: #324E69;
    line-height: 16px;
}

.LIASOLR {
    margin-right: 20px;
}

.LIASOLR h3 {
    font: 18px/22px Arial;
    color: #333;
    text-transform: uppercase;
    margin: -4px 0 16px;
}

.LIASOLR .noticia-video ul.container li {
    clear: both;
    display: block;
    border-bottom: 1px dotted #e1e1e1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.LIASOLR .noticia-video ul.container li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.LIASOLR .noticia-video ul.container li a.thumb {
    float: left;
    position: relative;
    margin-right: 20px;
}

.LIASOLR .noticia-video ul.container li a.thumb span.duracao {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 40px;
    height: 30px;
    color: #fff;
    font: bold 9px/9px Arial;
    background: url(http://i0.statig.com.br/canais/_images/btn-empilhamento-play.png) no-repeat;
}

.LIASOLR .noticia-video ul.container li a.thumb img {
    float: left;
}

.LIASOLR .noticia-video ul.container li cite {
    color: #999;
    font: bold 11px arial;
}

.LIASOLR .noticia-video ul.container li h5 {
    padding-top: 4px;
    margin-bottom: 5px;
}

.LIASOLR .noticia-video ul.container li h5 a {
    font: bold 14px/16px arial;
    color: #324E69;
}

.LIASOLR .noticia-video ul.container li p a {
    color: #666;
    font: 12px/16px arial;
}

.LIASOLR .linkGeral {
    font-weight: bold;
    color: #324E69;
}

.LIASOLR .pagination li {
    float: left;
    margin-right: 3px;
}

.LIASOLR .pagination li.selected,.LIASOLR .pagination li a {
    border: 1px solid #DDD;
    -webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px / 2px;
    border-radius: 2px / 2px;
}

.LIASOLR .pagination li a {
    display: block;
    height: 24px;
    font: bold 10px/24px Arial;
    text-align: center;
}

.LIASOLR .pagination li a.page {
    width: 24px;
    background-position: -77px -204px;
}

.LIASOLR .pagination li.selected {
    width: 24px;
    height: 24px;
    font: bold 10px/24px Arial;
    text-align: center;
}

.LIASOLR .pagination li.selected,.LIASOLR .pagination li a.page:hover {
    background-color: #324E69;
    color: #fff;
    text-decoration: none;
}

.LIASOLR .pagination li.nav a {
    width: 75px;
    background-position: 0 -204px;
    text-transform: uppercase;
}

.LIASOLR .pagination li.nav a:hover {
    background-color: #324E69;
    color: #fff;
    text-decoration: none;
}

.LIASOLR .galeria ul.container li {
    float: left;
    width: 204px;
    height: 240px;
    padding: 0 20px 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

.LIASOLR .galeria ul.container li.nopdr {
    padding-right: 0!important;
}

.LIASOLR .galeria ul.container li>a {
    float: left;
}

.LIASOLR .galeria ul.container li img {
    float: left;
}

.LIASOLR .galeria ul.container li h4 {
    clear: both;
    font: bold 16px/22px Arial;
    font-weight: bold;
    color: #944490;
    margin-bottom: 3px;
}

.LIASOLR .galeria ul.container li cite.data {
    display: block;
    clear: both;
    padding: 3px 0;
    font: bold 11px/18px Arial;
    color: #999999;
}

.CHE16806 {
    float: left;
    width: 316px;
}

.CHE16806 h2 {
    margin-bottom: 3px!important;
}

.CHE16806 h2 a {
    display: block;
    font: bold 16px/19px Arial;
    color: #333;
}

.CHE16806 ul li {
    margin-bottom: 14px!important;
}

.CHE16806 ul.materias li a {
    font: normal 12px Arial;
    margin-top: 4px;
    line-height: 16px;
    color: #324E69;
}

.CHE02806 {
    margin-right: 0;
}

.CHE02806 img {
    float: left;
}

.CHE02806 .bg {
    float: left;
    background: #F8F8F8;
    width: 306px;
    padding: 10px 0 10px 10px;
}

.CHE02806 .bg a {
    float: left;
    color: #313131;
}

.CHE02806 a.play {
    background-position: 0 -852px;
    height: 28px;
    width: 28px;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.CHE02806 cite {
    float: left;
    width: 260px;
    font-style: normal;
}

.CHE13012 h2 {
    float: left;
    font: bold 30px/31px Arial;
    margin-top: -4px;
    width: 632px;
}

.CHE13012 h2 a {
    float: left;
    color: #324E69;
}

.CHE13012 p {
    float: left;
    margin-bottom: 20px;
    clear: both;
    font: normal 14px/16px Arial;
    width: 100%;
}

.CHE13012 p a {
    color: #324E69;
}

.CHE13012 ul li {
    margin-bottom: 20px;
}

.CHE13012 ul li a {
    color: #333;
    font-size: 12px;
    line-height: 18px;
}

.CHE13012 ul li a strong {
    font-size: 16px;
    margin-bottom: 10px;
}

.CHE13012 img {
    margin-right: 20px;
}

.CHE05412 {
    padding: 8px 0;
    margin-bottom: 10px;
}

.CHE05412 .icones-compartilhe {
    float: right;
}

.CHE05412 .icones-compartilhe li {
    float: left;
    height: 24px;
    margin-right: 6px;
    font: normal 12px/24px Arial;
}

.CHE05412 .icones-compartilhe li a {
    float: left;
    width: 24px;
    height: 24px;
    text-indent: -15000px;
    background: url(http://i0.statig.com.br/canais/economia/images/icons-share.png) no-repeat;
}

.CHE05412 .icones-compartilhe li a.twitter {
    background-position: 0 0;
}

.CHE05412 .icones-compartilhe li a.fb {
    background-position: -30px 0;
}

.CHE05412 .icones-compartilhe li a.orkut {
    background-position: -60px 0;
}

.RTI26706 .headRetranca {
    margin-bottom: 20px;
}

.RTI26706 .headRetranca h2 {
    color: #39454e;
    text-transform: uppercase;
}

.RTI26706 #rt_top .top_item {
    width: 316px;
    background: #fff;
    margin: 0 0 15px;
}

.RTI26706 #rt_top .top_item a.title {
    display: block;
    font: normal 14px Arial;
    margin: 0 0 8px;
    overflow-y: hidden;
    max-height: 32px;
}

.RTI26706 #rt_top .num_viewers_bar {
    background: #324E69;
    height: 5px;
    width: 0;
    margin-bottom: 2px;
    overflow: hidden;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
}

.RTI26706 #rt_top {
    width: 316px;
    height: 416px;
    overflow: hidden;
    position: relative;
}

.RTI26706 ul.folders {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 31px;
    display: inline;
    border-bottom: 1px solid #d8d8d8;
}

.RTI26706 ul.folders li {
    float: left;
    width: 83px;
    margin-left: 2px;
}

.RTI26706 ul.folders li.first {
    margin-left: 10px;
}

.RTI26706 ul.folders li span.logo-RT {
    display: block;
    width: 19px;
    height: 19px;
    background: url(http://i0.statig.com.br/ig/images/logo-RT.png) no-repeat scroll 0 0 transparent;
    text-indent: -999999px;
    margin: -15px 0 0 42px;
}

.RTI26706 ul.folders li a {
    float: left;
    height: 10px;
    text-decoration: none;
    background: url(http://i0.statig.com.br/ig/images/logo-RT.png) repeat-x scroll 0 -32px transparent;
    outline: 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    cursor: pointer;
    display: inline;
    font: bold 10px Arial;
    text-transform: uppercase;
    border-color: #dbdbdb #dbdbdb #fff;
    border-width: 1px 1px 0;
    padding: 10px;
}

.RTI26706 ul.folders li.active a,.RTI26706 ul.folders li:hover a {
    cursor: pointer;
    color: #333;
    border-color: #dbdbdb #dbdbdb #fff;
    border-width: 1px 1px 2px;
}

.RTI26706 div.online_users,.RTI26706 div.pageviews {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    height: 400px;
    width: 316px;
}

.RTI26706 .items .stats {
    float: left;
    clear: both;
    font: normal 11px/16px Arial;
    color: #999;
    text-transform: lowercase;
}

.RTI26706 div.ie6.top-right {
    right: auto;
    bottom: auto;
    left: expression((0-jGrowl.offsetWidth+(document.documentElement.clientWidth?document.documentElement.clientWidth:document.body.clientWidth) 0 (ignoreMe2=document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft) ) 0 px );
    top: expression((0+(ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop) ) 0 px );
}

.RTI26706 div.ie6.top-left {
    left: expression((0+(ignoreMe2=document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft) ) 0 px );
    top: expression((0+(ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop) ) 0 px );
}

.RTI26706 div.ie6.bottom-right {
    left: expression((0-jGrowl.offsetWidth+(document.documentElement.clientWidth?document.documentElement.clientWidth:document.body.clientWidth) 0 (ignoreMe2=document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft) ) 0 px );
    top: expression((0-jGrowl.offsetHeight+(document.documentElement.clientHeight?document.documentElement.clientHeight:document.body.clientHeight) 0 (ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop) ) 0 px );
}

.RTI26706 div.ie6.bottom-left {
    left: expression((0+(ignoreMe2=document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft) ) 0 px );
    top: expression((0-jGrowl.offsetHeight+(document.documentElement.clientHeight?document.documentElement.clientHeight:document.body.clientHeight) 0 (ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop) ) 0 px );
}

.RTI26706 div.ie6.center {
    left: expression((0+(ignoreMe2=document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft) ) 0 px );
    top: expression((0+(ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop) ) 0 px );
    width: 100%;
}

.RTI26706 div.jGrowl {
    position: fixed;
}

.RTI26706 div.jGrowl.top-left {
    left: 0;
    top: 0;
}

.RTI26706 div.jGrowl.top-right {
    right: 0;
    top: 0;
}

.RTI26706 div.jGrowl.bottom-left {
    left: 0;
    bottom: 0;
}

.RTI26706 div.jGrowl.bottom-right {
    right: 0;
    bottom: 0;
}

.RTI26706 div.jGrowl.center {
    top: 0;
    width: 50%;
    left: 25%;
}

.RTI26706 .jGrowl-closer,.jGrowl-notification {
    position: relative;
    left: 400px;
}

.RTI26706 .jGrowl-notification {
    width: 256px;
    background: url(/realtime/ibtx_v1/module/announcements/img/jgrowl/alert_top.png) center top no-repeat;
    overflow: hidden;
    z-index: 9999;
    margin-bottom: 10px;
}

.RTI26706 .jGrowl-close {
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin: 5px 5px 0 0;
}

.RTI26706 .jGrowl-header {
    padding-top: 10px;
    margin-bottom: 10px;
    text-indent: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}

.RTI26706 .jGrowl-message {
    color: #fff;
    background: url(/realtime/ibtx_v1/module/announcements/img/jgrowl/alert_bottom.png) center bottom no-repeat;
    padding: 0 5px 35px;
}

.RTI26706 .jGrowl-message a:hover {
    color: #eee;
}

.RTI26706 .jGrowl-message img {
    float: left;
    border: 1px solid #f82;
    margin-right: 5px;
}

.RTI26706 .jGrowl-closer {
    background-color: #000;
    opacity: .85;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    zoom: 1;
    width: 235px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.RTI26706 .isotope-item {
    z-index: 2;
}

.RTI26706 .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.RTI26706 .isotope,.RTI26706 .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
}

.RTI26706 .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.RTI26706 .isotope .isotope-item {
    -webkit-transition-property: 0 opacity;
    -moz-transition-property: 0 opacity;
    transition-property: transform, opacity;
}

.RTI26706 .isotope.no-transition,.RTI26706 .isotope.no-transition .isotope-item,.RTI26706 .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
}

.RTI26706 .isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.RTI26706 div.ie6,.RTI26706 div.jGrowl {
    position: absolute;
}

.RTI26506 {
    margin-right: 20px;
}

.RTI26506 .headRetranca {
    display: block;
    height: 27px;
    padding: 0 0 0 7px;
    margin-bottom: 10px;
}

.RTI26506 .headRetranca h3 {
    float: left;
    margin: 4px 0 0 0;
    text-transform: uppercase;
}

.RTI26506 .headRetranca .sprite-logo-realtime {
    float: right;
    width: 30px;
    height: 30px;
    text-indent: -15000px;
    background-position: 0 -589px;
    height: 25px;
    width: 25px;
}

.RTI26506 .headRetranca .ativo {
    background-position: 0 -499px;
    height: 25px;
    width: 25px;
}

.RTI26506 h4 {
    display: block;
    height: 31px;
    padding: 0px 10px;
    border-bottom: 2px solid #fff;
    font: normal 14px/31px Arial;
    color: #fff;
    background: #324E69;
}

.RTI26506 ul li {
    float: left;
    border-right: 2px solid #fff;
}

.RTI26506 ul li.votado .resposta-container {
    position: relative;
}

.RTI26506 ul li.votado .resposta-container a.bt-votar {
    display: block;
    width: 157px;
    height: 41px;
    padding: 0;
    position: absolute;
    top: 168px;
    left: 0;
    display: block;
    text-align: center;
    font: normal 12px/41px Arial;
    text-transform: uppercase;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d4d2d), color-stop(100%, #233c23));
    background-image: -webkit-linear-gradient(#2d4d2d,#233c23);
    background-image: -moz-linear-gradient(#2d4d2d,#233c23);
    background-image: -o-linear-gradient(#2d4d2d,#233c23);
    background-image: linear-gradient(#2d4d2d,#233c23);
    color: #fff;
    background-color: #2d4d2d;
}

.RTI26506 img {
    float: left;
}

.RTI26506 h5 {
    clear: both;
    display: block;
    padding: 8px 10px;
    height: 33px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#515151,#333333);
    background-image: -moz-linear-gradient(#515151,#333333);
    background-image: -o-linear-gradient(#515151,#333333);
    background-image: linear-gradient(#515151,#333333);
    background-color: #515151;
}

.RTI26506 h5 big {
    display: block;
    font: bold 16px Arial;
    color: #fff;
}

.RTI26506 h5 small {
    display: block;
    font: normal 11px Arial;
    color: #8f8f8f;
}

.RTI26506 .result {
    clear: both;
    height: 41px;
    display: block;
    text-align: center;
    font: normal 14px Arial;
    border: 1px solid #e6e6e6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #e7e7e7));
    background-image: -webkit-linear-gradient(#fdfdfd,#e7e7e7);
    background-image: -moz-linear-gradient(#fdfdfd,#e7e7e7);
    background-image: -o-linear-gradient(#fdfdfd,#e7e7e7);
    background-image: linear-gradient(#fdfdfd,#e7e7e7);
    background-color: #e7e7e7;
}

.RTI26506 .result .qtdVotos {
    display: block;
    height: 21px;
    padding: 10px;
    font: normal 18px/21px Arial;
}

.RTI26506 .result .qtdVotos .numVotos {
    font: bold 18px/21px Arial;
    color: #324E69;
}

.RTI26506 .votar-hover .result,.RTI26506 .new_vote .result {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d4d2d), color-stop(100%, #233c23));
    background-image: -webkit-linear-gradient(#2d4d2d,#233c23);
    background-image: -moz-linear-gradient(#2d4d2d,#233c23);
    background-image: -o-linear-gradient(#2d4d2d,#233c23);
    background-image: linear-gradient(#2d4d2d,#233c23);
    cursor: pointer;
    border: 1px solid #324E69;
    background-color: #2d4d2d;
}

.RTI26506 .new_vote .result * {
    color: #fff!important;
}

.RTI26506 .bt-votar {
    display: none;
    height: 21px;
    padding: 10px;
    font: normal 16px/21px Arial;
    color: #fff;
    text-transform: uppercase;
}

.RTI26506 .votado div.border,.RTI26506 .votar-hover div.border {
    float: left;
    width: 153px;
    height: 205px;
    overflow: hidden;
    border: 2px solid #324E69;
}

.RTI26506 .votado div.border img,.RTI26506 .votar-hover div.border img {
    margin: -2px;
}

 -- 

 .EJETOA05802 .headRetranca .sprite-logo-realtime {
    float: right;
    width: 30px;
    height: 30px;
    text-indent: -15000px;
    background-position: 0 -589px;
    height: 25px;
    width: 25px;
}

.EJETOA05802 .headRetranca .ativo {
    background-position: 0 -499px;
    height: 25px;
    width: 25px;
}

.EJETOA05802 h4 {
    display: block;
    height: 31px;
    padding: 0px 10px;
    border-bottom: 2px solid #fff;
    font: normal 14px/31px Arial;
    color: #fff;
    background: #324E69;
}

.EJETOA05802 ul li {
    float: left;
    border-right: 2px solid #fff;
}

.EJETOA05802 ul li.votado .resposta-container {
    position: relative;
}

.EJETOA05802 ul li.votado .resposta-container a.bt-votar {
    display: block;
    width: 157px;
    height: 41px;
    padding: 0;
    position: absolute;
    top: 168px;
    left: 0;
    display: block;
    text-align: center;
    font: normal 12px/41px Arial;
    text-transform: uppercase;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d4d2d), color-stop(100%, #233c23));
    background-image: -webkit-linear-gradient(#2d4d2d,#233c23);
    background-image: -moz-linear-gradient(#2d4d2d,#233c23);
    background-image: -o-linear-gradient(#2d4d2d,#233c23);
    background-image: linear-gradient(#2d4d2d,#233c23);
    color: #fff;
    background-color: #2d4d2d;
}

.EJETOA05802 img {
    float: left;
}

.EJETOA05802 h5 {
    clear: both;
    display: block;
    padding: 8px 10px;
    height: 33px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#515151,#333333);
    background-image: -moz-linear-gradient(#515151,#333333);
    background-image: -o-linear-gradient(#515151,#333333);
    background-image: linear-gradient(#515151,#333333);
    background-color: #515151;
}

.EJETOA05802 h5 big {
    display: block;
    font: bold 16px Arial;
    color: #fff;
}

.EJETOA05802 h5 small {
    display: block;
    font: normal 11px Arial;
    color: #8f8f8f;
}

.EJETOA05802 .result {
    clear: both;
    height: 41px;
    display: block;
    text-align: center;
    font: normal 14px Arial;
    border: 1px solid #e6e6e6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #e7e7e7));
    background-image: -webkit-linear-gradient(#fdfdfd,#e7e7e7);
    background-image: -moz-linear-gradient(#fdfdfd,#e7e7e7);
    background-image: -o-linear-gradient(#fdfdfd,#e7e7e7);
    background-image: linear-gradient(#fdfdfd,#e7e7e7);
    background-color: #e7e7e7;
}

.EJETOA05802 .result .qtdVotos {
    display: block;
    height: 21px;
    padding: 10px;
    font: normal 18px/21px Arial;
}

.EJETOA05802 .result .qtdVotos .numVotos {
    font: bold 18px/21px Arial;
    color: #324E69;
}

.EJETOA05802 .votar-hover .result,.EJETOA05802 .new_vote .result {
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d4d2d), color-stop(100%, #233c23));
    background-image: -webkit-linear-gradient(#2d4d2d,#233c23);
    background-image: -moz-linear-gradient(#2d4d2d,#233c23);
    background-image: -o-linear-gradient(#2d4d2d,#233c23);
    background-image: linear-gradient(#2d4d2d,#233c23);
    cursor: pointer;
    border: 1px solid #324E69;
    background-color: #2d4d2d;
}

.EJETOA05802 .new_vote .result * {
    color: #fff!important;
}

.EJETOA05802 .bt-votar {
    display: none;
    height: 21px;
    padding: 10px;
    font: normal 16px/21px Arial;
    color: #fff;
    text-transform: uppercase;
}

.EJETOA05802 .votado div.border,.EJETOA05802 .votar-hover div.border {
    float: left;
    width: 153px;
    height: 205px;
    overflow: hidden;
    border: 2px solid #324E69;
}

.EJETOA05802 .votado div.border img,.EJETOA05802 .votar-hover div.border img {
    margin: -2px;
}

#esp-Pat-Geral {
    margin: 0;
    font: 12px Arial;
    width: 652px;
    height: 253px;
    color: #333;
    position: absolute;
    display: none;
}

#esp-Pat-Geral a {
    outline: none;
    text-decoration: none;
}

#esp-Pat-Geral a:hover {
    text-decoration: underline;
}

#esp-Pat-Geral a {
    color: #333333;
}

#esp-Pat-Geral h3 {
    padding: 11px 0 15px 2px;
    width: 258px;
    height: 18px;
    color: #336633;
    font: bold 16px Arial;
    text-transform: uppercase;
    float: left;
}

#esp-Pat-Geral .espPatSelo {
    padding: 3px 0 10px 0;
    width: 206px;
    height: 31px;
    color: #CCCCCC;
    font: 12px arial;
    float: right;
}

#esp-Pat-Geral .espPatSelo a {
    float: right;
    border: 1px solid #CCCCCC;
}

#esp-Pat-Geral .espPatSelo span {
    float: left;
    padding: 9px 10px 0 0;
}

#espPatGeral {
    margin: 0;
    font: 12px Arial;
    width: 652px;
    height: 253px;
    color: #333;
}

#espPatGeral a {
    outline: none;
    text-decoration: none;
}

#espPatGeral a:hover {
    text-decoration: underline;
}

#espPatGeral a {
    color: #333;
}

#espPatGeral h3 {
    padding: 11px 0 15px 2px;
    width: 258px;
    height: 18px;
    color: #336633;
    font: 18px/22px Arial;
    text-transform: uppercase;
    float: left;
}

#espPatGeral .espPatSelo {
    padding: 3px 0 10px 0;
    width: 206px;
    height: 31px;
    color: #CCC;
    font: 12px arial;
    float: right;
}

#espPatGeral .espPatSelo a {
    float: right;
    border: 1px solid #CCC;
}

#espPatGeral .espPatSelo span {
    float: left;
    padding: 9px 10px 0 0;
}

#espBoxPub {
    float: left;
    margin-right: 20px;
    width: 204px;
}

#espBoxPub a img {
    clear: both;
}

#espBoxPub cite a {
    display: block;
    padding: 3px 0;
    font: bold 14px Arial;
}

#espBoxPub span {
    display: block;
}

#espBoxPub span a {
    font: 12px Arial;
    color: #333;
}

.LA08706 table tbody tr td span,.CF09006 ul li .imagem a.play {
    background: url(http://i0.statig.com.br/css/images/ECNsprite_canal_site.gif) no-repeat;
}

.height_LA08706 {
    min-height: 328px;
}

.LA08706_altas {
    min-height: 419px;
}

.LA08706_cambio {
    height: 148px!important;
}

.LA08706_cambio2 {
    min-height: 177px;
}

.LA08706_bolsa {
    height: 151px!important;
}

.LA08706 {
    float: left;
    width: 316px;
    margin: 15px 20px 0 0;
    padding-bottom: 16px;
}

.LA08706 h3 {
    display: block;
    float: none!important;
    font: normal 18px Arial;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #324E69;
}

.LA08706 table thead tr th {
    color: #999;
    font: normal 11px Arial;
    text-align: left;
    height: 23px;
    padding-left: 10px;
}

.LA08706 table tbody tr th {
    color: #333;
    font: bold 11px Arial;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    height: 28px;
    text-align: left;
    padding-left: 10px;
}

.LA08706 table tbody tr td {
    color: #333;
    font: normal 11px Arial;
    border-bottom: 1px solid #efefef;
    height: 28px;
    text-align: left;
    padding-left: 10px;
}

.LA08706 table tbody tr td span {
    float: left;
    width: 20px;
    height: 19px;
    font-size: 0;
    text-indent: -15000px;
}

.LA08706 table tbody tr td span.sobe {
    background-position: 0 -103px;
    color: #138a00 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr td span.desce {
    background-position: -22px -103px;
    color: #bf0000 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr td span.neutro {
    background-position: -44px -103px;
    color: #666 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr th {
    padding-left: 0px!important;
}

.LA08706 table tbody tr td {
    padding-left: 0px!important;
}

.LA08706 table thead tr th {
    padding-left: 0px !important;
}

.LA08706 table tbody tr .sobe {
    color: #138a00!important;
    font: bold 14px Arial;
}

.LA08706 table tbody tr .desce {
    color: #bf0000!important;
    font: bold 14px Arial;
}

.LA08706 table tbody tr .neutro {
    color: #CCC!important;
    font: bold 14px Arial;
}

.LA08706 {
    float: left;
    width: 316px;
}

.LA08706 h3 {
    display: block;
    float: none!important;
    font: normal 18px Arial;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.LA08706 h4,.LA08706 h4 {
    width: 306px;
    height: 29px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    font: bold 12px/30px Arial;
    color: #666;
    padding-left: 10px;
}

.LA08706 table thead tr th {
    color: #999;
    font: normal 11px Arial;
    text-align: left;
    height: 23px;
    padding-left: 10px;
}

.LA08706 table tbody tr th {
    color: #333;
    font: bold 11px Arial;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    height: 28px;
    text-align: left;
    padding-left: 10px;
}

.LA08706 table tbody tr td {
    color: #333;
    font: normal 11px Arial;
    border-bottom: 1px solid #efefef;
    height: 28px;
    text-align: left;
    padding-left: 10px;
}

.LA08706 table tbody tr td span {
    float: left;
    width: 20px;
    height: 19px;
    font-size: 0;
    text-indent: -15000px;
}

.LA08706 table tbody tr .sobe {
    background-position: 0 -103px;
    color: #138a00 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr .desce {
    background-position: -22px -103px;
    color: #bf0000 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr .neutro {
    background-position: -44px -103px;
    color: #bf0000 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr td.neutro {
    color: #666!important;
    font: bold 14px Arial!important;
}

.LA08706 .cinza h4 {
    color: #999999;
}

.LA08706 .cinza tbody tr th {
    color: #999999;
    font-weight: bold;
}

.LA08706 .cinza tbody tr td {
    color: #666666!important;
}

.LA08706 table tbody tr td span.sobe_cinza,.LA08706 table tbody tr td.sobe_cinza {
    background-position: -44px -103px;
    color: #666666!important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr td span.desce_cinza,.LA08706 table tbody tr td.desce_cinza {
    background-position: -66px -103px;
    color: #666666!important;
    font: bold 14px Arial!important;
}

.LA08706 div.alerta {
    background-color: #f8f8f8;
    margin: 5px 0 15px 0;
    padding: 7px;
}

.LA08706 div.alerta span.exclama {
    float: left;
    width: 30px;
    height: 33px;
    text-indent: -15000px;
    background-position: -107px -56px;
    margin-right: 10px;
}

.LA08706 div.alerta p {
    color: #bf0000;
    font: normal 15px Arial;
}

.LA08706 div.alerta small {
    color: #a3a3a3;
    font: normal 11px Arial;
}

.E08906 {
    float: left;
    width: 316px;
    margin: 15px 20px 0 0;
    padding-bottom: 20px;
}

.E08906 h3 {
    display: block;
    font: normal 18px Arial;
    margin-bottom: 13px;
    text-transform: uppercase;
    color: #324E69;
}

.E08906 ul.abas {
    border-bottom: 1px solid #EEE;
    float: left;
    height: 36px;
    width: 316px;
}

.E08906 ul.abas li {
    float: left;
}

.E08906 ul.abas li a {
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    color: #333;
    display: inline;
    float: left;
    font: bold 11px/34px Arial;
    margin-right: 5px;
    padding: 0 9px;
}

.E08906 ul.abas li a.ativo {
    background: #FFF;
    border-color: #EEE #EEE #FFF;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin-bottom: -1px;
}

.E08906 .flash {
    float: left;
    margin: 5px 0;
    width: 317px;
    height: 237px;
}

.E08906 fieldset {
    float: left;
    clear: both;
    width: 316px;
}

.E08906 fieldset .submit {
    float: left;
    background: #f8f8f8;
    width: 77px;
    height: 21px;
    text-align: center;
    font: normal 10px/20px Arial;
    color: #999;
    margin-right: 2px;
    cursor: pointer;
}

.E08906 fieldset .ativo {
    background: #336633;
    color: #fff;
}

.E08906 fieldset label {
    float: left;
    clear: both;
    font: bold 11px Arial;
    color: #999;
    text-transform: uppercase;
    margin: 7px 0 2px 0;
    width: 316px;
}

.E08906 fieldset .buscaAtivo {
    float: left;
    border: 1px solid #ccc;
    width: 272px;
    height: 22px;
    margin-right: 5px;
}

.E08906 fieldset .submitOk {
    float: left;
    border: 1px solid #ccc;
    width: 37px!important;
    height: 24px;
    font: bold 12px arial;
    background: url(http://i0.statig.com.br/css/images/form_bg_botoes.gif) repeat-x center;
    color: #333;
    cursor: pointer;
}

.E08906 {
    float: left;
    width: 316px;
    height: 414px;
}

.E08906 h3 {
    display: block;
    font: normal 18px Arial;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.E08906 ul.abas {
    border-bottom: 1px solid #EEE;
    float: left;
    height: 36px;
    width: 316px;
}

.E08906 ul.abas li {
    float: left;
}

.E08906 ul.abas li a {
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    color: #333;
    display: inline;
    float: left;
    font: bold 11px/34px Arial;
    margin-right: 5px;
    padding: 0 9px;
}

.E08906 ul.abas li a.ativo {
    background: #FFF;
    border-color: #EEE #EEE #FFF;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin-bottom: -1px;
}

.E08906 .flash {
    float: left;
    margin: 5px 0;
    width: 316px;
    height: 236px;
}

.E08906 fieldset {
    float: left;
    clear: both;
    width: 316px;
}

.E08906 fieldset i {
    float: left;
    font: normal 11px Arial;
    color: #999;
    margin-top: 7px;
    width: 316px;
}

.E08906 fieldset .submit {
    float: left;
    background: #f8f8f8;
    width: 77px;
    height: 21px;
    text-align: center;
    font: normal 10px/20px Arial;
    color: #999;
    margin-right: 2px;
    cursor: pointer;
}

.E08906 fieldset .ativo {
    background: #336633;
    color: #fff;
}

.E08906 fieldset label {
    float: left;
    clear: both;
    font: bold 11px Arial;
    color: #999;
    text-transform: uppercase;
    margin: 7px 0 2px 0;
    width: 316px;
}

.E08906 fieldset .buscaAtivo {
    float: left;
    border: 1px solid #ccc;
    width: 272px;
    height: 22px;
    margin-right: 5px;
}

.E08906 fieldset .submitOk {
    float: left;
    border: 1px solid #ccc;
    width: 37px!important;
    height: 24px;
    font: bold 12px arial;
    background: url(http://i0.statig.com.br/css/images/form_bg_botoes.gif) repeat-x center;
    color: #333;
    cursor: pointer;
}

.E08906 .cotacao-rapida {
    float: left;
}

.E08906 .cotacao-rapida h2 {
    font: bold 11px Arial;
    color: #999;
    margin-top: 20px;
    text-transform: uppercase;
    width: 200px;
}

.E08906 .cotacao-rapida fieldset .submitOk {
    background: url(http://i0.statig.com.br/css/images/form_bg_botoes.gif) repeat-x scroll 0 0 transparent;
    border: 1px solid #CCC;
    float: left;
    font: bold 12px/15px Arial;
    height: 24px;
    margin: 5px 0 0 5px;
    width: 37px;
}

.E08906 .cotacao-rapida i {
    float: left;
    font: normal 11px Arial;
    color: #999;
    margin-top: 7px;
    width: 316px;
}

.E08906 .cotacao-rapida fieldset .texto {
    border: 1px solid #CCC;
    width: 265px;
    float: left;
    font: bold 12px/14px Arial;
    height: 19px;
    padding: 4px 0 0 5px;
    margin-top: 5px;
}

.E08906 .cotacao-rapida {
    float: left;
}

.E08906 .cotacao-rapida h2 {
    font: bold 11px Arial;
    color: #999;
    margin-top: 20px;
    text-transform: uppercase;
    width: 200px;
}

.E08906 .cotacao-rapida fieldset .submitOk {
    background: url(http://i0.statig.com.br/css/images/form_bg_botoes.gif) repeat-x scroll 0 0 transparent;
    border: 1px solid #CCC;
    float: left;
    font: bold 12px/15px Arial;
    height: 24px;
    margin: 5px 0 0 5px;
    width: 37px;
}

.E08906 .cotacao-rapida i {
    float: left;
    font: normal 11px Arial;
    color: #999;
    margin-top: 7px;
    width: 316px;
}

.E08906 .cotacao-rapida fieldset .texto {
    border: 1px solid #CCC;
    width: 265px;
    float: left;
    font: bold 12px/14px Arial;
    height: 19px;
    padding: 4px 0 0 5px;
    margin-top: 5px;
}

.CF09006 ul li .imagem a.play {
    background: url(http://i0.statig.com.br/css/images/ECNsprite_canal_site.gif) no-repeat;
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}

.CF09006 {
    float: left;
    width: 316px;
}

.CF09006 ul li {
    float: left;
    clear: both;
    margin-bottom: 20px;
    width: 316px;
}

.CF09006 .imagem {
    position: relative;
    float: left;
    width: 92px;
    height: 69px;
    margin-right: 10px;
}

.CF09006 ul li cite {
    float: left;
    font: bold 11px Arial;
    color: #999;
    text-transform: uppercase;
    width: 214px;
    margin-top: -3px;
}

.CF09006 ul li h5 a {
    float: left;
    font: bold 13px Arial;
    width: 214px;
    margin: 4px 0;
}

.CF09006 ul li p a {
    float: left;
    font: normal 12px Arial;
    width: 214px;
}

.CT09206 {
    float: left;
    width: 316px;
}

.CT09206 h3 {
    display: block;
    font: normal 18px/22px Arial;
    text-transform: uppercase!important;
    margin-bottom: 15px;
}

.CT09206 ul.abas {
    border-bottom: 1px solid #EEE;
    float: left;
    height: 36px;
    width: 316px;
}

.CT09206 ul.abas li {
    float: left;
}

.CT09206 ul.abas li a {
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    display: inline;
    float: left;
    font: bold 11px/34px Arial;
    margin-right: 1px;
    padding: 0 9px;
    color: #333!important;
}

.CT09206 ul.abas li a.ativo {
    background: #FFF;
    border-color: #EEE #EEE #FFF;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin-bottom: -1px;
}

.CT09206 .conteudo {
    clear: both;
    width: 316px;
    font: bold 12px Arial;
}

.CT09206 .conteudo ul li {
    float: left;
    list-style-type: disc !important;
    list-style-position: inside !important;
    margin-top: 10px;
    clear: both;
    width: 316px;
}

.E09306 {
    float: left;
    width: 316px;
}

.E09306 h3 {
    display: block;
    float: none !important;
    font: normal 18px Arial;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.E09306 .moedas {
    float: left;
    width: 144px;
    padding-right: 20px;
}

.E09306 .moedas label {
    float: left;
    font: bold 11px Arial;
    color: #999;
    text-transform: uppercase;
    width: 144px;
}

.E09306 .moedas select {
    float: left;
    width: 144px;
    height: 24px;
    border: 1px solid #D8D8D8;
    margin: 7px 0 17px 0;
}

.E09306 .moedas input {
    float: left;
    width: 144px;
    height: 20px;
    border: 1px solid #D8D8D8;
    margin: 7px 0 17px 0;
}

.E09306 .moedas input.valor {
    float: left;
    width: 95px!important;
    height: 22px;
    border: 1px solid #D8D8D8;
    margin: 7px 5px 0 0;
}

.E09306 .moedas input.valor2 {
    float: left;
    width: 137px!important;
    height: 22px;
    border: 1px solid #D8D8D8;
    margin-bottom: 0px !important;
}

.E09306 .moedas input.submit {
    float: left;
    border: 1px solid #ccc;
    width: 36px!important;
    height: 24px;
    font: bold 12px arial;
    background: url(http://i0.statig.com.br/css/images/form_bg_botoes.gif) repeat-x center;
    color: #333;
    cursor: pointer;
    margin-bottom: 0px !important;
}

.CF09406 {
    float: left;
    width: 316px;
}

.CF09406 h3 {
    display: block;
    font: normal 18px Arial;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.CF09406 .imagem {
    position: relative;
    float: left;
    width: 92;
    height: 69px;
    margin-right: 10px;
    clear: both;
}

.CF09406 h5 a {
    float: left;
    font: bold 14px Arial;
    color: #333;
    width: 214px;
    margin: -3px 0 4px 0;
    *padding-bottom: 0px;
}

.CF09406 p a {
    float: left;
    font: normal 12px/16px Arial;
    width: 214px;
}

.CHA23106 {
    float: left;
    width: 316px;
}

.CHA23106 h3 {
    display: block;
    font: normal 18px Arial;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.CHA23106 p a {
    clear: both;
    display: block;
    font: normal 12px Arial;
    color: #333;
    margin-bottom: 17px;
}

.CHA23106 ul {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.CHA23106 ul li {
    float: left;
    padding: 0 1px 1px 0;
}

.CHA23106 ul li a {
    display: block;
    font: normal 18px/29px Arial;
    color: #666;
    background: #f8f8f8;
    width: 23px;
    height: 29px;
    text-align: center;
}

.CHA23106 ul li a:hover,.componente1 .CHA23106 ul li a.ativo {
    background: #336633;
    color: #FFF;
    text-decoration: none!important;
}

.CHA23106 ul li a.inativo {
    color: #CCC;
}

.CHA23106 ul li a:hover.inativo {
    background: #f8f8f8;
    cursor: default;
}

.CHA23106 .form {
    float: left;
    height: 58px;
    width: 307px;
    background: #f8f8f8;
    padding: 7px 0 0 9px;
}

.CHA23106 .form fieldset label {
    display: block;
    font: bold 14px Arial;
    color: #666;
    margin-bottom: 7px;
}

.CHA23106 .form fieldset input {
    float: left;
    width: 222px!important;
    height: 20px;
    border: 1px solid #D8D8D8;
    padding-top: 2px;
    margin-right: 10px;
}

.CHA23106 .form fieldset .submit {
    float: left;
    border: 1px solid #ccc;
    width: 62px!important;
    height: 24px;
    font: bold 12px/24px Arial;
    background: url(http://i0.statig.com.br/css/images/form_bg_botoes.gif) repeat-x center;
    color: #333;
    cursor: pointer;
    padding-top: 0!important;
}

.CHE18606 p {
    display: block;
    font: 12px Arial;
    margin-bottom: 13px;
}

.CHE18606 ul li {
    float: left;
    font: bold 14px/16px Arial;
    margin-bottom: 10px;
}

.CHE18606 ul li:nth-child(odd) {
    width: 160px;
}

.CHE18606 ul li a {
    color: #333;
}

.CHE18706 .altura {
    height: 135px;
}

.CHE18706 cite {
    clear: both;
    color: #999;
    display: block;
    font: bold 11px Arial;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.CHE18706 img {
    float: left;
    margin-right: 10px;
}

.CHE18706 ul li {
    list-style-position: inside !important;
    list-style-type: disc !important;
    margin-bottom: 4px;
}

.CHE18706 ul li a {
    font: 12px Arial;
    color: #333;
}

#busca-glossario-indice h2 {
    margin-bottom: 20px;
    font: 28px Arial;
}

#busca-glossario-indice #aba_busca-indices {
    margin-bottom: 0;
    padding-left: 0!important;
}

#busca-glossario-indice #aba_busca-indices li.busca {
    margin-left: 3px!important;
}

#busca-glossario-indice .box-indice {
    padding: 10px;
    background: #F8F8F8;
    border: 1px solid #DBDBDB;
    border-top: 0!important;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#busca-glossario-indice #indice {
    height: 30px;
    padding: 1px;
    background: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#busca-glossario-indice #indice li {
    float: left;
    border-right: 1px solid #fff;
}

#busca-glossario-indice #indice li a {
    display: block;
    width: 13px;
    height: 30px;
    padding: 0 4px;
    font: bold 12px/30px Arial;
    text-align: center;
    background: url(http://i0.statig.com.br/canais/economia/images/bg-indice.png) repeat-x 0 0;
}

#busca-glossario-indice #indice li.todos a {
    width: auto!important;
    padding: 0 9px 0 10px;
    border-radius: 3px;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

#busca-glossario-indice #indice li:hover a,#busca-glossario-indice #indice li.todos a,#busca-glossario-indice #indice li.ativo a {
    background: url(http://i0.statig.com.br/canais/economia/images/bg-indice.png) repeat-x 0 -32px;
    color: #fff;
}

#busca-glossario-indice .letter {
    font: 22px Arial;
    margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
}

#busca-glossario-indice #lista-glossario {
    clear: both;
    margin-top: 10px;
}

#busca-glossario-indice #lista-glossario li {
    clear: both;
    float: left;
    width: 652px;
    padding: 10px 0;
}

#busca-glossario-indice #lista-glossario li h3 {
    margin: 0!important;
}

#busca-glossario-indice #lista-glossario li h3 a {
    font: bold 16px/16px Arial;
    text-transform: none!important;
}

#busca-glossario-indice #lista-glossario li img {
    float: left;
    margin-right: 18px;
    width: 146px;
}

#busca-glossario-indice #lista-glossario li h4 {
    margin-top: 20px;
    font: bold 18px Arial;
    color: #3B583A;
}

#busca-glossario-indice #lista-glossario li p {
    margin-top: 7px;
    font: normal 14px Arial;
    line-height: 18px;
}

#aba_busca-indices li,#aba_busca-indices li .left,#aba_busca-indices li .right {
    background: url("images/sprite_abas_indices.jpg") repeat-x;
}

#aba_busca-indices {
    display: block;
    height: 36px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding: 0 12px;
}

#aba_busca-indices li {
    height: 37px;
    position: relative;
    float: left;
    margin: 0 5px 0 3px;
    background-position: 0 -74px;
}

#aba_busca-indices a {
    font: 14px/37px arial;
    text-transform: uppercase;
    color: #333333;
    padding: 0 15px;
    height: 37px;
    color: #3B583A;
}

#aba_busca-indices li .left,#aba_busca-indices li .right {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
}

#aba_busca-indices li .left {
    left: -3px;
    background-position: -6px 0;
}

#aba_busca-indices li .right {
    right: -3px;
    background-position: -9px 0;
}

#aba_busca-indices .ativo {
    background-position: 0 -37px;
}

#aba_busca-indices .ativo a {
    color: #333333;
}

#aba_busca-indices .ativo .left {
    background-position: 0 0;
}

#aba_busca-indices .ativo .right {
    background-position: -3px 0;
}

.buscaReceitas .box-indice #busca-receita {
    margin-bottom: 0;
}

.buscaReceitas .box-indice #busca-receita .bg {
    width: 640px;
    height: 40px;
    background: url("images/busca_bg.jpg") -10px -8px no-repeat;
}

.buscaReceitas .box-indice #busca-receita .bg .campo {
    width: 513px;
    height: 20px;
    padding: 0 0 0 20px !important;
    margin: 12px 0 0 10px;
}

.buscaReceitas .box-indice #busca-receita .bg .buscar {
    margin-top: 0;
    height: 32px;
    margin: 5px 0;
}

.buscaReceitas .buscar {
    background: url("images/economia_busca.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 32px;
    margin-top: 13px;
    text-indent: -15000px;
    width: 86px;
}

.buscaReceitas .campo {
    background: url("images/lupa_busca_bg.png") no-repeat scroll left center transparent;
    color: #333333;
    float: left;
    font: 12px/20px arial;
    height: 20px;
    margin: 20px 0 0 106px;
    padding: 0 !important;
    width: 447px;
}

#resultado_busca {
    float: left;
    width: 100%;
    border-top: 1px dotted #eeeeee;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#resultado_busca .resultado {
    font: 16px arial;
}

#resultado_busca .resultado b,#resultado_busca .resultado strong {
    color: #3B583A;
}

#pagination {
    overflow: hidden;
}

#pagination a,#pagination span {
    float: left;
    padding: 0 8px;
    margin-right: 3px;
    height: 22px;
    font: 10px/22px arial;
    color: #3B583A;
    border: 1px solid #eeeeee;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#pagination a:hover,#pagination span {
    color: #FFF;
    border: 1px solid #7f3400;
    background: #3B583A;
}

.CHA17012 #mais-jogos {
    position: relative;
}

.CHA17012 #mais-jogos .prev-slide,.CHA17012 #mais-jogos .next-slide,.CHA17012 #mais-jogos .slider li.hoje,.CHA17012 #mais-jogos .slider li span.dataLine {
    background: url(http://i0.statig.com.br/canais/ultimosegundo/images/CHA17012.png?v=0.1) no-repeat;
}

.CHA17012 #mais-jogos h3 {
    height: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font: normal 18px/18px Arial;
    color: #336633;
}

.CHA17012 #mais-jogos h3 a {
    float: right;
    margin-top: 5px;
    font: bold 12px/12px Arial;
    text-transform: none;
    color: #363636;
}

.CHA17012 #mais-jogos .slider {
    position: relative;
    float: left;
    width: 590px;
    height: 217px;
    overflow: hidden;
    border: 1px solid #d9d9da;
    margin: 0 26px 0 30px;
}

.CHA17012 #mais-jogos .slider ul.firstLevel {
    list-style: none;
    height: 217px;
    margin: 0;
    padding: 0;
}

.CHA17012 #mais-jogos .slider li.firstLevel {
    float: left;
    width: 196px;
    height: 217px;
    border-right: 1px solid #D9D9DA;
}

.CHA17012 #mais-jogos .slider li.firstLevel span.dataLine {
    display: block;
    width: 190px;
    height: 1px;
    margin-bottom: 10px;
    background-position: -25px -230px;
}

.CHA17012 #mais-jogos .slider li.hoje {
    background-position: -62px 0;
}

.CHA17012 #mais-jogos .slider li .agendaData h4 {
    float: left;
    color: #336633;
    padding: 15px 0 15px 15px;
}

.CHA17012 #mais-jogos .slider li .agendaData h4 big {
    font: bold 14px/14px Arial;
}

.CHA17012 #mais-jogos .slider li .agendaData h4 small {
    font: normal 12px Arial;
}

.CHA17012 #mais-jogos .slider li .agendaData a.dataTodos {
    float: right;
    text-transform: uppercase;
    font: normal 10px/10px Arial;
    color: #336633;
    padding: 20px 15px 0 0;
}

.CHA17012 #mais-jogos .slider li .agendaEventos {
    height: 135px;
    overflow: hidden;
    list-style: disc inside!important;
    padding: 0 15px;
}

.CHA17012 #mais-jogos .slider li .agendaEventos li {
    margin-bottom: 15px;
    list-style: disc inside!important;
}

.CHA17012 #mais-jogos .slider li .agendaEventos li a {
    font: bold 12px/14px Arial;
    color: #363636;
}

.CHA17012 #mais-jogos .prev-slide,.CHA17012 #mais-jogos .next-slide {
    top: 38px;
    display: block;
    width: 30px;
    height: 219px;
    text-indent: -15000px;
    position: absolute;
}

.CHA17012 #mais-jogos .prev-slide {
    left: 0;
    background-position: 0 0;
}

.CHA17012 #mais-jogos .next-slide {
    right: 0;
    background-position: -31px 0;
}

.HEE15912 {
    margin-bottom: 15px;
    background: url(http://i0.statig.com.br/css/images/CT13412_bg.jpg) repeat-x scroll 0 0 transparent;
    float: left;
    min-height: 37px;
    width: 652px;
}

.HEE15912 h3 {
    float: left;
    font: normal 18px/22px Arial;
    text-transform: uppercase;
    color: #336633;
    margin-top: 3px;
    padding: 7px 0 0 9px;
}

.HEE15912 ul {
    float: right;
}

.HEE15912 ul li {
    float: right;
    display: inline;
    border-right: 1px solid #ccc;
    margin: 11px 0 6px;
    padding: 0 6px;
}

.HEE15912 ul li a {
    color: #336633;
    font: bold 13px Arial;
    padding: 0 6px 0 7px;
}

.LIA02306 .content ul li:last-child,.HEE15912 ul li:first-child,.LIA02306 .content ul li:last-child,.HEE15912 ul li:first-child {
    border: none;
}

.CHE16103 h3 {
    display: block;
    font: normal 18px/22px Arial;
    padding-bottom: 16px;
    width: 100%;
    text-transform: uppercase;
    color: #000;
    min-height: 22px;
}

.CHE16103 ul li p {
    float: left;
    width: 148px;
    padding: 7px 0 0;
}

.CHE16103 ul li p cite a {
    display: block;
    font: bold 14px/17px Arial;
    clear: both;
    margin-bottom: 3px;
    line-height: 18px;
    color: #336633;
    padding: 0;
}

.CHE16103 ul li p span a {
    display: block;
    font: normal 14px/17px Arial;
    clear: both;
    line-height: 14px;
    color: #666;
}

.CHE02806,.LIA01106,.CHE00704,.CHE04804,.CHE05006,.CHE01504,.CHE05103,.CHE05503,.LIA06006,.buscaProfissoes,.CHE16103,.CHE01004,.LIASOLR,.CHE00903,.CHE02806,.LIA01106,.CHE00704,.CHE04804,.CHE05006,.CHE01504,.CHE05103,.CHE05503,.LIA06006,.buscaProfissoes,.CHE16103,.CHE01004,.LIASOLR,.CHE00903 {
    margin-right: 20px;
}

.CHE00206 div img,.CHE00704 ul li img,.CHE05006 img,.CHE05103 img,.CHE00206 div.wrapper img,.CHE16103 ul li img,.CHE00903 img,.CHE00206 div img,.CHE00704 ul li img,.CHE05006 img,.CHE05103 img,.CHE00206 div.wrapper img,.CHE16103 ul li img,.CHE00903 img {
    display: block;
}

.avisoFonte ul li {
    float: left;
    width: 158px;
    font: normal 10px Arial;
    color: #999;
}

#suascontas1 ul li a {
    color: #333!important;
}

.eleicaoEUAAgenda .header-agenda {
    margin-bottom: 20px;
    background: #f7f7f7;
    color: #363636;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 12px;
    height: 33px;
}

.eleicaoEUAAgenda .header-agenda h3 {
    float: left;
    font: bold 18px/32px Arial;
    color: #363636;
    text-transform: none;
    margin: 0;
}

.eleicaoEUAAgenda .header-agenda label {
    font: bold 12px/30px Arial;
    float: left;
    margin-right: 10px;
}

.eleicaoEUAAgenda span.btn-hoje {
    display: block;
    width: 50px;
    height: 21px;
    background: url(http://i0.statig.com.br/canais/economia/images/agenda-btn-hoje.png) no-repeat;
    margin: 5px 0 0 5px;
}

.eleicaoEUAAgenda table#agendaEventos td img {
    visibility: hidden;
}

.eleicaoEUAAgenda table#agendaEventos td.evento a,table td.tipo span {
    display: block;
    padding: 10px;
}

.eleicaoEUAAgenda table#agendaEventos td.tipo span {
    text-align: right;
    text-transform: uppercase;
}

.eleicaoEUAAgenda table#agendaEventos td span.txtNolk {
    font: bold 14px/20px Arial;
    color: #363636;
    padding-left: 10px;
}

.eleicaoEUAAgenda table#agendaEventos a {
    font: bold 14px/20px Arial;
}

.eleicaoEUAAgenda table#agendaEventos .dia {
    vertical-align: top;
    text-align: center;
    padding: 15px;
}

.eleicaoEUAAgenda table#agendaEventos .dia big {
    display: block;
    margin-bottom: 7px;
}

.eleicaoEUAAgenda table#agendaEventos .dia small {
    display: block;
    font: bold 11px Arial;
    text-transform: uppercase;
}

.eleicaoEUAAgenda table#agendaEventos .tipo {
    font: normal 10px Arial;
}

.eleicaoEUAAgenda .semEvento .boxEvento {
    border-bottom: 1px solid #dbdbdb;
    background: #fff;
}

.eleicaoEUAAgenda .semEvento .dia {
    background: #f1f1f1;
    border-bottom: 1px solid #dbdbdb;
    color: #cdd2d7;
}

.eleicaoEUAAgenda .semEvento .dia big {
    font: normal 20px Arial!important;
}

.eleicaoEUAAgenda .temEvento .dia {
    color: #363636;
    background: #f1f1f1;
}

.eleicaoEUAAgenda .temEvento .dia,.temEvento .boxEvento {
    border-bottom: 1px solid #dbdbdb;
}

.eleicaoEUAAgenda .temEvento .dia big {
    font: normal 36px Arial;
}

.eleicaoEUAAgenda .temEvento .boxEvento {
    border-bottom: 1px solid #dbdbdb;
    background: #f8f8f8;
}

.eleicaoEUAAgenda .temEvento .boxEvento td {
    border-bottom: 1px solid #efefef;
}

.eleicaoEUAAgenda .boxEvento .last td {
    border-bottom: none!important;
}

.eleicaoEUAAgenda .semEvento .boxEvento td {
    border-bottom: 0!important;
}

.eleicaoEUAAgenda .hoje td.dia {
    color: #f8f9fc;
    background: #363636;
    border-bottom: 1px solid #363636;
}

.eleicaoEUAAgenda .hoje .boxEvento {
    background: url(http://i0.statig.com.br/canais/economia/images/bg-agenda-hoje.jpg) repeat;
    border-bottom-color: #363636;
    color: #363636;
}

.eleicaoEUAAgenda .hoje .boxEvento td {
    border-bottom: 1px solid #fff;
    color: #363636;
}

.eleicaoEUAAgenda .temEvento .boxEvento .tipo span {
    display: none!important;
}

.CHE00306 ul,.box-drop ul,.CHE00306 ul,.box-drop ul {
    margin-top: -2px;
}

.box-drop {
    width: 195px;
    height: 32px;
    background: url(http://i0.statig.com.br/canais/arena/images/sprite.png?v=0.0.8) -80px -209px;
    color: #CCC;
    position: relative;
    float: left;
}

.box-drop a.open-drop {
    display: block;
    color: #666;
    width: 175px;
    text-transform: uppercase;
    padding: 9px 10px;
}

.box-drop-extended {
    z-index: 99990000;
}

.drop-extended li {
    height: 34px;
    width: 192px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}

.drop-extended li a {
    display: block;
    text-transform: uppercase;
    padding: 8px 10px;
}

.drop-bg-bottom {
    height: 10px;
    background: url(http://i0.statig.com.br/canais/arena/images/sprite.png?v=0.0.8) -80px -245px;
}

.box-drop-extended ul {
    height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
}

.HEE00412 ul,.CHE05412 .icones-compartilhe,.eleicaoEUAAgenda .header-agenda .agenda-filtro,.HEE00412 ul,.CHE05412 .icones-compartilhe,.eleicaoEUAAgenda .header-agenda .agenda-filtro,#barraLateral .E16106 ul li strong {
    float: right;
}

.eleicaoEUAAgenda .hoje .boxEvento td {
    border-bottom: 1px solid #fff;
    color: #363636;
}

.CHE16412 .destaques-esq-box ul li cite {
    font: 14px/17px Arial;
}

.CHE16412 .destaques-esq-box {
    float: left;
    width: 316px;
}

.CHE16412 .destaques-esq-box ul li strong a,.CHE16412 .destaques-dir-box ul li cite a,.CHE16412 .destaques-esq-box ul li cite a,.CHE16412 .destaques-dir-box ul li strong a,.CHE16412 .destaques-dir-box ul li cite a {
    color: #333;
}

.CHE16412 .destaques-esq-box ul li {
    float: left;
    margin-top: 15px;
    padding-bottom: 17px;
    width: 100%;
}

.CHE16412 .destaques-esq-box ul li strong {
    display: block;
    font: bold 14px/17px Arial;
    padding-bottom: 1px;
}

.CHE16412 .destaques-dir-box {
    float: left;
    width: 316px;
    margin-left: 20px;
}

.CHE16412 .destaques-dir-box ul li {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.CHE16412 .destaques-dir-box ul li strong {
    display: block;
    font: bold 16px/19px Arial;
    margin: 1px 0 2px;
}

.CHE16412 .destaques-dir-box ul li cite {
    font: 12px/16px Arial;
}

.CHE03306 {
    margin-right: 20px;
    overflow: hidden;
}

.CHE03306 h2 {
    color: #363;
    display: block;
    font: 18px/22px Arial;
    min-height: 22px;
    padding-bottom: 16px;
    text-transform: uppercase;
    width: 100%;
}

.CHE03306 ul li {
    width: 155px;
}

.CHE03306 img {
    float: left;
    margin-right: 6px;
}

.CHE03306 cite {
    font: bold 13px/16px Arial;
    display: inline-block;
    width: 85px;
    line-height: 14px;
    color: #333;
    text-transform: uppercase;
}

.CHE03306 p a {
    font: normal 13px/15px Arial;
    display: block;
    line-height: 14px;
    color: #333;
    margin-top: 7px;
}

#cabecalho h1 a,#cabecalho a.logo {
    margin-top: 31px!important;
}

.LA08706 table tbody tr td span,.CF09006 ul li .imagem a.play {
    background: url(http://i0.statig.com.br/css/images/ECNsprite_canal_site.gif) no-repeat;
}

.height_LA08706 {
    min-height: 328px;
}

.LA08706_altas {
    min-height: 419px;
}

.LA08706_cambio {
    height: 148px!important;
}

.LA08706_cambio2 {
    min-height: 177px;
}

.LA08706_bolsa {
    height: 151px!important;
}

.LA08706 {
    float: left;
    width: 316px;
    margin: 15px 20px 0 0;
    padding-bottom: 16px;
}

.LA08706 h3 {
    display: block;
    float: none!important;
    font: normal 18px Arial;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.LA08706 table thead tr th {
    color: #999;
    font: normal 11px Arial;
    text-align: left;
    height: 23px;
    padding-left: 10px;
}

.LA08706 table tbody tr th {
    color: #333;
    font: bold 11px Arial;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    height: 28px;
    text-align: left;
    padding-left: 10px;
}

.LA08706 table tbody tr td {
    color: #333;
    font: normal 11px Arial;
    border-bottom: 1px solid #efefef;
    height: 28px;
    text-align: left;
    padding-left: 10px;
}

.LA08706 table tbody tr td span {
    float: left;
    width: 20px;
    height: 19px;
    font-size: 0;
    text-indent: -15000px;
}

.LA08706 table tbody tr td span.sobe {
    background-position: 0 -103px;
    color: #138a00 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr td span.desce {
    background-position: -22px -103px;
    color: #bf0000 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr td span.neutro {
    background-position: -44px -103px;
    color: #666 !important;
    font: bold 14px Arial!important;
}

.LA08706 table tbody tr th {
    padding-left: 0px!important;
}

.LA08706 table tbody tr td {
    padding-left: 0px!important;
}

.LA08706 table thead tr th {
    padding-left: 0px !important;
}

.LA08706 table tbody tr .sobe {
    color: #138a00!important;
    font: bold 14px Arial;
}

.LA08706 table tbody tr .desce {
    color: #bf0000!important;
    font: bold 14px Arial;
}

.LA08706 table tbody tr .neutro {
    color: #CCC!important;
    font: bold 14px Arial;
}

.header-especiais {
    float: left;
    width: 652px;
    height: 76px;
    background: #f5f5f5;
}

.header-especiais .texto {
    float: left;
    width: 351px;
    margin-right: 20px;
    margin: 13px 0 0 19px;
}

.header-especiais h2 {
    color: #333;
    font: bold 24px Arial;
    margin-left: -3px;
}

.header-especiais p {
    color: #919191;
    font: bold 12px Arial;
}

.header-especiais .img {
    float: right;
    width: 261px;
    height: 76px;
}

.LA27712 {
    float: left;
    width: 652px;
    margin: 16px 0 17px;
}

.LA27712 h3 {
    font: 18px/21px arial;
    text-transform: uppercase;
    margin-bottom: 16px;
    width: 652px;
}

.LA27712 h2 a {
    display: block;
    font: bold 16px/19px Arial;
}

.LA27712 .h2min {
    font: bold 14px/17px Arial;
    margin: 3px 0 1px;
}

.LA27712 ul {
    margin-top: -3px;
}

.LA27712 p {
    padding: 3px 0 14px;
}

.LA27712 a.todas {
    font-weight: bold;
    color: #3b5e00;
}

.LA27712 .box {
    float: left;
    width: 316px;
    margin-right: 20px;
}

body[class*='secao-'] #cabecalho h1 a {
    width: 191px!important;
}

body.secao-home #cabecalho h1 a {
    width: 231px!important;
}

.LA27712 h2 a,.LA27712 p a {
    color: #333!important;
}

.secao-mercados .E08906 {
    margin-top: 0px!important;
}

.CHE13012 ul li cite a {
    font-style: normal !important;
}

.E09812 {
    float: left;
    width: 652px;
    margin-top: 15px;
    padding-bottom: 17px;
}

.E09812 h3 {
    display: block;
    font: normal 18px Arial;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.E09812 ul li {
    float: left;
    width: 205px;
    padding: 0 18px 20px 0;
    border-bottom: 1px dotted #eee;
    margin-bottom: 20px;
}

.E09812 ul li a.icone {
    float: left;
    width: 92px;
    height: 92px;
    font-size: 0;
    text-indent: -15000px;
    margin-right: 5px;
}

.E09812 ul li strong a {
    float: left;
    height: 72px;
    font: normal 16px arial;
    color: #333;
    padding-top: 20px;
}

.E09812 ul li span a {
    float: left;
    clear: both;
    font: normal 13px Arial;
    color: #333;
    margin: 16px 0 14px 0;
    width: 205px;
}

.E09812 ul li .ferramentas {
    float: left;
    clear: both;
    font: bold 12px Arial;
    color: #336633;
    width: 205px;
}

.E09812 a.icone {
    background: url(http://i0.statig.com.br/css/images/ECNpsrite_icones.gif) no-repeat;
}

.E09812 .sonho {
    background-position: 0 0 !important;
}

.E09812 .perfil {
    background-position: 0 -102px !important;
}

.E09812 .financiamento {
    background-position: 0 -204px !important;
}

.E09812 .previdencia {
    background-position: 0 -306px !important;
}

.E09812 .dividas {
    background-position: 0 -408px !important;
}

.E09812 .aposentar {
    background-position: 0 -510px !important;
}

.E09812 .credito {
    background-position: 0 -612px !important;
}

.E09812 .consorcio {
    background-position: 0 -712px !important;
}

.E09812 .orcamento {
    background-position: 0 -814px !important;
}

#conteudoGuiaIR,.conteudoGuia {
    margin-bottom: 20px;
}

#conteudoGuiaIR * {
    font: 14px/18px Arial !important;
}

#newToolbar {
    height: 30px;
    margin: -20px 0 15px 0;
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #e3e3e3;
}

#newToolbar .tagCobertura {
    background: url(http://i0.statig.com.br/spfw/barra/cobertura_completa.png) no-repeat;
    width: 120px;
    height: 16px;
    text-decoration: none;
    float: left;
    display: block;
    padding: 8px 12px 8px 13px;
    color: #333333;
    font: bold 12px Arial;
    border-right: 1px solid #e3e3e3;
    margin-right: 10px;
}

#newToolbar .tagCobertura:hover {
    background-position: 0 -33px;
    text-decoration: underline;
}

#newToolbar .tagCobertura {
    color: #336633 !important;
}

#newToolbar span.especial {
    font: normal 18px Arial;
    text-transform: uppercase;
    color: #333;
    display: block;
    padding-top: 6px;
}

#newToolbar span.especial a {
    font: normal 18px Arial;
    text-transform: uppercase;
    color: #333333;
    display: block;
    text-decoration: none;
}

#newToolbar span.especial a:hover {
    text-decoration: underline;
}

#newToolbar span.especial a {
    color: #336633 !important;
}

#newToolbar .newToolbarAd {
    float: right;
    display: block;
    width: 157px;
}

#manual-menu {
    float: left;
    margin: 0 20px 250px 0;
    width: 316px;
    background-color: #f8f8f8;
}

#manual-menu ul {
    height: 819px;
    border-bottom: 20px solid #fff;
}

#manual-menu ul li {
    border-bottom: 1px solid #eaeaea;
    font: bold 12px Arial;
    color: #336633;
    line-height: 16px;
}

#manual-menu ul li a {
    padding: 10px;
    display: block;
    font: bold 12px Arial;
    color: #336633;
}

#manual-menu ul li a:hover,#manual-menu ul li a.active {
    display: block;
    font: bold 12px Arial;
    color: #ffffff;
    background-color: #336633;
    text-decoration: none !important;
}

#manual-menu ul li a span.num {
    float: left;
    margin-right: 6px;
    width: 15px;
    height: 20px;
}

#manual {
    float: left;
    width: 652px;
}

#manual h3 {
    margin-bottom: 25px;
    font: bold 20px Arial;
}

#manual p {
    margin-bottom: 20px;
    font: normal 14px Arial;
    line-height: 18px;
}

#manual img {
    margin-bottom: 25px;
}

#manual .bt-nav {
    float: left;
    margin-right: 5px;
    padding: 12px 19px;
    border: 1px solid #dddddd;
    color: #336633;
    text-transform: uppercase;
    font: bold 10px Arial;
    border-radius: 3px;
}

#manual .bt-nav:hover {
    color: #fff;
    background-color: #336633;
    text-decoration: none !important;
}

.economiaAZIndice #filters {
    float: left;
    border: 1px solid #e4e4e4;
    padding: 10px;
    background: #f8f8f8;
    width: 637px;
}

.economiaAZIndice #filters .boxFilterArena {
    float: left;
    width: 283px;
    margin-right: 10px;
}

.economiaAZIndice #filters .boxFilterArena label {
    display: block;
    margin-bottom: 5px;
    font: bold 12px Arial;
    color: #333;
    float: left;
    margin: 8px;
}

.economiaAZIndice #filters .boxFilterArena select {
    display: block;
    width: 248px;
    height: 20px;
    line-height: 20px;
}

.economiaAZIndice #filters .btnBuscar {
    width: 111px;
    height: 53px;
    background: url(http://i0.statig.com.br/canais/economia/images/sprite.png?v=0.0.8) -551px -194px;
    font: bold 16px Arial;
    color: #fff;
    margin-top: 20px;
}

.economiaAZIndice #indiceLetras {
    float: left;
    margin: 20px 0;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 657px;
}

.economiaAZIndice #indiceLetras a {
    float: left;
    width: 10px;
    padding: 8px 0;
    font: bold 14px Arial;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    background: #f8f9fc;
    width: 21px;
    text-transform: uppercase;
}

.economiaAZIndice #indiceLetras a.ativo,.economiaAZIndice #indiceLetras a:hover {
    background: url(http://i0.statig.com.br/canais/economia/images/sprite.png?v=0.0.8) -561px -204px;
    color: #fff;
}

.economiaAZIndice #indiceLetras a.todas {
    width: auto!important;
    padding: 9px 10px;
    text-transform: uppercase;
    color: #fff;
    font: bold 12px Arial;
    height: 14px;
    background: #555a66 url(http://i0.statig.com.br/canais/economia/images/sprite.png?v=0.0.8) -561px -204px;
    margin-top: 1px;
}

.economiaAZIndice #indiceLetras a.todasOut {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    float: left;
    font: bold 12px Arial;
    padding: 9px 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto!important;
    height: 14px;
    margin-top: 1px;
}

.economiaAZIndice table#economiaAzResultado {
    width: 652px;
}

.economiaAZIndice table#economiaAzResultado th {
    padding: 10px;
    font: bold 12px Arial;
    text-transform: uppercase;
    color: #333;
}

.economiaAZIndice table#economiaAzResultado th.nomeJogo {
    width: 400px;
}

.economiaAZIndice table#economiaAzResultado th.plataforma,.economiaAZIndice table#economiaAzResultado th.genero {
    text-align: right;
}

.economiaAZIndice table#economiaAzResultado tbody td {
    padding: 10px;
}

.economiaAZIndice table#economiaAzResultado tbody .odd td {
    background: #f8f9fc;
}

.economiaAZIndice table#economiaAzResultado tbody td.nomeJogo,.economiaAZIndice table#economiaAzResultado tbody td.nomeJogo a {
    font: bold 12px Arial;
}

.economiaAZIndice table#economiaAzResultado tbody td.plataforma,.economiaAZIndice table#economiaAzResultado tbody td.plataforma a {
    font: normal 11px Arial;
    text-align: right;
    color: #6B788A;
}

.economiaAZIndice table#economiaAzResultado tbody td.genero {
    font: normal 11px Arial;
    color: #666;
    text-align: right;
}

.economiaAZIndice #pagination span,.economiaAZIndice #pagination a {
    float: left;
    margin-right: 3px;
    height: 24px;
    width: 23px!important;
    font: 10px/22px arial;
    border: 1px solid #eeeeee;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font: bold 10px/24px Arial;
    text-transform: uppercase;
    text-align: center;
}

.economiaAZIndice #pagination span,.economiaAZIndice #pagination a:hover {
    background: url(http://i0.statig.com.br/canais/economia/images/LIA05712-spr-pages.png) -75px -25px;
    color: #fff;
}

.economiaAZIndice #pagination li.nav a {
    width: 74px;
}

.economiaAZIndice #pagination li.nav a:hover {
    background-position: 0 -25px;
    color: #fff;
    text-decoration: none;
}

#fb-root {
    display: none!important;
}

.zeroTopo .CF05012b,.zeroTopo .CF05012,.zeroTopo .CF05904,.zeroTopo .CHE00112,.zeroTopo .CF00106,.zeroTopo .CT00206,.zeroTopo .CF00306,.zeroTopo .CF00406,.zeroTopo .CF00506,.zeroTopo .CF00603,.zeroTopo .CF00706,.zeroTopo .CT00806,.zeroTopo .CF00906,.zeroTopo .CF01003,.zeroTopo .CF01104,zeroTopo .CF01212,zeroTopo .CF01306,.zeroTopo .LM01406,.zeroTopo .CF01506,.zeroTopo .CT01706,.zeroTopo .ET01806,.zeroTopo .CV01906,.zeroTopo .CV02006,.zeroTopo .CV02106,.zeroTopo .LA02206,.zeroTopo .LM02306,.zeroTopo .LM02406,.zeroTopo .LM02506,.zeroTopo .LA02606,.zeroTopo .LA02706,.zeroTopo .LA02812,.zeroTopo .CF03204,.zeroTopo .B02906,.zeroTopo .LM03006,.zeroTopo .B03112,.zeroTopo .CF03204,.zeroTopo .CF03312,.zeroTopo .B03406,.zeroTopo .B03512,.zeroTopo .CF04706 {
    margin-top: 0!important;
    padding-top: 0!important;
}



.CHE27506 {
    margin-right: 20px;
}

.CHE27506 h3 {
    font: 18px/22px Arial;
    color: #333;
    text-transform: uppercase;
    margin: -4px 0 16px;
}

.CHE27506 ul.container li {
    clear: both;
    display: block;
    border-bottom: 1px dotted #e1e1e1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.CHE27506 ul.container li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.CHE27506 ul.container li a.thumb {
    float: left;
    position: relative;
    margin-right: 20px;
}

.CHE27506 ul.container li a.thumb span.duracao {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 40px;
    height: 30px;
    color: #fff;
    font: bold 9px/9px Arial;
    background: url(http://i0.statig.com.br/canais/_images/btn-empilhamento-play.png) no-repeat;
}

.CHE27506 ul.container li a.thumb img {
    float: left;
}

.CHE27506 ul.container li cite {
    color: #999;
    font: bold 11px arial;
}

.CHE27506 ul.container li h5 {
    padding-top: 4px;
    margin-bottom: 5px;
}

.CHE27506 ul.container li h5 a {
    font: bold 14px/16px arial;
    color: #324e69;
}

.CHE27506 ul.container li p a {
    color: #666;
    font: 12px/16px arial;
}

.CHE27506 .linkGeral {
    font-weight: bold;
    color: #324e69;
}


.parceiroTimeOutHomeRJ12{margin-top:0px;min-height:410px}.parceiroTimeOutHomeRJ12 .links h2{float:left;color:#333;font:normal 18px/22px Arial;text-transform:uppercase}.parceiroTimeOutHomeRJ12 .links .tabs-links{float:right;margin-top:5px}.parceiroTimeOutHomeRJ12 .links .tabs-links a{color:#495892}.parceiroTimeOutHomeRJ12 .dias{margin-top:40px}.parceiroTimeOutHomeRJ12 .dias li{margin:0px;float:left}.parceiroTimeOutHomeRJ12 .dias li a{display:block;width:92px;height:44px;color:#304c6b;background-color:#f1f1f1;text-align:center;padding-top:6px;border-right:1px solid #fff}.parceiroTimeOutHomeRJ12 .dias li a.aceso{display:block;width:92px;height:44px;color:#fff;background-color:#304c6b;text-align:center;padding-top:6px;border-right:1px solid #fff}.parceiroTimeOutHomeRJ12 .dias li a:hover{text-decoration:none;color:#304c6b;background-color:#e6e6e6}.parceiroTimeOutHomeRJ12 .dias li small{font-size:12px}.parceiroTimeOutHomeRJ12 .dias li cite{font-size:24px;font-style:normal;margin-top:0px;display:block;font-weight:bold}.parceiroTimeOutHomeRJ12 .w93{width:93px!important}.parceiroTimeOutHomeRJ12{margin-right:20px}.parceiroTimeOutHomeRJ12 ul.resposta{float:left;width:652px;margin-top:20px;min-height:180px}.parceiroTimeOutHomeRJ12 ul.resposta li{float:left;margin-right:20px}.parceiroTimeOutHomeRJ12 ul.resposta li p{float:left;padding:7px 0 0;width:148px}.parceiroTimeOutHomeRJ12 ul.resposta li p span{display:block;font:bold 11px Arial;clear:both;line-height:14px;color:#333;text-transform:uppercase}.parceiroTimeOutHomeRJ12 ul.resposta li p span.periodo{display:block;font:normal 12px Arial;clear:both;line-height:14px;color:#333;text-transform:none}.parceiroTimeOutHomeRJ12 ul.resposta li p cite a{display:block;font:bold 14px Arial;padding:0;clear:both;line-height:18px;color:#495892;margin-bottom:3px}.parceiroTimeOutHomeRJ12 ul.resposta li img{display:block}.parceiroTimeOutHomeRJ12 ul.classificacao{display:none}.parceiroTimeOutHomeRJ12 ul.classificacao li{background-color:gray;display:inline-block}.parceiroTimeOutHomeRJ12 ul.classificacao li.acende{background-color:gold}.parceiroTimeOutHomeRJ12 .tabs-links li a{display:block;font-weight:bold}.parceiroTimeOutHomeRJ12 .tabs-links li a.selected{display:block}.parceiroTimeOutHomeRJ12 ul.highlights li{float:left;margin-right:20px}.parceiroTimeOutHomeRJ12 .HOCHE07506{margin-right:0px!important;min-height:63px}.parceiroTimeOutHomeRJ12 .headerCidade{margin-bottom:20px;border-top:2px solid #6D8495;background:url(http://i0.statig.com.br/ig/images/bg-retranca.gif);padding:0;height:45px;line-height:44px}.parceiroTimeOutHomeRJ12 .headerCidade h2{float:left;font-size:1.667em;margin-left:12px}.parceiroTimeOutHomeRJ12 .headerCidade h2 a{float:left;color:#3B454E;background-position:right -322px;padding-right:15px;position:relative;top:0;right:0}.parceiroTimeOutHomeRJ12 .headerCidade h2 a span{color:#08629A;font-size:1em;font-weight:normal;letter-spacing:-4px;text-indent:-1500em}.parceiroTimeOutHomeRJ12 .headerCidade a img{float:right;margin:7px 8px 0 0}

.twitterODia{float:left;width:316px}.twitterODia h3{display:block;font:normal 18px/22px Arial;color:#000;text-transform:uppercase;margin-bottom:13px}.twitterODia ul li{float:left;width:316px;margin-bottom:20px}.twitterODia a{color:#a10d0d;margin-right:6px}.twitterODia p{font:normal 12px/15px Arial;float:left;width:262px;margin-top:-3px}.twitterODia .linkGeral{margin-top:0!important}.twitterODia .imgtwitter{float:left}

    .parceiroOdiaClassificados12{
        float: left;
        width:654px;
        height:266px;
        background:#F8F8F8;
        padding-top:20px;
        border:1px solid #D6D7D9;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    }
    .parceiroOdiaClassificados12 h3{margin:0 0 19px 19px;color:#333;font:bold 18px arial;}
    .parceiroOdiaClassificados12 input.campoBusca{
        margin-left:19px;
        width:383px;
        height:33px;
        
        border:1px solid #D6D7D9;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        box-shadow: inset 0px 0px 20px rgba(248, 245, 235, 0.80);
        -moz-box-shadow: inset 0px 0px 20px rgba(248, 245, 235, 0.80);
        -webkit-box-shadow: inset 0px 0px 20px rgba(248, 245, 235, 0.80);
        font-size:14px;padding:0 5px 0 5px;
        font:12px Arial!important;
        color:#666;
        font-style:italic!important;
    }
    .parceiroOdiaClassificados12 ul{margin-top:19px;}
    .parceiroOdiaClassificados12 li{float:left;margin-left:19px;width:139px;height:138px;background:url(http://i0.statig.com.br/ejesa/igrio/imagens/classificados-sprite.png);}
    .parceiroOdiaClassificados12 li a{display:block;width:139px;height:138px;}
    .parceiroOdiaClassificados12 .carros{background-position: -2px 141px;}
    .parceiroOdiaClassificados12 .imoveis{background-position: -160px 141px;}
    .parceiroOdiaClassificados12 .empregos{background-position: -317px 141px;}
    .parceiroOdiaClassificados12 .produtoseservicos{background-position: -475px 141px;}
    .parceiroOdiaClassificados12 .carros:hover{background-position: -2px -3px;}
    .parceiroOdiaClassificados12 .imoveis:hover{background-position: -160px -3px;}
    .parceiroOdiaClassificados12 .empregos:hover{background-position: -317px -3px;}
    .parceiroOdiaClassificados12 .produtoseservicos:hover{background-position: -475px -2px;}
    .parceiroOdiaClassificados12 input.submit{
        width:69px;
        height:33px;
        padding:3px 0;
        border:solid 1px #cccccc;
        border:1px solid #CCCCCC;
        font:bold 11px Arial!important;
        color:#073D5C!important;
        text-align:center;
        cursor:pointer;
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E0E0E0));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #E0E0E0 100%);
        margin:0 0 0 0!important;
        text-transform:uppercase!important;
        font-style:normal!important;
    }

.CompX {width: 316px; height:285px;float: left;}
.CompX .twtr-avatar {width:58px; height:58px;margin-right:10px;}
.CompX .twtr-img img {width:58px !important; height:58px !important;}
.CompX .twtr-img img {content:url(http://s0.ejesa.ig.com.br/img/igrio/logotipo_24H_normal.png);} 
.CompX .twtr-tweet-text p em{display:none !important;}
.CompX .twtr-ft{display:none !important;}
.CompX .twtr-hd{display:none !important;}
.CompX .twtr-user{font-weight: bold;}
.CompX .twtr-widget .twtr-tweet{border-bottom: none !important;}
.CompX .mytwtr-top{float:left;width:300px;height:30px;background:url(http://s0.ejesa.ig.com.br/img/igrio/odia_24horas.png) no-repeat;margin-left:5px;margin-bottom:10px;}
.CompX .twtr-widget{float:left;width:316px;height:285px;}

/* css que trata componentes da bloco Rio de JAaneiro da home do iG - Apenas para edição */
.HOCHE07906{min-height:111px;margin-bottom:20px;}.HOCHE07906 .esquerda{position:absolute}.HOCHE07906 .esquerda img{float:left;margin-right:15px}.HOCHE07906 .esquerda span.play{background-position:0 -291px;height:30px;width:39px;width:57px;height:42px;position:absolute;bottom:0;left:10px}.HOCHE07906 .direita{float:right;width:148px;margin-top:18px}.HOCHE07906 .direita h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}.HOCHE07906 .direita h3 a{color:#333}.HOCHE07906 .direita h4{font-size:1.5em;font-weight:normal}
.EJEHLE03106{margin-right:20px}.EJEHLE03106 a{color:#08629a}.EJEHLE03106 h3{font-size:0.917em;margin:2px 0;text-transform:uppercase}.EJEHLE03106 h3 a{color:#333}.EJEHLE03106 h4{font-size:1.5em;font-weight:normal;line-height:24px}.EJEHLE03106 ul li{margin-top:3px;padding-left:0}.EJEHLE03106 ul li a{margin-left:-4px}
.HOHEE07712.headRetranca{border-top:2px solid #6D8495;background:url(http://i0.statig.com.br/ig/images/bg-retranca.gif);padding:0;height:45px;line-height:44px}.HOHEE07712.headRetranca h2 a img{float:left;padding:8px 5px 0px 0px}.HOHEE07712.headRetranca h2{float:left;font-size:1.667em;margin-left:12px}.headRetranca form{border-top:1px solid #fff;background:url(http://i0.statig.com.br/ig/images/bg-retranca.gif);height:39px;padding-top:5px}.HOHEE08612 h2 a,.HOHEE08906 h2 a,.headRetranca h2 a{float:left;color:#3B454E;background-position:right -322px;padding-right:15px}.HOHEE08612 h2 a span,.HOHEE08906 h2 a span,.headRetranca h2 a span{color:#000000;olor:#0b73b4;font-size:1em;font-weight:normal;letter-spacing:-4px;text-indent:-1500em;display:none}.HOCHE07906{min-height:111px}.HOCHE07906 .esquerda{position:absolute}.HOCHE07906 .esquerda img{float:left;margin-right:15px}.HOCHE07906 .esquerda span.play{background-position:0 -291px;height:30px;width:39px;width:57px;height:42px;position:absolute;bottom:0;left:10px}.HOCHE07906 .direita{float:right;width:148px;margin-top:18px}.HOCHE07906 .direita h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}.HOCHE07906 .direita h3 a{color:#333}.HOCHE07906 .direita h4{font-size:1.5em;font-weight:normal}.HOCHE08106 h3,.HOCHE08306 h3,.chamada11-18 h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}.HOCHE08106 h4,.HOCHE08306 h4,.chamada11-18 h4{font-size:1.5em;font-weight:normal;margin-bottom:10px}.HOCHE08106 p,.HOCHE08306 p{font-size:1em}.HOCHE08106 h3 a{color:#333}.HOCHE08306 h4{font-size:2em}.HOHEE08906,.HOHEE08612{position:relative}.HOHEE07712 a,.HOHEE08906 a{position:absolute;top:7px;right:10px}.HOHEE07712 .adRetranca{float:right;width:100px;height:20px}.HOHEE08612 a{position:absolute;top:7px;right:10px}.HOHEE07712 h2 a,.HOHEE08906 h2 a,.HOHEE08612 H2 a{float:left;color:#3B454E;background-position:right -322px;padding-right:15px;position:relative;top:0;right:0}
.HOCHE07806 h3{font:bold 11px Arial;text-transform:uppercase;margin-bottom:1px}.HOCHE07806 h3 a{color:#333}.HOCHE07806 h4 a{font:bold 24px Arial;color:#08629a;}