.EJELIE00102 ul li .headline-eye a{
	color: #999999;
}

.EJELIE00102 ul li .headline-eye a:hover{
    color: #999999;
}

.EJELIE00102 .headline-title a{
	color: #333333;
}

.EJELIE00102 .headline-title a:hover{
	color: #666666;
}

.EJEHLE00102 .headline-hat a{
	color: #669933;
}

.EJEHLE00102 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE00102 .headline-title a{
	color: #333333;
}

.EJEHLE00102 .headline-title a:hover{
    color: #666666;
}

.EJELIE00202 .carousel-eye a{
	color: #669933;
}

.EJELIE00202 .carousel-eye a:hover{
    color: #669933;
}

.EJELIE00202 .carousel-title a{
	color: #333333;
}

.EJELIE00202 .carousel-title a:hover{
    color: #666666;
}

.EJEHLE01501 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-hat  .headline-hat {
    background-color: #669933;
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE01501 a {
    background-color: #333333;
}

.EJEHLE01501 a:hover {
    background-color: #666666;
}

.EJEHLE00202 .headline-hat a{
	color: #669933;
}

.EJEHLE00202 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE00202 .headline-title a{
	color: #333333;
}

.EJEHLE00202 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00301 .headline-hat a{
	color: #669933;
}

.EJEHLE00301 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE00301 .headline-title a{
	color: #333333;
}

.EJEHLE00301 .headline-title a:hover{
    color: #666666;
}

.EJELIE00402 .headline-hat a{
	color: #669933;
}

.EJELIE00402 .headline-hat a:hover{
    color: #669933;
}

.EJELIE00402 .headline-title a{
	color: #333333;
}

.EJELIE00402 .headline-title a:hover {
    color: #666666;
}

.EJEHLE00402 .headline-title a{
	color: #333333;
}

.EJEHLE00402 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00402 .headline-hat a{
	color: #669933;
}

.EJEHLE00402 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE00502 .headline-hat a{
	color: #669933;
}

.EJEHLE00502 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE00502 .headline-title a{
	color: #333333;
}

.EJEHLE00502 .headline-title a:hover {
    color: #666666;
}

.EJEHLE00502 .headline-eye a {
    color: #333333;
}

.EJEHLE00502 .headline-eye a:hover {
    color: #666666;
}

.EJEHLE00602 .headline .box-hat {
	color: #FFFFFF;
}

.EJEHLE00602 .headline .box-hat  .headline-hat {
	background-color: #669933;
	color: #FFFFFF;
}

.EJEHLE00602 .headline .box-title .headline-title .front {
	color: #FFFFFF;
}

.EJELIE00302 .headline-hat{
	color: #669933;
}

.EJELIE00302 .headline-hat a{
    color: #669933;
}

.EJELIE00302 .headline-hat a:hover{
    color: #669933;
}

.EJELIE00302 .headline-title a{
	color: #333333;
}

.EJELIE00302 .headline-title a:hover{
    color: #666666;
}

.EJELIE00504{
	background: #F0F0F0;
}

.EJELIE00504 .carousel-options{
	background: #FFFFFF;
}

.EJELIE00504 .carousel-plus a{
	color:#669933;
}

.EJELIE00504 .carousel-plus a:hover{
    color:#669933;
}

.EJELIE00504 .carousel-menu ul li{
	background: #f0f0f0;
}

.EJELIE00504 .carousel-menu ul li a{
	color:#333333;
}

.EJELIE00504 .carousel-menu ul li a:hover{
    color:#666666;
}

.EJELIE00504 .carousel-title a{
	background: #333333;
	color: #FFFFFF;
}

.EJELIE00504 .carousel-title a:hover{
    color: #FFFFFF;
}

.EJEHLE00702 .headline-title a{
    color: #333333;
}

.EJEHLE00702 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00702 .headline-hat a{
    color: #669933;
}

.EJEHLE00702 .headline-hat a:hover{
    color: #669933;
}

#EJEHLE00802 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE00802 .headline .box-hat  .headline-hat {
    background-color: #669933;
    color: #FFFFFF;
}

#EJEHLE00902 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE00902 .headline .box-hat  .headline-hat {
    background-color: #669933;
    color: #FFFFFF;
}

#EJEHLE00902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

#EJEHLE00902 a {
    background-color: #333333;
}

#EJEHLE00902 a:hover {
    background-color: #666666;
}

#EJEHLE01001 .headline{
    background-color: #669933;
}

#EJEHLE01001 .headline .headline-hat{
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-title{
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-hat a{
    color: #FFFFFF;
}

#EJEHLE01001 .headline .headline-hat a:hover{
    color: #FFFFFF;
}

#EJEHLE01001 .headline .headline-title a
}

#EJEHLE01001 .headline .headline-title a:hover {
    color:#FFFFFF;
}

#EJEHLE01102 .headline{
    background-color: #669933;
}

#EJEHLE01102 .headline .headline-hat{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title a{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title a:hover{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-hat a{
    color: #FFFFFF;
}

#EJEHLE01102 .headline .headline-hat a:hover{
    color: #FFFFFF;
}

.EJEHLE001202 .headline-hat a{
    color: #669933;
}

.EJEHLE001202 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE001202 .headline-title a{
    color: #333333;
}

.EJEHLE001202 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01301 .headline-hat a{
    color: #669933;
}

.EJEHLE01301 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE01301 .headline-title a{
    color: #333333;
}

.EJEHLE01301 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402 .headline-hat a{
    color: #669933;
}

.EJEHLE01402 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE01402 .headline-title{
    color: #333333;
}

.EJEHLE01402 .headline-title a{
    color: #333333;
}

.EJEHLE01402 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402 .headline-text a{
    color: #333333;
}

.EJEHLE01402 .headline-text a:hover{
    color: #666666;
}

#sectionname{
    color: #669933;
}


.EJETOA00506{
    color: #669933;
}

.EJETOA00506 ul li:first-child a{
    color: #646464;
}

.EJETOA00506 ul li a{
    color: #669933;
}

.EJENEE00404{
    color: #669933;
}

.EJENEA00404{
    color: #669933;
}

.EJENEA00404 ul li a{
    color: #669933;
}

.EJENEE00704 .title{
    color: #669933;
}

.EJELIA00106 .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/green_arrow2.png');
}

.EJELIA00106 > ul > li:hover .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/grey_arrow.png');
}

.EJELIA00106 > ul > li:hover .headline-filter{
   background-color:#666;
}

.EJELIA00106 > ul > li:hover .span-border-hover span:first-child{
    color:#666;
}

.EJELIA00106 .headline-filter{
    background-color:#669933;
    color:#fff;
}

.EJELIA00106 .headline-date{
    color:#999999;
}

.EJELIA00106 .headline-eye{
    color:#646464;
}

.EJELIA00106 .headline-eye a{
    color:#646464;
}

.EJELIA00106 .headline-title{
    color: #333333;
}

.EJELIA00106 .headline-title a{
    color: #333333;
}

.EJELIA00106 > ul > li:hover .headline-title{
    color: #666;
}

.EJELIA00106 > ul > li:hover .headline-title a{
    color: #666;
}

.EJELIA00106 .list-header-search {
    border-top:1px solid #669933;
}

.EJELIA00106 .list-header-search #span-title1{
    color:#999999;
}

.EJELIA00106 .list-header-search #span-title2{
    color:#669933;
}

.EJELIA00106 .list-header-search .toptitle{
    color:#669933;
}

.EJELIA00106 .list-header-search .topborder{
    background-color:#669933;
}

.EJELIE01102 .headline-hat{
    color: #669933;
}

.EJELIE01102 .headline-title a{
    color: #333333;
}

.EJELIE01102 .headline-title a:hover{
   color: #666666;
}


#EJEHLE01902 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE01902 .headline .box-hat  .headline-hat {
    background-color: #669933;
    color: #FFFFFF;
}

#EJEHLE01902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

#EJEHLE01902 a {
    background-color: #333333;
}

#EJEHLE01902 a:hover {
    background-color: #666666;
}



.EJETOA01206 #subeditoria-nome-noticia{
    color: #cc0000;
}

.EJETOA01206 #subeditoria-nome-diversao{
    color: #996699;
}

.EJETOA01206 #subeditoria-nome-esporte{
    color: #669933;
}

.EJETOA01206 .fim{
    color: #669933;
}

.EJETOA01206 .inicio{
    color: #999;
}

.EJETOA01206 .cabecalho-borda{
    background-color: #669933;
}

.EJETOA01206 .icone > a:hover{
    color: #669933;
}

.EJETOA01206 .icone a{
    color:#999;
}



.EJETOA01106 .fim{
    color: #CC0000;
}

.EJETOA01106 .inicio{
    color: #999;
}

.EJETOA01106 .cabecalho-borda{
    background-color: #CC0000;
}

.EJETOA01106 .icone > a:hover{
    color: #CC0000;
}

.EJETOA01206 .editoria-noticia-cabecalho{
    border-top:1px solid #669933;
 }

.EJETOA00906 .icone a{
    color:#999;
}

.EJETOA00906 .icone > a:hover{
    color: #996699;
}

.EJETOA00906 .cabecalho-borda{
    background-color: #996699;
}

.EJETOA00906 .inicio{
    color: #999;
}

.EJETOA00906 .fim{
    color: #996699;
}

.EJETOA01006 .icone a{
    color:#999;
}

.EJETOA01006 .icone > a:hover{
    color: #669933;
}

.EJETOA01006 .cabecalho-borda{
    background-color: #669933;
}

.EJETOA01006 .inicio{
    color: #999;
}

.EJETOA01006 .fim{
    color: #669933;
}

.EJETOA01106 .icone a{
    color:#999;
}

.EJELIA00302 .news-menu{
    border-bottom:5px solid #669933;
}

.EJELIA00302 .news-menu ul li{
    background: #669933;
}

.EJELIA00302 .news-menu ul li a{
    color:#FFF;
}

.EJELIA00302 .headline .headline-item-eye{
    color:#669933;
}

.EJELIA00302 .headline .headline-item-title a{
    color:#333333;
}

.EJELIA00302 .headline .headline-item-title a:hover{
    color:#666666;
}

.EJELIA00402 .carousel-eye a{
    color: #669933;
}

.EJELIA00402 .carousel-eye a:hover{
    color: #669933;
}

.EJELIA00402 .carousel-title a{
    color: #333333;
}

.EJELIA00402 .carousel-title a:hover{
    color: #666666;
}

.EJEHLE01602 .headline-hat a{
    color: #669933;
}

.EJEHLE01602 .headline-title a{
    color: #333333;
}

.EJEHLE01602 .headline-title a:hover{
    color: #666666;
}


.EJEHLE02104 .headline-hat a {
    color: #669933;
}

.EJEHLE02104 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE02104 .headline-title a {
    color: #333333;
}

.EJEHLE02104 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02104 .headline-text a {
    color: #333333;
}

.EJEHLE02104 .headline-text a:hover{
    color: #666666;
}


.EJEHLE02202 .headline-hat a {
    color: #669933;
}

.EJEHLE02202 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE02202 .headline-title a {
    color: #333333;
}
.EJEHLE02202 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02202 .headline-text a {
    color: #333333 ;
}
.EJEHLE02202 .headline-text a:hover{
    color: #666666;
}

.EJEHLE01804 .headline-hat a{
    color: #ffffff;
}

.EJEHLE01804 .headline-hat a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a:hover{
    color: #ffffff;
}

.bgsection{
    background: #669933 !important;
    color: #f0f0f0 !important;
}

.bgoff{
    background: #f0f0f0 !important;
    color: #b2b2b2 !important;
}

.border-section{
    border-color: #669933 !important;
}

.EJELIE00504 .nav_on{
    border-color: #669933;
}

.EJELIE00504 .nav_off{
    border-color: #f0f0f0;
}



.EJEHLE00301 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00301 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE00102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00102 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE00402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00402 .headline:hover .headline-title a{
   color:#666;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01202 .headline:hover .headline-title a{
    color:#669933;
}

.EJEHLE01402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01402 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01402 .headline:hover .headline-text a{
    color:#666;
}


.EJEHLE02902 .headline .headline-title a{
    color:#669933;
}

.EJEHLE02902 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE02902 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01602 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01602 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE02202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE02202 .headline:hover .headline-title a{
    color:#666;
}
.EJELIE01102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJELIE01102 .headline:hover .headline-title a{
    color:#666;
}
.EJEHLE02104 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE02104 .headline:hover .headline-title a{
    color:#666;
}



#conteudo div.tags span { color:#669933;}
#conteudo div.tags span.lista-tags {color:#414141;}

.EJENEA00504 .news-hat .text {color:#669933;}

.EJENEA00604 .comment span {color:#669933;}

.EJENEA00604 #send-comment {border: 1px solid #669933; background:#669933;}

.EJENEA00604 .field-post-comment .autor-comment {color:#669933; }
.EJENEA00604 .field-post-comment .time-comment {color:#669933; }


.EJETOE01004 .galeria-foto-header{
    border-top: 1px solid #669933;
}

.EJETOE01004 .galeria-foto-header-top{
    background-color: #669933;
}

.EJETOE01004 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01004 .galeria-foto-header-name .right{
    color: #669933;
}

.EJETOE01004 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(102, 153, 51, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
}

.EJETOE01004 .layer-texto {
    color: #FFFFFF;
}

.EJELIE01504{
    background: #F0F0F0;
}

.EJELIE01504 .carousel-options{
    background: #FFFFFF;
	border-bottom: 5px solid #669933;
}

.EJELIE01504 .nav_on {
	border: 4px solid #669933;
}

.EJELIE01504 .carousel-plus a{
    color:#669933;
}

.EJELIE01504 .carousel-plus a:hover{
    color:#669933;
}

.EJELIE01504 .carousel-menu ul li{
    background: #669933;
}

.EJELIE01504 .carousel-menu ul li a{
    color:#FFF;
}

.EJELIE01504 .carousel-menu ul li a:hover{
    color:#FFF;
}

.EJELIE01504 .carousel-title a{
    background: #333333;
    color: #FFFFFF;
}

.EJELIE01504 .carousel-title a:hover{
    color: #FFFFFF;
}


.EJELIA00602 .news-menu{
    border-bottom:5px solid #669933;
}


.EJELIA00602 .news-menu ul li.ativo{
    background: #669933;
}

.EJELIA00602 .news-menu ul li.ativo a{
    color:#FFF;
}

.EJELIA00602 .news-menu ul li.inativo{
    background: #f0f0f0;
}

.EJELIA00602 .news-menu ul li.inativo a{
    color:#b2b2b2;
}

.EJELIA00602 .headline .headline-title a{
    color:#669933;

}

.EJELIA00602 .headline .headline-title a:hover{
    color:#666;
}


.EJELIA00602 .headline .headline-item-eye{
    color:#669933;
}

.EJELIA00602 .headline .headline-item-title a{
    color:#333333;
}

.EJELIA00602 .headline .headline-item-title a:hover{
    color:#666666;
}

.EJELIE01602 .headline-hat a{
    color: #669933;
}

.EJELIE01602 .headline-title a{
    color: #333;
}

.EJELIE01602 .headline-title a:hover{
    color: #666;
}


.EJELIE01602 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJELIE0702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}


.EJELIE0702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}


.EJELIE00602 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJETOE00202 .product-info .product-title a{
    color: #999;

}

.EJETOE00202 .product-info .product-text a{
    color: #999;
}


.EJEHLE01702 .headline .headline-hat a{
    color: #669933;
}

.EJEHLE01702 .headline .headline-hat a:hover{
    color: #669933;
}

.EJEHLE01702 .headline .headline-title a{
    color: #333333;
}


.EJEHLE01702 .headline .headline-title a:hover{
    color: #333333;
}

.EJELIE01702 .headline:hover .headline-text a{
    opacity: 1;
    color:#666;

}

.EJELIE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}


.EJENEE01004 .galleria-thumb-nav-left{
    background-image: url('http://s0.ejesa.ig.com.br/img/odia/sprite-setas-galerias-materias.png');
    background-repeat: no-repeat;
    background-position: 0 -288px; width: 40px; height: 70px;
}

.EJENEE01004 .galleria-thumb-nav-right{
    background-image: url('http://s0.ejesa.ig.com.br/img/odia/sprite-setas-galerias-materias.png');
    background-repeat: no-repeat;
    background-position: 0 -360px; width: 40px; height: 70px;
}


.EJELIE01504 .carousel-display ul li:hover {
    border: 4px solid #669933;
}




.EJELIE01304 .product{
    background-color:#eee;
}

.EJELIE01304 .product-info .product-title a{
    color: #333;
}

.EJELIE01304 .product-info .product-title a:hover{
    color: #666;
}

.EJELIE01304 .product-info .product-hat a {
    color: #669933;

}

.EJELIE01304 .product-info .product-hat a:hover{
    color: #669933;
}

.EJELIE01304 .product-info .product-text a{
    color: #333;
}


.EJELIE01304 .product-info .product-text a:hover{
    color: #666;
}


.EJELIE01304 .product_nav_on{
    float:left;
    background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_on_green.png') no-repeat center top;
}

.EJELIE01304 .product_nav_off{
    float:left;
    background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_off.png') no-repeat center top;
}




.EJETOE00000 .galeria-foto-header{
    border-top: 1px solid #669933;
}

.EJETOE00000 .galeria-foto-header-top{
    background-color: #669933;
}

.EJETOE00000 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE00000 .galeria-foto-header-name .right{
    color: #669933;
}
.EJETOE00000 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(102, 153, 51, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
}

.EJETOE00000 .layer-texto {
    color: #FFFFFF;
}



.EJELIE01904 .product{
    background-color:#eee;
}

.EJELIE01904 .product-info .product-title a{
    color: #333;
}

.EJELIE01904 .product-info .product-title a:hover{
    color: #666;
}

.EJELIE01904 .product-info .product-hat a {
    color: #669933;

}

.EJELIE01904 .product-info .product-hat a:hover{
    color: #669933;
}

.EJELIE01904 .product-info .product-text a{
    color: #333;
}


.EJELIE01904 .product-info .product-text a:hover{
    color: #666;
}


.EJELIE01904 .product_nav_on{
    float:left;
    background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_on_green.png') no-repeat center top;
}

.EJELIE01904 .product_nav_off{
    float:left;
    background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_off.png') no-repeat center top;
}


.EJELIE02002 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJELIE02002 .headline:hover .headline-title a{
    color:#666;
}


.EJEHLE02401 .headline-hat a{
    color: #669933;
}

.EJEHLE02401 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE02401 .headline-title a{
    color: #333333;
}

.EJEHLE02401 .headline-title a:hover{
    color: #666666;
}
.EJEHLE02401 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE02401 .headline:hover .headline-title a{
    color:#666;
}



.EJEHLE02501 .headline-hat a{
    color: #669933;
}

.EJEHLE02501 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE02501 .headline-title a{
    color: #333333;
}

.EJEHLE02501 .headline-title a:hover{
    color: #666666;
}



.EJEHLE02501 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.EJEHLE02501 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}

.EJEHLE02501 .headline:hover .headline-title a{
    color:#666;
}



.EJEHLE02602 .headline-hat a{
    color: #669933;
}

.EJEHLE02602 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE02602 .headline-title a{
    color: #333333;
}

.EJEHLE02602 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02602 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}

.EJEHLE02602 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 00);
}

.EJEHLE02602 .headline:hover .headline-title a{
    color:#666;
}


.EJETOE01304 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(102, 153, 51, 0.8);
    filter: alpha(opacity = 80);

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
}

.EJETOE01304 .galeria-foto-header{
    border-top: 1px solid #669933;
}

.EJETOE01304 .galeria-foto-header-top{
    background-color: #669933;
}

.EJETOE01304 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01304 .galeria-foto-header-name .right{
    color: #669933;
}

.EJETOE01406 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/green_arrow2.png') no-repeat -12px;
}

.EJETOE01406 .destaque-seta-cor{
    background-color: #669933;
}

.EJETOE01406 .destaque-lista ul li a{
    color: #669933;
}


.EJETOE00001 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/green_arrow2.png') no-repeat -12px;
}

.EJETOE00001 .destaque-seta-cor{
    background-color: #669933;
}

.EJETOE00001 .destaque-lista ul li a{
    color: #669933;
}

.EJETOE00306 nav> .sharesite,
.EJETOE00306 nav ul.menu-navegacao,
.EJETOE00606 nav> .sharesite,
.EJETOE00606 nav ul.menu-navegacao {
    border-bottom: 1px solid #5a8f1b;
}

.EJELIE02404 #carrossel ul#small li span.ativo,#carrossel ul#small li span.hover{
    border:4px solid #669933;
}


.EJELIE02404 #carrossel ul#small li span, #carrossel ul#small li  img:hover{
    border:4px solid #669933;
}


.EJELIE02404 .carrossel-options{
    background: #FFF;
    border-bottom: 5px solid #669933;
}

.EJELIE02404 .carrossel-plus a{
    color:#669933;
 }

.EJELIE02404 .carrossel-menu ul li {
    background: #669933;
 }

.EJELIE02204 .titulo{
    color:#333333;
}

.EJELIE02204 .chapeu{
    color:#669933;
}

.EJELIE02204 .texto{
    color:#333333;
}

.EJELIE02204 .galeria .txt {
    color:#333333;
}

.EJELIE02204 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #669933 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #669933 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #669933 100%);
}

.EJEHLE02802 .headline .headline-hat a{
    color:#669933;
}

.EJEHLE02802 .headline .headline-title a{
    color:#333;
}

.EJEHLE02802 .headline .headline-title a:hover{
    color:#666;
}

.EJEHLE02802 .headline .headline-eye a{
    color:#333;
}

.EJEHLE02802 .headline .headline-eye a:hover{
    color:#666;
}

 #EJEHEA00806 nav.especial-nav {
    border-bottom: 1px solid #669933 !important;
 }

 .especial-nav .wrap-grid {
    border-top: 1px solid #669933 !important;
    border-bottom: 2px solid #669933 !important;
 }



.EJEHLE02704 .headline-hat a{
    color: #669933;
}

.EJEHLE02704 .headline-hat a:hover{
    color: #669933;

}

.EJEHLE02704 .headline-title a{
    color: #333;
}

.EJEHLE02704 .headline-title a:hover{
    color: #666;

}

.EJEHLE02704 .headline-text a{
    color: #333;
}

.EJEHLE02704 .headline-text a:hover{
    color: #666;

}


.EJEHLE02804 .headline-hat a{
    color: #669933;
}

.EJEHLE02804 .headline-hat a:hover{
    color: #669933;

}

.EJEHLE02804 .headline-title a{
    color: #333;
}

.EJEHLE02804 .headline-title a:hover{
    color: #666;

}
.EJELIE02404 #carrossel ul#small li span.ativo{
    border:4px solid #669933;
}

.EJELIE02404 .carrossel-options{
    background: #FFF;
    border-bottom: 5px solid #669933;
}
.EJELIE02404 .carrossel-menu ul li {
    background: #669933;
}






.EJELIE02204x .titulo{
    color:#333333;
}

.EJELIE02204x .chapeu{
    color:#669933;
}

.EJELIE02204x .texto{
    color:#333333;
}

.EJELIE02204x .galeria .txt {
    color:#333333;
}

.EJELIE02204x #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204x .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #669933 50%, #669933 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #669933 50%, #669933 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #669933 50%, #669933 100%);
}


.EJEHLE00202x .headline-hat a{
    color: #669933;
}

.EJEHLE00202x .headline-hat a:hover{
    color: #669933;
}

.EJEHLE00202x .headline-title a{
    color: #333333;
}

.EJEHLE00202x .headline-title a:hover{
    color: #666666;
}




.EJEHLE01402x .headline-hat a{
    color: #669933;
}

.EJEHLE01402x .headline-hat a:hover{
    color: #669933;
}

.EJEHLE01402x .headline-title{
    color: #333333;
}

.EJEHLE01402x .headline-title a{
    color: #333333;
}

.EJEHLE01402x .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402x .headline-text a{
    color: #333333;
}

.EJEHLE01402x .headline-text a:hover{
    color: #666666;
}

.EJEHLE01402x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01402x .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01402x .headline:hover .headline-text a{
    color:#666;
}




.EJELIE02702 .headline .headline-hat a{
    color: #669933;
}

.EJELIE02702 .headline:hover .headline-text a{
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;

}
.EJELIE02702 .headline .headline-title a{
    color: #333;
}

.EJELIE02702 .headline .headline-title a:hover{
    color: #666;
}

.EJELIE02702 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}



.EJELIE02802 .headline-hat a{
    color: #669933;
}

.EJELIE02802 .headline-title a{
    color: #333;
}

.EJELIE02802 .headline-title a:hover{
    color: #666;
}




.EJELIE02602 .big,
.EJELIE02602 .thumbs {
    background: #669933;
}


.EJELIE02602 .big .headline .box-hat  .headline-hat {
    background-color: #669933;
}

.EJELIE02602 .thumbs > .setas.direita {
    background: url('http://s0.ejesa.ig.com.br/img/odia/setas-esportes.png') no-repeat 0 0 #548522;
}

.EJELIE02602 .thumbs > .setas.esquerda {
    background: url('http://s0.ejesa.ig.com.br/img/odia/setas-esportes.png') no-repeat 0 -92px #548522;
}


.EJELIE02602 .big .indicador {
    background: url('http://s0.ejesa.ig.com.br/img/odia/indicador_brasil_copa.png') no-repeat top;
}

}
.EJELIE02602 .big .headline .box-hat  .headline-hat {
    background-color: #669933;
}



.EJEHLE02302 .headline-hat a{
    color: #669933;
}

.EJEHLE02302 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE02302 .headline-title a{
    color: #333;
}

.EJEHLE02302 .headline-title a:hover{
    color: #666;
}


.EJEHLE02302 .headline-text a{

    color: #333333;
}

.EJEHLE02302 .headline-text a:hover{
    color: #666666;

}


.EJEHLE03002 .headline-hat a{
    color: #669933;
}

.EJEHLE03002 .headline-hat a:hover{
    color: #669933;
}

.EJEHLE03002 .headline-title a{
    color: #333;
}

.EJEHLE03002 .headline-title a:hover{
    color: #666;
}


.EJEHLE03002 .headline-text a{

    color: #333333;
}

.EJEHLE03002 .headline-text a:hover{
    color: #666666;

}


.nave-setas .news-prev-seta.ativo {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') 10px 220px;
}

.nave-setas .news-next-seta.ativo{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') 10px 292px;
}

.nave-setas .news-next.ativo{
    border-left: 3px solid #669933;
}

.nave-setas .news-prev.ativo{
    border-right: 3px solid #669933;
}

.noticia a {
    color: #669933 !important;
    font-size: 14px;
    display: inline-block;
}

#ident-sec h2, #ident-sec h3{
    color:#669933;
}