.editor_componente .campo .label{
	text-align: left;
}
.formulario_edicao .editor_componente .titulo{
	text-align: left;	
}

.EJELIE00202 .dropListaVertical span div.textoItem{font-size:40px!important;}
.EJELIE00202 .dropListaVertical .menuEdicaoItem{height:50px!important}
.EJELIE00202 .dropListaVertical .textoItem{margin-top:5px;!important}
.EJELIE00202 .dropListaVertical span{height:50px!important}
.EJELIE00202 .dropListaVertical span button span{height:13px!important}
.EJELIE00202 .dropListaVertical > span {width: 50px;}
.EJELIE00202 .dropListaCarrossel{width: 40px; font-size: 50px;}
.EJELIE00202 .dropListaVertical{width: 50px;}
.EJELIE00202 .dropLista > span{width: 50px !important; line-height:50px !important;}
.EJELIE00202 .dropListaVertical button{top:5px !important}

#barra-conteudo #inner-resultado .empilhamento ul.empilhamento-lista li{text-align: left;}


.EJELIE00504 .ui-droppable span{
	margin-bottom: 86px;
}

.EJELIE00902 .ui-droppable span{
	margin-bottom: 86px;
}

.EJELIE02302 .dropListaVertical span div.textoItem{font-size:40px!important;}
.EJELIE02302 .dropListaVertical .menuEdicaoItem{height:50px!important}
.EJELIE02302 .dropListaVertical .textoItem{margin-top:5px;!important}
.EJELIE02302 .dropListaVertical span{height:50px!important}
.EJELIE02302 .dropListaVertical span button span{height:13px!important}
.EJELIE02302 .dropListaVertical > span {width: 50px;}
.EJELIE02302 .dropListaCarrossel{width: 40px; font-size: 50px;}
.EJELIE02302 .dropListaVertical{width: 50px;}
.EJELIE02302 .dropLista > span{width: 50px !important; line-height:50px !important;}
.EJELIE02302 .dropListaVertical button{top:5px !important}

#area8 {float: left;bottom: 58%;width: 640px;z-index: 9999;margin: 0px 0px 0px 0px;position: relative;}
#area9{float: left;bottom: 58%;width: 640px;z-index: 9999;margin: 0px 0px 0px 0px;position: relative;}
#area6{float: left;bottom: 58%;width: 640px;margin: 0px 0px 0px 0px;position: relative;}

.adunit {-moz-transition: all 0.8s ease-in-out 0s;-webkit-transition: all 0.8s ease-in-out 0s;transition: all 0.8s ease-in-out 0s;}