/**
** especial vivo
**/

.header-vivo {
	height: 156px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/header_vivo.png') no-repeat 380px 0;
	position: relative;
	z-index: 2;
}

body#edvivo {
	background: url('http://s0.ejesa.ig.com.br/img/odia/1024x768_bg_odia.jpg?v7') no-repeat center 14px;
}

body#edvivo #main,
body#edvivo #container {
	background: none;
}

.header-cidade-sem-fronteiras {
	height: 156px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/header_cidadesemfronteiras.png?v=4') no-repeat 456px 6px;
	position: relative;
	z-index: 2;
}

.header-copa-do-mundo {
	height: 156px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/header_copadomundo.png') no-repeat 386px 0px;
	position: relative;
	z-index: 2;
}

.header-jornadamundialdajuventude {
	height: 156px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/header_jornadamundialdajuventude.png') no-repeat 476px 0px;
	position: relative;
	z-index: 2;
}

.header-observatorio {
	height: 157px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/header_observatorio.png?v=4') no-repeat 480px 1px;
	position: relative;
	z-index: 2;
}

.EJETOE00206 nav .sharesite> .sharewidget,
.EJETOE00306 nav .sharesite> .sharewidget,
.EJETOE00406 nav .sharesite> .sharewidget,
.EJETOE00506 nav .sharesite> .sharewidget {
	position: relative;
	z-index: 3;
}

#label_escudo b {
	font-size:33px;
}

.vivo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 0;
}

.vivo-topo {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 0;
}

.span-border-hover span:first-child {
	z-index: 1;
}

.texto-vivo {
	background: url('http://s0.ejesa.ig.com.br/img/odia/vivolayer_texto.png') no-repeat;
	width: 56px;
	height: 25px;
}

.logo-vivo {
	background: url('http://s0.ejesa.ig.com.br/img/odia/vivolayer_logo.png') no-repeat;
	width: 98px;
	height: 50px;
}

.logo-vivo-pequeno{
	background: url('http://s0.ejesa.ig.com.br/img/odia/vivolayer_logo_pequeno.png') no-repeat;
	width: 78px;
	height: 42px;
}
/* marica 2*/
.header-marica {height: 156px;	background: url('http://s0.ejesa.ig.com.br/img/odia/estado-marica.png') no-repeat 370px 0px;	position: relative;	z-index: 2;}
.marica-nome-editoria small, .marica-nome-editoria b, .marica-nome-editoria span { 	display: block; font-family: Arial, Helvetica, sans-serif !important; position: relative;margin-top: 0px; }
.marica-nome-editoria small {	font-weight: bold; color: #fff;	font-size: 10px !important; width: 111px; height: 13px;	line-height: 10px; background: #df0000; margin: 3px 0 0 2px;text-align: center;letter-spacing:-0.08em;	padding-top: 2px; word-spacing: 0em;}
.marica-nome-editoria b {	margin: 0px;	position: relative;	font-size: 33px !important;	font-weight: bold;	line-height: 33px;	margin-top: -2px;letter-spacing: 0.08em;}
.marica-nome-editoria span {font-size: 18px !important;font-weight: normal;margin-top: -7px;	letter-spacing: -0.1em;}
/*#EJEHEA00806 .marica-nome-editoria {padding-top: 0px !important;}*/


.headline .headline-item-eye{
    font-weight: bold;
    color:#ccc;
    padding-bottom: 10px;
}
.headline .headline-item-title a{
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 7px;
    font-size: 13px;
}

.news-prev-seta.ativo {
    display: block;
    width: 60px;
    height: 72px;
    float: left;
    margin: 20px 20px 0 25px;

}

.news-prev-seta.inativo {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-galerias2.png') -9px 92px;
    display: block;
    width: 60px;
    height: 72px;
    float: left;
    margin: 20px 20px 0 25px;
}

.news-next.ativo{
    width: 360px;
    height: 110px;
    background:url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
    float: right;
    display: block;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
    position:relative;
    left: 555px;
    float:right;
}

.news-next.inativo{
    height: 110px;
    background:transparent;
    display: block;
    position:relative;
    left: 0px;
    float: right;
    width:210px;
}

.news-next-seta.ativo{
    display: block;
    width: 60px;
    height: 72px;
    float: right;
    margin: 20px 20px 0 25px;
}

.news-next-seta.inativo{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-galerias2.png') -9px -19px;
    display: block;
    width: 60px;
    height: 72px;
    float: right;
    margin: 20px 20px 0 25px;
}
#nav-esquerda{
    position:fixed;
    left:0px;
    top:200px;
    z-index:1000000;
    display:none;
}
#nav-direita{
    position:fixed;
    right:0px;
    top:200px;
    z-index:1000000;
    display:none;
}​

#nav-esquerda a, #nav-direita a{
    text-decoration:none;
}
#nav-esquerda cite, #nav-direita cite{
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    padding: 0 10px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Source Sans Pro', Helvetica, Arial ,sans-serif;
    color:#ccc;
}
#nav-direita a.next div#EJENEA01008HLN{
    right:0px;
}
#nav-esquerda .box-pn, #nav-direita .box-pn{
    width: 360px;
    height: 110px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top:-7px;
}
#nav-direita, #nav-esquerda {
    display: block;
    width: 50px;
    height: 90px;
    overflow: hidden;
}
#nav-direita:hover, #nav-esquerda:hover {
    display: block;
    width: 360px;
    height: 113px;
}
#nav-direita .element, #nav-esquerda .element {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
#nav-direita:hover .element, #nav-esquerda:hover .element {
    display: none;
}
#nav-esquerda .box-pn, #nav-direita .box-pn {
    display: inline-block;
    vertical-align: top;
}
​ #nav-esquerda a, #nav-direita a {
    position: relative;
}
#nav-esquerda a.prev div#EJENEA01008HLP {
    left: -360px;
    margin: 0px;
    position: relative;
    transition: all ease-out 0.2s;
    padding: 20px;
    box-sizing: border-box;
}
#nav-direita a.next div#EJENEA01008HLN {
    right: -360px;
    margin: 0px;
    position: relative;
    transition: all ease-out 0.2s;
    padding: 20px;
    box-sizing: border-box;
}
#nav-direita:hover a.next div#EJENEA01008HLN  {
    right: 0px;
}
#nav-esquerda:hover a.prev div#EJENEA01008HLP  {
    left: 0px;
}