
.EJELIE00102 ul li .headline-eye a{
    color: #DF0000;
}

.EJELIE00102 ul li .headline-eye a:hover{
    color: #DF0000;
}

.EJELIE00102 .headline-title a{
    color: #333333;
}

.EJELIE00102 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00102 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00102 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00102 .headline-title a{
    color: #333333;
}

.EJEHLE00102 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02204 .headline-title a{
    color: #333333;
}

.EJEHLE02204 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02204 .headline-hat a{
    color: #DF0000;
}

.EJEHLE02204 .headline-hat a:hover{
    color: #DF0000;
}

.EJELIE00202 .carousel-eye a{
    color: #DF0000;
}

.EJELIE00202 .carousel-eye a:hover{
    color: #DF0000;
}

.EJELIE00202 .carousel-title a{
    color: #333333;
}

.EJELIE00202 .carousel-title a:hover{
    color: #666666;
}

.EJELIE00702 .carousel-preview{
    background-color: #996699;
}

.EJELIE00702 .headline .box-hat {
    color: #fff;
}

.EJELIE00702 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFF;
}

.EJELIE00702 .headline .box-title .headline-title .back {
    background-color: #000;
    color: #000;
}

.EJELIE00702 a:hover .box-title .headline-title .back {
    background-color:#181717;
    color:#181717;
}

.EJELIE00702 .headline .box-title .headline-title .front {
    color: #fff;
}

.EJELIE00702 a:hover {
    background-color: #3b3b3b;
}

.EJEHLE01501 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-hat  .headline-hat {
    background-color: #DF0000;
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE01501 a{
    background-color: #333333;
}

.EJEHLE00202 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00202 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00202 .headline-title a{
    color: #333333;
}

.EJEHLE00202 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00301 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00301 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00301 .headline-title a{
    color: #333333;
}

.EJEHLE00301 .headline-title a:hover{
    color: #666666;
}

.EJELIE00402 .headline-hat a{
    color: #DF0000;
}

.EJELIE00402 .headline-hat a:hover{
    color: #DF0000;
}

.EJELIE00402 .headline-title a{
    color: #333333;
}

.EJELIE00402 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00402 .headline-title a{
    color: #333333;
}

.EJEHLE00402 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00402 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00402 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00502 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00502 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00502 .headline-title a{
    color: #333333;
}

.EJEHLE00502 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00502 .headline-eye a{
    color: #333333;
}

.EJEHLE00502 .headline-eye a:hover{
    color: #666666;
}

.EJEHLE00602 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE00602 .headline .box-hat  .headline-hat {
    background-color: #DF0000;
    color: #FFFFFF;
}

.EJEHLE00602 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJELIE00302 .headline-hat{
    color: #DF0000;
}

.EJELIE00302 .headline-hat a{
    color: #DF0000;
}

.EJELIE00302 .headline-hat a:hover{
    color: #DF0000;
}

.EJELIE00302 .headline-title a{
    color: #333333;
}

.EJELIE00302 .headline-title a:hover{
    color: #666666;
}

.EJELIE00504{
    background: #F0F0F0;
}

.EJELIE00504 .carousel-options{
    background: #FFFFFF;
}

.EJELIE00504 .carousel-plus a{
    color:#DF0000;
}


.EJELIE00504 .carousel-plus a:hover{
    color:#DF0000;
}

.EJELIE00504 .carousel-menu ul li{
    background: #f0f0f0;
}

.EJELIE00504 .carousel-menu ul li a{
    color:#333333;
}

.EJELIE00504 .carousel-menu ul li a:hover{
    color:#666666;
}

.EJELIE00504 .carousel-title a{
    background: #333333;
    color: #FFFFFF;
}

.EJELIE00504 .carousel-title a:hover{
    background: #333333;
    color: #FFFFFF;
}


.EJELIE00602 .headline-hat a{
    color: #DF0000;
}

.EJELIE00602 .headline-hat a:hover{
    color: #DF0000;
}

.EJELIE00602 .headline-title a{
    color: #333333;
}

.EJELIE00602 .headline-title a:hover{
    color: #666666;
}
.EJEHLE00702 .headline-title a{
    color: #333333;
}

.EJEHLE00702 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00702 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00702 .headline-hat a:hover{
    color: #DF0000;
}

#EJEHLE00802 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE00802 .headline .box-hat  .headline-hat {
    background-color: #DF0000;
    color: #FFFFFF;
}

#EJEHLE00902 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE00902 .headline .box-hat  .headline-hat {
    background-color: #DF0000;
    color: #FFFFFF;
}

#EJEHLE00902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

#EJEHLE00902 a {
    background-color: #333333;
}

#EJEHLE00902 a:hover {
    background-color: #666666;
}

#EJEHLE01001 .headline{
    background-color: #DF0000;
}

#EJEHLE01001 .headline .headline-hat a{
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-title a{
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-hat a:hover{
    color: #FFFFFF;
}

#EJEHLE01001 .headline .headline-title a:hover {
    color:#FFFFFF;
}

#EJEHLE01102 .headline{
    background-color: #DF0000;
}

#EJEHLE01102 .headline .headline-hat{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-hat a{
    color: #FFFFFF;
}

#EJEHLE01102 .headline .headline-hat a:hover{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title a{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title a:hover{
    color:#FFFFFF;
}

.EJEHLE001202 .headline-hat a{
    color: #DF0000;
}

.EJEHLE001202 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE001202 .headline-title a{
    color: #333333;
}

.EJEHLE001202 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01301 .headline-hat a{
    color: #DF0000;
}

.EJEHLE01301 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE01301 .headline-title a{
    color: #333333;
}

.EJEHLE01301 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402 .headline-hat a{
    color: #DF0000;
}

.EJEHLE01402 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE01402 .headline-title a{
    color: #333333;
}

.EJEHLE01402 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402 .headline-text a{
    color: #333333;
}

.EJEHLE01402 .headline-text a:hover{
    color: #999999;
}

#sectionname{
    color: #DF0000;
}

.EJETOA00506{
    color: #df0000;
}

.EJETOA00506 ul li:first-child a{
    color: #646464;
}

.EJETOA00506 ul li a{
    color: #df0000;
}

.EJENEE00404{
    color: #df0000;
}

.EJENEA00404{
    color: #df0000;
}

.EJENEA00404 ul li a{
    color: #df0000;
}

.EJENEE00704 .title{
    color: #df0000;
}

.EJELIA00106 .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/red_arrow.png');
}

.EJELIA00106 > ul > li:hover .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/grey_arrow.png');
}

.EJELIA00106 .headline-filter{
    background-color:#df0000;
    color:#fff;
}


.EJELIA00106 > ul > li:hover .headline-filter{
   background-color:#666;
}

.EJELIA00106 > ul > li:hover .span-border-hover span:first-child{
    color:#666;
}

.EJELIA00106 .headline-date{
    color:#999999;
}

.EJELIA00106 .headline-eye{
    color:#646464;
}

.EJELIA00106 .headline-eye a{
    color:#646464;
}

.EJELIA00106 .headline-title{
    color: #333333;
}

.EJELIA00106 > ul > li:hover .headline-title{
    color: #666;
}
.EJELIA00106 .headline-title a{
    color: #333333;
}

.EJELIA00106 > ul > li:hover .headline-title a{
    color: #666;
}

.EJELIA00106 .list-header-search {
    border-top:1px solid #df0000;
}

.EJELIA00106 .list-header-search #span-title1{
    color:#999999;
}

.EJELIA00106 .list-header-search #span-title2{
    color:#df0000;
}

.EJELIA00106 .list-header-search .toptitle{
    color:#df0000;
}

.EJELIA00106 .list-header-search .topborder{
    background-color:#df0000;
}

.EJELIE01102 .headline-hat{
    color: #df0000;
}

.EJELIE01102 .headline-title a{
    color: #333333;
}

.EJELIE01102 .headline-title a:hover{
   color: #666666;
}


#EJEHLE01902 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE01902 .headline .box-hat  .headline-hat {
    background-color: #DF0000;
    color: #FFFFFF;
}

#EJEHLE01902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

#EJEHLE01902 a {
    background-color: #333333;
}

#EJEHLE01902 a:hover {
    background-color: #666666;
}

.EJETOA01206 #subeditoria-nome-noticia{
    color: #DF0000;
}

.EJETOA01206 #subeditoria-nome-diversao{
    color: #996699;
}

.EJETOA01206 #subeditoria-nome-esporte{
    color: #669933;
}


.EJETOA01206 .fim{
    color: #DF0000;
}

.EJETOA01206 .inicio{
    color: #999;
}

.EJETOA01206 .cabecalho-borda{
    background-color: #DF0000;
}

.EJETOA01206 .icone > a:hover{
    color: #DF0000;
}

.EJETOA01206 .icone a{
    color:#999;
}



.EJETOA01106 .fim{
    color: #DF0000;
}

.EJETOA01106 .inicio{
    color: #999;
}

.EJETOA01106 .cabecalho-borda{
    background-color: #DF0000;
}

.EJETOA01106 .icone > a:hover{
    color: #DF0000;
}

.EJETOA01206 .editoria-noticia-cabecalho{
    border-top:1px solid #DF0000;
 }

.EJETOA00906 .icone a{
    color:#999;
}

.EJETOA00906 .icone > a:hover{
    color: #996699;
}

.EJETOA00906 .cabecalho-borda{
    background-color: #996699;
}

.EJETOA00906 .inicio{
    color: #999;
}

.EJETOA00906 .fim{
    color: #996699;
}

.EJETOA01006 .icone a{
    color:#999;
}

.EJETOA01006 .icone > a:hover{
    color: #669933;
}

.EJETOA01006 .cabecalho-borda{
    background-color: #669933;
}

.EJETOA01006 .inicio{
    color: #999;
}

.EJETOA01006 .fim{
    color: #669933;
}

.EJETOA01106 .icone a{
    color:#999;
}

.EJELIA00302 .news-menu{
    border-bottom:5px solid #df0000;
}

.EJELIA00302 .news-menu ul li{
    background: #df0000;
}


.EJELIA00302 .news-menu ul li a{
    color:#FFF;
}

.EJELIA00302 .headline .headline-item-eye{
    color:#df0000;
}


.EJELIA00302 .headline .headline-item-title a{
    color:#333333;
}

/**/

.EJELIA00302 .headline .headline-title a{
    font-size: 12px;
    font-weight: bold;
    color: #c00000;
    text-decoration: none;
}

.EJELIA00302 .headline .headline-title a:hover{
    color: #333;
}


.EJELIA00402 .carousel-eye a{
    color: #DF0000;
}

.EJELIA00402 .carousel-eye a:hover{
    color: #DF0000;
}

.EJELIA00402 .carousel-title a{
    color: #333333;
}

.EJELIA00402 .carousel-title a:hover{
    color: #666666;
}

.EJEHLE01602 .headline-hat a{
    color: #df0000;
}

.EJEHLE01602 .headline-title a{
    color: #333333;
}

.EJEHLE01602 .headline-title a:hover{
    color: #666666;
}



.EJEHLE01804 .headline-hat a{
    color: #ffffff;
}

.EJEHLE01804 .headline-hat a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a:hover{
    color: #ffffff;
}




.EJEHLE02104 .headline-hat a {
    color: #DF0000;
}

.EJEHLE02104 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE02104 .headline-title a {
    color: #333333;
}

.EJEHLE02104 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02104 .headline-text a {
    color: #333333;
}

.EJEHLE02104 .headline-text a:hover{
    color: #666666;
}


.EJEHLE02202 .headline-hat a {
    color: #DF0000;
}

.EJEHLE02202 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE02202 .headline-title a {
    color: #333333;
}
.EJEHLE02202 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02202 .headline-text a {
    color: #333333;
}
.EJEHLE02202 .headline-text a:hover{
    color: #666666;
}

.bgsection{
    background: #df0000 !important;
    color: #f0f0f0 !important;
}

.bgoff{
    background: #f0f0f0 !important;
    color: #b2b2b2 !important;
}

.border-section{
    border-color: #df0000 !important;
}

.EJELIE00504 .nav_on{
    border-color: #df0000;
}

.EJELIE00504 .nav_off{
    border-color: #f0f0f0;
}



.EJEHLE00301 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00301 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE00102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00102 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE00402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00402 .headline:hover .headline-title a{
   color:#666;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01202 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01402 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01402 .headline:hover .headline-text a{
    color:#666;
}

.EJEHLE02902 .headline .headline-title a{
    color:#ca0000;
}

.EJEHLE02902 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE02902 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01602 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01602 .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE02202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE02202 .headline:hover .headline-title a{
    color:#666;
}
.EJELIE01102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJELIE01102 .headline:hover .headline-title a{
    color:#666;
}
.EJEHLE02104 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE02104 .headline:hover .headline-title a{
    color:#666;
}

#conteudo div.tags span { color:#df0000;}
#conteudo div.tags span.lista-tags {color:#414141;}

.EJENEA00504 .news-hat .text {color:#df0000;}

.EJENEA00604 .comment span {color:#df0000;}

.EJENEA00604 #send-comment {border: 1px solid #df0000; background:#df0000;}

.EJENEA00604 .field-post-comment .autor-comment {color:#df0000; }

.EJENEA00604 .field-post-comment .time-comment {color:#df0000; }



.EJELIE01504{
    background: #F0F0F0;
}

.EJELIE01504 .carousel-options{
    background: #FFFFFF;
	border-bottom:5px solid #df0000;
}

.EJELIE01504 .nav_on {
	border: 4px solid #df0000;
}

.EJELIE01504 .carousel-plus a{
    color:#DF0000;
}


.EJELIE01504 .carousel-plus a:hover{
    color:#DF0000;
}

.EJELIE01504 .carousel-menu ul li{
    background: #DF0000;
}

.EJELIE01504 .carousel-menu ul li a{
    color:#fff;
}

.EJELIE01504 .carousel-title a{
    background: #333333;
    color: #FFFFFF;
}

.EJELIE01504 .carousel-title a:hover{
    background: #333333;
    color: #FFFFFF;
}

.EJETOE01104 .content{
    color:#777;
 }

.EJETOE01104 .galleria-thumbnails-container {
    /*background-color: #dfdfdf;
	position: absolute;
	top: 464px;
	padding: 10px 12px;*/
}

.EJETOE01104 .galleria-thumbnails .galleria-image {
    background: #000;
    border: 1px solid #000;
 }
.EJETOE01104 .notouch .galleria-image-nav-left:hover,
.EJETOE01104 .notouch .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.EJETOE01104 .touch .galleria-image-nav-left:active,
.EJETOE01104 .touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.EJETOE01104 .galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.EJETOE01104 .notouch .galleria-thumb-nav-left:hover,
.EJETOE01104 .notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.EJETOE01104 .touch .galleria-thumb-nav-left:active,
.EJETOE01104 .touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.EJETOE01104 .notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.EJETOE01104 .header{
    background:url("http://s0.ejesa.ig.com.br/img/odia/bg_product.png") repeat;
    border-top: 1px solid #cc0000;
 }

.EJETOE01104 .header-top{
    background-color: #cc0000;
}

.EJETOE01104 .header-text-top{
    color: #000000;
}
.EJETOE01104 .header-text-bottom{
    color: #000000;
 }

.EJELIA00602 .news-menu{
    border-bottom:5px solid #df0000;
}

.EJELIA00602 .news-menu ul li.ativo{
    background: #df0000;
}

.EJELIA00602 .news-menu ul li.ativo a{
    color:#FFF;
}

.EJELIA00602 .news-menu ul li.inativo{
    background: #f0f0f0;
}

.EJELIA00602 .news-menu ul li.inativo a{
    color:#b2b2b2;
}

.EJELIA00602 .headline .headline-title a{
    color:#cc0000;

}

.EJELIA00602 .headline .headline-title a:hover{
    color:#666;
}


.EJELIA00602 .headline .headline-item-eye{
    color:#df0000;
}


.EJELIA00602 .headline .headline-item-title a{
    color:#333333;
}

.EJELIA00602 .headline .headline-item-title a:hover{
    color:#666666;
}


.EJELIE01602 .headline-hat a{
    color: #CC0000;
}

.EJELIE01602 .headline-title a{
    color: #333;
}

.EJELIE01602 .headline-title a:hover{
    color: #666;
}

.EJELIE01702 .headline .headline-hat a{
    color: #cc0000;
}

.EJELIE01702 .headline:hover .headline-text a{
    opacity: 1;
    color:#666;

}
.EJELIE01702 .headline .headline-title a{
    color: #333;
}

.EJELIE01702 .headline .headline-title a:hover{
    color: #666;
}

.EJELIE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}


.EJEHLE01702 .headline .headline-hat a:hover{
    color: #DF0000;
}


.EJEHLE01702 .headline:hover .headline-title a{
    color:#666;
}

.EJETOE00202 .product-info .product-title a{
    color: #999;

}

.EJETOE00202 .product-info .product-text a{
    color: #999;
}

.EJETOE01004 .galeria-foto-header{
    border-top: 1px solid #cc0000;
}

.EJETOE01004 .galeria-foto-header-top{
    background-color: #cc0000;
}

.EJETOE01004 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01004 .galeria-foto-header-name .right{
    color: #cc0000;
}

.EJETOE01004 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(204, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);

}

.EJETOE01004 .layer-texto {
    color: #FFFFFF;
}


.EJEHLE00000 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00000 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00000 .headline-title a{
    color: #333333;
}

.EJEHLE00000 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00000 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00000 .headline:hover .headline-title a{
    color:#666;
}



.EJEHLE00001 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00001 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00001 .headline-title a{
    color: #333333;
}

.EJEHLE00001 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00001 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00001 .headline:hover .headline-title a{
    color:#666;
}



.EJEHLE00002 .headline-hat a{
    color: #DF0000;
}

.EJEHLE00002 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00002 .headline-title a{
    color: #333333;
}

.EJEHLE00002 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00002 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE00002 .headline:hover .headline-title a{
    color:#666;
}


.EJENEE01004 .galleria-thumb-nav-left{
    background-image: url('http://s0.ejesa.ig.com.br/img/odia/sprite-setas-galerias-materias.png');
    background-repeat: no-repeat;
    background-position: 0 0px; width: 40px; height: 70px;
}

.EJENEE01004 .galleria-thumb-nav-right{
    background-image: url('http://s0.ejesa.ig.com.br/img/odia/sprite-setas-galerias-materias.png');
    background-repeat: no-repeat;
    background-position: 0 -72px; width: 40px; height: 70px;
}

.EJELIE01504 .carousel-display ul li:hover {
    border: 4px solid #cc0000;
}

.EJELIE02002 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJELIE02002 .headline:hover .headline-title a{
    color:#666;
}


.EJEHLE02401 .headline-hat a{
    color: #DF0000;
}

.EJEHLE02401 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE02401 .headline-title a{
    color: #333333;
}

.EJEHLE02401 .headline-title a:hover{
    color: #666666;
}

.EJEHLE02401 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.EJEHLE02401 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}

.EJEHLE02401 .headline:hover .headline-title a{
    color:#666;
}


.EJEHLE02501 .headline-hat a{
    color: #DF0000;
}

.EJEHLE02501 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE02501 .headline-title a{
    color: #333333;
}

.EJEHLE02501 .headline-title a:hover{
    color: #666666;
}


.EJEHLE02501 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.EJEHLE02501 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}

.EJEHLE02501 .headline:hover .headline-title a{
    color:#666;
}


.EJEHLE02602 .headline-hat a{
    color: #DF0000;
}

.EJEHLE02602 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE02602 .headline-title a{
    color: #333333;
}

.EJEHLE02602 .headline-title a:hover{
    color: #666666;
}
.EJEHLE02602 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}

.EJEHLE02602 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 00);
}

.EJEHLE02602 .headline:hover .headline-title a{
    color:#666;
}

.EJETOE01304 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(204, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);

}

.EJETOE01304 .galeria-foto-header{
    border-top: 1px solid #cc0000;
}

.EJETOE01304 .galeria-foto-header-top{
    background-color: #cc0000;
}

.EJETOE01304 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01304 .galeria-foto-header-name .right{
    color: #cc0000;
}


.EJETOE01406 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/red_arrow.png') no-repeat -12px;
}

.EJETOE01406 .destaque-seta-cor{
    background-color: #DF0000;
}

.EJETOE01406 .destaque-lista ul li a{
    color: #DF0000;
}


.EJETOE00001 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/red_arrow.png') no-repeat -12px;
}

.EJETOE00001 .destaque-seta-cor{
    background-color: #DF0000;
}

.EJETOE00001 .destaque-lista ul li a{
    color: #DF0000;
}


.EJELIE02204 .titulo{
    color:#333333;
}

.EJELIE02204 .chapeu{
    color:#cc0000;
}

.EJELIE02204 .texto{
    color:#333333;
}

.EJELIE02204 .galeria .txt {
    color:#333333;
}

.EJELIE02204 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #cc0000 50%, #cc0000 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #cc0000 50%, #cc0000 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #cc0000 50%, #cc0000 100%);
}

.EJEHLE02802 .headline .headline-hat a{
    color:#cc0000;
}

.EJEHLE02802 .headline .headline-title a{
    color:#333;
}

.EJEHLE02802 .headline .headline-title a:hover{
    color:#666;
}

.EJEHLE02802 .headline .headline-eye a{
    color:#333;
}

.EJEHLE02802 .headline .headline-eye a:hover{
    color:#666;
}


.EJEHLE02704 .headline-hat a{
    color: #CC0000;
}

.EJEHLE02704 .headline-hat a:hover{
    color: #cc0000;

}

.EJEHLE02704 .headline-title a{
    color: #333;
}

.EJEHLE02704 .headline-title a:hover{
    color: #666;

}

.EJEHLE02704 .headline-text a{
    color: #333;
}

.EJEHLE02704 .headline-text a:hover{
    color: #666;

}



.EJEHLE02804 .headline-hat a{
    color: #CC0000;
}

.EJEHLE02804 .headline-hat a:hover{
    color: #cc0000;

}

.EJEHLE02804 .headline-title a{
    color: #333;
}

.EJEHLE02804 .headline-title a:hover{
    color: #666;

}




.EJELIE02404 #carrossel ul#small li span,#carrossel ul#small li span.hover{
    border:4px solid #cc0000;
}


.EJELIE02404 #carrossel ul#small li span, #carrossel ul#small li  img:hover{
    border:4px solid #cc0000;
}

.EJELIE02404 .carrossel-options{
    background: #FFF;
    border-bottom: 5px solid #cc0000;
}
.EJELIE02404 .carrossel-menu ul li {
    background: #cc0000;
}



.EJELIE02204x .titulo{
    color:#333333;
}

.EJELIE02204x .chapeu{
    color:#cc0000;
}

.EJELIE02204x .texto{
    color:#333333;
}

.EJELIE02204x .galeria .txt {
    color:#333333;
}

.EJELIE02204x #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204x .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #cc0000 50%, #cc0000 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #cc0000 50%, #cc0000 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #cc0000 50%, #cc0000 100%);
}


.EJELIE01702x .headline .headline-hat a{
    color: #cc0000;
}

.EJEHLE01702x .headline .headline-hat a:hover{
    color: #DF0000;
}

.EJELIE01702x .headline .headline-title a{
    color: #333;
}

.EJELIE01702x .headline .headline-title a:hover{
    color: #666;
}

.EJELIE01702x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01702x .headline:hover .headline-title a{
    color:#666;
}


.EJEHLE00202x .headline-hat a{
    color: #DF0000;
}

.EJEHLE00202x .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE00202x .headline-title a{
    color: #333333;
}

.EJEHLE00202x .headline-title a:hover{
    color: #666666;
}



.EJEHLE01402x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#666;
}

.EJEHLE01402x .headline:hover .headline-title a{
    color:#666;
}

.EJEHLE01402x .headline:hover .headline-text a{
    color:#666;
}

.EJEHLE01402x .headline-hat a{
    color: #DF0000;
}

.EJEHLE01402x .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE01402x .headline-title a{
    color: #333333;
}

.EJEHLE01402x .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402x .headline-text a{
    color: #333333;
}

.EJEHLE01402x .headline-text a:hover{
    color: #999999;
}



.EJEHLE03001 .headline-hat a{
    color: #DF0000;
}

.EJEHLE03001 .headline-hat a:hover{
    color: #DF0000;
}

.EJEHLE03001 .headline-title a{
    color: #333333;
}

.EJEHLE03001 .headline-title a:hover{
    color: #666666;
}

.EJEHLE03001 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.EJEHLE03001 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}

.EJEHLE03001 .headline:hover .headline-title a{
    color:#666;


}



.EJELIE02702 .headline .headline-hat a{
    color: #cc0000;
}

.EJELIE02702 .headline:hover .headline-text a{
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;

}
.EJELIE02702 .headline .headline-title a{
    color: #333;
}

.EJELIE02702 .headline .headline-title a:hover{
    color: #666;
}

.EJELIE02702 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#666;
}


.EJELIE02802 .headline-hat a{
    color: #CC0000;
}

.EJELIE02802 .headline-title a{
    color: #333;
}

.EJELIE02802 .headline-title a:hover{
    color: #666;
}


.nave-setas .news-prev-seta.ativo {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') 10px 315px;
}

.nave-setas .news-next-seta.ativo{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') 10px 388px;
}

.nave-setas .news-next.ativo{
    border-left: 3px solid #cc0000;
}

.nave-setas .news-prev.ativo{
    border-right: 3px solid #cc0000;
}

.noticia a {
    color: #DF0000 !important;
    font-size: 14px;
    display: inline-block;
}

#ident-sec h2, #ident-sec h3{
    color:#DF0000;
}
body.eleicoes2014 nav#main-nav #indent-menu #ident-sec h2:after {
    background: url(http://s0.ejesa.ig.com.br/img/odia/capas/eleicoes.png) no-repeat 60px 1px;
}
