body{
	background:#dedede;
	color:#303030;
	font:12px arial,helvetica;
	text-align:center; /* hack para o IE */
	margin:0px;
	padding:0px;
	}

ol,ul {
	list-style: none;
}


#main{
	float:left;
	width:100%;
	text-align:left; /* "remédio" para o hack do IE */ 
}	

#container{
	float:left;
	background:#FFF;
	position:relative;
	width:100%;
	}

#igbar{
	float:left;
	width:100%;
	}

header{
	float:left;
	border-top:6px solid #303030;
	background: #FFFFFF;
	height:95px;
	width:100%;
	}

#header-p1{
	float:left;
	height:95px;
	width:100%;
	}


.kernel{
	margin:0 auto;
	width:940px;
	}

#logo{
	float:left;
	width:126px;
	height:40px;
	margin-top:25px;
}

#navigation{
	/* border:1px dotted #000;*/
	float:left;
	width:100%;
	}

#content{
	/* border:1px dotted #000;*/
	margin:0 auto;
	width:940px;
	}



#area6{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#area7{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}


.EJENEE00104{
	float: left;
	width: 640px;
}

.EJENEE00104 article{
	float: left;
	margin-right: 20px;
	width: 620px;
}

#update{
	color: #646464;
	float: left;
	font-size: 11px;
	width: 620px;
}

#credit{
	color: #333333;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
	width: 620px;
}

.EJENEE00104 h1{
	color: #303030;
	font-size: 34px;
	font-weight: bold;
	line-height: 36px;
}

.EJENEE00104 h2{
	color: #646464;
	font-size: 24px;
	font-weight: normal;
	line-height: 26px;
}

#text{
	color: #303030;
	font-size: 14px;
	line-height: 18px;
}

/* Noticia */
.noticia-header h1 {font:bold 32px/36px arial;margin-bottom:10px}
.noticia-header h2 {font:16px/20px arial;margin-bottom:16px;color:#666666}
.noticia-header .barra-superior {clear:both;height:21px;margin-bottom:10px}
.noticia-header .barra-superior p {color:#EEEEEE;float:left;font:12px/21px arial !important}
.noticia-header .barra-superior p strong,.noticia-header .barra-superior p span#authors-box {color:#333;font:bold 12px arial !important}
.noticia-header .barra-superior p time {color:#333;font:12px arial !important}

/*NOTICIA - BARRA SUPERIOR*/
.noticia .barra-superior{clear:both;margin-bottom:15px;height:21px;}
.noticia .barra-superior p{float:left;font:12px/21px arial!important;color:#eee}
.noticia .barra-superior p strong{font:bold 12px arial!important;color:#666}
.noticia .barra-superior p cite{font:12px arial!important;color:#666}
.noticia .barra-superior ul{float:right}
.noticia .barra-superior ul li{float:left;font:12px/21px arial;color:#666}
.noticia .barra-superior ul li a{float:left;display:inline;padding:0 4px;}
.noticia .barra-superior ul li a span{font:12px arial;color:#666}

div.tags{
	display:block;
    margin-bottom: 12px;
    padding: 40px 0 7px;
	border-bottom:1px solid #dfdfdf;
	width:620px;
}

div.tags span{color: #ACADAD; font-weight:normal; font-size:18px; margin-right:5px;}
div.tags span.lista-tags {color:#414141 !important; font-size:12px;}
div.tags a {font-weight:bold; color:#414141; font-size:12px;}
div.tags a:hover {color:#666;}


#conteudo .share-tools {
	height:49px;
}

.EJENEA00204{
	float:left;
	width:640px;
}

.EJENEA00204 .toolsbar{
	background: #f5f5f5;
	border-bottom: 1px solid #dfdfdf;
	float: left;
	height: 31px;
	width: 605px;
	padding: 0px 5px 0px 10px;
	margin-top:17px;
}

.EJENEA00204 .tools-font-lessen{
	float: left;
	margin:6px 1px 0px 1px;
	width:26px;
	cursor:pointer;
}

.EJENEA00204 .tools-font-plus{
	float: left;
	margin:6px 1px 0px 1px;
	width:26px;
	cursor:pointer;
}

.EJENEA00204 .tools-print{
	float: left;
	margin:6px 1px 0px 1px;
	width:26px;
	cursor:pointer;
}

.EJENEA00204 .tools-comments{
	float: left;
	margin:6px 1px 0px 1px;
	width:26px;
	cursor:pointer;
}

.EJENEA00204 .tools-face{
	float: left;
	margin:6px 1px 0px 1px;
	width:130px;
}

.EJENEA00204 .tools-gplus{
	float: left;
	margin:6px 1px 0px 1px;
	width:75px;
}

.EJENEA00204 .tools-twiter{
	float: left;	
	margin:6px 1px 0px 1px;
	width:90px;
}

.EJENEA00204 .middlebar{
	float: left;
	margin:6px 1px 0px 1px;
	width:190px;
}

#conteudo{
	float: left;
	width: 640px;	
}
#conteudo .noticia-header h1{
	color: #303030;
	font-size: 34px;
	font-weight: bold;
	line-height: 36px;
}
#conteudo .noticia-header h2{
	color: #646464;
	font-size: 24px;
	font-weight: normal;
	line-height: 26px;
}

#conteudo .noticia-header {
	margin-right:20px;
}


#conteudo #noticia{
	float: left;
	margin-right: 20px;
	width: 620px;
	color: #303030;
	font-size: 14px;
	line-height: 18px;
}

.EJENEE00404{
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 20px;
	width: 620px;
	text-transform: uppercase;
	color: #333333;
}

#conteudo div.tags span { color:#df0000;}

.EJENEA00404{
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
	width: 940px;
	border-bottom: 2px solid #999999;
	padding-bottom: 5px;
	color: #333333;
}

.EJENEA00404 ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.EJENEA00404 ul li{
	display:inline;
}

.EJENEA00404 ul li.bcnav:first-child {
	font-weight:normal;
	color:#646464 !important;
}

.EJENEA00404 ul li.bcnav:first-child span {
	display:none;
}

.EJENEA00404 ul li:first-child a{
	color: #646464;
	text-decoration: none;
}

.EJENEA00404 ul li a{
	text-decoration: none;
	color: #333333;
}


.EJENEA00304{
	margin-top: 30px;
	margin-bottom: 20px;
	float: left;	
}

.EJENEA00304 #dataHTML{
	color: #646464;
	float: left;
	font-size: 11px;
	width: 620px;	
}

#tinymce{
	background: #FFF !important;
	text-align: left !important;
	font-size: 14px !important;
}

.EJENEE00504{
	margin: 0px;
	padding: 0px;
	width: 620px;
	height: 415px;
	float: left;
	margin-top: 20px;	
	margin-bottom: 20px;
}

.EJENEE00504 figcaption{
	bottom: 0px;
	position: absolute;
	width: 100%;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	opacity:0.80;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.EJENEE00504 figcaption cite,
.EJENEE00604 figcaption cite {
	color:#cccccc;
	font-size:11px;
	margin-left: 15px;
	font-weight: normal;
	font-style: normal;
	line-height:12px
}


.EJENEE00504 figcaption div{
	width: 600px;
	padding-left: 15px;
	padding-right: 5px;
}

.EJENEE00504 figcaption div.legenda,
.EJENEE00604 figcaption div.legenda {
	color:#FFF;
	font-size:12px;
	line-height:15px;
}

.EJENEE00504 figcaption div a{
	color:#FFF;
	size:12px;	
	text-decoration: none;
}


.EJENEE00604{
	margin: 0px;
	padding: 0px;
	width: 300px;
	height: 415px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;	
	margin-bottom: 20px;
}

.EJENEE00604 figcaption{
	bottom: 0px;
	position: absolute;
	width: 100%;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	opacity:0.80;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.EJENEE00604 figcaption cite{
	color:#FFF;
	size:11px;
	margin-left: 15px;
	font-weight: normal;
	font-style: normal;
}

.EJENEE00604 figcaption div{
	width: 280px;
	padding-left: 15px;
	padding-right: 5px;
}

.EJENEE00604 figcaption div a{
	color:#FFF;
	size:12px;	
	text-decoration: none;
}

.EJENEE00704{
	padding: 0px;
	width: 620px;
	float: left;
	margin-top: 20px;	
	margin-bottom: 20px;
}

.EJENEE00704 .title{
	padding: 0px;
	width: 620px;
	font-size:20px;
	font-weight: bold;
	float: left;
	margin-bottom: 15px;
	padding-top: 15px;
	border-top: 3px solid #999999;
}

.EJENEE00704 .componente-embed{
	margin: 0px;
	padding: 0px;
	width: 620px;
	float: left;
}

.EJENEE00802{
	float:left; 
	margin:0px 20px 20px 0px; 
	width:300px;
	color:#999999;
}

.EJENEE00802 span{
	float:left;
	display:block;
	width:255px;
	font:normal 12px Arial;
	font-style: italic;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #999999
}

.EJENEE00802 quote{
	float:left;
	width:255px;
	font:normal 20px Arial;
	font-style: italic;
	margin-top: 15px; 
}

.EJENEA00504{
	width: 640px;
	height: auto;
	margin: 15px 0px 15px 0px;
	background-color: #fff;
	float: left;
}

.EJENEA00504 ul{
	float: left;
	margin: 0px;
	padding: 0px;
}

.EJENEA00504 ul li{
	float: left;
	width: 140px;
	margin: 15px 20px 15px 0px;
	display:inline;
}

.EJENEA00504 .headline{
	width: 140px;
	height: 140px;
	float: left;
}

.EJENEA00504 .headline-img{
	float: left;
}


.EJENEA00504 .headline-img img{
	width: 140px;
	height: 90px;
}

.EJENEA00504 .headline-eye{
	width: 140px;
	height: 40px;
	margin-bottom: 15px;
}
.EJENEA00504 .headline-eye a{
	text-decoration: none;
	font-size: 12px;
	font-family: Arial;
	color: #333;
}

.EJENEA00504 .headline-hat a:hover{
	text-decoration: none;
	color: #333;
}

.EJENEA00504 .headline-title{
	width: 140px;
	margin-bottom: 15px;
}

.EJENEA00504 .headline-title a{
	text-decoration: none;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #333;
}

.EJENEA00504 .headline-title a:hover{
	text-decoration: none;
	color: #333;
}

.EJENEA00504 .news-hat{
	background-color: #f5f5f5;
	float: left;
	height: 35px;
	width: 620px;
	margin: 15px 20px 15px 0px;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
}
.EJENEA00504 .news-hat .text{
	color: #333333;
	font-size: 18px;
	font-family: Arial;
	display: block;
	position: relative;
	padding: 7px 0px 6px 10px;
}

.EJENEA00604{
	float: left;
	margin: 15px 20px 15px 0px;
	width: 620px;
}

.EJENEA00604 .comment{
	background: #f5f5f5;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
	float: left;
	height: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 7px 10px 8px 10px;
	width: 600px;
}

.EJENEA00604 .form-comment{
	background: #f5f5f5;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 10px 10px 0px 10px;
	width: 600px;
}

.EJENEA00604 .photo-comment{
	float: left;
	height: 80px;
	width: 50px;
}

.EJENEA00604 .photo-comment img{
	float: left;
	height: 50px;
	width: 50px;
}

.EJENEA00604 .field-comment{
	float: left;
	height: 50px;
	width: 540px;
	margin: 0px 0px 5px 10px;
}

.EJENEA00604 .field-comment textarea{
	border: 1px solid #b2b2b2;
	width: 530px;
	height: 40px;
	color: #999999;
}

.EJENEA00604 .action-comment{
	float: left;
	height: 25px;
	width: 540px;
	margin: 0px 0px 5px 10px;
	text-align: right;
	color: #646464;
	font-weight: normal;
	font-size: 11px;
}

.EJENEA00604 .comment span{
	color:#333333;
	font-size:18px;
}

.EJENEA00604 #send-comment{
	height: 20px;
	border: 1px solid #333333;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(77,77,77,.3);
	box-shadow: none;
	background:#333333;
	transition: border linear 0.2s;
	-webkit-transition: border linear 0.2s;
	margin-right: 5px;
	cursor:pointer;
}

.EJENEA00604 .post-comment{
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 10px;
	width: 600px;
}

.EJENEA00604 .photo-post-comment{
	float: left;
	height: 80px;
	width: 50px;
}

.EJENEA00604 .photo-post-comment img{
	float: left;
	height: 50px;
	width: 50px;
}

.EJENEA00604 .field-post-comment{
	float: left;
	height: 50px;
	width: 540px;
	margin: 0px 0px 5px 10px;
}

.EJENEA00604 .field-post-comment .autor-comment{
	float: left;
	font-size: 12px;
	font-weight: bold;
	color:#333333;
}

.EJENEA00604 .field-post-comment .time-comment{
	float: left;
	font-size: 11px;
	font-weight: none;
	color:#333333;
}

.EJENEA00604 .field-post-comment p{
	float: left;
	font-size: 11px;
	color:#333333;
}


.EJELIE01202{
	width: 300px;
	height: 125px;
	float: left;
	margin: 15px 20px 15px 0px;
}
.EJELIE01202 .headline{
	width: 100%;
	height: 60px;
	float: left;
}
.EJELIE01202 .headline-hat{
	float: left;

}
.EJELIE01202 .headline-hat a{
	font-size: 11px;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;	
	text-decoration: none;
}
.EJELIE01202 .headline-hat a:hover{
	text-decoration: none;
}
.EJELIE01202 .headline-title{
	float: left;
	padding-top: 10px;
	
}
.EJELIE01202 .headline-title a{
	font-size: 18px;
	line-height: 20px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
.EJELIE01202 .headline-title a:hover{
	text-decoration: none;
}
.EJELIE01202 .headline-list{
	float: left;
	width: 300px;
	height: 60px;
}
.EJELIE01202 .headline-list ul{
	margin-left:0px;
	padding-left: 16px;
}
.EJELIE01202 .headline-list ul li a{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.EJELIE01202 .headline-list ul li a:hover{
	text-decoration: none;
}


.EJEHLE02104 {
	width: 640px;
	height: 210px;
	margin: 15px 20px 15px 0;	
	float: left;
	border-bottom: 1px dotted #ccc;
}

.EJEHLE02104 .headline{
	width: 300px;
	height: 180px;
 	margin-bottom: 10px; 
	margin-right: 20px;
	float: left;
}

.EJEHLE02104 .headline-img{
	width: 300px;
	height: 180px;
	margin:5px 0px 10px 20px;
	float: left;
}

.EJEHLE02104 .headline-hat {
	width: 100%;
	height: 20px;
	float: left;
}
.EJEHLE02104 .headline-hat a {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase; 	
	text-decoration: none;
}
.EJEHLE02104 .headline-hat a:hover{
	text-decoration: none;
}

.EJEHLE02104 .headline-title {
	float: left;
    height: 95px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
.EJEHLE02104 .headline-title a {	
	font-family: Arial;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
}
.EJEHLE02104 .headline-title a:hover{
	text-decoration: none;
}

.EJEHLE02104 .headline-text {
	float: left;
    height: 70px;
    padding-bottom: 20px;
    width: 100%;
}
.EJEHLE02104 .headline-text a {
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
}
.EJEHLE02104 .headline-text a:hover{
	text-decoration: none;
}


.EJELIE01004{
	width: 600px;
	height: 200px;
	margin: 15px 20px 15px 0px;
	float: left;
}

.EJELIE01004 .news-hat{
	float: left;
	height: 35px;
	width: 600px;
	position: relative;
	display: block;
	border-bottom: 2px solid #ccc;
}
.EJELIE01004 .news-hat .text{
	font-size: 18px;
	font-family: Arial;
	display: block;
	position: relative;
	padding: 5px 0px 10px 15px;
}
.EJELIE01004 .headline-pos1{
	width: 140px;
	height: 140px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
}
.EJELIE01004 .headline-pos1-hat{
	width: 140px;
	height: 40px;
	margin-bottom: 15px;
}
.EJELIE01004 .headline-pos1-hat a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}

.EJELIE01004 .headline-pos1-hat a:hover{
	text-decoration: none;
}

.EJELIE01004 .headline-pos1-title{
	width: 140px;
	height: 85px;
}
.EJELIE01004 .headline-pos1-title a{
	text-decoration: none;
	font-size: 12px;
	font-family: Arial;
}

.EJELIE01004 .headline-pos1-title a:hover{
	text-decoration: none;
}

.EJELIE01004 .headline-pos2{
	width: 450px;
	height: 140px;
	float: left;
}

.EJELIE01004 .headline{
	width: 140px;
	height: 140px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	float: left;
}
.EJELIE01004 .headline-img img{
	width: 140px;
	height: 90px;
	margin-bottom: 5px;
}

.EJELIE01004 .headline-title {
	height: 45px;
	width: 140px;
	text-decoration: none;
}

.EJELIE01004 .headline-title a{
	text-decoration: none;
	font-family:Arial;
	font-size: 13px;
	font-weight: bold;
}

.EJELIE01004 .headline-title a:hover{
	text-decoration: none;
}

.EJEHLE02004{
	width: 640px;
	height: 120px;
	margin: 15px 20px 15px 0;
}

.EJEHLE02004 .headline{
	padding-bottom: 10px;
	height: 120px;
	width: 640px;
}
.EJEHLE02004 .headline-hat {
	width: 100%;
	height: 20px;
	padding-bottom: 5px;
}

.EJEHLE02004 .headline-hat a{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.EJEHLE02004 .headline-hat a:hover{
	text-decoration: none;
}

.EJEHLE02004 .headline-title {
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
}

.EJEHLE02004 .headline-title a{
	font-family: Arial;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
}

.EJEHLE02004 .headline-title a:hover{
	text-decoration: none;
}

.EJEHLE02004 .headline-text {
	width: 100%;
	height: 20px;
}

.EJEHLE02004 .headline-text a{
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
}

.EJEHLE02004 .headline-text a:hover{
	text-decoration: none;
}


