/**embed fonts**/
@font-face {
	font-family: tituloEditoria-normal;
	src: url("http://s0.ejesa.ig.com.br/fonts/arialn.eot");
    src: url('http://s0.ejesa.ig.com.br/fonts/arialn.eot?#iefix') format('embedded-opentype'), url('http://s0.ejesa.ig.com.br/fonts/arialn.woff') format('woff'), url('http://s0.ejesa.ig.com.br/fonts/arialn.ttf') format('truetype'), url('http://s0.ejesa.ig.com.br/fonts/arialn.svg#tituloEditoria-normal') format('svg');
	src: url("http://s0.ejesa.ig.com.br/fonts/arialn.ttf") format("truetype");
}
@font-face {
	font-family: tituloEditoria-bold;
	src: url("http://s0.ejesa.ig.com.br/fonts/arialb.eot");
	src: url('http://s0.ejesa.ig.com.br/fonts/arialb.eot?#iefix') format('embedded-opentype'), url('http://s0.ejesa.ig.com.br/fonts/arialb.woff') format('woff'), url('http://s0.ejesa.ig.com.br/fonts/arialb.ttf') format('truetype'), url('http://s0.ejesa.ig.com.br/fonts/arialb.svg#tituloEditoria-bold') format('svg');
	src: url("http://s0.ejesa.ig.com.br/fonts/arialb.ttf") format("truetype");
}

body{
	background:#fff;
	color:#303030;
	font:12px arial,helvetica!important;
	text-align:center; /* hack para o IE */
	margin:0px;
	padding:0px;
	}

ol,ul {
	list-style: none;
}

a{
	text-decoration: none !important;
}

a img {
	border:none;
}

#main{
	float:left;
	width:100%;
	background-color:#FFF;
	text-align:left; /* "remédio" para o hack do IE */
}

#container{
	float:left;
	background-color:#FFF;
	/*position:relative;*/ 
	width:100%;
}

#igbar{
	float:left;
	width:100%;
}

header{
	float:left;
	border-top:6px solid #303030;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_novo_menu.png?v2') #e6e600;
	height: 156px;
	width:100%;
	}

#header-p1{
	float:left;
	height:115px;
	width:100%;
	}

#header-p2 {
	position: relative;
	top: -40px;
}

.kernel{
	margin:0 auto;
	width:940px;
	}

#logo{
	float:left;
	width:207px;
	overflow:hidden;
	/*height:59px;*/
	margin-top:10px;
}

#logo h1 {
	float:left;
}

#logo h1 a {
	float:left;
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') 0 -753px;
	width: 206px;
	height: 57px;
}


#navigation{
	float:left;
	width:100%;
	}

#submenu{
    margin:0 auto;
    width:960px;
    position: relative;
    top: 0px;
    padding-left:20px;
}

#content{
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
	position: relative;
	top: 0px;
	background: #fff;
	padding-left: 20px;
	display: block;
}


footer{
	float:left;
	margin-top:20px;
	padding-bottom: 80px;
	width:100%;
	}

#kfooter{
	border-top:10px solid #ffff00;
	width:940px;
	}


#item-footer {
	width:940px;
	overflow:hidden;
	padding:10px;
	background-color: #FFF;
	}

#item-footer h2 {
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#3b3b3b;
	width:100%;
	border-bottom:1px solid #B2B2B2;
	padding-bottom:3px;
	margin-bottom:8px;
	}

#item-footer ul {
	margin:0;
	padding:0;
	}

#item-footer li {
	font:normal 11px Arial;
	color:#666;
	margin-bottom:3px;
	}

#item-footer li a {
	color:#666;
	text-decoration:none;
	}

#item-footer li a:hover {
	text-decoration:underline;
	}

#item-footer li span {
	color:#f4af01;
	}

.list-menu {
	float:left;
	margin-right:12px;
}

.menu-footer {
	float:left;
	margin-right:25px;
}

.arrow_menu{
	margin-left:10px;
}

.spacer_menu{
	margin-left:10px;
	vertical-align: top;
}

#area0{
	float: left;
	width: 940px;
	margin: 0px 0px 0px 0px;
}

#area1{
	float: left;
	width: 100%;
	max-width: 640px;
	margin: 0px;
}

#subarea11{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#subarea12{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#subarea13{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#area2{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

#subarea21{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
	height: 285px;
}

#subarea22{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

#subarea23{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;

}

#subarea24{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

#subarea25{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

#area3{
	float: left;
	width: 940px;
	margin: 0px 0px 20px 0px;
	height: 130px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
}

#area4{
	float: left;
	width: 100%;
	max-width: 640px;
	margin: 0px;
}

#subarea41{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#subarea42{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#subarea43{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#area5{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

#subarea51{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
}


#subarea52{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
	height: 670px;
}

#subarea53{
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
	height: 285px;
}

#area6{
	float: left;
	width: 100%;
	max-width: 640px;
	margin: 0px;
}

#area7{
	float: left;
	width: 940px;
	margin: 0px 0px 0px 0px;
}


#area15{
	float: left;
	width: 940px;
	margin: 0px 0px 0px 0px;
}

#area16{
	float: left;
	width: 940px;
	margin: 0px 0px 0px 0px;
}

#area8{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#area9{
	float: left;
	width: 100%;
	max-width: 640px;
	margin: 0px;
}

/*publicidade*/
#area10{
	float: left;
	width: 940px;
	margin: 30px 0px 15px 0px;
	height: 130px;
}

#area17{
	float: left;
	width: 620px;
	margin: 15px 15px 20px 0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
}

#area11{
	float: left;
	width: 940px;
	margin: 30px 0px 30px 0px;
	height: 110px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
	padding-top: 20px;
}

#area12{
	float: left;
	width: 640px;
	margin: 0px 0px 0px 0px;
}

#area13 {
	float: left;
	width: 160px;
	margin: 0px 0px 0px 0px;
}

#area14{
	float: left;
	width: 480px;
	margin: 0px 0px 0px 0px;
}

#loadad{
	float: left;
}

/*breadcrumb da home*/
#area12{
	float: left;
	width: 940px;
	margin: 0px 0px 0px 0px;
}


.EJETOE00106 nav {
	width:980px;
	padding:0;
	margin:0 0 0 -20px;
}

.EJETOE00106 nav ul{
	float:left;
	margin:0;
	padding:0;
	background: #004c87;
}

.EJETOE00106 nav> .sharesite {
	width:343px;
	float:left;
	height: 40px;
}

.EJETOE00106 nav .sharesite> .sharewidget {
	float:right;
	margin-left:10px;
	width: auto !important;
}

.EJETOE00106 .menu-navegacao li {
	float: left;
	position:relative;
	text-align:center;
	display:block;
	z-index:110;
}

.EJETOE00106 .menu-navegacao>li:hover .titulo {
	background:#fff;
}

.EJETOE00106 .menu-navegacao li a .titulo {
	display:block;
	font-size:14px;
	font-weight: bold;
	float: left;
	color:#fff;
	height:27px;
	padding:13px 0 0 0;
	display:block;
	text-transform: uppercase;
}

.EJETOE00106 .menu-navegacao li.Capa a .titulo {
	width:92px;
}

.EJETOE00106 .menu-navegacao>li.Capa:hover .titulo {
	color: #004c87;
	background:#fff;
	height:26px;
	padding:13px 0 0 0;
	display:block;
	border-top: 1px solid #bbb;
	moz-box-shadow: 0px -4px 0 4px rgba(187,187,187,0.094);
	-webkit-box-shadow: 00px -4px 0 4px rgba(187,187,187,0.094);
	box-shadow: 0px -4px 0 4px rgba(187,187,187,0.094);
	position:relative;
	z-index: 9;
}

.EJETOE00106 .menu-navegacao li.Notícias a .titulo,
.EJETOE00106 .menu-navegacao li.Diversão a .titulo,
.EJETOE00106 .menu-navegacao li.Esporte a .titulo  {
	width:115px;
	padding-right:17px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/seta_off_menu.png') no-repeat 100px 18px;
}

.EJETOE00106 .menu-navegacao>li.Notícias:hover .titulo,
.EJETOE00106 .menu-navegacao>li.Diversão:hover .titulo,
.EJETOE00106 .menu-navegacao>li.Esporte:hover .titulo
 {
	color: #004c87;
	background: url('http://s0.ejesa.ig.com.br/img/odia/seta_on_menu.png') no-repeat 100px 18px #fff;
	height:26px;
	padding:13px 16px 0 0;
	display:block;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	moz-box-shadow: 0px -4px 0 4px rgba(187,187,187,0.094);
	-webkit-box-shadow: 00px -4px 0 4px rgba(187,187,187,0.094);
	box-shadow: 0px -4px 0 4px rgba(187,187,187,0.094);
	position:relative;
	z-index: 9;
}

.EJETOE00106 .menu-navegacao li.Classificados a .titulo {
	width:145px;
}
.EJETOE00106 .menu-navegacao li.Classificados a .separador {
	display:none;
}
.EJETOE00106 .menu-navegacao>li.Classificados:hover .titulo {
	color: #004c87;
	background:#fff;
	height:26px;
	padding:13px 0 0 0;
	display:block;
	border-top: 1px solid #bbb;
	moz-box-shadow: 0px -4px 0 4px rgba(187,187,187,0.094);
	-webkit-box-shadow: 00px -4px 0 4px rgba(187,187,187,0.094);
	box-shadow: 0px -4px 0 4px rgba(187,187,187,0.094);
	position:relative;
	z-index: 9;
}

.EJETOE00106 .menu-navegacao li a .separador {
	background: url('http://s0.ejesa.ig.com.br/img/odia/separador.png') repeat;
	width: 1px;
	height: 13px;
	display: block;
	float: left;
	margin: 14px 0 0 0px;
}

.EJETOE00106 .menu-navegacao .box {
	visibility: hidden;
	opacity:0;
	position: absolute;
	z-index: 8;
	background: #f7f7f7;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.094);
	-moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.094);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.094);
	top: 40px;
	width: 132px;
}

.EJETOE00106 .menu-navegacao .box .editorias {
	background:#fff;
	-moz-box-shadow: 5px 0px 22px -1px rgba(153,153,153,0.5);
	-webkit-box-shadow: 5px 0px 22px -1px rgba(153,153,153,0.5);
	box-shadow: 5px 0px 22px -1pxrgba(153,153,153,0.5);
}

.EJETOE00106 .menu-navegacao .noticias>.box .editorias {
	width:132px;
	height:auto;
	padding-bottom:10px;
}

.EJETOE00106 .menu-navegacao .diversao>.box .editorias {
	width:132px;
	height:auto;
	padding-bottom:10px;
	/*height:220px;*/
}

.EJETOE00106 .menu-navegacao .esporte>.box .editorias {
	width:132px;
	height:auto;
	padding-bottom:10px;
}

.EJETOE00106 .menu-navegacao .box .editorias .bullets {
	position: absolute;
	background-color: #cecece;
	width: 5px;
	height: 5px;
	top: 9px;
	left: 10px;
}

.EJETOE00106 .menu-navegacao .box>.editorias li a {
	padding: 3px 0 3px 19px;
	display: block;
	color: #174f82;
	font-size: 13px;
	text-transform: capitalize;
	font-weight: bold;
	width:113px;
	text-align:left;
	position:relative;
}

.EJETOE00106 .menu-navegacao .box>.editorias li a:hover {
	color: #fff;
	background: #4f65bf;
}

.EJETOE00106 .menu-navegacao .box> .destaque {
	padding:15px 6px 8px 10px;
	background:none !important;
	width:234px;
	text-align:left;
	position:absolute;
	left:132px;
}

.EJETOE00106 .menu-navegacao .box> .destaque .headline-hat {
	float: left;
	height: 19px;
	overflow: hidden;
	padding-bottom: 4px;
	width: 100%;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color:#999;
}

.EJETOE00106 .menu-navegacao .box> .destaque .headline-title {
	float: left;
	overflow: hidden;
	padding-bottom: 10px;
	width: 100%;
	border-bottom:1px dotted #ccc;
	margin-bottom:2px;
}

.EJETOE00106 .menu-navegacao .box> .destaque .headline-title a {
	font-weight: bold;
	font-size: 18px;
	line-height:20px;
	color: #006699;
	text-decoration: none !important;
	display:block;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	transition: all 240ms linear;
}

.EJETOE00106 .menu-navegacao .box> .destaque .headline-title a:hover {
	color: #0066cc;
}

.EJETOE00106 .menu-navegacao .box> .destaque p {
	font-weight: bold;
	font-size: 11px;
}

.EJETOE00106 .menu-navegacao .box> .destaque p a {
	color: #006699;
	text-decoration: none !important;
	display:block;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	transition: all 240ms linear;
}

.EJETOE00106 .menu-navegacao .box> .destaque p a:hover {
	color: #0066cc;
}

.EJETOE00106 .menu-navegacao .box> .pub-float {
	padding:8px 6px 8px 10px;
	background:none !important;
	width:234px;
	position:absolute;
	bottom: 0px;
	left:132px;
}

.EJETOE00106 .menu-navegacao .box> .pub-float li {
	clear:both;
	font-size:10px;
	color:#666;
}

#htools{
	float:left;
	width: 730px;
}
#climate{
	float: right;
	width: 170px;
	height: 80px;
	margin-top: 5px;
	margin-left: 35px;
}
#sectionname{
	float: right;
	width: 273px;
	border: 0px;
	height: 49px;
	margin-top: 25px;
	font-family: 'tituloEditoria-normal', arial, sans-serif;
	font-size: 34px;
	padding-top: 10px;
	padding-left: 20px;
	text-transform: uppercase;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	letter-spacing: -1px;
}
#label_escudo{
	height: 38px;
	float: left;
	margin-right: 15px;
}
#sponsor{
	float: right;
	width: 170px;
	border: 0px;
	height: 49px;
	margin-top: 25px;
	display: none;
}
#search {
	float:right;
	/*width:267px;*/
	border: 0px;
	padding-top: 10px;
	/*height: 49px;*/
	margin-top: 25px;
}

#search fieldset {
	border: 0;
	margin:0;
	padding:0;
}

.label-for-search {
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') 0 -273px;
	width: 4px;
	height: 34px;
	float:left;
	text-indent: -999px;
	overflow: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

#search form input#buscar {
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') repeat-x 0 0px;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 9px;
	padding-right: 9px;
	color: #444;
	width: 180px;
	height: 17px;
	border:0;
	float:left;
	font-style:italic;
	color:#999;
}

#search form input#submit{
	float: left;
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') no-repeat 0 -64px;
	width: 38px;
	height: 37px;
	border: 0px;
	text-indent: -999px;
	cursor: pointer;
}

#search input#submit:hover {
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') no-repeat 0 -101px;
	width: 38px;
	height: 37px;
	cursor: pointer;
}

#search cite {
	clear: both;
	float: right;
	margin-top: 5px;
	font: normal 10px/10px Arial;
	text-align: right;
	margin-right: 15px;
	display:none;
}

#escudo_flamengo{
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat;
	background-position: 0 -246px;
	width: 32px;
	height: 38px;
	float: left;
}

#escudo_vasco{
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat;
	background-position: 0 -687px;
	width: 33px;
	height: 42px;
	float: left;
}

#escudo_fluminense{
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat;
	background-position: 0 -376px;
	width: 34px;
	height: 42px;
	float: left;
}

#escudo_botafogo{
	background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat;
	background-position: 0 0;
	width: 34px;
	height: 38px;
	float: left;
}

#topsignature{
	width: 940px;
	border-bottom: 2px solid #999999;
	margin-top: 20px;
	height: 10px;
	background-color: #F0F0F0;
}

#signature{
	width:940px;
}

#logos{
	float:left;
	width: 70%;
	height: 61px;
}

#pageshare{
	float:left;
	width: 30%;
	height: 36px;
	padding:13px 0;
}

#pageshare #sharesite {
	padding-left:43px;
}

#logos ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#logos ul li{
	display:inline;
	margin: 20px 10px 10px 10px;
	float:left;
}

#logo_ejesa{
	background: url('http://s0.ejesa.ig.com.br/img/odia/logo_ejesa.png') no-repeat;
	width: 92px;
	height: 30px;
	display:block;
}

#logo_ejesa a {
	background: url('http://s0.ejesa.ig.com.br/img/odia/logo_ejesa.png') no-repeat;
	width: 92px;
	height: 30px;
	display:block;
	text-indent:-999px;
}

#logo_ejesa a {
	background: url('http://s0.ejesa.ig.com.br/img/odia/logo_ejesa.png') no-repeat;
	width: 92px;
	height: 30px;
	display:block;
	text-indent:-999px;
}

#logo_be{
	background: url('http://s0.ejesa.ig.com.br/img/odia/be_logo_ass.png') no-repeat;
	width: 117px;
	height: 30px;
	display:block;
}

#logo_be a{
	width: 117px;
	height: 30px;
	display:block;
	text-indent:-999px;
}

#logo_mh{
	background: url('http://s0.ejesa.ig.com.br/img/odia/logo_mh.png') no-repeat;
	width: 113px;
	height: 31px;
	display:block;
}

#logo_mh a{
	width: 113px;
	height: 31px;
	display:block;
	text-indent:-999px;
}

#copyright{
	width: 940px;
}

#copyright span{
	font-family: arial;
	font-size: 11px;
	color: #999999;
	margin-right: 10px;
}

.sharewidget{
	float: left;
	width: 118px;
	text-align: right;
	margin-top: 10px;
}

/**************** Correcao em Botao Fechar dos DHTMLs ****************/
#BotaoFecharx15{position:relative; top:-23px !important;}
#BotaoFecharx17{position:relative; top:-23px !important;}



.EJETOA02006 #form-contato .line {
		margin-bottom:24px;
	}
	.EJETOA02006 #form-contato .box-form {
		float:left;
	}
	.EJETOA02006 #form-contato .box-form:first-child {
		margin-right:10px;
	}
	.EJETOA02006 #form-contato .box-form input {
		border-radius:5px;
		border:1px solid #dfdfdf;
		padding:10px;
		width:282px;
		height:12px;
		font-size:14px;
		color:#a5a5a5;
	}
	.EJETOA02006 #form-contato .box-form select {
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #dfdfdf;
		padding:6px;
		width:304px;
		height:35px;
		font-size:14px;
		color:#a5a5a5;
	}
	.EJETOA02006 #form-contato .box-form2 textarea {
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #dfdfdf;
		padding:10px;
		width:596px;
		height:145px;
		font-size:14px;
		color:#a5a5a5;
		font-family:Arial, Helvetica, sans-serif;
		resize:none;
	}
	.EJETOA02006 #form-contato .botoes-envio input[type="submit"] {
		background:#174f82;
		color:#FFF;
		font-size:15px;
		font-weight:bold;
		padding:7px 18px;
		border:none;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		font-family:Arial, Helvetica, sans-serif;
		cursor:pointer;
		margin-right:10px;
	}
	.EJETOA02006 #form-contato .botoes-envio input[type="reset"] {
		background:#ccc;
		color:#fff;
		font-size:15px;
		font-weight:bold;
		padding:7px 18px;
		border:none;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		font-family:Arial, Helvetica, sans-serif;
		cursor:pointer;
	}

/*grid*/
#EJEHEA00806 {
    /*height: 201px;*/
}
#EJEHEA00806 .wrap-grid {
    width: 960px;
    padding: 0px 10px;
    display: block;
    margin: 0px auto;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*header*/
#EJEHEA00806 header.main-header {
    display: block;
    clear: both;
    height: 114px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/bg_novo_menu.png) repeat-x;
    border-top: 6px solid #3b3b3b;
    margin: 0px;
}

#EJEHEA00806 .wrap-grid.header{padding-top: 30px;}
#EJEHEA00806 .main-header .logo {display:block; float: left;}
#EJEHEA00806 .main-header .logo a{
    width: 206px;
    height: 57px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') 0 -753px;
    display: block;
}
#EJEHEA00806 #sectionname{
    vertical-align: top;
    display: inline-block;
    width: 273px;
    border: 0px;
    height: 60px;
    font-family: 'tituloEditoria-normal', arial, sans-serif;
    font-size: 34px;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
    float: left !important;
}

#EJEHEA00806 #label_escudo{
    height: 38px;
    float: left;
    margin-right: 15px;
    position: relative;
}
#EJEHEA00806 #sponsor{
    width: 170px;
    border: 0px;
    height: 49px;
    margin-top: 0px !important;
    display: inline-block;
}
#EJEHEA00806 #search {
    border: 0px;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin-top: 0px !important;
}

#EJEHEA00806 #search fieldset {
    border: 0;
    margin:0;
    padding:0;
}

#EJEHEA00806 .label-for-search {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') 0 -273px;
    width: 4px;
    height: 34px;
    float:left;
    text-indent: -999px;
    overflow: hidden;
}

#EJEHEA00806 textarea:focus, input:focus{
    outline: none;
}

#EJEHEA00806 #search form input#buscar {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') repeat-x 0 0px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    color: #444;
    width: 180px;
    height: 17px;
    border:0;
    float:left;
    font-style:italic;
    color:#999;
}

#EJEHEA00806 #search form input#submit{
    float: left;
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') no-repeat 0 -64px;
    width: 38px;
    height: 37px;
    border: 0px;
    text-indent: -999px;
    cursor: pointer;
}

#EJEHEA00806 #search input#submit:hover {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png?v=1') no-repeat 0 -101px;
    width: 38px;
    height: 37px;
    cursor: pointer;
}

#EJEHEA00806 #search cite {
    clear: both;
    float: right;
    margin-top: 5px;
    font: normal 10px/10px Arial;
    text-align: right;
    margin-right: 15px;
    display:none;
}

#EJEHEA00806 .main-header .clima-tempo .data {
    font-size: 11px;
}

#EJEHEA00806 .main-header .clima-tempo {
    width: 180px;
    height: 45px;
    display: block;
    vertical-align: top;
    color: #3b3b3b;
    position: relative;
    margin: 0 0 0 20px;
    float: right !important;
}
#EJEHEA00806 .main-header .clima-tempo .ico-tempo{
    width: 40px;
    height: 35px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png) 0 -233px;
    display: inline-block;
    margin-top: 3px;
}
#EJEHEA00806 .main-header .clima-tempo .local-tempo {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
}
#EJEHEA00806 .main-header .clima-tempo .min-tempo, .main-header .clima-tempo .max-tempo {
    width: 56px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 15px;
}
#EJEHEA00806 .main-header .clima-tempo abbr {
    font-size: 10px;
    vertical-align: top;
    margin: 7px 1px 0 0;
    display: inline-block;
}
#EJEHEA00806 .main-header .clima-tempo span, .main-header .clima-tempo sup{
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    letter-spacing: -2px;
}
#EJEHEA00806 .main-header .clima-tempo sup{vertical-align: top;}
#EJEHEA00806 .main-header .clima-tempo .min-tempo {left: 45px;}
#EJEHEA00806 .main-header .clima-tempo .max-tempo {left: 96px;}
/*nav principal*/
#EJEHEA00806 nav.principal-nav {
    display: block;
    clear: both;
    background: #23408f;
    height: 43px;
    margin: 0px;
}

#EJEHEA00806 nav.principal-nav ul.main-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
}
#EJEHEA00806 nav.principal-nav ul.main-nav>li{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    color: #fff;
}
#EJEHEA00806 nav.principal-nav ul.main-nav>li:after{
    font-size: 16px;
    content: "";
    color: transparent;
    display: inline-block;
    position: absolute;
    top: 14px;
    right: -1px;
    width: 1px;
    height: 13px;
    background: transparent url(http://s0.ejesa.ig.com.br/img/odia/separador.jpg) no-repeat;
}
#EJEHEA00806 nav.principal-nav ul.main-nav li.last-child:after{
    background: none;
}
#EJEHEA00806 nav.principal-nav ul.main-nav>li>a{
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding:1em 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}
#EJEHEA00806 nav.principal-nav ul.main-nav>li:hover a,
#EJEHEA00806 nav.principal-nav ul.main-nav>li.ativo a{
    color: #164e81;
    background: #fff;
}

#EJEHEA00806 nav.principal-nav .social-nav {
    float: right;
    display: inline-block;
    margin: 12px 0 0 0;
}

#EJEHEA00806 nav.principal-nav .social-nav .facebook-likes , nav.principal-nav .social-nav .google-plus-shares{
    display: inline-block;
    width: 90px;
}

#EJEHEA00806 nav.principal-nav .social-nav .facebook-likes {
    margin-right: 10px;
}


/*nav especial*/

.especial-nav #menu-mais {
	z-index: 9;
}

.vivoconectadoaorio-nome-editoria,
.copadasconfederacoes-nome-editoria,
.brasileirao-2013-nome-editoria,
.observatorio-nome-editoria,
.selecaobrasileira-nome-editoria,
.riosemfronteiras-nome-editoria,
.jornadamundialdajuventude-nome-editoria,
.marica-nome-editoria,
.copa-do-mundo-nome-editoria {
	margin-top: -12px !important;
	font-size: 20px !important;
	width: 300px !important;
}

.especial-nav .wrap-grid {
	height: 45px;
	border-top: 1px solid #333;
    border-bottom: 2px solid #333;
    padding: 0 !important;
}

#EJEHEA00806 nav.especial-nav {
    display: block;
    clear: both;
    height: 43px;
    margin: 0px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/bg_novo_menu.png) repeat-x;
    border-bottom: 1px solid #333;
}

#EJEHEA00806 nav.especial-nav ul.main-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
    position: relative;
    z-index: 3;
}
#EJEHEA00806 nav.especial-nav ul.main-nav>li{
    margin: 0 6px 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
    color: #fff;
}
#EJEHEA00806 nav.especial-nav ul.main-nav>li:after{
    font-size: 16px;
    content: "";
    color: transparent;
    display: inline-block;
    position: absolute;
    top: 14px;
    right: -1px;
    width: 1px;
    height: 13px;
    background: transparent url(http://s0.ejesa.ig.com.br/img/odia/separador_escuros.png) no-repeat;
}
#EJEHEA00806 nav.especial-nav ul.main-nav li.last-child:after{
    background: none;
}
#EJEHEA00806 nav.especial-nav ul.main-nav>li>a{
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding:1em 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}
#EJEHEA00806 nav.especial-nav ul.main-nav>li:hover a,
#EJEHEA00806 nav.especial-nav ul.main-nav>li.ativo a{
    color: #333;
    background: #fff;
}

#EJEHEA00806 nav.especial-nav .social-nav {
    float: right;
    display: inline-block;
    margin: 12px 0 0 7px;
}

#EJEHEA00806 nav.especial-nav .social-nav .facebook-likes , nav.especial-nav .social-nav .google-plus-shares{
    display: inline-block;
    width: 90px;
}

#EJEHEA00806 nav.especial-nav .social-nav .facebook-likes {
    margin-right: 10px;
}

#EJEHEA00806 span.ico-drop-down {
    display: inline-block;
    width: 11px;
    height: 6px;
    margin: 5px 0 0 8px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/seta_off_menu.png);
    vertical-align: top;
}

#EJEHEA00806 nav.principal,
#EJEHEA00806 nav.especial {margin: 0px;}

#EJEHEA00806 nav.principal-nav ul.main-nav>li:hover a span.ico-drop-down,
#EJEHEA00806 nav.principal-nav ul.main-nav>li.ativo a span.ico-drop-down,
#EJEHEA00806 nav.especial-nav ul.main-nav>li:hover a span.ico-drop-down,
#EJEHEA00806 nav.especial-nav ul.main-nav>li.ativo a span.ico-drop-down {background: url(http://s0.ejesa.ig.com.br/img/odia/seta_on_menu.png);}


/* dropdown menu */
#EJEHEA00806 nav.principal-nav ul.main-nav li .mais-drop-down,
#EJEHEA00806 nav.especial-nav ul.main-nav li .mais-drop-down {display: none;}

#EJEHEA00806 nav.principal-nav ul.main-nav li:hover .mais-drop-down, nav.principal-nav ul.main-nav li.ativo .mais-drop-down {display: block;}
#EJEHEA00806 nav.especial-nav ul.main-nav li:hover .mais-drop-down, nav.especial-nav ul.main-nav li.ativo .mais-drop-down {display: block;}

#EJEHEA00806 .mais-drop-down .drop-down-header span {
    display: block;
    background: rgb(111, 126, 165);
    background: rgba(111, 126, 165, 0.5);
    position: absolute;
}
#EJEHEA00806 .mais-drop-down .drop-down-header span:nth-child(1), .mais-drop-down .drop-down-header span:nth-child(2) {
    width: 4px;
    height: 43px;
    top: 0px;
    left: -4px
}
#EJEHEA00806 .mais-drop-down .drop-down-header span:nth-child(2) {left: 105px;height: 41px;}
#EJEHEA00806 .mais-drop-down .drop-down-header span:nth-child(3) {width: 113px;height: 4px;top: -4px;left: -4px;}
#EJEHEA00806 .mais-drop-down .drop-down-header span:nth-child(4) {
    width: 341px;
    height: 4px;
    top: 40px;
    left: 105px;
}
#EJEHEA00806 .mais-drop-down .drop-down-content {
    border: 4px solid rgb(111, 126, 165);
    border: 4px solid rgba(111, 126, 165, 0.5);
    border-top: 0px none;
    width: 450px;
    height: 210px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 9999;
    top: 43px;
    left: -4px;
    padding: 10px;
}
#EJEHEA00806 .mais-drop-down .drop-down-content ul{
    font-size: 12px;
    line-height: 14px;
    padding: 0px 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    list-style: square;
    color: #cccccc;
    width: 122px;
    letter-spacing: -0.03em;
}
#EJEHEA00806 .mais-drop-down .drop-down-content ul li {margin: 7px 0px; text-align: left;}
#EJEHEA00806 .mais-drop-down .drop-down-content ul li.first-child a{font-size: 16px;}
#EJEHEA00806 .mais-drop-down .drop-down-content ul.mais-ultimas {
    border-right: 1px solid #e5e5e5;
    margin:0 10px;
    width: 120px;
    padding-right: 10px;
}
#EJEHEA00806 .mais-drop-down .drop-down-content ul a{color: #164e81; text-decoration: none;}
#EJEHEA00806 .mais-drop-down .drop-down-content ul a:hover{text-decoration: underline !important;}
#EJEHEA00806 .mais-drop-down .drop-down-content .mais-esportes {position: absolute;top: 110px;left: 270px;}
#EJEHEA00806 .mais-drop-down .drop-down-content .mais-esportes .escudo-times {position: relative;width: 160px;margin:10px 0 0 -10px;}
#EJEHEA00806 .mais-drop-down .drop-down-content .mais-esportes .escudo-times a img{border: 0px;}


/* FOOTER NOVO */

footer#footer-novo {float:left; font:12px arial,helvetica; color:#303030; margin-top:50px; text-align:left; border-top:6px solid #f5eb00; width:100%; background:url(http://s0.ejesa.ig.com.br/img/odia/bg-footer.png) repeat; padding-bottom:0 !important;}footer#footer-novo .clear {clear:both; display:block;}footer#footer-novo h2 {margin-top:0; color:#3b3b3b; text-transform:uppercase; font-size:15px; text-shadow: 0.1em 0.1em 0.05em #FFF; padding-bottom:5px; border-bottom:1px solid #cacaca;float: none !important;padding-top: 0 !important;margin-bottom: 12px !important;}footer#footer-novo ul {list-style:none; margin:0; padding:0; line-height:16px; padding-bottom:18px;}footer#footer-novo ul li {float:none !important;} footer#footer-novo ul a {color:#6d6d6d; font-size:13px; text-decoration: none;}footer#footer-novo ul a:hover {text-decoration:underline !important;}footer#footer-novo ul li a {font-size:11px;}footer#footer-novo .wrapper { width:940px; margin:0 auto;}footer#footer-novo #footer-odia-novo {border-top:1px solid #FFF; padding:40px 0 28px;}footer#footer-novo .col {float:left; width:160px; margin-right:35px;}footer#footer-novo .col:last-child {margin-right:0;}footer#footer-novo .twocol {width:355px !important;}footer#footer-novo .twocol .col.last-child {margin-right:0;}footer#footer-novo .servicos {color:#6d6d6d; font-size:13px;}footer#footer-novo .servicos div { margin-bottom:19px;}footer#footer-novo .servicos strong.tit {margin-bottom:3px; display:block;}footer#footer-novo .servicos .previsao-tempo .tempo {height:38px; padding-left:48px; background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat;}footer#footer-novo .servicos .previsao-tempo .tempo small {font-size:11px !important; line-height:18px;}footer#footer-novo .servicos .previsao-tempo .tempo small strong {font-size:13px !important;}footer#footer-novo .servicos .ed-digital a,footer#footer-novo .servicos .envie-noticia a,footer#footer-novo .servicos .acompanhe-odia a {display:block;background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat 0 -281px;height:34px;text-indent:-9999px;width:50px;}footer#footer-novo .servicos .envie-noticia a {background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat 0 -319px;height:40px;}footer#footer-novo .servicos .acompanhe-odia a {float:left; width:34px; margin-right:5px;}footer#footer-novo .servicos .acompanhe-odia a.last-child {margin:0;}footer#footer-novo .servicos .acompanhe-odia a.fb {background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat 0 -363px;}footer#footer-novo .servicos .acompanhe-odia a.tw {background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat 0 -397px;width:45px;}footer#footer-novo .servicos .acompanhe-odia a.inst {background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat 0 -432px;}footer#footer-novo .servicos .acompanhe-odia a.rss {background:url(http://s0.ejesa.ig.com.br/img/odia/sprite-elementos-footer.png) no-repeat 0 -467px;width:32px;}footer#footer-novo .servicos .ed-digital a:hover,footer#footer-novo .servicos .envie-noticia a:hover,footer#footer-novo .servicos .acompanhe-odia a:hover {opacity:0.8;}footer#footer-novo .footer-logos {background:#FFF; padding-bottom:80px;}footer#footer-novo .footer-logos #logos {float: left; width: 70%; height: 61px;}footer#footer-novo .footer-logos ul li {display: inline; margin: 20px 10px 10px 10px; float: left !important;}footer#footer-novo .footer-logos #logo_ejesa {background: url(http://s0.ejesa.ig.com.br/img/odia/logo_ejesa.png) no-repeat;width: 92px;height: 30px;display: block;}footer#footer-novo .footer-logos #logo_ejesa a {background: url(http://s0.ejesa.ig.com.br/img/odia/logo_ejesa.png) no-repeat;width: 92px;height: 30px;display: block;text-indent: -999px;}footer#footer-novo .footer-logos #logo_be{background: url(http://s0.ejesa.ig.com.br/img/odia/be_logo_ass.png) no-repeat;width: 117px;height: 30px;display:block;}footer#footer-novo .footer-logos #logo_be a{width: 117px;height: 30px;display:block;text-indent:-999px;}footer#footer-novo .footer-logos #logo_mh{background: url(http://s0.ejesa.ig.com.br/img/odia/logo_mh.png) no-repeat;width: 113px;height: 31px;display:block; }footer#footer-novo .footer-logos #logo_mh a{width: 113px;height: 31px;display:block;text-indent:-999px;}footer#footer-novo .footer-logos #copyright{width: 940px;}footer#footer-novo .footer-logos #copyright span{font-family: arial;font-size: 11px;color: #999999;margin-right: 10px;}footer#footer-novo .footer-logos .sharewidget{float: left;width: 118px;text-align: right;margin-top: 10px;}footer#footer-novo .footer-logos #pageshare {float: left;width: 30%;height: 36px;padding: 13px 0;} .previsao-tempo { display: none;}


/* noticias padrão */
.noticia>p>a {text-decoration: none !important;display: list-item !important;font-weight: 700;list-style-type: square;margin: 20px 0px 20px 20px;clear: both;}
.noticia>p>a:hover {color: #666 !important;}


.EJELIA00502 {
	float: left;
	width: 300px;
	display: block;
	clear: both;
	overflow: hidden;
	font-family: Arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}
.EJELIA00502 ul {
	margin: 0;
	padding: 0;
}

.EJELIA00502 .news-menu {
	width: 300px;
	border-bottom: 4px solid #303030;
	overflow: hidden;
	margin-bottom: 12px;
}
.EJELIA00502 .news-menu ul li {
	height: 35px;
	background: #303030;
	color: #fff;
	font-size: 11px;
	display: block;
	width: 200px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 13px;
}
.EJELIA00502 .news-menu ul li img {
	position: relative;
	vertical-align: top;
	left: 10px;
	top: -8px;
}
.EJELIA00502 h3 {
	display: none;
}
.EJELIA00502 h3:before {
	display: block;
	width: 87px;
	height: 7px;
	content: " ";
	position: absolute;
	top: 0px;
	left: 15px;
	background: #a5a5a5;
}
.EJELIA00502 h3:after {
	color: #000;
	content: "notícias";
}
.EJELIA00502 ul.container li {
	clear: both;
	display: block;
	border-bottom: 1px dotted #b2b2b2;
	margin-bottom: 12px;
	padding-bottom: 12px;
}
.EJELIA00502 ul.container li a {display: block;}
.EJELIA00502 ul.container li a.thumb {
	float: left;
	position: relative;
	margin-right: 0px;
}
.EJELIA00502 ul.container li a.thumb span.duracao {
	position: absolute;
	bottom: 3px;
	left: 3px;
	width: 40px;
	height: 30px;
	color: #fff;
	font: bold 9px/9px Arial;
	background: url(http://i0.statig.com.br/canais/_images/btn-empilhamento-play.png) no-repeat;
}
.EJELIA00502 ul.container li a.thumb img {
float: left;
width: 63px;
height: 47px;
margin-right: 8px;
vertical-align: text-top;
margin-bottom: 8px;
}
.EJELIA00502 ul.container li cite {
color: #949494;
font-size: 11px;
font-weight: 700;
height: 15px;
text-transform: uppercase;
font-style: normal;
}
.EJELIA00502 ul.container li h5 {
margin: 0px 0;
position: relative;
}
.EJELIA00502 ul.container li h5 a {
color: #303030;
font-size: 12px;
font-weight: 700;
line-height: 16px;
text-decoration: none;
}
.EJELIA00502 ul.container li h5 a:hover {text-decoration: underline;}
.EJELIA00502 ul.container li img {
	width: 140px;
	height: 90px;
}
.EJELIA00502 ul.container li p {
	margin: 0px;
}
.EJELIA00502 ul.container li p a {
	color: #303030;
	font: 14px/16px arial;
}
.EJELIA00502 .linkGeral {
	font-weight: bold;
	color: #324E69;
}
.EJELIA00502 .pagination li {
	display: inline-block;
	margin-right: 3px;
}
.EJELIA00502 .pagination li.selected,
.EJELIA00502 .pagination li a {
	border: 0px none;
	border-radius: 50px;
	text-indent: -9999999999px;
	position: relative;
	top: -4px;
}
.EJELIA00502 .pagination li a {
	display: block;
	height: 24px;
	font: bold 10px/24px Arial;
	text-align: center;
}
.EJELIA00502 .pagination li a.page {
	width: 10px;
	height: 10px;
	background: #d9d9d9;
	text-indent: -19919px;
}
.EJELIA00502 .pagination li.selected {
	width: 10px;
	height: 10px;
   background: #303030;
}
.EJELIA00502 .pagination li.selected,
.EJELIA00502 .pagination li a.page:hover {
	background: #303030;
	color: #fff;
	text-decoration: none;
	text-indent: -9999999999px;
	position: relative;
}
.EJELIA00502 .pagination li.selected {
	top: -8px;
}
.EJELIA00502 .pagination li.nav a {
background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png) no-repeat 0 -1707px;
float: left;
height: 21px;
width: 21px;
margin-right: 4px;
cursor: pointer;
border: 0px none;
border-radius: 0px;
position: relative;
top: -5px;
text-indent:  -999px;
}

.EJELIA00502 .pagination li:first-child.nav a {background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png) no-repeat 0 -1728px; }
.EJELIA00502 .galeria ul.container li {
	float: left;
	width: 204px;
	height: 240px;
	padding: 0 20px 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;

}
.EJELIA00502 .galeria ul.container li.nopdr {
	padding-right: 0!important;
}
.EJELIA00502 .galeria ul.container li>a {
	float: left;
}
.EJELIA00502 .galeria ul.container li img {
	float: left;
}
.EJELIA00502 .galeria ul.container li h4 {
	clear: both;
	font: bold 16px/22px Arial;
	font-weight: bold;
	color: #944490;
	margin-bottom: 3px;
}
.EJELIA00502 .galeria ul.container li cite.data {
	display: block;
	clear: both;
	padding: 3px 0;
	font: bold 11px/18px Arial;
	color: #999999;
}
.EJELIA00502 .clear {
	overflow: hidden;
	clear: both;
}
.EJELIA00502 .carregarMaisNoticias {
	height: 30px;
	border-bottom: 1px solid #cecece;
	display: block;
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
	color: #353535;
	font-size: 14px;
	font-weight: bold;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
	clear: both;
	width: 100%;
	overflow: hidden;
}
.EJELIA00502 .carregarMaisNoticias:after,
.EJELIA00502 .carregarMaisNoticias:before {
	content: " "; background: url(http://s0.ejesa.ig.com.br/img/be/drop-down-bnt.png) no-repeat 0px 0px; width: 13px; height: 7px; display: inline-block; margin: 0 5px;
}
.EJELIA00502 .pagination {
	text-align: center;
	margin: 0 auto 10px auto;
	clear: both;
	margin-top: 5px;
}
