﻿body.ie8 .EJEHLE00102 .span-border-hover span,
body.ie8 .EJEHLE00301 .span-border-hover span,
body.ie8 .EJEHLE01702 .span-border-hover span,
body.ie8 .EJEHLE00702 .span-border-hover span,
body.ie8 .EJEHLE00301 .span-border-hover span {
	border: none;
}

body.ie8 .EJELIE01504 .carousel-display {
	overflow:hidden;
	height:77px; 
}

body.ie8 .EJELIE01504 .carousel-display  a {
	letter-spacing: -1px;
}

body.ie8 .EJELIE01504 .carousel-nav {
   top:-380px;
}