.EJELIE00102 ul li .headline-eye{
	color: #999999;
}
.EJELIE00102 ul li .headline-eye a{
    color: #999999;
}
.EJELIE00102 ul li .headline-eye a:hover{
    color: #999999;
}

.EJELIE00102 .headline-title a{
	color: #006699;
}

.EJELIE00102 .headline-title a:hover{
	color: #0066CC;
}

.EJEHLE00102 .headline-hat a{
	color: #999999;
}

.EJEHLE00102 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00102 .headline-title a{
	color: #006699;	
}

.EJEHLE00102 .headline-title a:hover{
    color: #0066CC; 
}

.EJELIE00202 .carousel-eye a{
	color: #999999;
}

.EJELIE00202 .carousel-eye a:hover{
    color: #999999;
}

.EJELIE00202 .carousel-title a{
	color: #006699;	
}

.EJELIE00202 .carousel-title a:hover{
    color: #0066CC; 
}

.EJEHLE00202 .headline-hat a{
	color: #999999;
}

.EJEHLE00202 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00202 .headline-title a{
	color: #006699;	
}

.EJEHLE00202 .headline-title a:hover{
    color: #0066CC; 
}

.EJEHLE00301 .headline-hat a{
	color: #999999;
}

.EJEHLE00301 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00301 .headline-title a{
	color: #006699;	
}

.EJEHLE00301 .headline-title a:hover{
    color: #0066CC; 
}

.EJELIE00402 .headline-hat a{
	color: #999999;
}

.EJELIE00402 .headline-hat a:hover{
    color: #999999;
}

.EJELIE00402 .headline-title a{
	color: #006699;
}

.EJELIE00402 .headline-title a:hover{
    color: #0066CC;
}

.EJELIE00602 .headline-hat a{
    color: #999999;
}

.EJELIE00602 .headline-hat a:hover{
    color: #999999;
}

.EJELIE00602 .headline-title a{
    color: #006699;
}

.EJELIE00602 .headline-title a:hover{
    color: #0066CC;
}

.EJEHLE00402 .headline-title a{
    color: #006699;
}

.EJEHLE00402 .headline-title a:hover{
	color: #0066CC;
}

.EJEHLE00402 .headline-hat a{
	color: #999999;
}

.EJEHLE00402 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00502 .headline-hat a{
	color: #999999;
}

.EJEHLE00502 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00502 .headline-title a{
	color: #006699;	
}

.EJEHLE00502 .headline-title a:hover{
    color: #0066CC; 
}

.EJEHLE00502 .headline-eye a{
    color: #006699; 
}

.EJEHLE00502 .headline-eye a:hover{
    color: #0066CC; 
}

.EJEHLE00602 .headline .box-hat {
	color: #FFFFFF;
}

.EJEHLE00602 .headline .box-hat  .headline-hat {
	background-color: #006699;
	color: #FFFFFF;
}

.EJEHLE00602 .headline .box-title .headline-title .front {
	color: #FFFFFF;
}


.EJELIE00302 .headline-hat{
    color: #999999;
}

.EJELIE00302 .headline-hat a{
    color: #999999;
}

.EJELIE00302 .headline-hat a:hover{
    color: #999999;
}

.EJELIE00302 .headline-title a{
    color: #006699; 
}

.EJELIE00302 .headline-title a:hover{
    color: #0066CC; 
}

.EJELIE00504{
	background: #F0F0F0;
}

.EJELIE00504 .carousel-options{
	background: #FFFFFF;
}

.EJELIE00504 .carousel-plus a{
	color:#006699;
}

.EJELIE00504 .carousel-plus a:hover{
    color:#0066CC;
}

.EJELIE00504 .carousel-menu ul li{
	background: #f0f0f0;
}

.EJELIE00504 .carousel-menu ul li a{
	color:#999999;
}

.EJELIE00504 .carousel-title a{
	background: #333333;
	color: #FFFFFF;
}

.EJELIE00504 .carousel-title a:hover{
    color: #FFFFFF;
}

.EJEHLE00702 .headline-title a{
    color: #333333;
}

.EJEHLE00702 .headline-title a:hover{
    color: #666666;
}

.EJEHLE00702 .headline-hat a{
    color: #006699;
}

#EJEHLE00802 .headline .box-hat {
    color: #FFFFFF;
}

#EJEHLE00802 .headline .box-hat  .headline-hat {
    background-color: #006699;
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-hat  .headline-hat {
    background-color: #006699;
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-title .headline-title .back {
    color: #000000;
}

.EJEHLE00902 a {
    background-color: #333333;
}

.EJEHLE00902 a:hover {
    background-color: #666666;
}

#EJEHLE01001 .headline{
    background-color: #006699;
}

#EJEHLE01001 .headline .headline-hat{
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-hat a{
    color: #FFFFFF;
}

#EJEHLE01001 .headline .headline-hat a:hover{
    color: #FFFFFF;
}

#EJEHLE01001 .headline .headline-title{
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-title a {
    color:#FFFFFF;
}

#EJEHLE01001 .headline .headline-title a:hover {
    color:#FFFFFF;
}

#EJEHLE01102 .headline{
    background-color: #006699;
}

#EJEHLE01102 .headline .headline-hat{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-hat a{
    color: #FFFFFF;
}


#EJEHLE01102 .headline .headline-hat a:hover{
    color: #FFFFFF;
}

#EJEHLE01102 .headline .headline-title{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title a{
    color:#FFFFFF;
}

#EJEHLE01102 .headline .headline-title a:hover{
    color:#FFFFFF;
}

.EJEHLE001202 .headline-hat a{
    color: #999999;
}

.EJEHLE001202 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE001202 .headline-title a{
    color: #006699;
}

.EJEHLE001202 .headline-title a:hover{
    color: #0066cc;
}

.EJEHLE01301 .headline-hat a{
    color: #999999;
}

.EJEHLE01301 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE01301 .headline-title a{
    color: #006699;
}

.EJEHLE01301 .headline-title a:hover{
    color: #0066CC;
}

.EJEHLE01402 .headline-hat a{
    color: #999999;
}

.EJEHLE01402 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE01402 .headline-title a{
    color: #006699;
}

.EJEHLE01402 .headline-title a:hover{
    color: #0066cc;
}

.EJEHLE01402 .headline-text a{
    color: #333333;
}

.EJEHLE01402 .headline-text a:hover{
    color: #666666;
}

.EJEHLE01501 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-hat  .headline-hat {
    background-color: #006699;
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE01501 a:hover {
    background-color: #333333;
}


#sectionname{
    color: #006699; 
}

.EJETOA00506{
    color: #006699;
}

.EJETOA00506 ul li:first-child a{
    color: #646464;
}

.EJETOA00506 ul li a{
    color: #006699;
}

.EJEHLE01804 .headline-hat a{
    color: #ffffff;
}

.EJEHLE01804 .headline-hat a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a:hover{
    color: #ffffff;
}
    
.EJETOE00202 .product-info .product-title a{
    color:#333333;
}

.EJETOE00202 .product-info .product-title a:hover{
    color: #666666;
}
.EJETOE00202 .product-info .product-text a{
    color:#333333;
}

.EJETOE00202 .product-info .product-text a:hover{
    color: #666666;
}

.EJELIE00702 .carousel-preview{
    background-color: #996699;
}

.EJELIE00702 .headline .box-hat {
    color: #fff;
}

.EJELIE00702 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFF;
}

.EJELIE00702 .headline .box-title .headline-title .back {
    background-color: #000;
    color: #000;
}

.EJELIE00702 a:hover .box-title .headline-title .back {
    background-color:#181717; 
    color:#181717;
}

.EJELIE00702 .headline .box-title .headline-title .front {
    color: #fff;
}

.EJEHLE01902 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE01902 .headline .box-hat  .headline-hat {
    background-color: #006699;
    color: #FFFFFF;
}

.EJEHLE01902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE01902 .headline .box-title .headline-title .back {
    color: #000000;
}

.EJEHLE01902 a {
    background-color: #333333;
}

.EJEHLE01902 a:hover {
    background-color: #666666;
}


.EJETOA01206 #subeditoria-nome-noticia{
    color: #cc0000;
}

.EJETOA01206 #subeditoria-nome-diversao{
    color: #996699;
}

.EJETOA01206 #subeditoria-nome-esporte{
    color: #669933;
}

.EJETOA01206 .fim{
    color: #CC0000;
}

.EJETOA01206 .inicio{
    color: #999;
}

.EJETOA01206 .cabecalho-borda{
    background-color: #CC0000;
}

.EJETOA01206 .icone > a:hover{
    color: #CC0000;
}

.EJETOA01206 .icone a{
    color:#999;
}

.EJETOA01106 .fim{
    color: #CC0000;
}

.EJETOA01106 .inicio{
    color: #999;
}

.EJETOA01106 .cabecalho-borda{
    background-color: #CC0000;
}

.EJETOA01106 .icone > a:hover{
    color: #CC0000;
}

.EJETOA01206 .editoria-noticia-cabecalho{
    border-top:1px solid #999;
 }

.EJETOA00906 .icone a{
    color:#999;
}

.EJETOA00906 .icone > a:hover{
    color: #996699;
}

.EJETOA00906 .cabecalho-borda{
    background-color: #996699;
}

.EJETOA00906 .inicio{
    color: #999;
}

.EJETOA00906 .fim{
    color: #996699;
}

.EJETOA01006 .icone a{
    color:#999;
}

.EJETOA01006 .icone > a:hover{
    color: #669933;
}

.EJETOA01006 .cabecalho-borda{
    background-color: #669933;
}

.EJETOA01006 .inicio{
    color: #999;
}

.EJETOA01006 .fim{
    color: #669933;
}

.EJETOA01106 .icone a{
    color:#999;
}

.EJELIE01202 .headline-hat a{
    color: #999999;
}
.EJELIE01202 .headline-hat a:hover{
    color: #999999;
}
.EJELIE01202 .headline-title a{
    color: #006699;
}
.EJELIE01202 .headline-title a:hover{
    color: #0066CC;
}
.EJELIE01202 .headline-list ul li a{
    color: #006699;
}

.EJELIE01202 .headline-list ul li a:hover{
    color: #0066CC;
}

.EJEHLE02104 .headline-hat a {
    color: #999999;
}
.EJEHLE02104 .headline-hat a:hover{
    color: #999999;
}
.EJEHLE02104 .headline-title a {    
    color: #006699;
}
.EJEHLE02104 .headline-title a:hover{
    color: #0066CC;
}
.EJEHLE02104 .headline-text a {
    color: #333333;
}
.EJEHLE02104 .headline-text a:hover{
    color: #666666;
}


.EJELIE01004 .news-hat{
    background-color: #F5F5F5;
}

.EJELIE01004 .news-hat .text{
    color: #cc0000;
}

.EJELIE01004 .headline-pos1-hat a{
    color: #333;
}

.EJELIE01004 .headline-pos1-hat a:hover{
    color: #333;
}

.EJELIE01004 .headline-pos1-title a{
    color: #333;
}

.EJELIE01004 .headline-pos1-title a:hover{
    color: #333;
}
.EJELIE01004 .headline-title a{
    color: #333;
}

.EJELIE01004 .headline-title a:hover{
    color: #666;
}

.EJEHLE02004 .headline-hat a{
    color: #999;
}

.EJEHLE02004 .headline-hat a:hover{
    color: #999;
}
.EJEHLE02004 .headline-title a{
    color: #006699;
}

.EJEHLE02004 .headline-title a:hover{
    color: #0066CC;
}
.EJEHLE02004 .headline-text a{
    color: #333333;
}
.EJEHLE02004 .headline-text a:hover{
    color: #666666;
}

.EJELIA00302 .news-menu{
    border-bottom:5px solid #006699;
}

.EJELIA00302 .news-menu ul li{
    background: #006699;
}


.EJELIA00302 .news-menu ul li a{
    color:#FFF; 
}

.EJELIA00302 .headline .headline-item-eye{
    color:#999999;
}


.EJELIA00302 .headline .headline-item-title a{
    color:#006699;
}

.EJELIA00402 .carousel-eye a{
    color: #999999;
}

.EJELIA00402 .carousel-eye a:hover{
    color: #999999;
}

.EJELIA00402 .carousel-title a{
    color: #006699; 
}

.EJELIA00402 .carousel-title a:hover{
    color: #0066CC; 
}

.EJEHLE01602 .headline-hat a{
    color: #999999;
}

.EJEHLE01602 .headline-title a{
    color: #006699;
}

.EJEHLE01602 .headline-title a:hover{
    color: #0066CC;
}




.EJEHLE01804 .headline-hat a{
    color: #ffffff;
}

.EJEHLE01804 .headline-hat a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a:hover{
    color: #ffffff;
}

.EJEHLE02104 .headline-hat a {
    color: #999999;
}

.EJEHLE02104 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02104 .headline-title a {    
    color: #006699;
}

.EJEHLE02104 .headline-title a:hover{
    color: #0066CC;
}

.EJEHLE02104 .headline-text a {
    color: #333333;
}

.EJEHLE02104 .headline-text a:hover{
    color: #666666;
}
.EJEHLE02202 .headline-hat a {
    color: #999999;
}

.EJEHLE02202 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02202 .headline-title a {    
    color: #006699;
}
.EJEHLE02202 .headline-title a:hover{
    color: #0066CC;
}
.EJEHLE02202 .headline-text a {
    color: #333333;
}
.EJEHLE02202 .headline-text a:hover{
    color: #666666;
}

.bgsection{
    background: #004c87 !important;
    color: #f0f0f0 !important;
}

.bgoff{
    background: #f0f0f0 !important;
    color: #b2b2b2 !important;
}

.border-section{
    border-color: #004c87 !important;
}

.EJELIE00504 .nav_on{
    border-color: #004c87;
}

.EJELIE00504 .nav_off{
    border-color: #f0f0f0;
}


.EJETOE00501 {
    color: #3f2e4e;
}   

.EJETOE00501 .tempo-data a{
    color: #3f2e4e;
}

.EJETOE00501 .tempo-local a{
    color: #3f2e4e;
}

.EJETOE00501 .temp-min{
    color: #3f2e4e;
}

.EJETOE00501 .temp-max{
    color: #3f2e4e;
}

.EJETOA01701 {
    color: #3f2e4e;

}   
.EJETOA01701 .tempo-data a{
    color: #3f2e4e;
}

.EJETOA01701 .tempo-local a{
    color: #3f2e4e;
}

.EJETOA01701 .temp-min{
    color: #3f2e4e;
}

.EJETOA01701 .temp-max{
    color: #3f2e4e;
}


.EJETOE00604 #carousel-opiniao .carousel-opiniao-header .carousel-opiniao-header-top .left .bottom{
    color:#333333;
}

.EJETOE00604 .carousel-feature .carousel-caption p {
  color:#ca0000;
}

.EJETOE00604 .tracker-summation-container {
  background-color:#000;
}

.EJETOE00604 .header-color{
  background-color: #cc0000;
}



.EJEHLE00102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE00102 .headline:hover .headline-title a{
    color:#0066CC;
}


.EJEHLE00301 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE00301 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE00402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE00402 .headline:hover .headline-title a{
   color:#0066CC;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE01202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE01202 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE01402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE01402 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE01402 .headline:hover .headline-text a{
    color:#0066CC;
}

.EJEHLE02902 .headline .headline-title a{
    color:#006699;
}

.EJEHLE02902 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE02902 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE01602 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE01602 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJEHLE02202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE02202 .headline:hover .headline-title a{
    color:#0066CC;
}
.EJELIE01102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJELIE01102 .headline:hover .headline-title a{
    color:#0066CC;
}
.EJEHLE02104 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE02104 .headline:hover .headline-title a{
    color:#0066CC;
}



.EJETOE00802 .tool-header .top{
    background-color:#ccc;
}

.EJETOE00802 .tool-header .text a{
    color: #006699;
}

.EJETOE00802 .tool-footer a{
    color: #006699;
}

.EJETOE00802 .tool-footer a:hover{
    color: #0066CC;
}

.EJELIE01504{
    background: #F0F0F0;
}

.EJELIE01504 .carousel-options{
    background: #FFFFFF;
}

.EJELIE01504 .carousel-plus a{
    color:#006699;
}

.EJELIE01504 .carousel-plus a:hover{
    color:#0066CC;
}

.EJELIE01504 .carousel-menu ul li{
    background: #004c87;
}

.EJELIE01504 .carousel-menu ul li a{
    color:#fff;
}

.EJELIE01504 .carousel-title a{
    background: #333333;
    color: #FFFFFF;
}

.EJELIE01504 .carousel-title a:hover{
    color: #FFFFFF;
}


.EJELIA00602 .news-menu{
    border-bottom:5px solid #006699;
}

.EJELIA00602 .news-menu ul li.ativo{
    background: #b2b2b2;
}

.EJELIA00602 .news-menu ul li.ativo a{
    color:#f0f0f0; 
}

.EJELIA00602 .news-menu ul li.inativo{
    background: #f0f0f0;
}

.EJELIA00602 .news-menu ul li.inativo a{
    color:#b2b2b2; 
}

.EJELIA00602 .headline .headline-title a{
    color:#006699;

}

.EJELIA00602 .headline .headline-title a:hover{
    color:#0066cc;
}


.EJELIA00602 .headline .headline-item-eye{
    color:#999999;
}


.EJELIA00602 .headline .headline-item-title a{
    color:#006699;
}


.EJELIA00602 .headline .headline-item-eye{
    color:#999999;
}


.EJELIA00602 .headline .headline-item-title a{
    color:#006699;
}

.EJELIE01602 .headline-hat a{
    color: #999;
}

.EJELIE01602 .headline-title a{
    color: #006699; 
}

.EJELIE01602 .headline-title a:hover{
    color: #0066cc; 
}

.EJELIE01702 .headline:hover .headline-text a{
    opacity: 1;
    color:#0066cc;

}

.EJELIE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#006699;
}


.EJEHLE01702 .headline .headline-hat a{
    color: #999999;
}

.EJEHLE01702 .headline .headline-hat a:hover{
    color: #999999;
}

.EJEHLE01702 .headline .headline-title a{
    color: #006699; 
}

.EJEHLE01702 .headline .headline-title a:hover{
    color: #0066CC; 
}



.EJETOE00202 .product-info .product-title a{
    color: #999;
   
}

.EJETOE00202 .product-info .product-text a{
    color: #999;
}


.EJETOE01004 .galeria-foto-header{
    border-top: 1px solid #006699;
}

.EJETOE01004 .galeria-foto-header-top{
    background-color: #006699;
}

.EJETOE01004 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01004 .galeria-foto-header-name .right{
    color: #006699;
}

.EJETOE01004 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent; 
    background: rgba(0, 102, 153, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#006699, endColorstr=#006699);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#006699, endColorstr=#006699);
    

}

.EJETOE01004 .layer-texto {
    color: #FFFFFF;
}



.EJELIA00106 .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/blue_arrow.png');
}

.EJELIA00106 > ul > li:hover .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/blue_arrow2.png');
}


.EJELIA00106 > ul > li:hover .span-border-hover span:first-child{
    color:#0066CC;
}

.EJELIA00106 .headline-filter{
    background-color:#006699;
    color:#fff;
}

.EJELIA00106 > ul > li:hover .headline-filter{
   background-color:#0066CC;
}


.EJELIA00106 .headline-date{
    color:#999999;
}

.EJELIA00106 .headline-eye{
    color:#999;
}

.EJELIA00106 .headline-eye a{
    color:#999;
}

.EJELIA00106 .headline-title{
    color: #006699;
}

.EJELIA00106 .headline-title a{
    color: #006699;
}

.EJELIA00106 > ul > li:hover .headline-title{
    color: #0066CC;
}

.EJELIA00106 > ul > li:hover .headline-title a{
    color: #0066CC;
}

.EJELIA00106 .list-header-search {
    border-top:1px solid #006699;
}

.EJELIA00106 .list-header-search #span-title1{
    color:#999999;
}

.EJELIA00106 .list-header-search #span-title2{
    color:#006699;
}

.EJELIA00106 .list-header-search .toptitle{
    color:#006699; 
}

.EJELIA00106 .list-header-search .topborder{
    background-color:#006699; 
}

.EJELIA00202 .headline .headline-item-title a:hover{
    color: #0066cc;
}


.EJELIE01504 .carousel-display ul li:hover {
    border: 4px solid #0066cc;
}


.EJELIE01304 .product{
    background-color:#eee;
}

.EJELIE01304 .product-info .product-title a{
    color: #006699;
}

.EJELIE01304 .product-info .product-title a:hover{
    color: #0066cc;
}

.EJELIE01304 .product-info .product-hat a {
    color: #999;

}

.EJELIE01304 .product-info .product-hat a:hover{
    color: #999;
}

.EJELIE01304 .product-info .product-text a{
    color: #333;
}


.EJELIE01304 .product-info .product-text a:hover{
    color: #666;
}


.EJELIE02002 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066cc;
}

.EJELIE02002 .headline:hover .headline-title a{
    color:#0066cc;
}


.EJEHLE02401 .headline-hat a{
    color: #999999;
}

.EJEHLE02401 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02401 .headline-title a{
    color: #006699; 
}

.EJEHLE02401 .headline-title a:hover{
    color: #0066CC; 
}
.EJEHLE02401 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE02401 .headline:hover .headline-title a{
    color:#0066CC;
}



.EJEHLE02501 .headline-hat a{
    color: #999999;
}

.EJEHLE02501 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02501 .headline-title a{
    color: #006699; 
}

.EJEHLE02501 .headline-title a:hover{
    color: #0066CC; 
}

.EJEHLE02501 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.EJEHLE02501 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#0066CC;
}

.EJEHLE02501 .headline:hover .headline-title a{
    color:#0066CC;
}


.EJEHLE02602 .headline-hat a{
    color: #999999;
}

.EJEHLE02602 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02602 .headline-title a{
    color: #006699; 
}

.EJEHLE02602 .headline-title a:hover{
    color: #000;
}

.EJEHLE02602 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#0066CC;
}

.EJEHLE02602 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 00);
}

.EJEHLE02602 .headline:hover .headline-title a{
    color:#0066CC;
}

.EJETOE01304 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent; 
    background: rgba(0, 102, 153, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#006699, endColorstr=#006699);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#006699, endColorstr=#006699);
}

.EJETOE01304 .galeria-foto-header{
    border-top: 1px solid #006699;
}

.EJETOE01304 .galeria-foto-header-top{
    background-color: #006699;
}

.EJETOE01304 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01304 .galeria-foto-header-name .right{
    color: #006699;
}

.EJETOE01406 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/blue_arrow.png') no-repeat -12px;
}

.EJETOE01406 .destaque-seta-cor{
    background-color: #006699;
}

.EJETOE01406 .destaque-lista ul li a{
    color: #006699;
}

.EJETOE00001 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/blue_arrow.png') no-repeat -12px;
}

.EJETOE00001 .destaque-seta-cor{
    background-color: #006699;
}

.EJETOE00001 .destaque-lista ul li a{
    color: #006699;
}


.EJELIE02204 .titulo{
    color:#006699; 
}

.EJELIE02204 .chapeu{ 
    color:#999; 
}

.EJELIE02204 .texto{ 
    color:#333; 
}

.EJELIE02204 .galeria .txt { 
    color:#006699; 
}

.EJELIE02204 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #006699 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #006699 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #006699 100%);
}
.EJEHLE02802 .headline .headline-hat a{
    color:#999;
}

.EJEHLE02802 .headline .headline-title a{
    color:#006699;
}

.EJEHLE02802 .headline .headline-title a:hover{
    color:#0066cc;
}

.EJEHLE02802 .headline .headline-eye a{
    color:#333;
}

.EJEHLE02802 .headline .headline-eye a:hover{
    color:#666;
}
.EJEHLE02704 .headline-hat a{
    color: #999;
}

.EJEHLE02704 .headline-hat a:hover{
    color: #999;

}

.EJEHLE02704 .headline-title a{
    color: #006699;
}

.EJEHLE02704 .headline-title a:hover{
    color: #0066CC;

}

.EJEHLE02704 .headline-text a{
    color: #333333;
}

.EJEHLE02704 .headline-text a:hover{
    color: #666666;

}



.EJEHLE02804 .headline-hat a{
    color: #999;
}

.EJEHLE02804 .headline-hat a:hover{
    color: #999;

}

.EJEHLE02804 .headline-title a{
    color: #006699;
}

.EJEHLE02804 .headline-title a:hover{
    color: #0066CC;

}

.EJELIE02404 #carrossel ul#small li span,#carrossel ul#small li span.hover{
    border:4px solid #006699;
}
 
.EJELIE02404 #carrossel ul#small li span, #carrossel ul#small li  img:hover{
    border:4px solid #006699;
}


.EJELIE02404 .carrossel-options{
    background: #FFF;
    border-bottom: 5px solid #006699;
}
.EJELIE02404 .carrossel-menu ul li {
    background: #006699;
}





.EJELIE02204x .titulo{
    color:#006699; 
}

.EJELIE02204x .chapeu{ 
    color:#999; 
}

.EJELIE02204x .texto{ 
    color:#333; 
}

.EJELIE02204x .galeria .txt { 
    color:#006699; 
}

.EJELIE02204x #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204x .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
}


.EJELIE01702x .headline:hover .headline-text a{
    opacity: 1;
    color:#0066cc;

}

.EJELIE01702x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#006699;
}

.EJELIE01702x .headline .headline-hat a{
    color: #999;
}

.EJEHLE01702x .headline .headline-hat a:hover{
    color: #999;
}

.EJELIE01702x .headline .headline-title a{
    color: #006699;
}

.EJELIE01702x .headline .headline-title a:hover{
    color: #0066cc;
}


.EJEHLE01702x .headline:hover .headline-title a{
    color:#0066cc;
}



.EJEHLE00202x .headline-hat a{
    color: #999999;
}

.EJEHLE00202x .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00202x .headline-title a{
    color: #006699; 
}

.EJEHLE00202x .headline-title a:hover{
    color: #0066CC; 
}




.EJEHLE01402x .headline-hat a{
    color: #999999;
}

.EJEHLE01402x .headline-hat a:hover{
    color: #999999;
}

.EJEHLE01402x .headline-title a{
    color: #006699;
}

.EJEHLE01402x .headline-title a:hover{
    color: #0066cc;
}

.EJEHLE01402x .headline-text a{
    color: #333333;
}

.EJEHLE01402x .headline-text a:hover{
    color: #666666;
}

.EJEHLE01402x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE01402x .headline:hover .headline-title a{
    color:#0066CC;
}


.EJELIA01004 .titulo{
    color:#006699; 
}

.EJELIA01004 .chapeu{ 
    color:#999; 
}

.EJELIA01004 .texto{ 
    color:#333; 
}

.EJELIA01004 .galeria .txt { 
    color:#006699; 
}

.EJELIA01004 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIA01004 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
}



.EJEHLE03001 .headline-hat a{
    color: #999999;
}

.EJEHLE03001 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE03001 .headline-title a{
    color: #006699; 
}

.EJEHLE03001 .headline-title a:hover{
    color: #0066CC; 
}
.EJEHLE03001 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#0066CC;
}

.EJEHLE03001 .headline:hover .headline-title a{
    color:#0066CC;
}



.EJELIE02702 .headline .headline-hat a{
    color: #999;
}

.EJELIE02702 .headline .headline-title a{
    color: #006699;
}

.EJELIE02702 .headline .headline-title a:hover{
    color: #0066cc;
}

.EJELIE02702 .headline:hover .headline-text a{
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#0066CC;

}

.EJELIE02702 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#0066cc;
}


.EJELIE02802 .headline-hat a{
    color: #999;
}

.EJELIE02802 .headline-title a{
    color: #006699; 
}

.EJELIE02802 .headline-title a:hover{
    color: #0066cc; 
}



.EJEHLE02302 .headline-hat a{
    color: #999;
}

.EJEHLE02302 .headline-hat a:hover{
    color: #999;
}

.EJEHLE02302 .headline-title a{
    color: #006699;
}

.EJEHLE02302 .headline-title a:hover{
    color: #0066CC;
}


.EJEHLE02302 .headline-text a{

    color: #333333;
}

.EJEHLE02302 .headline-text a:hover{
    color: #666666;

}


.EJEHLE03002 .headline-hat a{
    color: #999;
}

.EJEHLE03002 .headline-hat a:hover{
    color: #999;
}

.EJEHLE03002 .headline-title a{
    color: #006699;
}

.EJEHLE03002 .headline-title a:hover{
    color: #0066CC;
}


.EJEHLE03002 .headline-text a{

    color: #333333;
}

.EJEHLE03002 .headline-text a:hover{
    color: #666666;

}

.EJELIE02504 .headline-hat a{
    color: #999999;
}
.EJELIE02504 .headline-hat a:hover{
    color: #999999;
}
.EJELIE02504 .headline-title a{
    color: #006699;
}

.EJELIE02504 .headline-title a:hover{
    color: #0066CC;
}

.EJELIE02504 .headline-list ul li a{
    color: #006699;
}

.EJELIE02504 .headline-list ul li a:hover{
    color: #0066CC;
}

.EJELIE02504 .headline-text a {
    color: #333333;
}

.EJELIE02504 .headline-text a:hover {
    color: #666;
}


.EJEHLE02104 .headline-hat a {
    color: #999999;
}
.EJEHLE02104 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02104 .headline-title a {    
    color: #006699;
}
.EJEHLE02104 .headline-title a:hover{
    color: #0066CC;
}

.EJEHLE02104 .headline-text a {
    color: #333333;
}

.EJEHLE02104 .headline-text a:hover{
    color: #666666;
}




.EJELIE01702xx .headline:hover .headline-text a{
    opacity: 1;
    color:#0066cc;

}

.EJELIE01702xx .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#000;
}

.EJELIE01702xx .headline .headline-hat a{
    color: #999;
}

.EJEHLE01702xx .headline .headline-hat a:hover{
    color: #999;
}

.EJELIE01702xx .headline .headline-title a{
    color: #006699;
}

.EJELIE01702xx .headline .headline-title a:hover{
    color: #0066cc;
}


.EJEHLE01702xx .headline:hover .headline-title a{
    color:#0066cc;
}

.EJEHLE02802x .headline .headline-hat a{
    color:#999;
}

.EJEHLE02802x .headline .headline-title a{
    color:#006699;
}

.EJEHLE02802x .headline .headline-title a:hover{
    color:#0066cc;
}

.EJEHLE02802x .headline .headline-eye a{
    color:#333;
}

.EJEHLE02802x .headline .headline-eye a:hover{
    color:#666;
}



.EJEHLE00202xx .headline-hat a{
    color: #999999;
}

.EJEHLE00202xx .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00202xx .headline-title a{
    color: #006699; 
}

.EJEHLE00202xx .headline-title a:hover{
    color: #0066CC; 
}

.EJELIE02902 .headline-list ul li a{
    color: #006699;
}

.EJELIE02902 .headline-list ul li a:hover{
    color: #0066CC;
}



.EJELIE03006 .headline-hat a{
    color: #999999;
}
.EJELIE03006 .headline-hat a:hover{
    color: #999999;
}
.EJELIE03006 .headline-title a{
    color: #006699;
}

.EJELIE03006 .headline-title a:hover{
    color: #0066CC;
}

.EJELIE03006 .headline-list ul li a{
    color: #006699;
}

.EJELIE03006 .headline-list ul li a:hover{
    color: #0066CC;
}

.EJELIE03006 .headline-text a {
    color: #333333;
}

.EJELIE03006 .headline-text a:hover {
    color: #666;
}





.EJELIE03104 .titulo{
    color:#006699; 
}

.EJELIE03104 .chapeu{ 
    color:#999; 
}

.EJELIE03104 .texto{ 
    color:#333; 
}

.EJELIE03104 .galeria .txt { 
    color:#006699; 
}

.EJELIE03104 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE03104 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #006699 50%, #006699 100%);
}





.EJEHLE02602xx .headline-hat a{
    color: #999999;
}

.EJEHLE02602xx .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02602xx .headline-title a{
    color: #fff; 
}

.EJEHLE02602xx .headline-title a:hover{
    color: #fff;
}


.EJEHLE02602xx .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#000;
}

.EJEHLE02602xx .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 00);
}


.EJEHLE02602xx .headline:hover .headline-title a{
    color:#fff;
}



.EJESTA00606 .EJELIE03006 .headline-hat a{
    color: #999999;
}
.EJESTA00606 .EJELIE03006 .headline-hat a:hover{
    color: #999999;
}
.EJESTA00606 .EJELIE03006 .headline-title a{
    color: #fff;
}

.EJESTA00606 .EJELIE03006 .headline-title a:hover{
    color: #fff;
}

.EJESTA00606 .EJELIE03006 .headline-list ul li a{
    color: #fff;
}

.EJESTA00606 .EJELIE03006 .headline-list ul li{
    color: #fff;
}

.EJESTA00606 .EJELIE03006 .headline-list ul li a:hover{
    color: #fff;
}

.EJESTA00606 .EJELIE03006 .headline-text a {
    color: #fff;
}

.EJESTA00606 .EJELIE03006 .headline-text a:hover {
    color: #fff;
}

.EJESTA00606 .EJELIE02902 .headline-list ul li {
    color: #fff;
}

.EJESTA00606 .EJELIE02902 .headline-list ul li a{
    color: #fff;
}

.EJESTA00606 .EJELIE02902 .headline-list ul li a:hover{
    color: #fff;
}


.EJESTA00606 .EJELIE01702xx .headline .headline-title a{
    color: #fff;
}

.EJESTA00606 .EJELIE01702xx .headline .headline-title a:hover{
    color: #fff;
}

.EJESTA00606 .EJELIE03104 .galeria{
    background-color: #000;
}
.EJESTA00606 .EJELIE03104 .carousel-headlines{
    background-color: #000;
}

.EJESTA00606 .EJELIE03104 .chapeu{
    color: #999;
}

.EJESTA00606 .EJELIE03104 .titulo{
    color: #fff;
}

.EJESTA00606 .EJELIE03104 .texto{
    color: #eee;
}


.EJESTA00606 .EJELIE03104 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJESTA00606 .EJELIE03104 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #999 50%, #999 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #999 50%, #999 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #999 50%, #999 100%);
}



.EJESTA00704 .EJELIE02902 .headline-list ul li {
    color: #fff;
}

.EJESTA00704 .EJELIE02902 .headline-list ul li a{
    color: #fff;
}

.EJESTA00704 .EJELIE02902 .headline-list ul li a:hover{
    color: #fff;
}

.EJESTA00704 .EJEHLE02004 .headline-hat a{
    color: #999;
}

.EJESTA00704 .EJEHLE02004 .headline-title a{
    color:#fff;
}

.EJESTA00704 .EJEHLE02004 .headline-text a{
    color:#fff;
}


.EJESTA00704 .EJELIE02302xx .carousel-headlines .carousel-title a{
    color: #fff;
}

.EJESTA00704 .EJELIE02302xx .carousel-headlines .carousel-title a:hover{
    color: #fff;
}

#ident-sec h2, #ident-sec h3{
    color:#006699;
}