
.EJELIE00102 ul li .headline-eye{
	color: #999999;
}

.EJELIE00102 ul li .headline-eye a{
    color: #999999;
}

.EJELIE00102 ul li .headline-eye a:hover{
    color: #999999;
}

.EJELIE00102 .headline-title a{
	color: #996699;
}

.EJELIE00102 .headline-title a:hover{
	color: #CC66CC;
}

.EJEHLE00102 .headline-hat a{
	color: #999999;
}

.EJEHLE00102 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00102 .headline-title a{
	color: #996699;
}

.EJEHLE00102 .headline-title a:hover{
    color: #CC66CC;
}


.EJELIE00602 .headline-hat a{
    color: #999999;
}

.EJELIE00602 .headline-hat a:hover{
    color: #999999;
}

.EJELIE00602 .headline-title a{
    color: #006699;
}

.EJELIE00602 .headline-title a:hover{
    color: #0066CC;
}

.EJELIE00702 .carousel-preview{
    background-color: #996699;
}

.EJELIE00702 .headline .box-hat {
    color: #fff;
}

.EJELIE00702 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFF;
}

.EJELIE00702 .headline .box-title .headline-title .back {
    background-color: #000;
    color: #000;
}

.EJELIE00702 a:hover .box-title .headline-title .back {
    background-color:#181717;
    color:#181717;
}

.EJELIE00702 .headline .box-title .headline-title .front {
    color: #fff;
}

.EJELIE00202 .carousel-eye a{
    color: #999999;
}

.EJELIE00202 .carousel-eye a:hover{
    color: #CC66CC;
}

.EJELIE00202 .carousel-title a{
	color: #996699;
}

.EJELIE00202 .carousel-title a:hover{
    color: #CC66CC;
}

.EJEHLE00202 .headline-hat a{
	color: #999999;
}

.EJEHLE00202 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00202 .headline-title a{
	color: #996699;
}

.EJEHLE00202 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE00301 .headline-hat a{
	color: #999999;
}

.EJEHLE00301 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00301 .headline-title a{
	color: #996699;
}

.EJEHLE00301 .headline-title a:hover{
    color: #CC66CC;
}

.EJELIE00402 .headline-hat a{
	color: #999999;
}

.EJELIE00402 .headline-hat a:hover{
    color: #999999;
}

.EJELIE00402 .headline-title a{
	color: #996699;
}

.EJELIE00402 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE00402 .headline-title a{
	color: #996699;
}

.EJEHLE00402 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE00402 .headline-hat a{
	color: #999999;
}

.EJEHLE00402 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00502 .headline-hat a{
	color: #999999;
}

.EJEHLE00502 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00502 .headline-title a{
	color: #996699;
}

.EJEHLE00502 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE00502 .headline-eye a{
    color: #996699;
}

.EJEHLE00502 .headline-eye a:hover{
    color: #CC66CC;
}

.EJEHLE00602 .headline .box-hat {
	color: #FFFFFF;
}

.EJEHLE00602 .headline .box-hat  .headline-hat {
	background-color: #996699;
	color: #FFFFFF;
}

.EJEHLE00602 .headline .box-title .headline-title .front {
	color: #FFFFFF;
}

.EJELIE00302 .headline-hat{
    color: #999999;
}

.EJELIE00302 .headline-hat a{
    color: #999999;
}

.EJELIE00302 .headline-hat a:hover{
    color: #999999;
}

.EJELIE00302 .headline-title a{
    color: #996699;
}

.EJELIE00302 .headline-title a:hover{
    color: #CC66CC;
}


.EJELIE00504{
	background: #F0F0F0;
}

.EJELIE00504 .carousel-options{
	background: #FFFFFF;
}

.EJELIE00504 .carousel-plus a{
	color:#996699;
}

.EJELIE00504 .carousel-plus a:hover{
    color:#CC66CC;
}

.EJELIE00504 .carousel-menu ul li{
	background: #f0f0f0;
}

.EJELIE00504 .carousel-menu ul li a{
	color:#999999;
}

.EJELIE00504 .carousel-title a{
	background: #333333;
	color: #FFFFFF;
}

.EJELIE00504 .carousel-title a:hover{
    background: #333333;
    color: #FFFFFF;
}

.EJEHLE00702 .headline-title a{
    color: #333333;
}

.EJEHLE00702 .headline-title a:hover{
    color: #646464;
}

.EJEHLE00702 .headline-hat a{
    color: #996699;
}

.EJEHLE00702 .headline-hat a:hover{
    color: #CC66CC;
}

.EJEHLE00802 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE00802 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE00902 .headline .box-title .headline-title .back {
    color: #000000;
}


.EJEHLE00902 a:hover {
    background-color: #333333;
}

.EJEHLE01001 .headline{
    background-color: #996699;
}

.EJEHLE01001 .headline .headline-hat{
    color:#FFFFFF;
}

.EJEHLE01001 .headline .headline-title{
    color:#FFFFFF;
}

.EJEHLE01001 .headline .headline-title a {
    color:#FFFFFF;
}

.EJEHLE01001 .headline .headline-title a:hover {
    color:#FFFFFF;
}

.EJEHLE01001 .headline .headline-hat a{
    color: #FFFFFF;
}

.EJEHLE01001 .headline .headline-hat a:hover{
    color: #FFFFFF;
}


.EJEHLE01102 .headline{
    background-color: #996699;
}

.EJEHLE01102 .headline .headline-hat{
    color:#FFFFFF;
}

.EJEHLE01102 .headline .headline-hat a{
    color: #FFFFFF;
}

.EJEHLE01102 .headline .headline-hat a:hover{
    color: #FFFFFF;
}

.EJEHLE01102 .headline .headline-title{
    color:#FFFFFF;
}

.EJEHLE01102 .headline .headline-title a{
    color:#FFFFFF;
}

.EJEHLE01102 .headline .headline-title a:hover{
    color:#FFFFFF;
}

.EJEHLE001202 .headline-hat a{
    color: #999999;
}

.EJEHLE001202 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE001202 .headline-title a{
    color: #996699;
}

.EJEHLE001202 .headline-title a:hover{
    color: #0066cc;
}

.EJEHLE01301 .headline-hat a{
    color: #999999;
}

.EJEHLE01301 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE01301 .headline-title a{
    color: #996699;
}

.EJEHLE01301 .headline-title a:hover{
    color: #0066CC;
}

.EJEHLE01402 .headline-hat{
    color: #996699;
}

.EJEHLE01402 .headline-hat a{
    color: #996699;
}

.EJEHLE01402 .headline-hat a:hover{
    color: #CC66CC;
}

.EJEHLE01402 .headline-title{
    color: #333333;
}

.EJEHLE01402 .headline-title a{
    color: #333333;
}

.EJEHLE01402 .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402 .headline-text a{
    color: #333333;
}

.EJEHLE01402 .headline-text a:hover{
    color: #666666;
}


.EJEHLE01501 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFFFFF;
}

.EJEHLE01501 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE01501 a:hover {
    background-color: #333333;
}

.EJEHLE01702 .headline .headline-hat a{
    color: #999999;
}

.EJEHLE01702 .headline .headline-title a{
    color: #996699;
}


#sectionname{
    color: #996699;
}

.EJETOA00506{
    color: #996699;
}

.EJETOA00506 ul li:first-child a{
    color: #646464;
}

.EJETOA00506 ul li a{
    color: #996699;
}

.EJENEE00404{
    color: #996699;
}

.EJENEA00404{
    color: #996699;
}

.EJENEA00404 ul li a{
    color: #996699;
}

.EJENEE00704 .title{
    color: #996699;
}

.EJELIA00106 .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/lilac_arrow.png');
}

.EJELIA00106 > ul > li:hover .headline-span{
    background:url('http://s0.ejesa.ig.com.br/img/odia/pink_arrow.png');
}

.EJELIA00106 .headline-filter{
    background-color:#996699;
    color:#fff;
}

.EJELIA00106 > ul > li:hover .headline-filter{
   background-color:#CC66CC;
}

.EJELIA00106 > ul > li:hover .span-border-hover span:first-child{
    color:#CC66CC;
}

.EJELIA00106 .headline-date{
    color:#999999;
}

.EJELIA00106 .headline-eye{
    color:#646464;
}

.EJELIA00106 .headline-eye a{
    color:#646464;
}

.EJELIA00106 .headline-title{
    color: #996699;
}

.EJELIA00106 > ul > li:hover .headline-title{
    color: #CC66CC;
}

.EJELIA00106 .headline-title a{
    color: #996699;
}

.EJELIA00106 > ul > li:hover .headline-title a{
    color: #CC66CC;
}

.EJELIA00106 .list-header-search {
    border-top:1px solid #996699;
}

.EJELIA00106 .list-header-search #span-title1{
    color:#999999;
}

.EJELIA00106 .list-header-search #span-title2{
    color:#996699;
}

.EJELIA00106 .list-header-search .toptitle{
    color:#996699;
}

.EJELIA00106 .list-header-search .topborder{
    background-color:#996699;
}

.EJELIE01102 .headline-hat{
    color: #949494;
}

.EJELIE01102 .headline-title a{
    color: #996699;
}

.EJELIE01102 .headline-title a:hover{
   color: #0066CC;
}

.EJEHLE01902 .headline .box-hat {
    color: #FFFFFF;
}

.EJEHLE01902 .headline .box-hat  .headline-hat {
    background-color: #996699;
    color: #FFFFFF;
}

.EJEHLE01902 .headline .box-title .headline-title .front {
    color: #FFFFFF;
}

.EJEHLE01902 .headline .box-title .headline-title .back {
    color: #000000;
}


.EJEHLE01902 a:hover {
    background-color: #333333;
}


.EJETOA01206 #subeditoria-nome-noticia{
    color: #cc0000;
}

.EJETOA01206 #subeditoria-nome-diversao{
    color: #996699;
}

.EJETOA01206 #subeditoria-nome-esporte{
    color: #669933;
}


.EJETOA01206 .editoria-noticia-cabecalho{
    border-top: 1px solid #996699;
}

.EJETOA01206 .fim{
    color: #996699;
}

.EJETOA01206 .inicio{
    color: #999;
}

.EJETOA01206 .cabecalho-borda{
    background-color: #996699;
}

.EJETOA01206 .icone > a:hover{
    color: #996699;
}

.EJETOA01206 .icone a{
    color:#999;
}



.EJETOA01106 .fim{
    color: #CC0000;
}

.EJETOA01106 .inicio{
    color: #999;
}

.EJETOA01106 .cabecalho-borda{
    background-color: #CC0000;
}

.EJETOA01106 .icone > a:hover{
    color: #CC0000;
}

.EJETOA00906 .icone a{
    color:#999;
}

.EJETOA00906 .icone > a:hover{
    color: #996699;
}

.EJETOA00906 .cabecalho-borda{
    background-color: #996699;
}

.EJETOA00906 .inicio{
    color: #999;
}

.EJETOA00906 .fim{
    color: #996699;
}

.EJETOA01006 .icone a{
    color:#999;
}

.EJETOA01006 .icone > a:hover{
    color: #669933;
}

.EJETOA01006 .cabecalho-borda{
    background-color: #669933;
}

.EJETOA01006 .inicio{
    color: #999;
}

.EJETOA01006 .fim{
    color: #669933;
}

.EJETOA01106 .icone a{
    color:#999;
}

.EJELIA00302 .news-menu{
    border-bottom:5px solid #996699;
}

.EJELIA00302 .news-menu ul li{
    background: #996699;
}


.EJELIA00302 .news-menu ul li a{
    color:#FFF;
}

.EJELIA00302 .headline .headline-item-eye{
    color:#949494;
}


.EJELIA00302 .headline .headline-item-title a{
    color:#996699;
}

.EJELIA00302 .headline .headline-item-title a:hover {
	color:#cc66cc;
}

.EJELIA00402 .carousel-eye a{
    color: #999999;
}

.EJELIA00402 .carousel-eye a:hover{
    color: #CC66CC;
}

.EJELIA00402 .carousel-title a{
    color: #996699;
}

.EJELIA00402 .carousel-title a:hover{
    color: #CC66CC;
}

.EJEHLE01602 .headline-hat a{
    color: #999999;
}

.EJEHLE01602 .headline-title a{
    color: #996699;
}

.EJEHLE01602 .headline-title a:hover{
    color: #CC66CC;
}




.EJEHLE01804 .headline-hat a{
    color: #ffffff;
}

.EJEHLE01804 .headline-hat a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a{
    color: #ffffff;
}

.EJEHLE01804 .headline-title a:hover{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a{
    color: #ffffff;
}

.EJEHLE01804 .headline-text a:hover{
    color: #ffffff;
}




.EJEHLE02104 .headline-hat a {
    color: #999999;
}

.EJEHLE02104 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02104 .headline-title a {
    color: #996699;
}

.EJEHLE02104 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE02104 .headline-text a {
    color: #996699;
}

.EJEHLE02104 .headline-text a:hover{
    color: #CC66CC;
}


.EJEHLE02202 .headline-hat a {
    color: #999999;
}

.EJEHLE02202 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02202 .headline-title a {
    color: #996699;
}
.EJEHLE02202 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE02202 .headline-text a {
    color: #996699 ;
}
.EJEHLE02202 .headline-text a:hover{
    color: #CC66CC;
}

.bgsection{
    background: #996699 !important;
    color: #f0f0f0 !important;
}

.bgoff{
    background: #f0f0f0 !important;
    color: #b2b2b2 !important;
}

.border-section{
    border-color: #996699 !important;
}

.EJELIE00504 .nav_on{
    border-color: #996699;
}

.EJELIE00504 .nav_off{
    border-color: #f0f0f0;
}




.EJEHLE00301 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE00301 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE00102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE00102 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE00402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE00402 .headline:hover .headline-title a{
   color:#CC66CC;
}

.EJEHLE00702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE00702 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE01202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE01202 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE01402 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE01402 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE01402 .headline:hover .headline-text a{
    color:#CC66CC;
}

.EJEHLE02902 .headline .headline-title a{
    color:#996699;
}

.EJEHLE02902 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE02902 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE01602 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE01602 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE02202 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE02202 .headline:hover .headline-title a{
    color:#CC66CC;
}
.EJELIE01102 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJELIE01102 .headline:hover .headline-title a{
    color:#CC66CC;
}
.EJEHLE02104 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE02104 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE01702 .headline:hover .headline-title a{
    color:#CC66CC;
}

#conteudo div.tags span { color:#996699;}

#conteudo div.tags span.lista-tags {color:#414141;}

.EJENEA00504 .news-hat .text {color:#996699;}

.EJENEA00604 .comment span {color:#996699;}

.EJENEA00604 #send-comment {border: 1px solid #996699; background:#996699;}

.EJENEA00604 .field-post-comment .autor-comment {color:#996699; }

.EJENEA00604 .field-post-comment .time-comment {color:#996699; }



.EJELIE01504{
    background: #F0F0F0;
}

.EJELIE01504 .carousel-options{
    background: #FFFFFF;
}

.EJELIE01504 .carousel-plus a{
    color:#996699;
}

.EJELIE01504 .carousel-plus a:hover{
    color:#CC66CC;
}

.EJELIE01504 .carousel-menu ul li{
    background: #996699;
}
.EJELIE01504 .carousel-menu ul li a {
	color:#FFF;
}

.EJELIE01504 .nav_on {
	border: 4px solid #996699;
}

.EJELIE01504 .carousel-options {
	border-bottom:5px solid #996699;
}

.EJELIE01504 .carousel-menu ul li a{
    color:#FFF;
}

.EJELIE01504 .carousel-title a{
    background: #333333;
    color: #FFFFFF;
}

.EJELIE01504 .carousel-title a:hover{
    background: #333333;
    color: #FFFFFF;
}


.EJELIA00602 .news-menu{
    border-bottom:5px solid #996699;
}


.EJELIA00602 .news-menu ul li.ativo{
    background: #996699;
}

.EJELIA00602 .news-menu ul li.ativo a{
    color:#FFF;
}

.EJELIA00602 .news-menu ul li.inativo{
    background: #f0f0f0;
}

.EJELIA00602 .news-menu ul li.inativo a{
    color:#b2b2b2;
}

.EJELIA00602 .headline .headline-title a{
    color:#996699;

}

.EJELIA00602 .headline .headline-title a:hover{
    color:#cc66cc;
}

.EJELIA00602 .headline .headline-item-eye{
    color:#949494;
}


.EJELIA00602 .headline .headline-item-title a{
    color:#996699;
}

.EJELIA00602 .headline .headline-item-title a:hover {
	color:#cc66cc;
}


.EJELIE01602 .headline-hat a{
    color: #999;
}

.EJELIE01602 .headline-title a{
    color: #996699;
}

.EJELIE01602 .headline-title a:hover{
    color: #CC66CC;
}


.EJELIE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#cc66cc;
}


.EJELIE01702 .headline:hover .headline-text a{
    opacity: 1;
    color:#cc66cc;

}



.EJELIE01702 .headline .headline-hat a{
    color: #999;
}

.EJELIE01702 .headline .headline-title a{
    color: #996699;
}

.EJELIE01702 .headline .headline-title a:hover{
    color: #cc66cc;
}

.EJELIE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#cc66cc;
}

.EJETOE00202 .product-info .product-title a{
    color: #999;

}

.EJETOE00202 .product-info .product-text a{
    color: #999;
}


.EJETOE01004 .galeria-foto-header{
    border-top: 1px solid #996699;
}

.EJETOE01004 .galeria-foto-header-top{
    background-color: #996699;
}

.EJETOE01004 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01004 .galeria-foto-header-name .right{
    color: #996699;
}

.EJETOE01004 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(153, 102, 153, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#996699, endColorstr=#996699);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#996699, endColorstr=#996699);

}

.EJETOE01004 .layer-texto {
    color: #FFFFFF;
}


.EJENEE01004 .galleria-thumb-nav-left{
    background-image: url('http://s0.ejesa.ig.com.br/img/odia/sprite-setas-galerias-materias.png');
    background-repeat: no-repeat;
    background-position: 0 -144px; width: 40px; height: 70px;
}

.EJENEE01004 .galleria-thumb-nav-right{
    background-image: url('http://s0.ejesa.ig.com.br/img/odia/sprite-setas-galerias-materias.png');
    background-repeat: no-repeat;
    background-position: 0 -216px; width: 40px; height: 70px;
}


.EJELIE01504 .carousel-display ul li:hover {
    border: 4px solid #996999;
}


.EJELIE02002 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#cc66cc;
}

.EJELIE02002 .headline:hover .headline-title a{
    color:#CC66CC;
}



.EJEHLE02401 .headline-hat a{
    color: #999999;
}

.EJEHLE02401 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02401 .headline-title a{
    color: #996699;
}

.EJEHLE02401 .headline-title a:hover{
    color: #CC66CC;
}
.EJEHLE02401 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE02401 .headline:hover .headline-title a{
    color:#CC66CC;
}



.EJEHLE02501 .headline-hat a{
    color: #999999;
}

.EJEHLE02501 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02501 .headline-title a{
    color: #996699;
}

.EJEHLE02501 .headline-title a:hover{
    color: #CC66CC;
}

.EJEHLE02501 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.EJEHLE02501 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#CC66CC;
}


.EJEHLE02501 .headline:hover .headline-title a{
    color:#CC66CC;
}


.EJEHLE02602 .headline-hat a{
    color: #999999;
}

.EJEHLE02602 .headline-hat a:hover{
    color: #999999;
}

.EJEHLE02602 .headline-title a{
    color: #996699;
}

.EJEHLE02602 .headline-title a:hover{
    color: #CC66CC;
}
.EJEHLE02602 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#CC66CC;
}

.EJEHLE02602 .span-border-hover .active {
    opacity: 0;
    filter: alpha(opacity = 00);
}
.EJEHLE02602 .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJETOE01304 .galeria-foto-header{
    border-top: 1px solid #996699;
}

.EJETOE01304 .galeria-foto-header-top{
    background-color: #996699;
}

.EJETOE01304 .galeria-foto-header-name .left{
    color: #999;
}

.EJETOE01304 .galeria-foto-header-name .right{
    color: #996699;
}


.EJETOE01304 .foto-pos-destaque-layer{
    background: rgb(0, 0, 0) transparent;
    background: rgba(153, 102, 153, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#996699, endColorstr=#996699);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#996699, endColorstr=#996699);

}

.EJETOE01406 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/lilac_arrow.png') no-repeat -12px;
}

.EJETOE01406 .destaque-seta-cor{
    background-color: #996699;
}

.EJETOE01406 .destaque-lista ul li a{
    color: #996699;
}


.EJETOE00001 .destaque-seta-ponta{
    background: url('http://s0.ejesa.ig.com.br/img/odia/lilac_arrow.png') no-repeat -12px;
}

.EJETOE00001 .destaque-seta-cor{
    background-color: #996699;
}

.EJETOE00001 .destaque-lista ul li a{
    color: #996699;
}


.EJELIE02204 .titulo{
    color:#999;
}

.EJELIE02204 .chapeu{
    color:#996699;
}

.EJELIE02204 .texto{
    color:#999;
}

.EJELIE02204 .galeria .txt {
    color:#999;
}

.EJELIE02204 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #996699 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #996699 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #996699 100%);
}


.EJEHLE02802 .headline .headline-hat a{
    color:#999;
}

.EJEHLE02802 .headline .headline-title a{
    color:#996699;
}

.EJEHLE02802 .headline .headline-title a:hover{
    color:#cc66cc;
}

.EJEHLE02802 .headline .headline-eye a{
    color:#996699;
}

.EJEHLE02802 .headline .headline-eye a:hover{
    color:#cc66cc;
}

  #EJEHEA00806 nav.especial-nav {
    border-bottom: 1px solid #996699 !important;
 }

 .especial-nav .wrap-grid {
    border-top: 1px solid #996699 !important;
    border-bottom: 2px solid #996699 !important;
 }


.EJEHLE02704 .headline-hat a{
    color: #999;
}

.EJEHLE02704 .headline-hat a:hover{
    color: #999;

}

.EJEHLE02704 .headline-title a{
    color: #996699;
}

.EJEHLE02704 .headline-title a:hover{
    color: #cc66cc;

}

.EJEHLE02704 .headline-text a{
    color: #333;
}

.EJEHLE02704 .headline-text a:hover{
    color: #666;

}



.EJEHLE02804 .headline-hat a{
    color: #999;
}

.EJEHLE02804 .headline-hat a:hover{
    color: #999;

}

.EJEHLE02804 .headline-title a{
    color: #996699;
}

.EJEHLE02804 .headline-title a:hover{
    color: #cc66cc;

}

.EJELIE02404 #carrossel ul#small li span.ativo,#carrossel ul#small li span.hover{
    border:4px solid #996699;
}

.EJELIE02404 #carrossel ul#small li span, #carrossel ul#small li  img:hover{
    border:4px solid #996699;
}


.EJELIE02404 .carrossel-options{
    background: #FFF;
    border-bottom: 5px solid #996699;
}
.EJELIE02404 .carrossel-menu ul li {
    background: #996699;
}







.EJELIE02204x .titulo{
    color:#999;
}

.EJELIE02204x .chapeu{
    color:#996699;
}

.EJELIE02204x .texto{
    color:#999;
}

.EJELIE02204x .galeria .txt {
    color:#999;
}

.EJELIE02204x #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02204x .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #996699 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #996699 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #996699 100%);
}


.EJELIE01702x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#cc66cc;
}


.EJELIE01702x .headline:hover .headline-text a{
    opacity: 1;
    color:#cc66cc;

}

.EJELIE01702x .headline .headline-hat a{
    color: #999;
}

.EJELIE01702x .headline .headline-title a{
    color: #996699;
}

.EJELIE01702x .headline .headline-title a:hover{
    color: #cc66cc;
}

.EJELIE01702x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#cc66cc;
}



.EJEHLE00202x .headline-hat a{
    color: #999999;
}

.EJEHLE00202x .headline-hat a:hover{
    color: #999999;
}

.EJEHLE00202x .headline-title a{
    color: #996699;
}

.EJEHLE00202x .headline-title a:hover{
    color: #CC66CC;
}



.EJEHLE01402x .headline-hat{
    color: #996699;
}

.EJEHLE01402x .headline-hat a{
    color: #996699;
}

.EJEHLE01402x .headline-hat a:hover{
    color: #CC66CC;
}

.EJEHLE01402x .headline-title{
    color: #333333;
}

.EJEHLE01402x .headline-title a{
    color: #333333;
}

.EJEHLE01402x .headline-title a:hover{
    color: #666666;
}

.EJEHLE01402x .headline-text a{
    color: #333333;
}

.EJEHLE01402x .headline-text a:hover{
    color: #666666;
}

.EJEHLE01402x .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#CC66CC;
}

.EJEHLE01402x .headline:hover .headline-title a{
    color:#CC66CC;
}

.EJEHLE01402x .headline:hover .headline-text a{
    color:#CC66CC;
}


.EJELIE01702 .headline:hover .span-border-hover .active {
    opacity: 1;
    color:#cc66cc;
}


.EJELIE01702 .headline:hover .headline-text a{
    opacity: 1;
    color:#cc66cc;

}


.EJELIE02702 .headline .headline-hat a{
    color: #999;
}

.EJELIE02702 .headline:hover .headline-text a{
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#996699;

}
.EJELIE02702 .headline .headline-title a{
    color: #996699;
}

.EJELIE02702 .headline .headline-title a:hover{
    color: #cc66cc;
}

.EJELIE02702 .headline:hover .span-border-hover .active {
    opacity: 1;
    filter: alpha(opacity = 100);
    color:#cc66cc;
}



.EJELIE02802 .headline-hat a{
    color: #999;
}

.EJELIE02802 .headline-title a{
    color: #996699;
}

.EJELIE02802 .headline-title a:hover{
    color: #CC66CC;
}





.EJELIE02602 .big,
.EJELIE02602 .thumbs {
    background: #996699;
}

.EJELIE02602 .big .headline .box-hat  .headline-hat {
    background-color: #996699;
}
.EJELIE02602 .thumbs > .setas.direita {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -275px #774a85;
}

.EJELIE02602 .thumbs > .setas.esquerda {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -368px #774a85;
}


.EJELIE02602 .big .indicador {
    background: url('http://s0.ejesa.ig.com.br/img/odia/arrow-top.png') no-repeat top;
}

}
.EJELIE02602 .big .headline .box-hat  .headline-hat {
    background-color: #996699;
}


.nave-setas .news-prev-seta.ativo {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') 10px 413px;
}

.nave-setas .news-next-seta.ativo{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') 10px 485px;
}

.nave-setas .news-next.ativo{
    border-left: 3px solid #996699;
}


.nave-setas .news-prev.ativo{
    border-right: 3px solid #996699;
}

.noticia a {
    color: #996699 !important;
    font-size: 14px;
    display: inline-block;
}

#ident-sec h2, #ident-sec h3{
    color:#996699;
}
