#logo {margin-top:0 !important;}
#logo h1 {padding: 29px 12px 29px 0 !important; margin:0 !important;}

.header-copadasconfederacoes,
.header-selecaobrasileira {
	height: 156px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_confederacoes_topo.png') no-repeat 430px 0; 
}

body#confederacoes_brasil {
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg-brasil_02.jpg') no-repeat center 156px; 
}

body#confederacoes_brasil #main, 
body#confederacoes_brasil #container {
	background: none;
}

.confd-prox-jogos {
	width: 660px;
	float: left;
	vertical-align: top;
	margin-top: 7px;
}
.confd-prox-jogos #carousel_inner {
	width: 542px;
}
.confd-prox-jogos #carousel_ul li {
	width: 90px;
}
.confd-prox-jogos #right_scroll {
	margin-right: 0px;
}
.selecao-de-noticias {
	width: 240px;
	height: 70px;
	float: left;
	display: block;
	margin-right: 20px;
	margin-top:4px;
}
.selecao-de-noticias a{
	display: block;
	width: 120px;
	height: 62px;
	float: left;
	border-bottom: 1px solid #5a8f1b;
	-webkit-box-sizing: border-box;
    	-moz-box-sizing:border-box;
    		box-sizing: border-box;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    color: #333;
    vertical-align: top;
}
.selecao-de-noticias a span{
	width: 60px;
	height:63px;
	vertical-align: top;
	line-height: 16px;
	display: inline-block;
	margin-top: 15px;
}
.selecao-de-noticias a:hover, .selecao-de-noticias.todas a.confe-logo, .selecao-de-noticias.brasil-sel a.cbf-logo {background-color: #5a8f1b;color: #fff;}


.selecao-de-noticias.todas .cbf-logo img, .selecao-de-noticias.brasil-sel .confe-logo img {opacity: 0.5;}
.selecao-de-noticias a:hover.confe-logo img, .selecao-de-noticias a:hover.cbf-logo img {opacity: 1;}

.selecao-de-noticias.todas a:hover.cbf-logo, .selecao-de-noticias.brasil-sel a.cbf-logo {border-top-right-radius: 5px;}
.selecao-de-noticias a:hover.confe-logo, .selecao-de-noticias a.confe-logo {border-top-left-radius: 5px;}

.selecao-de-noticias.todas  {background: url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/indicador-confd.jpg) no-repeat 50px 62px; }
.selecao-de-noticias.brasil-sel {background: url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/indicador-confd.jpg) no-repeat 170px 62px;}

#tabs#confederacoes-tabs {}

.classifTab { width:940px; height:100%; }
/*#content-abas { width:100%; overflow:hidden; height:100%; }*/
.classificacao-grupos #tabs { margin-bottom: 18px; }
.classificacao-grupos #tabs>ul { clear: both;float: none;}
.classificacao-grupos #tabs>ul>li { margin-right:4px; }
.classificacao-grupos #tabs>ul>li>a { background: none repeat scroll 0 0 #eeeeee; color: #d9d9d9; display: block; font-size: 10px; padding: 8px 10px; cursor:pointer; line-height: 10px; font-weight: bold; }
.classificacao-grupos #tabs>ul>li:hover a, .classificacao-grupos #tabs .ui-tabs-active a { background: none repeat scroll 0 0 #d8d8d8; color: #FFFFFF; }

.classificacao-grupos #tabs-1, .classificacao-grupos #tabs-2, .classificacao-grupos #tabs-3 { border-top:0px none; padding-top:0px; }



.calentarios { width:300px; float:right; border-bottom:2px solid #B2B2B2; height:333px; position: relative;}


.calentarios #nav { margin: 0 auto; width: 126px; padding:15px 0; }
.calentarios #nav a { display:block; float:left; line-height:0; font-size:0; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_desativado.png) center 7px no-repeat; width:8px; height:15px; margin:0 6px; }
.calentarios #nav a[rel="prev"], .calentarios a[rel="next"]  { width:21px !important; height:21px !important; }

.calentarios #nav a[rel="prev"] { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_esquerda.png) no-repeat; }
.calentarios #nav a[rel="next"] { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_direita.png) no-repeat; }
.calentarios #nav a.highlight { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_ativado.png) center 7px no-repeat; }
.tabela-de-jogos-confd table *, .tabela-de-jogos-confd table {border-spacing: 0px; border: 0px none; border-collapse: collapse;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tabela-de-jogos-confd table th.thead{
	text-align: center;
	background: #eeeeee;
	padding: 8px 0;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	color: #999999;
	font-size: 11px;
	font-weight: bold;
	line-height: 10px;
	height: 28px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}


.calentarios .titulo { font:24px Arial, Helvetica, sans-serif; color:#a5a5a5; text-transform:lowercase; margin:0 0 8px; border-top:1px solid #5A8F1B; padding-left:16px; }
.calentarios .titulo span { color:#5a8f1b; }
.calentarios .titulo .barrinha { width:87px; height:7px; background:#5a8f1b; margin-bottom:8px; }

.tabela-de-jogos-confd table tr{
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	height: 50px;
}
.tabela-de-jogos-confd table tr.thead{
	height: 28px;
}
.tabela-de-jogos-confd table tr th.dia{
	border-right: 1px solid #d8d8d8;
	font-size: 10px;
	font-weight: bold;
	line-height: 10px;
	color: #999;
	width: 35px;
}
.tabela-de-jogos-confd table tr th.dia strong{display: block;font-size: 15px; line-height: 15px; color: #6b6b6b;}
.tabela-de-jogos-confd table tr td {
	vertical-align: middle;
	width: 35px;
	text-align: center;
}
.tabela-de-jogos-confd table tr td.hora {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	vertical-align: top;
	padding-top: 12px;
}
.tabela-de-jogos-confd table tr td.time-bandeira {
	width: 33px;
	font-size: 10px;
	color: #999;
	vertical-align: top;
	padding-top: 10px;
}
.tabela-de-jogos-confd table tr td.contra {
	width: 19px;
	vertical-align: top;
	padding-top: 17px;
	line-height: 10px;
	font-size: 12px;
	color: #999;
	font-weight: bold;
}
.tabela-de-jogos-confd table tr td.divisor {
	width: 14px;
	text-align: right;
}
.tabela-de-jogos-confd table tr:nth-child(odd) {
	background:#eeeeee ;
}
.tabela-de-jogos-confd .intervencao-jogo {
	position: relative;
	width: 273px;
	height: 96px ;
	border: 2px solid #c4c4c4;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	top: 15px;
	left: 10px;
	-moz-box-shadow:inset 0 0 27px 14px rgba(0, 0, 0, 0.95);
	-webkit-box-shadow:inset 0 0 27px 14px rgba(0, 0, 0, 0.95);
	box-shadow:inset 0 0 27px 14px rgba(0, 0, 0, 0.95);
}
.inside-jogo {
	position: relative;
	border: 1px solid #fff;
	display: block;
	width: 272px;
	height: 95px ;
	color: #fff;
}

.inside-jogo .timeA, .inside-jogo .timeB, .inside-jogo .estadio, .inside-jogo .horario, .inside-jogo .contra {
	position: absolute;
	top: 0px;
	font-size: 12px;
}

.inside-jogo .timeA .bandeira_selecao, .inside-jogo .timeB .bandeira_selecao {
	width:70px; height:19px; padding-top:2px; padding-left:35px;
}

.inside-jogo .timeB .bandeira_selecao {text-align: right; padding-left:0; padding-right:35px; background-position:70px 0;}
.inside-jogo .timeB .bandeira_brasil {background-position:70px 0;}
.inside-jogo .timeB .bandeira_japao {background-position:70px -40px;}
.inside-jogo .timeB .bandeira_mexico {background-position:70px -80px;}
.inside-jogo .timeB .bandeira_italia {background-position:70px -120px;}
.inside-jogo .timeB .bandeira_espanha {background-position:70px -160px;}
.inside-jogo .timeB .bandeira_uruguai {background-position:70px -200px;}
.inside-jogo .timeB .bandeira_tahiti {background-position:70px -240px;}
.inside-jogo .timeB .bandeira_nigeria {background-position:70px -280px;}
.inside-jogo .timeB .bandeira_indefinida {background-position:70px -320px;}

.inside-jogo .timeA {
	top: 13px;
	left: 13px;
	width: 105px;
	height: 33px;
	vertical-align: top;
}
.inside-jogo .timeB {
	top: 13px;
	right: 13px;
	width: 105px;
	height: 33px;
	vertical-align: top;
}
.inside-jogo .timeA span, .inside-jogo .timeB span {
	display: inline-block;
	margin: 0 8px;
}
.inside-jogo .timeA img, .inside-jogo .timeB img {
	vertical-align: middle;
}
.inside-jogo .estadio {
	width: 270px;
	top: 49px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.inside-jogo .horario {
	width: 270px;
	top: 65px;
	text-align: center;
	font-size: 15px;
}
.inside-jogo .contra {
	font-size: 12px;
	font-weight: bold;
	top: 18px;
	left: 130px;
}
.patrocinio-breadcrumb {
	float: right;
	position: relative;
	top: -10px;
}

.brasil-prox-jogos {
	width: 660px;
	float: left;
	vertical-align: top;
	margin-top: 7px;
}
.brasil-prox-jogos #carousel_inner {
	width: 100px;
	margin: 0 5px 0 15px;
}
.brasil-prox-jogos #left_scroll, .brasil-prox-jogos #right_scroll {
	margin-top: 10px;
}
.separador-jogos {
	height: 25px;
	width: 2px;
	margin: 0px 10px 0 10px;
	border-right: 1px solid #888888;
}

ul.ultimos-jogos-brasil li { background:#ffffff; float:left; margin:0; }
ul.ultimos-jogos-brasil li { float:left; padding:5px 15px; padding:2.5px 14px \0/; color:#666666; background:#fff;margin-top: 2px;  }
ul.ultimos-jogos-brasil li .data { font-size:10px; font-weight:normal; }
ul.ultimos-jogos-brasil li .times { font-size:12px; text-transform:none; }
ul.ultimos-jogos-brasil li .status { font-size:10px; font-weight:normal; color:#5a8f1b; }
.ultimos-resultados .do-brasil .times-cariocas span { margin:16px 5px 0 0; }
.ultimos-resultados .do-brasil  .times-cariocas img { margin:4px 0 0 6px; }
span.brasil-jogos-scroll {
	padding-top: 15px;
	margin: 0 10px 0 15px;
}
.brasil-prox-jogos #carousel_inner {margin-top: 4px;}
.foto-principal {
	width: 300px;
	height: 330px;
	float: left;
	position: relative;
	margin: 0 20px 20px 0;
	overflow: hidden;
	padding-bottom: 0px;
	border-bottom: 1px #cecece dotted;
}
.foto-principal .legenda-foto-principal {
	position: absolute;
	bottom: 32px;
}
.foto-principal .legenda-foto-principal small{
	display: inline-block;
	clear: both;
	padding: 5px 10px;
	background: #5a8f1b;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
.foto-principal .legenda-foto-principal h2{
	display: inline;
	clear: both;
	padding: 0px 3px 11px 0px;
	background: #000;
	text-shadow:1px 1px 0px #000;
	color: #000;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	opacity: 0.8;
	border: 0px none;
	word-spacing: 5px;
	float: none;
}
.foto-principal .legenda-foto-principal h2.front-titulo {
	color: #fff;
	left: 4px;
	padding: 6px 4px 8px 0px;
	position: absolute;
	top: 20px;
	width: 300px;
	background: none;
	border: 0px none;
	opacity: 1;
	word-spacing: 2px;
}
.destaques-do-brasil {

}
.float-left {
	float: left;
}
.destaques-do-brasil {
	float: left;
	width: 300px;
}
.destaques-do-brasil img {
	margin-right: 20px;
}
.destaques-do-brasil h3 {
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	color: #5a8f1b;
	margin: 0 0 10px 0;
	padding: 0px;
}
.destaques-do-brasil h4 {
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #333;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
}
.destaques-do-brasil a:hover h4{ text-decoration: underline !important; color: #333;}
.destaques-do-brasil>div{
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #cecece;
	min-height: 86px;
}
.destaques-do-brasil>div:first-child {
	padding-bottom: 30px;
}
.publi300 {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #cecece;
	width: 300px;
	position: relative;
}
.publi300.last-child {margin-right: 0px;}
.publi300 small {
	width: 300px;
	text-align: right;
	position: absolute;
	top: -10px;
	color: #7D7D7B;

}
.fotogaleria-torcedor {
	width: 600px;
	height: 500px;
	margin-right: 20px;
	margin-top: 45px;
}
.fotogaleria-torcedor .titulo {
width: 100px;
background: #5a8f1b;
text-align: center;
text-transform: none;
color: #FFFFFF;
font: normal 20px Arial, Helvetica, sans-serif;
padding: 13px 0;
margin: 0;
float: left;
}
.fotogaleria-torcedor .titulo-barra {
background: #5a8f1b;
width: 620px;
height: 4px;
}
.fotogaleria-torcedor .ir-mais-fotos a {
	font-size: 20px;
	float: right;
	color: #333;
	display: block;
	padding-top: 10px;
}

/* fotogaleria */

#carrossel-aroeira{width:620px;overflow:hidden;position:relative;background:#e2e2e2}
#carrossel-aroeira .charge{width:620px;height:382px;overflow:hidden;position:relative;background:#000}
#carrossel-aroeira .charge .indicador{width:27px;height:13px;background:url('http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/indicador.png') no-repeat;position:absolute;bottom:0;left:68px;z-index:4}
#carrossel-aroeira .charge img{width:620px;height:382px}
#carrossel-aroeira ul{list-style:none;margin:0;padding:0;overflow:hidden}
#carrossel-aroeira>.thumbs{position:relative;padding-top:10px;z-index:3}
#carrossel-aroeira ul li{float:left; position: relative;}
#carrossel-aroeira ul#small{height:80px;left:27px;top:0;position:relative;z-index:1}
#carrossel-aroeira ul#small li{margin-right:4px;width:110px;height:68px;background:#fff}
#carrossel-aroeira ul#small li span,#carrossel-aroeira ul#small li span.hover{border:4px solid #669933;position:absolute;width:102px;height:62px;cursor:pointer;opacity:0}
#carrossel-aroeira ul#small li span.ativo{border:4px solid #669933;opacity:1}
#carrossel-aroeira>.thumbs .setas{width:24px;height:70px;background:url('http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/setas_navegacao.png') no-repeat}
#carrossel-aroeira>.thumbs .esquerda{background-position:0 -5px;position:absolute;cursor:pointer;left:0;z-index:2}
#carrossel-aroeira>.thumbs .direita{background-position:-72px -5px;position:absolute;cursor:pointer;right:0;top:10px;z-index:2}
#carrossel-aroeira .seta-esquerda{background:url('http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/setas_navegacao_grande.png') no-repeat;width:42px;height:74px;position:absolute;top:155px;left:-42px;cursor:pointer}
#carrossel-aroeira .seta-direita{background:url('http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/setas_navegacao_grande.png') no-repeat -42px 0;width:42px;height:74px;position:absolute;right:-42px;top:155px;cursor:pointer}

.titulo-brasil-carrossel {
 position: absolute;
 top: 100px;
 font-size: 24px;
 color: #fff;
 background: #000;
}

.wrap-legenda {
	width: 620px;
	position: absolute;
	text-align: left;
	bottom: 25px;
	left: 0px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
.wrap-legenda p, .wrap-legenda small {
	color: #000;
	left: 0px;
	padding: 6px 4px 8px 0px;
	background: none;
	border: 0px none;
	word-spacing: 2px;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
}
.wrap-legenda p {
	display: inline;
	clear: both;
	padding: 0px 3px 11px 10px;
	background: #000;
	color: #000;

	opacity: 0.8;
	border: 0px none;
	word-spacing: 6px;
	float: none;
}
.wrap-legenda small {
	text-shadow: 1px 1px 0px #000;
	color: #fff;
	opacity: 1;
	position: absolute;
	bottom: -10px;
	left: 10px;
	width: 590px;
}



.tabela-de-jogos-confd .bandeira_selecao { 
	width: 33px;
	height: 33px;
	padding-top: 22px;
	background: no-repeat url("http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/logos_selecoes.png");
}
.tabela-de-jogos-confd .bandeira_brasil {background-position:0 0;}
.tabela-de-jogos-confd .bandeira_japao {background-position:0 -40px;}
.tabela-de-jogos-confd .bandeira_mexico {background-position:0 -80px;}
.tabela-de-jogos-confd .bandeira_italia {background-position:0 -120px;}
.tabela-de-jogos-confd .bandeira_espanha {background-position:0 -160px;}
.tabela-de-jogos-confd .bandeira_uruguai {background-position:0 -200px;}
.tabela-de-jogos-confd .bandeira_tahiti {background-position:0 -240px;}
.tabela-de-jogos-confd .bandeira_nigeria {background-position:0 -280px;}
.tabela-de-jogos-confd .bandeira_indefinida {background-position:0 -320px;}


.EJETOA02502 .sidebar {margin-left:0px !important;}

