#logo {margin-top: 0 !important;}

/* CSS Brasileirão Jornal O Dia */
body { margin:0; padding:0; background:#ffffff; font:12px Arial; }
img { border:none; outline:none; }
a { border:none; text-decoration:none; outline:none; }
p { margin:0; padding:0; }
h1, h1 a { margin:0; float:left; padding:29px 12px 29px 0; }
h2, h2 a { margin:0; float:left; padding-top:38px; }
h3, h3 a { margin:0 0 18px 0; color:#333333; font:bold 20px/22px Arial, Helvetica, sans-serif; }
h4, h4 a { margin:0; color:#333333; font:bold 14px Arial, Helvetica, sans-serif; }
h5, h5 a { margin:0 0 15px; color:#5a8f1b; font:bold 11px Arial, Helvetica, sans-serif; text-transform:uppercase; }
h1 a, h2 a, h3 a, h4 a, h5 a { padding:0; margin:0; }
ul { list-style-type:none; margin:0; padding:0; }
.clear { clear:both; display:block; }
.container { width:940px; margin:0 auto; }



/***** HEADER *****/
#header { width:100%; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/bg_header.jpg); border-top:6px solid #3b3b3b; border-bottom:1px solid #5a8f1b; }


.header-brasileirao-2013 {
	height: 156px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/header_brasileirao.png?v2') no-repeat 430px 0; 
}



/* Oferecimento */
#header .oferecimento { font:11px Arial, Helvetica, sans-serif; color:#333333; float:right; margin-top:28px; text-align:right; }


/* Publicidade Topo */
.publicidade-topo { width:934px; background:url("http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png"); padding:9px 3px 7px; margin:0 0 33px; color:#7d7d7b; text-align:right; }
.publicidade-topo p { margin:0 0 8px; }

.publicidade-topo1 { float:left; }
.publicidade-topo2 { float:right; }

/****** CONTENT ******/
.content { background:#ffffff; padding-top:48px; }

.sidebar .classificacao .titulo { font:24px Arial, Helvetica, sans-serif; color:#a5a5a5; text-transform:lowercase; margin:0 0 8px; border-top:1px solid #5A8F1B; padding-left:16px; }
.sidebar .classificacao .titulo span { color:#5a8f1b; }
.sidebar .classificacao .titulo .barrinha { width:87px; height:7px; background:#5a8f1b; margin-bottom:8px; }

/* Breadcrumb */
.breadcrumb { border-bottom:2px solid #d8d8d8; padding-bottom:7px; margin-bottom:38px; }
.breadcrumb strong { color:#5a8f1b; }

/* Últimos Resultados */
.ultimos-resultados { background:url("http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png"); font:bold 11px Arial, Helvetica, sans-serif; color:#333333; text-transform:uppercase; position:relative; margin:20px 0 30px; border-bottom:1px solid #d8d8d8; padding:5px 9px 4px 10px; }
.ultimos-resultados span { float:left; margin-top:8px; }
.ultimos-resultados .resultados { background:#ffffff; float:left; margin:0; }
.ultimos-resultados .resultados .arrow-left, .ultimos-resultados .resultados .arrow-right { float:left; }
.ultimos-resultados .resultados .resultado { float:left; padding:2.5px 15px; padding:2.5px 14px \0/; color:#666666; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/div_ultimos-resultados.jpg) no-repeat right center; }
.ultimos-resultados .resultados .resultado .data { font-size:10px; font-weight:normal; }
.ultimos-resultados .resultados .resultado .times { font-size:12px; text-transform:none; }
.ultimos-resultados .resultados .resultado .status { font-size:10px; font-weight:nnormal; color:#5a8f1b; }
.ultimos-resultados .resultados .last { background:none; }
.ultimos-resultados .times-cariocas span { margin:16px 5px 0 0; }
.ultimos-resultados .times-cariocas img { margin:4px 0 0 6px; }

#carousel_inner {
	float:left;
	width:547px;
	overflow: hidden;
}

#carousel_ul {
	position:relative;
	left:0;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width:9999px;
}

#carousel_ul li{
	float: left;
	width:92px;
	padding:3px 4px 3px 14px;
}

#carousel_ul li img {
	.margin-bottom:-4px;
	cursor:pointer;
	cursor: hand;
	border:0px;
}
#left_scroll, #right_scroll{
	float:left;
	width:15px;
}
#left_scroll { margin-left:12px; }
#right_scroll { margin-right:12px; }
#left_scroll img, #right_scroll img{
	cursor: pointer;
	cursor: hand;
}


/* Conteúdo */
.conteudo { width:620px; float:left; position: relative;}

/* Galeria de Fotos */
.galeria { width:620px; background:#eeeeee; position:relative; margin-bottom:0 !important; }
.galeria .txt { width:175px; padding:27px 12px; float:left; font:14px/18px Arial, Helvetica, sans-serif; color:#333333; }
.galeria .txt .contador-galeria { width: 176px; height: 20px; position: relative;}
.galeria .fotos { width:421px; float:left; }

/* Destaques */
.destaques {}
.destaques .destaque { margin-right:20px; width:140px; float:left; }
.destaques .destaque img { width:140px; height:180px; margin-bottom:17px; }
.destaques .last { margin-right:0; }

/* Fotogalerias */
.fotogalerias { margin:46px 0 41px; border-top:1px solid #5a8f1b; width:620px; }
.fotogalerias .foto1 { width:160px; height:160px; float:left; margin-right:1px; }
.fotogalerias .foto2-3 { width:158px; height:160px; float:left; margin-right:1px; }
.fotogalerias .foto4-5-6 { width:300px; height:160px; float:left; }
.fotogalerias .foto4-5-6 img:last-child { margin-left:1px; }

.fotogalerias .foto2-3 img:first-child, .fotogalerias .foto4-5-6 img:first-child { margin-bottom:1px; }

.fotogalerias .titulo { float:left; }
.fotogalerias .maisfotos { float:right; margin-top:12px; }
.fotogalerias .maisfotos a { font:bold 20px Arial, Helvetica, sans-serif; color:#333333; }

/* Mais lidas */
.mais-lidas { width:300px; float:left; height:333px; border-bottom:2px solid #B2B2B2; }
.mais-lidas .noticia { border-bottom:1px dotted #b2b2b2; padding-bottom:10px; margin-bottom:6px; margin-top:10px; padding-right:10px; }
.mais-lidas .noticia a { font:bold 12px/16px Arial, Helvetica, sans-serif; color:#333333; }
.mais-lidas .noticia .numero { font:36px Arial, Helvetica, sans-serif; color:#5a8f1b; width:29px; text-align:center; float:left; margin:-5px 8px 0 0; }
.mais-lidas .noticia:last-child { border-bottom:2px solid #b2b2b2; }

/* Palpites Rodada */
.palpites { width:300px; float:right; border-bottom:2px solid #B2B2B2; height:333px; }
.palpites table { width:300px; }
.palpites table tr td { padding:8px 0; color:#999999; font:bold 14px Arial, Helvetica, sans-serif; text-transform:uppercase;  }
.palpites table th { background:#eeeeee; color:#999999; font:bold 11px Arial, Helvetica, sans-serif; text-transform:lowercase; padding:10px; text-align:left; }
.palpites table th:last-child { text-align:right; }
.palpites table tr th, .palpites table tr td  { border-bottom:1px solid #d8d8d8; }

.palpites table.proximos tr th { border-top:1px solid #d8d8d8; }
.palpites table.proximos tr td input[type="text"] { border:1px solid #dfdfdf; width:30px; height:24px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align:center; }
.palpites table.proximos tr td.votar a { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:#5a8f1b; display:block; color:#ffffff; padding:5px 0; text-transform:capitalize; width:71px; text-align:center; }
.palpites table.proximos tr .input { width:44px; }
.palpites table.proximos tr .tal { text-align:left; }
.palpites table.proximos tr .tar { text-align:right; }
.palpites table.proximos tr .x { width:20px; text-align:center; text-transform:lowercase; font-size:14px; }
.palpites table.proximos tr td.escudo1 img { margin:0 5px 0 0 !important; }
.palpites table.proximos tr td.escudo2 img { margin:0 5px; }

.palpites table.encerrados span { font-weight:normal; }
.palpites table.encerrados .barrinhas { width:98px; padding:0 12px; }
.palpites table.encerrados .barrinhas span { background:#5a8f1b; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; height:13px; display:block; }
.palpites table.encerrados .barrinhas span.b1 { width:52px; }
.palpites table.encerrados .barrinhas span.b2 { width:82px; margin-top:-12px; }
.palpites table.encerrados .porcentagem { color:#5a8f1b; font:bold 11px Arial, Helvetica, sans-serif; text-transform:uppercase; }
.palpites table.encerrados tr td { padding:13px 0; }

.palpites #nav { margin: 0 auto; width: 106px; padding:15px 0; }
.palpites #nav a { display:block; float:left; line-height:0; font-size:0; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_desativado.png) center 7px no-repeat; width:8px; height:15px; margin:0 6px; }
.palpites #nav a[rel="prev"], .palpites a[rel="next"]  { width:21px !important; height:21px !important; }

.palpites #nav a[rel="prev"] { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_esquerda.png) no-repeat; }
.palpites #nav a[rel="next"] { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_direita.png) no-repeat; }
.palpites #nav a.highlight { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_ativado.png) center 7px no-repeat; }

/* ** Classificação e Tabela ** */

.classifTab { width:940px; height:100%; }
/*#content-abas { width:100%; overflow:hidden; height:100%; }*/
#tabs { margin-bottom: 18px; }
/*#tabs ul { display:inline; }*/
#tabs>ul>li { margin-right:4px; }
#tabs>ul>li>a { background: none repeat scroll 0 0 #F0F0F0; color: #9E9E9E; display: block; font-size: 16px; padding: 15px 30px; cursor:pointer; }
/*.conteudo-aba { width:100%;  display:none; height:100%; }*/
#tabs>ul>li:hover a, #tabs .ui-tabs-active a { background: none repeat scroll 0 0 #5a8f1b; color: #FFFFFF; }

#tabs-1, #tabs-2, #tabs-3 { border-top:6px solid #5a8f1b; padding-top:15px; }

.classifTab .redes-sociais { float:left; width:300px; }
.classifTab .ultima-atualizacao { float:right; font-size:11px; color:#666666; width:232px; }
.classifTab .ultima-atualizacao img { margin-right:5px; float:left; }


/* Jogos e Classificação e Simulador */
.tabJogos { font-size:15px; color:#333333; text-align:center; width:620px; margin-top:18px ;border-bottom:1px solid #d8d8d8; }
.tabJogos tr th { background::#eeeeee; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; background:#eeeeee; color:#999999; font-size:12px; padding:8px 0; }
.tabJogos tr td { border-bottom:1px solid #d8d8d8; width:31px; padding:7px 0; }
.tabJogos tr td.cinza { background:#eeeeee; }
.tabJogos tr .times { text-align:left; padding-left:10px; width:285px; }
.tabJogos tr .times a { color:#333333; }
.tabJogos tr.primeiros td:first-child, .tabJogos tr.primeiros td.times, .tabJogos tr.primeiros td:first-child a, .tabJogos tr.primeiros td.times a { color:#00ccff; }
.jogosClassif .tabJogos tr.primeiros td:first-child { font-size:16px; }
.tabJogos tr.ultimos td:first-child, .tabJogos tr.ultimos td a { color:#ff0000; }

.tabJogos tr.tabDetalhes td { padding:0; }
.tabJogos .detalhamento { background:#e0e0e0; padding:22px 18px 10px; text-align:left; color:#333333; border-bottom:1px solid #bcbcbc; }
.tabJogos .detalhamento .header { border-bottom:1px solid #f0f0f0; padding-bottom:10px; }
.tabJogos .detalhamento .header .left { float:left; width:290px; }
.tabJogos .detalhamento .header .left img { float:left; margin:-10px 10px 0 0; }
.tabJogos .detalhamento .header .right { float:right; width:290px; text-align:right; }
.tabJogos .detalhamento .header .right a { font-size:12px; color:#333333; }
.tabJogos .detalhamento .placar { border-top:1px solid #bcbcbc; padding:15px 4px 0; }
.tabJogos .detalhamento .placar .pontos { float:left; margin-right:15px; font-size:14px; line-height:16px; padding-top:20px; }
.tabJogos .detalhamento .placar .pontos .numero { font-size:39px; }
.tabJogos .detalhamento .placar .pontos .pts { font-size:22px; }
.tabJogos .detalhamento .placar .ptsDir { margin-right:0; margin-left:15px; }
.tabJogos .detalhamento .placar .placares { float:left; height:92px; }
.tabJogos .detalhamento .placar .placares .time, .tabJogos .detalhamento .placar .placares .x { margin:0 15px; font-size:19px; }
.tabJogos .detalhamento .placar .placares strong { font-size:22px; }
.tabJogos .detalhamento .placar .placares .top { border-bottom:1px solid #bcbcbc; padding-bottom:10px; }
.tabJogos .detalhamento .placar .placares .bottom { padding-top:10px; }
.tabJogos .detalhamento .placar .left { border-right:1px solid #bcbcbc; }
.tabJogos .detalhamento .placar .right { border-left:1px solid #f0f0f0; }

.legenda-classifTab { font-size:11px; margin-top:42px; line-height:18px;  }
.legenda-classifTab strong { margin-left:3px; }
.legenda-classifTab strong:first-child { margin-left:0; }
.legenda-classifTab .libertadores { width:11px; height:11px; background:#00ccff; margin:8px 8px 0 0; display:inline-block; }
.legenda-classifTab .rebaixamento { width:11px; height:11px; background:#ff0000; margin:8px 8px 0 20px; display:inline-block; }

/* Notícias Relacionadas */
.noticiasRelacionadas { margin-top:50px; }
.noticiasRelacionadas .titulo { background:#f5f5f5; font-size:17px; font-weight:bold; color:#5a8f1b; border-top: 1px solid #dedede; border-bottom:1px solid #dedede; padding:12px; width:596px; margin:0 0 15px; text-transform:capitalize; }
.noticiasRelacionadas .noticia { width:140px; float:left; margin-right:20px; }
.noticiasRelacionadas .last { margin-right:0; }
.noticiasRelacionadas .noticia a { font-size:13px; color:#363636; font-weight:bold; line-height:13px; }
.noticiasRelacionadas .noticia img { width:140px; height:92px; margin-bottom:5px; }

/* Artilharia */
.artilharia {}

.artilharia table { margin-top:18px; color:#333333; float:left; }
.artilharia table tr th { background:#eeeeee; color:#999999; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; text-align:center; padding:8px; width:61px; }
.artilharia table tr td { border-bottom:1px solid #d8d8d8; }
.artilharia table tr td.seta { padding:0px !important; text-align:center !important; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_up_artilharia.jpg); }
.artilharia table tr td.seta img { margin:0 !important; }

.tabArtilharia { width:304px; display: block;}
.tabArtilharia tr th:first-child { text-align:left; width:243px; border-right:none; }

.tabArtilharia tr td { border-bottom:1px solid #d8d8d8; }
.tabArtilharia tr td.num1 { font-size:37px !important; }
.tabArtilharia tr.selecionado td { background:#eeeeee; }
.tabArtilharia tr.seta td { padding:12px; text-align:center; }
.tabArtilharia tr td:first-child { font-size:19px;  padding:22px 0 9px 12px; }
.tabArtilharia tr td:first-child img { margin:-12px 15px 0 0; float:left; }
.tabArtilharia tr td:last-child { border-right:1px solid #d8d8d8; text-align:center; font-size:26px; font-weight:bold; }

.tabJorgadorArtilharia { float:left; width:315px; margin-top:18px; }
.tabJorgadorArtilharia tr td.jogador { font-size:20px; height:72px; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/jogador-artilharia.png) no-repeat 8px bottom; padding:5px 0 0 81px; }
.tabJorgadorArtilharia tr td.jogador span { font-size:26px; font-weight:bold; }

.tabJorgadorArtilharia table { width:300px; margin:0 0 0 8px; }
.tabJorgadorArtilharia table tr.last td { border-bottom:none; }
.tabJorgadorArtilharia table tr td.escudo { padding:10px; }
.tabJorgadorArtilharia table tr td .time { font-size:19px; text-transform:uppercase; }
.tabJorgadorArtilharia table tr td .placar { margin:0 18px; font-size:24px; font-weight:bold; width:46px; text-align:center; }
.tabJorgadorArtilharia table tr td .x { font-size:19px; text-transform:lowercase; }
.tabJorgadorArtilharia table tr td .gols { font-size:11px; width:100%; text-align:center; }
.tabJorgadorArtilharia .seta > a { display: block; height: 30px; }

/* ** Tempo Real ** */
.tempoReal-topo { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/bg_topo_tempo-real.png) left 36px repeat-x; font-size:11px; color:#333333; margin-bottom:70px; position:relative; width:940px; height:105px; }
.tempoReal-topo .data-local { position:absolute; top:5px; left:0; color:#666666; }
.tempoReal-topo .posicao { width:40px; height:19px; background:#5a8f1b; font-size:16px; text-align:center; padding:4px 0; color:#ffffff; font-weight:bold; }
.tempoReal-topo .pLeft { float:left; margin:48px 0 0 17px; }
.tempoReal-topo .pRight { float:right; margin:48px 17px 0 0; }
.tempoReal-topo .time { width:237px; padding:48px 14px 0; font-size:33px; float:left; }
.tempoReal-topo .timeL { text-align:right; }
.tempoReal-topo .bandeira { width:85px; height:85px; padding-top:20px; float:left; }
.tempoReal-topo .status { width:125px; text-transform:uppercase; font-size:12px; line-height:16px; font-weight:bold; color:#5a8f1b; text-align:center; float:left; }
.tempoReal-topo .status .placar { font-size:33px; text-transform:lowercase; color:#333333; margin:23px 0; font-weight:normal; }
.tempoReal-topo .status .placar .x { margin:0 17px; }

.verMais { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/bg_ver-mais.jpg) left bottom repeat-x; height:30px; text-align:center; border-bottom:1px solid #d8d8d8; margin-top:30px; }
.verMais a { font-size:14px; color:#6e6e6e; font-weight:bold; padding-top:11px; }
.verMais img { padding:11px 10px 0; }

.comentarios { margin-top:55px; }
.comentarios .xComentarios { background:#f5f5f5; border-top:1px solid #dedede; border-bottom:1px solid #dedede; padding:8px 12px; font-size:17px; font-weight:bold; color:#5a8f1b; margin-bottom:25px; }
.comentarios .escreva { height:25px; padding:5px; width:607px; font-style:italic; margin-bottom:40px; border:1px solid #f1f1f1; -webkit-border-radius: 3px;
	-webkit-border-bottom-right-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
	-moz-border-radius: 3px;
	-moz-border-radius-bottomright: 1px;
	-moz-border-radius-bottomleft: 1px;
	border-radius: 3px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
}
.comentarios .first { border-top:none !important; }
.comentarios .comentario { padding-top:22px; margin-top:14px; border-top:1px solid #d8d8d8; }
.comentarios .comentario .thumb { float:left; width:55px; position:relative; }
.comentarios .comentario .thumb .rede-social { position:absolute; height:21px; width:21px; top:34px; right:0; }
.comentarios .comentario .thumb img { width:55px; height:55px; }
.comentarios .comentario .div { float:left; margin:0 15px; }
.comentarios .comentario .txt { float:left; width:525px; font-size:14px; line-height:18px; color:#333333; }
.comentarios .comentario .txt span { font-size:12px; }
.comentarios .comentario .txt .responder { display:block; font-weight:bold; font-size:12px; color:#6e6e6e; background:#dedede; padding:5px 0; width:83px; text-align:center; margin-top:15px; }
.comentarios .resposta { margin-left:71px; }
.comentarios .resposta .txt { width:454px; }
.comentarios .aviso { font-size:11px; margin-top:27px; }

/* Pré Jogo e Tempo Real */
.tabPreJogo { color:#333333; font-size:14px; line-height:18px; }
.tabPreJogo tr td { padding:25px 0; border-bottom:1px solid #d8d8d8; }
.tabPreJogo tr td .tempo { font-size:47px; }
.tabPreJogo tr td .redes-sociais { margin-top:8px; }
.tabPreJogo tr td .assinatura { font-size:11px; font-style:italic; margin-top:8px; }
.tabPreJogo tr td .thumb { width:100px; height:72px; position:relative; float:left; margin-right:14px; }
.tabPreJogo tr td .thumb img { width:100px; height:72px; }
.tabPreJogo tr td .thumb .mais { width:21px; height:21px; position:absolute; bottom:0; right:0; }
.tabPreJogo tr td.bandeira { width:58px; height:49px; height:100%; text-align:left; padding-top:0; }
.tabPreJogo tr td.maisLances { padding:0; }
.tabPreJogo tr td .time { margin-bottom:8px; color:#5a8f1b; font-weight:bold; }
.tabPreJogo tr td.bandeira img { width:48px; }
.tabPreJogo tr.destaque td { background:#f0f0f0; }
.tabPreJogo tr.last td { border-bottom:none; }
.tabPreJogo tr td.ultima { width:110px; text-align:center; }
.tabPreJogo tr td:first-child { width:126px; text-align:center; color:#5a8f1b; line-height:33px; }

/* Crônica */
.cronica { font-size:14px; color:#603333; line-height:18px; padding-top:15px; }
.cronica h1 { font-size:34px; font-weight:bold; color:#333333; line-height:36px; margin:0 0 10px; padding:0; }
.cronica h2 { font-size:20px; font-weight:normal; color:#666666; line-height:22px; margin:0 0 15px; padding:0; }
.cronica h3 { font-size:11px; color:#5a8f1b; text-transform:uppercase; font-weight:bold; margin:0 0 15px; padding:0; }
.cronica p { margin-bottom:20px; }
.cronica .foto { position:relative; width:620px; margin-bottom:20px; }
.cronica .foto img { width:620px; }
.cronica .foto .legenda { width:600px; font-size:12px; line-height:14px; color:#ffffff; padding:10px; position:absolute; bottom:4px; left:0; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/bg_txt_foto_cronica.png); }
.cronica .foto .legenda .credito { font-size:11px; }

/***** SIDEBAR *****/
.sidebar {
	float:left;
	margin-left:20px;
	display: block;
	width: 300px;
	overflow: hidden;
}

/* Classificação */
.sidebar .classificacao { margin-bottom:27px; }
.sidebar .classificacao table th { background:#eeeeee; padding:10px 0; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; color:#5a8f1b; width:40px; text-align:center; }
.sidebar .classificacao table th.col1 { color:#999999; font-size:11px; text-transform:lowercase; text-align:left; width:180px; padding:10px 8px; }
.sidebar .classificacao table td { padding:10px 0; border-bottom:1px solid #d8d8d8; text-align:center; }
.sidebar .classificacao table td.col1 { width:40px; font-size:14px; color:#5a8f1b; text-align:center; font-weight:bold; }
.sidebar .classificacao table td.cinza { background:#eeeeee !important; }
.sidebar .classificacao table td.time { text-align:left; }
.sidebar .classificacao table td.confira { text-align:left; border-bottom:2px solid #d8d8d8; }
.sidebar .classificacao table td.confira a { color:#333333; font-weight:bold; }

/* Classificação Tempo Real */
.sidebar .classifTempoReal th.col1 { font-style:italic; font-size:12px !important; font-weight:normal; color:#333333; }
.sidebar .classifTempoReal table td img { margin:0 6px; }
.sidebar .classifTempoReal tr.ultimos td { background:#fafafa; }
.sidebar .classifTempoReal tr.ultimos td.time { font-weight:bold; }

/* Esquema Tático */
.sidebar .esquemaTatico { margin-bottom:30px; }
.sidebar .esquemaTatico table { font-size:11px; text-transform:uppercase; color:#666666; }
.sidebar .esquemaTatico table th, .sidebar .esquemaTatico table td { width:150px; border-bottom:1px solid #d8d8d8; padding:5px 0; }
.sidebar .esquemaTatico table th { font-size:14px; font-weight:normal; text-transform:none; }
.sidebar .esquemaTatico table th img { height:40px; }
.sidebar .esquemaTatico table th.col-esq { padding:16px 24px 5px 0; text-align:right; }
.sidebar .esquemaTatico table th.col-esq img { float:left; margin-top:-11px; }
.sidebar .esquemaTatico table th.col-dir { padding:16px 0 5px 24px; text-align:left; }
.sidebar .esquemaTatico table th.col-dir img { float:right; margin-top:-11px; }
.sidebar .esquemaTatico table .col-dir { border-left:1px solid #d8d8d8; }
.sidebar .esquemaTatico table td.col-dir { padding-left:10px; }
.sidebar .esquemaTatico table tr.last td { font-size:30px; text-align:center; border-bottom:2px solid #b2b2b2; padding:15px 0; }

/* Publicidade */
.publicidade-sidebar {
	color: #7D7D7B;
	text-align: right;
	margin-bottom: 38px;
	clear: both;
	display: block;
	float: none;
	width: 300px;
}


/* Últimas */
.sidebar .ultimas-brasileirao { position: relative; min-height: 455px; width:300px; font:bold 12px/16px Arial, Helvetica, sans-serif; color:#333333; border-bottom:2px solid #b2b2b2; padding-bottom:15px; margin-bottom:38px; }
.sidebar .ultimas-brasileirao .titulo { width:165px; background:#5a8f1b; text-align:center; text-transform:uppercase; color:#FFFFFF; font:bold 11px Arial, Helvetica, sans-serif; padding:13px 0; margin:0; }
.sidebar .ultimas-brasileirao .titulo-barra { background:#5a8f1b; width:300px; height:4px; }
.sidebar .ultimas-brasileirao .noticia { padding:15px 0; border-bottom:1px dotted #b2b2b2; }
.sidebar .ultimas-brasileirao .noticia a { color:#333333; }
.sidebar .ultimas-brasileirao .noticia .hora { font-size:11px; color:#999999; }
.sidebar .ultimas-brasileirao .noticia .thumb { margin-right:10px; float:left; }
.sidebar .ultimas-brasileirao .noticia .thumb img { width:80px; height:60px; }
.sidebar .ultimas-brasileirao .noticia:last-child { border-bottom:none; }

.sidebar .ultimas-brasileirao ul.navegacao { margin:0; padding:0; width:188px; margin:15px auto; }
.sidebar .ultimas-brasileirao ul.navegacao li { width:20px; text-align:center; }
.sidebar .ultimas-brasileirao ul.navegacao li.seta { width:30px; margin-top:-7px \0/; }

.sidebar .ultimas-brasileirao #nav { margin: 0 auto; width: 167px; padding-bottom:20px; position: absolute; bottom: 0px;left: 60px;}
.sidebar .ultimas-brasileirao #nav a { display:block; float:left; line-height:0; font-size:0; background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_desativado.png) center 7px no-repeat; width:8px; height:15px; margin:0 6px; }
.sidebar .ultimas-brasileirao #nav a[rel="prev"], .sidebar .ultimas-brasileirao a[rel="next"]  { width:21px !important; height:21px !important; }

.sidebar .ultimas-brasileirao #nav a[rel="prev"] { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_esquerda.png) no-repeat; }
.sidebar .ultimas-brasileirao #nav a[rel="next"] { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_direita.png) no-repeat; }
.sidebar .ultimas-brasileirao #nav a.highlight { background:url(http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/nav_ativado.png) center 7px no-repeat; }


/* Rodadas */
.sidebar .rodadas {
	border-bottom: 2px solid #b2b2b2;
	display: block;
	float: none;
	clear: both;
}
.rodadas>a {
	display: inline-block;
	width:25px; height:21px;
	background:#999999; text-align:center; padding-top:10px;
}
.rodada {
	background: #fafafa;
	display: inline-block;
	height: 19px;
	padding-top: 9px;
	text-align: center;
	color: #999999;
	text-transform: uppercase;
	border-top: 1px solid #d8d8d8;
	font-size: 12px;
	font-weight: bold;
	width: 244px;
 }

.jogo { border-bottom:1px solid #d8d8d8; color:#333333; }
.jogo .escudo { width:59px; padding:14px 0; text-align:center; float:left; }
.jogo .time { font-size:19px; text-transform:uppercase; padding-top:22px; float:left; width:42px; }
.jogo .data-local { width:96px; text-align:center; padding-top:5px; font-size:11px; float:left; height:63px; }
.jogo .data-local .numero {}
.jogo .data-local span { font-size:24px; display:block; font-weight:bold; height:30px; }
.jogo .data-local span .x { font-size:19px; font-weight:normal; margin:0 18px; display:inline-block; }

.jogo .data-local span input[type="text"] { text-align:center; font-size:18px; font-weight:bold; width:32px; height:21px; padding:2px 0; border:1px solid #dfdfdf; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top:2px; }
.jogo .data-local span .x { margin:0 2px !important; }
.rodadas {
	height: 30px;
}

.lista-de-rodadas {
	position: relative;
	width: 1000px;
}
.lista-de-rodadas li {
	float: none;
	display: inline-block;
	width: 300px;
}

/******* VITRINE DE OFERTAS *******/
.content .vitrine-ofertas { width:940px; border-bottom:2px solid #b2b2b2; margin-top:85px; padding-bottom:10px; }
.content .vitrine-ofertas .titulo { border-top:1px solid #b2b2b2; }
.content .vitrine-ofertas .titulo span { color:#174f82; }
.content .vitrine-ofertas .titulo .barrinha { background:#b2b2b2; }

.content .vitrine-ofertas .vitrine { width:156.6px; float:left; }
.content .vitrine-ofertas .vitrine .setor { width:155px; height:21px; color:#aaa8a6; font-weight:bold; padding-top:8px; text-align:center; background:#f1f1f1; }
.content .vitrine-ofertas .vitrine .setor:hover { background:#ffffff; border-top:1px solid #f1f1f1; margin-top:-1px; }
.content .vitrine-ofertas .vitrine .oferta { width:155px; height:178px; margin-top:3px; text-align:center; border-right:1px dotted #b2b2b2;  }
.content .vitrine-ofertas .vitrine .last { border-right:none; }
.content .vitrine-ofertas .vitrine .oferta .img { height:80px; padding-top:25px; }
.content .vitrine-ofertas .vitrine .oferta .img img { height:62px; }
.content .vitrine-ofertas .vitrine .oferta .info { height:78px; color:#b8a0b2; font-weight:bold; font-size:11px; }
.content .vitrine-ofertas .vitrine .oferta .info .produto { color:#174f82; font-weight:normal; font-size:12px; margin-bottom:10px; }
.content .vitrine-ofertas .vitrine .oferta .info .preco { color:#402d4d; font-size:21px; }

/****** RODAPÉ ******/
#grid-rodape { font:bold 15px "Trebuchet MS,Helvetica" ,sans-serif; color:#3B3B3B; min-width:1000px; margin-top:50px; }

#grid-rodape a { text-decoration:none; color:#666666; }

#grid-rodape a:hover { text-decoration:underline; }

#grid-rodape .clear {
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}

#grid-rodape li, #grid-rodape ul, #grid-rodape ol {padding:0; margin:0;}

#grid-rodape .itens-rodape {margin:auto; width:940px; padding:20px; overflow: hidden;}

#grid-rodape {
	background:#FFF;
	border-top: 10px solid #FAD701;
	width:100%;
}

#grid-rodape .itens-rodape .lista-menu {
	float: left;
	margin-right: 30px;
}

#grid-rodape .itens-rodape h2 {
	border-bottom: 1px solid #C3C3C3;
	color: #3B3B3B;
	font: bold 15px "Trebuchet MS,Helvetica",sans-serif;
	margin-bottom: 8px;
	padding-bottom: 3px;
	width: 100%;
	float:none;
}

#grid-rodape .menu-rodape {
	float: left;
	margin-right: 30px;
	margin-right: 26px \0/;
	*margin-right: 26px;
}

#grid-rodape .itens-rodape ul {
	margin: 0;
	padding: 0;
}

#grid-rodape ol, #grid-rodape ul {
	list-style: none outside none;
}

#grid-rodape .itens-rodape li {
	color: #666666;
	font: 11px arial;
	margin-bottom: 3px;
	height:14px;
	float:none;
}

#grid-rodape .itens-rodape li span {
	color: #F4AF01;
}

#grid-rodape .itens-rodape li a {
	color: #666666;
	text-decoration: none;
}

#grid-rodape .itens-rodape li a:hover {
	text-decoration:underline;
}

#grid-rodape .itens-rodape .lista-menu-extras {
	float: left;
	margin-right: 29px;
}

#grid-rodape .rodape-final {
	border-top: 1px solid #C3C3C3;
	margin-top: 10px;
	overflow: hidden;
	padding: 15px 0;
	width: 940px;
	margin:0 auto;
}

#grid-rodape .titulos-ejesa {
	float: left;
}

#grid-rodape .titulos-ejesa li {
	float: left;
	display:block !important;
}

#grid-rodape li {display:block !important;}

#grid-rodape .titulos-ejesa li a {
	display: block;
	height: 35px;
	width: 100%;
}

#grid-rodape .titulos-ejesa .ejesa {
	background: url("http://odia.ig.com.br/img/fixos/logos_titulos_rodape_novo.png") no-repeat scroll 0 0 transparent;
	display: block;
	text-indent: -999px;
	width: 90px;
}

#grid-rodape .titulos-ejesa .be {
	background: url("http://odia.ig.com.br/img/fixos/logos_titulos_rodape_novo.png") no-repeat scroll -118px 0 transparent;
	display: block;
	height: 35px;
	margin-left: 20px;
	text-indent: -999px;
	width: 168px;
}

#grid-rodape .titulos-ejesa .mh {
	background: url("http://odia.ig.com.br/img/fixos/logos_titulos_rodape_novo.png") no-repeat scroll -423px 0 transparent;
	display: block;
	height: 35px;
	margin-left: 20px;
	text-indent: -999px;
	width: 112px;
}

.titulos-ejesa p {
	clear: both;
	color: #666666;
	font: 10px arial;
}

#grid-rodape li.editoria, #grid-rodape li.sub-editoria { list-style:none;}


/****** IE ******/

.tabArtilharia tbody.veja-qnt-gols {
	overflow-y: hidden;
	height: 366px;
	display: block;
	position: relative;
}
.tabArtilharia tbody.veja-qnt-gols tr {
	display: block;
	position: relative;
}
.tabArtilharia tbody.veja-qnt-gols tr td{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.tabArtilharia tbody.veja-qnt-gols tr td:first-child {
	width: 271px;
	display: table-cell;
}
.tabArtilharia tbody.veja-qnt-gols tr td:last-child {
	width: 34px;
	display: table-cell;
}
.tabJorgadorArtilhariaPlacar {
	position: relative;
	overflow-y: hidden;
	display: block;
	height: 287px;
}
.tabJorgadorArtilhariaPlacar tr {
	position: relative;
	display: block;
}
.wrap-jogos-qualificados {
	width: 300px;
	display: block;
	float: left;
	position: relative;
}
.overflow-rodadas {
	width: 9999999999px;

}
/* CARROSSEL */

.carousel-headlines {
	float: left;
	height: 295px;
	margin: 0px;
	position:relative;
	overflow: hidden;
	width: 420px;
	background: #eee;
}

.carousel-headlines ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position:relative;
}

.carousel-headlines li {
	float:left;
	position:relative;

}

.carousel-headlines .carousel-eye {
	margin: 0 auto;
	padding-bottom: 4px;
	padding-top: 5px;
	width: 95%;
}

.carousel-headlines .carousel-eye a {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #999;
	display:block;
}

.carousel-headlines .carousel-title {
	height: 35px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 12px;
	width: 95%;
}

.carousel-headlines .carousel-title a {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
	color: #006699;
	display:block;
}

.carousel-headlines .nav-setas,
.carousel-headlines .nav-preview {
	float:left;
}

.carousel-headlines .nav-setas > div,
.carousel-headlines .nav-preview > div {
	position:absolute;
	top: 130px;
	cursor:pointer;
}

.carousel-headlines .nav-preview > div {
	width:102px;
	height:74px;
	background: #fff;
	display:block;
}

.carousel-headlines .nav-preview .carousel-preview-next {
	right: -70px;
}

.carousel-headlines .nav-preview .carousel-preview-back {
	left:-70px;
}

.carousel-headlines .nav-setas .carousel-arrow-preview-next {
	right:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_off.png') no-repeat;
	width:32px;
	height:74px;
	z-index: 2;
}
.carousel-headlines .nav-setas .carousel-arrow-preview-back {
	left:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_off.png') no-repeat;
	width:32px;
	height:74px;
	z-index: 2;
}
.carousel-headlines .nav-setas .carousel-arrow-preview-next:hover {
	right:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_on.png') no-repeat;
	width:32px;
	height:74px;
}
.carousel-headlines .nav-setas .carousel-arrow-preview-back:hover {
	left:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_on.png') no-repeat;
	width:32px;
	height:74px;
}

.contador-galeria .nav-bullets {
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	height: 5px;
	opacity: 0.80;
	position: absolute;
	top: 0px;
	width: 400px;
	z-index: 5px;
	padding:8px 10px 15px 10px;
	background: #000;
}
ul.lista-bullets {text-align: center; display: inline-block;}
.contador-galeria .lista-bullets {}

.nav-lista-bullets {
	position: relative;
	padding: 18px 10px 15px 0px;
	margin: 10px auto auto auto;
	text-align: center;
}

.contador-galeria .lista-bullets li {
	float:left;
	margin-left:4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #999;
	cursor: pointer;
	overflow: hidden;
}

.contador-galeria .lista-bullets .ativo {
	background: #fff;
}

.contador-galeria .lista-bullets #timer {
  height:12px;
  position:relative;
  width:12px;
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.circle {
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  bottom:1px;
  left:1px;
  position:absolute;
  right:1px;
  top:1px;

}

#color-left {z-index:2;}
#color-right {z-index:3;}
#cover {z-index:4;}


#cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #5a8f1b 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #5a8f1b 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #5a8f1b 100%);
}

#cover {
  bottom:0;
  left:0;
  right:0;
  top:0;
  visibility:hidden;
}

#color-left {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

@-webkit-keyframes firstspin {
 0% {
 	visibility:visible;
 	-webkit-transform:rotate(0);
 }

 50% {
 	visibility:visible;
 	-webkit-transform:rotate(180deg);
 }

 50% {
 	visibility:hidden;
 	-webkit-transform:rotate(180deg);
 }

 100% {
 	visibility:hidden;
 	-webkit-transform:rotate(180deg);
 }
}

@-webkit-keyframes secondspin {
 0% {
 	visibility:hidden;
 	-webkit-transform:rotate(0);
 }

 50% {
 	visibility:hidden;
 	-webkit-transform:rotate(0deg);
 }

 50% {
 	visibility:visible;
 	-webkit-transform:rotate(0deg);
 }

 100% {
 	visibility:visible;
 	-webkit-transform:rotate(180deg);
 }
}


@-moz-keyframes firstspin {

0% {
	visibility:visible;
	-moz-transform: rotate(0);
 }

 50% {
 	visibility:visible;
 	-moz-transform: rotate(180deg);
 }

 50% {
 	visibility:hidden;
 	-moz-transform: rotate(180deg);
 }

 100% {
 	visibility:hidden;
 	-moz-transform: rotate(180deg);
 }

}

@-moz-keyframes secondspin {
 0% {
 	visibility:hidden;
 	-moz-transform:rotate(0);
 }

 50% {
 	visibility:hidden;
 	-moz-transform:rotate(0deg);
 }

 50% {
 	visibility:visible;
 	-moz-transform:rotate(0deg);
 }

 100% {
 	visibility:visible;
 	-moz-transform:rotate(180deg);
 }
}


@-ms-keyframes firstspin {

0% {
	visibility:visible;
	-ms-transform: rotate(0);
 }

 50% {
 	visibility:visible;
 	-ms-transform: rotate(180deg);
 }

 50% {
 	visibility:hidden;
 	-ms-transform: rotate(180deg);
 }

 100% {
 	visibility:hidden;
 	-ms-transform: rotate(180deg);
 }

}

@-ms-keyframes secondspin {
 0% {
 	visibility:hidden;
 	-ms-transform:rotate(0);
 }

 50% {
 	visibility:hidden;
 	-ms-transform:rotate(0deg);
 }

 50% {
 	visibility:visible;
 	-ms-transform:rotate(0deg);
 }

 100% {
 	visibility:visible;
 	-ms-transform:rotate(180deg);
 }
}


#cover, #color-left {
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-duration: 5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-duration: 5s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-timing-function: linear;

}

#cover {
	-webkit-animation-name: firstspin;
	-moz-animation-name: firstspin;
	-ms-animation-name: firstspin;
}
#color-left {
	-webkit-animation-name: secondspin;
	-moz-animation-name: secondspin;
	-ms-animation-name: secondspin;
}

#contador {
	display:block;
}
.lista-carrossel li a img {
	width: 420px;
	height: 295px;
}
/* fotogaleria */
.fotogaleria {
	width: 620px;
	height: 163px;
	position: relative;
}
.fotogaleria  li {
	position: absolute;
	overflow: hidden;
}
ul.fotogaleria li:nth-child(1) {
	width: 160px;
	height: 160px;
	top: 0px;
	left: 0px;
}
ul.fotogaleria li:nth-child(2) {
	width: 281px;
	height: 80px;
	top: 0px;
	left: 320px;
}
ul.fotogaleria li:nth-child(3) {
	width: 160px;
	height: 80px;
	top: 0px;
	left: 161px;
}
ul.fotogaleria li:nth-child(4) {
	width: 160px;
	height: 80px;
	top: 81px;
	left: 161px;
}
ul.fotogaleria li:nth-child(5) {
	width: 140px;
	height: 80px;
	top: 81px;
	left: 320px;
}
ul.fotogaleria li:nth-child(6) {
	width: 140px;
	height: 80px;
	top: 81px;
	left: 461px;
}
ul.fotogaleria li a {
	display: block;
	position: relative;
}

ul.fotogaleria li a span {
	display: block;
	background: rgba(90, 143, 27, 0.9);
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	  -moz-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
	  transition: all 0.5s ease-in-out;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  padding: 10px;
}
ul.fotogaleria li a span h3{
	color: #fff;
	font-size: 13px;
	display: block;
	line-height: 20px;
}
ul.fotogaleria li a span small{
	color: #fff;
	font-size: 10px;
	display: block;
	text-transform: uppercase;
}
ul.fotogaleria li:nth-child(1) a span {width: 160px;height: 160px;}
ul.fotogaleria li:nth-child(2) a span {width: 281px;height: 80px;}
ul.fotogaleria li:nth-child(3) a span, ul.fotogaleria li:nth-child(4) a span, ul.fotogaleria li:nth-child(5) a span, ul.fotogaleria li:nth-child(6) a span {width: 158px;height: 80px;}
ul.fotogaleria li a:hover span{
	margin-top: -80px;
}
ul.fotogaleria li:nth-child(1) a:hover span{
	margin-top: -160px;
}
.text-bottom {
	position: absolute;
	bottom: -5px;
}
.continua-tabela, .continua-tabela-pre {display:none;}
/* artilharia */
ul.indice-listado {
	display: block;
	background: #eeeeee;
	999;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	padding: 8px;
	width: 620px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	height: 32px;
	margin-top: 18px;
}
ul.indice-listado li {
	float: none !important;
	display: inline-block;
	color: #999;
	font-size: 12px;
}
ul.indice-listado li a{
	display: block;
	color: #999;
	font-weight: bold;
}
ul.indice-listado li:nth-child(2) a{margin-left: 195px;}
ul.indice-listado li:nth-child(3) a{margin-left: 120px;}
.box-escolher-artilheiro {
	width: 300px; float: left;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 0 ;
	border-right: 1px solid #d8d8d8;
}
.artilheiro-selecionado {
	width: 320px;
	 float: left;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 0;
	clear: right;
	border-right: 1px solid #d8d8d8;
}
.envolve-jogador-gol {
	height: 302px;
	overflow: hidden;
	display: inline-block;
	width: 299px;
}
ul#jogador-gol {
	display: block;
}
ul#jogador-gol>li {
	display: block;
	float: none !important;
	height: 60px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 10px;
	border-top: 1px solid #d8d8d8;
}
ul#jogador-gol li a{
	display: block;
}
ul#jogador-gol li:hover {
	background: #eeeeee;
}
ul#jogador-gol li img, ul#jogador-gol li span{ display: inline-block;height: 41px;}
ul#jogador-gol>li h4 {
	display: inline-block;
	font-size: 19px;
	margin: 20px 0px 0px 12px;
	font-weight: normal;
	height: 41px;
	position: relative;
	line-height: 1px;
	vertical-align: top;
	color: #333;
}
ul#jogador-gol li a span.numero-de-gols {
	font-size: 26px;
	font-weight: bold;
	color: #333;
	vertical-align: top;
	margin: 7px 11px 0 0;
	float: right;
}
ul#jogador-gol li:first-child a span.numero-de-gols {
	font-size: 34px;
	margin: 2px 11px 0 0;
}
a.artilheiros-down, a.artilheiros-up {
	display: block;
	clear: both;
	height: 30px;
	width: 300px;
	overflow: hidden;
	border-right: 1px solid #d8d8d8;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
a.artilheiros-down {
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	position: relative;
	margin-top: -6px;
}

a.gols-up, a.gols-down {
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	display: block;
	clear: both;
	height: 30px;
	overflow: hidden;
	width: 320px;
	border-right: 1px solid #d8d8d8;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
a.gols-up img, a.gols-down img {
	width: 320px;
}
a.gols-down {
	position: relative;
	margin-top: 221px;
}
a.gols-up {
	position: relative;
	margin-top: 78px;
}

.envolve-selecionado {
	height: 221px;
	overflow: hidden;
	position: absolute;
	top: 183px;
	left: 300px;
	background: white;
	width: 319px;
	display: none;
}
#jogador-gol .ativo-artilheiro .envolve-selecionado, #jogador-gol .ativo-artilheiro .info-jogador {
	display: block;
}
ul.jogador-selecionado {
	padding: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	height: auto;
	display: inline-block;
}
ul.jogador-selecionado li{
	width: 320px;
	display: block;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 10px 0;
	height: 74px;
	border-bottom: 1px solid #d8d8d8;
	position: relative;
}
ul.jogador-selecionado li:hover {
	background: white;
}
ul.jogador-selecionado li h5{
	font-weight: normal;
	font-size: 11px;
	color: #333;
	display: block;
	text-align: center;
	margin: 0px;
	clear: both;
	margin-top: 40px;
}
.jogador-selecionado span.time {
	font-size: 19px;
	text-transform: uppercase;
	position: absolute;
	top: 25px;
}
.jogador-selecionado span.placar {
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	width: 30px;
	text-align: center;
	top: 20px;
}
.jogador-selecionado span.x {
	font-size: 19px;
	text-transform: lowercase;
	position: absolute;
	left: 150px;
	top:20px;
}
.jogador-selecionado span.escudo {
	position: absolute;
	top: 20px;
}
.jogador-selecionado span.time:nth-child(2) {left: 60px;}
.jogador-selecionado span.time:nth-child(6) {right: 55px;}

.jogador-selecionado span.escudo:nth-child(1) {left: 10px;}
.jogador-selecionado span.escudo:nth-child(5) {right: 10px;}

.jogador-selecionado span.placar:nth-child(3) {left: 115px;}
.jogador-selecionado span.placar:nth-child(7) {right: 125px;}
.ativo-artilheiro{background: #eeeeee;}

.info-jogador {
	height: 78px;
	position: absolute;
	left: 300px;
	top: 74px;
	background: white;
	width: 319px;
	display: none;
}
.info-jogador h4, .info-jogador h5, .info-jogador img{
	display: inline-block;
	color: #333;
}
.info-jogador img {
	float: left;
	width: 57px;
	height: 68px !important;
	margin-top: 10px;
	margin-left: 10px;
}

.info-jogador h4 {
	font-size: 20px !important;
	font-weight: normal !important;
	margin: 10px 0 0 18px !important;
	display: inline-block;
	height: auto !important;
	line-height: 30px !important;
}
.info-jogador h5 {
	font-size: 26px;
	margin: 2px 0 0 86px;
	text-transform: none;
	display: block;

}


.EJENEA00504{
	width: 640px;
	height: auto;
	margin: 15px 0px 15px 0px;
	background-color: #fff;
	float: left;
}

.EJENEA00504 ul{
	float: left;
	margin: 0px;
	padding: 0px;
}

.EJENEA00504 ul li{
	float: left;
	width: 140px;
	margin: 15px 20px 15px 0px;
	display:inline;
}

.EJENEA00504 .headline{
	width: 140px;
	height: 140px;
	float: left;
}

.EJENEA00504 .headline-img{
	float: left;
}


.EJENEA00504 .headline-img img{
	width: 140px;
	height: 90px;
}

.EJENEA00504 .headline-eye{
	width: 140px;
	height: 40px;
	margin-bottom: 15px;
}
.EJENEA00504 .headline-eye a{
	text-decoration: none;
	font-size: 12px;
	font-family: Arial;
	color: #333;
}

.EJENEA00504 .headline-hat a:hover{
	text-decoration: none;
	color: #333;
}

.EJENEA00504 .headline-title{
	width: 140px;
	margin-bottom: 15px;
}

.EJENEA00504 .headline-title a{
	text-decoration: none;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #333;
}

.EJENEA00504 .headline-title a:hover{
	text-decoration: none;
	color: #333;
}

.EJENEA00504 .news-hat{
	background-color: #f5f5f5;
	float: left;
	height: 35px;
	width: 620px;
	margin: 15px 20px 15px 0px;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}
.EJENEA00504 .news-hat .text{
	color: #df0000;
	font-size: 18px;
	font-family: Arial;
	display: block;
	position: relative;
	padding: 7px 0px 6px 10px;
}
