.BELIE00104{
float: left;
width: 103%;
}

.BEHLE00104{
float: left;
width: 103%;
}

.BEHLE00202{
float: left;
width: 50%;
}

.BELIE00302{
float: left;
width: 50%;
}

.BEHLE00302{
float: left;
width: 50%;
}

.BELIE00404{
float: left;
width: 103%;
}

.BELIE00504{
float: left;
width: 103%;
}

.BELIE00604{
float: left;
width: 103%;
}

.BELIE00704{
float: left;
width: 103%;
}

.BELIE01004{
float: left;
width: 103%;
}

.BELIE01104{
float: left;
width: 103%;
}

.BELIE01204{
float: left;
width: 103%;
}

.BEHLE00502{
float: left;
width: 50%;
}

.BEHLE00604{
float: left;
width: 103%;
}

.BELIE00206{
float: left;
width: 103%;
}

.BELIE00806{
float: left;
width: 103%;
}

.BELIE00504{
float: left;
width: 103%;
}

.BETOA00100{
float: left;
width: 103%;
}

.BELIA00102{
float: left;
width: 103%;
}

.BENEA00404{
float: left;
width: 103%;
}

.BEHLE00104{
float: left;
width: 103%;
}

.BETOA00100{
float: left;
width: 103%;
}

.BETA00404{
float:left; width: 103%;
}

.BETA00301{
float:left; width: 103%;
}

.BETA00202{
float:left; width: 103%;
}

.BETA00106{
float:left; width: 100%;
}

.BEHLE00902{
float: left; width: 50%;
}

.BETOE00206{
float:left; width: 103%;
}

.BEHLE00804{
float:left; width: 103%;
}

.BELIE00602{
float: left; width: 103%;
}

.BEHLE00702{
float:left; width: 50%;
}

.BEHLE01102{
float:left; width: 50%;
}
.BELIE00504 .carousel-imagens .carousel-slide .carousel-inner > .item:first-child {display:block !important}
.BELIE00504 .carousel-imagens .carousel-slide .carousel-inner > .item:first-child > img,
.BELIE00504 .carousel-imagens .carousel-slide .carousel-inner > .item:first-child > a > img {display: block}

.BELIE00602 .carousel-slide .carousel-inner > .item:first-child { display: block !important}


.BELIA00306{float:left; width: 103%;}

.BETOE00306{float:left; width: 103%;}

#area1b {width: 665px !important; }
