<div class="brincadeiras gd12 fr">
	<article class="main interna">
		<div class="tabelaBrincadeira">
			<header>
				<h2></h2> 
			</header>
			<img src="" width="428" height="321" />
			<table cellspacing="0" cellpading="0">
				<tr>
					<td class="label">Faixa etária</td>
					<td class="faixaEtaria"></td>
				</tr>
				<tr>
					<td class="label">Local</td>
					<td class="local"></td>
				</tr>
				<tr>
					<td class="label">Estimular</td>
					<td class="estimular"></td>
				</tr>
				<tr>
					<td class="label">Participantes</td>
					<td class="participantes"></td>
				</tr>
				<tr class="material">
					<td class="label">Material</td>
					<td class="material"></td>
				</tr>
			</table>
			<h3>Como brincar</h3>
			<div class="comoBrincar">
			</div>
			<div class="outros-nomes">
				
			</div>
			
			
		</div>
	</article>
	<aside class="relacionados">
		<h4>Brincadeiras relacionadas</h4>
		<ul>
			<li><a href=""></a></li>
		</ul>
	</aside>
</div>