<div>
	<aside class="buscaBrincadeiras gd6 fl">
		<form action="#" method="post" class="busca" id="busca100Brincadeiras">
			<label for="buscaBrincadeiras">Busca de Brincadeiras</label>
			<input type="text" id="buscaBrincadeiras" name="buscaBrincadeiras" />
			<input type="submit" value="Buscar" id="" />
		</form>
		<form action="#" method="post" class="buscaAvancada" id="buscaAvancada100Brincadeiras">
			<label for="faixaEtaria">Faixa etária</label>
				<select name="faixaEtaria" id="faixaEtaria" class="dropfy">
				<option value="null">Todos</option>
				<option value="6m">Até 1 ano</option>
				<option value="1">Acima de 1 ano</option>
				<option value="2">Acima de 2 anos</option>
				<option value="3">Acima de 3 anos</option>
				<option value="4">Acima de 4 anos</option>
				<option value="5">Acima de 5 anos</option>
				<option value="6">Acima de 6 anos</option>
				<option value="7">Acima de 7 anos</option>
				<option value="8">Acima de 8 anos</option>
				<option value="9">Acima de 9 anos</option>
				<option value="10">Acima de 10 anos</option>
			</select>
			<label for="localDeBrincar">Local de brincar</label>
			<select name="localDeBrincar" id="localDeBrincar" class="dropfy">
				<option value="null">Todos</option>
				<option value="Calçada">Calçada</option>
				<option value="Praia">Praia</option>
				<option value="Quintal">Quintal</option>
				<option value="Praça">Praça</option>
				<option value="Quadra de esportes">Quadra de esportes</option>
				<option value="No carro">No carro</option>
				<option value="Salão de festas">Salão de festas</option>
				<option value="Parque">Parque</option>
				<option value="Dentro de casa">Dentro de casa</option>
				<option value="Condomínio">Condomínio</option>
			</select>
			<label for="paraEstimular">Para estimular</label>
			<select name="paraEstimular" id="paraEstimular"  class="dropfy">
				<option value="null">Todos</option>
				<option value="Agilidade">Agilidade</option>
				<option value="Atenção">Atenção</option>
				<option value="Conceitos de física">Conceitos de física</option>
				<option value="Conceitos de matemática">Conceitos de matemática</option>
				<option value="Concentração">Concentração</option>
				<option value="Condicionamento físico">Condicionamento físico</option>
				<option value="Conhecimento de cores">Conhecimento de cores</option>
				<option value="Cooperação">Cooperação</option>
				<option value="Coordenação motora">Coordenação motora</option>
				<option value="Criatividade">Criatividade</option>
				<option value="Equilíbrio">Equilíbrio</option>
				<option value="Estratégia">Estratégia</option>
				<option value="Expressão corporal">Expressão corporal</option>
				<option value="Força">Força</option>
				<option value="Imaginação">Imaginação</option>
				<option value="Lateralidade">Lateralidade</option>
				<option value="Linguagem">Linguagem</option>
				<option value="Linguagem corporal">Linguagem corporal</option>
				<option value="Memória">Memória</option>
				<option value="Mira">Mira</option>
				<option value="Movimento">Movimento</option>
				<option value="Noção de tempo">Noção de tempo</option>
				<option value="Noção de espaço">Noção de espaço</option>
				<option value="Paciência">Paciência</option>
				<option value="Resistência">Resistência</option>
				<option value="Ritmo">Ritmo</option>
				<option value="Sequência">Sequência</option>
				<option value="Socialização">Socialização</option>
				<option value="Velocidade">Velocidade</option>
				<option value="Linguagem argumentativa">Linguagem argumentativa</option>
				<option value="Raciocínio lógico">Raciocínio lógico</option>

			</select>
			<input type="submit" value="Buscar" />
		</form>
		
		<div id="PPA01306"></div>
	</aside>
</div>
