<div>
	<aside class="buscaSimpatias gd6 fl">
		<form action="#" method="post" class="busca" id="busca100Simpatias">
			<label for="buscaSimpatias">Busca por Simpatias</label>
			<input type="text" id="buscaSimpatias" name="buscaSimpatias" />
			<input type="submit" value="Buscar" id="" />
		</form>
		<form action="#" method="post" class="buscaAvancada" id="buscaAvancada100Simpatias">
			<label for="categorias">Categoria</label>
				<select name="categorias" id="categorias" class="dropfy">
				<option value="null">Categorias</option>
				<option value="Amor">Amor</option>
				<option value="Dinheiro">Dinheiro</option>
				<option value="Família">Família</option>
				<option value="Saúde">Saúde</option>
				<option value="Sorte">Sorte</option>
				<option value="Trabalho">Trabalho</option>
			</select>
			<label for="diaCerto">Dia certo</label>
				<select name="diaCerto" id="diaCerto" class="dropfy">
				<option value="null">Todos</option>
				<option value="">Não tem</option>
				<option value="">Segunda-feira</option>
				<option value="">Terça-feira</option>
				<option value="">Quarta-feira</option>
				<option value="">Quinta-feira</option>
				<option value="">Sexta-feira</option>
				<option value="">Sábado</option>
				<option value="">Domingo</option>
				<option value="">Primeiro dia da lua minguante</option>
				<option value="">Primeiro dia da lua crescente</option>
				<option value="">Noites de lua minguante</option>
				<option value="">Último domingo do mês</option>
				<option value="">Noites de lua cheia</option>
				<option value="">Qualquer dia do mês de janeiro</option>
				<option value="">Primeira sexta-feira do mês</option>
				<option value="">Dia 19 de março</option>
				<option value="">Todo dia 27</option>
				<option value="">Dia 31 de dezembro</option>
			</select>
			<label for="melhorHora">Melhor hora do dia</label>
			<select name="melhorHora" id="melhorHora"  class="dropfy">
				<option value="null">Todos</option>
				<option value="">Qualquer hora</option>
				<option value="">De manhã</option>
				<option value="">Ao meio-dia</option>
				<option value="">No almoço ou jantar</option>
				<option value="">À noite</option>
				<option value="">Antes do pôr-do-sol</option>
				<option value="">Ao anoitecer</option>
				<option value="">A qualquer hora da noite</option>
				<option value="">À noite, antes da ceia</option>
				<option value="">Minutos antes da meia-noite</option>
				<option value="">À meia-noite</option>
			</select>
			<input type="submit" value="Buscar" />
		</form>
		
		<div id="PPA01306"></div>
	</aside>
</div>
