<div class="">
	<div class="barra-atalhos gd18" id="botoes">
        <ul class="compartilhe">
            <li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"><!-- --></a></li>
            <li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"><!-- --></a></li>
            <li class="google">
                <!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
                <g:plusone callback="trackSocialPlusOne" size="medium" count="false"></g:plusone>
            </li>
            <li>
                <div class="facebook">
                    <fb:like href="#" send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
                    <div id="fb-root"></div>
                </div>
            </li>
        </ul>
        <ul class="tools nobdr">
			<li class="imprimir">
                <a class="tooltip" href="#" onClick="javascript:window.print()"></a>
            </li>
        </ul>
    </div>
	<header id="simpatias">
		<a href="http://delas.ig.com.br/comportamento/simpatias/" class="logo"></a>
		<img src="http://i0.ig.com/canais/delas/images/simpatias.png" class="headerPrint" alt="100 Simpatias" />
		<div id="selo-oferecimento-especial">
			<cite id="selo-ofer-header"></cite>
			<div id="recebex31"></div>
		</div>
	</header>
</div>


