<div class="simpatias gd12 fr">
	<article class="main interna">
		<div class="tabelaSimpatia">
			<header>
				<h2></h2>
			</header>
			<img src="" width="428" height="321" />
			<table cellspacing="0" cellpading="0">
				<tr>
					<td class="label">Categoria</td>
					<td class="categoria"></td>
				</tr>
				<tr>
					<td class="label">Dia certo</td>
					<td class="diaCerto"></td>
				</tr>
				<tr>
					<td class="label">Melhor hora do dia</td>
					<td class="melhorHoraDia"></td>
				</tr>
				<tr>
					<td class="label">O que esperar</td>
					<td class="oQueEsperar"></td>
				</tr>
				<tr>
					<td class="label">Você vai precisar de</td>
					<td class="voceVaiPrecisarDe"></td>
				</tr>
			</table>
			<h3>Como fazer</h3>
			<div class="comoFazer">
			</div>
			<div class="santosAssociados">
				
			</div>
			
			<div class="simpatiasDisclaimer">
				As simpatias e dicas que não são do repertório popular foram retiradas das seguintes obras: Receitas Práticas de Magia (Regina Drummond, Giz Editoral); Rituais, Magias e Simpatias (André Luiz Manttovane, Editora Madras); Medicina Mágica (Ruth Guimarães, Editora Global); Coisas Que o Povo Diz (Luís da Câmara Cascudo, Editora Global), Dicionário do Folclore (Luís da Câmara Cascudo, Editora Global); Superstição no Brasil (Luís da Câmara Cascudo, Editora Itatiaia); A Cozinha da Bruxa (Márcia Frazão, Editora Bertrand); Portal Angels (www.portalangels.com); Simpatias.Org (www.simpatias.org); Místico.Com (www.mistico.com); Super Simpatias (www.supersimpatias.com); Pai Ogun (www.paiogun.com).
			</div>
		</div>
	</article>
	<aside class="relacionados">
		<h4>Simpatias relacionadas</h4>
		<ul>
			<li><a href=""></a></li>
		</ul>
	</aside>
</div>