<div class="arenaJogo gd12 fr">
	<article class="main interna">
		<div class="faixa">
			
			<header class="cabecalho-jogo">		
				<h2></h2>
				<cite class="nota">
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
				</cite>
				<a href="" class="url-analise">Leia a análise</a>
			</header>
			
			<div class="CHE05412 gd12 fl">
				<div id="fb-root"></div><fb:like href="" send="false" width="450" show_faces="false" action="recommend" font="lucida grande" class="fb-share"></fb:like>
				
				<ul class="icones-compartilhe">
					<li>Compartilhar:</li>
					<li><a href="#" class="twitter" title="Compartilhe no Twitter">Compartilhe Twitter</a></li>
					<li><a href="#" class="fb" title="Compartilhe no Facebook">Compartilhe Facebook</a></li>
					<li class="nomgr"><a href="#" class="orkut" title="Compartilhe no Orkut">Compartilhe Orkut</a></li>
				</ul>
			</div>

			
			<div class="ficha-jogo">
				<img src="" alt="" width="150" height="196" />
				
				<div class="dados-tecnicos">
					<div class="info estudio"><strong>Estúdio</strong> <span>Rockstar Games</span><div class="clear"></div></div>
					<div class="info genero"><strong>Gênero</strong> <span>Aventura</span><div class="clear"></div></div>
					<div class="info lancamento"><strong>Lançamento</strong> <span>18/05/2010</span><div class="clear"></div></div>
					<div class="info plataformas"><strong>Plataformas</strong> <a href="#" title="">PS3</a>,<a href="#" title="">X360</a><div class="clear"></div></div>
					<div class="info distribuidora"><strong>Distribuidora</strong> <span>Lorem</span><div class="clear"></div></div>
				</div>
			</div>		
		</div>
		
		<div class="faixa faixa-sobre-jogo">
			<h3>Sobre o Jogo</h3>
			
			<div class="sobre-jogo"></div>
		</div>
		
		<div class="faixa" id="container-videos" style="">
			<div class="jogo-videos">
				<h3>VÍDEO</h3>
				
				<!-- ul>
					<li class="last"><a href="/videos" title="">Todos os vídeos</a></li>
				</ul -->
				
				<input type="hidden" id="videosInput" />
				<div id="videos" rel="123123123"></div>
			</div>
		</div>	
		
		<div class="faixa" id="container-galeria" style="">
			<script type="text/javascript" src="http://i0.ig.com/x/galeria/js/galleria.js?v=11"></script>
			<div class="jogo-galeria">
				<h3>IMAGENS</h3>
				
				<div id="galleria-container">
					
				</div>
				<style type="text/css">
					.galeria-fck{display:none;}
					.galeria{display:block!important;}
				</style>
			</div>
		</div>	
		
		
		
		<div class="faixa">
			<div class="LIA03812 gd12 fl">
				<input type="hidden" name="q_ids_secoes" value="1597180278766" />
				<input type="hidden" name="q_termos" class="q_termos"/>
				<input type="hidden" name="max_resultados" value="5"/>
			
				<h3 id="UltimasNot">Notícias</h3>
				<ul id="container_ultimas"></ul>
			</div>
		</div>
		
		
		
		<div class="faixa nobdb">
			<input type="hidden" class="inputGenero" />
			<input type="hidden" class="inputTema" />
			<input type="hidden" class="inputIdade" />
			<input type="hidden" class="inputTitulo" />
			<div class="jogo-relacionados">
				<h3>Jogos relacionados</h3>
				
				<ul id="listaJogosRelacionados"></ul>
			</div>
		</div>	
	</article>
</div>