<div id="arenaJogosIndice" class="arenaJogosIndice gd12 fr">
	
	<div id="filters">
		<div class="boxFilterArena"  id="boxFilterPlataforma">
			<label for="plataforma">Plataforma:</label>
			<select name="" id="plataforma" class="dropfy">
				<option value="">Todas</option>
				<option value="PS3">PS3</option>
				<option value="XBOX 360">XBOX 360</option>
				<option value="WII">WII</option>
				<option value="PC">PC</option>
				<option value="MAC">MAC</option>
				<option value="3DS">3DS</option>
				<option value="DS">DS</option>
				<option value="PSP">PSP</option>
				<option value="PS VITA">PS VITA</option>
				<option value="WII U">WII U</option>
				<option value="IOS">IOS</option>
				<option value="ANDROID">ANDROID</option>
				<option value="WINDOWS-MOBILE">WINDOWS-MOBILE</option>
				<option value="PS2">PS2</option>
				<option value="XBOX">XBOX</option>
				<option value="DREAMCAST">DREAMCAST</option>
				<option value="GAMECUBE">GAMECUBE</option>
				<option value="SATURN">SATURN</option>
				<option value="N-GAGE">N-GAGE</option>
				<option value="GAMEBOY ADVANCE">GAMEBOY ADVANCE</option>
				<option value="GAMEBOY">GAMEBOY</option>
				<option value="GAME GEAR">GAME GEAR</option>
				<option value="LYNX">LYNX</option>
				<option value="NEO GEO">NEO GEO</option>
				<option value="NEO GEO POCKET">NEO GEO POCKET</option>
				<option value="NINTENDO 64">NINTENDO 64</option>
				<option value="PS1">PS1</option>
				<option value="SNES">SNES</option>
				<option value="NES">NES</option>
				<option value="MEGA DRIVE">MEGA DRIVE</option>
				<option value="MASTER SYSTEM">MASTER SYSTEM</option>
				<option value="TURBOGRAFX-16">TURBOGRAFX-16</option>
				<option value="3DO">3DO</option>
				<option value="AMIGA CD32">AMIGA CD32</option>
				<option value="JAGUAR">JAGUAR</option>
				<option value="INTELLIVISION">INTELLIVISION</option>
				<option value="ARCADE">ARCADE</option>
				<option value="ATARI 2600">ATARI 2600</option>
				<option value="COMMODORE 64">COMMODORE 64</option>
				<option value="ODYSSEY">ODYSSEY</option>
			</select>
		</div>

		<div class="boxFilterArena" id="boxFilterGenero">
			<label for="genero">Gênero:</label>
			<select name="" id="genero" class="dropfy">
				<option value="">TODOS</option>
				<OPTION VALUE="AÇÃO">AÇÃO</option>
				<OPTION VALUE="AÇÃO-AVENTURA">AÇÃO-AVENTURA</option>
				<OPTION VALUE="ADVENTURE">ADVENTURE</option>
				<OPTION VALUE="AVENTURA">AVENTURA</option>
				<OPTION VALUE="BEAT-'EM-UP">BEAT-'EM-UP</option>
				<OPTION VALUE="BEISEBOL">BEISEBOL</option>
				<OPTION VALUE="BILHAR">BILHAR</option>
				<OPTION VALUE="BOLICHE">BOLICHE</option>
				<OPTION VALUE="BOXE">BOXE</option>
				<OPTION VALUE="COLEÇÃO DE MINIGAMES">COLEÇÃO DE MINIGAMES</option>
				<OPTION VALUE="COMBATE DE VEÍCULOS">COMBATE DE VEÍCULOS</option>
				<OPTION VALUE="CORRIDA">CORRIDA</option>
				<OPTION VALUE="CRÍQUETE">CRÍQUETE</option>
				<OPTION VALUE="EDUCACIONAL">EDUCACIONAL</option>
				<OPTION VALUE="EDUCACIONAL">EDUCACIONAL</option>
				<OPTION VALUE="ESTRATÉGIA">ESTRATÉGIA</option>
				<OPTION VALUE="ESTRATÉGIA EM TEMPO REAL">ESTRATÉGIA EM TEMPO REAL</option>
				<OPTION VALUE="FITNESS">FITNESS</option>
				<OPTION VALUE="FUTEBOL">FUTEBOL</option>
				<OPTION VALUE="FUTEBOL AMERICANO">FUTEBOL AMERICANO</option>
				<OPTION VALUE="GOLFE">GOLFE</option>
				<OPTION VALUE="HÓQUEI NO GELO">HÓQUEI NO GELO</option>
				<OPTION VALUE="LUTA">LUTA</option>
				<OPTION VALUE="LUTA-LIVRE">LUTA-LIVRE</option>
				<OPTION VALUE="MMO">MMO</option>
				<OPTION VALUE="MÚSICA/RITMO">MÚSICA/RITMO</option>
				<OPTION VALUE="PANCADARIA">PANCADARIA</option>
				<OPTION VALUE="PESCA">PESCA</option>
				<OPTION VALUE="PINBALL">PINBALL</option>
				<OPTION VALUE="PLATAFORMA">PLATAFORMA</option>
				<OPTION VALUE="PUZZLE">PUZZLE</option>
				<OPTION VALUE="RPG">RPG</option>
				<OPTION VALUE="SHOOT-'EM-UP">SHOOT-'EM UP</option>
				<OPTION VALUE="SHOOTER">SHOOTER</option>
				<OPTION VALUE="SHOOTER MULTI-DIRECIONAL">SHOOTER MULTI-DIRECIONAL</option>
				<OPTION VALUE="SIMULADOR">SIMULADOR</option>
				<OPTION VALUE="SKATE">SKATE</option>
				<OPTION VALUE="SNOWBOARD/ESQUI">SNOWBOARD/ESQUI</option>
				<OPTION VALUE="SURFE">SURFE</option>
				<OPTION VALUE="TÊNIS">TÊNIS</option>
				<OPTION VALUE="TIRO EM PRIMEIRA-PESSOA">TIRO EM PRIMEIRA-PESSOA</option>
				<OPTION VALUE="TIRO EM TERCEIRA-PESSOA">TIRO EM TERCEIRA-PESSOA</option>
				<OPTION VALUE="TIRO SOBRE TRILHOS">TIRO SOBRE TRILHOS</option>
				<OPTION VALUE="TRÍVIA/TABULEIRO">TRÍVIA/TABULEIRO</option>

			</select>
		</div>
	</div>
	
	<div id="indiceLetras">
		<a href="" rel="[^a-z]">#</a>
		<a href="" rel="a">a</a>
		<a href="" rel="b">b</a>
		<a href="" rel="c">c</a>
		<a href="" rel="d">d</a>
		<a href="" rel="e">e</a>
		<a href="" rel="f">f</a>
		<a href="" rel="g">g</a>
		<a href="" rel="h">h</a>
		<a href="" rel="i">i</a>
		<a href="" rel="j">j</a>
		<a href="" rel="k">k</a>
		<a href="" rel="l">l</a>
		<a href="" rel="m">m</a>
		<a href="" rel="n">n</a>
		<a href="" rel="o">o</a>
		<a href="" rel="p">p</a>
		<a href="" rel="q">q</a>
		<a href="" rel="r">r</a>
		<a href="" rel="s">s</a>
		<a href="" rel="t">t</a>
		<a href="" rel="u">u</a>
		<a href="" rel="v">v</a>
		<a href="" rel="w">w</a>
		<a href="" rel="x">x</a>
		<a href="" rel="y">y</a>
		<a href="" rel="z">z</a>
		<a href="" rel="." class="todas ativo">Todas</a>	
	</div>
		
	<table id="arenaResultado">
		<thead>
			<tr>
				<th width="230" class="nomeJogo">Nome do Jogo</th>
				<th width="270" class="plataforma">Plataforma</th>
				<th width="125" class="genero">Gênero</th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			
		</tbody>
	</table>
	
	<div id="pagination"></div>
</div>