<div class="arenaAgenda gd12 fr">

	<input type="hidden" id="guiaId" />

	<div class="header-agenda">
		<h3 id="titleMes"></h3>
		<div class="agenda-filtro">
			<label for="agendaMes">Selecione o mês:</label>
			<select name="agendaMes" id="agendaMes" class="dropfy"></select>
		</div>
		<div class="clear"></div>
	</div>

	<table id="agendaEventos" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th><img class="spacer" src="data:image/png;base64" alt="" width="82" height="1px"/></th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody></tbody>
	</table>
</div>