<div class="barra-compartilhamento">
	<div class="tool-bar-buttons" id="botoes">
		<ul class="tool-bar-share">
			<li class="orkut"><a  href="" class="orkut-share" target="_blank" title="Orkut"></a></li>
			<li class="google-share"><div class="g-plusone" data-size="medium" data-width="70"></div></li>
			<li>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="iG" data-related="iG">Tweet</a>
			</li>
			<li>
			<div class="facebook-share">
				<fb:like send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
				<div id="fb-root"></div>                                 
			</div>
			</li>
		</ul>
		<div class="botoes-share nomgr">
			<ul class="tools nopdr nobdr">
				<li>
					<a class="boxEmail tooltip tool-button email-button" title="Enviar por e-mail" href="/enviarporemail.html"><!-- --></a>
				</li>
				<li>
					<a class="boxCorrigir tooltip tool-button corrigir-button" title="Corrigir" href="/corrigir.html"><!-- --></a>
				</li>
				<li>
					<a class="tooltip tool-button diminuir-button nomgr" href="#"><!-- --></a>
				</li>
				<li>
					<a class="tooltip tool-button aumentar-button nomgr" href="#"><!-- --></a>
				</li>
			</ul>
		</div>
	</div>
</div>