<div id="barra-ig-container">
	<div id="barra-ig">
		<a href="http://www.ig.com.br/" title="iG" class="logo-ig">iG</a>
		<div>
			<ul class="canais">
				<li><a href="http://www.ig.com.br/" target="_self" title="Home iG">Home iG</a></li>
				<li><a href="http://ultimosegundo.ig.com.br/" target="_self" title="Notícias">Notícias</a></li>
				<li><a href="http://economia.ig.com.br/" target="_self" title="Economia">Economia</a></li>
				<li><a href="http://esportes.ig.com.br/" target="_self" title="Esportes">Esportes</a></li>
				<li><a href="http://gente.ig.com.br/" target="_self" title="Gente">Gente</a></li>
				<li><a href="http://delas.ig.com.br/" target="_self" title="Delas">Delas</a></li>
				<li><a href="http://tvig.ig.com.br/" target="_self" title="Vídeos">Vídeos</a></li>
				<li><a href="http://www.ig.com.br/indice/" target="_self" title="Mais sites">Mais sites</a></li>
				<li><a href="http://batepapo.ig.com.br/" target="_self" title="Bate Papo">Bate Papo</a></li>
			</ul>
		</div>
	</div>
</div>