<div class="barra-compartilhamento">
	<div class="barra-atalhos" id="botoes">
		<ul class="compartilhe">
			<li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"><!-- --></a></li>
			<li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"><!-- --></a></li>
			<li class="google">
			<!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
			<g:plusone callback="trackSocialPlusOne" size="medium" count="false"></g:plusone>
			</li>
			<li>
			<div class="facebook">
				<fb:like send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
				<div id="fb-root"></div>                                 
			</div>
			</li>
		</ul>    
		<ul class="tools nobdr">
			<li class="imprimir">
				<a class="tooltip" href="#" onClick="javascript:window.print()"></a>
			</li>
		</ul>
		<div class="botoes nomgr">
			<span class="aumentarTxt">Texto:</span>
			<ul class="tamanhoFontes nopdr nobdr">
				<li class="diminuir nomgr">
					<a class="tooltip" href="#"><!-- --></a>
				</li>
				<li class="aumentar nomgr">
					<a class="tooltip" href="#"><!-- --></a>
				</li>
			</ul>
		</div>
	</div>
</div>