    <div id="barra-global-container">
        <div id="barra-global">
                <h5><a href="http://www.ig.com.br/" title="iG"><span>iG</span></a></h5>
                <div>
                        <ul class="canais">
                                <li><a href="http://www.ig.com.br/" target="_self" title="Home iG" class="homeiG"><span class="texto">Home iG</span><span class="borda"></span></a></li>
                                <li><a href="http://ultimosegundo.ig.com.br/" target="_self" title="Notícias" class="noticias"><span class="texto">Notícias</span><span class="borda"></span></a></li>
                                <li><a href="http://economia.ig.com.br/" target="_self" title="Economia" class="economia"><span class="texto">Economia</span><span class="borda"></span></a></li>
                                <li><a href="http://esporte.ig.com.br/" target="_self" title="Esportes" class="esportes"><span class="texto">Esportes</span><span class="borda"></span></a></li>
                                <li><a href="http://gente.ig.com.br/" target="_self" title="Gente" class="gente"><span class="texto">Gente</span><span class="borda"></span></a></li>
                                <li><a href="http://delas.ig.com.br/" target="_self" title="Delas" class="delas"><span class="texto">Delas</span><span class="borda"></span></a></li>
                                <li><a href="http://tvig.ig.com.br/" target="_self" title="Vídeos" class="videos"><span class="texto">Vídeos</span><span class="borda"></span></a></li>
                                <li><a href="http://www.ig.com.br/indice/" target="_self" title="Mais sites" class="maisSites"><span class="texto">Mais sites</span><span class="borda"></span></a></li>
                                <li><a href="http://batepapo.ig.com.br/" target="_self" title="Bate Papo" class="batePapo"><span class="texto">Bate Papo</span><span class="borda"></span></a></li>
                                <li><a href="http://acesso.ig.com.br/" target="_self" title="Serviços Digitais" class="servicosDigitais"><span class="texto">Serviços Digitais</span><span class="borda"></span></a></li>
                                <li><a href="http://webmail.ig.com.br/" target="_self" title="Acesse seu email" class="acesseSeuEmail"><span class="texto">Acesse seu email</span><span class="borda"></span></a></li>
                                <li class="facebook"><a href="http://www.facebook.com/ig" target="_self" title="Facebook"><span class="social">Facebook</span><span class="borda"></span></a></li>
                                <li class="twitter"><a href="http://twitter.com/iG" target="_self" title="Twitter"><span class="social">Twitter</span></a></li>
                        </ul>
                </div>
        </div>
    </div> 