	<div class="ws-dhtml">
		<% { %>
		<script type="text/javascript">  
			if(window.location.href.search("edicao.html") == -1){
				var ws_unit = {             
					"id": EJESA.WSPublicidades.webspectatorInsertPub("dhtml")     
				};      
				document.write('<scr' + 'ipt type="text/javascript" src="//wfpscripts.webspectator.com/ws-ad.js"></scr' + 'ipt>');   
			}
		</script>
		<% } %>
	</div>
	<div class="ws-intervencao">
		<% { %>
		<script type="text/javascript"> 
		if(window.location.href.search("edicao.html") == -1){      
			var ws_unit = {             
				"id": EJESA.WSPublicidades.webspectatorInsertPub("intervencao")     
			};      
			document.write('<scr' + 'ipt type="text/javascript" src="//wfpscripts.webspectator.com/ws-ad.js"></scr' + 'ipt>');   
		}	
		</script>
		<% } %>
	</div>

	<footer id="main-footer">
		<div class="container">
			<div class="row" id="nav-footer">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<ul>
								<li><a href="http://brasileconomico.ig.com.br">Home</a></li>
								<li><a href="https://www.ejesa.com.br/assine/index.php?pag=product&id=2">Assinatura</a></li>
								<li><a href="http://brasileconomico.ig.com.br/busca">Busca</a></li>
								<li><a href="http://brasileconomico.ig.com.br/capas">Capas</a></li>
							</ul>
							<ul>
								<li><a href="http://brasileconomico.ig.com.br/tecnologia">Tecnologia</a></li>
								<li><a href="http://brasileconomico.ig.com.br/tecnologia/coluna-nelson/"> Coluna Nelson Vasconcelos</a></li>
							</ul>

						</div>

						<div class="col-md-6">
						<ul>
							<li><a href="http://brasileconomico.ig.com.br/brasil">Brasil</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/economia">Economia</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/mosaico-politico">Mosaico Político</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/olhar-planalto">Olhar do Planalto</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/politica">Política</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/ponto-final">Ponto Final</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/relatorio-dc">Relatório D.C.</a></li>
							<li><a href="http://brasileconomico.ig.com.br/brasil/sintonia-fina">Sintonia Fina</a></li>
						</ul>
						<ul>
							<li><a href="http://brasileconomico.ig.com.br/mundo">Mundo</a></li>
							<li><a href="http://brasileconomico.ig.com.br/mundo/informe-new-york">Informe New York</a></li>
							<li><a href="http://brasileconomico.ig.com.br/mundo/mundo-emergente/">Mundo Emergente</a></li>
						</ul>

						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="row">

						<div class="col-md-6">
						<ul>
							<li><a href="http://brasileconomico.ig.com.br/negocios">Negócios</a></li>
							<li><a href="http://brasileconomico.ig.com.br/negocios/cliente-ecia">Cliente & Cia</a></li>
							<li><a href="http://brasileconomico.ig.com.br/negocios/plano-de-negocios">Plano de Negócios</a></li>
							<li><a href="http://brasileconomico.ig.com.br/negocios/pme">PME</a></li>
						</ul>
						<ul>
							<li><a href="http://brasileconomico.ig.com.br/opiniao">Opinião</a></li>

						</ul>
							<ul>
									<li><a href="http://brasileconomico.ig.com.br/financas">Finanças</a></li>
									<li><a href="http://brasileconomico.ig.com.br/financas/financas-pessoais">Finanças Pessoais</a></li>
									<li><a href="http://brasileconomico.ig.com.br/financas/mercados">Mercados</a></li>
									<li><a href="http://brasileconomico.ig.com.br/financas/mercado-como-elee">O mercado como ele é</a></li>

								</ul>
						</div>

						<div class="col-md-6">
							<ul>
								<li><a href="http://brasileconomico.ig.com.br/vida-e-estilo">Vida & Estilo</a></li>
								<li><a href="http://brasileconomico.ig.com.br/vida-e-estilo/alem-taca">Além da taça</a></li>
								<li><a href="http://brasileconomico.ig.com.br/vida-e-estilo/automania">Automania</a></li>
								<li><a href="http://brasileconomico.ig.com.br/vida-e-estilo/esporte-clube">E$porte Clube</a></li>
								<li><a href="http://brasileconomico.ig.com.br/vida-e-estilo/estilo-sa">Estilo S/A</a></li>

							</ul>
							<ul class="social-footer-share">
								<li><a target="_blank" href="http://brasileconomico.epaper.grupodia.com.br/login">Edição Digital e nas Redes</a></li>
								<br>
								<li><a target="_blank" href="http://brasileconomico.ig.com.br/be-digital"><img src="http://s0.ejesa.ig.com.br/img/be/tablet.png"></a></li>
								<li><a title="twitter" alt="twitter" class="social-footer twitter" target="_blank" href="https://twitter.com/br_economico">twitter</a></li>
								<li><a title="facebook" alt="facebook" class="social-footer facebook" target="_blank" href="https://www.facebook.com/brasileconomico">facebook</a></li>
								<li><a title="rss" alt="rss" class="social-footer rss" target="_blank" href="http://brasileconomico.ig.com.br/rss">rss</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<hr id="separa-footer">
			<div class="row " id="mais-servicos">
				<div class="col-md-12">
					<p>
						<img id="logo-footer" src="http://s0.ejesa.ig.com.br/img/be/logo-footer.jpg">
						<a href="http://brasileconomico.ig.com.br/index.html">Brasil Econômico</a> |
						<a href="http://brasileconomico.ig.com.br/expediente">Expediente</a></li> |
						<a href="http://brasileconomico.ig.com.br/central-de-anuncios">Central de Anúncios</a></li> |
						<a href="http://brasileconomico.ig.com.br/faleconosco">Fale Conosco</a></li>|
						<a href="http://brasileconomico.ig.com.br/privacidade">Privacidade</a></li>|
						<a href="http://brasileconomico.ig.com.br/sitemap">Sitemap</a></li>|
						<a href="http://brasileconomico.ig.com.br/faq-login">Solução de Problemas</a></li>|
						<a href="http://brasileconomico.ig.com.br/rss">RSS</a> |
						<a href="http://www.vagas.com.br/ejesa">Trabalhe Conosco </a>
						<br>
						© Copyright 2009-2014 Brasil Econômico. Todos os Direitos Reservados.
					</p>
					<p class="text-right" id="aling-logos">
						<a href="http://ejesa.com.br" target="_blank">
							<img src="http://s0.ejesa.ig.com.br/img/be/ejesa.png">
						</a>
						<a href="http://odia.ig.com.br" target="_blank">
							<img src="http://s0.ejesa.ig.com.br/img/be/odia.png">
						</a>
						<a href="http://meiahora.ig.com.br" target="_blank">
							<img src="http://s0.ejesa.ig.com.br/img/be/meia-hora.png">
						</a>

					</p>
				</div>
			</div>
		</div>
	</footer>

	<footer class="footer-xl">
		<img src="http://s0.ejesa.ig.com.br/img/be/brasil-economico-logo.png">
		<span>© 2010-2014</span>
	</footer>

<%{%>

	<script>

		var myDate = new Date();

		var month = new Array();

		month[0]="Janeiro"; month[1]="Fevereiro"; month[2]="Março"; month[3]="Abril"; month[4]="Maio"; month[5]="Junho"; month[6]="Julho"; month[7]="Agosto"; month[8]="Setembro"; month[9]="Outubro"; month[10]="Novembro"; month[11]="Dezembro";

		$( document ).ready(function() {
			$( "#data-dia" ).text( myDate.getDate() );
			$( "#data-mes" ).text( month[myDate.getMonth()] );
			$( "#data-ano" ).text( myDate.getFullYear() );
			$( "#data-hora" ).text( myDate.getHours() );
			$( "#data-minuto" ).text( myDate.getMinutes() );
		});
	</script>

	<script src="http://ads42409.hotwords.com/show.jsp?id=42409&cor=e29e74"></script>

<%}%>

