	<nav class="navbar  navbar-inverse pull-up" id="brasil-economico-nav" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Clique para navegar</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://brasileconomico.ig.com.br"><img src="http://s0.ejesa.ig.com.br/img/be/brasil-economico-logo.png" alt="voltar para a home" title="voltar para a home" ></a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div  class="hidden-search navbar-right" >
						<form class="navbar-form navbar-left" role="search" style="margin-bottom: 4px;" lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
							<div class="form-group">
								<input alt="Buscar" name="q" id="buscar" type="text" class="form-control" placeholder="Procurar...">
								<input type="hidden" id="cse-search-input-box-id" value="">
							</div>
							<button type="submit" class="btn btn-default smb">Buscar</button>
							<button type="reset" class="btn btn-default res-abas">x</button>
						</form>
				</div>
				<div  class="hidden-login navbar-right" >
						<form method="post"  action="http://brasileconomico.epaper.grupodia.com.br/login" id="cwa_login_form" method="post" class="navbar-form navbar-left" role="search">
					            <input name="action" value="authenticate" type="hidden">

		                        <input name="email_login" id="user" placeholder="EMAIL" class="required" type="text" >
		                        <input id="password-cwa" name="senha" placeholder="SENHA" class="required" type="password" class="my-password" >
                       			 <input id="submit-cwa" name="submit" value="OK"  class="btn btn-default smb" type="submit">

							<a href="http://brasileconomico.ig.com.br/be-digital">Esqueci minha senha</a>
							<button type="reset" class="btn btn-default res-abas">x</button>
						</form>
				</div>
				<!--<div  class="hidden-cotacao navbar-right" >
					<span class="indicadores-valores" id="bolsa">
						<span class="lugar">Bolsas</span>
						<span class="place">Bovespa</span><br>
						<span class="percentual">-0,25%</span><span class="valor">51.503,05 pts</span>
					</span>
					<span class="indicadores-valores" id="cambio">
						<span class="lugar">Câmbio</span>
						<span class="place" >Dólar Com</span><br>
						<span class="percentual">-0,28%</span><span class="valor">R$ 2,367</span>
					</span>
					<a href="#">Veja todos os índices</a>
					<button type="reset" class="btn btn-default res-abas">x</button>
				</div>
			-->
				<ul class="nav navbar-nav " id="lista-menu">
					<li id="menu-home" class="active"><a href="http://brasileconomico.ig.com.br">Capa</a></li>
					<li id="menu-brasil" class="inactive"><a href="http://brasileconomico.ig.com.br/brasil/" >Brasil</a></li>
					<li id="menu-financas" class="inactive"><a href="http://brasileconomico.ig.com.br/financas/" >Finanças</a></li>
					<li id="menu-negocios" class="inactive"><a href="http://brasileconomico.ig.com.br/negocios/" >Negócios</a></li>
					<li id="menu-mundo" class="inactive"><a href="http://brasileconomico.ig.com.br/mundo/">Mundo</a></li>
					<li id="menu-tecnologia" class="inactive"><a href="http://brasileconomico.ig.com.br/tecnologia/" >Tecnologia</a></li>
					<li id="menu-opiniao" class="inactive"><a href="http://brasileconomico.ig.com.br/opiniao/">Opinião</a></li>
					<li id="menu-estiloevida" class="inactive"><a href="http://brasileconomico.ig.com.br/vida-e-estilo/" >Vida & Estilo</a></li>
				</ul>
				<ul class="nav navbar-nav  navbar-right" id="seletor-menu">
					<li name="busca" id="busca"><a href="javascript:void(0);" ><span alt="Procurar" title="Procurar" class="sprites look"></span></a></li>
					<li name="usuario" id="usuario"><a  href="javascript:void(0);" ><span alt="Login" title="Login" class="sprites user"></span></a></li>
				<!--	<li name="grafico"><a  href="javascript:void(0);" ><span class="sprites graf"></span></a></li> -->
				</ul>
			</div>
		</div>
	</nav>

<%{%>
<script>

$( document ).ready(function(){



$(function(){

	if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/brasil\//)){
	$("#menu-home").addClass("inactive");
	$("#menu-home").removeClass("active");

	$("ul#listamenu li.active").addClass("inactive");
	$("ul#listamenu li.active").removeClass("active");

	$("#menu-brasil").addClass("active");
}

if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/financas\//)){
	$("#menu-home").addClass("inactive");
 	$("#menu-home").removeClass("active");

 	$("ul#listamenu li.active").addClass("inactive");
 	$("ul#listamenu li.active").removeClass("active");

 	$("#menu-financas").addClass("active");
 }
if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/negocios\//)){
	$("#menu-home").addClass("inactive");
 	$("#menu-home").removeClass("active");

	$("ul#listamenu li.active").addClass("inactive");
 	$("ul#listamenu li.active").removeClass("active");

 	$("#menu-negocios").addClass("active");
 }
if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/mundo\//)){
	$("#menu-home").addClass("inactive");
 	$("#menu-home").removeClass("active");

 	$("ul#listamenu li.active").addClass("inactive");
 	$("ul#listamenu li.active").removeClass("active");

 	$("#menu-mundo").addClass("active");
 }
if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/tecnologia\//)){
	$("#menu-home").addClass("inactive");
 	$("#menu-home").removeClass("active");

 	$("ul#listamenu li.active").addClass("inactive");
 	$("ul#listamenu li.active").removeClass("active");

 	$("#menu-tecnologia").addClass("active");
 }
if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/opiniao\//)){
	$("#menu-home").addClass("inactive");
 	$("#menu-home").removeClass("active");

	$("ul#listamenu li.active").addClass("inactive");
 	$("ul#listamenu li.active").removeClass("active");

 	$("#menu-opiniao").addClass("active");
 }
if( $("meta[name='be-OAS-vars-secao']").attr("content").match(/\/vida-e-estilo\//)){
	$("#menu-home").addClass("inactive");
 	$("#menu-home").removeClass("active");

	$("ul#listamenu li.active").addClass("inactive");
 	$("ul#listamenu li.active").removeClass("active");

 	$("#menu-estiloevida").addClass("active");
 }



	$( "ul#seletor-menu li" ).click(function() {
	  	$( "ul#seletor-menu").find('li').each(function(){
	  		var classe = $(this).attr('class');
	  		if(classe === "active") {
	  			$(this).removeClass('active');
	  		}
	  	});

		$( this ).toggleClass( "active" );
		var item = $(this).attr('name');
		/*console.log(item);*/
		$( ".navbar-collapse").find('ul').addClass("cai-menu");
		$( "ul:nth-child(4).cai-menu").attr('id', 'cai-main-menu');
		$( "#brasil-economico-nav").height('101px');


		if (item === 'busca') {
			$( ".hidden-search").show().animate({opacity:1}, 400);

			$('.nav.navbar-nav.navbar-right #usuario').removeClass('active');
			$('.nav.navbar-nav.navbar-right #grafico').removeClass('active');
			$('.nav.navbar-nav.navbar-right #busca').addClass('active');


		}
		else {
			$( ".hidden-search").hide().animate({opacity:0}, 400);

			$('.nav.navbar-nav.navbar-right #usuario').removeClass('active');
			$('.nav.navbar-nav.navbar-right #grafico').removeClass('active');
			$('.nav.navbar-nav.navbar-right #busca').removeClass('active');

		}
		if (item === 'usuario') {
			 $( ".hidden-login").show().animate({opacity:1}, 400);

			$('.nav.navbar-nav.navbar-right #busca').removeClass('active');
			$('.nav.navbar-nav.navbar-right #grafico').removeClass('active');
			$('.nav.navbar-nav.navbar-right #usuario').addClass('active');
		}
		else {
			$( ".hidden-login").hide().animate({opacity:0}, 400);


			$('.nav.navbar-nav.navbar-right #busca').removeClass('active');
			$('.nav.navbar-nav.navbar-right #grafico').removeClass('active');
			$('.nav.navbar-nav.navbar-right #usuario').removeClass('active');
		}
		if (item === 'grafico') {
			 $( ".hidden-cotacao").show().animate({opacity:1}, 400);


			$('.nav.navbar-nav.navbar-right #busca').removeClass('active');
			$('.nav.navbar-nav.navbar-right #usuario').removeClass('active');
			$('.nav.navbar-nav.navbar-right #grafico').addClass('active');
		}
		else {
			$( ".hidden-cotacao").hide().animate({opacity:0}, 400);

			$('.nav.navbar-nav.navbar-right #busca').removeClass('active');
			$('.nav.navbar-nav.navbar-right #grafico').removeClass('active');
			$('.nav.navbar-nav.navbar-right #usuario').removeClass('active');

		}

	});

	$(".res-abas").click(function() {

		$("ul#seletor-menu li").removeClass("active");
		$("#brasil-economico-nav").height('60px');
		$(".hidden-cotacao").hide().animate({opacity:0}, 400);
		$(".hidden-login").hide().animate({opacity:0}, 400);
		$(".hidden-search").hide().animate({opacity:0}, 400);
		$("#cai-main-menu").removeAttr("id");
		$(".navbar-collapse").find('.cai-menu').removeClass("cai-menu");
	});

	});
});

$( ".navbar-inverse#brasil-economico-nav .navbar-nav > li" ).click(function() {
	$( this ).toggleClass( "active" );
});

</script>

<%}%>
