<div class="BEHLE00702 col-md-12">
	<div class="box-sidebar" id="capas-preview">
		<h4>Edição Impressa »</h4>

		<div id="assinatura-capa">
			<a target="_blank" href="http://brasileconomico.epaper.grupodia.com.br/login">
				<img id="tablet-chamada" src="http://s0.ejesa.ig.com.br/img/be/tablet.jpg">
			</a>
			<a target="_blank" href="http://brasileconomico.epaper.grupodia.com.br/login"><img src="http://s0.ejesa.ig.com.br/img/be/acesso-epaper-be.jpg"></a>
			<a target="_blank" href="http://www.ejesa.com.br/assine/index.php?pag=product&id=2"><img src="http://s0.ejesa.ig.com.br/img/be/assinar-epaper-be.jpg"></a>
		</div>
		<div id="a-capa">
			<span>Edição do dia <span id="a-capa-data"></span></span>
			<figure class="figure-modal">
				<a href="http://brasileconomico.ig.com.br/capas/"><img class="imagem-modal" width="210" height="293" src=""></a>
				<figure></figure>
			</figure>
		</div>
	</div>
	<style type="text/css">

		#assinatura-capa a:hover img { opacity: 0.8; }

	</style>
</div>

