<div class="BEHLE00302 col-md-6">
	<div id="box-BEHLE00302" class="box-noticia-home box-metade-imagem">
		<div class="row">
			<div style="position: relative;min-height: 1px; padding-left: 15px;padding-right: 15px;">
			<a title="" target="" href="#">
				<img src="">
				<h4></h4>
				<p></p>
			</a>
		</div>
	</div>
</div>


