	<div class="BEHLE00104 col-md-12">
		<div class="box-noticia-home">
			<div class="row">
				<div class="pos1 col-md-6">
					<a href="#">
						<img src="">
					</a>
				</div>
				<div class="pos2 col-md-6">
					<a href="#">
						<h3></h3>
						<p></p>
					</a>
					<ul>
						<li><a href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>