<div class="BEHLE00904 col-md-12">
	<div class="banner-inter">
		<h2>Publicidade »</h2>
        <a href="">
            <img src="" alt="" title="">
        </a>
	</div>

    <style type="text/css">
    .BEHLE00904 {}
    .BEHLE00904 .banner-inter{}
    </style>
</div>
