<div class="BEHLE00604 col-md-12">
	<div class="box-aroeira">
		<h2>Aroeira » 
			<!-- <a href="#" target="" title="">+ veja <strong>mais charges</strong> » -->



			
			</a>
		</h2>
		<img src="" alt="" title="">
	</div>
</div>