<div class="BEHLE00902 col-md-6">
	<div class="col-md-12">
		<a class="linkprincipal" href="#">
			<h3>
				<p></p>
			</h3>
			<p></p>
		</a>
		<a class="linkrelacionado" href="#"><small></small></a>
	</div>
</div>
