<script type="text/javascript" src="http://i0.statig.com.br/barraiG/parceiros/barra-parceiros-ig-mobile.js"></script>

<nav id="social-sharing">
	<div class="container">
		<div class="row">
			<div class="col-md-4" id="horario">
				<p style="text-align:left !important"><span id="data-dia"></span> de <span id="data-mes"></span> de <span id="data-ano"></span> <img src="http://s0.ejesa.ig.com.br/img/be/relogio.jpg"> <span id="data-hora"></span>h<span id="data-minuto"></span></p>
			</div>
			<div id="social-extra" class="col-md-4">
				<ul id="social-externo">
					<li id="icon-twitter"><a target="_blank" href="https://twitter.com/br_economico">Twitter</a></li>
					<li id="icon-facebook"><a target="_blank" href="https://www.facebook.com/brasileconomico">Facebook</a></li>
					<li id="icon-rss"><a target="_blank" href="http://brasileconomico.ig.com.br/rss">Rss</a></li>
				</ul>
				<ul id="social-interno">
					<li><a href="http://www.vagas.com.br/ejesa" target="_blank">Trabalhe Conosco</a></li>
				<!--	<li><a href="http://brasileconomico.ig.com.br/paginas/anuncie_77.html">Anuncie</a></li>
					<li><a href="http://brasileconomico.ig.com.br/paginas/widget.html">Widgets</a></li> -->
				</ul>
			</div>
			<div class="col-md-4">
				<button target="_blank" class="btn btn-warning" onclick="window.open('https://www.ejesa.com.br/assine/index.php')">Assine Agora</button>
				<span>Assine já todo o conteúdo <br>do <strong>Brasil Econômico</strong>!</span>
			</div>
		</div>
	</div>
</nav>
