<%{%>
<script type="text/javascript">
    $('.carousel-inner > .item:first-child').addClass( "active" );
</script>
<script type="text/javascript">
    $(document).ready(function($){
        if($("#pubIntervencao").length>0){
            var hasInterv = true;
            $("#pubIntervencao img").each(function(){
                var srcImgInter = $(this).attr("src");
                if(srcImgInter.indexOf("empty.gif") > -1){
                    hasInterv = false;
                }
            });
            if(hasInterv===false){
                $("#pubIntervencao").css("height", "10px");
            }
        }
    });
</script>
<%}%>



