<%{%>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


ga('create', 'UA-10894057-1', 'auto');
ga('create', 'UA-3531175-1', 'auto', {'name': 'ig'});
ga('send', 'pageview');
ga('ig.send', 'pageview');

</script>

<script>window.jQuery || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-1.9.0.min.js">\x3C/script>')</script>
<script>window.jQuery.ui || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-ui.min.js">\x3C/script>')</script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/bootstrap.js"></script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/plugins.js"></script>

<!-- script type="text/javascript" 
 src="//wfpscripts.webspectator.com/bootstrap/ws-10046216.js">
</script -->

<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/jquery.easing.1.3.js"> </script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/jquery.bxslider.js"></script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/EJESA_BE_Index.min.js?v=0.6.7"></script>
<!-- script type="text/javascript" src="http://www.apps.realtime.co/IBTX/9s3Lrr/IBTX.js"> </script -->
<!-- script type="text/javascript" src="http://clients.realtime.co/odia/rt_core.js"> </script -->
<script type="text/javascript">
	/*EJESA.LOAD_WEBSPECTATOR.init();*/

	var ecount = [];
	ecount.push(['view']);
	ecount.push(['getCount']);
	ecount.push(['5395fe0fe4b03378c924e26e']);
	(function() {
	   var ecs = document.createElement('script');
	   ecs.type = 'text/javascript';
	   ecs.async = true;
	   ecs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's0.ejesa.ig.com.br/js/count/count.js';
	   var s = document.getElementsByTagName('script')[0];
	   s.parentNode.insertBefore(ecs, s);
	})();
</script>
<!-- script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/EJESA_BE_OAS.js?v=0.02"></script -->
<!-- script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/be/EJESA_BE_pub-devices.js?v=0.02"></script -->
<!-- script src="http://s0.ejesa.ig.com.br/js/odia/IBT_Top.min.js" type="text/javascript"></script -->
<script type="text/javascript">
    var fixa = false;
    var fixaPublicidade = false;
    $(document).ready(function($) {
        $(window).scroll(function () {
        	if($(".oas-top1").length > 0){
        		fixaPublicidade = true;
        	}
        	if(window.location.href.search("edicao.html") == -1){
	            var offSetWindow = $(window).scrollTop();
	            if (offSetWindow > "0") {
	                $("#social-sharing").addClass("com-scroll");
	                $("#brasil-economico-nav").addClass("com-scroll");
	                $("#editmenu").css("margin-top","175px");
	            } else {
	                $("#social-sharing").removeClass("com-scroll");
	                $("#brasil-economico-nav").removeClass("com-scroll");
	                $("#editmenu").css("margin-top","0px");
	            }
	            if (offSetWindow > "180") {
	                if(fixa === false){
	                	if(fixaPublicidade === true){
		                    $("#social-sharing .container").fadeOut("slow");
		                    $(".oas-top1").hide();
		                    $(".oas-top1").fadeIn(1200).css({
		                        "top" : "7px",
		                        "position" : "fixed",
		                        "z-index" : "9999999",
		                        "width" : "768px",
		                        "left" : "-364px",
		                        "margin-left" : "50%"
		                    });
		                    $(".oas-top1 .advertising").css({
		                        "width" : "728px",
		                        "margin" : "0 auto"
		                    });
		                    fixa = true;
	                	}
	                }
	            }else{
	                fixa = false;
	                if(fixaPublicidade === true){
		                $("#social-sharing .container").fadeIn("slow");
		                $(".oas-top1").fadeIn("slow").css({
		                    "top" : "10px",
		                    "position" : "relative",
		                    "left" : "0px",
		                    "z-index" : "9"
		                })
	            	}
	            }
        	}
        });

		if($('#noticia').length > -1){
            $('#noticia').attr('name', 'HOTWordsTxt');
        }
            
    })
</script>

<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.0/jquery.xdomainrequest.min.js'></script>

<script language="JavaScript">
	/*
	var BE_OAS_Secao = EJESA.Util.getMetaName('be-OAS-vars-secao');
	var BE_OAS_Site = EJESA.Util.getMetaName('be-OAS-site');
	var BE_OAS_Vars = EJESA.Util.getMetaName('be-OAS-vars-tags');

	OAS_VARS(BE_OAS_Secao, BE_OAS_Vars);
	OAS_START();
	*/
</script>

<%}%>
