<div class="BELIE00806 componente-home">
	<div class="title-extra">
		<h2></h2>
	</div>
   <div class="slider-figuras" id="componente-home">
           <div class="slide">
               <a href="#">
                       <img src="">
                       <h3></h3>
                       <p></p>
               </a>
           </div>
       </div>
</div>