<div class="BELIE00404 col-md-12" >

	<div class="box-opiniao" style="width:100%">
		<h2 style="display:block"><span>»</span>
			<a href="#"><small>+ veja <strong>todos colunistas</strong> » </small></a>
		</h2>
		<ul>
			<li>
				<a href="#">
					<div class="wrap-img">
						<img src="">
					</div>
					<div class="wrap-text">
						<h5></h5>
						<small></small>
					</div>
				</a>
			</li>
			
		</ul>
	</div>
</div>