<div class="BELIE00602 col-md-12">

	<div id="carousel-example-generic-2" class="carousel-slide" data-ride="carousel">

		  <!-- Indicators -->

		<ol class="carousel-indicators">

			<li data-target="#carousel-example-generic-2" data-slide-to="0" class=""></li>

			<li data-target="#carousel-example-generic-2" data-slide-to="1" class=""></li>

			<li data-target="#carousel-example-generic-2" data-slide-to="2" class=""></li>

		</ol>


		  <!-- Wrapper for slides -->

		  <div class="carousel-inner">

		    <div class="item" style="box">

		      <div class="box-chamada-interna" style="background: #fc9400 url(http://s0.ejesa.ig.com.br/img/be/jose-negreiros-180x152.jpg) no-repeat right bottom;">

		      	<div class="row">

					<a class="col-md-8" href="http://brasileconomico.ig.com.br/brasil/olhar-planalto">

						<h3>OLHAR DO PLANALTO</h3>

						<small>José Negreiros</small>

						<p style='font-size: 13px;'>Leitura rápida de notícias exclusivas sobre política, economia e demais decisões tomadas na Praça dos Três Poderes, em Brasília</p>

					</a>

				</div>

			  </div>

			</div>

			<div class="item" style="box">

		      <div class="box-chamada-interna" style="background: #fc9400 url(http://s0.ejesa.ig.com.br/img/be/luiz-sergio-180x152.jpg) no-repeat right bottom;">

		      	<div class="row">

					<a class="col-md-8" href="http://brasileconomico.ig.com.br/financas/mercado-como-elee">

						<h3>O MERCADO COMO ELE É...</h3>

						<small>Luiz Sérgio Guimarães</small>

						<p style='font-size: 13px;'>Na contracorrente da obviedade, a análise dos dois ativos - câmbio e juros - que fazem a economia, não apenas a refletem</p>

					</a>

				</div>

			  </div>

			</div>

			<div class="item" style="box">

		      <div class="box-chamada-interna" style="background: #fc9400 url(http://s0.ejesa.ig.com.br/img/be/octavio-costa-180x152.jpg) no-repeat right bottom;">

		      	<div class="row">

					<a class="col-md-8" href="http://brasileconomico.ig.com.br/brasil/ponto-final">

						<h3>PONTO FINAL</h3>

						<small>Octávio Costa</small>

						<p style='font-size: 13px;'>Um panorama equilibrado dos principais acontecimentos econômicos e políticos do Brasil e do mundo</p>

					</a>

				</div>

			  </div>

			</div>

		</div>

	</div>

</div>
