<div class="BELIE00504 col-md-12">
	<div class="carousel-imagens">
		<div id="carousel-example-generic" class="carousel-slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item">
					<a>
						<img src="" alt="">
						<div class="carousel-caption">
							<a href="#" target="" title="">
								<small></small>
								<h3></h3>
							</a>
						</div>
					</a>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon "> </span></a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon "> </span></a>

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="" class="carousel-thumbnail">
					<img src="">
					<h4></h4>
				</li>
			</ol>
		</div>
	</div>
</div>