<div class='BELIA00102 col-md-12'>
	<div class='news-menu' id='news-menu'>
		<ul class="nav nav-tabs" id="sidebar-more">
			<li class='news-item active' id='news-item-last'>
				<a title='Capa' class='news-menu-last' id='news-menu-last'>Últimas</a>
			</li>
			<li class='news-item' id='news-item-commented' style='display:none'>
				<a title='Notícias' class='news-menu-commented' id='news-menu-commented'>+ Lidas</a>
			</li>
		</ul>
	</div>
	
	<div class='news-last' id='news-last' style='display:block !important'>
		<div class='tab-pane active' id='BELIA00102HL' style='display:block !important'>

		</div>
	<!--<div class="headline-nav">    
			<div class="headline-nav-options">
				<div>
		    		<a class="headline-nav-back"  onClick="javascript:EJESA.BELIA00102.prevPage()"></a>
				</div>
				<div class="headline-nav-middle">        
					<ul>
						<li id="hn_pos_1" class="" onClick="javascript:EJESA.BELIA00102.thisPage(1)"></li>
						<li id="hn_pos_2" class="" onClick="javascript:EJESA.BELIA00102.thisPage(2)"></li>
						<li id="hn_pos_3" class="" onClick="javascript:EJESA.BELIA00102.thisPage(3)"></li>
						<li id="hn_pos_4" class="" onClick="javascript:EJESA.BELIA00102.thisPage(4)"></li>
						<li id="hn_pos_5" class="" onClick="javascript:EJESA.BELIA00102.thisPage(5)"></li>
					</ul>
				</div>
				<div>
					<a class="headline-nav-next" onClick="javascript:EJESA.BELIA00102.nextPage()"></a>
				</div>
			</div>
		-->
		</div>
	</div>


	<div class='news-commented' id='news-commented' style='display:none !important'>
		<div class='headline'>
          <ul  id='BELIA00102TN' class="rt-top" style="width:300px;"></ul>
			<div class="realtime-copyright">
				<span class="realtime-frase">A tecnologia que muda a internet</span>
				<a class="realtime-logo" href="http://realtime.co">Realtime</a>
			</div>
		</div>
	</div>
</div>

<%{%>

<script>

EJESA.CALL_BELIA00102.init();

</script>
<%}%>
