<div class="BELIE00104 col-md-12">
	<div class="box-noticia-home">
		<a href="#">
			<h2></h2>
		</a>
		<div class=" row">
			<div style="margin-left:15px">
				<ul>
					<li style="width: 50%;float: left;"><a href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>