<div class="BELIE00206">
	<div class="slider-figuras" style="width: 815%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1180px, 0, 0);">
		<div class="slide" style="float: left; list-style: none; position: relative; width: 295px;">
			<a href="#" target="" title="">
				<img src="">
				<h3></h3>
				<p></p>
			</a>
		</div>
		
	</div>
</div>
	

<link rel="stylesheet" href="http://s0.ejesa.ig.com.br/css/be/jquery.bxslider.css" type="text/css">

