

<div class="BELIE00906" id="28D38D59-C3AD-4086-8196-1F1ADFDE2768">                        
	<div class="col-md-12">                          
		<div class="title-destaque-colunista" >                            
			<h2>Hoje</h2>
            <h3 id="title-destaque-colunista"></h3>
		</div>
	</div>
    <div class="col-md-12">                          
    	<div class="colunistas-do-dia">                            
    		<ul class="foto-colunista" id="foto-colunista">                              
    			
                            
			</ul>
			<ul class="lista-dias-colunistas" id="lista-dias-colunistas">
           
			</ul>
		</div>
	</div>
</div>