<div class="BELIE00302 col-md-6">
	<div id="box-BELIE00302" class="box-noticia-home">
		<div>
			<a href="#" title="" target="">
				<h4></h4>
			</a>
			<ul>
				<li><a href="#" target="" title=""></a></li>
			</ul>
		</div>
	</div>
</div>