<div>
	<div class="BENEA00401">
		<ul>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-count="vertical" data-via="br_economico‎" data-lang="pt" data-related="jornalodia" ><img src="http://s0.ejesa.ig.com.br/img/be/twitter-up.png"></a></li>
			<li>
				<div class="fb-like" data-href="" data-width="60" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</li>
			<li><g:plusone size="tall" href=""></g:plusone></li>
			<li class="separador"><a onclick="window.print();">Imprimir<img src="http://s0.ejesa.ig.com.br/img/be/impressora.png"></a></li>
			<li class="separador"><a href="#comments-facebook">Comentar<img src="http://s0.ejesa.ig.com.br/img/be/chat.png"></a></li>
         </ul>
	</div>
</div>
