<div>
	<div class="BENEE00604" style="margin-bottom:30px">
		<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
			<span id="authors-box"></span>
			<strong class="complemento-credito"></strong>
		</span>
	</div>
</div>