<div>
	<div class="BENEA00304">
		<div class="toolsbar">
			<div class="tools-twiter" style="float:left">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-via="jornalodia" data-lang="pt" data-related="jornalodia">Tweet</a>
			</div>
			<div class="tools-face" style="float:left">
				<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="145" data-show-faces="true" data-font="lucida grande" data-action="recommend"></div>
			</div>
			<div class="tools-gplus" style="float:left">
				<!--<g:plus action="share" annotation="bubble"></g:plus>-->
				<g:plusone size="medium" href=""></g:plusone>
			</div>
				<div class="middlebar"></div>

			<div class="tools-print" style="float:right">
				<a onClick="javascript:openPrint()"><img src="http://s0.ejesa.ig.com.br/img/be/impressora.png"></a>
			</div>
			<div class="tools-comments" style="float:right;margin-right:10px">
				<a><img src="http://s0.ejesa.ig.com.br/img/be/chat.png"></a>
			</div>
		</div>
	</div>
</div>
