

<div class='BENEA00404'>
	<div class='news-hat'>
		<span class='text'> Notícias Recomendadas</span>
	</div>
	<div class="row">
		<ul id='BENEA00404HL'>
		</ul>
	</div>
</div>

<%{%>

<script>

EJESA.CALL_BENEA00404.init();

</script>

<%}%>