<div>
	<div class="BENEA00204">
		<small id="chapeu">
			<strong id="categoria" style="display:none"> </strong>
			<span id="data-criacao"></span>
			<span id="hora-criacao"></span>
			Atualizado em:
			<span id="data-alteracao"></span>
			<span id="hora-alteracao"></span>
		</small>



	</div>
</div>
