<figure class="foto-legenda BENEE00202 col-md-6" style="position: relative;">
	<span></span>
	<figcaption>				
		<div class="legenda"></div>
		<cite> Foto:&nbsp;<span></span></cite>
	</figcaption>

	
</figure>