
<div class="BETOA00202 col-md-12">
	<div class="box-sidebar" id="social-share">
		<h4>BE nas Redes Sociais »</h4>
		<div style="margin-bottom:30px">
			<div class="fb-like-box" data-href="http://www.facebook.com/brasileconomico" data-width="290" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
		</div>
		<a href="https://twitter.com/br_economico" class="twitter-follow-button" data-show-count="false" data-lang="pt">Seguir @twitterapi</a>

	</div>
</div>

