<div class="BETOE00102 col-md-6">
	<div class="video-chamada">
		<div class="video-container">
			<iframe src="" id="" name="" class="iframe-video" width="360" height="223"  allowtransparency="true" webkitallowfullscreen="true" mozallowfullscreen="true" msallowfullscreen="true" ozallowfullscreen="true" allowfullscreen="true" frameborder="0" scrolling="no" frameborder="0"></iframe>
		</div>
		<h4></h4>
		<hr>
		<a href="http://brasileconomico.ig.com.br/videos">+ veja <strong>mais vídeos</strong> » </a>
	</div>
</div>
