

<div class="BETOA00304 home-de-capas">
	<div class="selecao-data">
		<ul class="linha-meses">
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="01">JAN</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="02">FEV</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="03">MAR</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="04">ABR</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="05">MAI</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="06">JUN</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="07">JUL</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="08">AGO</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="09">SET</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="10">OUT</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="11">NOV</a></li>
			<li class="inactive"><a onclick="javascript:mudaData(this.rel)" rel="12">DEZ</a></li>
		</ul>
		<div class="edicao-nmb">
            <h4>Edição do Dia  </h4>

            <div class="escolher-dia">
                <small>Escolher o dia:</small>
				<input id="datepicker" type="text" value="" display="none">
		    </div>
        </div>
	</div>
	<div class="content-troca">
		<img class="capa-dia" id="capa-dia" src="" width="100%">
	</div>
	<style type="text/css">

		.BETOA00304.home-de-capas .content-troca img {height: auto !important;}

	</style>
</div>

