<div class="BETOA00704 ">
	<div class="banner-inter">
        <a href="http://brasileconomico.ig.com.br/infraestrutura/" target="_blank">
            <img src="http://especiais.odia.ig.com.br/comercial/seminario-infraestrutura-2014/pecas/superbanner-seminarioinfra-GIF.gif" alt="" title="">
        </a>
	</div>

    <style type="text/css">
    .BETOA00704 {width: 100%; float: left; display: block; }
    .BETOA00704 .banner-inter {padding: 20px 0;}
    .BETOA00704 .banner-inter img {display: block; margin: 0 auto; width: auto; border: 1px solid #ccc; }
    @media (max-width: 728px) {
        .BETOA00704 .banner-inter img {width: 100%; }
    }
    </style>
</div>
