<div class="BETOA00812 eleicoes" data-turno="1" data-abrangenciainicial="rj" data-mostraaba="presidente,governador,senador,depfederal,depestadual">
    <input type="hidden" name="limiteresultado" id="limiteresultado" value="20">
    <header>
        <h1>ELEIÇÕES 2014</h1>
        <h2>APURAÇÃO -
            <span>1º TURNO</span>
        </h2>
        <div class="progresso">
            <div class="progresso-atual" style="width: 0%;"></div>
            <h4>
                <span>0%</span>
                urnas apuradas
            </h4>
        </div>
    </header>
    <nav>
        <a href="javascript:void(0);" > <img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/toggle.jpg">FILTRAR RESULTADOS</a>
        <ul id="menu-eleicoes">
            <li class="selc-presidente"><a href="javascript:void(0);">PRESIDENTE</a></li>
            <li class="selc-governador"><a href="javascript:void(0);">GOVERNADOR</a></li>
            <li class="selc-senador" style="display:none;"><a href="javascript:void(0);">SENADOR</a></li>
            <li class="selc-depfederal" style="display:none;"><a href="javascript:void(0);">DEPUTADO FEDERAL</a></li>
            <li class="selc-depestadual" style="display:none;"><a href="javascript:void(0);">DEPUTADO ESTADUAL</a></li>
        </ul>
    </nav>
    <h4><span>PRESIDENTE</span>
        <select id="select1" name="select1" class="seleciona-uf">
            <option value="rj">RJ</option>
            <option value="--">--</option>
            <option value="ac">AC</option>
            <!-- <option value="al">AL</option> -->
            <option value="ap">AP</option>
            <option value="am">AM</option>
            <!-- <option value="ba">BA</option> -->
            <option value="ce">CE</option>
            <option value="df">DF</option>
            <!-- <option value="es">ES</option> -->
            <option value="go">GO</option>
            <!-- <option value="ma">MA</option> -->
            <!-- <option value="mg">MG</option> -->
            <option value="ms">MS</option>
            <option value="mt">MT</option>
            <option value="pa">PA</option>
            <option value="pb">PB</option>
            <!-- <option value="pe">PE</option> -->
            <!-- <option value="pi">PI</option> -->
            <!-- <option value="pr">PR</option> -->
            <option value="rj">RJ</option>
            <option value="rn">RN</option>
            <option value="ro">RO</option>
            <option value="rs">RS</option>
            <option value="rr">RR</option>
            <!-- <option value="sc">SC</option> -->
            <!-- <option value="se">SE</option> -->
            <!-- <option value="sp">SP</option> -->
            <!-- <option value="to">TO</option> -->
        </select>
    </h4>
    <section>
        <div class="candidatos-main">
            <ul>

            </ul>
        </div>
        <div class="candidatos-totais">
            <div class="header-top-list">
                <ul>
                    <li>candidatos</li>
                    <li>% válidos</li>
                    <li>votos</li>
                </ul>
            </div>
            <img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
            <ul class="lista-com-scroll">

            </ul>
            <div class="footer-top-list">
                -- vagas em disputa
            </div>
        </div>
        <div class="resultados">
            <h5>detalhes da apuração</h5>
            <ul>
                <li>
                    <div class="left">votos
                        <strong>válidos</strong>
                    </div>
                    <div class="right"></div>
                </li>
                <li>
                    <div class="left">votos
                        <strong>brancos</strong>
                    </div>
                    <div class="right"></div>
                </li>
                <li>
                    <div class="left">votos
                        <strong>nulos</strong>
                    </div>
                    <div class="right"></div>
                </li>
                <li>
                    <div class="left">
                        <strong>abstenção</strong>
                    </div>
                    <div class="right"></div>
                </li>
                <li>
                    <div class="left">eleitorado
                        <strong>apurado</strong>
                    </div>
                    <div class="right"></div>
                </li>
                <li>
                    <div class="left">eleitorado
                        <strong>não apurado</strong>
                    </div>
                    <div class="right"></div>
                </li>
                <li>
                    <div class="left">
                        <strong>total</strong>
                    </div>
                    <div class="right">
                        <strong></strong>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <style type="text/css">
        /*==========  Normalizer  ==========*/
        html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
        html, body {width: 100%;height: 100%;margin: 0;padding: 0;}
        body {color: #404040; position: relative; font-size: 1em;line-height: 1.4; margin: 0; padding: 0 ; position: relative;font-family: Arial, 'Helvetica', sans-serif;font-weight: 300;background-color: #FFFFFF;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;min-height: 100%;}
        html, body, button { -webkit-font-smoothing: antialiased; font-smoothing: antialiased;}
        body::after { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; z-index: 9; display: none; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 95%, rgba(0, 0, 0, 0.15) 100%); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 95%, rgba(0, 0, 0, 0.15) 100%); background-size: 100% 26px;}
        article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block;}
        audio, canvas, progress, video { display: inline-block; vertical-align: baseline;}
        audio:not([controls]) { display: none; height: 0;}
        [hidden], template { display: none;}
        abbr[title] { border-bottom: 1px dotted;}
        b, strong { font-weight: bold;}
        dfn { font-style: italic;}
        mark { background: #ff0; color: #000;}
        sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
        sup { top: -0.5em;}
        sub { bottom: -0.25em;}
        svg:not(:root) { overflow: hidden;}
        figure { margin: 0;}
        hr { box-sizing: content-box; height: 0;}
        pre { overflow: auto;}
        code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em;}
        button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0;}
        button { overflow: visible;}
        button, select { text-transform: none;}
        button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer;}
        button[disabled], html input[disabled] { cursor: default;}
        button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}
        input { line-height: normal;}
        input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0;}
        input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto;}
        input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box;}
        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
        legend { border: 0; padding: 0;}
        optgroup { font-weight: bold;}
        blockquote { margin: 0;}
        *, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
        pre { background: #f0f0f0; padding: 13px;}
        h1, h2, h3, h4, h5, p, ul, ol, li { padding: 0; margin: 0;}
        small { font-size: 13px; line-height: 2.0000em; padding-top: 2.0000em; padding-bottom: 0;}
        ul, ol, li {list-style: none;}
        table { border-collapse: collapse; border-spacing: 0; margin-top: 26px; width: 100%;}
        table td, table th { padding: 0;}
        table thead { background: #3372df; color: #ffffff;}
        table th { text-align: center; display: none; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6250em; padding-top: 1.6250em; padding-bottom: 0;}
        table tbody { background: #f0f0f0;}
        table td { display: block; padding-top: 13px; padding-bottom: 13px;}
        img, video, object { max-width: 100%;}
        html, button, input, select, textarea {color: #222;}
        a {color: #00e; text-decoration: none; background: transparent; outline: 0; }
        a:visited {color: #551a8b;}
        a:hover {color: #06e;}
        img {vertical-align: middle; border: 0;}
        fieldset {border: 0;margin: 0;padding: 0;}
        textarea {resize: vertical; overflow: auto;}
        textarea[contenteditable] {-webkit-appearance: none;}
        .gifhidden {position: absolute;left: -100%;}
        .ir {background-color: transparent;background-repeat: no-repeat;border: 0;direction: ltr;display: block;overflow: hidden;text-align: left;text-indent: -999em;}
        .ir br {display: none;}
        .hidden {display: none !important;visibility: hidden;}
        .visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
        .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
        .invisible {visibility: hidden;}
        .clearfix::before, .clearfix::after {content: "";display: table;}
        .clearfix::after {clear: both;}
        .right {float: right;}
        .left {float: left;}

        /* Responsivos */
        @media all and (min-width: 768px) {
            
        }

        body { padding: 0 10px !important;}
        #area6 section#conteudo {padding-left: 0 !important; width: 100% !important; max-width: 100% !important;}
        .eleicoes.BETOA00812 {width: 100%; margin: 0 auto; letter-spacing: -0.5px; font-family: arial;}
        .eleicoes.BETOA00812 .candidatos-main ul {border-top: 1px solid #eaeaea; margin: 0; padding: 0;}
        .eleicoes.BETOA00812 .candidatos-main ul li {display: block; clear: both; float: none; overflow: hidden; padding: 7px 0; border-bottom: 1px solid #eaeaea;}
        .eleicoes.BETOA00812 .candidatos-main ul li:nth-child(odd) {background: #f5f5f5;background: -moz-linear-gradient(top,  #f5f5f5 0%, #ffffff 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ffffff));background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%);background: -o-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%);background: -ms-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%);background: linear-gradient(to bottom,  #f5f5f5 0%,#ffffff 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 );}
        .eleicoes.BETOA00812 .candidatos-main ul li .foto {width: 19%;}
        .eleicoes.BETOA00812 .candidatos-main ul li .foto img {border: 1px solid #c42b1b; border-radius: 100px; height: 53px; width: 53px;}
        .eleicoes.BETOA00812 .candidatos-main ul li .nome {width: 41%; color: #3b3b3b; font-size: 14px;}
        .eleicoes.BETOA00812 .candidatos-main ul li .nome code {display: block; font-size: 12px; font-family: Arial, sans-serif; background: none; margin-left: 5px;}
        .eleicoes.BETOA00812 .candidatos-main ul li .nome span {display: block; margin-top: 8px; margin-left: 5px;}
        .eleicoes.BETOA00812 .candidatos-main ul li .totais {width: 40%; font-size: 24px; font-weight: bold; color: #db2714;}
        .eleicoes.BETOA00812 .candidatos-main ul li:first-child .totais {color: #19549c;}
        .eleicoes.BETOA00812 .candidatos-main ul li:first-child img {border: 1px solid #19549c;}
        .eleicoes.BETOA00812 .candidatos-main ul li .totais span {margin: 0px;display: block;padding: 0px; line-height: 30px; text-align: center;}
        .eleicoes.BETOA00812 .candidatos-main ul li .totais code {font-family: Arial, sans-serif; font-size: 14px; font-weight:normal; text-align: center; margin: 0px; display: block;padding: 0px; background: none;}
        .eleicoes.BETOA00812 .resultados ul {margin: 0; padding: 0;}
        .eleicoes.BETOA00812 .resultados ul li {display: block; clear: both; float: none; overflow: hidden; font-size: 14px;  color: #969696; line-height: 10px; padding: 10px 0; border-bottom: 1px solid #e6e6e6;}
        .eleicoes.BETOA00812 .resultados h5 {font-size: 17px; border: 1px solid #e6e6e6; border-left: 2px solid #3b3b3b; line-height: 12px; padding: 13px 10px; font-family: arial; font-weight: bold; margin-bottom: 10px;}
        .eleicoes.BETOA00812 .resultados {margin: 22px 0;}
        .eleicoes.BETOA00812 > h4 {text-align: center; color: #4a9110; font-size: 19px; font-weight: bold; line-height: 14px; margin: 15px 0; font-family: arial;}
        .eleicoes.BETOA00812 > h4 select {font-size: 16px; font-weight: bold; color: #4a9110; position: relative; top: -2px; margin-left: 10px;}
        .eleicoes.BETOA00812 nav ul {display: none; padding: 0;}
        .eleicoes.BETOA00812 nav ul li {text-align: center; height: 30px; border-top: 1px solid #e6e6e6;}
        .eleicoes.BETOA00812 nav ul li:first-child {border-top: 0px none;}
        .eleicoes.BETOA00812 nav ul li a {color: #999999; font-size: 16px; font-weight: bold; display: block; padding-top: 5px;}
        .eleicoes.BETOA00812 nav ul li.active a {color: #3b3b3b;}
        .eleicoes.BETOA00812 nav > a {text-align: center; display: block; font-size: 12px; color: #3b3b3b; line-height: 9px; padding: 7px 0;}
        .eleicoes.BETOA00812 nav > a img {position: relative; top: -2px; margin-right: 5px;}
        .eleicoes.BETOA00812 nav {border: 1px solid #d8d8d8; margin-top: 20px;}
        .eleicoes.BETOA00812 header {text-align: center;}
        .eleicoes.BETOA00812 header h1 { font-size: 12px; color: #ffffff; display: inline-block; background: #4a9110; padding: 8px 12px; line-height: 9px; margin-top: 15px; border-radius: 4px; letter-spacing: 0px; font-family: arial; }
        .eleicoes.BETOA00812 header h2 {font-size: 18px; color: #3b3b3b; line-height: 13px; margin: 12px 0; font-weight: bold; font-family: arial;}
        .eleicoes.BETOA00812 header h2 span {font-weight: normal;}
        .eleicoes.BETOA00812 header .progresso {border: 1px solid #d5d6d4; background: #e9e9e9; height: 34px; position: relative;}
        .eleicoes.BETOA00812 header .progresso .progresso-atual {display: block; height: 34px; background: #4a9110;}
        .eleicoes.BETOA00812 header .progresso h4 {position: absolute; top: 9px; color: #fff; display: block; text-shadow: 1px 1px 1px #000; left: 45px; font-size: 18px; line-height: 10px; font-weight: bold; font-family: arial;}
        .eleicoes.BETOA00812 header .progresso h4 span {position: relative;  top: 3px; margin-right: 10px; font-size: 24px;}

        .eleicoes.BETOA00812 .candidatos-totais ul.lista-com-scroll {clear: both;overflow-y: scroll; max-height: 400px; min-height: 30px}
        .eleicoes.BETOA00812 .candidatos-totais ul.lista-com-scroll > li {border-bottom: 1px solid #ccc; padding: 5px 0;}
        .eleicoes.BETOA00812 .candidatos-totais ul.lista-com-scroll > li:last-child {border-bottom: 0px none;}
        .eleicoes.BETOA00812 .candidatos-totais ul.lista-com-scroll li ul {vertical-align: bottom; overflow: hidden;}
        .eleicoes.BETOA00812 .candidatos-totais ul.lista-com-scroll li ul li {float: left; width: 33%; text-align: center; font-size: 13px; letter-spacing: -0.5px; color: #3b3b3b; }
        .eleicoes.BETOA00812 .candidatos-totais ul.lista-com-scroll li ul li:first-child {text-align: left;}
        .eleicoes.BETOA00812 .candidatos-totais .header-top-list { color: #3b3b3b;font-size: 14px;background: #f4f4f4;overflow: hidden; }
        .eleicoes.BETOA00812 .candidatos-totais .header-top-list ul {margin: 0; padding: 0;}
        .eleicoes.BETOA00812 .candidatos-totais .header-top-list ul li {text-align: center; background: #f4f4f4;float: left;  font-size: 14px;padding: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; width: 33%; font-weight: bold; }
        .eleicoes.BETOA00812 .candidatos-totais .footer-top-list {color: #3b3b3b;font-size: 11px;width: auto;padding: 5px 10px;border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; font-weight: bold; }
        .eleicoes.BETOA00812 ::-webkit-scrollbar {width: 12px;}
        .eleicoes.BETOA00812 ::-webkit-scrollbar-track {background: #eee;}
        .eleicoes.BETOA00812 ::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.8);}
        .eleicoes.BETOA00812 ::-webkit-scrollbar-thumb:window-inactive {background: rgba(0,0,0,0.4);}


        .header_oDia .container_oDia .especiais {display: none;}
        .especial_rir .container_oDia {background: transparent !important;}
        .header_oDia .container_oDia, #barra-parceiros {width: 100% !important;}

        .eleicoes.BETOA00812 .ldg{margin-top:6px;position:absolute;margin-left:10px;display:block;}
    </style>

</div>