<div class="BETOE00306 col-md-12">
	<div class="video-destaque">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="video-container">
					<a href="" target="_blank">
						<img src="">
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-12 ">
		<div class="legenda-video">
			<div class="col-md-8 col-md-offset-2 ">
				<h2></h2>
				<h3></h3>
				<div class="social-video">
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>



