    <link href="http://s0.ejesa.ig.com.br/css/be/be_bootstrap.css?v=0.09" type="text/css" rel="stylesheet">
    <link href="http://s0.ejesa.ig.com.br/css/be/be_wrapper.css?v=0.92" type="text/css" rel="stylesheet">
	<link href="http://s0.ejesa.ig.com.br/css/be/jquery.bxslider.css" type="text/css" rel="stylesheet">
	<link href="http://s0.ejesa.ig.com.br/css/be/be_components.css?v=1.0" type="text/css" rel="stylesheet">
	<link href="http://s0.ejesa.ig.com.br/css/be/be_media.css?v=0.70" type="text/css" rel="stylesheet">
