<div class="BETOE00106">
	<nav class="internal-nav">
		<div class="container">
			<div class="row">
				<ul>
					<li class="active"><a href="#">Em Destaque</a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>