<form lang="atmors" action="http://busca.ig.com.br/buscar" method="get" name="search" id="buscaGoogle"  enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" >
	<fieldset id="searchContainer">
		<input type="text" alt="Buscar" title="Buscar" value="" name="q" id="buscar" autocomplete="off">
		<input type="hidden" name="o" id="ib_o" value="<%=this.contexto.site.buscaGoogle%>" />
		<input type="hidden" name="c" id="ib_c" value="all" />
		<input type="hidden" name="t" id="ib_t" value="all" />
		<input type="hidden" name="d" id="ib_d" value="all" />
		<input type="hidden" name="p" id="ib_p" value="1" />
		<input type="hidden" checked="checked" name="s" id="searchScope" value="<%=this.contexto.site.nome.toLowerCase()+'_content'%>">
		<input type="submit" class="botao-buscar" alt="Buscar" title="Buscar" value="Buscar">
		<div class="clear"></div>
		<cite>enhanced by <strong>Google</strong></cite>
	</fieldset>
	<div id="searchOn" style="display: none;">
		<a rel="<%=this.contexto.site.nome.toLowerCase()+'_content'%>" class="onus">Buscar "<strong></strong>" no <span id="buscaNoCanal"><%=this.contexto.site.titulo%></span></a>
		<a rel="ig_content" class="onig">Buscar "<strong></strong>" no iG</a>
		<a rel="web_content" class="ongoogle nobd-b">Buscar "<strong></strong>" no Google</a>
	</div>
	<div id="searchOnBottom">&nbsp;</div>
</form>
