<div>
	<div id="guia-nome-filhos-indice">
		<div class="glossarioGuias gd12 fl"
			id="CB8D40DE-2D3B-46C5-B88B-2EB9C0843C0F">
			<input type="hidden" id="idForm" value="4f3a69df97d66fe17800013a">
			<input type="hidden" id="qtdeItens" value="999">
	
			<div id="busca-glossario-indice" class="borda">
				<div>
					<ul id="aba_busca-indices">
						<li>
							<a href=""></a>
							<div class="left"></div>
							<div class="right"></div>
						</li>
					</ul>
				</div>
				<div id="delas-nomes-search-container">
					<div id="delas-nomes-search">
						<strong>Busca de nomes:</strong>
						
						<form action="busca" id="busca-guia-nome">
							<fieldset>
								<input type="text" name="q" id="nome-search"/>
								<input type="submit" id="nome-search-submit" value=" "/>
							</fieldset>
						</form>
						
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>