<div class="carnaval-escola gd12 fr">
	<article class="main interna">
		<div class="componente1">
			<div class="E25012 ">
				<div class="top">
					<div class="blockoute">
						<h2 class="apelido">Nome da escola</h2>
					</div>
				</div>
			</div>
			<div class="E33212 ">
				<div class="recomendar"></div>
			
				<div class="compartilhe">
					<span>Compartilhar:</span>
					<a target="_blank" class="twitter" href="http://twitter.com/share?url=http%3A%2F%2Fcarnaval.ig.com.brsaoclemente%2Fp1238029361343.html&amp;text=Escola%20de%20Samba%20S%C3%A3o%20Clemente%20-%20Carnaval%202012%20Rio%20de%20Janeiro%20-%20iG&amp;related=@ig" id="botaotwitter"></a>
					<a target="_blank" class="facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fcarnaval.ig.com.brsaoclemente%2Fp1238029361343.html&amp;t=Escola%20de%20Samba%20S%C3%A3o%20Clemente%20-%20Carnaval%202012%20Rio%20de%20Janeiro%20-%20iG" id="botaofacebook"></a>
					<a target="_blank" class="orkut" href="http://promote.orkut.com/preview?nt=orkut.com&amp;tt=Escola%20de%20Samba%20S%C3%A3o%20Clemente%20-%20Carnaval%202012%20Rio%20de%20Janeiro%20-%20iG&amp;du=http%3A%2F%2Fcarnaval.ig.com.brsaoclemente%2Fp1238029361343.html" id="botaoorkut"></a>
				</div>
			</div>
			<div class="CT21612 ">
				<div class="">
					<img height="316" width="316" alt="" src="" class="mgr20 fl imgEscola">
					<table cellspacing="0" class="nomgr">
					<tbody>
					<tr class="nomeCompletoEscolaBox">
						<td class="label">
							Nome
						</td>
						<td class="nomeCompletoEscola">
							Grêmio Recreativo Escola de Samba São Clemente
						</td>
					</tr>
					<tr class="fundacaoBox">
						<td class="label">
							Fundação
						</td>
						<td class="fundacao">
							25 de outubro de 1961
						</td>
					</tr>
					<tr class="posicaoCarnavalAnteriorBox">
						<td class="label">
							Posição em 2011
						</td>
						<td class="posicaoCarnavalAnterior">
							campeã do Grupo de Acesso
						</td>
					</tr>
					<tr class="enredoBox">
						<td class="label">
							Enredo
						</td>
						<td class="enredo">
							"O Seu, o Meu, o Nosso Rio, Abençoado por Deus e Bonito por Natureza"
						</td>
					</tr>
					<tr class="carnavalescoBox">
						<td class="label">
							Carnavalesco
						</td>
						<td class="carnavalesco">
							Fábio Ricardo
						</td>
					</tr>
					<tr class="interpreteBox">
						<td class="label">
							Intérprete
						</td>
						<td class="interprete">
							Igor Sorriso
						</td>
					</tr>
					<tr class="coresOficiaisBox">
						<td class="label">
							Cores Oficiais
						</td>
						<td class="coresOficiais">
							Amarelo e preto
						</td>
					</tr>
					<tr class="rainhaBateriaBox">
						<td class="label">
							Mestre de bateria
						</td>
						<td class="rainhaBateria">
							Bruna Almeida
						</td>
					</tr>
					<tr class="ordemDesfileBox">
						<td class="label">
							Ordem do desfile
						</td>
						<td class="ordemDesfile">
							1ª de domingo (6/3/2012)
						</td>
					</tr>
					</tbody>
					</table>
					<a class="linkGeral fr mgr20" href="#topoBiografia">Leia mais sobre a escola</a>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div class="componente1">
			<div class="LIASOLR gd6 fl ">
				<div class="theId" id="ultimas">
					<input type="hidden" name="id" value="ultimas"/>
					<input type="hidden" name="tipo"  value="ultimasNoticias"/>
					<input type="hidden" name="dominio"  value="carnaval.ig.com.br"/>
					<input type="hidden" name="secoes"  value=""/>
					<input type="hidden" name="termos"  value=""/>
					<input type="hidden" name="canal"  value="carnaval"/>
					<input type="hidden" name="limit"  value="3"/>
					<input type="hidden" name="hasPagination"  value="false"/>
					<textarea name="template" style="display:none;"></textarea>
					<textarea name="beforeRender" style="display:none;"></textarea>
					<textarea name="beforeRenderItem" style="display:none;"></textarea>
					<textarea name="afterRender" style="display:none;"></textarea>
					<textarea name="afterRenderItem" style="display:none;"></textarea>
					<textarea name="callback" style="display:none;"></textarea>
				
					<h3 id="UltimasNot">Últimas Notícias</h3>
					<ul class="container"></ul>
					
					<div class="clear"></div>
													
					<a class="linkGeral" href="/noticias">Todas as notícias</a>
					
					<div class="clear"></div>
				</div>
			</div>
		
			<div class="gd6 fl nomgr" style="background:#000;height:50px;"></div>
		</div>
		
		<div class="clear"></div>
		<div class="componente1" style="border-bottom:0!important;">
			<h3 id="topoBiografia" class="h3pdtb">A ESCOLA</h3>
			<div class="listaAncora ">
				<ul>
					<li class="anchor-historia"><a title="História" href="#historia">História</a></li>
					<li class="anchor-samba-enredo"><a title="Samba-enredo 2012" href="#sambaEnredo">Samba-enredo 2012</a></li>
					<li class="anchor-titulos"><a title="Títulos" href="#titulos">Títulos</a></li>
					<li class="anchor-rainhas"><a title="Rainha de bateria" href="#rainhasBateria">Rainha de bateria</a></li>
					<li class="anchor-musas"><a title="Musas" href="#musas">Musas</a></li>
				</ul>
				<div class="historia-container-box">
					<h4 id="historia">História</h4>
					
					<div class="historia-container"></div>
					<div class="separacao">
						<span class="topo"><a href="#topo"><small>
						<!-- -->
						</small>Topo</a></span>
					</div>
				</div>
				<div class="sambaEnredo-container-box">
					<h4 id="sambaEnredo">Samba-enredo 2012</h4>
					<div class="sambaEnredo-container"></div>
					<div class="separacao">
						<span class="topo"><a href="#topo"><small>
						<!-- -->
						</small>Topo</a></span>
					</div>
				</div>
				<div class="titulos-container-box">
					<h4 id="titulos">Títulos</h4>
					<div class="titulos-container"></div>
					<div class="separacao">
						<span class="topo"><a href="#topo"><small>
						<!-- -->
						</small>Topo</a></span>
					</div>
				</div>
				<div class="rainhas-container-box">
					<h4 id="rainhasBateria">Rainha de bateria</h4>
					<div class="rainhas-container"></div>
					<div class="separacao">
						<span class="topo"><a href="#topo"><small>
						<!-- -->
						</small>Topo</a></span>
					</div>
				</div>
				<div class="musas-container-box">
					<h4 id="musas">Musas</h4>
					<div class="musas-container"></div>
					<div class="separacao">
						<span class="topo"><a href="#topo"><small>
						<!-- -->
						</small>Topo</a></span>
					</div>
				</div>
			</div>
		</div>
		
	</article>
</div>