<div class="central-audiencia">
    <header>
      <h2>Formatos</h2>
    </header>
    <aside class="fl menu-sidebar">
        <header><span class="arrow"></span></header>
        <ul>
            <li></li>
        </ul>
        <header><span class="arrow"></span></header>
        <ul>
            <li></li>
        </ul>
    </aside>
    <section class="formato fr">
      <header>
        <h3 class="fl">Games</h3> 
        <span class="fr">Data da última atualização: <time></time></span>
      </header>
      <article>
        <img src="" width="705px" class="fl" />
        <div class="content">
            <div class="conteudo">
                <table cellspacing="0">
                    <tr class="polite gray">
                        <td class="label">Polite Download</td>
                        <td></td>
                    </tr>
                    <tr class="formato">
                        <td class="label">Formato</td>
                        <td></td>
                    </tr>
                    <tr class="tamanho gray">
                        <td class="label">Tamanho</td>
                        <td></td>
                    </tr>
                    <tr class="peso">
                        <td class="label">Peso máximo</td>
                        <td></td>
                    </tr>
                    <tr class="fechar gray">
                        <td class="label">Botão fechar</td>
                        <td></td>
                    </tr>
                    <tr class="observacoes">
                        <td class="label">Observações</td>
                        <td class="observacoes"></td>
                    </tr>
                    <tr class="verso_alternativa gray">
                        <td class="label">Versão alternativa</td>
                        <td class="verso_alternativa"></td>
                    </tr>
                    <tr class="pea_com_udio">
                        <td class="label">Peça com áudio</td>
                        <td class="pea_com_udio"></td>
                    </tr>
                    <tr class="pea_em_flash gray">
                        <td class="label">Peça em flash</td>
                        <td class="pea_em_flash"></td>
                    </tr>
                    <tr class="frames_por_segundo">
                        <td class="label">Frames por segundo</td>
                        <td class="frames_por_segundo"></td>
                    </tr>
                    <tr class="compatibilidade gray">
                        <td class="label">Compatibilidade</td>
                        <td class="compatibilidade"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="buttons">
            <div class="button demo">
                <a href="#"><span class="icon"></span>Ver demo</a>
            </div>
            <div class="button print">
                <a href="#print" onclick="window.print();"><span class="icon"></span>Imprimir</a>
            </div>
            <div class="button download nomgr">
                <a href="#"><span class="icon"></span>Baixar arquivo</a>
            </div>
        </div>
        <h4>Sites que comportam este formato</h4>
        <ul class="sites-formato">
            <li>BR Turbo <a href="#">visualizar</a></li>
            <li>BR Turbo <a href="#">visualizar</a></li>
            <li>BR Turbo <a href="#">visualizar</a></li>
            <li>BR Turbo <a href="#">visualizar</a></li>
            <li>BR Turbo <a href="#">visualizar</a></li>
            <li>BR Turbo <a href="#">visualizar</a></li>
        </ul>
        
      </article>
    </section>
    <div class="clear"></div>
</div>