<div class="centralAnuncianteCanaisInterna projeto-especial">
    <div id="issueChannel">
        <img src="" width="540" height="405" class="image" />
        <div class="chamadaCanal">
            <h1></h1>
            <small><strong>target:</strong> <span></span></small>
            <p></p>
            <div class="button download nomgr">
                <a href="#">
                <span class="icon"></span>Baixar arquivo</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="outros-projetos" class="outros-projetos">
    	<h2><span>Outros projetos</span></h2>
    	<div class="tvflashNav">
	    	<a href="#anterior" id="left-carousel" class="voltar">Anterior</a>
	    	
	    	<a href="#proximo" id="right-carousel" class="avancar">Próximo</a>
    	</div>
    	
    	
    	<div id="carousel">
    		<ul>
    		</ul>
    	</div>
    	
    </div>
</div>
