<div class="centralAnuncianteCanaisInterna">
    <div id="issueChannel">
        

        <img src="" width="540" height="405" class="image" />

        
        <div class="chamadaCanal">
            <h1></h1>
            <small><strong>tag:</strong> <span></span></small>
            <p></p>
            <a href="#" class="vejaestesite">Veja este site</a>
            <a href="#" class="fichaTecnica">Ficha técnica</a>
        </div>
        
    </div>
    <div id="dataChannel">
        
        <ul>
            <li class="fonte">
                <sub>Fonte: Ibope</sub>
            </li>
            <li class="visitasMes">
                <dl>
                    <dt>
                        Páginas visitas/mês
                    </dt>
                    <dd>
                        
                    </dd>
                </dl>
            </li>
            <li class="visitantesUnicos">
                <dl>
                    <dt>
                        Visitantes únicos
                    </dt>
                    <dd>
                        
                    </dd>
                </dl>
            </li>
        </ul>
        
        <h2>Anuncie no iG</h2>
        
        <a href="http://centraldoanunciante.ig.com.br/contato/email/" class="buttonContact">Contato</a>
    </div>
    <div id="detailChannel">
        <div class="perfilUsuarios">
            <h3><span>Perfil dos usuários</span></h3>
            
            <div class="perfilSexo">
                <h4><big>Sexo</big> <small>Fonte: <span>Nielsen ComScore</span></small></h4>
                <ul>
                    <!-- (tamanho total / 100%) * porcentagem atual (170 / 100) * 67-->
                    <li class="masculino">
                        <dl>
                            <dt><big>67</big><small>%</small></dt>
                            <dd>Masculino</dd>
                        </dl>
                        <div><span style="height: 114px"></span></div>
                    </li>
                    <li class="feminino">
                        <div><span style="height: 73px"></span></div>
                        <dl>
                            <dt><big>43</big><small>%</small></dt>
                            <dd>Feminino</dd>
                        </dl>
                    </li>
                    
                </ul>
            </div>
            
            <div class="perfilFaixaEtaria" style="">
                <h4><big>Faixa Etária</big> <small>Fonte: <span>Nielsen ComScore</span></small></h4>
                <input type="hidden" value="" id="faixa_etaria_2_17" />
                <input type="hidden" value="" id="faixa_etaria_18_24" />
                <input type="hidden" value="" id="faixa_etaria_25_34" />
                <input type="hidden" value="" id="faixa_etaria_35_49" />
                <input type="hidden" value="" id="faixa_etaria_50_" />
                <div id="grafico"></div>
            </div>
            
        </div>
        <div class="formatosDispoiveis">
            <h3><span>Formatos disponíveis</span></h3>
            <ul>
                <li class="first">
                    <span>Retângulo</span>
                    <a href="#">visualizar</a>
                </li>
                <li>
                    <span>Retângulo Polite</span>
                    <a href="#">visualizar</a>
                </li>
                <li>
                    <span>Superbanner</span>
                    <a href="#">visualizar</a>
                </li>
                <li>
                    <span>Superbanner Expansível</span>
                    <a href="#">visualizar</a>
                </li>
                 <li>
                    <span>Retângulo</span>
                    <a href="#">visualizar</a>
                </li>
                <li>
                    <span>Retângulo Polite</span>
                    <a href="#">visualizar</a>
                </li>
                <li>
                    <span>Superbanner</span>
                    <a href="#">visualizar</a>
                </li>
                <li>
                    <span>Superbanner Expansível</span>
                    <a href="#">visualizar</a>
                </li>
            </ul>
        </div>
    </div>
</div>

