  <div id="header-mobile-formatos">
		<ul id="lista-mobile-formatos">
			<!--  <li class="categoria">
				<h2>SMS Broadcast<span class="arrow"> </span></h2>
				<table class="info-content">
					<tr>
						<td class="subcategoria">
							<span>Geral</span>
						</td>
						<td class="info">
							<p>Mensagem de texto (SMS) deve conter até 160 caracteres</p>
						</td>			
					</tr>
					<tr>
						<td class="subcategoria">
							<span>Base de Clientes</span>
						</td>
						<td class="info">
							<p>dfskl halkfjhklsajkl dljsk</p>
						</td>			
					</tr>
				</table>
			</li>
			<li class="categoria">
				<h2>Internet Móvel <span class="arrow"> </span></h2>
				<ul class="info-content">
					<li>						
						<ul class="mobile-formatos">
							<li>Internet Móvel</li>
						</ul>			
					</li>
				</ul>
			</li>
			
			<li class="categoria">
				<h2>Oi Torpedo Web<span class="arrow"> </span></h2>
				<ul class="info-content">
					<li>
						<ul class="mobile-formatos">
							<li>Oi Torpedo Web</li>
						</ul>
					</li>
				</ul>
			</li>-->
		</ul>
  </div>
  
