<div class="central-audiencia">
    <header>
      <h2>Audiência</h2>
    </header>
    <aside class="fl menu-sidebar">
      <header>Segmentos</header>
      <ul>
        <li><a href="">Mulheres</a></li>
        <li class="selected"><a href="">Games</a></li>
      </ul>
    </aside>
    <section class="audiencia fr">
      <header>
        <h3 class="fl">Games</h3>
        <span class="fr">Data da última atualização: <time>05/10/2011</time></span>
      </header>
      <article>
        <div class="destaques-audiencia">
          <ul class="fl">
            <li>
              <strong>680,1</strong> <span>mil pessoas</span><br />
              visitam os sites de games do iG todos os dias
            </li>
            <li>
              <strong>42%</strong> <span>do total do tempo</span><br />
              é dedicado a jogos e notícias
            </li>
            <li>
              <strong>800</strong> <span>milhões de dólares</span><br />
              de investimento no setor nos próximos 5 anos
            </li>
          </ul>
          <img width="448" height="300" src="conteudo/audiencia-foto.jpg" class="fr" />
        </div>
        <div class="content">
            <div class="conteudo">
                <p>
                O cineasta alemão Roland Emmerich deixou de lado as ameaças e catástrofes naturais para voltar ao território da literatura universal com o filme "Anonymous", que retrata o dramaturgo britânico William Shakespeare como uma espécie de impostor, mas, segundo o próprio cineasta, nada que seja um "terremoto".
                </p>
                <p>
                O filme histórico, que estreou nesta semana nos Estados Unidos, é ambientado na Inglaterra do século 16 e especula o que durante séculos foi motivo de intrigas para acadêmicos e intelectuais como Mark Twain, Charles Dickens e Sigmund Freud: "Quem foi o verdadeiro autor das obras que aparecem assinadas por William Shakespeare?"
                </p>
                <p>
                "Sim, ele era um impostor", garante Emmerich em entrevista à Agência EFE, convencido de que o protagonista de seu filme, o conde de Oxford, interpretado pelo ator galês Rhys Ifans, "tem 95% de chances" de ser o autor dessas verdadeiras joias literárias, como "Hamlet" e "Romeu e Julieta".
                </p>
            </div>
          <h3>Marcas relacionadas</h3>
          <ul class="marcas">
            
          </ul>
          <div class="clear"></div>
        </div>
        
      </article>
    </section>
</div>