<div>
	<div id="abas-sites" class="borda buscaReceitas">		
		<h2>Todos os sites</h2>

		<div>
			<ul id="aba_busca-indices">
				<li class="canais ativo"><a href="/canais">FILTRO DE SITES</a><div class="left"></div><div class="right"></div></li>
				<li class="glossario"><a href="/canais/glossario">A a Z</a><div class="left"></div><div class="right"></div></li>
				<li class="busca"><a href="/canais/busca">BUSCA</a><div class="left"></div><div class="right"></div></li>
			</ul>
		</div>
		
		<div class="box-indice-canais">
			
			<!-- <span class="str-filtrar">Filtrar:</span> -->
			
			<div class="dropfy-nome dropfy-box">
				<select name="filtros-nome" id="filtros-nome" class="dropfy">
					<option value=".">Nome</option>
				</select>
			</div>
			
			<div class="dropfy-segmento dropfy-box">
				<select name="filtros-segmento" id="filtros-segmento" class="dropfy">
					<option value=".">Segmento</option>
				</select>
			</div>
			
			<div class="dropfy-etaria dropfy-box">
				<select name="filtros-etaria" id="filtros-etaria" class="dropfy">
					<option value=".">Faixa etária</option>
					<option value="2-17">de 2 à 17</option>
					<option value="18-24">de 18 à 24</option>
					<option value="25-34">de 25 à 34</option>
					<option value="35-49">de 35 à 49</option>
				</select>
			</div>
			
			<div class="dropfy-sexo dropfy-box nomgr">
				<select name="filtros-sexo" id="filtros-sexo" class="dropfy">
					<option value=".">Sexo</option>
					<option value="feminino">Feminino</option>
					<option value="masculino">Masculino</option>
				</select>
			</div>
						
			<div class="clear"></div>
		</div>
		
		<div id="busca-glossario-indice" class="box-indice-glossario"  style="display:none">
			<ul id="indice">
				<li class="ativo"><a href="#A">A</a></li>
				<li><a href="#B">B</a></li>
				<li><a href="#C">C</a></li>
				<li><a href="#D">D</a></li>
				<li><a href="#E">E</a></li>
				<li><a href="#F">F</a></li>
				<li><a href="#G">G</a></li>
				<li><a href="#H">H</a></li>
				<li><a href="#I">I</a></li>
				<li><a href="#J">J</a></li>
				<li><a href="#K">K</a></li>
				<li><a href="#L">L</a></li>
				<li><a href="#M">M</a></li>
				<li><a href="#N">N</a></li>
				<li><a href="#O">O</a></li>
				<li><a href="#P">P</a></li>
				<li><a href="#Q">Q</a></li>
				<li><a href="#R">R</a></li>
				<li><a href="#S">S</a></li>
				<li><a href="#T">T</a></li>
				<li><a href="#U">U</a></li>
				<li><a href="#V">V</a></li>
				<li><a href="#W">W</a></li>
				<li><a href="#X">X</a></li>
				<li><a href="#Y">Y</a></li>
				<li><a href="#Z">Z</a></li>
				<li class="todos nobdr"><a href="#todos">Todos</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div class="box-indice-busca" style="display:none;">
			<div id="box-busca">	
				<form action="" method="q" id="formBuscaIndice">
					<div class="bg">
						<input type="text" class="campo" name="q" id="q"/>
						<input type="submit" class="buscar" value="" />
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
		
	</div>
</div>