.CHA06212 #mais-jogos{position:relative;margin-top:20px;padding-bottom:15px}
.CHA06212 #mais-jogos .prev-slide,.CHA06212 #mais-jogos .next-slide,.CHA06212 #mais-jogos .slider li.hoje,.CHA06212 #mais-jogos .slider li span.dataLine{background:url(http://i0.ig.com/canais/esporte/images/CHA06212.png?v=0.1) no-repeat}
.CHA06212 #mais-jogos h3{margin-bottom:20px;text-transform:uppercase;font:normal 18px/18px Arial;color:#000}
.CHA06212 #mais-jogos h3 a{float:right;margin-top:5px;font:bold 12px/12px Arial;text-transform:lowercase!important}
.CHA06212 #mais-jogos h3 span{float:left;color:#3B5E00;}
.CHA06212 #mais-jogos .slider{overflow:hidden;position:relative;float:left;width:590px;height:217px;margin:0 26px 0 30px;overflow:hidden;border:1px solid #d9d9da}
.CHA06212 #mais-jogos .slider ul.firstLevel {margin:0;padding:0;list-style:none;height:217px}
.CHA06212 #mais-jogos .slider li.firstLevel {float:left;width:196px;height:217px;border-right:1px solid #D9D9DA}
.CHA06212 #mais-jogos .slider li.firstLevel span.dataLine{display:block;width:190px;height:1px;margin-bottom:10px;background-position:-25px -230px}
.CHA06212 #mais-jogos .slider li.hoje{background-position:-62px 0;color:#fff;}
.CHA06212 #mais-jogos .slider li.hoje h4,.CHA06212 #mais-jogos .slider li.hoje a,.CHA06212 #mais-jogos .slider li.hoje ul li{color:#fff;}
.CHA06212 #mais-jogos .slider li .agendaData h4{float:left;padding:15px}
.CHA06212 #mais-jogos .slider li .agendaData h4 big{font:bold 14px/14px Arial}
.CHA06212 #mais-jogos .slider li .agendaData h4 small{font:normal 10px/10px Arial}
.CHA06212 #mais-jogos .slider li .agendaData a.dataTodos{float:right;padding:20px 15px 0 0;text-transform:uppercase;font:normal 10px/10px Arial}
.CHA06212 #mais-jogos .slider li .agendaEventos{padding:0 15px;height:135px;overflow:hidden;list-style:disc inside!important}
.CHA06212 #mais-jogos .slider li .agendaEventos li{margin-bottom:15px;list-style:disc inside!important;color:#333}
.CHA06212 #mais-jogos .slider li .agendaEventos li a{font:normal 12px/14px Arial;}
.CHA06212 #mais-jogos .prev-slide,#mais-jogos .next-slide{position:absolute;top:38px;display:block;width:30px;height:219px;text-indent:-15000px}
.CHA06212 #mais-jogos .prev-slide{left:0;background-position:0 0}
.CHA06212 #mais-jogos .next-slide{right:0;background-position:-31px 0}