<div class="LA08706 nomgr nomgt nopdb LA08706_bolsa">
	<h4>Bolsa de Valores</h4>

	<table cellspacing="0" cellpadding="0" id="ativos_LA08706" summary="cambio">

		<thead>
			<tr>
				<th width="85">indice</th>
				<th width="85">data</th>
				<th width="58">ultimo</th>
				<th width="36"></th>
				<th width="56">var. %</th>

			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="avisoFonte">
		<ul>
			<li>Fonte: Thomson Reuters</li>

		</ul>
	</div>
</div>