.CHA12012{margin-top:15px;}
.CHA12012 ul{float:left;margin-left:15px;}
.CHA12012 li{float:left;width:300px;margin-bottom:50px;}
.CHA12012 li.fr{float:right;}
.CHA12012 li.documentos .icon{background-position:-5px 0;}
.CHA12012 li.vacinas .icon{background-position:-5px -370px;}
.CHA12012 li.bagagens .icon{background-position:-5px -75px;}
.CHA12012 li.consulados .icon{background-position:-5px -212px;}
.CHA12012 li.rodoviarias .icon{background-position:-5px -288px;}
.CHA12012 li.aeroportos-2 .icon{background-position:-5px -141px;}
.CHA12012 li a{display:block;height:65px;}
.CHA12012 li a .icon{float:left;width:66px;height:66px;margin-right:20px;background:url(images/sprite-manual.png) no-repeat;}
.CHA12012 li a big{float:left;font:bold 16px Arial;}
.CHA12012 li a small{float:left;width:210px;font:normal 12px/16px Arial;color:#333;}
.CHA12012 li a:hover big,.CHA12012 li a:hover small{text-decoration:underline;}