<div class="CHA17612 gd12 fl">
	<div class="componente1">
        <ul class="signo_pq">
               <li class="aries_pq"><a href="http://delas.ig.com.br/aries/">Áries</a></li>
               <li class="touro_pq"><a href="http://delas.ig.com.br/touro/">Touro</a></li>
               <li class="gemeos_pq"><a href="http://delas.ig.com.br/gemeos/">Gêmeos</a></li>
               <li class="cancer_pq"><a href="http://delas.ig.com.br/cancer/">Câncer</a></li>
               <li class="leao_pq"><a href="http://delas.ig.com.br/leao/">Leão</a></li>
               <li class="virgem_pq"><a href="http://delas.ig.com.br/virgem/">Virgem</a></li>
               <li class="libra_pq"><a href="http://delas.ig.com.br/libra/">Libra</a></li>
               <li class="escorpiao_pq"><a href="http://delas.ig.com.br/escorpiao/">Escorpião</a></li>
               <li class="sagitario_pq"><a href="http://delas.ig.com.br/sagitario/">Sagitário</a></li>
               <li class="capricornio_pq"><a href="http://delas.ig.com.br/capricornio/">Capricórnio</a></li>
               <li class="aquario_pq"><a href="http://delas.ig.com.br/aquario/">Aquário</a></li>
               <li class="peixes_pq"><a href="http://delas.ig.com.br/peixes/">Peixes</a></li>
        </ul>
    </div>
</div>