<div class="B09506">
	<h3>Economia de A-Z</h3>
	<p><a href='javascript:void(0);' onclick="javascript:chamaBuscaformGlossarioDuasLinhasInicio();">Conheça os termos mais usados na economia:</a></p>
	<ul>
			
						<li>
							<a class="ativo" href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('A');">
								A
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('B');">
								B
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('C');">
								C
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('D');">
								D
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('E');">
								E
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('F');">
								F
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('G');">
								G
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('H');">
								H
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('I');">
								I
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('J');">
								J
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('K');">
								K
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('L');">
								L
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('M');">
								M
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('N');">
								N
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('O');">
								O
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('P');">
								P
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('Q');">
								Q
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('R');">
								R
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('S');">
								S
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('T');">
								T
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('U');">
								U
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('V');">
								V
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('W');">
								W
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('X');">
								X
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('Y');">
								Y
							</a>
						</li>
					 
			
						<li>
							<a href='javascript:void(0);' onclick="chamaBuscaDuasLinhas('Z');">
								Z
							</a>
						</li>
					 
			
	</ul>
	<div class="form">
	<form method="get" action="" id="formGlossarioDuasLinhas" name="formGlossarioDuasLinhas" onsubmit="return setActionAndSubmitDuasLinhas();"><fieldset>
		<label>Digite o termo que deseja encontrar</label>
		<div style="visibility:hidden">
			<!--<input type="hidden" name="siteName" id="siteName" value='economia'/>
			<input type="hidden" name="nomesecao" id="nomesecao" value='buscaglossario'/>
			<input type="hidden" name="servertarget" value='Satellite' id="servertarget" />
			<input type="hidden" name="_charset_" value='UTF-8'/>
			<input type="hidden" name="c" value='Page'/>-->
			<input type="hidden" name="cid" value='1237553972843'/>
			<!--<input type="hidden" name="site" value='economia'/>
			<input type="hidden" name="sitepfx" value='ECN'/>
			<input type="hidden" name="pagename" value='economia/MiG_Layout'/>
			<input type="hidden" name="redirURL" value="" />-->
			<input type="hidden" name="pagina" value=''/>
			<!--<input type="hidden" name="pageID" value='1237553972843'/>-->
			<input type="hidden" name="letra" value='A'/>
			<input type="hidden" name="busca" value=''/>
		</div>	
		<input type="text" class="text" id="termos" name="termos" value=''/>
		<input type="submit" name="Buscar" value="Buscar" class="submit" onclick="javascript:chamaBuscaformGlossarioDuasLinhas();"/>
	</fieldset>				
	</form></div>
</div>