.CHE17212{margin-bottom:20px}
.CHE17212 h2{font:normal 18px arial;color:#333;margin:10px 0;text-transform:uppercase}
.CHE17212 .img1{float:left;width:24px;height:24px;margin:0 5px 75px 0;background: url(http://i0.ig.com/delas/horoscopo/aspa1.png) no-repeat 0 0}
.CHE17212 .img2{margin:0 0 -12px 5px}
.CHE17212 p{margin-top:16px;padding-right:40px;font:italic 14px/20px Arial;width:542px}