<div class="CHA19906 FEE10206 gd6 fl ">
	<div class="headRetranca">
		<h2>
			<a href="" title=""></a>
		</h2>
	</div>
	<div class="contTimes">
		<ul>
			<li>
				<a title="Atlético-GO" href="http://esporte.ig.com.br/futebol/times/atletico-go/p1237870214354.html" class="atleticogo">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Atlético-GO" /></figure>
				</a>
			</li>
			<li>
				<a title="Atlético-MG" href="http://esporte.ig.com.br/futebol/times/atletico-mg/p1237870239965.html" class="atleticomg">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Atlético-MG" /></figure>
				</a>
			</li>
			<li>
				<a title="Bahia" href="http://esporte.ig.com.br/futebol/times/bahia/p1237870319496.html" class="bahia">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Bahia" /></figure>
				</a>
			</li>
			<li>
				<a title="Botafogo" href="http://esporte.ig.com.br/futebol/times/botafogo/p1237870368706.html" class="botafogo">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Botafogo" /></figure>
				</a>
			</li>
			<li class="nomgr">
				<a title="Corinthians" href="http://esporte.ig.com.br/futebol/times/corinthians/p1237870501204.html" class="corinthians">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Corinthians" /></figure>
				</a>
			</li>
			<li>
				<a title="Coritiba" href="http://esporte.ig.com.br/futebol/times/coritiba/p1237870528251.html" class="coritiba">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Coritiba" /></figure>
				</a>
			</li>
			<li>
				<a title="Cruzeiro" href="http://esporte.ig.com.br/futebol/times/cruzeiro/p1237870555225.html" class="cruzeiro">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Cruzeiro" /></figure>
				</a>
			</li>
			<li>
				<a title="Figueirense" href="http://esporte.ig.com.br/futebol/times/figueirense/p1237870609535.html" class="figueirense">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Figueirense" /></figure>
				</a>
			</li>
			<li>
				<a title="Flamengo" href="http://esporte.ig.com.br/futebol/times/flamengo/p1237870635049.html" class="flamengo">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Flamengo" /></figure>
				</a>
			</li>
			<li class="nomgr">
				<a title="Fluminense" href="http://esporte.ig.com.br/futebol/times/fluminense/p1237870660491.html" class="fluminense">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Fluminense" /></figure>
				</a>
			</li>
			<li>
				<a title="Grêmio" href="http://esporte.ig.com.br/futebol/times/gremio/p1237870685658.html" class="gremio">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Grêmio" /></figure>
				</a>
			</li>
			<li>
				<a title="Internacional" href="http://esporte.ig.com.br/futebol/times/internacional/p1237870787468.html" class="internacional">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Internacional" /></figure>
				</a>
			</li>
			<li>
				<a title="Náutico" href="http://esporte.ig.com.br/futebol/times/nautico/p1237870939968.html" class="nautico">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Náutico" /></figure>
				</a>
			</li>
			<li>
				<a title="Palmeiras" href="http://esporte.ig.com.br/futebol/times/palmeiras/p1237870989245.html" class="palmeiras">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Palmeiras" /></figure>
				</a>
			</li>
			<li class="nomgr">
				<a title="Ponte Preta" href="http://esporte.ig.com.br/futebol/times/pontepreta/p1237871071183.html" class="pontepreta">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Ponte Preta" /></figure>
				</a>
			</li>
			<li class="nomgb">
				<a title="Portuguesa" href="http://esporte.ig.com.br/futebol/times/portuguesa/p1237871098933.html" class="portuguesa">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Portuguesa" /></figure>
				</a>
			</li>
			
			<li class="nomgb">
				<a title="Santos" href="http://esporte.ig.com.br/futebol/times/santos/p1237871209073.html" class="santos">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Santos" /></figure>
				</a>
			</li>
			<li class="nomgb">
				<a title="São Paulo" href="http://esporte.ig.com.br/futebol/times/saopaulo/p1237871262354.html" class="saopaulo">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="São Paulo" /></figure>
				</a>
			</li>
			<li class="nomgb">
				<a title="Sport" href="http://esporte.ig.com.br/futebol/times/sport/p1237871315902.html" class="sport">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Sport" /></figure>
				</a>
			</li>
			<li class="nomgr nomgb">
				<a title="Vasco" href="http://esporte.ig.com.br/futebol/times/vasco/p1237871344083.html" class="vasco">
					<figure><img class="lazy-load" data-src="http://i0.ig.com/ig/images/sprite-ferramentas.png" alt="Vasco" /></figure>
				</a>
			</li>			
		</ul>
		<br /><br /><a href="http://esporte.ig.com.br/futebol/times/">Ver todos os times</a>
	</div>
</div>