.CHA11906{margin-right:20px;}
.CHA11906 li{margin-bottom:8px;}
.CHA11906 li.documentos .icon{background-position:-203px 0;}
.CHA11906 li.vacinas .icon{background-position:-203px -40px;}
.CHA11906 li.bagagens .icon{background-position:-203px -82px;}
.CHA11906 li.consulados .icon{background-position:-203px -120px;}
.CHA11906 li.rodoviarias .icon{background-position:-203px -156px;}
.CHA11906 li.aeroportos-2 .icon{background-position:-203px -196px;}
.CHA11906 li a{display:block;height:40px;padding:15px 10px;background:#f8f8f8;}
.CHA11906 li a .icon{float:left;width:45px;height:40px;margin-right:10px;}
.CHA11906 li a big{float:left;margin-top:10px;font:bold 18px Arial;}
.CHA11906 li a .arrow{float:right;width:16px;height:27px;margin-top:7px;background-position:-105px -208px;}
.CHA11906 li a:hover big{text-decoration:underline;}