<div>
	<div id="destaqueHomeiG"> 
		<a class="maisDest" href="http://www.ig.com.br">Mais destaques</a>
		<h3>Destaques da home iG</h3>
		<h4><!-- --></h4>
		<p><!-- --></p>
		<ul>
			<!-- -->
		</ul>
	</div>
</div>awwdawdawda
