<div class="LA08706 nomgr nomgt LA08706_cambio">
	<h3>INDICADORES ECON&Ocirc;MICOS</h3>
		<h4>C&acirc;mbio</h4>
		       

		<table id="cambio_LA08706" summary="cambio">
			<thead>
				<tr>
					<th width="90">moeda</th>
					<th width="75">compra</th>
					<th width="53">venda</th>
					<th width="36"></th>
					<th width="66">var. %</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
</div>
