.CHA15012 #mais-jogos{position:relative;}
.CHA15012 #mais-jogos .prev-slide,.CHA15012 #mais-jogos .next-slide,.CHA15012 #mais-jogos .slider li.hoje,.CHA15012 #mais-jogos .slider li span.dataLine{background:url(http://i0.ig.com/canais/arena/images/CHA06212.png?v=0.1) no-repeat}
.CHA15012 #mais-jogos h3{height:18px;margin-bottom:20px;text-transform:none;font:normal 18px/18px Arial;color:#000}
.CHA15012 #mais-jogos h3 a{float:right;margin-top:5px;font:bold 12px/12px Arial;text-transform:none}
.CHA15012 #mais-jogos h3 span{float:left}
.CHA15012 #mais-jogos .slider{overflow:hidden;position:relative;float:left;width:590px;height:217px;margin:0 26px 0 30px;overflow:hidden;border:1px solid #d9d9da}
.CHA15012 #mais-jogos .slider ul.firstLevel { margin:0; padding:0; list-style:none;height:217px}
.CHA15012 #mais-jogos .slider li.firstLevel { float:left;width:196px;height:217px;border-right:1px solid #D9D9DA}
.CHA15012 #mais-jogos .slider li.firstLevel span.dataLine{display:block;width:190px;height:1px;margin-bottom:10px;background-position:-25px -230px}
.CHA15012 #mais-jogos .slider li.hoje{color:#fff;background-position:-62px 0}
.CHA15012 #mais-jogos .slider li.hoje h4,.CHA15012 #mais-jogos .slider li.hoje a{color:#fff;}
.CHA15012 #mais-jogos .slider li .agendaData h4{float:left;padding:15px 0 15px 15px}
.CHA15012 #mais-jogos .slider li .agendaData h4 big{font:bold 14px/14px Arial}
.CHA15012 #mais-jogos .slider li .agendaData h4 small{font:normal 12px Arial}
.CHA15012 #mais-jogos .slider li .agendaData a.dataTodos{float:right;padding:20px 15px 0 0;text-transform:uppercase;font:normal 10px/10px Arial}
.CHA15012 #mais-jogos .slider li .agendaEventos{padding:0 15px;height:135px;overflow:hidden;list-style:disc inside!important}
.CHA15012 #mais-jogos .slider li .agendaEventos li{margin-bottom:15px;list-style:disc inside!important;}
.CHA15012 #mais-jogos .slider li .agendaEventos li a{font:normal 12px/14px Arial;}
.CHA15012 #mais-jogos .prev-slide,.CHA15012 #mais-jogos .next-slide{position:absolute;top:38px;display:block;width:30px;height:219px;text-indent:-15000px}
.CHA15012 #mais-jogos .prev-slide{left:0;background-position:0 0}
.CHA15012 #mais-jogos .next-slide{right:0;background-position:-31px 0}