<div class='componente1 CHA19612'>
	<input type="hidden" value="" id="LA27712-site">
	<input type="hidden" value="" id="LA27712-secao">
	<input type="hidden" value="" id="LA27712-siteNome">
	<div class="LA27712">
		<div class="box" id="empilhamento_foto">
		</div>
		<div class="box nomgr">
		    <ul>
			<li id="para_empilhamento_noticias"><a href="http://economia.ig.com.br/empresas/industria/noticias/p1237553978988.html" class="todas">Todas as notícias</a></li>
		    </ul>
		</div>
	</div>
</div>
