<div class="CHA14606 gd06 fl">
	<div class="LM14006 "><h3>SERVIÇOS</h3>
	<ul>
		<li class=" ">
				
						
			<a target="_self" href="https://twitter.com/igesporte">
					<img width="40" height="39" alt="" src="http://i0.ig.com/fw/33/lv/jl/33lvjl0lnomu4jkfyxvm77uw0.jpg">
				</a>
				<cite>
					<a target="_self" href="https://twitter.com/igesporte">Clique aqui e siga o iG Esporte no Twitter</a>
				</cite>
						
						
						</li>
						<li class=" nomgr">
						
						
			<a target="_self" href="http://www.facebook.com/igesporte">
					<img width="40" height="39" alt="" src="http://i0.ig.com/fw/8q/by/ns/8qbynseh7or2ti7pd6ex5g2qz.jpg">
				</a>
				<cite>
					<a target="_self" href="http://www.facebook.com/igesporte">Acompanhe o iG Esporte no Facebook</a>
				</cite>
						
						
						</li>
				<li class=" ">
					<a target="_self" href="http://esporte.ig.com.br/rss">
						<img width="40" height="39" alt="" src="http://i0.ig.com/fw/2v/hd/ci/2vhdciktg9hi1mn1omwyk65r1.jpg">
					</a>
					<cite>
						<a target="_self" href="http://esporte.ig.com.br/rss">Acompanhe o RSS do iG Esporte</a>
					</cite>
						
						
				</li>
				<li class=" nomgr">
						
					<a target="_self" href="http://esporte.ig.com.br/widgets/widgetnoticias/p1237990911688.html">
						<img width="40" height="39" alt="" src="http://i0.ig.com/fw/4u/mk/op/4umkop6nw3onv95g6hbdrvhoj.jpg">
					</a>
					<cite>
						<a target="_self" href="http://esporte.ig.com.br/widgets/widgetnoticias/p1237990911688.html">Coloque nossas ferramentas no seu site ou blog</a>
					</cite>		
				</li>					
			</ul>
		</div>
	<div class="clear"></div>
</div>