<div id="eco_barraLateral" class="multimidia"> 
	<div class="E08906">
		<h3>Bolsas</h3>
		<ul class="abas">
			<li><a class="BVSP" href="javascript:void(0);">Ibovespa</a></li>
			<li><a class="DJI" href="javascript:void(0);">Dow Jones</a></li>
			<li><a class="IXIC" href="javascript:void(0);">Nasdaq</a></li>
		</ul>
		<div class="flash" id=".BVSP">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="315" height="225" id="grafico" align="middle">
				<param name="allowScriptAccess" value="always" />
				<param name="allowFullScreen" value="false" />
				<param name="movie" value="http://i0.ig.com/swf/grafico26.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<embed src="http://i0.ig.com/swf/grafico26.swf" 
					   quality="high" 
					   bgcolor="#ffffff" 
					   width="315" 
					   height="225" 
					   name="grafico" 
					   align="middle" 
					   allowScriptAccess="always" 
					   allowFullScreen="false" 
					   type="application/x-shockwave-flash" 
					   pluginspage="http://www.adobe.com/go/getflashplayer" />

			</object>
		</div>
		<form id="formBuscarBolsa" class="buscar-bolsa" action="/cs/Satellite" method="post" acceptcharset="UTF-8">
			<fieldset>
				<input type="button" value="1 dia" class="submit dia" name="input"/>
				<input type="button" value="1 semana" class="submit semana" name="input"/>
				<input type="button" value="1 mês" class="submit mes" name="input"/>
				<input type="button" value="1 ano" class="submit nomgr ano" />
			</fieldset>				
		</form>

		<div class="cotacao-rapida">
			<h2>Cotação rápida de ativos</h2>
			<form action="" class="buscar-ativos" method="post">
				<fieldset>
					<input type="text" class="texto" />
				</fieldset>
			</form>
		</div>

		<div class="avisoFonte">
			<ul>
				<li>Fonte: Thomson Reuters</li>
			</ul>
		</div>
	</div>
</div>