<div class="CHA12012 gd12 fl">
	<ul>
		<li class="documentos">
			<a href="/manual-do-viajante/documentos/" title="Documentos">
				<span class="icon"></span>
				<big>Documentos</big>
				<small>Como tirar passaporte, que países exigem visto e quais os papéis necessários para viajar com crianças</small>
			</a>
		</li>
		<li class="consulados fr">
			<a href="/manual-do-viajante/consulados-embaixadas/" title="Consulados e Embaixadas">
				<span class="icon"></span>
				<big>Consulados</big>
				<small>A localização das embaixadas e consulados do Brasil pelo mundo para recorrer em caso de emergência</small>
			</a>
		</li>
		<li class="bagagens">
			<a href="/manual-do-viajante/bagagem/" title="Bagagem">
				<span class="icon"></span>
				<big>Bagagens</big>
				<small>Confira o que é ou não permitido levar na mala de mão e quais os itens que você pode trazer do exterior</small>
			</a>
		</li>
		<li class="rodoviarias fr">
			<a href="/manual-do-viajante/rodoviarias/" title="Rodoviárias">
				<span class="icon"></span>
				<big>Rodoviárias</big>
				<small>Principais rodoviárias do Brasil separadas por Estado e cidade para facilitar a compra das passagens</small>
			</a> 
		</li>
		<li class="aeroportos-2">
			<a href="/manual-do-viajante/aeroportos/" title="aeroportos">
				<span class="icon"></span>
				<big>Aeroportos</big>
				<small>Endereço e telefone dos principais aeroportos para voos domésticos e internacionais pelo mundo</small>
			</a>
		</li>
		<li class="vacinas fr">
			<a href="/manual-do-viajante/vacinas/" title="Vacinas">
				<span class="icon"></span>
				<big>Vacinas</big>
				<small>As vacinas obrigatórias e aconselhadas para tomar antes de embarcar para cada país </small>
			</a>
		</li>
	</ul>
	<div class="clear"></div>
</div>