<div id="eco_barraLateral" class="conversor">
	<div class="E09306">
		<h3>CONVERSOR DE MOEDAS</h3>	
		<form action="#">
	<fieldset>
	    <div class="moedas">
		<label>de</label>
		<select name="de" id="de">
		    <option value="moeda">Moeda</option>                    
		</select>
		<label>valor</label>
		<input type="text" value="0,00" class="valor" name="valor" id="valor" onKeyPress="return(MascaraMoeda(this,'',',',event))">
		<input type="button" class="submit" value="OK" onclick="converte()">
	    </div>
	    <div class="moedas nopdr">
		<label>para</label>
		<select name="para" id="para">
		    <option value="moeda">Moeda</option>
		</select>

		<label style="visibility: hidden;">resultado</label>
		<input type="text" value="Resultado" class="valor2" name="resultado" id="resultado" disabled="true">
	    </div>
	</fieldset>
		</form>
	</div>
	<div class="avisoFonte">
		<ul>
			<li>Fonte: Thomson Reuters</li>
		</ul>
	</div>
</div>
