<div class="CHA19512 CHA06212 gd12 fl">
	<div id="mais-jogos">
		<h3><span>Agenda</span> <a href="#">Agenda Completa</a><div class="clear"></div></h3>
	<div id="carousel-more-posts" class="slider">
			<ul class="firstLevel">
				
				
				
				
							</ul>

		</div>
	    
	    <div class="controls">
		    <a href="#" class="prev-slide" id="carousel-prev">Prev Page</a>
		    <a href="#" class="next-slide" id="carousel-next">Next Page</a>
		</div>
		<div class="clear"></div>
	</div>
</div>