<div class="CHA17012 gd12 fl">
	<form>
		<input type="hidden" name="timeAnimation" />
		<input type="hidden" name="idForm" id="idForm"/>
	</form>
	<div id="mais-jogos">
		<h3>
			<span>AGENDA</span> <a href="/agenda">Ver agenda completa</a>
			<div class="clear"></div>
		</h3>
		<div id="carousel-more-posts" class="slider carousel-more-posts">
			<ul class="firstLevel"></ul>
		</div>

		<div class="controls tvFlashNav-forward-backward">
			<a href="javascript:void(0);" class="prev-slide voltar"
				id="carousel-prev">Prev Page</a> <a href="javascript:void(0);"
				class="next-slide avancar" id="carousel-next">Next Page</a>
		</div>
		<div class="clear"></div>
	</div>
</div>