.CHA25806 {color:#333;font:normal 11px Arial;text-transform:uppercase;}
.CHA25806 h3{font-size:0.917em;margin-bottom:5px;text-transform:uppercase;}
.CHA25806 .quadro {width:316px;height:76px;background:url("http://i0.ig.com/canais/olimpiadas/images/cr-bg.png?v=0.1") no-repeat;}
.CHA25806 #contador-diasrg{color:#fff;font:normal 30px Arial;letter-spacing:21px;margin-left:231px;margin-top:6px;width:57px;height:38px;}
.CHA25806 #contador-txt1{margin-left:236px;padding-top:3px;}
.CHA25806 #contador-txt2{margin-left:244px;}