/*CHA23306 - Dicionario de A a Z, barra lateral*/
.CHA23306{margin-right: 20px}
.CHA23306 h3{display:block;font:normal 18px Arial;margin-bottom:13px;text-transform:uppercase}
.CHA23306 ul{display:block;float:left;margin-bottom:10px}
.CHA23306 ul li{float:left;padding:0 1px 1px 0}
.CHA23306 ul li a{display:block;font:normal 18px/29px Arial;color:#333;background:#f8f8f8;width:23px;height:29px;text-align:center}
.CHA23306 ul li a:hover{background:#711468;color:#FFF;text-decoration:none!important}
.CHA23306 p a{clear:both;display:block;font:bold 12px Arial;color:#711468;margin-top:17px}