.CHA26406 #bolsachartiframe{background:url('http://economico.sapo.pt/realtime/ibtx_v16/module/stock_quotes/img/stock_quotes.png') top center no-repeat;height:612px;overflow:hidden}
.CHA26406 #bolsachartiframe h4.forex{margin:5px 0 40px}
.CHA26406 #bolsachartiframe div.forex .quote{float:left;width:149px;text-align:right;font-size:10px;padding:0 0 0 5px}
.CHA26406 #bolsachartiframe div.forex span.title{font-weight:normal;display:block;float:left}
.CHA26406 #bolsachartiframe div.forex .quote .U{color:#080}
.CHA26406 #bolsachartiframe div.forex .quote .D{color:#c00}
.CHA26406 #bolsachartiframe div.fore .XD{background:#c00;color:#fff !important}
.CHA26406 #bolsachartiframe div.forex .XU{background:#080;color:#fff !important}
.CHA26406 #bolsachartiframe div.forex .X{background:#f90;color:#fff !important}
.CHA26406 #bolsachartiframe div.forex .X span, .CHA26406 #bolsachartiframe div.forex .XD span, .CHA26406 #bolsachartiframe div.forex .XU span{color:#fff !important}
.CHA26406 #bolsachartiframe .map_container{position:relative;top:0;left:0;height:220px;width:100%}
.CHA26406 #bolsachartiframe .index{position:absolute;width:75px;padding:0 3px;font-size:10px;background:#666;color:#fff}
.CHA26406 #bolsachartiframe .psi20{top:120px;left:100px;font-size:14px;width:110px}
.CHA26406 #bolsachartiframe .ftse100{top:20px;left:160px;width:90px}
.CHA26406 #bolsachartiframe .dax30performance{top:38px;left:180px;width:90px}
.CHA26406 #bolsachartiframe .cac40{top:88px;left:175px;width:90px}
.CHA26406 #bolsachartiframe .swissmarketindex{top:72px;left:180px;width:90px}
.CHA26406 #bolsachartiframe .aexindex{top:55px;left:185px;width:90px}
.CHA26406 #bolsachartiframe .ibex35{top:105px;left:165px;width:90px}
.CHA26406 #bolsachartiframe .dowjonesindus30{top:50px;left:5px;width:110px}
.CHA26406 #bolsachartiframe .nasdaq100{top:70px;left:5px;width:90px}
.CHA26406 #bolsachartiframe .bovespasaopaolo{top:150px;left:10px;width:90px}
.CHA26406 #bolsachartiframe .psi20_quotes{float:left;height:13px;width:150px;margin-left:5px;font-size:10px}
.CHA26406 #bolsachartiframe .index .variation{float:right}
.CHA26406 #bolsachartiframe .psi20_quotes .variation, 
.CHA26406 #bolsachartiframe .psi20_quotes .quote{float:right;width:40px;text-align:left}
.CHA26406 #bolsachartiframe .disclaymer{clear:both;font-size:9px;text-align:right;padding-top:10px}
.CHA26406 #bolsachartiframe h4{height:28px;font-size:15px;text-align:center;font-weight:bold;background:none;padding:0;margin-bottom:55px;line-height:28px;}
.CHA26406 #bolsachartiframe .map_container .U{background:#080;color:#fff}
.CHA26406 #bolsachartiframe .map_container .XU{background:#fff;color:#080}
.CHA26406 #bolsachartiframe .map_container .D{background:#c00;color:#fff}
.CHA26406 #bolsachartiframe .map_container .XD{background:#fff;color:#c00}
.CHA26406 #bolsachartiframe .quotes_container .U{color:#080}
.CHA26406 #bolsachartiframe .quotes_container .XU{background:#080;color:#fff}
.CHA26406 #bolsachartiframe .quotes_container .D{color:#c00}
.CHA26406 #bolsachartiframe .quotes_container.XD{background:#c00;color:#fff}