<div class="CHA22212 gd12 fl">
	<h3 id="titulo1"></h3>

	<div class="subAbas nomgt"> 
		<ul class="abas"> 
  			<li><a id="abaTimes" class="" onclick="javascript:atualizarTabela('times');">Times</a></li>
  			<li><a id="abaJogadores" class="" onclick="javascript:atualizarTabela('jogadores');">Jogadores</a></li> 
  		</ul> 
  	</div>
	<div class="borda">
		<div class="outros-campeonatos nomgt">
			<a onclick="javascript:atualizarTabela('esquerda');">Esquerda</a>
			<h3 id="textoFundamentos"></h3>
			<a onclick="javascript:atualizarTabela('direita');" class="direita">Direita</a>
		</div>
		<div class="tabela">
			<h4 id="fundamento1"></h4>

			<table id="tabelaFundamento1" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th colspan="3">Clube</th>
					<tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="3"></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="tabela nopdr">
			<h4 id="fundamento2"></h4>
			<table id="tabelaFundamento2" cellspacing="0" cellpadding="0">
				<thead><tr><th colspan="3">Clube</th></tr></thead>
				<tfoot><tr><td colspan="3"><a id="linkTabelaCompleta" href="/futebol/estatisticas/campeonatobrasileiro2011/b1238166573478.html">Tabela completa</a></td></tr></tfoot>
			</table>
		</div>
		<div class="outros-campeonatos nomgt">
			<strong>Mais estatísticas</strong>
			<form class="footer">
				<fieldset>
					<select id="comboCampeonatos2" title="Por Campeonato" tabindex="3" style="width: 300px;">
						<option title='Por Campeonato' value='-1'>Por Campeonato</option>
					</select>
					<input type="button" onclick="javascript:changeCombo1();" value="Ok" tabindex="5" class="btn-submit" title="Ok" />
				</fieldset>
			</form>
		</div>
	</div>

</div>