<div class="CHA22412 gd12">
	   <h3>FUTEBOL INTERNACIONAL</h3>
	   <ul>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/alemanha/"  target="_self"><img src="http://i0.ig.com/fw/7v/0l/gn/7v0lgng40h7702qyj8eepl2n8.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/alemanha/"  target="_self">Alemanha</a></span>
		      </li>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/argentina/"  target="_self"><img src="http://i0.ig.com/fw/11/1k/hn/111khnesf4eq5hzs4e197i0t1.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/argentina/"  target="_self">Argentina</a></span>
		      </li>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/espanha/"  target="_self"><img src="http://i0.ig.com/fw/8x/e7/ne/8xe7negynuliiijw8gngngc6.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/espanha/"  target="_self">Espanha</a></span>
		      </li>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/franca/"  target="_self"><img src="http://i0.ig.com/fw/t0/7z/5b/t07z5b3dm8tnukazaavfgz6q.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/franca/"  target="_self">França</a></span>
		      </li>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/inglaterra/"  target="_self"><img src="http://i0.ig.com/fw/ba/lw/cm/balwcmwu8f7kt02lnasuvfk33.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/inglaterra/"  target="_self">Inglaterra</a></span>
		      </li>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/italia/"  target="_self"><img src="http://i0.ig.com/fw/cb/x1/2p/cbx12pbjibd129ah26zz1rtj1.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/italia/"  target="_self">Itália</a></span>
		      </li>
		      <li>
				 <a href="http://esporte.ig.com.br/futebol/internacional/portugal/"  target="_self"><img src="http://i0.ig.com/fw/79/gf/u9/79gfu9z76ulmfulsgx4gb4vs5.jpg" width="50" height="50" alt="" /></a><span><a href="http://esporte.ig.com.br/futebol/internacional/portugal/"  target="_self">Portugal</a></span>
		      </li>
	   </ul>
</div>