<div class="CHA23106 gd6 fl">
	<h3>Economia de A-Z</h3>
        <p>
		<a href='http://economia.ig.com.br/dicionario-economia/'>Conheça os termos mais usados na economia:</a>
	</p>
	<ul>
		<li>
			<a class="ativo" href='http://economia.ig.com.br/dicionario-economia/?q=A'>A</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=B'>B</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=C'>C</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=D'>D</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=E'>E</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=F'>F</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=G'>G</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=H'>H</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=I'>I</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=J'>J</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=K'>K</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=L'>L</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=M'>M</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=N'>N</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=O'>O</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=P'>P</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=Q'>Q</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=R'>R</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=S'>S</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=T'>T</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=U'>U</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=V'>V</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=W'>W</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=X'>X</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=Y'>Y</a>
		</li>
		<li>
			<a href='http://economia.ig.com.br/dicionario-economia/?q=Z'>Z</a>
		</li>
	</ul>
	<div class="form">
		<form method="get" action="http://economia.ig.com.br/dicionario-economia/busca/" id="formGlossarioDuasLinhas">
			<fieldset>
				<label>Digite o termo que deseja encontrar</label>
				<input type="text" class="text" id="termos" name="q" value=''/>
				<input type="submit" name="Buscar" value="Buscar" class="submit" />
			</fieldset>				
		</form>
	</div>
</div>