<div id="barraLateral" class="multimidia">
	<style>
		#pub-Middle1 {
		background: none repeat scroll 0 0 #F8F8F8;
		    float: left;
		    padding: 8px;
		    margin-bottom: 10px;
		    width: 300px;
		}
		
		#pubMiddle1 {
		    height: 58px;
		    width: 300px;
		}
	</style>
	<div id="pub-Middle1" class="pub-Middle1">
		<iframe style="width: 300px;height: 58px;"><!-- Middle1 --></iframe>
	</div>

	<div id="E13706" class="E13706">
		<h3>Previsão do Tempo</h3>
		<img alt="CLIMATEMPO" src="http://i0.ig.com/css/images/climatempo.gif" />
		<h4>

			<cite id="nome_cidade"></cite>
			<a href="javascript:previsaoCidadeCompletaSolicitada();" style="visibility: hidden;">Previsão Completa</a>
		</h4>
		<ul>
			<li style="visibility: hidden;" >
				<h5>Hoje</h5>
				<span class="sprite img1" id="img1"></span>
				<ul class="prev">

					<li class="esc">
						<span id="spr_minima_hoje" class="sprite queda"></span>
						<cite></cite>
					</li>
					<li class="dir nobdr">
						<span id="spr_maxima_hoje" class="sprite alta"></span>
						<cite></cite>
					</li>
				</ul>

			</li>
			<li style="visibility: hidden;" >
				<h5>Amanhã</h5>
				<span class="sprite img2" id="img2"></span>
				<ul class="prev">
					<li class="esc">
						<span id="spr_minima_amanha" class="sprite queda"></span>
						<cite></cite>

					</li>
					<li class="dir nobdr">
						<span id="spr_maxima_amanha" class="sprite alta"></span>
						<cite></cite>
					</li>
				</ul>
			</li>
			<li class="nobdr" style="visibility: hidden;">
				<h5>Depois</h5>

				<span class="sprite img3" id="img3"></span>
				<ul class="prev">
					<li class="esc">
						<span class="sprite queda"></span>
						<cite></cite>
					</li>
					<li class="dir nobdr">
						<span class="sprite alta"></span>
						<cite></cite>

					</li>
				</ul>
			</li>
		</ul>
		<div>
			<form name="form" action="" method="post" onsubmit="return false">					
				<input class="text" type="text" id="txt_cidadeprevisao" name="cidade" value="Digite o nome da cidade" />
			</form>
		</div>				
	</div>
</div>