<div class="CHA23306 gd6 fl">
	<h3>Moda de A-Z</h3>
	<ul>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=A'>A</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=B'>B</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=C'>C</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=D'>D</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=E'>E</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=F'>F</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=G'>G</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=H'>H</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=I'>I</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=J'>J</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=K'>K</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=L'>L</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=M'>M</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=N'>N</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=O'>O</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=P'>P</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=Q'>Q</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=R'>R</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=S'>S</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=T'>T</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=U'>U</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=V'>V</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=W'>W</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=X'>X</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=Y'>Y</a>
		</li>
		<li>
			<a href='http://moda.ig.com.br/dicionario-moda/?q=Z'>Z</a>
		</li>
	</ul>
	<p><a href='http://moda.ig.com.br/dicionario-moda/'>Todo o glossário</a></p>
</div>