<div id="barraLateral" class="indicadores">
	<div class="E13806" id="E13806" >
		<h3>Trânsito Agora</h3>
		<ul>
			<li>
				<h4>São Paulo</h4>
				<a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/">
					<span class="sprite" id="spriteTransitoAgora"></span>
					<big></big>
					<strong>Ver detalhes</strong>

				</a>
			</li>
			<li>
				<h4>Rio de Janeiro</h4>
				<a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/?rioDeJaneiro">
					<span class="sprite"></span>
					<big></big>
					<strong>Ver detalhes</strong>

				</a>
			</li>
			<li class="nomgr">
				<h4>Belo Horizonte</h4>
				<a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/?beloHorizonte">
					<span class="sprite"></span>
					<big></big>
					<strong>Ver detalhes</strong>

				</a>
			</li>
		</ul>
	</div>
</div>		