<div class="CHA21906 gd6 fl">

	<input type="hidden" id="campeonatoDesejado"/>

	<h3 id="titulo"></h3>

	<div class="borda">

		<table id="tabelaClassificacao" cellspacing="0" cellpadding="0">
			<thead>
				<th colspan="2">Clube</th>
				<td class="theadverde">PG</td>
				<td>J</td>
				<td>V</td>
				<td>E</td>
				<td class="nobdr">D</td>
			</thead>
			<tfoot>
				<th colspan="7">
					<a href='http://esporte.ig.com.br/futebol/campeonatos/nacionais/campeonatopaulista2012/x1597357969919.html' class="url_ficha">Classificação completa</a>
				</th>
			</tfoot>
		</table>
		<form class="footer">
			<fieldset>
				<select id="comboCampeonatos" title="Selecione outro campeonato" onchange="javascript:changeCombo()">
					<option title="Selecione outro campeonato" value="-1">Selecione outro campeonato</option>
					<option value="http://esporte.ig.com.br/futebol/campeonatos/" title="Todos os Campeonatos">Todos os Campeonatos</option>
				</select>
			</fieldset>
		</form>
	</div>
</div>