<div class="CHA25906 gd06 fl">
	<a href="" class="CHA25906-button rss">
		<span class="icon"></span>
		<span>RSS</span><br />
		Receba notícias da Central do Anunciante
	</a>
	<a href="#form-newsletter" class="CHA25906-button newsletter colorbox">
		<span class="icon"></span>
		<span>Newsletter</span><br />
		Receba notícias da Central do Anunciante
	</a>
	<div style="display:none">
		<div id="form-newsletter">

			<div id="boxFaleconosco" class="noticias-lb">
				<div class="top">
				</div>
				<div class="titulo">
					<strong>Newsletter</strong>
					<a href="javascript:void(0)" title="Fechar" class="close" onclick="$.colorbox.close()">
					</a>
				</div>
				<div class="cont">
					<iframe src="http://extras.ig.com.br/centraldoanunciante/newsletter/" scrolling="no" style="width:340px;height:130px;"></iframe>
				</div>
				<div class="bot">
				</div>
			</div>
		</div>
	</div>
</div>