<div class="CHA22006 gd6 fl">
	   <iframe src="http://widgets.ig.com.br/esportes/buscajogadores/" width="100%" height="346px" scrolling="no" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"></iframe>
</div>