<div class="CHA25806 gd6 fl brdb">
	<h3><a href=""></a></h3>
	<div class="quadro">
		<div id="contagem-clk"><a href=""></a></div>
		<div id="contador-txt1"></div>
		<div id="contador-diasrg"></div>
		<div id="contador-txt2"></div>
	</div>
</div>