<div class="CHE07706 gd6 fl bordadefault" >
	<h3>Primeira Página</h3>
	<a href="http://meiahora.ig.com.br/capas/">
		<figure>
			<img src="" width="314" height="361" alt="">
			<figcaption>
				<span>
					<div id="fb-root"></div> <script>(function(d, s, id) {   var js, fjs = d.getElementsByTagName(s)[0];   if (d.getElementById(id)) return;   js = d.createElement(s); js.id = id;   js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3&appId=1674765382778479";   fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script> <div class="fb-like" data-href="http://meiahora.ig.com.br/capas/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
				</span>
			</figcaption>
		</figure>
	</a>
	<ul>
		<li><a href="http://meiahora.ig.com.br/capas/">Tá na banca!</a></li>
		<li><a target="_blank" href="http://meiahora.epaper.grupodia.com.br/login">Edição digital</a></li>
	</ul>
</div>
