.CHE07212{position:relative;float:left;margin-top:20px;overflow:hidden;height:360px}
.CHE07212 img.destaque{float:left}
.CHE07212 div.bgTitulo{height:55px;padding:10px 20px;position:absolute;bottom:0;background:url(http://i0.ig.com/canais/arena/images/transp-che02212.png);width:612px;z-index:1}
.CHE07212 .topTitulo{text-align:left}
.CHE07212 .topTitulo h2 {float:left;font:bold 24px/32px arial;margin-top:2px}
.CHE07212 .topTitulo h2 a{color:#b9c6df;padding:4px 0}
.CHE07212 .topTitulo p a{font-size:14px;color:#fff}