.CHE05212 a.image{float:left;margin-right:20px;width:260px;height:195px}
.CHE05212 div.corpo{float:left;width:370px}
.CHE05212 div.corpo h2 a{display:block;font: bold 30px/30px Arial}
.CHE05212 div.corpo cite{display:block;font:14px Arial;color:#333;margin: 10px 0 20px}
.CHE05212 div.corpo ul li {color:#005088}
.CHE05212 div.corpo ul li a{font:bold 12px arial}