.CHE00512{padding-bottom:10px;}
.CHE00512 ul li{display: block;width: 92px;height: 113px;float: left;margin: 0 16px 10px 0;background:url(http://i0.ig.com/dls/horoscopo.png) no-repeat}
.CHE00512 ul li a{color: #7b3e77;font:bold 12px arial;display: block;width: 92px;text-align: center;padding-top: 90px;}