.CHE02512 a.slide,.CHE02512 a.voltar,.CHE02512 a.avancar {background: url(http://i0.ig.com/igr/slider.png) no-repeat}
.CHE02512 {position: relative;float: left;margin-top: 20px;height: 280px;overflow: hidden;}
.CHE02512 .tvFlashNav {position: absolute;float: left;width: 185px;height: 28px;bottom: 15px;right: 10px;display: none}
.CHE02512 .tvFlashNav a.voltar,.CHE02512 a.avancar {position: relative;display: block;width: 28px;height: 28px;float: left;text-indent: -9999px;margin-right: 28px;}
.CHE02512 .tvFlashNav a.avancar {background-position: -32px 0;float: right;margin: 0 !important;}
.CHE02512 .tvFlashNav .slide {float: left;width: 13px;height: 13px;font-size: 0;margin: 9px 0 0 2px}
.CHE02512 .tvFlashNav .ativo {background-position: 0 -27px !important}
.CHE02512 .tvFlashNav .inativo {background-position: -14px -27px}
.CHE02512 ul {overflow: hidden;height: 280px;background: #F1F1F1}
.CHE02512 ul li {float: left;display: block;width: 652px;}
.CHE02512 ul li img.destaque {float: left;width: 447px;height: 280px;border: 0;border-right: 1px solid #fff}
.CHE02512 ul li .topTitulo {width: 380px;text-align: right;float: right;margin: -280px 0 0 0;}
.CHE02512 ul li .topTitulo h2 {float: right;font: normal 26px/ 35px arial;}
.CHE02512 ul li .topTitulo h2 a {color: #fff;background: #333;padding: 4px 10px;}
.CHE02512 ul li p {font: normal 14px/ 17px Arial;color: #dfdfdf;float: right;display: block;width: 160px;text-align: right;margin: 20px 20px 0 0;}
.CHE02512 ul li p a {color: #6A6A6A;}