<div class="CHE00704 gd4 fl bordadefault">
	<ul>
		<li class="nomg">
			<a href="" target="_self">
				<img src="" width="204" height="153" alt="" class="lazy-load" />
			</a>
			<h3></h3>
			<p>
				<cite>
					<a href="" target="_self"></a>
				</cite>
				<span>
					<a href="" target="_self"></a>
				</span>
			</p>
		</li>
	</ul>
</div>
