<div class="CHE08006 gd6 nomgr fl bordadefault" >
<div class="fb-page" data-href="https://www.facebook.com/meiahora/" data-tabs="timeline" data-width="314" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/meiahora/"><a href="https://www.facebook.com/meiahora/">Jornal Meia Hora</a></blockquote></div></div>
<div id="fb-root"></div>
</div>
