<div class="CHE03306 gd6 fl">
	<h2></h2>
	<ul>
		<li class="fl">
			<a href=""><img src="" width="56" height="75" alt="" title="" /></a>
			<cite class="data"></cite>
			<p><a href=""></a></p>
		</li>
	</ul>
</div>