.CHE08012 a.thumb{float:left;}
.CHE08012 .analise-info{float:left;width:244px;height:240px;padding:20px 16px;background:#f9fafc;}
.CHE08012 .analise-info h3{margin:15px 0;}
.CHE08012 .analise-info h3 a{font:bold 22px/24px Arial;}
.CHE08012 .analise-info p{font:normal 14px/18px Arial;color:#23282e;}