<div class="CHE08718 gd6 nomgr fl ">
   <div class="oferecimento">
      OFERECIMENTO: <img src="http://placehold.it/195x70">
   </div>
   <div class="destaques-capas">
      <h4>Destaques</h4>
      <ul>
         <li class="gd3 fl mgr"><a href="" data-imagem-full=""><img src="" width="148" height="170"><h5></h5></a></li>
      </ul>
   </div>
</div>