.CHE02406 {padding-bottom:20px;margin-right:20px}
.CHE02406 a.verMais{color:#FF5E3C;font:bold 12px Arial;}
.CHE02406 h2 {display:block;font:normal 18px/22px Arial;color:#333;text-transform:uppercase;}
.CHE02406 ul {margin-top:16px}
.CHE02406 ul li {float:left;width:100%;margin-bottom:10px;height:75px;}
.CHE02406 ul li img {float:left;margin-right:10px;width:56px;height:75px}
.CHE02406 ul li div {margin:0 15px;}
.CHE02406 ul li h3 {font:bold 12px/13px Arial;margin:0 0 5px 0;}
.CHE02406 ul li p a {color:#ff5e3c;font-weight:bold;}
.CHE02406 .todas {float:left;width:100%;margin-top:10px;height:auto !important;background:none;color:#FF5E3C;font-weight:bold;}