<div class="CHE03612 gd12 fl nomgr">
	<h3></h3>
	<cite></cite> <span class="autor"></span>
	<a class="todas fr" href="">Todos os quadrinhos</a>
	<a class="linkImage" href="#"><img class="quadrinhos" width="650" height="198" src="" alt="" /></a>
	<div class="leiamais"><a href="#">Continue lendo...</a></div>
	<div class="recomendar">
		<iframe src="" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:63px; height:35px;" allowTransparency="true"></iframe>
	</div>
</div>