.CHE02006{margin-right:20px}
.CHE02006 img{float:left;margin-right:25px}
.CHE02006 h4{float:left;width:205px;font:bold 12px arial;margin-bottom:5px}
.CHE02006 p{float:left;width:205px;font:bold 14px/18px arial}