<div class="CHE02806 gd6 fl">
	<h3>Vídeo</h3>
	<a href="#" title="Assista o Vídeo">
		<img width="316" height="237" src="" alt="" />
	</a>
	<div class="bg">
		<a href="#" class="play sprite-sprite" title="Assista o Vídeo"></a>
		<cite><a href="#"></a></cite>
	</div>
</div>