.CHE04006{margin-right: 20px}
.CHE04006 a img {display: block}
.CHE04006 div.dadosenquete {padding:12px 20px 22px 15px;background:#f8f8f8}
.CHE04006 h4{font:bold 18px/21px arial;margin-bottom:12px}
.CHE04006 h5{float:left;width:185px}
.CHE04006 h5 a{font:bold 14px/18px arial}
.CHE04006 div.votar{float:right;width:69px;border-left:1px solid #d1d1d1;padding:10px 1px 8px 16px}
.CHE04006 div.votar a{float:left;font: 11px arial;color:#000;text-transform:uppercase;width:69px;height:29px;line-height:29px;text-align:center;background:#ccc url(http://i0.ig.com/canais/arena/images/votar.gif) no-repeat}
.CHE04006 div.votar a:hover{text-decoration:none}