<div class="CHE00512 gd12 fl">
	<ul>
		<li class="signos aries" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/aries/p1237505138765.html"> Áries </a>
		</li>
		<li class="signos touro" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/touro/p1237505138787.html"> Touro </a>
		</li>
		<li class="signos gemeos" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/gemeos/p1237505138790.html"> Gêmeos </a>
		</li>
		<li class="signos cancer" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/cancer/p1237505138793.html"> Câncer </a>
		</li>
		<li class="signos leao" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/leao/p1237505138799.html"> Leão </a>
		</li>
		<li class="signos virgem" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/virgem/p1237505138802.html"> Virgem </a>
		</li>
		<li class="signos libra nomgb" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/libra/p1237505138805.html"> Libra </a>
		</li>
		<li class="signos escorpiao nomgb" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/escorpiao/p1237505138808.html"> Escorpião </a>
		</li>
		<li class="signos sagitario nomgb" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/sagitario/p1237505138811.html"> Sagitário </a>
		</li>
		<li class="signos capricornio nomgb" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/capricornio/p1237505138814.html"> Capricórnio </a>
		</li>
		<li class="signos aquario nomgb" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/aquario/p1237505138817.html"> Aquário </a>
		</li>
		<li class="signos peixes nomgb" onclick="window.location.href(this.childNodes[0].href);">
			<a href="http://delas.ig.com.br/peixes/p1237505138820.html"> Peixes </a>
		</li>
	</ul>
</div>