<div class="CHE05412 gd12 fl">
	<div id="fb-root"></div><fb:like href="" send="false" width="450" show_faces="false" action="recommend" font="lucida grande" class="fb-share"></fb:like>
	
	<ul class="icones-compartilhe">
		<li>Compartilhar:</li>
		<li><a href="#" class="twitter" title="Compartilhe no Twitter">Compartilhe Twitter</a></li>
		<li><a href="#" class="fb" title="Compartilhe no Facebook">Compartilhe Facebook</a></li>
		<li class="nomgr"><a href="#" class="orkut" title="Compartilhe no Orkut">Compartilhe Orkut</a></li>
	</ul>
</div>
