.CHE01004 {margin-right:20px}
.CHE01004 img{float:left;margin-right:6px}
.CHE01004 cite{font:bold 12px Arial;display:inline-block;width:140px;line-height:14px;text-transform:uppercase;color:#333;}
.CHE01004 h2 a{font:normal 13px Arial;display:block;margin-top:5px;color:#333;}