.CHE05412{height:24px;padding:8px 0;margin-bottom:-20px}
.CHE05412 .icones-compartilhe{float:right;}
.CHE05412 .icones-compartilhe li{float:left;height:24px;margin-right:6px;font:normal 12px/24px Arial;}
.CHE05412 .icones-compartilhe li a{float:left;width:24px;height:24px;text-indent:-15000px;background-image:url(http://i0.ig.com/canais/ultimosegundo/images/icons-share.png)}
.CHE05412 .icones-compartilhe li a.twitter{background-position:0 0}
.CHE05412 .icones-compartilhe li a.fb{background-position:-30px 0}
.CHE05412 .icones-compartilhe li a.orkut{background-position:-60px 0}