<div class="CHE05212 gd12 fl">
	<a href=""  target="_self" class="image"><img src="" width="260" height="195" alt="" /></a>
	<div class="corpo">
		<h2><a href=""></a></h2>
		<cite></cite>
		<ul>
			<li>• <a href=""></a></li>
		</ol>
	</div>
</div>
