.CHE00206 {margin-right: 20px}
.CHE00206 div {float: left;width: 316px}
.CHE00206 div div {float: none;witdh: auto;padding-top: 7px}
.CHE00206 div div a h2,.CHE00206 div div h2 a {display: block;font: bold 14px Arial;padding-bottom: 4px}
.CHE00206 div div a cite,.CHE00206 div div cite a {display: block;font: normal 14px Arial;color: #333}
.CHE00206 div img {display: block}
.CHE00206{margin-right:20px;padding-bottom:5px}
.CHE00206 h3{font:18px/21px arial;text-transform:uppercase;margin-bottom:16px}
.CHE00206 div.wrapper {float:left;width:316px;}
.CHE00206 div.wrapper div{float: none;witdh: auto;padding:7px 0 12px 0}
.CHE00206 div.wrapper div a h2,.CHE00206 div.wrapper div h2 a{display:block;font:bold 14px Arial;color:#333;padding-bottom: 4px;}
.CHE00206 div.wrapper div a cite, .CHE00206 div.wrapper div cite a{display:block;font:normal 12px Arial;color:#333;line-height:16px;}
.CHE00206 div.wrapper img{display:block}