.CHE02806 {margin-right: 20px}
.CHE02806 img {float: left}
.CHE02806 .bg {float: left;background: #F8F8F8;width: 306px;padding: 10px 0 10px 10px}
.CHE02806 .bg a {float: left;color: #313131}
.CHE02806 a.play {background: url(http://i0.ig.com/css/images/sprite_global.gif) no-repeat
.CHE02806 cite {float: left;width: 260px;font-style: normal}