.CHE05103 {margin-right: 20px}
.CHE05103 div {float: none;witdh: auto;}
.CHE05103 div cite {display: block;font: bold 12px Arial;color: #333;margin: 5px 0;}
.CHE05103 img {display: block}
.CHE05103 h2{margin-top:7px}
.CHE05103 a {font: bold 14px Arial;color: #005088}