<div class="CHE08412">
	<h3>Mais Galerias</h3>
	<div>
		<ul class="emp-galeria">
		</ul>
	</div>
	<!-- <div class="paginator-main mgcenter clear">

		<div class="pageselection" style="text-align: center;">
			<ul style="display: inline-block;">
				<li class="selected">
					<a>1</a>
				</li>
				<li>
					<a href="javascript:setPagina(2)">2</a>
				</li>
				<li>
					<a href="javascript:setPagina(3)">3</a>
				</li>
				<li>
					<a href="javascript:setPagina(4)">4</a>
				</li>
				<li>
					<a href="javascript:setPagina(5)">5</a>
				</li>
				<li>
					<a href="javascript:setPagina(6)">6</a>
				</li>
				<li>
					<a href="javascript:setPagina(7)">7</a>
				</li>
				<li>
					<a href="javascript:setPagina(8)">8</a>
				</li>
				<li>
					<a href="javascript:setPagina(9)">9</a>
				</li>
				<li class="next">
					<a href="javascript:setPagina(2);">Próximo</a>
				</li>
			</ul>
		</div>

	</div> -->
</div>