<div class="CHE00206 gd6 fl bordadefault">
	<div class="wrapper">
		<a href=""  target="_self" onclick="return lightBoxiG.show(this.href);"><img src="" width="316" height="237" alt="" /></a>
			<div>
				<h2><a href="" onclick="return lightBoxiG.show(this.href);"></a></h2>
				<cite><a href="" onclick="return lightBoxiG.show(this.href);"></a></cite>
			</div>
	</div>
</div>
