<div class="CHE02406 gd6 fl">
	<h2></h2>
	<ul>
		<li>
			<img src="" alt="" title="" />
			<h3 class="data"></h3>
			<p><a href=""></a></p>
		</li>
	</ul>
	<a class="todas" href=""></a>
</div>