<div class="CHE00212 gd12 fl bordadefault">
	<div class="getHover">
		<h2><a target="_self" href="" onclick="return lightBoxiG.show(this.href);"></a></h2>
		<p><a target="_self" href="" onclick="return lightBoxiG.show(this.href);"></a></p>
	</div>
</div>
