.CHE01703 {margin-right:20px}
.CHE01703 img{float:left;margin-right:6px}
.CHE01703 cite{font:bold 13px/16px Arial;display:inline-block;width:85px;line-height:14px;text-transform:uppercase;color:#333;}
.CHE01703 h2 a{font:bold 13px/15px Arial;display:block;line-height:14px;color:#7b3e77;}