<div class="CHE08518 gd18 nomgr">
	<h2>Andreia do Botafogo exibe suas curvas</h2>

	<span class="data-publicacao">PUBLICADO EM 25/05/2014 ÀS 01:12</span>

	<div class="mais-gatas">
		<a href="#nogo">MAIS GATAS<span></span></a>
	</div>

</div>

<div class="CHE08518 gd12 mgr fl">

	<div class="wrap-galeria gallery-container">
		<div id="gallery" class="gallery-images">
			<a href="#" title=""><img src="http://placehold.it/652x750" width="652" height="750" /></a>
		</div>
	</div>

</div>

<div class="CHE08518 gd6 fl">

	<div class="detalhes-gata">
		<h3>SAIBA MAIS SOBRE ESTA GATA</h3>
		<p>Essa gata adora o Tanque! Mas não é pra lavar roupa, não! Estamos falando do bairro da Zona Oeste do Rio, onde mora a flamenguista Joselma Silva. Ela tem 26 aninhos e trabalha como dançarina e modelo fotográfica. Gatas, mandem suas fotos, com telefone, para <a href="mailto:agatadahora@meiahora.com">agatadahora@meiahora.com</a></p>
	</div>

	<div class="retanguloMedio">
		<div class="formato">
			<img src="http://placehold.it/300x250" />
		</div>
	</div>

</div>

<div class="clear"></div>

<div class=" CHE08518 gd12 mgr fl">

<div class="busca-de-capas">
	<span>Busca Gata:</span>
	<form>
		<input type="text" placeholder="Digite o nome da gata...">
		<select>
			<option value="volvo">Ano</option>
		</select>
		<select>
			<option value="volvo">Mês</option>
		</select>
		<select>
			<option value="volvo">Dia</option>
		</select>
		<input type="submit" value="OK">
	</form>
	<code>i</code>
</div>

<div class="CHE08518 gd6 nomgr fl nomgr">

	<div class="participe">
		<h2>QUER SER A GATA DA HORA?</h2>
		<p>Envie a sua foto e seja destaque no site do Meia Hora. Não perca esta chance!</p>
		<a class="botao" href="#">QUERO SER GATA DA HORA</a>
	</div>

	<div class="retanguloMedio">
		<div class="formato">
			<img src="http://placehold.it/300x250">
		</div>
	</div>

</div>