.CHE00704 {margin-right: 20px}
.CHE00704 ul li p {float: left;padding: 7px 0 0;width: 202px}
.CHE00704 ul li p span a {display: block;font: normal 12px Arial;clear: both;line-height: 14px;color: #333}
.CHE00704 ul li p cite a {display: block;font:bold 16px Arial;padding: 0;clear: both;line-height: 18px;color: #005088}
.CHE00704 ul li img {display: block}
.CHE00704{margin-right:20px;}
.CHE00704 h3{display:block;font:normal 18px/22px Arial;width:100%;text-transform:uppercase;color:#005088;min-height:22px;}
.CHE00704 ul li p{float:left;padding:7px 0 0;width:202px}
.CHE00704 ul li p span a{display:block;font:normal 14px/18px Arial;clear:both;line-height:14px;color:#333;}
.CHE00704 ul li p cite a{display:block;font:bold 12px/14px Arial;padding:0;clear:both;margin-bottom:3px;line-height:18px;color:#333;}
.CHE00704 ul li img{display:block}