.brdb, .CHE02903, .CHE03106{border-bottom:1px dotted #d7d7d7;padding-bottom:15px;margin-bottom:15px;}
.CHE02903 {margin:0 20px 17px 0}
.CHE02903 h3 {margin-bottom:6px;width:100%;font-size:0.917em;text-transform:uppercase;}
.CHE02903 h3 a{color:#333;}
.CHE02903 img{float:left;width:148px;height:111px;border:none}
.CHE02903 p a{float:left;font:1.5em arial;padding-top:5px}