<div class="CHE03906 gd12 nomgt nomgl">
	<div class="box_slide">
		<div class="setas">
		<a class="btn_left" href="javascript:void(0);"><span></span></a>
		<a class="btn_right" href="javascript:void(0);"><span></span></a>
	</div>
		<ul class="foto_titulo">
			<li>
				<a href="">
					<img width="316" height="421" alt="" src="" />
				</a>
				<h1><a href=""></a></h1>
				<h5><a href=""></a></h5>
			</li>
		</ul>
	</div>
	<ul class="thumbs">
		<li>
			<img width="60" height="60" src="" />
		</li>
	</ul>
</div>