<div class="CHE03106 gd6 getHover fl">
	<div>
		<h3><a></a></h3>
		<a href=""  target="_self" class="image"><img src="" width="316" height="237" alt="" /></a>
			<div>
				<p>
					<a href="">
						<b></b>
					</a>
				</p>
			</div>
	</div>
</div>
