<div class="CHE07212 gd12 nomgr nomgt">
	<a href="">
		<img class="destaque" src="" width="652" height="360">
	</a>
	<div class="bgTitulo">
		<div class="topTitulo">	
			<h2><a href=""></a></h2>
			<div style="clear:both;"></div>
			<p>
				<a href=""></a>
			</p>
		</div>
	</div>
</div>