.CHE03306 {margin-right:20px;padding-top:10px;overflow:hidden;}
.CHE03306 h2{color:#333333;display:block;font:18px/22px Arial;min-height:22px;padding-bottom:16px;margin-top:10px;text-transform:uppercase;width:100%;}
.CHE03306 ul li {width:155px}
.CHE03306 img{float:left;margin-right:6px}
.CHE03306 cite{font:bold 13px/16px Arial;display:inline-block;width:85px;line-height:14px;color:#333;}
.CHE03306 p a{font:normal 13px/15px Arial;display:block;line-height:14px;color:#FF5E3C;margin-top:7px}