.CHE03006 {margin-right:20px;margin-bottom:30px}
.CHE03006 img{float:left;margin-right:6px}
.CHE03006 h3{font: bold 18px/20px Arial;display:inline-block;width:200px;color:#333}
.CHE03006 p a{font:normal 13px/15px Arial;display:block;line-height:14px;color:#7b3e77;}