<div class="CHE02903 CHE00803 gd3 getHover fl">
	<h3><a href="" title=""></a></h3>
	<div class="imagem">
		<a href="" title="" class="image">
			<img data-src="" width="148" height="111" alt="" class="lazy-load" />
			<span class="play"></span>
		</a>
	</div>
	<div class="texto">
		<a href="" title=""></a>
	</div>
</div>