<div class="CHE04006 gd6 fl">
	<h3>ENQUETE</h3>
	<a href="" target="_self"><img src="" width="316" height="135" alt="" /></a>
	<div class="dadosenquete">
		<h4></h4>
		<h5><a href="" target="_self"></a></h5>
		<div class="votar">
			<a href="">VOTAR</a>
		</div>
		<div class="clear"></div>
	</div>
</div>