<div class="CHE02512 gd12 nomgr nomgt sprite-sprite">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<ul>
		<li class="">
			<a href="">
				<img class="destaque" src="" width="448" height="280">
			</a>
			<div class="topTitulo">	
				<h2><a href=""></a></h2>
				<div style="clear:both;"></div>
				<p>
					<a href=""></a>
				</p>
			</div>
		</li>
	</ul>
	<nav class="tvFlashNav">
		<a href="#back" class="voltar sprite-sprite">Voltar</a>
		<div>
			<a href="#galleryClick" title="" class="slide inativo sprite-sprite"></a> 
		</div>
		<a href="#next" class="avancar sprite-sprite">Próximo</a>
	</nav>
</div>