.CHE03612{margin-right:20px;position:relative}
.CHE03612 a.verMais{color:#FF5E3C;font:bold 12px Arial;}
.CHE03612 h2 {display:block;font:normal 18px/22px Arial;;color:#333;text-transform:uppercase;padding:15px 0 15px 0}
.CHE03612 img.quadrinhos {margin:5px 5px 0 0;width:650px;height:198px;border:1px solid #f1f1f1;}
.CHE03612 cite {font:normal 12px/13px Arial;color:#333;}
.CHE03612 span {color:#ff5e3c;font-weight:bold;}
.CHE03612 a {color:#ff5e3c;}
.CHE03612 .leiamais{position:absolute;top:233px;left:539px;z-index:100}
.CHE03612 .leiamais a {background:url(http://i0.ig.com/jov/images/leiamais.gif) no-repeat;display:block;text-indent:-999em;width:108px;height:15px;}
.CHE03612 .todas {color:#FF5E3C;font-weight:bold;}
.CHE03612 .oferecimento {font:normal 12px arial;color:#999;margin:-38px 0 0 0}
.CHE03612 .recomendar {width:400px;margin:10px 0 0 0;}