<div class="CHE00306 gd6 fl">
	<ul class="widget">
		<li>
			<h2>
			</h2>
			<ul class="materias">
				<li><a href="" onclick="return lightBoxiG.show(this.href);"></a>
				</li>
			</ul>
		</li>
	</ul>
</div>