<div class="CHE07906 gd6 fl bordadefault">
	<h3>Galerias</h3>
	<ul class="fade">
		<li style="display: list-item;">
			<a href="">
				<img width="316" height="188" alt="" src="">
				<div class="gradient-background"></div>
				<span class="titulo-img"></span>
			</a>
		</li>
	</ul>
	<nav class="navigation-forward-backward">
		<a href="#next" class="bt-gal prev">‹</a>
		<a href="#back" class="bt-gal next">›</a>
	</nav>
	<nav class="navigation">
		<a href="#galleryClick" title="" class="slide inactive"></a>
	</nav>

	<a href="" class="more-gallery">Ver todas as galerias</a>
</div>
