<div class="CHE01206 gd6 fl">
	<h3></h3>
	<ul>
		<li>
			<a href="">
				<img src="" alt="">
			</a>
			<div>
				<cite class="data"></cite>
				<h5><a href="#" class=""></a></h5>
			</div>
		</li>
	</ul>
	<a class="verMais"></a>
</div>