.CHE05006 {margin-right: 20px}
.CHE05006 div {float: none;witdh: auto;}
.CHE05006 div span {display: block;font:bold 12px Arial;color: #333;margin: 10px 0 5px 0;}
.CHE05006 div h2 a{display: block;font:bold 26px/24px Arial;padding-bottom: 4px}
.CHE05006 img {display: block}