<div class="CHE07806 gd6 nomgr fl bordadefault" >
	<h3>Gata da Hora</h3>
	<a href="#">
		<img src="http://placehold.it/316x306" width="316" height="306" alt="">
	</a>
	<h4>Andrea exibe suas curvas</h4>
	<span>Likes</span><span>Shares</span>
</div>
