<div class="CHE08012 gd12 fl">
	<a href="" title="" class="thumb">
		<img src="" width="372" height="280" alt="" />
	</a>
	<div class="analise-info">
		<cite class="nota">
			<span class="star"></span>
			<span class="star"></span>
			<span class="star"></span>
			<span class="star"></span>
			<span class="star"></span>
		</cite>
		<h3><a href="" title="">Metal Gear Solid: Peace Walker</a></h3>
		<p>Não há como negar que o último jogo do estúdio Infinity Ward foi um dos maiores lançamentos da história </p>
	</div>
</div>