.CHE01206 {padding-bottom:20px;margin-right:20px}
.CHE01206 a.verMais{color:#7b3e77;font:bold 12px Arial;}
.CHE01206 h3 {display:block;font:normal 18px/22px Arial;color:#000;text-transform:uppercase}
.CHE01206 ul {margin-top:16px}
.CHE01206 ul li {float:left;width:100%;margin-bottom:10px;height:84px;background:#f8f8f8;}
.CHE01206 ul li img {float:left;margin-right:15px}
.CHE01206 ul li div {margin:10px 15px 0 15px;}
.CHE01206 ul li cite {font:bold 12px/13px Arial;color:#333;margin-bottom:5px;text-transform:uppercase;}
.CHE01206 ul li h5 a {font:bold 14px/16px Arial;color:#7c3e76;margin-bottom:3px;}