 <div class="gd18 CHE08618 mgcenter clear">
   <div class="buscando-capa gd12 mgr fl ">
      <div class="busca-de-capas">
         <span>Busca Capa:</span>
         <form onsubmit="return false;">
            <select id="ano"> 
               <option value="">Ano</option>
               <option value="2016">2016</option>
               <option value="2015">2015</option>
               <option value="2014">2014</option>
               <option value="2013">2013</option>
               <option value="2012">2012</option>
               <option value="2011">2011</option>
            </select>
            <select id="mes">
               <option value="">Mês</option>
               <option value="01">Janeiro</option>
               <option value="02">Fevereiro</option>
               <option value="03">Março</option>
               <option value="04">Abril</option>
               <option value="05">Maio</option>
               <option value="06">Junho</option>
               <option value="07">Julho</option>
               <option value="08">Agosto</option>
               <option value="09">Setembro</option>
               <option value="10">Outubro</option>
               <option value="11">Novembro</option>
               <option value="12">Dezembro</option>                  
            </select>
            <select id="dia">
               <option value="">Dia</option>
               <option value="01">1</option>
               <option value="02">2</option>
               <option value="03">3</option>
               <option value="04">4</option>
               <option value="05">5</option>
               <option value="06">6</option>
               <option value="07">7</option>
               <option value="08">8</option>
               <option value="09">9</option>
               <option value="10">10</option>
               <option value="11">11</option>
               <option value="12">12</option>
               <option value="13">13</option>
               <option value="14">14</option>
               <option value="15">15</option>
               <option value="16">16</option>
               <option value="17">17</option>
               <option value="18">18</option>
               <option value="19">19</option>
               <option value="20">20</option>
               <option value="21">21</option>
               <option value="22">22</option>
               <option value="23">23</option>
               <option value="24">24</option>
               <option value="25">25</option>
               <option value="26">26</option>
               <option value="27">27</option>
               <option value="28">28</option>
               <option value="29">29</option>
               <option value="30">30</option>
               <option value="31">31</option>
            </select>
            <input type="submit" value="OK" onclick="capasMeiahora.buscaCapas();">
         </form>
      </div>
      <div class="clear"></div>

      <ul class="resultado-capa gd12">

      </ul>
      <div class="clear"></div>
   </div>        
</div>