.CHE03906 {float: left;width: 316px;background: #292929;height: 593px;margin-right: 20px;position: relative;overflow: hidden}
.CHE03906 .box_slide {float: left;overflow: hidden;width: 316px;height: 526px}
.CHE03906 ul.foto_titulo {float: left;width: 1580px;position: relative;left: 0px;margin-top: -83px}
.CHE03906 ul.foto_titulo li {float: left;position: relative;width: 316px}
.CHE03906 ul.foto_titulo a {float: left}
.CHE03906 ul.foto_titulo img {float: left}
.CHE03906 .boxTitulo {float: left;width: 316px;height: 90px;position: relative;background: url(http://i0.ig.com/css/images/bg_tv.png) repeat-x scroll
.CHE03906 .foto_titulo h1 a {display: block;font: bold 24px/ 27px Arial;color: #fff;margin: 15px 0 0 18px;width: 280px}
.CHE03906 .foto_titulo h5 a {display: block;font: normal 18px/ 21px Arial;color: #fff;width: 280px;margin-left: 18px}
.CHE03906 .thumbs {float: left;margin-left: 5px}
.CHE03906 .thumbs li {float: left;height: 60px;margin-right: 1px;cursor: pointer}
.CHE03906 .setas {position: relative;top: 150px;height: 83px;width: 316px;z-index: 10}
.CHE03906 .setas a {height: 80px}
.CHE03906 .setas span {background: url(http://i0.ig.com/css/images/setas_tv.png) no-repeat;position: relative;top: 2px;width: 30px;height: 50px;display: block;height: 76px;width: 31px}
.CHE03906 .btn_right {float: right;left: 158px}
.CHE03906 .btn_right span {left: 31px;background-position: -41px 0}
.CHE03906 .btn_left span {float: left;left: -31px}
.CHE03906 .btn_left {float: left}
.CHE03906 .ativo img {float: left;border: 2px solid #EC4D8F;width: 58px;height: 56px}