.CHE02606{margin-right:20px}
.CHE02606 img{float:left;margin-right:20px}
.CHE02606 h4{float:left;width:204px;font:bold 12px arial;margin-bottom:5px}
.CHE02606 p{float:left;width:204px;font:bold 14px/18px arial}