/*.CHE00112 (destaque texto principal)*/
.CHE00112{border-bottom:1px dotted #d7d7d7;padding-bottom:15px;}
.CHE00112 h2{float:left;font:bold 2.833em arial;margin-top:-4px}
.CHE00112 h2 a{float:left; color:#08629a}
.CHE00112 p{float:left;clear:both;font:normal 1.167em/1.5em Arial;width:100%;}
.CHE00112 p a{color: #666;}
.CHE00112.larguraB{width:988px!important}