.CHE01806{float:left;margin-right:20px}
.CHE01806 ul li{width:316px;display:block;position:relative;clear: both;}
.CHE01806 h2 {font:bold 13px/16px Arial;display:inline-block;line-height:14px;text-transform:uppercase;color:#333;}
.CHE01806 ul li ul.materias{float:left;padding-bottom:14px;margin-top:3px;*padding-bottom:11px;position:relative;clear: both;}
.CHE01806 ul.materias li a{font:bold 13px/15px Arial;display:block;line-height:14px;color:#7b3e77;}