<div class="CHE19806 gd6 fl">
	<h3></h3>
	
	<ul>
		<li><a></a></li>
	</ul>
	
	<form method="post" action="javascript:redirect();">
		<label for="combo">Outros Estados</label>
		
		<select name="combo" id="combo">
			<option value="">Option</option>
		</select>
		
		<input id="botaoOk" type="submit" value="Ok">
	</form>
</div>