<div class="CHE16012 gd12 fl">
	<div class="lista-destaque">
		<a href="">
			<img src="" width="148" height="111" alt="" />
		</a>
		<h4><a href=""></a></h4>
		<p><a href=""></a></p>
	</div>
	<div class="lista-meio">
	    <ul class="meio">
	    	<li>
	    		<a href=""></a>
	    	</li>
	    </ul> 
	</div>
	<div class="lista-solr">
	    <div class="theId">
	    	<input type="hidden" name="id" />
			<input type="hidden" name="tipo" />
			<input type="hidden" name="dominio" />
			<input type="hidden" name="secoes" />
			<input type="hidden" name="termos" />
			<input type="hidden" name="canal" />
			<input type="hidden" name="limit" />
			<input type="hidden" name="hasPagination" />
			<textarea name="template" style="display:none;"></textarea>
			<textarea name="beforeRender" style="display:none;"></textarea>
			<textarea name="beforeRenderItem" style="display:none;"></textarea>
			<textarea name="afterRender" style="display:none;"></textarea>
			<textarea name="afterRenderItem" style="display:none;"></textarea>
			<textarea name="callback" style="display:none;"></textarea>
			<ul class="container"></ul>
	    </div>
	    <p>
	    	<a href="">Todas as notícias</a>
	    </p>
	</div>
</div>