.CHE15412{width:640px;position:relative;float:left;margin-top:20px;overflow:hidden;height:437px;border:6px solid #f8f8f8}
.CHE15412 img.destaque{float:left}
.CHE15412 div.bgTitulo{height:55px;padding:10px 20px;position:absolute;bottom:2px;background-color:#181a1e;width:612px;z-index:1}
.CHE15412 .topTitulo{text-align:left}
.CHE15412 .topTitulo h2 {float:left;font:bold 24px/32px arial;margin-top:2px}
.CHE15412 .topTitulo h2 a{color:#b9c6df;padding:4px 0}
.CHE15412 .topTitulo p a{font-size:14px;color:#fff}