<div class="CHE16103 gd3 fl">
	<ul>
		<li class="nomg">
			<a href="" target="_self">
				<img src="" width="148" height="111" alt="" />
			</a>
			<p>
				<cite>
					<a href="" target="_self"></a>
				</cite>
				<span>
					<a href="" target="_self"></a>
				</span>
			</p>
		</li>
	</ul>
</div>