<div class="CHE18012 gd12 fl">
	<h2></h2>
	
	<img src="" alt="" width="288" height="180"/>
	
	<h3></h3>
	
	<p></p>
	
	<a href="" class="win">Versão para <strong>Windows</strong></a>
	<a href="" class="mac">Versão para <strong>Mac</strong></a>
	
	<div class="clear"></div>
</div>