<div class="CHE15712 gd12 fl">
	<div class="destaques-esq-box">
	    <ul>
	    	<li>
	    		<a href="">
			    	<img width="371" height="233" src="" alt="" class="fl">
			    </a>
	   			<strong><a href=""></a></strong>
	   			<cite><a href=""></a></cite>
	    	</li>
	    </ul>	    
	</div>
	<div class="destaques-dir-box">
	    <ul>
	    	<li>
	   			<strong><a href=""></a></strong>
	   			<cite><a href=""></a></cite>
	    	</li>
	    </ul>
	    <p>
			<a " href=""></a>
		</p>
	</div>
	
</div>