.CHE11806{float:left;margin-right:20px;position:relative;min-height:10px;}
.CHE11806 h2 a{font:bold 14px/16px Arial;display:block;}
.CHE11806 p{font:normal 12px/14px Arial;color:#333;margin-bottom:10px;}