.CHE03106{margin:0 20px 15px 0;padding-bottom:15px}
.CHE03106 div{float:left;width:316px}
.CHE03106 div div{float:none;width:auto;padding-top:7px;clear:both}
.CHE03106 div h3{font-size:0.917em;margin-bottom:5px;text-transform:uppercase}
.CHE03106 div h3 a{color:#333;}
.CHE03106 div div p a b{display:block;font:bold 2em Arial;color:#08629a;padding-bottom:4px}
.CHE03106 div div p a:hover b{text-decoration:underline}
.CHE03106 div div p a span{display:block;font:normal 14px Arial;color:#333}
.CHE03106 div img{display:block}
.CHE03106 div div p a b{font:normal 1.5em Arial;}