.CHE12712{margin-bottom:20px;color:#7f3400;}
.CHE12712 a img{float:left;margin-right:20px;}
.CHE12712 a h3{margin:20px 0 5px;font:bold 20px Arial;}
.CHE12712 a p{clear:right;float:left;width:370px;height:40px;margin-bottom:10px;font:normal 14px/18px Arial;}
.CHE12712 a strong{float:left;width:370px;font:bold 12px Arial;color:#7f3400;}