.CHE16012 a{color:#333333;}
.CHE16012 .lista-destaque{width:148px;float:left;}
.CHE16012 .lista-destaque img{float:left;padding-bottom:6px;}
.CHE16012 .lista-destaque h4{display:block;font:bold 14px/18px Arial;padding-bottom:2px;}
.CHE16012 .lista-destaque p{font: 14px/17px Arial;}
.CHE16012 .lista-meio{width:257px;float:left;margin-left:21px;}
.CHE16012 .lista-meio ul li{margin-bottom:13px;font:14px/17px Arial;}
.CHE16012 .lista-meio ul li:first-child{display:block;font: bold 20px/25px Arial;margin-bottom:31px;}
.CHE16012 .lista-solr{width:205px;float:left;margin-left:21px;}
.CHE16012 .lista-solr > p a{color:#005088;font:bold 12px/16px Arial;}
.CHE16012 .lista-solr ul.container li {clear:both;display:block;margin-bottom:7px;padding-bottom:1px}
.CHE16012 .lista-solr ul.container li strong{float:left;margin-right:5px;}