<div class="CHE13012 gd12 fl">
	<h2>
    	<a href=""></a>
    </h2>
	<p>
    	<a href=""></a>
    </p>
    <a href="">
    	<img width="428" height="268" src="" alt="" class="fl">
    </a>
    <ul>
    	<li>
   			<strong><a href=""></a></strong><br />
   			<cite><a href=""></a></cite>
    	</li>
    </ul>
</div>