<div class="CHE15612 gd12 fl">
	<a href=""  class="imagem-destaque" target="_self">
		<img src="" width="428" height="268" alt="" />
	</a>
	<ul class="widget">
		<li>
			<h2>
				<a href=""></a>				
			</h2>
			<p>
				<a target="_self" ></a>
			</p>
		</li>
	</ul>
</div>   