.CHE13012 h2{float:left;font:bold 30px/31px Arial;margin-top:-4px;width:632px;}
.CHE13012 h2 a{float:left;color:#333;}
.CHE13012 p{float:left;margin-bottom:20px;clear:both;font:normal 14px/16px Arial;width:100%;}
.CHE13012 p a{color: #666;}
.CHE13012 ul li{margin-bottom:20px;}
.CHE13012 ul li a{color:#333;font-size:12px;line-height:18px;}
.CHE13012 ul li a strong{font-size:16px;margin-bottom:10px;}
.CHE13012 img{margin-right:20px;}