.CHE18306 {width:316px;padding:15px 0 6px;}
.CHE18306 h3{display:block;font:normal 18px/22px Arial;color:#005088;text-transform:uppercase;float:none!important;margin:0 0 13px -1px;}
.CHE18306 ul li{float:left;width:148px;margin:0 20px 14px 0;}
.CHE18306 ul li img{float:left;margin:3px 9px 0 0;}
.CHE18306 ul li cite a{font:normal 12px/15px Arial;display:block;}
.CHE18306 ul li h2{font:normal 14px/17px Arial;display:block;}
.CHE18306 ul li:nth-child(odd){margin-right:0px!important;}