<div class="CHE14904 gd4 fl">
	<h3></h3>
	<ul>
		<li class="nomg">
			<a href="" target="_self" class="ic">
				<img src="" width="204" height="115" alt="" />
				<span class="play"></span>
			</a>
			<p>
				<cite>
					<a href="" target="_self"></a>
				</cite>
				<span>
					<a href="" target="_self"></a>
				</span>
			</p>
			<div></div>
		</li>
	</ul>	
</div>