.CHE13904{margin-right:20px;}
.CHE13904 ul li p{float:left;padding:7px 0 0;width:202px}
.CHE13904 ul li p span a{display:block;font:normal 14px Arial;clear:both;line-height:14px;color:#666;}
.CHE13904 ul li p cite a{display:block;font:bold 14px Arial;padding:0;clear:both;margin-bottom:3px;line-height:18px;color:#333;}
.CHE13904 ul li img{display:block}