<div class="CHE19704 gd4 fl">
	<ul>
		<li>
			<a href="" target="_self">
				<img src="" width="92" height="92" alt="" />
				<strong></strong>
			</a>
			<span><a href="" target="_self"></a></span>
			<a class="ferramentas" href="" target="_self"></a>
		</li>
	</ul>
</div>