.CHE14904{margin-right:20px;}
.CHE14904 h3{display:block;font:normal 18px/22px Arial;width:90%;text-transform:uppercase;color:#333;min-height:22px;}
.CHE14904 ul li p{float:left;padding:7px 0 0;width:202px}
.CHE14904 ul li p span a{display:block;font:normal 12px Arial;clear:both;line-height:14px;color:#666;}
.CHE14904 ul li p cite a{display:block;font:bold 14px Arial;padding:0;clear:both;margin-bottom:3px;line-height:18px;color:#7F3400;}
.CHE14904 ul li img{display:block}
.CHE14904 ul li a.ic{float:left;position:relative;}
.CHE14904 ul li a.ic .play{position:absolute;left:5px;bottom:5px;width:38px;height:30px;background:url(images/spriteCpVideos.png?v=5) repeat-x 0 1px;}
.CHE14904 ul li div.hd{float:left;width:23px;height:17px;background:url(images/spriteCpVideos.png) repeat-x 0 -29px;}
.CHE14904 ul li div.hdept{float:left;width:23px;height:17px;}