<div class="CHE17806 gd6 fl">
	<input type="hidden" name="jsonTwitter" value="">
	<input type="hidden" name="qtdTwitter" value="">
	<input type="hidden" name="textoFinal" value="">
	<input type="hidden" name="linkFinal" value="">
	<h3></h3>
    <ul id="showingTheTweets"><!-- --></ul>
    <a class="linkGeral " href=""></a>	
</div>