.CHE16612{float: left;background: #F8F8F8;width: 632px;padding: 10px;}
.CHE16612 img{float:right}
.CHE16612 h2 a{font:bold 12px/15px Arial;text-transform:uppercase;}
.CHE16612 p a{font: bold 22px/25px Arial;width: 296px;display: block;margin-bottom: 11px;margin-top: -5px;}