.CHE18206 h3 {display:block;float:none;font:18px Arial;margin-bottom:1px;text-transform:uppercase;}
.CHE18206 ul{counter-reset:list;list-style-type:none;margin-left:-40px;}
.CHE18206 ul li:before {content:counter(list) " ";counter-increment:list;margin-right:10px;color:#999999;font:bold 28px/50px Arial;float:left;}
.CHE18206 ul li p{width:260px;padding-top:7px;}
.CHE18206 ul li p a{color:#333333;font:bold 16px Arial;}
.CHE18206 ul li p cite a{color:#333333;font:normal 12px/15px Arial;}
.CHE18206 a{text-decoration:none;}
.CHE18206 a:hover{text-decoration:underline;}