<div class="CHE17212 gd12">
	<h2></h2>	
    <img class="img1" src="http://i0.ig.com/delas/horoscopo/aspa1.png">
    <p>
		<span></span>
		<img class="img2" src="http://i0.ig.com/delas/horoscopo/aspa2.png">
	</p>
</div>
