<div class="CHE17712 gd12 fl">
	<div class="conteudo_geral">
		<a name="1"></a>
		<div class="box">
			<ul>
				<li><a href="#1">1. Horóscopo de Hoje</a></li>
				<li><a href="#2">2. Recado dos Astros</a></li>
				<li><a href="#3">3. Céu de Hoje</a></li>
				<li><a href="#4">4. A semana</a></li>
				<li><a href="#5">5. Perfil de <span class="nomeSigno"></span> </a></li>
			</ul>
			<input type="hidden" value="2012-01-06" name="datahoje">
		</div>

		<div class="cont_horoscopo first" id="combo1">
			<h2 class="cont_title">1. Horóscopo de hoje <span class="dataSigno"></span></h2>
			<div class="cont_txt">Você já amanhece o dia querendo se
				movimentar, encontrar gente e trocar idéias. Aproveite para dividir
				seus planos com os seus amigos, mas encontre uma maneira mais leve
				de colocar suas opiniões. O tempo é adequado para todos os tipos de
				troca, tanto materiais com afetivas...</div>
		</div>
				

		<a name="2"></a>
		<div class="cont_horoscopo" id="combo2">
			<h2 class="cont_title">2. Recado dos astros para os <span class="signianos"></span></h2>
			<div class="cont_txt">A facilidade de comunicação do signo de
				Gêmeos está sendo muito bem complementada pelo espírito prático do
				Sol em Capricórnio. O céu avisa que falar é ótimo, mas não é o
				suficiente...</div>
			<p class="top">
				<a href="#topo">TOPO</a>
			</p>
		</div>

		<a name="3"></a>
		<div class="cont_horoscopo" id="combo3">
			<h2 class="cont_title">3. Céu de hoje para todos os signos</h2>
			<div class="cont_txt">A sexta-feira amanhece com a natureza
				nervosa da Lua de Gêmeos muito aumentada pela tensão com Marte que
				está no signo de Virgem. Mais do que em outros dias, a felicidade
				vai depender da possibilidade de compreender e ser compreendido.
				Está na hora de falar sobre os sentimentos...</div>
			<p class="top">
				<a href="#topo">TOPO</a>
			</p>
		</div>
		
		
		<a name="4"></a>
		<div class="cont_horoscopo" id="combo4">
			<h2 class="cont_title">4. A semana para <span class="nomeSigno"></span></h2>
			<div class="cont_txt">Com a Lua e Urano começando o ano no seu
				signo, o céu está lhe oferecendo um encanto todo especial. Você vai
				se sentir iluminado e capaz de enfrentar com bom humor qualquer
				desafio que a vida possa trazer. Menos os que envolvam compromissos
				afetivos. Você continua na defensiva.</div>
			<p class="top">
				<a href="#topo">TOPO</a>
			</p>
		</div>

		<a name="5"></a>
		<div class="cont_horoscopo" id="combo5">
			<h2 class="cont_title">5. Perfil de <span class="nomeSigno"></span></h2>
			<div class="cont_txt">
				<p>Primeiro signo do zodíaco, Áries é regido pelo planeta Marte,
					que tem como uma de suas qualidades marcantes a capacidade de
					reagir rápida e automaticamente diante de qualquer situação.</p>
				<p>É por isso que os arianos rendem muito quando são chamados
					para lidar com coisas novas, enfrentar situações de desafio, ou
					participar dos momentos em que as coisas estão começando.</p>
				<p>E é exatamente pelo mesmo motivo que eles ficam tão
					desconfortáveis quando têm que cumprir sempre a mesma rotina, ou
					realizar tarefas que exijam imobilidade e paciência. Para quem
					nasce no tempo dos começos, tudo é possível, menos esperar.</p>
				<p>Por terem chegado neste mundo numa época em que os homens
					tomavam para si a tarefa de pôr a natureza em movimento, os arianos
					consideram naturais as situações em que o homem é desafiado a
					transformar as coisas e a criar uma nova ordem.</p>
				<p>Para eles, as coisas que acontecem na vida ou são estímulos
					ou são provocações. Nos dois casos existe uma necessidade comum: a
					resposta precisa ser imediata.</p>
				<p>Porque têm a consciência do próprio desejo, suportam muito
					mal as situações de frustração.</p>
				<p>Quando eles são extrovertidos, esta energia explosiva aparece
					no temperamento guerreiro, no desejo de comandar, na natureza
					competitiva e na facilidade com que se metem em brigas e disputas.</p>
				<p>Quando são tímidos, sofrem calados, e a ira marciana só
					aparece através da capacidade de ficar vermelho à toa.</p>
				<p>Outra das características marcantes das pessoas que nascem no
					tempo de Áries é a de serem sempre auto-motivados,ou seja, elas só
					fazem aquilo que querem fazer.</p>
				<p>Nada as estimula mais do que a possibilidade de afirmar para
					o mundo a sua própria identidade e de lutar pelos seus próprios
					desejos.</p>
				<p>Nada as irrita ou desestimula mais do que as situações em que
					são obrigadas a assumir atitudes que não correspondem à sua forma
					natural e espontânea de agir.</p>
				<p>Em geral extremamente energéticos, os arianos têm grande
					necessidade de fazer esporte ou qualquer tipo de atividade física.
					Além de competirem com os outros, eles gostam de competir com eles
					mesmos. Adoram aumentar, a cada dia, a distância da corrida ou o
					peso a ser levantado. Ficam felizes quando ganham, até deles
					mesmos, mas são péssimos perdedores.</p>
				<p>Para eles, a pior coisa que pode acontecer na vida é perder a
					confiança neles mesmos.</p>
			</div>
			<p class="top">
				<a href="#topo">TOPO</a>
			</p>
		</div>
	</div>
</div>