.CHE16412 .destaques-esq-box{float:left;width:316px;}
.CHE16412 .destaques-esq-box ul li{float:left;margin-top:15px;padding-bottom:17px;width:100%;}
.CHE16412 .destaques-esq-box ul li img{margin-bottom:3px;}
.CHE16412 .destaques-esq-box ul li strong{display:block;font:bold 14px/17px Arial;padding-bottom:1px;}
.CHE16412 .destaques-esq-box ul li strong a{color:#333;}
.CHE16412 .destaques-esq-box ul li cite{font:14px/17px Arial;}
.CHE16412 .destaques-esq-box ul li cite a{color:#333;}
.CHE16412 .destaques-dir-box{float:left;width:316px;margin-left:20px;}
.CHE16412 .destaques-dir-box ul li{float:left;margin-top:15px;width:100%;}
.CHE16412 .destaques-dir-box ul li strong{display:block;font:bold 16px/19px Arial;margin: 1px 0 2px;}
.CHE16412 .destaques-dir-box ul li strong a{color:#333;}
.CHE16412 .destaques-dir-box ul li cite{font:12px/16px Arial;}
.CHE16412 .destaques-dir-box ul li cite a{color:#333;}
.CHE16412 p{color:#005088;float:left;font:bold 12px/15px arial;margin-top: 14px;}