.CHE00306 {float: left;width: 316px;margin-right: 20px}
.CHE00306 ul {margin-top: -2px}
.CHE00306 ul li {width: 316px;display: block;position: relative;clear: both;overflow: hidden}
.CHE00306{float:left;width:316px;margin-right:20px}
.CHE00306 ul li{width:316px;display:block;position:relative;clear:both;overflow:hidden;}
.CHE00306 h2 {display:block;font:bold 16px/19px Arial;*line-height:21px;color:#333;}
.CHE00306 ul li ul.materias{float:left;padding-bottom:14px;margin-top:3px;*padding-bottom:11px}
.CHE00306 ul.materias li a{font:normal 12px/16px Arial;color:#333;}