.CHE12612{margin-bottom:20px;}
.CHE12612 a:hover{text-decoration:none;background-image:url(images/CHE12612-bg_arrow_a.png);cursor:pointer;}
.CHE12612 a:hover strong{text-decoration:underline;}
.CHE12612 a{float:left;color:#292929;background:#fafafa url(images/CHE12612-bg_arrow.png) no-repeat right center;}
.CHE12612 a img{float:left;margin-right:20px;}
.CHE12612 a h3{float:left;margin:20px 0 13px;font:bold 20px Arial;text-transform:none;}
.CHE12612 a p{float:left;width:370px;*width:330px;height:60px;margin-bottom:20px;font:normal 14px/18px Arial;}
.CHE12612 a strong{float:left;width:370px;font:bold 12px Arial;color:#7f3400;}