.CHE16103{margin-right:20px;}
.CHE16103 h3{display:block;font:normal 18px/22px Arial;padding-bottom:16px;width:100%;text-transform:uppercase;color:#000;min-height:22px;}
.CHE16103 ul li p{float:left;padding:7px 0 0;width:148px}
.CHE16103 ul li p cite a{display:block;font:bold 14px/17px Arial;padding:0;clear:both;margin-bottom:3px;line-height:18px;color:#005088;}
.CHE16103 ul li p span a{display:block;font:normal 14px/17px Arial;clear:both;line-height:14px;color:#666;}
.CHE16103 ul li img{display:block}