<div class="CHE18112 gd12 fl">
	<input type="hidden" id="wallpaperGuiaId"/>
	<h2>Wallpapers</h2>
	
	<div id="wallpaperList"></div>
	
	<div class="clear"></div>
	
	<div id="pagination" class="pagination"></div>
</div>