.CHE12812 {margin-bottom:-20px;border-bottom:1px solid #dbdbdb}
.CHE12812 div{float:left;width:385px}
.CHE12812 div h2{font-size:26px;color:#005088;width:383px;margin-top:15px}
.CHE12812 div p{font-size:12px;color:#333;width:383px}
.CHE12812 cite{float:left;width:105px}
.CHE12812 img{float:left;text-align:right;margin-left:105px}