.CHE15712 .destaques-esq-box{float:left;width:370px;}
.CHE15712 .destaques-esq-box ul li{border-bottom:1px dotted #EEE;float:left;margin-top:15px;padding-bottom:17px;width:100%;}
.CHE15712 .destaques-esq-box ul li img{margin-bottom:3px;}
.CHE15712 .destaques-esq-box ul li strong{display:block;font:bold 20px/25px Arial;padding-bottom:1px;}
.CHE15712 .destaques-esq-box ul li strong a{color:#333;}
.CHE15712 .destaques-esq-box ul li cite{font:14px/17px Arial;}
.CHE15712 .destaques-esq-box ul li cite a{color:#333;}
.CHE15712 .destaques-dir-box{float:left;width:261px;margin-left:21px;}
.CHE15712 .destaques-dir-box ul li{border-bottom:1px dotted #EEE;float:left;margin-top:15px;padding-bottom:17px;width:100%;}
.CHE15712 .destaques-dir-box ul li strong{display:block;font:bold 16px/20px Arial;margin: 1px 0 2px;}
.CHE15712 .destaques-dir-box ul li strong a{color:#333;}
.CHE15712 .destaques-dir-box ul li cite{font:14px/17px Arial;}
.CHE15712 .destaques-dir-box ul li cite a{color:#333;}
.CHE15712 p{color:#005088;float:left;font:bold 12px/15px arial;margin-top: 14px;}