.CHE11506{float:left;width:315px;margin-right:20px;margin-bottom:20px;}
.CHE11506 .thumb{float:left;margin-right:15px;}
.CHE11506 .info cite.modal{font:bold 12px Arial;color:#ccc;}
.CHE11506 .info h4{margin-bottom:10px;}
.CHE11506 .info h4 a{font:bold 14px Arial!important;color:#333!important;}
.CHE11506 .info cite.provas{font:bold 12px Arial;color:#ccc;}
.CHE11506 .info p{font:normal 12px Arial;color:#333;}