.CHE15612 a img{float:left;width:428px;height:268px}
.CHE15612 ul.widget{float:left;width:204px;margin:0px 0 0 20px}
.CHE15612 ul.widget li{float:left}
.CHE15612 ul.widget li h2 a{float:left;margin-bottom:5px;font:bold 16px Arial;line-height:18px}
.CHE15612 ul p{float:left;}
.CHE15612 ul p a{display:block;margin-bottom:15px;font-size:12px;color:#333333;line-height:16px}