<div class="CHE11612 gd12 fl">
	<div id="panModalidades" class="headerModalidades">
		<h3>
			<span class="ico "></span>
			<strong>Modalidade</strong>
		</h3>
		<input type="hidden" id="currModal" />
		
		<select name="modals" id="modals" class="dropfy">
			<option value="">Modalidades</option>
			<option value="atletismo">Atletismo</option>
			<option value="badminton">Badminton</option>
			<option value="basquete">Basquete</option>
			<option value="beisebol">Beisebol</option>
			<option value="boliche">Boliche</option>
			<option value="boxe">Boxe</option>
			<option value="canoagem">Canoagem</option>
			<option value="ciclismo">Ciclismo</option>
			<option value="ciclismo-de-montanha">Ciclismo de Montanha</option>
			<option value="ciclismo-de-pista">Ciclismo de Pista</option>
			<option value="ciclismo-de-estrada">Ciclismo de Estrada</option>
			<option value="esgrima">Esgrima</option>
			<option value="esqui-aquatico">Esqui Aquático</option>
			<option value="futebol">Futebol</option>
			<option value="ginastica-artistica">Ginástica Artística</option>
			<option value="ginastica-ritmica">Ginástica Rítmica</option>
			<option value="handebol">Handebol</option>
			<option value="hipismo">Hipismo</option>
			<option value="hoquei-sobre-grama">Hóquei sobre grama</option>
			<option value="judo">Judô</option>
			<option value="karate">Karatê</option>
			<option value="levantamento-de-peso">Levantamento de peso</option>
			<option value="lutas">Lutas</option>
			<option value="nado-sincronizado">Nado sincronizado</option>
			<option value="natacao">Natação</option>
			<option value="patinacao-sobre-rodas">Patinação sobre rodas</option>
			<option value="pelota-basca">Pelota basca</option>
			<option value="pentatlo-moderno">Pentatlo moderno</option>
			<option value="polo-aquatico">Polo aquático</option>
			<option value="raquetebol">Raquetebol</option>
			<option value="remo">Remo</option>
			<option value="rugby-7">Rugby 7</option>
			<option value="saltos-ornamentais">Saltos Ornamentais</option>
			<option value="softbol">Softbol</option>
			<option value="squash">Squash</option>
			<option value="taekwondo">Taekwondo</option>
			<option value="tenis">Tênis</option>
			<option value="tenis-de-mesa">Tênis de mesa</option>
			<option value="tiro-com-arco">Tiro com arco</option>
			<option value="tiro-esportivo">Tiro esportivo</option>
			<option value="trampolim-acrobatico">Trampolim acrobático</option>
			<option value="triatlo">Triatlo</option>
			<option value="vela">Vela</option>
			<option value="volei-de-praia">Vôlei de praia</option>
			<option value="volei-de-quadra">Vôlei de quadra</option>
		</select>
		
		<div class="clear"></div>
	</div>	
</div>