.CHE18706 div{margin-bottom:15px;}
.CHE18706 cite{clear:both;color:#999;display:block;font:bold 11px Arial;margin-bottom:7px;text-transform:uppercase;}
.CHE18706 img{float:left;margin-right:10px;}
.CHE18706 ul li{float:left;list-style-position:inside !important;list-style-type:disc !important;}
.CHE18706 ul li a{font:12px Arial;}