<div class="CHE15212 gd12 nomgr nomgt">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<ul>
		<li class="">
			<a href="">
				<img class="destaque" src="" width="640" height="400">
			</a>
			<div class="bgTitulo">
				<div class="topTitulo">	
					<h2><a href=""></a></h2>
					<div style="clear:both;"></div>
					<p>
						<a href=""></a>
					</p>
				</div>
			</div>
		</li>
	</ul>
	<nav class="tvFlashNav-forward-backward">
		<a href="#back" class="voltar">Voltar</a>
		<a href="#next" class="avancar">Próximo</a>
	</nav>
	
	<nav class="tvFlashNav">
		<div>
			<a href="#galleryClick" title="" class="slide inativo"></a> 
		</div>
	</nav>
</div>