.CHE11612 .headerModalidades{padding:10px;background:#f7f8f9;margin-bottom:20px;}
.CHE11612 .headerModalidades h3{font:bold 18px Arial;color:#3b5e00;text-transform:uppercase;margin:0;padding:0;}
.CHE11612 .headerModalidades strong{float:left;margin-top:10px;}
.CHE11612 .headerModalidades .box-drop{float:right!important;margin-top:3px;}
.CHE11612 .headerModalidades .box-drop li{margin-bottom:0!important;}