.CHE15212{position:relative;float:left;margin-top:20px;overflow:hidden;height:475px;border:6px solid #f8f8f8;width:640px}
.CHE15212 ul li{float:left;display:block;width:640px;position:relative}
.CHE15212 div.bgTitulo{height:55px;padding:10px 20px;bottom:-72px;background-color:#181a1e;width:600px;z-index:1;margin-top:-3px}
.CHE15212 ul.lista li img.destaque{float:left}
.CHE15212 ul li .topTitulo{width:460px;text-align:left}
.CHE15212 ul li .topTitulo h2 {float:left;font:normal 24px/32px arial;margin-top:2px}
.CHE15212 ul li .topTitulo h2 a{color:#b9c6df;padding:4px 0;font-weight: bold;}
.CHE15212 ul li .topTitulo p a{font-size:14px;color:#fff}
.CHE15212 .tvFlashNav {background: none repeat scroll 0 0 #181A1E;border-left: 1px solid #525851;bottom: 9px;float: left;height: 14px;padding: 21px 15px 20px 14px;position: absolute;right: 0;width: 116px;z-index: 3;}
.CHE15212 .tvFlashNav-forward-backward a,
.CHE15212 .tvFlashNav .slide{background:url(http://i0.ig.com/canais/arena/images/sprite-che02212.png) no-repeat}
.CHE15212 .tvFlashNav-forward-backward{position: absolute;width:646px;z-index: 100;}
.CHE15212 .tvFlashNav-forward-backward a{float:left;width:31px;height:76px;position:absolute;top:140px;text-indent:-1500em}
.CHE15212 .tvFlashNav-forward-backward a.voltar{background-position:0 0}
.CHE15212 .tvFlashNav-forward-backward a.avancar{right:6px;background-position:-32px 0}
.CHE15212 .tvFlashNav{float:left;border-left:1px solid #525851;width:116px;padding:21px 14px 20px 14px;height:14px;position:absolute;bottom:9px;right:0;z-index:3}
.CHE15212 .tvFlashNav .slide{float:left;width:13px;height:13px;font-size:0;background-position:0 -76px;margin:0 4px 0 5px}
.CHE15212 .tvFlashNav .slide.ativo{background-position:-16px -76px}