.CHE17806 {margin-right:20px;margin-bottom:0px}
.CHE17806 h2 {color: #333;display: block;font: 18px/22px Arial;min-height: 22px;padding-bottom: 16px;text-transform: uppercase;width: 100%;}
.CHE17806 ul {width:316px;}
.CHE17806 ul li{margin-bottom:30px;}
.CHE17806 ul li img{margin-bottom:10px}
.CHE17806 ul li p a{font:normal 12px/15px Arial;display:block;color:#333;}