<div class="CHE16612 gd12 fl">
	<a href="" title="">
		<img src="" width="306" height="139" alt="" />
	</a>
	<h2><a>Carnaval do rio</a></h2>
	<p><a>Beija-flor é campeã do carnaval 2011</a></p>
	<ul>
		<li><a href=""></a></li>
	</ul>
</div>