.CHE20006{float:left;width:316px;margin:15px 0px 20px 20px;border-top:1px dotted #eee;padding:20px 0}
.CHE20006 .left-img{float:left;}
.CHE20006 .right{float:right;width:148px}
.CHE20006 cite{display:block;font:bold 12px/15px Arial;margin-top:-2px;text-transform:uppercase}
.CHE20006 h4{display:block;font:bold 14px/17px Arial;margin-top:4px}
.CHE20006 a{float:left;color:#a10d0d}
.CHE20006 .botaoEnquete{float:left;height:46px;margin-top:24px}