<div class="CHE28112 gd12 fl bordadefault">
	<ul class="fade">
		<li>
			<a href="">
				<img width="652" height="367" alt="" src="">
				<div class="gradient-background"></div>
				<span class="titulo-img"></span>
			</a>
		</li>
	</ul>
	<nav class="navigation-forward-backward">
		<a href="#next" class="prev">‹</a>
		<a href="#back" class="next">›</a>
	</nav>
	<nav class="navigation">
		<a href="#galleryClick" title="" class="slide active"></a>
	</nav>
</div>
