.CHE27506 {
    margin-right: 20px;
}

.CHE27506 h3 {
    font: 18px/22px Arial;
    color: #333;
    text-transform: uppercase;
    margin: -4px 0 16px;
}

.CHE27506 .noticia-video ul.container li {
    clear: both;
    display: block;
    border-bottom: 1px dotted #e1e1e1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.CHE27506 .noticia-video ul.container li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.CHE27506 .noticia-video ul.container li a.thumb {
    float: left;
    position: relative;
    margin-right: 20px;
}

.CHE27506 .noticia-video ul.container li a.thumb span.duracao {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 40px;
    height: 30px;
    color: #fff;
    font: bold 9px/9px Arial;
    background: url(http://i0.ig.com/canais/_images/btn-empilhamento-play.png) no-repeat;
}

.CHE27506 .noticia-video ul.container li a.thumb img {
    float: left;
}

.CHE27506 .noticia-video ul.container li cite {
    color: #999;
    font: bold 11px arial;
}

.CHE27506 .noticia-video ul.container li h5 {
    padding-top: 4px;
    margin-bottom: 5px;
}

.CHE27506 .noticia-video ul.container li h5 a {
    font: bold 14px/16px arial;
    color: #324e69;
}

.CHE27506 .noticia-video ul.container li p a {
    color: #666;
    font: 12px/16px arial;
}

.CHE27506 .linkGeral {
    font-weight: bold;
    color: #324e69;
}

.CHE27506 .pagination li {
    float: left;
    margin-right: 3px;
}

.CHE27506 .pagination li.selected,.CHE27506 .pagination li a {
    border: 1px solid #DDD;
    -webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px / 2px;
    border-radius: 2px / 2px;
}

.CHE27506 .pagination li a {
    display: block;
    height: 24px;
    font: bold 10px/24px Arial;
    text-align: center;
}

.CHE27506 .pagination li a.page {
    width: 24px;
    background-position: -77px -204px;
}

.CHE27506 .pagination li.selected {
    width: 24px;
    height: 24px;
    font: bold 10px/24px Arial;
    text-align: center;
}

.CHE27506 .pagination li.selected,.CHE27506 .pagination li a.page:hover {
    background-color: #324e69;
    color: #fff;
    text-decoration: none;
}

.CHE27506 .pagination li.nav a {
    width: 75px;
    background-position: 0 -204px;
    text-transform: uppercase;
}

.CHE27506 .pagination li.nav a:hover {
    background-color: #324e69;
    color: #fff;
    text-decoration: none;
}

.CHE27506 .galeria ul.container li {
    float: left;
    width: 204px;
    height: 240px;
    padding: 0 20px 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

.CHE27506 .galeria ul.container li.nopdr {
    padding-right: 0!important;
}

.CHE27506 .galeria ul.container li>a {
    float: left;
}

.CHE27506 .galeria ul.container li img {
    float: left;
}

.CHE27506 .galeria ul.container li h4 {
    clear: both;
    font: bold 16px/22px Arial;
    font-weight: bold;
    color: #944490;
    margin-bottom: 3px;
}

.CHE27506 .galeria ul.container li cite.data {
    display: block;
    clear: both;
    padding: 3px 0;
    font: bold 11px/18px Arial;
    color: #999999;
}