<div class="CHE24618 gd18">
	<ul class="fade">
		<li>
			<a href="">
				<img width="900" height="467" alt="" src="">
			</a>
		</li>
	</ul>
	<nav class="navigation-forward-backward">
		<a href="#next" class="prev"></a>
		<a href="#back" class="next"></a>
	</nav>
	<nav class="navigation">
		<a href="#galleryClick" title="" class="slide inactive"></a>
	</nav>
</div>