.CHE20606{float:left;background:#f7f0e9;margin-bottom:20px;height:152px}
.CHE20606 .chamadaTexto{float:left;width:240px;margin:15px 0 0 18px}
.CHE20606 h4 a{float:left;font:bold 24px/27px Arial;color:#a10d0d}
.CHE20606 h3{float:left;font:bold 12px/15px Arial;width:220px;text-transform:uppercase;margin:2px 0}
.CHE20606 ul{float:right;margin:20px 20px 0 0}
.CHE20606 ul li{float:left;margin-right:10px;width:180px}
.CHE20606 p a{font:bold 12px/15px Arial;display:block;color:#333;margin:6px 0 10px 0;clear:both}
.CHE20606 a{float:left;color:#333} 