.CHE25112 a{color:#fff;}
.CHE25112 ul{margin-top:20px;}
.CHE25112 li{float:left;margin-right:20px;}
.CHE25112 li figcaption strong{font-size:18px;}
.CHE25112 li figcaption cite{font-style:normal} 
.CHE25112 h3{float:left;color:#fff;font:normal 30px/34px ChunkFive;}
.CHE25112 .st{display:block;width:12px;height:17px;background:url("http://i0.ig.com/canais/centraldoanunciante/images/ctr-sprite.png?v=0.3") -138px -68px;float:left;margin:6px 0 0 6px;}