<div class="CHE23418 gd18 nomgt nomgl">
	<a href="#next" class="browse prev"><</a>
	<a href="#back" class="browse next">></a>
	<ul class="fade">
	    <li>
		<a href="">
		  <img width="671" height="419" alt="" src="">
		</a>
		
		<div class="topTitulo">
			<small>&nbsp;</small>				
			<big></big>
			<h2><a href="" title=""></a></h2>		
		</div>
		<h3><a href="" title=""></a></h3>		
		<h4><a href="" title=""></a></h4>
	    </li>
        </ul>
	<nav class="navigation">
	    <a href="#galleryClick" class="slide inactive" title=""></a>
	</nav>
</div>