.CHE25006 h3{float:left;color:#fff;font:normal 36px/24px ChunkFive;}
.CHE25006 a{color:#fff;}
.CHE25006 .st{display:block;width:12px;height:17px;background:url("http://i0.ig.com/canais/centraldoanunciante/images/ctr-sprite.png?v=0.1") -138px -68px;float:left;margin:6px 0 0 6px;}
.CHE25006 li{height:90px;}
.CHE25006 li{font-size:16px;}
.CHE25006 .esquerda{display:block;width:45px;height:66px;background:url("http://i0.ig.com/canais/centraldoanunciante/images/ctr-sprite.png?v=0.1") 0 -41px;float:left;margin-right:20px;padding-top:7px;}
.CHE25006 .dt{display:block;font-size:22px;color:#fff;text-align:center;}
.CHE25006 .dt div{text-transform:uppercase;font-style:normal;font-size:12px;clear:both;}
.CHE25006 li cite{font-style:normal}