<div class="CHE26112 gd12 fl">
	      <ul>
			    <li class="getHover">
					  <a href="" title="">
							<img width="133" height="75" alt="" data-src="" src="">
							<span class="play"></span>
							<span class="aovivo"></span>
					  </a>
					  <h3>
							<a href="" title="" class=""></a>
					  </h3>
					  <h4>
							<a href="" title="" class=""></a>
					  </h4>
			    </li>
	      </ul>
</div>