<div class="CHE24912 gd12 fl">
  <div id="abas">
  	<a href="" id="aba-left">
  		<div class="aba-content">
  			<span class="icone"></span>
  			<div class="aba-info">
  				<h4></h4>
  				<span class="olho"></span>
  			</div>
  		</div>
  	</a> 	
  	<a href="" id="aba-right">
  		<div class="aba-content">
	 	 	<span class="icone"></span>
	 	 	<div class="aba-info">
		  		<h4></h4>
		  		<span class="olho"></span>
	  		</div>
	  	</div>
  	</a>
  </div>
 </div>