<div class="CHE23609 fl">
	<div class="bg ">
		<a href=""><img src="" width="484" height="303"/></a>
		<h3><a href=""></a></h3>
		<h4><a href=""></a></h4>
		<a href=""><small>+</small></a>
	</div>
</div>