<div class="CHE20006 gd6 fl bordaFoto nomgl">

	<div class="left-img">
		<a href="" target="_self" class="borda">
			<img src="" width="148" height="196" alt="">
		</a>
	</div>
	<div class="right">
		<cite></cite>
		<h4>
			<a href="" target="_self"></a>
		</h4>
		<span class="botaoEnquete">
			<a href="" target="_self">
				<img src="http://i0.ig.com/css/images/bt_enqueteB.gif" alt="Votar" class="botaoVotar">
			</a>
		</span>
	</div>
	
</div>