<div class="CHE23709 gd9 fl">
	<div class='bg '>
		<a href=""><img src="" width="242" height="182"/></a>
		<h3><a href=""></a></h3>
		<h4><a href=""></a></h4>
		<a href=""><small>+</small></a>
	</div>
</div>