.CHE27906{margin:0 20px 15px 0;padding-bottom:15px;}
.CHE27906 div{float:left;width:316px;}
.CHE27906 div div{float:none;width:auto;padding-top:7px;clear:both;}
.CHE27906 div img{display:block;}
.CHE27906 div div p a{font:normal 18px MuseoSans300;}
