<div class="CHE20506 gd6 fl">
	<div class="imagem">
		<a href="" target="_self"><img src="" width="316" height="372" alt="" /></a>
	</div>
	<div class="dadosenquete">
		<h4></h4>
		<h5><a href="" target="_self"></a></h5>
		<div class="votar">
			<a href=""><img class="botaoVotar" alt="" src="http://i0.ig.com/css/images/bt_enquete.gif"></a>
		</div>
		<div class="clear"></div>
	</div>
</div>