  <div class="CHE25406 gd6 fl">
  		<div class="iGRecomenda-header">
	 		 <h2></h2>
	 		 <h3></h3>
	 	</div>
		<a href="#"><img src="#" width="316" height="150" alt="" /></a>
	 	<p><a href="#"></a></p>
  </div>