<div class="CHE25112 gd12 fl">
	<h3><a></a></h3> <span class="st"></span>
	<div class="clear"></div>
	<ul>
		<li>
			<figure>
				<a href="#"><img src="" alt=""></a>
				<figcaption>
					<a href="#"><strong></strong></a><br>
					<a href="#"><cite></cite></a>
				</figcaption>
			</figure>
		</li>
	</ul>
</div>