/*  aba baloes - pagina de CONTATOS e MOBILE */
#abas{float:left;margin-top:30px;width:652px;height:104px}

#abas #aba-left, #abas #aba-right, #abas #aba-left.ativo, #abas #aba-right.ativo{background:url(images/bg-abas-balao.png);height:104px}
#abas .icone-email, #abas .icone-equipe, #abas .icone-aplicativos, #abas .icone-formatos, #abas .ativo .icone-email, #abas .ativo .icone-equipe, #abas .ativo .icone-aplicativos, #abas .ativo .icone-formatos{background:url(images/bg-abas-balao.png);width:49px;height:49px}

#abas #aba-left.ativo{float:left;background-position:0 0;width:327px}
#abas #aba-right{float:right;background-position:-327px 0;width:325px;height:90px}

#abas #aba-left:hover, #abas #aba-right:hover{text-decoration:none}

#abas #aba-left{float:left;background-position:0 -103px;width:326px;height:90px}
#abas #aba-right.ativo{float:right;background-position:-326px -103px;width:326px}

#abas #aba-left .aba-content{padding:19px 0 0 25px}
#abas #aba-right .aba-content{padding:19px 0 0 15px}

#abas .aba-info{margin:5px 0 0 60px}

#abas h4{font:bold 18px Arial;color:#a7a6a6}
#abas .olho{font:normal 12px Arial;color:#c8c8c8}

#abas .ativo h4{font:bold 18px Arial;color:#333333}
#abas .ativo .olho{font:normal 12px Arial;color:#666666}
#abas .ativo .olho-email{color:#ca2020}

#abas .icone-email{float:left;background-position:0 -207px;}
#abas .icone-equipe{float:left;background-position:-103px -207px;}
#abas .icone-aplicativos{float:left;background-position:-207px -207px;}
#abas .icone-formatos{float:left;background-position:-307px -207px;}

#abas .ativo .icone-email{float:left;background-position:-53px -207px;}
#abas .ativo .icone-equipe{float:left;background-position:-155px -207px;}
#abas .ativo .icone-aplicativos{float:left;background-position:-257px -207px;}
#abas .ativo .icone-formatos{float:left;background-position:-358px -207px;}
