.CHE22912 {margin-right:20px}
.CHE22912 img{float:left;margin-right:6px}
.CHE22912 cite{font:bold 12px Arial;display:inline-block;width:500px;line-height:14px;text-transform:uppercase;color:#333;}
.CHE22912 h2 a{font:normal 13px Arial;display:block;margin-top:5px;color:#333;}