.CHE20506{margin-right: 20px}
.CHE20506 div.imagem a img {display: block}
.CHE20506 div.dadosenquete {padding:12px 20px 22px 15px;background:#F8F1E9}
.CHE20506 h4{font:bold 18px/21px arial;margin-bottom:12px}
.CHE20506 h5{float:left;width:185px}
.CHE20506 h5 a{font:bold 14px/18px arial}
.CHE20506 div.votar{float:right;width:69px;border-left:1px solid #D1CBC5;padding:10px 1px 8px 16px}
.CHE20506 div.votar a{float:left;font: 11px arial;color:#000;text-transform:uppercase;width:69px;height:29px;line-height:29px;text-align:center;}
.CHE20506 div.votar a:hover{text-decoration:none}