.CHE23812{float:left;clear:both;width:100%;margin:30px 0}
.CHE23812 h4{font:bold 18px arial;color:#3b5e00;margin-bottom:15px}
.CHE23812 ul{float:left}
.CHE23812 ul li{float:left;width:316px;margin:0 20px 20px 0;float:left;color:#333}
.CHE23812 ul li p{font:bold 14px arial}
.CHE23812 ul li a{font:normal 12px/16px arial}