<div class="CHE23012 gd12 nomgr nomgt">
	<div class="box">
		<a href="" class="img">
			<img class="destaque fl" src="" width="371" height="231">
		</a>
		<h4><a href=""></a></h4>
		<p>
			<a href=""></a>
		</p>
		<a href="#" class="all"><img src="http://i0.ig.com/canais/home/images/newsletter/nw-hp-bt-verinfografico-v2.png" width="248" height="49" border="0"></a>
	</div>
</div>