<div class="CHE21306 gd12 nomgt nomgl">
	<ul class="fade">
	    <li>
		<a href="">
		  <img width="316" height="237" alt="" src="">
		</a>
		<div>
		      <h2><a href="" title=""></a></h2>
		      <p><a href="" title=""></a></p>
		</div>
	    </li>
        </ul>
	<nav class="navigation-forward-backward">
		<a href="#next" class="prev"><</a>
		<a href="#back" class="next">></a>
		
	</nav>
	
	<nav class="navigation">
	    <a href="#galleryClick" class="slide inactive" title=""><img src=""alt=""/></a>
	</nav>

</div>