<div class="CHE20612 gd12 fl">
	<div class="chamadaTexto">
		<h3><a href=""></a></h3>
		<h4><a href=""></a></h4>
	</div>
	<ul>
		<li>
			<a href=""><img src="" width="180" height="101" alt="" /></a>
			<p><a href=""></a></p>
		</li>
	</ul>
</div>