<div class="CHE23812 gd12 fl">
	<h4></h4> 
	<ul>
		<li>
			<p></p>
			<a href="" title="" class="p1">Classificação</a> | <a href="" title="" class="p2">Jogos</a> | <a href="" title="" class="p3">Notícias</a>
		</li>
	</ul>
</div>