<div class="CHE25318 gd18 clear">
	<h2>01. Homepage</h2>
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<td class="formato">Formato</td>
				<td class="fator">Fator</td>
				<td class="preco">Preço</td>
				<td class="visualizar">Visualizar</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Half page</td>
				<td class="precoFormato">Diária</td>
				<td class="fator">R$ 90.000,00</td>
				<td class="linkVisualizar"><a href="#">visualizar</a></td>
			</tr>	
		</tbody>
	</table>
</div>