.CHE23012 {float:left;margin-top:20px;}
.CHE23012 .box{height:255px;}
.CHE23012 .box img.destaque{float:left;margin-right:20px;margin-top: -20px;}
.CHE23012 .box h4 {font:bold 2em Arial;margin-bottom:15px}
.CHE23012 .box p a {color:#333;font:normal 1em Arial;}
.CHE23012 .box a.all{padding-left:9px;position:absolute;left:400px;bottom:50px;font:bold 12px Arial;}