<div class="CHE22303 gd3 fl">
	<a href="" title="">
		<img src="" width="148" height="111" alt="" />
	</a>
	<strong></strong>
	<h4>
		<a href="" title=""></a>
	</h4>
	<h5>
		<a href="" title=""></a>
	</h5>
</div>