<div class="CHE25006 gd6 fl ml20">
	<h3></h3> <span class="st"></span>
	<div class="clear"></div>
	<ul>
		<li>
			<span class="esquerda">
				<span class="dt"></span><div class="mes"></div>
			</span>
			<div class="direita">
				<a href="#"><strong></strong> <cite></cite></a>
			</div>
		</li>
	</ul>
</div>