.CHE21803{margin:0 20px 20px 0}
.CHE21803 a{color: #333 !important}
.CHE21803 cite{font: bold 11px/15px arial;color: #666;text-transform: uppercase}
.CHE21803 h3{font:bold 18px/21px arial;margin:2px 0 3px;text-transform:none !important}
.CHE21803 ul li{list-style: disc inside none;margin: 0 0 3px}