<div class="CHE22606 gd6 fl">
	<h3>MERCADO DA BOLA</h3>
	
	<div class="jogador">
	
		<div class="top-right">
			<img src="" width="92" height="123" class="fotoJogador" alt="" />
		
			<strong>
				<a href="" target="_self" class="nomeJogador"></a>
			</strong>
			<p>
				<a href="" target="_self" class="posicaoJogador"></a>
			</p>
		</div>

		<div class="right">
			<div>
				<img src="" width="48" height="48" alt="" class="timeOrigem" />
			</div>
	
			<big>
				<strong>
					<a href="" target="_self" class="valor">16</a>
				</strong>
				<small>
					<a href="http://esporte.ig.com.br/futebol/mercado+da+bola+veja+as+transferencias/n1237865969069.html"  target="_self">milhões*</a>
				</small>
			</big>
					
			<div>
				<img src="" width="48" height="48" alt="" class="timeDestino" />
			</div>
		</div>
	
	
		<div class="transferencias">
							
			<strong>
				<a href="http://esporte.ig.com.br/futebol/mercado+da+bola+veja+as+transferencias/n1237865969069.html"  target="_self" class="nopdt">Todas as transferências</a>
			</strong>
			<span>
				<a href="http://esporte.ig.com.br/futebol/mercado+da+bola+veja+as+transferencias/n1237865969069.html"  target="_self">*Valor em reais</a>
			</span>
		</div>
	</div>
</div>