<div class="CHE27506 gd6 fl">
	<h3></h3>
	<ul class="container">
		<li class="odd">
			<a href="" class="thumb" onclick="return lightBoxiG.show(this.href);">
				<img width="111" height="83" src="" alt="">
			</a>
			<div class="right">
				<cite style="display:block;" class="data"></cite>
				<h5>
					<a href="" title="" onclick="return lightBoxiG.show(this.href);"></a>
				</h5>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
	<div class="clear"></div>
	<a class="linkGeral " href="/noticias">Todas as notícias</a>
	<div class="clear"></div>
</div>