<div class="clear"></div>
		<div class="gd18 CHE33412 mgcenter clear">
			<div class="buscando-capa gd12 mgr fl ">
				<div class="busca-de-capas">
					<span>Busca Capa:</span>
					<form>
						<select>
							<option id="year" value="">Ano</option>
						</select>
						<select>
							<option id="month" value="">Mês</option>
						</select>
						<select>
							<option id="day" value="">Dia</option>
						</select>
						<input type="submit" value="OK">
					</form>
					<code>i</code>
				</div>
				<div class="clear"></div>
				<ul class="resultado-capa gd12">
					<li class="gd4 fl bordadefault">
						<h4>Quarta - 31/05/2015</h4>
						<img src="http://s0.ejesa.ig.com.br/img/meiahora/capa/2015/20150706_314x361.jpg" width="204" height="232" />
						<div class="sharing-close">
							<ul>
								<li class="hidden-ico"><a href="#"><span class="icon facebook">fb</span>Facebook</a></li>
								<li class="hidden-ico"><a href="#"><span class="icon twitter">tw</span>Twitter</a></li>
								<li class="hidden-ico"><a href="#"><span class="icon google">g+</span>Google +</a></li>
								<li>
									<code><a href="#"><span class="icon download"></span></a></code>
									<code><a href="javascript:void(0);"><span class="icon shared" ></span></a></code>
									<code><a href="#"><span class="icon zoom" ></span></a></code>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>