	<div class="warp-fundo-cinza CHE33318">
		<div class="gd18 mgcenter clear">
			<div class="gd18 nomgr">
				<h2 id="data-semana"></h2>
				<div class="barra-compartilhamento">
					<ul class="share-icons">
						<li class="facebook">
								<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;" title="Compartilhe no Facebook" class="social-icon-facebook"></a>
						</li>
						<li class="twitter">
								<a href="#" onclick="window.open('http://twitter.com/intent/tweet?text='+encodeURIComponent(location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="Compartilhe no Twitter" class="social-icon-twitter"></a> 
						</li> 
						<li class="whatsapp">   
							<a class="social-icon-whatsapp" href="javascript:window.location='whatsapp://send?text=Meia Hora - '+ encodeURIComponent(MEIAHORA.UTEIS.getMetaName('mh-section-name')) +' - '+encodeURIComponent(document.querySelector('link[rel=\'canonical\']').href)+'';"></a>
						</li>
					</ul> 
				</div>  

				<div class="share-download">
					<a target="_blank" href="#" download="#" class="download-pdf">Download do Capa <span>i</span> </a>
					<!--<a href="#" class="download-more">Mais Capas <span>i</span></a>-->
				</div>
				<div class="clear"></div>
				<div class="gd12 mgr fl">
					<div class="wrap-galeria">
						<div class="galeria-de-fotos">
							<img src="" width="652" height="740" />
						</div>
						<div class="bx-controls-direction">
							<a class="bx-prev" href="#">Prev</a>
							<a class="bx-next" href="#">Next</a>
						</div>
					</div>

				</div>
				<div class="comentarios-capa gd6 nomgr fl">
					<div class="MHPUB8818">
						<div id="retangulo_medio_1">
						</div>
					</div>
					<h3><span>i</span> Deixe seu comentário</h3>
						<div class="fb-comments" data-href="http://meiahora.ig.com.br/capas/" data-width="316" data-numposts="2"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>