<div id="conteudo" itemprop="articleBody" class="pelo-mundo">
	<div class="noticia-header" >
		<h1 itemprop="name"></h1>
		<h2></h2>
		<div class="barra-superior nobdb">
			<div>
			<p>
				<span itemprop="creator" itemscope itemtype="http://schema.org/Person"><strong  itemprop="name"></strong></span>
			</p>
			</div>              
		</div>
	</div>
	<div class="share-tools" style="clear:both;"></div>

	<div id="noticia" class="noticia" itemprop="articleBody">
		<div class="img-principal gd6"></div>
		<div class="content"></div>
	</div>
	<div class="share-tools" style="clear:both;"></div>
</div>