.delasNewsletterIsland{margin-right: 20px}
.delasNewsletterIsland div {float: left;width: 300px}
.delasNewsletterIsland div img {display: block}
.delasNewsletterIsland{margin-right:20px;padding-bottom:5px}
.delasNewsletterIsland div.wrapper {float:left;width:300px;}
.delasNewsletterIsland div.wrapper div{float: none;witdh: auto;padding:7px 0 12px 0}
.delasNewsletterIsland div.wrapper img{display:block;border: 3px solid #f8f8f8}