<div>
	<div id="pets-indice">
		<div class="glossarioGuias gd12 fl"
			id="CB8D40DE-2D3B-46C5-B88B-2EB9C0843C0F">
			<input type="hidden" id="idForm" value="4f3a69df97d66fe17800013a">
			<input type="hidden" id="qtdeItens" value="999">
	
			<div id="busca-glossario-indice" class="borda">
				<div>
					<ul id="aba_busca-indices">
						<li class="link_caes"><a
							href="/bichos/guia-de-bichos/cachorro">Cães</a>
						<div class="left"></div>
							<div class="right"></div></li>
						<li class="link_gatos"><a
							href="/bichos/guia-de-bichos/gato">Gatos</a>
						<div class="left"></div>
							<div class="right"></div></li>
						<li class="link_passaros"><a
							href="/bichos/guia-de-bichos/passaro">Pássaros</a>
						<div class="left"></div>
							<div class="right"></div></li>
						<li class="link_peixes"><a
							href="/bichos/guia-de-bichos/peixe">Peixes</a>
						<div class="left"></div>
							<div class="right"></div></li>
						<li class="link_exoticos"><a
							href="/bichos/guia-de-bichos/animais-exoticos">Exóticos</a>
						<div class="left"></div>
							<div class="right"></div></li>
					</ul>
				</div>
	
				<div class="box-indice">
					<ul id="indice">
						<li><a href="#A">A</a></li>
						<li><a href="#B">B</a></li>
						<li><a href="#C">C</a></li>
						<li><a href="#D">D</a></li>
						<li><a href="#E">E</a></li>
						<li><a href="#F">F</a></li>
						<li><a href="#G">G</a></li>
						<li><a href="#H">H</a></li>
						<li><a href="#I">I</a></li>
						<li><a href="#J">J</a></li>
						<li><a href="#K">K</a></li>
						<li><a href="#L">L</a></li>
						<li><a href="#M">M</a></li>
						<li><a href="#N">N</a></li>
						<li><a href="#O">O</a></li>
						<li><a href="#P">P</a></li>
						<li><a href="#Q">Q</a></li>
						<li><a href="#R">R</a></li>
						<li><a href="#S">S</a></li>
						<li><a href="#T">T</a></li>
						<li><a href="#U">U</a></li>
						<li><a href="#V">V</a></li>
						<li><a href="#W">W</a></li>
						<li><a href="#X">X</a></li>
						<li><a href="#Y">Y</a></li>
						<li><a href="#Z">Z</a></li>
						<li class="todos nobdr ativo"><a href="#todos">Todos</a></li>
					</ul>
					<div class="clear"></div>
				</div>
	
				<div id="results" class="sites"></div>
	
				<h3 class="error" style="display: none;">
					Ops! Nenhuma ocorrência com a letra <span class="letra">E</span> foi
					encontada. <small>Escolha outra letra ou clique na opção
						"Todos"</small>
				</h3>
	
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>