	<div>       	 
        <div id="educacao-az">
        	<p>Autoridade, limites, brinquedos: conceitos fundamentais da educação do seu filho explicados de A a Z</p>        	
			<div class="CHE05412 gd12 fl" style="margin:15px 0 0 0;padding:0;">
				<div id="fb-root"></div><fb:like href="" send="false" width="450" show_faces="true" action="recommend" font="lucida grande" class="fb-share"></fb:like>
				
				<ul class="icones-compartilhe">
					<li>Compartilhar:</li>
					<li><a href="#" class="twitter" title="Compartilhe no Twitter">Compartilhe Twitter</a></li>
					<li><a href="#" class="fb" title="Compartilhe no Facebook">Compartilhe Facebook</a></li>
					<li class="nomgr"><a href="#" class="orkut" title="Compartilhe no Orkut">Compartilhe Orkut</a></li>
				</ul>
			</div>
        	
        	<div id="guia-container">
        	
        	</div> 	
        </div>
</div>