<div class="conceito gd12 fr">

	<input type="hidden" name="id" value="" id="theId"/>
	<input type="hidden" name="tipo" value="" id="conceitoPalavrasChave"/>
	
	<article class="main interna">
		<div class="faixa">
			
			<div class="conceito-header">
				<h2 class="titulo"></h2>
				<p></p>
			</div>
			
			<div class="CHE05412 gd12 fl">
				<div id="fb-root"></div><fb:like href="" send="false" width="450" show_faces="true" action="recommend" font="lucida grande" class="fb-share"></fb:like>
				
				<ul class="icones-compartilhe">
					<li>Compartilhar:</li>
					<li><a href="#" class="twitter" title="Compartilhe no Twitter">Compartilhe Twitter</a></li>
					<li><a href="#" class="fb" title="Compartilhe no Facebook">Compartilhe Facebook</a></li>
					<li class="nomgr"><a href="#" class="orkut" title="Compartilhe no Orkut">Compartilhe Orkut</a></li>
				</ul>
			</div>
			<style type="text/css">
			/* Leia tambÃ©m context */
			.conceito-conteudo .context h3{font:bold 16px/22px arial;padding-bottom:4px;color:#333;margin:0}
			.conceito-conteudo aside.context ul li{list-style:none!important}
			.conceito-conteudo .context ul li {
			padding: 6px 0 7px 0;
			border-bottom: 1px solid #E0E0E0;
			}
			</style>
			<div class="conceito-conteudo">
				
				<img src="" alt="" width="652" id="imagemPrincipal" />
				
				<aside class="context context-conceito gd6 fl">
				  <h3>Leia também:</h3>
				  <ul id="listaLinks">
				    <li>
				      <a href="http://ultimosegundo.ig.com.br/politica/entenda-a-crise-envolvendo-o-senador-demostenes-torres/n1597724713185.html">Veja o histórico da crise envolvendo o senador</a>
				    </li>
				    <li>
				      <a href="http://ultimosegundo.ig.com.br/politica/advogado-de-demostenes-quer-anulacao-de-inquerito/n1597731228043.html">Advogado de defesa quer anulação de inquérito</a>
				    </li>
				    <li>
				      <a href="http://ultimosegundo.ig.com.br/politica/demostenes-sai-do-dem-mas-nao-abre-mao-de-mandato-no-senado/n1597730774097.html">Demóstenes deixa DEM, mas fica com mandato</a>
				    </li>
				    <li>
				      <a href="http://ultimosegundo.ig.com.br/politica/mafia-do-jogo-foi-a-predio-de-demostenes-em-brasilia/n1597731811340.html">'Máfia do jogo' foi a prédio de Demóstenes</a>
				    </li>
				    <li>
				      <a href="http://colunistas.ig.com.br/poderonline/2012/03/27/demostenes-deixa-a-lideranca-do-dem-no-senado/">Demóstenes deixa liderança do DEM</a>
				    </li>
				    <li>
				      <a href="http://ultimosegundo.ig.com.br/politica/chefes-de-mafia-dos-cacaniqueis-sao-presos-pelo-pais/n1597657134857.html">Cachoeira é preso em operação da Polícia Federal</a>
				    </li>
				    <li>
				      <a href="http://colunistas.ig.com.br/lucianosuassuna/2012/04/10/as-aguas-profundas-da-cpi-do-cachoeira/">Análise: O que está em jogo na CPI do Cachoeira</a>
				    </li>
				  </ul>
				</aside>
				
				<div class="conceito-texto">
					
				</div>
			</div>		
		</div>
		
		<div class="faixa" style="border-bottom:0;padding-bottom:0;margin-bottom:0;" id="boxConceitosRelacionados">
		
			<div class="header-conceitos">
				<h3>CONCEITOS RELACIONADOS</h3>
				<a href="/filhos/dicionario-educacao" class="todos-conceitos">todos os conceitos</a>
			</div>
			
			<div class="clear"></div>
			
		</div>
		
	</article>
</div>