<div class="delasPets gd12 fr">

	<style type="text/css">
		.CHE00704 ul li p cite a{line-height:16px;height:20px;overflow-y:hidden;}
		.CHE00704 ul li p span a{line-height:16px;height:32px;overflow-y:hidden;color:#333;}
		#pets-relacionados h3{display:block;padding-bottom:16px;color:#000;font:normal 18px/22px Arial;text-transform:uppercase;}
		
	</style>

	<input type="hidden" id="formId" />
	<article class="main interna">
		<div class="faixa">
			
			<div class="CHE05412 gd12 fl">
				<div id="fb-root"></div><fb:like href="" send="false" width="450" show_faces="true" action="recommend" font="lucida grande" class="fb-share"></fb:like>
				
				<ul class="icones-compartilhe">
					<li>Compartilhar:</li>
					<li><a href="#" class="twitter" title="Compartilhe no Twitter">Compartilhe Twitter</a></li>
					<li><a href="#" class="fb" title="Compartilhe no Facebook">Compartilhe Facebook</a></li>
					<li class="nomgr"><a href="#" class="orkut" title="Compartilhe no Orkut">Compartilhe Orkut</a></li>
				</ul>
			</div>
			
			<h2 class="titulo"></h2>
			
			<div class="ficha-animal">
				<div class="imagem-animal">
					<img alt="" width="315" height="315" src="">
					<cite class="credito-label"></cite>
					<span class="credito-legenda"></span>
				</div>
				
				<div class="dados-tecnicos">
					<div class="info nome-brasil"><strong>Nome no Brasil</strong> <span>Rockstar Games</span><div class="clear"></div></div>
					<div class="info nome-ingles"><strong>Nome em inglês</strong> <span>Aventura</span><div class="clear"></div></div>
					<div class="info nome-original"><strong>Nome original</strong> <span>18/05/2010</span><div class="clear"></div></div>
					<div class="info nome-cientifico"><strong>Nome científico</strong> <span>18/05/2010</span><div class="clear"></div></div>
					<div class="info tipo-agua"><strong>Tipo de água</strong> <span>Lorem</span><div class="clear"></div></div>
					<div class="info pais-origem"><strong>País de origem</strong> <span>Lorem</span><div class="clear"></div></div>
				</div>
			</div>		
		</div>
		
		<div class="faixa faixa-dd faixa-descricao">
			<h3>Descrição</h3>
			
			<div class="texto"></div>
		</div>
		
		<div class="faixa faixa-dd faixa-caracteristica">
			<h3>Características</h3>
			
			<div class="texto"></div>
		</div>
		
		<div class="faixa faixa-dd faixa-cuidados_basicos">
			<h3>Cuidados básico</h3>
			
			<div class="texto"></div>
		</div>
		
		<div class="faixa faixa-dd faixa-alimentacao">
			<h3>Alimentação</h3>
			
			<div class="texto"></div>
		</div>
		
		<div class="faixa faixa-dd faixa-espaco_minimo">
			<h3>Espaço para criação</h3>
			
			<div class="texto"></div>
		</div>
		
		<div class="faixa faixa-dd faixa-custo">
			<h3>Custo de manutenção</h3>
			
			<div class="texto"></div>
		</div>
		
		<div class="faixa faixa-dd faixa-curiosidades">
			<h3>Curiosidades</h3>
			
			<div class="texto"></div>
		</div>
		
		
		
		<div class="faixa faixa-dd faixa-video" id="container-videos" style="">
			<h3>Vídeo</h3>
							
			<input type="hidden" id="videosInput" />
			<div id="videos" rel="123123123"></div>
		</div>	
				
	</article>
	
	<div id="pets-relacionados" class="faixa nobdb">
		<h3>Veja outras raças de cães</h3>
		<div class="CHE00704 gd4 fl" id="890578D8-6768-485A-B2D3-832A5B2A3F14">
			<ul>
				<li class="nomg" id="pet-rel-1" style="display:none;">
					<a href="link">
						<img width="204" height="204" alt="" src="imagem">
					</a>
					<p>
						<cite>
							<a href="link">titulo</a>
						</cite>
						<span>
							<a href="link">descricao</a>
						</span>
					</p>
				</li>
			</ul>
		</div>
		<div class="CHE00704 gd4 fl" id="890578D8-6768-485A-B2D3-832A5B2A3F14">
			<ul>
				<li class="nomg" id="pet-rel-2" style="display:none;">
					<a href="link">
						<img width="204" height="204" alt="" src="imagem">
					</a>
					<p>
						<cite>
							<a href="link">titulo</a>
						</cite>
						<span>
							<a href="link">descricao</a>
						</span>
					</p>
				</li>
			</ul>
		</div>
		<div class="CHE00704 gd4 fl nomgr" id="890578D8-6768-485A-B2D3-832A5B2A3F14">
			<ul>
				<li class="nomg" id="pet-rel-3" style="display:none;">
					<a href="link">
						<img width="204" height="204" alt="" src="imagem">
					</a>
					<p>
						<cite>
							<a href="link">titulo</a>
						</cite>
						<span>
							<a href="link">descricao</a>
						</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
	
</div>