<div>
	<div id="guia-nome-filhos-container">
		<div id="guia-nome-filhos">
			<input type="hidden" id="palavras-chave" value="hebraico, hebraica, carregar, transportar, fardo, bíblia, profeta, amos">
			<h1><big></big><small></small></h1>   		
			<div class="box-origem box-filho-info">
				<h2>Origem</h2>
				<div class="origem texto"></div>
			</div>
					
			<div class="box-significado box-filho-info">
				<h2>Significado</h2>
				<div class="significado texto"></div>
			</div>
					
			<div class="box-curiosidade box-filho-info">
				<h2>Curiosidade</h2>
				<div class="box-curiosidade texto"></div>
			</div>
					
			<div class="box-variantes box-filho-info">
				<h2>Variantes</h2>
				<div class="variantes texto"></div>
			</div>
					
			<div class="box-relacionados box-filho-info" style="display:none;">
				<h2 class="relacionados">Nomes Relacionados</h2>
				<div></div>
			</div>
					
			<div class="clear"></div>
					
			<!--<div class="nome-filho-anterior nome-filho-suggest">
				<h3>Nome Anterior</h3>
				<a href=""><span class="arrow">&laquo;</span> <span class="nome">Gabriela</span></a>
			</div>
			
			<div class="nome-filho-proximo nome-filho-suggest">
				<h3>Próximo nome</h3>
				<a href=""><span class="arrow">&raquo;</span><span class="nome">Gabriela</span></a>
			</div>-->
					
		</div>
				
		<div class="widget-filhos-nomes">
			<h2>Widget</h2>
			
			<iframe id="widget-iframe" src="http://extras.ig.com.br/widgets/delas/filhos/significado-dos-nomes/?q=" width="204" height="500" scrolling="no" frameborder="0"></iframe>
		</div>
		
		<div class="clear"></div>
				
				
				
	</div>
</div>