<div class="mod-slideshow-lateral diversao-downloads plugin-off">
	<h2><a href="">DIVERSÃO E DOWNLOADS</a></h2>
	<ul>
		<li class="selecao">
			<a class="foto" href=""><img width="186" height="260" src="" alt="" title=""></a>
			<div class="texto">
				<h3><a href="">+ </a></h3>
				<p><a href=""></a></p>
			</div>
			<span class="opacidade"></span>
		</li>
	</ul>
	<div class="paginacao">
		<a class="selecao">1</a>
		<a>2</a>
		<a>3</a>
	</div>
	<a class="todos" href="">VER TODOS</a>
</div>