<div id="economiaAZIndice" class="economiaAZIndice gd12 fr">
	
	
	<div id="indiceLetras">
		<a href="" rel="[^a-z]">#</a>
		<a href="" rel="a">a</a>
		<a href="" rel="b">b</a>
		<a href="" rel="c">c</a>
		<a href="" rel="d">d</a>
		<a href="" rel="e">e</a>
		<a href="" rel="f">f</a>
		<a href="" rel="g">g</a>
		<a href="" rel="h">h</a>
		<a href="" rel="i">i</a>
		<a href="" rel="j">j</a>
		<a href="" rel="k">k</a>
		<a href="" rel="l">l</a>
		<a href="" rel="m">m</a>
		<a href="" rel="n">n</a>
		<a href="" rel="o">o</a>
		<a href="" rel="p">p</a>
		<a href="" rel="q">q</a>
		<a href="" rel="r">r</a>
		<a href="" rel="s">s</a>
		<a href="" rel="t">t</a>
		<a href="" rel="u">u</a>
		<a href="" rel="v">v</a>
		<a href="" rel="w">w</a>
		<a href="" rel="x">x</a>
		<a href="" rel="y">y</a>
		<a href="" rel="z">z</a> 
		<a href="" rel="." class="todas ativo">Todas</a>	
	</div>
		
	<form onsubmit="return setActionAndSubmit();" name="formGlossario" id="formGlossario" action="" method="get">
		<fieldset>			
			<label>Digite o termo que deseja encontrar <span>(Ex.: <i>home broker</i>)</span> </label>			
			<input type="hidden" value="1237553972843" name="cid">
			<input type="hidden" value="" name="pagina" id="pagina">
			<input type="hidden" value="B" name="letra" id="letra">
			<input type="hidden" value="" name="busca">	
			<input type="text" value="" name="termos" id="termos" class="text">
			<input type="submit" onclick="javascript:chamaBuscaForm();" class="submit" value="Buscar" name="Buscar">
		</fieldset>				
		
	</form>
	
	<div id="pagination"></div>
</div>