.EJEHLE00402{
	border:0px;
	float:left;
	margin:0px;
	padding:0px;
	width:300px;
}

.EJEHLE00402 .headline-img{
	float: left;
	margin-right: 10px;
}

.EJEHLE00402 .headline-img a img{
	float: left;
	width: 140px;
	height: 100px;
}

.EJEHLE00402 .headline{
	border-bottom: 1px dotted #949494;
    float: left;
    margin-bottom:10px;
    padding-bottom: 25px;
    width: 300px;
    max-height: 100px;
}

.EJEHLE00402 .headline-title{
	overflow:hidden;
	width: 135px;
	float:left;
}

.EJEHLE00402 .headline-title a{
	color: #004c87;
	font-family: Arial;
	font-size: 18px;
	text-decoration: none;
	line-height: 20px;
	float:left;
}

.EJEHLE00402 .headline-title a:hover{
	text-decoration: underline;
	float:left;
}

.EJEHLE00402 .headline-hat{
	float: left;
	overflow:hidden;
	padding-bottom: 4px;
	height: 19px;
}

.EJEHLE00402 .headline-hat a{
	color: #949494;
	float:left;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
	text-transform: uppercase;
}

.EJEHLE00402 .headline1-hat a:hover{
	text-decoration: underline;
}
