
<div class="EJEHLE02304">
	<div class="headline-img">
		<a title="" href="#" target="">
			<img src="" alt="" width="620" height="250"/>
		</a>
	</div>
	<div class="headline">
		<div class="headline-title">
			<a href="#" title="" target-=""></a>
		</div>
	</div>
	<style type="text/css">
		.EJEHLE02304 {width: 620px; float: left; display: block; position: relative; min-height: 300px; }
		.EJEHLE02304 .headline-title a {color: #06c;font-family: Arial;font-size: 26px;font-weight: 700;line-height: 28px;text-decoration: none; display: block; padding: 10px 0 20px 0;}
		.EJEHLE02304 .headline-title a:hover {color: #069;}
	</style>
</div>

