<!-- component EJEHEA00101 -->
<div id="igbar"> 
	<script type="text/javascript" src="http://js.statig.com.br/barraiG/parceiros/barraiGv2.js"></script>
</div><!-- /#igbar http://statig.com.br/barraiG/barraiGv2.js-->

<header>
	<div id="header-p1"> 
		<div class="kernel">
			<div id="logo"><h1><a href='/'></a></h1></div>
			<div id="htools">
				<div id="climate">
					<div class="EJETOA01701">
						<div id="EJETOA01701HL">
						</div>
					</div>
				</div>
				<div id="search">
					
					<form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
						<fieldset>
							<label for="busca-campo" class="label-for-search">buscar</label>
							<input type="text" alt="Buscar" title="Buscar" value="Busque no O Dia" name="q" id="buscar" autocomplete="off" onfocus="if(this.value=='Busque no O Dia') {this.value = '';}" onblur="if(this.value=='') {this.value = 'Busque no O Dia';}">
							<input type="hidden" id='cse-search-input-box-id' value=''/>
							<input type="submit" id="submit" value=""/>
							<cite>enhanced by <strong>Google</strong></cite>
						</fieldset>
					</form>

				</div>
				<div id="sponsor"></div>
				<div id="sectionname"></div>
			</div>
		</div>
	</div>
</header>
<%{%>
<script>

$(function(){
	var html = '';

	$.ajax({
		type: "GET",
	    url : "http://odia.ig.com.br/tempo/tempo.json",
	    dataType : "JSON",
	    success : function(response){

	    	var auxiliar = response.noticias.tempo.especial.itens[0].componentes[0].dados.chamada;
			
			html+="<div class='tempo-data'>"+response.noticias.dataCompleta+"</div>";
			html+="<div class='tempo-local'>";
			html+="<a>Rio de Janeiro</a>";
			html+="</div>";
			html+="<div class='tempo-img' ";
			html+=" style='background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-home.png?v=01) no-repeat scroll 0 "+auxiliar.imgtempo+" ' >";
			html+="</div>";
			html+="<div class='tempo-temperatura-max'> máx ";
			html+="<span class='temp-max'>"+auxiliar.tempmax+"°</span>";
			html+="</div>";
			html+="<div class='tempo-temperatura-min'> min ";
			html+="<span class='temp-max'>"+auxiliar.tempmin+"°</span>";
			html+="</div>";
			html+="</div>";

			$('#EJETOA01701HL').html(html);
				
		}
	
});

</script>

<%}%>
