

<div class="EJEHLE01402">
	<div class="headline">
		<div class="headline-hat">			
			<a title="" href="#" target=""></a>
		</div>
		<div class="headline-title">
			<a href="" title="" target="">
			</a>
		</div>
		<div class="headline-img" title="">
			<span class="span-border-hover">
				<span class="active"></span>
				<a title="" href="#" target="_self">
					<img src="" width="300" height="195" alt="" />
				</a>
			</span>
		</div>
		<div class="headline-text">
			<a href="" title="" target="">
			</a>
		</div>
	</div>
</div>