<div class="EJEHLE02602">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#" target="_self">
					<span class="active"></span>
					<span class="promo"></span> 
					<img src="" width="300" height="120" alt="" data-original="" class="lazy">
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#" target="_self"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#" target="_self"></a>
		</div>
	</div>
</div>