<div class="EJEHLE02501r">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#">
					<span class="active"></span>
					<img src="" alt="" width="140" height="180" class="lazy" data-original="">
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>
	<style>
		.EJEHLE02501r {
			border:0px;
			float:left;
			float:left;
			height:280px;
			margin:15px 20px 0px 0px;
			padding:0px;
			width:140px;
		}

		.EJEHLE02501r .headline{
			float:left;
			width:140px;
		}

		.EJEHLE02501r .headline-img{
			float:left;
			height: 180px;
			margin-bottom: 10px;
			width:140px;
		}

		.EJEHLE02501r .headline-hat{
			float:left;
			height: 20px;
			overflow:hidden;
			padding-bottom: 4px;
			width: 100%;
		}

		.EJEHLE02501r .headline-hat a{
			color: #949494;
			font-family: Arial;
			font-size: 11px;
			font-weight:bold;
			text-decoration: none;
			text-transform: uppercase;
		}

		.EJEHLE02501r .headline-hat a:hover{
			text-decoration: underline;
		}

		.EJEHLE02501r .headline-title{
			float:left;
			height: 48px;
			overflow:hidden;
			width: 100%;
		}

		.EJEHLE02501r .headline-title a {
			color: #004c87;
			float:left;
			font-family: Arial;
			font-size: 14px;
			font-weight:bold;
			line-height: 16px;
			text-decoration: none;
		}

		.EJEHLE02501r .headline-title a:hover{
			text-decoration: underline;
		}
		.EJEHLE02501r .headline-title a{color: #996699;}
		.EJEHLE02501r .headline-title a:hover{color: #996699;}
		.EJEHLE02501r .headline:hover .headline-title a{color:#996699; font-weight: bold;}
	</style>
</div>
