

.EJEHLE01402 {
	width: 300px;
	height: 380px;
	font-family: Arial;
	margin: 15px 20px 15px 0px;
	float: left;
}

.EJEHLE01402 .headline{
	width: 300px;
	padding-bottom: 10px;
	height: 360px;
	border-bottom: 1px dotted #ccc;
}

.EJEHLE01402 .headline-hat{
	width: 300px;
	height: 20px;
	line-height: 20px;
}

.EJEHLE01402 .headline-hat a{
	font-size: 11px;
	font-weight: bold;
	color: #cc0000;
	text-transform: uppercase;
	text-decoration: none;
}


.EJEHLE01402 .headline-title{
	line-height: 28pt;
	margin-bottom: 10px;
	width: 100%;
	height: 65px;
}


.EJEHLE01402 .headline-title a{
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 26px;
}


.EJEHLE01402 .headline-title a:hover{
	text-decoration: underline;
	color: #666;
	cursor: pointer;
}


.EJEHLE01402 .headline-text{
	line-height: 16pt;
	width: 100%;
	height: 60px;
	padding-top: 10px;
}


.EJEHLE01402 .headline-text a{
	text-decoration: none;
	color: #333;
	font: 14px Arial,Helvetica,sans-serif;
}


.EJEHLE01402 .headline-text a:hover{
	text-decoration: underline;
	color: #666;
	cursor: pointer;
}

.EJEHLE01402 .headline-img{
	width: 280px;
	height: 195px;
}
