
<div class="EJEHLE01102">
	<div class="headline-img">
		<a href="" title="">
			<img src="" title="" width="145" height="145" alt="" />
		</a>
	</div>
	<div class="headline">
		<div class="headline-hat">
			<a target="_self" title="" href=""></a>
		</div>
		<div class="headline-title">
			<a target="_self" title="" href=""></a>
		</div>
	</div>
</div>