

.EJEHLE01001{
	float:left;
	width: 140px;
	height: 360px;
	margin: 15px 20px 0px 0px;
}
.EJEHLE01001 .headline-img{
	width: 140px;
	height: 210px;
	margin:0;
}

.EJEHLE01001 .headline{
	width: 140px;
	height: 150px;
	background-color: #996699;
	font-family: Arial;
}


.EJEHLE01001 .headline .headline-title{
	color:#fff;
	padding:5px ;
	font-size: 18px;
}

.EJEHLE01001 .headline .headline-title a{
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	text-decoration: none;	
}

.EJEHLE01001 .headline .headline-title a:hover {
	color:#fff;
	cursor: pointer;
	text-decoration: underline;
}

.EJEHLE01001 .headline .headline-hat{
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	padding:5px;
	font-size: 11px;

}

.EJEHLE01001 .headline .headline-hat a{
	color: #fff;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}