<div class="EJEHLE01702">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<span class="active"></span>
				<a title="" href="#">
					<img src="" alt="">
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>
</div>
