
.EJEHLE01301{
	border:0px;
	float:left;
	height:80px;
	padding:0px;
	width:138px;
	margin: 15px 20px 15px 0px;

}

.EJEHLE01301 .headline{
	border-bottom: 1px dotted #999;
	float:left;
	width:138px;
}

.EJEHLE01301 .headline-hat{
	float:left;
	height: 19px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJEHLE01301 .headline-hat a{
	color: #999;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE01301 .headline-title{
	float:left;
	height: 60px;
	overflow:hidden; 
	padding-bottom: 20px;
	width: 100%;
}

.EJEHLE01301 .headline-title a{
	color: #006699;	
	float:left;
	font-family: Arial;
	font-size: 18px;
	font-weight:normal;
	line-height: 20px;
	text-decoration: none;
}

.EJEHLE01301 .headline-title a:hover{
	text-decoration: underline;
	color: #0066cc;
	cursor: pointer;
}

