

<div class="EJEHLE00802">
	<a class="animation" href="#nogo" title="">
		<div class="headline-img">
			<img src="" alt="" title="" width="310" height="470" />
		</div>
		<div class="headline">
			<div class="box-hat">
                <div class="headline-hat"></div>
            </div>
			<div class="box-title">
				<div class="headline-title">
					<span class="back"></span>
					<span class="front"></span>
				</div>
			</div>
		</div>
	</a>
</div>

