.EJEHLE00001{
	border:0px;
	float:left;
	float:left;
	height:180px;
	margin:0px 20px 0px 0px;
	padding:0px;
	width:140px;
}

.EJEHLE00001 .headline{
	float:left;
	width:140px;
}

.EJEHLE00001 .headline-img{
	float:left;
	height: 95px;
	margin-bottom: 10px;
	width:140px;
}

.EJEHLE00001 .headline-hat{
	float:left;
	height: 20px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJEHLE00001 .headline-hat a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE00001 .headline-hat a:hover{
	text-decoration: underline;	
}

.EJEHLE00001 .headline-title{
	float:left;
	height: 48px;
	overflow:hidden; 
	width: 100%;
}

.EJEHLE00001 .headline-title a{
	color: #004c87;	
	float:left;
	font-family: Arial;
	font-size: 14px;
	font-weight:normal;
	line-height: 16px;
	text-decoration: none;
}

.EJEHLE00001 .headline-title a:hover{
	text-decoration: underline;
}