<div class="EJEHLE00102">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#" target="_self">
					<span class="active"></span>
					<img src="" width="300" height="180" alt="">
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#" target="_self"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#" target="_self"></a>
		</div>
	</div>
	<style type="text/css">
	.EJEHLE00102 .headline-img {height: 180px;}
	</style>

</div>
