
.EJEHLE01804{
	width: 620px;
	height: 250px;
	float:left;
	margin: 15px 20px 15px 0px;
}

.EJEHLE01804 .headline{
	width: 620px;
	height: 80px;
	float:left;
	padding-left: 10px;
	display: block;
	position: absolute;
	top:65%;
}
.EJEHLE01804 .headline-img{
	width: 620px;
	height: 250px;
}

.EJEHLE01804 .headline-hat {
	padding-top: 0px;
}

.EJEHLE01804 .headline-hat a{
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.EJEHLE01804 .headline-hat a:hover{
	color: #ffffff;
}

.EJEHLE01804 .headline-title {
	padding-bottom: 0px;
}

.EJEHLE01804 .headline-title a{
	font-family: Arial;
	font-weight: bold;
	font-size: 20pt;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.EJEHLE01804 .headline-title a:hover{
	color: #ffffff;
}

.EJEHLE01804 .headline-text {
	padding-top: 0px;
}
.EJEHLE01804 .headline-text a{
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.EJEHLE01804 .headline-text a:hover{
	color: #ffffff;
}