.EJEHLE02902{
	border: 0px;
	float: left;
	height: 250px;
	margin: 15px 20px 15px 0px;
	padding: 0px;
	width: 300px;
	border-bottom: 1px dotted #b2b2b2;		
	text-align:left;
}

.EJEHLE02902 .headline{
	float:left;
	width:300px;
}

.EJEHLE02902 .headline-img{
	float: left;
	height: 150px;
	margin-bottom: 10px;
	width: 300px;
}

.EJEHLE02902 .span-border-hover {
	position: absolute;
	display: block;
}

.EJEHLE02902 .headline .span-border-hover .active {
	opacity: 0;
	filter: alpha(opacity = 0);
}

.EJEHLE02902 .span-border-hover span:first-child {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	border-width: 3px;
	border-style: solid;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 140ms linear;
	-moz-transition: all 140ms linear;
	-ms-transition: all 140ms linear;
	-o-transition: all 140ms linear;
	transition: all 140ms linear;
}

.EJEHLE02902 .headline-title{
	float: left;
	height: 50px;
	overflow: hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJEHLE02902 .headline-title a{
	float:left;
	font-family: Arial;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;
	color: #ca0000;
	font-weight:bold;
}

.EJEHLE02902 .headline-title a:hover{
	text-decoration: none;
}

.EJEHLE02902:hover .headline-title a {
	color:#333333;
}

.EJEHLE02902 .headline-date p {
	margin:0;
	font-size:12px;
	color:#858585;
}