<div class="EJEHLE03204">
	<a href="#">
		<h2></h2>
		<!--span>+ DETALHES EM BREVE</span-->
	</a>
<style type="text/css">

	.EJEHLE03204 {background-image: url(http://s0.ejesa.ig.com.br/img/odia/urgente.jpg); background-position: 0px 0px; background-repeat: no-repeat;  background-color: #333; border:0;float:left;margin:15px 20px 15px 0; height: 93px; width:620px; position: relative; font-family:Arial; padding: 7px 25px 0 250px; overflow: hidden; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
	.EJEHLE03204 h2, .EJEHLE03204 a, .EJEHLE03204 span {float: none; display: block; text-decoration: none;}
	.EJEHLE03204 h2 {font-size: 24px; line-height: 26px; color: white; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0;}
	.EJEHLE03204 span {font-size: 11px; line-height: 11px; color: white; margin-top: 3px;}
</style>
</div>


