<!-- component EJEHEA00401 -->
<div id="igbar"> 
	<script type="text/javascript" src="http://js.statig.com.br/barraiG/parceiros/barraiGv2.js"></script>
</div>

<header>
	<div id="header-p1"> 
		<div class="kernel">
			<div id="logo"><h1><a href='/'></a></h1></div>
			<div id="htools">
				<div id="search">
					
					<form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
						<fieldset>
							<label for="busca-campo" class="label-for-search">buscar</label>
							<input type="text" alt="Buscar" title="Buscar" value="Busque no O Dia" name="q" id="buscar" autocomplete="off" onfocus="if(this.value=='Busque no O Dia') {this.value = '';}" onblur="if(this.value=='') {this.value = 'Busque no O Dia';}">
							<input type="hidden" id='cse-search-input-box-id' value=''/>
							<input type="submit" id="submit" value=""/>
							<cite>enhanced by <strong>Google</strong></cite>
						</fieldset>
					</form>

				</div>
				<div id="sponsor"></div>
				<div id="sectionname" class="vivo-nome-editoria" style="margin-top: 12px; font-size: 20px;"></div>
			</div>
		</div>
	</div>
</header>