<div class="EJEHLE02902">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#" target="_self">
					<span class="active"></span>
					<span class="promo"></span> 
					<img src="" width="300" height="150" alt="">
				</a>
			</span>
		</div>
		<div class="headline-title">
			<a title="" href="#" target="_self"></a>
		</div>
		<div class="headline-date">
			<p><span class="local-evento"></span> em <span class="data-evento"></span></p>
		</div>
	</div>
</div>