

<div class="EJEHLE01804">
	<div class="headline-img">
		<a title="" href="#" target="">
			<img src="" alt="" width="620" height="250"/>
		</a>
	</div>
	<div class="headline">
		<div class="headline-hat">
			<a href="#" title="" target=""> </a>
		</div>
		<div class="headline-title">
			<a href="#" title="" target-=""> </a>
		</div>
		<div class="headline-text">
			<a href="#" title="" target=""></a>
		</div>
	</div>
</div>