	<head>
		<title>O Dia Online - Capa</title>
		<meta charset="utf-8"/>
		<meta name="robots" content="index, follow"/>
		<meta name="description" content="***CONSULTAR SEO***"/>
	 	<meta property="og:title" content='' />
		<meta property="og:description" content='' />
		<meta property="og:site_name" content='' />
		<meta property="og:url" content='' />
		<meta property="og:type" content='' />
		<meta property="og:image" content='' />
		<!--[if lt IE 9]>
		<script src="http://js.ig.com/html5shiv.js"></script>
		<![endif]-->
		<link href="http://s0.ejesa.ig.com.br/css/odia/odia_wrapper.css?v=2.87" type="text/css" rel="stylesheet"/>
		<link rel="shortcut icon" type="image/x-icon" href="http://s0.ejesa.ig.com.br/img/odia/favicon.ico" />
		<link rel="apple-touch-icon" href="*** URL DO PNG ***"/>

		<script id="jquery" type="text/javascript" src="http://s0.ejesa.ig.com.br/css/js/odia/jquery-1.7.2.min.js"></script>
		<script id="jquery" type="text/javascript" src="http://s0.ejesa.ig.com.br/css/js/odia/oas.min.js"></script>

		<script language="JavaScript"> OAS_VARS('/homepage', 'x05,Top2,'); OAS_START(); </script>
		 <!-- Top,x05,x07,x08,x09,x15,x16,x28,x35,x36 -->
	</head>