<div class="EJEHLE02004 dia-das-maes" >
	<div class="headline">
		<div class="headline-hat">
			<a title="">
				Dia das Mães
			</a>
		</div>
		<div class="headline-title">
			<a  title="">
				<span class="pessoa-1"></span> tem orgulho de dizer pra todo mundo que <span class="pessoa-2"></span> é a melhor mãe do mundo
			</a>
		</div>
		<div class="headline-text">
			<a  title="">Todo dia é dia de homenagear <span class="pessoa-2" style="margin-right: -4px;"></span>. Ela merece muita saúde e muitas alegrias o ano todo
			</a>
		</div>
		<style type="text/css">
			.EJEHLE02004.dia-das-maes {display: none;}
			.EJEHLE02004.dia-das-maes .headline-title {height: auto !important;}
			.EJEHLE02004.dia-das-maes .headline-text {height: auto !important;}
			.EJEHLE02004 .headline {height: auto !important;}
		</style>
	</div>
</div>
