
.EJEHLE01102{
	float:left;
	width: 302px;
	height: 145px;
	font-family: Arial;
	margin: 15px 20px 5px 0px;
}

.EJEHLE01102 .headline-img{
	width: 135px;
	height: 145px;
	margin:0;
	float: left;
}

.EJEHLE01102 .headline{
	width: 157px;
	height: 145px;
	background-color: #996699;
	float: left;
}


.EJEHLE01102 .headline .headline-hat{
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	padding:5px ;
	padding-top:8px;
	font-size: 11px;
	font-family: Arial;
}

.EJEHLE01102 .headline .headline-hat a{
	color: #fff;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE01102 .headline .headline-title{
	color:#fff;
	padding:5px ;
	font-size: 18px;
}

.EJEHLE01102 .headline .headline-title a{
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	text-decoration: none;	
}


.EJEHLE01102 .headline .headline-title a:hover{
	color:#fff;
	text-decoration: underline;
	cursor: pointer;
}

