
<div class="EJEHLE02104">
	<div class="headline">
		<div class="headline-hat">
			<a title=""> </a>
		</div>
		<div class="headline-title">
			<a href="#" title="">
			</a>
		</div>
		<div class="headline-text">
			<a href="#" title="">
			</a>
		</div>
	</div>
	<div class="headline-img">
		<span class="span-border-hover">
			<span class="active"></span>
			<a href="#" title="">
				<img src="" width="300" height="180" alt=""/>
			</a>
		</span>
	</div>
</div>