


.EJEHLE02602{
	border:0px;
	float:left;
	height:210px;
	margin:5px 20px 15px 0px;
	padding:0px;
	width:300px;
	border-bottom: 1px dotted #b2b2b2;
}

.EJEHLE02602 .headline{
	float:left;
	width:300px;
}

.EJEHLE02602 .headline-img{
	float:left;
	height: 120px;
	margin-bottom: 10px;
	width:300px;
}

.EJEHLE02602 .headline-hat{
	float:left;
	height: 19px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJEHLE02602 .headline-hat a{
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE02602 .headline-hat a:hover{
	text-decoration: none;	
}

.EJEHLE02602 .headline-title{
	float:left;
	height: 40px;
	overflow:hidden; 
	padding-bottom: 20px;
	width: 100%;
}

.EJEHLE02602 .headline-title a{
	float:left;
	font-family: Arial;
	font-size: 18px;
	font-weight:normal;
	line-height: 20px;
	text-decoration: none;
}

.EJEHLE02602 .headline-title a:hover{
	text-decoration: none;
}



