

.EJEHLE00702{
	border:0px;
	float:left;
	padding:0px;
	width:300px;
	margin: 15px 20px 15px 0px;
}

.EJEHLE00702 .headline-img{
	float: left;
	margin-right: 15px;
}

.EJEHLE00702 .headline-img a img{
	float: left;
	width: 140px;
	height: 70px;
}

.EJEHLE00702 .headline{
	border-bottom: 1px dotted #949494;
    float: left;
    margin-bottom:10px;
    padding-bottom: 13px;
    width: 300px;
    max-height: 100px;
}

.EJEHLE00702 .headline-title{
	overflow:hidden;
	width: 135px;
	float:left;
}

.EJEHLE00702 .headline-title a{
	color: #333;
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	line-height: 16px;
	float:left;
}

.EJEHLE00702 .headline-title a:hover{
	color: #666;
	text-decoration: underline;
	float:left;
	cursor: pointer;
}

.EJEHLE00702 .headline-hat{
	float: left;
	overflow:hidden;
	padding-bottom: 4px;
	height: 19px;
}

.EJEHLE00702 .headline-hat a{
	color: #cc0000;
	float:left;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
	text-transform: uppercase;
}

.EJEHLE00702 .headline1-hat a:hover{
	text-decoration: underline;
}
