<style>
.EJEHLE02004{
	width: 640px;
	height: 120px;
	margin: 15px 20px 15px 0;
}

.EJEHLE02004 .headline{
	padding-bottom: 10px;
	height: 120px;
	width: 640px;
}
.EJEHLE02004 .headline-hat {
	width: 100%;
	height: 20px;
	padding-bottom: 5px;
}

.EJEHLE02004 .headline-hat a{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #999;
}

.EJEHLE02004 .headline-hat a:hover{
	text-decoration: none;
	color: #999;

}

.EJEHLE02004 .headline-title {
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
}

.EJEHLE02004 .headline-title a{
	font-family: Arial;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
	color: #006699;
}

.EJEHLE02004 .headline-title a:hover{
	text-decoration: none;
	color: #0066CC;

}

.EJEHLE02004 .headline-text {
	width: 100%;
	height: 20px;
}

.EJEHLE02004 .headline-text a{
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: #333333;
}

.EJEHLE02004 .headline-text a:hover{
	text-decoration: none;
	color: #666666;

}
</style>