<div class="EJEHLE02401">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#">	
					<span class="active"></span>
					<span class="promo"></span> 
					<img src="" width="140" height="95" data-original="" class="lazy" />
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>
</div>
