
.EJEHLE01501{
	float:left;
	width: 139px;
	margin: 10px 13px 0px 0px;
	padding-bottom: 20px;
}

.EJEHLE01501 .animation { 
	-khtml-transition-duration:200ms; 
	-ms-transition-duration:200ms; 
	-moz-transition-duration:200ms; 
	-webkit-transition-duration:200ms; 
	-o-transition-duration:200ms; 
	transition-duration:200ms; 
	-khtml-transition-timing-function:ease-out; 
	-ms-transition-timing-function:ease-out; 
	-moz-transition-timing-function:ease-out; 
	-webkit-transition-timing-function:ease-out; 
	-o-transition-timing-function:ease-out; 
	transition-timing-function:ease-out; 
}

.EJEHLE01501 a {
	display: block;
	position: relative;
	text-decoration: none !important;
	-khtml-transition-property: background-color,border-left-color,box-shadow,color; 
	-ms-transition-property:background-color,border-left-color,box-shadow,color; 
	-moz-transition-property:background-color,border-left-color,box-shadow,color; 
	-webkit-transition-property:background-color,border-left-color,box-shadow,color; 
	-o-transition-property:background-color,border-left-color,box-shadow,color; 
	transition-property:background-color,border-left-color,box-shadow,color;
}

.EJEHLE01501 .box-title {
	clear: both;
	overflow: hidden;
	width: 138px;
	top: 0px;
	position: relative;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	opacity:0.80;
}

.EJEHLE01501 .headline-img img {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 170px;
}

.EJEHLE01501 .headline {
	bottom: 0px;
	position: absolute;
	width: 100%;
}

.EJEHLE01501 .headline .box-hat {
	color: #fff;
	clear: both;
	overflow: hidden;
	width: 100%;
}

.EJEHLE01501 .headline .box-hat  .headline-hat {
	background-color: #705090;
	color: #FFF;
	float: left;
	font: 12px arial,sans-serif;
	height: 17px;
	margin: 0px 1px 0px 0px;
	padding: 5px 14px 3px 10px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;

}

.EJEHLE01501 .headline .box-title .headline-title {
	border-left: 10px solid #000;
	font: 14px/16px arial,sans-serif;
	padding: 9px 0 8px !important;
	position: relative;
	letter-spacing: 1px;
	width: 100%;
}

.EJEHLE01501 a:hover .box-title .headline-title {
	border-left-color:#181717;
}

.EJEHLE01501 .headline .box-title .headline-title .back {
	-khtml-box-shadow: 5px 0px #000;
	-ms-box-shadow: 5px 0px #000;
	-moz-box-shadow: 5px 0px #000;
	-webkit-box-shadow: 5px 0px #000;
	-o-box-shadow: 5px 0px #000;
	box-shadow: 5px 0px #000;
	background-color: #000;
	color: #000;
	padding: 10px 0px 8px 0px;
}

.EJEHLE01501 a:hover .box-title .headline-title .back {
	-khtml-box-shadow:5px 0 #181717; 
	-ms-box-shadow:5px 0 #181717; 
	-moz-box-shadow:5px 0 #181717; 
	-webkit-box-shadow:5px 0 #181717; 
	-o-box-shadow:5px 0 #181717; 
	box-shadow:5px 0 #181717; 
	background-color:#181717; 
	color:#181717;
}

.EJEHLE01501 .headline .box-title .headline-title .front {
	color: #fff;
	left: -3px;
	padding: 12px 0px 8px 0px;
	position: absolute;
	top: 0;
}

.EJEHLE01501 a:hover {
	background-color: #3b3b3b;
}


