<div class="EJEHLE02501">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#">
					<span class="active"></span>
					 <span class="promo"></span> 
					<img src="" alt="" width="140" height="180" class="lazy" data-original="">
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>
</div>
