<div class="EJEHLE00102">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#" target="_self">
					<span class="active"></span>
					<img src="" width="300" height="120" alt="">
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a style="font-style: italic; background: #e2d401;font-weight: bold;color: #fff;padding: 2px 5px;text-transform: uppercase;" title="" href="#" target="_self"></a>
		</div>
		<div class="headline-title">
			<a style="font-style: italic;" title="" href="#" target="_self"></a>
		</div>
	</div>

</div>
