<div class="EJEHETOA12DIANAFOLIA-PLACE">

<style type="text/css">
@import url('http://fonts.googleapis.com/css?family=Anton');
body {background: url('http://s0.ejesa.ig.com.br/img/odia/carnaval/odia-na-folia-2016_v2-bg.jpg') no-repeat 50% 0px;}
.EJEHETOA12DIANAFOLIA-PLACE {width: 940px; height: 5px; position: relative;}
.EJEHETOA12DIANAFOLIA * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.EJEHETOA12DIANAFOLIA { width: 940px; height: 225px; margin: 0 auto; font-family: 'Anton', sans-serif; position: relative; }
.EJEHETOA12DIANAFOLIA h2 {margin: 0px; float: left; height: 260px; width: 271px;display: none;}
.EJEHETOA12DIANAFOLIA h2 a img {margin-top: 35px;}
.EJEHETOA12DIANAFOLIA nav {  width: 450px; height: 45px; display: block; position: relative; background-color: #4b74b0; float: left; top: 70px; left: 200px;  display: none;}
.EJEHETOA12DIANAFOLIA nav ul {list-style: none; float: none; display: block; margin: 0px; padding: 0px; width: 450px; height: 45px; background-color: #799dd2; position: relative; top: -6px; left: -14px ;}
.EJEHETOA12DIANAFOLIA nav ul li {list-style: none; display: block; float: left;  margin: 0px; padding: 0px; }
.EJEHETOA12DIANAFOLIA nav ul li a {text-transform: uppercase; color: white; text-decoration: none;  height: 23px; font-size: 16px; margin-top: 12px; display: block; padding: 0 13px; border-left: 1px solid white;  }
.EJEHETOA12DIANAFOLIA nav ul li:first-child a { border-left: 0px none; padding-left: 27px; }
.EJEHETOA12DIANAFOLIA .whatsapp { float: left; width: 190px; height: 45px; background: #146900; display: block; position: absolute; right: 220px; top: 180px; display: none;}
.EJEHETOA12DIANAFOLIA .whatsapp p { text-align: right; width: 190px; padding: 5px 45px 0 0; margin: 0px; height: 45px; line-height: 17px; font-size: 13px; background: #1d9c00 url('http://s0.ejesa.ig.com.br/img/odia/folia/whatsapp.jpg') no-repeat 152px 6px; ; display: block; color: white; position: relative; top: -6px; left: -8px;}
.EJEHETOA12DIANAFOLIA .whatsapp p span {font-size: 17px;}
.EJELIE00902 {height: 510px !important;}
.EJELIE00902 .writer-menu {border-bottom: 5px solid #996699 !important;}
.EJELIE00902 .writer-menu ul li {background: #996699 !important; width: 155px !important;}
#main-nav, #pubIntervencao, #area15 {display: none;}
#main, #container, #content {background-color: transparent;}
#content {background: url('http://s0.ejesa.ig.com.br/img/odia/folia/transparent.png'); overflow: hidden; padding-top: 20px;}
#EJELIA00302TN .headline-title a {color: #996699 !important; font-weight: bold; margin-bottom: 2px; display: block;}
.EJELIE02204x .color { background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #996699 50%, #996699 100%); background: -moz-linear-gradient(left, transparent 0, transparent 50%, #996699 50%, #996699 100%); background: -ms-linear-gradient(left, transparent 0, transparent 50%, #996699 50%, #996699 100%);}
.EJEHLE02704 { margin-top: 0px;}
.EJEHLE00102 {height: auto;}
.EJEHLE00102 .headline-title { padding-bottom: 0px;}
</style>

</div>
