	<div class="EJEHLE02501e">
		<div class="headline">
			<div class="headline-img">
				<span class="span-border-hover">
					<a title="" href="#">
						<span class="active"></span>
						<img src="" alt="" width="140" height="180" class="lazy" data-original="">
					</a>
				</span>
			</div>
			<div class="headline-title">
				<a title="" href="#"></a>
			</div>
		</div>

		<style type="text/css">

			.EJEHLE02501e {
				border: 0;
				float: left;
				margin: 15px 20px 20px 0;
				padding: 0;
				width: 140px;
			}

			.EJEHLE02501e .headline {
				float: left;
				width: 140px;
				border-bottom: 1px dotted #b2b2b2;
			}

			.EJEHLE02501e .headline-img {
				float: left;
				height: 180px;
				margin-bottom: 10px;
				width: 140px;
			}

			.EJEHLE02501e .span-border-hover {
				position: absolute;
				display: block;
			}

			.EJEHLE02501e .headline:hover .span-border-hover .active {
				opacity: 1;
				filter: alpha(opacity=100);
				color: #333;
			}

			.EJEHLE02501e .headline-title {
				float: left;
				overflow: hidden;
				width: 100%;
				padding-bottom: 20px;
			}

			.EJEHLE02501e .headline-title a {
				font-family: Arial;
				font-size: 18px;
				font-weight: 400;
				line-height: 20px;
				text-decoration: none;
				color: #333;
			}

			.EJEHLE02501e .headline:hover .headline-title a {
				color: #333;
			}

			.EJEHLE02501e .headline-title a:hover {
				color: #333;
			}

		</style>

	</div>
