

<div class="EJEHLE00702">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<span class="active"></span>
				<a href=""><img src="" width="140" height="70" alt=""></a>
			</span>
		</div>
		<div class="headline-hat">
			<a target="_self" > </a>
		</div>
		<div class="headline-title">
			<a target="_self" ></a>
		</div>
	</div>
</div>