
.EJEHLE001202{
	border:0px;
	float:left;
	height:210px;
	padding:0px;
	width:300px;
	margin: 15px 20px 15px 0px;
}

.EJEHLE001202 .headline{
	float:left;
	width:300px;
	border-bottom: 1px dotted #ccc;
}

.EJEHLE001202 .headline-img{
	float:left;
	height: 120px;
	margin-bottom: 10px;
	width:300px;
}

.EJEHLE001202 .headline-hat{
	float:left;
	height: 19px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJEHLE001202 .headline-hat a{
	color: #999;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE001202 .headline-title{
	float:left;
	height: 40px;
	overflow:hidden; 
	padding-bottom: 20px;
	width: 100%;
}

.EJEHLE001202 .headline-title a{
	color: #006699;	
	float:left;
	font-family: Arial;
	font-size: 18px;
	font-weight:normal;
	line-height: 20px;
	text-decoration: none;
}

.EJEHLE001202 .headline-title a:hover{
	text-decoration: underline;
	cursor: pointer;
	color: #0066cc;
}

