<div class="EJEHLE00301">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<span class="active"></span>
					<img src="" width="140" height="95" />
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>
</div>
