<div class="EJEHLE02401">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#">
					<span class="active"></span>
					<span class="promo"></span>
					<img src="" width="140" height="95" data-original="" class="lazy" />
				</a>
			</span>
		</div>
		<div class="headline-hat">
			<a style="font-style: italic; background: #e2d401;font-weight: bold;color: #fff;padding: 2px 5px;text-transform: uppercase;" title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a style="font-style: italic;" title="" href="#"></a>
		</div>
	</div>
</div>
