

<div class="EJEHLE01001">
	<div class="headline-img">
		<a href="" title="" target="_self">
			<img src="" title="" width="140" height="210" alt="" />
		</a>
	</div>
	<div class="headline">
		<div class="headline-hat">
			<a target="_self" title="" href=""></a>
		</div>
		<div class="headline-title">
			<a target="_self" title="" href=""></a>
		</div>
	</div>
</div>