<div class="EJEHLE03004">
	<div class="headline">

		<div class="headline-hat">
			<a title="" href="#" target="_self"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#" target="_self"></a>
		</div>

		<div class="headline-title-sub">
			<a title="" href="#" target="_self"></a>
		</div>


		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#" target="_self">
					<img src="#" width="620" height="330" alt="" data-original="" class="lazy">
				</a>
			</span>
		</div>
		<div class="headline-legend">
			<a title="" href="#" target="_self"></a>
		</div>

	</div>

<style type="text/css">

	.EJEHLE03004 {border:0;float:left;margin:15px 20px 15px 0; min-height: 440px; padding:0;width:620px;border-bottom:1px dotted #b2b2b2; position: relative; font-family:Arial;}
	.EJEHLE03004 .headline{float:left;width:620px;}
	.EJEHLE03004 .headline-img {float:left;width:620px;}
	.EJEHLE03004 .headline-hat {float:left;overflow:hidden;padding-bottom:10px;width:100%;}
	.EJEHLE03004 .headline-hat a {font-size:11px;font-weight:700;text-decoration:none;text-transform:uppercase;}
	.EJEHLE03004 .headline-hat a:hover{text-decoration:none;}
	.EJEHLE03004 .headline-title{float:left;overflow:hidden;padding-bottom:10px;width:100%;}
	.EJEHLE03004 .headline-title a{float:left;font-family:Arial;font-size:35px;font-weight:bold;line-height:32px;text-decoration:none;}
	.EJEHLE03004 .headline-title a:hover{text-decoration:none;}
	.EJEHLE03004 .headline-title a {color: #069;}
	.EJEHLE03004 .headline:hover .headline-title a {color: #06c;}
	.EJEHLE03004 .headline-hat a, .EJEHLE03004 .headline-hat a:hover {color: #999;}
	.EJEHLE03004 .headline-title-sub a {color: #343434; font-size: 13px; text-decoration: none; display: block;}
	.EJEHLE03004 .headline-title-sub {float: left;overflow: hidden;padding-bottom: 10px;width: 100%;}
	.EJEHLE03004 .headline-legend a {color: #343434; font-size: 11px; text-decoration: none; padding: 5px; display: block;}
	.EJEHLE03004 .headline-legend {float: left; overflow: hidden;width: 100%;}

</style>

</div>

