

<div class="EJEHLE01904">
	<div class="headline-img">
		<a title="" href="#" target="">
			<img src="" alt="" width="620" height="425"/>
		</a>
	</div>
	<div class="headline">
		<div class="headline-hat">
			<a href="#" title="" target=""> </a>
		</div>
		<div class="headline-title">
			<a href="#" title="" target-=""> </a>
		</div>
		<div class="headline-text">
			<a href="#" title="" target=""></a>
		</div>
	</div>

	<style type="text/css">

	.EJEHLE01904{
		width: 620px;
		height: 425px;
		float:left;
		margin: 15px 20px 15px 0px;
		position: relative;
		border: 1px solid black;
	}

	.EJEHLE01904 .headline{
		width: 590px;
		height: 75px;
		float: left;
		padding: 15px;
		display: block;
		position: absolute;
		bottom: 0px;
		text-shadow: 1px 1px 2px black;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

	}
	.EJEHLE01904 .headline-img{
		width: 620px;
		height: 250px;
	}

	.EJEHLE01904 .headline-hat {
		padding-top: 0px;
	}

	.EJEHLE01904 .headline-hat a{
		font-family: Arial;
		font-weight: bold;
		font-size: 12pt;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
	}

	.EJEHLE01904 .headline-hat a:hover{
		color: #ffffff;
	}

	.EJEHLE01904 .headline-title {
		padding-bottom: 0px;
	}

	.EJEHLE01904 .headline-title a{
		font-family: Arial;
		font-weight: bold;
		font-size: 20pt;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
	}

	.EJEHLE01904 .headline-title a:hover{
		color: #ffffff;
	}

	.EJEHLE01904 .headline-text {
		padding-top: 0px;
	}
	.EJEHLE01904 .headline-text a{
		font-family: Arial;
		font-weight: bold;
		font-size: 11pt;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
	}

	.EJEHLE01904 .headline-text a:hover{
		color: #ffffff;
	}
	</style>
</div>
