<div class="EJEHLE00202">
	<div class="headline" title="">
		<div class="headline-hat">
			<a title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>

    <style type="text/css">
    .EJEHLE00202 [title~=verde] .headline-hat a {color: #77983e;}
    .EJEHLE00202 [title~=vermelho] .headline-hat a {color: red;}
    .EJEHLE00202 [title~=roxo] .headline-hat a {color: purple;}
    .EJEHLE00202 .headline-title a, .EJEHLE00202 .headline-title a:hover {color: #3b3b3b;}
    .EJEHLE00202 {margin-top: 0px;}
    </style>

</div>
