<style>
.EJEHLE02204 {
	width: 300px;
	height: 390px;
	margin: 15px 20px 15px 0;	
	float: left;
	border-bottom: 1px dotted #ccc;
}

.EJEHLE02204 .headline{
	width: 300px;
	height: 390px;
 	margin-bottom: 10px; 
	margin-right: 20px;
	float: left;
}

.EJEHLE02204 .headline-img{
	width: 300px;
	height: 195px;
	margin: 0 auto;
	float: left;
}

.EJEHLE02204 .headline-hat {
	width: 100%;
	height: 20px;
	float: left;
}
.EJEHLE02204 .headline-hat a {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase; 	
	text-decoration: none;
	color: #999999;
}
.EJEHLE02204 .headline-hat a:hover{
	text-decoration: none;
	color: #999999;
}

.EJEHLE02204 .headline-title {
	float: left;
    height: 75px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
.EJEHLE02204 .headline-title a {	
	font-family: Arial;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
	color: #006699;
}
.EJEHLE02204 .headline-title a:hover{
	text-decoration: none;
	color: #0066CC;
}

.EJEHLE02204 .headline-text {
	float: left;
    height: 70px;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 100%;
}
.EJEHLE02204 .headline-text a {
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: #333333;
}
.EJEHLE02204 .headline-text a:hover{
	text-decoration: none;
	color: #666666;
}

</style>
