

<div class="EJEHLE01502">
	<a class="animation" href="" title="">
		<div class="headline-img">
			<img src="" width="135" height="170" alt=""/>
		</div>
		<div class="headline">
			<div class="box-hat">
                <div class="headline-hat"></div>
            </div>
			<div class="box-title">
				<div class="headline-title">
					<span class="back"></span>
					<span class="front"></span>
				</div>
			</div>
		</div>
	</a>
</div>
