<div class="EJEHLE00202">
	<div class="headline">
		<div class="headline-hat">
			<a style="font-style: italic; background: #e2d401;font-weight: bold;color: #fff;padding: 2px 5px;text-transform: uppercase;" title="" href="#"></a>
		</div>
		<div class="headline-title">
			<a style="font-style: italic;" title="" href="#"></a>
		</div>
	</div>

</div>
