<div class="EJEHLE02004-b " >
	<div>
		<h2>DIA DAS MÃES</h2>
		<input class="nome-filho" name="" type="text" >
		Digite aqui o nome com que sua mãe gosta de chamar você (Ex: Tchutchuco)
		<input class="nome-mae" name="" type="text" >
		Digite aqui o nome da sua mãe  (Ex: Mamacita)

		<input type="submit" class="envia-url" value="Gerar Link" name="Gerar Link" >
		<input class="url-final" name="" type="text" >
		Agora copie o link e envie para a mamãe (e-mail, facebook, twitter, etc)

		<style type="text/css">
			.EJEHLE02004-b {
				float: left;
				width: 620px;
				position: relative;
				font: 12px arial,helvetica;
				text-align: left;
				color: #333;
				margin: 0px;
				padding: 0px;
				max-width: 620px;
				width: 100%;
				height: auto;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.EJEHLE02004-b h2 {
				font: 24px arial,helvetica;
				margin: 0px;
				padding: 0px;
			}
			.EJEHLE02004-b input[type="text"]{
				width: 90%;
				border: 1px #999 solid;
				border-radius: 5px;
				padding: 5px;
				margin: 0;
				margin-top: 20px;
				display: block;
			}
			.EJEHLE02004-b input[type="submit"] {
				border: 1px #999 solid;
				border-radius: 5px;
				padding: 5px;
				margin: 0 auto;
				margin-top: 20px;
				cursor: pointer;
				width: 150px;
				display: block;
			}
		</style>
	</div>
</div>
