<div class="EJEHLE01902">
	<a class="animation" href="#nogo" title="">
		<span class="headline-img">
			<span class="span-border-hover">
				<span class="active"></span>
				<span class="promo"></span> 
				<img src="" width="300" height="170" />
			</span>
		</span>
		<span class="headline">
			<span class="box-hat">
                <span class="headline-hat"></span>
            </span>
			<span class="box-title">
				<span class="headline-title">
					<span class="back"></span>
					<span class="front"></span>
				</span>
			</span>
		</span>
	</a>
</div>

