<div class="EJEHLE03104">
	<div class="headline">

		<div class="headline-hat">
			<a title="" href="#" target="_self">tes</a>
		</div>
		<div class="headline-title">
			<a title="" href="#" target="_self">tes</a>
		</div>

		<div class="headline-title-sub">
			<a title="" href="#" target="_self">tes</a>
		</div>

	</div>

<style type="text/css">

	.EJEHLE03104 {border:0;float:left;margin:15px 20px 15px 0; min-height: 90px; padding:0;width:620px;border-bottom:1px dotted #b2b2b2; position: relative; font-family:Arial;}
	.EJEHLE03104 .headline{float:left;width:620px;}
	.EJEHLE03104 .headline-hat {float:left;overflow:hidden;padding-bottom:10px;width:100%;}
	.EJEHLE03104 .headline-hat a {font-size:11px;font-weight:700;text-decoration:none;text-transform:uppercase;}
	.EJEHLE03104 .headline-hat a:hover{text-decoration:none;}
	.EJEHLE03104 .headline-title{float:left;overflow:hidden;padding-bottom:10px;width:100%;}
	.EJEHLE03104 .headline-title a{float:left;font-family:Arial;font-size:35px;font-weight:bold;line-height:32px;text-decoration:none;}
	.EJEHLE03104 .headline-title a:hover{text-decoration:none;}
	.EJEHLE03104 .headline-title a {color: #069;}
	.EJEHLE03104 .headline:hover .headline-title a {color: #06c;}
	.EJEHLE03104 .headline-hat a, .EJEHLE03104 .headline-hat a:hover {color: #999;}
	.EJEHLE03104 .headline-title-sub a {color: #343434; font-size: 13px; text-decoration: none; display: block;}
	.EJEHLE03104 .headline-title-sub {float: left;overflow: hidden;padding-bottom: 10px;width: 100%;}

</style>

</div>

