
<div class="EJEHLE01602">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<span class="active"></span>
				<a title="" href="#" target="_self">
					<img src="" width="300" height="175" alt="" /></a>
			</span>
		</div>
		<div class="headline-hat">
			<a title="" href="#" target=""></a>
		</div>
		<div class="headline-title">
			<a title="" href="#" target=""></a>
		</div>
	</div>

</div>