.EJEHLE00502{
	border:0px;
	float:left;
	float:left;
	height:125px;
	margin:15px 20px 15px 0px;
	padding:0px;
	width:300px;
}

.EJEHLE00502 .headline{
	border-bottom: 1px dotted #949494;
	float:left;
	width:300px;
}

.EJEHLE00502 .headline-hat{
	float:left;
	height: 19px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJEHLE00502 .headline-hat a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE00502 .headline-hat a:hover{
	text-decoration: underline;	
}

.EJEHLE00502 .headline-title{
	float:left;
	height: 106px;
	overflow:hidden; 
	padding-bottom: 20px;
	width: 100%;
}

.EJEHLE00502 .headline-title a{
	color: #004c87;	
	float:left;
	font-family: Arial;
	font-size: 18px;
	font-weight:normal;
	line-height: 20px;
	text-decoration: none;
}

.EJEHLE00502 .headline-title a:hover{
	text-decoration: underline;
}


