<div class="EJEHLE00402">
	<div class="headline">
		<div class="headline-img">
			<span class="span-border-hover">
				<a title="" href="#">	
					<span class="active"></span>
					<span class="promo"></span> 
					<img src="" width="140" height="100" />
				</a>
			</span>
		</div>
		<div class="headline-text">
			<div class="headline-hat">
				<a target="_self" ></a>
			</div>
			<div class="headline-title">
				<a target="_self" ></a>
			</div>
		</div>
	</div>
</div>