<div class="EJEHLE00202e">
	<div class="headline">
		<div class="headline-title">
			<a title="" href="#"></a>
		</div>
	</div>

	<style type="text/css">

	.EJEHLE00202e {
		border: 0;
		float: left;
		margin: 3px 20px 20px 0;
		padding: 0;
		width: 300px;
	}

	.EJEHLE00202e .headline {
		border-bottom: 1px dotted #b2b2b2;
		float: left;
		width: 300px;
	}

	.EJEHLE00202e .headline-title {
		float: left;
		overflow: hidden;
		padding-bottom: 20px;
		width: 100%;
	}

	.EJEHLE00202e .headline-title a {
		float: left;
		font-family: Arial;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		text-decoration: none;
	}

	.EJEHLE00202e .headline-title a {
		color: #333;
	}

	</style>

</div>