<div class="EJEHLE02601">
	<a href="" title="">
		<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/140x95.jpg">
		<h3>Regular com 14pt e 16pt line height 3 linhas #006699.</h3>
	</a>
<style type="text/css">

.EJEHLE02601 {float: left; width: 140px; height: 170px; margin-right: 20px; text-align: left; letter-spacing: -1px; font-family: Arial, sans-serif;}
.EJESTA00101 .EJEHLE02601:last-child {margin-right: 0px;}
.EJEHLE02601 h3 {font-size: 14px; line-height: 16px; font-weight: bold;  margin: 12px 0;}
.EJEHLE02601 a {color: #363636; text-decoration: none;}
.EJEHLE02601 a:hover {text-decoration: underline;}
.EJEHLE02601 a img {border: 0px;}

</style>
</div>

