<style>
.EJEHLE02704{
	width: 300px;
	height: 175px;
	margin: 15px 15px 20px 0;
	float: left;
}

.EJEHLE02704 .headline{
	padding-bottom: 5px;
	height: 175px;
	width: 620px;
}
.EJEHLE02704 .headline-hat {
	width: 100%;
	height: 20px;
}

.EJEHLE02704 .headline-hat a{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #999;
}

.EJEHLE02704 .headline-hat a:hover{
	text-decoration: none;
	color: #999;

}

.EJEHLE02704 .headline-title {
	width: 100%;
	height: 70px;
	padding-top: 10px;
}

.EJEHLE02704 .headline-title a{
	font-family: Arial;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
	color: #006699;
}

.EJEHLE02704 .headline-title a:hover{
	text-decoration: none;
	color: #0066CC;

}

.EJEHLE02704 .headline-text {
	width: 100%;
	height: 80px;
	margin-top: 5px;
}

.EJEHLE02704 .headline-text a{
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: #333333;
}

.EJEHLE02704 .headline-text a:hover{
	text-decoration: none;
	color: #666666;

}
</style>