.EJEHLE01602{
	border:0px;
	float:left;
	float:left;
	height:295px;
	margin:15px 20px 15px 0px;
	padding:0px;
	width:300px;
}

.EJEHLE01602 .headline{
	float:left;
	width:300px;
	border-bottom: 1px dotted #ccc;
}

.EJEHLE01602 .headline-img{
	float:left;
	height: 175px;
	margin-bottom: 10px;
	width:300px;
}

.EJEHLE01602 .headline-hat{
	float:left;
	height: 20px;
	overflow:hidden;
	margin-bottom: 10px;
	width: 100%;
}

.EJEHLE01602 .headline-hat a{
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJEHLE01602 .headline-hat a:hover{
	text-decoration: none;	
}

.EJEHLE01602 .headline-title{
	float:left;
	height: 40px;
	overflow:hidden; 
	padding-bottom: 20px;
	width: 100%;
}

.EJEHLE01602 .headline-title a{
	float:left;
	font-family: Arial;
	font-size: 22px;
	font-weight:bold;
	line-height: 24px;
	text-decoration: none;
}

.EJEHLE01602 .headline-title a:hover{
	text-decoration: underline;
}