<div id="igbar">
    <script type="text/javascript" src="http://js.statig.com.br/barraiG/parceiros/barraiGv2.js"></script>
</div>
<div id="EJEHEA00806">
    <header class="main-header">
        <div id="imagemEditoria" class="wrap-grid header">
            <div class="logo"><a href="/"></a></div>
            <div id="sectionname">
            </div>
            <div id="climate" class="clima-tempo">
                <div class="ico-tempo"></div>
                <div class="local-tempo">Rio de Janeiro, RJ</div>
                <div class="min-tempo"><abbr>min</abbr><span>28</span><sup>º</sup></div>
                <div class="max-tempo"><abbr>máx</abbr><span>32</span><sup>º</sup></div>
                <div class="data"></div>
            </div>

            <div id="search">
                <form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                    <fieldset>
                        <label for="busca-campo" class="label-for-search">buscar</label>
                        <input type="text" alt="Buscar" title="Buscar" value="Busque no O Dia" name="q" id="buscar" autocomplete="off" onfocus="if(this.value=='Busque no O Dia') {this.value = '';}" onblur="if(this.value=='') {this.value = 'Busque no O Dia';}"><input type="hidden" id="cse-search-input-box-id" value="">
                        <input type="submit" id="submit" value="">
                        <cite>enhanced by <strong>Google</strong></cite>
                    </fieldset>
                </form>
            </div>
            <div id="sponsor" style="display:none;"></div>
        </div>
    </header>

    <header class="main-header-fixo" style="display:none;">
        <div id="imagemEditoria" class="wrap-grid header" style="padding-top:10px;">
            <div class="logo"><a href="/"><img src="http://s0.ejesa.ig.com.br/img/odia/odia-mf.png?v=1" width="133" height="39" /></a></div>
            <div id="sectionname"></div>
            <div id="climate" class="clima-tempo" style="margin-left:-58px!important;"></div>
            <div id="search">
                <form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                    <fieldset style="margin-top:-51px!important;">
                        <label for="busca-campo" class="label-for-search">buscar</label>
                        <input type="text" alt="Buscar" title="Buscar" value="Busque no O Dia" name="q" id="buscar" autocomplete="off" onfocus="if(this.value=='Busque no O Dia') {this.value = '';}" onblur="if(this.value=='') {this.value = 'Busque no O Dia';}"><input type="hidden" id="cse-search-input-box-id" value="">
                        <input type="submit" id="submit" value="">
                        <cite>enhanced by <strong>Google</strong></cite>
                    </fieldset>
                </form>
            </div>
            <div id="sponsor" style="display:none;"></div>
        </div>
    </header>

    <nav class="principal-nav" style="display:none;">
        <div class="wrap-grid ">
            <ul class="main-nav">
                <li id='menu-capa'><a href="/">capa</a></li>
                <li id='menu-rio'><a href="/noticia/rio-de-janeiro/index.html">rio</a></li>
                <li id='menu-diversao'><a href="/diversao/index.html">diversão</a></li>
                <li id='menu-noticia'><a href="/noticia/economia/index.html">economia</a></li>
                <li id='menu-esporte'><a href="/esporte/index.html">esporte</a></li>
                <li id='menu-mais'><a href="javascript:void(0);">+mais <span class="ico-drop-down"></span></a>
                    <div class="mais-drop-down">
                        <div class="drop-down-header">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="drop-down-content">
                            <ul class="mais-rio">
                                <li class="first-child"><a href="/noticia/rio-de-janeiro/index.html">Rio</a></li>
                                <li><a href="/noticia/riosemfronteiras/index.html">Rio Sem Fronteiras</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#conexaoleitor">Conexão Leitor</a></li>
                                <li><a href="http://odia.ig.com.br/noticia/observatorio/">Observatório da Mobilidade</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odia24horas">O Dia 24 Horas</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odiabaixada">O Dia na Baixada</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odiaestado">O Dia no Estado</a></li>
                                <li><a href="/noticia/opiniao/index.html">Aroeira</a></li>
                            </ul>
                            <ul class="mais-ultimas">
                                <li class="first-child"><a href="/noticia/index.html">Notícias</a></li>
                                <li><a href="/noticia/brasil/index.html">Brasil</a></li>
                                <li><a href="/noticia/economia/index.html">Economia</a></li>
                                <li><a href="/noticia/mundoeciencia/index.html">Mundo e Ciência</a></li>
                                <li><a href="/noticia/educacao/index.html">Educação</a></li>
                                <li><a href="/noticia/opiniao/index.html">Opinião</a></li>
                                <li><a href="/noticia/automania/index.html">Automania</a></li>
                                <li><a href="/noticia/imoveis/index.html">Imóveis</a></li>
                            </ul>
                            <ul class="mais-lazer">
                                <li class="first-child"><a href="/diversao/index.html">Diversão</a></li>
                                <li><a href="/diversao/celebridades/index.html">Celebridades</a></li>
                                <li><a href="/diversao/televisao/index.html">Televisão</a></li>
                                <li><a href="/diversao/carnaval/index.html">O Dia na Folia</a></li>
                            </ul>
                            <ul class="mais-esportes">
                                <li class="first-child"><a href="/esporte/index.html">Esporte</a></li>
                                <div class="escudo-times">
                                <a href="/esporte/botafogo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-botafogo.jpg"></a>
                                <a href="/esporte/flamengo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-flamengo.jpg"></a>
                                <a href="/esporte/fluminense/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-fluminense.jpg"></a>
                                <a href="/esporte/vascodagama/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-vasco.jpg"></a>
                                </div>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="last-child"><a href="http://www.classificadosodia.com.br/" target="_blank">classificados</a></li>
            </ul>
            <div class="social-nav">
                <div class="facebook-likes">
                    <div class="fb-like" data-href="https://www.facebook.com/odiajornal" data-send="false" data-layout="button_count" data-width="106" data-show-faces="false"></div>
                </div>
                <div class="google-plus-shares">
                    <g:plusone size='medium' href='http://www.odia.com.br'></g:plusone>
                </div>
            </div>
        </div>
    </nav>

    <nav class="especial-nav" style="display:none;">
        <div class="wrap-grid ">
            <ul class="main-nav">
                <li id='menu-mais'><a href="javascript:void(0);"><img src="http://s0.ejesa.ig.com.br/img/odia/o-dia_menu.png"/></a>
                    <div class="mais-drop-down">
                        <div class="drop-down-header">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="drop-down-content">
                            <ul class="mais-rio">
                                <li class="first-child"><a href="/noticia/rio-de-janeiro/index.html">Rio</a></li>
                                <li><a href="/noticia/riosemfronteiras/index.html">Rio Sem Fronteiras</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#conexaoleitor">Conexão Leitor</a></li>
                                <li><a href="http://odia.ig.com.br/noticia/observatorio/">Observatório da Mobilidade</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odia24horas">O Dia 24 Horas</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odiabaixada">O Dia na Baixada</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odiaestado">O Dia no Estado</a></li>
                                <li><a href="/noticia/opiniao/index.html">Aroeira</a></li>
                            </ul>
                            <ul class="mais-ultimas">
                                <li class="first-child"><a href="/noticia/index.html">Notícias</a></li>
                                <li><a href="/noticia/brasil/index.html">Brasil</a></li>
                                <li><a href="/noticia/economia/index.html">Economia</a></li>
                                <li><a href="/noticia/mundoeciencia/index.html">Mundo e Ciência</a></li>
                                <li><a href="/noticia/educacao/index.html">Educação</a></li>
                                <li><a href="/noticia/opiniao/index.html">Opinião</a></li>
                                <li><a href="/noticia/automania/index.html">Automania</a></li>
                                <li><a href="/noticia/imoveis/index.html">Imóveis</a></li>
                            </ul>
                            <ul class="mais-lazer">
                                <li class="first-child"><a href="/diversao/index.html">Diversão</a></li>
                                <li><a href="/diversao/celebridades/index.html">Celebridades</a></li>
                                <li><a href="/diversao/televisao/index.html">Televisão</a></li>
                                <li><a href="/diversao/carnaval/index.html">O Dia na Folia</a></li>
                            </ul>
                            <ul class="mais-esportes">
                                <li class="first-child"><a href="/esporte/index.html">Esporte</a></li>
                                <div class="escudo-times">
                                <a href="/esporte/botafogo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-botafogo.jpg"></a>
                                <a href="/esporte/flamengo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-flamengo.jpg"></a>
                                <a href="/esporte/fluminense/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-fluminense.jpg"></a>
                                <a href="/vascodagama/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-vasco.jpg"></a>
                                </div>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="last-child" id="menu-capa"><a href="/">capa</a></li>

            </ul>
            <div class="social-nav">
                <div class="facebook-likes">
                    <div class="fb-like" data-href="https://www.facebook.com/odiajornal" data-send="false" data-layout="button_count" data-width="106" data-show-faces="false"></div>
                </div>
                <div class="google-plus-shares">
                    <g:plusone size='medium' href='http://www.odia.com.br'></g:plusone>
                </div>
            </div>
        </div>
    </nav>

</div>

<%{%>
<script>

$(function(){
    var html = '';
    var d, day, month, year, myday, mesExtenso, diaSemana, dataCompleta, mn = false;

    d = new Date();
    day = d.getDate();
    month = d.getMonth();
    year = d.getFullYear();

    myday = (day <= 9) ? "0" + day : day;

    mesExtenso = [
        " de Janeiro de ",
        " de Fevereiro de ",
        " de Março de ",
        " de Abril de ",
        " de Maio de ",
        " de Junho de ",
        " de Julho de ",
        " de Agosto de ",
        " de Setembro de ",
        " de Outubro de ",
        " de Novembro de ",
        " de Dezembro de "
    ];

    diaSemana = [
        "Domingo",
        "Segunda-feira",
        "Terça-feira",
        "Quarta-feira",
        "Quinta-feira",
        "Sexta-feira",
        "Sábado"
    ];

    dataCompleta =  diaSemana[d.getDay()] + ', ' + myday + mesExtenso[month] + year;

    $('.data').html(dataCompleta);

    $.ajax({
        type: "GET",
        url : "http://odia.ig.com.br/tempo/tempo.json",
        dataType : "JSON",
        success : function(response){

            var auxiliar = response.noticias.tempo.especial.itens[0].componentes[0].dados.chamada;
            $('.min-tempo span').html(auxiliar.tempmin);
            $('.max-tempo span').html(auxiliar.tempmax);
            $('.ico-tempo').attr('style','background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-home.png?v=01) no-repeat scroll 0 '+auxiliar.imgtempo+' ')
        }
    });

    if( $("meta[name='odia-OAS-vars-secao']").attr("content").match(/\/noticia\/homepage/)){
        $("#menu-noticia").addClass("ativo");
        mn = true;
    }

    if( $("meta[property='og:url']").attr("content").match(/\/rio\-de\-janeiro\//)){
        $("#menu-noticia").removeClass("ativo");
        $("#menu-rio").addClass("ativo");
        mn = true;
    }
     if( $("meta[name='odia-OAS-vars-secao']").attr("content").match(/\/diversao\/homepage/)){
        $("#menu-diversao").addClass("ativo");
        mn = true;
    }
    if( $("meta[name='odia-OAS-vars-secao']").attr("content").match(/\/esporte\/homepage/)){
        $("#menu-esporte").addClass("ativo");
        mn = true;
    }
    if($("meta[name='odia-section-name']").attr("content").match(/Home/)){
        $("#menu-capa").addClass("ativo");
        mn = true;
    }

    if(!mn){
        $("#menu-mais").addClass("ativo");
    }

    arrayCanais = ['noticia','esporte','diversao','especiais'];
    arrayEspeciais = ['copadasconfederacoes','riosemfronteiras','observatorio','brasileirao-2013','vivoconectadoaorio','selecaobrasileira','jornadamundialdajuventude','copa-do-mundo' ,'marica','perimetral'];
    nomeSecao = "";
    nomeCanal = "";
    menuNormal = 0;

    function personalizaHeader(nomeSecao, nomeCanal) {
        $('.especial-nav').css('display','block');
        $("#menu-capa").addClass("ativo");
        $('#EJEHEA00806').css('margin-bottom','10px');
        $('#climate').css('display', 'none');
        $('#sponsor').css('display', 'block');
        $('#imagemEditoria').addClass('header-'+nomeSecao+'');
        $('#sectionname').addClass(''+nomeSecao+'-nome-editoria');
        $('.especial-nav').find("#menu-capa").find('a').attr('href', '/'+nomeCanal+'/'+nomeSecao+'/');
        $('#sectionname').append('<div id="label_escudo"></div>');

        if(nomeSecao === 'vivoconectadoaorio') {

            $('#label_escudo').html('<img src="http://s0.ejesa.ig.com.br/img/odia/logo_vivo_header.png"/><br /><span>conectado ao rio</span>');
            $('body').attr('id', 'edvivo');
            $('#submenu').css('display','none');

        } else if(nomeSecao === 'copadasconfederacoes') {

            $('#label_escudo').html('<b>esporte</b><br /><span>copa das confederações</span>');
            $('#submenu').css('display','none');

        } else if(nomeSecao === 'riosemfronteiras') {

            $('#label_escudo').html('<b>rio</b><br /><span>cidade sem fronteiras</span>');
            $('#submenu').css('display','none');

        } else if(nomeSecao === 'observatorio') {

            $('#label_escudo').html('<b>rio</b><br /><span>observatório da mobilidade</span>');
            $('#submenu').css('display','none');

        } else if(nomeSecao === 'brasileirao-2013') {

            $('#label_escudo').html('<b>esporte</b><br /><span>brasileirão</span>');
            $('#submenu').css('display','none');

        } else if(nomeSecao === 'selecaobrasileira') {

            $('#label_escudo').html('<b>esporte</b><br /><span>copa das confederações</span>');
            $('body').attr('id', 'confederacoes_brasil');
            $('#submenu').css('display','none');

        } else if(nomeSecao === 'jornadamundialdajuventude') {

            $('#label_escudo').html('<b>rio</b><br /><span>jornada mundial da juventude</span>');
            $('.especial-nav').find('li#menu-capa').after('<li id="como-chegar"><a href="http://odia.ig.com.br/noticia/pdf/13/05/16_papa_rio.pdf">como chegar</a></li><li id="estrutura"><a href="http://odia.ig.com.br/noticia/rio-de-janeiro/2013-07-16/eduardo-paes-apresenta-plano-operacional-da-cidade-para-a-jmj.html">estrutura</a></li><li class="last-child" id="permissao"><a href="http://odia.ig.com.br/noticia/rio/2013-05-16/fieis-vao-andar-meia-maratona-para-missa-na-jornada-mundial-da-juventude.html">o que é permitido</a></li>');
            $('.especial-nav').find('li#menu-capa').removeClass('last-child');
            $('#submenu').css('display','none');

        }
        else if(nomeSecao === 'marica') {

            $('#label_escudo').html('<small>especial informe</small><b>Maricá</b><span>O Dia no Estado</span>');
            $('.especial-nav').find('li#menu-capa').after('<li id="como-chegar"><a href="/especiais/marica">maricá</a></li>');
            $('.especial-nav').find('li#menu-capa').removeClass('last-child');
            $('#submenu').css('display','none');
             $('.especial-nav').find("#menu-capa").find('a').attr('href', '/noticia/rio-de-janeiro/index.html#odiaestado');

        }
        else if(nomeSecao === 'perimetral') {

            $('#label_escudo').html('<b>rio</b><span>Perimetral</span>');
            /*$('.especial-nav').find('li#menu-capa').after('<li id="como-chegar"><a href="/especiais/marica">maricá</a></li>');*/
            /*$('.especial-nav').find('li#menu-capa').removeClass('last-child');*/
            $('#submenu').css('display','none');
            $('.especial-nav').find("#menu-capa").find('a').attr('href', '/noticia/rio-de-janeiro/perimetral/');

        }
        else if(nomeSecao === 'copa-do-mundo') {

            $('#label_escudo').html('<b>esporte</b><br /><span>copa do mundo</span>');
            $('#submenu').css('display','block');

        }

    }



    for(i=0; i<arrayEspeciais.length; i++) {

        if($("link[rel='canonical']").attr("href").match("/"+arrayCanais[i]+"/")) {
            nomeCanal = arrayCanais[i];
        }

        if($("link[rel='canonical']").attr("href").match("/"+arrayEspeciais[i]+"/")) {
            nomeSecao = arrayEspeciais[i];
            menuNormal = 1;
        }
    }

    if(menuNormal === 1) {
        personalizaHeader(nomeSecao, nomeCanal);
    } else {
        $('.principal-nav').css('display','block');
    }


});

</script>

<%}%>
