
.EJEHLE03002r {
	width: 300px;
	height: 175px;
	margin: 15px 15px 20px 0;
	float: left
}

.EJEHLE03002r .headline{
	padding-bottom: 5px;
	height: 175px;
	width: 300px;
}
.EJEHLE03002r .headline-hat {
	width: 100%;
	height: 20px;
}

.EJEHLE03002r .headline-hat a{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #999;
}

.EJEHLE03002r .headline-hat a:hover{
	text-decoration: none;
	color: #999;

}

.EJEHLE03002r .headline-title {
	width: 100%;
	height: 70px;
	padding-top: 10px;
}

.EJEHLE03002r .headline-title a{
	font-family: Arial;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	text-decoration: none;
	color: #006699;
}

.EJEHLE03002r .headline-title a:hover{
	text-decoration: none;
	color: #0066CC;

}

.EJEHLE03002r .headline-text {
	width: 100%;
	height: 80px;
	margin-top: 5px;
}

.EJEHLE03002r .headline-text a{
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: #333333;
}

.EJEHLE03002r .headline-text a:hover{
	text-decoration: none;
	color: #666666;

}

.EJEHLE03002r .headline-title a{color: #996699;}
.EJEHLE03002r .headline-title a:hover{color: #996699;}
.EJEHLE03002r .headline-text a{color: #333;}
.EJEHLE03002r .headline-text a:hover{color: #666666;}
