<div id="area4">
    <div class='oas-retangulo'>
        <div id="retangulo_medio_3" class=''></div>
    </div>
    <div class='oas-retangulo'>
        <div id="retangulo_medio_4" class=''></div>
    </div>
    <div id="text_link" style="margin-bottom:20px" class=''></div>
</div>