<%{%>

    <!-- INICIO Novo Google Analyticas O DIA IG -->
    <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-160889-3', 'auto');
ga('create', 'UA-3531175-1', 'auto', {'name': 'ig'});ga('send', 'pageview');ga('ig.send', 'pageview');</script>
 <!-- FIM Novo Google Analyticas O DIA IG -->

    <script type="text/javascript">
        var especial450 = false;
    </script> 

    <script>window.jQuery || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-1.9.0.min.js">\x3C/script>')</script>
    <script>window.jQuery.ui || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-ui.min.js">\x3C/script>')</script>

    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

    <script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/EJESA_ODia_Index.min.js?v=0.6.7"></script>

    <!-- script type="text/javascript" src="http://www.apps.realtime.co/IBTX/9s3Lrr/IBTX.js"> </script -->
    <!--script type="text/javascript" src="http://clients.realtime.co/odia/rt_core.js"> </scrip-->
    <!-- webspectator -->
    <!-- script type="text/javascript" 
     src="//wfpscripts.webspectator.com/bootstrap/ws-WS-00DIA.js">
    </script -->

    <!-- script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/ODia_OAS.min.js?v=0.37"> </script -->
    <script src="http://s0.ejesa.ig.com.br/js/odia/jquery.lazyload.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $("img").lazyload({
                effect : "fadeIn"
            });
        });

        $(document).ready(function(){
            $('ul.main-nav li a').click(function() {
                var itemMenu = $(this).text();
                /*_gaq.push (['_trackEvent', 'Menu', 'click', itemMenu]);*/
                ga('send', 'event', {
                    eventCategory: 'Menu',
                      eventAction: 'click',
                       eventValue: itemMenu
                });
            });
            $('.destaque-lista ul li a').click(function() {
                var itemMenu = $(this).text();
                if(itemMenu==''){itemMenu = 'Social links'}
                /*_gaq.push (['_trackEvent', 'Menu Destaque', 'click', itemMenu]);*/
                ga('send', 'event', {
                    eventCategory: 'Menu Destaque',
                      eventAction: 'click',
                       eventValue: itemMenu
                });
            });
            $('.EJELIE00902 .writer-menu ul li a').click(function() {
                var itemAba = $(this).text();
                /*_gaq.push (['_trackEvent', 'Colunistas - Blogs', 'click', itemAba]);*/
                ga('send', 'event', {
                    eventCategory: 'Colunistas - Blogs',
                      eventAction: 'click',
                       eventValue: itemAba
                });
            });
            $('.EJELIE00902 .news-menu ul li a').click(function() {
                var itemAba = $(this).text();
                /*_gaq.push (['_trackEvent', 'Lidas - Ultimas', 'click', itemAba]);*/
                ga('send', 'event', {
                    eventCategory: 'Lidas - Ultimas',
                      eventAction: 'click',
                       eventValue: itemAba
                });
            });
        });
    </script>

    <script type="text/javascript">
        var ivcUrl = ("https:" == document.location.protocol ? "https://datpdpmej1fn2.cloudfront.net/" :
        "http://ivccftag.ivcbrasil.org.br/") + "ivc.js";
        ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalIvcNamespace=p.GlobalIvcNamespace||[];
        p.GlobalIvcNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
        };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
        n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script",ivcUrl,"ivc"));

        window.ivc('newTracker', 'cf', 'ivccf.ivcbrasil.org.br', {
            idWeb: '12'
        });

        window.ivc('trackPageView');
    </script>

<%}%>
