<link href="http://s0.ejesa.ig.com.br/css/odia/leodias/leodias.css?v=1.0" rel="stylesheet" type="text/css" media="screen" />

<link href="http://s0.ejesa.ig.com.br/css/odia/leodias/leodias-noticias.css?v=0.0.4" rel="stylesheet" type="text/css" media="screen" />
<link href="http://s0.ejesa.ig.com.br/css/odia/odia_components.css?v=14.4.9" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="http://s0.ejesa.ig.com.br/css/odia/leodias/fancybox.css" rel="stylesheet" type="text/css" media="screen" />