
<% { %>

    <!-- script src="http://s0.ejesa.ig.com.br/js/odia/IBT_Top.min.js" type="text/javascript"></script -->

    <script type="text/javascript">
        var _comscore = _comscore || [];
        _comscore.push({ c1: "2", c2: "6987205" });
        (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=6987205&cv=2.0&cj=1" />
    </noscript>

    <script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/EJESA_ODia_Index_pos.min.js?v=0.7.1"></script>

    <script>
        fixaMenu();
        fixMenuOnScroll();
    </script>

    <script type="text/javascript">
        if(window.location.href.search("edicao.html") == -1){

            var refreshTime;
            refreshTime = setTimeout(function () {
                window.location = window.location
            }, 16e4);

            (function() {
                $('a').click(function() {
                    var componente = $(this).closest('[class*="EJE"]').attr('class');
                    var titulo = $(this).attr('title');
                    var url = $(this).attr('href');
                    
                    ga('send', 'event', {
                        eventCategory: 'Home - Componentes',
                        eventAction: 'Click',
                        eventLabel: componente + ' | ' + titulo
                    });

                });
            })();

        }

        var domChk = $('meta[name=odia-status-maislidas]').attr('content');
        if(domChk=='false'){
            $('#news-last').show();
            $('#news-commented').hide();
            $('#news-item-commented').hide();
            $('#news-last').attr('id', 'news-lastx');
            $('#news-commented').attr('id', 'news-commentedx'); 
        }
    </script>

<% } %>