<!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/leodias/publicidade.js"></script>

<!-- INICIO Novo Google Analyticas O DIA IG -->
<script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-160889-3', 'auto');
ga('create', 'UA-3531175-1', 'auto', {'name': 'ig'});ga('send', 'pageview');ga('ig.send', 'pageview');</script>
<!-- FIM Novo Google Analyticas O DIA IG -->
