<footer>
		<a id="versao" href="http://odia.com.br">
			<img src="http://s0.ejesa.ig.com.br/img/odia/mobile/monitor.jpg">
			<span>Versão Clássica</span>
		</a>
		<a id="voltar" href="#header">
			<span>Voltar ao topo</span>
			<img src="http://s0.ejesa.ig.com.br/img/odia/mobile/up.jpg">
		</a>
		<hr>

		<small>© Copyright O DIA. Todos os direitos reservados.</small>
	</footer>