<div id="relacionadas">
		<strong>Notícias Relacionadas:</strong>
		<ul>
			<li>
				<a href="#">
					<img src="http://ejesa.statig.com.br/bancodeimagens/a7/h0/kb/a7h0kb9lzuyoto16bi6zqw072.jpg">
					<h4>fazer ajax</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="http://ejesa.statig.com.br/bancodeimagens/a7/h0/kb/a7h0kb9lzuyoto16bi6zqw072.jpg">
					<h4>fazer ajax</h4>
				</a>
			</li>

		</ul>
	</div>