    
    <%{%>
    <script>
        $(function() {
            if($('#EJEADA02404').length){
                $('#EJEADA02404').replaceWith('<div id="superbanner_1"></div>');
            }
            if($('#EJEADA02502').length){
                $('#EJEADA02502').replaceWith('<div id="botao_1"></div>');
            }
            if($('#EJEADA02602').length){
                $('#EJEADA02602').replaceWith('<div id="retangulo_medio_1"></div>');
            }
            if($('#EJEADA02702').length){
                $('#EJEADA02702').replaceWith('<div id="retangulo_medio_2"></div>');
            }
            if($('#area4 .oas-retangulo:eq(0)').length){
                $('#area4 .oas-retangulo:eq(0)').replaceWith('<div id="retangulo_medio_3"></div>');
            }
            if($('#area4 .oas-retangulo:eq(1)').length){
                $('#area4 .oas-retangulo:eq(1)').replaceWith('<div id="retangulo_medio_4"></div>');
            }
            if($('#area11 .oas-top1').length){
                $('#area11 .oas-top1').replaceWith('<div id="superbanner_2"></div>');
            }
        });

        /*if(typeof google_tag_manager == "undefined"){
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TP448H');

            setTimeout(function(){
                googletag.pubads().refresh();
            }, 1500);
        }*/
    </script>

    <script type="text/javascript" src="http://js.statig.com.br/barraiG/parceiros/barraiGv2.js"></script>
    <%}%>
    <nav id="main-nav">
        <div id="social-menu" class="desktop">
            <div class="container">
                <div id="social-bar">

                    <div class="scl-fb" style="float:left;">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fodiajornal&amp;width=110&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
                    </div>

                    <div class="scl-gp" style="float:left;">
                        <!-- Place this tag where you want the +1 button to render. -->
                        <div class="g-plusone" data-size="medium"></div>

                        <!-- Place this tag after the last +1 button tag. -->
                        <%{%>
                        <script type="text/javascript">
                          window.___gcfg = {lang: 'pt-BR'};

                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                        <%}%>
                    </div>

                </div>
                <%{%>
                    <script>
                        function setCookie(c_name,value,exdays){
                                var exdate=new Date();
                                exdate.setDate(exdate.getDate() + exdays);
                                var c_value=escape(value) +
                                ((exdays==null) ? "" : ("; expires="+exdate.toUTCString()));
                                document.cookie=c_name + "=" + c_value;
                            }

                            function getCookie(c_name){

                                var i,x,y,ARRcookies=document.cookie.split(";");
                                for (i=0;i<ARRcookies.length;i++){
                                    x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                                    y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);

                                    x=x.replace(/^\s+|\s+$/g,"");

                                    if (x==c_name){
                                        return unescape(y);
                                    }
                                }
                            }


                            function ajaxPrevisao(data){

                                if(typeof data == "undefined"){
                                    data = cachePrevisao;
                                }

                                var tempoMax = data.weather_forecast[0].tempMax;
                                var tempoMin = data.weather_forecast[0].tempMin;
                                var code = data.weather_forecast[0].weatherCode;
                                tempoMin = tempoMin.replace("&#176", "");
                                tempoMax = tempoMax.replace("&#176", "");
                                setCookie("previsaotempo",tempoMin+'|'+tempoMax+'|'+code+'|',1);
                                $("span#min-temp").html(tempoMin);
                                $("span#max-temp").html(tempoMax);
                                $('#weather-bar img').attr('src', 'http://s0.ejesa.ig.com.br/img/odia/previsao/'+code+'.png');
            

                            }


                            if(typeof getCookie("previsaotempo") === "undefined"){

                                var cachePrevisao = {};

                                $.ajax({
                                    url: "http://s0.ejesa.ig.com.br/json/previsao_tempo/weather_forecast.json",
                                    cache: true,
                                    dataType: "json",
                                    success: function(data, textStatus, xhr) {

                                        if(data){
                                            cachePrevisao = data;
                                            ajaxPrevisao(cachePrevisao);

                                        }
                                    }
                                });

                            }else{
                              $(document).ready(function(){
                                var cookieval = getCookie("previsaotempo");

                                  var temperaturas = decodeURI(cookieval).split("|");
                                  $("span#min-temp").html(temperaturas[0]);
                                  $("span#max-temp").html(temperaturas[1]);
                                  $('#weather-bar img').attr('src', 'http://s0.ejesa.ig.com.br/img/odia/previsao/' + temperaturas[2] + '.png');
                                   
                              });
                            }


                        $(function(){
                            var html = '';
                            var d, day, month, year, myday, mesExtenso, diaSemana, dataCompleta, mn = false;

                            d = new Date();
                            day = d.getDate();
                            month = d.getMonth();
                            year = d.getFullYear();

                            myday = (day <= 9) ? "0" + day : day;

                            mesExtenso = [
                                " de Janeiro de ",
                                " de Fevereiro de ",
                                " de Março de ",
                                " de Abril de ",
                                " de Maio de ",
                                " de Junho de ",
                                " de Julho de ",
                                " de Agosto de ",
                                " de Setembro de ",
                                " de Outubro de ",
                                " de Novembro de ",
                                " de Dezembro de "
                            ];

                            diaSemana = [
                                "Domingo",
                                "Segunda-feira",
                                "Terça-feira",
                                "Quarta-feira",
                                "Quinta-feira",
                                "Sexta-feira",
                                "Sábado"
                            ];

                            dataCompleta =  diaSemana[d.getDay()] + ', ' + myday + mesExtenso[month] + year;

                            $('#date-bar').html(dataCompleta);

                        });

                        $(document).ready(function(){
                            var tituloSecc = $('body').attr('data-secao');
                            if(typeof $('body').attr('data-fotogaleria') === "undefined"){
                                $('#ident-sec h2').html(tituloSecc);
                            }else{
                                $('#ident-sec h2').html("FOTOGALERIAS");
                            }

                            $("ul.main-cat li").removeClass("ativo");
                            if( $("meta[property='og:url']").attr("content").match(/\/rio\-de\-janeiro\//)){
                                $("ul.main-cat #m-rio").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/diversao\//)){
                                $("ul.main-cat #m-diversao").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/esporte\//)){
                                $("ul.main-cat #m-esporte").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/economia\//)){
                                $("ul.main-cat #m-economia").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/brasil\//)){
                                $("ul.main-cat #m-brasil").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/Mundo\//)){
                                $("ul.main-cat #m-mundo").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/automania\//)){
                                $("ul.main-cat #m-automania").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/indice\//)){
                                $("ul.main-cat #m-indice").addClass("ativo");
                            }
                        });
                    </script>
                <%}%>
                <div id="date-bar"></div>
                <div id="weather-bar"><img /> <div id="space-top"><span id="min-temp"></span><span>°</span> <abbr>min</abbr> <span id="max-temp"></span><span>°</span> <abbr>max</abbr></div></div>
                <div id="external-bar" >
                    <ul>
                        <li><a target="_blank" href="http://www.ejesa.com.br/assine/">Assine</a></li>
                        <li><a target="_blank" href="http://agenciaodia.ig.com.br/scripts/primeira.asp">Agência O Dia</a></li>
                        <li><a target="_blank" href="http://especiais.odia.ig.com.br/comercial/midiakit/">Anuncie</a></li>
                        <li><a target="_blank" href="http://www.classificadosodia.com.br/">Classificados</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="indent-menu">
            <div class="container">
                <div id="new-logo">
                    <a href="/"></a>
                </div>
                <div id="ident-sec" class="desktop">
                    <h2></h2>
                </div>
                <div id="new-search">
                    <form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                        <fieldset>
                            <label for="busca-campo" class="label-for-search">buscar</label>
                            <input type="text" alt="Buscar" placeholder="Busque no O Dia" title="Buscar" value="" name="q" id="buscar" autocomplete="off" >
                            <input type="hidden" id="cse-search-input-box-id" value="">
                            <input type="submit" id="submit" value="">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div id="nav-menu">
            <div class="container">
                <ul class="main-cat sometodomenu">
                    <li id="m-capa"><a href="/">Capa</a></li>
                    <li id="m-rio"><a href="http://odia.ig.com.br/rio-de-janeiro/">Rio </a></li>
                    <li id="m-diversao"><a href="http://odia.ig.com.br/diversao/">Diversão</a></li>
                    <li id="m-esporte"><a href="http://odia.ig.com.br/esporte/">Esporte</a></li>
                    <li id="m-economia"><a href="http://odia.ig.com.br/economia/">Economia</a></li>
                    <li id="m-brasil"><a href="http://odia.ig.com.br/brasil/">Brasil</a></li>
                    <li id="m-mundo"><a href="http://odia.ig.com.br/mundoeciencia/">Mundo & Ciência</a></li>
                    <li id="m-automania"><a href="http://odia.ig.com.br/blogs/">Blogs</a></li>
                    <li id="m-indice"><a href="http://odia.ig.com.br/indice/">Mais O Dia </a> </li>
                </ul>
                <div class="menu-hider">
                <span class="only-resp"><a class="tooglemenu" href="javascript:void(0);"></a></span>
                </div>
            </div>
        </div>
        <% { %>
            <script>
            $( ".maisrio" ).click(function() {
                $( ".position1" ).toggleClass( "highlight" );
                $( ".position1" ).fadeIn( "fast" );
                $( "nav#main-nav #nav-menu ul.main-cat.highlight2>li>a>img.rot-main-1" ).toggleClass( "rotacionando" );
            });
            $( ".maisdia" ).click(function() {
                $( ".position2" ).toggleClass( "highlight" );
                $( ".position2" ).fadeIn( "fast" );
                $( "nav#main-nav #nav-menu ul.main-cat.highlight2>li>a>img.rot-main-2" ).toggleClass( "rotacionando" );
            });


            $( ".maiseditorias" ).click(function() {

            $( ".someeditorial" ).toggleClass( "highlight" );});

            $( ".tooglemenu" ).click(function() {
                $( ".sometodomenu" ).toggleClass( "highlight2" );
            });

            $( ".maisdia" ).hover(function() {

                $( ".sub-cat-1>li:first-child" ).addClass( "ativo" );
            });

            $('.sub-cat-1>li').hover(function () {
                $( ".sub-cat-1>li:first-child" ).removeClass( "ativo" );
            });



            $( ".blogs" ).click(function() {
                $( ".someblog" ).toggleClass( "highlight" );
                $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-blog" ).toggleClass( "rotacionando" );
            });

            $( ".especiais" ).click(function() {
                $( ".someespeciais" ).toggleClass( "highlight" );
                $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-especiais" ).toggleClass( "rotacionando" );
            });

            $( ".colunistas" ).click(function() {
                $( ".somecolunistas" ).toggleClass( "highlight" );
                $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-colunistas" ).toggleClass( "rotacionando" );
            });

            $( ".editorias" ).click(function() {
            $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-editoriais" ).toggleClass( "rotacionando" );
            });

            </script>
        <% } %>
    </nav>



    <div id="fb-root" class="EJETOA00800"></div>

<%{%>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=11&appId=241359022642830";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      window.___gcfg = {
        lang: 'en-US'
      };

      (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[1];
        s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script>
    (function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[2];
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src="https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs"));
    </script>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=655561081171152&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
<%}%>
