    <%{%>
    <script type="text/javascript" src="http://js.statig.com.br/barraiG/parceiros/barraiGv2.js"></script>
    <%}%>
    <nav id="main-nav">
        <div id="social-menu" class="desktop">
            <div class="container">
                <div id="social-bar">

                    <div class="scl-fb" style="float:left;">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fodiajornal&amp;width=110&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
                    </div>

                    <div class="scl-gp" style="float:left;">
                        <!-- Place this tag where you want the +1 button to render. -->
                        <div class="g-plusone" data-size="medium"></div>

                        <!-- Place this tag after the last +1 button tag. -->
                        <%{%>
                        <script type="text/javascript">
                          window.___gcfg = {lang: 'pt-BR'};

                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                        <%}%>
                    </div>

                </div>
                <%{%>
                    <script>
                        function setCookie(c_name,value,exdays){
                            var exdate=new Date();
                            exdate.setDate(exdate.getDate() + exdays);
                            var c_value=escape(value) + 
                            ((exdays==null) ? "" : ("; expires="+exdate.toUTCString()));
                            document.cookie=c_name + "=" + c_value;
                        }

                        function getCookie(c_name){
                            var i,x,y,ARRcookies=document.cookie.split(";");
                            for (i=0;i<ARRcookies.length;i++){
                                x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                                y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
                                x=x.replace(/^\s+|\s+$/g,"");
                                if (x==c_name){
                                    return unescape(y);
                                }
                            }
                        }

                        function ajaxPrevisao(data){
                            if(typeof data == "undefined"){
                                data = cachePrevisao;
                            }
                            var tempoMax = data.weather_forecast[0].tempMax;
                            var tempoMin = data.weather_forecast[0].tempMin;
                            tempoMin = tempoMin.replace("&#176", "");
                            tempoMax = tempoMax.replace("&#176", "");
                            setCookie("previsaotempo",tempoMin+'|'+tempoMax,1);
                            $("span#min-temp").html(tempoMin);
                            $("span#max-temp").html(tempoMax);
                        }

                        if(typeof getCookie("previsaotempo") === "undefined"){

                            var cachePrevisao = {};

                            $.ajax({
                                url: "http://services.odia.ig.com.br/weatheronline/index.php",
                                cache: true,
                                dataType: "json",
                                success: function(data, textStatus, xhr) {
                                    if(data){
                                        cachePrevisao = data;
                                        ajaxPrevisao(cachePrevisao);
                                    }
                                }
                            });

                        }else{
                            $(document).ready(function(){
                                var cookieval = getCookie("previsaotempo");
                                var temperaturas = cookieval.split("|");
                                $("span#min-temp").html(temperaturas[0]);
                                $("span#max-temp").html(temperaturas[1]);
                            });
                        }

                        $(function(){
                            var html = '';
                            var d, day, month, year, myday, mesExtenso, diaSemana, dataCompleta, mn = false;

                            d = new Date();
                            day = d.getDate();
                            month = d.getMonth();
                            year = d.getFullYear();

                            myday = (day <= 9) ? "0" + day : day;

                            mesExtenso = [
                                " de Janeiro de ",
                                " de Fevereiro de ",
                                " de Março de ",
                                " de Abril de ",
                                " de Maio de ",
                                " de Junho de ",
                                " de Julho de ",
                                " de Agosto de ",
                                " de Setembro de ",
                                " de Outubro de ",
                                " de Novembro de ",
                                " de Dezembro de "
                            ];

                            diaSemana = [
                                "Domingo",
                                "Segunda-feira",
                                "Terça-feira",
                                "Quarta-feira",
                                "Quinta-feira",
                                "Sexta-feira",
                                "Sábado"
                            ];

                            dataCompleta =  diaSemana[d.getDay()] + ', ' + myday + mesExtenso[month] + year;

                            $('#date-bar').html(dataCompleta);

                        });
                        
                        $(document).ready(function(){
                            var tituloSecc = $('body').attr('data-secao');
                            $('#ident-sec h2').html(tituloSecc);
                            $("ul.main-cat li").removeClass("ativo");
                            if( $("meta[property='og:url']").attr("content").match(/\/rio\-de\-janeiro\//)){
                                $("ul.main-cat #m-rio").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/diversao\//)){
                                $("ul.main-cat #m-diversao").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/esporte\//)){
                                $("ul.main-cat #m-esporte").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/economia\//)){
                                $("ul.main-cat #m-economia").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/brasil\//)){
                                $("ul.main-cat #m-brasil").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/Mundo\//)){
                                $("ul.main-cat #m-mundo").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/automania\//)){
                                $("ul.main-cat #m-automania").addClass("ativo");
                            }
                            if( $("meta[property='og:url']").attr("content").match(/\/indice\//)){
                                $("ul.main-cat #m-indice").addClass("ativo");
                            }
                        });
                    </script>
                <%}%>
                <div id="date-bar"></div>
                <div id="weather-bar"><img src="http://s0.ejesa.ig.com.br/img/odia/m-sol.png"> <div id="space-top"><span id="min-temp"></span><span>°</span> <abbr>min</abbr> <span id="max-temp"></span><span>°</span> <abbr>max</abbr></div></div>
                <div id="external-bar" >
                    <ul>
                        <li><a href="http://agenciaodia.ig.com.br/scripts/primeira.asp">Agência O Dia</a></li>
                        <li><a href="http://especiais.odia.ig.com.br/comercial/midiakit/">Anuncie</a></li>
                        <li><a href="http://www.classificadosodia.com.br/">Classificados</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="indent-menu">
            <div class="container">
                <div id="new-logo">
                    <a href="/"></a>
                </div>
                <div id="ident-sec" class="desktop">
                    <h2></h2>
                </div>
                <div id="new-search">
                    <form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                        <fieldset>
                            <label for="busca-campo" class="label-for-search">buscar</label>
                            <input type="text" alt="Buscar" placeholder="Busque no O Dia" title="Buscar" value="" name="q" id="buscar" autocomplete="off" >
                            <input type="hidden" id="cse-search-input-box-id" value="">
                            <input type="submit" id="submit" value="">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div id="nav-menu" class="drop-especiais">
                    <div class="container">
                        <ul class="main-cat sometodomenu">
                            <li><a class="maisdia" href="javascript:void(0);"><img src="http://s0.ejesa.ig.com.br/img/odia/m-odia_limpo.png" class="logo-especiais"> <img class="rot-main-2" src="http://s0.ejesa.ig.com.br/img/odia/m-drop-baixo.png"></a>
                                <div class="drop-menu-home position2">
                                    <ul class="sub-cat-1">
                                        <li class=""><a class="maiseditorias editorias" href="javascript:void(0);">Editorias <img class="rot-editoriais" src="http://s0.ejesa.ig.com.br/img/odia/m-drop-baixo.png"></a>
                                            <div class="sub-cat-2 someeditorial">
                                                <ul>
                                                    <li><a href="http://odia.ig.com.br/noticia/riosemfronteiras/">Rio Sem Fronteiras</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/rio-de-janeiro/#conexaoleitor">Conexão Leitor</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/rio-de-janeiro/#odia24horas">O Dia 24 Horas</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/rio-de-janeiro/#odiabaixada">O Dia na Baixada</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/rio-de-janeiro/#odiaestado">O Dia no Estado</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/opiniao/#subarea13">Aroeira</a></li>
                                                </ul>

                                                <ul>
                                                    <li><a href="http://odia.ig.com.br/noticia/educacao">Educação</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/opiniao/">Opinião</a></li>
                                                    <li><a href="http://odia.ig.com.br/noticia/imoveis/">Imóveis</a></li>
                                                    <li><a href="http://odia.ig.com.br/diversao/celebridades/">Celebridades</a></li>
                                                    <li><a href="http://odia.ig.com.br/diversao/televisao/">Televisão</a></li>
                                                    <li><a href="http://odia.ig.com.br/diversao/carnaval/">O Dia na Folia</a></li>
                                                </ul>

                                                <ul class="inline">
                                                    <li><a href="http://odia.ig.com.br/esporte/botafogo/"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-botafogo.jpg" alt="Botafogo"></a></li>
                                                    <li><a href="http://odia.ig.com.br/esporte/flamengo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-flamengo.jpg" alt="Flamengo"></a></li>
                                                    <li><a href="http://odia.ig.com.br/esporte/fluminense/"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-fluminense.jpg" alt="Fluminense"></a></li>
                                                    <li><a href="http://odia.ig.com.br/esporte/vascodagama/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-vasco.jpg" alt="Vasco"></a></li>
                                                </ul>

                                            </div>
                                        </li>
                                        <!-- <li><a class="colunistas" href="javascript:void(0);">Colunistas <img class="rot-colunistas" src="imgs/drop-baixo.png"></a>

                                            <div class="sub-cat-2 somecolunistas">
                                                <ul>
                                                    <li><a href="#">Léo Moura</a></li>
                                                    <li><a href="#">Ariad</a></li>
                                                    <li><a href="#">Marcellus </a></li>
                                                    <li><a href="#">Regina </a></li>
                                                    <li><a href="#">Força </a></li>
                                                </ul>
                                            </div>

                                        </li> -->
                                        <li ><a class="blogs" href="javascript:void(0);">Blogs <img class="rot-blog" src="imgs/drop-baixo.png"></a>
                                            <div class="sub-cat-2 someblog">
                                                <ul>
                                                    <li><a href="http://blogs.odia.ig.com.br/leodias/">Leo Dias</a></li>
                                                    <li><a href="http://blogs.odia.ig.com.br/justicaecidadania/">Justiça & Cidadania</a></li>
                                                    <li><a href="http://blogs.odia.ig.com.br/odianafotografia/">O Dia Na Fotografia</a></li>
                                                    <li><a href="http://blogs.odia.ig.com.br/sacaessa/">Saca Essa </a></li>
                                                    <li><a href="http://blogs.odia.ig.com.br/forcamilitar/">Força Militar </a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://blogs.odia.ig.com.br/automania">AUTOMANIA</a></li>
                                                    <li><a href="http://blogs.odia.ig.com.br/mma/">MMA Na Rede</a></li>
                                                    <li><a href="http://blogs.odia.ig.com.br/ninalessa/">Nina Lessa</a></li>
                                                    <li><a href="http://odia.ig.com.br/blogs/"><strong>+todos os blogs</strong></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- <li><a class="especiais" href="javascript:void(0);">Especiais <img class="rot-especiais" src="imgs/drop-baixo.png"></a>

                                            <div class="sub-cat-2 someespeciais">
                                                <ul>
                                                    <li><a href="#">Léo Moura</a></li>
                                                    <li><a href="#">Ariad</a></li>
                                                    <li><a href="#">Marcellus </a></li>
                                                    <li><a href="#">Regina </a></li>
                                                    <li><a href="#">Força </a></li>
                                                </ul>
                                            </div>

                                        </li> -->
                                    </ul>
                                </div>
                            </li>
                            <!-- <li><a href="/esporte/brasileirao/">Classificação</a></li> -->
                            <!-- <li><a href="#">Artilharia</a></li> -->
                            <li><a href="/">Capa</a></li>
                        </ul>
                        <div class="menu-hider">
                        <span class="only-resp"><a class="tooglemenu" href="javascript:void(0);"></a></span>
                        </div>
                    </div>
                </div>
            </nav>

            <% { %>
            <script>
            $( ".maisrio" ).click(function() {
                $( ".position1" ).toggleClass( "highlight" );
                $( ".position1" ).fadeIn( "fast" );
                $( "nav#main-nav #nav-menu ul.main-cat.highlight2>li>a>img.rot-main-1" ).toggleClass( "rotacionando" );
            });
            $( ".maisdia" ).click(function() {
                $( ".position2" ).toggleClass( "highlight" );
                $( ".position2" ).fadeIn( "fast" );
                $( "nav#main-nav #nav-menu ul.main-cat.highlight2>li>a>img.rot-main-2" ).toggleClass( "rotacionando" );
            });


            $( ".maiseditorias" ).click(function() {

            $( ".someeditorial" ).toggleClass( "highlight" );});

            $( ".tooglemenu" ).click(function() {
                $( ".sometodomenu" ).toggleClass( "highlight2" );
            });

            $( ".maisdia" ).hover(function() {

                $( ".sub-cat-1>li:first-child" ).addClass( "ativo" );
            });

            $('.sub-cat-1>li').hover(function () {
                $( ".sub-cat-1>li:first-child" ).removeClass( "ativo" );
            });



            $( ".blogs" ).click(function() {
                $( ".someblog" ).toggleClass( "highlight" );
                $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-blog" ).toggleClass( "rotacionando" );
            });

            $( ".especiais" ).click(function() {
                $( ".someespeciais" ).toggleClass( "highlight" );
                $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-especiais" ).toggleClass( "rotacionando" );
            });

            $( ".colunistas" ).click(function() {
                $( ".somecolunistas" ).toggleClass( "highlight" );
                $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-colunistas" ).toggleClass( "rotacionando" );
            });

            $( ".editorias" ).click(function() {
            $( "nav#main-nav #nav-menu .drop-menu-home>ul.sub-cat-1>li a img.rot-editoriais" ).toggleClass( "rotacionando" );
            });


            </script>
        <% } %>
    </nav>

    <div id="fb-root" class="EJETOA00800"></div>

<%{%>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=11&appId=241359022642830";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      window.___gcfg = {
        lang: 'en-US'
      };

      (function() {
        var po = document.createElement('script'); 
        po.type = 'text/javascript'; 
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[1]; 
        s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script>
    (function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[2];
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src="https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs"));
    </script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[3];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=241359022642830";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<%}%>