    <% for (var indice = 0; this.arquivosEstilos != null &&  indice < this.arquivosEstilos.length; indice++) {%>
        <link type="text/css" rel="stylesheet" href="<%=this.arquivosEstilos[indice]%>" />
    <%}%>

    <% { %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Para atualizar versão do css utilize o admin do cms -->

    <!--[if lt IE 10]>
        <script>
                'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)});
        </script>
    <![endif]-->

    <!--[if IE 8 ]>
        <link href="http://s0.ejesa.ig.com.br/css/odia/odia_wrapper_ie8.css?v=1.6" type="text/css" rel="stylesheet">
        <link href="http://s0.ejesa.ig.com.br/css/odia/odia_components_ie8.css?v=1.1" type="text/css" rel="stylesheet">
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="http://s0.ejesa.ig.com.br/img/odia/favicon.ico" />
    <% } %>