<div id="igbar">
    <script type="text/javascript" src="http://js.statig.com.br/barraiG/parceiros/barraiGv2.js"></script>
</div>
<div id="EJEHEA00806">

    <header class="main-header">
        <div id="imagemEditoria" class="wrap-grid header">
            <div class="logo"><a href="/"></a></div>
            <div id="sectionname">
            </div>
            <div id="climate" class="clima-tempo">
                <div class="ico-tempo"></div>
                <div class="local-tempo">Rio de Janeiro, RJ</div>
                <div class="min-tempo"><abbr>min</abbr><span>-</span><sup>º</sup></div>
                <div class="max-tempo"><abbr>máx</abbr><span>-</span><sup>º</sup></div>
                <div class="data"></div>
            </div>

            <div id="search">
                <form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                    <fieldset>
                        <label for="busca-campo" class="label-for-search">buscar</label>
                        <input type="text" alt="Buscar" title="Buscar" value="Busque no O Dia" name="q" id="buscar" autocomplete="off" onfocus="if(this.value=='Busque no O Dia') {this.value = '';}" onblur="if(this.value=='') {this.value = 'Busque no O Dia';}"><input type="hidden" id="cse-search-input-box-id" value="">
                        <input type="submit" id="submit" value="">
                        <cite>enhanced by <strong>Google</strong></cite>
                    </fieldset>
                </form>
            </div>
            <div id="sponsor" style="display:none;"></div>
        </div>
    </header>

    <header class="main-header-fixo" style="display:none;">        
        <div id="imagemEditoria" class="wrap-grid header" style="padding-top:10px;">
            <div class="logo"><a href="/"><img src="http://s0.ejesa.ig.com.br/img/odia/odia-mf.png?v=1" width="133" height="39" /></a></div>
            <div id="sectionname"></div>
            <div id="climate" class="clima-tempo" style="margin-left:-58px!important;"></div>
            <div id="search">
                <form lang="atmors" action="/busca/" method="get" name="search" id="buscaGoogle" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                    <fieldset style="margin-top:-51px!important;">
                        <label for="busca-campo" class="label-for-search">buscar</label>
                        <input type="text" alt="Buscar" title="Buscar" value="Busque no O Dia" name="q" id="buscar" autocomplete="off" onfocus="if(this.value=='Busque no O Dia') {this.value = '';}" onblur="if(this.value=='') {this.value = 'Busque no O Dia';}"><input type="hidden" id="cse-search-input-box-id" value="">
                        <input type="submit" id="submit" value="">
                        <cite>enhanced by <strong>Google</strong></cite>
                    </fieldset>
                </form>            
            </div>            
            <div id="sponsor" style="display:none;"></div>        
        </div>    
    </header>

    <nav class="principal-nav">
        <div class="wrap-grid ">
            <ul class="main-nav">
                <li id='menu-capa'><a href="/">capa</a></li>
                <li id='menu-rio'><a href="/noticia/rio-de-janeiro/index.html">rio</a></li>
                <li id='menu-diversao'><a href="/diversao/index.html">diversão</a></li>
                <li id='menu-noticia'><a href="/noticia/economia/index.html">economia</a></li>
                <li id='menu-esporte'><a href="/esporte/index.html">esporte</a></li>
                <li id='menu-mais'><a href="javascript:void(0);">+mais <span class="ico-drop-down"></span></a>
                    <div class="mais-drop-down">
                        <div class="drop-down-header">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="drop-down-content">
                            <ul class="mais-rio">
                                <li class="first-child"><a href="/noticia/rio-de-janeiro/index.html">Rio</a></li>
                                <li><a href="/noticia/riosemfronteiras/index.html">Rio Sem Fronteiras</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#conexaoleitor">Conexão Leitor</a></li>
                                <li><a href="http://odia.ig.com.br/noticia/observatorio/">Observatório da Mobilidade</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odia24horas">O Dia 24 Horas</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odiabaixada">O Dia na Baixada</a></li>
                                <li><a href="/noticia/rio-de-janeiro/index.html#odiaestado">O Dia no Estado</a></li>
                                <li><a href="/noticia/opiniao/index.html">Aroeira</a></li>
                            </ul>
                            <ul class="mais-ultimas">
                                <li class="first-child"><a href="/noticia/index.html">Notícias</a></li>
                                <li><a href="/noticia/brasil/index.html">Brasil</a></li>
                                <li><a href="/noticia/economia/index.html">Economia</a></li>
                                <li><a href="/noticia/mundoeciencia/index.html">Mundo e Ciência</a></li>
                                <li><a href="/noticia/educacao/index.html">Educação</a></li>
                                <li><a href="/noticia/opiniao/index.html">Opinião</a></li>
                                <li><a href="/noticia/automania/index.html">Automania</a></li>
                                <li><a href="/noticia/imoveis/index.html">Imóveis</a></li>
                            </ul>
                            <ul class="mais-lazer">
                                <li class="first-child"><a href="/diversao/index.html">Diversão</a></li>
                                <li><a href="/diversao/celebridades/index.html">Celebridades</a></li>
                                <li><a href="/diversao/televisao/index.html">Televisão</a></li>
                                <li><a href="/diversao/carnaval/index.html">O Dia na Folia</a></li>
                            </ul>
                            <ul class="mais-esportes">
                                <li class="first-child"><a href="/esporte/index.html">Esporte</a></li>
                                <div class="escudo-times">
                                <a href="/esporte/botafogo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-botafogo.jpg"></a>
                                <a href="/esporte/flamengo/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-flamengo.jpg"></a>
                                <a href="/esporte/fluminense/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-fluminense.jpg"></a>
                                <a href="/esporte/vascodagama/index.html"><img src="http://s0.ejesa.ig.com.br/img/odia/escudo-vasco.jpg"></a>
                                </div>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="last-child"><a href="http://www.classificadosodia.com.br/" target="_blank">classificados</a></li>
            </ul>
            <div class="social-nav">
                <div class="facebook-likes">
                    <div class="fb-like" data-href="https://www.facebook.com/odiajornal" data-send="false" data-layout="button_count" data-width="106" data-show-faces="false"></div>
                </div>
                <div class="google-plus-shares">
                    <g:plusone size='medium' href='http://www.odia.com.br'></g:plusone>
                </div>
            </div>
        </div>
    </nav>

</div>