<script type="text/javascript" src="http://s0.ejesa.ig.com.br/img/odia/mobile/jquery.js"></script>

	<script type="text/javascript">

	$( document ).ready(function() {
		$("#toggle").click(function() {
			$(this).toggleClass("white");
			$("#menu").toggle();
		});
	});
	</script>