<nav id="header">
		<div>
			<span>
				<a href="javascript:void(0);" id="toggle">
					<img src="http://s0.ejesa.ig.com.br/img/odia/mobile/toggle.png">
				</a>
			</span>
			<h1>
				<a href="/">
					<img src="http://s0.ejesa.ig.com.br/img/odia/mobile/logo-mobile.jpg">
				</a>
			</h1>
		</div>

	</nav>
	<ul id="menu">
		<li><a class="selected" href="http://odia.ig.com.br/index.mobile">Capa</a></li>
		<li><a href="http://odia.ig.com.br/noticia/rio-de-janeiro/rio-de-janeiro.mobile">Rio de Janeiro</a></li>
		<li><a href="http://odia.ig.com.br/noticia/brasil/brasil.mobile">Brasil</a></li>
		<li><a href="http://odia.ig.com.br/noticia/economia/economia.mobile">Economia</a></li>
		<li><a href="http://odia.ig.com.br/noticia/mundoeciencia/mundoeciencia.mobile">Mundo & Ciência</a></li>
		<li><a href="http://odia.ig.com.br/noticia/opiniao/opiniao.mobile">Opinião</a></li>
		<li><a href="http://odia.ig.com.br/blogs.mobile">Blogs</a></li>
		<li><a href="http://odia.ig.com.br/noticia/imoveis/imoveis.mobile">Imóveis</a></li>
		<li><a href="http://odia.ig.com.br/diversao/diversao.mobile">Diversão</a></li>
		<li><a href="http://odia.ig.com.br/esporte/esporte.mobile">Esporte</a></li>
		<div id="sombra"></div>
	</ul>