<script>window.jQuery || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-1.9.0.min.js">\x3C/script>')</script>
<script type='text/javascript' src='http://s0.ejesa.ig.com.br/js/odia/leodias/jquery.flexslider-min.js'></script>
<script src="http://s0.ejesa.ig.com.br/js/odia/leodias/jquery.isotope.js"></script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/leodias/jquery.fancybox.js?v=0.2"></script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/leodias/scripts.js?v=0.0.4"></script>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/leodias/leodias-noticias.js?v=2.0"></script>