<% { %>

    <!-- script src="http://s0.ejesa.ig.com.br/js/odia/IBT_Top.min.js" type="text/javascript"></script -->

    <script type="text/javascript">
        var _comscore = _comscore || [];
        _comscore.push({ c1: "2", c2: "6987205" });
        (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=6987205&cv=2.0&cj=1" />
    </noscript>

    <script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/EJESA_ODia_Index_pos.min.js?v=0.0.5"></script>

    <script>
        /*fixaMenu();*/
        previsaoTempo();
        /*fixMenuOnScroll();*/
    </script>

    <script type="text/javascript">
        /*if ($('div.ODiaSuperGaleria section .galeria-repositorio h1').length > 0) {
            var secaoToGa = $("meta[name='odia-section-name']").attr("content");
            var tituloToGa = $('div.ODiaSuperGaleria section .galeria-repositorio h1').text();
            tituloToGa = (tituloToGa != null ? tituloToGa.toLowerCase() : "");
            var stringToGa = secaoToGa +" - "+ tituloToGa;
            window.onload = function () {
                _gaq.push(['_trackEvent', 'Supergaleria', 'page view', 'Fotogalerias']);
                _gaq.push(['_trackEvent', 'Supergaleria', 'page view', stringToGa]);
            };
        }*/
    </script>

<% } %>