    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_wrapper.css?v=2.87" type="text/css" rel="stylesheet">    
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_components.css?v=14.4.0" type="text/css" rel="stylesheet">    
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_structure.css?v=1.31" type="text/css" rel="stylesheet">    
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_intervencao.css?v=3.11" type="text/css" rel="stylesheet">    
    <link href="http://s0.ejesa.ig.com.br/css/odia/jquery.msg.css" rel="stylesheet" type="text/css"> 
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_color_default.css?v=1.2" rel="stylesheet" type="text/css"> 

    <link href="http://s0.ejesa.ig.com.br/css/odia/responsivo.css?v=1.7" rel="stylesheet" type="text/css"> <!-- bom 0.9 -->
    <style>
        #main-nav{background:#fff!important;}
        #barra-parceiros{height:41px!important;}
    </style>

    <% { %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link href="http://s0.ejesa.ig.com.br/css/odia/supergaleria/supergaleria.min.css?v=0.2.11" rel="stylesheet" type="text/css"> 

    <!-- Para atualizar versão do css utilize o admin do cms -->

    <!--[if lt IE 10]>
        <script>
                'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)});
        </script>
    <![endif]-->

    <!--[if IE 8 ]>
        <link href="http://s0.ejesa.ig.com.br/css/odia/odia_wrapper_ie8.css?v=1.6" type="text/css" rel="stylesheet">
        <link href="http://s0.ejesa.ig.com.br/css/odia/odia_components_ie8.css?v=1.1" type="text/css" rel="stylesheet">
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="http://s0.ejesa.ig.com.br/img/odia/favicon.ico" />
    <% } %>