.EJELIE00402{
	border:0px;
	float:left;
	float:left;
	height:108px;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:640px;
}

.EJELIE00402 .headline{
	border-bottom: 1px dotted #949494;
	border-top: 1px dotted #949494;
	float:left;
	margin-right: 20px;
	padding-bottom:20px;
	padding-top: 20px;
	width:300px;
}

.EJELIE00402 .headline-pos1{
	float:left;
	margin-right: 20px;
	width:140px;
}

.EJELIE00402 .headline-pos2{
	float:left;
	width:140px;
}

.EJELIE00402 .headline-hat{
	float:left;
	height: 20px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJELIE00402 .headline-hat a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJELIE00402 .headline-hat a:hover{
	text-decoration: underline;	
}

.EJELIE00402 .headline-title{
	float:left;
	height: 48px;
	overflow:hidden; 
	width: 100%;
}

.EJELIE00402 .headline-title a{
	color: #004c87;	
	float:left;
	font-family: Arial;
	font-size: 14px;
	font-weight:normal;
	line-height: 16px;
	text-decoration: none;
}

.EJELIE00402 .headline-title a:hover{
	text-decoration: underline;
}