<div class="EJELIE00702">

		<div class="carousel-headlines">
			<ul>
				<li>
					<a class="animation" href="" title="">
						<div class="headline-img">
							<img src="" width="300" height="445"/>
						</div>
						<div class="headline">
							<div class="box-hat">
				                <div class="headline-hat"></div>
				            </div>
							<div class="box-title">
								<div class="headline-title">
									<span class="back"></span>
									<span class="front"></span>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="carousel-bar"></div>
		<div class="carousel-display">
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="carousel-arrow-top">
		</div>
		<div class="carousel-preview">
			<div class="carousel-preview-back">
				<div class="carousel-arrow-preview-back"><span></span></div>
				<ul>
					<li>
						<a href="#" title="">
							<img width="110" height="60" class="carousel-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-preview-middle"></div>
			<div class="carousel-preview-next">
				<div class="carousel-arrow-preview-next"><span></span></div>
				<ul>
					<li>
						<a href="#" title="">
							<img width="110" height="60" class="carousel-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>					
			</div>
		</div>


</div>