
<div class="EJELIE01904">
	<div class="product">
		<div class="product-texto">
			<div class="product-info">
				<ul>
					<li>
						<div class="product-hat">
							<a title=""></a>
						</div>
						<div class="product-title">
							<a href="#" title=""></a>
						 </div>
						 <div class="product-text">
						 	<a href="#" title=""></a>
						 </div>
					</li>
				</ul>
			</div>
			<div class="product-nav">
				<div class="product-nav-options">
					<div><a class="product-nav-back"></a></div>
					<div class="product-nav-middle">
						<ul>
							<li></li>
						</ul>
					</div>
					<div>
						<a class="product-nav-next"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="product-img">
			<div class="product-img-options">
				<ul>
					<li>
						<a href="#" title="">
							<img src="" width="440" height="345"  alt=""/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-preview">
			<div class="product-preview-back">
				<div class="product-arrow-preview-back"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_left_off.png" alt=""/></div>
				<ul>
					<li>
						<a href="#" title="">
							<div class="product-thumb-text">
								<span class="product-thumb-text-span"></span>
							</div>
							<img class="product-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>
			</div>
			<div class="product-preview-middle">
			</div>
			<div class="product-preview-next">
				<div class="product-arrow-preview-next"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_right_off.png" alt=""></div>
				<ul>
					<li>
						<a href="#" title="">
							<div class="product-thumb-text">
								<span class="product-thumb-text-span"></span>
							</div>
							<img class="product-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>