	<div class="EJELIE03404">
		<div class="carousel-chamada" style="height:415px">
			<div class="carousel-headlines">
				<ul>
					<li>
						<a class="carousel-img-link" href="#" target="_blank">
							<img class="carousel-img" alt="#" src=""/>
							<div class="box-title">
								<div class="carousel-title">
									<span class="back"></span>
									<span class="front"></span>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-display" style="display:none">
				<ul>
					<li class="nav_off">
						<a>
							<img class="carousel-thumb" alt="#" src="" />
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-nav">
				<a  class="carousel-back"></a>
				<div class="carousel-middle"></div>
				<a  class="carousel-next"></a>
			</div>
		</div>

	</div>