

.EJELIE02602 dl,
.EJELIE02602 menu,
.EJELIE02602 ol,
.EJELIE02602 ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/******carrossel******/

.EJELIE02602 .big,
.EJELIE02602 .thumbs {
	width: 300px;
	overflow: hidden;
	position:relative;
	background: #996699;
}

.EJELIE02602 .big ul,
.EJELIE02602 .thumbs ul {
	position: relative;
}

.EJELIE02602 .big li,
.EJELIE02602 .thumbs li {
	float: left;
	line-height: 0;
}

.EJELIE02602 .thumbs ul {
	left: 33px;
}

.EJELIE02602 .thumbs li {
	margin-right: 15px;
}

.EJELIE02602 .thumbs {
	padding: 15px 0;
}

.EJELIE02602 .thumbs .setas {
	background: url('img/setas_carrossel_diversao.png') no-repeat #774a85;
	width: 24px;
	height: 93px;
	position: absolute;
	top: 0px;
	z-index: 3;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.EJELIE02602 .thumbs .setas.direita {
	right: 0px;
	background-position: -24px 0;
}

.EJELIE02602 .thumbs > .setas.direita:hover {
	background: url('img/setas_carrossel_diversao.png') no-repeat -24px 0 #666699;
}

.EJELIE02602 .thumbs > .setas.esquerda:hover {
	background: url('img/setas_carrossel_diversao.png') no-repeat 0 0 #666699;
}

.EJELIE02602 .thumbs li span {
    border: 3px solid #fff;
    position: absolute;
    width: 110px;
    height: 63px;
    cursor: pointer;
    opacity: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.EJELIE02602 .thumbs li span.ativo {
	border: 3px solid #fff;
    position: absolute;
    width: 110px;
    height: 63px;
    cursor: pointer;
    opacity: 1;
}

.EJELIE02602 .thumbs li span:hover {
	opacity: 1;
}

.EJELIE02602 .big .indicador {
	background: url('img/indicador_diversao.png') no-repeat;
	width: 25px;
	height: 12px;
	position: absolute;
	bottom: 0px;
	left: 138px;
	z-index: 1;
}

.EJELIE02602 .big .box-title {
	clear: both;
	overflow: hidden;
	width: 290px;
	top: 0px;
	position: relative;
}

.EJELIE02602 .big .headline {
	bottom: -415px;
	position: absolute;
	width: 100%;
}
.EJELIE02602 .big .headline .box-hat {
	color: #fff;
	clear: both;
	overflow: hidden;
	width: 290px;
}
.EJELIE02602 .big .headline .box-hat  .headline-hat {
	background-color: #996699;
	color: #FFF;
	float: left;
	font: 11px arial,sans-serif;
	height: 17px;
	margin: 0px 1px 0px 0px;
	padding: 4px 7px 1px 8px;
	text-transform: uppercase;
	font-weight: bold;
}  

.EJELIE02602 .big .headline .box-title .headline-title {
	border-left: 10px solid #000;
	font: bold 24px/25px arial,sans-serif;
	padding: 11px 0 9px !important;
	position: relative;
}

.EJELIE02602 .big a:hover .box-title .headline-title {
	border-left-color:#181717;
}
.EJELIE02602 .big .headline .box-title .headline-title .back {
	-khtml-box-shadow: 5px 0px #000;
	-ms-box-shadow: 5px 0px #000;
	-moz-box-shadow: 5px 0px #000;
	-webkit-box-shadow: 5px 0px #000;
	-o-box-shadow: 5px 0px #000;
	box-shadow: 5px 0px #000;
	background-color: #000;
	color: #000;
	padding: 10px 0px 8px 0px;
	opacity: 0.80;
}
.EJELIE02602 .big a:hover .box-title .headline-title .back {
	-khtml-box-shadow:5px 0 #181717; 
	-ms-box-shadow:5px 0 #181717; 
	-moz-box-shadow:5px 0 #181717; 
	-webkit-box-shadow:5px 0 #181717; 
	-o-box-shadow:5px 0 #181717; 
	box-shadow:5px 0 #181717; 
	background-color:#181717; 
	color:#181717;
}
.EJELIE02602 .big .headline .box-title .headline-title .front {
	color: #fff;
	left: -3px;
	padding: 12px 0px 8px 0px;
	position: absolute;
	top: 0;
}
