
<div class="EJELIE02404">
     <div class="carrossel-options" style="">
        <div class="carrossel-menu" style="">
            <ul>
                <li class="carrossel-item-chamada"><a title="Capa" class="carrossel-menu-chamada">Fotos</a></li>
            </ul>
        </div>
        <!--<div class="carousel-plus">
            <a href="">+fotos »</a>
        </div>-->
    </div>
    <div id="carrossel">
        <div class="charge">
            <div class="navega seta-esquerda"></div>
             <a href="#" target="">
                <img id="0" src="" data-original="" class="lazy">
            </a>
    
            <div class="navega seta-direita"></div>
            <div class="box-title">
                <a href="" target="">
                    <div class="carousel-title" id="texto-0">
                        <span class="back"></span>
                        <span class="front"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="thumbs">
            <div class="lista">
                <ul id="small" style="margin-left:-5px !important">
                    <li grande="" texto="" link="#" style="margin-right:12px !important; display:none">
                        <span></span>
                        <span class="hover"></span>
                        <img width="110" height="64" id="1" src="" data-original="" class="lazy">
                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
