<div class="EJELIA00504">
	<div class="tabmenu" style="display:none;">
		<ul>
			<div id='option1' class='optab tabmenu_off'><a name="odiabaixada"></a><h2>o dia&nbsp;</h2><h1>BAIXADA</h1></div>
			<div id='option2' class='optab tabmenu_off'><a name="odiaestado"></a><h2>o dia&nbsp;</h2><h1>ESTADO</h1></div>
			<div id='option3' class='optab tabmenu_off'><a name="odia24horas"><h2>o dia&nbsp;</h2><h1>24HORAS</h1></div>
			<div id='option4' class='optab tabmenu_off'><a name="conexaoleitor"><h2>conexão&nbsp;</h2><h1>LEITOR</h1></div>
		</ul>
	</div>
	<div class="conexao-leitor"><h2>Conexão Leitor</h2> </div>
	<div id="EJELIA00504H">
		<div class="EJETOE00404HL" style="display:block">
			<div class="EJETOE00404" style="display:block">
				<div class="form-header-conexao">
					<div class="form-conexoes off on" id="form-cam-conexao">
						<div class="form-cam-conexao-img on">
						</div>
						<div class="form-text form-cam-conexao-text on">
							<a href="#" title="">
								<span class="top">Envie </span>
								<span class="bottom">fotos</span>
							</a>
						</div>
						<div class="form-indicador on" id="form-cam-conexao-indicador"></div>

					</div>
					<div class="form-conexoes off" id="form-video-conexao">
						<div class="form-video-conexao-img off">
						</div>
						<div class="form-text form-video-conexao-text off" >
							<a href="#" title="">
								<span class="top">Envie </span>
								<span class="bottom">vídeos</span>
							</a>
						</div>
						<div class="form-indicador" id="form-video-conexao-indicador"></div>
					</div>
					<div class="form-conexoes off" id="form-textos-conexao">
						<div class="form-textos-conexao-img off">
						</div>
						<div class="form-text form-textos-conexao-text off">
							<a href="#" title="">
								<span class="top">Envie </span>
								<span class="bottom">textos</span>
							</a>
						</div>
						<div class="form-indicador" id="form-textos-conexao-indicador"></div>
					</div>
				</div>


				<div class="form-conexao" id="form-cam-conexao-div">
					<div class="form-info">
						<span>
							Flagrou alguma cena curiosa ou problema na cidade? Faça fotos com sua maquina ou celular e mande para o conexao leitor preenchendo o formulario abaixo. Nele, é importante não deixar de mencionar o endereço eletrônico e o phone de contato corretos. Caso haja interesse, a equipe do Conexao Leitor pode entrar em contato com você antes de publicar o material enviado
						</span>
					</div>
					<div id="form-envio">
						    <form method="post" id="conexao" target="upload_target" enctype="multipart/form-data" class="frm" encoding="multipart/form-data">
							      <input name="editors" id="editors" value="conexao_leitor" type="hidden">

						  	<input type="hidden" id="numArquivos"  name="numArquivos" value="1" />
							<label for="name">
								<input type="text" id="name" name="name" value="Seu nome" onClick="javascript:this.value = '' "/>
							</label>
							<label for="email">
								<input type="text" id="email" name="email" value="Seu email" onClick="javascript:this.value = ''"/>
							</label>
							<label for="phone">
								<input type="text" id="phone" name="phone" value="Seu telefone" onClick="javascript:this.value = ''"/>
							</label>

							<textarea id="details" name="details" onClick="javascript:this.value = ''">Descrição</textarea>

							<div style="float:right; width:265px">
								<div class="form-text-arquivo" id="arquivo1" name="arquivo1">
									<div class="tipo-arquivo">
					        		    <input type="file" class="realupload" name="files[]" id="fileupload" onchange="this.form.fakeupload.value = this.value;" multiple="">
									</div>
								    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
							     </div>
							</div>
							<div class="form-info-atencao" id="info-form-cam-conexao-div">
								<span style="font-weight:bold; text-transform:uppercase">atenção </span>
								<span> Arquivos JPG, GIF ou PNG, com o tamanho máximo de 1mb cada uma. Para adicionar mais de uma foto clique no link "adicionar mais fotos".Serão permitidas no máximo 5 fotos, totalizando 5MB.</span>
							</div>
							<div class="form-info-atencao" id="info-form-video-conexao-div">
								<span style="font-weight:bold; text-transform:uppercase">atenção </span>
								<span> Somente serão aceitos arquivos com extensão MOV, AVI, MPEG, MPG, WMV ou FLV com tamanho até 15 megabytes. Se necessário, você pode comprimir o arquivo usando programas de compressão como o WinZip ou BraZip..</span>
							</div>
					      <div id="recaptcha_div" style="width:300px;margin-bottom:20px; float:right"></div>
					      <div class="div-checkbox">
								<label for="autorizacao" >
									<span class="span-checkbox">
										<span class="span-checkbox marked"></span>
									</span>
									<input type="checkbox" id="autorizacao" name="autorizacao"/>
									<span style="text-transform:uppercase; font-weight:bold; padding-left:30px; display:block; padding-top:3px">Termo de Responsabilidade</span>
									<span> Autorizo a publicação de foto e texto pelos jornais O Dia, Meia Hora e O Dia Online</span>
								</label>
							</div>
							<div id="div-envio">
								<input type="image" src="http://s0.ejesa.ig.com.br/img/odia/submit-button.png"  class="submit button" name="enviar" value="value" id="submit_file" >
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div id="EJELIA00504HL"></div>
	</div>
</div>
