<div class="EJELIE02702">
	<ul>
		<li>
			<div class="headline">
				<div class="headline-img">
					<span class="span-border-hover">
						<a href="#">
							<span class="active"></span>
								<img src="" width="140" height="95" alt=""/>
							</span>
						</a>
					</span>
				</div>
				<div class="headline-hat">
					<a title="" href="#"></a>
				</div>
				<div class="headline-title">
					<a title="" href="#"></a>
				</div>
			</div>
		</li>
	</ul>
</div>
