
<div class="EJELIE01004">
	<div class="news-hat">
		<span class="text"> Notícias Relacionadas</span>
	</div>
	<div class="headline-pos1">
		<div class="headline-pos1-hat">
			<a href="#" title="">
			</a>
		</div>
		<div class="headline-pos1-title">
			<a href="#" title="">
			</a>
		</div>
	</div>
	<div id="headline-pos2" class="headline">
		<div id="headline-pos2-img" class="headline-img">
			<a href="#" title="">
				<img src="" width="140" height="90" />
			</a>
		</div>
		<div id="headline-pos2-title" class="headline-title">
			<a href="" title="">
			</a>
		</div>
	</div>
	<div id="headline-pos3" class="headline">
		<div id="headline-pos3-img" class="headline-img">
			<a href="#" title="">
				<img src="" width="140" height="90" />
			</a>
		</div>
		<div id="headline-pos3-title" class="headline-title">
			<a href="#" title="">
			</a>
		</div>
	</div>
	<div id="headline-pos4" class="headline">
		<div id="" class="headline-img">
			<a href="#" title="">
				<img src="" width="140" height="90" />
			</a>
		</div>
		<div id="headline-pos4-title" class="headline-title">
			<a href="#" title="">
			</a>
	</div>
</div>