
.EJELIE02302xx {
	float: left;
	margin:  15px 15px 20px 0;
	width: 300px;
	height: 325px;
}
.EJELIE02302xx .carousel-headlines {
	float: left;
	height: 325px;
	margin: 0px;
	position:relative;
	overflow: hidden;
	width: 300px;
	background: #eee;
}

.EJELIE02302xx .carousel-headlines ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position:relative;
}

.EJELIE02302xx .carousel-headlines li {
	float:left;
	position:relative;

}

.EJELIE02302xx .carousel-headlines .carousel-eye {
	margin: 0 auto;
	padding-bottom: 4px;
	padding-top: 5px;
	width: 95%;
}

.EJELIE02302xx .carousel-headlines .carousel-eye a {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #999;
	display:block;
}

.EJELIE02302xx .carousel-headlines .carousel-title {
	height: 35px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 12px;
	width: 95%;
}

.EJELIE02302xx .carousel-headlines .carousel-title a {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
	color: #006699;
	display:block;
}

.EJELIE02302xx .carousel-headlines .nav-setas,
.EJELIE02302xx .carousel-headlines .nav-preview {
	float:left;
}

.EJELIE02302xx .carousel-headlines .nav-setas > div,
.EJELIE02302xx .carousel-headlines .nav-preview > div {
	position:absolute;
	top: 130px;
	cursor:pointer;
}

.EJELIE02302xx .carousel-headlines .nav-preview > div {
	width:102px;
	height:74px;
	background: #fff;
	display:block;
}

.EJELIE02302xx .carousel-headlines .nav-preview .carousel-preview-next {
	right: -70px;
}

.EJELIE02302xx .carousel-headlines .nav-preview .carousel-preview-back {
	left:-70px;
}

.EJELIE02302xx .carousel-headlines .nav-setas .carousel-arrow-preview-next {
	right:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_off.png') no-repeat;
	width:32px;
	height:74px;
	z-index: 2;
}
.EJELIE02302xx .carousel-headlines .nav-setas .carousel-arrow-preview-back {
	left:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_off.png') no-repeat;
	width:32px;
	height:74px;
	z-index: 2;
}
.EJELIE02302xx .carousel-headlines .nav-setas .carousel-arrow-preview-next:hover {
	right:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_on.png') no-repeat;
	width:32px;
	height:74px;
}
.EJELIE02302xx .carousel-headlines .nav-setas .carousel-arrow-preview-back:hover {
	left:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_on.png') no-repeat;
	width:32px;
	height:74px;
}

.EJELIE02302xx .carousel-headlines .nav-bullets {
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	height: 5px;
	opacity: 0.80;
	position: absolute;
	top: 0px;
	width: 280px;
	z-index: 5px;
	padding:8px 10px 15px 10px;
	background: #000;
}

.EJELIE02302xx .carousel-headlines .lista-bullets {
	position: absolute;
	right: 10px;
}

.EJELIE02302xx .nav-lista-bullets {
	position: absolute;
	top: 0px;
	width: 280px;
	z-index: 6px;
	padding:8px 10px 15px 10px;
}

.EJELIE02302xx .carousel-headlines .lista-bullets li {
	float:left;
	margin-left:4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #ccc;
	cursor: pointer;
	overflow: hidden;
}

.EJELIE02302xx .carousel-headlines .lista-bullets .ativo {
	background: #fff;
}

.EJELIE02302xx .carousel-headlines .lista-bullets #timer {
  height:12px;
  position:relative;
  width:12px;
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.EJELIE02302xx .circle {
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  bottom:1px;
  left:1px;
  position:absolute;
  right:1px;
  top:1px;

}

.EJELIE02302xx #color-left {z-index:2;}
.EJELIE02302xx #color-right {z-index:3;}
.EJELIE02302xx #cover {z-index:4;}


.EJELIE02302xx #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE02302xx .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #000 50%, #000 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #000 50%, #000 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #000 50%, #000 100%);
}

.EJELIE02302xx #cover {
  bottom:0;
  left:0;
  right:0;
  top:0;
  visibility:hidden;
}

.EJELIE02302xx #color-left {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

@-webkit-keyframes firstspin {
 0% {
 	visibility:visible;
 	-webkit-transform:rotate(0);
 }
 
 50% {
 	visibility:visible;
 	-webkit-transform:rotate(180deg);
 }
 
 50% {
 	visibility:hidden;
 	-webkit-transform:rotate(180deg);
 }
 
 100% {
 	visibility:hidden;
 	-webkit-transform:rotate(180deg);
 }
}

@-webkit-keyframes secondspin {
 0% {
 	visibility:hidden;
 	-webkit-transform:rotate(0);
 }
 
 50% {
 	visibility:hidden;
 	-webkit-transform:rotate(0deg);
 }
 
 50% {
 	visibility:visible;
 	-webkit-transform:rotate(0deg);
 }
 
 100% {
 	visibility:visible;
 	-webkit-transform:rotate(180deg);
 }
}


@-moz-keyframes firstspin {

0% {
	visibility:visible;
	-moz-transform: rotate(0);
 }
 
 50% {
 	visibility:visible;
 	-moz-transform: rotate(180deg);
 }
 
 50% {
 	visibility:hidden;
 	-moz-transform: rotate(180deg);
 }
 
 100% {
 	visibility:hidden;
 	-moz-transform: rotate(180deg);
 }

}

@-moz-keyframes secondspin {
 0% {
 	visibility:hidden;
 	-moz-transform:rotate(0);
 }
 
 50% {
 	visibility:hidden;
 	-moz-transform:rotate(0deg);
 }
 
 50% {
 	visibility:visible;
 	-moz-transform:rotate(0deg);
 }
 
 100% {
 	visibility:visible;
 	-moz-transform:rotate(180deg);
 }
}


@-ms-keyframes firstspin {

0% {
	visibility:visible;
	-ms-transform: rotate(0);
 }
 
 50% {
 	visibility:visible;
 	-ms-transform: rotate(180deg);
 }
 
 50% {
 	visibility:hidden;
 	-ms-transform: rotate(180deg);
 }
 
 100% {
 	visibility:hidden;
 	-ms-transform: rotate(180deg);
 }

}

@-ms-keyframes secondspin {
 0% {
 	visibility:hidden;
 	-ms-transform:rotate(0);
 }
 
 50% {
 	visibility:hidden;
 	-ms-transform:rotate(0deg);
 }
 
 50% {
 	visibility:visible;
 	-ms-transform:rotate(0deg);
 }
 
 100% {
 	visibility:visible;
 	-ms-transform:rotate(180deg);
 }
}


.EJELIE02302xx #cover, .EJELIE02302xx #color-left {
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-duration: 5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-duration: 5s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-timing-function: linear;

}

.EJELIE02302xx #cover {
	-webkit-animation-name: firstspin;
	-moz-animation-name: firstspin;
	-ms-animation-name: firstspin;
}
.EJELIE02302xx #color-left {
	-webkit-animation-name: secondspin;
	-moz-animation-name: secondspin;
	-ms-animation-name: secondspin;
}

.EJELIE02302xx #contador {
	display:block;
}



.EJELIE02302xx .carousel-preview-back ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 900px;

}

.EJELIE02302xx .carousel-preview-back ul li{
	float: left;
	position: relative;

}

.EJELIE02302xx .carousel-preview-next ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 900px;

}

.EJELIE02302xx .carousel-preview-next ul li{
	float: left;
	position: relative;

}