<div class="EJELIE03304">
	<div class="carrossel-options">
		<div class="carrossel-menu">
			<ul>
				<li class="carrossel-item-chamada">
					<a title="Fotogalerias" name="fotogalerias" class="carrossel-menu-chamada">Fotogalerias</a>
					<div class="go-mais"><a href="/galerias/">+fotos</a></div>
				</li>
			</ul>
		</div>
		<div class="fotodestaque ativo">
			<div class="imagem">
				<div class="navega seta-esquerda"></div>
				<div class="navega seta-direita"></div>
				<a href="#" target="">
					<div class="title">
						<span></span>
					</div>
					<img src="" data-original="" class="lazy">
				</a>
			</div>
		</div>
	</div>

	<ul class="thumbs-itens">
		<li data-url="" data-big="" data-titulo="">
			<a href="javascript:void();">
				<div class="foto">
					<span class="borda-foto">
						<span></span>
						<img src="" data-original="" class="lazy">
					</span>
				</div>
			</a>
		</li>
	</ul>

</div>
