<style>

	.EJELIE01304{
		float: left;
		height: 375px;
		margin:15px 20px 15px 0px ;
		width: 640px;	
		border-bottom: 1px dotted #ccc;

	}
	.EJELIE01304 .product{
		height: 345px;
		width: 640px;
		float: left;
		background-color:#eee;
	}

	.EJELIE01304 .product-texto{
		height: 345px;
		width: 200px;
		float: left;	
	}

	.EJELIE01304 .product-img{
		display: block;
		float: left;
		height: 345px;
		overflow: hidden;
		width: 440px;
		position: relative;
	}

	.EJELIE01304 .product-img-options {
		display: block;
		overflow: hidden;
	}

	.EJELIE01304 .product-img-options ul{
		list-style: none;
		margin:0px; 
		padding:0;
	}

	.EJELIE01304 .product-img-options ul li{
		display:inline;
		float: left;
		height:345px;
		width:440px;
	}

	.EJELIE01304 .product-img-options ul li img{
		height:345px;
		width:440px;
	}

	.EJELIE01304 .product-nav{
		bottom: 0;
	    display: block;
	    float: left;
	    height: 40px;
		margin:0 auto;
	    position: relative;
	    width: 200px;
	}

	.EJELIE01304 .product-nav-options{
		height: 30px;
		margin:0 auto;
		width: 190px;
		padding-top: 10px;
		padding-left: 12px;
	}

	.EJELIE01304 .product-nav-options .product-nav-back{
		float: left;
		width: 21px; 
		height: 21px;  
	}

	.EJELIE01304 .product-nav-options .product-nav-middle{
		float: left;
		height:18px;
		margin: 0px;
		padding-top: 3px;
		width:125px;
	}

	.EJELIE01304 .product-nav-options .product-nav-next{
		float: left;
		height:21px;	
		width:21px;
	}

	.EJELIE01304 .product-nav-options .product-nav-middle ul{
		list-style: none;
		margin:0px; 
		padding:0px;
		width:125px;
	}

	.EJELIE01304 .product-nav-options ul li{
		display:inline;
		float: left;
		height:21px;
		margin:2px;
		text-align: center;
		width:21px;
	}

	.EJELIE01304 .product_nav_on{
		float:left;
		background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_on_new.png') no-repeat center top;
	}

	.EJELIE01304 .product_nav_off{
		float:left;
		background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_off.png') no-repeat center top;
	}


	.EJELIE01304 .product-info {
   		height: 300px;
    	position: relative;
    	width: 180px;
    	float:left;
    	overflow: hidden;
	}

	.EJELIE01304 .product-info .product-title {
		width: 180px;
		height: 85px;
		float: left;
		margin: 0 auto;	
    	padding-left: 8px;
	}
	
	.EJELIE01304 .product-info .product-title a{
		text-decoration: none;
		font-family: Arial;
		font-size: 20px;
		line-height: 22px;
		color: #006699;
	}

	.EJELIE01304 .product-info .product-title a:hover{
		text-decoration: none;
		color: #0066cc;
	}
	.EJELIE01304 .product-info .product-hat {
		width: 160px;
		height: 35px;
		padding-top: 20px;
		padding-left: 8px;
		float: left;
	}

	.EJELIE01304 .product-info .product-hat a {
		font-family: Arial;
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		color: #999;

	}

	.EJELIE01304 .product-info .product-hat a:hover{
		color: #999;
		text-decoration: none;
	}

	.EJELIE01304 .product-info .product-text {
		width: 160px;
		height: 85px;
		padding-top: 20px;
		padding-left: 8px;
		float: left;
	}
	
	.EJELIE01304 .product-info .product-text a{
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		text-decoration: none;
		color: #333;
	}
	
	
	.EJELIE01304 .product-info .product-text a:hover{
		text-decoration: none;
		color: #666;
	}

	.EJELIE01304 .product-info ul{
	    height: 80px;
	    list-style: none outside none;
	    width: 300px;
	    padding-left: 0px;
	}

	.EJELIE01304 .product-info ul li{
  		display: none;
  	}
	.EJELIE01304 .product-info ul li:first-child{
  		display: inline;
  	}
  
</style>