.EJELIE01602{
	border:0px;
	float:left;
	float:left;
	height:85px;
	margin:15px 15px 20px 0px;
	padding:0px;
	width:640px;
}

.EJELIE01602 .headline{
	border-bottom: 1px dotted #949494;
	float:left;
	margin-right: 20px;
	width:300px;
}

.EJELIE01602 .headline-pos1{
	float:left;
	margin-right: 20px;
	width:140px;
}

.EJELIE01602 .headline-pos2{
	float:left;
	width:140px;
}

.EJELIE01602 .headline-hat{
	float:left;
	height: 20px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJELIE01602 .headline-hat a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJELIE01602 .headline-hat a:hover{
	text-decoration: underline;	
}

.EJELIE01602 .headline-title{
	float:left;
	height: 48px;
	overflow:hidden; 
	width: 100%;
}

.EJELIE01602 .headline-title a{
	color: #004c87;	
	float:left;
	font-family: Arial;
	font-size: 14px;
	font-weight:normal;
	line-height: 16px;
	text-decoration: none;
}

.EJELIE01602 .headline-title a:hover{
	text-decoration: underline;
}