	<div class="EJELIE00504">
		<div class="carousel-options">
			<div class="carousel-menu">
				<ul>
					<li class="carousel-item-photo"><a title="Capa" class="carousel-menu-photo">Fotogalerias</a></li>
					<li class="carousel-item-video"><a title="Notícias" class="carousel-menu-video">Vídeos</a></li>
				</ul>
			</div>
			<div class="carousel-plus">
				<a href="">+fotos »</a>
			</div>
		</div>

		<div class="carousel-photo">
			<div class="carousel-headlines">
				<ul>
					<li>
						<a class="carousel-img-link" href="#">
							<img class="carousel-img" alt="#" src=""/>
						</a>
						<div class="carousel-title">
							<a title="" href="#"></a>
						</div>

					</li>
					
				</ul>
			</div>
			<div class="carousel-display">
				<ul>
					<li class="nav_off">
						<a>
							<img class="carousel-thumb" alt="#" src="" />
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-nav">
				<a  class="carousel-back"></a>
				<div class="carousel-middle"></div>
				<a  class="carousel-next"></a>
			</div>
		</div>

		<div class="carousel-video">
			<div class="carousel-headlines">
				<ul>
					<li>
						<a class="carousel-img-link" href="#">
							<img class="carousel-img" alt="#" src=""/>
						</a>
						<div class="carousel-title">
							<a title="" href="#"></a>
						</div>

					</li>
					
				</ul>
			</div>
			<div class="carousel-display">
				<ul>
					<li class="nav_off">
						<a>
							<img class="carousel-thumb" alt="#" src=""/>
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-nav">
				<a  class="carousel-back"></a>
				<div class="carousel-middle"></div>
				<a  class="carousel-next"></a>
			</div>


		</div>
	</div>