	<div class="EJELIE00202">

		<div class="carousel-headlines">
			<ul>
				<li>
					<a class="carousel-img-link" href="#">
						<img class="carousel-img" alt="#" src="" />
					</a>
					<div class="carousel-eye">
						<a title="" href="#"></a>
					</div>
					<div class="carousel-title">
						<a title="" href="#"></a>
					</div>
				</li>
			</ul>
		</div>

		<div class="carousel-bar"></div>
		<div class="carousel-display">
			<ul>
				<li><a href="#"></a></li>
			</ul>
		</div>

		<div class="carousel-nav">
			<a class="carousel-back"></a>
			<div class="carousel-middle">
			</div>
			<a class="carousel-next"></a>
		</div>
		
		<div class="carousel-preview">
			<div class="carousel-preview-back">
				<div class="carousel-arrow-preview-back"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_left_on.png" alt=""/></div>
				<ul>
					<li>
						<a href="#" title="">
							<img class="carousel-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-preview-middle">
			</div>
			<div class="carousel-preview-next">
				<ul>
					<li>
						<a href="#" title="">
							<img class="carousel-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>
				<div class="carousel-arrow-preview-next"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_right_on.png" alt=""></div>
			</div>
		</div>

	</div>