
<div class="EJELIE02602 rosa">
	<div id="carrossel-diversao">
		<div class="big">
			<div class="indicador"></div>
			<ul>
				<li>
					<a href="#nogo">
						<div class="headline">                              
							<div class="box-hat">                                
								<div class="headline-hat"></div>
							</div>
							<div class="box-title">                                
								<div class="headline-title">                                  
									<span class="back"></span>
									<span class="front"></span>
								</div>
							</div>
						</div>
						<img src="">
					</a>
				</li>
			</ul>
		</div>
		<div class="thumbs">
			<div class="setas esquerda"></div>
			<div class="setas direita"></div>
			<ul>
				<li>
					<a href="javascript:void(0)">
						<span></span>
						<span class="hover"></span>
						<img src="" width="110" height="63">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>