<div class="EJELIA00109 EJELIA00906">
	<ul id="EJELIA00906HL">
		
	</ul>

	<span id="loadSolr"><img src="http://s0.ejesa.ig.com.br/img/odia/carregando-anima.gif"></span>
	<button id="btnMoreNews" onclick="carnavalSolr.loadMore();" style="-webkit-border-radius:5;-moz-border-radius:5;border-radius: 5px;border:0;font-family:Arial;color:#ffffff;font-size:20px;background:#996699;padding:10px20px10px20px;text-decoration: none;">Mais Noticias</button>
</div>