	.EJELIE01904{
		float: left;
		height: 375px;
		margin:15px 20px 15px 0px ;
		width: 640px;	

	}
	.EJELIE01904 .product{
		height: 345px;
		width: 640px;
		float: left;
		background-color:#eee;
	}

	.EJELIE01904 .product-texto{
		height: 345px;
		width: 200px;
		float: left;	
	}

	.EJELIE01904 .product-img{
		display: block;
		float: left;
		height: 345px;
		overflow: hidden;
		width: 440px;
		position: relative;
	}

	.EJELIE01904 .product-img-options {
		display: block;
		overflow: hidden;
	}

	.EJELIE01904 .product-img-options ul{
		list-style: none;
		margin:0px; 
		padding:0;
	}

	.EJELIE01904 .product-img-options ul li{
		display:inline;
		float: left;
		height:345px;
		width:440px;
	}

	.EJELIE01904 .product-img-options ul li img{
		height:345px;
		width:440px;
	}

	.EJELIE01904 .product-nav{
		bottom: 0;
	    display: block;
	    float: left;
	    height: 40px;
		margin:0 auto;
	    position: relative;
	    width: 200px;
	}

	.EJELIE01904 .product-nav-options{
		height: 30px;
		margin:0 auto;
		width: 190px;
		padding-top: 10px;
		padding-left: 12px;
	}

	.EJELIE01904 .product-nav-options .product-nav-back{
		float: left;
		width: 21px; 
		height: 21px;  
	}

	.EJELIE01904 .product-nav-options .product-nav-middle{
		float: left;
		height:18px;
		margin: 0px;
		padding-top: 3px;
		width:125px;
	}

	.EJELIE01904 .product-nav-options .product-nav-next{
		float: left;
		height:21px;	
		width:21px;
	}

	.EJELIE01904 .product-nav-options .product-nav-middle ul{
		list-style: none;
		margin:0px; 
		padding:0px;
		width:125px;
	}

	.EJELIE01904 .product-nav-options ul li{
		display:inline;
		float: left;
		height:21px;
		margin:2px;
		text-align: center;
		width:21px;
	}

	.EJELIE01904 .product_nav_on{
		float:left;
		background: url('http://s0.ejesa.ig.com.br/img/odia/nav_product_on_new.png') no-repeat center top;
	}

	.EJELIE01904 .product_nav_off{
		float:left;
		background: url('http://s0.ejesa.ig.com.br/img/odia/nav_product_off.png') no-repeat center top;
	}


	.EJELIE01904 .product-info {
   		height: 300px;
    	position: relative;
    	width: 180px;
    	float:left;
    	overflow: hidden;
	}

	.EJELIE01904 .product-info .product-title {
		width: 180px;
		height: 85px;
		float: left;
		margin: 0 auto;	
    	padding-left: 8px;
	}
	
	.EJELIE01904 .product-info .product-title a{
		text-decoration: none;
		font-family: Arial;
		font-size: 20px;
		line-height: 22px;
		color: #006699;
	}

	.EJELIE01904 .product-info .product-title a:hover{
		text-decoration: none;
		color: #0066cc;
	}
	.EJELIE01904 .product-info .product-hat {
		width: 160px;
		height: 35px;
		padding-top: 20px;
		padding-left: 8px;
		float: left;
	}

	.EJELIE01904 .product-info .product-hat a {
		font-family: Arial;
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		color: #999;

	}

	.EJELIE01904 .product-info .product-hat a:hover{
		color: #999;
		text-decoration: none;
	}

	.EJELIE01904 .product-info .product-text {
		width: 160px;
		height: 85px;
		padding-top: 20px;
		padding-left: 8px;
		float: left;
	}
	
	.EJELIE01904 .product-info .product-text a{
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		text-decoration: none;
		color: #333;
	}
	
	
	.EJELIE01904 .product-info .product-text a:hover{
		text-decoration: none;
		color: #666;
	}

	.EJELIE01904 .product-info ul{
	    height: 80px;
	    list-style: none outside none;
	    width: 300px;
	    padding-left: 0px;
	}

	.EJELIE01904 .product-info ul li{
  		display: none;
  	}
	.EJELIE01904 .product-info ul li:first-child{
  		display: inline;
  	}
  

.EJELIE01904 .product-preview{
	float:right;	
	height:74px;
	margin-right: 2px;
	margin-left:0px;
	position:relative;
	top:-99px;
	width:436px;
	z-index: 40px;
	display: block;
}

.EJELIE01904 .product-preview-back{
	background: #FFF;
	float:left;
	height:74px;
	width:134px;
}

.EJELIE01904 .product-arrow-preview-back{
	float: left;
	height: 74px;
	width: 32px;
	cursor: pointer;

}


.EJELIE01904 .product-preview-back ul{
	float: left;
	list-style: none;
	margin:0; 
	padding:0;
}

.EJELIE01904 .product-preview-back ul li{
	display: inline;
	margin:0px;
}

.EJELIE01904 .product-preview-middle{
	float:left;
	height:74px;
	margin:0px;
	width:32px;
}

.EJELIE01904 .product-preview-next{
	background: #FFF;
	float:right;
	height:74px;
	overflow:hidden;
	width:134px;
}


.EJELIE01904 .product-arrow-preview-next{
	float: right;
	height: 74px;
	width: 32px;
	cursor: pointer;
}

.EJELIE01904 .product-preview-next ul{
	float: left;
	list-style: none;
	margin:0; 
	padding:0;
}

.EJELIE01904 .product-preview-next ul li{
	display: inline;
	margin:0px;
}

.EJELIE01904 .product-thumb{
	height:62px;
	margin: 5px;
	overflow:hidden;
	width:92px;
}

.EJELIE01904 .product-thumb-text {
	float: left;
	position: absolute;
	display: block;
	width: 92px;
	margin-left: 5px;
	bottom: 7px;
	height: 30px;
	z-index: 100;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
}

.EJELIE01904 .product-thumb-text-span {
	padding-left: 3px;
	display: block;
	font-weight: bold;
	font-family: Arial;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}