
<div class="EJELIE00404">
	<div class="logo-be">
		<a href="http://brasileconomico.ig.com.br/" target="_blank"><img alt="Fonte: Brasil Econômico" src="http://s0.ejesa.ig.com.br/img/odia/be/be-ultimas2.jpg"></a>
		<hr>
	</div>
	<ul>
		<li>
			<div class="headline">
				<div class="headline-title">
					<a title="" target="_blank" href="#"></a>
				</div>
			</div>
		</li>
	</ul>
	<style type="text/css">
	.EJELIE00404 {border:0px; float:left;height:108px;margin:20px 0px 20px 0px;padding:0px; width:620px; }
	.EJELIE00404 ul, .EJELIE00404 ul li {list-style: none; padding: 0px; margin: 0px; overflow: hidden;}
	.EJELIE00404 ul li {float: left;}
	.EJELIE00404 .headline{float:left;margin-right: 20px;padding-bottom:20px;padding-top: 20px;width:300px; }
	.EJELIE00404 ul li:last-child .headline {margin-right: 0px;}
	.EJELIE00404 .headline-pos1{float:left;margin-right: 20px;width:300px; }
	.EJELIE00404 .headline-pos2{float:left;width:300px; }
	.EJELIE00404 .headline-title{float:left;height: 48px;overflow:hidden;width: 100%;}
	.EJELIE00404 .headline-title a{	color: #004c87;	float:left;	font-family: Arial;	font-size: 18px;font-weight:bold;line-height: 18px;text-decoration: none;}
	.EJELIE00404 .headline-title a:hover{text-decoration: underline;}
	.EJELIE00404 .logo-be {position: relative; display: block;}
	.EJELIE00404 .logo-be img {position: relative; z-index: 3; border: 0px none;}
	.EJELIE00404 .logo-be hr {background: transparent; margin: 0; padding: 0; z-index: 2; position: relative; top: -13px; border: 0px none; border-bottom: 1px solid #dedede;}
	</style>
</div>

