<table id="classificacao-pan" class="tablesorter">
    <thead> 
        <tr> 
            <th>País</th> 
            <th>Ouro</th> 
            <th>Prata</th> 
            <th>Bronze</th> 
        </tr> 
    </thead> 
    <tbody class="valores"> 
        <tr> 
            <td class="pais"></td> 
            <td class="ouro"></td> 
            <td class="prata"></td> 
            <td class="bronze"></td>
        </tr> 
    </tbody> 
</table> 