
<div class="EJELIE01802">

	<div class="carousel-headlines">
		<ul class="lista-carrossel" >
			<li class="item-carrossel">
				<a href="#" title="">
					<img src="" title=""  />
				</a>
			</li>
		</ul>
		<div class="infos">		
			<div class="carousel-eye">
				<a href="" title=""></a>
			</div>
			<div class="carousel-title">
				<a href="" title=""></a>
			</div>
		</div>
		
		<div class="nav-setas">
			<div class="carousel-arrow-preview-back" name="proximo"></div>
			<div class="carousel-arrow-preview-next" name="anterior"></div>
		</div>
		
		<div class="nav-preview">
			<div class="carousel-preview-back">
				<ul>
					<li>
						<a href="#" title="">
							<div class="thumb-text" id="thumb-text-back">
								<span class="thumb-text-span"></span>
							</div>
							<img class="carousel-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>	
			</div>
			<div class="carousel-preview-next">
				<ul>
					<li>
						<a href="#" title="">
							<div class="thumb-text" id="thumb-text-next">
								<span class="thumb-text-span"></span>
							</div>
							<img class="carousel-thumb" alt="#" src="" data-src="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="nav-bullets"></div>
		<div class="nav-lista-bullets">
			<ul class="lista-bullets" id="carlist2"></ul>
		</div>
		
		<p class="comeca"></p>
		
</div>