
<div class="EJELIE02104">
    <a name="aroeira"></a>
    <div class="cabecalho">
        <div class="cabecalho-topo">
        </div>
        <div class="cabecalho-texto">
            <div class="cabecalho-texto-topo">
                Aroeira
            </div>
            <div class="cabecalho-texto-embaixo">
                charge do dia
            </div>
        </div>
     </div>
    <div id="carrossel-aroeira">
        <div class="charge">
            <div class="navega seta-esquerda"></div>
                <div class="indicador"></div>
                <img id="0" src="">
            <div class="navega seta-direita"></div>
        </div>
        <div class="thumbs">
            <div class="setas esquerda"></div>
            <div class="lista">
                <ul id="small">
                    <li grande="">
                        <span></span>
                        <span class="hover"></span>
                        <img src="" />
                    </li>
                </ul>
            </div>
            <div class="setas direita"></div>
        </div>
    </div>
</div>
