<div class="EJELIA04902">
	<ul>
		<ul>
            <li>
                <a href=""></a>
            </li>
	</ul>

	<style type="text/css">

	.EJELIA04902 {width: 320px; height: 450px; position: relative; float: left; margin: 0 0 ; background: #ccc;  }
    .EJELIA04902 ul {margin: 0px; padding: 0px; text-align: left; list-style: none;}
    .EJELIA04902 ul li {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #333; height: 110px;  margin-top: 4px; padding: 30px 15px;}
    .EJELIA04902 ul li:first-child {margin-top: 0px;}
    .EJELIA04902 ul li a {font-family: Arial, sans-serif; font-size: 20px; line-height: 25px; letter-spacing: 0px; color: #fff; text-decoration: none;}


    </style>
</div>
