<style>
.EJELIE01004{
	width: 600px;
	height: 200px;
	margin: 15px 20px 15px 0px;
	float: left;
}

.EJELIE01004 .news-hat{
	background-color: #F5F5F5;
	float: left;
	height: 35px;
	width: 600px;
	position: relative;
	display: block;
	border-bottom: 2px solid #ccc;
}
.EJELIE01004 .news-hat .text{
	color: #cc0000;
	font-size: 18px;
	font-family: Arial;
	display: block;
	position: relative;
	padding: 5px 0px 10px 15px;
}
.EJELIE01004 .headline-pos1{
	width: 140px;
	height: 140px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
}
.EJELIE01004 .headline-pos1-hat{
	width: 140px;
	height: 40px;
	margin-bottom: 15px;
}
.EJELIE01004 .headline-pos1-hat a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
	color: #333;
}

.EJELIE01004 .headline-pos1-hat a:hover{
	text-decoration: none;
	color: #333;
}

.EJELIE01004 .headline-pos1-title{
	width: 140px;
	height: 85px;
}
.EJELIE01004 .headline-pos1-title a{
	text-decoration: none;
	font-size: 12px;
	font-family: Arial;
	color: #333;
}

.EJELIE01004 .headline-pos1-title a:hover{
	text-decoration: none;
	color: #333;
}

.EJELIE01004 .headline-pos2{
	width: 450px;
	height: 140px;
	float: left;
}

.EJELIE01004 .headline{
	width: 140px;
	height: 140px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	float: left;
}
.EJELIE01004 .headline-img img{
	width: 140px;
	height: 90px;
	margin-bottom: 5px;
}

.EJELIE01004 .headline-title {
	height: 45px;
	width: 140px;
	text-decoration: none;
}

.EJELIE01004 .headline-title a{
	text-decoration: none;
	color: #333;
	font-family:Arial;
	font-size: 13px;
	font-weight: bold;
}

.EJELIE01004 .headline-title a:hover{
	text-decoration: none;
	color: #666;
}
</style>