<div class="EJELIA05002">

	<div data-wrap="circular" class="jcarousel">
		<ul>
			<li>
				<a data-url="" data-titulo="" href="#">
					<img src="">
				</a>
			</li>
		</ul>
	</div>

	<div class="infos-carousel">
		<span><a href=""><h2></h2></a></span>
	</div>

		<a href="#" class="jcarousel-control-prev"></a>
		<a href="#" class="jcarousel-control-next"></a>

		<p class="jcarousel-pagination"></p>
<style type="text/css">

.EJELIA05002 {margin: 20px auto;position: relative;width: 300px;border-top: 3px solid #569820; float: left;}
.EJELIA05002 a {-webkit-transition: all 140ms linear;-moz-transition: all 140ms linear;-ms-transition: all 140ms linear;-o-transition: all 140ms linear;transition: all 140ms linear;}
.EJELIA05002 .infos-carousel {height: 110px;background: #eee;border: 1px solid #dcdcdc;padding: 10px 20px;text-align: left;}
.EJELIA05002 .infos-carousel span a {font-size: 22px;line-height: 24px;color: #333;font-weight: bold;font-family: arial;text-decoration: none;letter-spacing: -1px;}
.EJELIA05002 .infos-carousel span a:hover {color: #569820}
.EJELIA05002 .jcarousel {position: relative;overflow: hidden;width: 300px;height: 250px;}
.EJELIA05002 .jcarousel ul {width: 20000em;position: relative;list-style: none;margin: 0;padding: 0;}
.EJELIA05002 .jcarousel li {float: left;overflow: hidden;position: relative;}
.EJELIA05002 .jcarousel li a {width: 300px;height: 250px;display: block;}
.EJELIA05002 .jcarousel li a img {border: 0px none; -webkit-transition: all 140ms linear;-moz-transition: all 140ms linear;-ms-transition: all 140ms linear;-o-transition: all 140ms linear;transition: all 140ms linear;}
.EJELIA05002 .jcarousel li a:hover img {opacity: .8;}
.EJELIA05002 .jcarousel li.zoom {-webkit-animation: zoom 60s ease-out;}
@-webkit-keyframes zoom {0% {-webkit-transform: scale(1);} 100% {-webkit-transform: scale(2);}}
.EJELIA05002 .jcarousel-control-prev, .jcarousel-control-next {position: absolute;top: 350px;width: 10px;height: 18px;background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/arrow.png') no-repeat;}
.EJELIA05002 .jcarousel-control-prev {right: 36px;border-right: solid 1px #a0a0a0;padding-right: 8px;}
.EJELIA05002 .jcarousel-control-next {right: 18px;background-position: -27px 0;}
.EJELIA05002 .jcarousel-control-prev:hover span, .jcarousel-control-next:hover span {display: block;}
.EJELIA05002 .jcarousel-control-prev.inactive, .jcarousel-control-next.inactive {opacity: .5;cursor: default;}
.EJELIA05002 .jcarousel-pagination {position: absolute;bottom: -3px;left: 22px;}
.EJELIA05002 .jcarousel-pagination a {text-decoration: none;display: inline-block;line-height: 3px;min-width: 3px;height: 3px;background: #d2d3d3;color: #4E443C;border-radius: 14px;padding: 3px;text-align: center;margin-right: 3px;opacity: .75;}
.EJELIA05002 .jcarousel-pagination a.active {background: #333;color: #fff;opacity: 1;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);}
</style>
</div>


