
<div class="EJELIE03206">
	<div class="placeholder-wrap-content galeria-repositorio">
		<div class="shadow-galeria">
			<ul id="mycarousel" class="jcarousel-skin-tango">
			  <li>
			  	<a title="" href="">
					<img src="" width="940" height="438" alt="dest" />
					<span class="gradiente-texto"></span>
					<h2></h2>
					<h3></h3>
					<span class="wrap-exibicoes">
					<span class="numero-exbc"></span>
					<span class="exbc"></span>
					</span>
				</a>
			  </li>
			</ul>            
		</div>
	</div>
</div>
