<div class="EJELIA04906">
	<ul>
		<ul>
            <li>
                <a href="" title="">
                    <img src="">
                    <h3></h3>
                    <p>Fernanda Lima desapova atuação do Brasil</p>
                </a>
            </li>
	</ul>

	<style type="text/css">

	.EJELIA04906 {height: 200px; width: 940px; float: left;}
    .EJELIA04906 ul {padding: 0px; margin: 0px;}
    .EJELIA04906 ul li { text-align: left; padding: 0px; margin: 0px; list-style: none; width: 16.66%; height: 200px; position: relative; float: left; margin: 0 0 ; background: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  padding: 8px 16px;  }
    .EJELIA04906 a {text-decoration: none;}
    .EJELIA04906 p {position: absolute; left: 15px; top: 115px; font-size: 14px; line-height: 21px; color: #575757; font-family: Arial, sans-serif; width: 126px;}
    .EJELIA04906 img {position: absolute; left: 15px; top: 15px; z-index: 3; width: 126px;  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray;  -webkit-filter: grayscale(100%);}
    .EJELIA04906 h3 {position: absolute; left: 15px; top: 15px; font-size: 24px; line-height: 24px; color: #575757; font-family: Arial, sans-serif; color: #575757; margin: 0 0 0 0; padding:  0 ; padding-top: 15px; border-top: 3px solid #ccc; width: 126px; letter-spacing: -1px; z-index: 2;}


    </style>
</div>
