<style>
	.EJELIE02902{
		width: 300px;
		height: 125px;
		float: left;
		margin: 15px 20px 15px 0px;
	}
	.EJELIE02902 .headline-list{
		float: left;
		width: 300px;
		height: 120px;
	}
	.EJELIE02902 .headline-list ul{
		margin-left:0px;
		padding-left: 16px;
	}
	.EJELIE02902 .headline-list ul li a{
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #006699;
	}
	
	.EJELIE02902 .headline-list ul li a:hover{
		text-decoration: none;
		color: #0066CC;
	}

</style>