.EJELIE00202{
	background: #f0f0f0;
	border:0px;
	float:left;
	height:325px;
	margin: 0px 20px 0px 0px;
	padding:0px;
	width:300px;
}

.EJELIE00202 .carousel-headlines{
	float:left;	
	height:325px;
	margin:0px;
	overflow:hidden;
	width:300px;
}

.EJELIE00202 .carousel-headlines ul{
	list-style: none;
	margin:0; 
	padding:0;
}

.EJELIE00202 .carousel-headlines ul li{
	margin:0px;
}

.EJELIE00202 .carousel-img-link{
	border:0px;
	overflow:hidden
}

.EJELIE00202 .carousel-img{
	height:250px; 
	overflow:hidden;
	width:300px;
}

.EJELIE00202 .carousel-eye{
	height: 20px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom: 4px;
	padding-top: 5px;
	width: 95%;
}

.EJELIE00202 .carousel-eye a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
	text-transform: uppercase;
}

.EJELIE00202 .carousel-eye a:hover{
	text-decoration: underline;	
}

.EJELIE00202 .carousel-title{
	height: 35px;
	margin:0 auto;
	overflow:hidden; 
	padding-bottom: 12px;
	width: 95%;
}

.EJELIE00202 .carousel-title a{
	color: #004c87;	
	font-family: Arial;
	font-size: 16px;
	font-weight:normal;
	line-height: 18px;
	text-decoration: none;
}

.EJELIE00202 .carousel-title a:hover{
	text-decoration: underline;
}

.EJELIE00202 .carousel-bar{
	-moz-opacity: 0.25;
	background: #000000;
	filter: alpha(opacity=25);
	float:left;
	height:25px;
	opacity:0.25;
	position:relative;
	top:-325px;
	width:300px;
	z-index: 10px;
}

.EJELIE00202 .carousel-display{
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
	float:left;
	height:25px;
	opacity:0.85;
	position:relative;
	top:-350px;
	width:300px;
	z-index: 20px;
}

.EJELIE00202 .carousel-display ul{
	float: right;
	list-style: none;
	margin-right: 5px;
	margin-top: 5px;
	padding:0;

}

.EJELIE00202 .carousel-display ul li{
	display:inline;
	height:10px;
	margin:2px;
	width:10px;
}

.EJELIE00202 .nav_on{
	background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_on.png') no-repeat left bottom;
	float:left;
}

.EJELIE00202 .nav_off{
	background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_off.png') no-repeat left bottom;
	float:left;
}

.EJELIE00202 .carousel-nav{
	float:left;
	height:74px;
	margin:0px;
	position:relative;
	top:-225px;
	width:300px;
	z-index: 30px;
}

.EJELIE00202 .carousel-back{
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_off.png') no-repeat left bottom;
	float:left;	
	height:74px;
	margin:0px;
	width:32px;
}

.EJELIE00202 .carousel-middle{
	float:left;	
	height:74px;
	margin:0px;
	width:236px;
}

.EJELIE00202 .carousel-next{
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_off.png') no-repeat left bottom;
	float:left;	
	height:74px;
	margin:0px;
	width:32px;
}

.EJELIE00202 .carousel-preview{
	float:left;
	float:left;	
	height:74px;
	margin-left:0px;
	position:relative;
	top:-299px;
	width:300px;
	z-index: 40px;
	display: none;
}

.EJELIE00202 .carousel-preview-back{
	background: #FFF;
	float:left;
	height:74px;
	width:134px;
}

.EJELIE00202 .carousel-arrow-preview-back{
	float: left;
	height: 74px;
	width: 32px;
}


.EJELIE00202 .carousel-preview-back ul{
	float: left;
	list-style: none;
	margin:0; 
	padding:0;
}

.EJELIE00202 .carousel-preview-back ul li{
	display: inline;
	margin:0px;
}

.EJELIE00202 .carousel-preview-middle{
	float:left;
	height:74px;
	margin:0px;
	width:32px;
}

.EJELIE00202 .carousel-preview-next{
	background: #FFF;
	float:right;
	height:74px;
	overflow:hidden;
	width:134px;
}


.EJELIE00202 .carousel-arrow-preview-next{
	float: right;
	height: 74px;
	width: 32px;
}

.EJELIE00202 .carousel-preview-next ul{
	float: left;
	list-style: none;
	margin:0; 
	padding:0;
}

.EJELIE00202 .carousel-preview-next ul li{
	display: inline;
	margin:0px;
}

.EJELIE00202 .carousel-thumb{
	height:62px;
	margin: 5px;
	overflow:hidden;
	width:92px;
	cursor: pointer;
}