<div class="EJELIA01404 ">
	<ul class="fade">
		<li>
			<a href="">
				<img width="620" height="348" alt="" src="">
				<h2></h2>
				<p></p>
				<div class="mock-drop"></div>
			</a>
		</li>
	</ul>
	<nav class="navigation-forward-backward">
		<a href="#next" class="prev"></a>
		<a href="#back" class="next"></a>
	</nav>
	<nav class="navigation">
		<a href="#galleryClick" title="" class="slide inactive"></a>
	</nav>
	<style type="text/css">
		.EJELIA01404 {margin-top:15px;height:410px; overflow: hidden; position: relative;float: left; width: 620px; font-family: Arial, sans-serif; }
		.EJELIA01404 ul {padding: 0; margin: 0;}
		.EJELIA01404 ul li {position: relative;}
		.EJELIA01404 ul li a {display: block; text-decoration: none;}
		.EJELIA01404 ul li a img {width: 620px; height: 348px; z-index: 1;}
		.EJELIA01404 .fade{ height:348px; margin-left: 0px;}
		.EJELIA01404 .fade li {display:block; float: left; width:620px;}
		.EJELIA01404 .navigation{margin:20px 0; text-align: center; clear: both; margin-top: 375px;}
		.EJELIA01404 .slide {margin-right:5px; }
		.EJELIA01404 .inactive {display:inline-block; width:8px; height:8px; border-radius: 100px; background: #989898 ; }
		.EJELIA01404 .active {display:inline-block; width:8px; height:8px; border-radius: 100px; background: #333333 ; }
		.EJELIA01404 .navigation-forward-backward {visibility:hidden;}
		.EJELIA01404 .navigation-forward-backward a {position:absolute;top:150px; width:15px;height:22px; padding: 10px; background: rgba(0, 0, 0, 0.3) url("http://s0.ejesa.ig.com.br/img/odia/copa/seta-esq.png") 50% 50% no-repeat; text-indent:-1500px; left: 10px;}
		.EJELIA01404 .navigation-forward-backward a.next {left: auto; right:10px; background: rgba(0, 0, 0, 0.3) url("http://s0.ejesa.ig.com.br/img/odia/copa/seta-dir.png") no-repeat 50% 50%;}
		.EJELIA01404 .mock-drop {width: 620px; height: 129px; position: absolute; bottom: 0px; left: 0px; z-index: 2;  background:url("http://s0.ejesa.ig.com.br/img/odia/copa/trasparencia-texto.png") repeat-x;}
		.EJELIA01404 ul li a h2 {height: 50px; position: absolute; bottom: 55px;  left: 25px; z-index: 3; font-size: 38px; line-height: 32px; text-shadow: 0px 3px 0px #000; color: #fff; font-family: "Arial Black", Arial, sans-serif; font-weight: normal; text-transform: uppercase; margin: 0px;}
		.EJELIA01404 ul li a p {left: 25px; height: 27px; bottom: 35px; position: absolute; z-index: 3; font-size: 22px; line-height: 32px; text-shadow: 0px 2px 0px #000; color: #fff; font-weight: bold; margin: 0px;}
	</style>
</div>
