	<div class="EJELIE01504">
		<div class="carousel-options">
			<div class="carousel-menu">
				<ul>
					<li class="carousel-item-chamada"><a title="Capa" class="carousel-menu-chamada">Fotos</a></li>
				</ul>
			</div>
			<!--<div class="carousel-plus">
				<a href="">+fotos »</a>
			</div>-->
		</div>

		<div class="carousel-chamada">
			<div class="carousel-headlines">
				<ul>
					<li>
						<a class="carousel-img-link" href="#" target="_blank">
							<img class="carousel-img" alt="#" src=""/>
							<div class="box-title">
								<div class="carousel-title">
									<span class="back"></span>
									<span class="front"></span>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-display">
				<ul>
					<li class="nav_off">
						<a>
							<img class="carousel-thumb" alt="#" src="" />
						</a>
					</li>
				</ul>
			</div>
			<div class="carousel-nav">
				<a  class="carousel-back"></a>
				<div class="carousel-middle"></div>
				<a  class="carousel-next"></a>
			</div>
		</div>

	</div>