<style>
	.EJELIE01202{
		width: 300px;
		height: 125px;
		float: left;
		margin: 15px 20px 15px 0px;
	}
	.EJELIE01202 .headline{
		width: 100%;
		height: 60px;
		float: left;
	}
	.EJELIE01202 .headline-hat{
		float: left;

	}
	.EJELIE01202 .headline-hat a{
		font-size: 11px;
		font-family: Arial;
		font-weight: bold;
		text-transform: uppercase;	
		text-decoration: none;
		color: #999999;
	}
	.EJELIE01202 .headline-hat a:hover{
		text-decoration: none;
		color: #999999;
	}
	.EJELIE01202 .headline-title{
		float: left;
		padding-top: 10px;
		
	}
	.EJELIE01202 .headline-title a{
		font-size: 18px;
		line-height: 20px;
		font-family: Arial;
		font-weight: normal;
		text-decoration: none;
		color: #006699;
	}
	.EJELIE01202 .headline-title a:hover{
		text-decoration: none;
		color: #0066CC;
	}
	.EJELIE01202 .headline-list{
		float: left;
		width: 300px;
		height: 60px;
	}
	.EJELIE01202 .headline-list ul{
		margin-left:0px;
		padding-left: 16px;
	}
	.EJELIE01202 .headline-list ul li a{
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #006699;
	}
	
	.EJELIE01202 .headline-list ul li a:hover{
		text-decoration: none;
		color: #0066CC;
	}

</style>