<div class="EJELIA01504 ">
	<ul class="bxslider ">
		<li><a href="#"><img src="#" title="#" legend="#" /></a></li>
	</ul>
	<style type="text/css">
		.EJELIA01504 {width: 620px; display: block; clear: both; float: left; height: 430px; position: relative; margin-top: 15px;}
		.EJELIA01504 .bx-wrapper ul , .EJELIA01504 .bx-wrapper ul li {margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: left;}
		.EJELIA01504 .bx-wrapper {position: relative;margin: 0 auto;padding: 0;*zoom: 1; }
		.EJELIA01504 .bx-wrapper img {max-width: 100%;display: block; }
		.EJELIA01504 .bx-wrapper .bx-loading {min-height: 50px;background: url(http://s0.ejesa.ig.com.br/img/odia/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000; }
		.EJELIA01504 .bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;background: rgba(0, 0, 0, .4);position: absolute;top: 10px;height: 20px;width: auto;right: 10px;padding: 15px 10px 5px 10px;border-radius: 4px; }
		.EJELIA01504 .bx-wrapper .bx-pager .bx-pager-item, .EJELIA01504 .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline; }
		.EJELIA01504 .bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; }
		.EJELIA01504 .bx-wrapper .bx-pager.bx-default-pager a:hover, .EJELIA01504 .bx-wrapper .bx-pager.bx-default-pager a.active {background: #fff; }
		.EJELIA01504 .bx-wrapper .bx-prev {left: 0px; background: #ab669d  url(http://s0.ejesa.ig.com.br/img/odia/seta-esquerda-trasp.png) no-repeat 50% 50%; }
		.EJELIA01504 .bx-wrapper .bx-next {right: 0px; background: #ab669d  url(http://s0.ejesa.ig.com.br/img/odia/seta-direita-trasp.png) no-repeat 50% 50%; }
		.EJELIA01504 .bx-wrapper .bx-controls-direction a {position: absolute;top: 43%;margin-top: -16px;outline: 0;width: 40px; height: 93px;text-indent: -9999px;z-index: 9999;opacity: 0.95; background-size: 15px; }
		.EJELIA01504 .bx-wrapper .bx-prev:hover, .EJELIA01504 .bx-wrapper .bx-next:hover {opacity:1; }
		.EJELIA01504 .bx-wrapper .bx-controls-direction a.disabled {display: none; }
		.EJELIA01504 .bx-wrapper .bx-caption {position: absolute;bottom: 0px;left: 0; }
		.EJELIA01504 .bx-wrapper .bx-caption h2 { line-height: 1.4;padding: 0px 0;width: 360px;margin: 0px auto;}
		.EJELIA01504 .bx-wrapper .bx-caption h2 a {font-family: Arial; margin: 0px; font-size: 36px; letter-spacing: -3px; background-color: rgba(0, 0, 0, 0.6); color: #fff; display: inline; padding: 0px 10px; -webkit-box-decoration-break: clone; line-height: 41px;}
		.EJELIA01504 .bx-wrapper .bx-caption h3 {display: none;}
		.EJELIA01504.edicao .bx-wrapper .bx-loading {display: none !important;}
		.EJELIA01504 .bx-pager {display: none;}
	</style>
</div>
