<div class="EJELIA01204"> 
	<div class="list-header-search">
		<div class='topborder'></div>
		<div class='mais-galerias'>
			<h3>Mais galerias</h3>
			<div class="separador-navegacao">
				<div id="EJELIA01204FORM">
				</div>
			</div>
			<!-- <div class="separador-navegacao">
				<div class="src-box" id="EJELIA01204FORM">
				</div>
				<div class="breadcrumb-filtro">
					<img src="http://s0.ejesa.ig.com.br/img/odia/ico-reservado.png">
					<ul>
						<li><a href="#">filtro selecionado</a> </li>
						<li><a href="#">Todas as galerias</a></li>
					</ul>
				</div>
			</div>
			-->
		</div>
	</div>
	<div id="EJELIA01204HL">
	</div>

	<div class="headline-nav">    
		<div class="headline-nav-options">
			<div>
	    		<a class="headline-nav-back"  id="EJELIA01204-arrow-headline-nav-back" onClick="javascript:EJESA.EJELIA01204.prevPage()"></a>
			</div>
			<div class="headline-nav-middle">        
				<ul>
					<a onclick='javascript:EJESA.EJELIA01204.mudaPagina(this.rel)' rel='1' id='EJELIA01204-link_1'><li id="EJELIA01204-hn_pos_1" class="">1</li></a>
					<a onclick='javascript:EJESA.EJELIA01204.mudaPagina(this.rel)' ref='2' id='EJELIA01204-link_2'><li id="EJELIA01204-hn_pos_2" class="">2</li></a>
					<a onclick='javascript:EJESA.EJELIA01204.mudaPagina(this.rel)' rel='3' id='EJELIA01204-link_3'><li id="EJELIA01204-hn_pos_3" class="">3</li></a>
					<a onclick='javascript:EJESA.EJELIA01204.mudaPagina(this.rel)' rel='4' id='EJELIA01204-link_4'><li id="EJELIA01204-hn_pos_4" class="">4</li></a>
					<a onclick='javascript:EJESA.EJELIA01204.mudaPagina(this.rel)' rel='5' id='EJELIA01204-link_5'><li id="EJELIA01204-hn_pos_5" class="">5</li></a>
				</ul>
			</div>
			<div>
				<a class="headline-nav-next" id="EJELIA01204-arrow-headline-nav-next" onClick="javascript:EJESA.EJELIA01204.nextPage()"></a>
			</div>
		</div>
	</div>
</div>