<style>
.EJELIE00504{
	background: #f0f0f0;
	border:0;
	float:left;
	float:left;
	height:495px;
	margin: 0px 0px 0px 0px;
	padding:0px;
	width:620px;
}

.EJELIE00504 .carousel-photo{
	display:block;
}

.EJELIE00504 .carousel-video{
	display:none;
}

.EJELIE00504 .carousel-options{
	background: #FFF;
	border-bottom: 5px solid #004c87;
	float:left;
	height: 50px;
	width:620px;
}

.EJELIE00504 .carousel-menu{
	float:left;
	height: 50px;
	width:450px;
}

.EJELIE00504 .carousel-plus{
	float:left;
	height: 34px;
	padding-top:16px;
	text-align: right;
	width:165px;
}

.EJELIE00504 .carousel-plus a{
	color:#004c87;
	font-size: 18px;
	text-decoration: none;
}

.EJELIE00504 .carousel-menu ul {
	float: left;
	height:50px;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding:0;
}

.EJELIE00504 .carousel-menu ul li{
	background: #f0f0f0;
	float:left;
	height:24px;
	padding:13px 18px 13px 18px;
}

.EJELIE00504 .carousel-menu ul li a{
	color:#b2b2b2;
	display:inline;
	font:normal 18px Arial; 
	text-decoration:none;
}


.EJELIE00504 .carousel-headlines{
	float:left;	
	height:440px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	width:620px;
}

.EJELIE00504 .carousel-headlines ul{
	list-style: none;
	margin:0; 
	padding:0;
}

.EJELIE00504 .carousel-headlines ul li{
	height:440px;
	margin:0px;
	overflow:hidden;
	width:620px;
}

.EJELIE00504 .carousel-img-link{
	border:0px;
	overflow:hidden
}

.EJELIE00504 .carousel-img{
	height:360px;
	overflow:hidden;
	width:620px;
}

.EJELIE00504 .carousel-thumb{
	height:60px;
	overflow:hidden;
	width:110px;
}

.EJELIE00504 .carousel-title{
	float:left;
	height: 80px;
	margin:0 auto;
	position:relative;
	top:-120px;
	width: 600px;
	z-index: 50px;
}

.EJELIE00504 .carousel-title a{
	-moz-opacity: 0.80;
	background: #303030;
	color: #FFF;
	filter: alpha(opacity=80);
	font-family: Arial;
	font-size: 28px;
	font-weight:normal;
	letter-spacing: 2px;
	line-height: 40px;
	opacity:0.80;
	padding:5px 5px 5px 5px;
	text-decoration: none;
	text-shadow: 2px 2px #000;
}

.EJELIE00504 .carousel-title a:hover{
	text-decoration: underline;
}

.EJELIE00504 .carousel-display{
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
	float:left;
	height:25px;
	opacity:0.85;
	position:relative;
	top:-75px;
	width:620px;
	z-index: 20px;
}

.EJELIE00504 .carousel-display ul{
	float: left;
	list-style: none;
	margin-top: 5px;
	margin:0; 
	padding:0;
}
.EJELIE00504 .carousel-display ul li{
	display:inline;
	height:60px;
	margin:5px 2px 5px 1px;
	width:110px;
}

.EJELIE00504 .carousel-display ul li a{
	text-decoration:none;
}

.EJELIE00504 .carousel-nav{
	float:left;
	height:74px;
	margin:0px;
	position:relative;
	top:-320px;
	width:620px;
	z-index: 30px;
}

.EJELIE00504 .nav_on{
	border: 4px solid #004c87;
	float:left;
}

.EJELIE00504 .nav_off{
	border: 4px solid #f0f0f0;
	float:left;
}


.EJELIE00504 .carousel-back{
	background: url('img/arrow_left.png') no-repeat left bottom;
	float:left;	
	height:74px;
	margin:0px;
	width:42px;
}

.EJELIE00504 .carousel-middle{
	float:left;	
	height:74px;
	margin:0px;
	width:536px;
}

.EJELIE00504 .carousel-next{
	background: url('img/arrow_right.png') no-repeat left bottom;
	float:left;	
	height:74px;
	margin:0px;
	width:42px;
}


</style>
