.EJELIA01404 {margin-top:25px;height:410px;}
.EJELIA01404 .fade{margin-left:44px;height:370px;}
.EJELIA01404 .fade li{display:none;width:651px;}
.EJELIA01404 .navigation{margin:20px 0 0 433px;}
.EJELIA01404 .slide{margin-right:5px;}
.EJELIA01404 .inactive{display:block;width:20px;height:20px;background:url("http://i0.statig.com.br/canais/centraldoanunciante/images/ctr-sprite.png?v=0.7") -198px -51px;float:left;}
.EJELIA01404 .active{display:block;width:20px;height:20px;background:url("http://i0.statig.com.br/canais/centraldoanunciante/images/ctr-sprite.png?v=0.7") -198px -75px;float:left;}
.EJELIA01404 .navigation-forward-backward{visibility:hidden;}
.EJELIA01404 .navigation-forward-backward a {position:absolute;top:180px;width:44px;height:62px;background:url("http://i0.statig.com.br/canais/centraldoanunciante/images/ctr-sprite.png?v=0.7") no-repeat -61px -45px;text-indent:-1500px;}
.EJELIA01404 .navigation-forward-backward a.next {right:0;background-position:-93px -45px;}
