<div class="EJELIE01102">
	<ul>
		<li>
			<div class="headline">
				<div class="headline-img" style="">
						<span class="span-border-hover">
						<span class="active"></span>
							<a title="" href=""><img src="" width="140" height="100" alt=""></a>
						</span>
				</div>
				<div class="headline-text">
					<div class="headline-hat">
					</div>
					<div class="headline-title">
						<a title="" target="_self" href="">
						</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

