
<style>

		
.EJELIE01802 .carousel-headlines {
	float: left;
	height: 325px;
	margin: 0px;
	position:relative;
	overflow: hidden;
	width: 300px;
	background: #eee;
}

.EJELIE01802 .carousel-headlines ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position:relative;
}

.EJELIE01802 .carousel-headlines li {
	float:left;
	position:relative;

}

.EJELIE01802 .carousel-headlines .carousel-eye {
	height: 20px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 4px;
	padding-top: 5px;
	width: 95%;
}

.EJELIE01802 .carousel-headlines .carousel-eye a {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #999;
	display:block;
}

.EJELIE01802 .carousel-headlines .carousel-title {
	height: 35px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 12px;
	width: 95%;
}

.EJELIE01802 .carousel-headlines .carousel-title a {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
	color: #006699;
	display:block;
}

.EJELIE01802 .carousel-headlines .nav-setas,
.EJELIE01802 .carousel-headlines .nav-preview {
	float:left;
}

.EJELIE01802 .carousel-headlines .nav-setas > div,
.EJELIE01802 .carousel-headlines .nav-preview > div {
	position:absolute;
	top: 130px;
	cursor:pointer;
}

.EJELIE01802 .carousel-headlines .nav-preview > div {
	width:102px;
	height:74px;
	background: #fff;
	display:block;
}

.EJELIE01802 .carousel-headlines .nav-preview .carousel-preview-next {
	right: -70px;
}

.EJELIE01802 .carousel-headlines .nav-preview .carousel-preview-back {
	left:-70px;
}

.EJELIE01802 .carousel-headlines .nav-setas .carousel-arrow-preview-next {
	right:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_off.png') no-repeat;
	width:32px;
	height:74px;
	z-index: 2;
}
.EJELIE01802 .carousel-headlines .nav-setas .carousel-arrow-preview-back {
	left:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_off.png') no-repeat;
	width:32px;
	height:74px;
	z-index: 2;
}
.EJELIE01802 .carousel-headlines .nav-setas .carousel-arrow-preview-next:hover {
	right:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_on.png') no-repeat;
	width:32px;
	height:74px;
}
.EJELIE01802 .carousel-headlines .nav-setas .carousel-arrow-preview-back:hover {
	left:0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_on.png') no-repeat;
	width:32px;
	height:74px;
}

.EJELIE01802 .carousel-headlines .nav-bullets {
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	height: 5px;
	opacity: 0.80;
	position: absolute;
	top: 0px;
	width: 280px;
	z-index: 5px;
	padding:8px 10px 15px 10px;
	background: #000;
}

.EJELIE01802 .carousel-headlines .lista-bullets {
	position: absolute;
	right: 10px;
}

.EJELIE01802 .nav-lista-bullets {
	position: absolute;
	top: 0px;
	width: 280px;
	z-index: 6px;
	padding:8px 10px 15px 10px;
}

.EJELIE01802 .carousel-headlines .lista-bullets li {
	float:left;
	margin-left:4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #ccc;
	cursor: pointer;
	overflow: hidden;
}

.EJELIE01802 .carousel-headlines .lista-bullets .bullet #slice {
	background: #FF0000;
	width:100%;
	height:100%;
	position: relative;
	top:12px;
}

.EJELIE01802 .carousel-headlines .lista-bullets .ativo {
	background: #fff;
}

.EJELIE01802 .thumb-text{
	float: left;
	position: absolute;
	display: none;
	width: 92px;
	margin-left: 5px;
	bottom: -50px;
	height: 30px;
	z-index: 100;
	background: rgb(0, 0, 0) transparent; 
	background: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);

}

.EJELIE01802 .thumb-text-span{
	padding-left:3px;
	display:block;
	font-weight:bold; 
	font-family:Arial; 
	font-size:10px; 
	text-transform:uppercase; 	
	color:#fff;
}


</style>