<div class="EJELIE01702">
	<ul>
		<li>
			<div class="headline">
				<div class="headline-img" title="">
					<span class="span-border-hover">
						<a href="" title="">
							<span class="active"></span>
							<img src="" width="140" height="95" alt=""/>
						</a>
					</span>
				</div>
				<div class="headline-hat">
					<a title="" href="#"></a>
				</div>
				<div class="headline-title">
					<a title="" href="#"></a>
				</div>
			</div>
		</li>
	</ul>
	<style type="text/css">
	.EJELIE01702 .headline:hover .span-border-hover .active {color: transparent;}
    .EJELIE01702 .headline[title~=verde] .headline-hat a {color: #77983e;}
    .EJELIE01702 .headline[title~=verde]:hover .span-border-hover .active {border: 4px solid #77983e;}
    .EJELIE01702 .headline[title~=vermelho] .headline-hat a {color: red;}
    .EJELIE01702 .headline[title~=vermelho]:hover .span-border-hover .active {border: 4px solid red;}
    .EJELIE01702 .headline[title~=roxo] .headline-hat a {color: purple;}
    .EJELIE01702 .headline[title~=roxo]:hover .span-border-hover .active {border: 4px solid purple;}
    .EJELIE01702 .headline .headline-title a, .EJELIE01702 .headline .headline-title a:hover {color: #3b3b3b;}
    .EJELIE01702 {height: 197px;}

    </style>
</div>
