<style>
.EJELIE00702{
	float:left;
	width: 300px;
	height: 540px;
	margin: 15px 20px 15px 0px;
}
.EJELIE00702 .carousel-headlines ul{
	list-style: none;
	margin:0; 
	padding:0;
}
.EJELIE00702 .carousel-headlines ul li{
	margin:0px;
}
.EJELIE00702 .carousel-headlines{
	float:left;
	height:440px;
	margin:0px;
	overflow:hidden;
	width:300px;
}
.EJELIE00702 .carousel-headlines ul{
	list-style: none;
	margin:0; 
	padding:0;
}
.EJELIE00702 .carousel-headlines ul li{
	margin:0px;
}
.EJELIE00702 .animation{
	border:0px;
	overflow:hidden;
}
.EJELIE00702 .animation { 
	-khtml-transition-duration:200ms; 
	-ms-transition-duration:200ms; 
	-moz-transition-duration:200ms; 
	-webkit-transition-duration:200ms; 
	-o-transition-duration:200ms; 
	transition-duration:200ms; 
	-khtml-transition-timing-function:ease-out; 
	-ms-transition-timing-function:ease-out; 
	-moz-transition-timing-function:ease-out; 
	-webkit-transition-timing-function:ease-out; 
	-o-transition-timing-function:ease-out; 
	transition-timing-function:ease-out; 
}
.EJELIE00702 a {
	display: block;
	position: relative;
	text-decoration: none !important;
	-khtml-transition-property: background-color,border-left-color,box-shadow,color; 
	-ms-transition-property:background-color,border-left-color,box-shadow,color; 
	-moz-transition-property:background-color,border-left-color,box-shadow,color; 
	-webkit-transition-property:background-color,border-left-color,box-shadow,color; 
	-o-transition-property:background-color,border-left-color,box-shadow,color; 
	transition-property:background-color,border-left-color,box-shadow,color;
}
.EJELIE00702 .box-title {
	clear: both;
	overflow: hidden;
	width: 300px;
	top: 0px;
	position: relative;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
	opacity:0.80;
}
.EJELIE00702 .headline-img img {
	overflow: hidden;
	display: block;
	width: 300px;
	height: 454px;
}
.EJELIE00702 .headline {
	bottom: 10%;
	position: absolute;
	width: 100%;
}
.EJELIE00702 .headline .box-hat {
	color: #fff;
	clear: both;
	overflow: hidden;
	width: 300px;
}
.EJELIE00702 .headline .box-hat  .headline-hat {
	background-color: #996699;
	color: #FFF;
	float: left;
	font: 12px arial,sans-serif;
	height: 17px;
	margin: 0px 1px 0px 0px;
	padding: 5px 14px 3px 10px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.EJELIE00702 .headline .box-title .headline-title {
	border-left: 10px solid #000;
	font: 24px/25px arial,sans-serif;
	padding: 11px 0 9px !important;
	position: relative;
	letter-spacing: 1px;
}
.EJELIE00702 a:hover .box-title .headline-title {
	border-left-color:#181717;
}
.EJELIE00702 .headline .box-title .headline-title .back {
	-khtml-box-shadow: 5px 0px #000;
	-ms-box-shadow: 5px 0px #000;
	-moz-box-shadow: 5px 0px #000;
	-webkit-box-shadow: 5px 0px #000;
	-o-box-shadow: 5px 0px #000;
	box-shadow: 5px 0px #000;
	background-color: #000;
	color: #000;
	padding: 10px 0px 8px 0px;
}
.EJELIE00702 a:hover .box-title .headline-title .back {
	-khtml-box-shadow:5px 0 #181717; 
	-ms-box-shadow:5px 0 #181717; 
	-moz-box-shadow:5px 0 #181717; 
	-webkit-box-shadow:5px 0 #181717; 
	-o-box-shadow:5px 0 #181717; 
	box-shadow:5px 0 #181717; 
	background-color:#181717; 
	color:#181717;
}
.EJELIE00702 .headline .box-title .headline-title .front {
	color: #fff;
	left: -3px;
	padding: 12px 0px 8px 0px;
	position: absolute;
	top: 0;
}

.EJELIE00702 .carousel-display{
	display:none;
}
.EJELIE00702 .carousel-nav{
	float:left;
	height:95px;
	margin:0px;
	position:relative;
	bottom:23px;
	width:300px;
	z-index: 30px;
}
.EJELIE00702 .carousel-back{
	background: url('/Users/odia01/Desktop/arrow_left_off.png') no-repeat left bottom;
	float:left;	
	height:74px;
	margin:0px;
	width:32px;
}
.EJELIE00702 .carousel-middle{
	float:left;	
	height:74px;
	margin:0px;
	width:236px;
}
.EJELIE00702 .carousel-next{
	background: url('/Users/odia01/Desktop/arrow_right_off.png') no-repeat left bottom;
	float:left;	
	height:74px;
	margin:0px;
	width:32px;
}
.EJELIE00702 .carousel-preview{
	background: url('/Users/odia01/Desktop/arrow-top.png') no-repeat top #996699;
	float:left;
	height:95px;
	margin-left:0px;
	position:relative;
	top:0px;
	width:300px;
	z-index: 40px;
	display: block;
}
.EJELIE00702 .carousel-preview-back{
//	background: #996699;
	float:left;
	height:95px;
	width:150px;
}
.EJELIE00702 .carousel-arrow-preview-back{
	float: left;
	height: 95px;
	width: 20px;
	cursor: pointer;
}
.EJELIE00702 .carousel-preview-back ul{
	float: left;
	list-style: none;
	margin:0; 
	padding:0;
}
.EJELIE00702 .carousel-preview-back ul li{
	display: inline;
	margin:0px;
}
.EJELIE00702 .carousel-preview-back ul li img{
	 margin-left: 10px;
    margin-top: 15px;
	border:2px solid #fff;
}
.EJELIE00702 .carousel-preview-next{
	float:right;
	height:95px;
	overflow:hidden;
	width:150px;
}
.EJELIE00702 .carousel-arrow-preview-next{
	float: right;
	height: 95px;
	width: 20px;
	cursor: pointer;
}
.EJELIE00702 .carousel-preview-next ul{
	float: left;
	list-style: none;
	margin:0; 
	padding:0;
}
.EJELIE00702 .carousel-preview-next ul li{
	display: inline;
	margin:0px;
}
.EJELIE00702 .carousel-preview-next ul li img{
	margin-top:15px;
	margin-left: 5px;
	border:1px solid #705070;
}
.carousel-arrow-top{
	width: 300px;
	height: 20px;
	position: relative;
	display: block;
	left: 20%;
	top:-3%;
}
</style>