<style>
.EJELIE00302{
	border:0px;
	float:left;
	margin:5px 20px 15px 0px;
	width:300px;
}

.EJELIE00302 ul{
	margin: 0px;
	padding: 0px;
}

.EJELIE00302 .headline{
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #949494;
	float:left;
	width:300px;
}

.EJELIE00302 .headline-hat{
	float:left;
	height: 19px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.EJELIE00302 .headline-title{
	float:left;
	overflow:hidden; 
	width: 100%;
}

.EJELIE00302 .headline-title a{
	color: #004c87;	
	float:left;
	font-family: Arial;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;
}

.EJELIE00302 .headline-title a:hover{
	text-decoration: underline;
}


</style>