
<style>

.EJELIE03206 .jcarousel-skin-tango .jcarousel-container {
	margin: 0px;
    font-family: arial;
}


.EJELIE03206 .jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}


.EJELIE03206 .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 940px;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}


.EJELIE03206 .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  940px;
    height: 438px;
}


.EJELIE03206 .jcarousel-skin-tango .jcarousel-item {
    width: 940px;
    height: 438px;
}


.EJELIE03206 .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 0px;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 0px;
    margin-right: 0;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 162px;
    right: 0px;
    width: 81px;
    height: 92px;
    cursor: pointer;
    background: rgb(102, 102, 102, 0.5) url(img/seta-direita-trasp.png) no-repeat 50% 50%;
    background: rgba(102, 102, 102, 0.5) url(img/seta-direita-trasp.png) no-repeat 50% 50%;
    -webkit-transition: background-color 300ms linear;  -moz-transition: background-color 300ms linear; -o-transition: background-color 300ms linear; -ms-transition: background-color 300ms linear; transition: background-color 300ms linear;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background: rgb(102, 102, 102, 0.7) url(img/seta-esquerda-trasp.png);
    background: rgba(102, 102, 102, 0.7) url(img/seta-esquerda-trasp.png);
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
background: rgb(102, 102, 102, 0.7) url(img/seta-direita-trasp.png) no-repeat 50% 50%;
background: rgba(102, 102, 102, 0.7) url(img/seta-direita-trasp.png) no-repeat 50% 50%;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-horizontal:active {
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
cursor: default;
opacity: 0.3;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 162px;
    left: 0px;
    width: 81px;
    height: 92px;
    cursor: pointer;
    background: rgb(102, 102, 102, 0.5) url(img/seta-esquerda-trasp.png) no-repeat 50% 50%;
    background: rgba(102, 102, 102, 0.5) url(img/seta-esquerda-trasp.png) no-repeat 50% 50%;
    -webkit-transition: background-color 300ms linear;  -moz-transition: background-color 300ms linear; -o-transition: background-color 300ms linear; -ms-transition: background-color 300ms linear; transition: background-color 300ms linear;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background: rgb(102, 102, 102, 0.7) url(img/seta-esquerda-trasp.png);
    background: rgba(102, 102, 102, 0.7) url(img/seta-esquerda-trasp.png);
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background: rgb(102, 102, 102, 0.7) url(img/seta-esquerda-trasp.png) no-repeat 50% 50%;
    background: rgba(102, 102, 102, 0.7) url(img/seta-esquerda-trasp.png) no-repeat 50% 50%;
}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-horizontal:active {}

.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.EJELIE03206 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity: 0.3;
}

/* extra */

.EJELIE03206 #mycarousel li img, #mycarousel li > span , #mycarousel li h2, #mycarousel li h3 {
    position: absolute;
}

.EJELIE03206 #mycarousel li h2 , #mycarousel li h3{
    margin: 0px;
    padding: 0px;
    color: #fff;
    left: 18px;
    text-shadow: 2px 2px 0px #000;
    line-height: 26px;
}
.EJELIE03206 #mycarousel li h2 {
    top: 318px;
    font-size: 36px;
    letter-spacing: -3px;
}
.EJELIE03206 #mycarousel li h3 {
    top: 357px;
    font-size: 24px;
    letter-spacing: -0.1em;
    font-weight: normal;
    width: 349px;
}
.EJELIE03206 #mycarousel li .gradiente-texto {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
    position: absolute;
    bottom: 0px;
    top: 218px;
    width: 100%;
    height: 220px;
}


.EJELIE03206 #mycarousel a, #mycarousel a img {
    border: 0px;
}
.EJELIE03206 #mycarousel li {
    position: relative;
}
.EJELIE03206 #mycarousel li .wrap-exibicoes {
    width: 160px;
    height: 60px;
    background: url(img/ico-camera.png) no-repeat 20px 6px;
    top: 370px;
    left: 770px;
    color: #fff;display: block;
    position: absolute;
}
.EJELIE03206 #mycarousel li .wrap-exibicoes .numero-exbc , #mycarousel li .wrap-exibicoes .exbc { 
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -2px;
    font-weight: bold;
    display: block;
    text-shadow:2px 2px 0px #000;
}
.EJELIE03206 #mycarousel li .wrap-exibicoes .numero-exbc {
    padding: 5px 0 0 64px;
}
.EJELIE03206 #mycarousel li .wrap-exibicoes .exbc { 
    font-size: 15px;
    line-height: 26px;
    padding: 0 0 0 64px;
    position: relative;
    margin-top: -8px;
    letter-spacing: -1px;
}


</style>