
<div class="EJELIA00802">
	<div class="carousel-headlines" data-mobile="">
		<ul id="carlist1" class="lista-carrossel"></ul>
		<div id="carlist2" class="infos"></div>
		<div class="nav-setas">
			<div class="carousel-arrow-preview-back" name="proximo"></div>
			<div class="carousel-arrow-preview-next" name="anterior"></div>
		</div>
		<div class="nav-preview">
			<div class="carousel-preview-back">
				<ul id="carlist3"></ul>
			</div> 
			<div class="carousel-preview-next">
				<ul id="carlist4"></ul>
			</div>
		</div>
		<div class="nav-bullets"></div>
		<div class="nav-lista-bullets">
			<ul class="lista-bullets"></ul>
		</div>
	</div>
	<div id="contador"></div>
</div>
