
<div class="EJELIE00602">
	<ul>
		<li>
			<div class="headline">
				<div class="headline-img">
					<a href=""><img src="" width="140" height="146" alt=""></a>
				</div>
				<div class="headline-hat">
					<a title="" href="#"></a>
				</div>
				<div class="headline-title">
					<a title="" href="#"></a>
				</div>
			</div>
		</li>
	</ul>
</div>