


 <div class="EJELIE03104">
    <div class="conteudo">
       <div class="galeria">
           <div class="txt">
                <a href="#">
                   <span class="chapeu"></span>
                   <span class="titulo"></span>
                   <span class="texto"></span>
                </a>
               <div class="contador-galeria">
                <div class="nav-lista-bullets">
                    <ul class="lista-bullets"></ul>
                </div></div>
            </div><!-- /txt -->
            <div class="fotos">
                <div class="carousel-headlines">
                    <ul class="lista-carrossel">
                        <li class="img">
                            <a href="#" chapeu="" title="" texto="" target="">
                                <img src="" alt="" title=""  />
                            </a>
                        </li>
                    </ul>
                    <div class="infos">
                        <div class="carousel-eye">
                            <a href="" title=""></a>
                        </div>
                        <div class="carousel-title">
                            <a href="" title=""></a>
                        </div>
                    </div>
                    <div class="nav-setas">
                        <div class="carousel-arrow-preview-back" name="proximo"></div>
                        <div class="carousel-arrow-preview-next" name="anterior"></div>
                    </div>

                    <div class="nav-preview">
                        <div class="carousel-preview-back">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="thumb-text">
                                            <span class="thumb-text-span"></span>
                                        </div>
                                        <img src="" width="94" height="66" alt="" style="margin:4px"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="carousel-preview-next">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="thumb-text">
                                            <span class="thumb-text-span"></span>
                                        </div>
                                        <img src="" width="94" height="66" alt="" style="margin:4px"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- / fotos -->
            <div class="clear"></div>
        </div><!-- / galeria -->
    </div>
</div>