<div class="EJELIE02002">
	<ul>
		<li>
			<div class="headline">
				<div class="headline-img">
					<span class="span-border-hover">
						<a title="" href="#">
							<span class="active"></span>
							<span class="promo"></span> 
							<img src="" alt="" width="140" height="105">
						</a>
					</span>
				</div>
				<div class="headline-hat">
					<a title="" href="#"></a>
				</div>
				<div class="headline-title">
					<a title="" href="#"></a>
				</div>
			</div>
		</li>
	</ul>
</div>
