<div class="EJELIA01506 ">
	<ul class="bxslider">
		<li><a href="#"><img src="#" title="#" legend="#"  /></a></li>
	</ul>
	<div class="shade-box"></div>
	<style type="text/css">
		.EJELIA01506 {width: 940px; display: block; clear: both; float: left; height: 475px; position: relative; margin-top: 15px;}
		.EJELIA01506 .bx-wrapper ul , .EJELIA01506 .bx-wrapper ul li {margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: left;}
		.EJELIA01506 .bx-wrapper {position: relative;margin: 0 auto;padding: 0;*zoom: 1; }
		.EJELIA01506 .bx-wrapper img {max-width: 100%;display: block; }
		.EJELIA01506 .bx-wrapper .bx-loading {min-height: 50px;background: url(../images/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000; }
		.EJELIA01506 .bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;background: rgba(0, 0, 0, .4);position: absolute;top: 10px;height: 20px;width: auto;right: 10px;padding: 15px 10px 5px 10px;border-radius: 4px; }
		.EJELIA01506 .shade-box {background: url(http://s0.ejesa.ig.com.br/img/odia/blur-galeria.png) no-repeat center top;display: block;width: 940px;height: 36px;margin: 0 auto; position: absolute; bottom: 1px;}
		.EJELIA01506 .bx-wrapper .bx-pager .bx-pager-item, .EJELIA01506 .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline; }
		.EJELIA01506 .bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; }
		.EJELIA01506 .bx-wrapper .bx-pager.bx-default-pager a:hover, .EJELIA01506 .bx-wrapper .bx-pager.bx-default-pager a.active {background: #fff; }
		.EJELIA01506 .bx-wrapper .bx-prev {left: 0px;background: #999  url(http://s0.ejesa.ig.com.br/img/odia/seta-esquerda-trasp.png) no-repeat 50% 50%; }
		.EJELIA01506 .bx-wrapper .bx-next {right: 0px;background: #999  url(http://s0.ejesa.ig.com.br/img/odia/seta-direita-trasp.png) no-repeat 50% 50%; }
		.EJELIA01506 .bx-wrapper .bx-controls-direction a {position: absolute;top: 43%;margin-top: -16px;outline: 0;width: 81px;height: 92px;text-indent: -9999px;z-index: 9999;opacity: 0.9; }
		.EJELIA01506 .bx-wrapper .bx-prev:hover, .EJELIA01506 .bx-wrapper .bx-next:hover {opacity:1; }
		.EJELIA01506 .bx-wrapper .bx-controls-direction a.disabled {display: none; }
		.EJELIA01506 .bx-wrapper .bx-caption {position: absolute;bottom: 0px;left: 0;background: #000;background: -moz-linear-gradient(top,  rgba(0,0,0,0) 20%, rgba(0,0,0,0.75) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%);background: -o-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%);background: -ms-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.75) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );width: 100%;padding-top: 50px;padding-bottom: 20px; }
		.EJELIA01506 .bx-wrapper .bx-caption h2, .EJELIA01506 .bx-wrapper .bx-caption h3 { margin: 0;}
		.EJELIA01506 .bx-wrapper .bx-caption h2 a, .EJELIA01506 .bx-wrapper .bx-caption h3 a {text-decoration: none;color: #fff;font-family: Arial;display: block;margin: 0px;padding: 15px 20px;color: #fff;text-shadow: 1px 1px 0px #000;line-height: 26px;font-size: 36px;letter-spacing: -3px; }
		.EJELIA01506 .bx-wrapper .bx-caption h2 a {padding-bottom: 0px; }
		.EJELIA01506 .bx-wrapper .bx-caption h3 a {font-size: 24px;letter-spacing: -0.05em;font-weight: normal;padding-bottom: 20px; }
		.EJELIA01506.edicao .bx-wrapper .bx-loading {display: none !important;}
	</style>
</div>
