.EJELIE03304 {height:360px; border-bottom: 1px dotted #cecece; padding-bottom:15px;}
.EJELIE03304 {float: left; width: 620px; margin: 15px 15px 20px 0; position: relative;}
.EJELIE03304 .carrossel-options {float: left; height: 50px; width: 620px;}
.EJELIE03304 .carrossel-menu {float: left; height: 50px; width: 450px;}
.EJELIE03304 .carrossel-menu ul {float: left; height: 50px; list-style: none; margin: 0; padding: 0;}
.EJELIE03304 .carrossel-menu ul li {background: #cc0000; float: left; height: 24px; padding: 13px 18px 13px 18px; cursor: pointer;}
.EJELIE03304 .carrossel-menu ul li a {color: #fff; display: inline; font: normal 18px Arial; text-decoration: none;}
.EJELIE03304 .fotodestaque {margin-top: 5px; position: relative;}
.EJELIE03304 .fotodestaque .imagem {position: relative;}
.EJELIE03304 .fotodestaque .imagem,
.EJELIE03304 .fotodestaque .thumbs {float: left; margin-top: 5px; overflow: hidden;}
.EJELIE03304 .fotodestaque .thumbs {background: #cc0000;}
.EJELIE03304 .fotodestaque .thumbs ul {margin: 0; padding: 0 5px}
.EJELIE03304 .fotodestaque .thumbs li {list-style-type: none; margin-bottom: 3px; display: block; cursor: pointer;}
.EJELIE03304 .fotodestaque .foto .borda-foto span { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.EJELIE03304 .fotodestaque a:hover .foto .borda-foto span {opacity: 1; color:#fff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}
.EJELIE03304 .fotodestaque .foto .borda-foto {position: relative;display: block;}
.EJELIE03304 .fotodestaque .foto .borda-foto > span:first-child {position: absolute;left: 0;top: 0;display: block;border-width: 3px;border-style: solid; border-color:#fff; width: 100%;height: 96%;opacity: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 140ms linear;-moz-transition: all 140ms linear;-ms-transition: all 140ms linear;-o-transition: all 140ms linear;transition: all 140ms linear;}
.EJELIE03304 .fotodestaque .thumbs li.ativo .foto .borda-foto span {opacity: 1;}
.EJELIE03304 .fotodestaque .imagem .title {position: absolute; bottom: 15px; padding: 8px; background: rgba(0,0,0, 0.5); font: bold 20px/1.4 arial,sans-serif; color: #fff; text-align: left; text-shadow: 1px 1px #000; }
.EJELIE03304 .fotodestaque .imagem .navega {transition: opacity 100ms linear; background: url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao_grande.png') no-repeat; width: 42px; height: 74px; position: absolute; cursor: pointer; top: 105px; opacity: .5;}
.EJELIE03304 .fotodestaque .imagem .seta-direita {background-position: -42px 0; right: 0px;}
.EJELIE03304 .fotodestaque .imagem .seta-direita:hover {opacity: 1;}
.EJELIE03304 .fotodestaque .imagem .seta-esquerda {background-position: 0 0; left: 0;}
.EJELIE03304 .fotodestaque .imagem .seta-esquerda:hover {opacity: 1;}
.EJELIE03304 .carrossel-menu .go-mais {position: absolute; right: 10px; top: 10px;}
.EJELIE03304 .carrossel-menu .go-mais a{color: #cc0000 !important; font-size: 24px !important; font-weight: bold !important; letter-spacing: -2px;}


.EJELIE03304 .fotodestaque {margin-top: 5px; position: relative;}
.EJELIE03304 .fotodestaque .imagem {position: relative;}
.EJELIE03304 .fotodestaque .imagem,
.EJELIE03304 .thumbs-itens {float: left;  overflow: hidden;}
.EJELIE03304 .thumbs-itens {background: #cc0000;}
.EJELIE03304 .thumbs-itens ul {margin: 0; padding: 0 5px}
.EJELIE03304 .thumbs-itens li {list-style-type: none; margin-bottom: 3px; display: block; cursor: pointer;}

.EJELIE03304 .thumbs-itens .foto .borda-foto span { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.EJELIE03304 .thumbs-itens a:hover .foto .borda-foto span {opacity: 1; color:#fff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}
.EJELIE03304 .thumbs-itens .foto .borda-foto {position: relative;display: block;}
.EJELIE03304 .thumbs-itens .foto .borda-foto > span:first-child {position: absolute;left: 0;top: 0;display: block;border-width: 3px;border-style: solid; border-color:#fff; width: 100%;height: 96%;opacity: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 140ms linear;-moz-transition: all 140ms linear;-ms-transition: all 140ms linear;-o-transition: all 140ms linear;transition: all 140ms linear;}
.EJELIE03304 .thumbs-itens li.ativo .foto .borda-foto span {opacity: 1;}
.EJELIE03304 .fotodestaque .imagem .title {position: absolute; bottom: 15px; padding: 8px; background: rgba(0,0,0, 0.5); font: bold 20px/1.4 arial,sans-serif; color: #fff; text-align: left; text-shadow: 1px 1px #000; }
.EJELIE03304 .fotodestaque .imagem .navega {transition: opacity 100ms linear; background: url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao_grande.png') no-repeat; width: 42px; height: 74px; position: absolute; cursor: pointer; top: 105px; opacity: .5;}

.EJELIE03304 .fotodestaque .imagem .seta-direita {background-position: -42px 0; right: 0px;}
.EJELIE03304 .fotodestaque .imagem .seta-direita:hover {opacity: 1;}
.EJELIE03304 .fotodestaque .imagem .seta-esquerda {background-position: 0 0; left: 0;}
.EJELIE03304 .fotodestaque .imagem .seta-esquerda:hover {opacity: 1;}

.EJELIE03304 .carrossel-menu .go-mais {position: absolute; right: 10px; top: 10px;}
.EJELIE03304 .carrossel-menu .go-mais a{color: #cc0000 !important; font-size: 24px !important; font-weight: bold !important; letter-spacing: -2px;}
.EJELIE03304 ul.thumbs-itens {position: absolute; margin: 0px;padding: 0px;top: 50px;right:0px;background: #cc0000;width: 120px;height: 280px;border-top: 5px solid #cc0000;border-left: 6px solid #cc0000;border-right: 6px solid #cc0000;}
.EJELIE03304 ul.thumbs-itens li a img {width: 120px;}
.EJELIE03304 .fotodestaque .imagem, .EJELIE03304 .fotodestaque .thumbs { float: left; overflow: hidden; background: #cc0000; padding-top: 5px; margin-top: 0px;height: 280px;}
