	<div class="EJELIA00402">

		<div class="carousel-headlines">
			<ul id="carlist1"></ul>
		</div>

		<div class="carousel-bar"></div>
		<div class="carousel-display">
			<ul id="carlist2"></ul>
		</div>

		<div class="carousel-nav">
			<a class="carousel-back"></a>
			<div class="carousel-middle">
			</div>
			<a class="carousel-next"></a>
		</div>
		
		<div class="carousel-preview">
			<div class="carousel-preview-back">
				<div class="carousel-arrow-preview-back"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_left_on.png" alt=""/></div>
				<ul id="carlist3"></ul>
			</div>
			<div class="carousel-preview-middle">
			</div>
			<div class="carousel-preview-next">
				<ul id="carlist4"></ul>
				<div class="carousel-arrow-preview-next"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_right_on.png" alt=""></div>
			</div>
		</div>

	</div>