
<style>
.EJELIE02404 #carrossel{
    width:600px;
    overflow:hidden;
    position:relative;
    background:#e2e2e2
}
.EJELIE02404 #carrossel .charge{
    width:600px;
    height:382px;
    overflow:hidden;
    position:relative;
    background:#000
}
.EJELIE02404 #carrossel .charge .indicador{
    width:27px;
    height:13px;
    background:url('http://s0.ejesa.ig.com.br/img/odia/indicador.png') no-repeat;
    position:absolute;
    bottom:0;
    left:68px;
    z-index:4
}
.EJELIE02404 #carrossel .charge img{
    width:600px;
    height:382px
}

.EJELIE02404 #carrossel ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden
}

.EJELIE02404 #carrossel >.thumbs{
    position:relative;padding-top:10px;
    z-index:3
}

.EJELIE02404 #carrossel ul li{
    float:left
}

.EJELIE02404 #carrossel ul#small{
    height:80px;
    left:15px;
    top:0;
    position:relative;
    z-index:1
}

.EJELIE02404 #carrossel ul#small li{ 
    margin-right:4px;
    width:110px;
    height:68px;
    background:#fff;
}

.EJELIE02404 #carrossel ul#small li span,#carrossel ul#small li span.hover{
    border:4px solid #ca0000;
    position:absolute;
    width:105px;
    height:60px;
    cursor:pointer;
    opacity:0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0.00; 
}

.EJELIE02404 #carrossel ul#small li span.ativo{
    border:4px solid #ca0000;
    opacity:1;
    filter: alpha(opacity = 100);
    -moz-opacity: 1.00; 
}

.EJELIE02404 #carrossel >.thumbs .setas{
    width:15px;
    height:70px;
    background-color:#e2e2e2;
}

.EJELIE02404 #carrossel>.thumbs .esquerda{
    background-position:0 -5px;
    position:absolute;
    cursor:pointer;
    left:0;
    z-index:2
}
.EJELIE02404 #carrossel>.thumbs .direita{
    background-position:-72px -5px;
    position:absolute;
    cursor:pointer;
    right:0;
    top:10px;
    z-index:2
}
.EJELIE02404 #carrossel .seta-esquerda{
    background:url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao_grande.png') no-repeat;
    width:42px;
    height:74px;
    position:absolute;
    top:155px;
    left:-42px;
    cursor:pointer
}

.EJELIE02404 #carrossel .seta-direita{
    background:url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao_grande.png') no-repeat -42px 0;
    width:42px;
    height:74px;
    position:absolute;
    right:-42px;
    top:155px;
    cursor:pointer
}


.EJELIE02404 .carousel-title{
    float:left;
    min-height: 28px;
    margin:0 auto;
    position:relative;
    top:-120px;
    width: 600px;
    z-index: 50px;
}

.EJELIE02404 .carousel-title a{
    -moz-opacity: 0.80;
    background: #303030;
    color: #FFF;
    filter: alpha(opacity=80);
    font-family: Arial;
    font-size: 28px;
    font-weight:normal;
    letter-spacing: 2px;
    line-height: 40px;
    opacity:0.80;
    padding:5px 5px 5px 5px;
    text-decoration: none;
    text-shadow: 2px 2px #000;
}

.EJELIE02404 .carousel-title a:hover{
    text-decoration: underline;
}


.EJELIE02404 .box-title {
    clear: both;
    width: 100%;
    min-height:30px;
    top: -140px;
    position: relative;
}


.EJELIE02404 .box-title .carousel-title {
    border-left: 10px solid #000;
    font: 26px/28px arial,sans-serif;
    padding: 1px 0px 12px !important;
    position: relative;
    letter-spacing: -1px;
    font-weight: bold;
    top: 10px;
}
.EJELIE02404 a:hover .box-title .carousel-title {
    border-left-color:#181717;
}

.EJELIE02404 .box-title .carousel-title .back {
    -khtml-box-shadow: 5px 0px #000;
    -ms-box-shadow: 5px 0px #000;
    -moz-box-shadow: 5px 0px #000;
    -webkit-box-shadow: 5px 0px #000;
    -o-box-shadow: 5px 0px #000;
    box-shadow: 5px 0px #000;
    background-color: #000;
    color: #000;
    padding: 0px 3px 11px 0px;
    opacity: 0.8;
}

.EJELIE02404 a:hover .box-title .carousel-title .back {
    -khtml-box-shadow:5px 0 #181717; 
    -ms-box-shadow:5px 0 #181717; 
    -moz-box-shadow:5px 0 #181717; 
    -webkit-box-shadow:5px 0 #181717; 
    -o-box-shadow:5px 0 #181717; 
    box-shadow:5px 0 #181717; 
    background-color:#181717; 
    color:#181717;
}

.EJELIE02404 .box-title .carousel-title .front {
    left: -3px;
    padding: 6px 4px 8px 0px;
    position: absolute;
    top: 0;
    color: #fff;
}



</style>
