.EJELIE01702xx{
	width: 300px;
	height: 245px;
	margin: 15px 20px 0px 20px ;

}

.EJELIE01702xx .headline{
	width: 300px;
	height: 245px;
}

.EJELIE01702xx .headline-pos1{
	width: 140px;
	height: 230px;
	float:left;
	margin-right: 20px;
	border-bottom: 1px dotted #999;
}

.EJELIE01702xx .headline-pos2{
	width: 140px;
	height: 230px;
	float: left;
	border-bottom: 1px dotted #999;
}

.EJELIE01702xx .headline-pos1 .headline-img{
	width: 140px;
	height: 146px;
}

.EJELIE01702xx .headline-pos2 .headline-img{
	width: 130px;
	height: 146px;
}

.EJELIE01702xx .headline-pos1 .headline-hat{
	padding: 5px;
	padding-left: 0px;
	width: 100%;
	height: 20px;
	line-height: 15pt;
}


.EJELIE01702xx .headline-pos1 .headline-hat a{
	color: #cc0000;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

.EJELIE01702xx .headline-pos1 .headline-hat a:hover{
	text-decoration: none;
	cursor: default;
}

.EJELIE01702xx .headline-pos2 .headline-hat{
	padding: 5px;
	padding-left: 0px;
	width: 100%;
	height: 20px;
	line-height: 15pt;
}

.EJELIE01702xx .headline-pos2 .headline-hat a{
	color: #cc0000;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;

}

.EJELIE01702xx .headline-pos2 .headline-hat a:hover{
	text-decoration: none;
	cursor: default;

}

.EJELIE01702xx .headline-pos1 .headline-title{
	padding: 0px 0px 20px 0px;
	width: 100%;
	height: 50px;
	line-height: 15pt;

}

.EJELIE01702xx .headline-pos1 .headline-title a{
	color: #333;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

.EJELIE01702xx .headline-pos1 .headline-title a:hover{
	color: #666;
	text-decoration: underline;
}

.EJELIE01702xx .headline-pos2 .headline-title{
	padding: 0px 0px 20px 0px;
	width: 100%;
	height: 50px;
	line-height: 15pt;

}

.EJELIE01702xx .headline-pos2 .headline-title a{
	color: #333;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

.EJELIE01702xx .headline-pos2 .headline-title a:hover{
	color: #666;
	text-decoration: underline;
}
