.EJELIE00102{
	border:0px;
	float:left;
	float:left;
	height:325px;
	margin:0px;
	padding:0px;
	width:300px;
}

.EJELIE00102 .headline1{
	border-bottom: 1px dotted #949494;
	float:left;
	width:300px;
}

.EJELIE00102 .headline1-eye{
	float:left;
	height: 19px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJELIE00102 .headline1-eye a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJELIE00102 .headline1-eye a:hover{
	text-decoration: underline;	
}

.EJELIE00102 .headline1-title{
	float:left;
	height: 84px;
	overflow:hidden; 
	padding-bottom: 20px;
	width: 100%;
}

.EJELIE00102 .headline1-title a{
	color: #004c87;	
	float:left;
	font-family: Arial;
	font-size: 26px;
	font-weight:bold;
	line-height: 28px;
	text-decoration: none;
}

.EJELIE00102 .headline1-title a:hover{
	text-decoration: underline;
}


.EJELIE00102 .headline2{
	border-bottom: 1px dotted #949494;
	float: left;
}

.EJELIE00102 .headline2-eye{
	float:left;
	height: 14px;
	margin-top:20px;
	overflow:hidden;
	padding-bottom: 4px;
	width: 100%;
}

.EJELIE00102 .headline2-eye a{
	color: #949494;
	font-family: Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;	
	text-transform: uppercase;
}

.EJELIE00102 .headline2-eye a:hover{
	text-decoration: underline;	
}

.EJELIE00102 .headline2-title{
	float: left;
	height: 40px;
	overflow:hidden;
	padding-bottom: 20px;
	width: 100%;
}

.EJELIE00102 .headline2-title a{
	color: #004c87;
	font-family: Arial;
	font-size: 18px;
	font-weight:normal;
	line-height: 20px;
	text-decoration: none;
}

.EJELIE00102 .headline2-title a:hover{
	text-decoration: underline;
}