<style>
.EJELIE02104 #carrossel-aroeira{
    width:620px;
    overflow:hidden;
    position:relative;
    background:#e2e2e2
}
.EJELIE02104 #carrossel-aroeira .charge{
    width:620px;
    height:382px;
    overflow:hidden;
    position:relative;
    background:#000
}
.EJELIE02104 #carrossel-aroeira .charge .indicador{
    width:27px;
    height:13px;
    background:url('http://s0.ejesa.ig.com.br/img/odia/indicador.png') no-repeat;
    position:absolute;
    bottom:0;
    left:68px;
    z-index:4
}
.EJELIE02104 #carrossel-aroeira .charge img{
    width:620px;
    height:382px
}

.EJELIE02104 #carrossel-aroeira ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden
}

.EJELIE02104 #carrossel-aroeira >.thumbs{
    position:relative;padding-top:10px;
    z-index:3
}

.EJELIE02104 #carrossel-aroeira ul li{
    float:left
}

.EJELIE02104 #carrossel-aroeira ul#small{
    height:80px;
    left:27px;
    top:0;
    position:relative;
    z-index:1
}

.EJELIE02104 #carrossel-aroeira ul#small li{ 
    margin-right:4px;
    width:110px;
    height:68px;
    background:#fff
}

.EJELIE02104 #carrossel-aroeira ul#small li span,#carrossel-aroeira ul#small li span.hover{
    border:4px solid #ca0000;
    position:absolute;
    width:102px;
    height:62px;
    cursor:pointer;
    opacity:0
}

.EJELIE02104 #carrossel-aroeira ul#small li span.ativo{
    border:4px solid #ca0000;
    opacity:1
}

.EJELIE02104 #carrossel-aroeira >.thumbs .setas{
    width:24px;
    height:70px;
    background:url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao.png') no-repeat;
}

.EJELIE02104 #carrossel-aroeira>.thumbs .esquerda{
    background-position:0 -5px;
    position:absolute;
    cursor:pointer;
    left:0;
    z-index:2
}
.EJELIE02104 #carrossel-aroeira>.thumbs .direita{
    background-position:-72px -5px;
    position:absolute;
    cursor:pointer;
    right:0;
    top:10px;
    z-index:2
}
.EJELIE02104 #carrossel-aroeira .seta-esquerda{
    background:url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao_grande.png') no-repeat;
    width:42px;
    height:74px;
    position:absolute;
    top:155px;
    left:-42px;
    cursor:pointer
}

.EJELIE02104 #carrossel-aroeira .seta-direita{
    background:url('http://s0.ejesa.ig.com.br/img/odia/setas_navegacao_grande.png') no-repeat -42px 0;
    width:42px;
    height:74px;
    position:absolute;
    right:-42px;
    top:155px;
    cursor:pointer
}
</style>