<div class="EJELIE00902">
	<div class="writer-menu">
		<ul>
			<li class="writer-item-column"><a title="Capa" class="writer-menu-column">BLOGS & COLUNISTAS</a></li>
		</ul>
	</div>
	
	<ul class="writer-column">
		<li class="headline">
			<div class="headline-photo">
				<a href=""><img src="" alt=""></a>
			</div>
			<div class="headline-text">
				<div class="headline-text-writer"><a title="" href=""></a></div>
				<div class="headline-text-title"><a title="" href=""></a></div>
			</div>
		</li>
	</ul>
</div>