
.EJELIE03104{
    float: left;
    width: 620px;
    margin: 15px 15px 20px 0;
}

.EJELIE03104 .titulo{
    margin:10px 0 18px 0; 
    padding-bottom: 15px;
    display: block;
    color:#333333; 
    font:bold 20px/22px Arial, Helvetica, sans-serif; 
}

.EJELIE03104 .chapeu{ 
    color:#5a8f1b; 
    font:bold 11px Arial, Helvetica, sans-serif; 
    text-transform:uppercase; 
}

.EJELIE03104 ul { 
    list-style-type:none; 
    margin:0; 
    padding:0; 
}

.EJELIE03104 ul li { 
    float:left; 
}

.EJELIE03104 .clear { 
    clear:both; 
    display:block; 
}

.EJELIE03104 .container { 
    width:940px; 
    margin:0 auto; 

}

.EJELIE03104 .conteudo { 
    width:620px; 
    float:left; 
    position: relative;
}

.EJELIE03104 .galeria { 
    width:620px; 
    background:#eeeeee; 
    position:relative; 
    margin-bottom:33px; 
}

.EJELIE03104 .galeria .txt { 
    width:175px; 
    padding:27px 12px; 
    float:left; 
    font:14px/18px Arial, Helvetica, sans-serif; 
    color:#333333; 
}

.EJELIE03104 .galeria .txt .contador-galeria { 
    width: 176px; 
    height: 20px; 
    position: relative;

}

.EJELIE03104 .galeria .fotos { 
    width:421px; 
    float:left; 
}
    

.EJELIE03104 .carousel-headlines {
    float: left;
    height: 295px;
    margin: 0px;
    position:relative;
    overflow: hidden;
    width: 420px;
    background: #eee;
}

.EJELIE03104 .carousel-headlines ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position:relative;
}

.EJELIE03104 .carousel-headlines li {
    float:left;
    position:relative;

}

.EJELIE03104 .carousel-headlines .carousel-eye {
    margin: 0 auto;
    padding-bottom: 4px;
    padding-top: 5px;
    width: 95%;
}

.EJELIE03104 .carousel-headlines .carousel-eye a {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
    display:block;
}

.EJELIE03104 .carousel-headlines .carousel-title {
    height: 35px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 12px;
    width: 95%;
}

.EJELIE03104 .carousel-headlines .carousel-title a {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
    color: #006699;
    display:block;
}

.EJELIE03104 .carousel-headlines .nav-setas,
.EJELIE03104 .carousel-headlines .nav-preview {
    float:left;
}

.EJELIE03104 .carousel-headlines .nav-setas > div,
.EJELIE03104 .carousel-headlines .nav-preview > div {
    position:absolute;
    top: 130px;
    cursor:pointer;
}

.EJELIE03104 .carousel-headlines .nav-preview > div {
    width:102px;
    height:74px;
    background: #fff;
    display:block;
}

.EJELIE03104 .carousel-headlines .nav-preview .carousel-preview-next {
    right: -70px;
}

.EJELIE03104 .carousel-headlines .nav-preview .carousel-preview-back {
    left:-70px;
}

.EJELIE03104 .carousel-headlines .nav-setas .carousel-arrow-preview-next {
    right:0px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_off.png') no-repeat;
    width:32px;
    height:74px;
    z-index: 2;
}

.EJELIE03104 .carousel-headlines .nav-setas .carousel-arrow-preview-back {
    left:0px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_off.png') no-repeat;
    width:32px;
    height:74px;
    z-index: 2;
}

.EJELIE03104 .carousel-headlines .nav-setas .carousel-arrow-preview-next:hover {
    right:0px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_right_on.png') no-repeat;
    width:32px;
    height:74px;
}

.EJELIE03104 .carousel-headlines .nav-setas .carousel-arrow-preview-back:hover {
    left:0px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/arrow_left_on.png') no-repeat;
    width:32px;
    height:74px;
}

.EJELIE03104 .contador-galeria .nav-bullets {
    -moz-opacity: 0.80;
    filter: alpha(opacity=80);
    height: 5px;
    opacity: 0.80;
    position: absolute;
    top: 0px;
    width: 400px;
    z-index: 5px;
    padding:8px 10px 15px 10px;
    background: #000;
}

.EJELIE03104 ul.lista-bullets {
    text-align: center; 
    display: inline-block;
}

.EJELIE03104 .contador-galeria .lista-bullets {}

.EJELIE03104 .nav-lista-bullets {
    position: relative;
    padding: 18px 10px 15px 0px;
    margin: 10px auto auto auto;
    text-align: center;
}

.EJELIE03104 .contador-galeria .lista-bullets li {
    float:left;
    margin-left:4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #999;
    cursor: pointer;
    overflow: hidden;
}

.EJELIE03104 .contador-galeria .lista-bullets .ativo {
    background: #fff;
}

.EJELIE03104 .contador-galeria .lista-bullets #timer {
  height:12px;
  position:relative;
  width:12px;
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.EJELIE03104 .circle {
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  bottom:1px;
  left:1px;
  position:absolute;
  right:1px;
  top:1px;

}

.EJELIE03104 #color-left {
    z-index:2;
}
.EJELIE03104 #color-right {
    z-index:3;
}

.EJELIE03104 #cover {
    z-index:4;
}


.EJELIE03104 #cover {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #fff 50%, #fff 100%);
}

.EJELIE03104 .color {
  background: -webkit-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #5a8f1b 100%);
  background: -moz-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #5a8f1b 100%);
  background: -ms-linear-gradient(left, transparent 0, transparent 50%, #5a8f1b 50%, #5a8f1b 100%);
}

.EJELIE03104 #cover {
  bottom:0;
  left:0;
  right:0;
  top:0;
  visibility:hidden;
}

.EJELIE03104 #color-left {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

@-webkit-keyframes firstspin_EJELIE03104 {
 0%{

    visibility:visible;
    -webkit-transform:rotate(0);

}

 50% {
    visibility:visible;
    -webkit-transform:rotate(180deg);
 }

 50% {
    visibility:hidden;
    -webkit-transform:rotate(180deg);
 }

 100% {
    visibility:hidden;
    -webkit-transform:rotate(180deg);
 }
}

@-webkit-keyframes secondspin_EJELIE03104 {
 0% {
    visibility:hidden;
    -webkit-transform:rotate(0);
 }

 50% {
    visibility:hidden;
    -webkit-transform:rotate(0deg);
 }

 50% {
    visibility:visible;
    -webkit-transform:rotate(0deg);
 }

 100% {
    visibility:visible;
    -webkit-transform:rotate(180deg);
 }
}


@-moz-keyframes firstspin_EJELIE03104 {

0% {
    visibility:visible;
    -moz-transform: rotate(0);
 }

 50% {
    visibility:visible;
    -moz-transform: rotate(180deg);
 }

 50% {
    visibility:hidden;
    -moz-transform: rotate(180deg);
 }

 100% {
    visibility:hidden;
    -moz-transform: rotate(180deg);
 }

}

@-moz-keyframes secondspin_EJELIE03104 {
 0% {
    visibility:hidden;
    -moz-transform:rotate(0);
 }

 50% {
    visibility:hidden;
    -moz-transform:rotate(0deg);
 }

 50% {
    visibility:visible;
    -moz-transform:rotate(0deg);
 }

 100% {
    visibility:visible;
    -moz-transform:rotate(180deg);
 }
}


@-ms-keyframes firstspin_EJELIE {

0% {
    visibility:visible;
    -ms-transform: rotate(0);
 }

 50% {
    visibility:visible;
    -ms-transform: rotate(180deg);
 }

 50% {
    visibility:hidden;
    -ms-transform: rotate(180deg);
 }

 100% {
    visibility:hidden;
    -ms-transform: rotate(180deg);
 }

}

@-ms-keyframes secondspin_EJELIE03104 {
 0% {
    visibility:hidden;
    -ms-transform:rotate(0);
 }

 50% {
    visibility:hidden;
    -ms-transform:rotate(0deg);
 }

 50% {
    visibility:visible;
    -ms-transform:rotate(0deg);
 }

 100% {
    visibility:visible;
    -ms-transform:rotate(180deg);
 }
}


.EJELIE03104 #cover, #color-left {
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-duration: 5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-duration: 5s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-timing-function: linear;

}

.EJELIE03104 #cover {
    -webkit-animation-name: firstspin_EJELIE03104;
    -moz-animation-name: firstspin_EJELIE03104;
    -ms-animation-name: firstspin_EJELIE03104;
}

.EJELIE03104 #color-left {
    -webkit-animation-name: secondspin_EJELIE03104;
    -moz-animation-name: secondspin_EJELIE03104;
    -ms-animation-name: secondspin_EJELIE03104;
}

.EJELIE03104 #contador {
    display:block;
}

.EJELIE03104 .lista-carrossel li a img {
    width: 420px;
    height: 295px;
}