
<div class='EJELIA00602'>
	<div class='news-menu'>
		<ul>
			<li class='news-item-commented inativo'  id='news-item-commented' style="display:none;">
				<a title='Notícias' class='news-menu-commented' id='news-menu-commented'>+ LIDAS</a>
			</li>
			<li class='news-item-last ativo'  id="news-item-last">
				<a title='Capa' class='news-menu-last' id='news-menu-last'>ÚLTIMAS</a>
			</li>
		</ul>
	</div>
	<div class='news-last'  id='news-last'>
		<div class='headline'>
			<ul id='EJELIA00602HL'>
			</ul>
		</div>
	</div>
	<div class="headline-nav">    
		<div class="headline-nav-options">
			<div>
	    		<a class="headline-nav-back"  onClick="javascript:EJESA.EJELIA00602.prevPage()"></a>
			</div>
			<div class="headline-nav-middle">        
				<ul>
					<li id="hn_pos_1" class=""></li>
					<li id="hn_pos_2" class=""></li>
					<li id="hn_pos_3" class=""></li>
					<li id="hn_pos_4" class=""></li>
					<li id="hn_pos_5" class=""></li>
				</ul>
			</div>
			<div>
				<a class="headline-nav-next" onClick="javascript:EJESA.EJELIA00602.nextPage()"></a>
			</div>
		</div>
	</div>
	<div class='news-commented' id='news-commented' style="display:none;">
		<div class='headline'>
	      <ul id='EJELIA00602TN' class="rt-top" style="width:300px; z-index:100"></ul>
			<div class="realtime-copyright">
				<span class="realtime-frase">A tecnologia que muda a internet</span>
				<a class="realtime-logo" href="http://realtime.co">Realtime</a>
			</div>
		</div>
	</div>

</div>

<%{%>

<script>
EJESA.CALL_EJELIA00602.init();
</script>

<%}%>