<div>
	<div class="EJENEE00404">
		<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
			<span id="authors-box"></span>
			<strong class="complemento-credito"></strong>
		</span>
	</div>
</div>