<figure class="foto-legenda EJENEE00604" style="position: relative;">
	<span></span>
	<figcaption>				
		<div class="legenda "></div>
		<cite> Foto:&nbsp;<span></span></cite>
	</figcaption>
</figure>