

<div class='EJENEA00504'>
	<div class='news-hat'>
		<span class='text'> Notícias Relacionadas</span>
	</div>
	<ul id='EJENEA00504HL'>
	</ul>
</div>

<%{%>

<script>

EJESA.CALL_EJENEA00504.init();

$(function(){
   	var section_name = $("meta[name=odia-OAS-vars-secao]").attr("content");

   	if (section_name.match("/vivoconectadoaorio")){
   		var nome_noticias = "Esta notícia se conecta com...";
   		$(".EJENEA00504 .news-hat .text").html(nome_noticias);
   	}
	
});

</script>

<%}%>