<style>
	.EJENEA01008{
		width: 100%;
		height: 110px;
		position: fixed;
		top: 25%;
		left: 0%;
		z-index: 99;
		float: left;
		display: none;
	}
	.EJENEA01008 .EJENEA01008HL{
		padding: 20px;
		width: 215px;
		height: 85px;
		float: left;
	}

	.EJENEA01008 .news-prev.ativo{
		width: 360px;
		height: 110px;
		background:url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
		float: left;
		display: block;
		border-right: 3px solid #cc0000;
		border-top: 2px solid #ccc;
		border-bottom: 1px solid #ccc;
	}


	.EJENEA01008 .news-prev.inativo{
		width: 	190px;
		height: 110px;
		float: left;
		background:transparent;
		display: block;
	}

	.EJENEA01008 .news-next.ativo{
		width: 360px;
		height: 110px;
		background:url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
		float: right;
		display: block;
		border-left: 3px solid #cc0000;
		border-top: 2px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.EJENEA01008 .news-next.inativo{
		width: 360px;
		height: 110px;
		background:transparent;
		float: right;
		display: block;
	}

	.EJENEA01008 .headline .headline-item-eye{
		font-weight: bold;
		color:#ccc;
		padding-bottom: 10px;
	}
	.EJENEA01008 .headline .headline-item-title a{
		font-weight: bold;
		color: #333;
		display: block;
		margin-top: 7px;
		font-size: 13px;
	}
	.EJENEA01008 .news-prev-seta.ativo {
		background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') 10px 315px;
		display: block;
		width: 60px;
		height: 72px;
		float: left;
		margin: 20px 20px 0 25px;

	}
	.EJENEA01008 .news-prev-seta.inativo {
		background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-galerias2.png') -9px 92px;
		display: block;
		width: 60px;
		height: 72px;
		float: left;
		margin: 20px 20px 0 25px;
	}

	.EJENEA01008 .news-next-seta.ativo{
		background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') 10px 388px;
		display: block;
		width: 60px;
		height: 72px;
		float: right;
		margin: 20px 20px 0 25px;
	}
	.EJENEA01008 .news-next-seta.inativo{
		background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-galerias2.png') -9px -19px;
		display: block;
		width: 60px;
		height: 72px;
		float: right;
		margin: 20px 20px 0 25px;
	}

</style>
