<div class="EJENEE01004">
	<div id="galleria">
		<div id="source">
			<span><a href=""><img src="" alt="" width="620" height="390"/></a></span>
		</div>
	</div>
	<div id="legend">
			<div><p></p><span></span></div>
	</div>
</div>