<div class='EJENEA01008L'>
			
	
</div>	

		<script>
		/*
		
		$(document).ready(function($) {

	
		if(screen.width > 1024){
	
			 var offSetMenu = 300;
		   
			  $('.EJENEA01008L .EJENEA01008R').hide();

		    $(window).scroll(function () {
		        var offSetWindow = $(window).scrollTop();
		        if (offSetWindow >= offSetMenu) {
						$('.EJENEA01008L .EJENEA01008R').show();
		    	}
		    	else if(offSetWindow >= 800 || offSetMenu <= offSetMenu){

		  			$('.EJENEA01008L .EJENEA01008R').hide();
		    	}
		    }); 


			$('#EJENEA01008HLP').css("display","none");
			$('#EJENEA01008HLN').css("display","none");

			$('.news-prev-seta').hover(function() {
				$('.EJENEA01008L .news-prev-seta.inativo').css("display","none");

				$('.EJENEA01008L .news-prev.inativo').stop().animate({left: 0}, 300);
				$('.EJENEA01008L .news-prev.ativo').stop().animate({left: -100}, 310);

				$('#EJENEA01008HLP').css("display","block");
				
			});
			
			$('.news-prev.ativo').mouseleave(function() {

				$('.EJENEA01008L .news-prev.ativo').stop().animate({left: -360}, 300);
				$('.EJENEA01008L .news-prev.inativo').stop().animate({left: 0}, 300);

				setTimeout(function() {
					$('.EJENEA01008L .news-prev-seta.inativo').css("display","block");
				}, 250);

				$('#EJENEA01008HLP').css("display","none");

			});

			$('.news-next-seta').hover(function() {
				$('.EJENEA01008R .news-next-seta.inativo').css("display","none");

				$('.EJENEA01008R .news-next.inativo').stop().animate({left: 0}, 300);
				$('.EJENEA01008R .news-next.ativo').stop().animate({left: 100}, 310);

			
				$('#EJENEA01008HLN').css("display","block");


			});
			$('.news-next.ativo').mouseleave(function() {

				$('.EJENEA01008R .news-next.ativo').stop().animate({left: 555}, 300);
				$('.EJENEA01008R .news-next.inativo').stop().animate({left: 0}, 300);

				setTimeout(function() {
					$('.EJENEA01008R .news-next-seta.inativo').css("display","block");
				}, 250);

				$('#EJENEA01008HLN').css("display","none");

			});
		
		}//

});
*/
</script>
<%{%>

<script>

EJESA.CALL_EJENEA01008.init();

</script>
<%}%>