<div class="EJENEA00604">
	<div class="comment">
		<span>Comentários</span>
	</div>
	<div class="form-comment">
		<div class="photo-comment">
			<img width='50' height='50'/>
		</div>
		<div class="field-comment">
			<textarea>Comentar ...</textarea>
		</div>
		<div class="action-comment">
			Publicando como Beltrano <input id="send-comment" type="submit" name="enviar" value="Comentar">
		</div>
	</div>
	<div class="post-comment">
		<div class="photo-post-comment">
			<img width='50' height='50'/>
		</div>
		<div class="field-post-comment">
			<span class='autor-comment'>Fulano de tal</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<span class='time-comment'>há 5 horas</span>
		</div>
	</div>
</div>