.EJENEE00802{
	float:left; 
	margin:0px 20px 20px 0px; 
	width:300px;
	color:#999999;
}

.EJENEE00802 span{
	float:left;
	display:block;
	width:255px;
	font:bold 12px Arial;
	font-style: italic;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #999999
}

.EJENEE00802 quote{
	float:left;
	width:255px;
	font:bold 20px Arial;
	font-style: italic;
	margin-top: 15px; 
}