
<div class="EJENEE01304"> 
	<object class="componente-flash" width="600" height="300" codebase="http://active.macromedia.com/flash5/cabs/swflash.cab#version=5,0,0,0">
		<PARAM name="movie" class="movie" value="">
		<PARAM name="play" value="true">
		<PARAM name="quality" value="best">
		<PARAM name="loop" value="true">

		<embed class="componente-flash-embed" src="" width="400" height="300" play="true" loop="true" quality="best" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"> 
		</embed>
	</object>
</div>