<div>
	<div class="EJENEA00204">
		<div class="toolsbar">
			<div class="tools-face">
				<div class="fb-like" data-href="" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
			</div>
			<div class="tools-gplus">
				<!--<g:plus action="share" annotation="bubble"></g:plus>-->
				<g:plusone size="medium" href=""></g:plusone>
			</div>
			<div class="tools-twiter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-via="jornalodia" data-lang="pt" data-related="jornalodia">Tweet</a>
			</div>
				<div class="middlebar"></div>
			<div class="tools-comments">
				<a href="#comments-facebook"><img src="http://s0.ejesa.ig.com.br/img/odia/button_comments.png"></a>
			</div>
			<div class="tools-print">
				<a onClick="javascript:openPrint()"><img src="http://s0.ejesa.ig.com.br/img/odia/button_print.png"></a>
			</div>
			<div class="tools-font-lessen">
				<a onClick="javascript:changeFont('lessen')"><img src="http://s0.ejesa.ig.com.br/img/odia/button_lessen.png"></a>
			</div>
			<div class="tools-font-plus">
				<a onClick="javascript:changeFont('plus')"><img src="http://s0.ejesa.ig.com.br/img/odia/button_plus.png"></a>
			</div>
		</div>
	</div>
</div>
