<div>

	<div id="EJERTI00106" data-id="" class="rt_poll rt_poll_animate componente-enquete">

		<header>
			<h1 data-enqueteid="22-01-2015-17-00">VOTE NO MELHOR SAMBA-ENRREDO</h1>
			<small>Total de votos</small>
			<span id="totalVotosSamba"></span>
			<div id="social-share">

				<div class="toolsbar">
					<div class="tools-face">
						<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="145" data-show-faces="true" data-font="lucida grande" data-action="recommend"></div>
					</div>
					<div class="tools-twiter">
						<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-via="jornalodia" data-lang="pt" data-related="jornalodia">Tweet</a>
					</div>
				</div>

			</div>
		</header>

		<section>
			<ul id="lista-escolas" class="respostas">

				<li class="a-1 resposta" data-id="1">

					<h2>Unidos de <span> Vila Isabel</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">O Maestro Brasileiro na Terra de Noel</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_1" class="jp-jplayer"></div>
						<div id="jp_container_1" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="1">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_1"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-2 resposta" data-id="2">

					<h2>Acadêmicos do<span>Grande Rio</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">A Grande Rio é do baralho!</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_2" class="jp-jplayer"></div>
						<div id="jp_container_2" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="2">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_2"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-3 resposta" data-id="3">

					<h2>G.R.E.S. <span> Mangueira</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">Agora chegou a vez, vou cantar</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_3" class="jp-jplayer"></div>
						<div id="jp_container_3" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="3">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_3"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-4 resposta" data-id="4">

					<h2>G.R.E.S. <span> Portela</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">ImaginaRIO</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_4" class="jp-jplayer"></div>
						<div id="jp_container_4" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="4">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_4"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-5 resposta" data-id="5">

					<h2>São <span>Clemente</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">A incrível história do homem</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_5" class="jp-jplayer"></div>
						<div id="jp_container_5" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="5">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_5"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-6 resposta" data-id="6">

					<h2>Unidos <span>
					da Tijuca</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">Um Conto Marcado no Tempo</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_6" class="jp-jplayer"></div>
						<div id="jp_container_6" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="6">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_6"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-7 resposta" data-id="7">

					<h2>G.R.E.S <span>
					Mocidade</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">Se o mundo fosse acabar</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_7" class="jp-jplayer"></div>
						<div id="jp_container_7" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="7">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_7"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-8 resposta" data-id="8">

					<h2>G.R.E.S <span>
					Salgueiro</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">Do fundo do quintal</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_8" class="jp-jplayer"></div>
						<div id="jp_container_8" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="8">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_8"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-9 resposta" data-id="9">

					<h2>G.R.E.S <span>
					Beija-Flor</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">Um Griô Conta a História</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_9" class="jp-jplayer"></div>
						<div id="jp_container_9" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="9">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_9"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-10 resposta" data-id="10">

					<h2>G.R.E.S <span>
					Imperatriz</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">AXÉ, NKENDA!</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_10" class="jp-jplayer"></div>
						<div id="jp_container_10" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="10">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_10"></cite>
					<b class="resultado"></b>

				</li>
				<li class="a-11 resposta" data-id="11">
					<h2>Unidos do <span>
					Viradouro</span></h2>
					<small class="ajustesamba">Samba-enredo:</small>
					<span class="nomesamba">Nas veias do Brasil</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_11" class="jp-jplayer"></div>
						<div id="jp_container_11" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="11">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_11"></cite>
					<b class="resultado"></b>

				</li>

				<li class="a-12 resposta" data-id="12">

					<h2>União <span>
					da Ilha</span></h2>
					<small>Samba-enredo:</small>
					<span class="nomesamba">Beleza Pura?</span>
					<small>Ano:</small>
					<span>2015</span>
					<small>Ouça:</small>
					<div class="player">

						<div id="jquery_jplayer_12" class="jp-jplayer"></div>
						<div id="jp_container_12" class="jp-audio">
							<div class="jp-type-single">
								<div class="jp-gui jp-interface">
									<ul class="jp-controls">
										<li><a href="javascript:;" class="jp-play" tabindex="1" title="Escutar trecho">play</a></li>
										<li><a href="javascript:;" class="jp-pause" tabindex="1" title="Interromper">pause</a></li>
										<li><a href="javascript:;" class="jp-stop" tabindex="1" title="Parar a execução">stop</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

					<hr>
					<a class="votar bt-enviar" href="javascript:void(0);" id="" data-voto="12">Votar</a>
					<strong class="votei">Votado</strong>
					<cite class="numVotos quantidade-votos voto_12"></cite>
					<b class="resultado"></b>

				</li>

			</ul>

		</section>

	</div>

	<style>
		#area2{display:none!important;}
		#area3{margin-top:20px!important;}
		#EJERTI00106 {padding: 0;		}
		#EJERTI00106 header {float: none;border-top: 0px none;background: transparent;height: 195px;width: 100%;display: block;position: relative;}
		#EJERTI00106 header h1 {display: none;}
		#EJERTI00106 header #social-share {top: 12px; right: 0px; position: absolute; width: 260px; height: 20px;}
		#EJERTI00106 header>small { display: none;}
		#EJERTI00106 header>span { display: block; width: 940px; top: 145px; position: absolute; text-align: center; font-weight: bold; font-family: Helvetica; font-size:28px ; color: #000;}
		#EJERTI00106 #lista-escolas {margin: 0px; padding: 0px; font-size: 0px; display: block; margin-top: 20px; text-align: center; vertical-align: top;}
		#EJERTI00106 #lista-escolas>li {font-size: 16px; text-align: left; width: 225px; height: 400px; position: relative; padding: 15px 25px; margin-bottom: 30px; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: url(http://s0.ejesa.ig.com.br/img/odia/carnaval/frame.jpg) no-repeat;}
		#EJERTI00106 #lista-escolas>li.votado {font-size: 16px; text-align: left; width: 225px; height: 400px; position: relative; padding: 15px 25px; margin-bottom: 30px; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: url(http://s0.ejesa.ig.com.br/img/odia/carnaval/frame-votado.jpg) no-repeat;}
		#EJERTI00106 #lista-escolas li>h2, #EJERTI00106 #lista-escolas li>b, #EJERTI00106 #lista-escolas li>small, #EJERTI00106 #lista-escolas li>span, #EJERTI00106 #lista-escolas li .player { display: block; margin: 0px; padding: 0px;}
		#EJERTI00106 #lista-escolas li>h2 {font-size: 22px; font-family: Helvetica; color: #333; line-height: 28px; letter-spacing: -1px;}
		#EJERTI00106 #lista-escolas li>h2>span {font-size: 33px;display: block; letter-spacing: -1px;}
		#EJERTI00106 #lista-escolas li>small { margin-top: 18px; margin-bottom: 5px; font-family: Helvetica; color: #b1b1b1; font-size: 16px; font-weight: bold;}
		#EJERTI00106 #lista-escolas li>span {font-family: Helvetica; font-size: 15px; color: #3b3b3b; font-weight: bold;}
		#EJERTI00106 #lista-escolas li>hr {background: transparent; border: 0px none; display: block; margin: 10px 0px 5px 0px;  padding: 0px; border-top: 1px solid #333;}
		#EJERTI00106 #lista-escolas li>a {text-align: center; display: block; text-decoration: none; font-family: Helvetica; font-weight: bold; color: #333; font-size: 22px; line-height: 22px;}
		#EJERTI00106 #lista-escolas li strong.votei{display:none;}
		#EJERTI00106 #lista-escolas li.votado strong.votei {text-align: center; display: block; text-decoration: none; font-family: Helvetica; font-weight: bold; color: #333; font-size: 22px; line-height: 22px;}
		#EJERTI00106 #lista-escolas li>b {text-align: center; display: block; font-family: Helvetica; font-weight: bold; color: #333; font-size: 59px; line-height: 59px; margin-top: 25px;}
		#EJERTI00106 #lista-escolas li.votado b {margin-top:3px!important;;}

		/* cores */
		#EJERTI00106 .a-1 .resultado, .a-1 .votar, .a-1 h2, .a-1 strong.votei {color: #4d90fe !important;}
		#EJERTI00106 .a-2 .resultado, .a-2 .votar, .a-2 h2, .a-2 strong.votei {color: #346635 !important;}
		#EJERTI00106 .a-3 .resultado, .a-3 .votar, .a-3 h2, .a-3 strong.votei {color: #e82583 !important;}
		#EJERTI00106 .a-4 .resultado, .a-4 .votar, .a-4 h2, .a-4 strong.votei {color: #3360a1 !important;}
		#EJERTI00106 .a-5 .resultado, .a-5 .votar, .a-5 h2, .a-5 strong.votei {color: #b20107 !important;}
		#EJERTI00106 .a-6 .resultado, .a-6 .votar, .a-6 h2, .a-6 strong.votei {color: #c3c100 !important;}
		#EJERTI00106 .a-7 .resultado, .a-7 .votar, .a-7 h2, .a-7 strong.votei {color: #3c771b !important;}
		#EJERTI00106 .a-8 .resultado, .a-8 .votar, .a-8 h2, .a-8 strong.votei {color: #ff0000 !important;}
		#EJERTI00106 .a-9 .resultado, .a-9 .votar, .a-9 h2, .a-9 strong.votei {color: #003873 !important;}
		#EJERTI00106 .a-10 .resultado, .a-10 .votar, .a-10 h2, .a-10 strong.votei {color: #026701 !important;}
		#EJERTI00106 .a-11 .resultado, .a-11 .votar, .a-11 h2, .a-11 strong.votei {color: #9568af !important;}
		#EJERTI00106 .a-12 .resultado, .a-12 .votar, .a-12 h2, .a-12 strong.votei {color: #d4d226 !important;}

		#EJERTI00106 .a-1 hr {border-top: 1px solid #4d90fe !important;}
		#EJERTI00106 .a-2 hr {border-top: 1px solid #346635 !important;}
		#EJERTI00106 .a-3 hr {border-top: 1px solid #e82583 !important;}
		#EJERTI00106 .a-4 hr {border-top: 1px solid #3360a1 !important;}
		#EJERTI00106 .a-5 hr {border-top: 1px solid #b20107 !important;}
		#EJERTI00106 .a-6 hr {border-top: 1px solid #c3c100 !important;}
		#EJERTI00106 .a-7 hr {border-top: 1px solid #3c771b !important;}
		#EJERTI00106 .a-8 hr {border-top: 1px solid #ff0000 !important;}
		#EJERTI00106 .a-9 hr {border-top: 1px solid #003873 !important;}
		#EJERTI00106 .a-10 hr {border-top: 1px solid #026701 !important;}
		#EJERTI00106 .a-11 hr {border-top: 1px solid #9568af !important;}
		#EJERTI00106 .a-12 hr {border-top: 1px solid #d4d226 !important;}


		/* player */
		#EJERTI00106 .jp-controls {width: 110px; height: 26px; display: block; overflow: hidden; margin: 0px; padding: 0px;}
		#EJERTI00106 .jp-controls li {list-style: none; float: left; margin: 0 10px 0 0;}
		#EJERTI00106 .jp-controls li a{ background: url(http://s0.ejesa.ig.com.br/img/odia/carnaval/sprite_player.png) no-repeat 0px 0px; display: block; text-indent: -999px; height: 27px; width: 28px; outline: transparent; }
		#EJERTI00106 .jp-controls li a.jp-pause {background: url(http://s0.ejesa.ig.com.br/img/odia/carnaval/sprite_player.png) no-repeat -30px 0px;}
		#EJERTI00106 .jp-controls li a.jp-stop {background: url(http://s0.ejesa.ig.com.br/img/odia/carnaval/sprite_player.png) no-repeat -59px 0px;}
		#EJERTI00106 .jp-no-solution {display: none;}

		#EJERTI00106 cite.numVotos{visibility:hidden;}
		#EJERTI00106 .confirm_vote{display:block;top:50%;left:25%;position:relative;width:450px;z-index:99999;background:#fff;}
		#EJERTI00106 .tools-face{float:right;}
		#EJERTI00106 .tools-twiter{float:right;}
		#EJERTI00106 #lista-escolas li>span.nomesamba{height:35px;}

		#EJERTI00106 small.oldname{font-size:14px;margin-top:-9px;display:block;}
		/*#EJERTI00106 #lista-escolas .a-11 small.ajustesamba{margin-top:0px;}*/
		#EJERTI00106 header {width: 940px;margin: 0 auto;}
		#EJERTI00106 section {padding: 12px 10px;background: #fff;width: 940px;margin: 0 auto;}
		#container {background: url(http://s0.ejesa.ig.com.br/img/odia/carnaval/votacao-carnaval-musica2.jpg) no-repeat 50% 204px;}
		#area15 {display: none;}
	</style>

</div>
