<div class="EJETOE00402">
	<div class="digital-edition-header">
		<a href="#" title="">
		</a>
	</div>
	<div class="digital-edition">
		<div class="digital-edition-img">
			<a href="http://odia.epaper.grupodia.com.br/login" title="Edição Digital" onclick="ga('send', 'event', {eventCategory: 'Capa Ataque',eventAction: 'click',eventValue: 'Capa Ataque'});">
				<img src="" width="145" height="167" />
			</a>
		</div>
		<div class="digital-edition-plus">
			<div class="digital-edition-options">
				<div id="digital-edition-signature" class="digital-edition-button">
					<a href="http://www.ejesa.com.br/assine/">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-assinatura.png" width-"120" height="25" alt="Assine o dia"/>
					</a>
				</div>
				<div id="digital-edition-version" class="digital-edition-button">
					<a href="http://odia.epaper.grupodia.com.br/login">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-versao-digital.png" width="120" height="25" alt="Versão Digital"/>
					</a>
				</div>
			</div>
		</div>
	</div>
	<style type="text/css">
		.EJETOE00402 {width:300px;height:235px;background:url(http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png) repeat;margin:15px 20px 15px 0;float:left;}
		.EJETOE00402 .digital-edition-header {width:300px;height:45px;float:left;display:block;position:relative;background:url(http://s0.ejesa.ig.com.br/img/odia/digital-edition-header.png) no-repeat;}
		.EJETOE00402 .digital-edition-img{width:145px;height:167px;margin:10px 15px 0 10px;float:left;display:block;position:relative;}
		.EJETOE00402 .digital-edition-plus {width:120px;height:185px;margin-top:10px;float:left;display:block;position:relative;}
		.EJETOE00402 .digital-edition-options {width:120px;height:100px;margin-top:15px;float:left}
		.EJETOE00402 .digital-edition-options .digital-edition-button {width:120px;height:25px;margin-bottom:10px;float:left;}
	</style>
</div>
