
<div class="EJETOA03906">
	<div id="carnaval-20xx">
		<div id="caixa-carnaval">
			<div id="abas-carnaval">
				<div id="abas-menu-carnaval">
					<a href="javascript:void(0);" id="aba1carnaval" class="selected">O Dia na Folia</a>
					<a href="javascript:void(0);" id="aba2carnaval" >Na Sapuca&iacute;</a>
					<a href="javascript:void(0);" id="aba3carnaval" >Nos Blocos</a>
				 </div>
		   </div>
		</div>
	</div>
	<style>
		.placeholder-componente-carnaval {width: 620px; height: 740px; display: block; float: left; }
		.EJELIA01504 {width: 620px; display: block; clear: both; float: left; height: 430px; position: relative; margin-top: 0px;}
		.EJELIA01504 a {text-decoration: none;}
		.EJELIA01504 .bx-wrapper ul , .EJELIA01504 .bx-wrapper ul li {margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: left;}
		.EJELIA01504 .bx-wrapper {position: relative;margin: 0 auto;padding: 0;*zoom: 1; }
		.EJELIA01504 .bx-wrapper img {width: 620px !important; height: 430px !important ; display: block; }
		.EJELIA01504 .bx-wrapper .bx-loading {min-height: 50px;background: url(http://s0.ejesa.ig.com.br/img/odia/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000; }
		.EJELIA01504 .bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;background: rgba(0, 0, 0, .4);position: absolute;top: 10px;height: 20px;width: auto;right: 10px;padding: 15px 10px 5px 10px;border-radius: 4px; }
		.EJELIA01504 .bx-wrapper .bx-pager .bx-pager-item, .EJELIA01504 .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline; }
		.EJELIA01504 .bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; }
		.EJELIA01504 .bx-wrapper .bx-pager.bx-default-pager a:hover, .EJELIA01504 .bx-wrapper .bx-pager.bx-default-pager a.active {background: #fff; }
		.EJELIA01504 .bx-wrapper .bx-prev {left: 0px; background: #ab669d  url(http://s0.ejesa.ig.com.br/img/odia/seta-esquerda-trasp.png) no-repeat 50% 50%; }
		.EJELIA01504 .bx-wrapper .bx-next {right: 0px; background: #ab669d  url(http://s0.ejesa.ig.com.br/img/odia/seta-direita-trasp.png) no-repeat 50% 50%; }
		.EJELIA01504 .bx-wrapper .bx-controls-direction a {position: absolute;top: 43%;margin-top: -16px;outline: 0;width: 40px; height: 93px;text-indent: -9999px;z-index: 9999;opacity: 0.95; background-size: 15px; }
		.EJELIA01504 .bx-wrapper .bx-prev:hover, .EJELIA01504 .bx-wrapper .bx-next:hover {opacity:1; }
		.EJELIA01504 .bx-wrapper .bx-caption {position: absolute;bottom: 0px;left: 0; }
		.EJELIA01504 .bx-wrapper .bx-caption h2 { line-height: 1.4;padding: 0px 0;width: 360px;margin: 0px auto;}
		.EJELIA01504 .bx-wrapper .bx-caption h2 a {font-family: Arial; margin: 0px; font-size: 36px; letter-spacing: -3px; background-color: rgba(0, 0, 0, 0.6); color: #fff; display: inline; padding: 0px 10px; -webkit-box-decoration-break: clone; line-height: 41px;}
		.EJELIA01504 .bx-wrapper .bx-caption h3 {display: none;}
		.EJELIA01504.edicao .bx-wrapper .bx-loading {display: none !important;}
		.bx-viewport, .bxslider {height: 430px !important;}
		.EJELIA01504 .bx-pager {display: none;}
		.place-component2 {width: 620px; float: none; overflow: hidden;}
		.EJEHLE02501r {border:0px;float:left;float:left;height:280px;margin:15px 20px 0px 0px;padding:0px;width:140px;}
		.EJEHLE02501r .headline {float:left;width:140px;}
		.EJEHLE02501r .headline-img {float:left;height: 180px;margin-bottom: 10px;width:140px;}
		.EJEHLE02501r .headline-img .span-border-hover a {display: block; position: relative; width: 140px; height: 180px;}
		.EJEHLE02501r .headline-img .span-border-hover a .promo {position: absolute; display: block; width: 132px; height: 172px; border: 4px solid transparent;}
		.EJEHLE02501r:hover .headline-img .span-border-hover a .promo {border: 4px solid #996699;}
		.EJEHLE02501r .headline-hat {float:left;height: 20px;overflow:hidden;padding-bottom: 4px;width: 100%;}
		.EJEHLE02501r .headline-hat a{color: #949494;font-family: Arial;font-size: 11px;font-weight:bold;text-decoration: none;text-transform: uppercase;}
		.EJEHLE02501r .headline-hat a:hover {text-decoration: underline;}
		.EJEHLE02501r .headline-title {float:left;height: 48px;overflow:hidden;width: 100%;}
		.EJEHLE02501r .headline-title a {color: #004c87;float:left;font-family: Arial;font-size: 14px;font-weight:bold;line-height: 16px;text-decoration: none;}
		.EJEHLE02501r .headline-title a:hover {text-decoration: underline;}
		.EJEHLE02501r .headline-title a {color: #996699;}
		.EJEHLE02501r .headline-title a:hover {color: #996699;}
		.EJEHLE02501r .headline:hover .headline-title a {color:#996699; font-weight: bold;}
		.EJEHLE02501r:last-child {margin-right: 0px;}

		.EJETOA03906 {font-family: Arial, sans-serif; float:left; width: 940px; margin-left: 10px; margin-top:40px;}
		.EJETOA03906 #carnaval-20xx { width:940px; height:55px; background:url(http://s0.ejesa.ig.com.br/img/odia/carnaval/bg_header_abas_carnaval.jpg) 0 4px no-repeat; margin:0 auto; border-bottom:2px solid #ab669d; }
		.EJETOA03906 div#caixa-carnaval { float:left; width: 620px; }
		.EJETOA03906 div#caixa-carnaval div#abas-carnaval { display: inline-block; width: 940px; margin:0px; padding: 0; vertical-align: bottom; padding-bottom:0px; border-bottom: 0px !important;}
		.EJETOA03906 div#caixa-carnaval div#abas-carnaval div#abas-menu-carnaval { margin-left:230px; }
		.EJETOA03906 div#caixa-carnaval div#abas-carnaval div#abas-menu-carnaval a { text-decoration: none; cursor:pointer; display:block; color:#ffffff; padding:22px 20px 16px; text-transform:uppercase; font-size:14px; top: 0px; font-weight:bold; float:left; display:block; overflow:hidden; position:relative; }
		.EJETOA03906 div#caixa-carnaval div#abas-carnaval div#abas-menu-carnaval a:hover,div#caixa-carnaval div#abas-carnaval div#abas-menu-carnaval a.selected { color:#ab669d; background:#ffffff; padding:20px 18px 19px 18px; border-left:2px solid #ab669d; border-top:2px solid #ab669d; border-right:2px solid #ab669d; }
		#area15 {display: block !important; margin-bottom: 0px !important;}
		.EJETOA03906 div#caixa-carnaval div#abas-carnaval div#abas-menu-carnaval a#aba3carnaval {display:none !important;}
	</style>
</div>
