<link href="http://s0.ejesa.ig.com.br/css/odia/odia_news_components.css?v=1.8.2" type="text/css" rel="stylesheet">

<%{%>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/ODia_News.min.js?v=0.62"> </script>
<!-- script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/EJESA_Enquete.min.js"> </script -->
<!-- script src="http://s0.ejesa.ig.com.br/js/odia/IBT_Top.min.js" type="text/javascript"></script -->

<%}%>
