<div class="EJETOA04306">
	<div class="header-copa">
		<h2>O Dia na <span>Copa</span></h2>

		
	</div>
	<style type="text/css">
	#pubIntervencao{margin-top:15px!important;}
	.EJETOA04306 {float: left;display: block;width: 940px; height: 77px; font-family: Arial, sans-serif;color: #3b3b3b;font-size: 12px;line-height: 1.4;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.EJETOA04306 .header-copa {clear: both;display: block;}
	.EJETOA04306 .header-copa h2 {font-size: 56px;color: #77983e;font-weight: normal;word-spacing: -10px;text-transform: uppercase;float: left;font-family: "Microsoft Yi Baiti", Arial, sans-serif;-webkit-font-smoothing: antialiased;line-height: 56px;padding: 0;margin: 0;padding-left: 25px;margin-top: 7px;}
	.EJETOA04306 .header-copa h2 span {font-weight: bold;}
	.EJETOA04306 .header-copa .patrocinios {width: 170px; height: 52px; float: right; text-align: left; margin-top: 12px;}
	.EJETOA04306 .header-copa .patrocinios span {vertical-align: top; padding-top: 20px; margin-right: 14px; display: inline-block;}
	.EJETOA04306 .header-copa .patrocinios img {border: 1px solid #d4d6cf;}
	.copa2014 #container {background-color: transparent;}
	.copa2014 #main {background-color: transparent;}
	</style>

</div>
