<%{%>
    <script language="JavaScript"> 
        /*
        var ODia_OAS_Secao = EJESA.Util.getMetaName('odia-OAS-vars-secao'); 
        var ODia_OAS_Site = EJESA.Util.getMetaName('odia-OAS-site');
        var ODia_OAS_Vars = EJESA.Util.getMetaName('odia-OAS-vars-tags');
        OAS_VARS(ODia_OAS_Secao, ODia_OAS_Vars); 
        OAS_START();
        */
    </script>
<%}%>

<!--[if IE 7 ]>
    <body class="ie7">
<![endif]-->

<!--[if IE 8 ]>
    <body class="ie8">
<![endif]-->