
    <div class="EJETOA02602">
        <div class="content">
            <div class="calentarios" style="float:left">
                <div class="titulo">
                    <div class="barrinha"></div>calendário<span>jogos</span>
                    </div>
                    <div class="tabela-de-jogos-confd">
                       <table class="tabela-classificacao" id="tabela-classificacao-1">
                            <tr class="thead">
                              <th class="thead" colspan="10">JUNHO 2013</th>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-01"><strong>15</strong> SÁB</th>
                                <td class="hora jogo01" id="hora-jogo-01">16H:</td>
                                <td class="time-bandeira jogo01" id="time-jogo-01"><div class="bandeira_selecao bandeira_brasil">BRA</div></td>
                                <td class="contra jogo01" id="contra-jogo-01">x</td>
                                <td class="time-bandeira jogo01" id="time2-jogo-01"><div class="bandeira_selecao bandeira_japao">JPN</div></td>
                               
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-2"><strong>16</strong> DOM</th>
                                <td class="hora jogo02" id="hora-jogo-02">16H:</td>
                                <td class="time-bandeira jogo02" id="time-jogo-02"><div class="bandeira_selecao bandeira_mexico">MÉX</div></td>
                                <td class="contra jogo02" id="contra-jogo-02">x</td>
                                <td class="time-bandeira jogo02" id="time-jogo-02"><div class="bandeira_selecao bandeira_italia">ITA</div></td>
                                <td class="divisor" id="divisaor-jogo-03"><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/divisor-jogo.png"></td>
                                <td class="hora jogo03" id="hora-jogo-03">19H:</td>
                                <td class="time-bandeira jogo03" id="time-jogo-03"><div class="bandeira_selecao bandeira_espanha">ESP</div></td>
                                <td class="contra jogo03" id="contra-jogo-03">x</td>
                                <td class="time-bandeira jogo03" id="time2-jogo-03"><div class="bandeira_selecao bandeira_uruguai">URU</div></td>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-04"><strong>17</strong> SEG</th>
                                <td class="hora jogo04" id="hora-jogo-04">16H:</td>
                                <td class="time-bandeira jogo04" id="time-jogo-04"><div class="bandeira_selecao bandeira_tahiti">TAH</div></td>
                                <td class="contra jogo04" id="contra-jogo-04">x</td>
                                <td class="time-bandeira jogo04" id="time2-jogo-04"><div class="bandeira_selecao bandeira_nigeria">NGA</div></td>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-05"><strong>19</strong> QUA</th>
                                <td class="hora jogo05" id="hora-jogo-05">16H:</td>
                                <td class="time-bandeira jogo05" id="time-jogo-05"><div class="bandeira_selecao bandeira_brasil">BRA</div></td>
                                <td class="contra jogo05" id="contra-jogo-05">x</td>
                                <td class="time-bandeira jogo05" id="time2-jogo-05"><div class="bandeira_selecao bandeira_mexico">MÉX</div></td>
                                <td class="divisor" id="divisor-jogo-05"><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/divisor-jogo.png"></td>
                                <td class="hora jogo06" id="hora-jogo-06">19H:</td>
                                <td class="time-bandeira jogo06" id="time-jogo-06"><div class="bandeira_selecao bandeira_italia">ITA</div></td>
                                <td class="contra jogo06" id="contra-jogo-06">x</td>
                                <td class="time-bandeira jogo06" id="time2-jogo-06"><div class="bandeira_selecao bandeira_japao">JPN</div></td>
                            </tr>
                        </table>
                       <table class="tabela-classificacao" id="tabela-classificacao-2" style="display:none">
                            <tr class="thead">
                                <th class="thead" colspan="10">JUNHO 2013</th>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-07"><strong>20</strong> QUI</th>
                                <td class="hora jogo07" id="hora-jogo-07">16H:</td>
                                <td class="time-bandeira jogo07" id="time-jogo-07"><div class="bandeira_selecao bandeira_espanha">ESP</div></td>
                                <td class="contra jogo07" id="contra-jogo-07">x</td>
                                <td class="time-bandeira jogo07" id="time2-jogo-07"><div class="bandeira_selecao bandeira_tahiti">TAH</div></td>
                                <td class="divisor" id="divisor-jogo-07"><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/divisor-jogo.png"></td>
                                <td class="hora jogo08" id="hora-jogo-08">19H:</td>
                                <td class="time-bandeira jogo08" id="time-jogo-08"><div class="bandeira_selecao bandeira_nigeria">NGA</div></td>
                                <td class="contra jogo08" id="contra-jogo-08">x</td>
                                <td class="time-bandeira jogo08" id="time2-jogo-08"><div class="bandeira_selecao bandeira_uruguai">URU</div></td>
                            </tr>
                            <tr>
                                <div id="tabela-jogo-9" class="tabela-jogo">
                                    <th class="dia" id="dia-jogo-09"><strong>22</strong> SÁB</th>
                                    <td class="hora jogo09" id="hora-jogo-09">16H:</td>
                                    <td class="time-bandeira jogo09" id="time-jogo-10"><div class="bandeira_selecao bandeira_japao">JPN</div></td>
                                    <td class="contra jogo09" id="contra-jogo-09">x</td>
                                    <td class="time-bandeira jogo09" id="time-jogo-09"><div class="bandeira_selecao bandeira_mexico">MÉX</div></td>
                                    <td class="divisor" id="divisor-jogo-09"><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/divisor-jogo.png"></td>
                                    <td class="hora jogo10" id="hora-jogo-10">16H:</td>
                                    <td class="time-bandeira jogo10" id="time-jogo-10"><div class="bandeira_selecao bandeira_italia">ITA</div></td>
                                    <td class="contra jogo10" id="contra-jogo-10">x</td>
                                    <td class="time-bandeira jogo10" id="time2-jogo-10"><div class="bandeira_selecao bandeira_brasil">BRA</div></td>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-11"><strong>23</strong> DOM</th>
                                <td class="hora jogo11" id="hora-jogo-11">16H:</td>
                                <td class="time-bandeira jogo11" id="time-jogo-11"><div class="bandeira_selecao bandeira_nigeria">NGA</div></td>
                                <td class="contra jogo11" id="contra-jogo-11">x</td>
                                <td class="time-bandeira jogo11" id="time-jogo-11"><div class="bandeira_selecao bandeira_espanha">ESP</div></td>
                                <td class="divisor" id="divisor-jogo-12"><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/divisor-jogo.png"></td>
                                <td class="hora jogo12" id="hora-jogo-12">16H:</td>
                                <td class="time-bandeira jogo12" id="time-jogo-12"><div class="bandeira_selecao bandeira_uruguai">URU</div></td>
                                <td class="contra jogo12" id="contra-jogo-12">x</td>
                                <td class="time-bandeira jogo12" id="time2-jogo-12"><div class="bandeira_selecao bandeira_tahiti">TAH</div></td>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-13"><strong>26</strong> QUA</th>
                                <td class="hora jogo13" id="hora-jogo-13" colspan="3">SEMINFINAIS - 16H:</td>
                                <td class="time-bandeira jogo13" id="time-jogo-13"><div class="bandeira_selecao bandeira_indefinida">1A</div></td>
                                <td class="contra jogo13" id="contra-jogo-13">x</td>
                                <td class="time-bandeira jogo13" colspan="3" id="time2-jogo-13"><div class="bandeira_selecao bandeira_indefinida">2B</div></td>
                                <td></td>
                           </tr>
                        </table>
                                
                       <table class="tabela-classificacao" id="tabela-classificacao-3" style="display:none; width:100%; height:230px">
                            <tr class="thead">
                                <th class="thead" colspan="10">JUNHO 2013</th>
                            </tr>
                            <tr>
                                <th class="dia" id="dia-jogo-14"><strong>27</strong> QUI</th>
                                <td class="hora jogo14" id="hora-jogo-14" colspan="3">SEMINFINAIS - 16H:</td>
                                <td class="time-bandeira jogo14" id="time-jogo-14"><div class="bandeira_selecao bandeira_indefinida">1B</div></td>
                                <td class="contra jogo14" id="contra-jogo-14">x</td>
                                <td class="time-bandeira jogo14" id="time2-jogo-14" colspan="3"><div class="bandeira_selecao bandeira_indefinida">2A</div></td>
                                <td></td>
                            </tr>    
                            <tr>
                                <th class="dia" id="dia-jogo-15"><strong>30</strong> DOM</th>
                                <td class="hora jogo15" colspan="3" id="hora-jogo-15">3º LUGAR - 13H:</td>
                                <td class="time-bandeira jogo15" id="time-jogo-15"><div class="bandeira_selecao bandeira_indefinida">L13</div></td>
                                <td class="contra jogo15" id="contra-jogo-15">x</td>
                                <td class="time-bandeira jogo15" id="time2-jogo-15" colspan="3"><div class="bandeira_selecao bandeira_indefinida">L14</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="dia jogo16" id="dia-jogo-16"><strong>30</strong> DOM</th>
                                <td class="hora jogo16" id="hora-jogo-16" colspan="3">FINAL - 19H:</td>
                                <td class="time-bandeira jogo16"id="time-jogo-16"><div class="bandeira_selecao bandeira_indefinida">W13</div></td>
                                <td class="contra jogo16" id="contra-jogo-16">x</td>
                                <td class="time-bandeira jogo16" id="time2-jogo-16" colspan="3"><div class="bandeira_selecao bandeira_indefinida">W14</div></td>
                                <td></td>
                            </tr>
                        </table>
                        <div class="clear"></div>
                        <div id="nav" class="nav">
                            <a href="#" rel="prev" class="nav-paginacao">«</a>
                            <a href="#" rel="1" class="nav-paginacao highlight">1</a>
                            <a href="#" rel="2" class="nav-paginacao">2</a>
                            <a href="#" rel="3" class="nav-paginacao">3</a>
                            <a href="#" rel="next" class="nav-paginacao">»</a>
                        </div>
                         <div class="intervencao-jogo" style="display:block;">
                            <div class="inside-jogo">
                                <div class="timeA">
                                    <div class="bandeira_selecao" style="height:17px; width:70px"> <span>W13</span></div>
                                </div>
                                <div class="contra">
                                    x
                                </div>
                                <div class="timeB">
                                    <div class="bandeira_selecao" style="height:17px;width:70px"> <span>W14</span></div>
                                </div>  
                                <div class="estadio">
                                </div>
                                <div class="horario">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>