<div class="EJETOA01504">

	<a href="#">
		<img src="foto-pb.jpg">
		<div class="chamada">
			<h2>Novo Maracanazo</h2>
			<p>Alemanha devolve derrota da final de 2002 e torcida brasileira vai as lágrimas</p>
		</div>
	</a>

	<style type="text/css">

	body {background-image: url(http://s0.ejesa.ig.com.br/img/odia/copa/bg-home.jpg?v3); background-position: 50% 254px; background-repeat: repeat-x;}
	#pubIntervencao{margin-top:15px!important;}
	.copa2014 #container {background-color: transparent;}
	.copa2014 #main {background-color: transparent;}
	nav#main-nav #indent-menu #new-logo a {background: url(http://s0.ejesa.ig.com.br/img/odia/copa/logo-pb.png) no-repeat;}
	nav#main-nav #indent-menu {background: url(http://s0.ejesa.ig.com.br/img/odia/copa/header-fundo-pb.jpg) repeat-x;}
	#content {background: transparent;}
	.EJETOA01504 {width: 620px; height: 450px; position: relative; float: left; margin: 0 0 ; }
	.EJETOA01504 a {text-decoration: none;}
	.EJETOA01504 .chamada {position: absolute; top: 45px; left: 25px; text-align: left;}
	.EJETOA01504 img { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray;  -webkit-filter: grayscale(100%);}
	.EJETOA01504 .chamada h2 { width: 400px;  font-family: Arial, sans-serif; font-size: 58px; font-weight: bold; color: #fff; text-shadow: 3px 3px 5px #000; line-height: 48px; letter-spacing: -2px; margin: 0px; padding: 0px; }
	.EJETOA01504 .chamada p {font-family: Arial, sans-serif; font-size: 18px; text-shadow: 3px 3px 5px #000; line-height: 17px; letter-spacing: 0px; color: #fff; width: 240px; }
	nav#main-nav #indent-menu {border-top: 5px solid #333;}
	.EJETOE01406 .destaque-seta-cor {background-color: #999;}
	.EJETOE01406 .destaque-lista ul li a {color: #999;}
	nav#main-nav #nav-menu ul.main-cat>li>a {color: #3b3b3b;}
	nav#main-nav #nav-menu ul.main-cat>li:hover {border-top: 2px solid #3b3b3b;}
	.EJETOE01406 .destaque-seta-ponta {background: url(http://s0.ejesa.ig.com.br/img/odia/grey2_arrow.png) no-repeat -12px;}
	</style>
</div>
