<div>
	<div class="EJETOA00304">
		<div class="toolsbar">
			<div class="tools-face">
				<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="145" data-show-faces="true" data-font="lucida grande" data-action="recommend"></div>
			</div>
			<div class="tools-gplus">
				<!--<g:plus action="share" annotation="bubble"></g:plus>-->
				<g:plusone size="medium" href=""></g:plusone>
			</div>
			<div class="tools-twiter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-via="jornalodia" data-lang="pt" data-related="jornalodia">Tweet</a>
			</div>
		</div>
	</div>
</div>


