<div class="EJETOA01606" style="border-top:0px!important;border-bottom:0px!important;padding-bottom:0px!important;min-height:0px!important;">
    <!-- AEP vitrine -->
    <script type='text/javascript'>

        if (window.location.href.search("edicao.html") == -1) {

            window.aepConfig = {
                id: "",
                format: "vitrine",
                width: "940",
                height: "400",
                minViewportWidth: 0,
                css: "http://akfs.nspmotion.com/aep/css/vitrine-ofertas-fix.css",
                click: "http://afp.nspmotion.com/ei/3",
                oob: "",
                currencySymbol: "",
                imageProxy: "",
                redirect: "",
                isTopFormat: false,
                template: {
                    id: "vitrine-template-1.1.0",
                    url: "http://akfs.nspmotion.com/dhtml/aep/vitrine-template-1.1.0.min.js"
                },
                service: {
                    base: "http://afp.nspmotion.com/eb/4",
                    sd: "12c2e",
                    id: "d1bd9631fadfb0f5",
                    parameters: {
                        jsoncallback: "",
                        rnd: Math.random(),
                        fv: 11.7,
                        ma: 6,
                        rc: "",
                        n: "4f0x1c0",
                        crs: "UTF-8",
                        p: ""
                    }
                }
            };

        }
    </script>
    <script type='text/javascript' src='http://akfs.nspmotion.com/dhtml/aep/aep-fade-8.1.1.min.js'></script>
</div>