<div class="EJETOA05006" data-turno="1" data-abrangenciainicial="rj" data-mostraaba="presidente,governador,senador,depfederal,depestadual">

	<div class="votacao-turno">
			<h2><!-- <a href="javascript:void(0);" id="lk-turno-1" class="">1º TURNO</a> --><a href="javascript:void(0);" id="lk-turno-2" class="active">2º TURNO</a></h2>
			<h3>APURAÇÃO</h3>
			<div class="social-bar-votacao">
				<a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			</div>
		</div>
		<div class="votacao-global">
			<div class="percentagem-global">
				<span style="width: 0%;"></span>
				<p>
					<strong>0%</strong>das seções apuradas em todo o Brasil</p>
			</div>
			<span class="hora-atualizacao left">
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif">Atualizado às <b></b>
			</span>
			<span class="fonte-dados right">Fonte: TSE - Tribunal Superior Eleitoral</span>
		</div>
		<nav>
			<ul class="abas-botoes">
				<li style="display:none;"><a href="javascript:void(0)" class="aba-presidente">Presidente</a></li>
				<li style="display:none;"><a href="javascript:void(0)" class="aba-governador">Governador</a></li>
				<li style="display:none;"><a href="javascript:void(0)" class="aba-senador">Senador</a></li>
				<li style="display:none;"><a href="javascript:void(0)" class="aba-depfederal">Dep. Federal</a></li>
				<li style="display:none;"><a href="javascript:void(0)" class="aba-depestadual">Dep. Estadual</a></li>
			</ul>
		</nav>
		<div class="presidente contagem-parcial todas-abas" style="display: none;">
			<div class="alerta-ordem">De acordo com as normas do TSE, a apuração dos votos para presidente só começa a ser divulgada a partir das 19h (horário de Brasília).</div>
			<div class="coluna-1">
				<div class="localizacao">
					NO
					<strong>BRASIL</strong>
				</div>

				<div class="header-top-list">
					<ul>
						<li>candidatos</li>
						<li>% válidos</li>
						<li>votos</li>
					</ul>
				</div>

				<ul>

				</ul>
			</div>
			<div class="coluna-2">
				<div class="localizacao">
					NAS
					<strong>REGIÕES</strong>
				</div>
				<div class="aba-regioes">
					<ul>
						<li><a href="javascript:void(0);">Norte</a></li>
						<li><a href="javascript:void(0);">Nordeste</a></li>
						<li><a href="javascript:void(0);">Centro-Oeste</a></li>
						<li class="active"><a href="javascript:void(0);">Sudeste</a></li>
						<li><a href="javascript:void(0);">Sul</a></li>
					</ul>
				</div>
				<!--<h4>CANDIDATO QUE LIDERA</h4>-->

				<!-- norte -->

				<div class="aba-no-local aba-norte" style="display: none;" data-vencedor="">

					<div class="mapa-regiao">
						<div id="mapanortebr" data-highcharts-chart="2">
							<div id="highcharts-4" style="position: relative; overflow: hidden; width: 468px; height: 345px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="468" height="345">
									<g class="highcharts-series-group" zIndex="3">
										<g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)">
											<g transform="translate(0,0) scale(1 1)">
												<path id="to" class="" d="M 413.4901960784314 181.33333333333334 L 401.5686274509804 181.33333333333334 L 410.98039215686276 172.54901960784315 L 422.9019607843137 180.7058823529412 L 423.52941176470586 214.58823529411765 L 432.3137254901961 222.11764705882354 L 439.84313725490193 221.49019607843138 L 439.84313725490193 230.27450980392157 L 431.6862745098039 230.27450980392157 L 432.3137254901961 244.07843137254903 L 439.84313725490193 259.1372549019608 L 448 258.5098039215686 L 434.19607843137254 275.4509803921569 L 443.6078431372549 275.4509803921569 L 443.6078431372549 295.52941176470586 L 424.78431372549016 306.1960784313726 L 408.4705882352941 306.1960784313726 L 400.94117647058823 299.92156862745094 L 396.54901960784315 299.92156862745094 L 390.9019607843137 306.82352941176475 L 380.8627450980392 301.8039215686274 L 380.2352941176471 286.7450980392157 L 372.078431372549 294.9019607843137 L 368.94117647058823 294.27450980392155 L 368.94117647058823 279.21568627450984 L 375.84313725490193 251.6078431372549 L 394.03921568627453 226.50980392156862 L 404.078431372549 199.52941176470588 L 410.3529411764706 187.6078431372549 L 413.4901960784314 181.33333333333334 z" ></path>
												<path id="pa" class="" d="M 287.37254901960785 54.58823529411765 L 299.921568627451 55.21568627450981 L 306.8235294117647 53.333333333333336 L 307.45098039215685 67.76470588235294 L 318.7450980392157 68.39215686274511 L 350.7450980392157 112.31372549019608 L 358.9019607843137 112.31372549019608 L 359.52941176470586 100.3921568627451 L 379.6078431372549 81.5686274509804 L 382.11764705882354 93.49019607843138 L 390.27450980392155 93.49019607843138 L 392.78431372549016 96.62745098039215 L 410.98039215686276 97.88235294117648 L 404.078431372549 106.66666666666667 L 404.078431372549 116.07843137254902 L 408.4705882352941 119.2156862745098 L 412.8627450980392 115.45098039215686 L 416 105.41176470588236 L 437.96078431372547 105.41176470588236 L 444.8627450980392 114.19607843137256 L 432.3137254901961 153.72549019607843 L 410.98039215686276 173.1764705882353 L 410.98039215686276 173.1764705882353 L 401.5686274509804 181.33333333333334 L 413.4901960784314 181.33333333333334 L 410.3529411764706 188.23529411764707 L 404.078431372549 200.15686274509804 L 394.03921568627453 227.13725490196077 L 375.84313725490193 252.23529411764707 L 265.4117647058824 237.1764705882353 L 254.11764705882354 210.19607843137254 L 246.58823529411765 200.7843137254902 L 284.8627450980392 125.49019607843138 L 250.98039215686273 112.31372549019608 L 240.31372549019608 88.47058823529412 L 244.70588235294116 71.52941176470588 L 258.5098039215686 70.27450980392157 L 262.9019607843137 65.88235294117646 L 287.37254901960785 64.62745098039215 L 287.37254901960785 54.58823529411765 z" ></path>
												<path id="ap" class="" d="M 306.8235294117647 53.96078431372549 L 307.45098039215685 67.76470588235294 L 318.7450980392157 68.39215686274511 L 350.7450980392157 112.94117647058823 L 358.9019607843137 112.94117647058823 L 359.52941176470586 101.01960784313725 L 379.6078431372549 81.5686274509804 L 384 74.66666666666667 L 385.2549019607843 68.39215686274511 L 379.6078431372549 59.6078431372549 L 369.5686274509804 58.98039215686275 L 360.156862745098 24.470588235294123 L 356.3921568627451 24.470588235294123 L 340.078431372549 57.09803921568628 L 306.8235294117647 53.96078431372549 z" ></path>
												<path id="rr" class="" d="M 220.23529411764704 6.901960784313729 L 214.58823529411765 6.901960784313729 L 205.1764705882353 21.333333333333336 L 196.39215686274508 22.588235294117652 L 192.62745098039215 26.35294117647059 L 181.9607843137255 26.98039215686275 L 179.45098039215685 32.62745098039216 L 175.68627450980392 30.117647058823533 L 166.90196078431373 30.117647058823533 L 161.2549019607843 25.098039215686278 L 152.47058823529412 21.960784313725494 L 143.05882352941177 19.450980392156865 L 154.98039215686273 31.372549019607845 L 156.86274509803923 53.333333333333336 L 168.7843137254902 53.333333333333336 L 176.31372549019608 60.235294117647065 L 176.94117647058823 68.39215686274511 L 183.84313725490196 76.54901960784314 L 183.2156862745098 80.94117647058823 L 176.31372549019608 90.98039215686275 L 185.09803921568627 99.76470588235294 L 185.09803921568627 108.54901960784314 L 193.2549019607843 114.82352941176471 L 197.64705882352942 113.5686274509804 L 202.66666666666666 100.3921568627451 L 213.33333333333334 99.76470588235294 L 221.49019607843138 87.84313725490196 L 239.68627450980392 88.47058823529412 L 244.70588235294116 71.52941176470588 L 232.15686274509804 70.27450980392157 L 230.90196078431373 64.62745098039215 L 222.11764705882354 57.72549019607843 L 225.88235294117646 18.82352941176471 L 222.11764705882354 17.568627450980394 L 222.11764705882354 10.039215686274513 L 220.23529411764704 6.901960784313729 L 220.23529411764704 6.901960784313729 z" ></path>
												<path id="ro" class="" d="M 186.98039215686273 304.9411764705883 L 213.33333333333334 313.0980392156863 L 229.01960784313727 283.6078431372549 L 221.49019607843138 282.98039215686276 L 215.84313725490196 274.82352941176475 L 223.37254901960785 274.82352941176475 L 223.37254901960785 268.5490196078431 L 198.90196078431373 269.17647058823525 L 198.27450980392157 235.2941176470588 L 191.37254901960785 234.66666666666666 L 180.078431372549 220.86274509803923 L 169.41176470588235 220.86274509803923 L 126.74509803921569 249.09803921568627 L 133.01960784313727 249.72549019607843 L 138.0392156862745 251.6078431372549 L 140.54901960784315 254.7450980392157 L 138.0392156862745 263.52941176470586 L 138.66666666666666 272.9411764705883 L 145.5686274509804 282.98039215686276 L 151.84313725490196 289.2549019607843 L 166.90196078431373 297.4117647058823 L 186.98039215686273 304.9411764705883 z" ></path>
												<path id="am" class="" d="M 168.15686274509804 60.86274509803922 L 168.7843137254902 53.333333333333336 L 176.31372549019608 60.235294117647065 L 176.94117647058823 68.39215686274511 L 183.84313725490196 76.54901960784314 L 183.2156862745098 80.31372549019608 L 176.31372549019608 90.3529411764706 L 185.09803921568627 99.76470588235294 L 185.09803921568627 108.54901960784314 L 193.2549019607843 114.19607843137256 L 197.64705882352942 113.5686274509804 L 202.66666666666666 100.3921568627451 L 213.33333333333334 99.76470588235294 L 221.49019607843138 87.84313725490196 L 239.68627450980392 88.47058823529412 L 240.94117647058823 84.07843137254902 L 240.31372549019608 88.47058823529412 L 250.98039215686273 112.31372549019608 L 284.8627450980392 125.49019607843138 L 246.58823529411765 200.15686274509804 L 254.11764705882354 209.5686274509804 L 245.33333333333334 235.2941176470588 L 198.27450980392157 234.66666666666666 L 198.27450980392157 235.2941176470588 L 191.37254901960785 234.66666666666666 L 180.078431372549 220.86274509803923 L 169.41176470588235 220.86274509803923 L 126.74509803921569 249.09803921568627 L 117.96078431372548 253.49019607843138 L 6.2745098039215685 207.68627450980392 L 7.529411764705882 204.54901960784315 L 8.784313725490197 184.47058823529412 L 13.803921568627452 184.47058823529412 L 15.058823529411764 173.1764705882353 L 22.588235294117645 173.1764705882353 L 26.980392156862745 166.27450980392157 L 36.3921568627451 166.90196078431373 L 43.294117647058826 158.11764705882354 L 58.98039215686274 158.7450980392157 L 68.3921568627451 132.39215686274508 L 65.25490196078431 116.07843137254902 L 65.25490196078431 99.13725490196079 L 58.35294117647059 90.98039215686275 L 58.98039215686274 81.5686274509804 L 72.15686274509804 82.19607843137256 L 72.15686274509804 76.54901960784314 L 64 75.92156862745098 L 65.88235294117646 62.74509803921569 L 89.09803921568627 62.117647058823536 L 89.72549019607843 58.98039215686275 L 92.86274509803921 58.98039215686275 L 94.74509803921569 62.74509803921569 L 97.25490196078431 62.117647058823536 L 105.41176470588235 55.84313725490196 L 106.0392156862745 67.76470588235294 L 111.68627450980392 75.92156862745098 L 138.66666666666666 75.29411764705883 L 156.86274509803923 67.76470588235294 L 157.49019607843138 60.86274509803922 L 168.15686274509804 60.86274509803922 z" ></path>
												<path id="ac" class="" d="M 3.764705882352941 206.4313725490196 L 6.901960784313726 207.05882352941177 L 116.07843137254902 252.86274509803923 L 111.05882352941177 257.2549019607843 L 109.80392156862744 262.27450980392155 L 103.52941176470588 262.9019607843137 L 103.52941176470588 267.92156862745094 L 98.50980392156863 269.17647058823525 L 97.25490196078431 266.66666666666663 L 96 269.17647058823525 L 96 275.4509803921569 L 53.96078431372549 275.4509803921569 L 53.96078431372549 251.6078431372549 L 45.80392156862745 254.11764705882354 L 42.03921568627451 258.5098039215686 L 28.235294117647058 259.1372549019608 L 27.607843137254903 251.6078431372549 L 18.823529411764707 250.98039215686273 L 6.2745098039215685 237.1764705882353 L 6.2745098039215685 230.27450980392157 L 0 225.2549019607843 L 0.6274509803921569 206.4313725490196 L 3.764705882352941 206.4313725490196 L 3.764705882352941 206.4313725490196 z" ></path>
											</g>
										</g>
									</g>
									<g class="highcharts-data-labels highcharts-tracker" visibility="visible" zIndex="6" transform="translate(10,10) scale(1 1)" opacity="1">
										<g zIndex="1" transform="translate(400,232)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">to</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(335,145)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">pa</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(339,61)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ap</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(186,53)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">rr</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(170,259)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ro</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(137,145)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">am</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(50,233)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ac</tspan>
											</text>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg-rgs">
					<div class="lista-regioes">
					</div>
				</div>

				<!-- Nordeste -->

				<div class="aba-no-local aba-nordeste" style="display: none;">

					<div class="mapa-regiao">
						<div id="mapanordestebr" data-highcharts-chart="2">
							<div id="highcharts-3">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="468" height="345">
									<g class="highcharts-series-group" zIndex="3">
										<g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)">
											<g transform="translate(0,0) scale(1 1)">
												<path id="al" class="" d="M 302.7358916478555 176.97516930022573 L 315.7381489841987 179.14221218961626 L 323.6839729119639 176.97516930022573 L 324.4063205417607 169.75169300225735 L 332.35214446952597 167.58465011286683 L 338.13092550790066 156.0270880361174 L 338.85327313769756 150.97065462753952 L 324.4063205417607 155.30474040632055 L 310.6817155756208 156.74943566591423 L 304.9029345372461 154.5823927765237 L 299.84650112866814 150.97065462753952 L 296.9571106094808 147.3589164785553 L 293.3453724604966 147.3589164785553 L 287.5665914221219 150.97065462753952 L 282.510158013544 153.13769751693002 L 282.510158013544 169.0293453724605 L 292.6230248306998 169.75169300225735 L 292.6230248306998 176.97516930022573 L 302.7358916478555 176.97516930022573 z" ></path>
												<path id="ba" class="" d="M 251.44920993227993 320 L 245.6704288939052 319.27765237020316 L 234.11286681715575 307.7200902934537 L 231.2234762979684 299.05191873589166 L 245.6704288939052 286.04966139954854 L 243.50338600451468 279.548532731377 L 224.72234762979684 263.6568848758465 L 212.44243792325057 264.37923250564336 L 197.27313769751692 254.26636568848758 L 174.8803611738149 253.54401805869074 L 172.7133182844244 243.431151241535 L 151.04288939051918 258.6004514672686 L 136.5959367945824 260.0451467268623 L 137.31828442437924 186.36568848758466 L 126.48306997742664 186.36568848758466 L 142.37471783295712 167.58465011286683 L 151.76523702031602 167.58465011286683 L 160.4334085778781 181.3092550790068 L 176.32505643340858 171.91873589164786 L 184.27088036117382 163.2505643340858 L 175.60270880361173 152.41534988713317 L 218.94356659142213 152.41534988713317 L 229.05643340857787 143.7471783295711 L 233.39051918735893 144.46952595936796 L 242.78103837471784 156.74943566591423 L 263.00677200902936 140.13544018058693 L 282.510158013544 152.41534988713317 L 283.23250564334086 169.0293453724605 L 292.6230248306998 169.75169300225735 L 291.9006772009029 176.2528216704289 L 281.78781038374717 177.69751693002257 L 281.78781038374717 189.255079006772 L 290.45598194130923 196.4785553047404 L 297.67945823927766 199.36794582392778 L 296.234762979684 205.1467268623025 L 290.45598194130923 208.7584650112867 L 289.73363431151245 215.9819413092551 L 286.12189616252823 219.59367945823928 L 281.78781038374717 224.65011286681715 L 274.5643340857788 228.9841986455982 L 267.34085778781036 228.9841986455982 L 270.23024830699774 236.2076749435666 L 269.50790067720095 276.65914221218964 L 264.451467268623 281.7155756207675 L 262.2844243792325 287.4943566591422 L 260.83972911963883 298.3295711060948 L 258.6726862302483 304.10835214446956 L 257.95033860045146 318.5553047404063 L 251.44920993227993 320 z" ></path>
												<path id="ce" class="" d="M 243.50338600451468 117.74266365688489 L 230.50112866817156 33.95033860045147 C 260.83972911963883 31.060948081264108 282.510158013544 48.39729119638827 298.4018058690745 65.73363431151242 L 273.1196388261851 102.57336343115125 L 281.0654627539503 119.9097065462754 L 272.39729119638827 129.3002257336343 L 259.39503386004515 117.02031602708804 L 243.50338600451468 117.74266365688489 z" ></path>
												<path id="ma" class="" d="M 113.48081264108352 78.0135440180587 L 114.20316027088036 117.02031602708804 L 123.59367945823928 124.24379232505643 L 132.9841986455982 124.96613995485328 L 132.9841986455982 134.35665914221218 L 123.59367945823928 134.35665914221218 L 124.31602708803612 151.69300225733636 L 133.70654627539503 167.58465011286683 L 142.37471783295712 167.58465011286683 L 142.37471783295712 143.7471783295711 C 148.87584650112868 121.35440180586907 164.76749435665914 106.90744920993228 186.43792325056432 99.68397291196389 L 197.99548532731376 98.96162528216705 L 198.7178329571106 65.73363431151242 L 219.66591422121897 31.060948081264108 L 188.60496613995485 21.670428893905193 L 184.99322799097064 26.72686230248307 L 178.4920993227991 25.28216704288939 L 169.1015801354402 12.279909706546276 L 162.6004514672686 10.835214446952596 L 152.48758465011286 4.334085778781039 L 147.431151241535 1.4446952595936795 L 138.04063205417606 0 L 124.31602708803612 45.5079006772009 L 99.75620767494357 68.62302483069978 L 113.48081264108352 78.0135440180587 z" ></path>
												<path id="pb" class="" d="M 317.1828442437924 109.0744920993228 L 317.1828442437924 99.68397291196389 L 348.24379232505646 105.46275395033861 L 347.52144469525956 121.35440180586907 L 338.85327313769756 128.57787810383746 L 323.6839729119639 129.3002257336343 L 311.40406320541763 137.9683972911964 L 303.4582392776524 117.74266365688489 L 289.73363431151245 128.57787810383746 L 281.0654627539503 119.18735891647856 L 273.1196388261851 102.57336343115125 L 278.89841986455986 95.34988713318285 L 289.73363431151245 102.57336343115125 L 306.3476297968397 97.51693002257336 L 307.7923250564334 108.35214446952597 L 317.1828442437924 109.0744920993228 z" ></path>
												<path id="pe" class="" d="M 338.85327313769756 150.97065462753952 L 343.9097065462754 147.3589164785553 L 347.52144469525956 137.9683972911964 L 347.52144469525956 120.63205417607224 L 338.85327313769756 127.85553047404063 L 323.6839729119639 128.57787810383746 L 311.40406320541763 137.9683972911964 L 303.4582392776524 117.74266365688489 L 289.73363431151245 127.85553047404063 L 281.0654627539503 119.18735891647856 L 271.6749435665914 130.02257336343115 L 259.39503386004515 117.02031602708804 L 243.50338600451468 117.74266365688489 L 242.78103837471784 130.744920993228 L 231.94582392776525 139.41309255079008 L 233.39051918735893 144.46952595936796 L 242.78103837471784 156.74943566591423 L 263.00677200902936 140.13544018058693 L 282.510158013544 153.13769751693002 L 293.3453724604966 147.3589164785553 L 298.4018058690745 148.803611738149 L 304.9029345372461 154.5823927765237 L 312.1264108352144 156.74943566591423 L 325.1286681715576 154.5823927765237 L 338.85327313769756 150.97065462753952 z" ></path>
												<path id="pi" class="" d="M 152.48758465011286 167.58465011286683 L 142.37471783295712 167.58465011286683 L 143.09706546275396 143.02483069977427 C 149.59819413092552 120.63205417607224 165.48984198645599 106.18510158013544 187.16027088036117 98.96162528216705 L 197.99548532731376 98.96162528216705 L 198.7178329571106 65.01128668171557 L 219.66591422121897 31.060948081264108 L 230.50112866817156 33.22799097065463 L 243.50338600451468 116.2979683972912 L 243.50338600451468 130.744920993228 L 231.94582392776525 138.69074492099324 L 233.39051918735893 144.46952595936796 L 229.05643340857787 143.02483069977427 L 218.94356659142213 152.41534988713317 L 176.32505643340858 153.13769751693002 L 184.99322799097064 163.97291196388264 L 176.32505643340858 171.91873589164786 L 159.71106094808127 181.3092550790068 L 152.48758465011286 167.58465011286683 z" ></path>
												<path id="rn" class="" d="M 347.52144469525956 105.46275395033861 L 348.24379232505646 96.07223476297969 L 344.63205417607224 91.0158013544018 L 342.4650112866817 75.84650112866818 L 312.8487584650113 75.84650112866818 L 298.4018058690745 65.73363431151242 L 278.89841986455986 95.34988713318285 L 290.45598194130923 102.57336343115125 L 306.3476297968397 97.51693002257336 L 307.7923250564334 108.35214446952597 L 317.1828442437924 109.0744920993228 L 317.90519187358916 98.96162528216705 L 347.52144469525956 105.46275395033861 z" ></path>
												<path id="se" class="" d="M 306.3476297968397 191.42212189616254 L 296.9571106094808 199.36794582392778 L 290.45598194130923 196.4785553047404 L 281.78781038374717 189.97742663656885 L 281.0654627539503 177.69751693002257 L 292.6230248306998 176.97516930022573 L 302.0135440180587 176.97516930022573 L 315.7381489841987 179.14221218961626 L 306.3476297968397 191.42212189616254 z" ></path>
											</g>
										</g>
									</g>
									<g class="highcharts-data-labels highcharts-tracker" visibility="visible" zIndex="6" transform="translate(10,10) scale(1 1)" opacity="1">
										<g zIndex="1" transform="translate(303,155)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">al</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(205,222)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ba</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(257,72)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ce</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(151,76)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ma</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(304,109)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">pb</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(283,129)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">pe</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(188,110)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">pi</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(306,79)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">rn</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(292,180)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">se</tspan>
											</text>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg-rgs">
					<div class="lista-regioes">
					</div>
				</div>

				<!-- centro -->
				<div class="aba-no-local aba-centro" style="display: none;">

					<div class="mapa-regiao">
						<div id="mapacentrobr" data-highcharts-chart="1">
							<div id="highcharts-1">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="468" height="345">
									<defs>
										<clipPath id="highcharts-2">
											<rect x="0" y="0" width="448" height="320"></rect>
										</clipPath>
									</defs>
									<g class="highcharts-series-group" zIndex="3">
										<g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)">
											<g transform="translate(0,0) scale(1 1)">
												<path id="df" class="" d="M 350.57276995305165 172.018779342723 L 351.32394366197184 157.74647887323943 L 328.037558685446 153.9906103286385 L 327.2863849765258 172.018779342723 L 350.57276995305165 172.018779342723 z" ></path>
												<path id="go" class="" d="M 282.96713615023475 111.92488262910797 L 282.21596244131456 101.40845070422534 L 285.2206572769953 102.15962441314554 L 294.9859154929577 92.39436619718309 L 295.7370892018779 110.4225352112676 L 308.50704225352115 116.4319248826291 L 314.5164319248826 107.41784037558685 L 320.5258215962441 107.41784037558685 L 328.7887323943662 114.92957746478872 L 348.3192488262911 114.92957746478872 L 370.8544600938967 102.91079812206573 L 370.1032863849765 151.73708920187792 L 369.3521126760563 145.72769953051642 L 358.0845070422535 145.72769953051642 L 358.0845070422535 157.74647887323943 L 351.32394366197184 157.74647887323943 L 350.57276995305165 167.51173708920186 L 351.32394366197184 157.74647887323943 L 328.037558685446 153.9906103286385 L 328.037558685446 172.018779342723 L 350.57276995305165 171.26760563380282 L 350.57276995305165 178.0281690140845 L 340.056338028169 195.3051643192488 L 338.55399061032864 214.0845070422535 L 300.24413145539904 214.8356807511737 L 277.7089201877934 235.11737089201876 L 239.39906103286384 205.82159624413146 L 239.39906103286384 174.27230046948355 L 279.962441314554 120.18779342723005 L 282.96713615023475 111.92488262910797 z" ></path>
												<path id="ms" class="" d="M 277.7089201877934 235.11737089201876 L 277.7089201877934 244.88262910798122 L 273.20187793427226 245.6338028169014 L 262.6854460093897 258.4037558685446 L 261.1830985915493 276.4319248826291 L 244.65727699530515 287.69953051643193 L 213.10798122065728 314.74178403755866 L 197.33333333333334 320 L 198.0845070422535 296.7136150234742 L 190.57276995305165 296.7136150234742 L 189.07042253521126 290.70422535211264 L 181.5586854460094 290.70422535211264 L 182.3098591549296 286.94835680751174 L 151.5117370892019 286.94835680751174 L 148.50704225352115 280.9389671361502 L 151.5117370892019 268.169014084507 L 151.5117370892019 219.34272300469482 L 156.7699530516432 205.07042253521126 L 164.28169014084506 194.55399061032864 L 168.7887323943662 189.29577464788733 L 189.07042253521126 190.0469483568075 L 202.59154929577466 199.06103286384976 L 216.8638497652582 199.06103286384976 L 223.6244131455399 193.05164319248826 L 226.62910798122067 190.79812206572768 L 226.62910798122067 205.82159624413146 L 240.15023474178403 205.82159624413146 L 277.7089201877934 235.11737089201876 z" ></path>
												<path id="mt" class="" d="M 97.42723004694837 130.70422535211267 L 95.1737089201878 123.19248826291079 L 113.9530516431925 88.63849765258216 L 104.18779342723005 87.88732394366197 L 97.42723004694837 78.87323943661971 L 106.44131455399062 78.12206572769952 L 106.44131455399062 70.61032863849765 L 77.1455399061033 70.61032863849765 L 77.1455399061033 30.046948356807512 L 133.48356807511738 30.798122065727696 L 144 0 L 157.5211267605634 32.30046948356807 L 289.7276995305164 50.32863849765258 L 281.46478873239437 83.38028169014085 L 281.46478873239437 101.40845070422534 L 282.21596244131456 101.40845070422534 L 282.21596244131456 111.92488262910797 L 279.962441314554 120.18779342723005 L 239.39906103286384 174.27230046948355 L 239.39906103286384 205.82159624413146 L 239.39906103286384 205.82159624413146 L 226.62910798122067 205.82159624413146 L 226.62910798122067 190.79812206572768 L 223.6244131455399 193.05164319248826 L 216.8638497652582 199.06103286384976 L 202.59154929577466 199.06103286384976 L 189.07042253521126 190.0469483568075 L 168.7887323943662 189.29577464788733 L 164.28169014084506 194.55399061032864 L 156.7699530516432 205.07042253521126 L 154.51643192488262 211.07981220657277 L 150.0093896713615 207.3239436619718 L 146.25352112676057 191.54929577464787 L 138.7417840375587 184.78873239436618 L 136.48826291079814 181.03286384976525 L 134.98591549295776 172.018779342723 L 104.93896713615024 172.018779342723 L 101.93427230046949 157.74647887323943 L 96.67605633802818 148.73239436619718 L 101.18309859154931 144.97652582159623 L 104.93896713615024 144.22535211267603 L 104.18779342723005 132.95774647887322 L 97.42723004694837 130.70422535211267 z" ></path>
											</g>
										</g>
									</g>
									<g class="highcharts-data-labels highcharts-tracker" visibility="visible" zIndex="6" transform="translate(10,10) scale(1 1)" opacity="1">
										<g zIndex="1" transform="translate(332,157)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">df</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(296,156)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">go</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(205,247)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">ms</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(175,98)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">mt</tspan>
											</text>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg-rgs">
					<div class="lista-regioes">
					</div>
				</div>



				<!-- sudeste -->

				<div class="aba-no-local aba-sudeste" style="display: block;">
					<!--<div class="candidatos-principais">
					<ul>
						<li><span></span>Aécio</li>
						<li><span></span>Dilma</li>
						<li><span></span>Marina</li>
						<li><span></span>Vinicius</li>
						<li><span></span>Pedro</li>
					</ul>
				</div>-->
					<div class="mapa-regiao">
						<div id="mapasudestebr" data-highcharts-chart="4">
							<div id="highcharts-7">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="468" height="345">
									<g class="highcharts-series-group" zIndex="3">
										<g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)">
											<g transform="translate(0,0) scale(1 1)">
												<path id="sp" class="" d="M 162.1560283687943 314.3262411347518 L 171.23404255319147 320 L 187.1205673758865 304.11347517730496 L 191.65957446808508 290.49645390070924 L 207.54609929078012 283.68794326241135 L 231.37588652482268 280.2836879432624 L 238.18439716312056 278.01418439716315 L 240.45390070921985 270.07092198581563 L 252.93617021276594 270.07092198581563 L 265.41843971631204 251.9148936170213 L 266.55319148936167 245.10638297872342 L 252.93617021276594 236.02836879432627 L 233.64539007092196 243.9716312056738 L 221.16312056737587 249.645390070922 L 209.8156028368794 248.51063829787236 L 208.68085106382978 209.92907801418443 L 191.65957446808508 169.07801418439718 L 146.26950354609926 169.07801418439718 L 119.03546099290779 150.92198581560285 L 91.80141843971629 148.65248226950357 L 92.93617021276594 162.26950354609932 L 86.12765957446805 163.40425531914894 L 70.24113475177302 182.69503546099293 L 67.97163120567373 209.92907801418443 L 41.87234042553189 226.9503546099291 L 62.297872340425506 228.08510638297875 L 117.90070921985813 254.1843971631206 L 145.13475177304963 313.19148936170217 L 162.1560283687943 314.3262411347518 z" ></path>
												<path id="rj" class="" d="M 252.93617021276594 270.07092198581563 L 264.2836879432624 251.9148936170213 L 265.41843971631204 245.10638297872342 L 252.93617021276594 234.8936170212766 L 265.41843971631204 233.75886524822695 L 290.3829787234042 232.62411347517732 L 306.26950354609926 228.08510638297875 L 318.7517730496454 221.27659574468086 L 328.9645390070922 208.79432624113477 L 339.177304964539 195.17730496453902 L 364.1418439716312 220.14184397163123 L 365.27659574468083 236.02836879432627 L 359.60283687943263 242.83687943262413 L 338.04255319148933 247.3758865248227 L 334.63829787234044 257.58865248226954 L 330.0992907801418 260.9929078014185 L 271.0921985815603 260.9929078014185 L 267.6879432624113 268.936170212766 L 252.93617021276594 270.07092198581563 z" ></path>
												<path id="es" class="" d="M 364.1418439716312 219.00709219858157 L 366.4113475177305 215.60283687943263 L 372.0851063829787 213.33333333333334 L 378.8936170212766 214.468085106383 L 382.29787234042556 206.52482269503548 L 383.4326241134752 196.31205673758868 L 389.1063829787234 188.36879432624116 L 399.3191489361702 177.0212765957447 L 402.72340425531917 157.7304964539007 L 402.72340425531917 144.11347517730496 L 406.1276595744681 131.63120567375887 L 403.8581560283688 121.41843971631207 L 393.64539007092196 119.14893617021278 L 378.8936170212766 114.60992907801419 L 368.6808510638298 114.60992907801419 L 367.54609929078015 147.5177304964539 L 361.8723404255319 161.13475177304966 L 355.06382978723406 177.0212765957447 L 338.04255319148933 178.15602836879435 L 339.177304964539 194.0425531914894 L 364.1418439716312 219.00709219858157 z" ></path>
												<path id="mg" class="" d="M 214.354609929078 13.617021276595747 L 231.37588652482268 12.4822695035461 L 232.51063829787233 26.099290780141846 L 256.3404255319149 24.9645390070922 L 290.3829787234042 0 L 293.7872340425532 15.886524822695037 L 327.82978723404256 17.02127659574468 L 352.79432624113474 32.90780141843972 L 370.9503546099291 32.90780141843972 L 400.45390070921985 56.73758865248227 L 403.8581560283688 66.95035460992908 L 381.16312056737587 88.51063829787235 L 385.70212765957444 102.1276595744681 L 404.9929078014184 120.28368794326242 L 393.64539007092196 119.14893617021278 L 380.02836879432624 113.47517730496455 L 368.6808510638298 113.47517730496455 L 367.54609929078015 146.38297872340428 L 363.0070921985816 160 L 355.06382978723406 175.88652482269504 L 339.177304964539 178.15602836879435 L 339.177304964539 194.0425531914894 L 328.9645390070922 208.79432624113477 L 318.7517730496454 220.14184397163123 L 307.40425531914894 226.9503546099291 L 290.3829787234042 231.48936170212767 L 266.55319148936167 233.75886524822695 L 254.0709219858156 234.8936170212766 L 260.87943262411346 240.56737588652484 L 252.93617021276594 234.8936170212766 L 234.78014184397162 242.83687943262413 L 222.29787234042553 249.645390070922 L 210.95035460992906 248.51063829787236 L 209.8156028368794 208.79432624113477 L 191.65957446808508 169.07801418439718 L 146.26950354609926 167.94326241134752 L 120.17021276595743 149.7872340425532 L 92.93617021276594 147.5177304964539 L 125.84397163120565 116.87943262411348 L 184.85106382978722 115.74468085106383 L 187.1205673758865 87.3758865248227 L 203.00709219858155 61.276595744680854 L 204.1418439716312 30.638297872340427 L 214.354609929078 30.638297872340427 L 214.354609929078 13.617021276595747 z" ></path>
											</g>
										</g>
									</g>
									<g class="highcharts-data-labels highcharts-tracker" visibility="visible" zIndex="6" transform="translate(10,10) scale(1 1)" opacity="1">
										<g zIndex="1" transform="translate(148,226)">
											<text x="0" zIndex="1" y="12">

												<tspan x="0" y="12">sp</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(304,233)">
											<text x="0" zIndex="1" y="12">

												<tspan x="0" y="12">rj</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(366,159)">
											<text x="0" zIndex="1" y="12">

												<tspan x="0" y="12">es</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(240,117)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">mg</tspan>
											</text>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg-rgs">
					<div class="lista-regioes">
					</div>
				</div>

				<!-- sul -->

				<div class="aba-no-local aba-sul" style="display: none;">

					<div class="mapa-regiao">
						<div id="mapasulbr" data-highcharts-chart="3">
							<div id="highcharts-5">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="468" height="345">
									<g class="highcharts-series-group" zIndex="3">
										<g class="highcharts-series highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)">
											<g transform="translate(0,0) scale(1 1)">
												<path id="rs" class="" d="M 208.16382252559725 318.90784982935156 L 193.96587030716722 320 L 196.15017064846415 309.0784982935154 L 202.70307167235495 305.80204778156997 L 199.42662116040955 285.05119453924914 L 192.87372013651878 282.8668941979522 L 185.22866894197952 270.8532423208191 L 185.22866894197952 258.839590443686 L 174.3071672354949 254.47098976109217 L 157.92491467576792 253.3788395904437 L 141.54266211604096 244.64163822525597 L 138.26621160409556 235.90443686006827 L 122.97610921501706 226.07508532423208 L 100.04095563139931 222.7986348122867 L 126.25255972696246 194.40273037542661 L 128.4368600682594 181.29692832764505 L 142.63481228668942 160.54607508532425 L 157.92491467576792 151.80887372013652 L 157.92491467576792 140.88737201365188 L 184.13651877133105 136.51877133105802 L 236.55972696245732 137.61092150170649 L 295.5358361774744 170.37542662116041 L 298.8122866894198 198.77133105802048 L 287.89078498293514 224.98293515358364 L 278.061433447099 232.62798634812287 L 269.32423208191125 247.91808873720137 L 263.86348122866895 259.9317406143345 L 234.3754266211604 277.4061433447099 L 228.91467576791808 287.23549488054607 L 224.54607508532422 304.70989761092153 L 214.71672354948805 309.0784982935154 L 208.16382252559725 318.90784982935156 z" ></path>
												<path id="sc" class="" d="M 308.641638225256 194.40273037542661 L 299.90443686006824 197.679180887372 L 295.5358361774744 170.37542662116041 L 234.3754266211604 135.42662116040955 L 181.95221843003412 136.51877133105802 L 173.21501706484642 137.61092150170649 L 190.68941979522185 127.78156996587032 L 196.15017064846415 117.95221843003414 L 196.15017064846415 108.12286689419795 L 234.3754266211604 107.03071672354949 L 248.57337883959042 114.67576791808874 L 262.7713310580205 116.86006825938567 L 273.6928327645051 112.49146757679182 L 281.33788395904435 103.7542662116041 L 310.8259385665529 102.66211604095564 L 333.76109215017067 98.29351535836177 L 326.1160409556314 111.39931740614335 L 325.02389078498294 172.55972696245735 L 313.01023890784984 183.48122866894198 L 308.641638225256 194.40273037542661 z" ></path>
												<path id="pr" class="" d="M 335.9453924914676 97.20136518771331 L 341.4061433447099 93.92491467576792 L 347.9590443686007 89.55631399317406 L 339.22184300341297 83.00341296928327 L 323.9317406143345 80.81911262798636 L 297.7201365187713 25.119453924914676 L 244.2047781569966 1.0921501706484642 L 223.45392491467578 0 L 179.7679180887372 38.225255972696246 L 179.7679180887372 89.55631399317406 L 180.86006825938568 95.01706484641639 L 196.15017064846415 93.92491467576792 L 196.15017064846415 107.03071672354949 L 235.46757679180888 107.03071672354949 L 246.38907849829354 113.58361774744027 L 262.7713310580205 116.86006825938567 L 275.87713310580205 110.30716723549489 L 282.43003412969284 102.66211604095564 L 309.7337883959044 102.66211604095564 L 335.9453924914676 97.20136518771331 z" ></path>
											</g>
										</g>
									</g>
									<g class="highcharts-data-labels highcharts-tracker" visibility="visible" zIndex="6" transform="translate(10,10) scale(1 1)" opacity="1">
										<g zIndex="1" transform="translate(192,220)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">rs</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(246,121)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">sc</tspan>
											</text>
										</g>
										<g zIndex="1" transform="translate(257,50)">
											<text x="0" zIndex="1" y="12">
												<tspan x="0" y="12">pr</tspan>
											</text>
										</g>
									</g>
								</svg>
							</div>
						</div>
					</div>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg-rgs">
					<div class="lista-regioes">
					</div>
				</div>
				<div class="detahles-da-apuracao">
					<h5>detalhes da apuração no Brasil</h5>
					<ul>
						<li class="votos-validos">
							<span class="left">votos
								<strong>válidos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em>
								<i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-brancos">
							<span class="left">votos
								<strong>brancos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em>
								<i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nulos">
							<span class="left">votos
								<strong>nulos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em>
								<i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-abstencao">
							<span class="left">
								<strong>abstenção</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em>
								<i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-apurados">
							<span class="left">eleitorado
								<strong>apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em>
								<i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nao-apurado">
							<span class="left">eleitorado
								<strong>não apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em>
								<i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-total">
							<span class="left">
								<strong>total</strong>
							</span>
							<span class="right">
								<strong class="rcbDadosGerais"></strong>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="governador contagem-parcial todas-abas" style="display: none;">
			<div class="localizacao-estado">
				<h3>Confira a contagem nos demais estados</h3>
				<ul>
					<li><a href="javascript:void(0);" class="AC" onclick="tseDados('ac', 'governador');">AC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="AL" onclick="tseDados('al', 'governador');">AL</a></li>
					<li><a href="javascript:void(0);" class="AP" onclick="tseDados('ap', 'governador');">AP</a></li>
					<li><a href="javascript:void(0);" class="AM" onclick="tseDados('am', 'governador');">AM</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="BA" onclick="tseDados('ba', 'governador');">BA</a></li>
					<li><a href="javascript:void(0);" class="CE" onclick="tseDados('ce', 'governador');">CE</a></li>
					<li><a href="javascript:void(0);" class="DF" onclick="tseDados('df', 'governador');">DF</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="ES" onclick="tseDados('es', 'governador');">ES</a></li>
					<li><a href="javascript:void(0);" class="GO" onclick="tseDados('go', 'governador');">GO</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MA" onclick="tseDados('ma', 'governador');">MA</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MG" onclick="tseDados('mg', 'governador');">MG</a></li>
					<li><a href="javascript:void(0);" class="MS" onclick="tseDados('ms', 'governador');">MS</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MT" onclick="tseDados('mt', 'governador');">MT</a></li>
					<li><a href="javascript:void(0);" class="PA" onclick="tseDados('pa', 'governador');">PA</a></li>
					<li><a href="javascript:void(0);" class="PB" onclick="tseDados('pb', 'governador');">PB</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PE" onclick="tseDados('pe', 'governador');">PE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PI" onclick="tseDados('pi', 'governador');">PI</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PR" onclick="tseDados('pr', 'governador');">PR</a></li>
					<li><a href="javascript:void(0);" class="RJ" onclick="tseDados('rj', 'governador');">RJ</a></li>
					<li><a href="javascript:void(0);" class="RN" onclick="tseDados('rn', 'governador');">RN</a></li>
					<li><a href="javascript:void(0);" class="RO" onclick="tseDados('ro', 'governador');">RO</a></li>
					<li><a href="javascript:void(0);" class="RS" onclick="tseDados('rs', 'governador');">RS</a></li>
					<li><a href="javascript:void(0);" class="RR" onclick="tseDados('rr', 'governador');">RR</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SC" onclick="tseDados('sc', 'governador');">SC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SE" onclick="tseDados('se', 'governador');">SE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SP" onclick="tseDados('sp', 'governador');">SP</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="TO" onclick="tseDados('to', 'governador');">TO</a></li>
				</ul>

				<h4>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/thumbs-bandeira/rj.jpg">-</h4>

				<div class="progresso-aba-atual">
					<span style="width: 0%;"></span>
					<p>
						<strong>0%</strong>das seções apuradas no <cite></cite></p>
				</div>
			</div>
			<div class="coluna-1">

				<div class="header-top-list">
					<ul>
						<li>candidatos</li>
						<li>% válidos</li>
						<li>votos</li>
					</ul>
				</div>
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
				<ul>
				</ul>
			</div>
			<div class="coluna-2">
				<div class="detahles-da-apuracao">
					<h5>detalhes da apuração de governador no </h5>
					<ul>
						<li class="votos-validos">
							<span class="left">votos
								<strong>válidos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-brancos">
							<span class="left">votos
								<strong>brancos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nulos">
							<span class="left">votos
								<strong>nulos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-abstencao">
							<span class="left">
								<strong>abstenção</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-apurados">
							<span class="left">eleitorado
								<strong>apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nao-apurado">
							<span class="left">eleitorado
								<strong>não apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-total">
							<span class="left">
								<strong>total</strong>
							</span>
							<span class="right">
								<strong class="rcbDadosGerais"></strong>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="senador contagem-parcial-lista todas-abas" style="display: none;">
			<div class="localizacao-estado">
				<h3>Confira a contagem nos demais estados</h3>
				<ul>
					<li><a href="javascript:void(0);" class="AC" onclick="tseDados('ac', 'senador');">AC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="AL" onclick="tseDados('al', 'senador');">AL</a></li>
					<li><a href="javascript:void(0);" class="AP" onclick="tseDados('ap', 'senador');">AP</a></li>
					<li><a href="javascript:void(0);" class="AM" onclick="tseDados('am', 'senador');">AM</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="BA" onclick="tseDados('ba', 'senador');">BA</a></li>
					<li><a href="javascript:void(0);" class="CE" onclick="tseDados('ce', 'senador');">CE</a></li>
					<li><a href="javascript:void(0);" class="DF" onclick="tseDados('df', 'senador');">DF</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="ES" onclick="tseDados('es', 'senador');">ES</a></li>
					<li><a href="javascript:void(0);" class="GO" onclick="tseDados('go', 'senador');">GO</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MA" onclick="tseDados('ma', 'senador');">MA</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MG" onclick="tseDados('mg', 'senador');">MG</a></li>
					<li><a href="javascript:void(0);" class="MS" onclick="tseDados('ms', 'senador');">MS</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MT" onclick="tseDados('mt', 'senador');">MT</a></li>
					<li><a href="javascript:void(0);" class="PA" onclick="tseDados('pa', 'senador');">PA</a></li>
					<li><a href="javascript:void(0);" class="PB" onclick="tseDados('pb', 'senador');">PB</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PE" onclick="tseDados('pe', 'senador');">PE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PI" onclick="tseDados('pi', 'senador');">PI</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PR" onclick="tseDados('pr', 'senador');">PR</a></li>
					<li><a href="javascript:void(0);" class="RJ" onclick="tseDados('rj', 'senador');">RJ</a></li>
					<li><a href="javascript:void(0);" class="RN" onclick="tseDados('rn', 'senador');">RN</a></li>
					<li><a href="javascript:void(0);" class="RO" onclick="tseDados('ro', 'senador');">RO</a></li>
					<li><a href="javascript:void(0);" class="RS" onclick="tseDados('rs', 'senador');">RS</a></li>
					<li><a href="javascript:void(0);" class="RR" onclick="tseDados('rr', 'senador');">RR</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SC" onclick="tseDados('sc', 'senador');">SC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SE" onclick="tseDados('se', 'senador');">SE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SP" onclick="tseDados('sp', 'senador');">SP</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="TO" onclick="tseDados('to', 'senador');">TO</a></li>
				</ul>

				<h4>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/thumbs-bandeira/rj.jpg">-</h4>

				<div class="progresso-aba-atual">
					<span style="width: 0%;"></span>
					<p>
						<strong>0%</strong>das seções apuradas no <cite></cite></p>
				</div>
			</div>
			<div class="coluna-1">
				<div class="header-top-list">
					<ul>
						<li>candidatos</li>
						<li>% válidos</li>
						<li>votos</li>
					</ul>
				</div>
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
				<ul class="lista-com-scroll">
				</ul>
				<div class="footer-top-list">

				</div>
			</div>

			<div class="coluna-2">
				<div class="detahles-da-apuracao">
					<h5>detalhes da apuração de governador no -</h5>
					<ul>
						<li class="votos-validos">
							<span class="left">votos
								<strong>válidos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-brancos">
							<span class="left">votos
								<strong>brancos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nulos">
							<span class="left">votos
								<strong>nulos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-abstencao">
							<span class="left">
								<strong>abstenção</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-apurados">
							<span class="left">eleitorado
								<strong>apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nao-apurado">
							<span class="left">eleitorado
								<strong>não apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-total">
							<span class="left">
								<strong>total</strong>
							</span>
							<span class="right">
								<strong class="rcbDadosGerais"></strong>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="federal depfederal contagem-parcial-lista todas-abas" style="display: none;">
			<div class="localizacao-estado">
				<h3>Confira a contagem nos demais estados</h3>
				<ul>
					<li><a href="javascript:void(0);" class="AC" onclick="tseDados('ac', 'depfederal');">AC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="AL" onclick="tseDados('al', 'depfederal');">AL</a></li>
					<li><a href="javascript:void(0);" class="AP" onclick="tseDados('ap', 'depfederal');">AP</a></li>
					<li><a href="javascript:void(0);" class="AM" onclick="tseDados('am', 'depfederal');">AM</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="BA" onclick="tseDados('ba', 'depfederal');">BA</a></li>
					<li><a href="javascript:void(0);" class="CE" onclick="tseDados('ce', 'depfederal');">CE</a></li>
					<li><a href="javascript:void(0);" class="DF" onclick="tseDados('df', 'depfederal');">DF</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="ES" onclick="tseDados('es', 'depfederal');">ES</a></li>
					<li><a href="javascript:void(0);" class="GO" onclick="tseDados('go', 'depfederal');">GO</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MA" onclick="tseDados('ma', 'depfederal');">MA</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MG" onclick="tseDados('mg', 'depfederal');">MG</a></li>
					<li><a href="javascript:void(0);" class="MS" onclick="tseDados('ms', 'depfederal');">MS</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MT" onclick="tseDados('mt', 'depfederal');">MT</a></li>
					<li><a href="javascript:void(0);" class="PA" onclick="tseDados('pa', 'depfederal');">PA</a></li>
					<li><a href="javascript:void(0);" class="PB" onclick="tseDados('pb', 'depfederal');">PB</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PE" onclick="tseDados('pe', 'depfederal');">PE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PI" onclick="tseDados('pi', 'depfederal');">PI</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PR" onclick="tseDados('pr', 'depfederal');">PR</a></li>
					<li><a href="javascript:void(0);" class="RJ" onclick="tseDados('rj', 'depfederal');">RJ</a></li>
					<li><a href="javascript:void(0);" class="RN" onclick="tseDados('rn', 'depfederal');">RN</a></li>
					<li><a href="javascript:void(0);" class="RO" onclick="tseDados('ro', 'depfederal');">RO</a></li>
					<li><a href="javascript:void(0);" class="RS" onclick="tseDados('rs', 'depfederal');">RS</a></li>
					<li><a href="javascript:void(0);" class="RR" onclick="tseDados('rr', 'depfederal');">RR</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SC" onclick="tseDados('sc', 'depfederal');">SC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SE" onclick="tseDados('se', 'depfederal');">SE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SP" onclick="tseDados('sp', 'depfederal');">SP</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="TO" onclick="tseDados('to', 'depfederal');">TO</a></li>
				</ul>

				<h4>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/thumbs-bandeira/rj.jpg">-</h4>

				<div class="progresso-aba-atual">
					<span style="width: 0%;"></span>
					<p>
						<strong>0%</strong>das seções apuradas no <cite></cite></p>
				</div>
			</div>
			<div class="coluna-1">
				<div class="header-top-list">
					<ul>
						<li>candidatos</li>
						<li>% válidos</li>
						<li>votos</li>
					</ul>
				</div>
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
				<ul class="lista-com-scroll">
				</ul>
				<div class="footer-top-list">

				</div>
			</div>
			<div class="coluna-2">
				<div class="detahles-da-apuracao">
					<h5>detalhes da apuração de governador no -</h5>
					<ul>
						<li class="votos-validos">
							<span class="left">votos
								<strong>válidos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-brancos">
							<span class="left">votos
								<strong>brancos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nulos">
							<span class="left">votos
								<strong>nulos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-abstencao">
							<span class="left">
								<strong>abstenção</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-apurados">
							<span class="left">eleitorado
								<strong>apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nao-apurado">
							<span class="left">eleitorado
								<strong>não apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-total">
							<span class="left">
								<strong>total</strong>
							</span>
							<span class="right">
								<strong class="rcbDadosGerais"></strong>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="estadual depestadual contagem-parcial-lista todas-abas" style="display: none;">
			<div class="localizacao-estado">
				<h3>Confira a contagem nos demais estados</h3>
				<ul>
					<li><a href="javascript:void(0);" class="AC" onclick="tseDados('ac', 'depestadual');">AC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="AL" onclick="tseDados('al', 'depestadual');">AL</a></li>
					<li><a href="javascript:void(0);" class="AP" onclick="tseDados('ap', 'depestadual');">AP</a></li>
					<li><a href="javascript:void(0);" class="AM" onclick="tseDados('am', 'depestadual');">AM</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="BA" onclick="tseDados('ba', 'depestadual');">BA</a></li>
					<li><a href="javascript:void(0);" class="CE" onclick="tseDados('ce', 'depestadual');">CE</a></li>
					<li><a href="javascript:void(0);" class="DF" onclick="tseDados('df', 'depestadual');">DF</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="ES" onclick="tseDados('es', 'depestadual');">ES</a></li>
					<li><a href="javascript:void(0);" class="GO" onclick="tseDados('go', 'depestadual');">GO</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MA" onclick="tseDados('ma', 'depestadual');">MA</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MG" onclick="tseDados('mg', 'depestadual');">MG</a></li>
					<li><a href="javascript:void(0);" class="MS" onclick="tseDados('ms', 'depestadual');">MS</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="MT" onclick="tseDados('mt', 'depestadual');">MT</a></li>
					<li><a href="javascript:void(0);" class="PA" onclick="tseDados('pa', 'depestadual');">PA</a></li>
					<li><a href="javascript:void(0);" class="PB" onclick="tseDados('pb', 'depestadual');">PB</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PE" onclick="tseDados('pe', 'depestadual');">PE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PI" onclick="tseDados('pi', 'depestadual');">PI</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="PR" onclick="tseDados('pr', 'depestadual');">PR</a></li>
					<li><a href="javascript:void(0);" class="RJ" onclick="tseDados('rj', 'depestadual');">RJ</a></li>
					<li><a href="javascript:void(0);" class="RN" onclick="tseDados('rn', 'depestadual');">RN</a></li>
					<li><a href="javascript:void(0);" class="RO" onclick="tseDados('ro', 'depestadual');">RO</a></li>
					<li><a href="javascript:void(0);" class="RS" onclick="tseDados('rs', 'depestadual');">RS</a></li>
					<li><a href="javascript:void(0);" class="RR" onclick="tseDados('rr', 'depestadual');">RR</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SC" onclick="tseDados('sc', 'depestadual');">SC</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SE" onclick="tseDados('se', 'depestadual');">SE</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="SP" onclick="tseDados('sp', 'depestadual');">SP</a></li>
					<li style="display:none;"><a href="javascript:void(0);" class="TO" onclick="tseDados('to', 'depestadual');">TO</a></li>
				</ul>

				<h4>
					<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/thumbs-bandeira/rj.jpg">-</h4>

				<div class="progresso-aba-atual">
					<span style="width: 0%;"></span>
					<p>
						<strong>0%</strong>das seções apuradas no <cite></cite></p>
				</div>
			</div>
			<div class="coluna-1">
				<div class="header-top-list">
					<ul>
						<li>candidatos</li>
						<li>% válidos</li>
						<li>votos</li>
					</ul>
				</div>
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
				<ul class="lista-com-scroll">

				</ul>
				<div class="footer-top-list">

				</div>
			</div>
			<div class="coluna-2">
				<div class="detahles-da-apuracao">
					<h5>detalhes da apuração de governador no -</h5>
					<ul>
						<li class="votos-validos">
							<span class="left">votos
								<strong>válidos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-brancos">
							<span class="left">votos
								<strong>brancos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nulos">
							<span class="left">votos
								<strong>nulos</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-abstencao">
							<span class="left">
								<strong>abstenção</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-apurados">
							<span class="left">eleitorado
								<strong>apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-nao-apurado">
							<span class="left">eleitorado
								<strong>não apurado</strong>
							</span>
							<span class="right">
								<em class="rcbDadosGerais"></em><i class="rcbDadosGerais"></i>
							</span>
						</li>
						<li class="votos-total">
							<span class="left">
								<strong>total</strong>
							</span>
							<span class="right">
								<strong class="rcbDadosGerais"></strong>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>



<style type="text/css">
.EJETOA05006 { width: 940px; float: left; font-family: Arial, sans-serif; color: #333; height: auto; letter-spacing: -1px; text-align: left; margin-top: 30px; }
.EJETOA05006 a { outline: none; }
.EJETOA05006 nav ul { margin: 0px;padding: 0px;background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/border-nav.jpg') repeat-x 0px 48px;height: 50px;padding-left: 165px; }
.EJETOA05006 nav ul li { list-style: none; display: block; float: left; margin: 0px; padding: 0px; overflow: hidden; }
.EJETOA05006 nav ul li a { display: block;width: 118px;height: 46px;text-decoration: none;background: transparent url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/aba-down.jpg') repeat-x 0 -4px;font-size: 12px;color: #8a8a8a;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-top: 15px;margin-top: 4px;border-right: 1px solid #ddd;text-transform: uppercase; }
.EJETOA05006 nav ul li:first-child a { border-left: 1px solid #ddd; }
.EJETOA05006 nav ul li a:hover { opacity: 0.9; }
.EJETOA05006 nav ul li.active a { -webkit-text-stroke: 0px;background: transparent url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/aba-up.jpg') repeat-x 0 0px;height: 50px;margin-top: 0px;color: #569820;font-size: 15px;font-weight: bold;padding-top: 18px; }
.EJETOA05006>div>div { overflow: hidden; }
.EJETOA05006 .coluna-1 { width: 450px; float: left; }
.EJETOA05006 .contagem-parcial ul,
.EJETOA05006 .contagem-parcial ul li { list-style: none; margin: 0px; padding: 0px; }
.EJETOA05006 .contagem-parcial ul li { float: left; position: relative; }
.EJETOA05006 .contagem-parcial>ul>li { border-bottom: 1px solid #e5e5e5; background: transparent; position: relative; clear: both; }
.EJETOA05006 .localizacao { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; letter-spacing: 0px; padding: 30px 0 15px 0; line-height: 20px; text-transform: uppercase; color: #333; font-size: 26px; width: 450px; }
.EJETOA05006 .contagem-parcial .candidato { width: 280px; position: relative; }
.EJETOA05006 .contagem-parcial .candidato img { border-radius: 200px; width: 55px; height: 55px; border: 1px solid #19549c; float: left; margin: 10px 7px 7px 0; }
.EJETOA05006 .contagem-parcial .candidato h4 {height: 18px; overflow: hidden; margin: 15px 0 0 0; text-transform: uppercase; font-weight: normal; font-size: 16px; }
.EJETOA05006 .contagem-parcial .candidato h4 span { font-weight: bold; }
.EJETOA05006 .contagem-parcial .candidato small { font-size: 14px; }
.EJETOA05006 .contagem-parcial .progresso { width: 385px; float: left; position: absolute; top: 47px; left: 65px; }
.EJETOA05006 .contagem-parcial .progresso .barra-de-progresso { height: 13px; background: #e9e9e9; border: 1px solid #d7d8d6; display: block; margin: 5px 0; }
.EJETOA05006 .contagem-parcial .progresso .barra-de-progresso .total-progresso { height: 13px; background: #ccc; display: block; }
.EJETOA05006 .contagem-parcial .badge { text-transform: uppercase; -webkit-text-stroke: 0px; display: inline-block; margin-right: 6px; color: #fff; font-size: 10px; background: #569820; padding: 2px 5px; border-radius: 2px; position: absolute; left: 2px; bottom: 5px; }
.EJETOA05006 .contagem-parcial .badge.eleito { background: #3b8cee; left: 3px; width: 39px; text-align: center; }
.EJETOA05006 .contagem-parcial .percentagem { width: 170px; padding: 10px 0 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; color: #19549c; }
.EJETOA05006 .contagem-parcial .percentagem span { display: inline-block; font-size: 28px; font-weight: bold; float: left; }
.EJETOA05006 .contagem-parcial .percentagem small { display: inline-block; font-size: 14px; float: left; margin: 8px 0 0 10px; }
/*
.EJETOA05006 .contagem-parcial ul li:nth-child(2) .candidato img { border: 1px solid #db2714; }
.EJETOA05006 .contagem-parcial ul li:nth-child(2) .progresso .barra-de-progresso .total-progresso { background: #db2714; }
.EJETOA05006 .contagem-parcial ul li:nth-child(2) .percentagem { color: #db2714; }
.EJETOA05006 .contagem-parcial ul li:nth-child(3) .candidato img { border: 1px solid #c11d0b; }
.EJETOA05006 .contagem-parcial ul li:nth-child(3) .progresso .barra-de-progresso .total-progresso { background: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li:nth-child(3) .percentagem { color: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li:nth-child(4) .candidato img { border: 1px solid #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li:nth-child(4) .progresso .barra-de-progresso .total-progresso { background: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li:nth-child(4) .percentagem { color: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li:nth-child(5) .candidato img { border: 1px solid #18157a; }
.EJETOA05006 .contagem-parcial ul li:nth-child(5) .progresso .barra-de-progresso .total-progresso { background: #18157a; }
.EJETOA05006 .contagem-parcial ul li:nth-child(5) .percentagem { color: #18157a; }
.EJETOA05006 .contagem-parcial ul li:nth-child(6) .candidato img { border: 1px solid #177242; }
.EJETOA05006 .contagem-parcial ul li:nth-child(6) .progresso .barra-de-progresso .total-progresso { background: #177242; }
.EJETOA05006 .contagem-parcial ul li:nth-child(6) .percentagem { color: #177242; }
.EJETOA05006 .contagem-parcial ul li:nth-child(7) .candidato img { border: 1px solid #e87221; }
.EJETOA05006 .contagem-parcial ul li:nth-child(7) .progresso .barra-de-progresso .total-progresso { background: #e87221; }
.EJETOA05006 .contagem-parcial ul li:nth-child(7) .percentagem { color: #e87221; }
.EJETOA05006 .contagem-parcial ul li:nth-child(8) .candidato img { border: 1px solid #e52f26; }
.EJETOA05006 .contagem-parcial ul li:nth-child(8) .progresso .barra-de-progresso .total-progresso { background: #e52f26; }
.EJETOA05006 .contagem-parcial ul li:nth-child(8) .percentagem { color: #e52f26; }
.EJETOA05006 .contagem-parcial ul li:nth-child(9) .candidato img { border: 1px solid #009036; }
.EJETOA05006 .contagem-parcial ul li:nth-child(9) .progresso .barra-de-progresso .total-progresso { background: #009036; }
.EJETOA05006 .contagem-parcial ul li:nth-child(9) .percentagem { color: #009036; }
.EJETOA05006 .contagem-parcial ul li:nth-child(10) .candidato img { border: 1px solid #770508; }
.EJETOA05006 .contagem-parcial ul li:nth-child(10) .progresso .barra-de-progresso .total-progresso { background: #770508; }
.EJETOA05006 .contagem-parcial ul li:nth-child(10) .percentagem { color: #770508; }
.EJETOA05006 .contagem-parcial ul li:nth-child(11) .candidato img { border: 1px solid #d2000b; }
.EJETOA05006 .contagem-parcial ul li:nth-child(11) .progresso .barra-de-progresso .total-progresso { background: #d2000b; }
.EJETOA05006 .contagem-parcial ul li:nth-child(11) .percentagem { color: #d2000b; }
*/

.EJETOA05006 .contagem-parcial ul li.DILMA .candidato img { border: 1px solid #db2714; }
.EJETOA05006 .contagem-parcial ul li.DILMA .progresso .barra-de-progresso .total-progresso { background: #db2714; }
.EJETOA05006 .contagem-parcial ul li.DILMA .percentagem { color: #db2714; }
.EJETOA05006 .contagem-parcial ul li.AECIONEVES .candidato img { border: 1px solid #19549c; }
.EJETOA05006 .contagem-parcial ul li.AECIONEVES .progresso .barra-de-progresso .total-progresso { background: #19549c; }
.EJETOA05006 .contagem-parcial ul li.AECIONEVES .percentagem { color: #19549c; }
.EJETOA05006 .contagem-parcial ul li.MARINASILVA .candidato img { border: 1px solid #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.MARINASILVA .progresso .barra-de-progresso .total-progresso { background: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.MARINASILVA .percentagem { color: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.LUCIANAGENRO .candidato img { border: 1px solid #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.LUCIANAGENRO .progresso .barra-de-progresso .total-progresso { background: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.LUCIANAGENRO .percentagem { color: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.PASTOREVERALDO .candidato img { border: 1px solid #18157a; }
.EJETOA05006 .contagem-parcial ul li.PASTOREVERALDO .progresso .barra-de-progresso .total-progresso { background: #18157a; }
.EJETOA05006 .contagem-parcial ul li.PASTOREVERALDO .percentagem { color: #18157a; }
.EJETOA05006 .contagem-parcial ul li.EDUARDOJORGE .candidato img { border: 1px solid #177242; }
.EJETOA05006 .contagem-parcial ul li.EDUARDOJORGE .progresso .barra-de-progresso .total-progresso { background: #177242; }
.EJETOA05006 .contagem-parcial ul li.EDUARDOJORGE .percentagem { color: #177242; }
.EJETOA05006 .contagem-parcial ul li.LEVYFIDELIX .candidato img { border: 1px solid #e87221; }
.EJETOA05006 .contagem-parcial ul li.LEVYFIDELIX .progresso .barra-de-progresso .total-progresso { background: #e87221; }
.EJETOA05006 .contagem-parcial ul li.LEVYFIDELIX .percentagem { color: #e87221; }
.EJETOA05006 .contagem-parcial ul li.ZEMARIA .candidato img { border: 1px solid #e52f26; }
.EJETOA05006 .contagem-parcial ul li.ZEMARIA .progresso .barra-de-progresso .total-progresso { background: #e52f26; }
.EJETOA05006 .contagem-parcial ul li.ZEMARIA .percentagem { color: #e52f26; }
.EJETOA05006 .contagem-parcial ul li.EYMAEL .candidato img { border: 1px solid #009036; }
.EJETOA05006 .contagem-parcial ul li.EYMAEL .progresso .barra-de-progresso .total-progresso { background: #009036; }
.EJETOA05006 .contagem-parcial ul li.EYMAEL .percentagem { color: #009036; }
.EJETOA05006 .contagem-parcial ul li.MAUROIASI .candidato img { border: 1px solid #770508; }
.EJETOA05006 .contagem-parcial ul li.MAUROIASI .progresso .barra-de-progresso .total-progresso { background: #770508; }
.EJETOA05006 .contagem-parcial ul li.MAUROIASI .percentagem { color: #770508; }
.EJETOA05006 .contagem-parcial ul li.RUICOSTAPIMENTA .candidato img { border: 1px solid #d2000b; }
.EJETOA05006 .contagem-parcial ul li.RUICOSTAPIMENTA .progresso .barra-de-progresso .total-progresso { background: #d2000b; }
.EJETOA05006 .contagem-parcial ul li.RUICOSTAPIMENTA .percentagem { color: #d2000b; }

.EJETOA05006 .contagem-parcial ul li.LINDBERGFARIAS .candidato img { border: 1px solid #db2714; }
.EJETOA05006 .contagem-parcial ul li.LINDBERGFARIAS .progresso .barra-de-progresso .total-progresso { background: #db2714; }
.EJETOA05006 .contagem-parcial ul li.LINDBERGFARIAS .percentagem { color: #db2714; }
.EJETOA05006 .contagem-parcial ul li.LUIZFERNANDOPEZAO .candidato img { border: 1px solid #19549c; }
.EJETOA05006 .contagem-parcial ul li.LUIZFERNANDOPEZAO .progresso .barra-de-progresso .total-progresso { background: #19549c; }
.EJETOA05006 .contagem-parcial ul li.LUIZFERNANDOPEZAO .percentagem { color: #19549c; }
.EJETOA05006 .contagem-parcial ul li.DAYSEOLIVEIRA .candidato img { border: 1px solid #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.DAYSEOLIVEIRA .progresso .barra-de-progresso .total-progresso { background: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.DAYSEOLIVEIRA .percentagem { color: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.TARCISIOMOTTA .candidato img { border: 1px solid #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.TARCISIOMOTTA .progresso .barra-de-progresso .total-progresso { background: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.TARCISIOMOTTA .percentagem { color: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.MARCELOCRIVELLA .candidato img { border: 1px solid #18157a; }
.EJETOA05006 .contagem-parcial ul li.MARCELOCRIVELLA .progresso .barra-de-progresso .total-progresso { background: #18157a; }
.EJETOA05006 .contagem-parcial ul li.MARCELOCRIVELLA .percentagem { color: #18157a; }
.EJETOA05006 .contagem-parcial ul li.GAROTINHO .candidato img { border: 1px solid #e87221; }
.EJETOA05006 .contagem-parcial ul li.GAROTINHO .progresso .barra-de-progresso .total-progresso { background: #e87221; }
.EJETOA05006 .contagem-parcial ul li.GAROTINHO .percentagem { color: #e87221; }
.EJETOA05006 .contagem-parcial ul li.NEYNUNES .candidato img { border: 1px solid #009036; }
.EJETOA05006 .contagem-parcial ul li.NEYNUNES .progresso .barra-de-progresso .total-progresso { background: #009036; }
.EJETOA05006 .contagem-parcial ul li.NEYNUNES .percentagem { color: #009036; }

.EJETOA05006 .contagem-parcial ul li.p13 .candidato img { border: 1px solid #db2714; }
.EJETOA05006 .contagem-parcial ul li.p13 .progresso .barra-de-progresso .total-progresso { background: #db2714; }
.EJETOA05006 .contagem-parcial ul li.p13 .percentagem { color: #db2714; }
.EJETOA05006 .contagem-parcial ul li.p45 .candidato img { border: 1px solid #19549c; }
.EJETOA05006 .contagem-parcial ul li.p45 .progresso .barra-de-progresso .total-progresso { background: #19549c; }
.EJETOA05006 .contagem-parcial ul li.p45 .percentagem { color: #19549c; }
.EJETOA05006 .contagem-parcial ul li.p15 .candidato img { border: 1px solid black; }
.EJETOA05006 .contagem-parcial ul li.p15 .progresso .barra-de-progresso .total-progresso { background: black; }
.EJETOA05006 .contagem-parcial ul li.p15 .percentagem { color: black; }
.EJETOA05006 .contagem-parcial ul li.p16 .candidato img { border: 1px solid #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.p16 .progresso .barra-de-progresso .total-progresso { background: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.p16 .percentagem { color: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.p50 .candidato img { border: 1px solid #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.p50 .progresso .barra-de-progresso .total-progresso { background: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.p50 .percentagem { color: #3c3c3c; }
.EJETOA05006 .contagem-parcial ul li.p10 .candidato img { border: 1px solid #18157a; }
.EJETOA05006 .contagem-parcial ul li.p10 .progresso .barra-de-progresso .total-progresso { background: #18157a; }
.EJETOA05006 .contagem-parcial ul li.p10 .percentagem { color: #18157a; }
.EJETOA05006 .contagem-parcial ul li.p22 .candidato img { border: 1px solid #e87221; }
.EJETOA05006 .contagem-parcial ul li.p22 .progresso .barra-de-progresso .total-progresso { background: #e87221; }
.EJETOA05006 .contagem-parcial ul li.p22 .percentagem { color: #e87221; }
.EJETOA05006 .contagem-parcial ul li.p21 .candidato img { border: 1px solid #009036; }
.EJETOA05006 .contagem-parcial ul li.p21 .progresso .barra-de-progresso .total-progresso { background: #009036; }
.EJETOA05006 .contagem-parcial ul li.p21 .percentagem { color: #009036; }

.EJETOA05006 .contagem-parcial ul li.p40 .candidato img { border: 1px solid #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.p40 .progresso .barra-de-progresso .total-progresso { background: #c11d0b; }
.EJETOA05006 .contagem-parcial ul li.p40 .percentagem { color: #c11d0b; }

.EJETOA05006 .contagem-parcial ul li.p20 .candidato img { border: 1px solid #18157a; }
.EJETOA05006 .contagem-parcial ul li.p20 .progresso .barra-de-progresso .total-progresso { background: #18157a; }
.EJETOA05006 .contagem-parcial ul li.p20 .percentagem { color: #18157a; }

.EJETOA05006 .contagem-parcial ul li.p43 .candidato img { border: 1px solid #177242; }
.EJETOA05006 .contagem-parcial ul li.p43 .progresso .barra-de-progresso .total-progresso { background: #177242; }
.EJETOA05006 .contagem-parcial ul li.p43 .percentagem { color: #177242; }

.EJETOA05006 .contagem-parcial ul li.p28 .candidato img { border: 1px solid #e87221; }
.EJETOA05006 .contagem-parcial ul li.p28 .progresso .barra-de-progresso .total-progresso { background: #e87221; }
.EJETOA05006 .contagem-parcial ul li.p28 .percentagem { color: #e87221; }
.EJETOA05006 .contagem-parcial ul li.p27 .candidato img { border: 1px solid #009036; }
.EJETOA05006 .contagem-parcial ul li.p27 .progresso .barra-de-progresso .total-progresso { background: #009036; }
.EJETOA05006 .contagem-parcial ul li.p27 .percentagem { color: #009036; }

.EJETOA05006 .contagem-parcial ul li.p29 .candidato img { border: 1px solid #d2000b; }
.EJETOA05006 .contagem-parcial ul li.p29 .progresso .barra-de-progresso .total-progresso { background: #d2000b; }
.EJETOA05006 .contagem-parcial ul li.p29 .percentagem { color: #d2000b; }

.EJETOA05006 .contagem-parcial ul li.p12 .candidato img { border: 1px solid #102F4D; }
.EJETOA05006 .contagem-parcial ul li.p12 .progresso .barra-de-progresso .total-progresso { background: #102F4D; }
.EJETOA05006 .contagem-parcial ul li.p12 .percentagem { color: #102F4D; }

.EJETOA05006 .contagem-parcial-lista {} .EJETOA05006::-webkit-scrollbar { width: 12px; }
.EJETOA05006::-webkit-scrollbar-track { background: #eee; }
.EJETOA05006::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.8); }
.EJETOA05006::-webkit-scrollbar-thumb:window-inactive { background: rgba(0, 0, 0, 0.4); }
.EJETOA05006 .contagem-parcial-lista ul,
.EJETOA05006 .contagem-parcial-lista ul li { padding: 0; margin: 0; list-style: none; display: block; }
.EJETOA05006 .contagem-parcial-lista ul { clear: both; width: 450px; overflow: hidden; }
.EJETOA05006 .contagem-parcial-lista ul li ul li { float: left; padding: 8px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 270px; background: white; border-bottom: 1px solid #e6e6e6; font-size: 16px; color: #3b3b3b; }
.EJETOA05006 .contagem-parcial-lista.depestadual ul li ul li:first-child { float: left; padding: 8px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 280px; background: white; border-bottom: 1px solid #e6e6e6; font-size: 14px; color: #3b3b3b; }
.EJETOA05006 .contagem-parcial-lista.depfederal ul li ul li:first-child { float: left; padding: 8px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 280px; background: white; border-bottom: 1px solid #e6e6e6; font-size: 14px; color: #3b3b3b; }
.EJETOA05006 .contagem-parcial-lista ul li ul li + li { width: 85px; text-align: center; }
.EJETOA05006 .contagem-parcial-lista ul li ul li + li +li { width: 85px; text-align: center; }
.EJETOA05006 .contagem-parcial-lista .coluna-1 ul.lista-com-scroll { clear: both; width: 450px; overflow-y: scroll; height: 400px; }
.EJETOA05006 .header-top-list { color: #3b3b3b; font-size: 14px; background: #f4f4f4; overflow: hidden; }
.EJETOA05006 .header-top-list ul li { font-size: 14px; padding: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 270px; }
.EJETOA05006 .header-top-list ul li + li { width: 85px; text-align: center; }
.EJETOA05006 .header-top-list ul li + li +li { width: 85px; text-align: center; }
.EJETOA05006 .header-top-list ul li { background: #f4f4f4; float: left; }
.EJETOA05006 .footer-top-list { color: #3b3b3b; font-size: 11px; width: 450px; padding: 5px 10px; border-bottom: 1px solid #ddd; }
.EJETOA05006 .coluna-2 { width: 470px; float: left; margin-left: 20px; }
.EJETOA05006 .coluna-2 .aba-regioes ul { display: block; clear: both; overflow: hidden; }
.EJETOA05006 .coluna-2 .aba-regioes ul li { width: 20%; display: block; height: 48px; border: 1px solid #e7e7e7; border-right: 0px none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.EJETOA05006 .coluna-2 .aba-regioes ul li:last-child { border-right: 1px solid #e7e7e7; }
.EJETOA05006 .coluna-2 .aba-regioes ul li.active { border-bottom: 1px solid #fff; border-top: 3px solid #383838; }
.EJETOA05006 .coluna-2 .aba-regioes ul li a { text-decoration: none; display: block; width: 100%; height: 100%; text-align: center; padding-top: 15px; color: #9e9e9e; }
.EJETOA05006 .coluna-2 .aba-regioes ul li.active a { padding-top: 12px; color: #454545; font-weight: bold; }
.EJETOA05006 .coluna-2 h4 { text-align: center; font-size: 16px; line-height: 13px; color: #383838; }
.EJETOA05006 .coluna-2 .candidatos-principais { display: block; overflow: hidden; clear: both; }
.EJETOA05006 .coluna-2 .candidatos-principais ul { clear: both; overflow: hidden; text-align: center; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li { display: inline-block; float: none; text-transform: uppercase; font-size: 14px; color: #383838; padding-right: 20px; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li:last-child { padding-right: 0; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li span { display: inline-block; width: 17px; height: 17px; margin-right: 5px; background-color: #00539f; position: relative; top: 3px; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li:nth-child(2) span { background-color: #fe220a; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li:nth-child(3) span { background-color: #e11703; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li:nth-child(4) span { background-color: #3c3c3c; }
.EJETOA05006 .coluna-2 .candidatos-principais ul li:nth-child(5) span { background-color: #18157a; }
.EJETOA05006 .coluna-2 .mapa-regiao { display: block; overflow: hidden; clear: both; height: 345px; border: 1px solid #cecece; margin: 20px 0 0px 0; }
.EJETOA05006 .coluna-2 .candidatos-principais { display: block; overflow: hidden; clear: both; }
.EJETOA05006 .coluna-2 .cabecalho-regiao { display: block; overflow: hidden; clear: both; margin-top: 10px; position: relative; }
.EJETOA05006 .coluna-2 .cabecalho-regiao { padding: 14px 10px; background: #f8f8f8; border-top: 1px solid #d9d9d9; }
.EJETOA05006 .coluna-2 .cabecalho-regiao img { margin-right: 5px; margin-top: 5px; position: relative; top: 0px; vertical-align: top; border: 1px solid #ccc; }
.EJETOA05006 .coluna-2 .cabecalho-regiao address { display: inline-block; margin-top: 5px; width: 140px; height: 17px; font-style: normal; font-weight: bold; }
.EJETOA05006 .coluna-2 .cabecalho-regiao>span { width: 470px; height: 3px; background: #eaeaea; display: inline-block; position: absolute; bottom: 0px; left: 0px; }
.EJETOA05006 .coluna-2 .cabecalho-regiao>span>span { background-color: #009201; height: 3px; display: block; }
.EJETOA05006 .coluna-2 .cabecalho-regiao small { display: inline-block; width: 90px; text-align: center; font-size: 14px; font-weight: bold; color: #029200; float: right; }
.EJETOA05006 .coluna-2 .cabecalho-regiao small code { font-family: Arial; font-weight: normal; font-size: 12px; font-style: normal; color: #333; }
.EJETOA05006 .coluna-2 .cabecalho-regiao small b { display: block; }
.EJETOA05006 .coluna-2 .lista-regioes { display: block; overflow: hidden; clear: both; }
.EJETOA05006 .coluna-2 .lista-regioes ul li { font-size: 14px; display: block; float: none; padding: 8px 13px; color: #383838; border-bottom: 1px solid #d9d9d9; }
.EJETOA05006 .coluna-2 .lista-regioes>ul:last-child { margin-bottom: 20px; }
.EJETOA05006 .coluna-2 .lista-regioes ul li:last-child { border-bottom: 0px none; }
.EJETOA05006 .coluna-2 .lista-regioes ul li em { font-style: normal; }
.EJETOA05006 .coluna-2 .lista-regioes ul li span { float: right; }
#mapasudestebr, #mapanortebr, #mapanordestebr, #mapacentrobr, #mapasulbr { width: 468px; height: 345px; position: absolute; }
.EJETOA05006 .localizacao-estado { position: relative; }
.EJETOA05006 .localizacao-estado h3 { margin: 30px auto 0 auto; font-size: 14px; font-weight: normal; position: relative; z-index: 3; width: 270px; background: white; height: 20px; text-align: center; display: block; bottom: -12px; color: #3b3b3b; }
.EJETOA05006 .localizacao-estado ul { width: 940px; display: block; float: none; text-align: center; clear: both; height: 53px; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 20px; position: relative; z-index: 2 }
.EJETOA05006 .localizacao-estado ul li { width: 30px; height: 23px; display: inline-block; float: none; }
.EJETOA05006 .localizacao-estado ul li a { width: 30px; height: 23px; display: block; background: white; font-size: 14px; color: #8a8a8a; border-radius: 4px; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 3px; margin-right: 3px; }
.EJETOA05006 .localizacao-estado ul li.active a,
.EJETOA05006 .localizacao-estado ul li:hover a { background: #4a9110; color: white; }
.EJETOA05006 .localizacao-estado h4 { text-align: center; font-size: 26px; color: #3b3b3b; text-transform: uppercase; font-weight: bold; clear: both; margin: 40px 0 20px 0; }
.EJETOA05006 .localizacao-estado h4 img { position: relative; top: 3px; margin-right: 10px; display: inline-block; }
.EJETOA05006 .localizacao-estado .progresso-aba-atual { position: relative; display: block; clear: both; background: #e9e9e9; border-radius: 4px; height: 29px; margin-bottom: 40px; }
.EJETOA05006 .localizacao-estado .progresso-aba-atual span { display: block; background: #3b3b3b; height: 29px; border-radius: 4px; }
.EJETOA05006 .localizacao-estado .progresso-aba-atual p { color: white; margin: 0; position: absolute; top: 3px; font-size: 14px; left: 10px; text-shadow: 1px 1px 0px #3b3b3b; }
.EJETOA05006 .localizacao-estado .progresso-aba-atual p strong { font-size: 18px; display: inline-block; margin-right: 10px; }
.EJETOA05006 .coluna-2 .detahles-da-apuracao { display: block; margin-top: 0px; }
.EJETOA05006 .right { float: right; }
.EJETOA05006 .left { float: left; }
.EJETOA05006 .coluna-2 .detahles-da-apuracao ul { width: auto; }
.EJETOA05006 .coluna-2 .detahles-da-apuracao ul li { float: none; display: block; color: #969696; clear: both; padding: 12px 15px; border: 1px solid #e6e6e6; border-top: 0px none; overflow: hidden; font-size: 14px; line-height: 14px; }
.EJETOA05006 .coluna-2 .detahles-da-apuracao h5 { margin: 0px; padding: 12px 9px; font-size: 17px; line-height: 17px; font-weight: bold; border: 1px solid #e6e6e6; border-left: 2px solid #3b3b3b; color: #3b3b3b; }
.EJETOA05006 .coluna-2 .detahles-da-apuracao ul li i,
.EJETOA05006 .coluna-2 .detahles-da-apuracao ul li em { font-style: normal; }
.EJETOA05006 .votacao-global { height: 120px; width: 940px; display: block; clear: both; position: relative; }
.EJETOA05006 .votacao-global .percentagem-global { height: 48px; background: #e9e9e9; display: block; border-radius: 4px; position: relative; }
.EJETOA05006 .votacao-global .percentagem-global span { background: #4a9110; height: 48px; display: block; border-radius: 4px; }
.EJETOA05006 .votacao-global .percentagem-global p { position: absolute; color: #fff; font-size: 16px; top: 13px; margin: 0px; line-height: 14px; text-shadow: 1px 1px 0px #4a9110; }
.EJETOA05006 .votacao-global .percentagem-global p strong { position: relative; margin: 0 10px 0 20px; font-size: 32px; font-weight: bold; top: 5px; }
.EJETOA05006 .votacao-global>span { font-size: 11px; color: #3b3b3b; margin-top: 5px; padding: 0 5px; }
.EJETOA05006 .votacao-global>span b { font-weight: normal; }
.EJETOA05006 .votacao-global>span img { margin-right: 5px; position: relative; top: 3px; }
.EJETOA05006 .votacao-turno { height: 105px; position: relative; }
.EJETOA05006 .votacao-turno h2 {text-align: center;}
.EJETOA05006 .votacao-turno h2  a { text-decoration: none; width: 115px; background: #bababa; margin: 0 auto; border-radius: 4px; color: white; padding: 12px 18px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 18px; line-height: 18px; font-weight: bold; }
.EJETOA05006 .votacao-turno h2  a.active, .EJETOA05006 .votacao-turno h2  a:hover {background: #4a9110;}
.EJETOA05006 .votacao-turno h3 { line-height: 30px; font-size: 42px; margin: 13px 0 19px 0; display: block; text-align: center; font-weight: bold; clear: both; }
.EJETOA05006 .votacao-turno .social-bar-votacao { width: 240px; height: 25px; position: absolute; top: 55px; right: 0px; }
.EJETOA05006 .contagem-parcial .progresso .barra-de-progresso .total-progresso, .EJETOA05006 .localizacao-estado .progresso-aba-atual span, .EJETOA05006 .votacao-global .percentagem-global span, .EJETOA05006 .coluna-2 .cabecalho-regiao>span>span, .EJETOA05006 .coluna-2 .mapa-regiao path {-webkit-transition: all 200ms ease-in-out 0s;-moz-transition: all 200ms ease-in-out 0s;-o-transition: all 200ms ease-in-out 0s;transition: all 200ms ease-in-out 0s;}
.EJETOA05006 .coluna-2 .mapa-regiao path {fill: #ccc;vector-effect: non-scaling-stroke;stroke: white;stroke-width :1; opacity: 0.8;}
.EJETOA05006 .coluna-2 .mapa-regiao path.MARINASILVA {fill:#c11d0b;}
.EJETOA05006 .coluna-2 .mapa-regiao path.AECIONEVES, .EJETOA05006 .coluna-2 .mapa-regiao path.LAURINHA {fill:#19549c;}
.EJETOA05006 .coluna-2 .mapa-regiao path.DILMA {fill:#db2714;}
.EJETOA05006 .coluna-2 .mapa-regiao tspan {font-size: 11px;font-weight: bold;fill: white;text-shadow: 1px 1px 1px #000 ;text-transform: uppercase;}
.EJETOA05006 .coluna-2 .mapa-regiao path:hover {opacity: 1;}
.EJETOA05006 .coluna-1 .ldg{margin-top:6px;position:absolute;margin-left:10px;display:block;}
.EJETOA05006 .ldg-rgs{margin-top:12px;position:absolute;margin-left:8px;display:block;}
.EJETOA05006 .coluna-1 .localizacao-estado .progresso-aba-atual p cite{font-style:normal;}
.EJETOA05006 .coluna-2 .aba-no-local{margin-bottom:20px;}
.EJETOA05006 .alerta-ordem{position: absolute;margin: 7px 0px 0px 0px;color:#DF0000;}
	</style>
</div>
