<div class="EJETOA04702 assine-o-dia">
		<div class="titulo">Assine O Dia</div>
        <div class="formulario">
        	<div class="splash"><img src="imgs/splash.png" alt="Apenas R$1,90 no 1º mês" title="Apenas R$1,90 no 1º mês"></div>
        	<img class="capas" src="imgs/capas.png" alt="Capas" title="Capas" />
            <div class="assine-ja">Assine Já</div>
            <div class="conteudo-digital">Conteúdo digital</div>
            <p>Preencha os campos abaixo e assine:</p>
            <form id="registroExpresso" name="registroExpresso" method="post">
            	<input type="text" name="nome" id="nome" value="Nome" onfocus="if(this.value == 'Nome') {this.value=''}" onblur="if(this.value == ''){this.value ='Nome'}" />
                <input type="text" name="email" id="email" value="E-mail" onfocus="if(this.value == 'E-mail') {this.value=''}" onblur="if(this.value == ''){this.value ='E-mail'}" />
                <select name="estado" id="estado">
                	<option value="AC">AC
                    <option value="AL">AL
                    <option value="AP">AP
                    <option value="AM">AM
                    <option value="BA">BA
                    <option value="CE">CE
                    <option value="DF">DF
                    <option value="ES">ES
                    <option value="GO">GO
                    <option value="MA">MA
                    <option value="MG">MG
                    <option value="MT">MT
                    <option value="MS">MS
                    <option value="PA">PA
                    <option value="PB">PB
                    <option value="PR">PR
                    <option value="PE">PE
                    <option value="PI">PI
                    <option value="RJ" selected="">RJ
                    <option value="RN">RN
                    <option value="RS">RS
                    <option value="RO">RO
                    <option value="RR">RR
                    <option value="SC">SC
                    <option value="SE">SE
                    <option value="SP">SP
                    <option value="TO">TO
                </select>
                <select name="cidade" id="cidade">
                	<option>Rio de Janeiro</option>
                </select>                
                <div class="clear"></div>
                <input type="submit" name="submit" class="btAssinar" id="submitCadastro" value="Assinar">
                <!-- <a class="btAssinar" data-toggle="modal" href="#cadastroSucesso">Assinar</a> -->
			</form>
        </div>   
         
        <div class="versao-impressa">
            <img src="imgs/impresso.png" alt="Impresso" title="Impresso" />
            <a href="http://www.ejesa.com.br/assine/index.php?pag=subscribe&type=presspub&id=1" target="_impresso"><p>ASSINE A VERSÃO IMPRESSA<br>
            POR APENAS R$ 41,70 /MÊS</p></a>
            <div class="clear"></div>
        </div>

        <div id="cadastroSucesso" class="pedido-modal modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>      
            <div class="conteudoLightbox">
                <img src="imgs/ok-icone.png" />
                <h1>Parabéns! Você se cadastrou com sucesso.</h1>
                <p>Enviamos e-mail de confirmação para sua caixa de entrada.</p>
                <p>Clique no link para completar sua assinatura.</p>
            </div>
        </div>

        <div id="cadastroErro" class="pedido-modal modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>      
            <div class="conteudoLightbox">
                <img src="imgs/ok-icone.png" />
                <h1>Erro</h1>
                <p>Não foi possível completar sua assinatura.</p>
            </div>
        </div>
	</div>