
.EJETOE00202x{
	background: url('http://s0.ejesa.ig.com.br/img/odia/classificados_bg.png') repeat top;
	float: left;
	height: 235px;
	margin:15px 20px 15px 0px ;
	width: 300px;	
}

.EJETOE00202x .header{
	height: 50px;
	width: 300px;
}	

.EJETOE00202x .product-img{
	display: block;
	float: left;
	height: 95px;
	overflow: hidden;
	width: 300px;
	position: relative;
}

.EJETOE00202x .product-img-options {
	display: block;
	overflow: hidden;
}

.EJETOE00202x .product-img-options ul{
	list-style: none;
	margin:0px; 
	padding:0;
}

.EJETOE00202x .product-img-options ul li{
	display:none;
	float: left;
	height:245px;
	width:300px;
}
.EJETOE00202x ul li:first-child{
	display: inline;
}
.EJETOE00202x .product-img-options ul li img{
	height:95px;
	width:300px;
	float: left;
}

.EJETOE00202x .product-nav{
	float: left;
	height: 40px;
	width: 300px;
	position: relative;
	top:-2px;
	display: block;
}

.EJETOE00202x .product-plus{
	float: left;
	height: 60px;
	width: 300px;
	position: relative;
	top: -20px;
	margin:0 auto;
}

.EJETOE00202x .product-nav-options{
	height: 30px;
	margin:0 auto;
	width: 190px;

	padding-top: 10px;
	padding-left: 12px;
}

.EJETOE00202x .product-nav-options .product-nav-back{
	float: left;
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat 0 -1728px;
	width: 21px; 
	height: 21px;
	cursor: pointer;  
}

.EJETOE00202x .product-nav-options .product-nav-middle{
	float: left;
	height:18px;
	margin: 0px;
	padding-top: 3px;
	width:125px;
}

.EJETOE00202x .product-nav-options .product-nav-next{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat 0 -1707px;
	float: left;
	height:21px;	
	width:21px;
	cursor: pointer;
}

.EJETOE00202x .product-nav-options .product-nav-middle ul{
	list-style: none;
	margin:0px; 
	padding:0px;
	width:125px;
}

.EJETOE00202x .product-nav-options ul li{
	display:inline;
	float: left;
	height:21px;
	margin:2px;
	text-align: center;
	width:21px;
}

.EJETOE00202x .product_nav_on{
	float:left;
	background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_on_new.png') no-repeat center top;
}

.EJETOE00202x .product_nav_off{
	float:left;
	background: url('http://s0.ejesa.ig.com.br/img/odia/nav_carousel_off.png') no-repeat center top;
}

.EJETOE00202x .product-info {
	height: 40px;
	position: relative;
	width: 300px;
	float:left;
	overflow: hidden;
}

.EJETOE00202x .product-info .product-title {
	position: relative;
	top:-5px;
	/*float:left;
	width: 200px;
	padding-left: 10px;*/
	font-weight: bold;
}

.EJETOE00202x .product-info .product-title a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
}

.EJETOE00202x .product-info .product-title a:hover{
	text-decoration: none;
}

.EJETOE00202x .product-info .product-text {
	position: relative;
	top:-5px;
	float:left;
	/*width:80px;*/
}

.EJETOE00202x .product-info .product-text a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial;
	font-size: 11px;
}

.EJETOE00202x .product-info .product-text a:hover{
	text-decoration: none;
}


.EJETOE00202x .product-info ul{
    height: 80px;
    list-style: none outside none;
    width: 300px;
    padding-left: 0px;
}

.EJETOE00202x .product-info ul li{
	padding-left: 10px;
	display: inline;
}

.EJETOE00202x .product-plus .product_plus_icon{
	display: block;
	float: left;
	left: 10px;
	position: relative;
	top: 13px;  	
}