<div class="EJETOA04902">
	<div class="enquete-pergunta">
		<h3 data-enqueteid="">
			O melhor lutador
		</h3>

		<div class="comparador">
			<div class="comparadores " style="width:50%;" id="votacao-a">
				<img id="img1" src="http://s0.ejesa.ig.com.br/img/odia/copa/neymar.jpg" style="display:none;">

			</div>
			<div class="comparadores " style="width:50%;" id="votacao-b">
				<img id="img2" src="http://s0.ejesa.ig.com.br/img/odia/copa/messi.jpg" style="display:none;">

			</div>
			<div class="info-vote">
				<span class="vote" id="vote-a"></span>
				<span class="nmb-vote" ><strong id="nmb-vote-a" class="quantidade-votos ">-</strong>votos</span>
			</div>
			<div class="info-vote">
				<span class="vote" id="vote-b"></span>
				<span class="nmb-vote" ><strong id="nmb-vote-b" class="quantidade-votos ">-</strong>votos</span>
			</div>
		</div>
		<div class="votar">
			<a href="javascript:void(0);" id="vt1" data-voto="">

				<cite>VOTAR</cite>
				<span id="vote-p-a" class="textOpt ">---</span>
			</a>
			<a href="javascript:void(0);" id="vt2" data-voto="">
				<cite>VOTAR</cite>
				<span id="vote-p-b" class="textOpt">---</span>
			</a>
		</div>
		<div id="recaptcha_div"></div>
        <pre id="display1"></pre>
        <pre id="display2"></pre>
        <pre id="display3"></pre>
        <pre id="display4"></pre>
		<style type="text/css">
			.EJETOA04902 {float:left;height: 450px;	width: 620px;margin: 15px 20px 15px 0px;padding-bottom: 0px;text-align: left; font-family: Arial, sans-serif; text-align: left;}
			.EJETOA04902 a {text-decoration: none;}
			.EJETOA04902 h3{text-transform: uppercase; height: 41px; display: block;position: relative;margin: 2px 0; padding: 10px 16px;box-sizing: border-box;-moz-box-sizing: border-box;vertical-align: top;font-size: 17px; font-weight: normal; line-height: 17px;font-family: Arial, sans-serif;clear: both; border-left: #2a2a2a 4px solid;}
			.EJETOA04902 h3 .sponsor {float: right;vertical-align: middle;}
			.EJETOA04902 h3 .sponsor a {padding-left: 15px;display: inline-block;}
			.EJETOA04902 h3 .sponsor a.big-sponsor {position: relative;top: 5px;}
			.EJETOA04902 .comparador {height: 296px;}
			.EJETOA04902 .comparadores { max-width: 73% !important; min-width: 27% !important; width: 50%; text-align: center; overflow: hidden; float: left; position: relative; height: 296px; }
			.EJETOA04902 .comparadores:first-child {border-right: 1px solid #fff ; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
			.EJETOA04902 .info-vote {  width: 310px; height: 61px;box-sizing: border-box;-moz-box-sizing: border-box;background: #2a2a2a;text-align: left;padding: 3px 9px;color: #dadada;display: block;position: relative;float: left; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
			.EJETOA04902 .info-vote { border-top: 1px solid #fff; }
			.EJETOA04902 .info-vote .vote{  font-size: 36px;line-height: 36px;display: block;font-family: Arial, sans-serif; font-weight: bold; margin-top: 3px;}
			.EJETOA04902 .info-vote .nmb-vote {font-size: 12px;font-family: Arial, sans-serif;}
			.EJETOA04902 .info-vote .nmb-vote strong {padding-right: 5px;}
			.EJETOA04902 .info-vote:last-child {background: #980d0e; border-right: 0px none; }
			.EJETOA04902 .comparadores b {width: 620px; height: 296px; display: block; background: transparent;}
			.EJETOA04902 .comparadores img {opacity: 0;}
			.edicaoZona .EJETOA04902 .comparadores img {opacity: 0;}
			.EJETOA04902 .perdendo img {position: relative; left: -30px;}
			.EJETOA04902 .votar {display: block;height: 50px;margin-top: 1px;}
			.EJETOA04902 .votar a { width: 310px; height: 50px; box-sizing: border-box;-moz-box-sizing: border-box;padding: 7px;text-align: center;display: block;float: left;font-size: 17px;color: #ebebeb;line-height: 17px;font-weight: bold; background: #222222; background: -moz-linear-gradient(top,  #222222 0%, #434342 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#434342)); background: -webkit-linear-gradient(top,  #222222 0%,#434342 100%); background: -o-linear-gradient(top,  #222222 0%,#434342 100%); background: -ms-linear-gradient(top,  #222222 0%,#434342 100%); background: linear-gradient(to bottom,  #222222 0%,#434342 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#434342',GradientType=0 );}
			.EJETOA04902 .votar a span{font-size: 13px;font-weight: normal;}
			.EJETOA04902 .votar a:hover {background: #434342; background: -moz-linear-gradient(top,  #434342 0%, #222222 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434342), color-stop(100%,#222222)); background: -webkit-linear-gradient(top,  #434342 0%,#222222 100%); background: -o-linear-gradient(top,  #434342 0%,#222222 100%); background: -ms-linear-gradient(top,  #434342 0%,#222222 100%); background: linear-gradient(to bottom,  #434342 0%,#222222 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434342', endColorstr='#222222',GradientType=0 );}
			.EJETOA04902 .votar a:first-child {border-right: 1px solid #fff;}
			.EJETOA04902 .votar span{display: block;}
			.EJETOA04902 .votar cite{font-style:normal;}
			.EJELIA00302 .headline .headline-title a {height: auto !important;color: rgb(102, 153, 51) !important;font-weight: bold !important;}.EJELIA00302 .news-commented {height: auto !important;}
		</style>
	</div>
</div>
