<div class="EJETOA05802 gd6 fl">
	<div class="headRetranca">                
		<h2>Mais lidas</h2>
	</div>
	
    <div id="rt_top">
		<ul id="folders" class="folders">
			<li class="active first"><a title="Agora" href="#rt_top .online_users" class="ativo">Agora <span class="logo-RT"></span></a></li>
			<li><a title="Hoje" href="#rt_top .pageviews">Hoje</a></li>
		</ul>
		<div class="online_users">
			<div class="items"></div>
		</div>
		<div class="pageviews">
			<div class="items"></div>
		</div>
		<!--<a class="realtime-logo" href="http://realtime.co">Realtime</a>-->
	</div>

</div>