<%{%>

  <script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/service/service.js?v=0.1"></script>
  	
  <script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/ODia_PostLoading.min.js?v=1.8.5"> </script> 

  <script>
    window.onload = function(){
      if(typeof $("meta[name='articleid']") != "undefined" && $("meta[name='articleid']").size()>0){
        ga('send', 'event', 'Notícia', 'Crédito', document.getElementById('authors-box').innerText.toLowerCase());
      }
    };
  </script>

  <!-- Begin comScore Tag -->
  <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "6987205" });
    (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
    })();
  </script>

  <noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=6987205&cv=2.0&cj=1" />
  </noscript>

  <script type="text/javascript">
    if(window.location.href.search("editor") == -1 && $('.Ntc_Supergaleria').length > 0){

      $.when(
        $.getScript( "http://s0.ejesa.ig.com.br/js/odia/galerias/jquery.tmpl.min.js" ),
        $.getScript( "http://s0.ejesa.ig.com.br/js/odia/galerias/jquery.easing.1.3.js" ),
        $.getScript( "http://s0.ejesa.ig.com.br/js/odia/galerias/jquery.elastislide.js" )
      ).done(function(){

        _alreadyinUse = 0;

        function reloadPub(indice) {
          if (_alreadyinUse != 0) {
            rand = "1234567890";
            ran = new String(Math.random());
            rand = ran.substring(2, 11);
            sitevar = $('meta[name=odia-OAS-site]').attr("content") + $('meta[name=odia-OAS-vars-secao]').attr("content");
            searchterm = $('head meta[name="odia-OAS-query"]').attr('content');
            if ($("#EJEADA02404")[0]) {
              $("#EJEADA02404 .advertising").html('<iframe src="http://ads.ig.com.br/RealMedia/ads/adstream_sx.ads/' + sitevar + '/' + rand + '@Top" width="730" height="93" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">' + '</iframe>');
            }
            if ($("#EJEADA02502")[0]) {
              $("#EJEADA02502 .advertising").html('<iframe src="http://ads.ig.com.br/RealMedia/ads/adstream_sx.ads/' + sitevar + '/' + rand + '@x35" width="205" height="93" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">' + '</iframe>');
            }
            if ($("#EJEADA02602")[0]) {
              $("#EJEADA02602 .advertising").html('<iframe src="http://ads.ig.com.br/RealMedia/ads/adstream_sx.ads/' + sitevar + '/' + rand + '@x07" width="300" height="250" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">' + '</iframe>');
            }
          } else {
            _alreadyinUse = 1;
          }
        }

        function reloadPageview(indice) {
          if (_alreadyinUse != 0) {
            urlPath = window.location.pathname;
            urlHash = window.location.hash;
            urlCount = urlPath + '#foto' + indice;
            if (typeof _gas != "undefined") {
              _gas.push(['_trackPageview', urlCount]);
            }
            url = {
              'hitURL': 'http://odia.ig.com.br/Publicidade/galeria-hit.html',
              'page': indice,
              'title': function () {
                /* return $("section div.galeria-repositorio h1").html(); */
              }
            };
            hitRequest(url);
          } else {
            _alreadyinUse = 1;
          }
        }

        function hitRequest(URL) {
          if (!document.getElementById("galeriaHit")) {
            var hitDiv = document.createElement("div");
            hitDiv.innerHTML = "<iframe style=\"position:absolute;top:-1000px;left:-1000px\" name=\"albumHit\" id=\"galeriaHit\" src=\"" + URL.hitURL + "?title=" + URL.title() + "&page=" + URL.fotoAtual + "\">" + "</iframe>";
            document.getElementById('conteudo').appendChild(hitDiv);
          } else if (window.frames['albumHit']) {
            window.frames['albumHit'].location.replace(URL.hitURL + "?title=" + URL.title() + "&page=" + URL.fotoAtual);
          }
        }

        var jsonPath = /\/edicaoHomes\//.test(location.pathname) ? '/estatico/galeria/' : '';
        var supergaleriaId = document.getElementById('small').className;

        $(function() {

        $totalItens = "";

        function carregaJson(){
          var url = document.URL;
          supergaleriaId = url.split("/").pop().replace(".html", "");
          $.getJSON(jsonPath + supergaleriaId + '_1.json',function(data){
            $totalItens = data.imagens.length;
            for (var i = 0; i < data.imagens.length; i++) {
              var imagem = data.imagens[i];
              if (!imagem.cortes['940x536']) imagem.cortes['940x536'] = {imagem_url : ''};
              if (!imagem.cortes['110x70']) imagem.cortes['110x70'] = {imagem_url : ''};
              output = '<li>'+
                    '<a href="#">'+
                    ' <img src="'+imagem.cortes['110x70'].imagem_url+'" data-large="'+imagem.cortes['940x536'].imagem_url+'" alt="'+imagem.legenda+'" data-description="'+imagem.legenda+'" data-credit="'+imagem.credito+'" />'+
                    '</a>'+
                   '</li>';
              $(".es-carousel ul").append(output);
            }
            Gallery.init();
          });
        }

        $.fn.imagesLoaded     = function( callback ) {
          var $images = this.find('img'),
            len   = $images.length,
            _this   = this,
            blank   = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';

          function triggerCallback() {
            callback.call( _this, $images );
          }

          function imgLoaded() {
            if ( --len <= 0 && this.src !== blank ){
              setTimeout( triggerCallback );
              $images.off( 'load error', imgLoaded );
            }
          }

          if ( !len ) {
            triggerCallback();
          }

          $images.on( 'load error',  imgLoaded ).each( function() {

            if (this.complete || this.complete === undefined){
              var src = this.src;
              this.src = blank;
              this.src = src;
            }
          });

          return this;
        };


        var $rgGallery    = $('#rg-gallery'),
        $esCarousel     = $rgGallery.find('div.es-carousel-wrapper'),
        $items        = $esCarousel.find('ul > li'),
        itemsCount      = $items.length;
        Gallery       = (function() {

          var current     = 0,
            mode      = 'carousel',
            anim      = false,
            init      = function() {

              $items.add('<img src="http://s0.ejesa.ig.com.br/img/odia/supergaleria/base/ajax-loader.gif"/><img src="images/black.png"/>').imagesLoaded( function() {

                _addImageWrapper();
                _showImage( $('.es-carousel ul li').eq(0), 'init' );

              });

              if( mode == 'carousel' ){
                _initCarousel();
              }

            },
            _initCarousel = function() {

              $esCarousel.show().elastislide({
                imageW  : 110,
                onClick : function( $item ) {
                  $('.es-carousel ul li').removeClass('selected');
                  if( anim ) return false;
                  anim = true;
                  _showImage($item, 'initCarousel');
                  current = $item.index();
                }
              });

              $esCarousel.elastislide( 'setCurrent', current );

            },

            _addImageWrapper= function() {

              $('#img-wrapper-tmpl').tmpl( {itemsCount : $totalItens} ).appendTo( $rgGallery );

              if( $totalItens > 1 ) {
                var $navPrev    = $rgGallery.find('a.rg-image-nav-prev'),
                  $navNext    = $rgGallery.find('a.rg-image-nav-next'),
                  $imgWrapper   = $rgGallery.find('div.rg-image');

                $navPrev.on('click.rgGallery', function( event ) {
                  _navigate( 'left' );
                  return false;
                });

                $navNext.on('click.rgGallery', function( event ) {
                  _navigate( 'right' );
                  return false;
                });

                $imgWrapper.touchwipe({
                  wipeLeft      : function() {
                    _navigate( 'right' );
                  },
                  wipeRight     : function() {
                    _navigate( 'left' );
                  },
                  preventDefaultEvents: false
                });

                $(document).on('keyup.rgGallery', function( event ) {
                  if (event.keyCode == 39)
                    _navigate( 'right' );
                  else if (event.keyCode == 37)
                    _navigate( 'left' );
                });

              }

            },
            _navigate = function( dir ) {

              if( anim ) return false;
              anim = true;

              if( dir === 'right' ) {
                if( current + 1 >= $totalItens )
                  current = 0;
                else
                  ++current;
              }
              else if( dir === 'left' ) {
                if( current - 1 < 0 )
                  current = $totalItens - 1;
                else
                  --current;
              }

              _showImage( $('.es-carousel ul li').eq(current), 'navigate' );

            },
            _showImage = function( $item, local ) {

              var $loader = $rgGallery.find('div.rg-loading').show();
              
              $('.es-carousel ul li').removeClass('selected');
              $item.addClass('selected');

              reloadPub($item);
              reloadPageview($item);
                 
              var $thumb    = $item.find('img'),
                largesrc  = $thumb.data('large'),
                title   = $thumb.data('description');
                credito   = $thumb.data('credit');
              
              $('<img/>').load( function() {
                
                $rgGallery.find('div.rg-image').empty().append('<img src="' + largesrc + '"/>');
                
                if( title ){
                  $rgGallery.find('div.rg-caption').show().children('p').empty().text( title );
                  $rgGallery.find('div.rg-caption').show().children('small').empty().text( credito );
                }
                
                $loader.hide();
                
                if( mode === 'carousel' ) {
                  $esCarousel.elastislide( 'reload' );
                  $esCarousel.elastislide( 'setCurrent', current );
                }
                
                anim  = false;
                
              }).attr( 'src', largesrc );

            },
            addItems    = function( $new ) {

              $esCarousel.find('ul').append($new);
              $items    = $items.add( $($new) );
              itemsCount  = $items.length;
              $esCarousel.elastislide( 'add', $new );

            };

            return {
              init    : init,
              addItems  : addItems
            };

          })();

          carregaJson();

        });

      });

    }
  </script>

  <script type="text/javascript">
    $(function(){
      var section_name = $("meta[name=odia-OAS-vars-secao]").attr("content");
      if (section_name.match("/rio-de-janeiro")){
        $("<div style='margin-top:20px; max-width: 620px; float:left;'><img style='display:block; width:100%; height:auto;' src='http://s0.ejesa.ig.com.br/img/odia/selo_whatsapp_odia_620x80.jpg'></div>").insertAfter("#noticia");
      }

      if($('meta[property="og:url"]').attr('content').match(/\/esporte\//)){

        var parametroCrowdy = 'esportes';

        /* crowdynews */
        if($('meta[property="og:url"]').attr('content').match(/\/botafogo\//)){
                                   
          parametroCrowdy = 'botafogo';

        } else if ($('meta[property="og:url"]').attr('content').match(/\/flamengo\//)){

          parametroCrowdy = 'flamengo';

        } else if ($('meta[property="og:url"]').attr('content').match(/\/fluminense\//)){

          parametroCrowdy = 'fluminense';

        } else if ($('meta[property="og:url"]').attr('content').match(/\/vasco\//)){

          parametroCrowdy = 'vasco';
        
        }

        $('#EJEADA02702').after('<div class="EJETOA054002"><div style="width: 300px; height: 400px; overflow: hidden;" data-crowdynews-widget="ODia/'+parametroCrowdy+'-internas"></div></div><style>.EJETOA054002 {width: 300px;height: 660px;font-family: Arial, sans-serif;overflow: hidden;display: block;float: left;margin: 15px 15px 20px 0;}</style>');

       }

      /*var scriptCrowdy = document.createElement('script');
        scriptCrowdy.src = "http://widget.crowdynews.com/js/widget.js";
        document.getElementsByTagName('head')[0].appendChild(scriptCrowdy);*/

    });
    
  </script>
  <script>
    (function() {
      if(/^http:\/\/odia.ig.com.br\/mundoeciencia\//.test(window.location.href) == true || /^http:\/\/odia.ig.com.br\/brasil\//.test(window.location.href) == true) {
        $.getScript('http://ads3241.hotwords.com/show.jsp?id=3241&cor=4056a0&apd=1&apd=5');
      }else if(/^http:\/\/odia.ig.com.br\/blogs\//.test(window.location.href) == true){
        $.getScript('http://ads3241.hotwords.com/show.jsp?id=3241&cor=4056a0&apd=1');
      }
    })();
  </script>

  <script type="text/javascript">
    if(typeof $("meta[name='articleid']") != "undefined" && $("meta[name='articleid']").size()>0){

      var scn = document.createElement('script'); 
      scn.type = 'text/javascript'; 
      scn.async = true;
      scn.src = 'http://widget.crowdynews.com/js/widget.js';
      var s = document.getElementsByTagName('script')[1]; 
      s.parentNode.insertBefore(scn, s);

    }
  </script>

  <script>
    $( document ).ready(function() {
      if(window.location.href.search("rio-de-janeiro") > -1){
        $('#retangulo_medio_3').remove();
        $('#retangulo_medio_4').remove();
        $('#area4 .oas-retangulo').remove();
      }else{
        $('#text_link').remove();
      }
    });
  </script>

<%}%>