<div class="EJETOA04006">
<div class="timer"></div>
	<div id="countdown-copa">
		<div class="faltam"></div>
		<div class="dias"></div>
		<hr id="um">
		<hr id="dois">
		<hr id="tres">
		<div id="casa" class="um">
			<div class="fundo-relogio cima"></div>
			<div class="fundo-relogio baixo"></div>
		</div>
		<div id="casa" class="dois">
			<div class="fundo-relogio cima"></div>
			<div class="fundo-relogio baixo"></div>
		</div>
		<div id="casa" class="tres">
			<div class="fundo-relogio cima"></div>
			<div class="fundo-relogio baixo"></div>
		</div>
		<div class="oferecimento">
			<label>Patrocínio:</label>
			<div id="flashContent" style="margin-top: 40px;">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="92" height="52" id="patrocinadores" align="middle">
				<param name="movie" value="http://s0.ejesa.ig.com.br/img/odia/patrocinadores.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<object type="application/x-shockwave-flash" data="http://s0.ejesa.ig.com.br/img/odia/patrocinadores.swf" width="92" height="52">
					<param name="movie" value="http://s0.ejesa.ig.com.br/img/odia/patrocinadores.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obter Adobe Flash Player" />
					</a>
				</object>
			</object>
		</div>
		</div>
	</div>
	<style>
		.EJETOA04006 {width: 295px;height: 150px; float: left; position: relative; }
		.EJETOA04006 #countdown-copa {width: 295px;height: 150px;overflow: hidden;position: relative;background: #f4f4f4;border-left: 5px solid #94b770;font-family: arial;}
		.EJETOA04006 .fundo-relogio {width: 50px;height: 37px;position: relative;}
		.EJETOA04006 #casa {position: absolute;}
		.EJETOA04006 .um {}
		.EJETOA04006 .dois {left: 54px}
		.EJETOA04006 .tres {left: 108px}
		.EJETOA04006 .cima {background: #434344;border-top-left-radius: 5px;border-top-right-radius: 5px;-moz-border-top-left-radius: 5px;-moz-border-top-right-radius: 5px;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;border-bottom: 2px solid #1e1e1e;top: 35px;left: 20px;}
		.EJETOA04006 .baixo {background: -moz-linear-gradient(top, #434344, #000000) repeat-X;background: -webkit-gradient(linear, left top, left bottom, from(#434344), to(#000)) repeat-X;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#434344, endColorstr=#000000)";border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;-moz-border-bottom-left-radius: 5px;-moz-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-webkit-border-bottom-right-radius: 5px;border-top: 2px solid #000;top: 33px;left: 20px;}
		.EJETOA04006 .timer {color: #fff;font-size: 80px;font-weight: 700;font-family: arial;position: absolute;left: 38px;top: 34px;letter-spacing: 9px;}
		.EJETOA04006 .timer ul {margin:0;padding:0;list-style:none;overflow:hidden;}
		.EJETOA04006 .timer .part-days {text-align:left;margin:0;padding:0;float:left;position:absolute;display:inline;height:180px;width:154px;overflow:hidden;z-index:9; margin-left: -8px; margin-top: -9px;}
		.EJETOA04006 .timer .part-separator {display:inline;float:left;margin:0;padding:0;}
		.EJETOA04006 .timer ul li ul {position:absolute}
		.EJETOA04006 .timer ul ul li {margin:0;display:block;clear:both;width:154px;height:180px;}
		.EJETOA04006 #um {top: 64px;left: 20px;}
		.EJETOA04006 #dois {top: 64px;left: 74px;}
		.EJETOA04006 #tres {top: 64px;left: 128px;}
		.EJETOA04006 hr {clear: both;border: 0;border-top: 1px solid #1e1e1e;border-bottom: 1px solid #000;position: absolute;z-index: 10;width: 50px;top: 20px;}
		.EJETOA04006 .faltam, .EJETOA04006 .dias {position: absolute;}
		.EJETOA04006 .faltam {font-size: 20px;color: #6f6f6f;font-weight: bold;top: 8px;left: 68px;}
		.EJETOA04006 .dias {font-size: 16px;color: #6f6f6f;font-weight: bold;top: 114px;left: 82px;}
		.EJETOA04006 .oferecimento {position: absolute;right: 13px;top: 13px}
		.EJETOA04006 .oferecimento label {position: absolute;top: 20px;font-size: 11px;margin: 0;}
		.EJETOA04006 .oferecimento img {position: relative;top: 40px;}
		</style>
</div>
