<div class="EJETOA04806">
	<span class="border">
		<h2>Eleições <strong>2014 - 2º turno </strong></h2>
	</span>
	<span class="lines"></span>
<style type="text/css">

body {background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/brasil.jpg') no-repeat 50% 285px;}
#content {background: transparent;}
.EJETOA04806 { text-align: center; position: relative; height: 70px; width: 940px; float: left; letter-spacing: -1px; -webkit-text-stroke: .5px;}
.EJETOA04806 .border {border: 10px solid transparent; z-index: 3; position:relative; display: inline-block;}
.EJETOA04806 h2 {-webkit-text-stroke: 0px; text-align: center; font-weight: normal; text-transform: uppercase; position: relative; font-family: Arial, sans-serif; font-size: 22px; color: #fff; background: #569820; display: inline-block; padding: 10px 35px; border-radius: 4px; margin: 0; z-index: 3;   }
.EJETOA04806 .lines:before, .EJETOA04806 .lines:after {display: block; content: ""; position: absolute; top: 30px;  width: 940px; height: 2px; background: #c3c7be; z-index: 2; }
.EJETOA04806 .lines:after {top: 37px; height: 1px; text-align: left;}

</style>
</div>


