<div class="EJETOA02502">
  <div class="sidebar">
    <div class="classificacao">
      <div class="titulo">
        <div class="barrinha"></div>
        <span>classificação</span>
      </div>
      <div class="classificacao-grupos">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-1">GRUPO A</a></li>
            <li><a href="#tabs-2">GRUPO B</a></li>
          </ul>

          <div class="clear"></div>
            <div id="tabs-1">
              <table  class="grupoa" id="grupoa" border="0" cellpadding="0" cellspacing="0">
                <tr>
                   <th colspan="2" class="col1">tabela atualizada</th>
                   <th>P</th>
                   <th>J</th>
                   <th>V</th>
                </tr>
            </table>
          </div>
            <div id="tabs-2">
                <table  class="grupob" id="grupob" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                       <th colspan="2" class="col1">tabela atualizada</th>
                       <th>P</th>
                       <th>J</th>
                       <th>V</th>
                    </tr>
                </table>
            </div>
        </div>
      </div>
  </div>