
<div class="EJETOA00706">
		<div id="facebook-tool" class="tool">
			<a href=" http://www.facebook.com/pages/Jornal-O-Dia/117320024968681" target="_blank" title="Facebook">
				<div id="facebook-icon" class="tool-icon"></div>
			</a>
			<div id="facebook-text" class="tool-text">
				<div id="facebook-hat" class="tool-hat">
					<a href=" http://www.facebook.com/pages/Jornal-O-Dia/117320024968681" target="_blank" title="Facebook">
						Facebook
					</a>
				</div>
				<div id="facebook-title" class="tool-title">
					<a href="http://www.facebook.com/pages/Jornal-O-Dia/117320024968681" target="_blank" title="Facebook">
						Fique amigo da gente!
					</a>
				</div>
			</div>
		</div>
		<div id="twitter-tool" class="tool">
			<a href="http://twitter.com/#!/jornalodia" target="_blank" title="Twitter">
				<div id="twitter-icon" class="tool-icon"></div>
			</a>
			<div id="twitter-text" class="tool-text">
				<div id="twitter-hat" class="tool-hat">
					<a href="http://twitter.com/#!/jornalodia" target="_blank" target="_blank" title="Twitter">
						Twitter
					</a>
				</div>
				<div id="twitter-title" class="tool-title">
					<a href="http://twitter.com/#!/jornalodia" target="_blank" title="Twitter">
						Siga o perfil<br />de O DIA
					</a>
				</div>
			</div>
		</div>
		<div id="instagram-tool" class="tool">
			<a href="http://web.stagram.com/n/odiaonline" target="_blank" title="Instagram">
				<div id="instagram-icon" class="tool-icon"></div>
			</a>
			<div id="instagram-text" class="tool-text">
				<div id="instagram-hat" class="tool-hat">
					<a href="http://web.stagram.com/n/odiaonline" target="_blank" title="Instagram">
						Instagram
					</a>
				</div>
				<div id="instagram-title" class="tool-title">
					<a href=" http://web.stagram.com/n/odiaonline" target="_blank" title="Fotos da nossa cobertura">
						Fotos da nossa cobertura
					</a>
				</div>
			</div>
		</div>
		<div id="news-tool" class="tool">
			<a href="http://odia.ig.com.br/noticia/rio-de-janeiro#conexaoleitor" title="Noticias">
				<div id="news-icon" class="tool-icon"></div>
			</a>
			<div id="news-text" class="tool-text">
				<div id="news-hat" class="tool-hat">
					<a href="http://odia.ig.com.br/noticia/rio-de-janeiro#conexaoleitor" target="_blank" title="Participe">
						Participe
					</a>
				</div>
				<div id="news-title" class="tool-title">
 					<a href="http://odia.ig.com.br/noticia/rio-de-janeiro#conexaoleitor" target="_blank" title="Envie sua notícia">
 					Envie a<br />sua notícia!
 					</a>
				</div>
			</div>
		</div>
		<div id="feed-tool" class="tool">
			<a href="http://odia.ig.com.br/portal/rss" target="_blank" title="Rss">
				<div id="feed-icon" class="tool-icon"></div>
			</a>
			<div id="feed-text" class="tool-text">
				<div id="feed-hat" class="tool-hat">
					<a href="http://odia.ig.com.br/portal/rss" target="_blank" title="Rss">
						Rss
					</a>
				</div>
				<div id="feed-title" class="tool-title">
					<a href="http://odia.ig.com.br/portal/rss" target="_blank" title="Rss">
						Assine o nosso feed
					</a>
				</div>
			</div>
		</div>
	</div>