
<div class="EJETOE00000">
	<div class="galeria-foto">
		<div class="galeria-foto-header">
			<div class="galeria-foto-header-top">
			</div>
			<div class="galeria-foto-header-name">
				<span class="left">foto</span>
				<span class="right">galerias</span>
			</div>
		</div>
		<div class="galeria-foto-img">
			<div class="destaque">
				<div class="foto-pos-destaque" id="foto-pos-01">
					<img src="" alt="" width="157" height="163"  />
	 			</div>
				<div class="foto-pos-destaque-layer">
					<a href="#">
						<span class="layer-texto"></span>
					</a>
				</div>
			</div>
			<div class="foto-pos-normal" id="foto-pos-02">
				<a href="#" title="">
					<img src="" alt="" width="152" height="81" />
 				</a>
 			</div>
			<div class="foto-pos-grande" id="foto-pos-03">
				<a href="#" title="">
					<img src="" alt="" width="306" height="80" />
				</a>
			</div>
			
			<div class="foto-pos-normal" id="foto-pos-04">
				<a href="#" title="">
					<img src="" alt="" width="152" height="81" />
				</a>
			</div>

			<div class="foto-pos-normal" id="foto-pos-05">
				<a href="#" title="">
					<img src="" alt="" width="152" height="81" />
 				</a>
 			</div>
			
			<div class="foto-pos-normal" id="foto-pos-06">
				<a href="#" title="">
					<img src="" alt="" width="152" height="81" />
				</a>
			</div>
		</div>
	</div>
</div>