<div class="retrospectiva-dados content-retrospectiva">
    <h1>Retrospectiva <strong>2015</strong></h1>

	<div class="meses" data-mes-atual="">
    	<ul>
        	<li><a href="#" title="Janeiro">JAN</a></li>
            <li><a href="#" title="Fevereiro">FEV</a></li>
            <li><a href="#" title="Março">MAR</a></li>
            <li><a href="#" title="Abril">ABR</a></li>
            <li><a href="#" title="Maio">MAI</a></li>
            <li><a href="#" title="Junho">JUN</a></li>
            <li><a href="#" title="Julho">JUL</a></li>
            <li><a href="#" title="Agosto">AGO</a></li>
            <li><a href="#" title="Setembro">SET</a></li>
            <li><a href="#" title="Outubro">OUT</a></li>
            <li><a href="#" title="Novembro">NOV</a></li>
            <li><a href="#" title="Dezembro">DEZ</a></li>
        </ul>
        <div class="clear"></div>
    </div><!--/.meses-->
    
    <div class="carrousel">
        <div id="galeria">
        		
                <ul>
                    <li>
                        <img src="" width="940" height="565" class="imagem-slide">
                        <span class="data">DIA<br /><span class="dia"></span></span>
                        <span class="legenda">
                            <span class="social">
                            
                                <a class="facebook-bt" target="_blank" href="javascript:window.location='http://www.facebook.com/sharer.php?u='+encodeURIComponent(document.querySelector('link[rel=\'canonical\']').href);">facebook</a>

                                <a class="twitter-bt" title="Compartilhe no Twitter">twitter</a>

                                <a class="g-bt" target="_blank">google plus</a>
                            </span>
                            <strong></strong><br />
                            <span class="guia-olho"></span>
                        </span>
                    </li>
                    
                </ul>
                <a id="voltar" href="javascript:void(0);"> < </a>
                <a id="avancar" href="javascript:void(0);"> > </a>
            </div>
            <a href="#leia-mais" class="leia-mais-bt" title="Leia notícias relacionadas">Leia Mais</a>
    </div><!--/.carrousel-->
        
</div><!--/#content-retrospectiva-->