<style>
.EJETOE00302{
	width: 300px;
	height: 265px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/spotted_background.png') repeat;
	margin: 15px 20px 15px 0px;
}

.EJETOE00302 .digital-edition-header{
	width: 300px;
	height: 45px;
	float: left;
	display: block;
	position: relative;
	background: url('http://s0.ejesa.ig.com.br/img/odia/digital-edition-header.png') no-repeat;
}

.EJETOE00302 .digital-edition-img{
	width: 145px;
	height: 195px;
	margin: 10px 15px 0px 10px;
	float: left;
	display: block;
	position: relative;
}

.EJETOE00302 .digital-edition-plus{
	width: 120px;
	height: 185px;
	margin-top: 10px;
	float: left;
	display: block;
	position: relative;
}
.EJETOE00302 .digital-edition-options{
	width: 120px;
	height: 100px;
	margin-top: 15px;
	float: left;
}
.EJETOE00302 .digital-edition-options .digital-edition-button{
	width: 120px;
	height: 25px;
	margin-bottom: 10px;
	float: left;
}
.EJETOE00302 .digital-edition-social{
	margin-top: 25px;
	width: 120px;
	height: 45px;
	float: left;
	padding-top: 5px;
}
.EJETOE00302 #digital-edition-twitter{
	width: 120px;
	height: 20px;
	margin-bottom: 5px;
}

.EJETOE00302 #digital-edition-facebook{
	width: 120px;
	height: 20px;
	margin-bottom: 5px;
}
</style>