<div class="EJETOE06106 ">

<div class="header-pan">

	<span>País</span>
	<span>T</span>
	<span>O</span>
	<span>P</span>
	<span>B</span>
	<span>M</span>

</div>

<ul>

	<li>
		<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/antigua-e-barbuda.png" />
		<strong>Argentina</strong>
		<span class="tabela-times-posicao">99</span>
		<span class="ouro mdl">99</span>
		<span class="prata mdl">99</span>
		<span class="bronze mdl">99</span>
		<span class="medalhas">99</span>
	</li>

</ul>
	<p><a href="http://odia.ig.com.br/esporte/PAN/">Confira a tabela completa</a></p>
	<style type="text/css">
	.EJETOE06106 {float: left;font-family: Arial; font-size: 14px;width: 300px; margin-bottom: 30px; margin-right: 20px;  margin-top: 15px;}
	.EJETOE06106 .header-pan {font-weight: bold; color: #fff;background: #669933; padding: 3px 0;}
	.EJETOE06106 .header-pan span {display: inline-block; width: 20px; text-align: center;}
	.EJETOE06106 .header-pan span:nth-child(1) {width: 175px; text-align: left; padding-left: 5px;}
	.EJETOE06106 ul {padding: 0px; margin: 0px;}
	.EJETOE06106 ul li {list-style: none; padding: 3px 0 0 0; border-bottom: 1px solid #cecece;}
	.EJETOE06106 ul li img {width: 30px;}
	.EJETOE06106 ul li span {width: 20px;display: inline-block; text-align: center; vertical-align: top; margin-top:4px; }
	.EJETOE06106 ul li strong {display: inline-block; width: 145px; position: relative; top: -5px;}
	.EJETOE06106 p a {color: #669933; font-weight: bold;}
	</style>
</div>
