<style>

.EJETOA01106 {
	margin: 15px 20px 15px 0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png') repeat;
	width: 940px;
	height: 175px;
	float: left;
}

.EJETOA01106 .editoria-noticia-cabecalho{
	width: 100%;
	height: 40px;
	float: left;
	display: block;
	position: relative;
	border-top: 1px solid #CC0000;
}

.EJETOA01106 .editoria-icones{
	width: 100%;
	height: 110px;
	padding-top: 10px;
	padding-bottom: 15px;
	float: left;
	display: block;
	position: relative;
}
.EJETOA01106 .icone {
	width: 90px;
	height: 115px;
	float: left;
	display: block;
	text-align: center;
}

.EJETOA01106 .icone a{
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color:#999;
}

.EJETOA01106 .icone > a:hover{
	color: #CC0000;
}

.EJETOA01106 #editoria-icone-rio{
	 background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1151px; 
	 width: 56px; 
	 height: 58px;
	 margin: 0 auto; 
	 margin-top: 15px;
}

.EJETOA01106 #editoria-icone-rio:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1210px; 
	width: 56px; 
	height: 58px;
}

.EJETOA01106 #editoria-icone-brasil{
	 background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -92px; 
	 width: 59px; 
	 height: 58px; 
	 margin: 0 auto;
 	 margin-top: 15px;
}

.EJETOA01106 #editoria-icone-brasil:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -151px; 
	width: 59px; 
	height: 58px;
}

.EJETOA01106 #editoria-icone-economia{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -294px; 
	width: 33px; 
	height: 54px;
	margin: 0 auto;
	margin-top: 19px;
}

.EJETOA01106 #editoria-icone-economia:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -349px; 
	width: 33px; 
	height: 54px;
}

.EJETOA01106 #editoria-icone-mundoeciencia{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -740px; 
	width: 60px; 
	height: 59px;
 	margin: 0 auto; 
 	margin-top: 14px;
}

.EJETOA01106 #editoria-icone-mundoeciencia:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -800px; 
	width: 60px; 
	height: 59px;
}

.EJETOA01106 #editoria-icone-educacao{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -404px; 
	width: 68px; 
	height: 53px; 
 	margin: 0 auto;
 	margin-top: 20px; 
}

.EJETOA01106 #editoria-icone-educacao:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -458px; 
	width: 68px; 
	height: 53px;
}
	
.EJETOA01106 #editoria-icone-opiniao{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1042px; 
	width: 79px; 
	height: 53px;
 	margin: 0 auto;
 	margin-top: 21px; 
}

.EJETOA01106 #editoria-icone-opiniao:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1096px; 
	width: 79px; 
	height: 53px;
}

.EJETOA01106 #editoria-icone-automania{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 0; 
	width: 77px; 
	height: 45px;
 	margin: 0 auto; 
	margin-top: 28px; 
}

.EJETOA01106 #editoria-icone-automania:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -46px; 
	width: 77px; 
	height: 45px;
}

.EJETOA01106 #editoria-icone-imoveis{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -626px; 
	width: 60px; 
	height: 56px;
 	margin: 0 auto; 
 	margin-top: 17px; 
}

.EJETOA01106 #editoria-icone-imoveis:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -683px; 
	width: 60px; 
	height: 56px;
}
	
.EJETOA01106 #editoria-icone-especiais{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -512px;
	width: 60px; 
	height: 56px;
	margin: 0 auto;
	margin-top: 17px;
}
.EJETOA01106 #editoria-icone-especiais:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -569px; 
	width: 60px; 
	height: 56px;
}

.EJETOA01106 .subeditoria-nome{
	width: 100%;
	height: 20px;
	margin-top: 6px;
	text-align: center;
}

.EJETOA01106 #editoria-mundoeciencia{
	width: 140px;	
}

.EJETOA01106 #editoria-opiniao{
	width: 120px;	
}

.EJETOA01106 #editoria-automania{
	width: 110px;	
}

.EJETOA01106 #editoria-imoveis{
	width: 100px;	
}

.EJETOA01106 #editoria-especiais{
	width: 100px;	
}
.EJETOA01106 .cabecalho-borda{
	width: 85px;
	margin-left: 20px;
	height: 10px;
	background-color: #CC0000;
}

.EJETOA01106 .cabecalho-titulo{
	width: 160px;
	height: 35px;
	margin-left: 20px;
	font-family: Arial;
	font-size: 22px;
	display: block;
	position: relative;	
}

.EJETOA01106 .inicio{
	color: #999;
	display: block;
	float: left;
}

.EJETOA01106 .fim{
	color: #CC0000;
	display: block;
	float: left;
}
</style>