.EJETOA03204r {
    position: relative;
    width: 633px;
    height: 54px;
    margin:15px 20px -70px 0;
}


.EJETOA03204r .corte-header {
    background: url('http://s0.ejesa.ig.com.br/img/odia/carnaval/corte_header_carnaval.jpg') no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 39px;
    left: -12px;
    z-index: 10;
}


.EJETOA03204r .header-carnaval {
    top: -15px;
    width: 633px;
    height: 54px;
    position: absolute;
    z-index: 9;
    left: -13px;
    background: url('http://s0.ejesa.ig.com.br/img/odia/carnaval/header_carnaval_2014.jpg') no-repeat;
    -webkit-box-shadow: 4px 20px 9px -11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 20px 9px -11px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 20px 9px -11px rgba(0, 0, 0, 0.4);
}