<div class="EJECLASS">
    <div id="placar_temporeal">

        <!-- Bread -->
        <div class="placar">
            <div class="rodada" id="rodada">Campeonato - </div>
            <div class="estadio" id="estadio">Estádio</div>
            <!--<div id="data">Data</div>-->
            <div class="resultado">


                <div class="nome timeA" id="timeAnome">Casa</div>
                <div class="escudo timeA" id="escudoA"></div>
                <div class="gols timeA" id="timeAgols">0</div>
                <div class="vs">X</div>
                <div class="gols timeB" id="timeBgols">0</div>
                <div class="escudo timeB" id="escudoB"></div>
                <div class="nome timeB" id="timeBnome">Visitante</div>
            </div>
            <div id="tempoRegulamentar">
                <p>disputa de pênaltis</p>
            </div>
            <div class="disputaPenaltis" id="disputaPenaltis">
                <div class="cobrancas">
                    <div class="penaltis" id="penaltisA">
                    </div>
                    <div class="gols" id="gols_pen_1">0</div>
                    <div class="vs"></div>
                    <div class="gols" id="gols_pen_2">0</div>
                    <div class="penaltis" id="penaltisB"></div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #placar_temporeal .placar {margin: 20px 0 0 0; display: block; width: 100%; position: relative;}
        #placar_temporeal .placar .rodada {font: 12px "Arial";color:#4b951c; clear: both; font-weight: bold; width: 300px;text-align: center;text-transform: uppercase;display: block; margin: 0 auto;}
        #placar_temporeal .placar .estadio {font: 12px "Arial"; display: block; color:#666666; text-align: center; color:#4b951c; font-weight: bold; text-transform: uppercase; }
        #placar_temporeal .placar .resultado{font-family: 'tituloEditoria-normal', arial, sans-serif ; display: block; background: url(http://s0.ejesa.ig.com.br/img/odia/esporte/bg_topo_tempo-real.png) repeat-x; position: relative; height: 56px; width: 100%; margin-top: 8px;}
        #placar_temporeal .placar .rodada {font: 12px "Arial";color:#4b951c; clear: both; font-weight: bold; width: 300px;text-align: center;text-transform: uppercase;display: block; margin: 0 auto;}
        #placar_temporeal .placar .estadio {font: 12px "Arial"; display: block; color:#666666; text-align: center; color:#4b951c; font-weight: bold; text-transform: uppercase; }
        #placar_temporeal .placar .resultado{font-family: 'tituloEditoria-normal', arial, sans-serif ; display: block; background: url(http://s0.ejesa.ig.com.br/img/odia/esporte/bg_topo_tempo-real.png) repeat-x; position: relative; height: 56px; width: 100%; margin-top: 8px;}
        #placar_temporeal .placar .escudo {float: left;width:92px;height: 92px;position: relative;top: -12px;}
        #placar_temporeal .placar .escudo img {height: 85px;}
        #placar_temporeal .placar .resultado .nome.timeA, #placar_temporeal .placar .resultado .nome.timeB {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;width:238px;font: 33px/30px 'tituloEditoria-normal', arial, sans-serif;color:#333;margin: 10px 0px 0px 0px; padding: 0 10px;}
        #placar_temporeal .placar .resultado .nome.timeA, #placar_temporeal .placar .resultado .gols.timeA, .escudo.timeA {text-align: right;}
        #placar_temporeal .placar .resultado .nome.timeB, #placar_temporeal .placar .resultado .gols.timeB, .escudo.timeB {text-align: left;}
        #placar_temporeal .placar .resultado .gols {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding: 0 6px ; float: left;width:55px;text-align: center;font-size: 33px;text-transform: lowercase;color: #333333;margin: 5px 0 0 0;font-weight: normal;}
        #placar_temporeal .placar .resultado .vs {float: left; width: 26px;height: 33px;font-size: 33px;text-transform: lowercase;color: #333333;font-weight: normal;text-align: center;margin-top: 5px;}
        #placar_temporeal .placar .resultado .nome.timeA {width: 310px;}
        #placar_temporeal .placar .resultado .nome.timeB {width: 300px;}
        #placar_temporeal .placar .resultado .nome.timeA, #placar_temporeal .placar .resultado .nome.timeB {}

        #tempoRegulamentar {float: left;color:#999999;width: 100%;display: none;}
        #tempoRegulamentar p {text-align: center;text-transform: uppercase;font: 10px "Arial";}
        #disputaPenaltis {float: left;width: 100%;display: none;}
        #disputaPenaltis .cobrancas{float: none;margin: 15px auto;width: 61px;height: 20px;}
        #disputaPenaltis .cobrancas .vs {float: left;width: 7px;height: 8px;margin-top: 5px;background: url(http://i0.statig.com.br/esporte/futebol/placarRT/vs2.jpg);}
        #disputaPenaltis .cobrancas .gols {float: left; width:25px;font: 24px/24px "Arial";color:#333;text-align: center;}
        #disputaPenaltis .cobrancas .penaltis {float: left;width: 235px;}
        #disputaPenaltis .cobrancas .penaltis .batida_gol{float: left;width: 11px;height: 11px;background: url(http://i0.statig.com.br/esporte/futebol/placarRT/penaltis.jpg) no-repeat;margin: 5px 2px 0px 4px;background-position: left;}
        #disputaPenaltis .cobrancas .penaltis .batida_erro{float: left;width: 11px;height: 11px;background: url(http://i0.statig.com.br/esporte/futebol/placarRT/penaltis.jpg) no-repeat;margin: 5px 2px 0px 4px;background-position: bottom;}
        #disputaPenaltis .cobrancas_1{float: right;}
    </style>
</div>