<div class="EJETOA04606">
		<div class="tabelaCopa">
            <a name="primeira-fase-copa" id="primeira-fase-copa"> </a>
			<div class="abasCopa" id="primeira-aba" style="display: block;">
				<h2>Primeira Fase</h2>
				<a href="#segunda-fase-copa"><span>Oitavas de Final »</span></a>
			</div>



			<ul class="tabelasGerais" style="display: block;">


        <li>
            <h3>Grupo A</h3>
            <table id="tabelaGrupoA" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Brasil</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Croária</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>México</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Camarões</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoA" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="A">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="A">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGA">
                    <tbody>

                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <h3>Grupo B</h3>
            <table id="tabelaGrupoB" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoB" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="B">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="B">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGB">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>

        <!-- ### -->

        <li>
            <h3>Grupo C</h3>
            <table id="tabelaGrupoC" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoC" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="C">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="C">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGC">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>


        <li>
            <h3>Grupo D</h3>
            <table id="tabelaGrupoD" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoD" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="D">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="D">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGD">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>


        <li>
            <h3>Grupo E</h3>
            <table id="tabelaGrupoE" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoE" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="E">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="E">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGE">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <h3>Grupo F</h3>
            <table id="tabelaGrupoF" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoF" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="F">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="F">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGF">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <h3>Grupo G</h3>
            <table id="tabelaGrupoG" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoG" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="G">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="G">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGG">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <h3>Grupo H</h3>
            <table id="tabelaGrupoH" class="tabelaPontuacao">
                <thead>
                    <tr>
                        <th colspan="2">Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Portugal</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Salsa</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meren</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Zapd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div id="rodadasGrupoH" class="tabelaRodadas" data-rodada="3">
                <div class="trocarRodadas"> <a href="#" class="ckact" data-acao="0" data-grupo="H">voltar</a>
                    <span class="text-rodada"></span>
                    RODADA
                    <a href="#" class="ckact" data-acao="1" data-grupo="H">frente</a>
                </div>
                <table class="tabelaJogos tabelaJogosGH">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </li>

        <!-- /### -->

    </ul>

    <br />
    <!-- Separação -->
    <br />
    <a name="segunda-fase-copa" id="segunda-fase-copa"> </a>
    <div class="abasCopa finais" style="display: block;">
        <a href="primeira-fase-copa" class="goPrimeirafase"> <span>« Primeira Fase</span>
        </a>
        <h2>Oitavas de Final</h2>
        <a href="javascript:void(0);"> <span>Quartas de Final »</span>
        </a>
    </div>
    <ul class="classificacaoFinal" style="display: block;">
        <li class="">
            <ul>
                <li class="p49"> <small style="margin-top: 54px;">28/06 - 13h00 - Mineirão</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo A</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo B</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 94px;">Q1</code>
                </li>
                <li class="p50"> <small style="margin-top: -1px;">28/06 - 13h00 - Mineirão</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo C</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo D</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 234px;">Q2</code>
                </li>
                <li class="p53"> <small style="margin-top: -1px;">30/06 - 17h00 - Nacional</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo E</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo F</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 337px;">Q3</code>
                </li>
                <li class="p54"> <small style="margin-top: -1px;">30/06 - 13h00 - Beira Rio</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo G</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo H</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 475px;">Q4</code>
                </li>
                <li class="p51"> <small style="margin-top: -2px;">29/06 - 13h00 - Castelão</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo B</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo A</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 578px;">Q5</code>
                </li>
                <li class="p52"> <small style="margin-top: -1px;">30/06 - 17h00 - Arena Pernambuco</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo D</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo C</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 715px;">Q6</code>
                </li>
                <li class="p55"> <small style="margin-top: -2px;">01/07 - 13h00 - Arena Corinthians</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo F</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo E</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 819px;">Q7</code>
                </li>
                <li class="p56"> <small style="margin-top: -1px;">01/07 - 17h00 - Fonte Nova</small>
                    <table>
                        <tr class="mdt">
                            <td>1º do grupo H</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>2º do grupo G</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 957px;">Q8</code>
                </li>
            </ul>
        </li>
        <li class="">
            <ul>
                <li class="p57"> <small style="margin-top: 115px;">04/07 - 17h00 - Castelão</small>
                    <table>
                        <tr class="mdt">
                            <td>Q1</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>Q2</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 156px;">S1</code>
                </li>
                <li class="p58"> <small style="margin-top: 145px;">04/07 - 13h00 - Maracanã</small>
                    <table>
                        <tr class="mdt">
                            <td>Q3</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>Q4</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 415px;">S2</code>
                </li>
                <li class="p59"> <small style="margin-top: 143px;">05/07 - 17h00 - Fonte Nova</small>
                    <table>
                        <tr class="mdt">
                            <td>Q5</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>Q6</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 639px;">S3</code>
                </li>
                <li class="p60"> <small style="margin-top: 144px;">05/07 - 13h00 - Nacional</small>
                    <table>
                        <tr class="mdt">
                            <td>Q7</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>Q8</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 895px;">S4</code>
                </li>
                <span class="chave" style="top: 110px;"></span>
                <span class="integracao" style="top: 171px;"></span>
                <span class="chave" style="top: 352px;"></span>
                <span class="integracao" style="top: 413px;"></span>
                <span class="chave" style="top: 593px;"></span>
                <span class="integracao" style="top: 653px;"></span>
                <span class="chave" style="top: 834px;"></span>
                <span class="integracao" style="top: 894px;"></span>
            </ul>
        </li>
        <li>
            <ul>
                <li class="p61"> <small style="margin-top: 236px;">08/07 - 17h00 - Mineirão</small>
                    <table>
                        <tr class="mdt">
                            <td>S1</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>S2</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 278px;">F1</code>
                </li>
                <li class="p62"> <small style="margin-top: 385px;">09/07 - 17h00 - Arena Corinthians</small>
                    <table>
                        <tr class="mdt">
                            <td>S3</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>S4</td>
                            <td></td>
                        </tr>
                    </table>
                    <code style="top: 776px;">F2</code>
                </li>
                <span class="chave" style="top: 171px; height: 241px;"></span>
                <span class="integracao" style="top: 292px;"></span>
                <span class="chave" style="top: 653px; height: 240px;"></span>
                <span class="integracao" style="top: 774px;"></span>
            </ul>
        </li>
        <li>
            <ul>
                <li class="p64"> <small style="margin-top: 477px;">Final - 13/07 - 16h00 - Maracanã</small>
                    <table>
                        <tr class="mdt">
                            <td>F1</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>F2</td>
                            <td></td>
                        </tr>
                    </table>
                </li>
                <li class="p63"> <small style="margin-top: 34px;">3º Lugar - 12/07 - 17h00 - Nacional</small>
                    <table>
                        <tr class="mdt">
                            <td>Perdedor S1 x S2</td>
                            <td></td>
                        </tr>
                        <tr class="vst">
                            <td>Perdedor S3 x S4</td>
                            <td></td>
                        </tr>
                    </table>
                </li>
                <span class="chave" style="top: 292px; height: 481px;"></span>
                <span class="integracao" style="top: 533px;"></span>
            </ul>
        </li>
    </ul>

  </div>

	<style type="text/css">
	/* topo copa */
	.EJETOA04606 {float: left;display: block;width: 940px; font-family: Arial, sans-serif;color: #3b3b3b;font-size: 12px;line-height: 1.4;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.EJETOA04606 .tabelaCopa {clear: both;display: block; float: none;}
	.EJETOA04606 .tabelaCopa a {text-decoration: none;}
	.EJETOA04606 .tabelaCopa ul, .EJETOA04606 .tabelaCopa ul li {list-style: none; margin: 0; padding: 0; }
	.EJETOA04606 .tabelaCopa table tr td, .EJETOA04606 .tabelaCopa table tr th {border-collapse: collapse; text-align: center;}
	.EJETOA04606 .tabelaCopa table tr, .EJETOA04606 .tabelaCopa table {border-collapse: collapse;}
	.EJETOA04606 .tabelaCopa table {color: #999999; font-size: 12px; font-family: Arial, sans-serif;}
	.EJETOA04606 .tabelaCopa .abasCopa {position: relative; z-index: 1; text-align: left; clear: both; float: none; height: 45px; border: solid 1px #d8d8d8 ; background-image: url(http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png); background-position: 0px 1px;}
	.EJETOA04606 .tabelaCopa .abasCopa a {right: 0px; position: absolute; top: 0px; background: #c9c9c9 url(http://s0.ejesa.ig.com.br/img/odia/brasileirao2013/nav_direita_rodadas.png) no-repeat 50% 50%; width: 15px;  height: 45px; display: block;  z-index: 10; cursor: pointer; padding: 0px; color: #333333; font-size: 14px;  }
	.EJETOA04606 .tabelaCopa .abasCopa a:first-child {left: 0px; background: #c9c9c9 url(http://s0.ejesa.ig.com.br/img/odia/brasileirao2013/nav_esquerda_rodadas.png) no-repeat 50% 50%; }
	.EJETOA04606 .tabelaCopa .abasCopa h2 {display: block; text-align: center;  position: relative; z-index: 1;  margin: 0 auto; color: #333333; font-size: 24px; margin-top: 5px; font-weight: bold;}
	.EJETOA04606 .tabelaCopa .abasCopa a span {display: block; width: 160px; position: absolute; right: 33px; text-align: right; top: 13px;}
	.EJETOA04606 .tabelaCopa .abasCopa a:first-child span{ text-align: left; right: auto; left: 32px;}
	/* primeira fase */
	.EJETOA04606 .tabelaCopa .tabelasGerais, .EJETOA04606 .tabelaCopa .tabelasGerais li {background: white; float: none; clear: both; display: block; overflow: hidden;}
	.EJETOA04606 .tabelaCopa .tabelasGerais h3 {position: relative; color: #669933; font-weight: bold; font-size: 24px; margin: 0; padding: 21px 0 12px 18px; line-height: 13px; display: block; clear: both; border-top: 1px solid #669933; margin-top: 50px; }
	.EJETOA04606 .tabelaCopa .tabelasGerais h3:after {position: absolute; content: " "; display: block; width: 87px; height: 7px; top: 0px; left: 16px; background: #669933;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao {width: 620px; height: 157px; margin-right: 20px; float: left;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao td, .EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao th { width: 30px; height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao td:nth-child(2) {width: 302px; text-align: left; padding-left: 20px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr:first-child td, .EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr:nth-child(2) td {color: #5a8f1b;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao thead th {font-weight: bold;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao thead th:first-child {text-align: left; padding-left: 20px; }
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr td:first-child {font-weight: bold; font-size: 16px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr td:nth-child(2) {font-size: 15px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr:first-child td:nth-child(3), .EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr:nth-child(2) td:nth-child(3) {font-weight: bold;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr td {border-bottom: 1px solid #ebebeb;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao thead th {border-bottom: 1px solid #d8d8d8;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr td:nth-child(odd), .EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao thead th:nth-child(even) {background: #f6f6f6 ;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao tbody tr td:first-child, .EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao thead th:first-child {background: #fff ;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaPontuacao {border: 1px solid #d8d8d8; border-bottom: 2px solid #d8d8d8; }
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas {float: left; width: 300px; overflow: hidden;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table {width: 300px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas .trocarRodadas {height: 30px; position: relative; text-align: center; color: #999999; font-weight: bold; float: none; clear: both; overflow: hidden; width: 300px; padding-top: 7px ; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; }
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas .trocarRodadas a {right: 0px; position: absolute; top: 0px; background: #c9c9c9 url(http://s0.ejesa.ig.com.br/img/odia/brasileirao2013/nav_direita_rodadas.png) no-repeat 50% 50%; width: 15px;  height: 30px; display: block;  z-index: 10; cursor: pointer; padding: 0px; color: #333333; font-size: 14px;  text-indent: -9999px; }
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas .trocarRodadas a:first-child {left: 0px; background: #c9c9c9 url(http://s0.ejesa.ig.com.br/img/odia/brasileirao2013/nav_esquerda_rodadas.png) no-repeat 50% 50%; }
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table tr th {border-bottom: 1px solid #d8d8d8; font-size: 10px;  font-weight: normal; text-align: center; padding: 2px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table tr td {padding-top: 5px; font-size: 20px; 	font-weight: bold; color: #333;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table tr td:nth-child(4) {font-size: 12.43px; font-weight: normal; }
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table tr td:nth-child(1) {text-align: right; padding-top: 7px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table tr td:nth-child(7) {text-align: left; padding-top: 7px;}
	.EJETOA04606 .tabelaCopa .tabelasGerais .tabelaRodadas table tr td img {}/*border-radius: 100px;width: 30px; height: 30px; */
	/* outras fases */
	.EJETOA04606 .tabelaCopa .classificacaoFinal {clear: both; width: 940px; height: 1024px; position: relative; background: transparent no-repeat; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 0 0 18px; font-size: 0px; }
	.EJETOA04606 .tabelaCopa .classificacaoFinal>li {width: 205px; display: inline-block; background: transparent; font-size: 10px; margin-right: 33px; position: relative; }
	.EJETOA04606 .tabelaCopa .classificacaoFinal li {vertical-align: top;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal>li:last-child {margin-right: 0px;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal table {float: none; display: block; width: 205px; height: 81px; margin: 2px 0 25px 0 ; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.EJETOA04606 .tabelaCopa .classificacaoFinal table tr td { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; text-align: left; padding-left: 14px; vertical-align: middle; font-size: 15px; color: #333; height: 40px; width: 166px;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal table tr td:last-child {width: 38px; text-align: center; padding-left: 0px; }
	.EJETOA04606 .tabelaCopa .classificacaoFinal .selected table tr td {background: #f6f6f6;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal small {display: block; font-size: 10px; font-weight: bold;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal code {display: block; font-size: 11px; font-weight: bold; position: absolute;  right: -16px; font-family: Arial, sans-serif;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal .chave {width: 16px; height: 120px; content: ""; display: block; position: absolute; left: -33px; top: 0px; border: 1px solid #dadada; border-left: 0px none; }
	.EJETOA04606 .tabelaCopa .classificacaoFinal .integracao {width: 17px; height: 16px; display: block; position: absolute; left: -17px; top: 0px; border-top: 1px solid #dadada;}
	.EJETOA04606 .tabelaCopa .classificacaoFinal .selected .integracao, .EJETOA04606 .tabelaCopa .classificacaoFinal .selected .chave {border-color: black;}
    #main {background-color: transparent;}
    #container {background-color: transparent;}
    #content {padding-top: 20px;}
    #subarea24 {display: none;}

    .EJETOA04606 .jogos-rodadas sub{font-size:11px;float:left;margin-top:10px;}
    .EJETOA04606 .jogos-rodadas .golstimeA sub{float:right!important;}
	</style>

</div>
