
<div class="EJETOA01006">
	<div class="editoria-esportes-cabecalho">
		<div class="cabecalho-borda">
		</div>
		<div class="cabecalho-titulo">
			<span class="inicio">outras</span>
			<span class="fim">editorias</span>
		</div>
	</div>
	<div class="editoria-icones">
		<div class="icone">
			<a href="/esporte/botafogo/" title="Botafogo">
				<div id="editoria-icone-botafogo" >
				</div>
				<div class="subeditoria-nome">
					Botafogo
				</div>
			</a>
		</div>
		<div class="icone">
			<a href="/esporte/flamengo/" title="Flamengo">
				<div id="editoria-icone-flamengo">
				</div>
				<div class="subeditoria-nome">
					Flamengo
				</div>
			</a>
		</div>
		<div class="icone">
			<a href="/esporte/fluminense/" title="Fluminense">
				<div id="editoria-icone-fluminense">
				</div>
				<div class="subeditoria-nome">
				Fluminense
				</div>
			</a>
		</div>
		<div class="icone">
			<a href="/esporte/vasco/" title="Vasco">
				<div id="editoria-icone-vasco">
				</div>
				<div class="subeditoria-nome"> Vasco
				</div>
			</a>
		</div>
		<div class="icone">
			<a href="/esporte/especiais/" title="Especiais">
				<div id="editoria-icone-especiais">
				</div>
				<div class="subeditoria-nome"> Especiais
				</div>
			</a>
		</div>
	</div>
</div>