
<div class="EJETOE00404">
	<div class="form-header-conexao">
		<div class="form-conexoes off on" id="form-cam-conexao"> 
			<div class="form-cam-conexao-img on">
			</div>
			<div class="form-text form-cam-conexao-text on">
				<a href="#" title=""> 
					<span class="top">Envie </span>
					<span class="bottom">fotos</span>
				</a>
			</div>
		</div>
		<div class="form-conexoes off" id="form-video-conexao"> 
			<div class="form-video-conexao-img off">
			</div>
			<div class="form-text form-video-conexao-text off" >
				<a href="#" title=""> 
					<span class="top">Envie </span>
					<span class="bottom">vídeos</span>
				</a>
			</div>
		</div>
		<div class="form-conexoes off" id="form-textos-conexao"> 
			<div class="form-textos-conexao-img off">
			</div>
			<div class="form-text form-textos-conexao-text off">
				<a href="#" title="">
					<span class="top">Envie </span>
					<span class="bottom">textos</span>
				</a>
			</div>
		</div>
	</div>


	<div class="form-conexao" id="form-cam-conexao-div">
		<div class="form-indicador" id="form-indicador-cam">
		</div>
		<div class="form-info">
			<span>
				Flagrou alguma cena curiosa ou problema na cidade? Faça fotos com sua maquina ou celular e mande para o conexao leitor preenchendo o formulario abaixo. Nele, é importante não deixar de mencionar o endereço eletrônico e o telefone de contato corretos. Caso haja interesse, a equipe do Conexao Leitor pode entrar em contato com você antes de publicar o material enviado
			</span>
		</div>
		<div id="form-envio">
			<form method="post" enctype="multipart/form-data" action="/portal/conexaoleitor/envio" class="frm" name="photo-form" id="photo-form" accept-charset="UTF-8">
			 	<input type="hidden" id="numArquivos"  name="numArquivos" value="1" />
				<label for="nome"> 
					<input type="text" id="nome" name="nome" value="Seu nome" onClick="javascript:this.value = '' "/>
				</label>
				<label for="email">
					<input type="text" id="email" name="email" value="Seu email" onClick="javascript:this.value = ''"/>
				</label>
				<label for="telefone"> 
					<input type="text" id="telefone" name="telefone" value="Seu telefone" onClick="javascript:this.value = ''"/>
				</label>

				<textarea id="descricao" name="descricao" onClick="javascript:this.value = ''">Descrição</textarea>
			
				<div style="float:right; width:265px">
					<div class="form-text-arquivo" id="arquivo1" name="arquivo1">
						<div class="tipo-arquivo">
		        		    <input type="file" class="realupload" name="FileUpload" id="arquivo1" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
				</div>

					<div style="float:right; width:265px">
				     <div class="form-text-arquivo" id="arquivo2" name="arquivo2">
						<div class="tipo-arquivo">
		        		    <input type="file" class="realupload" name="FileUpload" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
				 </div>
				 
				<div style="float:right; width:265px">
				     <div class="form-text-arquivo" id="arquivo3" name="arquivo3">
						<div class="tipo-arquivo">
		        		    <input type="file" class="realupload" name="FileUpload" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
				 </div>
				 
				<div style="float:right; width:265px">
				     <div class="form-text-arquivo" id="arquivo4" name="arquivo4">
						<div class="tipo-arquivo" >
		        		    <input type="file" class="realupload" name="FileUpload" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
				</div>
				

				<div style="float:right; width:265px">
				     <div class="form-text-arquivo" id="arquivo5">
						<div class="tipo-arquivo" >
		        		    <input type="file" class="realupload" name="FileUpload" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
			     </div>
				<div class="form-info-atencao">
					<span class="form-adicionar-midia" onClick="javascript:addMidia()" style="font-weight:bold"> >> Adicionar mais fotos </span>
					<span style="font-weight:bold; text-transform:uppercase">atenção </span>
					<span> Arquivos JPG, GIF ou PNG, com o tamanho máximo de 1mb cada uma. Para adicionar mais de uma foto clique no link "adicionar mais fotos".Serão permitidas no máximo 5 fotos, totalizando 5MB.</span>
				</div>
				<div class="div-checkbox">
					<label for="autorizacao" > 
						<span class="span-checkbox"> 
							<span class="span-checkbox marked"></span>
						</span>
						<input type="checkbox" id="autorizacao" name="autorizacao"/>
						<span style="text-transform:uppercase; font-weight:bold; padding-left:30px; display:block; padding-top:3px">Termo de Responsabilidade</span>
						<span> Autorizo a publicação de foto e texto pelos jornais O Dia, Meia Hora e O Dia Online</span>
					</label>
				</div>
				<div id="div-envio">
					<img src="http://s0.ejesa.ig.com.br/img/odia/submit-button.png" id="submit_photo" />
				</div>
			</form>
		</div>
	</div>

	<div class="form-conexao" id="form-video-conexao-div" style="display:none">
			<div class="form-indicador" id="form-indicador-video">
		</div>
		<div class="form-info">
			<span>
				Flagrou alguma cena curiosa ou problema na cidade? Faça fotos com sua maquina ou celular e mande para o conexao leitor preenchendo o formulario abaixo. Nele, é importante não deixar de mencionar o endereço eletrônico e o telefone de contato corretos. Caso haja interesse, a equipe do Conexao Leitor pode entrar em contato com você antes de publicar o material enviado
			</span>
		</div>
		<div id="form-envio">
			 <form method="post" enctype="multipart/form-data" action="/portal/conexaoleitor/envio" class="frm" name="video-form" id="video-form" accept-charset="UTF-8">
				<input type="hidden" id="numArquivos" name="numArquivos" value="1" />
				<label for="nome"> 
					<input type="text" id="nome" name="nome" value="Seu nome" onClick="javascript:this.value = ''"/>
				</label>
				<label for="email">
					<input type="text" id="email" name="email" value="Seu email" onClick="javascript:this.value = ''"/>
				</label>
				<label for="telefone"> 
					<input type="text" id="telefone" name="telefone" value="Seu telefone" onClick="javascript:this.value = ''"/>
				</label>

				<textarea id="descricao" name="descricao" value="Descrição" onClick="javascript:this.value = ''"></textarea>
			
			
				<div style="float:right; width:265px">
					<div class="form-text-arquivo" id="arquivo1">
						<div class="tipo-arquivo">
		        		    <input type="file" class="realupload" name="FileUpload" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
				</div>
				<div class="form-info-atencao">
					<span style="font-weight:bold; text-transform:uppercase">atenção </span>
					<span> Somente serão aceitos arquivos com extensão MOV, AVI, MPEG, MPG, WMV ou FLV com tamanho até 15 megabytes. Se necessário, você pode comprimir o arquivo usando programas de compressão como o WinZip ou BraZip..</span>
				</div>
				<div class="div-checkbox">
					<label for="autorizacao" > 
						<span class="span-checkbox"> 
							<span class="span-checkbox marked"></span>
						</span>
						<input type="checkbox" id="autorizacao" name="autorizacao"/>
						<span style="text-transform:uppercase; font-weight:bold; padding-left:30px; display:block; padding-top:3px">Termo de Responsabilidade</span>
						<span> Autorizo a publicação de foto e texto pelos jornais O Dia, Meia Hora e O Dia Online</span>
					</label>
				</div>
				<div id="div-envio">
					<img src="http://s0.ejesa.ig.com.br/img/odia/submit-button.png" id="submit_video" />
				</div>
			</form>
		</div>
	</div>


	<div class="form-conexao" id="form-textos-conexao-div" style="display:none">
			<div class="form-indicador" id="form-indicador-textos">
		</div>
		<div class="form-info">
			<span>
				Sua informação, reclamação ou denúncia pode virar notícia. Escreva para oconexão leitor preenchendo o formulário abaixo. Nele, é importante não deixar de mencionar o endereço eletrônico e o telefone de contato corretos. Caso haja interesse, a equipe do Conexão Leitor pode entrar em contato com você antes de publicar o material enviado
			</span>
		</div>
		<div id="form-envio">
			<form method="post" enctype="multipart/form-data" action="/portal/conexaoleitor/envio" class="frm" name="text-form" id="text-form" accept-charset="UTF-8">
			 	<input type="hidden" id="numArquivos" name="numArquivos" value="1" />
				<label for="nome"> 
					<input type="text" id="nome" name="nome" value="Seu nome" onClick="javascript:this.value = ''"/>
				</label>
				<label for="email">
					<input type="text" id="email" name="email" value="Seu email" onClick="javascript:this.value = ''"/>
				</label>
				<label for="telefone"> 
					<input type="text" id="telefone" name="telefone" value="Seu telefone" onClick="javascript:this.value = ''"/>
				</label>

				<textarea id="descricao" name="descricao" value="Descrição" onClick="javascript:this.value = ''"></textarea>
			
			
				<div style="float:right; width:265px">
					<div class="form-text-arquivo" id="arquivo1">
						<div class="tipo-arquivo">
		        		    <input type="file" class="realupload" name="FileUpload" id="arquivo1" onchange="this.form.fakeupload.value = this.value;">
						</div>
					    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" readonly>
				     </div>
				</div>
				<div class="div-checkbox">
					<label for="autorizacao" > 
						<span class="span-checkbox"> 
							<span class="span-checkbox marked"></span>
						</span>
						<input type="checkbox" id="autorizacao" name="autorizacao"/>
						<span style="text-transform:uppercase; font-weight:bold; padding-left:30px; display:block; padding-top:3px">Termo de Responsabilidade</span>
						<span> Autorizo a publicação de foto e texto pelos jornais O Dia, Meia Hora e O Dia Online</span>
					</label>
				</div>
				<div id="div-envio">
					<img src="http://s0.ejesa.ig.com.br/img/odia/submit-button.png" id="submit_content" />
				</div>
			</form>
		</div>
	</div>
</div>

