<div class="EJETOA03404" data-turno="">
	<nav>
		<ul>
			<li class="active"><a href="javascript:void(0)" class="presidente aba-presidente">Presidente</a></li>
			<li ><a href="javascript:void(0)" class="governador aba-governador">Governador</a></li>
			<li style="display: none;"><a href="javascript:void(0)" class="senador aba-senador">Senador</a></li>
			<li style="display: none;"><a href="javascript:void(0)" class="depfederal aba-depfederal">Dep. Federal</a></li>
			<li style="display: none;"><a href="javascript:void(0)" class="depestadual aba-depestadual">Dep. Estadual</a></li>
		</ul>
	</nav>
	<div class="presidente contagem-parcial" style="display: block;">
		<div class="localizacao">
            <img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/bra.jpg">
            Brasil
        </div>
		<ul >

		</ul>
		<div class="contagem">
            <ul>

            </ul>
        </div>
	</div>
	<div class="governador contagem-parcial" style="display: none;">

		<div class="localizacao">
            <img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/rio.jpg">
            Rio de Janeiro
        </div>
		<ul >

		</ul>
		<div class="contagem">
            <ul>

            </ul>
        </div>

	</div>
	<div class="senador contagem-parcial-lista" style="display: none;">
		<div class="localizacao">
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/rio.jpg">
				Rio de Janeiro
		</div>
		<div class="header-top-list">
			<ul>
				<li>candidatos</li>
				<li>% válidos</li>
				<li>votos</li>
			</ul>
		</div>
		<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
		<ul>
		</ul>
		<div class="footer-top-list">

		</div>
	</div>
	<div class="deputadofederal depfederal contagem-parcial-lista" style="display: none;">

		<div class="localizacao">
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/rio.jpg">
				Rio de Janeiro
		</div>
		<div class="header-top-list">
			<ul>
				<li>candidatos</li>
				<li>% válidos</li>
				<li>votos</li>
			</ul>
		</div>
		<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
		<ul>
		</ul>
		<div class="footer-top-list">

		</div>

	</div>
	<div class="deputadoestadual depestadual contagem-parcial-lista" style="display: none;">

		<div class="localizacao">
				<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/rio.jpg">
				Rio de Janeiro
		</div>
		<div class="header-top-list">
			<ul>
				<li>candidatos</li>
				<li>% válidos</li>
				<li>votos</li>
			</ul>
		</div>
		<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif" class="ldg">
		<ul>
		</ul>
		<div class="footer-top-list">

		</div>

	</div>

	<nav class="apuracao-completa">
		<a href="http://odia.ig.com.br/eleicoes2014/apuracao/">clique e veja a <strong>apuração completa »</strong></a>
	</nav>

	<style type="text/css">
		.EJETOA03404 {position: relative; width: 620px; float: left; font-family: Arial, sans-serif; color: #333; /* height: 401px; */ letter-spacing: -1px;  /* background: transparent url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/ajax-loader.gif') no-repeat 50% 50%; */}
		.EJETOA03404 nav ul {margin: 0px; padding: 0px; background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/border-nav.jpg') repeat-x 0px 48px; height: 50px; padding-left: 20px;}
		.EJETOA03404 nav ul li {list-style: none; display: block; float: left;  margin: 0px; padding: 0px; overflow: hidden; }
		.EJETOA03404 nav ul li a {display: block; width: 118px; height: 46px; text-decoration: none; background: transparent url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/aba-down.jpg') repeat-x 0 -4px; font-size: 12px; color: #8a8a8a; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 15px; margin-top: 4px;  border-right: 1px solid #ddd; text-transform: uppercase;}
		.EJETOA03404 nav ul li:first-child a {border-left: 1px solid #ddd;}
		.EJETOA03404 nav ul li a:hover {opacity: 0.9;}
		.EJETOA03404 nav ul li.active a {-webkit-text-stroke: 0px; background: transparent url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/aba-up.jpg') repeat-x 0 0px; height: 50px; margin-top: 0px;  color: #569820; font-size: 15px; font-weight: bold; padding-top: 18px; }
		.EJETOA03404>div {overflow: hidden; height: 190px;}
		.EJETOA03404 .contagem-parcial ul, .EJETOA03404 .contagem-parcial ul li {list-style: none; margin: 0px; padding: 0px;}
		.EJETOA03404 .contagem-parcial ul li {float: left;}
		.EJETOA03404 .contagem-parcial>ul>li {border-bottom: 1px solid #e5e5e5; background: transparent ; }
		.EJETOA03404 .localizacao {height: 38px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; letter-spacing: 0px; padding: 10px 0; text-transform: uppercase; color: #333; border-bottom: 1px solid #333;  }
		.EJETOA03404 .localizacao img {width: 20px; height: 13px;}
		.EJETOA03404 .contagem-parcial .candidato { width: 235px;}
		.EJETOA03404 .contagem-parcial .candidato img {width: 53px; height: 53px; border-radius: 200px; border: 1px solid #569820; float: left; margin: 10px 7px 7px 0;}
		.EJETOA03404 .contagem-parcial .candidato h4 {margin: 15px 0 0 0; text-transform: uppercase; font-weight: normal; font-size: 16px; }
		.EJETOA03404 .contagem-parcial .candidato h4 span {font-weight: bold; }
		.EJETOA03404 .contagem-parcial .candidato small {font-size: 14px;}
		.EJETOA03404 .contagem-parcial .progresso {width: 245px;}
		.EJETOA03404 .contagem-parcial .progresso .barra-de-progresso {height: 13px; background: #e9e9e9; border: 1px solid #d7d8d6; display: block; margin: 15px 0 5px 0; }
		.EJETOA03404 .contagem-parcial .progresso .barra-de-progresso .total-progresso {height: 13px; background: #569820; display: block;}
		.EJETOA03404 .contagem-parcial .progresso .badge {text-transform: uppercase; -webkit-text-stroke: 0px; display: inline-block; margin-right: 6px; color: #fff; font-size: 10px; background: #569820; padding: 2px 5px; border-radius: 2px;}
		.EJETOA03404 .contagem-parcial .progresso .badge.eleito {background: #3b8cee ;}
		.EJETOA03404 .contagem-parcial .percentagem {width: 140px; padding: 13px 0 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center;  color: #569820 ;}
		.EJETOA03404 .contagem-parcial .percentagem span {display: block; font-size: 28px; font-weight: bold;}
		.EJETOA03404 .contagem-parcial .percentagem small {display: block; font-size: 14px;}
		.EJETOA03404 .contagem-parcial>ul>li + li .candidato img {border: 1px solid #569820;}
		.EJETOA03404 .contagem-parcial>ul>li + li .progresso .barra-de-progresso .total-progresso {background:#569820; }
		.EJETOA03404 .contagem-parcial>ul>li + li .percentagem {color: #569820;}
		.EJETOA03404 .contagem-parcial>ul>li + li + li .candidato img {border: 1px solid #c11d0b;}
		.EJETOA03404 .contagem-parcial>ul>li + li + li .progresso .barra-de-progresso .total-progresso {background:#c11d0b; }
		.EJETOA03404 .contagem-parcial>ul>li + li + li .percentagem {color: #c11d0b;}
		.EJETOA03404 .contagem-parcial .contagem ul {width: 620px; padding: 9px 0; overflow: hidden;}
		.EJETOA03404 .contagem-parcial .contagem ul li {float: left; display: block; -webkit-text-stroke: 0px; width: 20%; text-align: center; border-right: 1px solid #e5e5e5 ; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
		.EJETOA03404 .contagem-parcial .contagem ul li:last-child {border-right: 0px none transparent ;}
		.EJETOA03404 .contagem-parcial .contagem ul small {display: block; color: #3b3b3b; font-size: 11px; font-weight: normal;}
		.EJETOA03404 .contagem-parcial .contagem ul span {display: block; color: #000; font-weight: bold; font-size: 14px;}
		.EJETOA03404 .contagem-parcial-lista {height: 308px; overflow-y: scroll; border-bottom: 1px solid #333;}
		.EJETOA03404 .contagem-parcial-lista::-webkit-scrollbar {width: 12px;}
		.EJETOA03404 .contagem-parcial-lista::-webkit-scrollbar-track {background: #eee;}
		.EJETOA03404 .contagem-parcial-lista::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.8);}
		.EJETOA03404 .contagem-parcial-lista::-webkit-scrollbar-thumb:window-inactive {background: rgba(0,0,0,0.4);}
		.EJETOA03404 .contagem-parcial-lista>ul{min-height:30px;}
		.EJETOA03404 .contagem-parcial-lista ul, .EJETOA03404 .contagem-parcial-lista ul li {padding: 0; margin: 0 ; list-style: none; display: block;}
		.EJETOA03404 .contagem-parcial-lista ul {clear: both;}
		.EJETOA03404 .contagem-parcial-lista ul li ul li {float: left; padding: 8px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 325px; background: white; border-bottom: 1px solid #e6e6e6; font-size: 14px; color: #3b3b3b;}
		.EJETOA03404 .contagem-parcial-lista ul li ul li + li {width: 110px; text-align: center;}
		.EJETOA03404 .contagem-parcial-lista ul li ul li + li +li {width: 170px; text-align: center;}
		.EJETOA03404 .contagem-parcial-lista div.header-top-list {color: #3b3b3b; font-size: 14px; background: #f4f4f4; overflow: hidden;}
		.EJETOA03404 .contagem-parcial-lista div.header-top-list ul li {display: inline-block; padding: 20px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 320px;}
		.EJETOA03404 .contagem-parcial-lista div.header-top-list ul li + li {width: 110px; text-align: center;}
		.EJETOA03404 .contagem-parcial-lista div.header-top-list ul li + li +li {width: 170px; text-align: center;}
		.EJETOA03404 .contagem-parcial-lista div.header-top-list ul li {background: #f4f4f4;}
		.EJETOA03404 .contagem-parcial-lista div.footer-top-list {color: #3b3b3b; font-size: 11px; padding: 10px 0;clear: both; }
		.EJETOA03404 .apuracao-completa {padding: 10px 0; border-bottom: 3px solid #333;float: none; clear: both; height: auto;}
		.EJETOA03404 .apuracao-completa a {text-decoration: none; font-size: 16px; color: #333; position: absolute; top: 17px; right: 0px; }
		.EJETOA03404 .apuracao-completa a:hover {text-decoration: underline;}
		.EJETOA03404 img.ldg{margin:6px 0 10px 10px;position:absolute;display:block;}
	</style>

</div>
