<div class="EJETOA03304" data-turno="" data-abrangenciainicial="">
	<h3>Apuração</h3>
	<div class="porcentagem-arrecadado">
		<span class="porcentagem-total"></span>
		<p>
			<span></span>das seções apuradas.
		</p>
	</div>
	<small>
		<span class="atualizacao">
			<img src="http://s0.ejesa.ig.com.br/img/odia/eleicoes/update.jpg">Atualizado às
			<span></span>
		</span>
		<span class="legenda">Fonte: TSE - Tribunal Superior Eleitoral</span>
	</small>
	<style type="text/css">
		.EJETOA03304 {width: 620px; float: left; font-family: Arial, sans-serif; color: #333; height: 180px; letter-spacing: -1px; -webkit-text-stroke: .5px; }
		.EJETOA03304 h3 {font-weight: bold; font-size: 22px; padding: 10px 0; text-transform: uppercase; border-bottom: 3px solid #333; display: block; }
		.EJETOA03304 .porcentagem-arrecadado {position: relative; height: 24px;  background: #e9e9e9; border: 1px solid #d5d6d4;}
		.EJETOA03304 .porcentagem-arrecadado .porcentagem-total {width: 0%; position: absolute; height: 24px; background: #569820; z-index: 2; }
		.EJETOA03304 .porcentagem-arrecadado p {-webkit-text-stroke: 0px; position: absolute; top: 1px; margin: 0px; font-size: 14px; color: #fff; z-index: 3;}
		.EJETOA03304 .porcentagem-arrecadado p span { font-size: 17px; display: inline-block; margin: 0px 2px; position: relative; top: 2px;}
		.EJETOA03304 small {color: #3b3b3b; font-size: 11px; display: block; height: 20px; -webkit-text-stroke: 0px; }
		.EJETOA03304 small>span {height: 20px;}
		.EJETOA03304 small .atualizacao {float: left;}
		.EJETOA03304 small .atualizacao img {position: relative; top: 5px; margin-right: 5px;}
		.EJETOA03304 small .legenda {float: right; margin-top: 8px;}
		.EJETOA03304 .ldg{margin-top:6px;position:absolute;margin-left:10px;display:block;}
	</style>
</div>
