
<div class="EJETOA01206">
	<div class="editoria-noticia-cabecalho">
		<div class="cabecalho-borda">
		</div>
		<div class="cabecalho-titulo">
			<span class="inicio">veja</span>
			<span class="fim">também</span>
		</div>
	</div>
	<div class="editoria-icones" >
		<div class="icone">
			<a href="/noticia/especiais/" title="Especiais de Notícias">
				<div id="editoria-icone-especiais-noticias" >
				</div>
				<div class="subeditoria-nome" id="subeditoria-nome-noticia">
					<span class="top">Especiais de </span>
					<span class="bottom"> Notícias</span>
				</div>
			</a>
		</div>
		<div class="icone" >
			<a href="/diversao/especiais/" title="Especiais de Diversão">
				<div id="editoria-icone-especiais-diversao">
				</div>
				<div class="subeditoria-nome" id="subeditoria-nome-diversao">
					<span class="top">Especiais de  </span>
					<span class="bottom"> Diversão</span>
				</div>
			</a>
		</div>
		<div class="icone" >
			<a href="/esporte/especiais/" title="Especiais de Esportes">
				<div id="editoria-icone-especiais-esportes">
				</div>
				<div class="subeditoria-nome" id="subeditoria-nome-esporte">
					<span class="top">Especiais de </span>
					<span class="bottom"> Esporte</span>
				</div>
			</a>
		</div>
	</div>
</div>