.EJETOE00604 #carousel-opiniao {
  border-top:1px solid #cc0000; 
  width:620px; 
  padding-bottom:24px; 
//  background:url(../images/sombra_carousel-opiniao.jpg) no-repeat center bottom;
}

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header { 
     background:url("http://s0.ejesa.ig.com.br/img/odia/bg_product.png") repeat;
}

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header .carousel-opiniao-header-top{
    margin-left:15px; 
    padding: 16px 0 16px; 
    display:inline-block; 
    width: 600px;  
    height: 48px;
  }

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header .carousel-opiniao-header-top .left {
    display: inline-block;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 21px;
    margin-right: 145px;
    width: 200px;
}

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header .carousel-opiniao-header-top .left .top {
    font-weight: bold;
    font-size: 33px;
    font-family: Arial Black;
    text-transform: uppercase;
    letter-spacing:-3px; 
    float: left;

}

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header .carousel-opiniao-header-top .left .bottom{
    float: left;
    font-family:Arial, Helvetica, sans-serif; 
    font-weight:normal; 
    text-transform:uppercase; 
    color:#333333;
    letter-spacing:-1px; 
    font-size:22px; 
    line-height:21px; 
    margin-top: 5px;
   
}

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header .carousel-opiniao-header-top .right {
    float: right;
    text-transform: uppercase;
    font-size: 12.5px;
    font-family: Arial;
    display: block;
    width: 250px;
    height: 20px;
    padding-top: 15px;

}

.EJETOE00604 #carousel-opiniao .carousel-opiniao-header h3 span {
    font-family:"Arial Black", Gadget, sans-serif; 
    font-size:33px;
    letter-spacing:-3px;
}

.EJETOE00604 .carousel-container {
    position:relative;
    width:620px;
    top:-38px;
}

.EJETOE00604 #carousel {
    height:224px;
    width:620px;
    position:relative;
    margin-bottom:0;
    font-size:12px;
    font-family: Arial;
}

.EJETOE00604 .carousel-image {
  border:0;
  display:block;
}

.EJETOE00604 .carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
}

.EJETOE00604 .carousel-feature .carousel-caption {
  position:absolute;
  top:52px;
  width:35%;
  margin-left:5px;
}

.EJETOE00604 .carousel-feature .carousel-caption p {
  margin:0;
  font-weight:normal;
  font-size:14px;
  color:#ca0000;
}
.EJETOE00604 .tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  display: none;
  background-color:#000;
}

.EJETOE00604 .tracker-individual-container {
  position:absolute;
  color:white;
  width:594px;
  top:212px;
  padding:15px;
  margin:0;
  background:url(../images/bg_dias-colunistas-do-dia.gif) repeat;
  font-size:17px;
  text-transform: uppercase;
}

.EJETOE00604 .tracker-individual-container li {
  list-style:none;
}

.EJETOE00604 .tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  font-weight:bold;
  opacity:0.5;
}

.EJETOE00604 .tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  opacity:1;
}

.EJETOE00604 #carousel-left {
  position:absolute;
  bottom:65px;
  left:0;
  cursor:pointer;
  background:url("http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png") no-repeat scroll left -1088px transparent;
  width:42px;
  height:74px;
  text-indent:-999999999px;
}

.EJETOE00604  #carousel-left:hover {
  background:url("http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png") no-repeat scroll left -1162px transparent;

}

.EJETOE00604 #carousel-right {
  position:absolute;
  bottom:65px;
  right:0;
  cursor:pointer;
  background:url("http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png") no-repeat scroll left -938px transparent;
  width:42px;
  height:74px;
  text-indent:-999999999px;
}

.EJETOE00604 #carousel-right:hover {
  background:url("http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png") no-repeat scroll  left -1014px transparent;
}

.EJETOE00604 .header-color{
  width: 87px;
  height: 7px;
  margin-left: 15px;
  float: left;
  background-color: #cc0000;
}