<div class="EJETOA04402" >
	<input type="hidden" name="enqueteid" id="enqueteid" value="">
	<input type="hidden" name="enqueteopcao1" id="enqueteopcao1" value="">
	<input type="hidden" name="enqueteopcao2" id="enqueteopcao2" value="">

	<div class="componente-enquete">
		<h2>enquete</h2>
	</div>
	<div class="enquete-pergunta">
		<h3>Pergunta?</h3>
	</div>
	<div class="comparador">

		<ul >
			<li class="votar">
				<h4 id="vote-p-a">resposta 1</h4>
				<span>
					<span id="nmb-vote-a" class="quantidade-votos">--</span>
					votos
				</span>
				<a href="javascript:void(0);" id="vt1" onclick="">votar</a>
			</li>

			<li class="votar">
				<h4 id="vote-p-b">resposta 2</h4>
				<span>
					<span id="nmb-vote-b" class="quantidade-votos">--</span>
					votos
				</span>
				<a href="javascript:void(0);" id="vt2" onclick="">votar</a>
			</li>
		</ul>

	</div>
	<div id="recaptcha_div"></div>
	<pre id="display1"></pre>
	<pre id="display2"></pre>
	<pre id="display3"></pre>
	<pre id="display4"></pre>
	<style type="text/css">
		.EJETOA04402 {float:left;font-family: Arial, sans-serif; text-align: left; position: relative;width: 620px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0 15px;border-top: 1px solid #174f82;background: #f5f5f5;display: block; margin-bottom: 30px;}
		.EJETOA04402 .componente-enquete h2 {color: #174f82;font-size: 24px;font-family: "Arial", sans-serif;font-weight: normal;text-transform: lowercase;clear: both;float: none;display: inline-block;border-top: 7px solid #174f82;padding: 10px 0;line-height: 26px;margin: 0;}
		.EJETOA04402 .enquete-pergunta h3 {color: #000;font-size: 20px;font-family: "Arial", sans-serif;font-weight: normal;float: none;clear: both;display: block;border-top: 1px solid #d3d3d3;padding: 15px 0;margin: 0;}
		.EJETOA04402 ul {margin: 0;padding: 0px ;display: block;float: none;overflow: hidden;}
		.EJETOA04402 ul li {background: #fefefe;width: 290px;height: 90px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 1px solid #ddd;position: relative;margin: 0 10px 10px 0; float: left;}
		.EJETOA04402 ul li:last-child {margin-right: 0px;}
		.EJETOA04402 ul li h4 {font-size: 14px;color: #23408f;font-weight: bold;padding: 0px 10px;display: block;}
		.EJETOA04402 ul li span {font-size: 11px; color: #666;float: left;margin: 0 0 5px 10px;text-align: center;line-height: 11px;}
		.EJETOA04402 ul li span .quantidade-votos {font-weight: bold;display: block;float: none;margin: 0px;}
		.EJETOA04402 ul li a {font-size: 12px; display: block; text-decoration: none; float: left;width: 57px;height: 22px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;text-align: center;border-radius: 4px;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);border: 1px solid #5547aa;padding-top: 2px;margin-left: 15px;background: #4536a3; background: -moz-linear-gradient(top, #7060d0 0%, #4536a3 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7060d0), color-stop(100%,#4536a3));background: -webkit-linear-gradient(top, #7060d0 0%,#4536a3 100%);background: -o-linear-gradient(top, #7060d0 0%,#4536a3 100%);background: -ms-linear-gradient(top, #7060d0 0%,#4536a3 100%);background: linear-gradient(to bottom, #7060d0 0%,#4536a3 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7060d0', endColorstr='#4536a3',GradientType=0 );}
		.EJETOA04402 ul li a:hover {background: #4536a3;background: -moz-linear-gradient(top, #4536a3 0%, #7060d0 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4536a3), color-stop(100%,#7060d0));background: -webkit-linear-gradient(top, #4536a3 0%,#7060d0 100%);background: -o-linear-gradient(top, #4536a3 0%,#7060d0 100%);background: -ms-linear-gradient(top, #4536a3 0%,#7060d0 100%);background: linear-gradient(to bottom, #4536a3 0%,#7060d0 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4536a3', endColorstr='#7060d0',GradientType=0 );}
	</style>
</div>




