
<div class="EJETOE01104">
   <div class="content">
        <div class="header">
            <div class="header-top">
            </div>
            <div class="header-text">
                <div class="header-text-top">
                    Aroeira
                </div>
                <div class="header-text-bottom">
                    charge do dia
                </div>
            </div>
        </div>
        <div id="galleria">
           <div id="source">
             <a href="" class="galleria-imagem-grande"> 
                <img src="" class="galleria-imagem-thumb" /> <!-- thumbnail!-->
            </a>
           </div>
        </div>
    </div>
</div>    
