
<div class="EJETOE01604" >
    <div id="jmj">
        <div class="titulo">
            <div class="carousel-item-chamada">
                <a title="Capa" class="titulo-chamada">Agenda JMJ</a>
            </div>
        </div>

        <div id="agenda-eventos-jmj">
            <div class="lista-agenda-jmj">
                <div class="mes-agenda-jmj"></div>
                <ul>
                    <li class="item-agenda-jmj" >
                        <div class="data-agenda-jmj">
                        </div>
                        <div class="eventos-agenda-jmj">
                        </div>
                    </li><!--/.item-->
                </ul>
        	</div><!--/.lista-agenda-->
        </div><!--/#agenda-eventos-->
    </div><!--/#jmj-->
</div>
