<style>
.EJETOE00802{
	margin: 15px 15px 20px 0;
	float: left;
	display: block;
	width: 300px;
	height: 185px;

}
.EJETOE00802 .tool{
	float: left;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_product.png') repeat top;
	width: 300px;
	height: 185px;
}
.EJETOE00802 .tool-header{
	width: 300px;
	height: 40px;
	float: left;
	border-top:1px solid #ccc;
}

.EJETOE00802 .tool-header .top{
	width: 100px;
	height: 8px;
	margin-left: 15px;
	float: left;
	display: block;
	position: relative;
	background-color:#ccc;

}

.EJETOE00802 .tool-header .text{
	float: left;
	width: 280px;
	height: 30px;
	padding-top: 3px;
	margin-left: 15px;
}

.EJETOE00802 .tool-header .text a{
	font-family: Arial;
	font-size: 22px;
	color: #006699;
	text-decoration: none;
}

.EJETOE00802 .tool-img{
	width: 300px;
	height: 120px;
	margin-top: 5px;
	float: left;
}

.EJETOE00802 .tool-footer{
	float: right;
}


.EJETOE00802 .tool-footer a{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	cursor: pointer;
	text-decoration: none;
}

</style>