<div class="EJETOE00302X">
	<div class="digital-edition-header">
		<a href="#" title="">
		</a>
	</div>
	<div class="digital-edition">
		<div class="digital-edition-img">
			<a href="#" title="Edição Digital" onclick="ga('send', 'event', {eventCategory: 'PDF Primeira',eventAction: 'click',eventValue: 'PDF Primeira'});">
				<img src="" width="145" height="260" />
			</a>
		</div>
		<div class="digital-edition-plus">
			<div class="digital-edition-options">
				<div id="digital-edition-signature" class="digital-edition-button">
					<a href="http://www.ejesa.com.br/assine/"><!-- <<< via cms -->
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-assinatura.png" width-"120" height="25" alt="Assine o dia"/>
					</a>
				</div>
				<div id="digital-edition-version" class="digital-edition-button">
					<a href="#">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-versao-digital.png" width="120" height="25" alt="Versão Digital"/>
					</a>
				</div>
				<div id="digital-edition-pdf" class="digital-edition-button">
					<a href="#" onclick="ga('send', 'event', {eventCategory: 'PDF Primeira',eventAction: 'click',eventValue: 'PDF Primeira'});">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-capa.png" width="120" height="25" alt="Capa em pdf"/>
					</a>
				</div>
			</div>
		</div>
	</div>
	<style type="text/css">
		.EJETOE00302X {width:300px;height:325px;background:url(http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png) repeat;margin:15px 20px 15px 0;float:left}.EJETOE00302 .digital-edition-header,
		.EJETOE00302X .digital-edition-header{width:300px;height:45px;float:left;display:block;position:relative;background:url(http://s0.ejesa.ig.com.br/img/odia/digital-edition-header.png) no-repeat}.EJETOE00302 .digital-edition-img,
		.EJETOE00302X .digital-edition-img{width:145px;height:195px;margin:10px 15px 0 10px;float:left;display:block;position:relative}
		.EJETOE00302 .digital-edition-plus, .EJETOE00302X .digital-edition-plus{width:120px;height:185px;margin-top:10px;float:left;display:block;position:relative}
		.EJETOE00302 .digital-edition-plus #sharesite, .EJETOE00302X .digital-edition-plus #sharesite{padding-left:0!important;margin-top:20px!important;width:121px!important}
		.EJETOE00302 .digital-edition-plus .sharewidget, .EJETOE00302X .digital-edition-plus .sharewidget{margin-top:5px;text-align:left}.EJETOE00302 .digital-edition-options,
		.EJETOE00302X .digital-edition-options{width:120px;height:100px;margin-top:15px;float:left}.EJETOE00302 .digital-edition-options .digital-edition-button,
		.EJETOE00302X .digital-edition-options .digital-edition-button{width:120px;height:25px;margin-bottom:10px;float:left}
		.EJETOE00302 .digital-edition-social, .EJETOE00302X .digital-edition-social{margin-top:25px;width:120px;height:45px;float:left;padding-top:5px}
		.EJETOE00302 #digital-edition-facebook,.EJETOE00302 #digital-edition-twitter, .EJETOE00302X #digital-edition-facebook, .EJETOE00302X #digital-edition-twitter{width:120px;height:20px;margin-bottom:5px}

	</style>
</div>
