<div class="EJETOA04706 assine-o-dia">
		<div class="titulo">Assine O Dia</div>
        <div class="formulario">
        	<div class="splash"><img src="http://s0.ejesa.ig.com.br/img/odia/capas/splash.png" class="splash-price" alt="Apenas R$1,90 no 1º mês" title="Apenas R$1,90 no 1º mês"></div>
        	<img class="capas" src="http://s0.ejesa.ig.com.br/img/odia/capas/capas2.png" alt="Capas" title="Capas" />
          <span class="info-devices" >*Disponível para PC e notebooks.</span>
            <div class="assine-ja">Assine Já</div>
            <div class="conteudo-digital">Edição Digital</div>
            <p>Preencha os campos abaixo e assine:</p>
            <form id="registroExpresso" name="registroExpresso" method="post">
            	<input type="text" name="nome" id="nome" value="Nome" onfocus="if(this.value == 'Nome') {this.value=''}" onblur="if(this.value == ''){this.value ='Nome'}" />
                <input type="text" name="email" id="email" value="E-mail" onfocus="if(this.value == 'E-mail') {this.value=''}" onblur="if(this.value == ''){this.value ='E-mail'}" />
                <select name="estado" id="estado">
                	<option value="AC">AC
                    <option value="AL">AL
                    <option value="AP">AP
                    <option value="AM">AM
                    <option value="BA">BA
                    <option value="CE">CE
                    <option value="DF">DF
                    <option value="ES">ES
                    <option value="GO">GO
                    <option value="MA">MA
                    <option value="MG">MG
                    <option value="MT">MT
                    <option value="MS">MS
                    <option value="PA">PA
                    <option value="PB">PB
                    <option value="PR">PR
                    <option value="PE">PE
                    <option value="PI">PI
                    <option value="RJ" selected="">RJ
                    <option value="RN">RN
                    <option value="RS">RS
                    <option value="RO">RO
                    <option value="RR">RR
                    <option value="SC">SC
                    <option value="SE">SE
                    <option value="SP">SP
                    <option value="TO">TO
                </select>
                <select name="cidade" id="cidade">
                	<option>Rio de Janeiro</option>
                </select>
                <div class="clear"></div>
                <input type="submit" name="submit" class="btAssinar" id="submitCadastro" value="Assinar">
                <!-- <a class="btAssinar" data-toggle="modal" href="#cadastroSucesso">Assinar</a> -->
			</form>
        </div>

        <div class="versao-impressa">
            <img src="http://s0.ejesa.ig.com.br/img/odia/capas/impresso.png" alt="Impresso" title="Impresso" />
            <a href="http://www.ejesa.com.br/assine/index.php?pag=subscribe&type=presspub&id=1" target="_impresso"><p>ASSINE A VERSÃO IMPRESSA<br>
            POR APENAS R$ 49,90 /MÊS</p></a>
            <div class="clear"></div>
        </div>

        <div id="cadastroSucesso" class="pedido-modal modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="conteudoLightbox">
                <img src="http://s0.ejesa.ig.com.br/img/odia/capas/ok-icone.png" />
                <h1>Parabéns! Você se cadastrou com sucesso.</h1>
                <p>Enviamos e-mail de confirmação para sua caixa de entrada.</p>
                <p>Clique no link para completar sua assinatura.</p>
            </div>
        </div>

        <div id="cadastroErro" class="pedido-modal modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="conteudoLightbox">
                <img src="http://s0.ejesa.ig.com.br/img/odia/capas/ok-icone.png" />
                <h1>Erro</h1>
                <p>Não foi possível completar sua assinatura.</p>
            </div>
        </div>

        <style type="text/css">
            /***** Assine o Dia *****/

            .assine-o-dia .titulo { background:#e3d900; text-transform:uppercase; font:bold 16px Arial; color:#004c87; padding:10px 15px; display:inline-block; }
            .assine-o-dia .formulario { background:url('http://s0.ejesa.ig.com.br/img/odia/capas/bg_degradee_azul.jpg') no-repeat; width:275px; height:414px; font:14px Arial, Helvetica, sans-serif; color:#ffffff; padding:13px; position:relative; }
            .assine-o-dia .formulario .splash { position:absolute; top:100px; right:13px; }
            .assine-o-dia .formulario .capas { text-align:center; margin-top:-50px; }
            .assine-o-dia .formulario .assine-ja { font-size:35px; color:#e3d900; font-weight:bold; margin-top:0px; }
            .assine-o-dia .formulario .conteudo-digital { font-size:20px; font-weight:bold; margin-bottom:0px; }
            .assine-o-dia .formulario p { margin-bottom:5px; }
            .assine-o-dia .formulario input[type="text"], .assine-o-dia .formulario select {
            color:#7d7d7d;
            font-style:italic;
            background-color:#fff;
            border:none;
            margin-bottom:12px;
            display:block;
            /* sombra interna */
            -moz-box-shadow:inset 0 0 10px #ccc;
            -webkit-box-shadow:inset 0 0 10px #ccc;
            box-shadow:inset 0 0 10px #ccc;
            /* termina sombra interna*/
            }

            .assine-o-dia .formulario input[type="text"] { width:255px; padding:10px; }
            .assine-o-dia .formulario select { height:36px; float:left; padding:10px 7px; }
            .assine-o-dia .formulario select[name="cidade"] { width:178px; }
            .assine-o-dia .formulario select[name="estado"] { width:83px; margin-right:14px; }
            .assine-o-dia .formulario .btAssinar { position:relative; width:118px; height:37px; padding:8px 10px; text-align:center; font-weight:bold; font-size:19px; text-transform:uppercase; color:#23408f; border:none; background:#e3d900; margin:0 auto; cursor:pointer; display:block; }
            .assine-o-dia .versao-impressa { margin-top:2px; background:#e3d900; padding:8px; width: 285px; }
            .assine-o-dia .versao-impressa img { margin-top:-31px; position:absolute; }
            .assine-o-dia .versao-impressa p { margin-left:110px; font-weight:bold; text-transform:uppercase; font-size:12px; line-height:17px; color:#fc041b; }



            /***********************************************
            MODAL
            ***********************************************/
            /*  * Bootstrap Modal  */

            .modal-open {
                overflow: hidden;
            }


            .modal-open.page-overflow .page-container,
            .modal-open.page-overflow .page-container .navbar-fixed-top,
            .modal-open.page-overflow .page-container .navbar-fixed-bottom,
            .modal-open.page-overflow .modal-scrollable {
                overflow-y: scroll;
            }

            @media (max-width: 940px) {
                .modal-open.page-overflow .page-container .navbar-fixed-top,
                .modal-open.page-overflow .page-container .navbar-fixed-bottom  {
                    overflow-y: visible;
                }
            }

            .modal-scrollable {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: auto;
            }

            .modal {
                outline: none;
                position: absolute;
                margin-top: 0;
                top: 50%;
                overflow: visible;
            }

            .modal.fade {
                top: -100%;
                -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
                   -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
                     -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
                        transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
            }

            .modal.fade.in {
                top: 50%;
            }

            .modal-body {
                max-height: none;
                overflow: visible;
            }

            .modal.modal-absolute {
                position: absolute;
                z-index: 950;
            }

            .modal .loading-mask {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #fff;
                border-radius: 6px;
            }

            .modal-backdrop.modal-absolute{
                position: absolute;
                z-index: 940;
            }

            .modal-backdrop,
            .modal-backdrop.fade.in{
                opacity: 0.6;
                filter: alpha(opacity=60);
                background: #000;
            }

            /* Animação */

            .animated {
                -webkit-animation-duration: 1s;
                   -moz-animation-duration: 1s;
                     -o-animation-duration: 1s;
                        animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                   -moz-animation-fill-mode: both;
                     -o-animation-fill-mode: both;
                        animation-fill-mode: both;
            }

            @-webkit-keyframes shake {
                0%, 100% {-webkit-transform: translateX(0);}
                10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
                20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
            }

            @-moz-keyframes shake {
                0%, 100% {-moz-transform: translateX(0);}
                10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
                20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
            }

            @-o-keyframes shake {
                0%, 100% {-o-transform: translateX(0);}
                10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
                20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
            }

            @keyframes shake {
                0%, 100% {transform: translateX(0);}
                10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
                20%, 40%, 60%, 80% {transform: translateX(10px);}
            }

            .shake {
                -webkit-animation-name: shake;
                -moz-animation-name: shake;
                -o-animation-name: shake;
                animation-name: shake;
            }

            /* estilo do bootstrap */

            .modal-backdrop {
              position: fixed;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1040;
              background-color: #000000;
            }

            .modal-backdrop.fade {
              opacity: 0;
            }

            .modal-backdrop,
            .modal-backdrop.fade.in {
              opacity: 0.8;
              filter: alpha(opacity=80);
            }

            .modal {
              position: fixed;
              top: 10%;
              left: 50%;
              z-index: 1050;
              width: 625px;
              margin-left: -312px;
              background-color: #ffffff;
              border: 1px solid #999;
              border: 1px solid rgba(0, 0, 0, 0.3);
              *border: 1px solid #999;
              -webkit-border-radius: 6px;
                 -moz-border-radius: 6px;
                      border-radius: 6px;
              outline: none;
              -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
                 -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
                      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
              -webkit-background-clip: padding-box;
                 -moz-background-clip: padding-box;
                      background-clip: padding-box;
            }

            .modal.fade {
              top: -25%;
              -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
                 -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
                   -o-transition: opacity 0.3s linear, top 0.3s ease-out;
                      transition: opacity 0.3s linear, top 0.3s ease-out;
            }


            .modal .close {
              position: absolute;
              right: -15px;
              top: -15px;
              background: transparent url(http://s0.ejesa.ig.com.br/img/odia/capas/close-btn.png) no-repeat;
              border: 0px none;
              text-indent: -99999px;
              width: 32px;
              height: 32px;
              outline: none;
              cursor: pointer;
              z-index:9999999;
            }


            .modal .conteudoLightbox {
              position: relative;
              max-height: 600px;
              padding: 85px 65px;
              overflow-y: auto;
              text-align:center;
            }


            /* estilo pessoal */
            .modal .conteudoLightbox h1 { font:bold 23px Arial; color:#000; margin:0; padding:15px 0 0; }
            .modal .conteudoLightbox p { font:18px/25px Arial; color: #000; margin:0; padding:0; }

            .assine-o-dia.fxscroll { position:fixed; top:0px; }
            .info-devices {font-size: 9px; line-height: 10px;  width: 184px; display: inline-block;}
            .splash-price { margin-top: 19px;}
            .EJETOA04706 {margin-top: 20px;}
            #subarea24 {margin-left: 0px !important;}
            .EJESTA00202 {width: 300px !important;}
            #area2 {overflow: hidden;}
            #content {overflow: hidden !important; padding: 0px !important; width: 960px !important; position: relative !important;}
            #main-nav {width: 100% !important; overflow: hidden !important;}
            .home-de-capas .content-social>img {float: left;}
            .home-de-capas .content-social {overflow: hidden;}

            @media (max-width: 940px)  {
              footer#footer-novo {display: none;}
              #barra-parceiros {width: 100% !important; overflow: hidden !important;}
              #content { width: 768px !important; float: none; clear: both; margin: 0 auto;}
              #subarea11, #area1, .EJESTA00101, .home-de-capas, .home-de-capas .content-troca, .content-troca img {  width: 460px !important; }
              #subarea11 {margin-right: 7px;}
              .home-de-capas ul.linha-meses li {width: 2.85em;}
              .home-de-capas {height: 940px;}
              .home-de-capas ul.linha-meses li a {font-size: 14px;}
              .home-de-capas .edicao-nmb {width: 442px; overflow: hidden;}
            }
        </style>

	</div>
