<div class="EJETOA01606">
    <span></span>
    <div class='shopping-title'>
        <h1>vitrine</h1>
        <h2>ofertas</h2>
    </div>
    <div class='shopping-channel'>
        <!-- <div id='shop00' class="channel taboff">SHOPPING</div> -->

        <div id='shop00' class="channel taboff">Eletrônicos</div>
        <div id='shop01' class="channel taboff">Câmeras e Celulares</div>
        <div id='shop02' class="channel taboff">Informática</div>
        <div id='shop03' class="channel taboff">Ofertas</div>
        <div id='shop04' class="channel taboff">Móveis</div>
        <div id='shop05' class="channel taboff">Eletrodomésticos</div>

    </div>

    <div class="shopping-offers" id='shopping-offers'>
    </div>

    <div class="shopping-tools">
        <div class="search-shopping-label"><span>busque um produto:</span></div>
        <div class="search-shopping-form">
            
<form lang="atmors" action="http://www.zoom.com.br/search" id='form-shopping' method="GET" target='_blank'>
<input type='hidden' name='og' value='19049'>
<input type='hidden' name='utm_source' value='odia'>
<input type='hidden' name='utm_medium' value='midia'>
<input type='hidden' name='utm_term' value='vitrine_busca'>
<input type='hidden' name='utm_content' value='home'>
<input type='hidden' name='utm_campaign' value='busca'>
    <fieldset>
        <label class="label-for-search" for="busca-campo">buscar</label>
        <input type="text" alt="shopping" title="shopping" id="shopping-search" value="" name="q">
        <input type="submit" id="shopping-submit" value="">
    </fieldset>
</form>

        </div>
        <div class="search-shopping-logo">
            <a href='http://www.zoom.com.br?og=19049&utm_source=odia&utm_medium=midia&utm_term=vitrine_logo&utm_content=home&utm_campaign=logo' target='_blank'>
            <img src="http://s0.ejesa.ig.com.br/img/odia/logo_zoom.png">
            </a>
        </div>
    </div>
</div>

<%{%>
<!-- <%=date_pub%> -->
<%}%>
<script type="text/javascript">
    EJESA.CALL_EJELIA01606.init();
</script>