.EJETOE01204{
		width: 600px;
		min-height: 530px;
		margin: 15px 20px 15px 0px;
		}
	.EJETOE01204 .form-header-conexao{
		width: 100%;
		height: 55px;
		float: left;
		display: block;
		position: relative;
		background-color: #fff;
	}
	.EJETOE01204 .form-conexoes{
		float: left;
		display: block;
		position: relative;
		width: 200px;
		min-height: 65px;
		cursor: pointer;
	}
	.EJETOE01204 .form-cam-conexao-img.on{ 
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -210px; 
		width: 63px; 
		min-height: 41px; 
		float: left;
		margin-top: 14px;
	} 
	.EJETOE01204 .form-cam-conexao-img.off{ 
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -252px; 
		width: 63px; 
		min-height: 41px; 
		float: left;
		margin-top: 14px;
	} 
	.EJETOE01204 .form-textos-conexao-img.off{ 
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1512px; 
		width: 56px; 
		min-height: 53px; 
		float: left;
		margin-top: 2px;
	} 
	.EJETOE01204 .form-textos-conexao-img.on{ 
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1458px; 
		width: 56px; 
		min-height: 53px; 
		float: left;
		margin-top: 2px;
	} 
	.EJETOE01204 .form-video-conexao-img.off{ 
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1613px; 
		width: 82px; 
		min-height: 45px; 
		float: left;
		margin-top: 10px;
	} 
	.EJETOE01204 .form-video-conexao-img.on{ 
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-noticias.png') no-repeat 0 -1567px; 
		width: 82px; 
		min-height: 45px; 
		float: left;
		margin-top: 10px;
	} 
	.EJETOE01204 .form-text {
		float: left;
		display: block;
		position: relative;
		width: 100px;
		margin-left: 10px;
	}
	.EJETOE01204 .form-text a{
		font-family: Arial;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	.EJETOE01204 .form-text .top{
		font-weight: normal;
	}

	.EJETOE01204 .form-text .bottom{
		font-weight: bold;
	}

	.EJETOE01204 .form-text.on a{
		color: #f69545;
	}

	.EJETOE01204 .form-text.off a{
		color:#333;
	}
	.EJETOE01204 .form-conexao{
		width: 600px;
		min-height: 475px;
		background-color: #f4f4f4;
		border: 1px solid #ccc;
		-moz-border-radius: 8px;
		border-radius: 8px;
		float: left;
		display: block;
		position: relative;	
	}
	.EJETOE01204 .form-info{
		width: 570px;
		min-height: 95px;
		margin: 0 auto;
	}
	.EJETOE01204 .form-info span{
		display: block;
		font-family: Arial;
		color: #999;
		font-size: 13px;
		padding-top: 20px;
	}

	.EJETOE01204 #form-envio{
		width: 550px;
		min-height: 270px;
		padding: 10px;
		margin: 0 auto;
		border-top: 1px solid #ccc;

	}
	
	.EJETOE01204 #name{
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		border-radius: 5px;
	    float: left;
	    min-height: 34px;
	    margin: 0 15px 0 0;
	    width: 165px;
	
	}

	.EJETOE01204 #email{
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		border-radius: 5px;
		float: left;
	    min-height: 34px;
	    margin: 0 15px 0 0;
	    width: 165px;
	}

	.EJETOE01204 #phone{
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		border-radius: 5px;
	    float: left;
	    min-height: 34px;
	    margin: 0 0 0 0 ;
	    width: 165px;
	}

	.EJETOE01204 #details{
		width: 235px;
		min-height: 150px;
		margin:20px 20px 45px 0;
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.EJETOE01204 #form-input-arquivo{
		width: 150px;
		height: 33px;	

	}
	.EJETOE01204 .form-text-arquivo {
		background-color: #FFFFFF;
	    display: none;
	    float: left;
	    height: 33px;
	    margin-top: 10px;
	    position: relative;
	    width: 265px;
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		border-radius: 5px;
	
	}

	.EJETOE01204 .form-input-left{
		display: block;
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat 0 -346px;
		width: 32px; 
		height: 33px;
	}
	.EJETOE01204 .form-input-right{
		display: block;
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat 0 -316px;
		width: 32px; 
		height: 33px;
		float: right;
	}
	 .EJETOE01204 .frm input {
    	display: block;
    	float: left;
	}

	 .EJETOE01204 .frm input,textarea {
		display: block;
	    float: left;
		outline:none;
		border:none;
		color:#ccc;
		font-family: Arial;
		font-size: 16px;
		font-weight: normal;
	}

	 .EJETOE01204 .frm textarea {
		padding:13px 0;
		overflow:auto;
	}

	 .EJETOE01204 .frm .form-info-atencao{
		width: 270px;
		min-height: 100px;
		margin-top: 20px;	
		padding-bottom: 20px;
		float: right;
		display: none
	}

	 .EJETOE01204 .frm .form-info-atencao span{
		display: block;
		font-size: 14px;
		font-weight: normal;
		color:#999;
	}
	
	 .EJETOE01204 .tipo-arquivo{
		background: url("http://s0.ejesa.ig.com.br/img/odia/file-button.png") no-repeat; 
		width:122px; 
		min-height:34px;
		float:right; 
		margin-right: -1px;
		margin-top: -2px;
	}
	 .EJETOE01204 .realupload {
		width:129px; 
		min-height:56px; 
		opacity:0.0;    
		-moz-opacity: 0.0;     
		filter: alpha(opacity = 0);
		margin-top:-10px;
		cursor: pointer;
	}
	 .EJETOE01204 .fakeupload {
	 	margin-left: 6px;
	    min-height: 30px;
	    width: 138px;
	}
	.EJETOE01204 .span-checkbox {
		display: block;
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat 0 -206px; 
		width: 19px;
		min-height: 18px;
		float: left;
		position: absolute;
	}

	.EJETOE01204 .span-checkbox .marked{
		 background: url("http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png") no-repeat scroll 0 -224px #FFFFFF;
	    display: none;
	    min-height: 12px;
	    margin-left: 5px;
	    margin-top: 4px;
	    width: 11px;
	}
	.EJETOE01204 .span-checkbox .unmarked{
		background:none;
		background-color: #FFFFFF;
	    display: none;
	    min-height: 12px;
	    margin-left: 5px;
	    margin-top: 4px;
	    width: 11px;
	}

	.EJETOE01204 .div-checkbox{
	  	float: left;
    	min-height: 45px;
    	width: 500px;
    	font-family: Arial;
    	font-size: 12px;
    	color: #999;
	}

	 .EJETOE01204  .frm label {
		display:block; 
		position:relative;

	}

	.EJETOE01204 #div-envio{
		width: 540px;
		min-height: 40px;
		padding-top: 20px;
		margin-left: -10px;
		float: left;
		border-top: 1px solid #ccc;

	}

	.EJETOE01204 .form-indicador{
		background-color: #f69545;
		width: 70px;
		min-height: 5px;
		position: relative;
		display: block;
		top: 50px;
		left:70px;
	}

	.EJETOE01204 #form-video-conexao-indicador{
		left:90px;
	}

	
	.EJETOE01204 .form-adicionar-midia{	
		display: block;
		cursor: pointer;
		margin-bottom: 10px;
	}
	
	.EJETOE01204 #arquivo1 {
		margin-top: 25px;
		display: block;
	}

	 .custom-theme .jquery-msg-content{
        border: 10px solid #333333;
        background: white;
        font-family: Arial;
      }
    .btn-wrap{
        text-align: center;
        margin: 0;
        margin-top: 30px;

     }
   .black-on-white .jquery-msg-content .btn-wrap span{
        font-weight: bolder;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        text-decoration: none;
         border: 1px solid #333;

      }
