<div class="EJETOA04206">

	<div class="rococo-copa">
		<ul>
			<li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
		</ul>
	</div>

    <div class="lista-dias-copa">
    	<ul>
    		<li data-id="6-12">
    			<a href="javascript:void(0);"><small>qui</small> 12</a>
			</li>
            <li data-id="6-13">
            	<a href="javascript:void(0);">                  <small>sex</small>

13</a>
</li>
              <li data-id="6-14">
              	<a href="javascript:void(0);">                  <small>sab</small>

14</a>
</li>
              <li data-id="6-15">
              	<a href="javascript:void(0);">                  <small>dom</small>

15</a>
</li>
              <li data-id="6-16">
              	<a href="javascript:void(0);">                  <small>seg</small>

16</a>
</li>
              <li data-id="6-17">
              	<a href="javascript:void(0);">                  <small>ter</small>

17</a>
</li>
              <li data-id="6-18">                <a href="javascript:void(0);">                  <small>qua</small>

18</a>
</li>
              <li data-id="6-19">                <a href="javascript:void(0);">                  <small>qui</small>

19</a>
</li>
              <li data-id="6-20">                <a href="javascript:void(0);">                  <small>sex</small>

20</a>
</li>
              <li data-id="6-21">                <a href="javascript:void(0);">                  <small>sab</small>

21</a>
</li>
              <li data-id="6-22">                <a href="javascript:void(0);">                  <small>dom</small>

22</a>
</li>
              <li data-id="6-23">                <a href="javascript:void(0);">                  <small>seg</small>

23</a>
</li>
              <li data-id="6-24">                <a href="javascript:void(0);">                  <small>ter</small>

24</a>
</li>
              <li data-id="6-25">                <a href="javascript:void(0);">                  <small>qua</small>

25</a>
</li>
              <li data-id="6-26">                <a href="javascript:void(0);">                  <small>qui</small>

26</a>
</li>
              <!-- <li data-id="6-27">                <a href="javascript:void(0);">                  <small>sex</small>

27</a>
</li> -->
              <li data-id="6-28">                <a href="javascript:void(0);">                  <small>sab</small>

28</a>
</li>
              <li data-id="6-29">                <a href="javascript:void(0);">                  <small>dom</small>

29</a>
</li>
              <li data-id="6-30">                <a href="javascript:void(0);">                  <small>seg</small>

30</a>
</li>
              <li data-id="7-1">                <a href="javascript:void(0);">                  <small>ter</small>

01</a>
</li>
             <!--  <li data-id="7-2">                <a href="javascript:void(0);">                  <small>qua</small>

02</a>
</li> -->
             <!--  <li data-id="7-3">                <a href="javascript:void(0);">                  <small>qui</small>

03</a>
</li> -->
              <li data-id="7-4">                <a href="javascript:void(0);">                  <small>sex</small>

04</a>
</li>
              <li data-id="7-5">                <a href="javascript:void(0);">                  <small>sab</small>

05</a>
</li>
             <!--  <li data-id="7-6">                <a href="javascript:void(0);">                  <small>dom</small>

06</a>
</li> -->
             <!--  <li data-id="7-7">                <a href="javascript:void(0);">                  <small>seg</small>

07</a>
</li> -->
              <li data-id="7-8">                <a href="javascript:void(0);">                  <small>ter</small>

08</a>
</li>
              <li data-id="7-9">                <a href="javascript:void(0);">                  <small>qua</small>

09</a>
</li>
              <!-- <li data-id="7-10">                <a href="javascript:void(0);">                  <small>qui</small>

10</a>
</li> -->
             <!--  <li data-id="7-11">                <a href="javascript:void(0);">                  <small>sex</small>

11</a>
</li> -->
              <li data-id="7-12">                <a href="javascript:void(0);">                  <small>sab</small>

12</a>
</li>
              <li data-id="7-13">                <a href="javascript:void(0);">                  <small>dom</small>

13</a>
</li>
</ul>
</div>
          <div class="lista-jogos">
            <ul class="jogos-rodadas">

            </ul>
            <a class="btn-copa-voltar" href="javascript:void(0);">voltar</a>
            <a class="btn-copa-proximo" href="javascript:void(0);">próximo</a>
</div>
	<style type="text/css">
	.EJETOA04206 { background: white; float: left; display: block; width: 940px; height: 112px; font-family: Arial, sans-serif; color: #3b3b3b; font-size: 11px; line-height: 1.4; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);  margin-bottom: 20px; }
	.EJETOA04206 .rococo-copa { height: 5px; display: block; clear: both; position: relative; z-index: 9999; }
	.EJETOA04206 .rococo-copa ul {padding: 0; margin: 0; list-style: none; font-size: 0px; }
	.EJETOA04206 .rococo-copa ul li {padding: 0; margin: 0; list-style: none; height: 5px; display: inline-block; width: 16.66666666666667% ; background-color: #e9bd53; }
	.EJETOA04206 .rococo-copa ul li + li {background-color: #fd6937;}
	.EJETOA04206 .rococo-copa ul li + li + li {background-color: #3291a0;}
	.EJETOA04206 .rococo-copa ul li + li + li + li {background-color: #367680;}
	.EJETOA04206 .rococo-copa ul li + li + li + li + li {background-color: #c9c9c9; }
	.EJETOA04206 .rococo-copa ul li + li + li + li + li + li {background-color: #aaaaaa; }
	.EJETOA04206 .lista-dias-copa {position: relative; z-index: 2; display: block; clear: both; top: -5px;}
	.EJETOA04206 .lista-dias-copa ul {padding: 0; margin: 0; list-style: none; font-size: 0px; width: 940px; }
	.EJETOA04206 .lista-dias-copa ul li {padding: 0; margin: 0; list-style: none;  display: inline-block; background: white; width: 4% ; font-size: 12px; text-align: center; font-size: 12px; border-bottom: 1px solid #77983e; position: relative;}
	.EJETOA04206 .lista-dias-copa ul li:after {content: " "; display: block; background: #dfdfdf; width: 1px; height: 41px; position: absolute; top: 12px; right: -0.5; z-index: 2; }
	.EJETOA04206 .lista-dias-copa ul li:last-child:after {display: none;}
	.EJETOA04206 .lista-dias-copa ul li small {font-size: 11px; display: block; text-transform: capitalize;}
	.EJETOA04206 .lista-dias-copa ul li a {color: #5c5c5c; text-decoration: none; display: block; height: 53px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 15px ; -webkit-transition: all 200ms ease-out ; -moz-transition: all 200ms ease-out ; -o-transition: all 200ms ease-out ; transition: all 200ms ease-out ;}
	.EJETOA04206 .lista-dias-copa ul li a:hover, .EJETOA04206 .lista-dias-copa ul li.ativo a {color: #fff; background: #77983e ; position: relative; z-index: 3;}
	.EJETOA04206 .lista-jogos {width: 940px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:  0 35px; position: relative; height: 57px; top: -5px;}
	.EJETOA04206 .lista-jogos ul { text-align: center; list-style: none; padding: 0; margin: 0; font-size: 0px; width: 870px; height: 58px; overflow: hidden; background: #fefefe;background: -moz-linear-gradient(top,  #fefefe 0%, #f3f3f3 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));background: -webkit-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%);background: -o-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%);background: -ms-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%);background: linear-gradient(to bottom,  #fefefe 0%,#f3f3f3 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );}
	.EJETOA04206 .lista-jogos ul li {-webkit-transition: all 200ms ease-out ; -moz-transition: all 200ms ease-out ; -o-transition: all 200ms ease-out ; transition: all 200ms ease-out ; display: inline-block; list-style: none; padding: 0; margin: 0; width: 290px; position: relative; height: 57px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 14px; }
	.EJETOA04206 .lista-jogos .btn-copa-voltar, .EJETOA04206 .lista-jogos .btn-copa-proximo {display: block; position: absolute; top: 0px; left: 0; text-indent: -999999px; text-decoration: none; background: url(http://s0.ejesa.ig.com.br/img/odia/copa/seta-esq.jpg) no-repeat 50% 50% ;  width: 35px; height: 57px; -webkit-transition: all 200ms ease-out ; -moz-transition: all 200ms ease-out ; -o-transition: all 200ms ease-out ; transition: all 200ms ease-out ; opacity: 0.6;}
	.EJETOA04206 .lista-jogos .btn-copa-proximo {background: url(http://s0.ejesa.ig.com.br/img/odia/copa/seta-dir.jpg) no-repeat 50% 50%; left: auto; right: 0px; }
	.EJETOA04206 .lista-jogos .btn-copa-voltar:hover, .EJETOA04206 .lista-jogos .btn-copa-proximo:hover {opacity: 1;}
	.EJETOA04206 .lista-jogos ul li div { display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.EJETOA04206 .lista-jogos ul li div.timeA, .EJETOA04206 .lista-jogos ul li div.timeB {width: 45%;}
	.EJETOA04206 .lista-jogos ul li div.timeA {padding-left: 11px; }
	.EJETOA04206 .lista-jogos ul li div.timeB {padding-right: 11px;}
	.EJETOA04206 .lista-jogos ul li img {margin: 0 9px;position: relative; top: 2px;}
	.EJETOA04206 .lista-jogos ul li div small {font-size: 18px; font-weight: bold;}
	.EJETOA04206 .lista-jogos ul li div b {font-size: 18px; font-weight: bold;width: 30px; display: inline-block; text-align: center;}
	.EJETOA04206 .lista-jogos ul li div.divisor {width: 10%; font-size: 14px; text-align: center;}
	.EJETOA04206 .lista-jogos ul li cite {display: block; font-size: 11px;  color: #999999; font-style: normal; text-align: center;}
	.EJETOA04206 .lista-jogos ul li:before {content: " "; display: block; position: absolute; top: 9px; width: 1px; height: 40px; background: #c9c9c9; right: -0.5px;}
	.EJETOA04206 .lista-jogos ul li:last-child:before {display: none;}
  #content {overflow: hidden;}
  #pubIntervencao {width: 980px !important;}

  .EJETOA04206 .jogos-rodadas sub{font-size:11px;float:left;margin-top:10px;}
  .EJETOA04206 .jogos-rodadas .golstimeA sub{float:right!important;}
	</style>


</div>
