<div class="EJETOA04202">

	<div class="tabela-classi-copa">
		<h3>Tabela de classificação</h3>

		<ul class="lista-grupos">
			<li class="ativo" data-grupo="A"><a href="#">a</a></li>
			<li data-grupo="B"><a href="#">b</a></li>
			<li data-grupo="C"><a href="#">c</a></li>
			<li data-grupo="D"><a href="#">d</a></li>
			<li data-grupo="E"><a href="#">e</a></li>
			<li data-grupo="F"><a href="#">f</a></li>
			<li data-grupo="G"><a href="#">g</a></li>
			<li data-grupo="H"><a href="#">h</a></li>
		</ul>

		<table class="tabela-grupos" summary="Tabela de grupos da copa do mundo 2014.">
			<thead>
				<tr>
					<th colspan="3" headers="grupo" ><b>GRUPO A</b></th>
					<th headers="pontuacao">P</th>
					<th headers="vitorias" >V</th>
					<th headers="saldodegols" >SG</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="classficacao">1</td>
					<td class="bandeira" ><img src="http://s0.ejesa.ig.com.br/img/odia/copa/bandeira7.jpg"></td>
					<td class="pais" >bra</td>
					<td class="pontuacao" >0</td>
					<td class="vitorias" >0</td>
					<td class="saldodegols" >0</td>
				</tr>
				<tr>
					<td class="classficacao">2</td>
					<td class="bandeira"><img src="http://s0.ejesa.ig.com.br/img/odia/copa/bandeira8.jpg"></td>
					<td class="pais" >cro</td>
					<td class="pontuacao" >0</td>
					<td class="vitorias" >0</td>
					<td class="saldodegols" >0</td>
				</tr>
				<tr>
					<td class="classficacao">3</td>
					<td class="bandeira" ><img src="http://s0.ejesa.ig.com.br/img/odia/copa/bandeira9.jpg"></td>
					<td class="pais" >mex</td>
					<td class="pontuacao" >0</td>
					<td class="vitorias" >0</td>
					<td class="saldodegols" >0</td>
				</tr>
				<tr>
					<td class="classficacao">4</td>
					<td class="bandeira"><img src="http://s0.ejesa.ig.com.br/img/odia/copa/bandeira10.jpg"></td>
					<td class="pais" >cam</td>
					<td class="pontuacao" >0</td>
					<td class="vitorias" >0</td>
					<td class="saldodegols" >0</td>
				</tr>
			</tbody>
		</table>
		<small><a href="http://odia.ig.com.br/esporte/copa-do-mundo/tabela/">veja a <strong>tabela completa »</strong> </a></small>
	</div>
	<style type="text/css">
	.EJETOA04202 {background: white; float: left;display: block;margin: 15px 0px 20px 0;width: 300px; height: 323px; font-family: Arial, sans-serif;color: #3b3b3b;font-size: 12px;line-height: 1.4; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 11px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);}
	.EJETOA04202 .tabela-classi-copa h3 {text-align: left; margin: 0; padding: 0; font-size: 24px; color: #77983e;  font-weight: normal; margin-bottom: 15px;}
	.EJETOA04202 .tabela-classi-copa small { display: block; margin: 15px 0 10px 0; font-size: 14px; text-align: left;}
	.EJETOA04202 .tabela-classi-copa small a { text-decoration: none; color: #333; }
	.EJETOA04202 .tabela-classi-copa small a:hover {text-decoration: underline;}
	.EJETOA04202 .tabela-classi-copa ul { padding: 0; margin: 0; list-style: none; font-size: 0px; border-bottom: 1px solid #e5e5e5; }
	.EJETOA04202 .tabela-classi-copa ul li { margin: 0; list-style: none; padding: 0; font-size: 14px; display: inline-block; width: 12.5%;}
	.EJETOA04202 .tabela-classi-copa ul li a {color: #3b3b3b; display: block; text-decoration: none; text-transform: uppercase; text-align: center; height: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: transparent; padding-top: 6px; -webkit-transition: all 200ms ease-out ; -moz-transition: all 200ms ease-out ; -o-transition: all 200ms ease-out ; transition: all 200ms ease-out ;}
	.EJETOA04202 .tabela-classi-copa ul li.ativo a, .EJETOA04202 .tabela-classi-copa ul li:hover a {background: #018739; color: #fff; }
	.EJETOA04202 .tabela-classi-copa table {width: 100%; display: block;}
	.EJETOA04202 .tabela-classi-copa table tr {border-bottom: 1px solid #e5e5e5; display: block;}
	.EJETOA04202 .tabela-classi-copa table * {border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.EJETOA04202 .tabela-classi-copa table thead tr th {font-size: 15px; font-weight: normal; color: #b1b1b1; }
	.EJETOA04202 .tabela-classi-copa table thead tr th b {color: #3b3b3b;  font-weight: normal; display: block; text-align: left; }
	.EJETOA04202 .tabela-classi-copa table tr th, .EJETOA04202 .tabela-classi-copa table tr td {width: 33px; height: 33px;}
	.EJETOA04202 .tabela-classi-copa table thead tr th:first-child {width: 175px;}
	.EJETOA04202 .tabela-classi-copa table tbody tr td {text-align: center; font-size: 15px;}
	.EJETOA04202 .tabela-classi-copa table tbody tr td.pais {width: 110px; text-align: left; text-transform: uppercase; padding-right: 12px; font-weight: bold; font-size: 14px; color: #b1b1b1; padding-left: 13px;}
	.EJETOA04202 .tabela-classi-copa table tbody tr td:first-child {font-size: 18px; color: #3b3b3b;}
	</style>

</div>
