<div class="EJETOA04812 home-de-capas">
		<ul class="linha-meses">
			<li><a onclick="javascript:mudaData(this.rel);" rel="01">Jan</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="02">Fev</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="03">Mar</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="04">Abr</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="05">Mai</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="06">Jun</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="07">Jul</a></li>
			<li class="active"><a onclick="javascript:mudaData(this.rel);" rel="08">Ago</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="09">Set</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="10">Out</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="11">Nov</a></li>
			<li><a onclick="javascript:mudaData(this.rel);" rel="12">Dez</a></li>
		</ul>
		<div class="edicao-nmb">
			<h3>Edição do dia <span class="nmb-dia"></span></h3>

			<div class="escolher-dia">
				<small>Escolher o dia:</small>
				<input id="datepicker" type="text" value="" display="none" class="hasDatepicker" />
			</div>
		</div>
		<div class="content-troca">
			<img src="" >
		</div>
		<div class="content-social">
			<img src="http://s0.ejesa.ig.com.br/img/odia/capas/social.jpg">
			<div class="imprimir-btn"><a href="#"><img  src="http://s0.ejesa.ig.com.br/img/odia/capas/imprimir.jpg"></a></div>
		</div>

		<div class="cover-not-found">
			<img src="http://s0.ejesa.ig.com.br/img/odia/capas/erro-capa.jpg">
			<h4>Desculpe, não temos a capa desse dia. Tente procurar em outra data. </h4>
		</div>

		<style type="text/css">
			.home-de-capas *, .home-de-capas *:before, .home-de-capas *:after { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
			.home-de-capas { height:1154px;  width: 620px; position: relative;margin-top: 20px;}
			.home-de-capas ul.linha-meses {display: none; float: none; clear: both; position: relative; z-index: 2;}
			.home-de-capas ul.linha-meses li{display: none; width: 4.15em; height: 48px; text-align: center; margin-left: 2px; transition: background 0.2s; -webkit-transition: background 0.2s; float:left; }
			.home-de-capas ul.linha-meses li:first-child {margin-left: 0px; }
			.home-de-capas ul.linha-meses li a{transition: background 0.2s; -webkit-transition: background 0.2s; color: #434343; font-size: 16px; padding: 23px 0 12px 0; line-height: 10px; text-transform: uppercase; display: block;}
			.home-de-capas ul.linha-meses li:hover a, .home-de-capas ul.linha-meses li.active a{font-weight: bold; border-top: #069 solid 5px; padding-top: 18px;}
			.home-de-capas ul.linha-meses li:hover , .home-de-capas ul.linha-meses li.active {background: #f1f1f1;}
			.home-de-capas .edicao-nmb {display: block; float: none; clear: both; background: #f1f1f1; position: relative; top: -1px; height: 60px; border-top: 1px solid #e2e2e2;}
			.home-de-capas .edicao-nmb h3 {float: left; padding:0; margin: 21px 0 0 13px;  font-size: 20px; font-family: Arial; color: #303030;}
			.home-de-capas .edicao-nmb .escolher-dia { float: right; margin: 17px 23px 0 0; vertical-align: top;}
			.home-de-capas .edicao-nmb .escolher-dia small {position: relative;top: 2px;font-size: 12px;font-weight: bold;right: 7px;}
			.home-de-capas .edicao-nmb .escolher-dia input[type="text"] {position: relative; top: 2px; width: 18px; height: 22px; border: 0px none; outline: 0; cursor: pointer; background: url(http://s0.ejesa.ig.com.br/img/odia/capas/calendario.jpg) no-repeat; color: transparent; text-indent: -99999px;}
			.home-de-capas .content-troca  { display: block; clear: both; padding: 0px 0;}
			.home-de-capas .content-social {display: block; clear: both; padding: 11px 13px; background: url(http://s0.ejesa.ig.com.br/img/odia/capas/pat-share.jpg) repeat-x; border-top: 1px solid #ccc;}
			.home-de-capas .content-social .imprimir-btn {float: right; width: 18px; height: 18px; display: block; }
			.home-de-capas .cover-not-found {text-align: center; display: none;}
			.home-de-capas .cover-not-found h4 {float: none; padding: 0px; margin: 20px 0; font-size: 18px;}
			.home-de-capas .cover-not-found img {margin: 20px 0;}
			.home-de-capas .cover-not-found.active {display: block;}
			.home-de-capas .content-troca {width: 620px; margin-left: -0px!important; }
			.home-de-capas .edicao-nmb .escolher-dia {display: none;}
		</style>

	</div>
