

<div class="EJETOE01406">
	<div class="destaque">
		<div class="destaque-seta">
			<div class="destaque-seta-cor">
				<span>DESTAQUES</span>
			</div>
			<div class="destaque-seta-ponta"> 
			</div>
		</div>

		<div class="destaque-lista">
			<ul>
				<li><span class="marcador"></span><a href="#" title="" target=""></a></li>
			</ul>

		</div>
	</div>

</div>