<div class="EJETOA05102">

	<h2><span>GUIA</span> DO ELEITOR</h2>
	<hr>

	<!--div class="servicos">
		<a href="http://odia.ig.com.br/eleicoes2014/2014-10-03/dicas-e-calendario-eleitoral.html">
			<div class="dados">
				<h3><span>Calendário</span> Eleitoral</h3>
				<span>Fique atento as datas</span>
			</div>
			<div class="icone calendario"></div>
		</a>
	</div-->

	<div class="servicos">
		<a href="http://odia.ig.com.br/eleicoes2014/2014-10-02/cola-eleitoral.html">
			<div class="dados">
				<h3><span>Cola</span> Eleitoral</h3>
				<span>Não esqueça o seu candidato</span>
			</div>
			<div class="icone cola"></div>
		</a>
	</div>

	<div class="servicos">
		<a href="http://odia.ig.com.br/eleicoes2014/2014-10-02/consulte-o-local-de-votacao.html">
			<div class="dados">
				<h3><span>Seção</span> Eleitoral</h3>
				<span>Consulte o local de votação</span>
			</div>
			<div class="icone secao"></div>
		</a>
	</div>
<style type="text/css">

.EJETOA05102 {width: 300px;margin: 0 auto;text-align: left; float: left; font-family: Arial, sans-serif; margin: 15px 0px 20px 0;}
.EJETOA05102 h2 {float: left;font-size: 22px;letter-spacing: -1px;text-transform: uppercase;color: #569820; margin: 0; margin-bottom: 8px;font-weight: normal;}
.EJETOA05102 h2 span {font-weight: bold;}
.EJETOA05102 hr {width: 100%;background-color: #569820;height: 4px;border: none;}
.EJETOA05102 .servicos {height: 80px;background: #eee;border: 1px solid #dcdcdc;overflow: hidden;display: block;position: relative;margin-top: -1px;}
.EJETOA05102 .servicos a {display: block;height: 40px;padding: 20px 15px;-webkit-transition: all 140ms linear; -moz-transition: all 140ms linear; -ms-transition: all 140ms linear; -o-transition: all 140ms linear; transition: all 140ms linear;}
.EJETOA05102 .servicos a:hover {background: #fff;}
.EJETOA05102 .servicos a h3 {color: #333;font-size: 22px;letter-spacing: -1px;font-weight: normal; margin: 0;}
.EJETOA05102 a h3 span {font-weight: bold;font-size: 22px !important;}
.EJETOA05102 a:hover h3 span {color: #569820 !important;}
.EJETOA05102 a:hover h3 {color: #569820 !important;}
.EJETOA05102 .servicos a span {color: #333;font-size: 14px;}
.EJETOA05102 .servicos .dados {float: left;}
.EJETOA05102 .servicos .icone {float: left;width: 52px;height: 52px;position: absolute;right: 10px;top: 15px;}
.EJETOA05102 .servicos .icone.calendario {background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/calendar.png') no-repeat;}
.EJETOA05102 .servicos .icone.cola {background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/cola.png') no-repeat;}
.EJETOA05102 .servicos .icone.secao {background: url('http://s0.ejesa.ig.com.br/img/odia/eleicoes/secao.png') no-repeat;}
</style>
</div>

