<div id="header-p2">
	<div>
		<div class='EJETOE00306'>
			<div id='menu' class='kernel'>
				<nav>
					<ul id='listmentu' class="menu-navegacao">
						
						<li class="oDia">
							<a href="/">
								<span class='titulo'>
									<img src="http://s0.ejesa.ig.com.br/img/odia/o-dia_menu.png"/>
								</span>
								<span class="separador"></span>
							</a>
							<div class="box">
							
							</div>
						</li>

						<li class="Capa">
							<a href="/esporte/brasileirao-2013/">
								<span class='titulo'>Capa</span>
								<span class="separador"></span>
							</a>
							<div class="box">
							
							</div>
						</li>
						<!--
						<li class="tabela">
							<a href="/">
								<span class='titulo'>Tabela e Classificação</span>
								<span class="separador"></span>
							</a>
							<div class="box">
							
							</div>
						</li>
						<li class="artilharia">
							<a href="/">
								<span class='titulo'>Artilharia</span>
								<span class="separador"></span>
							</a>
							<div class="box">
							
							</div>
						</li>
						<li class="realtime">
							<a href="/">
								<span class='titulo'>Tempo Real</span>
								<span class="separador"></span>
							</a>
							<div class="box">
							
							</div>
						</li>
						-->
						
					</ul>
					<ul class="sharesite">
						<div class='sharewidget'>
							<g:plusone size='medium' href='http://www.odia.com.br'></g:plusone>
						</div>
						<div class='sharewidget'>
							<div class="fb-like" data-href="https://www.facebook.com/odiajornal" data-send="false" data-layout="button_count" data-width="106" data-show-faces="false"></div>
						</div>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<%{%>

<script>
	
	var objmenu = <%=JSON.stringify(menuODia)%>;
	
	var html = '';
	
	for(var i=0; i < objmenu.filhos.length; i++) {
		
		var titulo = objmenu.filhos[i].titulo;
		var link = '';
		var target = '';
		
		html += "<ul class='" + titulo + "'>";
		html += "<li class='nome-canal'>";
		html += titulo;
		html += "</li>";
		
			if(objmenu.filhos[i].filhos != undefined) {
			
				var subsections = objmenu.filhos[i].filhos;
				
				for(var y=0; y < subsections.length; y++) {
					
					
					var subtitulo = subsections[y].titulo;
					
					html += "<li>";
					var sublink = '';
					
					if(subsections[y].url != undefined){
						sublink = subsections[y].url;
					}else{
						if(objmenu.filhos[y].linkExterno != undefined){
							sublink = subsections[y].linkExterno
						}
					}
					
					html += "<div class='bullets'>";
					html += "</div>";
					html += "<a href='" + sublink + "'>";
					html += subtitulo;
					html += "</a>";
					html += "</li>";
				
				}
			}
			
		html += "</ul>";
	}
	
	$('.box').html(html);
	
	$('.menu-navegacao').find('li:first-child').each(function(index) {
		$(this).hover(function() {
			$(this).find('.box').stop().animate({opacity: 1}, 300);
			$(this).find('.box').css('visibility','visible');
				}, function () {
			$(this).find('.box').stop().animate({opacity: 0}, 0);
			$(this).find('.box').css('visibility','hidden');
		});
	});
	
	$('.box').find('ul:first-child').css('display','none');
	$('.box').find('ul:last-child').css('display','none');
	
	
	
</script>	
<%}%>	
	

