
<%{%>

<script src="http://s0.ejesa.ig.com.br/js/odia/twitter.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#open-bt').click(function(){
    $("#barra-aberta").slideToggle();
    $("#barra-fechada").hide();
    $("#conteudo-tweets").html($("#twtr-widget-1").append());
    $("#twtr-widget-1").css('display','block');
  });
  
  $('#close-bt').click(function(){
    $("#barra-aberta").slideToggle(function() {
      $("#barra-fechada").slideToggle(300); 
    });
  });

  var content = 0;
  var display =  $('.conteudo-tweets');
  var post    = $('.last-tweet');
  var total   = post.length;  

  display.html(post[content]);
  
  $('.seta-proximo').click(function(){
    if(content < total - 1){
      content = content + 1;
    }else{
      content = 0;
    }
    display.html(post[content]);
  });


  $('.seta-anterior').click(function(){
    if(content > 0){
      content = content - 1;
    }else{
      content = total - 1;
    }
    display.html(post[content]);
  });

  $('#open-bt').click();
});
</script>

<%}%>

<div id="EJETOA01907">
  <div id="barra-fechada">
    <div id="open-bt"></div><!--/.open-bt-->
    <div class="content">
      <div class="logo24h"><h5><img src="http://s0.ejesa.ig.com.br/img/odia/logo-24horas.jpg" alt="24 Horas" width="155" height="33" /></h5></div>
      <div class="clear"></div>
    </div><!--/.content-->
  </div><!--/.fechada-->
  
  <div id="barra-aberta">
    <div class="content">
      
     <div class="logo24h"><h5><img src="http://s0.ejesa.ig.com.br/img/odia/logo-24horas.jpg" alt="24 Horas" width="155" height="33" /></h5></div>
     <div class="container">
      <div class="setas">
        <div class="seta-proximo" title="Próximo Tweet"></div>
        <div class="seta-anterior" title="Tweet Anterior"></div>
      </div><!--/.setas-->
      <div class="conteudo-tweets" id='conteudo-tweets'>

        <%{%>

        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 30,
          interval: 8000,
          width: '940',
          height: '30',
          theme: {
            shell: {
              background: '#fff200',
              color: '#000'
            },
            tweets: {
              background: '#fff200',
              color: '#000',
              links: '#000'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'default'
          }
        }).render().setUser('odia24horas').start();
        </script>

        <%}%>

      </div><!--/.conteudo-tweets-->
      <div class="clear"></div>
    </div><!--/.container-->
    <div id="close-bt"></div><!--/.close-bt--> 
    <div class="clear"></div>
  </div><!--/.content-->
</div><!--/.aberta-->
</div><!--/#EJETOA01907-->