
<div class="EJETOE07706">


<table id="myTable" cellspacing="0" class="tablesorter" >


	<thead>
		<tr>
			<th>País</th>
			<th>Posição</th>
			<th>Ouro</th>
			<th>Prata</th>
			<th>Bronze</th>
			<th>Medalhas</th>
		</tr>
	</thead>

	<tbody>

		<tr class="antigua-e-barbuda">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/antigua-e-barbuda.png" />
				<span class="bandeira"></span>
				<strong title="Antígua e Barbuda">Antígua e Barbuda</strong>
				<span class="sigla">ANT</span>
			</td>
			<td class="tabela-times-posicao">1</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="argentina">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/argentina.png" />
				<span class="bandeira"></span>
				<strong title="Argentina">Argentina</strong>
				<span class="sigla">ARG</span>
			</td>
			<td class="tabela-times-posicao">2</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="aruba">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/aruba.png" />
				<span class="bandeira"></span>
				<strong title="Aruba">Aruba</strong>
				<span class="sigla">ARU</span>
			</td>
			<td class="tabela-times-posicao">3</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="bahamas">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/bahamas.png" />
				<span class="bandeira"></span>
				<strong title="Bahamas">Bahamas</strong>
				<span class="sigla">BAH</span>
			</td>
			<td class="tabela-times-posicao">4</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="barbados">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/barbados.png" />
				<span class="bandeira"></span>
				<strong title="Barbados">Barbados</strong>
				<span class="sigla">BAR</span>
			</td>
			<td class="tabela-times-posicao">5</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="belize">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/belize.png" />
				<span class="bandeira"></span>
				<strong title="Belize">Belize</strong>
				<span class="sigla">BLZ</span>
			</td>
			<td class="tabela-times-posicao">6</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="bermuda">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/bermuda.png" />
				<span class="bandeira"></span>
				<strong title="Bermuda">Bermuda</strong>
				<span class="sigla">BER</span>
			</td>
			<td class="tabela-times-posicao">7</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="bolivia">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/bolivia.png" />
				<span class="bandeira"></span>
				<strong title="Bolívia">Bolívia</strong>
				<span class="sigla">BOL</span>
			</td>
			<td class="tabela-times-posicao">8</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="brasil">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/brasil.png" />
				<span class="bandeira"></span>
				<strong title="Brasil">Brasil</strong>
				<span class="sigla">BRA</span>
			</td>
			<td class="tabela-times-posicao">9</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="canada">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/canada.png" />
				<span class="bandeira"></span>
				<strong title="Canadá">Canadá</strong>
				<span class="sigla">CAN</span>
			</td>
			<td class="tabela-times-posicao">10</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="chile">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/chile.png" />
				<span class="bandeira"></span>
				<strong title="Chile">Chile</strong>
				<span class="sigla">CHI</span>
			</td>
			<td class="tabela-times-posicao">11</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="colombia">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/colombia.png" />
				<span class="bandeira"></span>
				<strong title="Colômbia">Colômbia</strong>
				<span class="sigla">COL</span>
			</td>
			<td class="tabela-times-posicao">12</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="costa-rica">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/costa-rica.png" />
				<span class="bandeira"></span>
				<strong title="Costa Rica">Costa Rica</strong>
				<span class="sigla">COS</span>
			</td>
			<td class="tabela-times-posicao">13</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="cuba">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/cuba.png" />
				<span class="bandeira"></span>
				<strong title="Cuba">Cuba</strong>
				<span class="sigla">CUB</span>
			</td>
			<td class="tabela-times-posicao">14</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="dominica">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/dominica.png" />
				<span class="bandeira"></span>
				<strong title="Dominica">Dominica</strong>
				<span class="sigla">DMA</span>
			</td>
			<td class="tabela-times-posicao">15</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="el-salvador">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/el-salvador.png" />
				<span class="bandeira"></span>
				<strong title="El Salvador">El Salvador</strong>
				<span class="sigla">ESA</span>
			</td>
			<td class="tabela-times-posicao">16</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="equador">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/equador.png" />
				<span class="bandeira"></span>
				<strong title="Equador">Equador</strong>
				<span class="sigla">EQU</span>
			</td>
			<td class="tabela-times-posicao">17</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="estados-unidos">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/estados-unidos.png" />
				<span class="bandeira"></span>
				<strong title="Estados Unidos">Estados Unidos</strong>
				<span class="sigla">EUA</span>
			</td>
			<td class="tabela-times-posicao">18</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="granada">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/granada.png" />
				<span class="bandeira"></span>
				<strong title="Granada">Granada</strong>
				<span class="sigla">GRN</span>
			</td>
			<td class="tabela-times-posicao">19</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="guatemala">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/guatemala.png" />
				<span class="bandeira"></span>
				<strong title="Guatemala">Guatemala</strong>
				<span class="sigla">GUA</span>
			</td>
			<td class="tabela-times-posicao">20</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="guiana">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/guiana.png" />
				<span class="bandeira"></span>
				<strong title="Guiana">Guiana</strong>
				<span class="sigla">GNA</span>
			</td>
			<td class="tabela-times-posicao">21</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="haiti">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/haiti.png" />
				<span class="bandeira"></span>
				<strong title="Haiti">Haiti</strong>
				<span class="sigla">HAI</span>
			</td>
			<td class="tabela-times-posicao">22</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="honduras">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/honduras.png" />
				<span class="bandeira"></span>
				<strong title="Honduras">Honduras</strong>
				<span class="sigla">HON</span>
			</td>
			<td class="tabela-times-posicao">23</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="ilhas-cayman">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/ilhas-cayman.png" />
				<span class="bandeira"></span>
				<strong title="Ilhas Cayman">Ilhas Cayman</strong>
				<span class="sigla">CAY</span>
			</td>
			<td class="tabela-times-posicao">24</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="ilhas-virgens">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/ilhas-virgens.png" />
				<span class="bandeira"></span>
				<strong title="Ilhas Virgens">Ilhas Virgens</strong>
				<span class="sigla">IVG</span>
			</td>
			<td class="tabela-times-posicao">25</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="ilhas-virgens-britanicas">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/ilhas-virgens-britanicas.png" />
				<span class="bandeira"></span>
				<strong title="Ilhas Virgens Britânicas">Ilhas Virgens Britânicas</strong>
				<span class="sigla">IVB</span>
			</td>
			<td class="tabela-times-posicao">26</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="jamaica">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/jamaica.png" />
				<span class="bandeira"></span>
				<strong title="Jamaica">Jamaica</strong>
				<span class="sigla">JAM</span>
			</td>
			<td class="tabela-times-posicao">27</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="mexico">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/mexico.png" />
				<span class="bandeira"></span>
				<strong title="México">México</strong>
				<span class="sigla">MEX</span>
			</td>
			<td class="tabela-times-posicao">28</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="nicaragua">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/nicaragua.png" />
				<span class="bandeira"></span>
				<strong title="Nicarágua">Nicarágua</strong>
				<span class="sigla">NIC</span>
			</td>
			<td class="tabela-times-posicao">29</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="panama">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/panama.png" />
				<span class="bandeira"></span>
				<strong title="Panamá">Panamá</strong>
				<span class="sigla">PAN</span>
			</td>
			<td class="tabela-times-posicao">30</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="paraguai">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/paraguai.png" />
				<span class="bandeira"></span>
				<strong title="Paraguai">Paraguai</strong>
				<span class="sigla">PAR</span>
			</td>
			<td class="tabela-times-posicao">31</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="peru">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/peru.png" />
				<span class="bandeira"></span>
				<strong title="Peru">Peru</strong>
				<span class="sigla">PER</span>
			</td>
			<td class="tabela-times-posicao">32</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="porto-rico">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/porto-rico.png" />
				<span class="bandeira"></span>
				<strong title="Porto Rico">Porto Rico</strong>
				<span class="sigla">PRI</span>
			</td>
			<td class="tabela-times-posicao">33</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="republica-dominicana">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/republica-dominicana.png" />
				<span class="bandeira"></span>
				<strong title="República Dominicana">República Dominicana</strong>
				<span class="sigla">DOM</span>
			</td>
			<td class="tabela-times-posicao">34</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="santa-lucia">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/santa-lucia.png" />
				<span class="bandeira"></span>
				<strong title="Santa Lúcia">Santa Lúcia</strong>
				<span class="sigla">SLU</span>
			</td>
			<td class="tabela-times-posicao">35</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="sao-cristovao-e-neves">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/sao-cristovao-e-neves.png" />
				<span class="bandeira"></span>
				<strong title="São Cristóvão e Neves">São Cristóvão e Neves</strong>
				<span class="sigla">SCN</span>
			</td>
			<td class="tabela-times-posicao">36</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="sao-vicente-e-granadinaste">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/sao-vicente-e-granadinaste.png" />
				<span class="bandeira"></span>
				<strong title="São Vicente e Granadinas">São Vicente e Granadinas</strong>
				<span class="sigla">SVG</span>
			</td>
			<td class="tabela-times-posicao">37</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="suriname">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/suriname.png" />
				<span class="bandeira"></span>
				<strong title="Suriname">Suriname</strong>
				<span class="sigla">SUR</span>
			</td>
			<td class="tabela-times-posicao">38</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="trinidad-e-tobago">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/trinidad-e-tobago.png" />
				<span class="bandeira"></span>
				<strong title="Trinidad e Tobago">Trinidad e Tobago</strong>
				<span class="sigla">TRI</span>
			</td>
			<td class="tabela-times-posicao">39</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="uruguai">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/uruguai.png" />
				<span class="bandeira"></span>
				<strong title="Uruguai">Uruguai</strong>
				<span class="sigla">URU</span>
			</td>
			<td class="tabela-times-posicao">40</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

		<tr class="venezuela">
			<td>
				<img src="http://s0.ejesa.ig.com.br/img/odia/bandeiras/venezuela.png" />
				<span class="bandeira"></span>
				<strong title="Venezuela">Venezuela</strong>
				<span class="sigla">VEN</span>
			</td>
			<td class="tabela-times-posicao">41</td>
			<td class="ouro mdl">0</td>
			<td class="prata mdl">0</td>
			<td class="bronze mdl">0</td>
			<td class="medalhas"></td>
		</tr>

	</tbody>
</table>
<style type="text/css">
	.EJETOE07706 {float: left;}
	.EJETOE07706 #myTable {font-family: Arial; font-size: 14px;border: 0px none; width: 620px; margin-bottom: 30px;}
	.EJETOE07706 #myTable .sigla, .EJETOE07706 #myTable .bandeira {display: none;}
	.EJETOE07706 #myTable th, .EJETOE07706 #myTable td {padding: 3px;}
	.EJETOE07706 #myTable th, .EJETOE07706 #myTable .mdl, .EJETOE07706 #myTable .medalhas, .EJETOE07706 #myTable .tabela-times-posicao {text-align: center;}
	.EJETOE07706 #myTable th {color: #fff; background: #000;border: 0px none; cursor: pointer;cursor: cell;}
	.EJETOE07706 #myTable td {border: 0px none;vertical-align: middle;}
	.EJETOE07706 #myTable td strong {position: relative;top: -6px;margin-left: 10px;}
	.EJETOE07706 #myTable td img {width: 30px;}
	.EJETOE07706 .brasil {background: #F1F1F1;}
</style>

</div>
