<style>
.EJETOE01304{
	margin: 15px 20px 15px 0px;
	float: left;
	width: 640px;
	height: 225px;
}
.EJETOE01304 .galeria-foto{
	width: 640px;
	height: 225px;
	float: left;
}

.EJETOE01304 .galeria-foto-header{
	border-top: 1px solid #669933;
	width: 640px;
	height: 50px;
	margin-bottom: 5px;
}
.EJETOE01304 .galeria-foto-header-top{
	width: 85px;
	height: 8px;
	margin-left: 15px;
	background-color: #669933;
	display: block;
	position: relative;
	float: left;
}
.EJETOE01304 .galeria-foto-header-name{
	display: block;
	position: relative;
	width: 140px;
	height: 60px;
	margin-top: 15px;
}
.EJETOE01304 .galeria-foto-header-name span{
	display: block;
	font-family: Arial;
	font-style: bold;
	font-size: 22px;
}
.EJETOE01304 .galeria-foto-header-name .left{
	color: #999;
	float: left;
	width: 35px;
	margin-left: 15px;
}
.EJETOE01304 .galeria-foto-header-name .right{
	color: #669933;
	float: left;
}
.EJETOE01304 .galeria-foto-img{
	width: 640px;
	height: 165px;
}

.EJETOE01304 .destaque{
	width: 162px;
	height: 163px;
	float: left;
	z-index: 101;
}
.EJETOE01304 .foto-pos-destaque{
	width: 162px;
	height: 163px;
	float: left;
	z-index: 100;
}
.EJETOE01304 .foto-pos-destaque-layer{
    display: block;
    height: 163px;
    position: absolute;
    width: 161px;
    z-index: 10000;
	background: rgb(102, 153, 51) transparent; 
	background: rgba(102, 153, 51, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669933, endColorstr=#669933);
}
.EJETOE01304 .foto-pos-normal{
	float: left;
	width: 157px;
	height: 81px;
	margin: 0px 1px 0px 1px;
}
.EJETOE01304 .foto-pos-grande{
	float: left;
	width: 316px;
	height: 80px;
	margin: 0px 1px 2px 1px;
}
.EJETOE01304 .layer-texto {
 	color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    top: 60%;
    padding-left: 5px;
}
.EJETOE01304 a{
	cursor: pointer;
}
</style>
