
<div class="EJETOE01501">	
	<div class="tempo-img">
	</div>
	<div class="tempo-local"> 
		<a>Rio de Janeiro, RJ</a>
	</div>
	<div class="tempo-temperatura-min">
		<span> min</span> 
		<span class="temp-min"></span>
	</div>
	<div class="tempo-temperatura-max">
		<span> máx </span>
		<span class="temp-max"></span>
	</div>
</div>