
<div class="EJETOE07806">

<table id="myTable" cellspacing="0">
	<thead>
		<tr>
			<th>Posição</th>
			<th>País</th>
			<th>Ouro</th>
			<th>Prata</th>
			<th>Bronze</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>

	</tbody>

</table>

<style type="text/css">
.EJETOE07806 {float: left;}
.EJETOE07806 #myTable {font-family: Arial; font-size: 14px;border: 0px none; width: 620px; margin-bottom: 30px;}
.EJETOE07806 #myTable .sigla, .EJETOE07806 #myTable .bandeira {display: none;}
.EJETOE07806 #myTable th, .EJETOE07806 #myTable td {padding: 3px;}
.EJETOE07806 #myTable th, .EJETOE07806 #myTable td {text-align: center;}
.EJETOE07806 #myTable th {color: #fff; background: #000;border: 0px none;}
.EJETOE07806 #myTable td {border: 0px none;vertical-align: middle;}
.EJETOE07806 #myTable td strong {position: relative;top: -6px;margin-left: 10px;}
.EJETOE07806 #myTable td.pais {text-align: left;}
.EJETOE07806 .brasil {background: #F1F1F1;}
.EJETOE07806 #myTable td img {width: 30px;}
</style>

</div>
