
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_wrapper.css?v=2.87" type="text/css" rel="stylesheet">
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_components.css?v=14.4.8" type="text/css" rel="stylesheet">
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_structure.css?v=1.3.2" type="text/css" rel="stylesheet">
    <link href="http://s0.ejesa.ig.com.br/css/odia/odia_intervencao.css?v=3.1.2" type="text/css" rel="stylesheet">
    <link href="http://s0.ejesa.ig.com.br/css/odia/jquery.msg.css" rel="stylesheet" type="text/css">

    <link href="http://s0.ejesa.ig.com.br/css/odia/responsivo.css?v=1.9" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
 
    <!--[if lt IE 10]>
        <script>
                'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)});
        </script>
    <![endif]-->

    <!--[if IE 8 ]>
        <link href="http://s0.ejesa.ig.com.br/css/odia/odia_wrapper_ie8.css?v=1.6" type="text/css" rel="stylesheet">
        <link href="http://s0.ejesa.ig.com.br/css/odia/odia_components_ie8.css?v=1.1" type="text/css" rel="stylesheet">
    <![endif]-->

    <!-- INICIO Novo Google Analyticas O DIA IG -->
    <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-160889-3', 'auto');
ga('create', 'UA-3531175-1', 'auto', {'name': 'ig'});ga('send', 'pageview');ga('ig.send', 'pageview');</script>
    <!-- FIM Novo Google Analyticas O DIA IG -->


    <script>window.jQuery || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-1.9.0.min.js">\x3C/script>')</script>
    <script>window.jQuery.ui || document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery-ui.min.js">\x3C/script>')</script>


    <script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/EJESA_ODia_Index.min.js?v=0.8.5"> </script>

    <script>
        function loadScriptPublicidade() {

            if(window.location.href.search("edicao.html") == -1){

                var g = document.createElement('script');
                    s = document.getElementsByTagName('script')[0];
             
                g.src = 'http://s0.ejesa.ig.com.br/js/odia/publicidades.min.js?v=0.3.4';
                s.parentNode.insertBefore(g, s);

            }
       
        }

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
            gads.onreadystatechange = loadScriptPublicidade;
            gads.onload = loadScriptPublicidade;
        })();
    </script>

    <script src="http://s0.ejesa.ig.com.br/js/odia/jquery.lazyload.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $("img").lazyload({
                effect : "fadeIn"
            });

            var exitComponent = $('.Ntc_foto_antesdepois');

            if(exitComponent.length == 2){

                var wrapImg = '<div id="antes-depois" />';
                var antesImg = $('.antes').clone();
                var depoisImg = $('.depois').clone();

                $('.Ntc_foto_antesdepois:eq(0)').before(wrapImg);

                $('.Ntc_foto_antesdepois').remove();

                antesImg.appendTo('#antes-depois');
                depoisImg.appendTo('#antes-depois');

                $.ajax({
                    url: 'http://s0.ejesa.ig.com.br/js/odia/jquery.beforeafter-1.4.js',
                    crossDomain: true,
                    dataType: "script",
                    success: function () {
                        $('#antes-depois').beforeAfter();
                    },
                    error: function () {
                        $('#antes-depois').remove();
                    }
                });

            }

            /*
            if($('#noticia').length > -1){
                $('#noticia').attr('name', 'HOTWordsTxt');
            }
            */

        });
    </script>

    <style>
        #area8 {float: left;bottom: 58%;width: 640px;z-index: 9999;margin: 0px 0px 0px 0px;position: relative;}
        #area9{float: left;bottom: 58%;width: 640px;z-index: 9999;margin: 0px 0px 0px 0px;position: relative;}
        #area6{float: left;bottom: 58%;width: 640px;margin: 0px 0px 0px 0px;position: relative;}
    </style>