
.EJETOE02202 dl,
.EJETOE02202 menu,
.EJETOE02202 ol,
.EJETOE02202 ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    font-size: 0px;
    line-height: 0px;
}

.EJETOE02202 #blogs-colunistas {
	width: 300px;
}

.EJETOE02202 li {
	display: inline-block;
	width: 72px;
	height: 103px;
	background:#ff0000;
	margin-right: 4px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.EJETOE02202 li img {
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
	-webkit-transform: scale(1.0) rotate(-0.1deg);
	-moz-transform: scale(1.0) rotate(-0.1deg);
	-ms-transform: scale(1.0) rotate(-0.1deg);
	-o-transform: scale(1.0) rotate(-0.1deg);
	transform: scale(1.0) rotate(-0.1deg);
}

.EJETOE02202 li:nth-child(2),
.EJETOE02202 li:nth-child(6) {
	margin: 0;
}

.EJETOE02202 li:first-child,
.EJETOE02202 li:first-child + li {
	width: 148px;
	height: 106px;
	position: relative;
	margin-bottom: 4px;
}


.EJETOE02202 li > span:first-child {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	display: block;
	border-width: 3px;
	border-style: solid;
	border-color: #174f82;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 140ms opacity linear;
	-moz-transition: 140ms opacity linear;
	-o-transition: 140ms opacity linear;
	transition: 140ms opacity linear;
}

.EJETOE02202 li:hover > span:first-child {
	opacity: 1;
}


.EJETOE02202 li:hover > img {
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
	-moz-transform: scale(1.1) rotate(-0.1deg);
	-webkit-transform: scale(1.1) rotate(-0.1deg);
	-o-transform: scale(1.1) rotate(-0.1deg);
	-ms-transform: scale(1.1) rotate(-0.1deg);
	transform: scale(1.1) rotate(-0.1deg);
}



.EJETOE02202 div.extras > div {
	background: #174f82;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 5px;
	position: absolute;
	opacity: 0;
	color: #fff;
	font-family: arial;
	font-size: 12px;
	display: none;
}

.EJETOE02202 div.extras > div:nth-child(1) {
	top: 57px;
	width: 152px;
	height: 106px;
	left: 148px;

}

.EJETOE02202 div.extras > div:nth-child(2) {
	top: 57px;
	width: 152px;
	height: 106px;
	left: 0px;
}

.EJETOE02202 div.extras > div:nth-child(3) {
	top: 167px;
	width: 152px;
	height: 103px;
	left: 72px;
}

.EJETOE02202 div.extras > div:nth-child(4) {
	top: 167px;
	width: 152px;
	height: 103px;
	left: 148px;
}

.EJETOE02202 div.extras > div:nth-child(5) {
	top: 167px;
	width: 152px;
	height: 103px;
	left: 0px;
}

.EJETOE02202 div.extras > div:nth-child(6) {
	top: 167px;
	width: 152px;
	height: 103px;
	left: 76px;
}

.EJETOE02202 .desaturate{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(desaturate.svg#cinza);
	filter: gray;
}


.EJETOE02202 .box-bl-col{
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
	border-top: 1px solid #f9be00;
	width: 300px;
	font-family: arial;
	overflow: hidden;
	position: relative;
}

.EJETOE02202 .box-bl-col span {
	background-color: #f9be00;
	height: 7px;
	width: 87px;
	float: left;
	margin-left: 20px;
}

.EJETOE02202 .bl-col-title {
	clear: both;
}

.EJETOE02202 .bl-col-title h1 {
	color: #004c87;
	font-size: 22px;
	margin-top: 4px;
	margin-left: 20px;
	font-weight: bold;
	float: left;
	padding: 0 !important;
}

.EJETOE02202 .bl-col-title h2 {
	color: #f9be00;
	font-size: 22px;
	margin-top: 4px;
	font-weight: bold;
	float: left;
	padding: 0 !important;
}

.EJETOE02202 .box-bl-col .mais-blogs {
	background: #004c87;
	width: 70px;
	height: 21px;
	color: #fff;
	position: absolute;
	right: 10px;
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	top: 12px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}

.EJETOE02202 .box-bl-col .mais-blogs:hover {
	background: #0066d5;
}
