<div class="EJETOA02704">
    <div id="carousel_container " class="ultimos-resultados confd-prox-jogos">
         <span>últimos<br />resultados</span>
         <div id="left_scroll"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_left_ultimas-resultados.jpg" /></div>
         <div id="carousel_inner" class="resultados">
            <ul id="carousel_ul" style="left:0;">
            </ul>
        </div>
        <div id="right_scroll"><img src="http://s0.ejesa.ig.com.br/img/odia/arrow_right_ultimas-resultados.jpg" /></div>
        <div class="clear"></div>
    </div>
</div>