<style>

.EJETOA00906 {
	margin: 15px 20px 15px 0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png') repeat;
	width: 940px;
	height: 175px;
	float: left;
}

.EJETOA00906 .editoria-diversao-cabecalho{
	width: 100%;
	height: 40px;
	float: left;
	display: block;
	position: relative;
	border-top: 1px solid #996699;
}

.EJETOA00906 .editoria-icones{
	width: 100%;
	height: 110px;
	padding-top: 10px;
	padding-bottom: 15px;
	float: left;
	display: block;
	position: relative;
}
.EJETOA00906 .icone {
	width: 215px;
	margin-right: 20px;
	height: 115px;
	float: left;
	display: block;
}

.EJETOA00906 .icone a{
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color:#999;
}

.EJETOA00906 .icone > a:hover{
	color: #996699;
}

.EJETOA00906 #editoria-icone-celebridades:hover{
	 background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -81px; 
	}

.EJETOA00906 #editoria-icone-celebridades{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 0;
	 width: 81px; 
	 height: 80px;
	 margin: 0 auto;
 	 margin-top: 15px;
}

.EJETOA00906 #editoria-icone-televisao{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -863px; 
	width: 78px; 
	height: 59px;
	margin: 0 auto;
	margin-top: 35px;
}
.EJETOA00906 #editoria-icone-televisao:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -923px; 
}


.EJETOA00906 #editoria-icone-odianafolia{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -481px;
 	width: 79px; 
 	height: 95px;
 	margin: 0 auto; 
}

.EJETOA00906 #editoria-icone-odianafolia:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -577px; 
}

	
.EJETOA00906 #editoria-icone-especiais{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -162px; 
	width: 59px; 
	height: 56px; 
	margin: 0 auto;
	margin-top: 35px;
}
.EJETOA00906 #editoria-icone-especiais:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png') no-repeat 0 -219px; 
}


.EJETOA00906 .subeditoria-nome{
	width: 100%;
	height: 20px;
	text-align: center;
}

.EJETOA00906 .cabecalho-borda{
	width: 85px;
	margin-left: 20px;
	height: 10px;
	background-color: #996699;
}

.EJETOA00906 .cabecalho-titulo{
	width: 160px;
	height: 35px;
	margin-left: 20px;
	font-family: Arial;
	font-size: 22px;
	display: block;
	position: relative;	
}

.EJETOA00906 .inicio{
	color: #999;
	display: block;
	float: left;
}

.EJETOA00906 .fim{
	color: #996699;
	display: block;
	float: left;
}
</style>