<div class="EJETOE02202">
	<div class="box-bl-col">
		<span></span>
		<div class="bl-col-title">        
			<h1>blogs</h1>        
			<h2>colunistas</h2>    
		</div>
		<div class="mais-blogs">+blogs</div>
	</div>

	<div class="blogs-colunistas" id="blog-colunistas">
		<ul>
			<li class="colunistas">
				<a href="">
					<span></span>
					<img src=""/>
				</a>
			</li>
		</ul>
	</div>

	<div class="extras">
		<div class="extra"><strong></strong><br/></div>
	
	</div>
</div>