
<div class="EJETOE00501">
	<div class="tempo-data">
		<a></a>
	</div>
	<div class="tempo-local"> 
		<a>Rio de Janeiro</a>
	</div>
	<div class="tempo-img">
	</div>
	<div class="tempo-temperatura-max"> máx
		<span class="temp-max"> </span>
	</div>
	<div class="tempo-temperatura-min">min 
		<span class="temp-min"> </span>
	</div>
	
</div>