<div id="EJETOA03506" class="google-mapa">
	<div class="trajetos">
		<ul>
			<li class="texto">Rotas alternativas:</li>
			<li data-inicio="Avenida Dom Hélder Câmara, 6001 - Rio de Janeiro " data-destino="R. São Clemente, 124 - Rio de Janeiro">
					<div class="nometrajeto">Riachuelo - Sul América - Botafogo</div>
					<div class="paradas">
							<span>Boulevard 28 de Setembro, 86, Rio de Janeiro</span>
							<span>R. Joaquim Palhares, 40 - Rio de Janeiro</span>
					</div>
			</li>
		</ul>
	</div>

	<div id="map-canvas" style="width:100%;height:600px;"></div>
	<div style="width:30%;height:100%;overflow:auto">
		<div id="directions_panel"></div>
	</div>
</div>
