	.EJETOA00706{
		width: 940px;
		height: 130px;
		background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png');
		margin: 0px 0px 30px 0px;
	}

	.EJETOA00706 .tool{
		width: 160px;
		height: 130px;
		margin: 10px;
		float: left;
	}

	.EJETOA00706 .tool-icon{
		float: left;
		width: 50%;
		margin-top: 20px;
	}

	.EJETOA00706 .tool-text{
		float: left;
		width: 45%;
		margin-top: 35px;
		margin-left: 14px;
	}

	.EJETOA00706 .tool-hat{
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		color: #999999;
		text-decoration: none;
	}

	.EJETOA00706 .tool-hat a{
		color: #999999;
		text-decoration: none;
	}

	.EJETOA00706 .tool-hat a:hover{
		color: #999999;
		text-decoration: none;
	}

	.EJETOA00706 .tool-title{
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		color: #006699;
		text-decoration: none;
		padding-top: 5px;
	}
	.EJETOA00706 .tool-title a{
		color: #006699;
		text-decoration: none;
	}

	.EJETOA00706 .tool-title a:hover{
		color: #0066CC;
		text-decoration: none;
	}

	.EJETOA00706 #facebook-icon{
		background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-home.png') no-repeat 0 -115px; 
		height: 69px;
		width: 74px; 
	}

	.EJETOA00706 #twitter-icon{
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-home.png') no-repeat 0 -488px; 
		height: 66px; 
		width: 94px;
	
	}
	.EJETOA00706 #mobile-icon{
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-home.png') no-repeat 0 -255px; 
		height: 67px; 
		width: 36px;
	}

	.EJETOA00706 #news-icon{
		height: 69px;
		width: 74px;
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-home.png') no-repeat 0 -185px; 
	}

	.EJETOA00706 #feed-icon{
		background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-home.png') no-repeat 0 -388px; 
		height: 63px; 
		width: 63px;
	}

	.EJETOA00706 #twitter-tool{
		width: 210px;
	}
	
	.EJETOA00706 #twitter-text{
		width: 100px;
	}
	
	.EJETOA00706 #mobile-tool{
		width: 150px;
	}
	
	.EJETOA00706 #mobile-text{
		float: left;
		width: 90px;
		margin-left: 15px;
	}