<div>
	<div class="EJETOA03102">
		<div class="toolsbar">
			<div class="tools-font-plus">
				<a onClick="javascript:changeFont('plus')"><img src="http://s0.ejesa.ig.com.br/img/odia/button_plus.png"></a>
			</div>
			<div class="tools-font-lessen">
				<a onClick="javascript:changeFont('lessen')"><img src="http://s0.ejesa.ig.com.br/img/odia/button_lessen.png"></a>
			</div>
			<div class="tools-print">
				<a onclick="window.print(); return false;"><img src="http://s0.ejesa.ig.com.br/img/odia/button_print.png"></a>
			</div>
		</div>
	</div>
</div>
