<div class="EJETOA02801">
    <div class="selecao-de-noticias">
        <a class="confe-logo " href="  http://odia.ig.com.br/esporte/copadasconfederacoes/index.html "><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/confed-logo.png"><span>TODAS AS NOTÍCIAS</span></a>
        <a class="cbf-logo " href="http://odia.ig.com.br/esporte/copadasconfederacoes/selecaobrasileira/ "><img src="http://s0.ejesa.ig.com.br/img/odia/copa-confederacoes/cbf-logo.png"><span>SELEÇÃO BRASILEIRA</span></a>
    </div>
</div>