<div class="EJETOA00906">
	<div class="editoria-diversao-cabecalho">
		<div class="cabecalho-borda">
		</div>
		<div class="cabecalho-titulo">
			<span class="inicio">outras</span>
			<span class="fim">editorias</span>
		</div>
	</div>
	<div class="editoria-icones">
		<div class="icone">
			<a href="/diversao/celebridades/" title="Celebridades">
				<div id="editoria-icone-celebridades" >
				</div>
				<div class="subeditoria-nome">
					Celebridades
				</div>
			</a>
		</div>
		<div class="icone">
			<a href="/diversao/televisao/" title="Televisão">
				<div id="editoria-icone-televisao">
				</div>
				<div class="subeditoria-nome">
					Televisão
				</div>
			</a>
		</div>
		<div class="icone">
			<a href="/diversao/odianafolia/" title="O Dia na Folia">
				<div id="editoria-icone-odianafolia">
				</div>
				<div class="subeditoria-nome">
				O dia na Folia
				</div>
			</a>
		</div>

	<div class="icone">
		<a href="http://odia.ig.com.br/diversao/especiais/2014-11-27/videos.html" title="O Dia na Folia">
			<div id="editoria-icone-videos">
			</div>
			<div class="subeditoria-nome">
			Vídeos
			</div>
		</a>
	</div>
	</div>
<style type="text/css">
.EJETOA00906 #editoria-icone-videos {width: 79px;height: 79px;margin: 18px auto 0 auto;background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png?v1') no-repeat 13px -984px;}
.EJETOA00906 #editoria-icone-videos:hover {background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-diversao.png?v1') no-repeat 13px -1062px;}
</style>
</div>
