
<div class="EJETOE00202x">
	<div class="header">
		<a href="http://classificadosodia.com.br" title="Anuncie aqui">
			<img src="http://s0.ejesa.ig.com.br/img/odia/classificados_bg.png" >		
		</a>
	</div>
	<div class="product-img">
		<div class="product-img-options">
			<ul>
				<li>
					<a href="#">
						<img src="" width="300" height="95"  alt=""/>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="product-nav">
		<div class="product-nav-options">
			<div><a class="product-nav-back"></a></div>
			<div class="product-nav-middle">
				<ul>
					<li></li>
				</ul>
			</div>
			<div>
				<a class="product-nav-next">
				</a>
			</div>
		</div>
	</div>
	<div class="product-plus">
		<div id="product_plus_icons" class="product_plus_icon" > 
			<img src="http://s0.ejesa.ig.com.br/img/odia/product_plus_icon.png" alt="" width="97" height="45" />
		</div>
		<div id="product_plus_icon_car" class="product_plus_icon">
			<a href="http://classificadosodia.com.br/busca/veiculos" alt="Veículos">
				<img src="http://s0.ejesa.ig.com.br/img/odia/product_plus_icon_car.png" alt="" width="61" height="45" />
			</a>
		</div>
		<div id="product_plus_icon_jobs" class="product_plus_icon">
			<a href="http://classificadosodia.com.br/busca/empregos" title="Empregos">
				<img src="http://s0.ejesa.ig.com.br/img/odia/product_plus_icon_jobs.png" width="61" height="45" />
			</a>
		</div>
		<div id="product_plus_icon_products" class="product_plus_icon">
			<a href="http://classificadosodia.com.br/busca/produtos_e_servicos" title="Produtos e Serviços">
				<img src="http://s0.ejesa.ig.com.br/img/odia/product_plus_icon_products.png" width="61" height="45" />
			</a>
		</div>
		
	</div>
</div>