.EJETOE01104 {
    margin:15px 15px 20px 0;
    float: left;
}
.EJETOE01104 .content{
    color:#777;
    font:12px/1.4 arial,sans-serif;
    width:650px;
    margin:20px auto;
}
.EJETOE01104 #galleria{
    height:580px;
    margin-left: 5px !important;
}
.EJETOE01104 .galleria-image{
    width: 650px !important;
}

.EJETOE01104 #galleria-loader{height:1px!important}

.EJETOE01104 .galleria-container {
    position: relative;
    width: 640px !important;
}
.EJETOE01104 .galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.EJETOE01104 .galleria-stage {
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 0px;
    right: 10px;
    overflow:hidden;
}
.EJETOE01104 .galleria-thumbnails-container {
    bottom: 12px;
    height: 70px;
    left: 0;
    position: absolute;
    z-index: 2;
    padding-top: 10px;
 //   padding-left: 16px;
//  padding-right: 10px;
    background-color: #dfdfdf;
}
.EJETOE01104 .galleria-carousel .galleria-thumbnails-list {
    margin-left: 15px;
    margin-right: 15px;
}
.EJETOE01104 .galleria-thumbnails .galleria-image {
    height: 60px;
    width: 113px ! important;
    background: #000;
    margin: 0 5px 0 0;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
}
.EJETOE01104 .galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    margin-left: 0px;
    width: 650px;   
    height: 85px;
    left: 0;
}
.EJETOE01104 .galleria-image-nav-left{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat left bottom;
    background-position: 0 -1088px;
    cursor: pointer;
    width: 62px;
    height: 75px;
    position: absolute;
    left: 0px;
    z-index: 2;
}
.EJETOE01104 .galleria-image-nav-right {
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat left bottom;
    background-position:  0 -937px;
    cursor: pointer;
    width: 62px;
    height: 75px;
    position: absolute;
    left: 0px;
    z-index: 2;
}
.EJETOE01104 .galleria-image-nav-right {
    left: auto;
    right: 0px;
    z-index: 2;
}
.EJETOE01104 .notouch .galleria-image-nav-left:hover,
.EJETOE01104 .notouch .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.EJETOE01104 .touch .galleria-image-nav-left:active,
.EJETOE01104 .touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.EJETOE01104 .galleria-thumb-nav-left,
.EJETOE01104 .galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 85px;
    width: 23px;
    z-index: 3;
    opacity: .8;
    filter: alpha(opacity=80);
}
.EJETOE01104 .galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}
.EJETOE01104 .galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.EJETOE01104 .notouch .galleria-thumb-nav-left:hover,
.EJETOE01104 .notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.EJETOE01104 .touch .galleria-thumb-nav-left:active,
.EJETOE01104 .touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.EJETOE01104 .notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.EJETOE01104 .galleria-carousel .galleria-thumb-nav-left,
.EJETOE01104 .galleria-carousel .galleria-thumb-nav-right {
    display: none;
}
.EJETOE01104 .galleria-thumb-nav-left{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat left bottom;
    background-position: 0 -1088px;
}
.EJETOE01104 .galleria-thumb-nav-right{
    background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png') no-repeat left bottom;
    background-position:  0 -937px;
    background-repeat: no-repeat;
}

.EJETOE01104 .header{
    background:url("http://s0.ejesa.ig.com.br/img/odia/bg_product.png") repeat;
    border-top: 1px solid #cc0000;
    width: 632px;
    height: 85px;
    position: relative;
    z-index: 1000;
    margin-bottom: -28px;
    margin-left: 4px;
}

.EJETOE01104 .header-top{
    width: 100px;
    height: 5px;
    margin-left: 20px;
    background-color: #cc0000; 

}

.EJETOE01104 .header-text{
    width: 100px;
    height: 5px;
    margin-left: 20px;
    float: left;
}

.EJETOE01104 .header-text-top{
    color: #000000;
    display: block;
    font-family: Arial;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;

}
.EJETOE01104 .header-text-bottom{
    color: #000000;
    display: block;
    font-family: Arial;
    font-size: 20px;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 155px;
    margin-top: -10px;
}