<div>
	<div class="EJETOA03806" style="display:none">
		<style>
			/*CAMPEONATO CARIOCA 2014*/
			#EJETOA03806 {float: left;width: 300px;margin: 15px 20px 15px 0px; font-family: Arial, sans-serif;background:#ffffff; padding-top:0px;}
			#EJETOA03806 .titulo { font:24px Arial, Helvetica, sans-serif; color:#a5a5a5; text-transform:lowercase; margin:0 0 8px; border-top:1px solid #5A8F1B; padding-left:16px; }
			#EJETOA03806 .titulo span { color:#5a8f1b; }
			#EJETOA03806 .titulo .barrinha { width:87px; height:7px; background:#5a8f1b; margin-bottom:8px; }
			#EJETOA03806 table th { background:#eeeeee; padding:10px 0; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; color:#5a8f1b; width:40px; text-align:center; font-size: 12px; }
			#EJETOA03806 table th.col1 { color:#999999; font-size:11px; text-transform:lowercase; text-align:left; width:180px; padding:10px 8px; }
			#EJETOA03806 table td { padding:10px 0; border-bottom:1px solid #d8d8d8; text-align:center; font-size: 12px;  }
			#EJETOA03806 table td.col1 { width:40px; font-size:14px; color:#5a8f1b; text-align:center; font-weight:bold; }
			#EJETOA03806 table td.cinza { background:#eeeeee !important; }
			#EJETOA03806 table td.time { text-align:left; }
			#EJETOA03806 table td.confira { text-align:left; border-bottom:2px solid #d8d8d8; }
			#EJETOA03806 table td.confira a { color:#333333; font-weight:bold; text-decoration: none; }
		</style>
		<div id="EJETOA03806">
			<div class="titulo">
				<div class="barrinha"></div>
				<span>classificação</span>
			</div><!-- / titulo -->
	
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th colspan="2" class="col1" class="cabecalho"></th>
						<th>P</th>
						<th>J</th>
						<th>V</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="confira"><a href="/esporte/carioca/classificacao">» Confira todos os dados da competição</a></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>