<div class="EJETOA052306">

	<div class="twitter24">
		<div class="botao-twitter24">
			<div class="seta">X</div>
			<div class="texto-twitter24">
				<div class="chamada">
					Conferir O Dia 24hrs
				</div>
			</div>
		</div>
	</div>

	<div class="twitter24-detalhes">
		<div class="botao-twitter24">
			<div class="header24twitter">
				<span class="logo24twitter"></span>
				<div class="seta">X</div>
			</div>

			<div class="texto-detalhes">
				<ul id="twitter-feed">
				</ul>
				<div class="comandos">
					<a class="para-cima" href="javascript:void(0);">cima</a>
					<a class="para-baixo" href="javascript:void(0);">baixo</a>
				</div>
				<hr>
				<small>Informações que fazem a diferença!</small> <span><a href="https://twitter.com/odia24horas" class="twitter-follow-button" data-show-count="false" data-lang="pt">Seguir @odia24horas</a></span>
			</div>
		</div>
	</div>

<style type="text/css">
.EJETOA052306 {font-family: Arial, sans-serif; font-size: 12px;}
.EJETOA052306 .twitter24 {position: fixed; z-index: 999999999; bottom: 100px;right: 0px;cursor: pointer;background: url('http://s0.ejesa.ig.com.br/img/odia/bg-24hrs.gif') repeat;width: 33px;height: 160px;}
.EJETOA052306 .twitter24 .botao-twitter24 {position: relative;}
.EJETOA052306 .seta {width: 15px;height: 15px;display: block;text-align: center;background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs.png') no-repeat -34px -84px;cursor: pointer;text-indent: -9999px;margin: 12px 0px 20px 12px;}
.EJETOA052306 .twitter24 .texto-twitter24 {width: 33px;height: 100px;}
.EJETOA052306 .twitter24 .texto-twitter24 .chamada {font-weight: bold; overflow: hidden; top: 0px;position: relative;text-indent: -999999999px;background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs.png') no-repeat 0px -5px;width: 26px;height: 100px;margin-left: 2px;}
.EJETOA052306 .twitter24-detalhes {position: fixed; z-index: 999999999; bottom: 100px;right: -365px; width: 365px;height: 160px;  }
.EJETOA052306 .header24twitter {background: url('http://s0.ejesa.ig.com.br/img/odia/bg-24hrs.gif') repeat; display: block; width: 365px; height: 34px;}
.EJETOA052306 .logo24twitter {background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs.png') no-repeat -5px -107px; display: block; width: 100px; height: 20px; float: left; margin: 7px 15px; }
.EJETOA052306 .header24twitter .seta {float: right; margin: 10px; }
.EJETOA052306 .texto-detalhes {display: block; height: 125px; border: 1px solid #dedede; position: relative; background: white;}
.EJETOA052306 .texto-detalhes ul, .EJETOA052306 .texto-detalhes ul li {margin: 0; padding: 0; list-style: none; font-family: Arial, sans-serif;}
.EJETOA052306 .texto-detalhes ul {overflow: hidden; height: 70px; margin: 10px 15px 10px 55px; }
.EJETOA052306 .texto-detalhes ul li { position: relative; width: 260px; font-size: 13px; line-height: 16px; height: 70px; display: block;}
.EJETOA052306 .texto-detalhes ul li a {text-decoration: none; color: #006699; font-weight: bold;}
.EJETOA052306 .texto-detalhes ul li {-webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;}
.EJETOA052306 .texto-detalhes ul li code {position: absolute; top: 0px; right: -32px;font-size: 10px;font-family: Arial, sans-serif;}
.EJETOA052306 .texto-detalhes ul li div {height: 70px; display: table-cell; vertical-align: middle;}
.EJETOA052306 .texto-detalhes hr { border: 0px none; margin: 7px 15px; margin-right: 5px; border-bottom: 1px solid #ccc; padding: 0;}
.EJETOA052306 .texto-detalhes small { position: relative; top: -6px; color: #666; font-size: 12px; font-style: italic; font-family: Arial, sans-serif; margin: 0 5px 0 15px;}
.EJETOA052306 .texto-detalhes .comandos { width: 30px; height: 51px; margin-right: 0px; position: absolute; top: 20px; left: 15px;}
.EJETOA052306 .texto-detalhes .comandos a {text-indent: -999999px; width: 29px; height: 13px; display: block; background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs.png') no-repeat -58px -59px; }
.EJETOA052306 .texto-detalhes .comandos a.para-cima {margin-top: 3px;}
.EJETOA052306 .texto-detalhes .comandos a.para-baixo {margin-top: 18px; background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs.png') no-repeat -58px -86px;  }
.EJETOA052306 .botao-twitter24 .seta {background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs2.png') no-repeat -33px -64px;}
.EJETOA052306.edicao .twitter24 {display: none;}
.EJETOA052306 .header24twitter .seta {background: url('http://s0.ejesa.ig.com.br/img/odia/sprite-24hrs.png') no-repeat -34px -84px;}
</style>

</div>

