<div class="EJETOA052302">
<style type="text/css">
.EJETOA052302 {width: 300px;overflow: hidden;display: block;position: relative;background: #26658e; margin-bottom: 30px;}
.EJETOA052302 .header-mob-tv {background: url('http://s0.ejesa.ig.com.br/img/odia/ft-header-mob-tv-300-74.jpg');width: 300px;height: 74px;}
.EJETOA052302 .thumb-mob-tv {width: 274px;height: 166px;overflow: hidden;margin: 0 auto;position: relative;z-index: 8;}
.EJETOA052302 a .thumb-mob-tv img {border: 0;outline: none;}
.EJETOA052302 .thumb-mob-tv span.play {background: url('http://s0.ejesa.ig.com.br/img/odia/ft-play-mob-tv.png') no-repeat 50% 50%;width: 274px;height: 166px;position: absolute;z-index: 9;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -o-transition: all 200ms linear; transition: all 200ms linear;}
.EJETOA052302 .chamada-mob-tv {padding: 10px;}
.EJETOA052302 a > .chamada-mob-tv span.titulo-mob-tv{color: #fff;font-family: arial;font-size: 14px;font-weight: bold;}
.EJETOA052302 a {text-decoration: none;}
.EJETOA052302 a:hover .thumb-mob-tv span.play {background: url('http://s0.ejesa.ig.com.br/img/odia/ft-play-mob-tv.png') no-repeat 50% 50%;}
</style>
	<div class="header-mob-tv"></div>
	<a href="" target="_fetransporte">
		<div class="thumb-mob-tv">
			<span class="play"></span>
			<img src="" />
		</div>
		<div class="chamada-mob-tv">
			<span class="titulo-mob-tv"></div>
		</div>
	</a>
</div>
