<div id="header-p2">
	<div>
		<div class='EJETOE00106'>
			<div id='menu' class='kernel'>
				<nav>
					<ul id='listmentu' class="menu-navegacao">
					</ul>
					<ul class="sharesite">
						<div class='sharewidget'>
							<g:plusone size='medium' href='http://www.odia.com.br'></g:plusone>
						</div>
						<div class='sharewidget'>
							<div class='fb-like' data-href='http://www.odia.com.br' data-send='false' data-layout='button_count' data-width='120' data-show-faces='true' data-font='lucida grande'></div>
						</div>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<%{%>

<script>

	var objmenu = <%=JSON.stringify(menuODia)%>;

	var html = '';
	for(var i=0; i < objmenu.filhos.length; i++){
		var titulo = objmenu.filhos[i].titulo;
		var link = '';
		var target = '';

		html += "<li class='" + titulo + "'>";

		if(objmenu.filhos[i].url != undefined){
			link = objmenu.filhos[i].url;
		}else{
			if(objmenu.filhos[i].linkExterno != undefined){
				link = objmenu.filhos[i].linkExterno
			}
		}

		if(objmenu.filhos[i].linkInterno == "true"){
			target = '_blank';
		}else{
			target = '_self';
		}

		
		html += "<a href='" + link + "' target='" + target + "'>";
		html +="<span class='titulo'>";
		html += titulo;
		html +="</span>";
		html +="<span class='separador'>";
		html +="</span>";
		html += "</a>";
		
		if(objmenu.filhos[i].filhos != undefined){
			var subsections = objmenu.filhos[i].filhos;
			
			html += "<div class='box'>";
			html += "<ul class='editorias'>";
			
			for(var y=0; y < subsections.length; y++) {
				
				var subtitulo = subsections[y].titulo;
				
				html += '<li>';
				var sublink = '';
				if(subsections[y].url != undefined){
					sublink = subsections[y].url;
				}else{
					if(objmenu.filhos[y].linkExterno != undefined){
						sublink = subsections[y].linkExterno
					}
				}
				html += "<a href='" + sublink + "'>";
				html +="<div class='bullets'>";
				html += "</div>";
				html += subtitulo;
				html += "</a>";
				html += '</li>';
			}
			html += '</ul>';
		}

		html += '</div>';
	}

	$('#listmentu').html(html);
	
	$('.menu-navegacao').find('li').each(function(index) {
		$(this).hover(function() {
			$(this).find('.box').stop().animate({opacity: 1}, 300);
			$(this).find('.box').css('visibility','visible');
				}, function () {
			$(this).find('.box').stop().animate({opacity: 0}, 0);
			$(this).find('.box').css('visibility','hidden');
		});
	});
	
</script>
<%}%>