<div class="EJETOA053002">
	<h3>
        teste
    </h3>
	<div class="tweets">
		<div class="linha-do-tempo">
			<div id="twitter-feed"></div>
		</div>
	</div>
<style type="text/css">
.EJETOA053002 ::-webkit-scrollbar {width: 12px;}
.EJETOA053002 ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px;}
.EJETOA053002 ::-webkit-scrollbar-thumb {-webkit-border-radius: 10px; border-radius: 10px; background: rgba(255,0,0,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
.EJETOA053002 ::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,0,0,0.4);}
.EJETOA053002 {border-bottom: 1px solid #ddd; width: 300px; font-family: Arial, sans-serif; overflow: hidden; height: 316px; display: block; float: left; margin: 15px 15px 20px 0;}

.EJETOA053002 h3 {display: block; font-size: 20px; line-height: 20px; margin: 0 0 10px 0; padding: 0; color: #00689b; letter-spacing: -1px;}
.EJETOA053002 .twitter-article {-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -o-transition: all 200ms linear; transition: all 200ms linear; display: block; border: 1px solid #ddd; border-top: 0px none; padding: 10px; width: 276px; padding-right: 0px;}
.EJETOA053002 .twitter-article:hover {background: #f5f8fa; cursor: pointer;}
.EJETOA053002 .twitter-article:first-child {border-top: 1px solid #ddd;}
.EJETOA053002 iframe {margin-top: -5px !important; position: relative !important; float: right;}
.twitter {float:left; margin-right:20px;}
.tweets {overflow: hidden;}
.tweets .linha-do-tempo {overflow: hidden;}
#loading-container {padding:16px 0px 16px 0px; text-align:center;}
#twitter-feed {margin:auto; color:#333; height:265px; overflow:auto;}
#twitter-feed h1 {color:#5F5F5F; margin:0px; padding:9px 0px 9px 0px; font-size:18px; font-weight:lighter;}
#twitter-header {background-color:#FFF; position:relative; z-index:2; border-bottom:1px dotted #CCC;}
.twitter-article, #loading-container {width:100%; float:left; padding:8px 0px 0px 0px; position:relative;}
.EJETOA053002 .twitter-pic {position:absolute;}
.EJETOA053002 .twitter-pic img {float:left; border-radius:7px; border:none;}

/* -------- TEXT STYLING ------*/
.EJETOA053002 .twitter-text {width:94%; float:left; font-size:12px; padding-left:52px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.EJETOA053002 .twitter-text p {margin:0px; line-height:17px !important;}
.EJETOA053002 .twitter-text a, .EJETOA053002 h1 a {color: #00acee; text-decoration: none;}
.EJETOA053002 .twitter-text a:hover, .EJETOA053002 h1 a:hover {text-decoration: underline; color: #00acee;}
.EJETOA053002 .tweet-time {font-size:10px; color:#878787; float:right;}
.EJETOA053002 .tweet-time a, .EJETOA053002 .tweet-time a:hover {color:#878787;}
.EJETOA053002 .tweetprofilelink a {color:#444;}
.EJETOA053002 .tweetprofilelink a:hover {color:#444;}

/* -------- FEED  ACTIONS ------*/
.EJETOA053002 #twitter-actions {float:left; margin-right:5px; margin-top:10px; display:block;}
.EJETOA053002 .intent {height:16px; float:left;}
.EJETOA053002 .intent a{height:16px; font-size: 11px; color: #3b3b3b; display:block; padding-right: 15px; opacity: .5; background-image:url('http://especiais.odia.ig.com.br/comercial/encontro-comercio-candidatos/imgs/tweet-actions.png'); background-repeat: no-repeat; float:left; padding-left: 24px;}
.EJETOA053002 .intent a:hover{opacity: 1; text-decoration: none; color: #3b3b3b;}
.EJETOA053002 #intent-retweet a {background-position: 0 -16px;}

/* -------- RETWEET INDICATOR ------*/
.EJETOA053002 #retweet-indicator {width:14px; height:10px; background-image:url('http://especiais.odia.ig.com.br/comercial/encontro-comercio-candidatos/imgs/tweet-actions.png'); background-position:-5px -54px; margin-top:3px; float:left;}
.EJETOA053002 .backlink {font-size:11px; text-align:center;}
.EJETOA053002 .backlink a {color:#aaa;}
.EJETOA053002 .tweet, .EJETOA053002 .query {font-size: 120%; color: #000;}
.EJETOA053002 .tweet_list {list-style: none; margin: 0; padding: 0; overflow-y: hidden;}
.EJETOA053002 .tweet_list li {overflow-y: auto; overflow-x: hidden; padding: 1em 0; list-style-type: none; border-bottom: 1px solid rgb(233, 233, 233);}
.EJETOA053002 .tweet_list li a {color: #ff9966;}
</style>
</div>


