<div class="retrospectiva-dados content-retrospectiva">
    <h1>Retrospectiva <strong>2015</strong></h1>

	<div class="meses" data-mes-atual="">
    	<ul>
        	<li><a href="#" title="Janeiro">JAN</a></li>
            <li><a href="#" title="Fevereiro">FEV</a></li>
            <li><a href="#" title="Março">MAR</a></li>
            <li><a href="#" title="Abril">ABR</a></li>
            <li><a href="#" title="Maio">MAI</a></li> 
            <li><a href="#" title="Junho">JUN</a></li>
            <li><a href="#" title="Julho">JUL</a></li>
            <li><a href="#" title="Agosto">AGO</a></li>
            <li><a href="#" title="Setembro">SET</a></li>
            <li><a href="#" title="Outubro">OUT</a></li>
            <li><a href="#" title="Novembro">NOV</a></li>
            <li><a href="#" title="Dezembro">DEZ</a></li>
        </ul>
        <div class="clear"></div>
    </div><!--/.meses-->
    
    <div class="carrousel">
        <div id="galeria">
        		
                <ul>
                    
                    <li ng-repeat="evento in eventos | orderBy: 'data'">
                        <img width="940" height="565" class="imagem-slide" check-image ng-src="{{ evento.imagem }}" />
                        <span class="data">
                            DIA

                            <br />
                            
                            <span class="dia" data-ano="{{ evento.data | limitTo:4 }}" data-mes="{{ evento.data | limitTo:2:5 }}" data-dia="{{ evento.data | limitTo:-2 }}">
                                {{ evento.data | limitTo:-2 }}
                            </span>
                        </span>
                        <span class="legenda">
                            <span class="social">
                                <a href="#" class="facebook-bt" title="">
                                    Facebook
                                </a>
                                <a href="#" class="twitter-bt" title="Compartilhe no Twitter">
                                    Twitter
                                </a>
                                <a href="#" class="g-bt" title="Compartilhe no Google +">
                                    Google +
                                </a>
                            </span>
                            <strong>
                                {{ evento.titulo }}
                            </strong>

                            <br />

                            <span class="guia-olho">
                                {{ evento.olho }}
                            </span>
                        </span>
                    </li>
                    
                </ul>
                <a id="voltar" href="javascript:void(0);"> < </a>
                <a id="avancar" href="javascript:void(0);"> > </a>
            </div>
            <a href="#leia-mais" class="leia-mais-bt" title="Leia notícias relacionadas">Leia Mais</a>
    </div><!--/.carrousel-->

    <div class="clear"></div>
    
    <div id="leia-mais">
        
        <div class="mais-noticias">
            <h3>Leia <strong>Mais</strong></h3>
            <div class="noticia n1">
                <h4><a href="#"></a></h4>
                <div class="editoria"></div>
                <span class="social"><a href="#" class="facebook-bt" title="Compartilhe no Facebook">Facebook</a> <a href="#" class="twitter-bt" title="Compartilhe no Twitter">Twitter</a> <a href="#" class="g-bt" title="Compartilhe no Google +">Google +</a></span>
            </div>
            
            <div class="noticia n2">
                <h4><a href="#"></a></h4>
                <div class="editoria"></div>
                <span class="social"><a href="#" class="facebook-bt" title="Compartilhe no Facebook">Facebook</a> <a href="#" class="twitter-bt" title="Compartilhe no Twitter">Twitter</a> <a href="#" class="g-bt" title="Compartilhe no Google +">Google +</a></span>
            </div>

            <div class="noticia n3">
                <h4><a href="#"></a></h4>
                <div class="editoria"></div>
                <span class="social"><a href="#" class="facebook-bt" title="Compartilhe no Facebook">Facebook</a> <a href="#" class="twitter-bt" title="Compartilhe no Twitter">Twitter</a> <a href="#" class="g-bt" title="Compartilhe no Google +">Google +</a></span>
            </div>

            <div class="noticia n4">
                <h4><a href="#"></a></h4>
                <div class="editoria"></div>
                <span class="social"><a href="#" class="facebook-bt" title="Compartilhe no Facebook">Facebook</a> <a href="#" class="twitter-bt" title="Compartilhe no Twitter">Twitter</a> <a href="#" class="g-bt" title="Compartilhe no Google +">Google +</a></span>
            </div>

            <div class="noticia n5">
                <h4><a href="#"></a></h4>
                <div class="editoria"></div>
                <span class="social"><a href="#" class="facebook-bt" title="Compartilhe no Facebook">Facebook</a> <a href="#" class="twitter-bt" title="Compartilhe no Twitter">Twitter</a> <a href="#" class="g-bt" title="Compartilhe no Google +">Google +</a></span>
            </div>

        </div><!--/.mais-noticias-->
        
        <div class="publicidade">
            <img src="imgs/publicidade.jpg" />
        </div><!--/.publicidade-->
        
    </div><!--/#leia-mais-->
        
</div><!--/#content-retrospectiva-->