
<div class="EJETOA01106">
	<div class="editoria-noticia-cabecalho">
		<div class="cabecalho-borda">
		</div>
		<div class="cabecalho-titulo">
			<span class="inicio">outras</span>
			<span class="fim">editorias</span>
		</div>
	</div>
	<div class="editoria-icones" >
		<div class="icone" id="editoria-rio">
			<a href="/noticia/rio/" title="Rio">
				<div id="editoria-icone-rio" >
				</div>
				<div class="subeditoria-nome">
					Rio
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-brasil">
			<a href="/noticia/brasil/" title="Brasil">
				<div id="editoria-icone-brasil">
				</div>
				<div class="subeditoria-nome">
					Brasil
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-economia">
			<a href="/noticia/economia/" title="Economia">
				<div id="editoria-icone-economia">
				</div>
				<div class="subeditoria-nome">
				Economia
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-mundoeciencia">
			<a href="/noticia/mundoeciencia/" title="Mundo & Ciência">
				<div id="editoria-icone-mundoeciencia">
				</div>
				<div class="subeditoria-nome">
				Mundo&Ciência
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-educacao">
			<a href="/noticia/educacao/" title="Educação">
				<div id="editoria-icone-educacao">
				</div>
				<div class="subeditoria-nome">
				Educação
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-opiniao">
			<a href="/noticia/opiniao/" title="Opinião">
				<div id="editoria-icone-opiniao">
				</div>
				<div class="subeditoria-nome">
				Opinião
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-automania">
			<a href="/noticia/automania/" title="Automania">
				<div id="editoria-icone-automania">
				</div>
				<div class="subeditoria-nome">
				Automania
				</div>
			</a>
		</div>
		<div class="icone" id="editoria-imoveis">
			<a href="/noticia/imoveis/" title="Imóveis">
				<div id="editoria-icone-imoveis">
				</div>
				<div class="subeditoria-nome">
				Imóveis
				</div>
			</a>
		</div>

		<div class="icone" id="editoria-especiais">
			<a href="/noticia/especiais/" title="Especiais">
				<div id="editoria-icone-especiais">
				</div>
				<div class="subeditoria-nome"> Especiais
				</div>
			</a>
		</div>
	</div>
</div>