<div class="EJETOA05004">

		<h3>Encontro com <b>Candidatos</b>  <small><span></span>ao vivo</small>          </h3>
		<div id="video-eleicao">
			<iframe  width="400" height="267" src="" scrolling="no" frameborder="0" ></iframe>
		</div>
		<div id="texto-eleicao"><a href=""><img src="http://especiais.odia.ig.com.br/comercial/encontro-comercio-candidatos/imgs/versao-mobile.jpg"></a></div>
		<a class="lampada" href="javascript:void(0);"><img src="http://especiais.odia.ig.com.br/comercial/encontro-comercio-candidatos/imgs/lampada-escura.jpg"></a>

<style type="text/css">
	body {margin: 0; padding: 0;}
	.EJETOA05004 {text-align: left; width: 620px; height: 445px; overflow: hidden; background: #f4f4f4; display: block; float: left; position: relative; font-family: Arial, sans-serif; border-bottom: 1px solid #e3e3e3; margin: 20px 0; font-size: 0px;}
	.EJETOA05004 {height: 335px;}
	.EJETOA05004 #video-eleicao {margin: 0 auto;width: 400px;height: 267px; display: inline-block; margin-left: 25px; position: relative; z-index: 9999999999999999999;}
	.EJETOA05004 #texto-eleicao {text-align: center;margin-top: 0px;font-size: 24px;font-weight: bold;  display: inline-block;}
	.EJETOA05004 h3 {padding: 13px 25px; margin: 0; line-height: 18px; font-size: 25px; color: #999; font-weight: normal; position: relative; background: url('http://especiais.odia.ig.com.br/web/video/balao.jpg') no-repeat 546px 2px;}
	.EJETOA05004 h3 b {color: #cc0000;}
	.EJETOA05004 h3 small {margin: 0px; display: inline-block; padding: 0px; font-size: 15px ; margin-left: 80px; color: #cc0000;}
	.EJETOA05004 h3 small span {width: 9px; height: 9px; display: inline-block; content: " "; background: url('http://especiais.odia.ig.com.br/web/video/bolinha.jpg') no-repeat; margin-right: 5px;}
	.EJETOA05004 .lampada {position: absolute;top: 49px;right: 154px;z-index: 9999999999999999999;}
	.mock-drop { width: 100%; height: 100%; display: none; position: fixed; background: rgba(0, 0, 0, 0.8); z-index: 999;}
</style>
</div>
