.EJETOE00001 {
	margin:0px 15px 20px 0;
	float: left;
	width: 940px;
	height: 45px;	
}

.EJETOE00001 .destaque{
	width: 940px;
	border-bottom: 1px solid #ccc;
	float: left;
}

.EJETOE00001 .destaque-seta{
	float: left;
	position: relative;
	display: block;
	width: 88px;
	height: 35px;
	padding-top: 15px;
}

.EJETOE00001 .destaque-seta-cor{
	background-color: #006699;
	display: block;
	position: relative;
	width: 61px;
	height: 25px;
	float: left;
}

.EJETOE00001 .destaque-seta-cor a{
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color:  #fff;
	text-decoration: none;
	position: relative;
	display: block;
	padding: 6px;

}

.EJETOE00001 .destaque-seta-cor a:hover{
	text-decoration: none;
}

.EJETOE00001 .destaque-seta-ponta{
	background: url('http://s0.ejesa.ig.com.br/img/odia/blue_arrow.png') no-repeat -12px;
	float: left;
	display: block;
	position: relative;
	width: 27px;
	height: 25px;

}
.EJETOE00001 .destaque-lista{
	width: 852px;
	height: 30px;
	padding-top: 13px;
	float: left;	
}

.EJETOE00001 .destaque-lista ul{
	list-style-type: square;
	padding: 0 0 6px 0;
	margin: 0px;
	font-size: 0px;
	position: relative;
}

.EJETOE00001 .destaque-lista ul li{
	position: relative;
	display: inline;
}


.EJETOE00001 .destaque-lista ul li a{
	font-family: Arial;
	text-decoration: none;
	display: inline-block;
	color: #006699;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	transition: all 100ms linear;
	padding: 6px 14px 5px;
}
.EJETOE00001 .destaque-lista ul li a:hover{
	text-decoration: underline;
}

.EJETOE00001 .destaque-lista ul li .marcador{
	background: url('http://s0.ejesa.ig.com.br/img/odia/bullet.png');
	width: 5px;
	height: 5px;
	display: block;
	float: left;
	position: absolute;
	top: -7px;
}
