<style>

.EJETOA01206 {
	margin: 15px 20px 15px 0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png') repeat;
	width: 940px;
	height: 175px;
	float: left;
}

.EJETOA01206 .editoria-noticia-cabecalho{
	width: 100%;
	height: 40px;
	float: left;
	display: block;
	position: relative;
	border-top: 1px solid #CC0000;
}

.EJETOA01206 .editoria-icones{
	width: 100%;
	height: 110px;
	padding-top: 10px;
	padding-bottom: 15px;
	float: left;
	display: block;
	position: relative;
}
.EJETOA01206 .icone {
	width: 310px;
	height: 115px;
	float: left;
	display: block;
	text-align: left;
}

.EJETOA01206 .icone a{
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color:#999;
}

.EJETOA01206 .icone > a:hover{
	color: #CC0000;
}

.EJETOA01206 #editoria-icone-especiais-noticias{
	 background:url('http://s0.ejesa.ig.com.br/img/odia/especiais.png') no-repeat 0 -155px; width: 97px; height: 75px; 
	 margin-top: 15px;
	 float: left;
	display: block;
}

.EJETOA01206 #editoria-icone-especiais-diversao{
	 background:url('http://s0.ejesa.ig.com.br/img/odia/especiais.png') no-repeat 0 0; width: 109px; height: 74px; 
 	 margin-top: 15px;
	 float: left;	
	display: block;

}


.EJETOA01206 #editoria-icone-especiais-esportes{
	background: url("http://s0.ejesa.ig.com.br/img/odia/especiais.png") no-repeat scroll 0 -79px transparent;
    height: 77px;
    margin-top: 19px;
    width: 110px;
	float: left;	
	display: block;
}

.EJETOA01206 .cabecalho-borda{
	width: 85px;
	margin-left: 20px;
	height: 10px;
	background-color: #CC0000;
}

.EJETOA01206 .cabecalho-titulo{
	width: 160px;
	height: 35px;
	margin-left: 20px;
	font-family: Arial;
	font-size: 22px;
	display: block;
	position: relative;	
}

.EJETOA01206 .inicio{
	color: #999;
	display: block;
	float: left;
}

.EJETOA01206 .fim{
	color: #CC0000;
	display: block;
	float: left;
}

.EJETOA01206 .subeditoria-nome{
	width: 185px;
	height: 115px;
	margin-top: 35px;
	margin-left: 10px;
	text-align: left;
	float: left;
}
.EJETOA01206 .subeditoria-nome .top{
	font-family: Arial;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
}

.EJETOA01206 .subeditoria-nome .bottom{
	font-family: Arial;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}

.EJETOA01206 #subeditoria-nome-noticia{
	color: #cc0000;
}

.EJETOA01206 #subeditoria-nome-diversao{
	color: #996699;
}

.EJETOA01206 #subeditoria-nome-esporte{
	color: #669933;
}
</style>