<div id="EJETOA03402" class="twitter">
	<h2 class="titulo-secao">TWITTER</h2>
	<div class="tweets">
		<div class="linha-do-tempo">
			<div id="twitter-feed"></div>
		</div>
	</div>
</div>

<%{%>

<script>document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/twitter.js">\x3C/script>')</script>
<script>document.write('<script src="http://s0.ejesa.ig.com.br/js/odia/jquery.slimscroll.js">\x3C/script>')</script>
<script type="text/javascript" charset="utf-8">
    $(function() {
       	$('.tweets').slimscroll({
			height: '450px',
			width: '300px',
			color: '#ccc',
			alwaysVisible: true
		});
    });
</script>

<%}%>
