
  <div class="EJETOE00604">
    <div id="carousel-opiniao">
      <div class="carousel-opiniao-header">
        <div class="header-color"></div>
        <div class="carousel-opiniao-header-top">
          <span class="left">
            <span class="top">
              Colunista 
            </span>
            <span class="bottom">
            do Dia
            </span>
          </span> 
          <span class="right"> »todo dia um colunista diferente</span>
        </div>
    </div>
    <div class="carousel-container">
      <div id="carousel">        
        <span class="carousel-day"></span>
        <div class="carousel-feature">
          <a href="#">
              <img class="carousel-image" alt="" src="">
          </a>
           <div class="carousel-caption">
              <p></p>
            </div>
        </div>
      </div>
      <div id="carousel-left"></div>
      <div id="carousel-right"></div>
    </div>
  </div>
</div>
