<div class='EJETOA02304'>

    <div class="conteudo">
        <table border="0" cellpadding="0" cellspacing="0" class="tabJogos" id="tabJogos">
            <tr>
                <th colspan="3" class="times">Times</th>
                <th>J</th>
                <th>V</th>
                <th>E</th>
                <th>D</th>
                <th>GP</th>
                <th>GC</th>
                <th>SG</th>
                <th>%</th>
            </tr>
        </table>
        <div class="legenda-classifTab">
            <strong>P</strong> Pontos  
            <strong>J</strong> Jogos  
            <strong>V</strong> Vitórias  
            <strong>E</strong> Empates  
            <strong>D</strong> Derrotas  
            <strong>GP</strong> Gols Pró  
            <strong>GC</strong> Gols Contra  
            <strong>SG</strong> Saldo de Gols  
            <strong>%</strong> Aproveitamento<br />
            * Critérios de desempate: 1º Pontos, 2º Vitórias, 3º Saldo de gols e 4º Gols feitos
            <p><span class="libertadores"></span>Libertadores<span class="rebaixamento"></span>Rebaixamento
        </div><!-- / legenda-classifTab -->
    </div><!-- / conteudo -->
</div>
