	<div class="EJETOA052304">
	<div style="width: 300px; margin-right: 20px; float: left;">
		<a href="http://www.faleonibus.com.br" target="_blank"><img border="0" style="display: block;" src="http://especiais.odia.ig.com.br/web/no-coletivo/fale1.jpg"></a>
		<!-- BEGIN LivePerson Monitor. -->



<div>
    <div id='LP_DIV_1420676797357'></div>
    <div id="logo_chat_faleonibus" style="display:none">
        <img src='http://especiais.odia.ig.com.br/web/no-coletivo/fale2.jpg' >
    </div>
</div>
<!-- END LivePerson Monitor. -->

	<!--	<a href="http://server.iad.liveperson.net/hc/13437999/?cmd=file&file=visitorWantsToChat&site=13437999&byhref=1"
		onclick="javascript:window.open('http://server.iad.liveperson.net/hc/13437999/?cmd=file&file=visitorWantsToChat&site=13437999&referrer='+escape(document.location),'chat13437999','width=472,height=320');return false;" target="chat13437999">
		<img border="0" style="display: block;" src="http://especiais.odia.ig.com.br/web/no-coletivo/fale2.jpg"></a> -->
	</div>
	<div style="width: 300px; margin-right: 0px; float: left;">
		<a href="http://www.vadeonibus.com.br" target="_blank"><img border="0" style="display: block;" src="http://especiais.odia.ig.com.br/web/no-coletivo/montagem_va_onibus.jpg"></a>
	</div>
</div>
