<div class="EJETOA04106">

	<div id="tabela">
        <input type="hidden" name="campeonatoid" id="campeonatoid" value="">
        <input type="hidden" name="rodadaatual" id="rodadaatual" value="">

        <div id="classificacao"></div>
        <div class="legenda-classifTab">
            <strong>P</strong> Pontos
            <strong>J</strong> Jogos
            <strong>V</strong> Vitórias
            <strong>E</strong> Empates
            <strong>D</strong> Derrotas
            <strong>GP</strong> Gols Pró
            <strong>GC</strong> Gols Contra
            <strong>SG</strong> Saldo de Gols
            <strong>%</strong> Aproveitamento<br />
            * Critérios de desempate: 1º Pontos, 2º Vitórias, 3º Saldo de gols e 4º Gols feitos
            <p><span class="libertadores"></span>Libertadores<span class="rebaixamento"></span>Rebaixamento
        </div><!-- / legenda-classifTab -->

    </div>
    
    <div id="sidebar">

        <div id='rodada' class="rodadas">

        </div><!-- / rodadas -->

        <div id="jogos" class="jogo">
            <ul>

            </ul>
        </div>

    </div>

    <style>
        .EJELIA00302{ margin-top: 550px!important; }
    </style>

</div>
