<div class="EJETOA04602">
    <input type="hidden" name="limiteresultado" id="limiteresultado" value="20">
	<div class="ultimas-eleicao">
		<h3><strong>Últimas</strong> de eleições</h3>
		<ul>
		</ul>
		<small><a href="http://odia.ig.com.br/eleicoes2014/">veja <strong>mais notícias »</strong> </a></small>
	</div>
<style type="text/css">

.EJETOA04602 { background: white; float: left;display: block;margin: 15px 0px 65px 0;width: 300px; font-family: Arial, sans-serif;color: #3b3b3b;font-size: 12px;line-height: 1.4;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.EJETOA04602 .ultimas-eleicao h3 { letter-spacing: -1px; text-align: left;  font-size: 22px; color: #569820;  font-weight: normal; border-bottom: 3px solid #569820; padding: 7px 0; margin: 0px; text-transform: uppercase;}
.EJETOA04602 .ultimas-eleicao ul { padding: 0; margin: 0; list-style: none; min-height: 200px; }
.EJETOA04602 .ultimas-eleicao ul li {overflow: hidden; text-align: left; margin: 0; list-style: none; padding: 10px 0; border-bottom: 1px #e5e5e5 solid;}
.EJETOA04602 .ultimas-eleicao ul li a {display: block; text-decoration: none; }
.EJETOA04602 .ultimas-eleicao ul li a img {float: left; margin-right: 6px; border: 2px solid transparent; -webkit-transition: all 0.5s ease; transition: all 0.5s ease;width:67px;height:51px;}
.EJETOA04602 .ultimas-eleicao ul li a h4 {text-align: left; margin: 0; padding: 0; font-size: 11px; font-weight: bold; height: 18px; text-transform: uppercase; color: #949494 ;}
.EJETOA04602 .ultimas-eleicao ul li a p {text-align: left; margin: 0; padding: 0; color: #333333; font-size: 12px; font-weight: bold; line-height: 16px; }
.EJETOA04602 .ultimas-eleicao ul li a:hover p {text-decoration: underline;}
.EJETOA04602 .ultimas-eleicao ul li a:hover img {border: 2px solid #569820;}
.EJETOA04602 .ultimas-eleicao small { display: block; margin: 15px 0 10px 0; font-size: 14px; text-align: left; }
.EJETOA04602 .ultimas-eleicao small a { text-decoration: none; color: #333;  }
.EJETOA04602 .ultimas-eleicao small a:hover {text-decoration: underline;}

</style>
</div>


