<div id="EJETOA01906">
  <div id="barra-fechada">
    <div id="open-bt"></div><!--/.open-bt-->
    <div class="content">
      <div class="logo24h"><h5><img src="http://s0.ejesa.ig.com.br/img/odia/logo_24horas_fechado.png" alt="24 Horas"/></h5></div>
      <div class="clear"></div>
    </div><!--/.content-->
  </div><!--/.fechada-->
  
  <div id="barra-aberta">
    <div class="content">
      
     <div class="logo24h"><h5><img src="http://s0.ejesa.ig.com.br/img/odia/logo_24horas.png" alt="24 Horas"/></h5></div>
     <div class="container">
      <div class="setas">
        <div class="seta-proximo" title="Próximo Tweet"></div>
        <div class="seta-anterior" title="Tweet Anterior"></div>
      </div><!--/.setas-->
      <div class="conteudo-tweets" id='conteudo-tweets'>

        <%{%>

        <script type="text/javascript">
            EJESA.CALL_EJETOA01906.init();
        </script>

        <%}%>

      </div><!--/.conteudo-tweets-->
      <div class="clear"></div>
    </div><!--/.container-->
    <div id="close-bt"></div><!--/.close-bt--> 
    <div class="clear"></div>
  </div><!--/.content-->
</div><!--/.aberta-->
</div><!--/#EJETOA01906-->