<div class="EJETOA04102">

	<div class="ultimas-copa">
		<h3>Últimas da Copa</h3>

		<ul>
		</ul>
		<small><a href="http://odia.ig.com.br/esporte/copa-do-mundo/">veja <strong>mais notícias »</strong> </a></small>
	</div>
	<style type="text/css">
		.EJETOA04102 { background: white; float: left;display: block;margin: 15px 0px 20px 0;width: 300px; font-family: Arial, sans-serif;color: #3b3b3b;font-size: 12px;line-height: 1.4;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 11px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);}
		.EJETOA04102 .ultimas-copa h3 {text-align: left; margin: 0; padding: 0; font-size: 24px; color: #77983e;  font-weight: normal;}
		.EJETOA04102 .ultimas-copa ul { padding: 0; margin: 0; list-style: none; min-height: 200px; }
		.EJETOA04102 .ultimas-copa ul li {text-align: left; margin: 0; list-style: none; padding: 10px 0; border-bottom: 1px #e5e5e5 solid;}
		.EJETOA04102 .ultimas-copa ul li a {display: block; text-decoration: none; }
		.EJETOA04102 .ultimas-copa ul li a img {float: left; margin-right: 6px; border: 2px solid transparent; -webkit-transition: all 0.5s ease; transition: all 0.5s ease;width:67px;height:51px;}
		.EJETOA04102 .ultimas-copa ul li a h4 {text-align: left; margin: 0; padding: 0; font-size: 11px; font-weight: bold; height: 18px; text-transform: uppercase; color: #77983e ;}
		.EJETOA04102 .ultimas-copa ul li a p {text-align: left; margin: 0; padding: 0; color: #333333; font-size: 12px; font-weight: bold; line-height: 16px; }
		.EJETOA04102 .ultimas-copa ul li a:hover p {text-decoration: underline;}
		.EJETOA04102 .ultimas-copa ul li a:hover img {border: 2px solid #77983e;}
		.EJETOA04102 .ultimas-copa small { display: block; margin: 15px 0 10px 0; font-size: 14px; text-align: left; }
		.EJETOA04102 .ultimas-copa small a { text-decoration: none; color: #333;  }
		.EJETOA04102 .ultimas-copa small a:hover {text-decoration: underline;}
	</style>

</div>
