<%{%>
	<script type="text/javascript">

	var version = "5.23";
	var css_file = '';

	if(	$("meta[property='og:url']").attr("content").match(/\/noticia\//) ||
			$("meta[property='og:url']").attr("content").match(/\/rio-de-janeiro\//) ||
			$("meta[property='og:url']").attr("content").match(/\/brasil\//) ||
			$("meta[property='og:url']").attr("content").match(/\/economia\//) ||
			$("meta[property='og:url']").attr("content").match(/\/educacao\//) ||
			$("meta[property='og:url']").attr("content").match(/\/automania\//) ||
			$("meta[property='og:url']").attr("content").match(/\/mundoeciencia\//) ||
			$("meta[property='og:url']").attr("content").match(/\/imoveis\//) ||
			$("meta[property='og:url']").attr("content").match(/\/opiniao\//) ||
		$("meta[property='og:url']").attr("content").match(/\/odiaestado\//) ||
		$('meta[name=odia-section-name]').attr("content").match('O Dia Estado')||
		$("meta[property='og:url']").attr("content").match(/\/niteroi\//) ||
		$('meta[name=odia-section-name]').attr("content").match('Niterói')||
		$("meta[property='og:url']").attr("content").match(/\/eleicoes2014\//) ||
		$('meta[name=odia-section-name]').attr("content").match('ELEIÇÕES 2014')||
		$("meta[property='og:url']").attr("content").match(/\/odiabaixada\//) ||
		$('meta[name=odia-section-name]').attr("content").match('O Dia Baixada')||
		$("meta[property='og:url']").attr("content").match(/\/odia24horas\//) ||
		$('meta[name=odia-section-name]').attr("content").match('O Dia 24 Horas')||
		$("meta[property='og:url']").attr("content").match(/\/vidaemeioambiente\//) ||
		$('meta[name=odia-section-name]').attr("content").match('Vida e Meio Ambiente ')||
		$("meta[property='og:url']").attr("content").match(/\/mercadodetrabalho\//)||
		$("meta[property='og:url']").attr("content").match(/\/especiais\//)||
		$('meta[name=odia-section-name]').attr("content").match('Mercado de Trabalho')
		){

			css_file = "http://s0.ejesa.ig.com.br/css/odia/odia_color_news.css?v=" + version;
		};

		if($("meta[property='og:url']").attr("content").match(/\/diversao\//)){

			css_file = "http://s0.ejesa.ig.com.br/css/odia/odia_color_entertainment.css?v=" + version;

		};

		if($("meta[property='og:url']").attr("content").match(/\/esporte\//)){

			css_file = "http://s0.ejesa.ig.com.br/css/odia/odia_color_sport.css?v=" + version;

		};

		if($("meta[property='og:url']").attr("content").match(/\/blogs\//) ){

			css_file = 'http://s0.ejesa.ig.com.br/css/odia/odia_color_default.css?v=' + version;

		};
		if( ($("meta[property='og:url']").attr("content") == undefined) || ($("meta[property='og:url']").attr("content").match(/\/portal\//) )){

			css_file = 'http://s0.ejesa.ig.com.br/css/odia/odia_color_default.css?v=' + version;

		};

		if(document.createStyleSheet) {
	  		document.createStyleSheet(css_file);
		}else{
			$('<link rel="stylesheet" type="text/css" href="' + css_file + '" />').appendTo('head');
		}

		/*$(document).ready(function(){
			if ($('#noticia .componente-embed iframe').length > -1) {
				var pathVideo = $('#noticia .componente-embed iframe').attr("src");
				if(pathVideo.search("backlot-api.ig.com.br/player") > -1){

					var tvigp = document.createElement('script');
					tvigp.type = 'text/javascript';
					tvigp.async = true;
					tvigp.src = 'http://tvig.ig.com.br/_static/player/scripts/tvig-comm.js';
					tvigp.setAttribute("id", "tvig-comm");
					var stvig = document.getElementsByTagName('script')[1];
					stvig.parentNode.insertBefore(tvigp, stvig);
  				}
			}
		});*/

		var isMobile = {
		    Android: function() {
		        return navigator.userAgent.match(/Android/i);
		    },
		    BlackBerry: function() {
		        return navigator.userAgent.match(/BlackBerry/i);
		    },
		    iOS: function() {
		        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
		    },
		    Opera: function() {
		        return navigator.userAgent.match(/Opera Mini/i);
		    },
		    Windows: function() {
		        return navigator.userAgent.match(/IEMobile/i);
		    },
		    any: function() {
		        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
		    }
		};

	</script>

	<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/solrator-0.2.1.js?v=0.3"></script>

	<script type="text/javascript">
	    var ivcUrl = ("https:" == document.location.protocol ? "https://datpdpmej1fn2.cloudfront.net/" :
	    "http://ivccftag.ivcbrasil.org.br/") + "ivc.js";
	    ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalIvcNamespace=p.GlobalIvcNamespace||[];
	    p.GlobalIvcNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
	    };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
	    n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script",ivcUrl,"ivc"));

	    window.ivc('newTracker', 'cf', 'ivccf.ivcbrasil.org.br', {
	        idWeb: '12'
	    });

	    window.ivc('trackPageView');
	</script>

	<script type="text/javascript">
		function tiraAcento(text) {
			var acentos =[
				/[\300-\306]/g, /[\340-\346]/g,
				/[\310-\313]/g, /[\350-\353]/g,
				/[\314-\317]/g, /[\354-\357]/g,
				/[\322-\330]/g, /[\362-\370]/g,
				/[\331-\334]/g, /[\371-\374]/g,
				/[\321]/g, /[\361]/g,
				/[\307]/g, /[\347]/g,
				];

			var chars = ['A','a','E','e','I','i','O','o','U','u','N','n','C','c'];

			for (var i = 0; i < acentos.length; i++) {
			    text = text.replace(acentos[i],chars[i]);
			}

			return text;
		}



		$( document ).ready(function() {

			/*
			var urlNoticia = document.URL;
			if(urlNoticia.search("/noticia/economia/") > -1){

				var htmlBeSolr = '<div class="EJELIA00502 gd6 fl " id="solrator_empEc"><div class="news-menu"><ul><li>ÚLTIMAS<img alt="Fonte: Brasil Econômico" src="http://s0.ejesa.ig.com.br/img/odia/be/be-ultimas1.jpg"></li></ul></div><div class="theId"><a class="anchor" name=""></a><input type="hidden" name="id" value="empEc" /><input type="hidden" name="tipo" value="ultimasNoticias" /><input type="hidden" name="dominio" value="brasileconomico.ig.com.br" /><input type="hidden" name="secoes" value="" /><input type="hidden" name="secoesEH" value="" /><input type="hidden" name="termos" value="" /><input type="hidden" name="canal" value="brasileconomico" /><input type="hidden" name="limit" value="5" /><input type="hidden" name="hasPagination" value="true" /><input type="hidden" name="tipoConteudo" value="" /><textarea name="template" style="display:none;"></textarea><textarea name="beforeRender" style="display:none;"></textarea><textarea name="beforeRenderItem" style="display:none;"></textarea><textarea name="afterRender" style="display:none;"></textarea><textarea name="afterRenderItem" style="display:none;"></textarea><textarea name="callback" style="display:none;"></textarea><h3></h3><ul class="container"></ul><div class="clear"></div><ul class="pagination"></ul><div class="clear"></div><a class="linkGeral " href=""></a><div class="clear"></div></div><a href="#" style="display:none;" class="carregarMaisNoticias">veja mais notícias</a>';

					$("#subarea24").append(htmlBeSolr);

					if(typeof Solrator != 'undefined'){


						var els = $(".EJELIA00502");

						for(x=0;x<els.length;x++){

							e = els[x];

							if(!$(e).hasClass("alreadyLoaded")){

								$(e).addClass("alreadyLoaded");

								var id = $(e).find("input[name='id']").val();

								window['tmpParams_'+id] = {
									instanceID 		: 'solrator_' + id,
									tipoEmpilhamento: 	$(e).find("input[name='tipo']").val(),
									dominio 		: 	$(e).find("input[name='dominio']").val(),
									canal 			: 	$(e).find("input[name='canal']").val(),
									termos 			: 	$(e).find("input[name='termos']").val(),
									secoes 			: 	$(e).find("input[name='secoes']").val(),
									secoesEH 			: 	$(e).find("input[name='secoesEH']").val(),
									limit 			: 	$(e).find("input[name='limit']").val(),
									hasPagination 	: 	$(e).find("input[name='hasPagination']").val(),
									tipoConteudo 	: 	$(e).find("input[name='tipoConteudo']").val(),
									objectsToPopulate : {
										container 	: $(e).find(".container"),
										pagination 	: $(e).find(".pagination")
									}
								};

								if((window.location.pathname.match(/p\d+\.html/) == null) && window.location.href.match(/noticias\/.+?/)){
									termosSplit = window.location.href.replace(/\/$/,"").split('/');
									termosStr = decodeURI(termosSplit[termosSplit.length-1]);

									$(e).find('h3').eq(0).html('ÚLTIMAS NOTÍCIAS COM "'+termosStr+'"');

									window['tmpParams_'+id].termos = tiraAcento(termosStr);
								}else if(window.location.href.match(/noticias\/.+?/)){
									termosSplit = window.location.href.split('/');
									termosStr = decodeURI(termosSplit[termosSplit.length-2]);

									$(e).find('h3').eq(0).html('ÚLTIMAS NOTÍCIAS COM "'+termosStr+'"');

									window['tmpParams_'+id].termos = tiraAcento(termosStr);
								}else{

								}

								if(window['tmpParams_'+id].tipoEmpilhamento == "video"
									|| window['tmpParams_'+id].tipoEmpilhamento == "paginaDeEmpilhamento"
									|| window['tmpParams_'+id].tipoEmpilhamento == "ultimasNoticias"
								){
									$("#"+id).addClass("noticia-video");
								}else if(window['tmpParams_'+id].tipoEmpilhamento == "galeria"){
									$("#"+id).addClass("galeria");
								}else{
									$("#"+id).addClass("custom");
								}

								var thefn = '';
								var hooks = ['beforeRender','beforeRenderItem','afterRender','afterRenderItem','callback'];
								for(var h in hooks){

									thefn = $(e).find("textarea[name='"+hooks[h]+"']").val()
										.replace(/ gt /g,' > ')
										.replace(/ gte /g,' >= ')
										.replace(/ lt /g,' < ')
										.replace(/ lte /g,' < ');

									if($(e).find("textarea[name='"+hooks[h]+"']").val().search('function') > -1){
										eval('(window["tmpParams_'+id+'"]["'+hooks[h]+'"] = ' + thefn + ')');
									}
								}

								window['solrator_' + id] = new Solrator();
								window['solrator_' + id].init(window['tmpParams_'+id]);

								window['solrator_' + id].options.templates.items.custom = $(e).find("textarea[name='template']").val();

								window['solrator_' + id].empilha();

								window['tmpParams_'+id] = null;
							}
						}
					}
			}
			*/

		});
	</script>

<%}%>
