<div class="EJETOA2105">
	<h1>Busca com a expressão: <span id="palavraPesquisa"></span></h1>

	<div class="status">Encontramos <strong id="resultadoBuscaQtd">-</strong> resultados</div>

	<div id="resultadoBusca"></div>

	<div id="mais-resultados"></div>
</div>