<style>

.EJETOA01006 {
	margin: 15px 20px 15px 0px;
	background: url('http://s0.ejesa.ig.com.br/img/odia/bg_advertising.png') repeat;
	width: 940px;
	height: 175px;
	float: left;
}

.EJETOA01006 .editoria-esportes-cabecalho{
	width: 100%;
	height: 40px;
	float: left;
	display: block;
	position: relative;
	border-top: 1px solid #669933;
}

.EJETOA01006 .editoria-icones{
	width: 100%;
	height: 110px;
	padding-top: 0px;
	padding-bottom: 15px;
	float: left;
	display: block;
	position: relative;
}
.EJETOA01006 .icone {
	width: 168px;
	margin-right: 20px;
	height: 115px;
	float: left;
	display: block;
}

.EJETOA01006 .icone a{
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color:#999;
}

.EJETOA01006 .icone > a:hover{
	color: #669933;
}

.EJETOA01006 #editoria-icone-botafogo{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat 0 -39px; 
	width: 52px;
	height: 57px;
	margin: 0 auto;
 	margin-top: 25px;
}

.EJETOA01006 #editoria-icone-flamengo{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat 0 -285px; width: 47px; height: 55px;
	margin: 0 auto;
	margin-top: 28px;
}

.EJETOA01006 #editoria-icone-fluminense{
 	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat 0 -418px; 
 	width: 53px; 
 	height: 64px;
 	margin: 0 auto;
 	margin-top: 19px;
}


.EJETOA01006 #editoria-icone-vasco{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat 0 -730px;
	width: 51px; 
	height: 66px; 
 	margin: 0 auto;
 	margin-top: 18px;
}
	
.EJETOA01006 #editoria-icone-especiais{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat 0 -132px; width: 59px; height: 56px;
	margin: 0 auto;
	margin-top: 26px;
}
.EJETOA01006 #editoria-icone-especiais:hover{
	background:url('http://s0.ejesa.ig.com.br/img/odia/sprite-esporte.png') no-repeat 0 -189px; width: 59px; height: 56px;
}

.EJETOA01006 .subeditoria-nome{
	width: 100%;
	height: 20px;
	text-align: center;
}

.EJETOA01006 .cabecalho-borda{
	width: 85px;
	margin-left: 20px;
	height: 10px;
	background-color: #669933;
}

.EJETOA01006 .cabecalho-titulo{
	width: 160px;
	height: 35px;
	margin-left: 20px;
	font-family: Arial;
	font-size: 22px;
	display: block;
	position: relative;	
}

.EJETOA01006 .inicio{
	color: #999;
	display: block;
	float: left;
}

.EJETOA01006 .fim{
	color: #669933;
	display: block;
	float: left;
}

</style>