<style>
.EJETOE01501 {
	float: left;
	margin: 15px 20px 15px 0px;
	width: 150px;
	height: 65px;
	background-color: #eee200;
	font-family: Arial;
	font-size: 12px;
	color: #3f2e4e;

}	

.EJETOE01501 .tempo-local{
	float: left;
	width: 95px;
	height: 15px;
	font-weight: bold;
	padding: 3px;
}

.EJETOE01501 .tempo-local a{
	font-family: Arial;
	font-size: 12px;
	color: #3f2e4e;
	text-decoration: none;

}

.EJETOE01501 .tempo-img{
	background:url("http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png") no-repeat scroll 0 -232px transparent;
	float: right;
	width: 40px;
	height: 40px;
}

.EJETOE01501 .tempo-temperatura-min{
	float: left;
	width: 47px;
	height: 10px;
	margin-right: 4px;
	padding: 3px;
}

.EJETOE01501 .tempo-temperatura-max{	
	float: left;
	width: 47px;
	height: 10px;
	padding: 3px;
}

.EJETOE01501 .temp-min{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #3f2e4e;
	text-decoration: none;
}

.EJETOE01501 .temp-max{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #3f2e4e;
	text-decoration: none;
}

</style>
