<div class="EJETOE00302">
	<div class="digital-edition-header">
		<a href="#" title="">
		</a>
	</div>
	<div class="digital-edition">
		<div class="digital-edition-img">
			<a href="#" title="Edição Digital">
				<img src="" width="145" height="260" />
			</a>
		</div>
		<div class="digital-edition-plus">
			<div class="digital-edition-options">
				<div id="digital-edition-signature" class="digital-edition-button">
					<a href="#">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-assinatura.png" width-"120" height="25" alt="Assine o dia"/>
					</a>
				</div>
				<div id="digital-edition-version" class="digital-edition-button">
					<a href="#">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-versao-digital.png" width="120" height="25" alt="Versão Digital"/>
					</a>
				</div>
				<div id="digital-edition-pdf" class="digital-edition-button">
					<a href="#">
						<img src="http://s0.ejesa.ig.com.br/img/odia/button-capa.png" width="120" height="25" alt="Capa em pdf"/>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>