<div>
	<form id="busca-cidade" class="busca-apuracao fl" action="#busca-cidade">
		<label>Apuração em outras cidades:</label>
		<input type="text" name="cidade" class="input-text ui-autocomplete-input" id="q_cidade" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">

		<div id="results_cidade" class="elastic-results">
		<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem">
		</ul>    
		</div>
	</form>
</div>