<div class="eleicoes-apuracao eleicoes-apuracao-editavel-ocorrendo gd6 fl">
	<div id="apuracao-home-ig">

		<div class="header-apuracao-capital">
			<span class="apuracao-nome-capital"></span>
			<a href="http://apuracao.ig.com.br">Ver outras cidades</a>
		</div>
		
		<div class="candidatos">
			<div class="candidato">
				<span class="nome-candidato"><strong>Moroni Torgan</strong><span class="nome-partido">(DEM)</span></span>
				<div class="percentual">
					<span class="bar-100"><span class="bar-perc" style="width:15%;"></span></span><big>15%</big>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
	</div>
	<div class="pesquisa-rodape">
		<a class="link-rodape" href="http://apuracao.ig.com.br/1turno2012/sp/sao-paulo/">Ver apuração completa</a>
	</div>
</div>