<div class="apuracao-eleicao-2012">
	<style>
.apuracao-eleicao-2012 .input-radio{
	float:left;
	margin-right: 5px;
	width:20px;
}
.apuracao-eleicao-2012 .busca-apuracao{
	width: 276px;
	height:46px;
	padding: 15px;
	background: #f8f8f8;
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.apuracao-eleicao-2012 .busca-apuracao label{
	display:block;
	font: bold 14px Arial;
}

.apuracao-eleicao-2012 .busca-apuracao label.fl{
	font: normal 12px Arial;
}
#busca-candidato label{
	line-height:36px;
	margin-right: 7px;
}
	</style>

	<form id="busca-candidato" class="busca-apuracao fl" action="#busca-candidato"> 
		<label style="line-height:1em;">Veja o desempenho de seu candidato</label><!-- <br> 
		<input type="radio" style="float:left;margin-right:5px" name="tipo-candidato" id="prefeito" class="input-radio" value="prefeito" checked="checked" />
		<label for="prefeito" class="fl">Prefeito</label>

		<input type="radio" style="float:left;margin-right:5px" name="tipo-candidato" id="vereador" class="input-radio" value="vereador">
		<label for="vereador" class="fl">Vereador</label> -->

		<input type="text" name="candidato" class="input-text ui-autocomplete-input" id="q_cargo"
	 autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" />

		<div id="results_candidatos" class="elastic-results" style="display: none; ">
			<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem"></ul>
		</div>
	</form>
</div>