<div class="eleicao-segundo-turno gd12 fl">

	<input id="estado-apuracao" type="hidden" />

	<header id="header">
		<a href="http://apuracao.ig.com.br/2turno2012/sp/sao-paulo/" class="nome-cidade">-</a>
		<div class="status-apuracao">
			<span class="porcentagem">0.00%</span><small>de votos<br>apurados</small><br>
		</div>

		<div class="outras-capitais">
			<strong>Outras capitais:</strong>
			<select name="" id="filtro-apuracao-capitais" class="dropfy">
				<option value="">Selecione ...</option>
				<option value="pa">Belém</option>
				<option value="ms">Campo Grande</option>
				<option value="mt">Cuiabá</option>
				<option value="pr">Curitiba</option>
				<option value="sc">Florianópolis</option>
				<option value="ce">Fortaleza</option>
				<option value="pb">João Pessoa</option>
				<option value="ap">Macapá</option>
				<option value="am">Manaus</option>
				<option value="rn">Natal</option>
				<option value="ro">Porto Velho</option>
				<option value="ac">Rio Branco</option>
				<option value="ba">Salvador</option>
				<option value="ma">São Luís</option>
				<option value="sp">São Paulo</option>
				<option value="pi">Teresina</option>
				<option value="es">Vitória</option>
			</select>
		</div>

		<div class="clear"></div>
	</header>

	<div id="candidatos-2turno">

		<div class="candidato psdb primeiro">
			<img class="thumb" src="" />

			<div class="nome-partido">
				<h3>CARREGANDO ...</h3>
				<h4>-</h4>
			</div>	

			<div class="stats">
				<big>-</big>
				<small>votos válidos</small>
			</div>

			<div class="percent">
				<h4>
					<big>-</big>
					<small></small>
					<span>%</span>
				</h4>
			</div>
		</div>
		<div class="candidato pt">
			<img class="thumb" src="" />

			<div class="nome-partido">
				<h3>CARREGANDO ...</h3>
				<h4>-</h4>
			</div>	

			<div class="stats">
				<big>-</big>
				<small>votos válidos</small>
			</div>

			<div class="percent">
				<h4>
					<big>-</big>
					<small></small>
					<span>%</span>
				</h4>
			</div>
		</div>
	</div>
</div>