<div class="eleicao-segundo-turno gd12 fl">

	<input id="estado-apuracao" type="hidden" value="0"/>

	<header id="header">
		<a href="http://apuracao.ig.com.br/2turno2012/sp/sao-paulo/" class="nome-cidade">-</a>
		<div class="clear"></div>
	</header>

	<div id="candidatos-2turno">

		<div class="candidato">
			<img class="thumb" src="" />

			<div class="nome-partido">
				<h3>CARREGANDO ...</h3>
				<h4>-</h4>
			</div>	

			<div class="stats"></div>

			<div class="percent">
				<h4>
					<big>-</big>
					<small></small>
					<span>%</span>
				</h4>
			</div>
		</div>

	</div>
</div>