<div class="eleicoes-apuracao gd6 fl">
	<div id="apuracao-home-ig">

		<div class="busca-capitais">
			<span class="header-capitais">Apuração <br /> nas capitais:</span>
			<select name="" id="filtro-apuracao-capitais" class="dropfy">
				<option value="sp">São Paulo</option>
				<option value="se">Aracajú</option>
				<option value="pa">Belém</option>
				<option value="mg">Belo Horizonte</option>
				<option value="rr">Boa Vista</option>
				<option value="ms">Campo Grande</option>
				<option value="mt">Cuiabá</option>
				<option value="pr">Curitiba</option>
				<option value="sc">Florianópolis</option>
				<option value="ce">Fortaleza</option>
				<option value="go">Goiânia</option>
				<option value="pb">João Pessoa</option>
				<option value="ap">Macapá</option>
				<option value="al">Maceió</option>
				<option value="am">Manaus</option>
				<option value="rn">Natal</option>
				<option value="to">Palmas</option>
				<option value="rs">Porto Alegre</option>
				<option value="ro">Porto Velho</option>
				<option value="pe">Recife</option>
				<option value="ac">Rio Branco</option>
				<option value="rj">Rio de Janeiro</option>
				<option value="ba">Salvador</option>
				<option value="ma">São Luís</option>
				<option value="pi">Teresina</option>
				<option value="es">Vitória</option>
			</select>
		</div>
		
		<div class="candidatos">
			<div class="candidato dem-pfl">
				<span class="nome-candidato"><strong>carregando ...</strong><span class="nome-partido">(-)</span></span>
				<div class="percentual">
					<span class="bar-100"><span class="bar-perc" style="width:15%;"></span></span><big>0%</big>
				</div>
				<div class="clear">
				</div>
			</div>
			<div class="candidato pt">
				<span class="nome-candidato"><strong>carregando ...</strong><span class="nome-partido">(-)</span></span>
				<div class="percentual">
					<span class="bar-100"><span class="bar-perc" style="width:23%;"></span></span><big>0%</big>
				</div>
				<div class="clear">
				</div>
			</div>
			<div class="candidato psb">
				<span class="nome-candidato"><strong>carregando ...</strong><span class="nome-partido">(-)</span></span>
				<div class="percentual">
					<span class="bar-100"><span class="bar-perc" style="width:25%;"></span></span><big>0%</big>
				</div>
				<div class="clear">
				</div>
			</div>
			<div class="candidato brancos">
				<span class="nome-candidato"><strong>brancos/nulos</strong></span>
				<div class="percentual">
					<span class="bar-100"><span class="bar-perc" style="width:25%;"></span></span><big>0%</big>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
	</div>
	<div class="pesquisa-rodape">
		<a class="link-rodape" href="http://apuracao.ig.com.br/1turno2012/sp/sao-paulo/">Ver apuração completa</a>
	</div>
</div>