<div class="eleicoes-apuracao eleicoes-apuracao-editavel-ocorrendo gd6 fl">
	<div id="apuracao-home-ig">

		<div class="header-apuracao-capital">
			<span class="apuracao-nome-capital"></span>
			<a href="http://apuracao.ig.com.br">Ver outras cidades</a>
		</div>
		
		<div class="candidatos content-apuracao">
			<img src="" width="62" height="83" class="foto-candidato"/>
			<div class="cand-eleito-info">
			   	<p class="nome-do-eleito"><span class="nome-candidato"></span> <small></small></p>
			   	<p class="num-votos-eleito"><span class="numero-votos"></span> <small>votos </small> <small class="porcentagem"></small></p>
			   	<span class="selo-eleito">Eleito</span>
			</div>
		</div>
	</div>
	<div class="pesquisa-rodape">
		<a class="link-rodape" href="http://apuracao.ig.com.br/1turno2012/sp/sao-paulo/">Ver apuração completa</a>
	</div>
</div>












