<div class="mod-em-video plugin-off">
	<h2><a href="">Em Vídeo</a></h2>
	<div class="box">
		<div class="video">
			<iframe name="youtube" width="272" height="183" src="?wmode=transparent&probably_logged_in=0&iv_load_policy=3&showinfo=0&showsearch=0&disablekb=1" frameborder="0" allowfullscreen></iframe>
			<p></p>
		</div>
	</div>
	<div class="carrossel">
		<ul>
			<li class="selecao"><a target="youtube" href="?wmode=transparent&probably_logged_in=0&autoplay=1&iv_load_policy=3&showinfo=0&showsearch=0&disablekb=1"><img width="48" height="25" src="" alt="" title=""></a><span></span></li>
		</ul>
	</div>
	<a class="mais" href="http://youtube.com/oi">VER MAIS VÍDEOS OI</a>
	<span class="opacidade"></span>
</div>