<div class="EsporteF1Pontuacao06 gd6">
	<input type="hidden" id="anoTemporadaClassificacao"/>
	<h3>MUNDIAL DE FÓRMULA 1</h3>
	<div class="subAbas nomg nopd">
		<ul class="abas">
			<li><a href="javascript:void(0);" rel="pilotos" class="abaopcoes ativo">Pilotos</a></li>
			<li><a href="javascript:void(0);" rel="equipes" class="abaopcoes">Equipes</a></li>
		</ul>
	</div>
	<div class="borda nomgt nobdt">
		<div id="tblClassificacoes">
			<div id="tabelaClassificacao-pilotos" class="trocaTbl"
				style="display: block;">
				<table cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th colspan="2">PILOTOS</th>
							<td>EQUIPE</td>
							<td class="nobdr">PG</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="nobdr" colspan="4">Carregando ...</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="4"><a
								href="http://esporte.ig.com.br/automobilismo/f1/classificacao/pilotos/">Classificação
									completa</a></th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div id="tabelaClassificacao-equipes" class="trocaTbl"
				style="display: none;">
				<table cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th colspan="2">EQUIPES</th>
							<td>ESCUDO</td>
							<td class="nobdr">PG</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="nobdr" colspan="4">Carregando ...</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="4"><a
								href="http://esporte.ig.com.br/automobilismo/f1/classificacao/equipes/">Classificação
									completa</a></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	
</div>