<div class="EsporteF1Pontuacao12 fl gd12">
	<input type="hidden" id="anoTemporadaClassificacao"/>
	<div class="E37512a">
		<table width="652" border="0" cellspacing="0" cellpadding="0" id="tabelaClassificacao-equipes" style="display:block!important;">
			<thead>
				<tr>
					<th class="posicao"></th>
					<th class="equipe">Equipe</th>
					<th class="pais">País</th>
					<th class="branco">&nbsp;</th>
					<th class="pontos">Pontos</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>