<div class="ultimaConvocacao gd6 fl">
    <h3>ÚLTIMA convocação - <span class="data-convocacao">14/02/2012</span></h3>
    <h4>Goleiros</h4>
    <ul class="goleiros">
        <li><a href=""></a></li>
    </ul>
    <h4>Defensores</h4>
    <ul class="defensores">
        <li><a href=""></a></li>
    </ul>    
    <h4>Meio-campistas</h4>
    <ul class="meio-campistas">
        <li><a href=""></a></li>
    </ul>    
    <h4>Atacantes</h4>
    <ul class="atacantes">
        <li><a href=""></a></li>
    </ul>    
</div>
