<div class="comboMaisModalidades">
    <form method="post" action="javascript:redirect();">                    
        <label for="combo">Selecione uma modalidade</label>
        <select name="combo" id="combo">                      
            <option value="0">Escolha</option>
            <option value="http://esporte.ig.com.br/maisesportes/aventura/">Aventura</option>
            <option value="http://esporte.ig.com.br/maisesportes/atletismo/">Atletismo</option>
            <option value="http://esporte.ig.com.br/maisesportes/beisebol/">Beisebol</option>
            <option value="http://esporte.ig.com.br/maisesportes/boxe/">Boxe</option>
            <option value="http://esporte.ig.com.br/maisesportes/canoagem/">Canoagem</option>
            <option value="http://esporte.ig.com.br/maisesportes/ciclismo/">Ciclismo</option>
            <option value="http://esporte.ig.com.br/maisesportes/futebolamericano/">Futebol americano</option>
            <option value="http://esporte.ig.com.br/maisesportes/futeboldeareia/">Futebol de areia</option>
            <option value="http://esporte.ig.com.br/maisesportes/futsal/">Futsal</option>
            <option value="http://esporte.ig.com.br/maisesportes/ginastica/">Ginástica</option>
            <option value="http://esporte.ig.com.br/maisesportes/golfe/">Golfe</option>
            <option value="http://esporte.ig.com.br/maisesportes/handebol/">Handebol</option>
            <option value="http://esporte.ig.com.br/maisesportes/hipismo/">Hipismo</option>
            <option value="http://esporte.ig.com.br/maisesportes/judo/">Judô</option>
            <option value="http://esporte.ig.com.br/maisesportes/natacaoeaquaticos/">Natação e Aquáticos</option>
            <option value="http://esporte.ig.com.br/maisesportes/radicais/">Radicais</option>
            <option value="http://esporte.ig.com.br/maisesportes/rugbi/">Rúgbi</option>
            <option value="http://esporte.ig.com.br/maisesportes/surfe/">Surfe</option>
            <option value="http://esporte.ig.com.br/maisesportes/tenisdemesa/">Tênis de mesa</option>
            <option value="http://esporte.ig.com.br/maisesportes/triatlo/">Triatlo</option>
            <option value="http://esporte.ig.com.br/maisesportes/vela/">Vela</option>
        </select>
        <input id="botaoOk" type="submit" value="Ok" />
    </form>
</div>