<div class="ultimosJogos">
    <h3>últimos Jogos</h3>
    <table>
        <thead>
            <tr>
                <th class="campeonato">CAMPEONATO</th>
                <th class="jogos" colspan="5">JOGOS</th>
                <th class="dia-local">DIA | LOCAL</th>
                <th class="link">&nbsp;</th>                    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="campeonato"></td>
                <td class="time1"></td>
                <td class="bandeira1"><img src="" alt=""></td>
                <td class="placar"><strong class="time1-placar"></strong><span>X</span><strong class="time2-placar"></strong></td>
                <td class="bandeira2"><img src="" alt=""></td>
                <td class="time2"></td>
                <td class="dia-local">
                    <div><strong class="data"></strong> | <strong class="hora"></strong></div>
                    <span class="local"></span>
                </td>
                <td class="link"><a href="">Link</a></td>
            </tr>
        </tbody>
    </table>    
</div>