<link type="text/css" rel="stylesheet" href="http://i0.statig.com.br/css/egomes/noticia.css?v=1.3.1" />

<% for (var indice = 0; this.arquivosEstilos != null &&  indice < this.arquivosEstilos.length; indice++) {%>

	<%
	/* IF NOVO SCTRUTURE DO SASS */
	if(indice == 0 && this.arquivosEstilos[indice].search("sass-canais") > -1){
	%>
			<link type="text/css" rel="stylesheet" href="http://i0.statig.com.br/sass-canais/_css/structure.css?v=0.0.9" />
	<%
	}else if(indice == 0){
	%> 
			<link type="text/css" rel="stylesheet" href="http://i0.statig.com.br/css/egomes/structure.css?v=8.1" />
	<%}%>

	<link type="text/css" rel="stylesheet" href="<%=this.arquivosEstilos[indice]%>" />
<%}%>

<link type="text/css" rel="stylesheet" href="http://i0.statig.com.br/css/jquery.css" />