<link type="text/css" rel="stylesheet" href="http://i0.ig.com/css/egomes/noticia.css?v=1.3.5" />

<% for (var indice = 0; this.arquivosEstilos != null &&  indice < this.arquivosEstilos.length; indice++) {%>
	<link type="text/css" rel="stylesheet" href="http://i0.ig.com/sass-canais/_css/structureN.css?v=0.3.4" />
	<link type="text/css" rel="stylesheet" href="<%=this.arquivosEstilos[indice]%>" />
<%}%>

<link type="text/css" rel="stylesheet" href="http://i0.ig.com/css/jquery.css" />