.FEA08806 ul.links li,
.FEA08806 {width:316px;overflow x:hidden;color:#6d8495;font:normal 12px Arial;}
.FEA08806 .headRetranca{margin-bottom:20px}
.FEA08806 .cRed{color:red!important;font-size:12px!important;}
.FEA08806 label{font-weight:bold;margin-bottom:5px;line-height:20px;}
.FEA08806 div{float:left;}
.FEA08806 .half{width:149px;}
.FEA08806 .rgh{float:right;}
.FEA08806 .full{margin-bottom:20px;position:relative}
.FEA08806 .full div{width:296px;height:32px;line-height:32px;background-color:#f5f7f7;color:#dadfdf;font-size:36px;font-weight:bold;padding:10px;}
.FEA08806 .full cite{color:#6d8495;font-size:10px;float:right;margin-top:4px;}
.FEA08806 ul li{margin-top:3px;font-size:1em;padding-left:8px;background-position:-311px -10px !important}
.FEA08806 a{color:#08629a;text-decoration:none;}
.FEA08806 #valor {background: url(../images/sprite-fe-moedas.png) repeat scroll -184px -88px transparent;height:36px;line-height:38px;padding:0 15px 0 10px;width:289px;color:#dadfdf;font-size:18px;font-weight:bold;}
.FEA08806 #cvt {background: url("../images/sprite-fe-moedas.png") repeat scroll -690px -6px transparent;color:#fff;cursor:pointer;font:bold 12px Arial;height:32px;width:96px;top:22px;*top:23px;right:2px;position:absolute}
.FEA08806 #cvt:hover{background-position:-690px -52px}
.FEA08806 #cvt:active{background-position:-584px -52px;-ms-background-position-x: 1px; -ms-background-position-y: -29px}
.FEA08806 .box-drop{width:157px;height:32px;background:url(../images/sprite-fe-moedas.png) 0px 0px;color:#CCC;position:relative;margin-bottom:20px;}
.FEA08806 .box-drop.aberto{background-position:0px -88px;}
.FEA08806 .box-drop a.open-drop{display:block;color:#666;width:137px;padding:8px 5px;text-decoration:none;font-weight:bold;}
.FEA08806 .box-drop-extended{z-index:99990000;height:220px;overflow-x:hidden;width:148px;}
.FEA08806 .drop-extended {border-right:1px solid #ddd}
.FEA08806 .drop-extended li{width:140px;border-right:none!important}
.FEA08806 .drop-extended li a{display:block;width:126px;line-height:15px;padding:5px 5px;color:#666;text-decoration:none;}
.FEA08806 .drop-bg-bottom{width:148px}