<div class="FEA08806 gd6 fl">
	<div class="headRetranca fn">
		<h2><a href="http://economia.ig.com.br">Conversor de Moedas</a></h2>
	</div>
	<form>
		<fieldset>
			<div class="half">
				<label>Converter:</label>
				<select name="de" id="de" class="dropfy">
					<option value="moeda">Moeda</option>      
				</select>
			</div>
			<div class="half rgh">
				<label>Para:</label>
				<select name="para" id="para" class="dropfy">
					<option value="moeda">Moeda</option>
				</select>
			</div>
			<div class="full">
				<label>Digite o valor</label>
				<input type="text" value="0,00" class="numeros" id="valor" onKeyPress="return(MascaraMoeda(this,'',',',event))" onclick="cleanUpField({'instance':this,'val':'0,00'})"> <input type="submit" id="cvt" value="CONVERTER" onclick="converte()">
			</div>
			<div class="full">
				<label>Resultado:</label> <cite>Fonte: Thomson Reuters</cite>
				<div>0,00</div>
			</div>
		</fieldset>
	</form>
	<ul class="links">
		<li><a href="http://economia.ig.com.br/financas/">Veja mais sobre <strong>Finanças pessoais</strong></a></li>
		<li><a href="http://economia.ig.com.br/financas/casapropria">Especial <strong>Casa Própria</strong></a></li>
	</ul>
</div>