.FEA10006 table{width:100%;margin-top:10px}
.FEA10006 table th{background:#f2f4f5;color:#6d8495;font-size:0.833em;text-align:center;height:21px;line-height:21px}
.FEA10006 table th.first{width:114px}
.FEA10006 table th.middle{width:90px}
.FEA10006 table th.last{width:109px}
.FEA10006 table tbody tr td{border-left:1px solid #efefef;padding-left:10px;height:39px;line-height:39px}
.FEA10006 table tbody tr.linhaalt td{background:#f8f8f8}
.FEA10006 table tbody tr td.bdr{border-right:1px solid #efefef}
.FEA10006 table tfoot td{text-align:right;font-size:0.833em;color:#6d8495}
.FEA10006 table tfoot tr.rfoot td{height:30px;line-height:30px}
.FEA10006 table tfoot tr.bdfoot td{height:3px;font-size:0;background:url(../images/spriteHome.png?v=0.5.5) no-repeat}
.FEA10006 table tfoot tr.bdfoot td.first{background-position:-26px -227px}
.FEA10006 table tfoot tr.bdfoot td.middle{background-position:-46px -227px}
.FEA10006 table tfoot tr.bdfoot td.last{background-position:-231px -227px}
.FEA10006 .name{font-weight:bold;color:#6d8495}
.FEA10006 .value{font-weight:bold;color:#333}
.FEA10006 .value span{font-weight:normal}
.FEA10006 .value strong{font-size:1.5em}
.FEA10006 .variable{font-size:2em}
.FEA10006 .baixa{color:#c03434}
.FEA10006 .alta{color:#4d9110}
.FEA10006 .variable span{float:left;width:20px;height:18px;margin:10px 8px 0 0}
.FEA10006 .alta span{background-position:-511px -87px}
.FEA10006 .baixa span{background-position:-488px -87px}