<div class="FEA13112 gd12 fl">
	<input type="hidden" value="" id="FEA13112-site">			
	<ul class="compartilhe"> 
		<li>
        	<div class="facebook">
            	<fb:like href="#" send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
                <div id="fb-root"></div>                                 
            </div>
        </li>
        <li class="cptl">Compartilhar:</li>
		<li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"><!-- --></a></li>
		<li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"><!-- --></a></li>
		<li class="google">
		    <!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
		    <g:plusone callback="trackSocialPlusOne" size="medium" count="false"></g:plusone>
        </li>
	</ul>
</div>