<div class="FEA10106">
	<div class="headRetranca">
		<h2>Previsão do tempo <span>››</span></h2>
	</div>
	<div>
		<div class="previsaoTempoBox"><div id="seloPrevisaoTempo"></div></div>
		<div class="grau">
			<cite class="min"></cite> <cite class="max"></cite>
		</div>
		<hgroup>
			<h3 id="FEA10106_nome_cidade"></h3>
			<h4 id="FEA10106_data"></h4>
			<p id="FEA10106_frase"></p>
		</hgroup>
		<ul class="previsao">
			<li><p class="img1" id="img1">MANHÃ</p></li>
			<li><p class="img2" id="img2">TARDE</p></li>
			<li class="nomgr"><p class="img3" id="img3">NOITE</p></li>
		</ul>
	</div>	
	<ul class="veja clear">
		<li><a href="http://ultimosegundo.ig.com.br/brasil/tempo/">Veja <strong>previsão completa</strong></a></li>
	</ul>
	<form name="form" action="" method="post" onsubmit="return false">
		<input type="text" name="outracidade" id="FEA10106_outracidade" class="outracidade" value="Digite o nome da cidade">
	</form>
</div>