.FEA10106{width:316px}
.FEA10106 hgroup{margin-top:20px}
.FEA10106 hgroup h3{font-size:16px;font-weight:bold;color:#333;}
.FEA10106 hgroup h4{clear:both;font-size:12px;font-weight:bold;color:#6d8495;line-height:22px}
.FEA10106 .grau{font:bold 30px arial;background:url(../images/sprite-fe-tempo.png) no-repeat -1397px -51px;margin-top:20px}
.FEA10106 .grau .min{color:#40b7ee;border-right:1px solid #e8e8e8;line-height:31px;margin-right:8px;padding-right:14px;font-style:normal}
.FEA10106 .grau .max{color:#e43e15;font-style:normal}
.FEA10106 .previsao{float:left;margin-top:20px}
.FEA10106 .previsao li{float:left;margin-right:18px;width:93px;height:84px;background:url(../images/sprite-fe-tempo.png) no-repeat 0px 0px;}
.FEA10106 .previsao p{margin:4px 0 0 6px;width:80px;height:84px;line-height:136px;vertical-align:text-bottom;text-align:center;background:url(../images/sprite-fe-tempo.png) no-repeat}
.FEA10106 .previsao .img1{background-position:-99px 4px} /* 1 - Sol. */
.FEA10106 .previsao .img2{background-position:-179px 4px} /* 1n - Noite sem nuvens. */
.FEA10106 .previsao .img3{background-position:-261px 4px} /* 2n - Noite com algumas nuvens.*/
.FEA10106 .previsao .img4{background-position:-340px 4px} /* 2 - Sol com algumas nuvens. */
.FEA10106 .previsao .img5{background-position:-420px 4px} /* 3 - nublado.  */
.FEA10106 .previsao .img6{background-position:-500px 4px} /* 2rn - Noite com muitas nuvens. */
.FEA10106 .previsao .img7{background-position:-578px 4px} /* 2r - Sol com muitas nuvens. */
.FEA10106 .previsao .img8{background-position:-660px 4px} /* 3n - nublado? */
.FEA10106 .previsao .img9{background-position:-741px 4px} /* 4rn - Noite nublada e chuvosa. */
.FEA10106 .previsao .img10{background-position:-816px 4px} /* 4r - Sol com muitas nuvens e chuva. */
.FEA10106 .previsao .img11{background-position:-900px 4px} /* 5n - Chuvoso. */
.FEA10106 .previsao .img12{background-position:-980px 4px} /* 4n - Noite chuvosa. */
.FEA10106 .previsao .img13{background-position:-1062px 4px} /* 4 - Sol  e chuva. */
.FEA10106 .previsao .img14{background-position:-1140px 4px} /* 5 - Chuvoso. */
.FEA10106 .previsao .img15{background-position:-1217px 7px} /* 6 - Chuva e trovoadas. 6n - Chuva e trovoadas.?*/
.FEA10106 .previsao .img16{background-position:-1302px 4px} /* 9 - Nevoeiro */
.FEA10106 .previsao .img17{background-position:-1381px 4px} /* 9n- Nevoa */
.FEA10106 .previsao .img18{background-position:-1460px 4px} /* 8n - Neve. 8   - Neve.*/
.FEA10106 .previsao .img19{background-position:-1538px 4px} /* 7 - Geada. 7n - Geada.*/
.FEA10106 .veja{float:left;padding-top:20px;margin-left:15px}
.FEA10106 .veja li{list-style:disc!important}		
.FEA10106 .outracidade{margin-top:20px;background:url(../images/sprite-fe-moedas.png) repeat scroll -184px -88px transparent;height:36px;line-height:38px;padding:0 15px 0 10px;width:305px;color:#dadfdf;font-size:18px;}
.FEA10106 .previsaoTempoBox {background: #F8F8F8;padding:8px;margin-top:20px;}
.FEA10106 .previsaoTempoBox #seloPrevisaoTempo {width:300px; height:58px;}