<div class="FEA10006 gd6 fl headRetranca">
	<h2>
		<a href="" title=""></a>
	</h2>
	<table class="moeda bolsas" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="first">moeda</th>
				<th class="middle">compra</th>
				<th class="last">variação</th>
			</tr>
		</thead>
		<tfoot>
			<tr class="bdfoot">
				<td class="first">&nbsp;</td>
				<td class="middle">&nbsp;</td>
				<td class="last">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="dolar">
				<td class="name">
					Dólar Comercial
				</td>
				<td class="value">
					<span>R$</span> <strong></strong>
				</td>
				<td class="variable bdr"></td>
			</tr>
			<tr class="euro linhaalt">
				<td class="name">
					Euro
				</td>
				<td class="value">
					<span>R$</span> <strong></strong>
				</td>
				<td class="variable bdr"></td>
			</tr>
		</tbody>
	</table>
	<table class="bolsas" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="first">índice</th>
				<th class="middle">último</th>
				<th class="last">variação</th>
			</tr>
		</thead>
		<tfoot>
			<tr class="bdfoot">
				<td class="first">&nbsp;</td>
				<td class="middle">&nbsp;</td>
				<td class="last">&nbsp;</td>
			</tr>
			<tr class="rfoot">
				<td colspan="3">
					<strong>Fonte:</strong>
					Thomson Reuters
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="bovespa"">
				<td class="name">
					Bovespa
				</td>
				<td class="value"></td>
				<td class="variable bdr"></td>
			</tr>
			<tr class="dowjones linhaalt">
				<td class="name">
					Dow Jones
				</td>
				<td class="value"></td>
				<td class="variable bdr"></td>
			</tr>
			<tr class="nasdaq">
				<td class="name">
					Nasdaq
				</td>
				<td class="value"></td>
				<td class="variable bdr"></td>
			</tr>
		</tbody>
	</table>
</div>