.FEA13112 ul.compartilhe li{float:left;line-height:10px;width:35px;}
.FEA13112 ul.compartilhe li:first-child{width:495px;}
.FEA13112 ul.compartilhe .cptl{float:left;font:11px Arial;padding-top: 5px;width:70px}