<div style="float: right;width: 316px;">
	<div class="fbLikeBox" style="height:185px">
		<fb:like-box href="http://pt-br.facebook.com/ig" width="316" data-height="185" connections="10" stream="false" header="false" border_color="#cccccc"></fb:like-box>
	</div>
	<div class="follow-twitter">
		<a href="https://twitter.com/iG" class="twitter-follow-button" data-show-count="true">Follow @iG</a>
	</div>
	<div id='fb-root'></div>
</div>