.FEA25212{width:640px;}
.FEA25212 form{margin-top:20px;}
.FEA25212 div{clear:both;width:520px;}
.FEA25212 div label{color:#404042;font:bold 14px arial;}
.FEA25212 input,textarea{float:left;margin:5px 3px 15px 0;height:34px;border:1px solid #D6D7D9;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;box-shadow: 0px 0px 20px rgba(248, 245, 235, 0.80);-moz-box-shadow: 0px 0px 20px rgba(248, 245, 235, 0.80);-webkit-box-shadow: 0px 0px 20px rgba(248, 245, 235, 0.80);font-size:14px;padding:0 5px 0 5px;}
.FEA25212 .fnome{width:407px;}
.FEA25212 .femail{width:240px;}
.FEA25212 .ftelefone{width:240px;}
.FEA25212 .furl{width:407px;}
.FEA25212 .fmensagem{width:407px;height:135px;}
.FEA25212 .obri{float:left;margin-top:12px;display:block;width:18px;height:22px;background:url("http://i0.ig.com/canais/centraldoanunciante/images/ctr-sprite.png?v=0.3") -245px -74px;}
.FEA25212 .obri-text-pos{float:left;margin:15px 0 0 4px;}
.FEA25212 .obrigatorio{color:#A70C0A;text-decoration:none;}
.FEA25212 div ul li{width:230px;float:left;}
.FEA25212 div .captcha{margin:5px 0 0 0;}
.FEA25212 .botao{margin-top:25px;border:1px solid #E8E8E8;float:left;color:#313131;font-weight:bold;padding:5px 20px 5px 20px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow: 0px 1px 6px #999;-webkit-box-shadow:0px 1px 6px #999;-moz-box-shadow:0px 1px 6px #999;background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );}
.FEA25212 .email-sucesso{display:none;width:397px;height:45px;line-height:45px;background-color:#E6F6DC;color:#618444;border:1px solid #B7C5AC;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;padding:0 15px 0 15px;}
.FEA25212 .email-sucesso cite{display:block;width:17px;height:17px;background:url("img/ctr-sprite.png?v=0.2") -289px -51px;float:right;margin:14px 0 0 0;}
.FEA25212 .email-erro{display:none;padding:10px;background-color:#F8DEDD;width:427px;color:#9F0F0F;border:1px solid #B38180;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.FEA25212 .email-erro h4{color:#9F0F0F;font-size:12px;font-weight:bold;}
.FEA25212 .email-erro ol li{margin-left:0px;}
.FEA25212 .email-erro ol li label{color:#9F0F0F!important;font-size:12px!important;font-weight:normal!important;}
.FEA25212 input.error{border:1px solid #B7C5AC;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-box-shadow:inset 0px 0px 10px 4px #ed6464;-webkit-box-shadow:inset 0px 0px 10px 4px #ed6464;box-shadow:inset 0px 0px 10px 4px #ed6464;}
.FEA25212 textarea.error{border:1px solid #B7C5AC;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-box-shadow:inset 0px 0px 10px 4px #ed6464;-webkit-box-shadow:inset 0px 0px 10px 4px #ed6464;box-shadow:inset 0px 0px 10px 4px #ed6464;}