<div class="FEA25212 gd12 fl">
	<div class="email-sucesso" style="display:none;">Sua mensagem foi enviada com sucesso! <cite></cite></div>
	<div class="email-erro" style="display:none;">
	  <h4>IMPORTANTE:</h4>
	  <ol>
	    <li><label for="seuNome" class="error">Informe seu nome.</label></li>
	    <li><label for="seuEmail" class="error">Informe um e-mail válido.</label></li>
	    <li><label for="mensagem" class="error">Informe sua mensagem.</label></li>
	    <!--li><label for="answer" class="error">Informe o código de segurança.</label></li-->
	  </ol>
	</div>
	
	<span class="obri"></span> <span class="obri-text-pos">Preenchimento obrigatório.</span><br><br>
	
	<form action="" id="formFaleConosco" method="post">
		<input type="hidden" name="titulo" id="formFaleConoscoTitulo" value="">
		<div>
			<label for="campoNome" class="lb-seunome">Seu nome:</label><br>
			<input type="text" id="seuNome" name="seuNome" class="fnome"> <span class="obri"></span>
		</div>
		<div>
			<label for="campoEmail" class="lb-seuemail">Seu e-mail:</label><br>
			<input type="text" id="seuEmail" name="seuEmail" class="femail"> <span class="obri"></span>
		</div>
		<!-- <div>
			<label for="campoTelefone" class="lb-seutelefone">Telefone:</label><br>
			<input type="text" id="seuTelefone" name="seuTelefone" class="ftelefone"> 
		</div>
		<div>
			<label for="campoUrl" class="lb-seuurl">URL:</label><br>
			<input type="text" id="suaUrl" name="suaUrl" class="furl"> 
		</div> -->
		<div>
			<label for="campoMsg" class="lb-seumensagem">Mensagem:</label><br>
			<textarea name="mensagem" class="fmensagem"></textarea> <span class="obri"></span>
		</div>
		<!--div>
			<ul>
				<li>
					<label style="width:260px">Código de segurança:</label>
					<img src="https://generico.ig.com.br/servlet/gotcha" id="captcha" class="captcha" height="36px" width="160px">
				</li>
				<li>
					<label>Digite o código de segurança</label>
					<input type="text" name="answer"> <span class="obri"></span>
				</li>
			</ul>
		</div>
		<div>
			<label>
				<a onclick="recarregaCaptcha()" href="javascript:void(0)">
					<span class="obrigatorio">Clique aqui para recarregar a imagem</span>
				</a>
			</label>
		</div-->
		<div class="nomgr">
			<a href="javascript:void(0)" class="botao" onclick="enviaForm();">ENVIAR</a>
		</div>
	</form>
	<br class="clear">
</div>