<div class="FEE09606 gd6 fl">
	<div class="headRetranca">
		<h2>
			<a href="" title=""></a>
		</h2>
	</div>
	<ul>
		<li class="">
			<h3>São Paulo</h3>
			<div class="container">
				<span class="sprite canto-se fora"></span><span class="sprite canto-sd fora"></span><span class="sprite canto-ie fora"></span><span class="sprite canto-id fora"></span>
				<a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/">
					<strong><span></span>km</strong>
					<cite>Mais detalhes</cite>
				</a>
				<div class="situacao"><span class="sprite"></span><cite></cite></div>
			</div>
		</li>
		<li class="">
			<h3>Rio de Janeiro</h3>
			<div class="container">
				<a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/?rioDeJaneiro">
					<strong><span></span>km</strong>
					<cite>Mais detalhes</cite>
				</a>
				<div class="situacao"><span class="sprite"></span><cite></cite></div>
			</div>
		</li>
		<li class="nomgr">
			<h3>Belo Horizonte</h3>
			<div class="container">
				<a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/?beloHorizonte">
					<strong><span></span>km</strong>
					<cite>Mais detalhes</cite>
				</a>
				<div class="situacao"><span class="sprite"></span><cite></cite></div>
			</div>
		</li>
	</ul>
	
	<!-- <a href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/p1237569155693.html" class="blet">Veja <strong>o trânsito</strong> de outras cidades</a> -->
</div>