.FEE09606 li{float:left;width:92px;margin:16px 20px 0 0;text-align:center} 
.FEE09606 h3{font-size:1em;margin-bottom:7px}
.FEE09606 ul{float:left}
.FEE09606 .container{border:1px solid #dedede;position:relative;padding:11px 0 8px;float:left;width:100%}
.FEE09606 .container a strong{display:block;font-weight:normal;font-size:2em}
.FEE09606 .container a strong span{font-weight:bold}
.FEE09606 .container a cite{font-style:normal;font-size:0.917em}
.FEE09606 .container a:hover{text-decoration:none}
.FEE09606 .container a:hover cite{text-decoration:underline}
.FEE09606 .situacao{margin-top:15px}
.FEE09606 .situacao span{float:left;width:23px;height:23px;margin:0 5px 0 9px}
.FEE09606 .situacao cite{font-style:normal;font-size:1em;color:#6d8495;float:left;margin-top:4px}
.FEE09606 li.lento .container a strong{color:#c03434}
.FEE09606 li.lento .sprite{background-position:-210px -91px}
.FEE09606 li.medio .container a strong,.FEE09606 li.bom .container a strong{color:#138a00}
.FEE09606 li .sprite{background-position:-234px -91px}
.FEE09606 .container span.fora{position:absolute;width:3px;height:3px}
.FEE09606 .container span.canto-se{top:-1px;left:-1px;background-position:-106px -54px}
.FEE09606 .container span.canto-sd{top:-1px;right:-1px;background-position:-109px -54px}
.FEE09606 .container span.canto-ie{bottom:-1px;left:-1px;background-position:-106px -57px}
.FEE09606 .container span.canto-id{bottom:-1px;right:-1px;background-position:-109px -57px}
.FEE09606 .container span.fora{background-color:#e8edf0}
.FEE09606 .headRetranca form{float:right;width:103px}
.FEE09606 .box-drop a.open-drop{width:87px}
.FEE09606 .box-drop a.open-drop span{display:block;width:57px;overflow:hidden}
.FEE09606 .box-drop{width:97px;background:url(../images/spriteHome.png?v=0.5.5) -384px -86px}
.FEE09606 .box-drop a{font-size:1em}
.FEE09606 .box-drop li{width:148px;margin:0;text-align:left}
.FEE09606 .drop-bg-bottom{background:url(../images/spriteHome.png?v=0.5.5) -384px -86px}