.FEE04106 {float: left;width: 316px}
.FEE04106 div.fbLikeBoxHeader {background: #fafafa;border-right: 1px solid #dcdcdc;border-left: 1px solid #dcdcdc;height: 45px}
.FEE04106 div.topbd {background: url("http://i0.ig.com/jov/images/sprite_futebol.gif")
.FEE04106 div h3 {padding: 12px 10px 0;margin: 0}