<div class="FEE10306 gd6 fl headRetranca">
	<h2>
		<a href="" title=""></a>
	</h2>
	<ul>
		<li>
			<a href="http://delas.ig.com.br/aries/p1237505138765.html" title="Áries" class="aries">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Áries" />
				</span>
				<strong>Áries</strong>
			</a>
		</li>
		<li>
			<a href="http://delas.ig.com.br/touro/p1237505138787.html" title="Touro" class="touro">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Touro" />
				</span>
				<strong>Touro</strong>
			</a>
		</li>
		<li>
			<a href="http://delas.ig.com.br/gemeos/p1237505138790.html" title="Gêmeos" class="gemeos">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Gêmeos" />
				</span>
				<strong>Gêmeos</strong>
			</a>
		</li>
		<li class="nomgr">
			<a href="http://delas.ig.com.br/cancer/p1237505138793.html" title="Câncer" class="cancer">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Câncer" />
				</span>
				<strong>Câncer</strong>
			</a>
		</li>
		<li>
			<a href="http://delas.ig.com.br/leao/p1237505138799.html" title="Leão" class="leao">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Leão" />
				</span>
				<strong>Leão</strong>
			</a>
		</li>
		<li>
			<a href="http://delas.ig.com.br/virgem/p1237505138802.html" title="Virgem" class="virgem">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Virgem" />
				</span>
				<strong>Virgem</strong>
			</a>
		</li>
		<li>
			<a href="http://delas.ig.com.br/libra/p1237505138805.html" title="Libra" class="libra">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Libra" />
				</span>
				<strong>Libra</strong>
			</a>
		</li>
		<li class="nomgr">
			<a href="http://delas.ig.com.br/escorpiao/p1237505138808.html" title="Escorpião" class="escorpiao">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Escorpião" />
				</span>
				<strong>Escorpião</strong>
			</a>
		</li>
		<li class="nomgb">
			<a href="http://delas.ig.com.br/sagitario/p1237505138811.html" title="Sagitário" class="sargitario">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Sagitário" />
				</span>
				<strong>Sagitário</strong>
			</a>
		</li>
		<li class="nomgb">
			<a href="http://delas.ig.com.br/capricornio/p1237505138814.html" title="Capricórnio" class="capricornio">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Capricórnio" />
				</span>
				<strong>Capricórnio</strong>
			</a>
		</li>
		<li class="nomgb">
			<a href="http://delas.ig.com.br/aquario/p1237505138817.html" title="Aquário" class="aquario">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Aquário" />
				</span>
				<strong>Aquário</strong>
			</a>
		</li>
		<li class="nomgb nomgr">
			<a href="http://delas.ig.com.br/peixes/p1237505138820.html" title="Peixes" class="peixes">
				<span>
					<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Peixes" />
				</span>
				<strong>Peixes</strong>
			</a>
		</li>
	</ul>
	<ol class="lista">
		<li class="sprite"><a href=""></a></li>
	</ol>
</div>