.FEE10206 ul li.camp li,
.FEE10206 .headRetranca h2{float:left;width:200px;margin-bottom:11px}
.FEE10206 .headRetranca form{float:right;width:92px;padding-right:5px}
.FEE10206 .box-drop{width:92px;background:url(../images/spriteHome.png?v=0.5.5) -389px -154px;margin:0}
.FEE10206 .box-drop.aberto{background-position:-435px -237px}
.FEE10206 .box-drop .drop-bg-topo{display:none}
.FEE10206 .drop-bg-bottom{background:url(../images/spriteHome.png?v=0.5.5) -435px -274px}
.FEE10206 .box-drop a{font-size:1em}
.FEE10206 .box-drop li{width:80px;margin:0;text-align:left}
.FEE10206 .box-drop a.open-drop{width:86px}
.FEE10206 .box-drop a.open-drop span{display:block;width:47px;overflow:hidden}
.FEE10206 .box-drop-extended{width:92px;height:80px;overflow:hidden;margin-top:1px}
.FEE10206 .box-drop-extended ul{overflow-y:auto;height:78px}
.FEE10206 .box-drop-extended li{border:1px solid #dddddd;border-top:0;border-bottom:0;background:none;width:89px;font-size:1em}
.FEE10206 .box-drop-extended li a:hover{color:#08629a}
.FEE10206 ul li.camp{float:left;width:316px;height:195px}
.FEE10206 ul li.camp li{float:left;width:30px;height:30px;padding:6px 13px 6px 12px;margin:0 9px 9px 0;background-position:-484px -110px}
.FEE10206 ul li.camp li:hover{background-position: -484px -153px}
.FEE10206 ul li.camp li figure{display:block;width:30px;height:30px;overflow:hidden}
.FEE10206 ul li.camp li a.americamg figure img{margin:-1110px 0 0}
.FEE10206 ul li.camp li a.atleticogo figure img{margin:-1710px 0 0}
.FEE10206 ul li.camp li a.atleticomg figure img{margin:0}
.FEE10206 ul li.camp li a.atleticopr figure img{margin:-990px 0 0}
.FEE10206 ul li.camp li a.avai figure img{margin:-1140px 0 0}
.FEE10206 ul li.camp li a.bahia figure img{margin:-1200px 0 0}
.FEE10206 ul li.camp li a.botafogo figure img{margin:-810px 0 0}
.FEE10206 ul li.camp li a.ceara figure img{margin:-1260px 0 0}
.FEE10206 ul li.camp li a.corinthians figure img{margin:-840px 0 0}
.FEE10206 ul li.camp li a.coritiba figure img{margin:-1320px 0 0}
.FEE10206 ul li.camp li a.cruzeiro figure img{margin:-1500px 0 0}
.FEE10206 ul li.camp li a.figueirense figure img{margin:-1620px 0 0}
.FEE10206 ul li.camp li a.flamengo figure img{margin:-1650px 0 0}
.FEE10206 ul li.camp li a.fluminense figure img{margin:-1680px 0 0}
.FEE10206 ul li.camp li a.gremio figure img{margin:-30px 0 0}
.FEE10206 ul li.camp li a.internacional figure img{margin:-120px 0 0}
.FEE10206 ul li.camp li a.palmeiras figure img{margin:-1770px 0 0}
.FEE10206 ul li.camp li a.santos figure img{margin:-390px 0 0}
.FEE10206 ul li.camp li a.saopaulo figure img{margin:-450px 0 0}
.FEE10206 ul li.camp li a.vasco figure img{margin:-660px 0 0}
.FEE10206 ul li.camp li a.abc figure img{margin:-1080px 0 0}
.FEE10206 ul li.camp li a.americana figure img{margin:-780px 0 0}
.FEE10206 ul li.camp li a.asaal figure img{margin:-1350px 0 0}
.FEE10206 ul li.camp li a.bragantino figure img{margin:-1230px 0 0}
.FEE10206 ul li.camp li a.criciuma figure img{margin:-1380px 0 0}
.FEE10206 ul li.camp li a.duquedecaxias figure img{margin:-1170px 0 0}
.FEE10206 ul li.camp li a.goias figure img{margin:-1740px 0 0}
.FEE10206 ul li.camp li a.barueri figure img{margin:-630px 0 0}
.FEE10206 ul li.camp li a.guarani figure img{margin:-150px 0 0}
.FEE10206 ul li.camp li a.guaratingueta figure img{margin:-780px 0 0}
.FEE10206 ul li.camp li a.icasace figure img{margin:-90px 0 0}
.FEE10206 ul li.camp li a.boa figure img{margin:-60px 0 0}
.FEE10206 ul li.camp li a.nautico figure img{margin:-180px 0 0}
.FEE10206 ul li.camp li a.parana figure img{margin:-1410px 0 0}
.FEE10206 ul li.camp li a.pontepreta figure img{margin:-1440px 0 0}
.FEE10206 ul li.camp li a.portuguesa figure img{margin:-330px 0 0}
.FEE10206 ul li.camp li a.salgueiro figure img{margin:-1290px 0 0}
.FEE10206 ul li.camp li a.saocaetano figure img{margin:-1470px 0 0}
.FEE10206 ul li.camp li a.sport figure img{margin:-510px 0 0}
.FEE10206 ul li.camp li a.vilanova figure img{margin:-1530px 0 0}
.FEE10206 ul li.camp li a.vitoria figure img{margin:-720px 0 0}
.FEE10206 ul li.camp li a.arsenal figure img{margin:-210px 0 0}
.FEE10206 ul li.camp li a.barcelona figure img{margin:-750px 0 0}
.FEE10206 ul li.camp li a.bayernmunique figure img{margin:-420px 0 0}
.FEE10206 ul li.camp li a.benfica figure img{margin:-1020px 0 0}
.FEE10206 ul li.camp li a.bocajuniors figure img{margin:-1560px 0 0}
.FEE10206 ul li.camp li a.chelsea figure img{margin:-240px 0 0}
.FEE10206 ul li.camp li a.internazionale figure img{margin:-540px 0 0}
.FEE10206 ul li.camp li a.juventus figure img{margin:-570px 0 0}
.FEE10206 ul li.camp li a.liverpool figure img{margin:-270px 0 0}
.FEE10206 ul li.camp li a.lyon figure img{margin:-1050px 0 0}
.FEE10206 ul li.camp li a.manchestercity figure img{margin:-300px 0 0}
.FEE10206 ul li.camp li a.manchesterunited figure img{margin:-360px 0 0}
.FEE10206 ul li.camp li a.milan figure img{margin:-600px 0 0}
.FEE10206 ul li.camp li a.porto figure img{margin:-960px 0 0}
.FEE10206 ul li.camp li a.realmadrid figure img{margin:-870px 0 0}
.FEE10206 ul li.camp li a.riverplate figure img{margin:-1590px 0 0}
.FEE10206 ul li.camp li a.roma figure img{margin:-690px 0 0}
.FEE10206 ul li.camp li a.schalke04 figure img{margin:-480px 0 0}
.FEE10206 ul li.camp li a.sevilha figure img{margin:-900px 0 0}
.FEE10206 ul li.camp li a.valencia figure img{margin:-930px 0 0}
.FEE10206 ul li.camp li a.americarn figure img{margin:-1800px 0 0}
.FEE10206 ul li.camp li a.crb figure img{margin:-1830px 0 0}
.FEE10206 ul li.camp li a.ipatinga figure img{margin:-1860px 0 0}
.FEE10206 ul li.camp li a.joinvillesc figure img{margin:-1890px 0 0}