.FEE10306{margin-bottom:20px}
.FEE10306 h2{margin-bottom:20px}
.FEE10306 ul li{float:left;width:68px;height:80px;margin:0 14px 9px 0}
.FEE10306 ul li a{float:left;width:68px;height:80px;background:url(http://i0.ig.com/ig/images/horoscopo.png) no-repeat}
.FEE10306 ul li a:hover{background-position:right top}
.FEE10306 ul li a span{float:left;width:66px;height:56px;overflow:hidden;margin-top:3px}
.FEE10306 ul li a strong{display:block;text-align:center;font-size:0.917em}
.FEE10306 ul li a:hover strong{text-decoration:underline}
.FEE10306 ul li a.aries img{margin:5px 0 0 -73px}
.FEE10306 ul li a.touro img{margin:5px 0 0 -135px}
.FEE10306 ul li a.gemeos img{margin:5px 0 0 -195px}
.FEE10306 ul li a.cancer img{margin:5px 0 0 -255px}
.FEE10306 ul li a.leao img{margin:5px 0 0 -317px}
.FEE10306 ul li a.virgem img{margin:5px 0 0 -377px}
.FEE10306 ul li a.libra img{margin:1px 0 0 -436px}
.FEE10306 ul li a.escorpiao img{margin:3px 0 0 -498px}
.FEE10306 ul li a.sargitario img{margin:5px 0 0 -552px}
.FEE10306 ul li a.capricornio img{margin:5px 0 0 -618px}
.FEE10306 ul li a.aquario img{margin:5px 0 0 -678px}
.FEE10306 ul li a.peixes img{margin:5px 0 0 -738px}
.FEE10306 ol{clear:both;padding-top:16px}
.FEE10306 ol li{margin-top:3px;font-size:1em;padding-left:8px;background-position:-311px -10px}