<div class="FEE10206 gd6 fl ">
	<div class="headRetranca">
		<h2>
			<a href="" title=""></a>
		</h2>
		<form action="#">
			<fieldset>
				<select name="champs" class="dropfy">
					<option value="seriea">Série A</option>
					<option value="serieb">Série B</option>
					<option value="internacionais">Internacionais</option>
				</select>
			</fieldset>
		</form>
	</div>
	<div class="contTimes">
		<ul>
			<li class="camp seriea">
				<ul>
					<li>
						<a title="Atlético-GO" href="http://esporte.ig.com.br/futebol/times/atletico-go/p1237870214354.html" class="atleticogo">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Atlético-GO" /></figure>
						</a>
					</li>
					<li>
						<a title="Atlético-MG" href="http://esporte.ig.com.br/futebol/times/atletico-mg/p1237870239965.html" class="atleticomg">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Atlético-MG" /></figure>
						</a>
					</li>
					<li>
						<a title="Bahia" href="http://esporte.ig.com.br/futebol/times/bahia/p1237870319496.html" class="bahia">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Bahia" /></figure>
						</a>
					</li>
					<li>
						<a title="Botafogo" href="http://esporte.ig.com.br/futebol/times/botafogo/p1237870368706.html" class="botafogo">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Botafogo" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Corinthians" href="http://esporte.ig.com.br/futebol/times/corinthians/p1237870501204.html" class="corinthians">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Corinthians" /></figure>
						</a>
					</li>
					<li>
						<a title="Coritiba" href="http://esporte.ig.com.br/futebol/times/coritiba/p1237870528251.html" class="coritiba">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Coritiba" /></figure>
						</a>
					</li>
					<li>
						<a title="Cruzeiro" href="http://esporte.ig.com.br/futebol/times/cruzeiro/p1237870555225.html" class="cruzeiro">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Cruzeiro" /></figure>
						</a>
					</li>
					<li>
						<a title="Figueirense" href="http://esporte.ig.com.br/futebol/times/figueirense/p1237870609535.html" class="figueirense">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Figueirense" /></figure>
						</a>
					</li>
					<li>
						<a title="Flamengo" href="http://esporte.ig.com.br/futebol/times/flamengo/p1237870635049.html" class="flamengo">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Flamengo" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Fluminense" href="http://esporte.ig.com.br/futebol/times/fluminense/p1237870660491.html" class="fluminense">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Fluminense" /></figure>
						</a>
					</li>
					<li>
						<a title="Grêmio" href="http://esporte.ig.com.br/futebol/times/gremio/p1237870685658.html" class="gremio">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Grêmio" /></figure>
						</a>
					</li>
					<li>
						<a title="Internacional" href="http://esporte.ig.com.br/futebol/times/internacional/p1237870787468.html" class="internacional">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Internacional" /></figure>
						</a>
					</li>
					<li>
						<a title="Náutico" href="http://esporte.ig.com.br/futebol/times/nautico/p1237870939968.html" class="nautico">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Náutico" /></figure>
						</a>
					</li>
					<li>
						<a title="Palmeiras" href="http://esporte.ig.com.br/futebol/times/palmeiras/p1237870989245.html" class="palmeiras">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Palmeiras" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Ponte Preta" href="http://esporte.ig.com.br/futebol/times/pontepreta/p1237871071183.html" class="pontepreta">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Ponte Preta" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Portuguesa" href="http://esporte.ig.com.br/futebol/times/portuguesa/p1237871098933.html" class="portuguesa">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Portuguesa" /></figure>
						</a>
					</li>
					
					<li class="nomgb">
						<a title="Santos" href="http://esporte.ig.com.br/futebol/times/santos/p1237871209073.html" class="santos">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Santos" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="São Paulo" href="http://esporte.ig.com.br/futebol/times/saopaulo/p1237871262354.html" class="saopaulo">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="São Paulo" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Sport" href="http://esporte.ig.com.br/futebol/times/sport/p1237871315902.html" class="sport">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Sport" /></figure>
						</a>
					</li>
					<li class="nomgr nomgb">
						<a title="Vasco" href="http://esporte.ig.com.br/futebol/times/vasco/p1237871344083.html" class="vasco">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Vasco" /></figure>
						</a>
					</li>			
				</ul>
			</li>
			<li class="camp serieb dn">
				<ul>
					<li>
						<a title="ABC" href="http://esporte.ig.com.br/futebol/times/abc/p1237871426686.html" class="abc">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="ABC" /></figure>
						</a>
					</li>
					<li>
						<a title="América-MG" href="http://esporte.ig.com.br/futebol/times/america-mg/p1237870137531.html" class="americamg">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Améria-MG" /></figure>
						</a>
					</li>
					<li>
						<a title="América-RN" href="http://esporte.ig.com.br/futebol/times/america-rn/" class="americarn">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="América-RN" /></figure>
						</a>
					</li>
					<li>
						<a title="ASA-AL" href="http://esporte.ig.com.br/futebol/times/asa-al/p1237870187385.html" class="asaal">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="ASA-AL /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Atlético-PR" href="http://esporte.ig.com.br/futebol/times/atletico-pr/p1237870266734.html" class="atleticopr">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Atlético-PR" /></figure>
						</a>
					</li>
					<li>
						<a title="Avaí" href="http://esporte.ig.com.br/futebol/times/avai/p1237870293606.html" class="avai">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Avaí" /></figure>
						</a>
					</li>
					<li>
						<a title="Boa" href="http://esporte.ig.com.br/futebol/times/boa/p1237872572542.html" class="boa">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Boa" /></figure>
						</a>
					</li>
					<li>
						<a title="Bragantino" href="http://esporte.ig.com.br/futebol/times/bragantino/p1237870423401.html" class="bragantino">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Bragantino" /></figure>
						</a>
					</li>
					<li>
						<a title="Ceará" href="http://esporte.ig.com.br/futebol/times/ceara/p1237870477595.html" class="ceara">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Ceará" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="CRB" href="http://esporte.ig.com.br/futebol/times/crb/" class="crb">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="CRB" /></figure>
						</a>
					</li>	
					<li>
						<a title="Criciúma" href="http://esporte.ig.com.br/futebol/times/criciuma/p1237871482147.html" class="criciuma">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Criciúma" /></figure>
						</a>
					</li>
					<li>
						<a title="Goiás" href="http://esporte.ig.com.br/futebol/times/goias/p1237869823478.html" class="goias">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Goiás" /></figure>
						</a>
					</li>
					<li>
						<a title="Barueri" href="http://esporte.ig.com.br/futebol/times/barueri/p1237870342689.html" class="barueri">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Barueri" /></figure>
						</a>
					</li>
					<li>
						<a title="Guarani" href="http://esporte.ig.com.br/futebol/times/guarani/p1237870712430.html" class="guarani">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Guarani" /></figure>
						</a>
					</li>					
					<li class="nomgr">
						<a title="Guaratinguetá" href="http://esporte.ig.com.br/futebol/times/guaratingueta/p1237870739286.html" class="guaratingueta">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Guaratinguetá" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Ipatinga" href="http://esporte.ig.com.br/futebol/times/ipatinga/" class="ipatinga">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Ipatinga" /></figure>
						</a>			
					</li>	
					<li class="nomgb">
						<a title="Joinville SC" href="http://esporte.ig.com.br/futebol/times/joinville-sc/" class="joinvillesc">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Joinville SC" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Paraná" href="http://esporte.ig.com.br/futebol/times/parana/p1237871018116.html" class="parana">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Paraná" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="São Caetano" href="http://esporte.ig.com.br/futebol/times/saocaetano/p1237871235631.html" class="saocaetano">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="São Caetano" /></figure>
						</a>
					</li>
					<li class="nomgr nomgb">
						<a title="Vitória" href="http://esporte.ig.com.br/futebol/times/vitoria/p1237871399469.html" class="vitoria">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Vitória" /></figure>
						</a>
					</li>			
				</ul>
			</li>
			<li class="camp internacionais dn">
				<ul>
					<li>
						<a title="Arsenal" href="http://esporte.ig.com.br/futebol/internacional/arsenal/p1237872828723.html" class="arsenal">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Arsenal" /></figure>
						</a>
					</li>
					<li>
						<a title="Barcelona" href="http://esporte.ig.com.br/futebol/internacional/barcelona/p1237873175108.html" class="barcelona">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Barcelona" /></figure>
						</a>
					</li>
					<li>
						<a title="Bayern Munique" href="http://esporte.ig.com.br/futebol/internacional/bayernmunique/p1237872951748.html" class="bayernmunique">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Bayern Munique" /></figure>
						</a>
					</li>
					<li>
						<a title="Benfica" href="http://esporte.ig.com.br/futebol/internacional/benfica/p1237873309542.html" class="benfica">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Benfica" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Boca Juniors" href="http://esporte.ig.com.br/futebol/internacional/bocajuniors-arg/p1237871634787.html" class="bocajuniors">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Boca Juniors" /></figure>
						</a>
					</li>
					<li>
						<a title="Chelsea" href="http://esporte.ig.com.br/futebol/internacional/chelsea/p1237872853386.html" class="chelsea">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Chelsea" /></figure>
						</a>
					</li>
					<li>
						<a title="Internazionale" href="http://esporte.ig.com.br/futebol/internacional/internazionale/p1237873080451.html" class="internazionale">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Internazionale" /></figure>
						</a>
					</li>
					<li>
						<a title="Juventus" href="http://esporte.ig.com.br/futebol/internacional/juventus/p1237873084877.html" class="juventus">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Juventus" /></figure>
						</a>
					</li>
					<li>
						<a title="Liverpool" href="http://esporte.ig.com.br/futebol/internacional/liverpool/p1237872867862.html" class="liverpool">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Liverpool" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Lyon" href="http://esporte.ig.com.br/futebol/internacional/lyon/p1237873322330.html" class="lyon">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Lyon" /></figure>
						</a>
					</li>
					<li>
						<a title="Manchester City" href="http://esporte.ig.com.br/futebol/internacional/manchestercity/p1237872873173.html" class="manchestercity">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Manchester City" /></figure>
						</a>
					</li>
					<li>
						<a title="Manchester United" href="http://esporte.ig.com.br/futebol/internacional/manchesterunited/p1237872879204.html" class="manchesterunited">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Mancheter United" /></figure>
						</a>
					</li>
					<li>
						<a title="Milan" href="http://esporte.ig.com.br/futebol/internacional/milan/p1237873103385.html" class="milan">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Milan" /></figure>
						</a>
					</li>
					<li>
						<a title="Porto" href="http://esporte.ig.com.br/futebol/internacional/porto/p1237873274479.html" class="porto">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Porto" /></figure>
						</a>
					</li>
					<li class="nomgr">
						<a title="Real Madrid" href="http://esporte.ig.com.br/futebol/internacional/realmadrid/p1237873227331.html" class="realmadrid">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Real Madrid" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="River Plate" href="http://esporte.ig.com.br/futebol/internacional/riverplate/p1237871640640.html" class="riverplate">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="River Plate" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Roma" href="http://esporte.ig.com.br/futebol/internacional/roma/p1237873131087.html" class="roma">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Roma" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Schalke 04" href="http://esporte.ig.com.br/futebol/internacional/schalke04/p1237873015185.html" class="schalke04">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Schalke 04" /></figure>
						</a>
					</li>
					<li class="nomgb">
						<a title="Sevilha" href="http://esporte.ig.com.br/futebol/internacional/sevilla/p1237873247570.html" class="sevilha">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Sevilha" /></figure>
						</a>
					</li>
					<li class="nomgr nomgb">
						<a title="Valencia" href="http://esporte.ig.com.br/futebol/internacional/valencia/p1237873251829.html" class="valencia">
							<figure><img src="http://i0.ig.com/css/images/esporte/sprite/E27818_7.png?v=1" alt="Valencia" /></figure>
						</a>
					</li>			
				</ul>
			</li>
		</ul>
	</div>
</div>