.FEE21006{margin-bottom:10px;}
.FEE21006 h2{margin-bottom:10px}

.FEE21006 #fb-caixa-activity {
	width:313px;
	height:215px;
	overflow-x:hidden;
	overflow-y: scroll;
	border-top: 1px solid #D7D7D7;
}	
.FEE21006 #fb-caixa{
	border: 1px solid #D7D7D7;
}