<div>
	<div class="faixa">
	<div id="panCalendarioFilter">
		<h3 style="width:210px;">Atletas Brasileiros</h3>
			
		<div id="atletaModal">
		
			<select name="" id="filterModalidades" class="dropfy">
				<option value="modalidade/">Todas as modalidades</option>
				<option value="modalidade/Atletismo">Atletismo</option>
				<option value="modalidade/Badminton">Badminton</option>
				<option value="modalidade/Basquete">Basquete</option>
				<option value="modalidade/Boxe">Boxe</option>
				<option value="modalidade/Canoagem">Canoagem</option>
				<option value="modalidade/Caratê">Caratê</option>
				<option value="modalidade/Ciclismo BMX">Ciclismo BMX</option>
				<option value="modalidade/Ciclismo Estrada">Ciclismo Estrada</option>
				<option value="modalidade/Ciclismo MTB">Ciclismo MTB</option>
				<option value="modalidade/Ciclismo Pista">Ciclismo Pista</option>
				<option value="modalidade/Esgrima">Esgrima</option>
				<option value="modalidade/Futebol">Futebol</option>
				<option value="modalidade/Ginástica artística">Ginástica artística</option>
				<option value="modalidade/Ginástica rítmica">Ginástica rítmica</option>
				<option value="modalidade/Ginástica trampolim">Ginástica trampolim</option>
				<option value="modalidade/Handebol">Handebol</option>	
				<option value="modalidade/Hipismo">Hipismo</option>
				<option value="modalidade/Hóquei sobre grama">Hóquei sobre grama</option>
				<option value="modalidade/Judô">Judô</option>
				<option value="modalidade/Levantamento de peso">Levantamento de peso</option>
				<option value="modalidade/Luta">Luta</option>
				<option value="modalidade/Maratona aquática">Maratona aquática</option>
				<option value="modalidade/Nado sincronizado">Nado sincronizado</option>
				<option value="modalidade/Natação">Natação</option>
				<option value="modalidade/Pentatlo moderno">Pentatlo moderno</option>
				<option value="modalidade/Polo Aquático">Polo Aquático</option>
				<option value="modalidade/Raquetebol">Raquetebol</option>
				<option value="modalidade/Remo">Remo</option>
				<option value="modalidade/Saltos ornamentais">Saltos ornamentais</option>
				<option value="modalidade/Taekwondo">Taekwondo</option>
				<option value="modalidade/Tiro com arco">Tiro com arco</option>
				<option value="modalidade/Tiro esportivo">Tiro esportivo</option>
				<option value="modalidade/Triatlo">Triatlo</option>
				<option value="modalidade/Tênis">Tênis</option>
				<option value="modalidade/Tênis de mesa">Tênis de mesa</option>
				<option value="modalidade/Vela">Vela</option>
				<option value="modalidade/Vôlei">Vôlei</option>
				<option value="modalidade/Vôlei de praia">Vôlei de praia</option>
			</select>
		</div>
		
		
		<div id="atletaGenero">
			<select name="" id="filterModalidades" class="dropfy">
				<option value="modalidade/genero/">Todos os Atletas</option>
				<option value="modalidade/genero/Masculino">Atletas Masculino</option>
				<option value="modalidade/genero/Feminino">Atletas Feminino</option>
			</select>
		</div>
		
		<div class="clear"></div>
	</div>

	<p style="padding:10px 0;">Escolha uma letra:</p>

	<div id="filterDiasCalendario" style="border-top:1px solid #cecece;">
		<ul>
			<li class="letra todos"><a href="/olimpiadas/atletas/" title="todas as letras" rel="">Todos</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/A" title="letra A" rel="A" id="letra-A">A</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/B" title="letra B" rel="B" id="letra-B">B</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/C" title="letra C" rel="C" id="letra-C">C</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/D" title="letra D" rel="D" id="letra-D">D</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/E" title="letra E" rel="E" id="letra-E">E</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/F" title="letra F" rel="F" id="letra-F">F</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/G" title="letra G" rel="G" id="letra-G">G</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/H" title="letra H" rel="H" id="letra-H">H</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/I" title="letra I" rel="I" id="letra-I">I</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/J" title="letra J" rel="J" id="letra-J">J</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/K" title="letra K" rel="K" id="letra-K">K</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/L" title="letra L" rel="L" id="letra-L">L</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/M" title="letra M" rel="M" id="letra-M">M</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/N" title="letra N" rel="N" id="letra-N">N</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/O" title="letra O" rel="O" id="letra-O">O</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/P" title="letra P" rel="P" id="letra-P">P</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/Q" title="letra Q" rel="Q" id="letra-Q">Q</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/R" title="letra R" rel="R" id="letra-R">R</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/S" title="letra S" rel="S" id="letra-S">S</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/T" title="letra T" rel="T" id="letra-T">T</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/U" title="letra U" rel="U" id="letra-U">U</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/V" title="letra V" rel="V" id="letra-V">V</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/W" title="letra W" rel="W" id="letra-W">W</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/X" title="letra X" rel="X" id="letra-X">X</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/Y" title="letra Y" rel="Y" id="letra-Y">Y</a></li>
			<li class="letra"><a href="/olimpiadas/atletas/#letra/Z" title="letra Z" rel="Z" id="letra-Z">Z</a></li>
		</ul>
		<div class="clear"></div>
	</div>


<div id="fichaAtleta">

	<div id="info">
		<img src="" alt="" width="315" height="315" class="foto"/>
		
		<h3>Resultados nas Olimpíadas</h3>
		<ul class="conquistas">
		</ul>
	</div>

	<h2>Cesar Cielo</h2>
	<p><a href="" class="modalidade">Natação</a></p>
	
	
	<h3>Data de nascimento:</h3>
	<p id="nascimento">22/10/1986 (24 anos)</p>
	
	<h3>Local de nascimento:</h3>
	<p id="localNascimento">Santo André, SP, Brasil</p>			
	
	<h3>Peso</h3>
	<p id="peso">75KG</p>
	
	<h3>Altura</h3>
	<p id="altura">1,80m</p>
	
	<h3>Provas/Posição/Categoria</h3>
	<p id="provas">100m, 200m</p>

	<h3>Histórico</h3>
	<div id="historico">
		<p>ayuwb uid abwiud hbauwh duiahwui hduiawhui dahui dhuiawhui dhuiawhu daw d</p>
		<p>ayuwb uid abwiud hbauwh duiahwui hduiawhui dahui dhuiawhui dhuiawhu daw d</p>
		<p>ayuwb uid abwiud hbauwh duiahwui hduiawhui dahui dhuiawhui dhuiawhu daw d</p>
		<p>ayuwb uid abwiud hbauwh duiahwui hduiawhui dahui dhuiawhui dhuiawhu daw d</p>
	</div>
	
	<div class="clear"></div>
</div>
</div>
<div id="E8352615-F1D3-4221-9D71-C20817EF6052" class="faixa">
	<div class="LIA06006 gd6 fl" id="28FE06E4-2D3A-4B7A-A948-141EBF40F4A1">
		<div class="theId" id="noticias">
			<input type="hidden" name="id" value="noticias">
			<input type="hidden" name="tipo" value="normal">
			<input type="hidden" name="q_ids_secoes">
			<input type="hidden" name="q_site" value="olimpiadas">
			<input type="hidden" name="q_url_site" value="">
			<input type="hidden" name="q_termos" value="" id="noticiasTermos">
			<input type="hidden" name="max_resultados" value="3">
			<h3 id="UltimasNot">Notícias</h3>
			<ul id="container_ultimas">
			</ul>
			<a class="linkGeral " href="/noticias/">Mais notícias direto das Olimpíadas</a>
		</div>
		
	</div>
	<input type="hidden" id="termosFoto" />
	<div class="HEE01606 gd6 fl nomgr" id="B3ADD069-85B0-4667-8DA5-4FDE549B8FF4">
		<h3>Fotos</h3>
	</div>
	<div class="CHE00206 gd6 fl nomgr" id="E7264F8E-426B-4998-BC7B-CFE91574E23C">
		
	</div>
</div>
<div id="destaquesPan" class="faixa">
	<div class="HEE00412 gd12 fl" id="D5471E3F-F0E4-43B2-832A-86A1CE564961">
		<h3>Destaques Olimpíadas 2012</h3>
	</div>
	
	<div class="destaques-pan-content">
	</div>
</div>
</div>