<div class="FTA04506 gd6 fl">
	<div class="topbd"></div>
	<div class="contTimes">
		<h3>Futebol</h3>
		<div class="dn">clique a seguir nos links série A ou série B para acessar abaixo os times</div>
		<div class="conteudoBox">
			<ul class="menu">
				<li id="timesaba01" class="ativo">
					<div class="abaLeft"></div>
					<a href="javascript:void(0);" rel="10351" title="Série A" onclick="trocaAba('timesaba01','times01')">Série A</a>
					<div class="abaRight1"></div>
				</li>
				<li id="timesaba02">
					<div class="abaLeft"></div>
					<a href="javascript:void(0);" rel="10352" title="Série B" onclick="trocaAba('timesaba02','times02')">Série B</a>
					<div class="abaRight2"></div>
				</li>
				<li id="timesaba03">
					<div class="abaLeft"></div>
					<a href="javascript:void(0);" rel="10353" title="Internacional" onclick="trocaAba('timesaba03','times03')">Internacionais</a>
					<div class="abaRight3"></div>
				</li>
			</ul>
			<ul id="times01" class="times">
				<li><a href="http://esporte.ig.com.br/futebol/times/atletico-go/p1237870214354.html" title="Atlético-GO"><span class="clube_76"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/atletico-mg/p1237870239965.html" title="Atlético-MG"><span class="clube_1"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/bahia/p1237870319496.html" title="Bahia"><span class="clube_25"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/botafogo/p1237870368706.html" title="Botafogo"><span class="clube_2"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/corinthians/p1237870501204.html" title="Corinthians"><span class="clube_20"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/coritiba/p1237870528251.html" title="Coritiba"><span class="clube_3"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/cruzeiro/p1237870555225.html" title="Cruzeiro"><span class="clube_4"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/figueirense/p1237870609535.html" title="Figueirense"><span class="clube_5"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/flamengo/p1237870635049.html" title="Flamengo"><span class="clube_6"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/fluminense/p1237870660491.html" title="Fluminense"><span class="clube_7"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/gremio/p1237870685658.html" title="Grêmio"><span class="clube_10"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/internacional/p1237870787468.html" title="Internacional"><span class="clube_11"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/nautico/p1237870939968.html" title="Náutico"><span class="clube_13"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/palmeiras/p1237870989245.html" title="Palmeiras"><span class="clube_9"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/pontepreta/p1237871071183.html" title="Ponte Preta"><span class="clube_37"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/portuguesa/p1237871098933.html" title="Portuguesa"><span class="clube_14"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/santos/p1237871209073.html" title="Santos"><span class="clube_15"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/saopaulo/p1237871262354.html" title="São Paulo"><span class="clube_16"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/sport/p1237871315902.html" title="Sport"><span class="clube_17"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/vasco/p1237871344083.html" title="Vasco"><span class="clube_18"></span></a></li>
			</ul>
			
			<ul id="times02" class="times none">
				<li><a href="http://esporte.ig.com.br/futebol/times/abc/p1237871426686.html" title="ABC"><span class="clube_22"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/america-mg/p1237870137531.html"  title="América-MG"><span class="clube_230"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/america-rn/"  title="América-RN"><span class="clube_23"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/americana/p1237897853792.html" title="Americana"><span class="clube_1991"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/asa-al/p1237870187385.html" title="ASA-AL"><span class="clube_309"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/atletico-pr/p1237870266734.html" title="Atlético-PR"><span class="clube_21"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/avai/p1237870293606.html" title="Avaí"><span class="clube_24"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/boa/p1237872572542.html" title="Boa"><span class="clube_106"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/bragantino/p1237870423401.html" title="Bragantino"><span class="clube_27"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/ceara/p1237870477595.html" title="Ceará"><span class="clube_29"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/crb/"  title="CRB"><span class="clube_30"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/criciuma/p1237871482147.html" title="Criciúma"><span class="clube_31"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/goias/p1237869823478.html" title="Goiás"><span class="clube_8"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/barueri/p1237870342689.html" title="Barueri"><span class="clube_26"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/guarani/p1237870712430.html" title="Guarani"><span class="clube_110"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/ipatinga/"  title="Ipatinga"><span class="clube_12"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/joinville-sc/"  title="Joinville SC"><span class="clube_493"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/parana/p1237871018116.html" title="Paraná"><span class="clube_36"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/saocaetano/p1237871235631.html" title="São Caetano"><span class="clube_39"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/times/vitoria/p1237871399469.html" title="Vitória"><span class="clube_19"></span></a></li>
			</ul>
			
			<ul id="times03" class="times none">
				<li><a href="http://esporte.ig.com.br/futebol/internacional/arsenal/p1237872828723.html" title="Arsenal"><span class="clube_131"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/barcelona/p1237873175108.html" title="Barcelona"><span class="clube_191"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/bayernmunique/p1237872951748.html" title="Bayern Munique"><span class="clube_152"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/benfica/p1237873309542.html" title="Benfica"><span class="clube_214"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/bocajuniors-arg/p1237871634787.html" title="Boca Juniors-ARG"><span class="clube_45"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/chelsea/p1237872853386.html" title="Chelsea"><span class="clube_135"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/internazionale/p1237873080451.html" title="Internazionale"><span class="clube_174"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/juventus/p1237873084877.html" title="Juventus"><span class="clube_175"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/liverpool/p1237872867862.html" title="Liverpool"><span class="clube_138"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/lyon/p1237873322330.html" title="Lyon"><span class="clube_216"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/manchestercity/p1237872873173.html" title="Manchester City"><span class="clube_139"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/manchesterunited/p1237872879204.html" title="Manchester United"><span class="clube_140"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/milan/p1237873103385.html" title="Milan"><span class="clube_178"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/porto/p1237873274479.html" title="Porto"><span class="clube_208"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/realmadrid/p1237873227331.html" title="Real Madrid"><span class="clube_200"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/riverplate/p1237871640640.html" title="River Plate"><span class="clube_46"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/roma/p1237873131087.html" title="Roma"><span class="clube_183"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/schalke04/p1237873015185.html" title="Schalke 04"><span class="clube_163"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/sevilla/p1237873247570.html" title="Sevilla"><span class="clube_203"></span></a></li>
				<li><a href="http://esporte.ig.com.br/futebol/internacional/valencia/p1237873251829.html" title="Valencia"><span class="clube_204"></span></a></li>
			</ul>
		</div>
	</div>
	<div class="bottombd"></div>	
</div>