.FTA04506 .contTimes{border:1px solid #dbdbdb;border-top:0;border-bottom:0;overflow:hidden;background:#fafafa}
.FTA04506 .none{display:none}
.FTA04506 h3{min-height:22px;padding-bottom:10px;margin:10px 0 0 10px}
.FTA04506 .topbd,.FTA04506 .bottombd,.FTA04506 ul.menu li div.abaLeft,.FTA04506 ul.menu li div.abaRight1,.FTA04506 ul.menu li div.abaRight2,
.FTA04506 ul.menu li div.abaRight3{background:url(http://i0.ig.com/jov/images/sprite_futebol.gif) no-repeat}
.FTA04506 .topbd{background-position:0 0;width:316px;height:5px;display:block}
.FTA04506 .bottombd{background-position:0 -7px;width:316px;height:5px;display:block;clear:both}
.FTA04506 ul.menu{width:100%;margin-bottom:-1px;position:relative;float:left}
.FTA04506 ul.menu li{margin:0 0 0 2px;float:left;width:68px}
.FTA04506 ul.menu li#timesaba01{margin-left:10px}
.FTA04506 ul.menu li#timesaba03{width:123px}
.FTA04506 ul.menu li div.abaLeft{background-position:-17px -14px;float:left;width:4px;height:30px}
.FTA04506 ul.menu li div.abaRight1{margin:-30px 0 0 65px}
.FTA04506 ul.menu li div.abaRight2{margin:-30px 0 0 65px}
.FTA04506 ul.menu li div.abaRight3{margin:-30px 0 0 119px}
.FTA04506 ul.menu li div.abaRight1,.FTA04506 ul.menu li div.abaRight2,.FTA04506 ul.menu li div.abaRight3{background-position:-24px -14px;float:left;width:4px;height:30px}
.FTA04506 ul.menu li.ativo div.abaLeft{background-position:-1px -14px}
.FTA04506 ul.menu li.ativo div.abaRight1{margin:-30px 0 0 65px}
.FTA04506 ul.menu li.ativo div.abaRight2{margin:-30px 0 0 65px}
.FTA04506 ul.menu li.ativo div.abaRight3{margin:-30px 0 0 119px}
.FTA04506 ul.menu li.ativo div.abaRight1,.FTA04506 ul.menu li.ativo div.abaRight2,.FTA04506 ul.menu li.ativo div.abaRight3{background-position:-8px -14px;width:4px}
.FTA04506 ul.menu li a{text-transform:uppercase;display:block;border-top:1px solid #dbdbdb;border-bottom:none;padding:7px 10px 7px 10px;color:#333;background:url(http://i0.ig.com/jov/images/bg_aba_inativa.gif) repeat-x}
.FTA04506 ul.menu li.ativo a{font-weight:bold;border-bottom:1px solid #FFF;color:#FF5E3C;background:url(http://i0.ig.com/jov/images/bg_aba_ativa.gif) repeat-x}
.FTA04506 .times{border-top:1px solid #dbdbdb;padding:10px 5px 5px 10px;float:left;clear:both;overflow:hidden;width:302px;background:#fff}
.FTA04506 .times li{margin:0 5px 5px 0;float:left}
.FTA04506 .times a{float:left;padding:5px 13px 6px 12px;width:30px;height:30px;background:url(http://i0.ig.com/jov/images/bt_futebol.gif) no-repeat}
.FTA04506 .times a:hover{background-position:-55px 0}
.FTA04506 .times span{display:block;height:30px;width:30px}