<div class="genteNovelas gd12 fl">
	<h3></h3>
	<ul>
		<li>
			<a href="" class="thumb">
				<img src="" alt="" width="92" height="68">
			</a>
			
			<h5>&gt;<strong class="nome-novela"></strong>(<span class="horario"></span>)</h5>
			
			<a href="#" class="proximos-cap">Próximos Capítulos</a>
			<a href="#" class="resumo">Resumo</a>
			<a href="#" class="elenco">Elenco</a>
			<a href="#" class="noticias nobdr">Notícias</a>
		</li>
	</ul>
</div>