/*gente novelas*/
.genteNovelas li{clear:both;display:block;height:68px;margin-bottom:20px;color:#333;}
.genteNovelas li a.thumb{float:left;margin-right:20px;border:0;}
.genteNovelas li h5{font:normal 12px Arial;}
.genteNovelas li a{float:left;padding-right:5px;margin-right:5px;border-right:1px solid #8F8F8F;font-weight:bold;}