/*participante reality*/
.genteParticipanteReality #participantes li{float:left;margin:0 25px 25px 0;}
.genteParticipanteReality h3{float:left;margin-bottom:25px;}
.genteParticipanteReality a.linkTodos{float:right;margin-top:5px;font-weight:bold;}
.genteParticipanteReality ul li{float:left;width:56px;}
.genteParticipanteReality ul li a{position:relative;float:left;height:75px;}
.genteParticipanteReality ul li span.flag{position:absolute;top:0;left:0;width:56px;height:75px;background:url(http://i0.ig.com/css/images/spriteBBB3.png?v=6) no-repeat;}
.genteParticipanteReality ul li.participando span.flag{display:none;}
.genteParticipanteReality ul li.anjo span.flag{background-position:12px 1px}
.genteParticipanteReality ul li.paredao span.flag{background-position:-46px 0px}
.genteParticipanteReality ul li.lider span.flag{background-position:-103px 1px}
.genteParticipanteReality ul li.eliminado span.flag{background-position:-160px 0px}
.genteParticipanteReality ul li.expulso span.flag{background-position:-216px 0px}
.genteParticipanteReality ul li.vencedor span.flag{background-position:-272px 0px}
.genteParticipanteReality ul li h4{clear:both;font:bold 11px/16px Arial;width:56px;height:16px;overflow:hidden;text-align:center;background:#F8F1E9;}