<div class="genteParticipanteReality gd12 fl">
	
	<h3>Participantes</h3>
	<a href="" class="linkTodos">Todos os participantes</a>

	<div class="clear"></div>
	
	<ul id="participantes">
		<li class="participante-reality">
			<a href="">
				<img src="" alt="" width="56" height="75"/>
				<span class="flag"></span>
			</a>
			<h4></h4>
		</li>
	</ul>
	
</div>