<div class="genteNovelasAtuais gd12 fl">
	
	<div class="ct26212 ">
		<strong>Tudo sobre:</strong>
		<ul>
			<li class="">
			<a href="http://gente.ig.com.br/finaestampa/" target="_self" class="link">Fina Estampa</a>
			</li>
		</ul>
	</div>
	
</div>