<div class="glossarioGuias gd12 fl">
	<input type="hidden" id="idForm">
	<input type="hidden" id="qtdeItens">
	<div id="busca-glossario-indice" class="borda buscaReceitas">		

		<div>
			<ul id="aba_busca-indices">				
				<li class="busca link_1"><a href="">Índice de A-Z</a><div class="left"></div><div class="right"></div></li>
				<li class="ativo link_2"><a href="">Busca</a><div class="left"></div><div class="right"></div></li>				
			</ul>
		</div>

		<div class="box-indice">
			<div id="busca-receita">	
				<form action="http://receitas.ig.com.br/busca/" method="q" id="busca">
					<div class="bg">
						<input type="text" class="campo" name="q" />
						<input type="submit" class="buscar" value="" />
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
		<div>
			<input type="hidden" id="categoriaReceita" value=""/>
			<div id="resultado_busca">
				<div class="resultado" style="display:none;">
					<strong>0</strong> resultado(s) para a busca <strong>""</strong>
				</div>
					
				<ul id="lista-glossario"></ul>				
				
				<div class="clear"></div>
				<div id="pagination"></div>
			</div>
		</div>
	</div>
</div>