<div class="buscaProfissoes gd6 fl">
	<h2>Guia de profissões</h2>
	<div id="busca-ficha">
		<form action="/educacao/guia-de-profissoes/" method="post">
			<input type="text" name="query" id="profissoesBusca" class="text campo-busca"/>
			<input type="submit" value=" " class="submit"/>
		</form>
	</div>
	Veja as profissões por área de conhecimento
	<ul class="prelista">
		<li><a href="#">Lorem</a></li>
	</ul>
</div>