<div class="guiaProfissoes">
	<style>
		.guiaProfissoes .busca{
			margin:15px 0;
			padding:15px;
			background: #efefef;
			height:40px;
			font:bold 13px arial;
		}
		.guiaProfissoes .busca span{color:#999;font-weight:normal;font-style:italic}
		.guiaProfissoes input[type=text]{border:1px solid #999;width:400px;padding:3px;height:15px;margin:10px 10px 15px 0;}
	</style>

	<h2>Guia de Profissões</h2>
	<p>Conheça as profissões...</p>
	<div class="busca">
		Busca por profissões ou curso <span>(Ex.: Engenheiro)</span>
		<input type="text" name="" value="" /><input type="submit" value="Buscar" />
	</div>

	<h2 class="guiaProfissoesTitle">Título</h2>
	<a href="/educacao/guia-de-profissoes/">Todas as profissões</a>

	<div class="guiaProfissoesContent">
	</div>
	<div class="guiaProfissoesRef">
	</div>
</div>
