<div>
	<div class="grid18 left " id="newToolbar">
		<a title="tudo sobre o tema" href="" class="tagCobertura">
			tudo sobre o tema
		</a>
		<span class="especial grid12 left">
			<a href="" class="especial">
				RETROSPECTIVA 2011 - O ANO DO PODER DAS MULHERES
			</a>
		</span>
	</div>
</div>