.HEE03712 {float:left;width:652px;height:76px;margin-bottom:10px}
.HEE03712 .texto{float:left;width:351px;margin-right:20px;margin:13px 0 0 19px}
.HEE03712 h2{color:#333;font:bold 24px Arial;margin-left:-3px}
.HEE03712 p{color:#919191;font:normal 12px Arial}
.HEE03712 .img{float:right;width:261px;height:76px}