.HEE05612 {float:left;width:652px;height:76px;border-bottom:1px solid #dbdbdb;margin-bottom:10px}
.HEE05612 .texto{float:left;width:351px;margin-right:20px;margin-top:13px}
.HEE05612 .selos{float:left;width:88px;text-align:center;display:none}
.HEE05612 .selos cite{display:block;font:normal 12px arial;color:#ccc;margin:10px 0}
.HEE05612 .selos #seal{}
.HEE05612 h2{color:#333;font:bold 24px Arial;margin-left:-3px}
.HEE05612 p{color:#919191;font:normal 12px Arial}
.HEE05612 .img{float:right;width:130px;height:76px}