<div class="HEE05612">
	<div class="texto">
		<h2></h2>
		<p></p>
	</div>
	
	<div class="selos">
		<cite id="cima_oferecimento">oferecimento</cite>
		<div id="seal"><img style="border: 0px none;" alt="" src="http://adsimg.ig.com/RealMedia/ads/Creatives/OasDefault/selo88x31colgate_delas_120411/selo_colgatetotal_040511.gif"></div>
	</div>
	
	<div class="img">
		<img src="" width="130" height="76">
	</div>
</div>
