.HEE00412 h3 {margin:-4px 0 15px 0}
.HEE00412 ul {float: right}
.HEE00412 ul li {float: right;display: inline;padding: 0 6px;margin: 0 0 6px 0;border-right: 1px solid #ccc}
.HEE00412 ul li a {font: bold 13px Arial}