.HEE15912{margin-bottom:15px;background: url("http://i0.ig.com/css/images/CT13412_bg.jpg") repeat-x scroll 0 0 transparent;float:left;min-height:37px;width:652px}
.HEE15912 h3{float:left;font:normal 18px/22px Arial;text-transform:uppercase;padding: 7px 0 0 9px;color:#005088;margin-top:3px;}
.HEE15912 ul{float:right;width:*;}
.HEE15912 ul li{float:right;display:inline;padding:0 6px;margin:11px 0 6px 0;border-right:1px solid #ccc;}
.HEE15912 ul li:first-child{border:none;}
.HEE15912 ul li a{color:#005088;font:bold 13px Arial;padding:0 6px 0 7px;}