.HOCHE09318 li{float:left;border-right:1px dotted #d7d7d7;padding:38px 10px 38px 20px;width:137px;line-height:14px;position:relative}
.HOCHE09318 figure{float:left;width:30px;height:31px;overflow:hidden;margin-right:10px}
.HOCHE09318 li.twitter img{margin:-53px 0 0 -271px}
.HOCHE09318 li.twitter{padding-left:10px}
.HOCHE09318 li.facebook img{margin:-53px 0 0 -302px}
.HOCHE09318 li.rss img{margin:-53px 0 0 -333px}
.HOCHE09318 li.sms img{margin:-53px 0 0 -364px}
.HOCHE09318 li.newsletter img{margin:-53px 0 0 -395px}
.HOCHE09318 li.widget img{margin:-53px 0 0 -426px}
.HOCHE09318 li.widget{border:0;padding-right:0}
.HOCHE09318 h3{float:left;width:96px;font-size:1.167em;margin-top:-1px}
.HOCHE09318 h3 a{color:#333}
.HOCHE09318 h4{font-style:normal;font-weight:bold;font-size:0.833em}