.HOCHE09418 ul,
.HOCHE09418 div.barra,
.HOCHE09418 ul{float:left;width:550px;height:21px;padding: 9px 0 8px;margin-top:12px;background-position:0 -279px}
.HOCHE09418 ul li{float:left;height:20px;line-height:20px;padding:0 7px 1px 7px;border-right:1px solid #26609e;border-left:1px solid #297eb4}
.HOCHE09418 ul li.primeiro{border-left:0;padding-left:18px}
.HOCHE09418 ul li.ultimo{border-right:0}
.HOCHE09418 li a{color:#fff;font-size:0.917em;font-weight:bold}
.HOCHE09418 div.barra{float:left;margin-top:12px;height:38px;line-height:38px;width:322px;background-position:0 -237px;font-size:0.917em;font-weight:bold;color:#fff;padding-left:53px;padding-rigth:9px}
.HOCHE09418 div.barra a{color:#fff;font-weight:bold}
.HOCHE09418 a.ig{float:left;width:53px;height:50px;overflow:hidden}
.HOCHE09418 a.ig img{margin:-34px 0 0 -466px}