<div class="CHE03106 HOCHE10406 getHover gd6 fl">
	<div>
		<h3><a></a></h3>
		<a href=""  target="_self" class="image">
			<img data-src="" src="http://i0.ig.com/ig/images/transparent.gif" width="316" height="237" alt="" class="lazy-load"/>
		</a>
		<div>
			<p>
				<a href="">
					<b></b>
				</a>
			</p>
		</div>
		<span class="play"></span>
	</div>
</div>