.HOCHE08212 {float:left;margin-top:20px;height:310px;overflow:hidden;}
.HOCHE08212 ul{overflow:hidden;height:232px;background:#f2f4f5;margin-top:20px}
.HOCHE08212 ul li{display:block;width:652px;position:relative}
.HOCHE08212 ul li img.destaque{float:left;margin-right:20px;margin-top: -20px;}
.HOCHE08212 ul li h3 {font:bold 0.917em Arial;margin:20px 0 5px 0;text-transform:uppercase;}
.HOCHE08212 ul li h3 a {color:#333;}
.HOCHE08212 ul li h4 {font:bold 2em Arial;margin-bottom:15px}
.HOCHE08212 ul li p a {color:#333;font:normal 1em Arial;}
.HOCHE08212 ul li a.all{background:url(../images/spriteHome.png?v=0.5.5) no-repeat -312px -10px;padding-left:9px;position:absolute;left:400px;bottom:50px;font:bold 12px Arial;}