<div class="HOCHE10912 gd12 fl">
	<div class="cont">
		<cite></cite>
		<h2></h2>
		<div class="image"></div>
	</div>
	<div class="lista">
		<div class="issues">
			<h3></h3>
			<h4><a href=""></a></h4>
		</div>
	</div>
</div>
