.HOCHE09712 div.cont{float:left;background:url(../images/bg-retranca.gif);width:652px;padding-bottom:12px}
.HOCHE09712 cite{display:block;font-size:0.917em;text-transform:uppercase;font-style:normal;font-weight:bold;padding-left:20px;height:20px;line-height:20px}
.HOCHE09712 h2{font-size:2.833em;padding:10px 0 0 20px;border-top:2px solid #fff}
.HOCHE09712 ul li{margin-top:3px;padding-left: 8px;background-position: -311px -10px;font-size:1em;font-weight:bold;margin-left:20px}