.HOCHE15812 div.destaques, .HOCHE09812 div.destaques {margin-top:10px}
.HOCHE15812 div.destaques div, .HOCHE09812 div.destaques div{margin-right:20px;}
.HOCHE15812 div.destaques div h3, .HOCHE09812 div.destaques div h3{display:block;font:bold 11px/22px Arial;width:100%;text-transform:uppercase;color:#333;}
.HOCHE15812 div.destaques div a, .HOCHE09812 div.destaques div a{font:bold 16px Arial;color:#08629a;}