.HOCHE08406 img{float:left}
.HOCHE08406 div{float:right;width:148px;margin-top:18px;margin:18 0 7px 15px}
.HOCHE08406 div h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}
.HOCHE08406 div h4{font-size:1.5em;font-weight:normal}
.HOCHE08406 p{clear:both;font-size:1em}