<div class="HOCHE07906 gd6 fl getHover brdb bordadefault">
	<div class="esquerda">
		<a href=""  target="_self" class="image">
			<img src="" width="148" height="111" alt=""/>
			<span class="play"></span>
		</a>
	</div>
	<div class="direita">
		<h3><a href=""></a></h3>
		<h4><a href=""></a></h4>
	</div>
</div>
