.HOCHE08703{margin-right:20px;}
.HOCHE08703 h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}
.HOCHE08703 h3 a{color:#333}
.HOCHE08703 img{display:block}
.HOCHE08703 h4{padding-top:5px;clear:both;font-size:1.5em}
.HOCHE08703 h4 a{font-weight:normal}