.HOCHE09112{background:#333;height:238px;padding:20px;width:612px;position:relative;margin:20px 0 10px 0;border-radius:5px;}
.HOCHE09112 h2.tvIg{width:95px;height:33px;overflow:hidden;display:block;margin-bottom:30px}
.HOCHE09112 h2.tvIg img{margin:-149px 0 0 -99px}
.HOCHE09112 .tvFlashNav{display:none;}
.HOCHE09112 .tvFlashNav a.voltar, .HOCHE09112 .tvFlashNav a.avancar{display:none;}
.HOCHE09112 .tvFlashNav div a{width:128px;height:26px;background:url(../images/spriteHome.png?v=0.5.5) no-repeat -204px -184px;display:block;font:bold 12px Arial;color:#949494;padding:9px 0 0 10px;margin-bottom:5px}
.HOCHE09112 .tvFlashNav div a.ativo{background-position: -204px -149px;color:#fff}
.HOCHE09112 div.videos{overflow:hidden;width:455px;height:206px;border-bottom:2px solid #484848;float:right;position:relative;}
.HOCHE09112 div.videos ul li{float:left;margin-right:25px;width:204px;height:206px;}
.HOCHE09112 div.videos ul li h3{font:bold 11px Arial;text-transform:uppercase;margin:5px 0 3px 0;}
.HOCHE09112 div.videos ul li h3 a{color:#999;}
.HOCHE09112 div.videos ul li h4 a{font:bold 14px Arial;color:#fff;}
.HOCHE09112 ol{position:absolute;top:245px;right:30px;color:#7e7e7e;font:bold 12px Arial;}
.HOCHE09112 ol li{float:left;border-right:1px solid #7e7e7e;padding:0 10px;}
.HOCHE09112 ol li.last, .HOCHE09112 ol li.chamadaTemas{border:none;padding-right:0;}
.HOCHE09112 ol li a{color:#fff;}
.HOCHE09112 ul li a.img{float:left;margin-bottom:8px;width:204px;height:115px;position:relative}
.HOCHE09112 ul li a.img span.play{float:left;width:38px;height:29px;position:absolute;bottom:5px;left:5px;background-position:-101px -186px}