<div class="HOCHE09812 gd12 fl">
	<div class="cont">
		<cite></cite>
		<h2></h2>
		<div class="image"></div>
	</div>
	<div class="destaques">
		<div class="gd4 fl"> 
			<h3></h3> 
			<a title="" href=""></a>
		</div>
	</div>
</div>
