.HOCHE26312{float:left;margin-top:20px;width:652px;background:#252525;position:relative;border-radius:5px;}
.HOCHE26312 .destaque{float:left;padding:20px;width:612px;}
.HOCHE26312 .destaque .header{float:left;width:620px}
.HOCHE26312 .destaque .header h2{float:left;}
.HOCHE26312 .destaque .header h2 a{float:left;width:95px;height:32px;background:url(http://i0.ig.com/homeig/tvig/sprite.png) no-repeat;text-indent:-150000px}

.HOCHE26312 .destaque .header .tvFlashNav{float:right;width:375px}
.HOCHE26312 .destaque .header .tvFlashNav a.avancar{display:none;}
.HOCHE26312 .destaque .header .tvFlashNav div a{display:inline;font:bold 12px Arial;color:#ccc;padding:0px 10px 0 5px;border-right:1px solid #666}
.HOCHE26312 .destaque .header .tvFlashNav div a:hover{text-decoration:underline}
.HOCHE26312 .destaque .header .tvFlashNav div a.ativo{}

.HOCHE26312 .destaque .video-destaque{float:left;width:612px;margin-top:25px;background-color:#454545}
.HOCHE26312 .destaque .video-destaque .imagem{float:left;position:relative;}
.HOCHE26312 .destaque .video-destaque .imagem .play{background:url(http://i0.ig.com/homeig/tvig/sprite.png) no-repeat;}
.HOCHE26312 .destaque .video-destaque .imagem .play{float:left;width:57px;height:42px;position:absolute;bottom:10px;left:10px;background-position:0 -35px}

.HOCHE26312 .destaque .video-destaque .descricao{float:left;padding:20px;width:175px}
.HOCHE26312 .destaque .video-destaque .descricao h3 a{font:bold 11px/20px Arial;color:#999;text-transform:uppercase}
.HOCHE26312 .destaque .video-destaque .descricao h4 a{font:bold 18px/22px Arial;color:#fff;}

.HOCHE26312 .videos{float:left;padding:20px;margin-top:20px;width:612px;*width:652px;background-color:#333;border-top:2px solid #3d3d3d;border-radius:0 0 5px 5px;}
.HOCHE26312 .videos ul li{float:left;position:relative;display:inline;margin-right:25px;width:185px}
.HOCHE26312 .videos ul li a img{float:left;border:none;overflow:hidden;}
.HOCHE26312 .videos ul li a img.hover{border:3px solid #727272 !important;text-decoration:underline;margin:-3px;border:0}


.HOCHE26312 .videos ul li h3 a:hover,.HOCHE26312 .videos ul li h4 a:hover{text-decoration:underline}
.HOCHE26312 .videos ul li h3 a{float:left;font:bold 11px Arial;text-transform:uppercase;margin:10px 0 3px 0;color:#999;}
.HOCHE26312 .videos ul li h4 a{clear:both;float:left;font:bold 14px Arial;color:#fff;}
.HOCHE26312 .videos ul li .play{background:url(http://i0.ig.com/homeig/tvig/sprite.png) no-repeat;}
.HOCHE26312 .videos ul li .play{float:left;width:57px;height:42px;position:absolute;bottom:70px;left:5px;background-position:0 -80px;cursor:pointer}