.HOCHE08106 h3,.HOCHE08306 h3, .chamada11-18 h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}
.HOCHE08106 h4,.HOCHE08306 h4, .chamada11-18 h4{font-size:1.5em;font-weight:normal;margin-bottom:10px}
.HOCHE08106 p,.HOCHE08306 p{font-size:1em}
.HOCHE08106 h3 a{color:#333}