<div class="HOCHE25912 gd12 fl">
	<input type="hidden" name="timer" value="9000">
      	<input type="hidden" name="animation" value="slider">
        <input type="hidden" name="timeAnimation" value="1500">
	<h2><a href="" title=""></a></h2>
	<p><a href="http://olimpiadas.ig.com.br/" target="_self" class="cobertura-title"><span></span> <strong></strong></a></p>
	<div class="ultimasDaCobertura">
            <div class="chamada">
                <a href="http://olimpiadas.ig.com.br/noticias" target="_self">Últimas Notícias</a>
            </div>
            <div class="listaUltima">
                <ul>

                </ul>
            </div>
            <nav class="tvFlashNav">
                <a href="#back" class="voltar">voltar</a>
                <a href="#next" class="avancar">avançar</a>
            </nav>
        </div>
</div>