<div class="HOCHE09112 gd12 fl nomgr">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<h2 class="tvIg fl"><a title="TV iG" href="http://tvig.ig.com.br"><img src="http://i0.ig.com/ig/images/spriteHome.png" alt="TV IG"/></a></h2>
	<div class="videos">
		<ul>
			<li class="fl getHover">
				<a href="" class="img">
					<img src="http://i0.ig.com/ig/images/transparent.gif" class="lazy-load" width="204" height="115">
					<span class="play"></span>
				</a>
				<h3><a></a></h3>
				<h4><a></a></h4>
			</li>
		</ul>
	</div>
	<nav class="tvFlashNav fl">
		<a href="#back" class="voltar">Voltar</a>
		<div class="fl">
			<a href="#galleryClick" class="slide ativo">Mais recentes</a>
			<a href="#galleryClick" class="slide inativo">Mais vistos</a>
			<a href="#galleryClick" class="slide inativo">Mais votados</a>
			<a href="#galleryClick" class="slide inativo">Séries exclusivas</a>  
		</div>
		<a href="#next" class="avancar">Avançar</a>
	</nav>
	<ol>
		<li class="chamadaTemas">Temas do momento:</li>
		<li class="item"><a href=""></a></li>
	</ol>
</div>