.HOCHE07906 img{float:left;margin-right:15px}
.HOCHE07906 div{float:right;width:148px;margin-top:18px}
.HOCHE07906 div h3{font-size:0.917em;margin-bottom:3px;text-transform:uppercase}
.HOCHE07906 div h3 a{color:#333;}
.HOCHE07906 div h4{font-size:1.5em;font-weight:normal}