<div class="HOCHE26312 gd12 fl nomgr">
	<div class="destaque">
		<div class="header">
			<h2><a title="TV iG" href="http://tvig.ig.com.br">TV iG</a></h2>
			<nav class="tvFlashNav fl">
				<div class="fl">
					<a href="http://tvig.ig.com.br/tudo/" class="slide ativo">Mais recentes</a>
					<a href="http://tvig.ig.com.br/tudo/?type=maisvisto&filterByDate=maisvisto_sempre" class="slide inativo">Mais vistos</a>
					<a href="http://tvig.ig.com.br/tudo/?type=maisvotado&filterByDate=maisvotado_sempre" class="slide inativo">Mais votados</a>
					<a href="http://tvig.ig.com.br/tudo/?type=altadefinicao#videos" class="slide inativo nobdr">Alta definição</a>  
				</div>
			</nav>
		</div>
		<div class="video-destaque getHover">
			<div class="imagem">
				 <a href="#">
					<img class="lazy-load" src="http://i0.ig.com/ig/images/transparent.gif" width="397" height="225" alt="" />
					<span class="play"></span>
				</a>
			</div>
			<div class="descricao border_gradient">
				<h3><a href="#"></a></h3>
				<h4><a href="#"></a></h4>
			</div>
		</div>
	</div>

	<div class="videos">
		<ul>
			<li class="fl getHover">
				<a class="img" href="#" title="#">
					<img class="lazy-load" width="184" height="104" alt="" src="http://i0.ig.com/ig/images/transparent.gif" />
					<span class="play"></span>
				</a>
				<h3><a href="#" title="#"></a></h3>
				<h4><a href="#" title="#"></a></h4>
			</li>
		</ul>
	</div>
</div>