<div class="HOCHE07506 gd6 fl brdb bordadefault">
	<div class="getHover">
		<h3><a href="" title=""></a></h3>
		<h4><a href="" title=""></a></h4>
	</div>
	<ul>
		<li><a href=""></a></li>
	</ul>
</div>
