 
.HOCHE26512{float:left;width:652px;margin-top:20px;background:#252525;position:relative;border-radius:5px;}
.HOCHE26512 .destaque{padding:20px;width:612px;}
.HOCHE26512 .destaque .header{float:left;width:620px}
.HOCHE26512 .destaque .header h2{float:left;}
.HOCHE26512 .destaque .header h2 a{float:left;width:95px;height:32px;background:url(http://i0.ig.com/homeig/tvig/sprite.png) no-repeat;text-indent:-150000px}

.HOCHE26512 .destaque .header .tvFlashNav{float:right;width:375px}
.HOCHE26512 .destaque .header .tvFlashNav a.avancar{display:none;}
.HOCHE26512 .destaque .header .tvFlashNav div a{display:inline;font:bold 12px Arial;color:#ccc;padding:0px 10px 0 5px;border-right:1px solid #666}
.HOCHE26512 .destaque .header .tvFlashNav div a:hover{text-decoration:underline}
.HOCHE26512 .destaque .header .tvFlashNav div a.ativo{}

.HOCHE26512 .videos{float:left;padding:20px;width:612px;*width:652px;border-radius:0 0 5px 5px;}
.HOCHE26512 .videos ul li{float:left;position:relative;display:inline;margin:20px 25px 0 0;width:184px;}
.HOCHE26512 .videos ul li a img{float:left;border:none;overflow:hidden;}
.HOCHE26512 .videos ul li a img.hover{border:3px solid #727272 !important;text-decoration:underline;margin:-3px;border:0}

.HOCHE26512 .videos ul li h3 a:hover,.HOCHE26512 .videos ul li h4 a:hover{text-decoration:underline}
.HOCHE26512 .videos ul li h3 a{float:left;font:bold 11px Arial;text-transform:uppercase;margin:10px 0 3px 0;color:#999;}
.HOCHE26512 .videos ul li h4 a{clear:both;float:left;font:bold 14px Arial;color:#fff;}
.HOCHE26512 .videos ul li .play{background:url(http://i0.ig.com/homeig/tvig/sprite.png) no-repeat;}
.HOCHE26512 .videos ul li .play{float:left;width:57px;height:42px;position:absolute;bottom:50px;left:5px;background-position:0 -80px;cursor:pointer}