<div class="HOCHE08406 brdb gd6 getHover fl">
	<a href=""  target="_self" class="image"><img src="" width="148" height="111" alt="" /></a>
	<div>
		<h3></h3>
		<h4><a href=""></a></h4>
	</div>
	<p></p>
</div>