<div class="HOCHE09318 fl gd18">
	<ul>
		<li>
			<a href="">
				<figure><img src="http://i0.ig.com/ig/images/spriteHome.png" alt="" /></figure>
			</a>
			<h3><a href=""></a></h3>
			<h4><a href=""></a></h4>
			</a>
		</li>
	</ul>
</div>