.HOCHE25912 h2 a{background:url(http://i0.ig.com/ig/images/spriteHome-smush.png) no-repeat}
.HOCHE25912{border-top:2px solid #6d8495}
.HOCHE25912 h2{border-top:1px solid #fff;font-size:1.667em;background:url(http://i0.ig.com/ig/images/bg-retranca.gif);padding:0 7px 0 12px;height:45px;line-height:44px}
.HOCHE25912 h2 a{float:left;color:#3B454E;background-position:right -322px;padding-right:15px}
.HOCHE25912 h2 a span{color:#0b73b4;font-size:1em;font-weight:normal;letter-spacing:-4px;text-indent:-1500em;display:none}
.HOCHE25912 H2 a{float: left;color: #3B454E;background-position: right -322px;padding-right: 15px;position:relative;top: 0;right: 0;}
.HOCHE25912 p{border-top:1px solid #fff;padding:0 10px;color:#fff;background:#48790c;font-size:1.5em;height:31px;line-height:31px}
.HOCHE25912 .ultimasDaCobertura{margin-top: 10px;height: 24px;padding: 5px 0;border: 1px solid #d7d7d7;border-radius: 3px;background: url(http://i0.ig.com/canais/home/images/bg-Ultimas-Cobertura.png)}
.HOCHE25912 .ultimasDaCobertura .chamada{float: left;width: 123px;height: 24px;text-transform: uppercase;font: bold 11px/24px arial;text-align: center;border-right: 1px solid #e0e0e0}
.HOCHE25912 .ultimasDaCobertura .listaUltima{float: left;width: 450px;height: 24px;border-left: 1px solid #fff;position: relative;overflow: hidden}
.HOCHE25912 .ultimasDaCobertura .listaUltima ul{float: left;position: relative}
.HOCHE25912 .ultimasDaCobertura .listaUltima ul li{float: left;width: 450px;height: 24px;font: bold 11px/24px arial}
.HOCHE25912 .ultimasDaCobertura .listaUltima ul li dt{float: left;width: 51px;text-align: center;color: #47780b}
.HOCHE25912 .ultimasDaCobertura .listaUltima ul li dd{float: left;padding-left: 3px;width: 396px;overflow: hidden}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav{float: right;width: 60px}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav a{background: url(http://i0.ig.com/ig/images/spriteHome-smush.png) -24px -149px;float: left;width: 24px;height: 24px;text-indent: -1500em}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav a:hover{background-position:-50px -149px;}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav a.voltar:active{background-position:-617px -170px}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav a.avancar{background-position: -24px -173px;margin-left: 6px}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav a.avancar:hover{background-position:-50px -173px}
.HOCHE25912 .ultimasDaCobertura .tvFlashNav a.avancar:active{background-position:-642px -170px}