<div class="HOCHE08212 gd12 nomgr nomgt">
	<div class="headRetranca header">
		<nav class="tvFlashNav fr">
			<a href="#back" class="voltar">Voltar</a>
			<div class="fl">
				<a href="#galleryClick" title="" class="slide inativo"></a> 
			</div>
			<a href="#next" class="avancar">Avançar</a>
		</nav>
		<div id="seloInfograficos" class="seloHeader"></div>
		<h2><a href=""></a></h2>
	</div>
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<div style="position:relative;height:255px;overflow:hidden;">
		<ul>
			<li class="fl">
				<div class="getHover">
					<a href="" class="img">
						<img class="destaque fl lazy-load" src="" width="372" height="232">
					</a>	
					<h3><a></a></h3>
					<h4><a href=""></a></h4>
					<p>
						<a href=""></a>
					</p>
				</div>
					<a href="#" class="all">Todos os infográficos</a>
			</li>
		</ul>
	</div>
</div>