<div class="HOCHE26512 gd12 fl nomgr">
	<div class="destaque">
		<div class="header">
			<h2><a title="TV iG" href="http://tvig.ig.com.br">TV iG</a></h2>
			<nav class="tvFlashNav fl">
				<div class="fl">
					<a href="http://tvig.ig.com.br/tudo/" class="slide ativo">Mais recentes</a>
					<a href="http://tvig.ig.com.br/tudo/?type=maisvisto&filterByDate=maisvisto_sempre" class="slide inativo">Mais vistos</a>
					<a href="http://tvig.ig.com.br/tudo/?type=maisvotado&filterByDate=maisvotado_sempre" class="slide inativo">Mais votados</a>
					<a href="http://tvig.ig.com.br/tudo/?type=altadefinicao#videos" class="slide inativo nobdr">Alta definição</a>  
				</div>
			</nav>
		</div>

	</div>
	<div class="clear"></div>
	<div class="videos">
		<ul>
			<li class="fl getHover">
				<a class="img" href="http://tvig.ig.com.br/cinema/veja-os-melhores-erros-em-filmes-sobre-quadrinhos-8a49800e3616e2450136789cbcaa0949.html" title="Veja os melhores erros em filmes sobre quadrinhos">
					<img class="lazy-load" width="184" height="104" alt="Veja os melhores erros em filmes sobre quadrinhos" data-src="http://tvig.vod.ig.com.br/ig/account/100096/2/media/thumbnail/8a49800e3616e245013678af72d30957/8a49800e3616e2450136789cbcaa0949_204_115_4719640335645385229.jpg" src="http://tvig.vod.ig.com.br/ig/account/100096/2/media/thumbnail/8a49800e3616e245013678af72d30957/8a49800e3616e2450136789cbcaa0949_204_115_4719640335645385229.jpg">
					<span class="play"></span>
				</a>
				<h3>
					<a href="http://tvig.ig.com.br/cinema/" title="Cinmema">Cinema</a>
				</h3>
				<h4>
					<a href="http://tvig.ig.com.br/cinema/veja-os-melhores-erros-em-filmes-sobre-quadrinhos-8a49800e3616e2450136789cbcaa0949.html" title="Veja os melhores erros em filmes sobre quadrinhos">Veja os melhores erros em filmes sobre quadrinhos</a>
				</h4>
			</li>
		</ul>
	</div>
</div>