.HOCHE09812 div.cont{background:url(../images/bg-retranca.gif);width:652px}
.HOCHE09812 cite{display:block;font-size:0.917em;text-transform:uppercase;font-style:normal;font-weight:bold;padding-left:20px;height:20px;line-height:20px}
.HOCHE09812 h2{font-size:2.833em;padding:10px 0 13px 20px;border-top:2px solid #fff}
.HOCHE09812.HOCHE15812 h2{border:none;}