.HOCHE07506 ul li,
.HOCHE07506 a{color:#08629a}
.HOCHE07506 h3{font-size:0.917em;margin:2px 0;text-transform:uppercase}
.HOCHE07506 h3 a{color:#333}
.HOCHE07506 h4{font-size:1.5em;font-weight:normal;line-height:24px}
.HOCHE07506 ul li{margin-top:3px;padding-left: 8px;background-position: -311px -10px}