<div class="HOCHE09418 fl gd18">
	<ul>
		<li><a href=""></a></li>
	</ul>
	<div class="barra">
		© Copyright 2000-<span></span>, Internet Group: <a href="http://www.ig.com.br">iG</a> e <a href="http://www.ibest.com.br">iBest</a> 
	</div>
	<a href="/" class="ig"><img src="http://i0.ig.com/ig/images/spriteHome.png" alt="iG" /></a>
</div>