.HOCHE10912 div.cont{float:left;background:url(../images/bg-retranca.gif);width:652px;margin-bottom:12px}
.HOCHE10912 cite{display:block;font-size:0.917em;text-transform:uppercase;font-style:normal;font-weight:bold;padding-left:20px;height:20px;line-height:20px}
.HOCHE10912 h2{font-size:2.833em;padding:10px 0 13px 20px;border-top:2px solid #fff}
.HOCHE10912 .lista .issues{float:left;width:204px;margin-right:20px}
.HOCHE10912 h3{text-transform:uppercase;font-size:0.917em}
.HOCHE10912 h4{font-size:1.5em}