.HOHEE07712 a, .HOHEE08906 a{position: absolute;top: 7px;right: 10px;}
.HOHEE07712 h2 a, .HOHEE08906 h2 a, .HOHEE08612 H2 a{float: left;color: #3B454E;background-position: right -322px;padding-right: 15px;position:relative;top: 0;right: 0;}