.HOHEE08612 h2 a,
.HOHEE08612,.HOHEE08906,.headRetranca{border-top:2px solid #6d8495}
.HOHEE08612 h2,.HOHEE08906 h2,.headRetranca h2{border-top:1px solid #fff;font-size:1.667em;background:url(../images/bg-retranca.gif);padding:0 7px 0 12px;height:45px;line-height:44px}
.HOHEE08612 h2 a, .HOHEE08906 h2 a,.headRetranca h2 a{float:left;color:#3B454E;background-position:right -322px;padding-right:15px}
.HOHEE08612 h2 a span, .HOHEE08906 h2 a span,.headRetranca h2 a span{color:#0b73b4;font-size:1em;font-weight:normal;letter-spacing:-4px;text-indent:-1500em;display:none}
.HOHEE08612 a{position: absolute;top: 7px;right: 10px;}
.HOHEE08612 p{border-top:1px solid #fff;padding:0 10px;color:#fff;background:#bdc7d0;font-size:1.5em;height:31px;line-height:31px}