.HOLIE10506 ul li ol li,
.HOLIE10506{margin-bottom:20px}
.HOLIE10506 h2{margin-bottom:20px}
.HOLIE10506 ul li{float:left;width:316px;margin-bottom:18px}
.HOLIE10506 ul li img{float:left;margin-right:20px}
.HOLIE10506 ul li h3{float:left;width:204px;font-size:1.5em;color:#6d8495;margin:-4px 0 0}
.HOLIE10506 ul li ol{float:left;width:204px}
.HOLIE10506 ul li ol li{margin:3px 0 0;float:none;width:auto;font-size:1em;padding-left:8px;background-position:-311px -10px}