<div class="HOLIE09912 gd12">
	<div class="headRetranca header">
		
		<nav class="tvFlashNav fr">
			<a href="#" class="voltar">Voltar</a>
			<div class="fl">

			</div>
			<a href="#" class="avancar">Avançar</a>
		</nav>
		<div id="seloColunistas" class="seloHeader"></div>
		<h2><a href=""></a></h2>
	</div>
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<div class="HOLIE099tv"><ul></ul></div>
</div>