.HOLIE07406 .tvFlashNav a,
.HOLIE07406 .tvFlashNav div,
.HOLIE07406 .tvFlashNav a span,
.HOLIE07406{background:#f8f8f8}
.HOLIE07406 div.tv{float:left;width:316px;height:300px;overflow:hidden;position:relative}
.HOLIE07406 ul{float:left;width:316px;height:300px;position:relative;}
.HOLIE07406 ul li{float:left;width:316px;height:300px}
.HOLIE07406 ul li h3{float:none!important;clear:both;margin-bottom:3px;padding:14px 10px 0;font-size:0.917em;text-transform:uppercase}
.HOLIE07406 ul li h3 a{color:#333}
.HOLIE07406 ul li h4{float:none;padding:0 10px;font-size:1.333em}
.HOLIE07406 ul li h4 a{color:#08629a}
.HOLIE07406 .tvFlashNav{float:left;padding:4px 3px 0;height:32px;background:#F2F4F5}
.HOLIE07406 .tvFlashNav a{float:left;width:77px;height:29px;background-position:-100px -61px;color:#08629a;font-size:0.917em;line-height:29px}
.HOLIE07406 .tvFlashNav a:hover{background-position:-534px -236px;text-decoration:none}
.HOLIE07406 .tvFlashNav a:hover span,.HOLIE07406 .tvFlashNav a:active span{background-position:-672px -146px}
.HOLIE07406 .tvFlashNav a:active{background-position:-614px -236px}
.HOLIE07406 .tvFlashNav a.avancar{background-position:-179px -61px}
.HOLIE07406 .tvFlashNav a.avancar:hover{background-position:-535px -236px}
.HOLIE07406 .tvFlashNav a.avancar:active{background-position:-615px -236px}
.HOLIE07406 .tvFlashNav a span{float:left;width:7px;height:11px;background-position:-105px -32px;margin:9px 6px 0 11px}
.HOLIE07406 .tvFlashNav a.avancar span{background-position:-113px -32px;margin:9px 0 0 5px}
.HOLIE07406 .tvFlashNav a.avancar:hover span,.HOLIE07406 .tvFlashNav a.avancar:active span{background-position:-683px -146px}
.HOLIE07406 .tvFlashNav a strong{float:left}
.HOLIE07406 .tvFlashNav a:hover strong{cursor:pointer}
.HOLIE07406 .tvFlashNav a.avancar strong{margin-left:11px}
.HOLIE07406 .tvFlashNav div{float:left;width:156px;text-align:center;height:29px;background-position:-100px -61px;font-size:1.167em;color:#6d8495;line-height:29px}
.HOLIE07406 .tvFlashNav div cite{font-style:normal;font-weight:bold}
.HOLIE07406 object,
.HOLIE07406 embed {cursor:pointer}