.HOLIE10606{margin-bottom:20px}
.HOLIE10606 h2{margin-bottom:20px}
.HOLIE10606 ul li{float:left;width:316px;margin-bottom:20px}
.HOLIE10606 ul li img{float:left;margin-right:20px}
.HOLIE10606 ul li strong{float:left;width:204px;font-size:1.5em;margin:-4px 0 3px}
.HOLIE10606 ul li cite{float:left;width:204px;font-size:1em;color:#333;font-style:normal}
.HOLIE10606 ul li a:hover strong{text-decoration:underline}
.HOLIE10606 ul li a:hover cite{text-decoration:underline}