<div class="HOLIE09012 gd12">
	<div class="headRetranca header">
		<nav class="tvFlashNav fr">
			<a href="#back" class="voltar">Voltar</a>
			<div class="fl">
				
			</div>
			<a href="#next" class="avancar">Avançar</a>
		</nav>
		<h2><a href=""></a></h2>
	</div>
	
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	
	<ul>
		<li class="fl getHover">
			<span class="canto-se fora"></span>
			<span class="canto-sd fora"></span>
			<span class="canto-ie fora"></span>
			<span class="canto-id fora"></span>
			<h3></h3>
			<a href="" class="figure image">
				<span class="canto-se"></span>
				<span class="canto-sd"></span>
				<span class="canto-ie"></span>
				<span class="canto-id"></span>
				<img src="http://i0.ig.com/ig/images/transparent.gif" class="lazy-load"/>
			</a>
			<h4><a href=""></a></h4>
			<a class="botao"></a>
		</li>
	</ul>
</div>