<div class="HOLIE18812 fl gd12">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<div class="getHover">
		<h2><a target="_self" href=""></a></h2>
		<p><a target="_self" href=""></a></p>
	</div>
	<div class="tv">
		<ul>
			<li class="getHover">
				<a href="" class="image"">
					<img class="destaque" src="" width="652" height="279">
				</a>
				<h3><a href="" title=""></a></h3>
			</li>
		</ul>
	</div>
	<nav class="tvFlashNav">
		<a href="#" class="voltar"><span></span> <strong>Anterior</strong></a>
		<div>
			<span class="posicao">1</span>/<cite></cite>
		</div>
		<a href="#" class="avancar"><strong>Próximo</strong> <span></span></a>
	</nav>
</div>