.HOLIE09218 ul li.primeiro a,
.HOLIE09218 ul li.retranca a,
.HOLIE09218{border-top:7px solid #6d8495;background:#f5f7f7;padding:16px 0 12px}
.HOLIE09218 .column{position:relative;float:left;border-right:1px dotted #d7d7d7;padding:0 10px 0 20px;width:137px}
.HOLIE09218 .coluna1{padding-left:10px}
.HOLIE09218 .coluna6{border:none;width:132px;padding-right:6px}
.HOLIE09218 ul li{font-size:1em;line-height:20px;float:left;width:100%}
.HOLIE09218 ul li.primeiro a,.HOLIE09218 ul li.retranca a{font-size:1.167em;font-weight:bold;color:#333;background-position:right -334px;padding-right:15px;float:left}
.HOLIE09218 ul li a span{color:#0b73b4;font-size:1.417em;font-weight:normal;letter-spacing:-4px;background-position:-631px -177px;text-indent:-1500em;display:none}
.HOLIE09218 ul li.primeiro{margin:-4px 0 9px}
.HOLIE09218 ul li.retranca{margin:27px 0 9px}