.HOLIE11112 {position:relative;float:left;height:88px}
.HOLIE11112 h2{height:20px;line-height:20px;background:#47790c;font-size:0.917em;text-transform:uppercase;padding-left:10px;color:#fff;border-bottom:2px solid #fff}
.HOLIE11112 .cont{float:left;background:url(../images/bg-retranca.gif);width:652px;padding:10px 0}
.HOLIE11112 .shown{float:left;width:555px;height:47px;position:relative;overflow: hidden;}
.HOLIE11112 ul{overflow:hidden;height:47px}
.HOLIE11112 ul li{float:left;width:555px}
.HOLIE11112 figure{float:left;width:78px;text-align:center;border-right:1px solid #999}
.HOLIE11112 figure span{float:left;width:26px;height:26px;overflow:hidden;margin:0 0 5px 26px}
.HOLIE11112 figure p{clear:both;font-weight:bold;font-size:1.167em;color:#666}
.HOLIE11112 figure img{margin:-156px 0 0 -353px}
.HOLIE11112 .borda{float:left;height:47px;border-left:1px solid #fff;width:400px;padding-left:19px}
.HOLIE11112 img{float:left}
.HOLIE11112 img.timemandante{margin:7px 14px 0 0}
.HOLIE11112 img.timevisitante{margin:7px 20px 0 9px}
.HOLIE11112 strong{float:left;font-size:2.5em;margin-top:5px}
.HOLIE11112 span{float:left;font-size:2em;color:#999;margin:12px 2px 0}
.HOLIE11112 div.cites{float:left;margin-top:7px}
.HOLIE11112 div.cites cite.citacao{display:block;font-style:normal;font-weight:bold;font-size:1em;line-height:16px}
.HOLIE11112 a.sprite{float:right;width:99px;padding:0 1px 1px 0;height:32px;line-height:32px;background-position:-453px -196px;text-align:center;font-size:1em;color:#47790c;text-transform:uppercase;margin-top:6px}
.HOLIE11112 nav.tvFlashNav{float:right;margin:10px}
.HOLIE11112 nav.tvFlashNav a{display:block;width:24px;height:24px;background:url(../images/spriteHome.png?v=0.5.5) no-repeat;background-position:-24px -149px;float:left;text-indent:-9999px}
.HOLIE11112 nav.tvFlashNav a.voltar{margin-right:3px}
.HOLIE11112 nav.tvFlashNav a.voltar:hover {background-position:-403px -190px}
.HOLIE11112 nav.tvFlashNav a.avancar {background-position:-24px -173px;margin-left:6px;}
.HOLIE11112 nav.tvFlashNav a.avancar:hover {background-position:-428px -190px}