.HOLIE09012 ul li span,
.HOLIE09012 ul li h3,
.HOLIE09012 ul li a.botao,
.HOLIE09012 {position:relative;float:left;margin-top:20px;height:310px;overflow:hidden}
.HOLIE09012 ul{overflow:hidden;height:242px;margin-top:20px}
.HOLIE09012 ul.slider .nomgr{margin-right:20px!important}
.HOLIE09012 ul li{position:relative;display:block;width:138px;height:232px;border:1px solid #dce4e9;margin-right:20px;padding:4px}
.HOLIE09012 ul li h3 {font-size:1.167em;text-transform:uppercase;height:34px;line-height:34px;text-align:center;margin-bottom:10px;color:#fff;background-position:-131px -26px}
.HOLIE09012 ul li a.figure{float:left;position:relative;width:138px;height:86px;margin-bottom:3px}
.HOLIE09012 ul li span{position:absolute;width:3px;height:3px}
.HOLIE09012 ul li span.canto-se{top:0;left:0;background-position:-106px -54px}
.HOLIE09012 ul li span.canto-sd{top:0;right:0;background-position:-109px -54px}
.HOLIE09012 ul li span.canto-ie{bottom:0;left:0;background-position:-106px -57px}
.HOLIE09012 ul li span.canto-id{bottom:0;right:0;background-position:-109px -57px}
.HOLIE09012 ul li span.fora{background-color:#e8edf0}
.HOLIE09012 ul li span.canto-se.fora{top:-1px;left:-1px}
.HOLIE09012 ul li span.canto-sd.fora{top:-1px;right:-1px}
.HOLIE09012 ul li span.canto-ie.fora{bottom:-1px;left:-1px}
.HOLIE09012 ul li span.canto-id.fora{bottom:-1px;right:-1px}
.HOLIE09012 ul li h4 {clear:both;font:bold 1em Arial;font-weight:normal;padding:4px;height:54px}
.HOLIE09012 ul li a.botao{float:left;width:81px;height:32px;line-height:31px;text-align:center;margin-left:26px;background-position:-699px -151px;font-size:1em;font-weight:bold}
.HOLIE09012 ul li a.botao:hover{background-position:-782px -151px;text-decoration:none}
.HOLIE09012 ul li a.botao:active{background-position:-865px -151px}