<div class="HOLIE11112 gd12">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<h2></h2>
	<div class="cont">
		<div class="shown">
			<ul>
				<li>
					<figure>
						<span>
							<img src="http://i0.ig.com/ig/images/spriteHome.png" alt="Tempo" />
						</span>
						<p></p>
					</figure>
					<div class="borda">
						
						<img src="" class="timemandante" alt="" width="40px" heiht="40px" />
						<strong class="timemandante"></strong>
						<span>x</span>
						<strong class="timevisitante"></strong>
						<img src="" class="timevisitante" alt="" width="40px" heiht="40px" />
						
						<div class="cites">
							<cite class="citacao campeonato"></cite>
							<cite class="citacao estadio"></cite>
						</div>
						
						<a href="" class="sprite" title="Acompanhe">Acompanhe</a>
						
					</div>
				</li>
			</ul>
		</div>
		
		<nav class="tvFlashNav fr">
			<a href="#back" class="voltar">Voltar</a>
			<a href="#next" class="avancar">Avançar</a>
		</nav>
		
	</div>


</div>