.HOLIE11012 {position:relative;float:left;height:88px}
.HOLIE11012 h2{height:20px;line-height:20px;background:#9c1010;font-size:0.917em;text-transform:uppercase;padding-left:10px;color:#fff;border-bottom:2px solid #fff}
.HOLIE11012 .cont{float:left;background:url(../images/bg-retranca.gif);width:652px;padding:10px 0}
.HOLIE11012 .shown{overflow:hidden;float:left;width:542px;height:47px;position:relative}
.HOLIE11012 ul{overflow:hidden;height:47px}
.HOLIE11012 ul li{float:left;width:542px}
.HOLIE11012 figure{float:left;width:78px;text-align:center;border-right:1px solid #999}
.HOLIE11012 figure span{float:left;width:26px;height:26px;overflow:hidden;margin:0 0 5px 26px}
.HOLIE11012 figure p{clear:both;font-weight:bold;font-size:1.167em;color:#666}
.HOLIE11012 img{margin:-156px 0 0 -353px}
.HOLIE11012 .borda{float:left;height:47px;border-left:1px solid #fff;width:442px;padding-left:19px}
.HOLIE11012 h3{font-size:1.167em;font-weight:normal;text-transform:uppercase;margin:6px 0 4px}
.HOLIE11012 h3 a{color:#9c1010}
.HOLIE11012 .borda p{font-size:1em;font-weight:bold}
.HOLIE11012 .borda p a{color:#333}
.HOLIE11012 nav.tvFlashNav{float:right;margin:10px}
.HOLIE11012 nav.tvFlashNav a{display:block;width:24px;height:24px;background:url(../images/spriteHome.png?v=0.5.5) no-repeat;background-position:-24px -149px;float:left;text-indent:-9999px}
.HOLIE11012 nav.tvFlashNav a.voltar{margin-right:3px}
.HOLIE11012 nav.tvFlashNav a.voltar:hover {background-position:-353px -190px}
.HOLIE11012 nav.tvFlashNav a.avancar {background-position:-24px -173px;margin-left:6px;}
.HOLIE11012 nav.tvFlashNav a.avancar:hover {background-position:-378px -190px}