<div class="HOLIE11012 HOLIE16206 gd6">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<h2></h2>
	<div class="cont">
		<div class="shown">
			<ul>
				<li>
					<figure>
						<span>
							<img src="http://i0.ig.com/ig/images/spriteHome.png" alt="relógio" />
						</span>
						<p></p>
					</figure>
					<div class="borda">
						<h3>
							<a href=""></a>
						</h3>
						<p class="olho">
							<a href=""></a>
						</p>
					</div>
				</li>
			</ul>
		</div>
		
		<nav class="tvFlashNav fr">
			<a href="#back" class="voltar">Voltar</a>
			<a href="#next" class="avancar">Avançar</a>
		</nav>
		
	</div>


</div>