/*.HOLIE18812 (destaque texto principal)*/
.HOLIE18812{border-bottom:1px dotted #d7d7d7;padding-bottom:15px;}
.HOLIE18812 h2{float:left;font:bold 2.833em arial;margin-top:-4px}
.HOLIE18812 h2 a{float:left; color:#08629a}
.HOLIE18812 p{float:left;clear:both;font:normal 1.167em/1.5em Arial;width:100%;margin-bottom:15px}
.HOLIE18812 p a{color: #666;}
.HOLIE18812 .tvFlashNav a,
.HOLIE18812 .tvFlashNav div,
.HOLIE18812 .tvFlashNav a span,
.HOLIE18812{background:#f8f8f8}
.HOLIE18812 div.tv{float:left;width:652px;height:279px;overflow:hidden;position:relative}
.HOLIE18812 ul{float:left;width:652px;height:279px;position:relative;}
.HOLIE18812 ul li{float:left;width:652px;height:279px}
.HOLIE18812 ul li h3{float:none!important;clear:both;margin-bottom:3px;padding:14px 10px 0;font-size:0.917em;text-transform:uppercase}
.HOLIE18812 ul li h3 a{color:#333}
.HOLIE18812 .tvFlashNav{float:left;padding:4px 3px 0;height:32px;background:#F2F4F5}
.HOLIE18812 .tvFlashNav a{float:left;width:77px;height:29px;background: url(http://i0.ig.com/ig/images/holie18812_bg.png) no-repeat -1px 0;color:#08629a;font-size:0.917em;line-height:29px}
.HOLIE18812 .tvFlashNav a:hover{background-position:0 -31px;text-decoration:none}
.HOLIE18812 .tvFlashNav a:hover span,
.HOLIE18812 .tvFlashNav a:active span{background-position:-175px -41px}
.HOLIE18812 .tvFlashNav a:active{background-position:-80px -31px}
.HOLIE18812 .tvFlashNav a.avancar{background-position:-416px 0;width:76px}
.HOLIE18812 .tvFlashNav a.avancar:hover{background-position:-2px -31px}
.HOLIE18812 .tvFlashNav a.avancar:active{background-position:-82px -31px}
.HOLIE18812 .tvFlashNav a span{float:left;width:7px;height:11px;margin:9px 6px 0 11px;background: url(http://i0.ig.com/ig/images/holie18812_bg.png) no-repeat -175px -41px}
.HOLIE18812 .tvFlashNav a.avancar span{background-position:-187px -41px;margin:9px 0 0 5px}
.HOLIE18812 .tvFlashNav a.avancar:hover span,.HOLIE18812 .tvFlashNav a.avancar:active span{background-position:-187px -41px}
.HOLIE18812 .tvFlashNav a strong{float:left}
.HOLIE18812 .tvFlashNav a:hover strong{cursor:pointer}
.HOLIE18812 .tvFlashNav a.avancar strong{margin-left:11px}
.HOLIE18812 .tvFlashNav div{float:left;width:493px;text-align:center;height:29px;font-size:1.167em;color:#6d8495;line-height:29px;background: url(http://i0.ig.com/ig/images/holie18812_bg.png) no-repeat 0 0}
.HOLIE18812 .tvFlashNav div cite{font-style:normal;font-weight:bold}