.HOLIE16206 .cont, .HOLIE16306 .cont{width:316px}
.HOLIE16206 .shown, .HOLIE16306 .shown{width:230px;}
.HOLIE16206 figure, .HOLIE16306 figure {width:60px;}
.HOLIE16206  figure span,.HOLIE16306 figure span{margin-left:15px;}
.HOLIE16206 ul, .HOLIE16206 .shown, .HOLIE16206 .borda, .HOLIE16306 ul, .HOLIE16306 .shown, .HOLIE16306 .borda{height:60px;}
.HOLIE16206 ul li, .HOLIE16306 ul li{width:315px}
.HOLIE16206 .borda,  .HOLIE16306 .borda{width:155px;padding-left:12px;}
.HOLIE16206 figure, .HOLIE16306 figure{height: 60px;padding-top: 7px;}