<div class="HOLIE11112 HOLIE16306 gd6">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<h2></h2>
	<div class="cont">
		<div class="shown">
			<ul>
				<li>
					<figure>
						<span>
							<img src="http://i0.ig.com/ig/images/spriteHome.png" alt="Tempo" />
						</span>
						<p></p>
					</figure>
					<div class="borda">
						
						<a href=""><img src="" class="timemandante" alt="" width="40px" height="40px" /></a>
						<a href=""><strong class="timemandante"></strong></a>
						<span>x</span>
						<a href=""><strong class="timevisitante"></strong></a>
						<a href=""><img src="" class="timevisitante" alt="" width="40px" height="40px" /></a>
						
						<div class="cites">
							<a href=""><cite class="citacao campeonato"></cite></a>
						</div>
						
					</div>
				</li>
			</ul>
		</div>
		
		<nav class="tvFlashNav fr">
			<a href="#back" class="voltar">Voltar</a>
			<a href="#next" class="avancar">Avançar</a>
		</nav>
		
	</div>


</div>