.HOLIE09912 div.HOLIE099tv{height: 266px;overflow: hidden;position:relative;}
.HOLIE09912 ul {height:266px;overflow:hidden;margin-top:20px;}
.HOLIE09912 ul li{margin-right:20px;height:265px}
.HOLIE09912 ul.slider li.nomgr{margin-right:20px!important;}
.HOLIE09912 ul li div {margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted #d7d7d7;float:left}
.HOLIE09912 ul li div img{float:left;border:none;}
.HOLIE09912 ul li div h3 {font: bold 0.917em Arial;display:inline-block;width:200px;margin: 0 0 5px 15px}
.HOLIE09912 ul li div h3 a{color:#333;}
.HOLIE09912 ul li div p{float:left;margin-left:15px;width:195px}
.HOLIE09912 ul li div p a{font:normal 1.5em Arial;display:block;color:#08629a}