<div class="HOLIE07406 fl gd6">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<div class="tv">
	<ul>
		<li class="">
			<a href="" class="image">
				<img class="destaque" src="" width="316" height="237">
			</a>
			<h3><a href="" title=""></a></h3>
			<h4><a href="" title=""></a></h4>
			<span class="noplay"></span>
		</li>
	</ul>
	</div>
	<nav class="tvFlashNav">
		<a href="#" class="voltar"><span></span> <strong>Anterior</strong></a>
		<div>
			<span class="posicao">1</span>/<cite></cite>
		</div>
		<a href="#" class="avancar"><strong>Próximo</strong> <span></span></a>
	</nav>
</div>