<div class="HOLIE10606 fl gd6 headRetranca">
	<h2>
		<a href="" title=""></a>
	</h2>
	<ul>
		<li>
			<a href="">
				<img src="" alt="" width="92" height="69" />
				<strong></strong>
				<cite></cite>
			</a>
		</li>
	</ul>
</div>