<div id="pub-Position-home" class="HOPPA07612 gd12 fl">
	<ul>
		<li>
			<div id="HOPPA07612-1">
				<div class="positionDummy">PUBLICIDADE</div>
			</div>
		</li>
		<li class="posRight nobdr">
			<div id="HOPPA07612-2">
				<div class="positionDummy">PUBLICIDADE</div>
			</div>
		</li>
	</ul>
</div>