<form action="https://login.ig.com.br/signin/" method="post">
	<fieldset>
	
		<input id="headerFormDominio" type="hidden" value="ig.com.br" name="dominio">
		<input id="headerFormReturnTo" type="hidden" value="https://login.ig.com.br/webmail/signin" name="returnTo">
		<input id="headerFormSkin" type="hidden" value="authmail-ig" name="skin">
		<input id="headerFormUser" type="hidden" value="" name="user">

		<h2>Acesse seu iG Mail</h2>
		<div class="campos">
			<label for="inputMail">E-mail</label>
			<input type="text" name="username_id" id="inputMail" value="E-mail iG ou Super iG" onclick="validaCampoEmail({'campo':'email','elemento':this})" onblur="validaCampoEmailBlur({'campo':'email','elemento':this})" />
		</div>
		<div class="campos">
			<label for="inputPWD">Senha</label>
			<input type="password" name="username_pw" id="inputPWD" value="*****" onclick="validaCampoEmail({'campo':'senha','elemento':this})" onblur="validaCampoEmailBlur({'campo':'senha','elemento':this})" />
		</div>
		<div class="submit">
			<input type="submit" value="ENTRAR" />
		</div>
		<p><a href="https://central.ig.com.br/igcc/customer/center/PasswordReminder?urlRetorno=/atendimento/index.jsp">Esqueci minha senha</a></p>
	</fieldset>
</form>