<ul>
	<li class="logo"><h1><a href="http://www.ig.com.br"><img src="http://i0.ig.com/mobile/high/images/sprite-home-ig.png" /></a></h1></li>
	<li class="menu sitesiG"><a href="javascript:void(0)" id="menusitesig" onclick="mostraEsconde({'exibe':'submenusitesiG','esconde':'submenuEmail','menu':'menusitesig','menuout':'menuemailig'})"><cite>Sites iG</cite><span></span></a></li>
	<li class="menu email"><a href="javascript:void(0)" id="menuemailig" onclick="mostraEsconde({'exibe':'submenuEmail','esconde':'submenusitesiG','menu':'menuemailig','menuout':'menusitesig'})"><cite>Email</cite><span></span></a></li>
</ul>