<div class="sub-menu sitesiG" id="submenusitesiG">
	<ul>
		<li><a href="http://ultimosegundo.ig.com.br">Último Segundo</a></li>
		<li class="direita"><a href="http://gente.ig.com.br">Gente</a></li>
		<li><a href="http://delas.ig.com.br">Delas</a></li>
		<li class="direita"><a href="http://economia.ig.com.br">Economia</a></li>
		<li><a href="http://tecnologia.ig.com.br">Tecnologia</a></li>
		<li class="direita"><a href="http://jovem.ig.com.br">Jovem</a></li>
		<li><a href="http://turismo.ig.com.br">Turismo</a></li>
		<li class="direita"><a href="http://igirl.ig.com.br">iGirl</a></li>
		<li><a href="http://esporte.ig.com.br">Esporte</a></li>
		<li  class="direita"><a href="http://m.ig.com.br/universalizationLayer/m/t/tvigiphone">TV iG</a></li>	
	</ul>
</div>
