<div>
	<nav class="main">
		<ul>
			<li><a href="http://www.ig.com.br" title="#">HOME iG</a></li>
			<li class="versao-web"><a href="#" title="#" onclick='versaoWeb();'>VERSÃO WEB</a></li>
			<li class="topo"><a href="#" title="#" class="topo sprite seta-"><span class="setaCima"></span>TOPO</a></li>	
		</ul>
	</nav>
	<div class="copyright">
		<%=this.retorno%>
	</div>
</div>