			<div class="mais-no-cel clear">
				<strong>MAIS NO SEU CELULAR</strong>
				<nav>
					<ul>
						<li><a href="#"><figure><img alt="Aplicativos iG" src="http://i0.ig.com/mobile/feature/images/sprite-ig.png" class="iconeEmail" /></figure><span>Notícias SMS</span></a></li>
						<li><a href="#"><figure><img alt="Aplicativos iG" src="http://i0.ig.com/mobile/feature/images/sprite-ig.png" class="iconeSeguranca" /></figure><span>Segurança Móvel</span></a></li>
					</ul>
					<div class="clear"></div>
				</nav>
			</div>
			<div class="ferramentas">
				<header>Ferramentas e serviços iG</header>
				<nav>
					<ul>
						<li><a href="#" title="">Colunistas</a></li>
						<li><a href="#" title="">Cotações</a></li>
						<li><a href="#" title="">Tempo</a></li>
						<li><a href="#" title="">Placar</a></li>
					</ul>
					<ul>
						<li><a href="#" title="">Horóscopo</a></li>
						<li><a href="#" title="">Diversão</a></li>
						<li><a href="#" title="">Transito</a></li>
						<li><a href="#" title="">E-mail</a></li>
					</ul>
				</nav>
			</div>