<div>
	<div class="mais-no-cel clear">
		<strong class="pd-view">MAIS NO SEU CELULAR</strong>
		<nav>
			<ul>
				<li><a href="http://m.ig.com.br/wap/igaplicativos"><figure><img alt="Aplicativos iG" src="http://i0.ig.com/mobile/high/images/sprite-ig.png" class="iconeCelular" /></figure><span>Aplicativos iG</span></a></li>
				<li><a href="http://m.ig.com.br/wap/igsms"><figure><img alt="Notícias por SMS" src="http://i0.ig.com/mobile/high/images/sprite-ig.png" class="iconeEmail" /></figure><span>Notícias SMS</span></a></li>
			</ul>
			<div class="clear"></div>
		</nav>
	</div>
	<div class="ferramentas clear">
		<header>
		Ferramentas e serviços iG
		</header>
		<nav>
			<ul>
				<li><a href="http://m.ig.com.br/wap/igcolunistas" title="">Colunistas</a></li>
				<li><a href="http://m.ig.com.br/wap/igcotacoes" title="">Cotações</a></li>
				<li><a href="http://m.ig.com.br/wap/igtempo" title="">Tempo</a></li>
				<li><a href="http://m.ig.com.br/wap/igplacar" title="">Placar</a></li>
			</ul>
			<ul>
				<li><a href="http://m.ig.com.br/wap/ighoroscopo" title="">Horóscopo</a></li>
				<li><a href="http://m.ig.com.br/wap/igdiversao" title="">Diversão</a></li>
				<li><a href="http://m.ig.com.br/wap/igloterias" title="">Loterias</a></li>
				<li><a href="http://m.ig.com.br/wap/igwapmail" title="">Email</a></li>
			</ul>
		</nav>
	</div>
</div>