<div>
	<div id="barra-ig" class="pd-view">
		<div id="container-sites-ig" class="down">
			<a href="javascript:void(0)" onclick="mostraEsconde('extended-sites-ig')" id="sites-ig">Sites iG</a>
			<span></span>
		</div>
		<div id="prev-tempo">
			<div id="box-previsao">
				<span id="previsao-nome-cidade"></span>
				<span id="previsao"></span>
			</div>
			<a href="javascript:void(0)" class="previsao-editar down" onclick="mostraEsconde('extended-previsao')">Editar<span></span></a>
			
		</div>
	</div>
	<div id="extended-sites-ig" style="display:none">
		<nav class="lista-links-2-colunas">
			<ul>
				<li><a href="index.html" class="active">Último Segundo</a></li>
				<li><a href="">Economia</a></li>
				<li><a href="">Esporte</a></li>
				<li><a href="">TV iG</a></li>
				<li><a href="">Gente</a></li>
				<li><a href="">Delas</a></li>
			</ul>
		</nav>
		<div class="clear"></div>
	</div>
	<div id="extended-previsao" class="pd-view" style="display:none">
		<select id="previsaoEstados" onchange="carregaCidades(this.value)" name="previsaoEstados">
			<option selected="selected" value="0">Selecionar</option>
			<option value="ac">Acre</option>
			<option value="al">Alagoas</option>
			<option value="am">Amazonas</option>
			<option value="ap">Amapá</option>
			<option value="ba">Bahia</option>
			<option value="ce">Ceará</option>
			<option value="df">Distrito Federal</option>
			<option value="es">Espírito Santo</option>
			<option value="go">Goiás</option>
			<option value="ma">Maranhão</option>
			<option value="mt">Mato Grosso</option>
			<option value="ms">Mato Grosso do Sul</option>
			<option value="mg">Minas Gerais</option>
			<option value="pa">Pará</option>
			<option value="pb">Paraíba</option>
			<option value="pr">Paraná</option>
			<option value="pe">Pernambuco</option>
			<option value="pi">Piauí</option>
			<option value="rj">Rio de Janeiro</option>
			<option value="rn">Rio Grande do Norte</option>
			<option value="ro">Rondônia</option>
			<option value="rs">Rio Grande do Sul</option>
			<option value="rr">Roraima</option>
			<option value="sc">Santa Catarina</option>
			<option value="se">Sergipe</option>
			<option value="sp">São Paulo</option>
			<option value="toc">Tocantins</option>
		</select>
		
		<select id="previsao-cidades" onchange="carregaPrevisao(document.getElementById('previsaoEstados').value,this.value)">
			<option selected="selected" value="0">Selecionar</option>
		</select>
		<div class="clear"></div>
	</div>
</div>