<div>
	<p>
		<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
			<span id="authors-box"></span>
			<strong class="complemento-credito"></strong>
		</span>
		<span id="dataHTML"></span>
	</p>
</div>