.LIA03506 {margin-top: 20px}
.LIA03506 ul {margin-top: 16px}
.LIA03506 ul li {float: left;width: 100%;margin-bottom: 25px}
.LIA03506 ul li p {color: #333}
.LIA03506 ul li img {float: left;margin-right: 5px;width: 48px;height: 48px}
.LIA03506 a.linkGeral {float: left;width: 100%;height: auto !important;background: none}