<div class="LIA03506 twitterBox gd6 fl">
	<input type="hidden" id="LIA03506qtd" name="qtdTweets" />
	<input type="hidden" id="LIA03506user"  name="twitterUser" />
	<h3></h3>
	<ul id="showingTheTweets">
	</ul>
	<a href="" class="linkGeral"></a>
</div>