<div class="LIA02306 gd6 fl">
<div class="identifier">
	<textarea name="json" style="display:none;"></textarea>
	<textarea name="template" style="display:none;"></textarea>
	<input type="hidden" name="objects" />
	<div class="topbd"></div>
	<div class="boxHeader">
		<h3></h3>
	</div>
	<div class="content"><ul></ul></div>
	<div class="bottombd"></div>
</div>
</div>