.LIA05912{position:relative;height:254px}
.LIA05912 .imageflow{position:absolute;top:15px;left:0;height:270px!important;margin-top:-8px!important;}
.LIA05912 .imageflow .caption{font:bold 14px Arial;color:#C2302A;}
.LIA05912 .imageflow img{margin-top:-54px!important;}
.LIA05912 .imageflow img:hover{border-color:#555fae;cursor:pointer;margin-top:-54px!important;}
.LIA05912 div.retranca h3{float:left}
.LIA05912 div.retranca a.maisGalerias{float:right;font:bold 12px Arial}