<div class="LIA05712 gd12 fl">
	<input type="hidden" name="q_ids_secoes" />
	<input type="hidden" name="q_termos" />
	<input type="hidden" name="max_resultados" />
	<input type="hidden" name="show_empilhamento" />
	<input type="hidden" name="showAllIssues" />
	<input type="hidden" name="channel" />
	
	<a name="noticias"></a><h3></h3>
	
	<ul id="container_ultimas"></ul>
	
	<div class="pagination"><!--  --></div>
</div>
