.LIA06912 h3{font:normal 18px Arial;color:#333;margin-bottom:20px;}
.LIA06912{margin-right:20px}
.LIA06912 #container_ultimas li{float:left;width:204px;height:240px;padding:0 20px 20px 0;margin-bottom:20px;border-bottom:1px dotted #ccc;}
.LIA06912 #container_ultimas li.nopd-r{padding-right:0!important}
.LIA06912 #container_ultimas li > a{float:left;}
.LIA06912 #container_ultimas li img{float:left;}
.LIA06912 #container_ultimas li h4{clear:both;font:bold 16px/22px Arial;font-weight:bold;margin-bottom:3px}
.LIA06912 #container_ultimas li cite.data{display:block;clear:both;padding:3px 0;font:bold 11px/18px Arial;color:#999999}
.LIA06912 .pagination li{float:left;margin-right:3px;}
.LIA06912 .pagination li.selected,.LIA06912 .pagination li a{background:url(http://i0.ig.com/canais/arena/images/LIA05712-spr-pages.png) no-repeat;}
.LIA06912 .pagination li a{display:block;height:24px;font:bold 10px/24px Arial;text-align:center;}
.LIA06912 .pagination li a.page{width:24px;background-position:-75px 0;}
.LIA06912 .pagination li.selected{width:24px;height:24px;font:bold 10px/24px Arial;text-align:center;}
.LIA06912 .pagination li.selected,.LIA06912 .pagination li a.page:hover{background-position:-75px -25px;color:#fff;text-decoration:none;}
.LIA06912 .pagination li.nav a{width:75px;background-position:0 0;text-transform:uppercase;}
.LIA06912 .pagination li.nav a:hover{background-position:0 -25px;color:#fff;text-decoration:none;}