<div class="LIA06006 gd6 fl">
	<div class="theId">
		<input type="hidden" name="id" />
		<input type="hidden" name="tipo" />
		<input type="hidden" name="q_ids_secoes" />
		<input type="hidden" name="q_site" />
		<input type="hidden" name="q_url_site" />
		<input type="hidden" name="q_termos" />
		<input type="hidden" name="max_resultados" />
	
		<h3 id="UltimasNot"> </h3>
		<ul id="container_ultimas"></ul>
		<a class="linkGeral " href=""></a>
	</div>
</div>