/*.LIA03812*/
.LIA03812 li {float: left;margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px dotted #eee;width: 652px}
.LIA03812 li img {float: left;margin-right: 20px}
.LIA03812 li cite {font: bold 12px arial;color: #999}
.LIA03812 li h5 a {font: bold 16px arial}
.LIA03812 li p a {font: 14px/ 18px arial;color: #666}