.LIA03206 {padding-bottom:20px;margin-right:20px}
.LIA03206 a.verMais{color:#FF5E3C;font:bold 12px Arial;}
.LIA03206 h2 {display:block;font:normal 18px/22px Arial;color:#333;text-transform:uppercase;padding-top:15px}
.LIA03206 ul {margin-top:16px}
.LIA03206 ul li {float:left;width:100%;margin-bottom:5px;padding:15px 15px 15px 30px;border-bottom:1px solid #eee;height:50px;}
.LIA03206 ul li div {float:left;position:absolute;overflow:hidden;margin:10px 20px 10px -30px;width:16px;height:22px;}
.LIA03206 ul li img {position:relative;}
.LIA03206 ul li.item1 img{top:0;left:0;}
.LIA03206 ul li.item2 img{top:0;left:-17px;}
.LIA03206 ul li.item3 img{top:0;left:-37px;}
.LIA03206 ul li.item4 img{top:0;left:-54px;}
.LIA03206 ul li.item5 img{top:0;left:-75px;}
.LIA03206 ul li cite {font:bold 16px Arial;color:#ff5e3c;margin:0 5px 5px 0;}
.LIA03206 ul li p a {color:#333;font-size:14px;font-style:italic;}
.LIA03206 ul li.todas {float:left;width:100%;margin-top:20px;height:auto !important;background:none;}
.LIA03206 ul li.todas a{color:#FF5E3C;font-weight:bold;}
.LIA03206 {padding-bottom:20px;margin-right:20px}
.LIA03206 a.verMais{color:#FF5E3C;font:bold 12px Arial;}
.LIA03206 h2 {display:block;font:normal 18px/22px Arial;color:#333;text-transform:uppercase;padding-top:15px}
.LIA03206 ul {margin-top:16px}
.LIA03206 ul li {float:left;width:100%;margin-bottom:5px;padding-bottom:15px;border-bottom:1px solid #eee;height:50px;}
.LIA03206 ul li span.counter {font:bold 32px Arial;color:#ccc;float:left;margin:10px 20px 10px 20px}
.LIA03206 ul li div {margin:0 15px;}
.LIA03206 ul li cite {font:bold 16px Arial;color:#ff5e3c;margin:0 5px 5px 0;}
.LIA03206 ul li p a {color:#333;font-size:14px;font-style:italic;}
.LIA03206 ul li.todas {float:left;width:100%;margin-top:20px;height:auto !important;background:none;}
.LIA03206 ul li.todas a{color:#FF5E3C;font-weight:bold;}