.LIA06006 {margin-right:20px}
.LIA06006 h3{color:#005088}
.LIA06006 a.verMais{color:#333;font:bold 12px Arial}
.LIA06006 ul {margin-top:16px}
.LIA06006 ul li {float:left;width:100%;margin-bottom:10px;}
.LIA06006 ul li a.thumb{float:left;position:relative}
.LIA06006 ul li a.thumb span.duracao{position:absolute;bottom:3px;left:3px;width:40px;height:30px;color:#fff;font:bold 9px/9px Arial;background:url(http://i0.ig.com/canais/_images/btn-empilhamento-play.png) no-repeat}
.LIA06006 ul li img {float:left;margin-right:10px}
.LIA06006 ul li div {}
.LIA06006 ul li cite {font:bold 12px/13px Arial;color:#999;margin-bottom:5px}
.LIA06006 ul li h5{margin-bottom:10px}
.LIA06006 ul li h5 a {font:bold 12px/13px Arial;margin-bottom:3px;color:#333;}
.LIA06006 ul li span{color:#333;font:normal 12px/13px Arial}
.LIA06006 ul li span .views{font-weight:bold}
.LIA06006 a.linkGeral{font:bold 12px Arial;}