.LIA01106 {margin-right: 20px}
.LIA01106 a.verMais {font: bold 12px Arial}
.LIA01106 ul {margin-top: 16px}
.LIA01106 ul li {float: left;width: 100%;margin-bottom: 10px;height: 84px;background: #f8f8f8}
.LIA01106 ul li img {float: left;margin-right: 15px}
.LIA01106 ul li div {margin: 10px 15px 0}
.LIA01106 ul li cite {font: bold 12px/ 13px Arial;color: #999;margin-bottom: 5px}
.LIA01106 ul li h5 a {font: bold 14px/ 16px Arial;margin-bottom: 3px}