<div class="LIA03812 gd12 fl">
	<input type="hidden" name="q_ids_secoes" />
	<input type="hidden" name="q_termos" />
	<input type="hidden" name="max_resultados" />

	<h3 id="UltimasNot">Últimas Notícias</h3>
	<ul id="container_ultimas"></ul>
	<a class="linkGeral " href="">Todas as notícias</a>
</div>
