.LIA05806{float:left;width:316px}
.LIA05806 .twitterBoxHeader{background:#fafafa;border-right:1px solid #dcdcdc;border-left: 1px solid #dcdcdc;height:45px}
.LIA05806 div.topbd {background: url("http://i0.ig.com/jov/images/sprite_futebol.gif") no-repeat;width: 316px;height:5px;display:block;position:absolute}
.LIA05806 div h3 {padding: 12px 10px 0;margin: 0;float:none !important}
.LIA05806 div.twitterBoxHeader h3 a{float:right;text-transform:none!important;font-size:12px}
.LIA05806 .twitterBox{padding:10px;border:1px solid #dbdbdb;border-bottom:0}
.LIA05806 .twitterBox h3{font-size:12px;text-transform:none!important}
.LIA05806 div.bottombd{background: url("http://i0.ig.com/jov/images/sprite_futebol.gif") no-repeat 0 -7px;width: 316px;height:5px;display:block}