.LIA02306{float:left;width:316px}
.LIA02306 .boxHeader{background:#fafafa;border-right:1px solid #dcdcdc;border-left: 1px solid #dcdcdc;height:45px}
.LIA02306 div.topbd {background: url("http://i0.ig.com/jov/images/sprite_futebol.gif") no-repeat;width: 316px;height:5px;display:block;position:absolute}
.LIA02306 div h3 {padding: 12px 10px 0;margin: 0;float:none !important}
.LIA02306 div.boxHeader h3 a{float:right;text-transform:none!important;font-size:12px}
.LIA02306 .content{border:1px solid #dbdbdb;border-bottom:0}
.LIA02306 .content h3{font-size:12px;text-transform:none!important}
.LIA02306 .content ul li{clear:both;border-bottom:1px solid #dbdbdb;padding:10px 10px 10px 55px;color:#999;font:italic 12px Arial;}
.LIA02306 .content ul li:last-child{border:none;}
.LIA02306 .content ul li span.counter{display:block;float:left;font:normal 30px Arial;color:#000;margin:0 25px 0 -40px;}
.LIA02306 .content ul li a{font:bold 16px Arial;display:block}
.LIA02306 div.bottombd{background: url("http://i0.ig.com/jov/images/sprite_futebol.gif") no-repeat 0 -7px;width: 316px;height:5px;display:block}