.LIA05712 h3{font:normal 18px Arial;color:#333;margin-bottom:20px;}
.LIA05712 ul#container_ultimas li {border-bottom:1px dotted #e1e1e1;float:left;margin-bottom: 20px;width: 652px}
.LIA05712 ul#container_ultimas li img {float:left;margin-right:20px}
.LIA05712 ul#container_ultimas li cite {color:#999;font: bold 12px arial}
.LIA05712 ul#container_ultimas li h5{width:510px;margin-left:112px}
.LIA05712 ul#container_ultimas li h5 a {font: bold 22px arial}
.LIA05712 ul#container_ultimas li p a {color:#666;font: 14px/18px arial}
.LIA05712 dl.compartilhe{clear:both;padding:13px 0 7px;height:21px}
.LIA05712 dl.compartilhe dt, .LIA05712 dl.compartilhe dd{float:left}
.LIA05712 dl.compartilhe dt{border-right:1px dotted #e1e1e1}
.LIA05712 dl.compartilhe dd{padding-left:10px}
.LIA05712 .pagination li{float:left;margin-right:3px;}
.LIA05712 .pagination li a{display:block;height:24px;font:bold 10px/24px Arial;text-align:center;}
.LIA05712 .pagination li a.page{width:24px;background-position:-77px -199px;}
.LIA05712 .pagination li.selected{width:24px;height:24px;font:bold 10px/24px Arial;text-align:center;}
.LIA05712 .pagination li.selected,.LIA05712 .pagination li a.page:hover{background-position:-77px -224px;color:#fff;text-decoration:none;}
.LIA05712 .pagination li.nav a{width:75px;background-position:0 -199px;text-transform:uppercase;}
.LIA05712 .pagination li.nav a:hover{background-position:0 -224px;color:#fff;text-decoration:none;}