<div class="LIA05912 gd12 fl">
	<input type="hidden" name="q_site" />
	<input type="hidden" name="q_ids_secoes" />
	<input type="hidden" name="q_termos" />
	<input type="hidden" name="max_resultados" />
	<input type="hidden" name="channel" />
	
	<div class="retranca">
		<h3></h3>
		<a href="" title="" class="maisGalerias">Mais galerias</a>
	</div>
	
	<div id="LIA05912Gallery" class="imageflow"></div>
</div>
