.LIA15512 h3{font:normal 18px Arial;color:#333;margin-bottom:20px;text-transform:uppercase}
.LIA15512 ul#container_ultimas li {border-bottom:1px dotted #e1e1e1;float:left;margin-bottom: 20px;width: 652px;padding-bottom:20px}
.LIA15512 ul#container_ultimas li:last-child{margin-bottom:0;border-bottom:0}
.LIA15512 ul#container_ultimas li img {float:left;margin-right:20px}
.LIA15512 ul#container_ultimas li cite {color:#999;font: bold 11px arial}
.LIA15512 ul#container_ultimas li h5{width:510px;margin-left:112px;padding-top:4px}
.LIA15512 ul#container_ultimas li h5 a {font: bold 18px arial}
.LIA15512 ul#container_ultimas li p a {color:#666;font: 14px/18px arial}
.LIA15512 dl.compartilhe{clear:both;padding:13px 0 20px;height:21px}
.LIA15512 dl.compartilhe dt, .LIA05712 dl.compartilhe dd{float:left}
.LIA15512 dl.compartilhe dt{border-right:1px dotted #e1e1e1}
.LIA15512 dl.compartilhe dd{padding-left:10px}
.LIA15512 .pagination li{float:left;margin-right:3px;}
.LIA15512 .pagination li,.LIA15512 .pagination li a{background:url(http://i0.ig.com/canais/arena/images/LIA05712-spr-pages.png) no-repeat;}
.LIA15512 .pagination li a.page{width:24px;background-position:-75px 0;}
.LIA15512 .pagination li a{display:block;height:24px;font:bold 10px/24px Arial;text-align:center;}
.LIA15512 .pagination li a.page{width:24px;background-position:-75px 0;}
.LIA15512 .pagination li.selected{width:24px;height:24px;font:bold 10px/24px Arial;text-align:center;}
.LIA15512 .pagination li.selected,.LIA15512 .pagination li a.page:hover{background-position:-75px -25px;color:#fff;text-decoration:none;}
.LIA15512 .pagination li.nav a{width:75px;background-position:0 0;text-transform:uppercase;}
.LIA15512 .pagination li.nav a:hover{background-position:0 -25px;color:#fff;text-decoration:none;}
.LIA15512 ul#container_ultimas li a.ic{float: left; position: relative;}
.LIA15512 ul#container_ultimas li a.ic .play{background: url("images/spriteCpVideos.png?v=1") repeat-x scroll 0 1px transparent;bottom: 5px;height: 30px;left: 5px;position: absolute;width: 38px;}