<div class="LIA24512 gd12 fl">
	<input type="hidden" id="formId" />
	<input type="hidden" id="limit" />
	<textarea name="" id="criteria" cols="30" rows="10" style="display:none;"></textarea>
	<textarea name="" id="template" cols="30" rows="10" style="display:none;"></textarea>
	<textarea name="" id="callback" cols="30" rows="10" style="display:none;"></textarea>
	<textarea name="" id="beforeRenderItem" cols="30" rows="10" style="display:none;"></textarea>
	
	
	<div id="results">
		
       	<!-- div class="result-item">
			<a href="[[url]]" class="thumb"><img width="260" height="195" alt="[[nome]]" src="[[imagem_do_empilhamento]]"/></a>
			
			<h2><a href="[[url]]">[[nome]]</a></h2>
			<h3>[[categoria_target]]</h3>
			
			<div class="descricao"><a href="[[url]]" title="[[descricao]]">[[descricao]]</a></div>
			<div class="clear"></div>
		</div -->
		
	</div>
	
	<div id="pagination"></div>
	
</div>