.LIA23206{float:left;margin:20px;width:316px;margin-top:15px!important;}
.LIA23206 h3{display:block;font:normal 18px/22px Arial;color:#000;text-transform:uppercase;margin-bottom:13px}
.LIA23206 ul li{float:left;width:316px;margin-bottom:20px}
.LIA23206 a{color:#a10d0d;margin-right:6px;}
.LIA23206 p{font:normal 12px/15px Arial;float:left;width:262px;margin-top:-3px}
.LIA23206 .linkGeral{margin-top:0!important}
.LIA23206 .imgtwitter{float:left}