<div class="LIASOLR gd6 fl bordadefault ">
	<div class="theId"><a class="anchor" name=""></a>
		<input type="hidden" name="id" />
		<input type="hidden" name="tipo" />
		<input type="hidden" name="dominio" />
		<input type="hidden" name="secoes" />
		<input type="hidden" name="secoesEH" />
		<input type="hidden" name="termos" />
		<input type="hidden" name="canal" />
		<input type="hidden" name="limit" />
		<input type="hidden" name="hasPagination" />
		<input type="hidden" name="tipoConteudo" />
		<textarea name="template" style="display:none;"></textarea>
		<textarea name="beforeRender" style="display:none;"></textarea>
		<textarea name="beforeRenderItem" style="display:none;"></textarea>
		<textarea name="afterRender" style="display:none;"></textarea>
		<textarea name="afterRenderItem" style="display:none;"></textarea>
		<textarea name="callback" style="display:none;"></textarea>

		<h3> </h3>
		<ul class="container"></ul>

		<div class="clear"></div>

		<ul class="pagination"></ul>

		<div class="clear"></div>

		<a class="linkGeral " href=""></a>

		<div class="clear"></div>
	</div>
</div>
