.LIE07104{margin-right:20px}
.LIE07104 h3{font:bold 16px Arial;font-weight:bold;color:#333;margin-bottom:5px}
.LIE07104 a.destaque{float:left;}
.LIE07104 img{float:left;margin-bottom:1px;}
.LIE07104 h4{clear:both;}
.LIE07104 h4 a{display:block;padding:7px;border-bottom:2px solid #000;font:bold 14px/22px Arial;background:#2d3032;color:#b9c6df;}
.LIE07104 h4.ps3 a{border-bottom-color:#F98128!important;}
.LIE07104 h4.x360 a{border-bottom-color:#3DFF6A!important;}
.LIE07104 h4.wii a{border-bottom-color:#44DCFD !important;}
.LIE07104 h4.pc a{border-bottom-color:#E1002F!important;}
.LIE07104 h4.psp a{border-bottom-color:#F88228!important;}
.LIE07104 h4.ds a{border-bottom-color:#44DCFC!important;}
.LIE07104 h4.mobile a{border-bottom-color:#E300E1!important;}
.LIE07104 h4.outros a{border-bottom-color:#9000F2!important;}
.LIE07104 ul{clear:both;margin:10px 0;}
.LIE07104 ul li a{display:block;font:bold 14px/30px Arial;border-bottom:1px solid #dedede;}
.LIE07104 ul li.last a{border-bottom:0;}
.LIE07104 .irParaConsole{display:block;clear:both;font:normal 12px/40px Arial;text-align:center;border:1px solid #dedede;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;background:url(http://i0.ig.com/canais/arena/images/LIE07106-bg-btn.png) repeat-x center bottom;}