<div class="LIE06312 gd12 fl">
	<ul class="container-destaques">
		<li>
			<a href="" title="">
				<img src="" alt="">
				<cite class="date"></cite>
				<h3></h3>
			</a>
		</li>
	</ul>
</div>