<div class="LIE07312 gd12 fl">
	<form action="#" method="get">
		<fieldset>
			<label for="comboTermos"></label>
			<select name="comboTermos" id="comboTermos" class="dropfy">
				<option value=""></option>
			</select>
		</fieldset>
	</form>
</div>