<div class="LIE06418 gd18 fl">

	<div class="dest-left-box">
		<ul class="container-destaques">
			<li>
				<a href="" title="" class="">
					<img src="" alt="">
					<h3></h3>
					<span class="bgHover"></span>
					<span class="chapeu"></span>
					<h4></h4>
				</a>
			</li>
		</ul>	
	</div>
	
	<div class="dest-center-box">
		<ul>
			<li>
				<a href="" title="">
					<img src="" alt="">
					<h3></h3>
					<span class="bgHover"></span>
					<span class="chapeu"></span>
					<h4></h4>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="dest-right-box">
		<ul class="container-destaques">
			<li>
				<a href="" title="">
					<img src="" alt="">
					<h3></h3>
					<span class="bgHover"></span>
					<span class="chapeu"></span>
					<h4></h4>
				</a>
			</li>
		</ul>	
	</div>
</div>