.LIE06606{border:1px solid #D9D9DA;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#F9F9F9}
.LIE06606 h3{float:none!important;font:normal 18px/18px Arial;padding:10px 8px;border-bottom:1px solid #D9D9DA;margin:0}
.LIE06606 ul{padding:8px;background:#FFF;margin-bottom:2px}
.LIE06606 li{display:block;margin-bottom:2px}
.LIE06606 li.odd{background:#F7F7F7}
.LIE06606 a{position:relative;display:block}
.LIE06606 a img{float:left;margin-right:5px}
.LIE06606 a h5{position:absolute;top:50%;left:60px;float:left;width:219px;padding:0 10px;margin-top:-7px;font:bold 14px/14px Arial}