.LIE07312{width:632px;padding:10px;background:#f8f8f8;border:1px solid #e2e2e2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.LIE07312 label{float:left;height:26px;font:bold 12px/20px Arial;padding-right:10px;color:#333;margin-top:6px;}
.LIE07312 select{float:left;width:195px;height:20px;font:normal 12px/20px Arial;}