<div class="LIE06606 gd6 fl">
	<h3></h3>
	<ul>
		<li>
			<a href="">
				<img src="" alt="" width="55" height="63">
				<h5></h5>
				<div class="clear"></div>
			</a>
		</li>
	</ul>
</div>