.LIE06418 .dest-left-box{float:left;width:306px;border-right:1px solid #1b1e22;background:#000}
.LIE06418 .dest-left-box li{float:left}
.LIE06418 .dest-left-box li.mini{border-top:1px solid #1b1e22;border-bottom:1px solid #1b1e22}
.LIE06418 .dest-left-box li.dest-1 img{width:153px;height:115px}
.LIE06418 .dest-left-box li.dest-2 {float:right}
.LIE06418 .dest-right-box{background: black;height: 445px;}
.LIE06418 .dest-right-box li{float:left}
.LIE06418 .dest-right-box li.dest-6,.LIE06418 .dest-right-box li.dest-9 {float:right}
.LIE06418 .dest-right-box li.dest-7{border-bottom:1px solid #1b1e22;border-top:1px solid #1b1e22;width:345px;}
.LIE06418 .dest-right-box li.dest-5 img,.LIE06418 .dest-right-box li.dest-8 img{width:172px;height:130px}
.LIE06418 .dest-center-box{float:left;border-right:1px solid #1b1e22;width:334px}
.LIE06418 .dest-center-box h3{font:bold 24px Arial;width:315px}
.LIE06418 a{float:left;position:relative;color:#FFF;text-decoration:none}
.LIE06418 a:hover{text-decoration:none}
.LIE06418 a img{float:left}
.LIE06418 a h3{position:absolute;bottom:0;left:0;margin:0!important;padding:5px 10px;font:bold 14px/14px Arial;text-transform:none;color:#fff!important;background:url(http://i0.ig.com/canais/arena/images/sprite.png?v=0.0.8) -1036px 0;}
.LIE06418 a h3{width:133px;}
.LIE06418 .dest-0 a h3, .LIE06418 .dest-3 a h3{width:287px}
.LIE06418 .dest-left-box .mini a span.bgHover{width:153px;height:115px;}
.LIE06418 .dest-right-box .mini a span.bgHover{width:172px;height:130px;}
.LIE06418 .dest-right-box .dest-7 a span.bgHover{width:346px;height:183px}
.LIE06418 .dest-center-box ul li a span.bgHover{width:334px;height:445px}
.LIE06418 .dest-0 a span.bgHover,.LIE06418 .dest-3 a span.bgHover{width: 306px;height: 164px;}
.LIE06418 .dest-5 a h3,.LIE06418 .dest-6 a h3, .LIE06418 .dest-8 a h3, .LIE06418 .dest-9 a h3{width:153px}
.LIE06418 .dest-7 a h3{width:326px}
.LIE06418 a span.bgHover{display:none;background: url(http://i0.ig.com/canais/arena/images/sprite.png?v=0.0.8) -1036px 0;position: absolute;top:0;left:0;cursor:pointer;}
.LIE06418 a span.chapeu{display:none;position: absolute;top: 5px;left: 10px;font: bold 12px arial;text-shadow: #222 1px 1px 1px;}
.LIE06418 a h4{display:none;position: absolute;font: bold 14px arial;left:10px;padding-right: 10px;}
.LIE06418 a:hover h3{display:none;}
.LIE06418 a:hover span.bgHover,.LIE06418 a:hover span.chapeu,.LIE06418 a:hover h4{display:block;}
.LIE06418 .dest-center-box h4{font:bold 24px Arial;}