.LIE07006{width:316px;margin-right:20px}
.LIE07006 .consoleBox{border:1px solid #dbdbdb;border-bottom-width:2px;border-radius:4px;-mox-border-radius:4px;-webkit-border-radius:4px;background:url(http://i0.ig.com/canais/arena/images/LIE07006.png?v=0.1) repeat-x left bottom}
.LIE07006 .ps3{border-bottom-color:#F98128!important;}
.LIE07006 .x360{border-bottom-color:#3DFF6A!important;}
.LIE07006 .wii{border-bottom-color:#44DCFD!important;}
.LIE07006 .pc{border-bottom-color:#E1002F!important;}
.LIE07006 .psp{border-bottom-color:#F88228!important;}
.LIE07006 .ds{border-bottom-color:#44DCFC!important;}
.LIE07006 .mobile{border-bottom-color:#E300E1!important;}
.LIE07006 .outros{border-bottom-color:#9000F2!important;}
.LIE07006 img{float:left;margin:10px 15px;}
.LIE07006 .consoleInfo{float:left;padding:20px 15px 15px;border-left:1px solid #dbdbdb;height:145px}
.LIE07006 h3{font:bold 16px Arial;color:#333;margin-bottom:10px}
.LIE07006 ul li{list-style:disc inside;color:#ccc;}
.LIE07006 ul li a{font:bold 14px/22px Arial;}