<div class="LIE15506 gd6">
	<div class="headRetranca header">		
		<nav class="tvFlashNav fr">
			<a href="#" class="voltar">Voltar</a>
			<div class="fl">
					
			</div>
			<a href="#" class="avancar">Avançar</a>
		</nav>	
		<h2><a href=""></a></h2>		
	</div>
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<div class="LIE15506tv"><ul></ul></div>	
		
	<div style="clear:both"></div>
	<div class="busca-receita">
	<h2 class="titulo-busca">Busca de receitas</h2>
	<form method="q" action="http://receitas.ig.com.br/busca/">
		<input type="text" name="q" class="campo-busca" id="" value="Digite o nome da receita ou ingrediente" onfocus="" />		
		<input type="submit" class="bt-ok" value=" " />
	</form>
	</div>
</div>
