.LIE17412{float: left;clear: both;border-bottom: 1px dotted #EEE;width: 652px}
.LIE17412 h2{color:#333!important;font:18px arial;margin:10px 0;text-transform:uppercase}
.LIE17412 ul{padding-bottom: 25px}
.LIE17412 ul li{float: left;margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px dotted #EEE;width: 652px}
.LIE17412 ul li img{float: left;margin-right: 20px}
.LIE17412 ul li cite {font: bold 12px arial;color: #999}
.LIE17412 ul li h5 a{color: #944490 !important}
.LIE17412 ul li h5 a{font: bold 16px arial}
.LIE17412 ul li p a{font: 14px/18px arial;color: #666}