.LIE18506{float:left;width:316px}
.LIE18506 ul li{clear:both;float:left;margin-bottom:20px;width:316px;}
.LIE18506 ul li .imagem{float:left;height:69px;margin-right:10px;position:relative;width:92px;}
.LIE18506 h3 {font:18px Arial;margin-bottom:13px;text-transform: uppercase;color:#005088}
.LIE18506 ul li cite {float:left;font:bold 11px Arial;color:#999;text-transform:uppercase;width:214px;margin-top:-3px}
.LIE18506 ul li h5 a{float:left;font:bold 13px Arial;width:214px;margin:4px 0}
.LIE18506 ul li p a{float:left;font:normal 12px Arial;width:214px}