<div class="LIE18506 nomgr"><h3>especiais de cultura</h3>
	<ul>
		<li class=" ">
			<div class="imagem">
				<a href="http://ultimosegundo.ig.com.br/oscar" target="_self">
					<img src="http://i0.ig.com/bancodeimagens/1s/io/h6/1sioh6h2l6y4aow0w78k35k5u.jpg">
				</a>
			</div>	
			<h5><a href="http://ultimosegundo.ig.com.br/oscar" target="_self">Oscar 2012</a></h5>
			<p><a href="http://ultimosegundo.ig.com.br/oscar" target="_self">Notícias da temporada de prêmios em Hollywood, resenhas e os indicados</a></p>
		</li>
	</ul>
</div>