<div class="LIE12306 gd6 fl">
	<div class="headRetranca">
      	<h2><a title="" href=""> <span>››</span></a></h2>
    </div>
	<ul>
		<li>
			<span class="counter"></span>
			<a href="" title=""></a>
			<p></p>
		</li>
	</ul>
</div>