.LIE15506{height:512px;overflow: hidden;position:relative;}
.LIE15506 ul {height:325px;overflow:hidden;margin-top:20px;border-bottom:1px dotted #d7d7d7;}
.LIE15506 ul li{margin-right:20px;height:330px}
.LIE15506 ul.slider li.nomgr{margin-right:20px!important;}
.LIE15506 ul li div {margin-bottom:20px;padding-bottom:20px;float:left}
.LIE15506 ul li div img{float:left;border:none;}
.LIE15506 ul li div h3 {font: bold 11px Arial;margin-bottom:1px;text-transform: uppercase}
.LIE15506 ul li div h3 a{color:#333;}
.LIE15506 a{color: #08629A}
.LIE15506 ul li div p{float:left;margin-left:15px;width:195px}
.LIE15506 ul li div p a{font:normal 1.5em Arial;display:block;color:#08629a}
.LIE15506 .headRetranca {border-top: 2px solid #6D8495}
.LIE15506 .headRetranca nav.tvFlashNav .slide.ativo, .LIE15506 .headRetranca nav.tvFlashNav .slide{background: url("../images/LIE15506-setastv.png") no-repeat scroll 0px 0px transparent;}
.LIE15506 .headRetranca nav.tvFlashNav a{background: url("../images/LIE15506-setastv.png") no-repeat scroll 0px 0px transparent;display: block;float:left;height:24px;text-indent:-9999px;width:24px}
.LIE15506 .headRetranca nav.tvFlashNav{background: url("../images/LIE15506-bg-retranca.gif") repeat scroll 0 0 transparent;float:right;padding:10px;visibility:visible}
.LIE15506 .headRetranca nav.tvFlashNav a.voltar{margin-right:8px}
.LIE15506 .headRetranca nav.tvFlashNav a.voltar:hover{background-position:-26px 0px}
.LIE15506 .headRetranca nav.tvFlashNav a.avancar{background-position:0px -24px;margin-left:8px}
.LIE15506 .headRetranca nav.tvFlashNav a.avancar:hover{background-position:-26px -24px}
.LIE15506 .headRetranca nav.tvFlashNav div{float:left}
.LIE15506 .headRetranca nav.tvFlashNav .slide.ativo{background-position:-54px 8px}
.LIE15506 .headRetranca nav.tvFlashNav .slide{background-position:-64px 8px;margin:0 4px;width:6px}
.LIE15506 .headRetranca h2{background: url("../images/LIE15506-bg-retranca.gif") repeat scroll 0 0 transparent;border-top: 1px solid #FFFFFF;font-size: 1.667em;height:45px;line-height: 44px;padding: 0 7px 0 12px}
.LIE15506 .headRetranca h2 a{background: url("../images/LIE15506-firula.png")no-repeat scroll 85px 20px transparent;color: #3B454E;float: left;padding-right:15px;position:relative;right:0;top:0}
.LIE15506 .headRetranca h2 a span{color: #0B73B4;display:none;font-size: 1em;font-weight: normal;letter-spacing: -4px;text-indent: -1500em}
div.LIE15506tv{height:355px;overflow: hidden;position:relative;}
.LIE15506tv ul li h3{margin:0 0 5px;float:none!important;}
.LIE15506tv ul li h3 a{color:#333333;font:bold 11px Arial;text-transform:uppercase}
.LIE15506tv h4 a{font:bold 18px Arial;color:#08629a}
.LIE15506 .busca-receita{float:left;width:316px; margin-top: 15px;padding:10px 0 16px 10px;border-radius:3px;background-color:#f8f8f8}
.LIE15506 .busca-receita .titulo-busca{color:#6d8495;font:bold 12px Arial}
.LIE15506 .busca-receita .campo-busca{float:left;width:244px;height:30px;padding-left:6px;margin:10px 0 0;border-radius:3px;background: url(../images/LIE15506-bg-input-busca.png) repeat-x;font-size:12px;color:#999999;border:1px solid #dddddd;line-height:30px}
.LIE15506 .busca-receita .bt-ok{float:left;width:38px;height:32px;margin:10px 0 0 5px;border-radius:3px;background: url(../images/LIE15506-bt-ok.gif) repeat-x;text-indent:-1500px;cursor:pointer}