<div class='LIE17412'>
	<h2></h2>
	<br class="clear">
	<div>
		<ul>
			<li>
				<a href="" target="_self">
					<img src="" width="112" height="84" alt="" />
				</a>
				<cite></cite>
				<h5>
					<a href="" target="_self"></a>
				</h5>
				<p>
					<a href="" target="_self"></a>
				</p>
			</li>
		</ul>
	</div>
</div>
