<div class="LIE21506 gd6 fl">
	<input type="hidden" class="automatico"/>
	<input type="hidden" class="turno"/>
	<input type="hidden" class="id"/>
	<h3><span>Pesquisas</span> 
		<select id="LIE21506-box-estados" class="dropfy">
			<option value="">Outros municípios</option>
		</select>
	</h3>

	<div class="clear"></div>
	
	<h4><strong>São Paulo</strong><span class="data">14/05/2012</span></h4>
	<div class="candidatos">
		<div class="candidato"><span class="nome-candidato"><strong>Alckmin</strong> <span class="nome-partido">(PSDB)</span></span> <div class="percentual"><span class="bar-100"><span class="bar-perc" style="width:75%;"></span></span> <big>43%</big></div><div class="clear"></div></div>
	</div>
	<div class="clear"></div>
	<div class="pesquisa-rodape">
		<a href="/eleicoes/pesquisas/1turno" class="link-rodape">Ver pesquisa completa</a>
		<strong class="fonte">Fonte: <span>Datafolha</span></strong>
	</div>
	<div class="clear"></div>
</div>