.LIE06312 .container-destaques li{float:left}
.LIE06312 .container-destaques li.first{width:433px;height:244px;margin:0 2px 2px 0;position:relative;}
.LIE06312 .container-destaques li.right{margin:0 0 2px 0}
.LIE06312 .container-destaques li.bottom{margin:0 2px 0 0}
.LIE06312 .container-destaques li a{float:left;position:relative;color:#FFF}
.LIE06312 .container-destaques li a img{float:left}
.LIE06312 .container-destaques li a .date{display:none;position:absolute;bottom:26px;left:0;padding:5px 10px;font:bold 11px/11px Arial;background:#000;opacity:0.8;filter:alpha(opacity=80)}
.LIE06312 .container-destaques li a h3{position:absolute;bottom:0;left:0;margin:0!important;padding:5px 10px 7px;font:bold 14px/14px Arial;text-transform:none;background:#000;opacity:0.8;filter:alpha(opacity=80);color:#fff!important}
.LIE06312 .container-destaques li.dest-4 img{width:215px;height:162px}
.LIE06312 .container-destaques li.dest-5 img{width:217px;height:162px}