<div class="LIE23912 gd12 fl">
	<ul class="abas"> 
		<li><a href="http://esporte.ig.com.br/automobilismo/f1/">Geral</a></li>
	</ul>
	
	<style type="text/css">
		.LIE23912{clear:both;float:left;padding:20px 0;width:652px;overflow:hidden}
		.LIE23912 ul.abas{border-bottom:1px solid #d8d8d8;float:left;width:100%;height:28px;display:inline}
		.LIE23912 ul.abas li{float:left; margin-right:8px; }
		.LIE23912 ul.abas li a{background:#f7f8f9;border:1px solid #F8F8F8;color:#666;display:inline;float:left;font:normal 12px/26px Arial;padding:0 8px;cursor:pointer}
		.LIE23912 ul.abas li a.ativo{background:#FFF;border-color:#d8d8d8 #d8d8d8 #FFF;border-style:solid;border-width:1px 1px 2px;color:#3b5e00}
	</style>
</div>