<div>
<input type="hidden" id="passo"/>
<div id="newToolbar" class="grid18 left">
	<a class="tagCobertura" href="http://economia.ig.com.br/financas/aposentadoria/" title="tudo sobre o tema">tudo sobre o tema</a>
	<span class="especial grid12 left">
		<a href="http://economia.ig.com.br/financas/aposentadoria/">Aposentadoria</a>
	</span>
</div>
<div class="clear"></div>
<div class="barra-atalhos gd18" id="botoes" style="margin-bottom:20px">
       <ul class="compartilhe">
           <li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"><!-- --></a></li>
          <li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"><!-- --></a></li>
          <li class="google">
              <!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
              <g:plusone callback="trackSocialPlusOne" size="medium" count="false"></g:plusone>
          </li>
          <li>
              <div class="facebook">
                  <fb:like href="#" send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
                  <div id="fb-root"></div>                                 
              </div>
          </li>
      </ul>    
      <ul class="tools nobdr">
	<li class="imprimir">
              <a class="tooltip" href="#" onClick="javascript:window.print()"></a>
          </li>
      </ul>
     <div class="clear"></div>
</div>
<div class="clear" style="margin-bottom:20px"></div>
<div id="manual-menu">
  	<ul>
  	</ul>
  	<div id="PPA01306"></div>          
</div>
	       
<div id="manual">
	<h3></h3>
	
	<div id="conteudoGuiaAposentadoria" class="conteudoGuia"></div>
	
	<div class="clear"></div>
	
	<a href="#" class="bt-nav" id="btn-prev">anterior</a>
	<a href="#" class="bt-nav" id="btn-next">próxima</a>	       	
</div>
</div>