<div class="MeiahoraSuperGaleria">

	<div class="CHE08318 gd18 nomgr bl1">
		<h2></h2>
		<div class="share-galeria">
				<li><a href="#"><span class="icon facebook">fb</span></a></li>
				<li><a href="#"><span class="icon twitter">tw</span></a></li>
				<li><a href="#"><span class="icon google">g+</span></a></li>
		</div>
		<h3>Publicado em 25/05/2014 às 01:12</h3>
	</div>
	<div class="CHE08218 gd18 nomgr fl bl2 bordadefault">
		<div class="nav-galeria">
			<span class="slider-nav-custom" id="slider-prev"></span>
			<div class="thumbs-wrap">
				<div class="thumbs-galeria" id="small" data-idg="">
					<!-- <div class="slide"><a data-slide-index="0" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="1" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="2" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="3" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="4" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="5" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="6" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="7" href=""><img src="http://placehold.it/110x70" /></a></div>
					<div class="slide"><a data-slide-index="8" href=""><img src="http://placehold.it/110x70" /></a></div> -->

				</div>
			</div>
			<span class="slider-nav-custom" id="slider-next"></span>
		</div>

		<div class="wrap-galeria">

			<ul class="galeria-de-fotos">
				<!-- <li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li>
				<li><img src="http://placehold.it/988x484" width="988" height="484" /><div><span>Depois</span><code>Foto: Carlos Moraes</code></div></li> -->

			</ul>
			<div class="contador-galeria "></div>

			<div class="share-galeria sharing-close">
				<li class="sharing-open"><a href="#"><span class="icon facebook">fb</span>Facebook</a></li>
				<li class="sharing-open"><a href="#"><span class="icon twitter">tw</span>Twitter</a></li>
				<li class="sharing-open"><a href="#"><span class="icon google">g+</span>Google +</a></li>
				<li><code><div class="controlador-tempo"></div></code><code><span class="icon shared" ></span></code><code><span class="icon dunno" ></span></code></li>
			</div>

		</div>
	</div>

	<!--<div id="rg-gallery" class="rg-gallery">
		<div class="rg-thumbs">

			<div class="es-carousel-wrapper">
				<div class="es-nav">
					<span class="es-nav-prev">Anterior</span>
					<span class="es-nav-next">Próxima</span>
				</div>
				<div class="es-carousel">
					<ul id="small">

					</ul>
				</div>
			</div>

		</div>
	</div>
	<div id="galeriaHit"></div>
	<div class="social">
		<div class="toolsbar">
			<span> Compartilhe essa galeria: </span>
			<div class="tools-face">
				<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="145" data-show-faces="true" data-font="lucida grande" data-action="recommend"></div>
			</div>
			<div class="tools-gplus">
				<g:plusone size="medium" href=""></g:plusone>
			</div>
			<div class="tools-twiter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-via="jornalodia" data-lang="pt" data-related="jornalodia">Tweet</a>
			</div>
		</div>
	</div>--> 
</div>