<div>
	<ul>
		<li><a href="/ps3" title="PS3" class="ps3"><span>PS3</span></a></li>
		<li><a href="/xbox-360" title="X360" class="xbox-360"><span>X360</span></a></li>
		<li><a href="/wii" title="WII" class="wii"><span>WII</span></a></li>
		<li><a href="/pc" title="PC" class="pc"><span>PC</span></a></li>
		<li><a href="/psp" title="PSP" class="psp"><span>PSP</span></a></li>
		<li><a href="/ds" title="DS" class="ds"><span>DS</span></a></li>
		<li><a href="/mobile" title="MOBILE" class="mobile"><span>MOBILE</span></a></li>
		<li><a href="/outros" title="OUTROS" class="outros"><span>OUTROS</span></a></li>
	</ul>
</div>