<div id="dropMenu">
	<div class="submenu" id="subMenuNoticiasOn" style="display: none;">
		<div class="aba">
			<a href="http://ultimosegundo.ig.com.br/">Notícias</a>
		</div>
		<div class="corpoSubmenu">
			<div class="content" id="content-submenu-noticias" style="width: 326px; ">
				<div class="coluna borda-right" id="E512766A-8D01-4F25-82A4-4D4C955667CA">
					<ul class="menuLista">
						<li class=" pagina_principal">
						<a title="" href="http://ultimosegundo.ig.com.br/">Página Principal <span>››</span>
						</a>
						</li>
						<li class=" brasil">
						<a title="" href="http://ultimosegundo.ig.com.br/brasil/p1237569155677.html">Brasil <span>››</span>
						</a>
						</li>
						<li class="sub crimes">
						<a title="" href="http://ultimosegundo.ig.com.br/brasil/crimes/p1596992119270.html">Crimes</a>
						</li>
						<li class="sub transito_agora">
						<a title="" href="http://ultimosegundo.ig.com.br/brasil/transitoemapas/p1237569155693.html">Trânsito agora</a>
						</li>
						<li class="sub noticias_por_estado">
						<a title="" href="http://ultimosegundo.ig.com.br/brasil/estados/p1238110041940.html">Notícias por Estado</a>
						</li>
						<li class=" ciencia">
						<a title="" href="http://ultimosegundo.ig.com.br/ciencia/p1237569155723.html">Ciência <span>››</span>
						</a>
						</li>
						<li class="sub meio_ambiente">
						<a title="" href="http://ultimosegundo.ig.com.br/ciencia/meioambiente/p1237569155727.html">Meio ambiente</a>
						</li>
						<li class=" cultura">
						<a title="" href="http://ultimosegundo.ig.com.br/cultura/p1237569155697.html">Cultura <span>››</span>
						</a>
						</li>
						<li class="sub cinema">
						<a title="" href="http://ultimosegundo.ig.com.br/cultura/cinema/p1237569155701.html">Cinema</a>
						</li>
					</ul>
				</div>
				<div class="coluna null nomgr" id="2D1D463A-DEC6-4284-9636-76ABA97795E0">
					<ul class="menuLista">
						<li class="sub first livros">
						<a title="" href="http://ultimosegundo.ig.com.br/cultura/livros/p1237569155711.html">Livros</a>
						</li>
						<li class="sub musica">
						<a title="" href="http://ultimosegundo.ig.com.br/cultura/musica/p1237569155715.html">Música</a>
						</li>
						<li class=" educacao">
						<a title="" href="http://ultimosegundo.ig.com.br/educacao/p1237569155731.html">Educação <span>››</span>
						</a>
						</li>
						<li class="sub enem">
						<a title="" href="http://ultimosegundo.ig.com.br/educacao/enem/p1597080479045.html">Enem</a>
						</li>
						<li class="sub vestibular">
						<a title="" href="http://ultimosegundo.ig.com.br/educacao/vestibular/">Vestibular</a>
						</li>
						<li class=" fotos">
						<a title="" href="http://www.ig.com.br/zoom/">Fotos <span>››</span>
						</a>
						</li>
						<li class=" mundo">
						<a title="" href="http://ultimosegundo.ig.com.br/mundo/p1237569155670.html">Mundo <span>››</span>
						</a>
						</li>
						<li class=" politica">
						<a title="" href="http://ultimosegundo.ig.com.br/politica/p1237583227176.html">Política <span>››</span>
						</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="temasDoMomento" id="temas-do-momento-noticias">
				<div class="nomgr" id="D5F35A95-76B5-4F77-BA43-A36E94D334B6">
					<ul>
						<li class="chamadaTemas">Temas do momento:</li>
						<li class="itens first">
						<a href="http://ultimosegundo.ig.com.br/rockinrio/">Rock in Rio</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>