<%{%>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-160889-9', 'auto');
	ga('create', 'UA-3531175-1', 'auto', {'name': 'ig'}); 
	ga('send', 'pageview');
	ga('ig.send', 'pageview');
</script>

<script>window.jQuery || document.write('<script src="http://s0.ejesa.ig.com.br/js/jquery-2.1.4.min.js">\x3C/script>')</script>
    
<script src="http://s0.ejesa.ig.com.br/js/meiahora/1.4.8-angular.min.js"></script>

<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/meiahora/scripts-pre.min.js?v=0.9.5"></script>


<script type="text/javascript">
    /* COUNT
    var ecount = [];
    ecount.push(['view']);
    ecount.push(['getCount']);
    ecount.push(['5395fe0fe4b03378c924e26e']);
    (function() {
        var ecs = document.createElement('script');
        ecs.type = 'text/javascript';
        ecs.async = true;
        ecs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's0.ejesa.ig.com.br/js/count/count.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ecs, s);
    })();
    */

    /* mesma tag do O Dia */
    var ivcUrl = ("https:" == document.location.protocol ? "https://datpdpmej1fn2.cloudfront.net/" :
    "http://ivccftag.ivcbrasil.org.br/") + "ivc.js";
    ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalIvcNamespace=p.GlobalIvcNamespace||[];
    p.GlobalIvcNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
    };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
    n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script",ivcUrl,"ivc"));

    window.ivc('newTracker', 'cf', 'ivccf.ivcbrasil.org.br', {
        idWeb: '12'
    });

    window.ivc('trackPageView');
</script>
<%}%>