<footer class="MHJSI008">

	<div class="blackSign ">

		<div class="mgcenter gd18 ">

			<div class="gd9 fl mgl social">
				<ul>
					<li><a class="sprite meiahora" href="http://meiahora.ig.com.br">Meia Hora</a></li>
					<li><a href="http://www.facebook.com/meiahora"><span class="sprite facebook">Facebook</span></a></li>
					<li><a href="https://twitter.com/meiahora"><span class="sprite twitter">Twitter</span></a></li>
					<!--<li><a href="#"><span class="sprite googleplus">Google +</span></a></li>
					<li><a href="#"><span class="sprite rss">RSS</span></a></li>-->
				</ul>
			</div>

			<div class="gd9 fl singNow">
				<a href="https://www.ejesa.com.br/assine/index.php?pag=subscribe&type=digitalpub&id=5">Assine agora</a>
				<span>
					Assine já todo o<br> conteúdo do <strong>Meia Hora!</strong>
				</span>



			</div>

		</div>

	</div>

	<div class="menuFinal ">

		<div class="mgcenter gd18 ">

			<div class="gd11 fl mgl ">
				<div class="splitMenu">
					<h5>Editorial</h5>
					<ul>
						<li><a href="http://meiahora.ig.com.br/policia/">Polícia</a></li>
						<li><a href="http://meiahora.ig.com.br/se-liga/">Se Liga</a></li>
						<li><a href="http://meiahora.ig.com.br/esportes/">Esporte</a></li>
						<li><a href="http://meiahora.ig.com.br/gata-da-hora">Gata da Hora</a></li>
						<li><a href="http://meiahora.ig.com.br/capas/">Primeira Página</a></li>
						<li><a href="http://meiahora.ig.com.br/babado/">Babado</a></li>
						<!--<li><a href="http://meiahora.ig.com.br/galerias/">Galerias de Fotos</a></li>-->
					</ul>
				</div>

				<div class="splitMenu">
					<h5>Editorial</h5>
					<ul>
						<li><a href="https://www.ejesa.com.br/assine/index.php?pag=subscribe&type=digitalpub&id=5">Assine Agora</a></li>
						<li><a href="http://meiahora.ig.com.br/expediente/">Expediente</a></li>
						<li><a href="https://site.vagas.com.br/PagEmpr.asp?e=ejesa">Trabalhe Conosco</a></li>
						<li><a href="http://meiahora.ig.com.br/anuncie/">Anuncie no Site</a></li>
					</ul>
				</div>

				<div class="splitMenu digitalEdit">
					<h5>Editorial</h5>
					<ul>
						<li>
							<a target="_blank" href="http://meiahora.epaper.grupodia.com.br/login">

								<span class="sprite tv"></span>
								<strong>Acesso completo ao <br>
								Meia Hora | Digital</strong>
								<i>Exclusivo para assinantes</i>

							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="gd7 fl lastInfoFooter">
				<ul>
					<li>© Copyright 2009-2016 Meia Hora. Todos os Direitos Reservados</li>
					<br>
					<li>
						<div id="fb-root"></div> <script>(function(d, s, id) {   var js, fjs = d.getElementsByTagName(s)[0];   if (d.getElementById(id)) return;   js = d.createElement(s); js.id = id;   js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3&appId=1674765382778479";   fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script> <div class="fb-like" data-href="http://www.meiahora.ig.com.br/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
					</li>
					<br>
					<li><a class="sprite ejesa" href="https://www.ejesa.com.br/assine/">Ejesa</a></li>
					<li><a class="sprite dia" href="http://odia.ig.com.br/">O Dia</a></li>
				</ul>
			</div>

		</div>

	</div>

</footer>