<%{%>
	<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/meiahora/scripts-pos.min.js?v=0.3.5"></script>
	<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/solrator-0.2.1.js?v=0.3"></script>

	<script>
	    (function() {
	        if(/^http:\/\/meiahora.ig.com.br\/capas\//.test(window.location.href) == true || /^http:\/\/localhost/.test(window.location.href) == true || /^http:\/\/cms.ejesa.igcorp.com.br\//.test(window.location.href) == true) {
	            $( document ).ready(function() {
	                $.getScript('http://s0.ejesa.ig.com.br/js/meiahora/capas.js?v=0.1.3')
	                .done(function( script, textStatus ) {
	                    capasMeiahora.principalCapa();
	                    capasMeiahora.mostraCapas('', '');
	                })
	                .fail(function( jqxhr, settings, exception ) {
	                    console.error('Falha no getScript - Seção Gata da Hora comprometida');
	                });
	            });
	        }
	    })();
	</script>

	<script type="text/javascript">
		function loadScriptPublicidade() {
	        if (window.googletag && window.location.href.search("edicao.html") == -1) {
	            var g = document.createElement('script');
	                s = document.getElementsByTagName('script')[0];
	            g.src = 'http://s0.ejesa.ig.com.br/js/meiahora/publicidades.min.js?v=0.0.5';
	            s.parentNode.insertBefore(g, s);
	        }
	    }

	    var googletag = googletag || {};
	    googletag.cmd = googletag.cmd || [];
	    (function() {
	        var gads = document.createElement('script');
	        gads.async = true;
	        gads.type = 'text/javascript';
	        var useSSL = 'https:' == document.location.protocol;
	        gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
	        var node = document.getElementsByTagName('script')[0];
	        node.parentNode.insertBefore(gads, node);
	        gads.onreadystatechange = loadScriptPublicidade;
	        gads.onload = loadScriptPublicidade;
	    })();

		if(window.location.href.search("edicao.html") == -1){
            var refreshTime;
            refreshTime = setTimeout(function () {
                window.location = window.location
            }, 16e4);
        }

        !function(d,s,id){
        	var js,
        		fjs=d.getElementsByTagName(s)[0],
        		p=/^http:/.test(d.location) ? 'http' : 'https';
        	if(!d.getElementById(id)){
        		js=d.createElement(s);
        		js.id=id;
        		js.src=p+'://platform.twitter.com/widgets.js';
        		fjs.parentNode.insertBefore(js,fjs);
        	}
        }(document, 'script', 'twitter-wjs');

		window.fbAsyncInit = function() {
			FB.init({
			appId : '1674765382778479',
			xfbml : true,
			version : 'v2.5'
			});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	</script>
<%}%>