<header class="MHJSI007" >

	<div class="content-menu">

		<div class="colormenu"> </div>

		<div class="mgcenter gd18 fn db wrapper">

			<div class="gd6 fl mgl mainMenu">
				<ul>
					<li class="mainBtMenu ">
						<a href="javascript:void(0);"><span class="sprite fl"></span> Menu</a>

						<div class="menuHolder">
							<ul class="menu-container">
								<li><a href="http://meiahora.ig.com.br">Home</a></li>
								<li><a href="http://meiahora.ig.com.br/capas/">Capas do Meia</a></li>
								<li><a href="http://meiahora.ig.com.br/gata-da-hora/">Gata da Hora</a></li>
								<li><a href="http://meiahora.ig.com.br/policia/">Polícia</a></li>
								<li><a href="http://meiahora.ig.com.br/se-liga/">Se Liga</a></li>
								<li><a href="http://meiahora.ig.com.br/babado/">Babado</a></li>
								<li><a href="http://meiahora.ig.com.br/esporte/">Esporte</a></li>
								<!--<li><a href="http://meiahora.ig.com.br/galerias">Galerias</a></li>-->
							</ul>

							<hr>

							<ul>
								<li><a target="_blank" href="http://meiahora.ig.com.br/anuncie/">Anuncie</a></li>
								<li><a target="_blank" href="https://www.ejesa.com.br/assine/index.php?pag=subscribe&type=digitalpub&id=5">Assine Agora</a></li>
								<!--<li><a target="_blank" href="http://meiahora.ig.com.br/fale-conosco">Fale Conosco</a></li>-->
							</ul>

							<hr>

							<div class="digitalMenu">
								<a href="http://meiahora.epaper.grupodia.com.br/login">
									<span class="sprite "></span>
									<strong>Edição Digital</strong>
									<i>Acesso completo ao <br>Meia Hora | Digital</i>
								</a>
							</div>

						</div>
					</li>
					<li class="btnMenu"><a target="_blank" href="https://www.facebook.com/meiahora"><span class="sprite  facebook"></span></a></li>
					<li class="btnMenu"><a target="_blank" href="https://twitter.com/meiahora"><span class="sprite twitter"></span></a></li>
					<!--li class="btnMenu"><a target="_blank" href="#"><span class="sprite googlep"></span></a></li!
					<li class="btnMenu"><a target="_blank" href="#"><span class="sprite rss"></span></a></li>-->
				</ul>
			</div>

			<div class="gd6 fl mgl mainLogo">
				<a class="sprite db mgcenter  " href="http://meiahora.ig.com.br">Meia hora</a>
			</div>

			<div class="gd6 fl thirdPart">
				<div class="search">
					<a href="javascript:void(0);"><span class="sprite "></span>Busca</a>
					<form id="form-buscaMH" method="get" action="http://meiahora.ig.com.br/busca/">
						<input type="text" name="q" id="mh-busca" placeholder="Digite uma palavra-chave...">
						<input type="submit" value="buscar">
					</form>
				</div>

				<!--<div class="publiTop">
					<span>Patrocínio:</span>
					<a href="#"><img src="http://s0.ejesa.ig.com.br/img/meiahora/pdg.png"></a>
				</div>-->
			</div>
			<div class="clear"></div> 
			
			<div class="gd18 secondaryMenu">
				<ul>
					<li class=""><a href="http://meiahora.ig.com.br">Home</a></li>
					<li><a href="http://meiahora.ig.com.br/gata-da-hora/">Gata da Hora</a></li>
					<li><a href="http://meiahora.ig.com.br/policia/">Polícia</a></li>
					<li><a href="http://meiahora.ig.com.br/se-liga/">Se liga</a></li>
					<li><a href="http://meiahora.ig.com.br/esporte/">Esporte</a></li>
					<li><a href="http://meiahora.ig.com.br/galerias/">Galerias</a></li>
					<li><a href="http://meiahora.ig.com.br/babado/">Babado</a></li>
					<li><a href="http://meiahora.ig.com.br/capas/">Capas do Meia</a></li>
				</ul>
			</div>
		</div>
	</div>

</header>

<script type="text/javascript">

	var offSetMenu = 140;
	window.onscroll = function (e) {
		var offSetWindow = document.body.scrollTop; if (offSetWindow >= offSetMenu) {
			document.getElementsByTagName('body')[0].classList.add('fx-header-responsive');
		}else{
			document.getElementsByTagName('body')[0].classList.remove('fx-header-responsive');
		}
	}

</script>
