
<div class="MHJSI009-noticiashare">
	<div class="barra_compartilhamento_noticia_2013" style="clear:both;">
	<div class="tool-bar-buttons-social" id="botoes">
		<div class="botoes-share-social nomgr">
			<span class="aumentarTxt-social">Texto</span>
			<ul class="tools-social nopdr nobdr">
				<li>
					<a class="tooltip-social tool-button-social aumentar-button-social nomgr" href="#" id="aumentar"></a>
				</li>
				<li>
					<a class="tooltip-social tool-button-social diminuir-button-social nomgr" href="#" id="diminuir"></a>
				</li>
				<li class="imprimir-social">
					<a id="print"class="tooltip-social" href="#" onClick="javascript:window.print()">Imprimir</a>
				</li>
				<!--li class="pessoas-lendo">
					<span><strong class="rt-stats">-</strong> pessoas lendo</span> 
				</li-->
				<!--li class="comentarios-social"> 
					<div class="box-coments-social"><div class='seta'></div><span></span></div>
					<a class="coments-social" href="javascript:sidetabs.open(2);void(0);">Comentários</a>

				</li-->
			</ul>
		</div>

	</div>   
		<!-- barra de compartilhamento !-->
		<div class="barra-compartilhamento">
			<ul class="share-icons">
				<li class="facebook">
						<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;" title="Compartilhe no Facebook" class="social-icon-facebook"></a>
				</li>
				<li class="twitter">
						<a href="#" onclick="window.open('http://twitter.com/intent/tweet?text='+encodeURIComponent(location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="Compartilhe no Twitter" class="social-icon-twitter"></a> 
				</li> 
				<li class="whatsapp">   
					<a class="social-icon-whatsapp" href="javascript:window.location='whatsapp://send?text=Meia Hora - '+ encodeURIComponent(MEIAHORA.UTEIS.getMetaName('mh-section-name')) +' - '+encodeURIComponent(document.querySelector('link[rel=\'canonical\']').href)+'';"></a>
				</li>
			</ul> 
		</div>     

</div>
	
</div>