<div class="MHJSI011-adsformatosesp">
	<div id="pub-intervencao" style="display:none; position:absolute;"></div>
	<div id="pub-dhtml" style="display:none;position:absolute;margin-left:-165px;left:50%;z-index:99999999;top:163px;"></div>
	<div id="topclick" class="adunit topclick" style="display:none;width:940px;height:0px;margin:30px auto 0 auto;position:relative;overflow:hidden;"></div>
	<div id="video-area" class="video-area" style="margin-top:5px; position: relative; display: none; width:100%;"></div>
	<div id="bottomclick" style="display:none;">
		<div id="retraido" style="position:relative; top:0;"></div>
		<div id="expandido" style="position:relative; top:0;"></div>
	</div>
</div>