<div class="MHLIA00812 in-page gd12">

	<h1>Busca com a expressão: <span id="palavraPesquisa"></span></h1>

	<div class="resultado">

		<div class="status">Encontramos <strong id="resultadoBuscaQtd">---</strong> resultados</div>

		<div id="resultadoBusca">
		</div>

		<div id="carregando"></div>

		<div class="clear"></div>

		<div class="pageselection" id="mais-resultados" style="text-align: center">
			<ul style="display: inline-block" id="busca-paginacao">
				<!-- <li class="selected">
					<a>1</a>
				</li>
				<li><a href="javascript:setPagina(2)">2</a></li>
				<li><a href="javascript:setPagina(3)">3</a></li>
				<li><a href="javascript:setPagina(4)">4</a></li>
				<li><a href="javascript:setPagina(5)">5</a></li>
				<li><a href="javascript:setPagina(6)">6</a></li>
				<li><a href="javascript:setPagina(7)">7</a></li>
				<li><a href="javascript:setPagina(8)">8</a></li>
				<li><a href="javascript:setPagina(9)">9</a></li>
				<li class="next">
					<a href="javascript:setPagina(2);">Próximo</a>
				</li> -->
			</ul>
			
		</div>

		<div id="carregando-pos" style="float:left;"></div>

	</div>

</div>