<div class="MHTOA01018 gd18 mgcenter">

	<input type="hidden" name="ultima" value="">
	
	<div class="CHE08618 gd12 mgr fl">

		<div class="busca-de-capas">
			<span>Busca Gata:</span>
			<form>
				<input type="text" ng-model="searchText" placeholder="Nome da gata...">
				<select ng-model="dataField.ano">
					<option value="">Ano</option>
					<option value="2016">2016</option>
					<option value="2015">2015</option>
					<option value="2014">2014</option>
				</select>
				<select ng-model="dataField.mes">
					<option value="">Mês</option>
					<option value="01">Janeiro</option>
					<option value="02">Fevereiro</option>
					<option value="03">Março</option>
					<option value="04">Abril</option>
					<option value="05">Maio</option>
					<option value="06">Junho</option>
					<option value="07">Julho</option>
					<option value="08">Agosto</option>
					<option value="09">Setembro</option>
					<option value="10">Outubro</option>
					<option value="11">Novembro</option>
					<option value="12">Dezembro</option>
				</select>
				<select ng-model="dataField.dia">
					<option value="">Dia</option>
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select> 
				<input type="submit" value="OK" ng-click="eventDateFilter();">
			</form>
			<code>i</code>
		</div>

		<div class="todas-gatas">

			<a name="ancmaisgatas"></a>

			<ul id="lista-gatas-ge">
				<li class="gd4 fl bordadefault" ng-repeat="gata in gatas | orderBy:'-data_da_postagem' | filter:searchText">
					<a href="{{ gata.url }}">
						<img src="{{ gata.foto_1 }}">
						<h4>{{ gata.titulo }}</h4>
					</a>
				</li>
			</ul>

			<div id="mais-resultados">
				
			</div>

		</div>

	</div>

	<div class="CHE08518 gd6 nomgr fl nomgr">

		<div class="participe">
			<h2>QUER SER A GATA DA HORA?</h2>
			<p>Envie a sua foto e seja destaque no site do Meia Hora. Não perca esta chance!</p>
			<a class="botao" href="mailto:agatadahora@meiahora.com">QUERO SER GATA DA HORA</a>
		</div>

		<div class="MHPUB8818">
			<div id="retangulo_medio_2">
				
			</div>
		</div>

	</div>

</div>