<div class="MHTOA01018 CHE08006 gd6 nomgr fl bordadefault">

	<a href="http://aniversariomeiahora.odia.ejesa.com.br/" target="_blank">

		<img src="http://s0.ejesa.ig.com.br/img/meiahora/monte-sua-capa-meiahora.jpg" style="width:100%; max-width:100%; display:block; height: auto;" />
		
	</a>

</div>