<div class="MHTOA01112 gd12 fl mgr">

	<div class="in-page">

		<h1>Fale Conosco</h1>

		<div class="intro">
			<p>Você pode sugerir reportagens, apontar como melhorar o site e o jornal, indicar erros, fazer denúncias e, assim, ajudar a equipe do MEIA HORA a fazer um jornalismo cada vez melhor</p>

			<p>Aqui, você também pode tirar dúvidas sobre promoções, reportar dificuldades de acesso ao site e obter informações sobre como publicar anúncios. É só escolher, no campo Assunto, qual o setor do MEIA HORA com que você deseja se comunicar e mandar sua mensagem</p>

			<p>Nenhuma mensagem enviada por você será publicada. Não se preocupe.</p>

			<p>Apenas as mensagens que requisitarem vão receber respostas.</p>
		</div>

		<div class="gd6 frm fl">
			<form action="" method="get" name="search" id="formContato" enctype="application/x-www-form-urlencoded">

				<div class="campo">
					<label>Nome:</label>
					<input type="text" value="" id="nome">
				</div>

				<div class="campo">
					<label>E-mail:</label>
					<input type="text" value="" id="email">
				</div>

				<div class="campo">
					<label>Assunto:</label>
					<select>
						<option value="" disabled selected>-- Selecione o assunto --</option>
						<option value="volvo">Volvo</option>
					</select>
				</div>

				<div class="campo mensagem">
					<label>Mensagem:</label>
					<textarea rows="20" cols="50" id="mensagem"></textarea>
				</div>

				<div class="campo captcha">
					<label>Digite as letras abaixo:</label>
					<div class="imagem">
						<img src="http://placehold.it/75x37">
						<div></div><a href="#">Mostrar outra imagem</a>
					</div>
					<input type="text" value="" id="captcha">
				</div>

				<input type="button" value="ENVIAR" id="botao">

			</form>
		</div>

		<div class="gd6 chmd fr">
			<div class="chamada-sac">
				<p>Se preferir, ligue para o Serviço de Atendimento ao Leitor do Meia Hora Online, no telefone abaixo.</p>
				<div class="dados">
					<div class="icone"></div>
					<div class="telefone"><span>21 2222-1580</span>de segunda a sexta, das 9h às 18h.</div>
				</div>
			</div>
		</div>

	</div>

</div>