<div class="MHTOA00918" ng-repeat="gatau in gatas" ng-if="$last">

	<div class="CHE08518 gd18 nomgr bl1">
		<h2>{{ gatau.nome }} - {{ gatau.titulo }}</h2> 
		<div class="barra-compartilhamento">
			<ul class="share-icons">
				<li class="facebook">
						<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;" title="Compartilhe no Facebook" class="social-icon-facebook"></a>
				</li>
				<li class="twitter">
						<a href="#" onclick="window.open('http://twitter.com/intent/tweet?text='+encodeURIComponent(location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="Compartilhe no Twitter" class="social-icon-twitter"></a> 
				</li> 
				<li class="whatsapp">   
					<a class="social-icon-whatsapp" href="javascript:window.location='whatsapp://send?text=Meia Hora - '+ encodeURIComponent(MEIAHORA.UTEIS.getMetaName('mh-section-name')) +' - '+encodeURIComponent(document.querySelector('link[rel=\'canonical\']').href)+'';"></a>
				</li>
			</ul> 
		</div> 
		<span class="data-publicacao">PUBLICADO EM {{ gatau.data_da_postagem }}</span>

		<div class="mais-gatas">
			<a href="#lista-gatas-ge">MAIS GATAS<span></span></a>
		</div>

	</div>

	<div class="CHE08518 gd12 mgr fl bl2">

		<div class="wrap-galeria gallery-container">
			<div id="gallery" class="gallery-images">
				<img src="{{ gatau.foto_1 }}" width="652" height="750">
			</div>
		</div>

	</div>

	<div class="CHE08518 gd6 fl bl3">

		<div class="detalhes-gata">
			<h3>SAIBA MAIS SOBRE ESTA GATA</h3>
			<p class="sobre-gata">{{ gatau.sobre }}</p>

			<br>
			
			<p> Gatas, mandem suas fotos, com telefone, para <a href="mailto:agatadahora@meiahora.com">agatadahora@meiahora.com</a></p>
		</div>

		<!-- <div class="MHPUB8818">
			<div id="retangulo_medio_1">
			</div>
		</div> -->

		<!-- <div class="navega-gatas">
			<ul>
				<li class="anterior"><span></span><img src="http://placehold.it/80x60" /></li>
				<li class="proxima"><img src="http://placehold.it/80x60" /><span></span></li>
			</ul>
		</div> -->

	</div>

</div>