<div class="MHTOA01212">

	<h3>Mais Galerias</h3>
	<ul id="lista-empilhamento-galeria">
		<li class="gd4 fl bordadefault"><a href="#"><img src="http://placehold.it/204x153" width="204" height="153" /><h4>Aos 31, Ribéry anuncia que copa no Brasil será última da sua carreira</h4></a></li>
		<li class="gd4 fl bordadefault"><a href="#"><img src="http://placehold.it/204x153" width="204" height="153" /><h4>Aos 31, Ribéry anuncia que copa no Brasil será última da sua carreira</h4></a></li>
		<li class="gd4 fl bordadefault"><a href="#"><img src="http://placehold.it/204x153" width="204" height="153" /><h4>Aos 31, Ribéry anuncia que copa no Brasil será última da sua carreira</h4></a></li>
		<li class="gd4 fl bordadefault"><a href="#"><img src="http://placehold.it/204x153" width="204" height="153" /><h4>Aos 31, Ribéry anuncia que copa no Brasil será última da sua carreira</h4></a></li>

	</ul>

	<div class="paginator-main mgcenter clear">

		<div class="pageselection" style="text-align: center;">
			
		</div>

	</div>

</div>