<div class="coluna direita comimagens borda-left">
	<h3><a href="#"></a></h3>
	<ul>
		<li class="sup dest">
			<img src="" alt="" class="dest" />
			<h4></h4>
			<ul>
				<li><a href="" title="" class="link1">Próximos capítulos</a></li>
				<li><a href="" title="" class="link2">Notícias</a></li>
				<li><a href="" title="" class="link3">Resumo do dia</a></li>
			</ul>
		</li>
	</ul>
</div>