<%
	{
%>
<script type="application/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-160889-3', 'auto');ga('create', 'UA-3531175-1', 'auto', {'name': 'ig'});ga('send', 'pageview');ga('ig.send', 'pageview');
</script>

<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
      '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
</script>


<!--script type="text/javascript"
    src="//wfpscripts.webspectator.com/bootstrap/ws-WS-00DIA.js">
</script-->
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/mobile/mobile-pre.min.js?v=0.6.2"></script>
<!--script type="text/javascript" src="http://www.apps.realtime.co/IBTX/9s3Lrr/IBTX.js"></script-->

<script src="https://cdn.flurry.com/js/flurry.js"></script>
<script>FlurryAgent.startSession("2C6ZRT3QC5HHH94H2MT4")</script>
<%
	}
%>