<div>
	<div id="horoscopo" class="headRetranca">
		<h2>Horóscopo</h2>
		<ul>
			<li>
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Áries" class="aries">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Áries">
					</span>
					<strong>Áries</strong>
				</a>
			</li>
			<li>
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Touro" class="touro">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Touro">
					</span>
					<strong>Touro</strong>
				</a>
			</li>
			<li>
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Gêmeos" class="gemeos">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Gêmeos">
					</span>
					<strong>Gêmeos</strong>
				</a>
			</li>
			<li class="nomgr">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Câncer" class="cancer">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Câncer">
					</span>
					<strong>Câncer</strong>
				</a>
			</li>
			<li class="clear">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Leão" class="leao">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Leão">
					</span>
					<strong>Leão</strong>
				</a>
			</li>
			<li>
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Virgem" class="virgem">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Virgem">
					</span>
					<strong>Virgem</strong>
				</a>
			</li>
			<li>
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Libra" class="libra">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Libra">
					</span>
					<strong>Libra</strong>
				</a>
			</li>
			<li class="nomgr">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Escorpião" class="escorpiao">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Escorpião">
					</span>
					<strong>Escorpião</strong>
				</a>
			</li>
			<li class="nomgb clear">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Sagitário" class="sagitario">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Sagitário">
					</span>
					<strong>Sagitário</strong>
				</a>
			</li>
			<li class="nomgb">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Capricórnio" class="capricornio">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Capricórnio">
					</span>
					<strong>Capricórnio</strong>
				</a>
			</li>
			<li class="nomgb">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Aquário" class="aquario">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Aquário">
					</span>
					<strong>Aquário</strong>
				</a>
			</li>
			<li class="nomgb nomgr">
				<a href="http://m.ig.com.br/wap/ighoroscopo" title="Peixes" class="peixes">
					<span>
						<img src="http://i0.ig.com/ig/images/horoscopo.png" alt="Peixes">
					</span>
					<strong>Peixes</strong>
				</a>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>