<div class="tvflash">
	<input type="hidden" value="" name="timer" />
	<input type="hidden" value="" name="animation" />
	<input type="hidden" value="" name="timeAnimation" />
	<div class="tv">
	<ul>
		<li class="">
			<a href="" class="image"">
				<img class="destaque" src="" width="300" height="225">
			</a>
			<h3></h3>
			<h4><a href="" title=""></a></h4>
		</li>
	</ul>
	</div>
	<nav class="tvFlashNav">
		<a href="#" class="voltar"><strong>Anterior</strong></a>
		<div>
			<span class="posicao">1</span>/<cite></cite>
		</div>
		<a href="#" class="avancar"><strong>Próximo</strong></a>
	</nav>
</div>