<div>
	<div id="previsaoTempo" class="headRetranca">
		<h2>Previsão do tempo</h2>
		<div class="contprevisao">
			<div class="grau">
				<big class="max"><strong></strong></big>
				<big class="min"><strong></strong></big>
			</div>
			<hgroup>
				<h3><!--  --></h3>
				<h4><!--  --></h4>
				<p><!--  --></p>
			</hgroup>
			<ul class="previsao">
				<li class="manha">
					<p class="" id="img1">Manhã</p>
				</li>
				<li class="tarde">
					<p class="" id="img2">Tarde</p>
				</li>
				<li class="noite nomgr">
					<p class="" id="img3">Noite</p>
				</li>
			</ul>
			<form action="" method="post" onsubmit="return false;">
				<input type="text" name="outracidade" value="Digite o nome de outra cidade" autocomplete="off" />
			</form>
		</div>
	</div>
	<div class="clear"></div>
</div>