<%
    {
%>
<script type="text/javascript" src="http://s0.ejesa.ig.com.br/js/odia/mobile/mobile-pos.min.js?v=0.4.7"></script>
<script type="text/javascript" src="http://clients.realtime.co/odia/rt_core.js"></script>
<script type="text/javascript">
    /* template EJESA_ODia_MobileSecoesIframe não tem IVC - Alterar lá se o trecho for sofrer mudança */
    var ivcUrl = ("https:" == document.location.protocol ? "https://datpdpmej1fn2.cloudfront.net/" :
    "http://ivccftag.ivcbrasil.org.br/") + "ivc.js";
    ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalIvcNamespace=p.GlobalIvcNamespace||[];
    p.GlobalIvcNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
    };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
    n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script",ivcUrl,"ivc"));
    window.ivc('newTracker', 'cf', 'ivccf.ivcbrasil.org.br', {
        idWeb: '12'
    });
    window.ivc('trackPageView');
</script>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=11&appId=241359022642830";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.___gcfg = {
        lang: 'en-US'
    };
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[1];
        s.parentNode.insertBefore(po, s);
    })();
    (function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[2];
        if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src="https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
    }(document,"script","twitter-wjs"));
</script>
<script>
    if(ODIAMOBILE.UTEIS.getMetaName('odia-section-name') == 'Home'){
        if(window.location.href.search("edicao.html") == -1){
            var refreshTime;
            refreshTime = setTimeout(function () {
                window.location = window.location
            }, 16e4);
        }
    }
    document.addEventListener("DOMContentLoaded", function(event) {
        if(ODIAMOBILE.UTEIS.getMetaName('odia-section-name') == 'Home'){
            document.getElementById('f-fb-like').setAttribute("data-href", ODIAMOBILE.UTEIS.getLinkRel('odia-section-id'));
        }
    });
</script>
<%
    }
%>