<div class="destaques-duas-fotos">
	<ul>
		<li>
			<h3></h3>
			<a href="#"><img src="" class="image" /></a>
			<h4>
				<a href=""></a>
			</h4>
		</li>
	</ul>
	<div class="pd-view pdt10 clear"><div class="hr"><!--  --></div></div>
</div>