<div>
	<div class="TViG">
		<article>
			<h3 class="bg">TViG</h3>
			<ul class="chamadas">
				<li>
					<figure>
						<a href="#">
							<img src="" />
							<span class="bg"></span>
						</a>
						<h4></h4>
						<figcaption>
							<a href="#"></a>
						</figcaption>
					</figure>
				</li>
			</ul>
			
			<ol>
				<li class="none">Temas do momento:</li>
				<li class="itens first"><a href="#"></a></li>
			</ol>
		</article>
	</div>
	<div id="middle"></div>
</div>