<div>
	<div id="transitoAgora" class="headRetranca">
		<h2>Trânsito agora</h2>
		<ul>
			<li class="" id="sampa">
				<h3>São Paulo</h3>
				<div class="container bg">
					<big><span></span>km</big>
					<small><span class="bg"></span> <cite></cite></small>
				</div>
			</li>
			<li class="" id="rio">
				<h3>Rio de Janeiro</h3>
				<div class="container bg">
					<big><span></span>km</big>
					<small><span class="bg"></span> <cite></cite></small>
				</div>
			</li>
			<li class="nomgr" id="bhorizonte">
				<h3>Belo Horizonte</h3>
				<div class="container bg">
					<big><span></span>km</big>
					<small><span class="bg"></span> <cite></cite></small>
				</div>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>