<div>
	<div id="mercadoFinanceiro" class="headRetranca">
		<h2>Mercado financeiro</h2>
		<table cellspacing="0" cellpadding="0" class="first">
			<thead>
				<tr>
					<th class="moeda">
						moeda
					</th>
					<th class="compra">
						compra
					</th>
					<th class="thevariacao">
						variação
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="dolar" id="dolar">
					<th>Dólar</th>
					<td class="value">
						<small>R$</small>
						<big></big>
					</td>
					<td class="variacao">
						<span class="bg"></span>
						<cite></cite>
					</td>
				</tr>
				<tr class="libra altrow" id="libra">
					<th>Libra</th>
					<td class="value">
						<small>R$</small>
						<big></big>
					</td>
					<td class="variacao">
						<span class="bg"></span>
						<cite></cite>
					</td>
				</tr>
				<tr class="euro last" id="euro">
					<th>Euro</th>
					<td class="value">
						<small>R$</small>
						<big></big>
					</td>
					<td class="variacao">
						<span class="bg"></span>
						<cite></cite>
					</td>
				</tr>
			</tbody>
		</table>
		
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th class="moeda">
						índice
					</th>
					<th class="compra">
						último
					</th>
					<th class="thevariacao">
						variação
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3">
						<strong>Fonte:</strong>
						Thomson Reuters
					</td>
				</tr>
			</foot>
			<tbody>
				<tr class="" id="bovespa">
					<th>Bovespa</th>
					<td>
						<strong><small></small></strong>
					</td>
					<td class="variacao">
						<span class="bg"></span>
						<cite></cite>
					</td>
				</tr>
				<tr class="altrow" id="dowjones">
					<th>Down Jones</th>
					<td>
						<strong><small></small></strong>
					</td>
					<td class="variacao">
						<span class="bg"></span>
						<cite></cite>
					</td>
				</tr>
				<tr class="last" id="nasdaq">
					<th>Nasdaq</th>
					<td>
						<strong><small></small></strong>
					</td>
					<td class="variacao">
						<span class="bg"></span>
						<cite></cite>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="clear"></div>
</div>