<div class="mod-news-ig">
	<h2>News iG</h2>
	<a class="portal-ig" target="_blank" href="http://ig.com.br/">PORTAL IG</a>
	<ul>
		<li>
			<div class="texto">
				<h3><a href=""></a></h3>
				<p><a href=""></a></p>
			</div>
			<a class="mais" href="">+</a>
		</li>
	</ul>
</div>