.CHE25606{float:left; margin:0px 20px 20px 0px; width:316px;}
.CHE25606 span{float:left;display:block;margin-left:-8px;width:56px;font:bold 125px/95px Arial;color:#e6e6e6}
.CHE25606 p{float:right;width:260px;font:bold 18px Arial;color:#333}