<div class="gd6" style="float: left; position: relative; margin-right: 20px">
	<figure class="foto-legenda gd6">
		<img src="" style="width: 316px; height: 236px" />
		<figcaption>				
			<cite></cite>
			<div></div>
		</figcaption>
	</figure>
	<aside class="context gd6 fl">
		<h3>Titulo da lista</h3>
		<ul>
			<li><a href=""></a></li>
		</ul>
	</aside>
</div>

