<div class="gd12" style="float: left; position: relative; margin-right: 20px">
	<figure class="foto-legenda gd12">
		<img src="" style="width: 652px; height: 408px" />
		<figcaption>				
			<cite></cite>
			<div></div>
		</figcaption>
	</figure>
	<aside class="context gd6 fl">
		<h3>Titulo da lista</h3>
		<ul>
			<li><a href=""></a></li>
		</ul>
	</aside>
</div>

