<div class="ODiaSuperGaleria Ntc_Supergaleria">

	<div id="rg-gallery" class="rg-gallery">
		<div class="rg-thumbs">

			<div class="es-carousel-wrapper">
				<div class="es-nav">
					<span class="es-nav-prev">Anterior</span>
					<span class="es-nav-next">Próxima</span>
				</div>
				<div class="es-carousel">
					<ul id="small" class="">

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="galeriaHit"></div>

    <h4 class="galerias-outras"><a href="/galerias/">» Veja outras galerias de foto</a></h4>

	<style>
		.content{margin:0}@media screen and (max-width:640px){.rg-caption{width:100%;position:relative !important;top:0;text-align:left;background:#5b5b59;background:rgba(91,91,89,1);-ms-filter:"alpha(opacity=100)";filter:alpha(opacity=100);color:#fff;left:0;padding:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.rg-image-nav{top:22% !important}.rg-image-nav a{background:url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/setas_navegacao_grande.png) no-repeat 0 50% !important}.rg-image-nav a.rg-image-nav-next{right:0;left:auto;background:url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/setas_navegacao_grande.png) no-repeat 100% 50% !important}}.rg-gallery{background:#666}.rg-image-wrapper{position:relative;min-height:20px}.rg-image{position:relative;text-align:center;line-height:0}.rg-image img{height:auto;width:100%;max-width:100% !important}.rg-image-nav{position:absolute;width:100%;z-index:9;top:40%}.rg-image-nav a{position:absolute;top:0;left:0;background:#a5a5a5 url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/setas_navegacao_grande.png) no-repeat 0 50%;width:42px;height:74px;cursor:pointer;text-indent:-9000px;cursor:pointer;opacity:1;outline:0}.rg-image-nav a.rg-image-nav-next{right:0;left:auto;background-position:100% 50%}.rg-image-nav a:hover{opacity:1}.rg-caption{width:100%;position:absolute;text-align:left;background:#5b5b59;background:rgba(91,91,89,0.8);-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);color:#fff;bottom:5px;left:0;padding:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.rg-caption p{display:block;font-size:14px;font-weight:normal;line-height:16px;margin:0 0 10px 0}.rg-caption small{display:block;font-size:11px;color:#ccc;margin:0}.rg-loading{width:46px;height:46px;position:absolute;top:50%;left:50%;background:#000 url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/base/ajax-loader.gif) no-repeat center center;margin:-23px 0 0 -23px;z-index:100;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:.7}.es-carousel-wrapper{background:#000;padding:10px 27px;position:relative}.es-carousel{overflow:hidden;background:#000}.es-carousel ul{display:none}.es-carousel ul li{height:100%;float:left;display:block}.es-carousel ul li a{display:block;border-style:solid;border-color:#222;opacity:.8;-webkit-touch-callout:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.es-carousel ul li.selected a{border-color:#eebe00;opacity:1.0}.es-carousel ul li a img{display:block;border:0;max-height:100%;max-width:100%}.es-nav span{position:absolute;top:50%;left:8px;background:transparent url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/base/nav_thumbs.png) no-repeat top left;width:14px;height:26px;margin-top:-13px;text-indent:-9000px;cursor:pointer;opacity:.8}.es-nav span.es-nav-next{right:8px;left:auto;background-position:top right}.es-nav span:hover{opacity:1.0}body{background:#fff;font:12px arial,helvetica;text-align:center;margin:0;padding:0}ol,ul{list-style:none}a{text-decoration:none;outline:0}#main{width:100%;background-color:#FFF;text-align:left}#container{background-color:#FFF;position:relative;width:100%;display:block}header{border-top:6px solid #303030;background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/bg_header.jpg') #e6e600;height:156px;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}#header-p1{height:115px;width:100%}.kernel{margin:0 auto;width:980px}#logo{float:left;width:207px;margin-top:10px;overflow:hidden}#logo h1 a{float:left;background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/sprite-geral.png') 0 -753px;width:206px;height:57px}#logo h1 a:hover{background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/sprite-geral.png') 0 -811px;width:206px;height:57px}#htools{float:left;width:730px}#sectionname{float:left;width:273px;border:0;height:49px;margin-top:25px;font-family:"Arial Narrow",sans-serif;font-size:34px;padding-top:10px;padding-left:20px;text-transform:uppercase;text-align:left;-webkit-font-smoothing:antialiased;color:#174f82;letter-spacing:-1px}#search fieldset{border:0;margin:0;padding:0}.label-for-search{background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/sprite-geral.png') 0 -273px;width:4px;height:34px;float:left;text-indent:-999px;overflow:hidden}textarea:focus,input:focus{outline:0}#search input#buscar{background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/sprite-geral.png') repeat-x 0 0;font-size:12px;padding-top:10px;padding-bottom:10px;padding-left:9px;padding-right:9px;color:#444;width:180px;height:17px;border:0;float:left;font-style:italic;color:#999}#search input#submit{background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/sprite-geral.png') no-repeat 0 -64px;width:38px;height:37px;border:0;float:left;text-indent:-999px;cursor:pointer}#search input#submit:hover{background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/sprite-geral.png') no-repeat 0 -101px;width:38px;height:37px;cursor:pointer}#search cite{display:none}#search{float:right;border:0;padding-top:10px;margin-top:25px}nav{padding:0;margin:-5px 0 0 0;background:#004c87;display:block;height:40px;position:relative}nav ul{float:left;margin:0;padding:0;display:inline-block}nav>.sharesite{width:343px;float:left;display:inline-block}nav .sharesite>.sharewidget{float:right;margin-left:10px;padding-top:10px;height:31px}.menu-navegacao li{float:left;position:relative;text-align:center;display:inline-block;z-index:9}.menu-navegacao>li:hover .titulo{background:#fff}.menu-navegacao li a .titulo{display:block;font-size:14px;font-weight:bold;float:left;color:#fff;height:28px;padding:13px 0 0 0;display:block;text-transform:uppercase}.menu-navegacao li.capa a .titulo{width:92px}.menu-navegacao>li.capa:hover .titulo{color:#004c87;background:#fff;height:28px;padding:13px 0 0 0;display:block;border-top:1px solid #bbb;moz-box-shadow:0 -4px 0 4px rgba(187,187,187,0.094);-webkit-box-shadow:00px -4px 0 4px rgba(187,187,187,0.094);box-shadow:0 -4px 0 4px rgba(187,187,187,0.094);position:absolute;z-index:9}.menu-navegacao li.noticias a .titulo,.menu-navegacao li.diversao a .titulo,.menu-navegacao li.esporte a .titulo{width:115px;padding-right:17px;background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/seta_off_menu.png') no-repeat 100px 18px}.menu-navegacao>li.noticias:hover .titulo,.menu-navegacao>li.diversao:hover .titulo,.menu-navegacao>li.esporte:hover .titulo{color:#004c87;background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/seta_on_menu.png') no-repeat 100px 18px #fff;height:28px;padding:13px 17px 0 0;display:block;border-left:1px solid #bbb;border-top:1px solid #bbb;moz-box-shadow:0 -4px 0 4px rgba(187,187,187,0.094);-webkit-box-shadow:00px -4px 0 4px rgba(187,187,187,0.094);box-shadow:0 -4px 0 4px rgba(187,187,187,0.094);position:absolute;z-index:9}.menu-navegacao li.classificados a .titulo{width:145px}.menu-navegacao li.classificados a .separador{display:none}.menu-navegacao>li.classificados:hover .titulo{color:#004c87;background:#fff;height:28px;padding:13px 0 0 0;display:block;border-top:1px solid #bbb;moz-box-shadow:0 -4px 0 4px rgba(187,187,187,0.094);-webkit-box-shadow:00px -4px 0 4px rgba(187,187,187,0.094);box-shadow:0 -4px 0 4px rgba(187,187,187,0.094);position:absolute;z-index:9}.menu-navegacao li a .separador{background:url('http://s0.ejesa.ig.com.br/img/odia/supergaleria/separador.png') repeat;width:1px;height:13px;display:block;float:left;margin:14px 0 0 0}.box{visibility:hidden;opacity:0;position:absolute;z-index:8;background:#f7f7f7;border-left:1px solid #bbb;border-right:1px solid #bbb;border-bottom:1px solid #bbb;-webkit-box-shadow:0 0 0 4px rgba(0,0,0,0.094);-moz-box-shadow:0 0 0 4px rgba(0,0,0,0.094);box-shadow:0 0 0 4px rgba(0,0,0,0.094);top:42px;width:132px}.box .editorias{background:#fff;-moz-box-shadow:5px 0 22px -1px rgba(153,153,153,0.5);-webkit-box-shadow:5px 0 22px -1px rgba(153,153,153,0.5);box-shadow:5px 0 22px -1pxrgba(153,153,153,0.5)}.noticias>.box .editorias{width:132px;height:auto;padding-bottom:10px}.diversao>.box .editorias{width:132px;height:auto;padding-bottom:10px}.esporte>.box .editorias{width:132px;height:auto;padding-bottom:10px}.box .editorias .bullets{position:absolute;background-color:#cecece;width:5px;height:5px;top:9px;left:10px}.menu-navegacao .box>.editorias li a{padding:3px 0 3px 19px;display:block;color:#174f82;font-size:13px;text-transform:capitalize;font-weight:bold;width:113px;text-align:left;position:relative}.menu-navegacao .box>.editorias li a:hover{color:#fff;background:#4f65bf}.menu-navegacao .box>.destaque{padding:15px 6px 8px 10px;background:none !important;width:234px;text-align:left;position:absolute;left:132px}.menu-navegacao .box>.destaque .headline-hat{float:left;height:19px;overflow:hidden;padding-bottom:4px;width:100%;font-size:11px;font-weight:bold;text-decoration:none;text-transform:uppercase;color:#999}.menu-navegacao .box>.destaque .headline-title{float:left;overflow:hidden;padding-bottom:10px;width:100%;border-bottom:1px dotted #ccc;margin-bottom:2px}.menu-navegacao .box>.destaque .headline-title a{font-weight:bold;font-size:18px;line-height:20px;color:#069;text-decoration:none !important;display:block;-webkit-transition:all 240ms linear;-moz-transition:all 240ms linear;-ms-transition:all 240ms linear;-o-transition:all 240ms linear;transition:all 240ms linear}.menu-navegacao .box>.destaque .headline-title a:hover{color:#06c}.menu-navegacao .box>.destaque p{font-weight:bold;font-size:11px}.menu-navegacao .box>.destaque p a{color:#069;text-decoration:none !important;display:block;-webkit-transition:all 240ms linear;-moz-transition:all 240ms linear;-ms-transition:all 240ms linear;-o-transition:all 240ms linear;transition:all 240ms linear}.menu-navegacao .box>.destaque p a:hover{color:#06c}.menu-navegacao .box>.pub-float{padding:8px 6px 8px 10px;background:none !important;width:234px;position:absolute;bottom:0;left:132px}.menu-navegacao .box>.pub-float li{clear:both;font-size:10px;color:#666}section div{text-align:left}.placeholder-wrap-content{width:960px;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 auto;min-height:200px;clear:both}.publicidade-top{height:130px;background:url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/pat-publicidade.jpg) repeat;margin:40px 0 30px 0;padding:8px 4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.publicidade-top small{font-size:12px;text-align:right;text-transform:lowercase;color:#7f7f7f;clear:both;display:block;margin:0 0 10px 0}.publicidade-top .intv-1{width:728px}.publicidade-top .intv-2{width:200px;margin-left:0}.publicidade-top .intv-1,.publicidade-top .intv-2{display:inline-block;height:90px;font-size:0}.paginacao ul{margin:0 0 30px 0;padding:0 0 2px 0;display:block;border-bottom:2px solid #d8d8d8}.paginacao ul li a{color:#333}.paginacao ul li{display:inline-block;font-size:12px;line-height:22px;color:#333}.paginacao ul li:after{content:"»"}.paginacao ul li:last-child{font-weight:bold}.paginacao ul li:last-child:after{content:" "}.fotogaleria-repositorio{height:438px;position:relative;overflow:hidden}.shadow-galeria{background:url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/blur-galeria.png) no-repeat center bottom;height:474px}.mais-galerias{width:620px;padding-right:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left}.mais-galerias h3{font-size:18px;line-height:26px;font-weight:normal;margin:4px 0 11px 0;padding:11px;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}.separador-navegacao{padding:5px 0;position:relative}.separador-navegacao .src-box{display:inline-block;padding-right:20px;background:url(http://s0.ejesa.ig.com.br/img/odia/supergaleria/ico-busca.png) no-repeat;width:269px;height:35px}.separador-navegacao .src-box input[type="submit"]{display:none}.separador-navegacao .src-box select{width:115px;background:transparent;border:0;appearance:none;-ms-appearance:none;-webkit-appearance:none;outline:0;color:transparent;cursor:pointer;margin:0;padding:5px 0;color:#fff;display:none}.separador-navegacao .src-box input[type="text"]{margin:10px 0 0 29px;font-style:italic;font-size:12px;font-family:arial,sans-serif;background:#fff}.separador-navegacao .src-box input{appearance:none;background:transparent;outline:0;border:0}.separador-navegacao .breadcrumb-filtro{display:inline-block;vertical-align:top}.separador-navegacao .breadcrumb-filtro ul{margin:0;padding:0}.separador-navegacao .breadcrumb-filtro ul li,.separador-navegacao .breadcrumb-filtro img,.separador-navegacao .breadcrumb-filtro ul,.separador-navegacao .breadcrumb-filtro ul li a{display:inline-block;color:#333}.separador-navegacao .breadcrumb-filtro img{margin:10px 10px 0 0}.separador-navegacao .breadcrumb-filtro ul{margin:3px 0 0 0;vertical-align:top}.separador-navegacao .breadcrumb-filtro ul li:after{content:"»"}.separador-navegacao .breadcrumb-filtro ul li:after:last-child{content:" "}.separador-navegacao .breadcrumb-filtro ul li a{font-size:14px;font-weight:bold;line-height:26px}.escolher-galeria{display:block;clear:both;padding:15px 0;border-bottom:1px solid #d8d8d8}section h1{font-size:26px;font-weight:bold;line-height:28px;margin:30px 0 20px 0}.rg-thumbs{max-width:940px;margin:0 auto}.rg-image-wrapper{max-width:940px;margin:0 auto}h4.galerias-outras{margin-top:20px;}h4.galerias-outras a{color: #069;font-size: 18px;}h4.galerias-outras a:hover{color:#06c;}
	</style>

</div>