<div class="ODiaSuperGaleria">
	<section>
		<div class="placeholder-wrap-content galeria-repositorio" style="min-height:0px;">
			<div class="paginacao" >
				<ul>
					<li><a href="#">O Dia </a></li>
					<li><a href="#">Fotogalerias</a></li>
					<li><a href="#"class="titulo">Título da fotogaleria atual</a></li>
				</ul>
			</div>
			<h1>
				Bold com 26pt e 28pt line height com 1 linha de título #333
			</h1>
		</div>
	</section>

	<div id="rg-gallery" class="rg-gallery">
		<div class="rg-thumbs">

			<div class="es-carousel-wrapper">
				<div class="es-nav">
					<span class="es-nav-prev">Anterior</span>
					<span class="es-nav-next">Próxima</span>
				</div>
				<div class="es-carousel">
					<ul id="small">

					</ul>
				</div>
			</div>

		</div>
	</div>
	<div id="galeriaHit"></div>
	<div class="social">
		<div class="toolsbar">
			<span> Compartilhe essa galeria: </span>
			<div class="tools-face">
				<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="145" data-show-faces="true" data-font="lucida grande" data-action="recommend"></div>
			</div>
			<div class="tools-gplus">
				<g:plusone size="medium" href=""></g:plusone>
			</div>
			<div class="tools-twiter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="" data-via="jornalodia" data-lang="pt" data-related="jornalodia">Tweet</a>
			</div>
		</div>
	</div> 
</div>