<% { %>
    <link rel="stylesheet" type="text/css" media="all" href="http://s0.ejesa.ig.com.br/css/odia20/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://s0.ejesa.ig.com.br/css/odia20/grid.css?v1" />
    <link rel="stylesheet" type="text/css" media="all" href="http://s0.ejesa.ig.com.br/css/odia20/swiper.min.css" />
<% } %>

    <% for (var indiceCpn = 0; this.arquivosEstilosComponentes != null &&  indiceCpn < this.arquivosEstilosComponentes.length; indiceCpn++) {%>
        <link type="text/css" rel="stylesheet" href="<%=this.arquivosEstilosComponentes[indiceCpn]%>" />
    <%}%>

    <% { %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!--[if lt IE 10]>
        <script>
                'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)});
        </script>
    <![endif]-->

    <!--link rel="shortcut icon" type="image/x-icon" href="http://s0.ejesa.ig.com.br/img/meiahora/favicon.ico" /-->
    <% } %>
 