<header class="ODEHED00112" > 

	<div class="ig"  >
		<img src="img/ig.jpg">
	</div>

	<div class="compPub">
		<div class="publicidade">

			<div class="content-publicidade">
				<div class="content" >
					<abbr>Publicidade</abbr>
					<img src="http://placehold.it/768x90" alt="testimg" />						
				</div>
			</div>
		</div>
	</div>

	<div class="amarelo-wrap">
		<div class="faixa_12"  >

			<div class="grid_12"  >

				<div class="menu-principal">
					<span class="toggle-menu"></span>

					<nav class="menu-opcoes">
						<ul>
							<li class="main "><a href="/">Capa</a></li>
							<li class="drop ">
								<a href="javascript:void(0)">Rio de Janeiro</a>
								<ul>
									<li><a href="/">O Dia na Baixada</a></li>
									<li><a href="/">O Dia no estado</a></li>
									<li><a href="/">O Dia Niterói</a></li>
									<li><a href="/">O Dia no coletivo</a></li>
									<li><a href="/">Rio sem fronteiras</a></li>
								</ul>
							</li>
							<li><a href="/">Brasil</a></li>
							<li><a href="/">Economia</a></li>
							<li class="drop ">
								<a href="javascript:void(0)">Mundo &amp; Ciência</a>
								<ul>
									<li><a href="/">xxxxx</a></li>
								</ul>
							</li>
							<li class="drop ">
								<a href="javascript:void(0)">Educação</a>
								<ul>
									<li><a href="/">xxxxx</a></li>
								</ul>
							</li>
							<li class="drop ">
								<a href="javascript:void(0)">Opinião</a>
								<ul>
									<li><a href="/">xxxxx</a></li>
								</ul>
							</li>
							<li><a href="/">Automania</a></li>
							<li><a href="/">Imóveis</a></li>
							<li class="drop ">
								<a href="javascript:void(0)">Diversão</a>
								<ul>
									<li><a href="/">xxxxx</a></li>
								</ul>
							</li>
							<li class="drop ">
								<a href="javascript:void(0)">Esporte</a>
								<ul>
									<li><a href="/">xxxxx</a></li>
								</ul>
							</li>
							<ul class="sub-menu-2">
								<li>
									<ul >
										<li><a href="/">Galeria de fotos</a></li>
										<li><a href="/">Blogs</a></li>
										<li><a href="/">Classificados O Dia</a></li>
										<li><a href="/">Agência O Dia</a></li>
										<li><a href="/">Anuncie</a></li>
										<li><a href="/">Assine</a></li>
										<li><a href="/">Edição Digital</a></li>
									</ul>
								</li>
							</ul>
							<div>
								<ul class="lista-social-materia">
									<li class="outro"><a href="#">...</a></li>
									<li class="facebook"><a href="#">facebook</a></li>
									<li class="twitter"><a href="#">twitter</a></li>
									<li class="google"><a href="#">google +</a></li>
								</ul>
							</div>
					</nav>						
				</div>
				<div class="menu-busca ">
					<span class="toggle-busca"></span>
					<form action="?search">
						<input type="text" placeholder="Buscar">
					</form>
				</div>
				<a class="home-btn" href="">index</a>

			</div>
	
		</div>
	</div>

	<div class="principal-warp">
		<div class="faixa_12"  >

			<div class="grid_12"  >
				<ul>
					<li><a href="#">Capa</a></li>
					<li><a href="#">Rio</a></li>
					<li><a href="#">Diveersão</a></li>
					<li><a href="#">Esporte</a></li>
					<li><a href="#">Economia</a></li>
					<li><a href="#">Brasil</a></li>
					<li><a href="#">Mudo &amp; Ciência </a></li>
					<li><a href="#">Economia</a></li>
					<li><a href="#">Automania</a></li>
					<li><a href="#">Todas as Seções</a></li>
				</ul>
			</div>
		</div>
	</div>

</header>