<div class="comp texto-video">
    <iframe width="178" height="121" frameborder="0" allowfullscreen="allowfullscreen" src=""></iframe>
    <h3></h3>
    <p class="texto"></p>
    <a href="" class="ver">» </a>
</div>