<div class="comp eventos gradient">
    <h3>Calendário de Eventos</h3>
    <ul class="lista">
        <li class="item">
            <span class="data">De 03/04/2012 a 10/05/2012</span>
            <h4>Lorem Ipsum dolor sit amet</h4>
            <p class="texto">
                Adipisicin do eiusm tempor. Lorem ipsum dolor sit am
                et, olor sit amet, consectetur adipisicin do eiusmo tem.
                Dipisic in do eiusm tempor. Ipsum dolor sit amet, olor
                sit ameonc.
            </p>
            <a class="link" href="" title=""><strong>[leia mais]</strong></a>
        </li>
        <li class="item">
            <span class="data">De 03/04/2012 a 10/05/2012</span>
            <h4>Lorem Ipsum dolor sit amet</h4>
            <p class="texto">
                Adipisicin do eiusm tempor. Lorem ipsum dolor sit am
                et, olor sit amet, consectetur adipisicin do eiusmo tem.
                Dipisic in do eiusm tempor. Ipsum dolor sit amet, olor
                sit ameonc.
            </p>
            <a class="link" href="" title=""><strong>[leia mais]</strong></a>
        </li>                        
    </ul>
</div>