<figure class="comp video">
    <div class="content clearfix">
        <iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
        <figcaption>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero ero</figcaption>
    </div>
</figure>