<%{%>
<script>window.jQuery || document.write('<script src="http://static.oiweb.co/inovacao/nocache/js/libs/jquery-1.7.1.min.js">\x3C/script>')</script>
<script src="http://static.oiweb.co/inovacao/nocache/js/script.js"></script>
<%}%>