<div class="comp ecossistema">
    <h3></h3>
    <ul class="clearfix lista">
        <li class="item">
            <a href="" title="">
                <img class="logo" src="" alt="">
            </a>
        </li>
    </ul>
</div>