<div class="comp menu">
    <ul>
        <li><span></span><a href="" class="programa" title="O Programa">O Programa</a></li>
        <li><span></span><a href="" class="parceiros" title="Parceiros">Parceiros</a></li>
        <li><span></span><a href="" class="projetos-premios" title="Projetos e Prêmio">Projetos e Prêmios</a></li>
        <li><span></span><a href="" class="casos-sucesso" title="Casos de Sucesso">Casos de Sucesso</a></li>
        <li><span></span><a href="" class="boletim-noticias" title="oletim de Notícias">Boletim de Notícias</a></li>
        <li><span></span><a href="" class="fale-conosco" title="Fale conosco">Fale conosco</a></li>
    </ul>
</div>
