<div class="comp slideshow">
    <ul class="chamadas">
        <li class="item">
            <a href="foto" class="link"><img class="foto" src=""></a>
            <h3 class="texto">
                <a href="text" class="link"></a>
            </h3>
            <span class="opacity"></span>                        
        </li>
    </ul>
    <a href="ant" class="setas ant">Anterior</a>
    <a href="prox" class="setas prox">Próximo</a>
</div>