<div class="comp noticias gradient">
    <h3>Boletim de Notícias</h3>
    <ul class="lista">
        <li class="item">
            <span class="data">03/04/2012</span>
            <p class="texto">
                Adipisicin do eiusm tempor. Lorem ipsum dolor sit amet, 
                olor sit amet, consectetur adipisicin do eiusmo tem.
                Dipisicin do eiusm tempor. Ipsum dolor sit amet, olor
                sit amet, conctetur adicin do eiusmo.
            </p>
            <a class="link" href="" title=""><strong>[leia mais]</strong></a>
        </li>
        <li class="item">
            <span class="data">03/04/2012</span>
            <p class="texto">
                Adipisicin do eiusm tempor. Lorem ipsum dolor sit amet, 
                olor sit amet, consectetur adipisicin do eiusmo tem.
                Dipisicin do eiusm tempor. Ipsum dolor sit amet, olor
                sit amet, conctetur adicin do eiusmo.
            </p>
            <a class="link" href="" title=""><strong>[leia mais]</strong></a>
        </li>                        
    </ul>
</div>