<div class="ficha-pais">
	<div class="faixa">
		<div id="tabela-pais" class="ficha-pais">
			<header>
				<a href="/paises" class="fr">Todos os países</a>
				<img src="" />
				<h1></h1>
			</header>
			<h2>Sobre o País</h2>
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td class="gd4 title">Capital</td>
					<td class="gd4 capital"></td>
					<td class="gd4 title">Forma de governo</td>
					<td class="gd4 governo"></td>
				</tr>
				<tr>
					<td class="title">Idioma</td>
					<td class="idioma"></td>
					<td class="title">PIB</td>
					<td class="pib"></td>
				</tr>
				<tr>
					<td class="title">Área do território</td>
					<td class="area"></td>
					<td class="title">Moeda</td>
					<td class="moeda"></td>
				</tr>
				<tr>
					<td class="title">População</td>
					<td class="populacao"></td>
					<td class="title">Posição no IDH</td>
					<td class="idh"></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="faixa">
		<div id="pub-Position" class="PPA00612 gd12 fl">
			<ul>
				<li>
				<div id="PPA00612-1">
					<div class="positionDummy">PUBLICIDADE</div>
				</div>
				</li>
				<li>
				<div id="PPA00612-2">
					<div class="positionDummy">PUBLICIDADE</div>
				</div>
				</li>
				<li class="posRight nobdr">
				<div id="PPA00612-3">
					<div class="positionDummy">PUBLICIDADE</div>
				</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="faixa">
		<div id="ultimas-noticias" class="LIASOLR gd6 fl">
			<div class="theId" class="noticia-video"><a class="anchor" name=""></a>
				<input type="hidden" name="id" value="noticias">
				<input type="hidden" name="tipo" value="ultimasNoticias">
				<input type="hidden" name="dominio" value="olimpiadas.ig.com.br">
				<input type="hidden" name="secoes">
				<input type="hidden" name="secoesEH">
				<input type="hidden" name="termos">
				<input type="hidden" name="canal" value="olimpiadas">
				<input type="hidden" name="limit" value="2">
				<input type="hidden" name="hasPagination">
				<input type="hidden" name="tipoConteudo">

				<textarea name="template" style="display:none;"></textarea>
				<textarea name="beforeRender" style="display:none;"></textarea>
				<textarea name="beforeRenderItem" style="display:none;"></textarea>
				<textarea name="afterRender" style="display:none;"></textarea>
				<textarea name="afterRenderItem" style="display:none;"></textarea>
				<textarea name="callback" style="display:none;"></textarea>
			
				<h3>ÚLTIMAS NOTÍCIAS</h3>
				<ul class="container"></ul>
				
				<div class="clear"></div>
				
				<ul class="pagination"></ul>
				
				<div class="clear"></div>
				
				<a class="linkGeral " href="/noticias">Todas as notícias</a>
				
				<div class="clear"></div>
			</div>
		</div>
		<div id="quadro-medalhas" class="gd6 fl" style="display:none">
			<div id="tbl-medalhas-home"></div>
		</div>
		<div id="ficha-olimpica" class="gd6 fl">
			<h2>Ficha Olímpica</h2>
			<table cellpadding="0" cellspacing="0" border="0" class="gd6">
				<tr>
					<td class="num-olimpiadas number">26</td><td>olimpíadas disputadas até hoje</td>
				</tr>
				<tr>
					<td class="num-medalhas number">66</td><td>medalhas conquistadas</td>
				</tr>
				<tr>
					<td class="num-atletas number">7345</td><td>atletas participantes</td>
				</tr>
				<tr>
					<td class="maior-ganhador" colspan="2"><strong>Maior ganhador de medalhas</strong><span>Sergio Martinez</span></td>
				</tr>
				<tr>
					<td colspan="2" class="veja-mais"><a href="">Veja mais dados das Olimpíadas</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="destaquesPan">
		<div class="HEE00412 gd12 fl">
			<h3>Destaques Olimpíadas</h3>
		</div>
		
		<div class="destaques-pan-content gd12">
		</div>
	</div>

</div>