<div>
	<div id="panCalendarioFilter">
		<h3 style="width:213px;">Atletas Brasileiros</h3>
			
		<div id="atletaModal">
			<select name="" id="filterModalidades" class="dropfy">
				<option value="">Todas as modalidades</option>
				<option value="Atletismo">Atletismo</option>
				<option value="Badminton">Badminton</option>
				<option value="Basquete">Basquete</option>
				<option value="Boxe">Boxe</option>
				<option value="Canoagem">Canoagem</option>
				<option value="Ciclismo BMX">Ciclismo BMX</option>
				<option value="Ciclismo MTB">Ciclismo MTB</option>
				<option value="Ciclismo Estrada">Ciclismo Estrada</option>
				<option value="Ciclismo Pista">Ciclismo Pista</option>
				<option value="Esgrima">Esgrima</option>
				<option value="Futebol">Futebol</option>
				<option value="Ginástica artística">Ginástica artística</option>
				<option value="Ginástica rítmica">Ginástica rítmica</option>
				<option value="Ginástica trampolim">Ginástica trampolim</option>
				<option value="Handebol">Handebol</option>	
				<option value="Hipismo">Hipismo</option>
				<option value="Hóquei sobre grama">Hóquei sobre grama</option>
				<option value="Judô">Judô</option>
				<option value="Levantamento de peso">Levantamento de peso</option>
				<option value="Luta">Luta</option>
				<option value="Maratona aquática">Maratona aquática</option>
				<option value="Nado sincronizado">Nado sincronizado</option>
				<option value="Natação">Natação</option>
				<option value="Pentatlo moderno">Pentatlo moderno</option>
				<option value="Polo Aquático">Polo Aquático</option>
				<option value="Remo">Remo</option>
				<option value="Saltos ornamentais">Saltos ornamentais</option>
				<option value="Taekwondo">Taekwondo</option>
				<option value="Tiro com arco">Tiro com arco</option>
				<option value="Tiro esportivo">Tiro esportivo</option>
				<option value="Triatlo">Triatlo</option>
				<option value="Tênis">Tênis</option>
				<option value="Tênis de mesa">Tênis de mesa</option>
				<option value="Vela">Vela</option>
				<option value="Vôlei">Vôlei</option>
				<option value="Vôlei de praia">Vôlei de praia</option>
			</select>
		</div>
		
		
		<div id="atletaGenero">
			<select name="" id="filterModalidades" class="dropfy">
				<option value="">Todos os atletas</option>
				<option value="masculino">Atletas Masculino</option>
				<option value="feminino">Atletas Feminino</option>
			</select>
		</div>
		
		<div class="clear"></div>
	</div>

	<p style="padding:10px 0;">Escolha uma letra:</p>

	<div id="filterDiasCalendario" style="border-top:1px solid #cecece;">
		<ul>
			<li class="letra todos"><a href="#" title="todas as letras" rel="">Todos</a></li>
			<li class="letra"><a href="#" title="letra A" rel="A" id="letra-A">A</a></li>
			<li class="letra"><a href="#" title="letra B" rel="B" id="letra-B">B</a></li>
			<li class="letra"><a href="#" title="letra C" rel="C" id="letra-C">C</a></li>
			<li class="letra"><a href="#" title="letra D" rel="D" id="letra-D">D</a></li>
			<li class="letra"><a href="#" title="letra E" rel="E" id="letra-E">E</a></li>
			<li class="letra"><a href="#" title="letra F" rel="F" id="letra-F">F</a></li>
			<li class="letra"><a href="#" title="letra G" rel="G" id="letra-G">G</a></li>
			<li class="letra"><a href="#" title="letra H" rel="H" id="letra-H">H</a></li>
			<li class="letra"><a href="#" title="letra I" rel="I" id="letra-I">I</a></li>
			<li class="letra"><a href="#" title="letra J" rel="J" id="letra-J">J</a></li>
			<li class="letra"><a href="#" title="letra K" rel="K" id="letra-K">K</a></li>
			<li class="letra"><a href="#" title="letra L" rel="L" id="letra-L">L</a></li>
			<li class="letra"><a href="#" title="letra M" rel="M" id="letra-M">M</a></li>
			<li class="letra"><a href="#" title="letra N" rel="N" id="letra-N">N</a></li>
			<li class="letra"><a href="#" title="letra O" rel="O" id="letra-O">O</a></li>
			<li class="letra"><a href="#" title="letra P" rel="P" id="letra-P">P</a></li>
			<li class="letra"><a href="#" title="letra Q" rel="Q" id="letra-Q">Q</a></li>
			<li class="letra"><a href="#" title="letra R" rel="R" id="letra-R">R</a></li>
			<li class="letra"><a href="#" title="letra S" rel="S" id="letra-S">S</a></li>
			<li class="letra"><a href="#" title="letra T" rel="T" id="letra-T">T</a></li>
			<li class="letra"><a href="#" title="letra U" rel="U" id="letra-U">U</a></li>
			<li class="letra"><a href="#" title="letra V" rel="V" id="letra-V">V</a></li>
			<li class="letra"><a href="#" title="letra W" rel="W" id="letra-W">W</a></li>
			<li class="letra"><a href="#" title="letra X" rel="X" id="letra-X">X</a></li>
			<li class="letra"><a href="#" title="letra Y" rel="Y" id="letra-Y">Y</a></li>
			<li class="letra"><a href="#" title="letra Z" rel="Z" id="letra-Z">Z</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
	<div id="atletasBrasileirosContent"></div>
			
</div>