<div class="olimpiadasAgendaHome gd6 fl">
    
    <ul>
        <li class="dia">
            <dl>
                <dt></dt>
                <dd>Agenda</dd>
            </dl>
        </li>
        <li class="evento">
        </li>
    </ul>
    <a href="http://olimpiadas.ig.com.br/calendario/">Ver agenda completa</a>
    
</div>