<div id="panMedalhasContainer" class="panMedalhas gd12 fr">
	<div id="panMedalhasFilter">
		<h3>Quadro de Medalhas</h3>
		<select name="" id="filterModalidades" class="dropfy">
			<option value="">Todas as modalidades</option>
			<option value="Atletismo">Atletismo</option>
			<option value="Badminton">Badminton</option>
			<option value="Basquete">Basquete</option>
			<option value="Boxe">Boxe</option>
			<option value="Canoagem">Canoagem</option>
			<option value="Caratê">Caratê</option>
			<option value="Ciclismo BMX">Ciclismo BMX</option>
			<option value="Ciclismo Estrada">Ciclismo Estrada</option>
			<option value="Ciclismo MTB">Ciclismo MTB</option>
			<option value="Ciclismo Pista">Ciclismo Pista</option>
			<option value="Esgrima">Esgrima</option>
			<option value="Futebol">Futebol</option>
			<option value="Ginástica artística">Ginástica artística</option>
			<option value="Ginástica rítmica">Ginástica rítmica</option>
			<option value="Ginástica trampolim">Ginástica trampolim</option>
			<option value="Handebol">Handebol</option>	
			<option value="Hipismo">Hipismo</option>
			<option value="Hóquei sobre grama">Hóquei sobre grama</option>
			<option value="Judô">Judô</option>
			<option value="Levantamento de peso">Levantamento de peso</option>
			<option value="Luta">Luta</option>
			<option value="Maratona aquática">Maratona aquática</option>
			<option value="Nado sincronizado">Nado sincronizado</option>
			<option value="Natação">Natação</option>
			<option value="Pentatlo moderno">Pentatlo moderno</option>
			<option value="Polo Aquático">Polo Aquático</option>
			<option value="Raquetebol">Raquetebol</option>
			<option value="Remo">Remo</option>
			<option value="Saltos ornamentais">Saltos ornamentais</option>
			<option value="Taekwondo">Taekwondo</option>
			<option value="Tiro com arco">Tiro com arco</option>
			<option value="Tiro esportivo">Tiro esportivo</option>
			<option value="Triatlo">Triatlo</option>
			<option value="Tênis">Tênis</option>
			<option value="Tênis de mesa">Tênis de mesa</option>
			<option value="Vela">Vela</option>
			<option value="Vôlei">Vôlei</option>
			<option value="Vôlei de praia">Vôlei de praia</option>
		</select>
		<div class="clear"></div>
	</div>
	
	<style type="text/css">
		
	</style>
	
	<table id="panMedalhas" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="pos nobd-r"><img class="spacer" src="data:image/png;base64" alt="" width="15" height="1px"/></th>
				<th class="pais">País <img class="spacer" src="data:image/png;base64" alt="" width="235" height="1px"/></th>
				<th class="ouro"><a href="" class="ordem desc" rel="ouro">Ouro</a></th>
				<th class="prata"><a href="" class="ordem desc" rel="prata">Prata</a></th>
				<th class="bronze"><a href="" class="ordem desc" rel="bronze">Bronze</a></th>
				<th class="total"><a href="" class="ordem desc" rel="total">Total</a></th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody></tbody>
	</table>
	
</div>
<!-- #panMedalhas -->