<div id="panCalendarioContainer" class="arenaJogosIndice gd12 fr">
	<div id="panCalendarioFilter">
		<h3>Resultados</h3>
		<span class="strFiltrar">Filtrar: </span>
		
		<div id="filterTodosPaisesBrasil">
			<input type="radio" id="filterTodosPaises" name="paises" value="" checked="checked"/>
			<label for="todosPaises" class="todos">Todos os países</label>
			<input type="radio" id="filterBrasil" name="paises" value="sim"/>
			<label for="todosPaises">Brasil</label>
		</div>
		
		<select name="filterModalidades" id="filterModalidades" class="dropfy">
			<option value="">Todas as modalidades</option>
			<option value="Atletismo">Atletismo</option>
			<option value="Canoagem">Canoagem</option>
			<option value="Ciclismo estrada">Ciclismo estrada</option>
			<option value="Basquete">Basquete</option>
			<option value="Boxe">Boxe</option>
			<option value="Ciclismo BMX">Ciclismo BMX</option>
			<option value="Handebol">Handebol</option>
			<option value="Esgrima">Esgrima</option>
			<option value="Futebol">Futebol</option>
			<option value="Ginástica artística">Ginástica artística</option>
			<option value="Hipismo">Hipismo</option>
			<option value="Judô">Judô</option>
			<option value="Levantamento de peso">Levantamento de peso</option>
			<option value="Luta">Luta</option>
			<option value="Nado sincronizado">Nado sincronizado</option>
			<option value="Natação">Natação</option>
			<option value="Pentatlo moderno">Pentatlo moderno</option>
			<option value="Polo aquático">Polo aquático</option>
			<option value="Remo">Remo</option>
			<option value="Saltos ornamentais">Saltos ornamentais</option>
			<option value="Taekwondo">Taekwondo</option>
			<option value="Triatlo">Triatlo</option>
			<option value="Tênis">Tênis</option>
			<option value="Tênis de mesa">Tênis de mesa</option>
			<option value="Vela">Vela</option>
			<option value="Vôlei">Vôlei</option>
			<option value="Vôlei de praia">Vôlei de praia</option>
			<option value="Badminton">Badminton</option>
			<option value="Ciclismo MTB">Ciclismo MTB</option>
			<option value="Ciclismo pista">Ciclismo pista</option>
			<option value="Hóquei sobre grama">Hóquei sobre grama</option>
			<option value="Maratona aquática">Maratona aquática</option>
			<option value="Tiro com arco">Tiro com arco</option>
			<option value="Ginástica rítmica">Ginástica rítmica</option>
			<option value="Ginástica trampolim">Ginástica trampolim</option>
			<option value="Tiro esportivo">Tiro esportivo</option>
		</select>
		<div class="clear"></div>
	</div>
	
	<div id="filterDiasCalendario">
		<ul>
			<li class="todos"><a href="" title="todos os dias" rel="" id="dia-todos">Todos</a></li>
			<li class="dia"><a href="#" title="dia 25" rel="25" id="dia-25">25</a></li>
			<li class="dia"><a href="#" title="dia 26" rel="26" id="dia-26">26</a></li>
			<li class="dia"><a href="#" title="dia 27" rel="27" id="dia-27">27</a></li>
			<li class="dia"><a href="#" title="dia 28" rel="28" id="dia-28">28</a></li>
			<li class="dia"><a href="#" title="dia 29" rel="29" id="dia-29">29</a></li>
			<li class="dia"><a href="#" title="dia 30" rel="30" id="dia-30">30</a></li>
			<li class="dia"><a href="#" title="dia 31" rel="31" id="dia-31">31</a></li>
			<li class="dia"><a href="#" title="dia 01" rel="01" id="dia-01">01</a></li>
			<li class="dia"><a href="#" title="dia 02" rel="02" id="dia-02">02</a></li>
			<li class="dia"><a href="#" title="dia 03" rel="03" id="dia-03">03</a></li>
			<li class="dia"><a href="#" title="dia 04" rel="04" id="dia-04">04</a></li>
			<li class="dia"><a href="#" title="dia 05" rel="05" id="dia-05">05</a></li>
			<li class="dia"><a href="#" title="dia 06" rel="06" id="dia-06">06</a></li>
			<li class="dia"><a href="#" title="dia 07" rel="07" id="dia-07">07</a></li>
			<li class="dia"><a href="#" title="dia 08" rel="08" id="dia-08">08</a></li>
			<li class="dia"><a href="#" title="dia 08" rel="09" id="dia-09">09</a></li>
			<li class="dia"><a href="#" title="dia 10" rel="10" id="dia-10">10</a></li>
			<li class="dia"><a href="#" title="dia 11" rel="11" id="dia-11">11</a></li>
			<li class="dia"><a href="#" title="dia 12" rel="12" id="dia-12">12</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<!-- #filterDiasCalendario -->
	
	<div class="legenda">
		<span>Legenda</span>
		
		<img src="http://i0.ig.com/canais/esporte/images/icon-mundial.png" alt="" />
		<strong class="mundial">Recorde Mundial</strong>
		
		<img src="http://i0.ig.com/canais/esporte/images/icon-pan.png" alt="" />
		<strong class="pan">Recorde Olimpíadas</strong>
		
		<img src="http://i0.ig.com/canais/esporte/images/icon-class.png" alt="" />
		<strong class="class">Classificado</strong>
	</div>
	
	<table id="panCalendario" cellpadding="0" cellspacing="0" class="resultado">
		<thead>
			<tr>
				<th><img class="spacer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////fwAJ+wP9CNHoHgAAAABJRU5ErkJggg==" alt="" width="43" height="1px"/></th>
				<th><img class="spacer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////fwAJ+wP9CNHoHgAAAABJRU5ErkJggg==" alt="" width="73" height="1px"/></th>
				<th><img class="spacer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////fwAJ+wP9CNHoHgAAAABJRU5ErkJggg==" alt="" width="198" height="1px"/></th>
				<th><img class="spacer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////fwAJ+wP9CNHoHgAAAABJRU5ErkJggg==" alt="" width="233" height="1px"/></th>
				<th><img class="spacer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4////fwAJ+wP9CNHoHgAAAABJRU5ErkJggg==" alt="" width="100" height="1px"/></th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody><!-- EVENTOS --></tbody>
	</table>
</div>
<!-- #panCalendario -->