<div class="pan-ao-vivo gd12 fl">
	<div class="placar-principal">
		<header><strong>Tenis masculino</strong> <span>2º set</span></header>
		<figure class="time1 fl">
			<figcaption class="fl"></figcaption>
			<img src="" alt=""  width="48" height="36" />
		</figure>
		<div class="fl pad">
			<span class="placar placar1 fl"></span>
			<span class="versus fl"><img src="http://i0.ig.com/canais/esporte/images/sprite.png?v=0.2" /></span>
			<span class="placar placar2 fl"></span>
		</div>
		<figure class="time2 fl">
			<img src="" alt=""  width="48" height="36" class="fl"/>
			<figcaption class="fl"></figcaption>
		</figure>
		<a href="#" alt="Acompanhe ao vivo" class="button fr acompanhe">Acompanhe</a>

	</div>
	<p class="narracao"></p>
</div>