<div class="pan-ao-vivo pan-ao-vivo2 gd12 fl">
	<div class="placar-principal">
		<header><strong></strong> <span></span></header>
		<div class="times fl">
			<div class="placar fr">
				<span class="placar placar1 fl"></span>
				<span class="versus fl"><img src="http://i0.ig.com/canais/esporte/images/sprite.png?v=0.2" /></span>
				<span class="placar placar2 fl"></span>
			</div>
			<figure class="time1 fl">
				<figcaption class="fl"></figcaption>
				<img src="" alt=""  width="48" height="36" />
				<span class="jogador"></span>
				<span class="saque"></span>
			</figure>
			<figure class="time2 fl">
				<figcaption class="fl"></figcaption>
				<img src="" alt=""  width="48" height="36" class="fl"/>
				<span class="jogador"></span>
				<span class="saque"></span>
			</figure>
		</div>
		<ul class="placar">
			<li>
				<div class="first"></div>
				<div class="second"></div>
			</li>
		</ul>
	
		<a href="#" alt="Acompanhe ao vivo" class="button fr acompanhe">Acompanhe</a>
	</div>
	<p class="narracao"></p>
</div>