<div id="panCalendarioContainer" class="panCalendario gd12 fr">
	<div id="panCalendarioFilter">
		<h3>Calendário do Pan</h3>
		<span class="strFiltrar">Filtrar: </span>
		
		<div id="filterTodosPaisesBrasil">
			<input type="radio" id="filterTodosPaises" name="paises" value="" checked="checked"/>
			<label for="todosPaises" class="todos">Todos os países</label>
			<input type="radio" id="filterBrasil" name="paises" value="sim"/>
			<label for="todosPaises">Brasil</label>
		</div>
		
		<select name="" id="filterModalidades" class="dropfy">
			
			<option value="">Todas as modalidades</option>
			<option value="Atletismo">Atletismo</option>
			<option value="Badminton">Badminton</option>
			<option value="Basquete">Basquete</option>
			<option value="Beisebol">Beisebol</option>
			<option value="Boliche">Boliche</option>
			<option value="Boxe">Boxe</option>
			<option value="Canoagem">Canoagem</option>
			<option value="Caratê">Caratê</option>
			<option value="Ciclismo BMX">Ciclismo BMX</option>
			<option value="Ciclismo Estrada">Ciclismo Estrada</option>
			<option value="Ciclismo MTB">Ciclismo MTB</option>
			<option value="Ciclismo Pista">Ciclismo Pista</option>
			<option value="Esgrima">Esgrima</option>
			<option value="Esqui Aquático">Esqui Aquático</option>
			<option value="Futebol">Futebol</option>
			<option value="Ginástica artística">Ginástica artística</option>
			<option value="Ginástica rítmica">Ginástica rítmica</option>
			<option value="Ginástica trampolim">Ginástica trampolim</option>
			<option value="Handebol">Handebol</option>
			<option value="Hipismo">Hipismo</option>
			<option value="Hóquei sobre grama">Hóquei sobre grama</option>
			<option value="Judô">Judô</option>
			<option value="Levantamento de peso">Levantamento de peso</option>
			<option value="Luta">Luta</option>
			<option value="Maratona aquática">Maratona aquática</option>
			<option value="Nado sincronizado">Nado sincronizado</option>
			<option value="Natação">Natação</option>
			<option value="Patinação artística">Patinação artística</option>
			<option value="Patinação velocidade">Patinação velocidade</option>
			<option value="Pelota basca">Pelota basca</option>
			<option value="Pentatlo moderno">Pentatlo moderno</option>
			<option value="Polo Aquático">Polo Aquático</option>
			<option value="Raquetebol">Raquetebol</option>
			<option value="Remo">Remo</option>
			<option value="Rúgbi 7">Rúgbi 7</option>
			<option value="Saltos ornamentais">Saltos ornamentais</option>
			<option value="Softbol">Softbol</option>
			<option value="Squash">Squash</option>
			<option value="Taekwondo">Taekwondo</option>
			<option value="Tiro com arco">Tiro com arco</option>
			<option value="Tiro esportivo">Tiro esportivo</option>
			<option value="Triatlo">Triatlo</option>
			<option value="Tênis">Tênis</option>
			<option value="Tênis de mesa">Tênis de mesa</option>
			<option value="Vela">Vela</option>
			<option value="Vôlei">Vôlei</option>
			<option value="Vôlei de praia">Vôlei de praia</option>
		</select>
		<div class="clear"></div>
	</div>
	
	<div id="filterDiasCalendario">
		<ul>
			<li class="todos"><a href="" title="todos os dias" rel="" id="dia-todos">Todos</a></li>
			<li class="dia"><a href="#" title="dia 14" rel="14" id="dia-14">14</a></li>
			<li class="dia"><a href="#" title="dia 15" rel="15" id="dia-15">15</a></li>
			<li class="dia"><a href="#" title="dia 16" rel="16" id="dia-16">16</a></li>
			<li class="dia"><a href="#" title="dia 17" rel="17" id="dia-17">17</a></li>
			<li class="dia"><a href="#" title="dia 18" rel="18" id="dia-18">18</a></li>
			<li class="dia"><a href="#" title="dia 19" rel="19" id="dia-19">19</a></li>
			<li class="dia"><a href="#" title="dia 20" rel="20" id="dia-20">20</a></li>
			<li class="dia"><a href="#" title="dia 21" rel="21" id="dia-21">21</a></li>
			<li class="dia"><a href="#" title="dia 22" rel="22" id="dia-22">22</a></li>
			<li class="dia"><a href="#" title="dia 23" rel="23" id="dia-23">23</a></li>
			<li class="dia"><a href="#" title="dia 24" rel="24" id="dia-24">24</a></li>
			<li class="dia"><a href="#" title="dia 25" rel="25" id="dia-25">25</a></li>
			<li class="dia"><a href="#" title="dia 26" rel="26" id="dia-26">26</a></li>
			<li class="dia"><a href="#" title="dia 27" rel="27" id="dia-27">27</a></li>
			<li class="dia"><a href="#" title="dia 28" rel="28" id="dia-28">28</a></li>
			<li class="dia"><a href="#" title="dia 29" rel="29" id="dia-29">29</a></li>
			<li class="dia"><a href="#" title="dia 30" rel="30" id="dia-30">30</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<!-- #filterDiasCalendario -->
	
	<table id="panCalendario" cellpadding="0" cellspacing="0">
		<thead></thead>
		<tfoot></tfoot>
		<tbody><!-- EVENTOS --></tbody>
	</table>
	
	<a href="#" class="btnVerMais">Ver mais</a>
</div>
<!-- #panCalendario -->