<div>
	<div id="C974B39A-C3FE-4AFE-AA3F-C431F7DEEF95" class="faixa">
		<div class="CHE11612 gd12 fl" id="8F5644B2-19E6-403F-A1BE-AABB95D1B184">
			<div id="panModalidades" class="headerModalidades">
				<h3>
				<span class="ico "></span>
				<strong>Atletismo</strong>
				</h3>
				<input type="hidden" id="currModal" value="atletismo">
				<select name="modals" id="modals" class="dropfy"></select>
				<div class="clear">
				</div>
			</div>
			
		</div>
		<div class="CHE09312 gd12 fl" id="F08A582C-4EA2-462C-B6B1-26D4422E2034">
			<div>
				<h2>
				<a href="#" title="Bolt vai à final dos 200m rasos">Bolt vai à final dos 200m rasos</a>
				</h2>
				<span>Bolt vai à final dos 200m rasos Bolt vai à final dos 200m rasos Bolt vai à final dos 200m rasos Bolt vai à final dos 200m rasos </span>
			</div>
			<a href="#" title="Bolt vai à final dos 200m rasos">
			<img width="652" height="278" alt="" src="http://i0.ig.com/bancodeimagens/9t/19/l6/9t19l6xtliydwmlftyre1m182.jpg">
			</a>
		</div>
	</div>
	<div id="27DA4A06-C25E-4FA1-AFFE-450D4471F019" class="faixa">
		<div class="PanSelosLinks gd12 fl nomgr nomgt" id="7A67EAFC-7C1F-4383-86B1-2512C10720DC">
			<h3 class="calendario">
				<a href="/panamericano/calendario" title="Ir para Calendário">
					<big>Calendário</big>
					<small>Todos os eventos do Pan</small>
				</a>
			</h3>
			<h3 class="medalhas">
				<a href="/panamericano/quadro-de-medalhas" title="Ir para Medalhas">
					<big>Medalhas</big>
					<small>Veja a colocação dos países</small>
				</a>
			</h3>
			<h3 class="ranking">
				<a href="/panamericano/resultados/" title="Ir para Resultados">
					<big>Resultados</big>
					<small>Vitórias, recordes e mais</small>
				</a>
			</h3>
			<div class="clear"></div>
		</div>
	</div>
	<div id="E8352615-F1D3-4221-9D71-C20817EF6052" class="faixa">
		<div class="LIA06006 gd6 fl" id="28FE06E4-2D3A-4B7A-A948-141EBF40F4A1">
			<div class="theId" id="noticias">
				<input type="hidden" name="id" value="noticias">
				<input type="hidden" name="tipo" value="normal">
				<input type="hidden" name="q_ids_secoes">
				<input type="hidden" name="q_site" value="esporte">
				<input type="hidden" name="q_url_site" value="http://esporte.ig.com.br">
				<input type="hidden" name="q_termos" value="" id="noticiasTermos">
				<input type="hidden" name="max_resultados" value="3">
				<h3 id="UltimasNot">Notícias</h3>
				<ul id="container_ultimas">
				</ul>
				<a class="linkGeral " href="/panamericano/noticias/">Mais notícias direto do Pan</a>
			</div>
			
		</div>
		<input type="hidden" id="termosFoto" />
		<div class="HEE01606 gd6 fl nomgr" id="B3ADD069-85B0-4667-8DA5-4FDE549B8FF4">
			<h3>Fotos</h3>
		</div>
		<div class="CHE00206 gd6 fl nomgr" id="E7264F8E-426B-4998-BC7B-CFE91574E23C">
			
		</div>
	</div>
	<div id="66BC9315-057D-42F7-A480-B653531CB3F1" class="faixa">
		<div class="HEE00412 gd12 fl" id="C5FE4CD9-8CC7-4E52-8A90-8ACEFC39020E">
			<h3>Atletas Brasileiros</h3>
		</div>
		<div class="atletas-br-content"></div>
		
		<div class="clear"></div>
		
		<a href="#" id="atletas-br-lista-completa"><strong>Veja lista completa</strong></a>
	</div>
	<div id="0BD51A62-D451-4867-9F40-A6E5D628202D" class="faixa">
		<div class="CHE02212 gd12 nomgr nomgt">
			<div id="panModalidades">
				<div class="header">
					<h3>Modalidades</h3>
				</div>
				
				<div id="panModalidadesContent"></div>
			</div>
		</div>
	</div>
	<div id="destaquesPan" class="faixa">
		<div class="HEE00412 gd12 fl" id="D5471E3F-F0E4-43B2-832A-86A1CE564961">
			<h3>Destaques Pan 2011</h3>
		</div>
		
		<div class="destaques-pan-content">
		</div>
	</div>
</div>