<div>
	<div id="C974B39A-C3FE-4AFE-AA3F-C431F7DEEF95" class="faixa">
		<div class="CHE11612 gd12 fl" id="8F5644B2-19E6-403F-A1BE-AABB95D1B184">
			<div id="panModalidades" class="headerModalidades" style="margin-bottom:10px;">
				<h3>
				<strong>Glossário Pan-Americano 2011</strong>
				</h3>
				<input type="hidden" id="currModal" value="atletismo">
				<select name="modals" id="modals" class="dropfy"></select>

				<div class="clear">
				</div>
			</div>
		</div>
		
		<p style="padding:10px 0;">Escolha uma letra:</p>

		<div id="filterDiasCalendario" style="border-top:1px solid #cecece;">
			<ul>
				<li class="letra todos"><a href="/panamericano/atletas/" title="todas as letras" rel="">Todos</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/A" title="letra A" rel="A" id="letra-A">A</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/B" title="letra B" rel="B" id="letra-B">B</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/C" title="letra C" rel="C" id="letra-C">C</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/D" title="letra D" rel="D" id="letra-D">D</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/E" title="letra E" rel="E" id="letra-E">E</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/F" title="letra F" rel="F" id="letra-F">F</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/G" title="letra G" rel="G" id="letra-G">G</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/H" title="letra H" rel="H" id="letra-H">H</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/I" title="letra I" rel="I" id="letra-I">I</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/J" title="letra J" rel="J" id="letra-J">J</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/K" title="letra K" rel="K" id="letra-K">K</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/L" title="letra L" rel="L" id="letra-L">L</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/M" title="letra M" rel="M" id="letra-M">M</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/N" title="letra N" rel="N" id="letra-N">N</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/O" title="letra O" rel="O" id="letra-O">O</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/P" title="letra P" rel="P" id="letra-P">P</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/Q" title="letra Q" rel="Q" id="letra-Q">Q</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/R" title="letra R" rel="R" id="letra-R">R</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/S" title="letra S" rel="S" id="letra-S">S</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/T" title="letra T" rel="T" id="letra-T">T</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/U" title="letra U" rel="U" id="letra-U">U</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/V" title="letra V" rel="V" id="letra-V">V</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/W" title="letra W" rel="W" id="letra-W">W</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/X" title="letra X" rel="X" id="letra-X">X</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/Y" title="letra Y" rel="Y" id="letra-Y">Y</a></li>
				<li class="letra"><a href="/panamericano/atletas/#letra/Z" title="letra Z" rel="Z" id="letra-Z">Z</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div id="glossarioContent"></div>
		
	</div>
</div>