<div class="PanSelosLinks gd12 nomgr nomgt">
	<h3 class="calendario">
		<a href="/panamericano/calendario/#brasil" title="Ir para Calendário">
			<big>Calendário</big>
			<small>Todos os eventos do Pan</small>
		</a>
	</h3>
	<h3 class="medalhas">
		<a href="/panamericano/quadro-de-medalhas/#brasil" title="Ir para Medalhas">
			<big>Medalhas</big>
			<small>Veja a colocação dos países</small>
		</a>
	</h3>
	<h3 class="ranking">
		<a href="/panamericano/resultados/#brasil" title="Ir para Ranking">
			<big>Resultados</big>
			<small>Vitórias, recordes e mais</small>
		</a>
	</h3>
</div>