.parceiroRetranca{margin-right:20px}
.parceiroRetranca .header-parceiro{height:31px}
.parceiroRetranca .header-parceiro h3{float:left;line-height:31px}
.parceiroRetranca .header-parceiro a{float:right;display:block;line-height:31px}
.parceiroRetranca .header-parceiro a span{font:bold 12px Arial}
.parceiroRetranca .header-parceiro a img{float:right;margin-left:20px}