<div class="parceiroTimeOut3Itens12 gd12 fl ">
    <div class="p1">
        <input type="hidden" name="parcTimeOutjsonURL1" />
        <input type="hidden" name="parcTimeOutgrupo1" />
        <div class="header-timeout">
          <h2></h2>
          <a href="" target=""><span></span></a>
        </div>
        <ul></ul>
    </div>
    
    <div class="p2">
        <input type="hidden" name="parcTimeOutjsonURL2" />
        <input type="hidden" name="parcTimeOutgrupo2" />
        <div class="header-timeout">
          <h2></h2>
          <a href="" target=""><span></span></a>
        </div>
        <ul></ul>
    </div>
</div>