.parceiroTimeOut3Itens12{margin-right: 20px}
.parceiroTimeOut3Itens12 .header-timeout{height:31px}
.parceiroTimeOut3Itens12 .header-timeout h2{float:left;line-height:31px}
.parceiroTimeOut3Itens12 .header-timeout a{float:right;display:block;line-height:31px}
.parceiroTimeOut3Itens12 .header-timeout a span{font:bold 12px Arial}
.parceiroTimeOut3Itens12 .header-timeout a img{float:right;margin-left:20px}
.parceiroTimeOut3Itens12 ul{float:left;width:652px}
.parceiroTimeOut3Itens12 ul li{float:left;margin-right:20px}
.parceiroTimeOut3Itens12 ul li p {float: left;padding: 7px 0 0;width: 148px}
.parceiroTimeOut3Itens12 ul li p span a {display: block;font: normal 12px Arial;clear: both;line-height: 14px;color: #333}
.parceiroTimeOut3Itens12 ul li p cite a {display: block;font:bold 14px Arial;padding: 0;clear: both;line-height: 18px}
.parceiroTimeOut3Itens12 ul li img {display: block}
.parceiroTimeOut3Itens12 div.p1{float:left;margin-bottom:20px;}