<div class="parceiroRetranca ">
    <div class="header-parceiro">
      <h3></h3>
      <a href="" target="">
        <span></span>
        <img width="88" height="31" alt="" src="" />
      </a>
    </div>
</div>