.parceiroCoquelux12 .retranca{float:left;margin-bottom:15px;width:652px} 
.parceiroCoquelux12 .retranca h3{float:left;font:18px Arial;text-transform:uppercase;color:#333}
.parceiroCoquelux12 .retranca span{float:right;padding-top:2px;width:146px;font:11px Arial;color:#666}
.parceiroCoquelux12 .retranca span a img{float:right;margin-top:1px}
.parceiroCoquelux12 ul li{float:left;margin-right:20px;width:148px}
.parceiroCoquelux12 ul li.last{margin-right:0}
.parceiroCoquelux12 ul li a img{float:left;margin-bottom:9px;border:1px solid #E5E5E5}
.parceiroCoquelux12 ul li a:hover{text-decoration:none}
.parceiroCoquelux12 ul li a strong{display:block;margin-bottom:5px;font:bold 12px Arial;color:#333}
.parceiroCoquelux12 ul li a strong:hover{text-decoration:underline}
.parceiroCoquelux12 ul li a span{display:block}
.parceiroCoquelux12 ul li a span.marca{margin-bottom:4px;font:12px Arial;color:#333}
.parceiroCoquelux12 ul li a span.preco-de{font:14px Arial;color:#999}
.parceiroCoquelux12 ul li a span.preco-de del{text-decoration:line-through}
.parceiroCoquelux12 ul li a span.preco-por{font:14px Arial}
.parceiroCoquelux12 ul li a span.preco-por ins{font-weight:bold}