<div class="parceiroTimeOutCultura12 gd12 fl">

    <ul class="tabs-tipos">
        <li class="tab-cidades um "><a href="javascript:void(0);" class="clickCidade" data-item="1"></a></li>
        <li class="tab-cidades dois "><a href="javascript:void(0);" class="clickCidade" data-item="2"></a></li>
    </ul>
    <div class="links">
        <ul class="tabs-links">
            <li><a href="" class="um "></a></li>
            <li><a href="" class="dois "></a></li>
        </ul>
    </div>
    <ul class="dias ">

    </ul>

    <input type="hidden" name="timeOutCulturaItens" value="">
    <input type="hidden" name="timeOutCulturaCorte" value="">
    <input type="hidden" name="timeOutCulturaGrupo" value="1">
        
    <input type="hidden" name="geoTrk" value="">

    <input type="hidden" name="timeOutCultura1json" value="">
    <input type="hidden" name="timeOutCultura1grupo" value="">
    <input type="hidden" name="timeOutCultura2json" value="">
    <input type="hidden" name="timeOutCultura2grupo" value="">
        
    <input type="hidden" name="timeOutCulturaDia" value="">

    <ul class="resposta">

    </ul>

</div>