<div class="parceiroCoquelux12 gd12 fl">
	      <input type="hidden" name="urlXML" id="urlXML" value="">
	      <div class="retranca">
		<h3>Loja Delas</h3>
		<span>Curadoria <a href="http://coquelux.ig.com.br" target="coquelux"><img src="http://i0.ig.com/parceiros/coquelux/img//logo-coquelux.jpg" title="Coquelux" /></a></span>
	      </div>
	      <ul>
	      </ul>
</div>