<div class="parceiroTimeOutTurismo12 gd12">
    <input type="hidden" name="parcTimeOutjsonURLT" />
    <input type="hidden" name="parcTimeOutgrupoT" />
    <input type="hidden" name="parcTimeOutclassificaT" />
    <input type="hidden" name="parcTimeOutcorteparceiroT" />
    <div class="header-timeout">
      <h3>Guias de viagem</h3>
      <a href="" target="TimeOut"><span>mais destinos</span><img width="88" height="31" alt="" class="lazy-load" data-src="" src="http://i0.ig.com/ig/images/transparent.gif" /></a>
    </div>
    <ul></ul>
</div>