.parceiroTimeOutHomeSP12{margin-top:0px;min-height:410px;}
.parceiroTimeOutHomeSP12 .links h2{float:left;color:#333;font: normal 18px/22px Arial;text-transform: uppercase;}
.parceiroTimeOutHomeSP12 .links .tabs-links{float:right;margin-top:5px;}
.parceiroTimeOutHomeSP12 .links .tabs-links a{color:#495892;}
.parceiroTimeOutHomeSP12 .dias{margin-top:40px;}
.parceiroTimeOutHomeSP12 .dias li{margin:0px;float:left;}
.parceiroTimeOutHomeSP12 .dias li a{display:block;width:92px;height:44px;color:#304c6b;background-color:#f1f1f1;text-align:center;padding-top:6px;border-right:1px solid #fff;}
.parceiroTimeOutHomeSP12 .dias li a.aceso{display:block;width:92px;height:44px;color:#fff;background-color:#304c6b;text-align:center;padding-top:6px;border-right:1px solid #fff;}
.parceiroTimeOutHomeSP12 .dias li a:hover{text-decoration:none;color:#304c6b;background-color:#e6e6e6;}
.parceiroTimeOutHomeSP12 .dias li small{font-size:12px;}
.parceiroTimeOutHomeSP12 .dias li cite{font-size:24px;font-style:normal;margin-top:0px;display:block;font-weight:bold;}
.parceiroTimeOutHomeSP12 .w93{width:93px!important;}

.parceiroTimeOutHomeSP12{margin-right:20px}
.parceiroTimeOutHomeSP12 ul.resposta{float:left;width:652px;margin-top:20px;min-height:180px;}
.parceiroTimeOutHomeSP12 ul.resposta li{float:left;margin-right:20px}
.parceiroTimeOutHomeSP12 ul.resposta li p {float:left;padding:7px 0 0;width:148px}
.parceiroTimeOutHomeSP12 ul.resposta li p span{display:block;font:bold 11px Arial;clear:both;line-height:14px;color:#333;text-transform:uppercase;}
.parceiroTimeOutHomeSP12 ul.resposta li p span.periodo{display:block;font:normal 12px Arial;clear:both;line-height:14px;color:#333;text-transform:none;}
.parceiroTimeOutHomeSP12 ul.resposta li p cite a {display:block;font:bold 14px Arial;padding:0;clear:both;line-height:18px;color:#495892;margin-bottom:3px;}
.parceiroTimeOutHomeSP12 ul.resposta li img {display:block}
.parceiroTimeOutHomeSP12 ul.classificacao{display:none;}
.parceiroTimeOutHomeSP12 ul.classificacao li{background-color:gray;display:inline-block;}
.parceiroTimeOutHomeSP12 ul.classificacao li.acende{background-color:gold;}

.parceiroTimeOutHomeSP12 .tabs-links li a{display:block;font-weight:bold;}
.parceiroTimeOutHomeSP12 .tabs-links li a.selected{display:block;}

.parceiroTimeOutHomeSP12 ul.highlights li{float:left;margin-right:20px;}

.parceiroTimeOutHomeSP12 .hoche07506{margin-right:0px!important;min-height:63px;}

.parceiroTimeOutHomeSP12 .headerCidade{margin-bottom:20px;border-top: 2px solid #6D8495;background: url(http://i0.ig.com/ig/images/bg-retranca.gif);padding: 0;height: 45px;line-height: 44px;}
.parceiroTimeOutHomeSP12 .headerCidade h2{float:left;font-size:1.667em;margin-left:12px;}
.parceiroTimeOutHomeSP12 .headerCidade h2 a{float:left;color: #3B454E;background-position: right -322px;padding-right: 15px;position: relative;top: 0;right: 0;}
.parceiroTimeOutHomeSP12 .headerCidade h2 a span {color:#08629A;font-size: 1em;font-weight: normal;letter-spacing: -4px;text-indent: -1500em;}
.parceiroTimeOutHomeSP12 .headerCidade a img{float:right;margin:7px 8px 0 0;}