.parceiroOdiaClassificados12{
        width:654px;
        height:266px;
        background:#F8F8F8;
        padding-top:20px;
        border:1px solid #D6D7D9;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    }
    .parceiroOdiaClassificados12 h3{margin:0 0 19px 19px;color:#333;font:bold 18px arial;}
    .parceiroOdiaClassificados12 input.campoBusca{
        margin-left:19px;
        width:383px;
        height:33px;
        
        border:1px solid #D6D7D9;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        box-shadow: inset 0px 0px 20px rgba(248, 245, 235, 0.80);
        -moz-box-shadow: inset 0px 0px 20px rgba(248, 245, 235, 0.80);
        -webkit-box-shadow: inset 0px 0px 20px rgba(248, 245, 235, 0.80);
        font-size:14px;padding:0 5px 0 5px;
        font:12px Arial!important;
        color:#666;
        font-style:italic!important;
        
    }
    .parceiroOdiaClassificados12 ul{margin-top:19px;}
    .parceiroOdiaClassificados12 li{float:left;margin-left:19px;width:139px;height:138px;}
    .parceiroOdiaClassificados12 li a{display:block;width:139px;height:138px;}
    .parceiroOdiaClassificados12 .carros{background:url(carros.png);}
    .parceiroOdiaClassificados12 .imoveis{background:url(imoveis.png);}
    .parceiroOdiaClassificados12 .empregos{background:url(empregos.png);}
    .parceiroOdiaClassificados12 .produtoseservicos{background:url(produtoseservicos.png);}
    .parceiroOdiaClassificados12 input.submit{
        width:69px;
        height:33px;
        padding:3px 0;
        border:solid 1px #cccccc;
        border:1px solid #CCCCCC;
        font:bold 11px Arial!important;
        color:#073D5C!important;
        text-align:center;
        cursor:pointer;
        background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E0E0E0));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E0E0E0 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #E0E0E0 100%);
        margin:0 0 0 0!important;
        text-transform:uppercase!important;
        font-style:normal!important;
    }