.parceiroTimeOutCultura12 .tabs-tipos{border-bottom: 1px solid #dbdbdb;height: 35px;margin: 20px 0 15px 0;}
.parceiroTimeOutCultura12 .tab-cidades{float:left;border: 1px solid #dbdbdb;line-height: 35px;padding: 0 7px;margin-left: 7px;background: #fff;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;text-transform: uppercase;margin-top: -1px;background-image: linear-gradient(bottom, rgb(234,233,233) 0%, rgb(255,255,255) 82%);background-image: -o-linear-gradient(bottom, rgb(234,233,233) 0%, rgb(255,255,255) 82%);background-image: -moz-linear-gradient(bottom, rgb(234,233,233) 0%, rgb(255,255,255) 82%);background-image: -webkit-linear-gradient(bottom, rgb(234,233,233) 0%, rgb(255,255,255) 82%);background-image: -ms-linear-gradient(bottom, rgb(234,233,233) 0%, rgb(255,255,255) 82%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(234,233,233)),
        color-stop(0.82, rgb(255,255,255))
    );
}
.parceiroTimeOutCultura12 .tab-cidades.selected{border-bottom:none;color: #005088;margin-top: 0;background-image: linear-gradient(bottom, rgb(255,255,255) 50%, rgb(234,233,233) 100%);background-image: -o-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(234,233,233) 100%);background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(234,233,233) 100%);background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(234,233,233) 100%);background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(234,233,233) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, rgb(255,255,255)),
        color-stop(1, rgb(234,233,233))
    );
}
.parceiroTimeOutCultura12 .tab-cidades a{color:#005088;font-size:10px;}
.parceiroTimeOutCultura12 .tab-cidades.selected a{color:#005088;font-size:10px;}
.parceiroTimeOutCultura12 div.links{float:right;}
.parceiroTimeOutCultura12 div.links a{color:#495892;}
.parceiroTimeOutCultura12 .dias{margin-top:40px;}
.parceiroTimeOutCultura12 .dias li{margin:0px;float:left;}
.parceiroTimeOutCultura12 .dias li a{display:block;width:92px;height:62px;color:#304c6b;background-color:#f1f1f1;text-align:center;padding-top:8px;border-right:1px solid #fff;}
.parceiroTimeOutCultura12 .dias li a.aceso{display:block;width:92px;height:62px;color:#fff;background-color:#304c6b;text-align:center;padding-top:8px;border-right:1px solid #fff;}
.parceiroTimeOutCultura12 .dias li a:hover{text-decoration:none;color:#304c6b;background-color:#e6e6e6;}
.parceiroTimeOutCultura12 .dias li small{font-size:14px;}
.parceiroTimeOutCultura12 .dias li cite{font-size:26px;font-style:normal;margin-top:5px;display:block;font-weight:bold;}

.parceiroTimeOutCultura12{margin-right:20px}
.parceiroTimeOutCultura12 ul.resposta{float:left;width:652px;margin-top:20px;min-height:180px;}
.parceiroTimeOutCultura12 ul.resposta li{float:left;margin-right:20px}
.parceiroTimeOutCultura12 ul.resposta li p {float:left;padding:7px 0 0;width:148px}
.parceiroTimeOutCultura12 ul.resposta li p span a {display:block;font:normal 11px Arial;clear:both;line-height:14px;color:#333;text-transform:uppercase;}
.parceiroTimeOutCultura12 ul.resposta li p cite a {display:block;font:bold 14px Arial;padding:0;clear:both;line-height:18px;color:#495892;margin-bottom:3px;}
.parceiroTimeOutCultura12 ul.resposta li img {display:block}
.parceiroTimeOutCultura12 ul.classificacao{display:none;}
.parceiroTimeOutCultura12 ul.classificacao li{background-color:gray;display:inline-block;}
.parceiroTimeOutCultura12 ul.classificacao li.acende{background-color:gold;}

.parceiroTimeOutCultura12 .tabs-links li a{display:none;}
.parceiroTimeOutCultura12 .tabs-links li a.selected{display:block;}