<div class="parceiroTimeOutHomeRJ12 fl">
    
    <div class="links">
        <h2>AGENDA CULTURAL</h2>
        <ul class="tabs-links">
            <li><a href="http://www.timeout.com.br/rio-de-janeiro/events" class="um selected">Mais eventos do Rio</a></li>
        </ul>
    </div>
    <ul class="dias ">
        
    </ul>

    <input type="hidden" name="timeOutCulturaGrupo" value="RJ">
    <input type="hidden" name="timeOutCulturaJson" value="http://riodejaneiro.ig.com.br/_static/misc/parceiros/rj/timeout-home.json">

    <input type="hidden" name="timeOutCulturaDia" value="">

    <ul class="resposta">
        
    </ul>

</div>