.parceiroTimeOutTurismo12{margin-right: 20px}
.parceiroTimeOutTurismo12 .header-timeout{width:652px;height:31px}
.parceiroTimeOutTurismo12 .header-timeout h3{float:left;line-height:31px}
.parceiroTimeOutTurismo12 .header-timeout a{float:right;display:block;line-height:31px}
.parceiroTimeOutTurismo12 .header-timeout a span{font:bold 12px Arial}
.parceiroTimeOutTurismo12 .header-timeout a img{float:right;margin-left:20px}
.parceiroTimeOutTurismo12 ul{float:left;width:652px}
.parceiroTimeOutTurismo12 ul li{float:left;margin-right:20px}
.parceiroTimeOutTurismo12 ul li p {float: left;padding: 7px 0 0;width: 148px}
.parceiroTimeOutTurismo12 ul li p span a {display: block;font: normal 12px Arial;clear: both;line-height: 14px;color: #333}
.parceiroTimeOutTurismo12 ul li p cite a {display: block;font:bold 14px Arial;padding: 0;clear: both;line-height: 18px;color: #495892}
.parceiroTimeOutTurismo12 ul li img {display: block}