<div class="parceiroTimeOutHome12 fl">

    <div class="headerCidade gd12 fl">
        <h2>
            <a href="">São Paulo <span>››</span></a>
        </h2>
        <a href="http://www.timeout.com.br/sao-paulo/events" class="seloTO"><img src="http://i0.ig.com/bancodeimagens/08/27/p4/0827p41xwydngesowvx9pq919.jpg" width="88" height="31"></a>
    </div>
    
    <ul class="highlights gd12">
    </ul>
    
    <div class="clear"></div>
    
    <div class="links">
        <h2>AGENDA</h2>
        <ul class="tabs-links">
            <li><a href="http://www.timeout.com.br/sao-paulo/events" class="um selected">Mais eventos em São Paulo</a></li>
            <li><a href="http://www.timeout.com.br/rio-de-janeiro/events" class="um selected">Mais eventos no Rio</a></li>
        </ul>
    </div>
    <ul class="dias ">
        
    </ul>

    <input type="hidden" name="timeOutCulturaGrupo" value="SP">
    <input type="hidden" name="timeOutCulturaJson" value="/_static/misc/parceiros/sp/timeout-home.json">

    <input type="hidden" name="timeOutCulturaDia" value="">

    <ul class="resposta">
        
    </ul>

</div>