<div class="parceiroOdiaClassificados12">
    <h3>O que você procura?</h3>
    <form name="buscaClassODia" id="buscaClassODia" method="get" onsubmit="return enviaFormClss();" action="http://ejesa.classificadosodia.ig.com.br/busca">
        <input type="text" name="q" id="campoBusca" class="campoBusca"> <input type="submit" name="submit" value="BUSCAR" id="" class="submit">
    </form>
    <ul>
        <li class="carros">
            <a href="http://ejesa.classificadosodia.ig.com.br/busca/veiculos" target="_classificados"></a>
        </li>
        <li class="imoveis">
            <a href="http://ejesa.classificadosodia.ig.com.br/busca/imoveis" target="_classificados"></a>
        </li>
        <li class="empregos">
            <a href="http://ejesa.classificadosodia.ig.com.br/busca/empregos" target="_classificados"></a>
        </li>
        <li class="produtoseservicos">
            <a href="http://ejesa.classificadosodia.ig.com.br/busca/produtos_e_servicos" target="_classificados"></a>
        </li>
    </ul>
</div>