<div class="PPA02706 gd6 fl">
	<div class="boxservicos">
		<h3><a href="http://servicos.ig.com.br/">Serviços</a></h3>
	</div>

	<div class="boxservicos">
		<div class="box">
			
			<div id="caixaServico01"> 
				<div class="img sofoto">
					<a href=''  title=""><img src='' width="92" height="92" alt="" /></a>
				</div>
				<div class="txt nomgr">
					<a href='' title="">
						<span>
							<strong></strong>
							<p></p>
						</span>
					</a>
					<a href='' title="" class="botao">Assine já</a>
				</div>
			</div><br class="clear"/>

			<div id="caixaServico02"> 
				<div class="img sofoto">
					<a href=''  title=""><img src='' width="92" height="92" alt="" /></a>
				</div>
				<div class="txt nomgr">
					<a href='' title="">
						<span>
							<strong></strong>
							<p></p>
						</span>
					</a>
					<a href='' title="" class="botao">Assine já</a>
				</div>
			</div><br class="clear"/>

			<div id="caixaServico03"> 
				<div class="img sofoto">
					<a href=''  title=""><img src='' width="92" height="92" alt="" /></a>
				</div>
				<div class="txt nomgr">
					<a href='' title="">
						<span>
							<strong></strong>
							<p></p>
						</span>
					</a>
					<a href='' title="" class="botao">Assine já</a>
				</div>
			</div><br class="clear"/>
		</div>
	</div>
</div>
