<div class="fl">
	<div class="ig-shopping headRetranca fl">
		<h3><a href="http://igshopping.ig.com.br" title="iG Shopping">iG SHOPPING</a></h3>
		<div id="shoppingLayer">
		</div>
		<!-- /#shoppingLayer -->
	</div>
	<div class="ig-shopping fl">
		<form action="#" method="get" id="formShopping">
			<fieldset>
				<input id="acao" value="busca" name="acao" type="hidden"/>
				<label for="comparePrecos">Compare preços</label>
				<input type="text" alt="Compare preços" title="Compare preços" value="" name="palavra" onkeypress="if ((window.event ? event.keyCode : event.which) == 13) {shoppcomp(this.form); return false;}" id="comparePrecos"/>
				<input type="submit" onclick="shoppcomp(this.form); return false;" class="botao-ok" alt="Ok" title="Ok" value="Ok"/>
			</fieldset>
		</form>
	</div>
</div>