.PPA01912 .box_img {float: left;width: 148px;margin-right: 20px}
.PPA01912 .box_img img {float: left;width: 148px;height: 111px;margin-bottom: 7px;border: none}
.PPA01912 .box_img strong a {float: left;display: block;font: bold 14px/ 17px arial;width: 148px}
.PPA01912 .box_img p a {float: left;font: normal 12px/ 15px arial}
.PPA01912 ul {float: left;width: 316px;margin-bottom: 7px}
.PPA01912 ul li {float: left;margin-bottom: 13px}
.PPA01912 ul li cite {font: bold 11px/ 14px arial;color: #999;text-transform: uppercase;display: block;margin-bottom: 3px;color: #333}
.PPA01912 ul li big a {font: bold 20px/ 23px arial}
.PPA01912 ul li.dirInf a {font: normal 14px/ 17px arial}