<div class="PPA01912 fl">
		<h3>iG Produtos</h3>		
		<div class="box_img">
			<a href="http://marketing.ig.com.br/landings/filmescinza/?utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=filmes" title=""> 
				<img src="http://i0.ig.com/fw/bs/fo/jo/bsfojofh99n8zhs6fxqdh6w2.jpg" width="148" height="111" alt="">
			</a>
			<strong> 
				<a href="http://marketing.ig.com.br/landings/filmescinza/?utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=filmes" title=""> 
					Cinema em Casa 
				</a>
			</strong>
			<p>
				<a href="http://marketing.ig.com.br/landings/filmescinza/?utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=filmes" title=""> 
					</a></p><p><a href="http://marketing.ig.com.br/landings/filmescinza/?utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=filmes" title="">Alugue sem sair de casa por 1 mês grátis!</a></p><a href="http://marketing.ig.com.br/landings/filmescinza/?utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=filmes" title=""> 
				</a>
			<p></p>
		</div>
		<div class="box_img">
			<a href="http://backup.ig.com.br/?&amp;utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=backup" title=""> 
				<img src="http://i0.ig.com/fw/39/db/7b/39db7bf83xl2ds938c8xhitgj.jpg" width="148" height="111" alt="">
			</a>
			<strong> 
				<a href="http://backup.ig.com.br/?&amp;utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=backup" title=""> 
					iG Backup 
				</a>
			</strong>
			<p>
				<a href="http://backup.ig.com.br/?&amp;utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=backup" title=""> 
					</a></p><p><a href="http://backup.ig.com.br/?&amp;utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=backup" title="">Espaço ilimitado para guardar seus arquivos</a></p><a href="http://backup.ig.com.br/?&amp;utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=backup" title=""> 
				</a>
			<p></p>
		</div>
		<ul>
			<li>
				<cite>	Volta às aulas </cite>
				<big><a href="http://www.igeduca.com.br/?&amp;utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=educa" title=""><p>Assine iG Educa e conte com professores online 24 horas/dia</p> </a></big> 
			</li>
		</ul>
		<ul>
			<li class="dirInf">
				<cite>iG Fotos </cite>
				<a href="http://fotos.ig.com.br/?utm_source=ig&amp;utm_medium=box+interno+rodape&amp;utm_campaign=home+ig&amp;utm_content=fotos" title=""> <p>Crie álbuns, revele suas fotos favoritas e compartilhe com seus amigos!</p> </a> 
			</li>
		</ul>
</div>