<div id="pub-Position" class="PPA00612 gd12 fl">
	<ul>
		<li>
		<div id="PPA00612-1">
			<div class="positionDummy">PUBLICIDADE</div>
		</div>
		</li>
		<li>
		<div id="PPA00612-2">
			<div class="positionDummy">PUBLICIDADE</div>
		</div>
		</li>
		<li class="posRight nobdr">
		<div id="PPA00612-3">
			<div class="positionDummy">PUBLICIDADE</div>
		</div>
		</li>
	</ul>
</div>