.PPA00612{background:#F8F8F8;clear:both}
.PPA00612 ul{float:left;padding:10px;width:632px}
.PPA00612 ul li{float:left;padding-right:38px;margin-right:38px;border-right:1px solid #dfdfdf}
.PPA00612 ul li.posRight{float:right;padding-right:0!important;margin-right:0!important}