.PPA02612 h3{font:normal 18px/22px arial;text-transform:uppercase;margin:17px 0 16px 0;color:#000}
.PPA02612 .box_img{float:left;width:148px;margin-right:20px}
.PPA02612 .box_img img{float:left;width:148px;height:111px;margin-bottom:7px;border:none}
.PPA02612 .box_img strong a{float:left;display:block;font:bold 14px/17px arial;width:148px}
.PPA02612 .box_img p a{float:left;font:normal 12px /15px arial;color:#333}
.PPA02612 ul{float:left;width:316px}
.PPA02612 ul li{float:left;margin-bottom:13px}
.PPA02612 ul li cite{font:bold 11px/14px arial;color:#999;text-transform:uppercase;display:block;margin-bottom:3px;color:#333}
.PPA02612 ul li big a{font:bold 20px/23px arial}
.PPA02612 ul li.dirInf a{font:normal 14px/17px arial}
.PPA02612 ul li.dirInf a:hover p,.PPA02612 ul li big a:hover p{text-decoration:underline}