<div class="PPA02612 gd12 fl">
	<h3>iG Produtos</h3>
	<div class="box_img esq">
		<a href="" title=""><img src="" width="148" height="111" alt="" /></a>
		<strong><a href="" title=""></a></strong>
		<p><a href="" title=""><p></p></a></p>
	</div>
	<div class="box_img dir">
		<a href="" title=""><img src="" width="148" height="111" alt="" /></a>
		<strong><a href="" title=""></a></strong>			
		<p><a href="" title=""><p></p></a></p>
	</div>
	<ul>
		<li>
			<cite></cite>
			<big><a href="" title=""><p></p></a></big>
		</li>
	</ul>
	<ul>
		<li class="dirInf">
			<cite></cite>
			<a href="" title=""><p></p></a>
		</li>
	</ul>
</div>