<div class="fl">
	<div class="ig-servicos">
		<h3><a href="http://igshopping.ig.com.br" title="iG Shopping">iG Shopping</a></h3>
		
		<ul>
			<li><a href=""><span class="icon"></span> Clique aqui e siga o iG Esporte no </a></li>
			<li class="nomgr"><a href=""><span class="icon"></span> Clique aqui e siga o iG Esporte no </a></li>
			<li><a href=""><span class="icon"></span> Clique aqui e siga o iG Esporte no </a></li>
			<li class="nomgr"><a href=""><span class="icon"></span> Clique aqui e siga o iG Esporte no </a></li>
		</ul>
				
	</div>
</div>