<div>
	<div id="busca-receita-indice" class="borda buscaReceitas">
		<h2>Busca de receitas</h2>

		<div>
			<ul id="aba_busca-indices">
				<li class="ativo"><a href="http://receitas.ig.com.br/busca/">Busca</a><div class="left"></div><div class="right"></div></li>
				<li><a href="http://receitas.ig.com.br/indice/receitas/">Índice de Receitas</a><div class="left"></div><div class="right"></div></li>
				<li><a href="http://receitas.ig.com.br/indice/ingredientes/">Índice de Ingredientes</a><div class="left"></div><div class="right"></div></li>
			</ul>
		</div>

		<div class="box-indice">
			<div id="busca-receita">	
				<form action="http://receitas.ig.com.br/busca/" method="q">
					<div class="bg">
						<input type="text" class="campo" name="q" />
						<input type="submit" class="buscar" value="" />
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
		<div>
			<input type="hidden" id="categoriaReceita" value=""/>
			<div id="resultado_busca">
				<div class="resultado"></div>
		
				<ul class="receitas">
				</ul>
			
				<div class="paginacao">
				</div>
			</div>
		</div>
	</div>
</div>