<div>
	<input type="hidden" id="categoriaReceita" value=""/>
	<input type="hidden" id="palavraChave" value=""/>
	<div id="resultado_busca">
		<div class="resultado"></div>

		<ul class="receitas">
		</ul>
	
		<div class="paginacao">
		</div>
	</div>
</div>