<div>
	<div class="receita-bloco-lateral">
		<h3>Guia do Cozinheiro</h3>
	
		<ul class="receita-guia-cozinheiro">
			<li class="item1"><a href="/guia-do-cozinheiro/conversor"><span class="ico"></span>Conversor</a></li>
			<li class="item2"><a href="/guia-do-cozinheiro/medidas"><span class="ico"></span>Medidas</a></li>
		</ul>
	
	</div>
	
	<div class="receita-bloco-lateral no_mg">
		<h3>Serviços</h3>
	
		<ul class="receita-servicos">
			<li class="item1"><span class="ico"></span><a href="http://comida.ig.com.br/cozinhaaz/p1237537648364.html">Glossário</a></li>
			<li class="item2"><span class="ico"></span><a href="/videos/">Vídeos</a></li>
			<li class="item3"><span class="ico"></span><a href="/indice/receitas/#A">Índice de Receitas</a></li>
			<li class="item4"><span class="ico"></span><a href="/indice/ingredientes/#A">Índice de Ingredientes</a></li>
			<li class="item5 last"><span class="ico"></span><a href="/celulares-tablets/">Celular e Tablet</a></li>
			<li class="item6 last"><span class="ico"></span><a href="/tv/">TV conectada</a></li>
		</ul>
	
	</div>
</div>