<div>
	<div id="busca-receita">	
		<form action="http://receitas.ig.com.br/busca/" method="q">
			<div class="bg">
				<input type="text" class="campo" name="q" />
				<input type="submit" class="buscar" value=" " />
			</div>
		</form>
	</div>
</div>