<div>
	<link media="screen" rel="stylesheet" href="http://i0.ig.com/css/noticias/colorbox.css" />
	<link href="http://i0.ig.com/canais/receitas/canal_print.css?v=1.0.0" rel="stylesheet" media="print" type="text/css">
	<style type="text/css">
		/* Light Box */ 
		.noticias-lb .top,.noticias-lb .bot{height:10px;width:587px;background:url(http://i0.ig.com/noticias/bd_lb.png)}
		.noticias-lb .bot{background-position:0px 10px}
		.noticias-lb .cont{border-left:5px solid #b2b2b2;border-right:5px solid #b2b2b2;width:547px;background:#FFF;padding:0 15px}
		.noticias-lb .titulo{border-left:5px solid #b2b2b2;border-right:5px solid #b2b2b2;width:577px;display:block;background:#ededed;height:37px}
		.noticias-lb .titulo strong{float:left;font:normal 18px/21px arial;text-transform:uppercase;margin:8px 0 0 20px}
		.noticias-lb .titulo a{width:24px;height:24px;display:block;background:url(http://i0.ig.com/noticias/sprites_noticias.gif) -253px 0;float:right;margin:3px 15px 0 0;cursor:pointer}
		.noticias-lb .titulo a:hover{background-position:-253px -24px}
		.noticias-lb .titulo a:active{background-position:-253px -48px}
		.noticias-lb big{font:bold 22px arial;display:block;margin:17px 0 7px 0;float:left}
		.noticias-lb small{font:12px arial;color:#666;display:block;float:left;border-bottom:1px solid #e3e3e3;padding-bottom:17px}
		.noticias-lb form div{float:left;width:263px;margin-right:20px}
		.noticias-lb label{float:left;display:block;font:bold 12px arial;color:#333;margin:17px 0 10px 0}
		.noticias-lb label span{color:#999;font-weight:normal;margin-left:5px}
		.noticias-lb input{width:245px;height:32px;background:#fafafa;border:1px solid #ababab;font:14px/27px arial;color:#666;padding:0 5px}
		.noticias-lb input.destino{width:527px!important}
		.noticias-lb .botao{background:url(http://i0.ig.com/css/images/form-bg-botoes.gif)#EBEBEB;border:1px solid #D4D4D4;color:#333333;font:bold 12px arial;padding:3px 0 2px;width:60px;height:24px;float:right;margin:10px 8px 20px 0;cursor:pointer}
		.noticias-lb textarea{width:527px;height:100px;background:#fafafa;border:1px solid #ababab;font:14px/17px arial;color:#666;padding:0 5px}
		.noticias-lb .obrigatorio{font:12px/15px arial;color:#999;float:left;margin-top:7px}
		.noticias-lb .error{border:1px solid #db4747}
		.noticias-lb label.error{border:none;float:right;margin:-60px 8px 0 0;margin-top:-57px;font:bold 10px arial;color:#db4747}
		.cboxTitle{display:none!important}
		
		#box-winetag{display:none;margin-top:30px;}
	</style>
	<div class="receita" itemscope itemtype="http://schema.org/Recipe">
		<input type="hidden" id="categoriasReceita" />
	
		<textarea name="winetag" id="winetag" cols="30" rows="10" style="display:none;"></textarea>
		<div id="newToolbar" class="gd18 fl" style="display:none;">
			<a class="tagCobertura" href="/especiais/natal" title="tudo sobre o tema">tudo sobre o tema</a> 
			<span class="especial grid12 left">
				<a href="/especiais/natal">Especial Natal</a>
			</span> 
			<div id="especialAd"style="float:right;width:88px;height:31px;"><iframe src="" frameborder="0" scrolling="no"></iframe></div>
		</div>
			
		<ul class="linePrint">
			<li class="esquerda">Receitas</li>
			<li class="direita">receitas.ig.com.br</li>
		</ul>
	
		<div class="header">
			<h2 itemprop="name"></h2>

			<div class="barra-superior nobdb">
				<p class="autor" itemprop="author">Por <span></span></p>
			</div>
			
			<div class="infosPrint">
				Tempo de preparo: <cite class="tpre"></cite><br />
				Rendimento: <cite class="tren"></cite>
			</div>
		
			<ul class="infos">
				<li class="tempo"><p></p></li>
				<li class="porcoes"><p>Porções: <span itemprop="recipeYield"></span></p></li>
			</ul>
		</div>

	
		<div class="barra-atalhos" id="botoes">
			<ul class="compartilhe">
				<li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"></a></li>
				<li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"></a></li>
				<li class="google">
					<g:plusone callback="trackSocialPlusOne" size="medium" annotation="none" count="false" id="botaoGoogle"></g:plusone>
				</li>
				<li>
				<div class="facebook">
					<fb:like href="#" send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
					<div id="fb-root"></div>                                 
				</div>
				</li>
			</ul>    
			<ul class="tools nobdr">
				<li class="imprimir">
					<a class="tooltip" href="#" onClick="javascript:window.print()"></a>
				</li>
			</ul>
			<div class="botoes nomgr">
				<span class="aumentarTxt">Texto:</span>
				<ul class="tamanhoFontes nopdr nobdr">
					<li class="diminuir nomgr">
						<a class="tooltip" href="#"></a>
					</li>
					<li class="aumentar nomgr">
						<a class="tooltip" href="#"></a>
					</li>
				</ul>
			</div>
		</div>
	
	
	

		<div id="galleria">
	    
		</div>
	
		<ul class="ferramentas">
			<li class="imprimir">
				<span class="ico"></span>
				<p><a href="#" onClick="javascript:window.print()">Quero imprimir esta receita</a></p>
				<span class="borda left"></span>
				<span class="borda right"></span>
			</li>
			<li class="email">
				<span class="ico"></span>
				<p><a href="javascript:void(0);return false;" class="boxEmail cboxElement">Quero enviar para um amigo</a></p>
				<span class="borda left"></span>
				<span class="borda right"></span>
			</li>
		</ul>
	
		<div id="texto-receita">
			<div class="bloco ingredientes">
				<h3>Ingredientes</h3>
				<ul>
				</ul>
			</div>
		
			<div class="bloco preparo" itemprop="recipeInstructions">
				<h3>Modo de Preparo</h3>
				<p></p>
			</div>
		
			<input type="hidden" value="" id="videoReceita" />
			<div class="video bloco" id="rvideos">
			</div>
		
			<div id="box-winetag"></div>
			
		
			<div class="mais-receitas">
				<p>Mais receitas com:</p>
					<ul>
						
					</ul>
			</div>
		<input type="hidden" value="" id="palavraschave_para_empilhamentos" />
		</div>
	</div>
	
	<div style="display: none;">

	    <div class="noticias-lb" id="boxEmail">
	        <div class="top"></div>
	       
	        <div class="titulo">
	            <strong>enviar por e-mail</strong>
	            <a onclick="$.colorbox.close()" class="close" title="Fechar" href="javascript:void(0)"></a>
	        </div>
	       
	        <div class="cont">
	            <big class="tNoti"></big>
	
	            <small class="oNoti"></small>
	           
	            <form method="post" id="formResponderE">
	                 <input type="hidden"  name="titulo" id="tituloReceita" value=""/>
	                <div>
	                    <label for="campoNome">Seu nome <span>*</span></label>
	                    <input type="text" name="seuNome" id="campoNome">
	                </div>
	
	                <div class="nomgr">
	                    <label for="campoEmail">Seu e-mail <span>*</span></label>
	                    <input type="text" name="seuEmail" id="campoEmail">
	                </div>
	
	                <label for="campoEmailDest">E-mail do destinatário<span>(Para mais endereços, separe-os com vírgulas) *</span></label>
	                <input type="text" class="destino" name="emailDestino" id="campoEmailDest">
	
	                <label for="campoMsg">Mensagem</label>
	                <textarea name="mensagem"></textarea>
	                <input type="submit" class="botao" value="Enviar">
	               
	            </form>
	
	            <span class="obrigatorio">* campos são obrigatórios</span>
	            <br class="clear">
	   
	        </div>
	
	   
	        <div class="bot"></div>
	    </div>
	</div>
</div>