<footer id="rodape">
	<div class="barra-superior">
		<ul>
			<li><a href="http://www.ig.com.br/indice/" target='_self' title="Sites iG" class="nopdl" >Sites iG</a></li>
			<li><a href="http://www.ig.com.br/expediente/" target='_self' title="Expediente" class="" >Expediente</a></li>
			<li><a href="/faleconosco.html" title="Fale Conosco" class="boxFaleconosco">Fale Conosco</a></li>
			<li><a href='/indiqueosite.html' title="Indique o Site" class="boxIndiqueosite">Indique o Site</a></li>
			<li><a href='http://servicos.ig.com.br/?utm_source=ig&utm_medium=menu&utm_content=servicos%20topo&utm_campaign=home%20ig' title="Serviços" >Serviços</a></li>
			<li><a href="https://central.ig.com.br" target='_self' title="Central do Cliente" class="nobd" >Central do Cliente</a></li>
		</ul>
	    
		<a href='/rss.xml' title="RSS" class="rss" id="pageTwitterLink">RSS</a>
		<a href='<%=this.contexto.site.linkTwitter%>' title="Twitter" class="twitter" id="pageTwitterLink">Twitter</a>
	</div>

	<div class="barra-inferior">
		<ul>
			<li><a href="http://www.ig.com.br/indice/" target='_self' title="Sites iG" class="nopdl" >Sites iG</a></li>
			<li><a href="http://www.centraldoanunciante.com.br/" target='_self' title="Anuncie">Anuncie</a></li>
			<li><a href="http://denuncia.ig.com.br/" target='_self' title="Crimes Virtuais">Crimes Virtuais</a></li>
			<li><a href="https://www.vagas.com.br/PagEmpr.asp?e=ig&#38;t=2032" target='_self' title="Trabalhe no iG">Trabalhe no iG</a></li>
			<li><a href="http://images.ig.com.br/politica_privacidade/index.html" target='_self' title="Política de Privacidade" class="nobd" >Política de Privacidade</a></li>
		</ul>
	<p>&copy; Copyright 2000-2012, Internet Group - Portais: <a href="http://www.ig.com.br/" title="iG">iG</a> e <a href="http://www.ibest.com.br/" title="iBest">iBest</a></p><a href="#geral" title="Topo" class="topo">Topo</a>
	</div>
</footer>