<div class="mod-rodape">
	<div class="coluna col1">
		<dl class="lista1">
			<dt><a href=""></a></dt>
			<dd><a href=""></a></dd>
		</dl>
		<dl class="lista2">
			<dt><a href=""></a></dt>
			<dd><a href=""></a></dd>
		</dl>
	</div><!-- .coluna.col2 -->
	<div class="coluna col2">
		<dl class="lista3">
			<dt><a href=""></a></dt>
			<dd><a href=""></a></dd>
		</dl>
	</div><!-- .coluna.col2 -->
	<div class="coluna col3">
		<dl class="lista4">
			<dt><a href=""></a></dt>
			<dd class="sublista1">
				<dl>
					<dt><a href=""></a></dt>
					<dd><a href=""></a></dd>
				</dl>
			</dd>
			<dd class="sublista2">
				<dl>
					<dt><a href=""></a></dt>
					<dd><a href=""></a></dd>
				</dl>
			</dd>
		</dl>
	</div><!-- .coluna.col3 -->
	<div class="coluna col4">
		<dl class="lista5">
			<dt><a href=""></a></dt>
			<dd><a href=""></a></dd>
		</dl>
		<dl class="lista6">
			<dt><a href=""></a></dt>
			<dd><a href=""></a></dd>
		</dl>
	</div><!-- .coluna.col4-->
	<div class="itens">
		<ul>
			<li><a href="http://www.centraldoanunciante.com.br/">ANUNCIE</a>|</li>
			<li><a href="http://novaoi.oi.com.br/portal/site/NovaOi/menuitem.7ddbb1639b8d9040980bb064f26d02a0/?vgnextoid=bfdb39bcde305110VgnVCM10000090cb200aRCRD">POLÍTICA DE PRIVACIDADE</a>|</li>
			<li><a href="http://webmail2.oi.com.br/mail/">OI MAIL</a>|</li>
			<li><a href="http://www.novaoi.com.br/portal/site/NovaOi/menuitem.12e128b3e7d4648e30197402f26d02a0/?vgnextoid=86329c94240b2110VgnVCM10000090cb200aRCRD">TRABALHE NA OI</a></li>
		</ul>
		<div class="copyright">©COPYRIGHT 2000-2011, OI</div>
	</div>
</div>