<div>
	<div id="global_stats">    
	    <div class="nmr_readers">        
	    	<a href="http://realtime.co" target="_blank" title="Conheça o realtime" class="ir-para-realtime">Conheça o realtime</a>
	        <div class="ammount">-</div>         
	        <div class="label">Leitores em Tempo Real</div>    
	    </div>
	</div>
</div>