<div>
    <div id="RTI26612" data-id="" class="rt_poll gd12 fl">
        <div class="header-votacao">
            <h3>Pergunta</h3>
        </div>
        <div class="clear"></div>
        <div class="container-respostas">
            <div class="respostas">
                <div class="resposta">
                        <div class="left">
                            <img src="http://rt01.ig.com.br/realtime/ibtx_v10/module/polls/img/summer_poll_5/02.jpg" width="68" height="90" alt="" />
                        </div>
                        <div class="right">
                            <div class="descricao">
                                    <h4>««titulo»»</h4>
                                    <h5>««olho»»</h5>
                            </div>
                            <div class="quantidade-votos qtdVotos">
                                    <span class="numVotos"></span>
                                    <span>votos</span>
                            </div>
                            <a href="javascript:void(0);" class="bt-enviar">Votar</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="realtime-bar">
            <span class="frase-realtime">A tecnologia que muda a internet</span><a class="realtime-logo" href="http://realtime.co">Realtime</a>
        </div>
    </div>
</div>
