<div class="RTI26706 gd6 fl bordadefault" >
	<div class="headRetranca">
		<h2>Mais lidas</h2> 
	</div>

    <div id="rt_top">
		<ul id="folders" class="folders">
			<li class="active first"><a title="Agora" href="javascript:void(0);" onclick="empilhamentoMaislidas.maisLidas('today', 5);" class="ativo">Hoje</a></li>
			<li class=" "><a title="Agora" href="javascript:void(0);" onclick="empilhamentoMaislidas.maisLidas('week', 5);" class="ativo">Semana</a></li>
			<li class=" "><a title="Agora" href="javascript:void(0);" onclick="empilhamentoMaislidas.maisLidas('month', 5);" class="ativo">Mês</a></li>
		</ul>
		<div class="online_users" >
			<div class="items">
				<ul class="rt-top"></ul>
			</div>
		</div>
	</div>
</div>
