<div>
    <style type="text/css">
    	@font-face{
		    font-family:"museosans-100";
		    src:url("/_static/misc/fonts/museosans/museosans-100/museosans-100.eot");
		    src:url("/_static/misc/fonts/museosans/museosans-100/museosans-100.eot")format("embedded-opentype"),
				url("/_static/misc/fonts/museosans/museosans-100/museosans-100.woff")format("woff"),
				url("/_static/misc/fonts/museosans/museosans-100/museosans-100.ttf")format("truetype")
		}
		#retrospectiva-ganhadores{clear:both;}
		#retrospectiva-header{position:relative;padding:20px 0;margin-bottom:20px;background:url(http://i0.ig.com/ultimosegundo/retrospectiva/2012/_site/images/bg-repeat-melhores-de.png) repeat-x left bottom;}
		#retrospectiva-header h4 a{display:block;height:72px;padding:0 0 0 225px;font:normal 14px/18px Arial;color:#666;background:url(http://i0.ig.com/ultimosegundo/retrospectiva/2012/_site/images/bg-retro-home-ig.png) no-repeat left center;}
		#retrospectiva-header h5{position:absolute;top:70px;left:225px;font:normal 22px "museosans-100";color:#08629a;}
		#retrospectiva-header h5 span{font:bold 22px "MuseoSans500";}
		#retrospectiva-content h3 a{display:block;margin-bottom:20px;font:bold 34px Arial;color:#08629a;}
		#retrospectiva-polls li{float:left;width:106px;margin:0 2px 10px 0;}
		#retrospectiva-polls li a{float:left;color:#fff;overflow:hidden;}
		#retrospectiva-polls li a:hover {text-decoration: none;}
		#retrospectiva-polls li a:hover span.thumb{border:2px solid #2e75ac;}
		#retrospectiva-polls li a:hover img{margin:-2px;}
		#retrospectiva-polls li a:hover strong{background:#57a0d9;background-image: linear-gradient(top, #57a0d9 35%, #2e75ac 100%);
			background-image: -o-linear-gradient(top, #57a0d9 35%, #2e75ac 100%);
			background-image: -moz-linear-gradient(top, #57a0d9 35%, #2e75ac 100%);
			background-image: -webkit-linear-gradient(top, #57a0d9 35%, #2e75ac 100%);
			background-image: -ms-linear-gradient(top, #57a0d9 35%, #2e75ac 100%);
		}
		#retrospectiva-polls li span.thumb{display:block;overflow:hidden;margin-bottom:1px;}
		#retrospectiva-polls li img{display:block;}
		#retrospectiva-polls li strong{display:block;text-align:center;padding:8px 0;font:bold 12px Arial;color:#fff;background:#6d8495;}

		/* Tooltip */
		#retrospectiva-polls li .custom-tooltip {
			width: 138px;
		    padding: 5px;
		    position: absolute;
		    z-index:9999
		}

		#retrospectiva-polls li .custom-tooltip div.content {
		    width: 100%;
		    height: 100%;
		    position: relative;
		    z-index: 10;
		    border-radius: 4px;
			background-image: linear-gradient(top, #fff 10%, #e2e2e2 100%);
			background-image: -o-linear-gradient(top, #fff 10%, #e2e2e2 100%);
			background-image: -moz-linear-gradient(top, #fff 10%, #e2e2e2 100%);
			background-image: -webkit-linear-gradient(top, #fff 10%, #e2e2e2 100%);
			background-image: -ms-linear-gradient(top, #fff 10%, #e2e2e2 100%);
		}			
		#retrospectiva-polls li .custom-tooltip p.text {
		    font: bold 12px/16px "Arial";
		    color: #333;
		    padding: 10px;
		    margin: 0
		}

		#retrospectiva-polls li .custom-tooltip div.arrow{
			background: url(http://i0.ig.com/ultimosegundo/retrospectiva/2012/_site/images/arrow-tooltip.png?v=1.0) no-repeat;
			width: 13px;
			height: 18px;
			position: absolute;
			top:22px;
			left: -7px;
			z-index:9999
		}

		#retrospectiva-polls li .custom-tooltip div.opacity {
		    opacity: 0.20;
		    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
		    filter: alpha(opacity=15);    
		    border-radius: 8px;
		    background: #3F3F3F;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    z-index: 0;
		}
		/* Tooltip */
	</style>

	<div class="RTI27212 gd12 fl">
		<div class="HOHEE07712 headRetranca gd12 fl" data-ad="retrospectiva-2012">              
			<h2><a title="Retrospectiva 2012" href="http://retrospectiva.ig.com.br/">Retrospectiva 2012<span>››</span></a></h2>
		</div>
			
		<div id="retrospectiva-ganhadores">
			<div id="retrospectiva-header" class="rt_poll_sum" data-class-total-votes=".num_total_votes" data-id="sum" data-ids="12-11-2012-15-00,06-11-2012-17-36,06-11-2012-17-22,12-11-2012-15-02,06-11-2012-08-42,06-11-2012-17-37,06-11-2012-17-24,12-11-2012-15-01,06-11-2012-17-34,06-11-2012-17-35,06-11-2012-08-43,06-11-2012-17-23">
				<h4><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit pulvinar mauris eget tempor. Cras eget ipsum sit amet dolor pretium condimentum.</a></h4>
				<h5><span class="num_total_votes"></span> votos, participe!</h5>
			</div>
				
			<div id="retrospectiva-content">
				<h3><a href="">Vote nos fatos mais marcantes do ano</a></h3>
					
				<ul id="retrospectiva-polls">
					<!--li>
						<a href="http://retrospectiva.ig.com.br/">
							<span class="thumb"><img src="http://i0.ig.com/ultimosegundo/retrospectiva/2012/carros/1.jpg" width="106" height="168" alt=""></span>
							<strong>carros</strong>
						</a>
					</li-->
				</ul>
			<div>
		</div>
		
	</div>
	
</div>