<div>
    <div class="ao-vivo-goleiro-bruno gd12 fl" data-id="">
        <strong>carregando ...</strong>
        <img src="http://i0.ig.com/ultimosegundo/retrospectiva/2012/chart_load_icon.gif" alt="" id="narracao-img" width="16" height="16" style="display:block;margin:0 auto;"/>
        <div class="live"></div>
    </div>
</div>