<div id="RTI26506" class="RTI26506 rt_poll gd6 fl" data-id="" data-encerramento="">
	<div class="headRetranca">
		<h3>Votação em Tempo Real</h3>
		<a href="http://realtime.co" target="_blank" class="sprite-logo-realtime ativo" data-bitly-type="bitly_hover_card">Realtime</a>
	</div>
	<div class="clear"></div>
	<h4>Qual a celebridade revelação do verão? <strong>Vote!</strong></h4>
	<ul class="respostas">
		<li class="resposta" style="cursor: pointer; ">
			<div class="resposta-container">
				<div class="border thumb">
					<img src="http://lorempixum.com/g/157/209" alt="" width="157" height="209">
				</div>
				<h5><big>Rosana Ferreira</big><small>Panicat</small></h5>
				<div class="result">
					<div class="qtdVotos" style="display: block; "><span class="numVotos"></span>&nbsp;<span>votos</span></div>
					<a href="#clicado" class="bt-votar bt-enviar" data-bitly-type="bitly_hover_card" style="display: none; ">votar</a>
				</div>
			</div>
		</li>
	</ul>

</div>