<div class="RTI32106 gd6 fl bordadefault " >
	<div class="headRetranca">
		<h2>Mais lidas</h2>
	</div>

    <div id="rt_top">
    	<input type="hidden" name="id-escolhacanal" value="" />
    	<input type="hidden" name="id-escolhaquantidade" value="" />
		<div class="online_users">
			<div class="items">
				<ul class="rt-top"></ul>
			</div>
		</div>
	</div>
