<div class="RTI30012 gd12 bordadefault">
	<!-- abas -->
	<ul class="abas-noticias gd12">
		<li class="aba-noticia" id="" data-realtime-comments="">
			<h3 class=""></h3>
                        <noscript></noscript>
			<!-- configuracao das noticias -->
			<input type="hidden" name="limitRealTime" 	class="limitRealTime" value="" />
			<input type="hidden" name="colunasRealTime" class="colunasRealTime" value="" />
			<input type="hidden" name="dominioRealTime" class="dominioRealTime" value="" />
			<input type="hidden" name="canalRealTime" 	class="canalRealTime" value="" />
			<input type="hidden" name="pubRealTime" 	class="pubRealTime" value="" />
		</li>
	</ul>
	<!-- loading gif -->
	<div class="loading-gif"></div>
	<!-- containers -->
	<div class="container " style="">
		<ul class="noticias " style=""></ul>
		<a class="load-news gd12" href="#">
			<span class="load-news-title">mais notícias</span>
		</a>
	</div>
</div>
