<div class="RTI30012 gd12 bordadefault">
	<h3 class="">Últimas Notícias</h3>
	<!-- loading gif -->
	<div class="loading-gif"></div>
	<!-- containers -->

	<div class="container ">
		<ul class="noticias" id="lista-ultimas-mh" data-mostra-img=""></ul>
		<!-- <a class="load-news gd12" href="#">
			<span class="load-news-title">mais notícias</span>
		</a> -->
	</div>
</div>