<script>
	var __pclicks = __pclicks || {};
	__pclicks.asyncload = true;
	(function() {
	  var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
	  script.src = document.location.protocol + '//capture.pclicks.com/js?pcid=PC-000017-A';
	  var fs = document.getElementsByTagName('script')[0];
	  fs.parentNode.insertBefore(script, fs);
	})();

</script>

<link type="text/css" rel="stylesheet" href="http://i0.statig.com.br/css/jquery.css" />

<script type="text/javascript" src="<%=this.arquivosScripts[1]%>"></script>