<%{%>
<script type="text/javascript">

	(function($) {

	$('#oferecimento').html('<a href="http://odia.ig.com.br/"><img src="http://s0.ejesa.ig.com.br/img/igrio/selo_odia.png"></a>');
	$('#oferecimento').mouseover(function (event) { 
	        $('#oferecimento').css('cursor', 'pointer');
	    }
	);
	$('.CompX .mytwtr-top').html('<a href="http://odia.ig.com.br/portal/o-dia-24-horas"><img src="http://s0.ejesa.ig.com.br/img/igrio/odia_24horas.png"></a>'); 

	})(jQuery);

	var calculatadeMenu = false;
	function larguraSubmenus(){
		var aba,paddingR,totalAba,container,retorno;
		$('#menu-N li.sub').each(function(){
			aba = $(this).find('.aba').width();
			paddingR = $(this).find('.aba').css('padding-right').replace('px','');
			totalAba = aba + parseInt(paddingR);
			container = $(this).find('.conteudoSubMenu').width();
			retorno = container - totalAba;
            
			if($(this).hasClass('last')){
				if(($(this).position().left + $(this).find('.conteudoSubMenu').width()) > 988){
					$(this).find('.conteudoSubMenu').css('left',function(){
						return '-'+ retorno + 'px' 
					});
				}
			}
		});
		calculatadeMenu = true;
	}
    
	$('#buscar').focus(function(){
		$('#buscaGoogle').addClass('getFocus');
	});
	$('#buscar').blur(function(){
		$('#buscaGoogle').removeClass('getFocus');
	});

	$('#menu-N h2 a').hover(
                function(){
                        if(!calculatadeMenu){
                            larguraSubmenus();
                        }
			var elementoThis = this;
			openMenu = setTimeout(function(obj){
			    $(elementoThis).closest('li').find('.menuContainer').css({visibility: "visible"}).animate(
			    {
				opacity: 1
			    }, 50, function() {}
			    );
			}, 350);
                },
                function(){
		    clearTimeout(openMenu);
                    openedMenu = setTimeout(
                        function(obj){
                            $('.menuContainer').animate(
                                {
                                    opacity: 0
                                }, 50, function() {
                                    $(this).css({visibility: "hidden"})
                                }
                            )
                        }
                    ,300);
                    
                }
        );
        
        $('#menu-N .menuContainer').hover(
                function(){
                        $(this).closest('li').find('.menuContainer').css({visibility: "visible",opacity:1});
                        clearInterval(openedMenu);
                },
                function(){
                    $(this).animate(
                        {
                            opacity: 0
                        }, 50, function() {
                            $(this).css({visibility: "hidden"})
                            
                        }
                    )
                }
        );

	(function($){
		$.fn.lazyLoad = function() {
			var images = this;
			function showVisible(){
			   images = $.grep(images, function(el,index){
				var img = $(el);
				var imgTop = img.offset().top, wTop = $(window).scrollTop() + $(window).height() + 100;
				if(wTop > imgTop){ 
				   img.attr('src', img.data('src')).fadeIn();
				   return false;
				}else{
				   return true;
				}
			   });
			}
			showVisible();
			$(window).scroll(function(){showVisible();});
		}
	})( jQuery );
	
	var strUrl = ''+location+'',
		verificaEditor=/editor\.intranet/,
		verificaEditorPreview=/editor\.intranet\/edicaoHomes\/preview/,
		adShow = false;
		showIgAd = (strUrl.match(verificaEditor) && !strUrl.match(verificaEditorPreview)) ? false : true;
		editor = (verificaEditor.test(location.href) && !verificaEditorPreview.test(location.href)) ? true : false;
		
		/* Lazy Load */
		if(!editor){
			$('.lazy-load').lazyLoad();
		}

		$.getScript('http://js.statig.com.br/egomes/publicidade.js?v=2.1.1', function(){
			if(showIgAd){
				iGpub.init();
				iGpub.posiciona();
			};
		});

		$.getScript('http://js.statig.com.br/shopping/coluna/slayer.v3.min.js', function(){
			if($('#shoppingLayer')[0]){
				if($('meta[name=iG-OAS-site]').attr("content") == 'www.ultimosegundo.com.br'){
					$(shoppingLayer('http://i1.statig.com.br/igshopping/json/ig_internas_antigas_1.json','OLX','http://i1.statig.com.br/igshopping/json/branded_noticias_OLX_1.json'))
				}else{
					$(shoppingLayer($('meta[name=iG-shopping]').attr("content")))
				}
			}
		});		
		$.getScript('http://js.statig.com.br/egomes/iGSearchBox.js?v=1.1');
		
		
		$.getScript('http://js.statig.com.br/jquery.colorbox-min.js', function(){
			$.getScript('http://js.statig.com.br/jquery.validate.js');
			$.getScript('http://js.statig.com.br/jquery.tooltip.min.js');
			
			var head  = document.getElementsByTagName('head')[0],
			    link  = document.createElement('link');
		    link.rel  = 'stylesheet';
		    link.type = 'text/css';
		    link.href = 'http://i0.statig.com.br/css/noticias/colorbox.css';
		    link.media = 'all';
		    head.appendChild(link);

			$(".boxFaleconosco").colorbox();
			$(".boxIndiqueosite").colorbox();	
		});		
		
		$(window).load(function(){(iGpub)	&& iGpub.posiciona();})


		
</script>
<script>
if(window.location.href.search('ig.com.br') > -1){
	(function() {
	    function async_load() {
		    var s = document.createElement('script');
		    s.type = 'text/javascript';
		    s.async = true;
		    s.src = 'http://ig.services.webspectator.com/init/30/'+ new Date().getTime();
		    var x = document.getElementsByTagName('script')[0];
		    x.parentNode.insertBefore(s,x);
	    }
	    if (window.attachEvent){
		window.attachEvent('onload',async_load);
	    }else{
		window.addEventListener('load',async_load,false);
	    }
	}
	)();
}
</script>
<%}%>
<%if(this.contexto && this.contexto.site && this.contexto.site.scriptPclicks){%>
<%=this.contexto.site.scriptPclicks%>
<%}%>