<script type="text/javascript" src="http://js.ig.com/mobile/high/home-scripts-min.js?v=0.5"></script>
<script type="text/javascript">
	OAS_VARS('/home', 'Bottom,Middle,Top');
	OAS_START();
</script>

<div id="superbanner-hide" class="hide">
	<script type="text/javascript">
		if(OAS_AD == 'function'){
			OAS_AD('Top')
		}else{
			document.write('<a href="http://adserver.ig.com.br/RealMedia/ads/click_nx.ads/mobile/home@Top" target="_blank">');
			document.write('<img src="http://adserver.ig.com.br/RealMedia/ads/adstream_nx.cgi/mobile/home@Top" border="0" />');
			document.write('</a>')
		}
	</script>
</div>
<div id="middle-hide" class="hide">
	<script type="text/javascript">
		if(OAS_AD == 'function'){
			OAS_AD('Middle')
		}else{
			document.write('<a href="http://adserver.ig.com.br/RealMedia/ads/click_nx.ads/mobile/home@Middle" target="_blank">');
			document.write('<img src="http://adserver.ig.com.br/RealMedia/ads/adstream_nx.cgi/mobile/home@Middle" border="0" />');
			document.write('</a>')
		}
	</script>
</div>
<div id="pub-bottom-hide" class="hide">
	<script type="text/javascript">
		if(OAS_AD == 'function'){
			OAS_AD('Bottom')
		}else{
			document.write('<a href="http://adserver.ig.com.br/RealMedia/ads/click_nx.ads/mobile/home@Bottom" target="_blank">');
			document.write('<img src="http://adserver.ig.com.br/RealMedia/ads/adstream_nx.cgi/mobile/home@Bottom" border="0" />');
			document.write('</a>')
		}
	</script>
</div>
<script type="text/javascript">
	document.getElementById('superbanner').innerHTML = document.getElementById('superbanner-hide').innerHTML;
	document.getElementsByTagName('body')[0].removeChild(document.getElementById('superbanner-hide'));
	
	document.getElementById('middle').innerHTML = document.getElementById('middle-hide').innerHTML;
	document.getElementsByTagName('body')[0].removeChild(document.getElementById('middle-hide'));
	
	document.getElementById('pub-bottom').innerHTML = document.getElementById('pub-bottom-hide').innerHTML;
	document.getElementsByTagName('body')[0].removeChild(document.getElementById('pub-bottom-hide'));
</script>	
