<%{%>
	<script>window.jQuery || document.write('<script src="http://js.ig.com/mundooi/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
	<script src="http://js.ig.com/mundooi/plugins.js?v=1"></script>
	<script src="http://js.ig.com/mundooi/script.js?v=1.7"></script>
	<script src="http://js.ig.com/mundooi/ga_dpc_tag_hotsites.js?v=1"></script>
<%}%>