<script type="text/javascript">
	function setCookie(c_name,value,exdays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		document.cookie=c_name + "=" + c_value;
	}

	function getCookie(c_name){
		var i,x,y,ARRcookies=document.cookie.split(";");
		for (i=0;i<ARRcookies.length;i++){
			x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
			y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
			x=x.replace(/^\s+|\s+$/g,"");
			if (x==c_name){
				return unescape(y);
			}
		}
	}

	/*callback de cidades retornadas de json*/
	var cidadesRetornadas = function(data){
		var cidades = data.hits.hits;
		var cidadesHTML = '<option selected="selected" value="0">Selecionar Cidade</option>';
						
		for(i=0;i<cidades.length;i++){
			cidadesHTML += '<option value="'+cidades[i]._source.cidade.codigo+'" id="cidade-'+cidades[i]._source.cidade.codigo+'">'+cidades[i]._source.cidade.nome+'</option>' 					
		}
		
		document.getElementById('previsao-cidades').innerHTML = cidadesHTML;
	}
	
	/*callback de previsoes*/
	var previsaoCidadeRetornada = function(data){
		
		/* Mapa contendo a relação das imagens com as informações provenientesdo ClimaTempo: */
			var mapa = new Array();

			mapa['1'] = 'img1' /* Sol.		*/
			mapa['1n'] = 'img2' /* Noite sem nuvens.		*/
			mapa['2'] = 'img4' /* Sol com algumas nuvens.*/
			mapa['2r'] = 'img7' /* Sol com muitas nuvens.*/
			mapa['2n'] = 'img3' /* Noite com algumas nuvens.*/
			mapa['2rn'] = 'img6' /* Noite com muitas nuvens.*/
			mapa['3'] = 'img5' /* nublado.*/
			mapa['3n'] = 'img8' /* nublado.*/
			mapa['4'] = 'img13' /* Sol  e chuva.*/
			mapa['4r'] = 'img10' /* Sol com muitas nuvens e chuva.*/
			mapa['4n'] = 'img12' /* Noite chuvosa.*/
			mapa['4rn'] = 'img9' /* Noite nublada e chuvosa.*/
			mapa['5'] = 'img14' /* Chuvoso.*/
			mapa['5n'] = 'img11' /* Chuvoso.*/
			mapa['6'] = 'img15' /* Chuva e trovoadas.*/
			mapa['6n'] = 'img15' /* Chuva e trovoadas.*/
			mapa['7'] = 'img19' /* Geada.*/ 
			mapa['7n'] = 'img19' /* Geada.*/ 
			mapa['8'] = 'img18' /* Neve.*/ 
			mapa['8n'] = 'img18' /* Neve.*/ 
			mapa['9'] = 'img16' /* Nevoeiro */
			mapa['9n'] = 'img17' /* Névoa*/ 

			function recuperarImagem(icone){
				return mapa[icone];
			}
		
		var previsao = data._source.previsao_cidade.previsao[0]
		document.getElementById('previsao').innerHTML = '<span class="max">' + previsao.maxima + '</span> <span class="min">'+previsao.minima+'</span>'
		document.getElementById('previsao').style.display = 'block';
		
		/*seta icon*/
		document.getElementById('box-previsao').innerHTML = '<span class="icon '+recuperarImagem(previsao.ico_manha)+'"></span>' + document.getElementById('box-previsao').innerHTML; 
	}

	/* Evento para carregar as cidades via elastic search, JSONP */
	var carregaCidades = function(estado){
		
		try{
			document.getElementsByTagName('head')[0].removeChild(document.getElementById('scriptPrevisaoCidades'));	
		}catch(e){}
		
		var script = document.createElement('script');
		script.src = 'http://ultimosegundo.ig.com.br/_servicos/ig/cidade/_search?size=1000&q=estado:'+estado+'&callback=cidadesRetornadas';
		script.type= 'text/javascript';
		script.id = 'scriptPrevisaoCidades';
						
		document.getElementsByTagName('head')[0].appendChild(script);
	}
	
	
	/* Evento para carregar as previsoes via elastic search, JSONP */
	var carregaPrevisao= function(estado,cidadeId,nomeCidade){
		document.getElementById('box-previsao').innerHTML = '<span id="previsao-nome-cidade"></span><span id="previsao"></span>';
		try{
			document.getElementsByTagName('head')[0].removeChild(document.getElementById('scriptPrevisaoTempo'));	
		}catch(e){}
		
		var script = document.createElement('script');
		script.src = 'http://ultimosegundo.ig.com.br/_servicos/ig/previsao_cidade/'+cidadeId+'?callback=previsaoCidadeRetornada';
		script.type= 'text/javascript';
		script.id = 'scriptPrevisaoTempo';
		
		if(typeof nomeCidade != "undefined" && nomeCidade != false){
			document.getElementById('previsao-nome-cidade').innerHTML = nomeCidade.substr(0,7);
		}else{
			nomeCidade = document.getElementById('cidade-'+cidadeId).innerHTML;
			document.getElementById('previsao-nome-cidade').innerHTML = nomeCidade.substr(0,7);;
			mostraEsconde('extended-previsao');
			
			setCookie("previsaoTempo",'{cidade:{id:'+cidadeId+',nome:\''+nomeCidade.replace("'","\'")+'\'}}',7);
		}
		
		document.getElementsByTagName('head')[0].appendChild(script);
	}
	
	try{
		if(previsaoTempo = getCookie("previsaoTempo")){
			previsaoTempo = eval('('+previsaoTempo+')');
			carregaPrevisao("-",previsaoTempo.cidade.id,previsaoTempo.cidade.nome);
		}else{
			/*Previsao São Paulo*/
			carregaPrevisao("sp",558,'São Paulo');	
		}	
	}catch(e){
		/*Previsao São Paulo*/
		carregaPrevisao("sp",558,'São Paulo');
	}
</script>

<script type="text/javascript">
/*	colocar analitycs e outras métricas */
</script>