<%{%>
	<script>window.jQuery || document.write('<script src="http://js.ig.com/egomes/jquery-min.js">\x3C/script>')</script>
	<script type="text/javascript">(function(){try{var c=document.location.hostname,a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//js.ig.com/metricas/metricas."+c+".js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}catch(d){}})();</script>
	<script type="text/javascript" src="http://js.ig.com/egomes/solrator-0.2.1.js"></script>
	<script type="text/javascript" src="http://js.ig.com/egomes/jquery-ui.js"> </script>
        <script id="navegg" type="text/javascript" src="http://js.ig.com/js/navdmp-min.js?v=0.1"></script>
	<script type="text/javascript" src="http://js.ig.com/egomes/ads.js?v=1.2"> </script> 
<%}%>