<%{%>
<script src="http://js.ig.com/jquery.colorbox-min.js" type="text/javascript"></script>
<script type="text/javascript" src='http://js.ig.com/jquery.validate.js'></script>
<script src="http://js.ig.com/jquery.tooltip.min.js" type="text/javascript"></script>
<link media="screen" rel="stylesheet" href="http://i0.ig.com/css/noticias/colorbox.css" />
<script>

	/* publicidades do webspectator */
	var webspectator_pubs = $('meta[name=pubs-web-spectator]').attr("content") || "",
		webspectator_pubs = webspectator_pubs.toLowerCase(),
		ws_pecas = {}; /* obj que guardara as pecas do webspectator a serem renderizadas */

	if(webspectator_pubs.length > 0){
		var ws_pubs = webspectator_pubs.split(",");

		for(p in ws_pubs){
			var peca = ws_pubs[p].split(":"),
			peca_key = peca[0],
			peca_val = peca[1];

			ws_pecas[peca_key] = peca_val;
		}
	}
	
	/* 
		poe na #div_output o elemento data-pid com o id da posicao do ws_pecas 
		jQuerySelector div_putput 
		String pub_position
	*/
	function carrega_pub_webspectator(div_output,pub_position){
		if(ws_pecas[pub_position]){
			$(div_output).attr("data-pid",ws_pecas[pub_position])
		}
	}
	/* publicidades do webspectator */

	$(".bgCanal").addClass("sprite-header-bg");
	$("#cabecalho h1 a").addClass("sprite-sprite").addClass("logo");
	$("#topo .publicidade").addClass("sprite-ig-publicidade-topo");

	verificaEditor = /(editor\.intranet)|(homeeditor)|(localhost)/,
	verificaEditorPreview=/edicaoHomes\/preview/,
	editor = (verificaEditor.test(location.href) && !verificaEditorPreview.test(location.href)) ? true : false;

	if(!editor){


	var strUrl = ''+location+'',
		verificaEditor=/editor\.intranet/,
		verificaEditorPreview=/editor\.intranet\/edicaoHomes\/preview/,
		adShow = false;
		showIgAd = (strUrl.match(verificaEditor) && !strUrl.match(verificaEditorPreview)) ? false : true;

	$.getScript('http://js.ig.com/egomes/publicidade.js?v=2.0.8', function(){
		if(showIgAd){
			iGpub.init();
			iGpub.posiciona();
		};
	});

	/* Shopping */
	$.getScript('http://js.ig.com/shopping/coluna/slayer.v3.min.js', function(){
		if($('#shoppingLayer')[0]){ $(shoppingLayer($('meta[name=iG-shopping]').attr("content")))}
	});
	
	/* Busca */
	$.getScript('http://js.ig.com/egomes/iGSearchBox.js?v=1.1');
	
	$(window).load(function(){(iGpub)	&& iGpub.posiciona();});	

	if(window.navigator.userAgent.search('Node')<=-1){
		/* font size */
		var fs = 2;
		function changeFontSize(action){
			var sizes = new Array(10, 12, 14, 16, 18, 20);
			var lineH = new Array(14, 17, 20, 23, 26, 28);
			if(action == "up"){
				if(fs<sizes.length-1){fs ++;}
			}else{
				if(fs>0){fs--;}
			}
			var tagAlvo = document.getElementById("noticia");
			ps = tagAlvo.getElementsByTagName("p");	
			if(ps.length > 0){
				for(ip=0; ip<ps.length;ip++){
					if (ps[ip].parentNode.className != "legenda") { 
						ps[ip].style.fontSize = sizes[fs]+'px';
						ps[ip].style.lineHeight = lineH[fs]+'px';
					}
				}
			}
		}
			
		$(".diminuir-button").click(function(e){
			changeFontSize('down');
			iGpub.posiciona();
			
			e.preventDefault();
			return;
		});
		
		$(".aumentar-button").click(function(e){
			changeFontSize('up');
			iGpub.posiciona();
			
			e.preventDefault();
			return;
		});
		
		/* renderiza o social buttons somente quando em producao */
		if(window.location.href.search("ig.com.br") > -1){
			/* Share */
			var urlPagina = $('head link[rel=canonical]').attr('href'),
			titulo = encodeURI(document.title),                 
			urlPaginaEncode =  encodeURIComponent(urlPagina),
			urlFB = urlPaginaEncode;
			var urlOR = 'http://promote.orkut.com/preview?nt=orkut.com&tt='+titulo+'&du='+urlPaginaEncode;
			$('.botaoFacebook').attr("href",urlPagina);
			$('.orkut-share').attr("href",urlOR);
			
			/* Twitter */
			if($('meta[name=iG-twitter]')[0] && $('meta[name=iG-twitter]').attr('content') != ''){
				$('.twitter-share-button').attr('data-via', function(){
					return $('meta[name=iG-twitter]').attr('content').replace('http://twitter.com/#!/', '');
				});
			}
			
			window.fbAsyncInit = function() {
				FB.init({
				    appId  : $('head meta[property="fb:app_id"]').attr("content"),
				    status : true,
				    cookie : true,
				    xfbml  : true,
					channelUrl: "http://" + window.location.host + "/channel.html"
				});
			    	FB.Event.subscribe('edge.create',function(url){
					try{window._gas.push(['_trackEvent','Social','Facebook',url]);}
					catch(e){}
				});
			};
			
			(function() {
				try{
					var e = document.createElement('script');
					e.src = document.location.protocol +
					'//connect.facebook.net/pt_BR/all.js';
					e.async = true;
					document.getElementById('fb-root').appendChild(e);
				}catch(e){}
			}());
		}/*/renderiza o social buttons somente quando em producao */
	}
	
	function defineAjaxPost(url, poststr, func) {
		      $.ajax({
				url: url,
				type: 'POST',
				data: poststr,
				contentType: "application/x-www-form-urlencoded; charset=utf-8",
				timeout: 100000,
				success: func 
			});	
	}
	
	if (typeof SolrUtils == "undefined") {
	
		var SolrUtils = {
			zero_pad : function(num) {
				if (num < 10)
					num = '0' + num;
	
				return num;
			},
			solr_formatar_data : function(data) {
				var ext = /^(\d+)-(\d+)-(\d+)T(\d+):(\d+):(\d+)Z$/.exec(data);
				var utc = new Date();
				utc.setUTCFullYear(ext[1]);
				utc.setUTCMonth(parseInt(ext[2], 10) - 1);
				utc.setUTCDate(ext[3]);
				utc.setUTCHours(ext[4]);
				utc.setUTCMinutes(ext[5]);
	
				var mon = this.zero_pad(parseInt(utc.getMonth(), 10) + 1);
				var day = this.zero_pad(utc.getDate());
				var hour = this.zero_pad(utc.getHours());
				var min = this.zero_pad(utc.getMinutes());
				var year = utc.getFullYear();

				return hour + ":" + min + " | " + day + "/" + mon + "/" + year;
			}
		}
	}
		
	function tiraAcento(text) {
		var acentos =[
		/[\300-\306]/g, /[\340-\346]/g, 
		/[\310-\313]/g, /[\350-\353]/g, 
		/[\314-\317]/g, /[\354-\357]/g, 
		/[\322-\330]/g, /[\362-\370]/g, 
		/[\331-\334]/g, /[\371-\374]/g, 
		/[\321]/g, /[\361]/g,
		/[\307]/g, /[\347]/g,
		];
		var chars = ['A','a','E','e','I','i','O','o','U','u','N','n','C','c'];
		for (var i = 0; i < acentos.length; i++) {
			text = text.replace(acentos[i],chars[i]);
		}
		return text;
	}
	

	/* Destaques home ig */
	function getDestaques(){
		$.ajax({
			url: 'http://'+ window.location.host +'/destaques.json',
			dataType: 'json',
			success: function(data){
			$('#destaqueHomeiG h3').append('<a href="'+data.URL+'">'+data.titulo+'</a>');
			if (data.olho!=undefined){
				$('#destaqueHomeiG p').append(data.olho);
			}
			$.each(data.TV, function(i, item){
				$('#destaqueHomeiG ul').append('<li>'+'<a href="' + this.URL + '">'+'<img src="'+this.Imagem+'" />'+'</a>'+'<h3>'+'<a href="' + this.URL + '">'+this.titulo+'</a>'+'</h3>'+'</li>');
			});	
			$("#destaqueHomeiG ul li:last-child").addClass("nomgr");
			}
		});
	} 

	/* Noticias Relacionadas */
	function getRelacionadas(opt){
		var jsonUrl = encodeURI('http://'+ window.location.host +'/_indice/noticias/select?size='+opt.limit+'&site='+opt.site+'&comb_termos='+ tiraAcento(opt.termos) +'&wt=json');
		$.ajax({
			url: jsonUrl,
			dataType: 'json',
			success: function(data){
				var tempHtml = '';
				var countRelacionados = 0;
				
				var thisPageIdSpl = window.location.pathname.split("/");
				
				var thisPageId = thisPageIdSpl[thisPageIdSpl.length - 1];
				
				if(thisPageId.match(/n(\d+)\.html/)){
					thisPageId = thisPageId.match(/n(\d+)\.html/)[1];
				}else{
					thisPageId = thisPageId.replace(".html","");
				}
				
				$.each(data.response.docs, function(i, item){
					
					if(this.url.search(thisPageId) > -1 || countRelacionados > 5){
						return;
					}
					
					countRelacionados += 1;
					
					tempHtml += '<li>';
					if(this.urlImgEmp_112x84 && this.urlImgEmp_112x84 != ''){
						tempHtml += '<a href="http://'+ this.url.replace("http://","") +'">'+'<img src="'+ this.urlImgEmp_112x84 +'" width="112" height="84" >'+'</a>';
					};
					tempHtml += '<time>'+ SolrUtils.solr_formatar_data(item.startDate) +'</time>'+'<h3>'+'<a href="'+ this.url +'">'+ this.titulo +'</a>'+'</h3>'+'<p>'+'<a href="'+ this.url +'">'+ this.olho +'</a>'+'</p>';
					$('#noticias-relacionadas ul').html(tempHtml);
				});
			}
		});
	} 
}
</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>
if(window.location.href.search('ig.com.br') > -1){
	(function() {
	    /* Website unique identifier var wid = '30' */;
	    function async_load() {
	            var s = document.createElement('script');
	            s.type = 'text/javascript';
	            s.async = true;
	            s.src = 'http://ig.services.webspectator.com/init/30/'+ new Date().getTime();
	            var x = document.getElementsByTagName('script')[0];
	            x.parentNode.insertBefore(s,x);
	    }
	    if (window.attachEvent){
	        window.attachEvent('onload',async_load);
	    }else{
	        window.addEventListener('load',async_load,false);
	    }
	}
	)();
}
</script>
<%}%>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>