	<script type="text/javascript">window.jQuery || document.write('<script src="http://js.ig.com/egomes/jquery.js">\x3C/script>')</script>
	<script type="text/javascript">(function(){try{var c=document.location.hostname,a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//js.ig.com/metricas/metricas."+c+".js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}catch(d){}})();</script>