<script type="text/javascript">
	/*
	window._appKey = "YbD8uq";
	var servicecall = document.createElement('script');
	servicecall.type = 'text/javascript';
	servicecall.async = true;
	servicecall.src = window.location.protocol + '//ig.powermarketing.com/web/static/visitor/scripts/pm.bootstrapper.js'; 
	document.getElementsByTagName('head')[0].appendChild(servicecall);
	*/
</script>

<script type="text/javascript" src="http://rt01.ig.com.br/realtime/min/?g=load_home_v24"></script>