<%{%>
    <script>window.jQuery || document.write('<script src="http://js.statig.com.br/ejesa/igrio/jquery-min.js">\x3C/script>')</script>

    <script type="application/javascript">
        if(/(edicao\.html)/.test(location.href)){
            $.noConflict();
        }
    </script>

    <script type="application/javascript" src="http://js.statig.com.br/ejesa/igrio/jquery-ui.js">
    </script>
    <!-- script type="text/javascript" src="http://js.statig.com.br/ejesa/igrio/ads.js?v=1.2"></script -->
    <script type="application/javascript">
        /* Navegg */
        var NVG_qry = '';
        var nvg_parms = new Array('gender', 'age', 'education', 'interests', 'class', 'marital', 'income');
        for (nvg_i in nvg_parms) {
            if (typeof (nvg_parms[nvg_i]) == 'string') {
            try {
                eval("var nvg_" + nvg_parms[nvg_i] + " = ltgc('" + nvg_parms[nvg_i] + "')");
            } catch (err) {
                eval("var nvg_" + nvg_parms[nvg_i] + " = ''");
            }
            eval("var nvg_tmp = nvg_" + nvg_parms[nvg_i] + "; if (typeof (nvg_tmp) != 'string') { var nvg_tmp=''; }");
            eval("var nvg_tmp_nme = '" + nvg_parms[nvg_i] + "'");
            if (nvg_tmp.search(',') != -1) {
                var nvg_tmp_arr = nvg_tmp.split(',');
                var nvg_for = 1;
            } else if (nvg_tmp.search('-') != -1 && nvg_tmp_nme != 'age') {
                var nvg_tmp_arr = nvg_tmp.split('-');
                var nvg_for = 1;
            } else if (nvg_tmp != '') {
                var NVG_qry = NVG_qry + "&nvg_" + nvg_tmp_nme + "=" + nvg_tmp;
                var nvg_for = 0;
            }
            if (nvg_for == 1) {
                for (x in nvg_tmp_arr) {
                if (nvg_tmp_arr[x].length > 0 && typeof (nvg_tmp_arr[x]) == 'string') {
                    if (nvg_tmp_arr[x] != '0') {
                    NVG_qry = NVG_qry + "&nvg_" + nvg_tmp_nme + "_" + nvg_tmp_arr[x] + "=1";
                    }
                }
                }
            }
            }
        }
    </script>

    <script type="application/javascript" DEFER="DEFER">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3531175-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['ig._setAccount', 'UA-160889-3']);
        _gaq.push(['ig._trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
             'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        var _comscore = _comscore || [];
        _comscore.push({
            c1: "2",
            c2: "6987205"
        });
        (function () {
            var s = document.createElement("script"),
            el = document.getElementsByTagName("script")[0];
            s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>

    <script type="application/javascript" src="http://www.apps.realtime.co/IBTX/9s3Lrr/IBTX.js"> </script>
    <script type="application/javascript" src="http://clients.realtime.co/odia/rt_core.js"> </script>
    <script src="http://s0.ejesa.ig.com.br/js/odia/IBT_Top.min.js" type="application/javascript"></script>

    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=6987205&cv=2.0&cj=1" />
    </noscript>

    <!-- URL:riodejaneiro.ig.com.br | JS:ws-BD9898D0 | ID:1569 --> 
    <script src="//js.statig.com.br/pub/adtags.js?v=0.1"></script>
<%}%>