<script id="navegg" type="text/javascript" src="http://js.ig.com/js/navdmp-min.js?v=0.1"></script>
<script type="text/javascript" src="<%=this.arquivosScripts[0]%>"></script>
<script language="javascript">document.write('<scr'+'ipt language="javascr'+'ipt" src="http://adserver.ig.com.br/RealMedia/ads/adstream_jx.ads/'+window.location.hostname+'/homepage@Right,Top2,x06,x07,x15,x20!x20?'+NVG_qry+'"></scr'+'ipt>');</script>
<script>
    if(!editor){
        function pegaWindowWidth(){
                        wWidth = screen.width;
                        return wWidth;
        }
        var TELAWIDTH = pegaWindowWidth();
        var TELALIMITE = 1280;
        if(TELAWIDTH>=TELALIMITE){
                        if(typeof desativa1280 == "undefined" || desativa1280 != "sim"){
                                        var head  = document.getElementsByTagName('head')[0];
                                        var link  = document.createElement('link');
                                        link.rel  = 'stylesheet';
                                        link.type = 'text/css';
                                        link.href = 'http://i0.ig.com/css/coluna.css?v=1.0';
                                        link.media = 'all';
                                        head.appendChild(link);
                        }
        }
        function criaPubColExtra(url,posicao){
                        var e = document.getElementById('hdCab');
                        var posRight = 216 + 10;
                        var topHeight = "-100";
                        var ifr = document.createElement("iframe");
                        ifr.setAttribute("src", url);
                        ifr.setAttribute("id", "pubCE"+posicao);
                        ifr.setAttribute("frameborder", "0");
                        ifr.setAttribute("scrolling", "no");
                        ifr.setAttribute("marginwidth", "0");
                        ifr.setAttribute("marginheight", "0");
                        if(posicao != 1){(topHeight = posicao * 370 / 2)};
                        ifr.setAttribute("style", "top:"+topHeight+"px;right:-"+posRight+"px!important;");
                        ifr.className = "pubExtra";
                        e.appendChild(ifr);
        }
    }
</script>
