<%{%>
	<script type="text/javascript">OAS_VARS('/ultimosegundo/homepage', 'Bottom,Middle,Top');OAS_START()</script>	
	<div id="superbanner-hide" class="hide"><script type="text/javascript">if(OAS_AD == 'function'){OAS_AD('Top')}else{document.write('<a href="http://adserver.ig.com.br/RealMedia/ads/click_nx.ads/mobile/<%=this.contexto.site.nome%>/homepage@Top" target="_blank">');document.write('<img src="http://adserver.ig.com.br/RealMedia/ads/adstream_nx.cgi/mobile/<%=this.contexto.site.nome%>/homepage@Top" border="0" />');document.write('</a>')}</script></div>
	<div id="bottom-hide" class="hide"><script type="text/javascript">if(OAS_AD == 'function'){OAS_AD('Bottom')}else{document.write('<a href="http://adserver.ig.com.br/RealMedia/ads/click_nx.ads/mobile/<%=this.contexto.site.nome%>/homepage@Bottom" target="_blank">');document.write('<img src="http://adserver.ig.com.br/RealMedia/ads/adstream_nx.cgi/mobile/<%=this.contexto.site.nome%>/homepage@Bottom" border="0" />');document.write('</a>')}</script></div>
	<script type="text/javascript">document.getElementById('superbanner').innerHTML = document.getElementById('superbanner-hide').innerHTML;var _middle = (document.getElementById('middle')) ? document.getElementById('middle').innerHTML = document.getElementById('bottom-hide').innerHTML : ''</script>	
<%}%>