<div>
	<div  class="faixa">
	  <div class="fl">
		<div class="pub-island fl" id="PPA01306"></div>
	  </div>
	</div>
	<div class="faixa">
	  <div class="fl">
		<div class="pub-ticker fl" id="PPA04906"></div>
	  </div>
	</div>
<div  class="faixa">
  <div class="fl" >
      	<div class="ig-shopping headRetranca fl">
      		<h3>
      <a href="http://igshopping.ig.com.br" title="iG Shopping">iG SHOPPING</a>
  </h3>
  		<div id="shoppingLayer">
  		<div class="SLrotate SLsingle"><dl style="display: none; opacity: 0; ">
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2271&amp;SlotId=1&amp;Espaco=1" target="_blank" class="img"><img src="http://i1.ig.com/igshopping/imagens/G33ebfcdb-a0ee-4a44-9e6b-88ebbb8c5139.gif" class="imgAnuncio" alt="NETSHOES" title="NETSHOES"></a>
<dt><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2271&amp;SlotId=1&amp;Espaco=1" target="_blank">NETSHOES</a></dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2271&amp;SlotId=1&amp;Espaco=1" target="_blank">Lançamento Asics Com Frete Grátis </a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2271&amp;SlotId=1&amp;Espaco=1" target="_blank"><span>12x R$ 21,66</span></a></dd>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2271&amp;SlotId=1&amp;Espaco=1" target="_blank" class="btn">Comprar</a>
</dd></dl>
<dl style="display: none; opacity: 0; ">
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2893&amp;SlotId=1&amp;Espaco=2" target="_blank" class="img"><img src="http://i1.ig.com/igshopping/imagens/Gaf5c03ce-0ec4-4497-9661-1ae558e6a0cc.jpg" class="imgAnuncio" alt="Dell" title="Dell"></a>
<dt><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2893&amp;SlotId=1&amp;Espaco=2" target="_blank">Dell</a></dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2893&amp;SlotId=1&amp;Espaco=2" target="_blank">Último dia: i14 Core i3 4GB HD750</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2893&amp;SlotId=1&amp;Espaco=2" target="_blank"><span>10x R$149,90</span></a></dd>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2893&amp;SlotId=1&amp;Espaco=2" target="_blank" class="btn">Comprar</a>
</dd></dl>
<dl style="display: block; opacity: 1; ">
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2797&amp;SlotId=1&amp;Espaco=3" target="_blank" class="img"><img src="http://i1.ig.com/igshopping/imagens/G95befd78-636c-416a-a3ab-92cc46fd2c42.gif" class="imgAnuncio" alt="GOL" title="GOL"></a>
<dt><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2797&amp;SlotId=1&amp;Espaco=3" target="_blank">GOL</a></dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2797&amp;SlotId=1&amp;Espaco=3" target="_blank">Tarifas a partir de</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2797&amp;SlotId=1&amp;Espaco=3" target="_blank"><span>6x R$ 15,00</span></a></dd>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2797&amp;SlotId=1&amp;Espaco=3" target="_blank" class="btn">Comprar</a>
</dd></dl>
<dl style="opacity: 0; display: none; ">
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2778&amp;SlotId=1&amp;Espaco=4" target="_blank" class="img"><img src="http://i1.ig.com/igshopping/imagens/Gb5748312-563d-41aa-8e8f-9cede1cf23b3.jpg" class="imgAnuncio" alt="Assine SKY" title="Assine SKY"></a>
<dt><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2778&amp;SlotId=1&amp;Espaco=4" target="_blank">Assine SKY</a></dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2778&amp;SlotId=1&amp;Espaco=4" target="_blank">Acesse o site e economize com SKY</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2778&amp;SlotId=1&amp;Espaco=4" target="_blank"><span>R$ 49,90/mês</span></a></dd>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2778&amp;SlotId=1&amp;Espaco=4" target="_blank" class="btn">Comprar</a>
</dd></dl>
<dl style="opacity: 0; display: none; ">
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2272&amp;SlotId=1&amp;Espaco=5" target="_blank" class="img"><img src="http://i1.ig.com/igshopping/imagens/Gff40948a-1803-4f5a-a17f-77d7deafbe9e.gif" class="imgAnuncio" alt="NETSHOES" title="NETSHOES"></a>
<dt><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2272&amp;SlotId=1&amp;Espaco=5" target="_blank">NETSHOES</a></dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2272&amp;SlotId=1&amp;Espaco=5" target="_blank">Nike Reax 5 Tr com Frete Grátis </a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2272&amp;SlotId=1&amp;Espaco=5" target="_blank"><span>11x R$ 20,90</span></a></dd>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2272&amp;SlotId=1&amp;Espaco=5" target="_blank" class="btn">Comprar</a>
</dd></dl>
<dl style="opacity: 0; display: none; ">
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.109&amp;adId=2900&amp;SlotId=1&amp;Espaco=6" target="_blank" class="img"><img src="http://i1.ig.com/igshopping/imagens/G3e410527-ff51-40b4-b1c3-da00f4e0f432.jpg" class="imgAnuncio" alt="GROUPON" title="GROUPON"></a>
<dt><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.109&amp;adId=2900&amp;SlotId=1&amp;Espaco=6" target="_blank">GROUPON</a></dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.109&amp;adId=2900&amp;SlotId=1&amp;Espaco=6" target="_blank">Plat. Vibratória Vibe Tech</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.109&amp;adId=2900&amp;SlotId=1&amp;Espaco=6" target="_blank"><span>3X R$299,67</span></a></dd>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.109&amp;adId=2900&amp;SlotId=1&amp;Espaco=6" target="_blank" class="btn">Comprar</a>
</dd></dl>
<div class="SLnavigation"><a href="#" class="left">&lt;</a><a href="#" class="item">0</a><a href="#" class="item">1</a><a href="#" class="item ativo">2</a><a href="#" class="item">3</a><a href="#" class="item">4</a><a href="#" class="item">5</a><a href="#" class="right">&gt;</a></div><!-- /.SLnavigation -->
</div><!-- /.SLrotate .SLsingle --><div class="SLtabs"><ul><li class="SLactive"><a href="#tabLink" class="mainTab">Ofertas</a></li></ul></div><div class="SLrotate SLgrid"><div class="SLdataWrapper"><div class="SLprodutos" style="opacity: 1; display: block; ">
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2275&amp;SlotId=1&amp;Espaco=7" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P59bece04-a381-4f73-ac86-a0ce97c27532.gif" class="imgGrid" alt="NETSHOES" title="NETSHOES">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2275&amp;SlotId=1&amp;Espaco=7" target="_blank"><span>NETSHOES</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2275&amp;SlotId=1&amp;Espaco=7" target="_blank">Lançamento Adidas Evo </a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2275&amp;SlotId=1&amp;Espaco=7" target="_blank"><span>10xR$ 19,99</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2887&amp;SlotId=1&amp;Espaco=8" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/Pdafb8772-d069-4f50-9fc8-3546ff0b22cd.jpg" class="imgGrid" alt="Dell" title="Dell">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2887&amp;SlotId=1&amp;Espaco=8" target="_blank"><span>Dell</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2887&amp;SlotId=1&amp;Espaco=8" target="_blank">Último dia: i15R core i5 4GB HD750</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2887&amp;SlotId=1&amp;Espaco=8" target="_blank"><span>10x R$189,90</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2179&amp;SlotId=1&amp;Espaco=9" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/Pec15b4c6-bfef-4c14-a7fa-e1623cefb0ae.jpg" class="imgGrid" alt="GROUPON" title="GROUPON">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2179&amp;SlotId=1&amp;Espaco=9" target="_blank"><span>GROUPON</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2179&amp;SlotId=1&amp;Espaco=9" target="_blank">Destinos Nacionais</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2179&amp;SlotId=1&amp;Espaco=9" target="_blank"><span>Até 70% OFF</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2774&amp;SlotId=1&amp;Espaco=10" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/Peb9af985-bfc8-4461-89cb-662c8db97e50.jpg" class="imgGrid" alt="Assine SKY" title="Assine SKY">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2774&amp;SlotId=1&amp;Espaco=10" target="_blank"><span>Assine SKY</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2774&amp;SlotId=1&amp;Espaco=10" target="_blank">Divirta-se mais e pague menos. </a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2774&amp;SlotId=1&amp;Espaco=10" target="_blank"><span>só R$ 49,90</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2795&amp;SlotId=1&amp;Espaco=11" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P8e536b4a-f796-4a82-8390-5bffe0df3b73.jpg" class="imgGrid" alt="NET" title="NET">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2795&amp;SlotId=1&amp;Espaco=11" target="_blank"><span>NET</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2795&amp;SlotId=1&amp;Espaco=11" target="_blank">Assine 10 Mega p/ preço de 1Mega</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2795&amp;SlotId=1&amp;Espaco=11" target="_blank"><span>R$ 29,80/mês</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1600&amp;SlotId=1&amp;Espaco=12" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P89629469-c724-4505-a124-e2737231e6f4.gif" class="imgGrid" alt="TECNISA" title="TECNISA">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1600&amp;SlotId=1&amp;Espaco=12" target="_blank"><span>TECNISA</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1600&amp;SlotId=1&amp;Espaco=12" target="_blank">Aptos Jundiaí 2 e 3 dorms</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1600&amp;SlotId=1&amp;Espaco=12" target="_blank"><span>Oportunidade</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2799&amp;SlotId=1&amp;Espaco=13" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P44232fc4-b546-49f1-ad04-122eca938c82.gif" class="imgGrid" alt="GOL" title="GOL">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2799&amp;SlotId=1&amp;Espaco=13" target="_blank"><span>GOL</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2799&amp;SlotId=1&amp;Espaco=13" target="_blank">BH (CNF) a Campinas a partir </a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2799&amp;SlotId=1&amp;Espaco=13" target="_blank"><span>de 6x R$28</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2398&amp;SlotId=1&amp;Espaco=14" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P8c9f3cc7-bd8e-46bf-ab94-6aff1b79b5b8.jpg" class="imgGrid" alt="DAFITI" title="DAFITI">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2398&amp;SlotId=1&amp;Espaco=14" target="_blank"><span>DAFITI</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2398&amp;SlotId=1&amp;Espaco=14" target="_blank">Verão 2012 Calçados a partir</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2398&amp;SlotId=1&amp;Espaco=14" target="_blank"><span>de R$54,90</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2782&amp;SlotId=1&amp;Espaco=15" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/Pfdb4f86d-dd1e-4823-bbc1-ada90c41b548.gif" class="imgGrid" alt="NETSHOES" title="NETSHOES">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2782&amp;SlotId=1&amp;Espaco=15" target="_blank"><span>NETSHOES</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2782&amp;SlotId=1&amp;Espaco=15" target="_blank">Puma Importado Com Frete Grátis </a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.116&amp;adId=2782&amp;SlotId=1&amp;Espaco=15" target="_blank"><span>Só 149,90</span></a></dd>
</dl>
</div><!-- /.SLprodutos -->
<div class="SLprodutos" style="opacity: 0; display: none; ">
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2781&amp;SlotId=1&amp;Espaco=16" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P988dd98a-b47d-4b8f-b6d7-8ab82e2cd821.gif" class="imgGrid" alt="NETSHOES" title="NETSHOES">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2781&amp;SlotId=1&amp;Espaco=16" target="_blank"><span>NETSHOES</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2781&amp;SlotId=1&amp;Espaco=16" target="_blank">Nike Reax com Frete Grátis</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2781&amp;SlotId=1&amp;Espaco=16" target="_blank"><span>11x R$ 20,90</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2883&amp;SlotId=1&amp;Espaco=17" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P6cdf7541-d63e-46ea-803f-9b8587b1133c.jpg" class="imgGrid" alt="Dell" title="Dell">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2883&amp;SlotId=1&amp;Espaco=17" target="_blank"><span>Dell</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2883&amp;SlotId=1&amp;Espaco=17" target="_blank">Inspiron 14 com HD 320GB e HDMI</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2883&amp;SlotId=1&amp;Espaco=17" target="_blank"><span>10x R$119,90</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2183&amp;SlotId=1&amp;Espaco=18" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/Pf8b923c0-5233-4252-abaa-8a622b5abe8a.jpg" class="imgGrid" alt="GROUPON" title="GROUPON">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2183&amp;SlotId=1&amp;Espaco=18" target="_blank"><span>GROUPON</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2183&amp;SlotId=1&amp;Espaco=18" target="_blank">Câmera Digital, As melhores marcas</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2183&amp;SlotId=1&amp;Espaco=18" target="_blank"><span>Até 70% OFF</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2775&amp;SlotId=1&amp;Espaco=19" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P51b4d51b-9dd4-48fc-a798-581ce472d5c3.jpg" class="imgGrid" alt="Assine SKY" title="Assine SKY">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2775&amp;SlotId=1&amp;Espaco=19" target="_blank"><span>Assine SKY</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2775&amp;SlotId=1&amp;Espaco=19" target="_blank">Férias com SKY é mais divertido!</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2775&amp;SlotId=1&amp;Espaco=19" target="_blank"><span>R$ 49,90/mês</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10E&amp;adId=2785&amp;SlotId=1&amp;Espaco=20" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P5e5697c4-15b4-411d-88c5-d2b89d0d4f45.jpg" class="imgGrid" alt="Chevrolet" title="Chevrolet">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10E&amp;adId=2785&amp;SlotId=1&amp;Espaco=20" target="_blank"><span>Chevrolet</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10E&amp;adId=2785&amp;SlotId=1&amp;Espaco=20" target="_blank">0km Ótimo negócio</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10E&amp;adId=2785&amp;SlotId=1&amp;Espaco=20" target="_blank"><span>Não Perca!</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1628&amp;SlotId=1&amp;Espaco=21" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P439b0522-5272-4d0d-a808-aa2f2d251767.gif" class="imgGrid" alt="TECNISA" title="TECNISA">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1628&amp;SlotId=1&amp;Espaco=21" target="_blank"><span>TECNISA</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1628&amp;SlotId=1&amp;Espaco=21" target="_blank">Carapicuíba Subsídio R$23 mil</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.117&amp;adId=1628&amp;SlotId=1&amp;Espaco=21" target="_blank"><span>Aproveite</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2800&amp;SlotId=1&amp;Espaco=22" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P964312fe-db80-4e94-a4af-380ab243c88e.gif" class="imgGrid" alt="GOL" title="GOL">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2800&amp;SlotId=1&amp;Espaco=22" target="_blank"><span>GOL</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2800&amp;SlotId=1&amp;Espaco=22" target="_blank">SP (CGH) a Caxias do Sul a partir de</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.112&amp;adId=2800&amp;SlotId=1&amp;Espaco=22" target="_blank"><span>6x R$32,00</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2405&amp;SlotId=1&amp;Espaco=23" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/Pb0f69d93-f9a7-4334-ba08-030bee304830.jpg" class="imgGrid" alt="DAFITI" title="DAFITI">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2405&amp;SlotId=1&amp;Espaco=23" target="_blank"><span>DAFITI</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2405&amp;SlotId=1&amp;Espaco=23" target="_blank">Nova Coleção Calçados a partir</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.119&amp;adId=2405&amp;SlotId=1&amp;Espaco=23" target="_blank"><span>de R$54,90</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2790&amp;SlotId=1&amp;Espaco=24" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P9f077510-e672-4770-99fb-3bc41b5c2430.jpg" class="imgGrid" alt="Pank!" title="Pank!">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2790&amp;SlotId=1&amp;Espaco=24" target="_blank"><span>Pank!</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2790&amp;SlotId=1&amp;Espaco=24" target="_blank">Tablet Android Capa + Teclado</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2790&amp;SlotId=1&amp;Espaco=24" target="_blank"><span>R$ 219,00</span></a></dd>
</dl>
</div><!-- /.SLprodutos -->
<div class="SLprodutos" style="opacity: 0; display: none; ">
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2783&amp;SlotId=1&amp;Espaco=25" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P63e549b1-5a1e-489d-9fbb-e95ea98a1a99.gif" class="imgGrid" alt="NETSHOES" title="NETSHOES">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2783&amp;SlotId=1&amp;Espaco=25" target="_blank"><span>NETSHOES</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2783&amp;SlotId=1&amp;Espaco=25" target="_blank">Nike Air Importado por</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2783&amp;SlotId=1&amp;Espaco=25" target="_blank"><span>9x R$ 19,99</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2885&amp;SlotId=1&amp;Espaco=26" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P759c8fa9-49b9-4cba-a3c5-d72bc8a11d31.jpg" class="imgGrid" alt="Dell" title="Dell">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2885&amp;SlotId=1&amp;Espaco=26" target="_blank"><span>Dell</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2885&amp;SlotId=1&amp;Espaco=26" target="_blank">Vostro 3550 com Core i3 e 4GB</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.11A&amp;adId=2885&amp;SlotId=1&amp;Espaco=26" target="_blank"><span>10x R$169,90</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2186&amp;SlotId=1&amp;Espaco=27" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P39301d28-289c-40b9-b9bc-6da91d25e13f.jpg" class="imgGrid" alt="GROUPON" title="GROUPON">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2186&amp;SlotId=1&amp;Espaco=27" target="_blank"><span>GROUPON</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2186&amp;SlotId=1&amp;Espaco=27" target="_blank">Fique sem barriga neste verão!</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.108&amp;adId=2186&amp;SlotId=1&amp;Espaco=27" target="_blank"><span>Até 70% OFF</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2776&amp;SlotId=1&amp;Espaco=28" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P1f93d560-ff60-4411-90c7-2106d0bedd83.jpg" class="imgGrid" alt="Assine SKY" title="Assine SKY">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2776&amp;SlotId=1&amp;Espaco=28" target="_blank"><span>Assine SKY</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2776&amp;SlotId=1&amp;Espaco=28" target="_blank">Curta as férias com SKY em casa!</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.10B&amp;adId=2776&amp;SlotId=1&amp;Espaco=28" target="_blank"><span>por R$ 49,90</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.115&amp;adId=2842&amp;SlotId=1&amp;Espaco=29" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P2340f27e-64e4-42b3-9d06-29da961523f7.jpg" class="imgGrid" alt="ToComDinheiro" title="ToComDinheiro">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.115&amp;adId=2842&amp;SlotId=1&amp;Espaco=29" target="_blank"><span>ToComDinheiro</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.115&amp;adId=2842&amp;SlotId=1&amp;Espaco=29" target="_blank">Compre carro 0km à partir de</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.115&amp;adId=2842&amp;SlotId=1&amp;Espaco=29" target="_blank"><span>R$ 260,00</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2815&amp;SlotId=1&amp;Espaco=30" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P0501ce85-18f5-4844-b73f-94ec934eb24d.jpg" class="imgGrid" alt="NET" title="NET">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2815&amp;SlotId=1&amp;Espaco=30" target="_blank"><span>NET</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2815&amp;SlotId=1&amp;Espaco=30" target="_blank">10 Mega pelo preço de 1 Mega</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.111&amp;adId=2815&amp;SlotId=1&amp;Espaco=30" target="_blank"><span>R$ 29,80/mês</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.113&amp;adId=2806&amp;SlotId=1&amp;Espaco=31" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P127624b3-ea72-468b-b2f5-dbf05fd8be05.jpg" class="imgGrid" alt="Nextel" title="Nextel">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.113&amp;adId=2806&amp;SlotId=1&amp;Espaco=31" target="_blank"><span>Nextel</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.113&amp;adId=2806&amp;SlotId=1&amp;Espaco=31" target="_blank">Ilimitado Planos a partir:</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.113&amp;adId=2806&amp;SlotId=1&amp;Espaco=31" target="_blank"><span>R$ 89,00</span></a></dd>
</dl>
<dl class="meio">
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2273&amp;SlotId=1&amp;Espaco=32" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P26f05f7d-e1bc-414f-b50c-0adad7d76a88.gif" class="imgGrid" alt="NETSHOES" title="NETSHOES">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2273&amp;SlotId=1&amp;Espaco=32" target="_blank"><span>NETSHOES</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2273&amp;SlotId=1&amp;Espaco=32" target="_blank">Adidas Shikoba  c/ Frete Grátis</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.101&amp;adId=2273&amp;SlotId=1&amp;Espaco=32" target="_blank"><span>10x R$ 19,99</span></a></dd>
</dl>
<dl>
<dt>
<a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2791&amp;SlotId=1&amp;Espaco=33" target="_blank"><img src="http://i1.ig.com/igshopping/imagens/P3f11e568-26aa-4975-a972-4842553dd759.jpg" class="imgGrid" alt="Pank!" title="Pank!">
</a><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2791&amp;SlotId=1&amp;Espaco=33" target="_blank"><span>Pank!</span></a>
</dt>
<dd><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2791&amp;SlotId=1&amp;Espaco=33" target="_blank">Celular C3 C/ TV Lançamento 2012</a></dd>
<dd class="SLprice"><a href="http://links.ig.com.br/colunaig/_componentes/LinkServer/redir/ProcessClick.aspx?xadinfo=D.110&amp;adId=2791&amp;SlotId=1&amp;Espaco=33" target="_blank"><span>R$ 80,00</span></a></dd>
</dl>
</div><!-- /SLdataWrapper --></div><!-- /.SLprodutos -->
<div class="SLnavigation"><a href="#" class="left">&lt;</a><a href="#" class="item ativo">0</a><a href="#" class="item">1</a><a href="#" class="item">2</a><a href="#" class="right">&gt;</a></div><!-- /.SLnavigation -->
</div><!-- /.SLrotate .SLgrid --></div>
  		<!-- /#shoppingLayer -->
  	</div>
  	<div class="ig-shopping fl">
  		<form action="#" method="get" id="formShopping">
  			<fieldset>
  				<input id="acao" value="busca" name="acao" type="hidden">
  				<label for="comparePrecos">Compare preços</label>
  				<input type="text" alt="Compare preços" title="Compare preços" name="palavra" onkeypress="if ((window.event ? event.keyCode : event.which) == 13) {shoppcomp(this.form); return false;}" id="comparePrecos">
  				<input type="submit" onclick="shoppcomp(this.form); return false;" class="botao-ok" alt="Ok" title="Ok" value="Ok">
  			</fieldset>
  		</form>
  	</div>
</div>
</div>
<div class="faixa">
  <div class="fl" >
      	<div class="halfPage fl" id="PPA03406"></div>
  </div>
</div>
<div class="faixa">
  <div class="PPA02706 gd6 fl" >
	<div class="boxservicos">
		<h3>
<a href="http://servicosdigitais.ig.com.br/">iG SERVIÇOS DIGITAIS</a>
</h3>
	</div>

	<div class="boxservicos">
		<div class="box">
			
			<div id="caixaServico01"> 
				<div class="img sofoto">
					<a title="" href="http://bit.ly/veMJ6V">
<img width="92" height="92" alt="" src="http://i0.ig.com/bancodeimagens/51/bn/rl/51bnrl25x3q47uyhi6kr74w3k.jpg">
</a>
				</div>
				<div class="txt nomgr">
					<a title="" href="http://bit.ly/veMJ6V">
						<span>
							<strong>Proteção contra hackers!</strong>
							<p>A segurança que estava faltando no seu computador!</p>
						</span>
					</a>
					<a title="" class="botao" href="http://bit.ly/veMJ6V">Assine já</a>
				</div>
			</div>
<br class="clear">

			<div id="caixaServico02"> 
				<div class="img sofoto">
					<a title="" href="http://bit.ly/ArMLb9">
<img width="92" height="92" alt="" src="http://i0.ig.com/bancodeimagens/3e/zp/dx/3ezpdx1saqgo2c0rrmgdrfmmp.jpg">
</a>
				</div>
				<div class="txt nomgr">
					<a title="" href="http://bit.ly/ArMLb9">
						<span>
							<strong>Hits do momento</strong>
							<p> “Ai, se eu te pego”, baixe agora mesmo no seu celular </p>
						</span>
					</a>
					<a title="" class="botao" href="http://bit.ly/ArMLb9">Assine já</a>
				</div>
			</div>
<br class="clear">

			<div id="caixaServico03"> 
				<div class="img sofoto">
					<a title="" href="http://bit.ly/yGfsRE">
<img width="92" height="92" alt="" src="http://i0.ig.com/bancodeimagens/dk/e5/hl/dke5hlt5h1c159ysjx886jxj3.jpg">
</a>
				</div>
				<div class="txt nomgr">
					<a title="" href="http://bit.ly/yGfsRE">
						<span>
							<strong>Professores online 24h</strong>
							<p>Esteja preparado para quando as aulas começarem!</p>
						</span>
					</a>
					<a title="" class="botao" href="http://bit.ly/yGfsRE">Assine já</a>
				</div>
			</div>
<br class="clear">
		</div>
	</div>
</div></div>
</div>