<div class="mod-slideshow">
	<ul>
		<li class="selecao">
			<a href=""><img src="" longdesc="" title="" alt=""></a>
			<h3><a href=""></a></h3>
			<p><a href=""></a></p>
			<span></span>
		</li>
	</ul>
	<a class="foto" href=""><img src=""></a>
	<div class="chamada">
		<h4></h4>
		<span class="texto"></span><a class="mais" href="">[Continue lendo]</a>
	</div>
	<span class="transparencia"></span>
</div>