<div class="superGaleria gd12">
	<div class="noticia-header">
		<h2></h2>
		<h3></h3>
		<div class="barra-superior nobdb">            
			<p><strong>Data de publicação: </sgtrong> <cite class="date1"></cite> <strong>  - Atualizada às  </strong><cite class="date2"></cite></p>
		</div>  
	</div>
	<div class="share-tools">	
		<div class="barra-compartilhamento">
			<div class="barra-atalhos" id="botoes">
				<ul class="compartilhe">
					<li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"><!-- --></a></li>
					<li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"><!-- --></a></li>
					<li class="google">
					<!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
					<g:plusone callback="trackSocialPlusOne" size="medium" count="false"></g:plusone>
					</li>
					<li>
					<div class="facebook">
						<fb:like send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
						<div id="fb-root"></div>                                 
					</div>
					</li>
				</ul>    
				<ul class="tools nobdr">
					<li class="imprimir">
						<a class="tooltip" href="#" onClick="javascript:window.print()"></a>
					</li>
					<li class="email">
						<a class="boxEmail tooltip" title="Enviar por e-mail" href="javascript:void(0);"><!-- --></a>
					</li>
					<li class="corrigir">
						<a class="boxCorrigir tooltip" title="Corrigir" href="javascript:void(0);"><!-- --></a>
					</li>
				</ul>
				<div class="botoes nomgr">
					<span class="aumentarTxt">Texto:</span>
					<ul class="tamanhoFontes nopdr nobdr">
						<li class="diminuir nomgr">
							<a class="tooltip" href="#"><!-- --></a>
						</li>
						<li class="aumentar nomgr">
							<a class="tooltip" href="#"><!-- --></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="faixaSuperGaleria" id="container-galeria" style="">
		<div class="jogo-galeria">
			<div id="galleria-container">
				<div id="galleria">
				</div>
			</div>
			<div id="galerias-todas">
			    <p>
			        <a href="/galerias/" target="_parent" class="link-galerias-todas"></a>
			    </p>	
			</div>
			<style type="text/css">
				.galeria-fck{display:none;}
				.galeria{display:block!important;}
				#galleria .galleria-counter{opacity:1!important}
				#galleria .galleria-info{bottom:12px!important}
				#galleria .galleria-info-link{display:none!important}
				/* Noticia */
				.noticia-header h2 {font:bold 32px/36px arial;margin-bottom:10px}
				.noticia-header h3 {font:16px/20px arial;margin-bottom:16px;color:#666666}
				.faixa .noticia-header h3{text-transform:none!important}
				.noticia-header .barra-superior {border-bottom:1px solid #EEEEEE;clear:both;height:21px;margin-bottom:10px}
				.noticia-header .barra-superior p {color:#EEEEEE;float:left;font:12px/21px arial !important}
				.noticia-header .barra-superior p strong {color:#333;font:bold 12px arial !important}
				.noticia-header .barra-superior p cite {color:#333;font:12px arial !important}
			</style>
		</div>
	</div>	
</div>