<div class="superGaleria gd12">
	<div class="noticia-header">
		<h2></h2>
		<h3></h3>
		<div class="barra-superior nobdb">            
			<p><strong>Data de publicação: </sgtrong> <cite class="date1"></cite> <strong>  - Atualizada às  </strong><cite class="date2"></cite></p>
		</div>  
	</div>
	<div class="share-tools">	
		<div class="barra-compartilhamento">
			<div class="barra-atalhos" id="botoes">
				<ul class="compartilhe">
					<li class="twitter"><a href="" class="twitter" target="_blank" title="Twitter"><!-- --></a></li>
					<li class="orkut"><a  href="" class="orkut" target="_blank" title="Orkut"><!-- --></a></li>
					<li class="google">
					<!-- Inclua esta tag onde desejar que o botão +1 seja exibido -->
					<g:plusone callback="trackSocialPlusOne" size="medium" count="false"></g:plusone>
					</li>
					<li>
					<div class="facebook">
						<fb:like send="false" layout="button_count" action="recommend" font="lucida grande" width="125" show_faces="false" class="botaoFacebook"></fb:like>
						<div id="fb-root"></div>                                 
					</div>
					</li>
				</ul>    
				<ul class="tools nobdr">
					<li class="imprimir">
						<a class="tooltip" href="#" onClick="javascript:window.print()"></a>
					</li>
					<li class="email">
						<a class="boxEmail tooltip" title="Enviar por e-mail" href="javascript:void(0);"><!-- --></a>
					</li>
					<li class="corrigir">
						<a class="boxCorrigir tooltip" title="Corrigir" href="javascript:void(0);"><!-- --></a>
					</li>
				</ul>
				<div class="botoes nomgr">
					<span class="aumentarTxt">Texto:</span>
					<ul class="tamanhoFontes nopdr nobdr">
						<li class="diminuir nomgr">
							<a class="tooltip" href="#"><!-- --></a>
						</li>
						<li class="aumentar nomgr">
							<a class="tooltip" href="#"><!-- --></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="faixaSuperGaleria" id="container-galeria" style="">
		<div class="jogo-galeria">
			<div id="galleria-container">
				<div id="galleria">
				</div>
			</div>
			<div id="galerias-todas">
			    <p>
			        <a href="/galerias/" target="_parent" class="link-galerias-todas">VEJA MAIS GALERIAS</a>
			    </p>	
			</div>
			<style type="text/css">
				.galeria-fck{display:none;}
				.galeria{display:block!important;}
				#galleria .galleria-counter{opacity:1!important}
				#galleria .galleria-info{bottom:12px!important}
				#galleria .galleria-info-link{display:none!important}
				/* Noticia */
				.noticia-header h2 {font:bold 32px/36px arial;margin-bottom:10px}
				.noticia-header h3 {font:16px/20px arial;margin-bottom:16px;color:#666666}
				.faixa .noticia-header h3{text-transform:none!important}
				.noticia-header .barra-superior {border-bottom:1px solid #EEEEEE;clear:both;height:21px;margin-bottom:10px}
				.noticia-header .barra-superior p {color:#EEEEEE;float:left;font:12px/21px arial !important}
				.noticia-header .barra-superior p strong {color:#333;font:bold 12px arial !important}
				.noticia-header .barra-superior p cite {color:#333;font:12px arial !important}
				
				#galleria{height:780px!important;}
				#galleria .galleria-stage {height:652px!important;}
				#galleria .galleria-thumbnails .galleria-image.active {height: 52px !important;width: 52px !important;border:2px solid #FFF !important;}
				#galleria .galleria-thumbnails .galleria-image.active img {margin:-2px;}
				
				#galleria .galleria-counter {bottom:12px;color:#ccc;font-size:22px;right:0;top:12px;position:absolute;text-align:right;z-index:20;}
				#galleria span.galleria-current{color:#666 !important;}
				#galleria .galleria-loader {background: #000;width: 35px;height: 35px;position: absolute;top: 10px;right: 10px;z-index: 2;display: none;background: url(classic-loader.gif) no-repeat 2px 2px;}
				
				#galleria .galleria-info {bottom: 0px;left: 0px;z-index: 2;position: absolute;}
				#galleria .galleria-info-text {height:50px;border-bottom:4px solid #424343;}
				#galleria .galleria-info-title {display:block;border-bottom:1px solid #dcdcdc;float:left;margin:0;padding:7px 0 0 0px;color:#333;height:17px;font-weight:bold;}
				#galleria .galleria-info-title h2{float:left;font-family:Arial;font-size:20px;width:485px;margin:0;}
				#galleria .galleria-info-title span{float:right;font-size:11px;display:block;color:#999;font-weight:normal;}
				#galleria .galleria-info-description {font-size:12px;margin: 0;float:left;color:#666;padding:7px 0;line-height:18px;height:32px;overflow-y:hidden;}
				#galleria .galleria-info-close {width: 9px;height: 9px;position: absolute;top: 5px;right: 5px;background-position: -753px -11px;opacity: .5;filter: alpha(opacity=50);cursor: pointer;display: none;}
				#galleria .galleria-info-close:hover{opacity:1;filter: alpha(opacity=100);}
				#galleria .galleria-info-link {background-position: -669px -5px;opacity: .7;filter: alpha(opacity=70);position: absolute;width: 20px;height: 20px;cursor: pointer;background-color: #000;}
				#galleria .galleria-info-link:hover {opacity: 1;filter: alpha(opacity=100);}
				
				#galleria .galleria-image-nav {position:absolute;top:0;width:100%;height:652px!important;left:0;}
				#galleria .galleria-image-nav-left,
				#galleria .galleria-image-nav-right {opacity: .8;filter: alpha(opacity=80); cursor: pointer;width:62px;height:652px!important;position:absolute;left:0;z-index:2;}
				#galleria .galleria-image-nav-right {left: auto;right: 0;background-position: -254px center;z-index: 2;}
				#galleria .galleria-image-nav-left:hover,
				#galleria .galleria-image-nav-right:hover { opacity: 1;filter: alpha(opacity=100);}
				#galleria .galleria-thumb-nav-left,
				#galleria .galleria-thumb-nav-right {cursor: pointer;display: none;background-color:#333333;position: absolute;left: 0;top: 10px;height: 56px;width: 31px;z-index: 3;}
				#galleria .galleria-thumb-nav-left{background-position: -495px center;}
				#galleria .galleria-thumb-nav-right {background-position: -568px center;border-right: none;right: 0;left: auto;}
				#galleria .galleria-thumbnails-container .disabled {opacity: .2;filter: alpha(opacity=20);cursor: default;}
				#galleria .galleria-thumb-nav-left:hover,
				#galleria .galleria-thumb-nav-right:hover {opacity: 1;filter: alpha(opacity=100); background-color: #111;}
				#galleria .galleria-thumbnails-container .disabled:hover {opacity: 0.2 !important;filter: alpha(opacity=20) !important;background-color:#333 !important;}
				
				#galleria .galleria-carousel .galleria-thumb-nav-left,
				#galleria .galleria-carousel .galleria-thumb-nav-right {display: block;}
				#galleria .galleria-thumb-nav-left,
				#galleria .galleria-thumb-nav-right,
				#galleria .galleria-info-link,
				#galleria .galleria-info-close
				{background-image: url(classic-map.png);background-repeat: no-repeat;}
				
				#galleria .galleria-image-nav-left,
				#galleria .galleria-image-nav-right
				{background-image: url(classic-arrows.png);background-repeat: no-repeat;background-position:0 170px;}
				#galleria .galleria-image-nav-right{background-position:right -455px;}
				
				.galleria-stage,.galleria-info,.galleria-info-title{width:652px!important}
				.galleria-info-description{width:510px;}
				#galleria .galleria-image-nav-left,
				#galleria .galleria-image-nav-right {width:326px;}
				
				.info-especial .galleria-info-description{width:846px!important;}
				.info-especial .galleria-stage,.info-especial .galleria-info,.info-especial .galleria-info-title{width:988px!important}
				.info-especial #galleria .galleria-image-nav-left,
				.info-especial #galleria .galleria-image-nav-right {width:494px}
				
				#galerias-todas{width:100%;height:43px;background:#f8f8f8;}
				#galerias-todas p{float:right;}
				#galerias-todas p a{top:15px;position:relative;float:left;padding-right:20px;margin-right:20px;color:#4C4C4C!important;text-transform:uppercase;background:url(http://i0.ig.com/infograficos/like/sprite.gif) right no-repeat;}
			</style>
		</div>
	</div>	
</div>