<ul class="temas-momento">
  <li><strong>Temas do momento:</strong></li>
  <li class="itemTema"><a href="" target="" title=""></a> • </li>
  <li><strong><a href="" title="Todas as notícias" class="tdsNoticias">Todas as notícias</a></strong></li>
</ul>