<div class="barra-topo">
	<h1 class="logo" title="Mundo Oi"><a href="http://mundooi.com.br/">Mundo Oi</a></h1>
	<ul class="menu">
		<li><a href="http://oiacontece.com.br/">OI ACONTECE</a></li>
		<li><span>|</span><a href="http://oifm.com.br/">OI FM</a></li>
		<li><span>|</span><a href="http://oinovosom.com.br/">OI NOVO SOM</a></li>
		<li><span>|</span><a href="http://oimusica.oi.com.br/">OI MÚSICA</a></li>
		<li><span>|</span><a href="http://apps.oi.com.br/">OI APPLICATIVOS</a></li>
	</ul>
	<div class="links">
		<a class="portal-oi" title="Portal Oi" href="http://oi.com.br/" target="_blank">PORTAL OI</a>
		<a class="oi-mail" title="Oi Mail" href="https://login.oiinternet.com.br/webmail/signin" target="_blank">OI MAIL</a>
	</div>
	<div class="barra">
		<div id="torpedo">
			<div class="box">
				<div class="wgMoldura fotos">
					<div class="wgMolduraContent" id="wgOitorpedoContent">
					<iframe id="telaTorpedo" name="telaTorpedo" frameborder="0" marginheight="0" marginwidth="0" height="660" width="327" scrolling="no" vspace="0" style="border: medium none ; width: 327px; height: 660px; display: block;"></iframe>
					<form name="frmTorpedoInt">
						<input type="hidden" name="hidParametro" value="LIBERADO" />
					</form>
					</div>
				</div>
			</div>
		</div>
		<div id="twitters">
			TWITTERS
			<div class="box">
				<ul>
					<li><a href="">@</a></li>
				</ul>
				<span class="seta"></span>
			</div>
		</div>
		<div class="busca">
			<form id="formBusca" lang="atmors" enctype="application/x-www-form-urlencoded" name="search">
				<fieldset>
					<input id="textoBusca" name="q" type="text" value="BUSCAR" title="Buscar" alt="Buscar" />
					<input type="submit" value=" " title="Buscar" alt="Buscar" class="botao-buscar" />
				</fieldset>
			</form>					
		</div>
	</div>
</div>