<div id="TurismoGuiaTexto" class="guias gd12 fr">
	
	<ul class="lista-abas">
		<li class="aba-documentos"><a href="/manual-do-viajante/documentos/">Documentos</a><div class="left"></div><div class="right"></div></li>
		<li class="aba-consulados-embaixadas"><a href="/manual-do-viajante/consulados-embaixadas/">Consulados e Embaixadas</a><div class="left"></div><div class="right"></div></li>
		<li class="aba-bagagem"><a href="/manual-do-viajante/bagagem/">Bagagem</a><div class="left"></div><div class="right"></div></li>
		<li class="aba-rodoviarias"><a href="/manual-do-viajante/rodoviarias/">Rodoviárias</a><div class="left"></div><div class="right"></div></li>
		<li class="aba-aeroportos"><a href="/manual-do-viajante/aeroportos/">Aeroportos</a><div class="left"></div><div class="right"></div></li>
		<li class="aba-vacinas"><a href="http://saude.ig.com.br/minhasaude/saude-estuda-recomendar-novas-vacinas-para-turistas-na-copa-2014/n1597210972780.html">Vacinas</a><div class="left"></div><div class="right"></div></li>
	</ul>
	
	
	<div class="guia-container-texto">
	</div>
	
</div>