<div class="LIASOLR gd12 fl ">
	<div class="theId noticia-video"><a class="anchor" name=""></a>
	
		<h3>Últimas Notícias</h3>
		<ul class="container"></ul>
		
		<div class="clear"></div>
		
		<ul class="pagination"></ul>
		
		<div class="clear"></div>
		
		<a class="linkGeral " href="/eleicoes/noticias/">Todas as notícias</a>
		
		<div class="clear"></div>
	</div>
</div>