<div class="eleicaoCandidado gd12 fr">

	<input type="hidden" name="id" value="ultimasnoticias"/>
	<input type="hidden" name="tipo" value="paginaDeEmpilhamento"/>
	<input type="hidden" name="dominio" value="ultimosegundo.ig.com.br"/>
	<input type="hidden" name="secoes" />
	<input type="hidden" name="termos" id="palavrasChave"/>
	<input type="hidden" name="video" id="video"/>
	<input type="hidden" name="canal" value="ultimosegundo"/>
	<input type="hidden" name="limit" value="5"/>
	<input type="hidden" name="hasPagination"/>
	<input type="hidden" name="tipoConteudo"/>
	<input type="hidden" name="candidatosCidade" id="candidatosCidade"/>
	
	<textarea name="template" style="display:none;"></textarea>
	<textarea name="beforeRender" style="display:none;"></textarea>
	<textarea name="beforeRenderItem" style="display:none;"></textarea>
	<textarea name="afterRender" style="display:none;"></textarea>
	<textarea name="afterRenderItem" style="display:none;"></textarea>
	<textarea name="callback" style="display:none;"></textarea>

	<article class="main interna">
		<div class="faixa">
			
			<div class="candidato-header">
				<h2 class="titulo"></h2>
				
				<select name="" id="" class="dropfy">
					<option value="">Outros Perfis</option>
				</select>
				
			</div>
			
			<div class="CHE05412 gd12 fl">
				<div id="fb-root"></div><fb:like href="" send="false" width="450" show_faces="true" action="recommend" font="lucida grande" class="fb-share"></fb:like>
				
				<ul class="icones-compartilhe">
					<li>Compartilhar:</li>
					<li><a href="#" class="twitter" title="Compartilhe no Twitter">Compartilhe Twitter</a></li>
					<li><a href="#" class="fb" title="Compartilhe no Facebook">Compartilhe Facebook</a></li>
					<li class="nomgr"><a href="#" class="orkut" title="Compartilhe no Orkut">Compartilhe Orkut</a></li>
				</ul>
			</div>
			
			<div class="ficha-candidato">
				<img src="" alt="" width="148" height="197" />
				
				<div class="dados-tecnicos">
					<div class="info nome-completo"><strong>Nome</strong> <span>Rockstar Games</span><div class="clear"></div></div>
					<div class="info nascimento"><strong>Nascimento</strong> <span>Aventura</span><div class="clear"></div></div>
					<div class="info nacionalidade"><strong>Nacionalidade</strong> <span>18/05/2010</span><div class="clear"></div></div>
					<div class="info formacao"><strong>Formação</strong> <span>18/05/2010</span><div class="clear"></div></div>
					<div class="info partido"><strong>Partido</strong> <span>Lorem</span><div class="clear"></div></div>
					<div class="info site"><strong>Site Oficial</strong><a href=""></a><div class="clear"></div></div>
					<div class="info redes-sociais"><strong>Redes sociais</strong><a href="" class="twitter"><span class="icot"></span>Twitter</a><a href="" class="facebook"><span class="icof"></span>Facebook</a><div class="clear"></div></div>
				</div>
			</div>		
		</div>
		
		<div class="faixa-dd faixa-conteudo-candidato">
			<div class="texto" id="theText"></div>
		</div>
		
	</article>
</div>