<div>
	<div id="ficha-guia-profissao" class="principal">	
		<div id="busca-ficha">
			<label>Busca por profissão ou curso</label>
			<input type="text" class="campo-busca" id="" value="(Ex: Engenheiro)">
		</div>
		<div class="clear"></div>
		<div id="areas-atuacao">
			<h1 class="areasdeatuacao">ÁREAS DE ATUAÇÃO</h1>
			<ul id="listaTransporte">
				<li class="first-level first">
					<h2 data-area="Administração e Negócios" data-item="0" id="administracao-e-negocios">Administração e Negócios <span class="arrow"> </span></h2>
					<ul class="mais-transporte">
						<li class="last">
							<ul class="cursos"></ul>			
						</li>
					</ul>
				</li>
				
				<li class="first-level">
					<h2 data-area="Ciências Agrárias e Ambiente" data-item="1" id="ciencias-agrarias-e-ambiente">Ciências Agrárias e Ambiente <span class="arrow"> </span></h2>
					<ul class="mais-transporte">
						<li class="last">						
							<ul class="cursos"></ul>			
						</li>
					</ul>
				</li>
				
				<li class="first-level">
					<h2 data-area="Ciências Biológicas e Saúde" data-item="2" id="ciencias-biologicas-e-saude">Ciências Biológicas e Saúde<span class="arrow"> </span></h2>
					<ul class="mais-transporte">
						<li class="last">
							<ul class="cursos"></ul>
						</li>
					</ul>
				</li>
				
				<li class="first-level">
					<h2 data-area="Ciências Exatas e Tecnologia" data-item="3" id="ciencias-exatas-e-tecnologia">Ciências Exatas e Tecnologia<span class="arrow"> </span></h2>
					<ul class="mais-transporte">
						<li class="last">
							<ul class="cursos"></ul>
						</li>
					</ul>
				</li>
				
				<li class="first-level">
					<h2 data-area="Ciências Humanas e Sociais" data-item="4" id="ciencias-humanas-e-sociais">Ciências Humanas e Sociais<span class="arrow"> </span></h2>
					<ul class="mais-transporte">
						<li class="last">
							<ul class="cursos"></ul>					
						</li>
					</ul>
				</li>
				
				<li class="first-level">
					<h2 data-area="Comunicação e Artes" data-item="5" id="comunicacao-e-artes">Comunicação e Artes<span class="arrow"> </span></h2>
					<ul class="mais-transporte">
						<li class="last">
							<ul class="cursos"></ul>						
						</li>
					</ul>
				</li>
			</ul>				
		</div>	
	</div>
</div>