<div>
	<div id="ficha-guia-profissao">	
		<div id="busca-ficha">
			<label>Busca por profissão ou curso</label>
			<input type="text" class="campo-busca" id="" value="(Ex: Engenheiro)">
		</div>
		<div class="clear"></div>
		<a href="http://ultimosegundo.ig.com.br/educacao/guia-de-profissoes/" class="link-todas-profissoes">Todas as profissões</a>
		
		<div class="clear"></div>	
		
		<h1></h1>
		<p class="profissoesrelacionadas">Profissões relacionadas ao curso: <strong></strong>.</p>
		
		
		<ul class="sub-abas">
			<li><a href="#sobre">1. Sobre o Curso</a></li>
			<li><a href="#ensino">2. Ensino</a></li>
			<li><a href="#estagio">3. Estágio</a></li>
			<li class="nobdb"><a href="#mercado">4. Mercado</a></li>
		</ul>
		
		<div class="bloco sobreocurso"></div>
		
		<div class="clear"></div>
		
		<div class="bloco" id="teste">
			<h2 id="ensino">2. Ensino</h2>
			<table>
				<tr>
					<td class="coluna1ensino">Número de faculdades</td>
					<td class="right" id="nofaculdades"></td>
				</tr>
				<tr>
					<td>Melhores cursos</td>
					<td class="right" id="melhorescursos"></td>
				</tr>
				<tr>
					<td>Vagas disponíveis por ano</td>
					<td class="right" id="vagasporano"></td>
				</tr>
				<tr>
					<td>Duração do curso</td>
					<td class="right" id="duracaocurso"></td>
				</tr>
				<tr>
					<td>Candidatos</td>
					<td class="right" id="candidatos"></td>
				</tr>
				<tr>
					<td>Candidatos/vaga</td>
					<td class="right" id="candidatovaga"></td>
				</tr>
				<tr>
					<td>Formandos por ano</td>
					<td class="right" id="formadosano"></td>
				</tr>		
			</table>
			<a href="#" class="link-topo">Topo</a>
		</div>
		
		<div class="clear"></div>
		
		<div class="bloco blocoestagio"></div>
		
		<div class="clear"></div>
		
		<div class="bloco">
			<div class="blocomercado"></div>
			<div class="umahistoriadesucesso">
				<h3>Uma história de sucesso</h3>
				<img src="images/image-sucesso.jpg" class="imagem-sucesso" alt="" width="149" height="198" id="minhaimagem" />
				<p id="minhadescricao"></p>
				<p class="sucesso" id="minhaminibiografia"><em></em></p>
			</div>
			<div class="clear"></div>
			<a href="#" class="link-topo topomercado">Topo</a>
		</div>
		<div class="clear"></div>
		<div class="bloco">
			<div class="fontededados"></div>
			<div class="guia-entrevistados"></div>
			<a href="#" class="link-topo topobase">Topo</a>
		</div>
	</div>
</div>