
	

<div class="EJEHLE00902">
	<a class="animation" href="#nogo" title="">
		<div class="headline-img">
			<img src="" width="300" height="170" alt="" title=""/>
		</div>
		<div class="headline">
			<div class="box-hat">
                <div class="headline-hat"></div>
            </div>
			<div class="box-title">
				<div class="headline-title">
					<span class="back"></span>
					<span class="front"></span>
				</div>
			</div>
		</div>
	</a>
</div>

