<div class="retrospectiva-empilhamento">
	
		<!--div class="busca-de-capas">
			<span>Busca Gata:</span>
			<form>
				<input type="text" placeholder="Digite o nome da gata...">
				<select>
					<option value="volvo">Ano</option>
				</select>
				<select>
					<option value="volvo">Mês</option>
				</select>
				<select>
					<option value="volvo">Dia</option>
				</select>
				<input type="submit" value="OK">
			</form>
			<code>i</code>
		</div>


		<div class="todas-gatas">

			<ul id="lista-gatas-ge">
			
			</ul>

			<div id="mais-resultados">
				
			</div>

		</div>

	</div -->


</div>