.no_border {
  border-bottom: 1px solid #ffffff; }

.border_top {
  border-top: 1px solid #e5e5e5; }

.grid_1 {
  width: 75px; }

.grid_2 {
  width: 180px; }

.grid_3 {
  width: 285px; }

.grid_4 {
  width: 390px; }

.grid_5 {
  width: 495px; }

.grid_6 {
  width: 600px; }

.grid_7 {
  width: 705px; }

.grid_8 {
  width: 810px; }

.grid_9 {
  width: 915px; }

.grid_10 {
  width: 1020px; }

.grid_11 {
  width: 1125px; }

.grid_12 {
  width: 1230px; }

.faixa_1 {
  width: 105px; }

.faixa_2 {
  width: 210px; }

.faixa_3 {
  width: 315px; }

.faixa_4 {
  width: 420px; }

.faixa_5 {
  width: 525px; }

.faixa_6 {
  width: 630px; }

.faixa_7 {
  width: 735px; }

.faixa_8 {
  width: 840px; }

.faixa_9 {
  width: 945px; }

.faixa_10 {
  width: 1050px; }

.faixa_11 {
  width: 1155px; }

.faixa_12 {
  width: 1260px; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  padding: 0px 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 15px 20px 15px; }

.faixa_1, .grid_1, .faixa_2, .grid_2, .faixa_3, .grid_3, .faixa_4, .grid_4, .faixa_5, .grid_5, .faixa_6, .grid_6, .faixa_7, .grid_7, .faixa_8, .grid_8, .faixa_9, .grid_9, .faixa_10, .grid_10, .faixa_11, .grid_11, .faixa_12, .grid_12 {
  float: left; }

.content {
  margin: 0 auto;
  float: none;
  position: relative; }

.faixa_1:after, .grid_1:after, .faixa_1:before, .grid_1:before, .faixa_2:after, .grid_2:after, .faixa_2:before, .grid_2:before, .faixa_3:after, .grid_3:after, .faixa_3:before, .grid_3:before, .faixa_4:after, .grid_4:after, .faixa_4:before, .grid_4:before, .faixa_5:after, .grid_5:after, .faixa_5:before, .grid_5:before, .faixa_6:after, .grid_6:after, .faixa_6:before, .grid_6:before, .faixa_7:after, .grid_7:after, .faixa_7:before, .grid_7:before, .faixa_8:after, .grid_8:after, .faixa_8:before, .grid_8:before, .faixa_9:after, .grid_9:after, .faixa_9:before, .grid_9:before, .faixa_10:after, .grid_10:after, .faixa_10:before, .grid_10:before, .faixa_11:after, .grid_11:after, .faixa_11:before, .grid_11:before, .faixa_12:after, .grid_12:after, .faixa_12:before, .grid_12:before {
  content: "";
  display: table; }

.faixa_1:after, .grid_1:after, .faixa_2:after, .grid_2:after, .faixa_3:after, .grid_3:after, .faixa_4:after, .grid_4:after, .faixa_5:after, .grid_5:after, .faixa_6:after, .grid_6:after, .faixa_7:after, .grid_7:after, .faixa_8:after, .grid_8:after, .faixa_9:after, .grid_9:after, .faixa_10:after, .grid_10:after, .faixa_11:after, .grid_11:after, .faixa_12:after, .grid_12:after {
  clear: both; }

@media screen and (max-width: 1279px) {
  .grid_1 {
    width: 53px; }

  .grid_2 {
    width: 136px; }

  .grid_3 {
    width: 219px; }

  .grid_4 {
    width: 302px; }

  .grid_5 {
    width: 385px; }

  .grid_6 {
    width: 468px; }

  .grid_7 {
    width: 551px; }

  .grid_8 {
    width: 634px; }

  .grid_9 {
    width: 717px; }

  .grid_10 {
    width: 800px; }

  .grid_11 {
    width: 883px; }

  .grid_12 {
    width: 966px; }

  .faixa_1 {
    width: 83px; }

  .faixa_2 {
    width: 166px; }

  .faixa_3 {
    width: 249px; }

  .faixa_4 {
    width: 332px; }

  .faixa_5 {
    width: 415px; }

  .faixa_6 {
    width: 498px; }

  .faixa_7 {
    width: 581px; }

  .faixa_8 {
    width: 664px; }

  .faixa_9 {
    width: 747px; }

  .faixa_10 {
    width: 830px; }

  .faixa_11 {
    width: 913px; }

  .faixa_12 {
    width: 996px; } }

/*# sourceMappingURL=grid.css.map */
