$main-url-font : "http://s0.ejesa.ig.com.br/font/odia20/";

html, body, div, span, applet, object, main, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, author, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;font-family: Arial, sans-serif;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

@font-face {font-family: 'AntennaBold';src: url('#{$main-url-font}AntennaBold.eot');src: url('#{$main-url-font}AntennaBold.eot?#iefix') format('eot'),url('#{$main-url-font}AntennaBold.woff') format('woff'),url('#{$main-url-font}AntennaBold.ttf') format('truetype'),url('#{$main-url-font}AntennaBold.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'AntennaCondBold';src: url('#{$main-url-font}AntennaCondBold.eot');src: url('#{$main-url-font}AntennaCondBold.eot?#iefix') format('eot'),url('#{$main-url-font}AntennaCondBold.woff') format('woff'),url('#{$main-url-font}AntennaCondBold.ttf') format('truetype'),url('#{$main-url-font}AntennaCondBold.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'AntennaCondBoldItalic';src: url('#{$main-url-font}AntennaCondBoldItalic.eot');src: url('#{$main-url-font}AntennaCondBoldItalic.eot?#iefix') format('eot'),url('#{$main-url-font}AntennaCondBoldItalic.woff') format('woff'),url('#{$main-url-font}AntennaCondBoldItalic.ttf') format('truetype'),url('#{$main-url-font}AntennaCondBoldItalic.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'AntennaCondBlack';src: url('#{$main-url-font}AntennaCondBlack.eot');src: url('#{$main-url-font}AntennaCondBlack.eot?#iefix') format('eot'),url('#{$main-url-font}AntennaCondBlack.woff') format('woff'),url('#{$main-url-font}AntennaCondBlack.ttf') format('truetype'),url('#{$main-url-font}AntennaCondBlack.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'fontawesome';src: url('#{$main-url-font}fontawesome-webfont.eot');src: url('#{$main-url-font}fontawesome-webfont.eot?#iefix') format('eot'),url('#{$main-url-font}fontawesome-webfont.woff') format('woff'),url('#{$main-url-font}fontawesome-webfont.ttf') format('truetype'),url('#{$main-url-font}fontawesome-webfont.svg') format('svg');font-weight: normal;font-style: normal;}