html, body, div, span, applet, object, main, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, author, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-family: Arial, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'AntennaBold';
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaBold.eot");
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaBold.eot?#iefix") format("eot"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaBold.woff") format("woff"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaBold.ttf") format("truetype"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AntennaCondBold';
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBold.eot");
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBold.eot?#iefix") format("eot"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBold.woff") format("woff"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBold.ttf") format("truetype"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AntennaCondBoldItalic';
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBoldItalic.eot");
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBoldItalic.eot?#iefix") format("eot"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBoldItalic.woff") format("woff"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBoldItalic.ttf") format("truetype"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AntennaCondBlack';
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBlack.eot");
  src: url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBlack.eot?#iefix") format("eot"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBlack.woff") format("woff"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBlack.ttf") format("truetype"), url("http://s0.ejesa.ig.com.br/font/odia20/AntennaCondBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontawesome';
  src: url("http://s0.ejesa.ig.com.br/font/odia20/fontawesome-webfont.eot");
  src: url("http://s0.ejesa.ig.com.br/font/odia20/fontawesome-webfont.eot?#iefix") format("eot"), url("http://s0.ejesa.ig.com.br/font/odia20/fontawesome-webfont.woff") format("woff"), url("http://s0.ejesa.ig.com.br/font/odia20/fontawesome-webfont.ttf") format("truetype"), url("http://s0.ejesa.ig.com.br/font/odia20/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=reset.css.map */
