@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	display:block;
	clear:both;
}


/* 
Especial da Retrospectiva 2015
Author: Equipe O Dia Online
Description: Folha de estilo para o especial da Retrospectiva 2015
Tags: o dia, retrospectiva 2015
*/

.content-retrospectiva {
	width:940px;
	margin:30px auto;
	font-family: 'Roboto Condensed', sans-serif;
}

.content-retrospectiva h1 {
	font-weight:400;
	font-size:50px;	
	text-align:center;
	text-transform:uppercase;
	margin-bottom:30px;
	color:#363636;
}

.content-retrospectiva h1 strong {
	font-weight:700;
}

.content-retrospectiva .meses {
	background:url(imgs/linha-meses.gif) no-repeat center center;
	padding:0 170px;	
}

.content-retrospectiva .meses li {
	display:inline;
	font-size:20px;
	text-transform:uppercase;
	color:#FFF;
}

.content-retrospectiva .meses li.active, .content-retrospectiva .meses li a:hover {
	background:#b40700;	
	padding:3px 2px 6px;
	color:#FFF;
}

.content-retrospectiva .meses li a {
	font-weight:400;
	color:#818181;
	padding:5px 7px;
	text-decoration:none;
}
/* Galeria de Fotos */

.content-retrospectiva .carrousel {margin: 40px 0; padding-bottom:50px; position:relative;}
.content-retrospectiva .carrousel .leia-mais-bt { display:block; width:90px; height:60px; position:absolute; bottom:0; background:url(imgs/bt-leia-mais.png) no-repeat; z-index:995; color:#FFF; text-align:center; text-transform:uppercase; padding-top:30px; text-decoration:none; left:425px;}

.content-retrospectiva #galeria {overflow: hidden;height: 565px;width: 940px;position: relative;}
.content-retrospectiva #galeria .data {display:block; position:absolute; top:30px; left:30px; z-index:3; background:url(imgs/bg-data.png) no-repeat; color:#FFF; padding:7px 7px 14px 0; text-align:center; width:65px; height:70px; font-size:16px;}
.content-retrospectiva #galeria .data .dia {display:block; color:#363636; margin-top:13px; font-size:35px; line-height:35px; font-weight:700;}
.content-retrospectiva #galeria ul {width:8610px; height:565px; clear:both; display:block; font-size: 0px;}
.content-retrospectiva #galeria ul li { display: block; width:940px; height:565px; position:relative; z-index:1;}
.content-retrospectiva #galeria ul li span.legenda { width:430px; display: block; position: absolute; bottom: 0px; min-height:50px; 
z-index: 2; font-size: 18px; color:#FFF; padding:30px; line-height:25px; font-weight:400; text-shadow: 1px 1px 3px rgba(0, 0, 0, 1); text-align:left}
.content-retrospectiva #galeria ul li span.legenda strong { font-weight:700; font-size:30px; margin-bottom:15px; display:inline-block; text-transform:uppercase; line-height:1.1}
.content-retrospectiva #galeria #voltar, .content-retrospectiva #galeria #avancar {position: absolute; right: 55px; width: 48px; height: 56px; background:url(imgs/sprite-icones.png) no-repeat center -205px; z-index:20; text-indent:-999999px; top:480px;}
.content-retrospectiva #galeria #avancar {left: auto; right: 10px; background-position:center -146px;}

/* Ícones Sociais */

.content-retrospectiva .social {display:block; margin-bottom:15px;}
.content-retrospectiva .social a {display:inline-block; width:36px; height:36px; background:url(imgs/sprite-icones.png) no-repeat center 0; opacity:0.8; margin-right:4px; text-indent:-999999px;}
.content-retrospectiva .social a.twitter-bt { background-position: center -52px;}
.content-retrospectiva .social a.g-bt { background-position: center -103px;}
.content-retrospectiva .social a:hover {opacity:1;}


/* Leia Mais */

.content-retrospectiva #leia-mais h3 {
	font-weight:400;
	color:#363636;
	text-transform:uppercase;
	font-size:40px;
	margin-bottom:40px;
	margin-right: 450px;
}

.content-retrospectiva #leia-mais h3 strong {
	font-weight:700;
}

.content-retrospectiva #leia-mais .mais-noticias {
	width:620px;
	float:left;
	margin-right:20px;	
}

.content-retrospectiva #leia-mais .publicidade {
	width:300px;
	float:right;
}

.content-retrospectiva .mais-noticias .noticia {
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:1px solid #dadada;	
}

.content-retrospectiva .mais-noticias .noticia img {
	float:left;
	margin-right:15px;
}

.content-retrospectiva .mais-noticias .noticia h4 {
	font-weight:700;
	color:#363636;
	font-size:22px;
	margin-bottom:10px;
	margin-right: 45px;
}

.content-retrospectiva .mais-noticias .noticia .editoria {
	text-transform:uppercase;
	font-weight:400;
	color:#df0000;
	font-size:12px;
}

.content-retrospectiva .noticia .social {
	height:25px;
	margin:12px 0 0;
	margin-right: 525px;
}

.content-retrospectiva .noticia .social a {
	width:25px; height:25px; 
	background-size:100%;	
}

.content-retrospectiva .noticia .social a.twitter-bt {
    background-position: center -36px;
}

.content-retrospectiva .noticia .social a.g-bt {
    background-position: center -72px;
}

.content-retrospectiva .mais-noticias .bt-mais-noticias a {
	display:block;
	text-transform:uppercase;
	color:#FFF;
	font-size:15px;
	text-align:center;
	background:#b40700;
	margin:30px 40px;
	padding:18px;
	border-radius:6px;
	text-decoration:none;
}

.content-retrospectiva .mais-noticias .bt-mais-noticias a:hover {
	background:#aa0700;	
}
