a img,
body a img {
    border: 0
}
a,
body a,
body h2 {
    display: block
}
.box-outros h5,
.publicidade,
body h2,
body nav#header {
    text-align: center
}
#menu a,
.box-outros h5,
body ul span a,
footer a span {
    text-transform: uppercase
}
#menu a,
#noticia p a,
#title code,
#title h3,
.box-outros ul li a,
body ul span a,
footer a {
    font-weight: 700
}
#title code,
body,
li.EJETOA05502-enquete {
    font-family: Arial, sans-serif
}
#relacionadas ul li a,
.smart-banner .close a,
a,
body a,
nav#menu ul li a.menu {
    text-decoration: none
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body {
    margin: 0;
    padding: 0 10px;
    font-size: 100%;
    position: relative
}
body,
html {
    -webkit-text-size-adjust: 100%
}
img {
    width: 100%
}
ul {
    font-size: 0
}
ul li {
    font-size: 14px
}
#noticia * {
    font-size: 12px
}
ul,
ul li {
    list-style: none;
    float: none
}
.box-outros ul,
.box-outros ul li,
body>ul,
body>ul>li,
ul#menu,
ul#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: none
}
body h1,
body h4 {
    display: block;
    margin: 0;
    padding: 0
}
body h2 {
    margin: 8px 0;
    color: #3b3b3b;
    font-size: 30px
}
body ul h4 a {
    color: #3b3b3b;
    font-size: 16px;
    padding-bottom: 15px;
    line-height: 1.2;
    letter-spacing: -.5px
}
body ul span a {
    font-size: 11px;
    color: #989898;
    padding: 5px 0;
    line-height: 1.4;
    letter-spacing: -.5px
}
body nav#header {
    height: 51px;
    background-color: #ecda47;
    border-top: 3px solid #23408f;
    margin: 0 -10px;
    position: relative;
    z-index: 100
}
body nav#header img {
    width: auto
}
body nav#header h1 {
    width: 100px;
    display: inline-block
}
body nav#header span {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0
}
body nav#header span a {
    display: block;
    background-color: transparent
}
body>ul>li {
    border-bottom: 1px dotted #b0b0b0;
    margin-bottom: 5px
}
.publicidade {
    margin: 0 -10px;
    background-color: #eaeaea;
    padding: 16px 0px
}
body>ul>li a img,
li.publicidade {
    margin-top: 15px
}
li.publicidade {
    border-bottom: 0 none
}
li.publicidade img {
    margin-top: 0
}
.EJEHLE00602 h4 a,
.EJEHLE02004 h4 a,
.EJEHLE02302 h4 a,
.EJELIE00102:first-child h4 a {
    font-size: 26px;
    line-height: 1.2
}
.EJEHLE00202 h4 a,
.EJEHLE02004 a,
.EJEHLE02602 h4 a,
.EJELIE00102 h4 a {
    font-size: 18px
}
.EJEHLE02004 p {
    font-size: 14px
}
.EJEHLE00202 img,
.EJELIE00402 img {
    display: none
}
.box-outros {
    margin-top: 25px
}
.box-outros h5 {
    font-size: 22px;
    padding: 15px 0;
    margin: 0 -10px;
    border-top: 3px solid #969;
    border-bottom: 1px solid #dedede;
    color: #969
}
.box-outros ul li {
    border-bottom: 1px dotted #b0b0b0
}
.box-outros ul li a {
    font-size: 16px;
    padding: 15px 0;
    line-height: 1.4;
    letter-spacing: -.5px;
    color: #3b3b3b
}
.box-outros.rio h5 {
    border-top: 3px solid #ca0000;
    color: #ca0000
}
.box-outros.esporte h5 {
    border-top: 3px solid #5a8f1b;
    color: #5a8f1b
}
footer {
    background-color: #3b3b3b;
    margin: 28px -10px 0;
    padding: 14px 11px;
    border-top: 1px solid #484848
}
footer img {
    width: auto
}
footer a {
    float: left;
    height: 30px;
    display: block;
    width: 140px;
    color: #dab33b
}
footer a img {
    position: relative;
    top: 5px
}
footer a span {
    margin: 0 8px;
    font-size: 10px
}
footer a#voltar {
    float: right;
    text-align: right
}
footer a#voltar img {
    top: 3px;
    right: 5px
}
footer hr {
    clear: both;
    border: 0;
    border-bottom: 1px solid #838383;
    padding: 0;
    margin: 10px 0
}
footer small {
    display: block;
    text-align: center;
    font-size: 11px;
    color: #9d9d9d;
    margin: 0;
    position: relative;
    top: 5px;
    vertical-align: top
}
#mockdrop,
-#menu {
    display: none;
    width: 100%;
    position: fixed
}
-#menu {
    margin-top: 8px;
    background: #fff;
    z-index: 90;
    margin-right: -10px!important;
    margin-left: -10px!important
}
#menu a {
    font-size: 14px;
    color: #3b3b3b;
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
    padding: 9px 10px
}
#menu li {
    border: 0
}
.white {
    background-color: #fff
}
.holder-top {
    overflow: hidden;
    height: 51px
}
#menu li:last-child a {
    border-bottom: 0 none
}
#mockdrop {
    height: 100%;
    overflow: hidden;
    z-index: 89;
    top: 0;
    margin: 0 -10px;
    background: rgba(255, 255, 255, .8)
}
#sombra {
    display: block;
    height: 22px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/sombra.jpg) 0 repeat-x;
    margin: 0 -10px;
    position: relative;
    top: -1px
}
.EJEHLE00301,
.EJEHLE02401,
.EJEHLE02501,
.EJELIE01102 {
    overflow: hidden;
    padding-bottom: 15px;
    float: none;
    clear: both
}
#noticia p,
#title {
    padding: 10px 0
}
.EJEHLE00301 img,
.EJEHLE00802 img,
.EJEHLE01001 img,
.EJEHLE01102 img,
.EJEHLE02401 img,
.EJEHLE02501 img,
.EJELIE00902 img,
.EJELIE01102 img,
.EJELIE01702 img,
.EJELIE01702x img,
.EJELIE01702xx img {
    width: auto;
    float: left;
    margin-right: 15px;
    margin-top: 5px
}
.EJEHLE00802,
.EJEHLE01001,
.EJEHLE01102,
.EJEHLE02501,
.EJELIE00902,
.EJELIE01702,
.EJELIE01702x,
.EJELIE01702xx {
    height: 100px;
    overflow: hidden;
    position: relative
}
.EJEHLE00802:after,
.EJEHLE01001:after,
.EJEHLE01102:after,
.EJEHLE02501:after,
.EJELIE01702:after,
.EJELIE01702x:after,
.EJELIE01702xx:after {
    position: absolute;
    height: 10px;
    bottom: 0;
    content: " ";
    display: block;
    width: 100%;
    background: #fff
}
.EJELIE00902 {
    height: auto
}
.EJELIE00902 img {
    margin-bottom: 10px
}
.EJEHLE00802 img {
    width: 70px
}
.EJEHLE00602>a {
    display: block;
    overflow: hidden;
    height: 300px
}
#title h2 {
    font-size: 26px;
    color: #303030;
    margin: 10px 0;
    line-height: 1;
    text-align: left
}
#social,
.EJEHLE01904,
.EJEHLE03204,
.error-404 form,
.error-404 h2,
.error-404 p {
    text-align: center
}
#title h3 {
    font-size: 15px;
    text-transform: none;
    color: #646464;
    margin: 2px 0 10px;
    line-height: 1.2
}
#title code {
    font-size: 12px;
    color: #df0000;
    display: block;
    margin: 5px 0
}
#title time {
    font-size: 11px;
    color: #646464
}
#noticia {
    margin-bottom: 10px;
    background: #fff
}
#noticia p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    color: #303030;
    letter-spacing: 0
}
#noticia p a {
    display: list-item;
    color: #df0000;
    list-style: square;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
    float: none
}
#noticia figure {
    background-color: #1d1d1d;
    display: block;
    margin: 15px 0
}
#noticia figure figcaption {
    color: #FFF;
    font-size: 12px;
    display: block;
    padding: 2px 5px 0
}
#noticia figure cite {
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 5px 0
}
#relacionadas ul li a,
#tags>span,
#tags>span a {
    font-size: 12px;
    font-weight: 700;
    color: #303030
}
#relacionadas strong,
#tags>span:first-child {
    font-weight: 700;
    font-size: 16px;
    color: #df0000
}
#relacionadas strong {
    display: block
}
#tags {
    padding-bottom: 25px
}
#tags>span a {
    display: inline-block
}
#tags>span:first-child {
    display: block;
    margin-bottom: 15px
}
#relacionadas strong {
    margin-bottom: 5px
}
#relacionadas ul li {
    margin: 0;
    display: block;
    border-bottom: 1px dotted #cecece;
    padding: 10px 0;
    overflow: hidden
}
#relacionadas ul li a {
    display: block;
    overflow: hidden
}
#relacionadas ul li a img {
    width: auto;
    float: left;
    margin-right: 10px
}
#relacionadas ul li a h4 {
    font-size: 13px
}
#relacionadas {
    margin-top: 15px
}
.EJENEE00704 {
    padding-top: 10px
}
.EJENEE00704 .title {
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0
}
.EJENEE00704 .componente-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    display: block
}
.EJENEE00704 .componente-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.EJENEA00304 {
    margin: 10px 0
}
figcaption .legenda {
    display: block;
    font-size: 12px;
    padding: 5px 0
}
#noticia figure cite span {
    font-size: 12px
}
#noticia p>strong {
    font-size: 16px
}
#EJETOA05702-relacionadas-resultado {
    padding: 0
}
#barra-parceiros-ig-mobile nav ul li {
    background: #fff!important
}
body>ul#main>li:last-child {
    border-bottom: 0 none
}
.EJETOA02006 img {
    display: none
}
.EJETOA02006 table {
    width: 100%
}
.EJETOA02006 table,
.EJETOA02006 table tr,
.EJETOA02006 table tr td {
    border-collapse: collapse;
    margin: 0!important;
    padding: 0!important;
    vertical-align: middle
}
.EJETOA02006 table tr td table tr td:nth-child(1) {
    width: 80px
}
.EJETOA02006 table tr td table tr td:nth-child(2) {
    width: 80%;
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: calc(100% - 80px)
}
.EJETOA02006 table tr td table tr td {
    padding: 5px!important
}
.EJETOA02006 table tr td table tr td input[type=text],
.EJETOA02006 table tr td table tr td select,
.EJETOA02006 table tr td table tr td textarea {
    width: 100%
}
body.fx-header>.publicidade#pub-lb {
    height: 50px;
    z-index: 10;
    top: 0;
    left: 10px;
    position: fixed;
    padding: 0;
    width: 100%
}
body.fx-header nav#header {
    top: 50px;
    width: 100%;
    position: fixed
}
body.fx-header {
    padding-top: 165px
}
.fx-header #menu {
    position: fixed;
    top: 101px;
    width: 100%;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px)
}
#barra-parceiros-ig-mobile img {
    width: auto
}
.error-404 h2 {
    color: #445285;
    font-size: 28px;
    font-weight: 700;
    margin: 30px 0 10px
}
.error-404 p {
    color: #333;
    font-size: 14px;
    margin: 0
}
.error-404 form {
    display: block;
    padding: 30px 0 40px;
    font-size: 0
}
.error-404 form input[type=text] {
    margin: 0;
    padding: 5px;
    height: 40px;
    border: 1px solid #dedede;
    font-size: 14px
}
.error-404 form input[type=submit] {
    height: 40px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/bt-search-m.jpg) no-repeat;
    border: 0;
    width: 40px;
    position: relative;
    top: 14px;
    left: -1px;
    cursor: pointer
}
#secao-class .EJEHLE00602>a,
#secao-class .EJEHLE00802>a,
#secao-class .EJEHLE01001>a {
    height: auto
}
.EJEHLE03204 {
    padding: 15px;
    background: #333;
    color: #fff;
    margin: 0 -10px
}
.EJEHLE03204 h4 a {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px
}
.EJEHLE03204 h4:before {
    content: "URGENTE";
    display: inline-block;
    width: 114px;
    height: 28px;
    background: #fe0000;
    padding-top: 8px
}
.EJEHLE03204 h4:after {
    content: "+ DETALHES EM BREVE";
    display: block;
    font-size: 11px;
    color: #c9c9c9;
    font-weight: 400
}
#pub-lb {
    padding: 0;
    height: 50px;
    overflow: hidden
}
.rio h2#nome-secao {
    color: #df0000
}
.diversao h2#nome-secao {
    color: #b261ad
}
.esporte h2#nome-secao {
    color: #df0000
}
iframe#diversao,
iframe#esporte,
iframe#rio-de-janeiro {
    height: 380px
}
.EJEHLE01904 img {
    max-width: 620px;
    margin: 10px auto;
    display: block
}
.EJEHLE00102 img,
.EJELIE00402X img {
    max-width: auto
}
#social {
    font-size: 0;
    padding-bottom: 10px;
    border-bottom: 1px dotted #cecece;
    margin-bottom: 10px
}
#social .social-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/social-icons.jpg) no-repeat;
    color: transparent;
    text-indent: -99999px;
    margin: 0 15px
}
.menu-fixa,
.odia-fixa,
.pub-fixa {
    width: 100%;
    -webkit-overflow-scrolling: touch
}
#social .social-icon.googleplus {
    background-position: -30px 0
}
#social .social-icon.twitter {
    background-position: -60px 0
}
#social .social-icon.whatsapp {
    background-position: -90px 0
}
.pub-fixa {
    position: fixed;
    top: 0;
    z-index: 9
}
.menu-fixa,
.odia-fixa {
    position: fixed!important
}
.odia-fixa {
    top: 50px
}
.menu-fixa {
    top: 100px
}
.pub-fixa {
    top: -16px;
}
.espaco-body {
    padding-top: 117px;
}
#empilhamento ul#empilhamento-lista {
    padding: 0;
    overflow: hidden;
    margin: 10px 0
}
#empilhamento ul#empilhamento-lista li {
    display: block;
    clear: both;
    margin-bottom: 5px;
    overflow: hidden
}
#empilhamento ul#empilhamento-lista li img {
    max-width: 80px;
    float: left;
    margin-right: 5px
}
#empilhamento strong {
    color: #a5a5a5;
    text-transform: lowercase;
    padding-top: 10px;
    border-top: 1px solid #df0000;
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: 400
}
#empilhamento strong:after {
    display: block;
    width: 87px;
    height: 7px;
    content: " ";
    position: absolute;
    top: 0;
    left: 15px;
    background: #df0000
}
#empilhamento #empilhamento-lista h4 {
    margin: 10px 0;
    position: relative;
    color: #df0000
}
#empilhamento strong span {
    color: #df0000
}
#empilhamento .btn-carrega {
    display: block;
    width: 150px;
    background: #df0000;
    height: 40px;
    padding: 10px 5px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 10px auto
}
.diversao #empilhamento strong {
    border-top: 1px solid #b261ad
}
.esporte #empilhamento strong,
.rio #empilhamento strong {
    border-top: 1px solid #df0000
}
.diversao #empilhamento .btn-carrega,
.diversao #empilhamento strong:after {
    background: #b261ad
}
.esporte #empilhamento .btn-carrega,
.esporte #empilhamento strong:after,
.rio #empilhamento .btn-carrega,
.rio #empilhamento strong:after {
    background: #df0000
}
.diversao #empilhamento #empilhamento-lista h4,
.diversao #empilhamento strong span {
    color: #b261ad
}
.esporte #empilhamento #empilhamento-lista h4,
.esporte #empilhamento strong span,
.rio #empilhamento #empilhamento-lista h4,
.rio #empilhamento strong span {
    color: #df0000
}
@media (min-width: 700px) {
    #social .social-icon.whatsapp {
        display: none
    }
}
@media (min-width: 480px) {
    .EJEHLE00102 img,
    .EJELIE00402X img {
        max-width: 300px
    }
    .EJEHLE01102 img {
        width: 140px
    }
}
li.EJETOA05502-enquete {
    text-align: left;
    position: relative;
    width: auto;
    padding: 0 10px;
    background: #f5f5f5;
    display: block;
    margin-bottom: 0;
    margin-top: -5px
}
li.EJETOA05502-enquete .componente-enquete h2,
li.EJETOA05502-enquete .enquete-pergunta h3 {
    clear: both;
    float: none;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 400
}
li.EJETOA05502-enquete .componente-enquete h2 {
    color: #174f82;
    font-size: 24px;
    text-transform: lowercase;
    display: inline-block;
    border-top: 7px solid #174f82;
    padding: 10px 0;
    line-height: 26px
}
li.EJETOA05502-enquete .enquete-pergunta h3 {
    color: #000;
    font-size: 20px;
    display: block;
    border-top: 1px solid #d3d3d3;
    padding: 15px 0
}
li.EJETOA05502-enquete ul {
    margin: 0;
    padding: 0;
    display: block;
    float: none;
    overflow: hidden;
    text-align: center
}
li.EJETOA05502-enquete ul li {
    background: #fefefe;
    width: 280px;
    height: 90px;
    border: 1px solid #ddd;
    position: relative;
    margin: 5px;
    float: none;
    display: inline-block
}
li.EJETOA05502-enquete ul li h4 {
    font-size: 14px;
    color: #23408f;
    font-weight: 700;
    display: block;
    text-align: left;
    margin-top: 5px
}
li.EJETOA05502-enquete ul li span {
    font-size: 11px;
    color: #666;
    float: left;
    margin: 0 0 5px 10px;
    text-align: center;
    line-height: 11px
}
li.EJETOA05502-enquete ul li span .quantidade-votos {
    font-weight: 700;
    display: block;
    float: none;
    margin: 0;
    line-height: 32px
}
li.EJETOA05502-enquete ul li a {
    font-size: 16px;
    display: block;
    text-decoration: none;
    width: 90px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    border: 1px solid #5547aa;
    padding-top: 4px;
    margin-left: 15px;
    background: #4536a3;
    background: -moz-linear-gradient(top, #7060d0 0, #4536a3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7060d0), color-stop(100%, #4536a3));
    background: -webkit-linear-gradient(top, #7060d0 0, #4536a3 100%);
    background: -o-linear-gradient(top, #7060d0 0, #4536a3 100%);
    background: -ms-linear-gradient(top, #7060d0 0, #4536a3 100%);
    background: linear-gradient(to bottom, #7060d0 0, #4536a3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7060d0', endColorstr='#4536a3', GradientType=0);
    position: absolute;
    top: 50px;
    left: 160px
}
li.EJETOA05502-enquete ul li a:hover {
    background: #4536a3;
    background: -moz-linear-gradient(top, #4536a3 0, #7060d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4536a3), color-stop(100%, #7060d0));
    background: -webkit-linear-gradient(top, #4536a3 0, #7060d0 100%);
    background: -o-linear-gradient(top, #4536a3 0, #7060d0 100%);
    background: -ms-linear-gradient(top, #4536a3 0, #7060d0 100%);
    background: linear-gradient(to bottom, #4536a3 0, #7060d0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4536a3', endColorstr='#7060d0', GradientType=0)
}
li.EJETOA05502-enquete .votar img {
    position: relative;
    float: left;
    width: auto;
    margin-right: 10px
}
@media (max-width: 480px) {
    li.EJETOA05502-enquete ul li {
        margin-right: 0;
        margin-left: 0
    }
}
.EJELIA00802 {
    padding: 15px 0;
    margin: 0 -10px
}
.EJELIA00802 .swiper-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}
.EJELIA00802 .swiper-container-no-flexbox .swiper-slide {
    float: left
}
.EJELIA00802 .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.EJELIA00802 .swiper-container-android .swiper-slide,
.EJELIA00802 .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.EJELIA00802 .swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}
.EJELIA00802 .swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}
.EJELIA00802 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}
.EJELIA00802 .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}
.EJELIA00802 .swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}
.EJELIA00802 .swiper-button-next,
.EJELIA00802 .swiper-button-next2,
.EJELIA00802 .swiper-button-prev,
.EJELIA00802 .swiper-button-prev2 {
    position: absolute;
    width: 27px;
    height: 26px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 26px;
    -webkit-background-size: 27px 26px;
    background-size: 27px 26px;
    background-position: center;
    background-repeat: no-repeat;
    top: 130px
}
.EJELIA00802 .swiper-button-next.swiper-button-disabled,
.EJELIA00802 .swiper-button-next2.swiper-button-disabled,
.EJELIA00802 .swiper-button-prev.swiper-button-disabled,
.EJELIA00802 .swiper-button-prev2.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}
.EJELIA00802 .swiper-button-prev,
.EJELIA00802 .swiper-button-prev2,
.EJELIA00802 .swiper-container-rtl .swiper-button-next,
.EJELIA00802 .swiper-container-rtl .swiper-button-next2 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}
.EJELIA00802 .swiper-button-prev.swiper-button-black,
.EJELIA00802 .swiper-button-prev2.swiper-button-black,
.EJELIA00802 .swiper-container-rtl .swiper-button-next.swiper-button-black,
.EJELIA00802 .swiper-container-rtl .swiper-button-next2.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E")
}
.EJELIA00802 .swiper-button-next,
.EJELIA00802 .swiper-button-next2,
.EJELIA00802 .swiper-container-rtl .swiper-button-prev,
.EJELIA00802 .swiper-container-rtl .swiper-button-prev2 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}
.EJELIA00802 .swiper-button-next.swiper-button-black,
.EJELIA00802 .swiper-button-next2.swiper-button-black,
.EJELIA00802 .swiper-container-rtl .swiper-button-prev.swiper-button-black,
.EJELIA00802 .swiper-container-rtl .swiper-button-prev2.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E")
}
.EJELIA00802 .swiper-pagination,
.EJELIA00802 .swiper-pagination2 {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}
.EJELIA00802 .swiper-pagination.swiper-pagination-hidden,
.EJELIA00802 .swiper-pagination2.swiper-pagination-hidden {
    opacity: 0
}
.EJELIA00802 .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}
.EJELIA00802 .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}
.EJELIA00802 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}
.EJELIA00802 .swiper-pagination-black .swiper-pagination-bullet-active {
    background: #fff
}
.EJELIA00802 .swiper-container-horizontal>.swiper-pagination,
.EJELIA00802 .swiper-container-horizontal>.swiper-pagination2 {
    bottom: 5px;
    left: 0;
    width: 100%
}
.EJELIA00802 .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet,
.EJELIA00802 .swiper-container-horizontal>.swiper-pagination2 .swiper-pagination-bullet {
    margin: 0 3px
}
.EJELIA00802 .swiper-slide a {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: 250px
}
.EJELIA00802 .swiper-slide a img {
    margin: 0 auto;
    display: block
}
.EJELIA00802 .swiper-button-next,
.EJELIA00802 .swiper-button-next2,
.EJELIA00802 .swiper-button-prev,
.EJELIA00802 .swiper-button-prev2,
.EJELIA00802 .swiper-container-rtl .swiper-button-next,
.EJELIA00802 .swiper-container-rtl .swiper-button-next2,
.EJELIA00802 .swiper-container-rtl .swiper-button-prev,
.EJELIA00802 .swiper-container-rtl .swiper-button-prev2 {
    display: none
}
.EJELIA00802 .swiper-slide h3 {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    padding: 25px 15px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 1) 0 0 4px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .65)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0)
}
#busca-lista li a,
.smart-banner .close a {
    color: #333
}
.EJELIA00802 .swiper-container,
.EJELIA00802 .swiper-slide a,
.EJELIA00802 .swiper-slide a img {
    width: 320px
}
#favorito {
    display: none
}
.smart-banner .close,
.smart-banner .info,
.smart-banner .logo-dia-favorito {
    display: inline-block;
    vertical-align: middle
}
.smart-banner {
    height: 80px;
    width: auto;
    position: relative;
    background-color: #efefef;
    border-bottom: #bbb 1px solid;
    font-family: arial;
    margin: 0 -10px
}
.smart-banner .close {
    line-height: 80px;
    text-align: center;
    width: 30px;
    height: 80px;
    padding-left: 5px
}
.smart-banner .logo-dia-favorito {
    -webkit-background-size: 100%;
    border-radius: 10px;
    width: 57px;
    height: 57px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/apple-icon-57.png);
    margin-right: 5px
}
.smart-banner .info.no-button {
    width: 65%
}
.smart-banner .info {
    width: 50%;
    margin: 5px;
    font-size: 13px
}
.smart-banner .info img {
    width: auto
}
body nav#header h1 {
    margin-top: 11px
}
#header aside {
    position: absolute;
    top: 1px;
    right: 5px
}
#header aside input {
    width: 258px;
    height: 28px;
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/ico-busca-off.png) right bottom no-repeat #fff;
    padding-left: 5px;
    border: 0;
    margin: 10px 0 0;
    display: none;
    float: left
}
#header aside input:focus {
    background-position: -20px center;
    text-indent: 0
}
#header aside button {
    float: right;
    background-color: Transparent;
    border: 0;
    margin: 11px 0 0
}
#header aside button a {
    width: 23px;
    height: 23px;
    display: block;
    background-image: url(http://s0.ejesa.ig.com.br/img/odia/mobile/ico-busca.png)
}
#header aside .busca-on {
    display: block
}
.btn-carrega,
nav#menu {
    text-align: center;
    display: none
}
#header aside button a.fechar {
    background-image: url(http://s0.ejesa.ig.com.br/img/odia/mobile/ico-busca-fechar.png)
}
#busca-lista {
    min-height: 100px
}
#busca-lista li {
    clear: both;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px
}
#busca-lista img {
    max-width: 80px!important;
    float: left;
    margin: 0 5px 0 0
}
#busca-lista img.loading {
    width: 32px;
    height: 32px
}
#busca-lista li span {
    font-size: 12px
}
#busca-lista li p {
    margin-top: 0
}
.btn-carrega {
    width: 150px;
    background: #df0000;
    height: 40px;
    padding: 10px 5px;
    font-size: 18px;
    color: #fff;
    margin: 10px auto
}
.btn-ajax-loading {
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/carregando-32x32.gif) 50% 50% no-repeat #fff;
    cursor: default
}
nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1040;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 54px 30px;
    -webkit-transition: 500ms all cubic-bezier(.23, 1, .32, 1);
    transition: 500ms all cubic-bezier(.23, 1, .32, 1)
}
#menu .btn-fechar {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    overflow: visible;
    position: absolute;
    height: 18px;
    content: " ";
    border: none;
    font-size: 22px;
    font-weight: 700;
    width: 15px;
    right: 30px;
    top: 14px
}
.busca-layer,
.destaques-itens {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px
}
.busca-layer,
.destaques-itens,
body.layer,
nav .secoes-itens {
    overflow: hidden
}
#menu .btn-fechar:after,
#menu .btn-fechar:before {
    position: absolute;
    content: "X";
    top: 0;
    right: 0;
    height: 0;
    background: #000;
    color: #6e6e6e
}
.destaques-itens {
    clear: both
}
.destaques-itens li {
    width: 100%;
    text-align: center;
    margin: 0 auto
}
.destaques-itens li a {
    font-size: 12px!important
}
.busca-layer {
    margin-bottom: 20px
}
.busca-layer form #busca {
    height: 40px;
    padding: 12px;
    border: 1px solid #dedede;
    font: 14px/40px Arial, serif;
    color: #fff;
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/lupa.png) 95% center no-repeat #f7f7f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    width: 100%
}
.busca-layer form input[type=submit] {
    display: none!important;
    visibility: hidden!important
}
.busca-layer form #busca:focus {
    background: url(http://s0.ejesa.ig.com.br/img/odia/mobile/lupa.png) 110% center no-repeat #fff;
    color: grey;
    text-align: left;
    padding: 12px;
    outline: 0
}
nav ul {
    margin: 0;
    padding: 0
}
nav .destaques,
nav .secoes-itens {
    box-shadow: 0 0 22px rgba(0, 0, 0, .14);
    border: 1px solid #dedede;
    background-color: #fff
}
nav .secoes-itens {
    border-bottom: none
}
nav#menu h4 {
    padding: 10px 0;
    color: #6e6e6e;
    border-bottom: 1px solid #dedede;
    margin: 0 auto 10px
}
#menu>ul {
    width: 100%;
    margin-bottom: 100%;
    position: relative
}
#menu ul.menu-pincipal li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #f4f4f5;
    position: relative
}
nav#menu ul li a.menu {
    width: 100%;
    font-size: 14px;
    color: #5a5a5a;
    text-align: left;
    font-weight: 600;
    padding: 9px 10px;
    line-height: 1
}
nav#menu ul.menu-pincipal li a.menu {
    border-top: 1px solid #dedede
}
nav#menu ul.dropdown-menu li {
    background: #e3e3e3;
    border-left: 3px solid #ccc;
    border-right: none;
    position: relative
}
nav#menu li.dropdown ul li:first-child {
    border-top: 1px solid #ccc
}
nav#menu ul.dropdown-menu li a {
    padding: 9px 20px;
    font-weight: 400!important;
    border-bottom: 1px solid #ccc!important;
    border-top: none!important
}
nav#menu .submenu-item:last-child a.menu {
    border-bottom: none!important
}
.dropdown [data-toggle=dropdown] {
    display: block
}
.dropdown [data-toggle=dropdown]:before {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 4px 0;
    border-color: #5a5a5a transparent transparent;
    font-size: 20px;
    top: 13px;
    right: 10px;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transition: -moz-transform .6s;
    -o-transition: -o-transform .6s;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    z-index: 1
}
.dropdown>.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: scaleY(1);
    -moz-animation: .5s ease-in-out;
    -webkit-animation: .5s ease-in-out;
    -moz-transition: max-height .4s ease-in-out;
    -o-transition: max-height .4s ease-in-out;
    -webkit-transition: max-height .4s ease-in-out;
    transition: max-height .4s ease-in-out
}
.dropdown>.dropdown-menu,
.dropdown>input[type=checkbox]:checked~.dropdown-menu {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    animation: .5s ease-in-out
}
.dropdown>.dropdown-menu li a {
    display: block;
    color: #6e6e6e;
    background: #fff;
    padding: 10px
}
.dropdown>input[type=checkbox] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.dropdown>input[type=checkbox]:checked~.dropdown-menu {
    max-height: 9999px;
    display: block;
    transform: scaleY(1);
    -moz-animation: .5s ease-in-out;
    -webkit-animation: .5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out
}
.dropdown>input[type=checkbox]:checked+a[data-toggle=dropdown]:before {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
body.layer #layer-menu {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .95);
    cursor: default;
    position: absolute;
    z-index: 1039;
    left: 0;
    top: 0;
    transition: 500ms all cubic-bezier(.23, 1, .32, 1)
}
body.layer #layer-menu,
body.layer #menu {
    display: block;
    -webkit-transition: 500ms all cubic-bezier(.23, 1, .32, 1)
}
body.layer #menu {
    transition: 500ms all cubic-bezier(.23, 1, .32, 1)
}
p.maislidas-titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
    padding: 10px 0 0;
    border-top: 4px solid #000;
    letter-spacing: -2px
}
.realtime-top .rt-top {
    float: left;
    width: 100%;
    margin: 15px 20px 15px 0
}
.realtime-top .rt-top .news-menu {
    border-bottom: 5px solid #b2b2b2;
    float: left;
    height: 34px;
    width: 300px
}
.news-last {
    display: block
}
.headline-item {
    float: left;
    margin-top: 10px
}
ul.rt-top {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0
}
ul.rt-top li {
    border-bottom: 1px dotted #b2b2b2;
    float: left;
    padding-bottom: 12px;
    width: 100%;
    background: #fff
}
.headline-item a img {
    float: left;
    height: 47px;
    margin-right: 8px;
    vertical-align: text-top
}
.headline-item p {
    margin: 0;
    min-height: 47px
}
.headline-item-eye {
    color: #949494;
    font-size: 11px;
    font-weight: 700;
    height: 18px;
    text-transform: uppercase
}
.headline-item-title {
    display: block;
    height: auto;
    overflow: hidden
}
.headline-item-title a {
    color: #004c87;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none
}
.headline-item-title a:hover {
    text-decoration: underline
}
.headline-list {
    float: left;
    margin: 8px 0 0;
    height: 55px;
    width: 100%
}
.headline-position {
    float: left;
    margin: 0;
    width: 50px;
    font-size: 50px;
    color: #d8d8d8;
    font-weight: 700
}
.headline-time {
    float: left;
    margin: 5px 0 0;
    height: 15px;
    width: 250px;
    font-size: 11px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase
}
.headline-title {
    float: left;
    margin: 0;
    width: 80%;
    height: auto
}
.headline-position {
    height: 100%
}
.realtime-copyright {
    clear: both;
    padding-top: 15px
}
.realtime-frase {
    float: left;
    margin-left: 10px
}
.realtime-logo {
    text-indent: 1000px;
    overflow: hidden;
    background: url(http://s0.ejesa.ig.com.br/img/odia/realtime_logo.png) center center no-repeat;
    display: block;
    float: left;
    width: 80px;
    height: 16px;
    margin-left: 6px
}
.headline-title a {
    font-size: 12px;
    font-weight: 700;
    color: #777;
    text-decoration: none
}
.headline-title a:hover {
    color: #777
}
.headline-nav {
    float: left;
    height: 30px;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}
.headline-nav-options {
    margin: 0 auto;
    width: 160px
}
.headline-nav-options .headline-nav-back {
    float: left;
    background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png) 0 -1728px no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 4px;
    cursor: pointer
}
.headline-nav-options .headline-nav-middle {
    float: left;
    margin-top: 5px;
    width: 110px
}
.headline-nav-options .headline-nav-next {
    background: url(http://s0.ejesa.ig.com.br/img/odia/sprite-geral.png) 0 -1707px no-repeat;
    float: left;
    height: 21px;
    width: 21px;
    margin-left: 4px;
    cursor: pointer
}
.headline-nav-options .headline-nav-middle ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 110px
}
.headline-nav-options ul li {
    display: inline;
    float: left;
    height: 8px;
    margin: 0 4px;
    padding-top: 4px;
    text-align: center;
    width: 12px
}
.headline_nav_on {
    color: #FFF;
    background: #CCC;
    border-radius: 30%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%
}
.headline_nav_off,
.headline_nav_on {
    float: left;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 1px solid #CCC
}
.headline_nav_off {
    color: #CCC;
    background: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%
}
.headline-item-title a:hover {
    color: #06c
}