<script src="http://s0.ejesa.ig.com.br/js/odia/galleria-1.2.9.min.js"></script>
<script type="text/javascript">
	window.onload = function(){
	    Galleria.loadTheme('http://s0.ejesa.ig.com.br/js/odia/galleria.classic.js?v-0.11');
	    Galleria.run('.EJENEE00904 #galleria', {
	       	dataSource: ".EJENEE00904 #source",
	    	keepSource: true,
	    	width: 620,
	    	height: 430,
	    	transition: 'slide',
	    	autoplay: 6000,
	    	lightbox: true,
	    	showImagenav: true
		});
	}
</script>